[2022-06-15 05:23] harshitasao commented on #4112
/assign

[2022-06-15 06:58] vyankyGH commented on #3244
https://github.com/kedacore/keda/issues/1797#issuecomment-998183721

[2022-06-15 07:30] prateekpandey14 commented on #4077
@phin1x @jduepmeier here is build image based on the patch fix , if you can help me to verify `ghcr.io/prateekpandey14/kyverno:crash-fix`.

[2022-06-15 09:06] prateekpandey14 commented on #4104
@vmarlier raised the PR to fix the bug, if you don't mind, you can test the fix using the image `ghcr.io/prateekpandey14/kyverno:fix-4104`

[2022-06-15 09:33] viveksahu26 commented on #3982
Hey @chipzoller , after further investigating, What I found is that the variables whose value is not found ( case when that that particular field is not present in resource) , the [Query](https://github.com/kyverno/kyverno/blob/c3be6898513597159d54970f808d977978af54fa/pkg/engine/context/evaluate.go#L32) function returns nil value as well as throws an [err](https://github.com/kyverno/kyverno/blob/c

[2022-06-15 10:10] Namanl2001 commented on #4083
correct sha for v1.7.0 is `sha256:31238b385193fe96f9c02070fe87a9ebfafa26efc9fd78110293988a2c89a110` see [this](https://github.com/kyverno/kyverno/runs/6707376709?check_suite_focus=true#step:19:6770), also image is signed with [correct digest](https://github.com/kyverno/kyverno/runs/6707376709?check_suite_focus=true#step:23:6) and SBOM is uploaded with [correct digest](https://github.com/kyverno/ky

[2022-06-15 11:34] chipzoller commented on #3982
Maybe this is the result of earlier code where we were substituting non-resolved vars with `''`. We later decided, thanks to @samj1912's input, that this wasn't a good course of action and he pointed out that this can be resolved with the JMESPath OR operator (`||`).  Maybe the precondition function was still left at defaults? Nevertheless, the variable `namespacefilters.data.exclude` should not b

[2022-06-15 11:54] andloh commented on #4086
Same problem with chart `kyverno-v2.5.0` and version `v1.7.0` on k8s `v1.23.5` / openshift `v4.10.12`

[2022-06-15 12:18] martineg commented on #4086
Kyverno controller starts OK in my environment, chart `kyverno-v2.5.0` and app version `v1.7.0`on k8s  `v1.22.3` / openshift `v4.9.22`

[2022-06-15 12:19] demikl commented on #4037
Issue mentioned in earlier comment is being handled here: https://github.com/kyverno/kyverno/issues/4086

[2022-06-15 12:21] demikl commented on #4086
As discussed in the Slack thread, here are some logs showing that Kyverno cannot find the webhooks:

[code]

[2022-06-15 12:24] vmarlier commented on #4104
Hello @prateekpandey14
The fix works like a charm, we was able to use the mutating policy, no labels issues, UR are created and resources was succesfully mutated.
Thanks for the quick fix.

[2022-06-15 12:29] #4087 closed

[2022-06-15 12:31] realshuting commented on #4086
The issue was due to Kyverno getting webhooks via informers' cache before they are synced.

@eddycharly - I was able to fix the issue by enforcing the webhooks cache to be synced before we use it:

https://github.com/kyverno/kyverno/blob/ef11e86a2a77e87d5a8297eb9eda21f07fd3cfeb/cmd/kyverno/main.go#L370-L373

This issue may also exist when we sync cache for other informers. We need to revisit the r

[2022-06-15 12:38] viveksahu26 commented on #3982
@chipzoller ,whatever point or discussion I have been talking about above is in the absent of values file for the cli case or absence of  providing ConfigMap in the cluster. If we provide values for the variable then the issue will not occur. This the case when user doesn't provide values for variable present in the policy

[2022-06-15 12:40] chipzoller commented on #3982
Ok, so is the action for us here to fix the preconditions variable substitution logic so it also reports null and not empty string?

[2022-06-15 12:42] erikgb commented on #4086
@realshuting Your fix-image works for me. Thanks a lot for the support! Looking forward to an official release with this fix included.

[2022-06-15 13:11] prateekpandey14 commented on #4104
Yes, we are working on 1.7.1 minor release including this fix by early next week.

[2022-06-15 13:14] viveksahu26 commented on #3982
Yes, I think `null` substitution for non resolved variables will be a good point. And there also won't be any kind of partiality b/w variables.

[2022-06-15 13:15] demikl commented on #4086
As said in slack, your fix is working for me, thanks again.

[2022-06-15 13:15] #4077 closed

[2022-06-15 13:20] viveksahu26 commented on #4059
Hey @shubham4443 , the PR is merged. Could you please pull up the code and check it for your case. And let me know.

[2022-06-15 13:29] chipzoller commented on #3982
@samj1912 is this the correct course of action here?

[2022-06-15 13:59] chipzoller commented on #4083
How does the tagging work against a digest? It seems like the mutable tag may be applied to a different digest than what's intended.

[2022-06-15 15:13] unai-ttxu opened #4115 "[Bug] Kyverno Deployment's podAntiAffinity is not totally configurable within Kyverno Chart"
### Kyverno Version

1.7.0

### Description

Kyverno Deployment's `podAntiAffinity` is not totally configurable when deploying Kyverno using `v2.5.0` Chart.

Since Chart default values set `podAntiAffinity` (https://github.com/kyverno/kyverno/blob/kyverno-policies-chart-v2.5.0/charts/kyverno/values.yaml#L94) it makes impossible to replace the defined `podAntiAffinity` unless Chart's `values.yaml`

[2022-06-15 15:39] #4106 closed

[2022-06-15 15:56] chipzoller opened #4116 "[Feature] Group payload of all attestations of a certain predicateType"
### Problem Statement

In Kyverno 1.7.0, when writing a verifyImages rule that checks the contents of an attestation (`verifyImages[].attestations[].conditions`), it is assumed there is only a single attestation with that predicateType. Kyverno will only use the values of the first attestation returned matching that predicateType. This makes it impossible (to my knowledge) to make decisions on pay

[2022-06-15 15:58] chipzoller commented on #4116
Find an experimental GitHub workflow [here](https://github.com/chipzoller/zulu/blob/main/.github/workflows/scheduled-scan.yaml) which periodically scans a pushed image and attaches the results as an attestation.

[2022-06-15 16:46] vmarlier commented on #4104
Thanks for your help !

[2022-06-15 17:17] shubham4443 commented on #4059
Works for this case. Thanks @viveksahu26 for the fix! Closing this issue.

[2022-06-15 17:22] viveksahu26 commented on #4059
Thanks @shubham4443 , for testing in your workspace !!

[2022-06-15 19:00] andloh commented on #4086
Thank you for the fix. When can we expect a new release for this? @realshuting

Just read the slack thread, awesome work!

[2022-06-15 19:08] Namanl2001 commented on #4083
is this right? because the image is pushed with a different digest see this https://github.com/kyverno/kyverno/runs/6707376709?check_suite_focus=true#step:19:6770

[2022-06-15 19:57] aaronchar opened #4118 "[Bug] OpenShift 4.9 Seccomp/SCC"
### Kyverno Version

1.7.0

### Description

During an upgrade and new cluster deployment, Kyverno `1.7` will not deploy correctly due to an SCC/Seccomp error.

Error creating: pods "kyverno-74b5c88f7f-kr4t6" is forbidden: unable to validate against any security context constraint: [pod.metadata.annotations.container.seccomp.security.alpha.kubernetes.io/kyverno-pre: Forbidden: seccomp may not be s

[2022-06-16 00:04] chipzoller commented on #4083
That might be what it was originally pushed as, but the current tag of `v1.7.0` doesn't resolve to that digest. Question is why?

[2022-06-16 00:13] #3918 closed

[2022-06-16 00:13] #3990 closed

[2022-06-16 07:08] realshuting commented on #4086
Yes, the fix will be in 1.7.1.

[2022-06-16 07:49] realshuting opened #4121 "[Feature] Add cherry-pick instruction with detailed commands"
### Problem Statement

We need to document how to cherry-pick PRs to release branches.

### Solution Description

Create a new section "Cherry-pick PRs to release branches" after [How to Create a PR](https://github.com/kyverno/kyverno/blob/main/CONTRIBUTING.md#how-to-create-a-pr), and add commands:

For example, to cherry-pick a merged PR to `release-1.7` branch, on the local `release-1.7` branch

[2022-06-16 08:17] #4104 closed

[2022-06-16 08:39] demikl commented on #4037
It looks like the behavior (recreating webhook configurations intempestively) is not observed anymore with v1.7.0.

[2022-06-16 08:39] #4037 closed

[2022-06-16 09:46] realshuting opened #4124 "[Bug] Reconcile policy reports when Kyverno throttle RCR"
### Kyverno Version

1.7.0

### Description

This issue was reported in https://github.com/kyverno/kyverno/issues/4072#issuecomment-1152356283 where the RCRs were piled up in the cluster. This can be reproduced with the script shared in step 5 https://github.com/kyverno/kyverno/issues/4072#issue-1260418022.

The issue happens when the RCR creation rate is faster than the deletion rate. When the jo

[2022-06-16 09:57] realshuting opened #4125 "[Bug] Split up large policy reports"
### Kyverno Version

1.7.0

### Description

From the test described in https://github.com/kyverno/kyverno/issues/4072, it looks like if a policy report has more than ~2k entries, Kyverno would get `resourceExhausted` error while updating reports. And RCRs started piling up in the cluster.

This is not scalable for large clusters or the clusters have a relatively large number of policies configure

[2022-06-16 09:59] developer-guy commented on #4121
really want to help with this, would you mind assigning it to me @realshuting?

[2022-06-16 09:59] realshuting opened #4126 "[Bug] Limit the event queue size"
### Kyverno Version

1.7.0

### Description

Following the same steps described in https://github.com/kyverno/kyverno/issues/4072#issue-1260418022, we found that there's a memory leak while generating events. The following profiling data shows the usage over time.

![image](https://user-images.githubusercontent.com/25727662/174045614-ebf654af-fab9-4a69-8f66-51da199603a2.png)
![image](https://user-

[2022-06-16 10:01] realshuting commented on #4121
Assigned, thanks @developer-guy !

[2022-06-16 13:28] fjogeleit opened #4128 "[Bug] [CLI] Pod Validation with label exclude breaks deployment check"
### Kyverno CLI Version

1.7.0

### Description

In this PR https://github.com/kyverno/policies/pull/348 I created an exclude for a label of a Pod validation Policy. This exclude rule breaks the validation of the Deployment Resource in the existing test case.

I also tested it in my Cluster, same issue. In enforce mode the policy stops rejecting failing Deployments. Deployments are created but no

[2022-06-16 15:06] realshuting commented on #4072
Hi @Boojapho - following up on your issue, how many results were there in your policy reports? You can check it by:
[code]

And do you see the similar `ResourceExhausted` error?
[code]

[2022-06-16 15:23] chipzoller commented on #4128
Frank, it turns out Kyverno is behaving as expected, both the webhook and CLI. The reason is the auto-gen behavior changes when you add an exclude statement based upon a label. We note this in the docs [here](https://kyverno.io/docs/writing-policies/autogen/):

[code]

Once you create the rule, with the legacy auto-gen you can see that it will now not generate any rules for Pod controllers:

[code

[2022-06-16 15:23] #4128 closed

[2022-06-16 15:33] fjogeleit commented on #4128
Thanks for the research @chipzoller

[2022-06-16 16:47] viveksahu26 commented on #4078
Hey @chipzoller ,
What exactly the new type of policy will do?  Any example in support.

Till now, what I understand about this policy is:
We all know that the simple definition of the policy is: first selects the resource and then perform action(Validation or Mutation or etc) on selected resources.  This new type of policy, let say `kyvernoScheduler`, will first match or select the resources. Aft

[2022-06-16 17:32] chipzoller commented on #4078
This is about building out a net new capability of Kyverno as a custom pod scheduler. It doesn't have any relationship to its admission controller aspect. So it's quite a large surface area to undertake and needs significant design and engineering.

[2022-06-17 08:28] clementnuss commented on #4086
wonderful, thanks a lot 👏🏻

[2022-06-17 10:16] realshuting commented on #4086
1.7.1 is cut today, this fix will be available in 1.7.2.

[2022-06-17 12:19] viveksahu26 commented on #3982
Any update ??

[2022-06-17 12:22] viveksahu26 commented on #4078
I think it's more like a creating your own custom scheduler with the help of policy.

[2022-06-17 12:34] chipzoller commented on #3982
Would like @samj1912 to provide perspective on this to make sure it's the right direction, but I know he's busy this week.

[2022-06-17 13:05] viveksahu26 commented on #3982
Ok, no problem. We can wait for his response.

[2022-06-17 13:09] viveksahu26 commented on #4078
Yeah, it will exist in future. That's would be really great enhancement. I am investing on this. Let's see if I found something I will discuss here. Since, it is new feature. So I also don't have much clear picture about this.

[2022-06-17 20:37] Boojapho commented on #4072
There were 5 policy reports

I haven't seen this, but I have not been capturing all the logs either.  So, it may be buried in there.

[2022-06-18 01:03] harshit98 commented on #3933
@prateekpandey14 I am interested to pick this up issue but need a minor help in identifying the path for generate controller. As per this documentation : https://github.com/kyverno/kyverno/wiki/Components - I am looking in the path `/pkg/` but not able to find the generate controller.

[2022-06-18 01:05] harshit98 commented on #3690
Hi @realshuting , I am interested to contribute in Kyverno. Can I pick this up?

[2022-06-19 03:46] Hokwang opened #4136 "[Feature] Move Helm charts to dedicated repo"
### Problem Statement

Hi,

I want to talk about helm chart.

your team managed below helm repos,
[code]
I think it will be helpful make one helm repo, just `kyverno`.

and github code level,
[code]
How about create new github repo for helm charts, like `kyverno/helm`?

Many silmilar case in there, for example,
https://github.com/prometheus-community/helm-charts

### Solution Description

create g

[2022-06-19 22:48] JimBugwadia opened #4137 "[Bug] investigate JSON Context optimizations"
### Kyverno Version

1.7.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Validate

### Description

While investigating memory leaks, I noticed there are calls in the `context` package that invoke JSON unmarshall which causes large temporary memory allocations.

See graph:

![profile008](https://user-images.githubusercontent.com/5489990/174503104-01a3ea

[2022-06-20 01:16] chipzoller commented on #4083
@Namanl2001 it's still occurring as confirmed with tag `v1.7.1`. There is no [SBOM](https://github.com/orgs/kyverno/packages/container/sbom/versions) created with that digest although there is once again a signature. So we need to find and fix this because our security documentation is now incorrect as a result.

[2022-06-20 06:38] #2857 closed

[2022-06-20 14:05] chipzoller commented on #2925
Switching over to using `ko` would nicely complement the present initiative to get [SLSA 3 compliant](https://github.com/kyverno/kyverno/issues/3119) and also simplify our existing workflows by a good deal and probably run faster. If @laurentsimon [slsa-github-generator-ko](https://github.com/laurentsimon/slsa-github-generator-ko) were implemented (hoping it becomes "official" somehow), then it ma

[2022-06-20 15:53] ddellarocca opened #4140 "[Bug] Kyverno doesn't remove resource if label are removed"
### Kyverno Version

1.7.0

### Description

**kyverno - 1.7.1**
Hi, with the latest release I'm facing the following problem:
I've kyverno set to create a set of network policies if a namespace has a particular label, if I add that label to a namespace kyverno creates the network policies, but if I remove the label kyverno doesn't remove the network policies, before version 1.7.1 kyverno deletes

[2022-06-21 07:59] ddellarocca commented on #4140
Another weird behaviour is that when i've updated kyverno it has updated some network policies but not others, this has caused a little downtime:
[code]
The policy `allow-intra-namespace-kyverno` was the one that allowed intra namespace communication between pods.

[2022-06-21 09:23] ShimonBenYair opened #4144 "[Bug] Docker image digest is not per operating system"
### Kyverno Version

1.5.x

### Description

Hi
I wanted to pull the kyverno v1.5.4 by its digest, but I see here:
https://github.com/kyverno/kyverno/pkgs/container/kyverno/13066978?tag=v1.5.4

that the digest is: "sha256:9e3f14e5ba3d08ed06db508a5f8b4d3d52de972c870ca46729e3773e070ddf25"

but when I want to choose the digest by operating system I see completely different digests for "arm64" and "am

[2022-06-21 13:16] zswanson commented on #2777
Just ran into this as an issue while testing policies using apiCall context against a cluster. Would be great to see this added.

[2022-06-21 21:28] chipzoller opened #4146 "[Feature] Support decoding of x.509 certificates"
### Problem Statement

Certificates are used extensively through Kubernetes and are very often the contents of resources created in a cluster. For example, Secrets and ValidatingWebhookConfigurations often store x.509 certificates as base64-encoded values. While Kyverno has the [ability to decode base64 values](https://kyverno.io/docs/writing-policies/jmespath/#base64_decode), it does not currentl

[2022-06-21 21:48] chipzoller commented on #4116
The `--replace` flag to the `cosign attest` command has been fixed and verified working as of cosign 1.9.0. The attestation should be replaced and not appended to existing ones.

[2022-06-21 22:33] JimBugwadia commented on #4116
There are a couple of unexpected behaviors, which I was planning on looking into:
1. `--replace` fails if the attestation does not exist
2. `--replace` replaces all attestations that match with the updated payload; ideally there would be a way to collapse to 1

[2022-06-22 00:24] JimBugwadia commented on #4116
Yes, but I don't think that makes sense in practice. If you have 4 scan prior reports, and you add a new one with the `--replace` option I would have expected to end up with a single updated scan report.

[2022-06-22 00:33] chipzoller commented on #4116
Are you not left with the most recent one?

[2022-06-22 01:59] chipzoller commented on #4116
It appears you may not be. I'm not sure what goes on here but the timestamp on the predicate doesn't line up with the one in the attestation after replacement.

[2022-06-22 06:21] #4144 closed

[2022-06-22 06:22] ShimonBenYair commented on #4144
Already got an answer in the kyverno slack channel that it is the amd64 digest

[2022-06-22 16:16] prateekpandey14 commented on #4125
Initial [design doc](https://docs.google.com/document/d/1msnOWk07nhnjJdvtU1RJzednle0aFlWjT8tZbZqVqBg/edit#heading=h.ny8a8qu59pb) for this enhancement. Will create an KDP with more details as reference here.

[2022-06-22 16:41] JimBugwadia commented on #4126
Re-open as we need to complete tests.

[2022-06-22 18:46] JimBugwadia opened #4149 "[Feature] YAML signature verification"
### Problem Statement

See:  https://github.com/kyverno/KDP/blob/main/proposals/yaml_signing_and_verification.md

### Solution Description

See:  https://github.com/kyverno/KDP/blob/main/proposals/yaml_signing_and_verification.md

Here are the planned tasks to complete the feature:

- [ ] Implement `validate.manifest` rule for webhook
- [ ] Add unit / e2e tests for resources
- [ ] Implement `valid

[2022-06-23 00:07] chipzoller commented on #4140
@prateekpandey14 can you check and see if the observed behavior quoted was intended or the byproduct of something else?

[2022-06-23 00:11] chipzoller commented on #4136
What is the problem with the current way the Helm charts are published? Is something not working properly for you? How would this change benefit Kyverno and the community?

cc @treydock and @eddycharly

[2022-06-23 00:14] chipzoller commented on #4118
This is an issue specific to OpenShift only? Is the recommendation to not define a seccomp profile?
cc @eddycharly

[2022-06-23 00:20] chipzoller commented on #4110
Can you confirm this is still an issue if you use the `imageReferences` field instead as shown [here](https://kyverno.io/docs/writing-policies/verify-images/)?

[2022-06-23 00:23] chipzoller commented on #4101
I believe this will be a feature request more than a bug report.

[2022-06-23 00:28] chipzoller commented on #4025
Bump for more details to understand this request.

[2022-06-23 00:32] aaronchar commented on #4118
@chipzoller - I honestly don't have an answer for that, but one possibility would be to to create an SCC profile that has the required permissions as well as the ability to use the defined seccomp runtime.

I had to revert to the previous releases and I haven't had cycle's to work on determining the minimum privileges required.

[2022-06-23 00:57] chipzoller commented on #4118
An SCC is an OpenShift-only construct, though, so is the problem here that one would need to be created in advance in order to support the current change in the Helm chart?

[2022-06-23 01:59] r0bj commented on #4101
I respect your decision however I'm not 100% convinced that it's an enhancement rather than a bug. You as a user don't always have a knowledge how particular pod was created (using `name` or `generateName`). You see a pod name e.g. `test-pod-zbbz7` and you would like to match a kyverno policy against it.
What's seems to be important here is that replicasets create pods using `generateName` (correc

[2022-06-23 02:11] chipzoller commented on #4101
Agree, I'm simply speaking to the current implementation in that `generateName` was not account for, perhaps because the current logic predates that specific ability. In any case, we agree this is something Kyverno must support.

@realshuting what is the level of effort involved here to adapt to match on `metadata.name` as well as `metadata.generateName`?

[2022-06-23 03:00] aaronchar commented on #4118
Since they link to the service account it would ideally be an option during deployment so it can be generated and linked to the service account before the container is started.

[2022-06-23 12:42] treydock commented on #4115
@unai-ttxu Try setting this in your values.yaml:

[code]

I just verified this works like so:

[code]

Produces this:

[code]

[2022-06-23 12:59] chipzoller commented on #2823
Discussed with @realshuting  and we want to make the following minor changes to the release note generation process:

1. Continue to use the gh command [here](https://github.com/kyverno/kyverno/issues/2912#issuecomment-1144868068) to get a list of PRs tagged for a given release.
2. Release notes will only link to PRs, not issues and not both.
3. Modify the PR template to add, at the very top, an "

[2022-06-23 17:30] unai-ttxu commented on #4115
Hi @treydock! Thank you so much for the tip.

I finally decide to set `podAntiAffinity` as follows:

[code]

Since `null` seems more intuitive than `~` to unset the `preferredDuringSchedulingIgnoredDuringExecution` parameter.

I was stucked looking how to override the whole `podAntiAffinity` and I did not see there was an easy way to unset `preferredDuringSchedulingIgnoredDuringExecution` as you p

[2022-06-23 17:30] #4115 closed

[2022-06-24 09:23] phin1x opened #4152 "[Bug] kyverno keeps processing completed updaterequests"
### Kyverno Version

1.7.1

### Description

We are using kyverno to sync two configmaps in our clusters to mostly all namespaces. Kyverno created the configmaps but keeps processing the updaterequests, even if the status is "completed". The status keeps toggling between pending and completed. After a few seconds kyverno start to log hundert of apply to old errors:
[code]

i have tried a few confi

[2022-06-24 09:32] realshuting opened #4153 "Remove pod informer"
We cannot use the pod informer as Kyverno memory grows if pods number increases.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/pull/3973#discussion_r905893641_

[2022-06-24 16:10] chipzoller opened #4154 "[Feature] Check SAN entries from the certificate used in keyless signing"
### Problem Statement

See the comment [here](https://github.com/slsa-framework/slsa-github-generator/issues/332#issuecomment-1165703262). Kyverno needs to check for SAN entries when using keyless signing to additionally validate that the `URI` entry corresponds to the trusted builder.

### Solution Description

Ensure a way to check specifics of certificate details when verifying with keyless.

#

[2022-06-24 16:29] JimBugwadia commented on #4154
This is returned as the `subject`. Can you clarify what else is needed?

[2022-06-24 16:32] JimBugwadia commented on #4154
@chipzoller - see: https://kyverno.io/docs/writing-policies/verify-images/#keyless-signing-with-github-workflows for all cert attributes available for GitHub (defined at: https://github.com/sigstore/fulcio/blob/main/docs/oid-info.md).

[2022-06-24 16:36] JimBugwadia commented on #4154
Since workflows can be reused across repositories, we need to verify the repo of the workflow used as well as the repo using the workflow....

[2022-06-24 16:43] chipzoller commented on #4154
I'm not seeing anywhere in there which allows access to the SAN.

[2022-06-24 16:45] JimBugwadia commented on #4154
In the cosign keyless flow, the data from the SAN is returned as the `subject`.

[2022-06-24 16:50] chipzoller commented on #4154
Oh I see.

[2022-06-25 20:48] JimBugwadia commented on #4154
To clarify further....this method retrieves an email or URI from the SANs and returns as the `subject`:

https://pkg.go.dev/github.com/sigstore/cosign/pkg/signature#CertSubject

[2022-06-25 20:48] #4154 closed

[2022-06-26 02:57] brandtkeller commented on #4070
/assign

[2022-06-26 05:12] viveksahu26 commented on #1607
Hey @chipzoller , Is there any way to mutate existing resources without providing target resource.  For, example the below policy should mutate  selected resource when it's created or updated. It works fine when resource is created. But doesn't work when resource is updated.
[code]

And take this resource:
[code]

[2022-06-26 11:41] chipzoller commented on #1607
Those are immutable fields once a Pod is created.

[2022-06-26 13:06] viveksahu26 commented on #1607
Oh, got it. Any docs  or ref. contains full of immutable fields ?

[2022-06-26 13:10] chipzoller commented on #1607
https://kubernetes.io/docs/concepts/workloads/pods/#pod-update-and-replacement

[2022-06-27 08:37] realshuting commented on #4072
Tested with the fixes #4148 and #4156, the memory seems to be stable at ~140Mi for an hour test. The test image is pushed to `ghcr.io/realshuting/kyverno:cleanup-rcr`.

![image](https://user-images.githubusercontent.com/25727662/175896728-99d5a403-bbc7-4f51-ac7c-dc115ef85ba6.png)

The `changeRequestLimit` was set to the default value of 1000 during the test.

Notice that the report will become ina

[2022-06-27 12:16] chipzoller opened #4158 "[Bug] Non-satisfied preconditions should be scored as a `skip` and not `fail` in Reports"
### Kyverno Version

1.7.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

In a policy with a precondition, if a resource is created with passes the match block but does not pass the preconditions, it is currently scored as a `fail` in policy reports. Not only is this incorrect and should be a `skip` but it's also not consistent with

[2022-06-27 19:18] viveksahu26 commented on #3982
Hey @samj1912 , Any Updates ??

[2022-06-28 01:25] bibarrav commented on #4152
Same issue here, even after delete the clusterPolicy object, Kyverno keeps showing this message:

E0628 01:24:42.606995       1 util.go:65]  "msg"="[ATTEMPT] failed to update update request status" "error"="Operation cannot be fulfilled on updaterequests.kyverno.io \"ur-xr42p\": the object has been modified; please apply your changes to the latest version and try again"  "name"="ur-xr42p"

[2022-06-28 01:26] yuji-watanabe-jp commented on #4149
@JimBugwadia  Thank you so much for creating this feature issue. Please assign @yuji-watanabe-jp and @rurikudo to the issue.

[2022-06-28 02:51] JimBugwadia commented on #4149
Thanks @yuji-watanabe-jp, assigned!

@rurikudo can you please post a comment, so I can also add you to this issue?

[2022-06-28 03:00] rurikudo commented on #4149
@JimBugwadia Thank you. Jim

[2022-06-28 04:54] realshuting commented on #4152
Hi @phin1x - can you share the policy for us to reproduce the issue?

[2022-06-28 04:55] realshuting commented on #4152
@bibarrav - was this for generate policies?

[2022-06-28 04:55] #4086 closed

[2022-06-28 06:31] ffilippopoulos commented on #4093
@viveksahu26 thanks for looking into this. Yes, we do not complain about emitting an event as long as it is not a Warning. This should work for us :))

[2022-06-28 06:42] phin1x commented on #4152
@realshuting sure, this is the policy:

[code]

[2022-06-28 07:56] Dentrax opened #4161 "[Bug] LeaderElection related logs should be Debug level instead"
### Kyverno Version

1.7.2

### Description

While checking Kyverno logs, just noticed it prints out lots of leader election related logs:

[code]

Leader election logs prints lots of information in `I` level and our logging system pushes these logs to elasticsearch index storage unnecessarily.

It would be nice to set log level `D` (Debug) or something.

cc @developer-guy

### Slack discussion

_

[2022-06-28 08:28] viveksahu26 commented on #4158
Hey @chipzoller , The reason why it was failing instead of skipping, because after preconditions failure it was only skipping rule for enforce mode not for audit mode. As a result the policy with audit mode was allowed to validate against the validate rule. In actual as the preconditions fails policy whether containing audit or enforce mode  should not be allowed to validate against the validate r

[2022-06-28 13:04] chipzoller commented on #4158
Thanks

[2022-06-28 15:27] #4125 closed

[2022-06-28 18:09] treydock opened #4168 "[Feature] Allow policy failurePolicy to skip unexpected errors"
### Problem Statement

I have a policy that does image verification and would like it to not block pod submissions when the registry for the images is offline for maintenance.

### Solution Description

Allow `failurePolicy` in policy to also skip unexpected errors such as image verification being unable to reach the image's registry.

### Alternatives

For now I've set the policy to `validationFa

[2022-06-28 18:34] realshuting commented on #4072
The release candidate `v1.7.2-rc1` is available now for testing, @Boojapho - can you help us verify if this patch fixes your issue?

[2022-06-29 01:51] neiljain commented on #3423
we noticed that we run into this error when there is another mutation policy.. if we keep just the policy to verify images using cosign and remove any other mutations, then it seems to work and it is able to successfully apply the json patches returned by the verify image webhook after successfully verifying cosign signatures.

[2022-06-29 02:09] joebowbeer opened #4169 "[Bug] RuntimeDefault seccompProfile missing from release-1.7"
### Kyverno Version

1.7.1

### Description

The `RuntimeDefault` `seccompProfile` is missing from the `release-1.7` branch, causing it to fail PSS/restricted compliance.

The following command has one failure:

[code]

RuntimeDefault was added to the helm chart in #3313 but it has not been added to release-1.7, even though its minimum Kubernetes version (1.21) is compatible with this change (1.19

[2022-06-29 03:00] JimBugwadia commented on #3423
Hi @neiljain - is it possible for you to provide the logs for the error case?

[2022-06-29 04:45] viveksahu26 commented on #4093
Hey @realshuting , want to confirm one thing. Currently  only 2 events are supported, `PolicyViolation`(for fail/error result) and `PolicyApplied`(for pass/skip result). As the above issue is demanding to create new type of events for skipped policy, i.e. `PolicySkipped`(for all skip results) on background(i.e. when `background=True`) scans. So, do we need to enhance  this new event(i.e. PolicySki

[2022-06-29 11:40] chetak123 commented on #2317
Hey @chipzoller I wanted to know is this issue still going on, as currently I'm exploring multi-cluster system.
Just wanted to clarify this issue: Here we have to add a parameter in kyverno apply command to Select a different cluster to run our tests instead of the the main cluster defined in .kube/config.
Am I right ?

[2022-06-29 11:43] chipzoller commented on #2317
Yes, the issue is still open and currently unassigned.

Am I right ?

For the `apply` command, yes, not the `test` command.

[2022-06-29 14:59] TheKangaroo commented on #3567
We used to have the same issue, but saw client-side throttling up to 12 seconds.
We fixed this by setting `--clientRateLimitQPS=30` and `--clientRateLimitBurst=60`.
This doesn't seem to be your problem as far as I can tell from your logs, but wanted to mention it if someone faces the same issue.

[2022-06-29 16:54] realshuting commented on #4153
Closed via #4156.

[2022-06-29 16:54] #4153 closed

[2022-06-29 16:55] realshuting commented on #4124
Closed via #4148.

[2022-06-29 16:55] #4124 closed

[2022-06-29 16:56] realshuting commented on #4126
It turns out this was not a leak but the pile-up events to be processed in the queue.

@JimBugwadia - should we close this issue? I will link to the new issue for the event optimization.

[2022-06-29 21:53] eddycharly commented on #4118
Hi, thanks for reporting the issue, I'll look into it tomorrow.

[2022-06-29 22:09] eddycharly commented on #4118
I don't know much about OpenShift but reading the docs https://docs.openshift.com/container-platform/4.10/security/seccomp-profiles.html#configuring-default-seccomp-profile_configuring-seccomp-profiles it looks like openshift ships with a default seccomp profile.

[2022-06-29 22:15] chipzoller commented on #4118
Is the right thing to do here to enable this as a switchable value so seccompProfile can be active by default but deactivated if desired? The thing is we have to be able to pass the PSS restricted profile by default, which has a strict requirement captured [here](https://kyverno.io/policies/pod-security/restricted/restrict-seccomp-strict/restrict-seccomp-strict/).

[2022-06-29 22:16] chipzoller commented on #4118
Kyverno 1.7.x also has a minimum requirement of Kubernetes 1.21 per the [compatibility matrix](https://kyverno.io/docs/installation/#compatibility-matrix) and so the Helm chart should abide by this minimum and set defaults as they are relevant.

[2022-06-30 00:41] bibarrav commented on #4104
Hi @prateekpandey14 , I'm trying with v1.7.1 and the issue still appears:

[code]

[2022-06-30 00:44] bibarrav commented on #4104
This is the policy used:

[code]

[2022-06-30 07:57] eddycharly commented on #4118
I can remove the 1.19 support.
`seccompProfile` is enabled by default but can be disabled by editing the values, not sure adding a switch brings any benefits over simply setting `seccompProfile` to `null`.

[2022-06-30 19:39] JimBugwadia opened #4177 "[Feature] option to apply first matching rule"
### Problem Statement

Kyverno currently applies all matching rules in a policy, in the declaration order.

This makes it difficult to write a "catch-all" rule that only apply  if no other rule is matched. For example in network firewall ACLs its fairly common to have a set or rules that are processed in order and then a "deny-all" rule that applies if no other rules are applied.

For example, it

[2022-06-30 19:52] garrett-compass commented on #3675
Closing the issue for now as our host+path policy is working for us and the to_string policy above appears to be working. Will open it again if additional questions arise, thanks!

[2022-06-30 19:52] #3675 closed

[2022-06-30 20:15] eddycharly commented on #4070
I’m not sure an HPA will help, having more replicas will not distribute the load unfortunately.

[2022-06-30 20:23] avenda opened #4179 "[Bug] [CLI] "invalid memory address or nil pointer dereference" using mutate.targets in tests"
### Kyverno CLI Version

1.5.x
1.7.1

### Description

When you try to use mutate targets and then run test you get a memory error

[code]

### Steps to reproduce

1.  policy:
[code]
2. resource
[code]
3. patch
[code]
4. policy
[code]

### Expected behavior

[code]

### Screenshots

none

### Kyverno logs

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and foll

[2022-06-30 20:25] JimBugwadia opened #4180 "[Feature] add attestation as context variable"
### Problem Statement

Attestations fetched from OCI registries can be checked using the `attestations` block with conditions. However, its not possible to check values across two different attestations.

### Solution Description

Add an option to store select attestations in the rule context, per image.

Here is an example that stores an attestation `"https://example.org/owasp/vex/v1"` in the con

[2022-06-30 20:33] isugimpy commented on #4070
Could I politely ask for this to also include KEDA support in addition to bare HPA?  Scaling on CPU isn't necessarily the right move.  Being able to scale on the actual request rate would be huge.

@eddycharly I'm wondering more about why you're saying that.  I'm actually in the middle of trying to get Kyverno running on a pretty large cluster (~300 nodes, 30k+ pods), and due to the sheer request

[2022-06-30 20:48] isugimpy commented on #3972
I would love to see traction on this.  On a very large cluster, the resource utilization with background policies is crashing the pods and preventing serving requests.  On top of that, the time spent during init cleaning up rcr objects takes an extreme amount of time, negatively impacting recovery from those crashes because of how long it takes.

[2022-06-30 21:09] JimBugwadia commented on #4070
Yes, looks like RC2 is still pending. Will check.

[2022-06-30 22:17] isugimpy opened #4181 "[Feature] Log Level Consistency"
### Problem Statement

By default, a number of logs are calling `log.Info()` with no verbosity level.  This means that even at `-v=0` they are output.  In the case of things like an all condition failing, this log at info level can be extremely verbose and spammy.

### Solution Description

A significant portion of the logging in Kyverno actually has appropriate verbosity levels set.  I'd like all

[2022-06-30 23:49] JimBugwadia commented on #3972
@isugimpy - other fixes going into 1.7.2 will help throttle the number of RCRs. We added that as an immediate fix, with the goal of working on the larger refactoring for 1.8. Will let you know as soon as its ready to test.

[2022-07-01 01:06] chipzoller commented on #4179
`mutate.targets[]` ("mutate existing") is only supported starting in Kyverno v1.7+.

[2022-07-01 01:11] realshuting commented on #3972
Hi @isugimpy - the fixes that Jim mentioned above were published in v1.7.2-rc1, can you please verify if the patch fixes your issue?

[2022-07-01 01:32] isugimpy commented on #3972
@realshuting It did help pretty significantly with the memory utilization, which is great!  However, the other problem I mentioned with the rcr objects is still there, and still leads me to believe that the separate controllers would be of great value.  Not entirely sure what the behavior's supposed to be, but even with the limit of 1000, I saw well over 10000 get created at one point after switch

[2022-07-01 01:51] JimBugwadia commented on #3972
Hi @isugimpy - totally agree that the longer term goal should be to split the controllers.

The 1.7.2 patch release is more focused on immediate critical fixes, which do not require design changes.

Can you set the limit to 100 per namespace for your tests?

We can also make the number of workers tunable.

Thanks!

[2022-07-01 02:40] avenda commented on #4179
Same for Version: v1.7.1
Time: 2022-06-30_10:25:10PM
Git commit ID: (HEAD/060b12d2a281720a29c0de99ea860a6db1c95c6a

[2022-07-01 03:00] #3244 closed

[2022-07-01 07:13] vyankyGH commented on #2267
closing with PR https://github.com/kyverno/kyverno/pull/4139

[2022-07-01 07:13] #2267 closed

[2022-07-01 07:41] developer-guy commented on #4180
Ah, that makes sense to me, defining attestation as a variable within the context section and using it anywhere we need it.

+1 to this idea from me.

[2022-07-01 09:42] SohumB commented on #2286
Hey there; I don't think this issue is completed. Helm doesn't upgrade CRDs through standard `helm upgrade`s; so this issue doesn't just apply to the transition to 1.5.0, but it applies since then too.

Documentation needs to exist on the manual upgrade process, like, for instance, `kube-prometheus-stack`'s documentation above. This is what I had to do to upgrade CRDs to the latest versions on my

[2022-07-01 10:44] therapy-lf commented on #2153
I see the same behavior and more it is also the case when only mutate or generate rules exist. This breaks our drift detection control.

[2022-07-01 18:13] SohumB commented on #2286
Oh, I see — and the reason I had a cluster where the crd versions had been
lagging Kyverno itself, is because I didn't have `installCRDs: true` in my
`values.yaml`. Thanks!

On Sat., Jul. 2, 2022, 00:53 treydock, ***@***.***> wrote:

[2022-07-02 01:10] JimBugwadia commented on #3180
Since both `failurePolicy` and operators (e.g. `Equal`) use upper case as the first letter, should we consider standardizing on that for enum values? i.e. change `validationFailureAction` to `Audit` or `Enforce`.

[2022-07-02 01:11] JimBugwadia commented on #2885
closing based on comments above

[2022-07-02 01:28] gsweene2 commented on #3675
Wanted to leave one last comment as a reference to an above post for any future readers of the thread:

Regarding the comment in https://github.com/kyverno/kyverno/issues/3675#issuecomment-1127012061

When we moved the jsonPath query from the context to conditions in the `value` field (like your host+path combo policy) and wrapped the entire query in `{{ }}`, then we were able to interpolate the v

[2022-07-02 13:05] Boojapho commented on #4072
I tested this with v1.7.2-rc1 and it still had the memory problem:

![image](https://user-images.githubusercontent.com/9620318/177002034-68864162-9485-42f3-8496-8bcc40240181.png)

[2022-07-02 13:29] Boojapho commented on #4072
I was watching the RCR creation when I started the load.  The RCRs seem to be consumed fine for about a minute or two.  Then, I saw this error `Error from server (InternalError): error when creating "STDIN": Internal error occurred: failed calling webhook "validate.kyverno.svc-fail": Post "https://kyverno-kyverno-svc.kyverno.svc:443/validate?timeout=30s": EOF`.  After that, the RCRs started to not

[2022-07-02 21:37] JimBugwadia commented on #4072
@Boojapho - do you see any restarts in the Kyverno pods? Can you please upload the logs for around this time?

[2022-07-02 21:38] JimBugwadia commented on #4072
@Boojapho - also did you set the RCR limit to 100 or keep the default of 1000 per namespace?

[2022-07-03 11:44] Boojapho commented on #4072
@JimBugwadia Yes, the pods crash and restart.  It starts with the leader.  Then, whoever gets elected leader will crash soon after.  This cycle repeats forever.  I'm having trouble getting logs around that time since the Kyverno pods will crash and I'd have to catch it at 7-8 hours into the run.  I kept the limit at the default of 1000 per namespace.

[2022-07-03 12:30] Boojapho commented on #4072
@JimBugwadia Here is what I could capture:

12:08 - started the load on the cluster
12:11 - around this time Kyverno stopped consuming RCRs
12:17 - stopped the load on the cluster (~460 RCRs)
12:20 - stopped log capture (~520 RCRs)
Without any load, I watched to see if the RCRs would be consumed and after 5 minutes they have not.  I'll let it run a lot longer without load and see if the RCRs go aw

[2022-07-04 03:09] JimBugwadia commented on #4072
@Boojapho - thanks!

Can you please try setting the value for `maxReportChangeRequests` to 100? Otherwise, the changes to prevent additional RCRs from being created are not in effect.

We also need to determine why your pods are restarting.

[2022-07-05 07:15] smallersoup opened #4186 "Kyverno pod (single instance) restarts with message "another instance has been elected as leader""
### Kyverno Version

1.6.2

### Description

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is not recorded.

[2022-07-05 07:39] #4186 closed

[2022-07-05 09:57] aofekiko opened #4187 "[Feature] More precise resource selection in Validating/MutatingWebhookConfigurations"
### Problem Statement

Currently Kyverno creates Validating/MutatingWebhookConfigurations with rules that match resources aggressively.
For example:
[code]
This matching rule means that in some situations there could be a vast majority of requests that are needlessly forwarded to Kyverno causing additional request latency and load on Kyverno.

#### An example:
You create a policy that should match

[2022-07-05 13:43] zswanson opened #4188 "[Bug] helm chart does not use proper semver"
### Kyverno Version

1.7.0

### Description

Helm chart releases are using incorrect semantic versioning.  `version: v2.5.1` is not valid semver and should use `version: "2.5.1"` instead, as documented in helm best-practices and by the semver standard. (Note that string quotes will be required)

https://helm.sh/docs/chart_best_practices/conventions/#version-numbers
https://semver.org/#is-v123-a-se

[2022-07-05 13:52] Boojapho commented on #4072
One more observation.  When I look at the RCRs, a large portion of them have very little inside.  Just the job name in annotations and a summary of showing 0 for each category.  Some are even for the same job name.   Is there a purpose for all of those empty RCRs?  If not, then if we don't create them it might lessen the load.

[code]

[2022-07-05 14:08] pns-nirmata opened #4189 "[Feature] Support on-the-fly configuration of private registries for policies of type Verify Images"
### Problem Statement

While checking policies of type Verify Images, Kyverno can access images from private registries using credentials stored in an imagepullsecret configured via its deployment parameter `--imagePullSecrets`. (Ref: https://kyverno.io/docs/writing-policies/verify-images/).

Modifying secrets to add/modify/delete registry entries will need a Kyverno restart. Will be useful to be

[2022-07-05 14:30] realshuting commented on #4072
I may have some idea of what's happening here, can you please scale down kyverno to a single instance and verify if the RCR piles up again? Those RCRs might be created by other instances that were not the leader and thus didn't aware of the in-active report.

Regarding the empty RCRs, those were created for DELETE admission requests. Since the report is marked inactive, it no longer processes them

[2022-07-05 14:47] chipzoller commented on #4189
Since `verifyImages[]` is an array/object, I think it makes the most sense to expose `imagePullSecrets` as a field under this object and as a peer to `imageReferences[]` so that multiple can be defined each with their own Secret reference.

[2022-07-05 15:49] vyankyGH commented on #3982
@viveksahu26 can we take value from user if there is variable in message?

[2022-07-05 15:50] realshuting commented on #4072
@Boojapho - besides the above test, it looks like the report in your cluster exceeds the size limit. Can you also run with `--splitPolicyReport=true` to split up reports?

[2022-07-05 16:13] viveksahu26 commented on #3982
Currently Kyverno only supports values taking as input from user  for precondition, context, etc. Currently there isn't any way to provide values for the message section. If we want that user provides input for message section if there any than the new feature to enhanced for the same.

[2022-07-05 16:55] Boojapho commented on #4072
I ran with 3 replicas and `--splitPolicyReport=true`.  The RCRs piled up to 1500 and I stopped the load.  But, this time, Kyverno consumed the RCRs and brought it back down to 0.  I'll run with replicas=1 next.

[2022-07-05 19:36] Boojapho commented on #4072
Running with 1 replica and `--splitPolicyReport=true`, the RCRs still got backed up.  But, it took much longer to get to 1500.  And, after I stopped it, it eventually brought it back down to 0.

[2022-07-05 20:11] samj1912 commented on #3982
This is a fairly long thread and at this point I am thoroughly confused on what the final context/question is as we have gone through various different scenarios here.

In general we should not be substituting any variable with a default of type that doesn't match that variable. (for eg substituting integers with strings). As for handling missing variables, the output from json context query will

[2022-07-05 22:55] #4121 closed

[2022-07-06 01:08] JimBugwadia opened #4190 "[Bug] policy readiness behaves unexpectedly"
### Kyverno Version

1.7.2

### Kubernetes Version

1.24.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

verifyImages

### Description

I had a single policy and am running Kyverno locally.

1. When I scale down the Kyverno to 0 replicas, policies are still shown as `READY = true`.

2. When I scale Kyverno back up to 1 replica, sometimes the policy will switch to `READY = false` and n

[2022-07-06 03:01] viveksahu26 commented on #4093
Hey @realshuting , I have created small design doc for new Events: PolicySkipped. https://docs.google.com/document/d/1czDT-DF5FP2LM8Lli0MrBD5OejrCAm4jGxWHxb574B0/edit#heading=h.yvtp2bjtmfvj

[2022-07-06 07:54] #3915 closed

[2022-07-06 10:24] realshuting opened #4191 "Add a new option for profiling Kyverno"
### Problem Statement

The Kyverno endpoint can be exposed via the loadbalancer type of service. We can add an example service manifest under https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes#expose-the-endpoint-at-the-local-port.

### Solution Description

[code]

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

https://kubernetes

[2022-07-06 13:07] Boojapho commented on #4072
I let the cluster run overnight with the load on.  I used `replicaCount: 1`, `--splitPolicyReport=true`, and `--maxReportChangeRequests=100`.  I also added a precondition to all my policies to only activate on "Create" or "Update" operations.  The memory and RCRs steadily climbed until the pods crashed due to OOMKilled.  This morning, I could not get into the cluster and had to restart it (so I do

[2022-07-06 14:38] realshuting commented on #4072
@Boojapho - was the report marked inactive? How about RCRs, were they still piled up in the cluster?

[2022-07-06 14:59] realshuting commented on #4072
And just to confirm the test scneario that leads to the issue, you were running the same script that creates 60 jobs ~every minute with [these](https://github.com/kyverno/kyverno/issues/4072#issuecomment-1146658480) 23 policies installed, correct?

[2022-07-06 15:31] nickvanwegen commented on #3585
I have tested with issue with the latest version and the issue still persists. I follow the same path as before.

Kyverno logs the following the first time applying manifest parallel.

[code]

and some logs of the same event.

[code]

[2022-07-06 16:39] prateekpandey14 commented on #3756
Closing this for now, as the test are stable now with latest fixes in main branch.

[2022-07-06 16:39] #3756 closed

[2022-07-06 16:54] kranurag7 commented on #3598
@chipzoller Can you please guide me further on this?

[2022-07-06 17:04] chipzoller commented on #3598
@vyankyGH

[2022-07-07 02:29] anubha-v-ardhan commented on #4191
Hey @realshuting, I would like to help resolve this.

[2022-07-07 05:38] jim-barber-he opened #4193 "[Bug] Policy cannot update deployment while a nearly identical ClusterPolicy can"
### Kyverno Version

1.7.1

### Description

I am trying to get a `Policy` to add/update an annotation on a `Deployment` when a `Secret` is updated, however it is failing to do so.
I produced a simple set of resources to test this with to rule out any other complexities.

Kyverno is deployed via the helm chart into our cluster.
The cluster is running in AWS at k8s version 1.23.7 produced with kops

[2022-07-07 12:38] ron34353435 commented on #4118
The issue happens in OpenShift version 4.8.23 too (Kubernetes version 1.21).
This workaround works for me, but I would like to know if removing the secomp won't impact the kyverno operation in some way?

[2022-07-08 04:44] mehabhalodiya commented on #4112
@harshitasao I see you haven't worked on it for a long.
I would like to fix it! @chipzoller Please assign it to me. Thank you!
/assign

[2022-07-08 04:56] mehabhalodiya commented on #4112
@JimBugwadia while submitting PR for this, base branch should be `main` or else a particular release branch? I am a first-time contributor here, so please help me 🙂

[2022-07-08 05:36] mehabhalodiya commented on #3222
@Nawaz027 I see you haven't worked on it for a long.
I would like to fix it! @chipzoller Please assign it to me. Thank you!
/assign

[2022-07-08 05:54] JimBugwadia commented on #4112
@mehabhalodiya - PRs are submitted / merged to main. The branching and release details are described here:

https://kyverno.io/docs/releases/#branches-and-prs

[2022-07-08 06:57] anubha-v-ardhan commented on #4191
Sorry, but how can I open a PR changing GitHub wiki. Forking the repo doesn't fork the wiki automatically and I can't find anything of help on the internet.

[2022-07-08 09:52] dakky opened #4197 "[Feature] Delete generated resources using `clone` upon policy deletion"
### Problem Statement

We are cloning object from one namespace to another. The target namespace has a high fluctuation of policies:

end user are deploying helm releases, which includes a kyverno policy in order to clone some secrets.
These releases are only relevant for a short time and become removed afterwards with the kyverno policy. And we need to have the genereted resources deleted too, as

[2022-07-08 10:32] anutosh491 commented on #4191
Heyy @anubha-v-ardhan , you could clone the wiki using `git clone https://github.com/kyverno/kyverno.wiki.git` and make the change I suppose .

[2022-07-08 12:52] anutosh491 commented on #4181
Hello all. This issue interests me and I would like to work on it . Being relatively new to Kyverno and this being the first issue I would like to resolve .... it would be great to have some pointers on how could I get started . @JimBugwadia could you please assign this issue to me !

[2022-07-09 12:43] Boojapho commented on #4072
@realshuting Because I could no longer get into the cluster, I was unable to check the final count of the RCRs or that the report was marked inactive.  When I started the run, I watched the RCRs and they climbed above 1500, so I'm fairly confident the RCRs caused the crash.

In a previous run, I did verify the report was marked inactive.

As far as the test scenario, yes, the same 23 policies (I t

[2022-07-09 19:46] chipzoller commented on #4191
You can also just paste your content into a response here, I suppose.

[2022-07-10 00:47] JimBugwadia commented on #4111
A fix available for test in this image:

   ghcr.io/jimbugwadia/kyverno:1.7.2-fixes-4111

Wil include in 1.7.2 once verified.

[2022-07-10 03:31] sabre1041 commented on #4118
@eddycharly @chipzoller OpenShift contains a feature called [Security Context Constraints](https://docs.openshift.com/container-platform/4.10/authentication/managing-security-context-constraints.html) which enforces certain security controls.

By default, end users deploying applications onto OpenShift will use the `restricted` SCC which not only ensures that pods do not run as `root`, but other f

[2022-07-10 06:15] npsoni88 commented on #4065
@nickvanwegen did you end up figuring out if it was just some configuration or if its indeed a concern? Ill check what version of kyverno we're using in prod.

[2022-07-10 08:22] realshuting commented on #4093
@viveksahu26 - yes, this sounds good to me!

[2022-07-10 11:48] chipzoller commented on #4118
Thanks for weighing in, @sabre1041. It sounds to me that the best course of action here is to add a special note into the Kyverno documentation with guidance on how to install Kyverno in an OpenShift environment but to otherwise not modify the Helm chart. It is important that Kyverno be able to pass the [restricted profile](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restr

[2022-07-11 03:56] #4111 closed

[2022-07-11 05:58] viveksahu26 commented on #3982
Hey @samj1912 , yeah really a long thread. To understand the issue go through this. https://github.com/kyverno/kyverno/issues/3982#issuecomment-1156235606

[2022-07-11 09:38] jlamande commented on #3300
Anyone found a way to unlock the API Server ?

I can't scale down/up kyverno pods as the webhook is failing, even having deleted validatingwebhookconfiguration and mutatingwebhookconfiguration

[2022-07-11 11:44] matthiasritter opened #4205 "[Bug] webhookTimeout is not applied to all webhooks"
### Kyverno Version

1.7.1

### Kubernetes Version

1.21.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Validate

### Description

This Bug concerns mutatingwebhookconfigurations AND validatingwebhookconfigurations.
We set the "webhookTimeout" (in the kyverno-deployment) to 30 seconds. Thereby we have identified 2 problems:

1. The timeout was not overwritten on the existing webkooks. Aft

[2022-07-11 13:04] chipzoller commented on #3982
Let's please resolve this issue quickly. Vivek, can you please summarize in succinct fashion the question(s) you have in order to move forward?

[2022-07-11 14:58] realshuting commented on #4205
@chipzoller - this needs to be fixed in the next patch, did we create release labels?

[2022-07-11 15:18] realshuting commented on #4205
Thanks @chipzoller !

Will we use labels with the same format `release-1.7.3` to track issues that must be fixed in a milestone?

[2022-07-11 15:48] realshuting commented on #4205
The PRs use `milestone-*` labels.

[2022-07-11 15:51] chipzoller commented on #4205
We probably need to create the `release-critical` etc labels as proposed in the [Release Planning & Prioritization Process wiki page](https://github.com/kyverno/kyverno/wiki/Release-Planning-&-Prioritization-Process), but I have not acted because of community consensus.

[2022-07-11 17:49] #3120 closed

[2022-07-11 20:28] JimBugwadia opened #4206 "[Feature] automatically escape `-` within strings for JMESPath"
### Kyverno Version

1.7.2

### Description

JMESPath does not allow a `-` in an expression. See: https://github.com/jmespath/jmespath.py/issues/109

However, JSON keys (especially for Kubernetes resource names, etc.) commonly have dashes.

This requires all usage of such strings to be quoted:

This does not work:

[code]

(image.name resolves to a string with a `-`)

This works:

[code]

It would

[2022-07-12 10:03] tghartland opened #4208 "[Bug] Memory leak setting up logging context"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Other

### Description

Slack thread https://kubernetes.slack.com/archives/CLGR9BJU9/p1657027928322689 has been discussing an apparent memory leak in kyverno, around ~100MB per day in our deployment.

In heap profiles I noticed very high alloc_space (total allocations over the li

[2022-07-12 10:09] tghartland commented on #4208
@realshuting @prateekpandey14 I will test again with the latest image `ghcr.io/kyverno/kyverno:1.8-dev-161-g3e2894b6f` to see if the logging changes since v1.7.2-rc1 have fixed the leak or not.

[2022-07-12 10:13] realshuting commented on #4208
Thanks for sharing @tghartland !

@prateekpandey14 @vyankyGH - do we have test data using `1.8-dev-*` image?

[2022-07-12 10:27] prateekpandey14 commented on #4208
No, we are currently testing on 1.7.1-rc1 version, but we can try with `1.8-dev-*` image and monitor the behaviour.

[2022-07-12 11:27] shreemaan-abhishek commented on #3180
@JimBugwadia  Please let me know if I should add them to this PR.

[2022-07-12 13:09] zeborg commented on #2356
Hello @realshuting @JimBugwadia, sorry for the huge delay!
I'd like to know if we're still working on this issue, as I believe it was resolved after discussions in #3361.

ref: https://github.com/kyverno/kyverno/pull/3361#issuecomment-1067754560

[2022-07-12 13:24] realshuting commented on #3522
The namespace exclusion was added in 1.7.X. Closing.

[2022-07-12 13:24] #3522 closed

[2022-07-12 14:12] realshuting opened #4209 "[Bug] The `ready` status of a policy must be consistent across all running instances"
### Kyverno Version

1.7.2

### Description

Currently a policy is marked as ready when the leader instance reconciles it and updates the matching resources in the webhook. There is a gap where when running as multiple instances it's possible a policy is marked as ready, but not cached in all instances, hence allowing a bypass.

A policy should be set to `ready` after all instances are ready to ap

[2022-07-12 14:15] chipzoller commented on #2356
It must have gotten reverted, because by default in the Helm chart, although we do now exclude the Kyverno Namespace in the webhook, this has no bearing on how the resource filter is configured. So, effectively, to include processing of "custom" resources destined for the Kyverno Namespace (i.e., those created by external users), two things must happen:
1. Configure the webhook to include the Kyve

[2022-07-12 16:44] viveksahu26 commented on #3982
Hey @vyankyGH , yes we can take values from values.yaml file in the cli or also take values from configmap when  policy is deployed in the cluster.

Since errors occurs when we apply policy through below command, In that case there is no way to provide values of the variables.
`kyverno apply policy.yaml --cluster`

[2022-07-12 19:08] viveksahu26 commented on #3982
Hey @chipzoller , though I have given detailed overview about the issue in above [thread](https://github.com/kyverno/kyverno/issues/3982#issuecomment-1156235606).
The final solution according to me is:
Treat normal variable same as precondition variable.

During normal variable substitution, when values are not found then values is returned as nil and error("JMESPath query failed") occurs.  Wherea

[2022-07-12 19:29] samj1912 commented on #3982
@viveksahu26 I would prefer if we go the other way i.e. we error out by default for pre-conditions. See https://github.com/kyverno/kyverno/issues/3982#issuecomment-1175455920

[2022-07-12 20:25] aesca1er commented on #3598
While random strings would be extraordinarily useful, random numbers would as well.
Perhaps a randomStr() and randomNum()?
I understand to_number() exists in the JMESPath spec, but it would be helpful nonetheless.

[2022-07-12 20:53] chipzoller commented on #3598
The filter could be written in such a way that one of the inputs is the composition of the output you'd like, examples being letters, numbers, or symbols.

[2022-07-12 21:11] viveksahu26 commented on #3982
@samj1912 , yes you are right. We should go with default error as it is.
Let's assume this case:
[code]
 Since there is no value provided by the user for `namespacefilters.data.exclude`. So, it's value will be nil and error will be ---> `failed to substitute variables in preconditions: failed to resolve namespacefilters.data.exclude at path /all/0/value: JMESPath query failed: Unknown key "namespa

[2022-07-12 21:38] #4152 closed

[2022-07-12 21:47] zeborg commented on #3982
I'm lowkey sweating at the length of this discussion, and I'm afraid I won't be going through it at the moment, perhaps later.
I did however go through this issue's description, and I felt like pointing out it might be in some way related to issue #3223 which I raised way back in Feb.
I haven't verified if the issue still persists in the latest release, but I'd appreciate it if someone with latest

[2022-07-13 06:53] prateekpandey14 commented on #3933
@harshit98 updated the issue description with updated path , the controller code has been moved to `pkg/background/generate`

[2022-07-13 07:28] dadav commented on #4118
I'm having the same problem in OpenShift 4.10.20.

I use the following values (via umbrella chart):

[code]

But the deployment still has the

[code]

entries, which blocks the deployment.

[2022-07-13 08:44] PendaGTP commented on #4118
Which version of Helm do you use? Tested and working in v3.9.0.
Maybe you use a subchart? If so, probably related to this issue https://github.com/helm/helm/issues/9136

[2022-07-13 08:48] dadav commented on #4118
I'm using helm v3.8.0+g7ddadb4, which is included in the gitops operator from openshift.
Yes, I'm using a subchart. Thanks for the hint, I'll have a look at the other issue!!

[2022-07-13 10:30] tghartland commented on #4208
I can confirm that the issue is already solved by the logging refactoring done in https://github.com/kyverno/kyverno/commit/a5e623f9392a9635d0ab297a91f5c95615562c26. I don't see any other changes that touched the same area of code.
![Screenshot_20220713_110639](https://user-images.githubusercontent.com/11710676/178710062-c437d64f-60c1-4f10-af71-c234619bddd0.png)
The heap profile for the new image

[2022-07-13 11:29] realshuting commented on #4208
Hi @tghartland - thanks for confirming. A specific fix to release-1.7 branch sounds good to me.

Would you like to open a PR and submit your change https://github.com/tghartland/kyverno/commit/18a6d6def53cb26e037b81984bd08d30e354a27b to `release-1.7`?

[2022-07-13 14:25] chipzoller commented on #3982
Yes, this should result in an `error` result.

[2022-07-13 14:27] chipzoller commented on #3168
@zeborg we still need to address this and any other oustanding arithmetic JMESPath filters with incorrect behaviors due to inputs.

[2022-07-13 16:54] anutosh491 opened #4216 "[Bug] Correct Description for UpdateRequest struct"
### Kyverno Version

1.5.x

### Description

The description for the UpdateRequest struct reads `UpdateRequestStatus is a request to process mutate and generate rules in background.` where the first word should be corrected to `UpdateRequest`, throughout the codebase.

### Slack discussion

https://app.slack.com/client/T09NY5SBT/C032MM2CH7X/thread/C032MM2CH7X-1657344875.816299

### Troubleshooting

[2022-07-14 04:05] #4158 closed

[2022-07-14 07:44] realshuting commented on #4208
Closed via #4213.

[2022-07-14 07:44] #4208 closed

[2022-07-14 11:34] anutosh491 opened #4220 "[Feature] [CLI] Implementing a flag to show all failing tests only through the `test` command"
### Problem Statement

As I was going through kyverno's CLI docs for the `test` command, I realized that there is no flag currently implemented to show all the failing tests only through the test command. So I thought of just surfing around the issues page to see if something relevant was proposed and I came across some comments https://github.com/kyverno/kyverno/issues/3631#issuecomment-112046688

[2022-07-14 11:35] anutosh491 commented on #4220
I plan to create a pull request with the proposed diff soon and get reviews for the same !

[2022-07-14 17:07] #4112 closed

[2022-07-14 20:29] dvdmuckle opened #4221 "[Bug] Global anchors do not function as expected with anyPattern"
### Kyverno Version

1.6.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

Using global anchors with `anyPattern` in a rule does not appear to function as intended. Currently testing just with `kyverno test`, however the K8s version we're using runs on AWS via kOps. This was also confirmed to not work with

[2022-07-14 20:50] chipzoller commented on #4221
This was also tested on Kyverno 1.7.1 in the webhook and such a resource fails the policy when it should be allowed.

[2022-07-14 23:13] neiljain commented on #3423
sorry about the delay in responding to your last question.. some scrubbed logs that I had captured before I took some time off.. I didn't quite see any errors being logged as such

`I0628 21:04:49.937797       1 verify_images.go:63] WebhookServer "msg"="adding image verification patch" "action"="verifyImages" "gvk"="/v1, Kind=Pod" "operation"="CREATE" "resource"="default/Pod/" "patch"="{\"op\":\"a

[2022-07-15 03:19] realshuting commented on #4209
Capturing down the discussion we had today:

Currently the status `ready` of a policy indicates that the matching resources are added in the webhoook configuration and  Kubernetes is ready to forward matching admission requests to Kyverno. The Kyverno internal policy cache also syncs on every start which guarantees that the instance is ready to serve ARs and apply policies.

When there are multipl

[2022-07-15 03:27] realshuting commented on #4209
One thing to notice is that this issue does not impact the current policy application, the Kyvereno instance becomes ready only when the internal policy cache is synced. There's one bug logged for the update failure of a policy status when adding new policies to the cluster, which will be fixed in the next version https://github.com/kyverno/kyverno/issues/4190.

[2022-07-15 10:10] pealtrufo commented on #4110
Hi. I am experiencing same issue here.

[2022-07-15 11:17] bjw-s commented on #4140
I am seeing some similar behavior with the following policy:
https://github.com/bjw-s/home-ops/blob/main/kubernetes/clusters/cluster-0/system/kyverno/policies/pmb-cronjob-controller.yaml

My understanding of it is that it should create a CronJob for all Deployments/StatefulSets that have the `pmb.bjw-s.dev/volume` annotation. I have verified that this works correctly.

However, when I remove the `

[2022-07-17 22:17] chipzoller opened #4222 "[Bug] Sync for generate using data statement now requires `generateExistingOnPolicyUpdate`"
### Kyverno Version

1.7.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

A generate rule where the resource contents are specified in the policy and `synchronize=true` does not update downstream resources when the policy is updated.

### Steps to reproduce

1. Apply this policy
[code]
2. Create a new Namespace which matches, for ex

[2022-07-17 22:23] chipzoller commented on #4222
I suspect something has gotten broken during the course of implementing generate for existing resources, but this existing behavior is key and must be restored.

[2022-07-17 23:35] joebowbeer opened #4223 "[Bug] [CLI] Typo in description of policy-report flag"
### Kyverno CLI Version

1.7.1

### Description

`kyverno apply -h` prints a badly-formed description for policy-report

[code]

### Steps to reproduce

1. kyverno apply -h

### Expected behavior

[code]

or

[code]

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the [troubleshooting guide](h

[2022-07-18 06:29] vyankyGH commented on #4220
@anutosh491 thanks for creating issue. I have assign issue to you.

[2022-07-18 06:47] YachikaRalhan commented on #3933
If no one is working on this, I would like to pick this up @prateekpandey14
cc @prateekpandey14

[2022-07-18 07:12] #4223 closed

[2022-07-18 07:45] harshit98 commented on #3933
I am working on this currently @YachikaRalhan

[2022-07-18 07:51] anutosh491 commented on #4220
Sure I'll create a pr for this soon sometime !

[2022-07-18 11:55] mritunjaysharma394 commented on #3879
From the testing of the namespaced generate policy, it seems they are integrated with generated controller as we can see from below results:
[code]

To further tests, we tried to test behaviour on deletion of namespaced policies  on four separate cases:
1. Sync true, Clone true
2. Sync false, Clone true
3. Sync true, Clone false
4. Sync true, Clone false

While it seems to work completely fine wit

[2022-07-18 14:26] prateekpandey14 commented on #4222
Yes `generateExistingOnPolicyUpdate` require to sync any update made to policy to be sync in target resources. Which was not the case earlier.

[2022-07-18 14:29] chipzoller commented on #4222
Ok. This needs to be fixed in 1.8.0 because it's essentially broken backwards compatibility. As we discussed, that setting needs to be brought into alignment with the similar option for mutation for existing resources and should only impact that newer functionality in 1.7.0+, not preexisting functionality.

[2022-07-18 15:32] realshuting opened #4225 "Optimize events creation for resources which potentially causes memory increase"
This issue can be reproduced by steps described in https://github.com/kyverno/kyverno/issues/4072#issuecomment-1184105834.

Tested the above changes again for 50mins, the memory shoot up to 300Mi from 100Mi. The # of events was ~159k at peak. Let the events queue be drained and the memory dropped to ~200Mi.

Currently the event processing takes a long time thus gets piled up in the queue, possible

[2022-07-18 15:56] chetak123 commented on #4191
Hey @anubha-v-ardhan can I make PR for this issue please ?

[2022-07-18 16:19] anubha-v-ardhan commented on #4191
@chetak123 Sure, feel free to assign yourself.
unassigning myself....

[2022-07-18 18:42] aesca1er commented on #3598
https://go.dev/play/p/PkUWMm6hR4a

https://go.dev/play/p/YAZ5yU8Ul61

the interface you're passing is indeed being treated as a float64. What are the contents of "random"?

[2022-07-18 19:14] chipzoller commented on #3598
@kranurag7 ☝️

[2022-07-19 00:10] chipzoller opened #4226 "[Bug] Kyverno fails to verify images with keyless signing due to TUF roots"
### Kyverno Version

1.7.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

When attempting to verify an image in Kyverno 1.7.1 signed with keyless signing, Kyverno panics (initially) and later fails verification. The panic trace is shown below.

After discussion with the Sigstore team in the fulcio channel (see Slack link below),

[2022-07-19 02:58] ron1 opened #4228 "[Bug] Allow context variables to be declared in any order"
### Kyverno Version

1.7.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Generate

### Description

Allow context variables to be declared in any order.

### Steps to reproduce

1. Apply the following policy

[code]
2. Create namespace foob - `kubectl create ns foob`
3. Create secret foo - `kubectl create secret generic foo --from-

[2022-07-19 02:58] anutosh491 commented on #3414
Hello @shreemaan-abhishek , I see you haven't taken up this issue since quite some time . I have developed a fix for this and will be making a PR soon . This issue could be assigned to me for now ! Thanks.
/assign

[2022-07-19 08:35] realshuting commented on #3879
Thanks Mritunjay! There seems to be a typo for case 4, it should be "Sync **false**, Clone false" right?

@prateekpandey14 - have you verified 3 and 4? Do we want to use this issue to send the fix or log a separate one for tracking?

[2022-07-19 09:23] shreemaan-abhishek commented on #3414
Thanks @anutosh491

[2022-07-19 10:07] realshuting commented on #4191
@chetak123 - assigned!

[2022-07-19 10:58] #3414 closed

[2022-07-19 12:13] realshuting commented on #4228
The `clusterName` is used in `metadataLabels` to build the label. This needs to be resolved before `metadataLabels`.

If two variables are un-related, they can be defined in any order. @ron1 - have you verified this?

[2022-07-19 12:16] #4216 closed

[2022-07-19 12:28] chipzoller commented on #4228
Resolution should be done on an as-needed basis, not serially from top to bottom. That's the enhancement/fix here.

[2022-07-19 13:25] chipzoller commented on #4228
You first scan the rule and create an index of context variable names. You don't resolve any of them yet. You then parse them in whatever order. If one of the inputs matches the name of a context variable, only that variable is resolved at that time. The filter can then be rendered as it has all the values it needs.

[2022-07-19 16:47] ghsbhatia opened #4234 "[Bug] - Event of type PolicyViolation is reporting incorrect InvolvedObject when the validation admission control denies request"
### Kyverno Version

1.6.0

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

Event of type PolicyViolation is reporting incorrect InvolvedObject when the validation admission control denies request based on validationFailureAction of Enforce. In the sample below, involvedObject is the policy object which is wrong. This should actually

[2022-07-19 18:07] asraa commented on #4226
Hi!

This is not the root cause. That change was a result of `go-tuf` and rust's TUF implementation differing in specification, and that broke only `sigstore-rs`.

For cosign:

cosign 1.8.0 and previous tuf clients ALL had a bug where if any new targets were added to our TUF root, we'd totally fail (this is a problem with the fact that the code handling embedded targets was faulty) -- we weren't a

[2022-07-19 18:33] chipzoller commented on #4226
See also the Slack thread [here](https://sigstore.slack.com/archives/C02K0T1LNPQ/p1658176851409439). It seems pretty clear that the Cosign components, when COSIGN_EXPERIMENTAL is used, is attempted to perform a cert revocation check every 7 days. In the case of Kyverno, this is happening even without any `verifyImages` rules being added to the cluster.

We therefore need to ensure that we document

[2022-07-19 19:01] chipzoller commented on #4226
No, image signing does not occur within Kyverno itself. Kyverno just does the verification of those images.

[2022-07-20 02:00] chipzoller commented on #4228
cc @samj1912 for feedback

[2022-07-20 02:01] chipzoller commented on #4220
Thank you for picking this up, @anutosh491 . This will be a great thing to have!

[2022-07-20 02:04] chipzoller commented on #4234
I believe this is by design. When an incoming (i.e., CREATE operation) resource is blocked, there is no resource against which it can be matched, no UID, etc. Yet these events must still be captured and it makes the most sense to correlate them against the policy/rule combination which was responsible for the blockage.

[2022-07-20 02:10] chipzoller commented on #2925
@developer-guy are you still interested in taking this as you have requested assignment?

[2022-07-20 03:42] samj1912 commented on #4228
I generally agree with what @realshuting has mentioned. The variables are a list in order to accomplish proper processing from top to bottom.

This also helps us keep the variables paradigm close to the majority of programming languages or mini-languages (even low-code ones).

This has a lot of benefits which will be lost if we moved to any sort of dependency based variable resolution -

- determi

[2022-07-20 04:08] samj1912 commented on #4228
The above policy can also be better written as

[code]

[2022-07-20 04:32] chetak123 commented on #4191
Hello everyone Sorry for the misread but it turns out I can clone the wiki and make changes to my local git repo but I cannot make PR to the main project wiki (because it's not forked with the main project).

There are some workarounds for it like [this](https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github) or [this one](https://github.community/t/how-to-fork-a-wi

[2022-07-20 04:49] developer-guy commented on #2925
Yep, I'll start working on this ASAP

[2022-07-20 04:55] developer-guy commented on #2925
But if you are also interested in it, please go ahead 🙋🏻‍♂️

[2022-07-20 08:37] #2981 closed

[2022-07-20 08:44] realshuting commented on #4126
Closed via #4233.

[2022-07-20 08:44] #4126 closed

[2022-07-20 08:47] realshuting commented on #4226
Can we close this issue or there are other pending tasks to be done?

[2022-07-20 08:49] realshuting commented on #4193
@prateekpandey14 found the error also blocks the RCR cleanup which potentially causes RCRs to be piled up in the cluster:
[code]

[2022-07-20 08:53] prateekpandey14 commented on #4193
This issue has been fixed with the PR https://github.com/kyverno/kyverno/pull/4212

[2022-07-20 08:57] #4193 closed

[2022-07-20 09:47] realshuting commented on #4191
Hi @chetak123 - you can also attach the instructions here. I can update the wiki.

[2022-07-20 11:47] Dentrax opened #4238 "[Feature] evaluate: clarify and give more context for `no condition passed for 'any' block` log"
### Problem Statement

It's slightly hard to distinguish which `any` block couldn't evaluate since we do not print out additional context.

Imagine you have a bunch of `any` block in your policy. Errors like `no condition passed for 'any' block` hard to troubleshoot since we don't know where it's coming from.

### Solution Description

Provide more context in the given log. What definition does it

[2022-07-20 12:53] anutosh491 commented on #4220
Thanks for the reply ! Yeah I agree too .... almost all libraries I either contribute to or use for my academic purposes have some commands or flags to display the failing tests only , hence I surely felt that this would be a good addition to have.

[2022-07-20 12:57] aslafy-z opened #4239 "[Feature] Allow calling /version with apiCall external data source"
### Problem Statement

`apiCall` external data source does not support calling '/version' endpoint. It fails with `invalid path length /version`.

### Solution Description

I'd like `apiCall` to allow calls to arbitrary endpoints ("raw mode", like `kubectl get --raw '/version')

### Alternatives

I'm currently getting the Kubernetes version from the first node:
[code]
This is not perfect since all

[2022-07-20 13:02] chipzoller commented on #4220
I would make sure that flag can just be present and doesn't require an explicit value to function.

[2022-07-20 14:06] asraa commented on #4226
I think we can close: I'm meeting offline with @JimBugwadia to discuss follow-ups for cosign fixes. But yes, as of now the only possible fix is v1.9.0 upgrade.

[2022-07-20 14:54] ghsbhatia commented on #4234
@chipzoller @JimBugwadia - If this is by design, the design decision can be revisited. I still see this as inconsistent implementation based on the details already provided. k8s documentation clearly mentions involved object to be the object for which the event is about, so yes, if the policy object itself failed validation, it would make sense, but then here the event is about the Pod object that

[2022-07-20 15:44] adamjohnson01 opened #4242 "[Feature] The ability to sum quantities"
### Problem Statement

I would like to write a policy that checks that the combined requests or limits are not greater than the available node resources. The jmesPath `sum` function does not work as it is not quantity aware so it only works with numbers. The additional Kyverno `add` function can only add two values together. I need to be able to add an array of values.

### Solution Description

A

[2022-07-20 15:49] #4226 closed

[2022-07-21 07:36] franroa opened #4298 "Generate cloning any kind of resources"
### Description

Hi, I was trying to do something like this:
[code]

But it doesn't work. It would be really nice if kyverno could create dynamically resources by checking the fields like we do with kubectl explain

I don't know if that is possible..
Thanks!

### Slack discussion

_No response_

[2022-07-21 08:58] ira-gordin-sap commented on #1433
Hi @JimBugwadia
We have the same issue and the proposed manual change to Deployment worked.
Was the kyverno Deployment fixed? In which version?
I wonder we still have it as we use the following version:
kyverno container log with version:
I0721 07:48:41.056050 1 version.go:17] "msg"="Kyverno" "Version"="v1.5.2"
Thanks,
Ira

[2022-07-21 10:03] guilhem commented on #3185
On big managed clusters, events just overrun the API:
- making events
- throttle the API
- not updating leader election
- changing leader
- restarting
- making more events
- ➰
- having all kyverno pods in Crashloopbackof
- not responding to Webhooks
- crashing cluster

[2022-07-21 13:33] ira-gordin-sap commented on #1433
Thanks a lot, @realshuting, I've already found it.

[2022-07-21 13:47] chipzoller commented on #2356
After discussion in 7/20/22 contributors meeting, I think the best thing here is remove the Namespace filters and move them into the Helm chart as Namespace exclusions.

[2022-07-21 13:54] mikebryant opened #4248 "[Feature] Deny access to logs of specific sensitive Pods"
### Problem Statement

We would like to be able to deny `kubectl logs` for certain specific pods that have sensitive logging output

### Solution Description

We'd like to be able to have a `ClusterPolicy` apply a validate rule to the `v1/Pod.log` kind and the `GET` operation.

### Alternatives

_No response_

### Additional Context

We've tried this, but the automated validatingwebhookconfigurati

[2022-07-21 14:16] realshuting commented on #3185
Hi @guilhem - with Kyverno [v1.7.2-rc2](https://github.com/kyverno/kyverno/releases/tag/v1.7.2-rc2), you can limit the events by the container flag `--maxQueuedEvents`:

We also found issues with event generation on large clusters and plan to optimize it, see details https://github.com/kyverno/kyverno/issues/4225.

Would you like an option to turn off the event creation completely?

[2022-07-21 14:29] guilhem commented on #3185
In fact, due to this rule https://github.com/kyverno/kyverno/commit/4954cab7d63ba5fcd8943cad55f80d16dcab9ebe#diff-a57b809e647ba728df3ff4405079129e69a107b910eb38ea655c787b0239b4e1R101

Setting `--maxQueuedEvents` to 0 prevent event creation.

[2022-07-21 14:38] guilhem opened #4249 "[Bug] slow with multiple CRD"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Other

### Description

When using many CRD, kyverno seem to hang to get all object.

### Steps to reproduce

1. GKE cluster
2. activate Config Connector

### Expected behavior

Maybe I would like to filter what kind / object I want kyverno to watch, with a system of allowlist/denylist.

[2022-07-21 14:44] realshuting commented on #3185
Right, that would prevent any event from creating.

Do you have a cluster that runs into any issues for event creation? Would love to see how this flag work in big clusters.

[2022-07-21 14:49] guilhem commented on #4249
@realshuting I opened this issue, maybe it's easier not polluting others.

right now, I have this:
[code]

My kyverno are crashing and reboot a lot.
I always have to scale to 0 and delete webhooks for my cluster to be ok.

I use a ~rc2 version (compiled myself before being available)

I use this options:
[code]

But I also have in logs what I past in issue description

[2022-07-21 14:54] realshuting commented on #4249
@guilhem - were you able to dump out the log before it restarted? Were there any probe failures?

[2022-07-21 14:58] guilhem commented on #4249
her is some logs:
[code]

[code]

[2022-07-21 15:01] realshuting commented on #4249
This does not seem to be the throttling issue. Have you verified if any policy works in your GKE cluster? You can test a  validate enforce policy and see if the resource is blocked for you.

[2022-07-21 15:05] guilhem commented on #4249
Rules are working well.
I'm only using mutations and are part of my business (isolating pods etc).
I don't use any validation policy.

[2022-07-21 15:24] guilhem commented on #4249
absolutely not :)
here is my installation:
[code]

[2022-07-21 15:28] realshuting commented on #4249
Any policies that are installed? What are the matching kinds in policies?

[2022-07-21 16:50] ron1 commented on #4228
Per your feedback, I will go ahead and close this ticket. Thanks for the feedback.

[2022-07-21 16:50] #4228 closed

[2022-07-21 20:59] JimBugwadia commented on #4226
Hi @asraa - I checked all reported stack traces and can confirm that they were either from the Kyverno `main` routine attempting to initialize roots early, or from the execution of image verification policy rules.

[2022-07-21 21:18] JimBugwadia commented on #4018
@vyankyGH @realshuting - looks like the lib was updated. Can you please confirm and close this issue?

[2022-07-21 21:52] mt20200 opened #4250 "[Bug] Cannot match pod names with `name-*`"
### Kyverno Version

1.7.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

If the selector matches on a name using the wildcard after a dash, the object is not matched (see below).

### Steps to reproduce

1. Apply this policy:

[code]

2. Create this deployment:

[code]

The generated pod (whose name is `foo

[2022-07-22 07:16] guilhem commented on #4249
I mainly mutate pods

[2022-07-22 07:38] james-callahan opened #4252 "[Bug] docker image uses relative path for entrypoint"
### Kyverno Version

1.7.2

### Description

By using an entrypoint of `./kyverno` instead of `/kyverno` (at https://github.com/kyverno/kyverno/blob/3f1997c0e81f102248e5915995ce3c247208e65b/cmd/kyverno/Dockerfile#L37), the docker container fails when it is started with a working directory other than the root.

This affects us in our CI runners; but it would affect anyone doing a docker image with

[2022-07-22 11:30] pierluigilenoci commented on #4072
@realshuting I want to thank you for your effort to solve the problem. ❤️

Unfortunately, we have also stumbled upon this problem. 😞
The fixes for this issue will be included in Kyverno 1.7.2, right?
How long to the next release? ⏳

[2022-07-22 13:08] aslafy-z opened #4253 "[Feature] Autogenerate StatefulSet rules for PVC policies"
### Problem Statement

I want to write a rule for PVCs that also applies to StatefulSets `volumeClaimTemplates`.

<details>
<summary>Example policy</summary>

<pre>
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: restrict-pvc-size
  annotations:
    policies.kyverno.io/title: Restrict PVC Size
    policies.kyverno.io/category: Best Practices
    policies.kyverno.io/severity: me

[2022-07-22 13:27] aslafy-z opened #4254 "[Feature] Use standard selector for validationFailureActionOverrides"
### Problem Statement

I'm unable to select namespaces by labels like I'm able in the match/exclude section.

### Solution Description

Use "standard" selector in `validationFailureActionOverrides` fields (like the one in match/exclude sections).

eg:

[code]

### Alternatives

Template the policy. I don't want to do this.

### Research

- [X] I have read and followed the documentation AND the [tr

[2022-07-22 14:03] zswanson opened #4255 "[Bug] [CLI] kyverno test does not process chained context vars for substitution"
### Kyverno CLI Version

1.7.1

### Description

The kyverno documentation notes that context vars may be 'chained' so that Variable B depends on the value of Variable A (which might pull from a configmap or the cluster API) and so on. When applied in-cluster this works as expected with the kyverno controller. However when writing test cases using the kyverno cli, `kyverno test` does **not** subst

[2022-07-22 14:10] chipzoller commented on #4255
@viveksahu26 would you kindly take a look at this and see if we can address?
cc @samj1912

[2022-07-22 14:17] realshuting commented on #4072
Hi @pierluigilenoci - we are performing the final round of testing, the official release will be available early next week if no critical issues are found.

[2022-07-22 14:32] #4220 closed

[2022-07-22 15:45] mo-saeed opened #4257 "[Bug] not denying image with no USER defined"
### Kyverno Version

1.7.2

### Description

I applied this policy

[code]
and trying to create pod with non-root user

[code]

I got the above error.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is

[2022-07-22 16:10] windowsrefund opened #4258 "[Bug] timeoutSeconds is not updated during rolling update."
### Kyverno Version

1.7.1

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Other

### Description

platform: kops

timeoutSeconds in each validating webhook configuration is not updated during a rolling update. However, it is overwritten (in accordance with --webhookTimeout as defined in values.yaml) during a fresh install or when sc

[2022-07-22 18:34] alkarp opened #4259 "[Bug] Mutate policy does not apply to nodes"
### Kyverno Version

1.7.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Mutate

### Description

A simple mutate policy that adds a label to a node doesn't apply. Sample policy:
[code]

Corresponding admission review request is received and logged on the lead kyverno pod:

[code]

### Steps to reproduce

1. Create the policy;
2. Create or modify a node;

##

[2022-07-22 20:00] zeborg commented on #4259
Hello @alkarp! Could you please check if `[Node,*,*]` exists in the `resourceFilters` field within Kyverno ConfigMap? If so, then try removing it and then apply the resource.

[2022-07-22 20:45] alkarp commented on #4259
hey @zeborg very good catch, thank you. i've used the helm chart to deploy with the default filters and the `[Node,*,*]` is in the resource filters. probs worth potting a note in the docs for the chart. thanks again.

[2022-07-22 20:45] #4259 closed

[2022-07-23 14:01] chipzoller commented on #4250
The issue here seems to be with how the matching is done with Pod controllers and the Pods emitted by them. The Deployment is named `foo` but obviously the Pods emitted by that Deployment (and its ReplicaSet) are not. If one were to create a bare Pod with name `foo-bar` the mutation will be applied as expected.

[2022-07-23 14:07] chipzoller commented on #4250
Also, it's worth pointing out that auto-gen rules will not be created if a `match` block includes `names`, `selector`, or `annotations` fields per [here](https://main.kyverno.io/docs/writing-policies/autogen/).

[2022-07-23 14:28] chipzoller commented on #4250
@vyankyGH Look at the [above comment](https://github.com/kyverno/kyverno/issues/4250#issuecomment-1193131276), please. When did this stop being the case? I tested with 1.7.2-rc2 and back with 1.6.3 and auto-gen rules are still created when `names` is specified.

[2022-07-23 14:56] chipzoller commented on #4238
Depending on what the logic is, some of this is actually printed in the logs in the form of an index number of conditions. You'll see something like `any/0` and then either `key` or `value`. It doesn't complete address this, but it is a start.

[2022-07-23 14:58] chipzoller commented on #4242
Sounds like the enhancement here is for the `add()` filter to support a single input as an array of quantities. [Docs](https://main.kyverno.io/docs/writing-policies/jmespath/#add) for reference.

[2022-07-23 14:59] chipzoller commented on #4242
@adamjohnson01 we would most certainly welcome a contribution in this area. I agree this is a gap today.

[2022-07-23 15:02] chipzoller commented on #4248
I haven't researched this myself, but it's likely there isn't anything Kyverno can do here. `GET` requests are not sent by the API server to admission controllers, which is why the operations you see there `GET` is not included. Those are all the operations that are sent and you cannot add others.

[2022-07-23 15:05] chipzoller commented on #4249
I think this will probably be resolved once we switch over to only loading CRDs if a policy calls for it. See #3966

[2022-07-23 15:07] chipzoller commented on #4252
This issue may be obsoleted when we switch over to using `ko` for building Kyverno, which is planned/in progress #2925 (cc @developer-guy )

[2022-07-23 15:12] mikebryant commented on #4248
Oh, I didn't realise that this was a limitation of the admission controller, rather than a configuration decision, my bad.

[2022-07-23 15:12] #4248 closed

[2022-07-23 15:15] chipzoller commented on #4257
I cannot reproduce this issue using 1.7.2-rc2. Your Pod above creates successfully while one running as root is blocked, for example:

[code]

[2022-07-23 15:17] chipzoller commented on #4248
It's not a limitation of admission controllers (as in it doesn't matter what admission controller you run, it won't "see" these types of requests), it's a limitation of the design of the API server with respect to webhooks.

[2022-07-23 15:48] developer-guy commented on #4252
Thanks @james-callahan for bringing this into our attention. I agree with @chipzoller but until that time we can provide this fix, WDYT @chipzoller ?

[2022-07-23 15:56] anutosh491 commented on #4258
/assign

[2022-07-23 15:59] chipzoller commented on #4252
As long as it doesn't cause existing things to break I don't see why not.

[2022-07-24 22:08] mt20200 commented on #4250
Speaking out of ignorance here, IMHO the error here is assuming that patterns that match pod names also match upper-level controller names, which might or might not be the case.
What exactly is the purpose of autogenerated rules? Why would the bare rule for the pod need those other autogenerated rules?
The docs only say

[code]

but that says nothing about _why_ those rules are needed in the fist

[2022-07-25 03:42] realshuting commented on #4072
Here's the result running `v1.7.2-rc2`.

Test env:
- 23 nodes KinD cluster
- single replica, with 4Gi memory limit, and --splitPolicyReport=true
- installed 23 policies that are provided in the issue
- run the script to create 60 jobs constantly

There was no restart on Kyverno pod:
[code]

Policy reports were updated properly:
[code]

The memory usage was between 200 Mi - 300 Mi in 5 hours.

![im

[2022-07-25 05:50] #4072 closed

[2022-07-25 05:56] realshuting commented on #4018
Confirmed the issue was fixed in the upstream repo via https://github.com/kyverno/kyverno/security/dependabot/4 and kyverno upgrades to the fixed version https://github.com/kyverno/kyverno/blob/96999f89950e0216f3a78b04ce328d6ed6f2f594/go.mod#L275.

[2022-07-25 05:56] #4018 closed

[2022-07-25 08:40] realshuting commented on #4252
@james-callahan - will 1.8.0 work for you? Otherwise we can push out this fix in 1.7.3.

[2022-07-25 08:43] realshuting commented on #4249
@guilhem - does this issue not occur without those CRDs? Since your policies mutate pods, I don't see why these CRDs slow down Kyverno.

[2022-07-25 08:45] rubroboletus commented on #3423
Tested again on currently released version 1.7.2, the image verification is now working.

[2022-07-25 08:45] #3423 closed

[2022-07-25 08:51] realshuting commented on #4254
@aslafy-z - can you provide a snippet of an example policy?

[2022-07-25 08:53] guilhem commented on #4249
Discovery on all objects and CRD have big impact on API.
At some point, it exhaust call queue.

When call is exhaust:
- controller can't update leader election, so another take back.
- webhook answer are slow.

When controller see it lose leadership, it just die (to be respawn).
But as API server is already overflow, the other have difficulties to answer webhook, making API server more in difficul

[2022-07-25 09:12] realshuting commented on #4190
I cannot reproduce this with 1.7.2. As shown in the above error log, the failure dues to the frequent updates on the webhook configs. We can recover from this failure by doing a periodic scan of the "READY=false" policies.

[2022-07-25 09:15] realshuting commented on #4249
I don't think Kyverno watches all CRDs, we do fetch all resources schemas for policy validation. @vyankyGH - what's the frequency of listing resources and updating the internal schema cache? Can you disable this?

[2022-07-25 10:38] aslafy-z commented on #4254
@realshuting I just updated OP with a snippet

[2022-07-25 11:07] guilhem commented on #4249
Right now it's 15 min with a total flush of all cache.
I'm testing a commit with disk cache and a TTL if 15 min.
It reduce the API pressure, but not enough to not break the cluster :/
This peach can be send, only problem is where to store disk cache.
Right now I'm using /tmp but it's not present in old scratch image and it's read only on distroless.
I had an emptydir for this usage

[2022-07-25 12:31] mo-saeed commented on #4257
that was my mistake. was another wrong policy existing and it caused this issue.

[2022-07-25 12:31] #4257 closed

[2022-07-25 12:46] rshiva777 opened #4264 "[Bug] Kyverno policyreport is not getting updated"
### Kyverno Version

1.7.2

### Description

Kyverno policyreport crd is not getting updated after changing/removing pods/deployments that caused for kyverno failures.

Steps:
1. Create multiple deployments on default namespace. Kyverno generate policy reports showing policy failures
2. Delete some of the deployment from default namespace. Kyverno should remove the failure pods that are removed

r

[2022-07-25 13:13] phin1x opened #4265 "[Bug] kyverno still keeps processing completed updaterequests"
### Kyverno Version

1.7.2

### Description

This is a follow up to #4152.

while testing the new version 1.7.2 with one instance (non ha) I noticed that the updaterequest processing is still not fixed but the behavior is a little different now:
- when i create a new clusterpolicy of type generate kyverno keeps processing the update requests even if they are complete and the logs if full of thousa

[2022-07-25 13:20] realshuting commented on #4264
Hi @rshiva777 - thanks for reporting the issue.

Does this issue exist in 1.7.2? And do you have the flag `--splitPolicyReport` set to true?

[2022-07-25 13:22] realshuting commented on #4254
Thank you @aslafy-z !

[2022-07-25 13:25] chipzoller commented on #3423
Closed by #4200. Adjusting milestone, adding to release notes.

[2022-07-25 13:33] chipzoller commented on #3118
Relevant info: https://github.com/kubernetes/kubernetes/issues/84530

[2022-07-25 13:34] chipzoller commented on #3118
Issue is reopened as /scale subresource is not fully supported. This is tracking for 1.8.0 release.

[2022-07-25 14:06] rshiva777 commented on #4264
@realshuting  Yes the issue exists in v1.7.2-rc1

i installed kyverno using helm chart and i dont any option "--splitPolicyReport"

[2022-07-25 17:37] chipzoller commented on #2069
Folks on this thread (@nuno-silva, @arminc, @fiunchinho, @andriktr), please try this policy (ensure you're using the current version [here](https://kyverno.io/policies/best-practices/check_deprecated_apis/check_deprecated_apis/)) with Kyverno 1.7.2 as we fixed an issue that should hopefully resolve this for good.

[2022-07-25 21:59] gautvenk commented on #3300
According to https://github.com/kyverno/kyverno/releases/tag/v1.6.2, this bug https://github.com/kyverno/kyverno/issues/3300 is fixed. But it is still open and milestone is set as `1.7.3`. Can you please confirm if the issue is still open?

[2022-07-26 03:45] james-callahan commented on #4252
I guess? I was originally hoping for 1.7.2 but missed that by an hour or so

[2022-07-26 05:52] vyankyGH commented on #4264
@rshiva777 can you please share which policy manifest which you have installed? i can see Disallow Privilege Escalation, Disallow default namespace policy.

[2022-07-26 06:36] rubroboletus opened #4266 "[Bug] strange error message when checking multiple publicKeys in verifyImages"
### Kyverno Version

1.7.2

### Description

When checking multiple keys in verifyImages, strange error message is returned in case, no signatures are found. Using the following policy:
[code]
when I try to create pod with unsigned container image
[code]
the following error is returned to kubectl:
[code]
and in kyverno log (verbosity 2) is the following:
[code]
when I leave just one key in publicK

[2022-07-26 06:52] vyankyGH commented on #4264
You can edit deployment and in kyverno container args add `--splitPolicyReport=true`

[2022-07-26 06:52] realshuting commented on #4252
Added to 1.7.3.

[2022-07-26 06:53] realshuting commented on #4264
@vyankyGH - the issue occurred without this flag. Were you able to reproduce the issue? It seems like a bug while updating reports on resource deletion.

[2022-07-26 06:58] realshuting commented on #3300
@gautvenk - do you have the same issue when using custom certificates? I believe the issue was closed due to a lack of reproducing information.

[2022-07-26 06:59] vyankyGH commented on #4264
yes, able to reproduce the issue. working on fix.

[2022-07-26 06:59] realshuting commented on #3300
@P-S-bits - thanks for the information! Would you like to contribute a fix?

[2022-07-26 07:12] phin1x commented on #4265
i think i found the cause:

the generation policy contains to rules. Kyverno generated two update requests:
[code]

but the update requests are generate the same resources:

[code]

Kyverno attaches the name of the update requests which generated the resource as a label. but since there are two update requests, the stored name changes all the time. In addition, the validation webhook retriggers th

[2022-07-26 07:13] rubroboletus opened #4267 "[Bug] count in verifyImages, attestors not working as expected"
### Kyverno Version

1.7.2

### Description

I'm trying to check, that docker image is signed with at least one key from list. For this I have created the following policy and signed docker image with one of keys on list (the second one). I expected, that the policy will allow pod creation. Pod i blocked. See the policy:
[code]
to create pod, I'm calling kubectl this way:
[code]
strange error mess

[2022-07-26 07:16] #4252 closed

[2022-07-26 07:49] realshuting commented on #4197
@prateekpandey14 - did you update the doc to capture all behaviors for a generate policy? Can you share the link?

[2022-07-26 08:01] phin1x commented on #4265
upate: when i splitted the cluster policy with two rules into two seperate cluster policies with just one rule everything works fine

[2022-07-26 08:52] rshiva777 commented on #4264
Adding logs of kyverno here:

E0726 08:46:01.952511       1 asm_amd64.s:1581] webhookMonitor "msg"="webhook check failed" "error"="webhook hasn't received requests in 5m0s, updating Kyverno to verify webhook status"  "lastRequestTimestamp"="2022-07-25T10:58:43.964660301Z" "time"="2022-07-25T10:58:43.964660301Z"
E0726 08:46:31.954478       1 asm_amd64.s:1581] webhookMonitor "msg"="webhook check fai

[2022-07-26 10:14] prateekpandey14 commented on #4265
@phin1x did you verified the delete operations as well , as described in issue description , is it working as expected ?

[2022-07-26 10:37] chetak123 commented on #4191
You can use loadbalancer type of service to expose Kyverno endpoint, an example service manifest is given below:
[code]

[2022-07-26 11:06] phin1x commented on #4265
The delete operations are working too

[2022-07-26 12:30] prateekpandey14 commented on #4265
I am not seeing 2 UR gets created, when kyverno running in HA mode with single policy having 2 rules. same as non HA mode (single replica).  Will try in other cluster as well , and see if i can reproduce it.

[2022-07-26 12:50] phin1x commented on #4265
on our small development cluster, the problem did not occur. it only started to occur when we started rolling out kyverno on our larger production clusters. i was able to reproduce the error on two different clusters. so mabye the problem depends on the api server workload.

i deployed kyverno with these options:
[code]

[2022-07-26 14:59] chipzoller commented on #4264
Do we need to prioritize this for a 1.7.3 release?

[2022-07-26 15:03] chipzoller commented on #4267
I believe you need to format them like shown in [this policy](https://github.com/kyverno/demos/blob/main/image_verification/check_multi_attestors.yaml).

[2022-07-26 15:05] chipzoller commented on #4266
Is this not a duplicate of https://github.com/kyverno/kyverno/issues/4267?

[2022-07-26 18:02] viveksahu26 commented on #4255
Hey @chipzoller , found something interesting while investing this issue.

 Basically the variable(varA.data.ValueOfB) along with value under `context.variables` section should be uploaded to the context. Since the key `varA.data.ValueOfB`  exist and it's value not found in the context, therefore throws an error.
[code]
Why it's happening inspite of providing configMap value for `varA`.
[code]
The

[2022-07-26 18:18] chipzoller commented on #4255
Keep in mind that this logic adjustment can't just apply to context variables from ConfigMaps. Context variables can come from a variety of sources including API calls and self-contained within that context. This dependency adjustment must work for ANY context variable. But where there is such a dependency, there is ordering required in the rule.

[2022-07-27 05:04] vyankyGH commented on #3525
@realshuting total 14 places kyverno using apiextensions.JSON.
https://github.com/kyverno/kyverno/blob/1712dfa9474e166d642e81789cdc58e654bd294f/api/kyverno/v1/common_types.go#L65
https://github.com/kyverno/kyverno/blob/1712dfa9474e166d642e81789cdc58e654bd294f/api/kyverno/v1/common_types.go#L75
https://github.com/kyverno/kyverno/blob/bc1b051b9042c73e25c2b4560787972c359b1c59/api/kyverno/v1/image_ver

[2022-07-27 05:07] DaytonG commented on #3580
I believe this bug causes this policy to cause issues with webhook updating: https://github.com/kyverno/policies/blob/main/best-practices/check_deprecated_apis/check_deprecated_apis.yaml

I tried deploying kyverno 1.7.2 locally using KIND+TILT (kube is "kindest/node:v1.24.0") and when I installed that particular policy, the validating webhook config got into a bad state and could never be updated.

[2022-07-27 05:25] rubroboletus commented on #4266
nope, this one is regarding the error message (no such file or directory), second one is regarding the "count" and functionality itself.

[2022-07-27 05:29] rubroboletus commented on #4267
thank you, I will try it, but in that case I think, renaming the "keys" in the structure is needed. Calling the entries "keys" and "publicKeys" when only single key can be placed there is really weird.

[2022-07-27 06:43] rubroboletus commented on #4267
Tested with that linked structure and it is just going worse. It allows me create pod from unsigned image. Policy:
[code]
output from cosign
[code]
same when I sign with key not mentioned in policy, just cosign verify is displaying another message
[code]

[2022-07-27 08:11] guilhem commented on #4249
@realshuting I think I found my problem:
https://github.com/kyverno/kyverno/blob/975a2a21fa8727b69a6b79e109e3244f7826a8e0/pkg/openapi/crdSync.go#L90

Kyverno is syncing CRD every 15s.
with multiple replicas and a lot a CRD it make pressure on API.

I disabled it totally (because I don't mutate on CRD) and everything is (almost) fine now.
[code]

[2022-07-27 08:31] realshuting commented on #4249
@guilhem - thanks for digging into the issue!

I tracked the history of the changes and looks like we reduced the period from 15min to 15s to fix https://github.com/kyverno/kyverno/pull/2634.

@vyankyGH - to fix the CRD sync issue, we can trigger a new sync and update the schemas map on:
1. Kyverno start
2. new CRDs creation
3. new policies creation

Can you draft a proposal with details?

[2022-07-27 08:45] #4190 closed

[2022-07-27 08:52] vyankyGH commented on #4249
yes. will do

[2022-07-27 17:51] kumar-mallikarjuna opened #4271 "[Feature] Enhancing Kyverno Events"
### Problem Statement

1. The Kyverno Events currently give information on the `rule violated` and the incoming resource's `kind/namespace/name` under the `message` attribute. However this data is better represented in JSON format for ease of parsing.
2. For platform admins it would help to know who is making the request that is being blocked - i.e. whether it is a legit user or not and decide if

[2022-07-27 21:21] chipzoller commented on #3580
This should have been fixed in Kyverno 1.7.2. @vyankyGH can you please follow up and check with both things, please?

[2022-07-27 21:27] r0bj commented on #3580
Just tested on 1.7.2 with the same result.

[2022-07-28 03:24] vyankyGH commented on #3580
Yes @chipzoller  I'm trying to reproduce but not able to.

[2022-07-28 03:24] vyankyGH commented on #3580
Yes @chipzoller  I'm trying to reproduce but not able to.

[2022-07-28 03:25] vyankyGH commented on #3580
Thanks for confirmation @r0bj. will take actions on this.

[2022-07-28 05:58] realshuting commented on #3580
@vyankyGH - per the above error message `Invalid value: []string{\"v1\", \"*\"}: if '*' is present, must not specify other API versions` indicates that k8s does not allow "*" to be specified in the `APIVersions` field with other versions:

[code]

[2022-07-28 06:01] #4093 closed

[2022-07-28 06:02] realshuting commented on #4044
Closed via https://github.com/kyverno/kyverno/pull/4251.

[2022-07-28 06:02] #4044 closed

[2022-07-28 10:40] mt20200 commented on #4250
Update: if I disable autogenerated rules (using the `pod-policies.kyverno.io/autogen-controllers: none` annotation, which works), the match using `names: ["foo-*"]` STILL doesn't work, and `names: ["foo*"]` also doesn't work. Am I doing something wrong?

[2022-07-28 14:21] annkam opened #4272 "[Bug] Kyverno mixes validation results of multiple policies in policy reports with splitPolicyReport=true"
### Kyverno Version

1.7.2

### Description

I have 8 policies in my cluster working in audit mode.
I have enabled splitPolicyReport option to get separate report for each policy.
Unfortunately, this new feature does not work correctly.

Example of mixed report:

[code]
I expected to see results only for the require-pod-probes policy.
require-pod-probes:
[code]
require-requests-limits:
[code]

Ano

[2022-07-29 06:52] rubroboletus commented on #4267
tested, it works

[2022-07-29 07:02] #4177 closed

[2022-07-29 09:01] rubroboletus opened #4274 "[Feature] allow kubernetes auth method for hashivault:// KMS in imageVerify"
### Problem Statement

Kyverno allows to use hashivault:// keys for image verrification, but the vault token and vault addr must be set. Why not to use vault kubernetes authentication method (https://www.vaultproject.io/docs/auth/kubernetes)?

### Solution Description

Kyverno runs inside Kubernetes, Vault supports Kubernetes authentication, why not connect this two features together for using Vau

[2022-07-29 12:24] hackerboy01 opened #4279 "[Bug] the latest Kyverno has removed references to kubeconfig as parameter, How to support running Kyverno outside of the Kubernetes？"
### Kyverno Version

1.7.2

### Description

the latest Kyverno has removed references to kubeconfig as parameter, How to support running Kyverno outside of the Kubernetes？

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this r

[2022-07-29 13:33] mo-saeed commented on #3534
@realshuting I have v1.7.2 and I still have same issue. I tried both true and false for `--autoUpdateWebhooks=false` but not working still.

[2022-07-29 13:45] mo-saeed commented on #3534
@realshuting it works in my case but when I try
[code]
I still get the results from the excluded namespaces. although I don't see the results from the namespace where kyverno installed as this `excludeKyvernoNamespace` is set true.

[2022-07-29 21:30] samueltorres opened #4280 "[Feature] Add image container registry setting on Helm Chart"
### Problem Statement

Currently I'm trying to install Kyverno on multiple clusters and in multiple clouds. I have different container registries per cloud and I'm putting the container registry URL on a ConfigMap so my GitOps tool of choice can use it to customize Helm Releases.

Currently Kyverno Helm Chart only allows to configure the `repository`, which looks like [this](https://github.com/kyv

[2022-07-30 02:45] chipzoller commented on #4279
Running Kyverno outside of a Kubernetes environment is no longer supported.

[2022-07-30 03:24] chipzoller commented on #3483
@luisdavim I am writing up an initial design proposal for this feature which we may consider for a future release. I am cursorily familiar with the features of kube-janitor but would like to ask for specific requirements you might have if we were to support this in Kyverno.

[2022-07-30 08:32] chetak123 commented on #3262
Hey @chipzoller I checked the test after defining image tag to latest and it's showing `pass` (as desired in test).
`        - image: nginx:latest
`

It's only failing when tag is not defined and the test requires to fail (but it's getting passed) that means the latest tag is not added internally to image.

I think this the root cause for the test fail (also is there any way to check for log files

[2022-07-30 10:00] chetak123 commented on #3220
Hey @oshi36 I see this issue is dormant for quite some time , I would like to take up this issue and would be helpful if you can please share any updates other than made above.
Thanks

[2022-07-30 19:46] luisdavim commented on #3483
This is great news, thanks @chipzoller. I'ts basically what I mentioned in the first message but my main use case is to be able to set either a TTL or an absolute expiry date lablel on some resources, mostly Namespaces in my case. For the TTL the controller would delete the resource if it's age (time since creation date) is longer than the duration set on the TTL. For the expiry label, it would si

[2022-08-01 06:25] jim-barber-he commented on #2267
I'm not sure if this is the same problem or not, but it does not seem to be fixed for me?

We have KEDA version 2.7.1 and Kyverno version 2.7.2 installed into our cluster.
I just tried to install a Kyverno policy to annotate a daemonset/deployment when a secret has been updated.
This is to replace a hacky CronJob that we had that was performing the task.

When using Helm to apply my changes it err

[2022-08-01 13:08] viveksahu26 commented on #4255
Hey @chipzoller , there is no such sequence user need to follow. Only thing needed to update internally in the code that  `values.yaml` file containing `configmap` values or any kind of variable-values pair on which any other variable is dependent should be loaded in the context before any other variable is loaded.

[2022-08-01 13:11] viveksahu26 commented on #4255
I have checked on changing the sequence of variables which works fine for me. If you have any special case of it, let me know. Will check it for that too.
I tested for the below sequence:
[code]

[2022-08-01 14:09] chipzoller commented on #4255
Ok, so it sounds like this is pretty straightforward.

[2022-08-01 16:19] cbandy commented on #4074
The `"msg"="a condition failed in 'all' block"` message is particularly confusing because it says "failed" even when everything passes:

[code]

These messages did not happen in v1.6.x, so I might classify it as a bug.

[code]

[2022-08-01 16:28] JimBugwadia commented on #4074
Looks like some log statement levels were inadvertently changed....this should be a minor fix. Moving back to 1.8.0.

[2022-08-01 17:22] viveksahu26 commented on #4255
/assign me.

[2022-08-02 00:58] JimBugwadia commented on #3598
@kranurag7 - try: `i := int(math.Round(a[0].(float64)))`
`

[2022-08-02 05:27] #4074 closed

[2022-08-02 12:43] pierluigilenoci opened #4287 "[Feature] Easy way to enable scanning on Kubernetes system namespaces"
### Problem Statement

Currently, Kyverno does not parse Kubernetes system namespaces by default.
To enable them you have to change the [`resourceFilters`](https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml#L238-L268) value which is an array.
To date, there is no way to enable Kyverno scan, for example in the namespace [`kube-system`](https://github.com/kyverno/kyverno/blob/ma

[2022-08-02 14:05] Nerja opened #4288 "[Bug] Adding a key to an object inside a foreach mutation does not work"
### Kyverno Version

1.7.1

### Description

I tried to create a policy where I add a key to a map[string]string object, using json patching, inside a mutate foreach. See below for the specific policy:

[code]

The policy did not work as expected in all the different cases. The key serverAddress was only added in some cases. See "steps to reproduce" to see when it does not work.

### Steps to repr

[2022-08-02 14:54] #4168 closed

[2022-08-02 21:05] viveksahu26 commented on #4255
Hey @chipzoller ,  the below test case(fig:1) fails in the cluster. whereas after making changes as  I mentioned above, the CLI passes. The concern is about failing in the cluster. It justifies that  sequence of the variables matters when the variable is dependent on other variable. The context variable(here, VarB) which is dependent on other context variable(VarA) must follow sequence. What I mea

[2022-08-02 21:13] chipzoller opened #4289 "[Bug] Initial creation of a mutate existing policy ignores exclusions"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When creating a ClusterPolicy that is a mutate existing rule which has two different exclusions, one based on Namespace and the other based on resource label selector, it seems like the label selector is ignored and those resources aren't excluded. If you make a

[2022-08-02 21:16] chipzoller commented on #4255
Yes, correct, that is the present behavior. Context variables have an ordering which must be maintained in dependency order.

[2022-08-02 21:26] viveksahu26 commented on #4255
And that what exactly not working in the CLI, which is issue all about as mention above. Earlier, I thought that dependency has to remove among Context variable, btw i was wrong.

[2022-08-02 22:50] dschunack commented on #4249
Hi,

I have a similar issue today (throttling) and the API request are very slow for reportchangerequests.kyverno.io.
Also was fine the last day, but today all kyverno PODs crashed with throttling messages. Nothing was changed, not the version of kyverno or any Policies.

At the moment we have 546986 reportchangerequests in the kyverno namespace.
Reports of the last 5 days.

[code]

I think this i

[2022-08-03 03:58] anutosh491 commented on #3222
Hello @mehabhalodiya . I see you haven't worked on this for a while , hence I thought of creating a PR for the same . Thanks !

[2022-08-03 04:24] rshiva777 commented on #4264
Any plan that when the new version is getting released?

[2022-08-03 04:47] varet80 commented on #4287
I would suggest to the team to split resource filters into:
- Kyverno (chart)
- Generic
- System (kube-system public etc)
and Give ability to users to disable some of these (like the system)

Also could be possible to introduce an extra variable which would allow to expand without removing the current ones.

Last I can submit a PR example of this suggestion

[2022-08-03 08:03] JimBugwadia commented on #3709
A problem with the second issue is that it blocks pods with images that do not match the policy rule. Even though the policy is in enforce mode, the user expectation would be that the policy only applies to matching images and not all images.

[2022-08-03 15:17] chipzoller commented on #4287
To be clear, the request here is primarily about making the Helm chart configurable with respect to resource filters?

[2022-08-03 15:36] #3222 closed

[2022-08-03 15:39] realshuting commented on #4272
@prateekpandey14 - looks like there's some mix-match here, can you investigate the issue?

[2022-08-03 15:41] realshuting commented on #4267
@rubroboletus - Are there any other fixes needed? Can we close the issue?

[2022-08-03 15:45] realshuting commented on #3534
@mo-saeed - can you share the steps to reproduce?

[2022-08-03 16:10] xairos opened #4294 "[Bug] [CLI] `kyverno test` doesn't fail when mutated YAML != `patchedResource` YAML"
### Kyverno CLI Version

1.7.2

### Description

`kyverno test` passes for a mutation when I'd expect it to fail.

I'm seeing this on the "Add Default Resources" example from the docs ([link](https://kyverno.io/policies/other/add_default_resources/add-default-resources/)) when I supply a `patchedResource` that has no changes from the input resource.

From a preliminary glance of the code, I'm thin

[2022-08-03 16:54] realshuting opened #4295 "[Feature] Performance benchmarking"
### Problem Statement

We keep getting questions of how to configure Kyverno settings, especially the memory and cpu settings, on large and active clusters.

### Solution Description

See this proposal https://docs.google.com/document/d/1zO_dryL1JH6oJ0-pIenzWw7edCzxj4ZD4go0PzzyMC8/edit?usp=sharing.

- [x] [Benchmarking stats](https://docs.google.com/document/d/1zO_dryL1JH6oJ0-pIenzWw7edCzxj4ZD4go0

[2022-08-03 17:15] kranurag7 commented on #3598
Apologies, I was busy with university exams. Thanks @JimBugwadia for the guidance.
[code]
This is what I'm testing now.
[code]
@chipzoller Can you give me some real world use case which I should try with `random` function before submitting the PR.

[2022-08-03 17:40] chipzoller commented on #3598
The filter needs to accept two parameters: length and composition. Here are some basic use cases which must be solved for:

* Create a random string 6 characters long composed of numbers
* Create a random string 12 characters long composed of lower-case letters and numbers
* Create a random string 15 characters long composed of lower-case letters, upper-case letters, and numbers

[2022-08-03 17:53] JimBugwadia commented on #3598
Rather than have one function with several options, I recommend having simpler separate functions that users can combine as they wish, as there are many variations which we will not be able to cover.

So, perhaps have separate `random_string` and `random_digits` and then let users combine and use existing upper / lower case functions.

 Thoughts?

[2022-08-03 17:58] chipzoller commented on #3598
Seems a little more complex to me than may be necessary. I was envisioning a simple way to specify both in the same filter:

[code]

First input is a number, second input is a string. You have keywords which can be comma separated which inform the function of the composition. Anything more complex than that and you can combine functions. For example a GUID where there are dash-delimited sections w

[2022-08-03 17:59] kranurag7 commented on #3598
Thanks, @chipzoller, for outlining the structure on what we want to achieve. I agree with @JimBugwadia having two separate functions, one for digits and one for strings, would make more sense. I think `random_string` is the one that will be used much.
If a user wants an alphanumeric strings, then we can use `random` for that.
To summarize
`random_string` - for strings only (uppercase & lowercase b

[2022-08-03 18:01] chipzoller commented on #3598
The complexity with having one for digits is the output type may be int versus having one function and using the built-in JMESPath filters for either `to_string()` or `to_number()` to handle that as needed in the field type.

[2022-08-03 18:03] chipzoller commented on #3598
What if I don't want (or can't use) upper-case letters? I need to be able to control the composition of that random string and having a second input parameter which accepts comma-separated values allows that flexible composition.

[2022-08-03 19:01] JimBugwadia commented on #3598
@chipzoller can you please explain what `llet,ulet,num` mean and how they should be used?

Is this a standard or an implementation you have seen in other languages?

Does it indicate the first letter is a lowercase character, the second is an uppercase character, and the third is a number? Or that these are allowed in any combination? And what about dashes, etc.

A typical requirement is for the r

[2022-08-03 19:38] chipzoller commented on #3598
Yes, as shown [here](https://github.com/kyverno/kyverno/issues/3598#issuecomment-1204296231), these are keywords which mean the following:

* `llet` == lower-case letter
* `ulet` == upper-case letter
* `num` == number

Note that these keywords are only examples. They can be set to anything.

The concept is what I have seen. I am not aware of this as a development standard anywhere, but then again

[2022-08-03 22:15] chipzoller commented on #3598
Using such flexible input parameters would allow you to solve for a bunch of valuable use cases:

## Make your own "Pod hash"

### Example: `foo-a8u03p`
[code]

## Make your own GUID

### Example: `C3BD119C-47CA-48B3-A120-00B9A51BB6CA`

[code]

## Make your own auth token

### Example: `a9Tjo7UiZ0OppN01lR4`

[code]

## Make your own license key

### Example: `AOPE-IOBJ-ZZYE-LQIB`

[code]

[2022-08-03 22:39] JimBugwadia commented on #3598
Yes, but what exactly does `llet,num` mean? Any mix of lower case letters and numbers? Any order? I feel if we want to go in this direction we are better off specifying a more precise pattern.

[2022-08-03 22:46] JimBugwadia commented on #3598
Here is an example of using a regex pattern to generate a random string:

https://pkg.go.dev/github.com/zach-klippenstein/goregen

`{{ random(`[a-z0-9]{1,64}`) }}`

[2022-08-04 01:47] chipzoller commented on #3598
Yes, exactly. Because in random generation you typically don't care about a high degree of control unless you get into patterns, and with this type of flexibility and and what we can already do, as I've shown the patterns are straightforward.

This seems like it would work and is pretty close to what I had suggested, just uses regex instead which provides more power. As long as the functional requ

[2022-08-04 05:02] rubroboletus commented on #4267
Functionality is good, maybe better documentation will help, including renaming "keys" and "publicKeys" to "key" and "publicKey".

[2022-08-04 05:06] JimBugwadia commented on #4267
@rubroboletus - the intent was to support multiple PEM delimited keys. This seems to be broken. We will investigate and fix.

[2022-08-04 05:21] rurikudo commented on #4149
@JimBugwadia I think the PR #4235 covers the planned tasks.
- Implement validate.manifest rule for webhook
- Add unit / e2e tests for resources
- Implement validate.manifest rule for CLI

Could you please review the PR #4235 and mark the above tasks if OK. Thank you.

[2022-08-04 07:24] pierluigilenoci commented on #4287
@chipzoller exactly.
My primary focus was the selection/exclusion of system namespaces.
But obviously, if the rest of the resource filter options are configurable too much better. 😄

[2022-08-04 12:49] chipzoller commented on #4298
@franroa I've transferred the issue to kyverno/kyverno since this is not a documentation issue.

Kyverno does support generating custom resources, but you must grant the ServiceAccount additional permissions to do so. This is covered in the documentation on the [generate](https://kyverno.io/docs/writing-policies/generate/) page and [troubleshooting](https://kyverno.io/docs/writing-policies/generat

[2022-08-04 12:49] #4298 closed

[2022-08-04 13:00] chipzoller commented on #3534
Linking to discussion: https://github.com/kyverno/kyverno/discussions/4293

[2022-08-04 13:03] chipzoller commented on #3534
The original issue here has been resolved and namespaceSelector IS properly populated when the `webhook` key has been populated in the Kyverno ConfigMap. I am therefore closing this issue. Feel free to continue to discuss, but for other things please open a new issue.

[2022-08-04 13:05] treydock commented on #4287
Just so I understand the issue it would be ideal to have something like this:

[code]

That would remove the entry `[*,kube-system,*]` from the resourceFilters.

Does that sound like what you are looking for?

[2022-08-04 13:06] chipzoller commented on #4264
No release date is set.

[2022-08-04 14:19] pierluigilenoci commented on #4287
@treydock if in that array you intend to put all the namespaces to be excluded and to activate them just remove them then yes, that's what I'm looking for. ❤️

[2022-08-04 15:22] treydock commented on #4287
@pierluigilenoci See #4299 for solution to make this possible.

[2022-08-04 15:49] flyingsaucerer commented on #1334
I think that @chipzoller has very succinctly identified the problem in this one line

Users what to be able to troubleshoot and debug issues themselves and having to resort to Slack or Github issues every time is just not feasible. Furthermore having debug capabilities helps one understand the tool (Kyverno) even better.

[2022-08-04 18:37] JimBugwadia commented on #2582
@Prateeknandle @realshuting - can we close this issue?

[2022-08-04 18:43] JimBugwadia commented on #4181
@anutosh491 - any progress on this? Do you need any assistance?

[2022-08-04 19:24] Prateeknandle commented on #2582
no, actuallly those prs where incomplete, as soon as i get time I'll start working on it

[2022-08-04 20:44] sayantani11 commented on #4254
Can I be assigned this issue?

[2022-08-04 20:47] sayantani11 commented on #2394
Can I try this?

[2022-08-04 21:22] alexmt commented on #4265
We are seeing the same behavior in a relatively small cluster (50 nodes, 3 policies). Kyevno keeps processing update requests for a policy with one "generate" rule with `synchronize: true` . The same update requests keep flipping between Pending and Completed status.

I've noticed that after changing `synchronize` to false new update requests stays in Completed phase (old ones keep flipping). We a

[2022-08-04 21:23] JimBugwadia commented on #4265
@alexmt - are you using 1.7.2 as well?

[2022-08-04 21:26] alexmt commented on #4265
@JimBugwadia , correct - I'm using 1.7.2

[2022-08-05 04:52] anutosh491 commented on #4181
Oops , I had forgotten about this . After assigning myself on this I worked on 6- 7 other issues and ended up closing 4 of those .... will get back to this soon !

Yeah like I remember while trying to decipher the problem statement , I wasn't fully sure regarding what's going wrong and what we need to improve upon . Would be glad if you could let me know what would be a place to get started for ad

[2022-08-05 05:07] prateekpandey14 commented on #4265
@alexmt can you share some more details about the configuration:

- Are you seeing 2 UR get created for same generated policy ( As discussion above in the thread)
- Kyverno running HA mode or single replica

[2022-08-05 05:10] JimBugwadia commented on #4181
@anutosh491 - the request is to move most logs at the `log.Info()` level to `log.V(1).Info` (or higher) so that they can be turned off by setting `-v 0`.  This should be done for logs that print during rule execution and for any periodic tasks.  It may be OK to leave a few log items as `log.Info()` like the ones that print when the process is initialized.

[2022-08-05 07:22] pierluigilenoci commented on #4287
@treydock I looked at the PR. It is quite counterintuitive but it should work. 😆

[2022-08-05 07:30] eddycharly commented on #4287
This leads to a complication in maintaining the configuration.

Why is this a problem to provide your own values there ?

[2022-08-05 07:35] eddycharly commented on #4287
I feel like users should know about resource filters, they should use default ones or provide their own.

Making something more complicated could potentially be hard to understand and confusing no ?

[2022-08-05 09:54] pierluigilenoci commented on #4287
@eddycharly the configuration of `resourceFilters` is quite complex and difficult to maintain.
I understand that it serves to keep the filter more powerful but is a deterrent.

The default configuration is valid for most cases. It makes no sense to change it for just one configuration,
especially for such a trivial configuration as it should be to choose which namespaces to run the Kyverno scan in

[2022-08-05 11:57] eddycharly commented on #4287
In my opinion, the configuration is clearly documented and easy to understand, and the default values were carefully designed to prevent cluster disruption.

Of course some users will want to manage the configuration themselves so we provided a way to do so.

It's not as simple as excluding namespaces, the resource filters support other criterias. In this sense, using an array of namespaces would

[2022-08-05 13:12] zswanson opened #4301 "[Feature] configuration option for default registry domain"
### Problem Statement

Kyverno automatically mutates incoming pods to prefix `docker.io` if a container does not specify a registry. This behavior is not toggle-able nor configurable. We have a use case where, due to some legacy on-premise configurations, many thousands of applications do *not* specify the registry and a containerd configuration overrides 'docker.io' to our internal registry inste

[2022-08-05 13:29] chipzoller opened #4302 "[Bug] Pre-defined principal and role variables are not substituted"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

At least one (`request.roles`) and assumed to be other [pre-built variables](https://kyverno.io/docs/writing-policies/variables/#pre-defined-variables) dealing with principals or roles are not being substituted any longer. This was tested in a rule body but assu

[2022-08-05 13:30] damienleger commented on #4272
Hello. I think I have the same problem. I didn't check the report content but after the logs, namespaces got mixed together. 😕
[code]

[2022-08-05 22:45] alexmt commented on #4265
@prateekpandey14 thank you for looking into it!

Yes, but only for "old" update requests. We use generate policy to inject a secret into namespaces. After upgrading from 1.6 to 1.7 all existing namespaces got a second update request. New namespaces have only one update request.

HA mode

[2022-08-06 17:50] rgeraskin opened #4304 "[Bug] Policy preconditions are ignored"
### Kyverno Version

1.7.2

### Description

Kyverno version 1.7.2 and 1.7.1 ignores preconditions for the following policy and validates following Deployment resource that should not be validated.

Kyverno 1.6.3 respects precondition so following Deployment is skipped.

[code]

[code]

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentati

[2022-08-06 19:07] viveksahu26 commented on #4302
Hey @chipzoller , I think this would be export value of CA, `export CA=chip.crt` instead of ca.crt.

[2022-08-06 20:02] viveksahu26 commented on #4302
Oh, the value of CA will be as it is. Btw I trapped into misconception as above it is not mention about how to create `ca.crt` . I initially thought it may typo mistake. But In exactly it's a self generated ca present inside  `/etc/kubernetes/pki/ca.crt`  in control-plane container in case you are running k8s in kind.

[2022-08-06 20:04] chipzoller commented on #4302
@viveksahu26, no, the value of `CA` is the certificate authority's TLS certificate used to sign the leafs. You can pull this from your `kubeconfig` if it contains an entry for the cluster to which you want to authenticate:

[code]

[2022-08-07 16:34] rgeraskin opened #4305 "[Feature] Easy way to get resource name in policy"
### Problem Statement

Now to get resource name we need to use `{{ request.object.metadata.name }}`. Moreover, to avoid auto-gen related side effects we should use `{{ request."object".metadata.name }}`. It is not so obvious and handy imo.

### Solution Description

We already can use `{{ request.namespace }}` for namespace. So why not to implement something like `{{ request.name }}` for name?

##

[2022-08-07 17:03] chipzoller commented on #4305
`request.name` is not part of the AdmissionReview resource and so Kyverno would have to derive it from that payload. Problem with that is making a guess and being wrong. Also, the method of quoting `object` is not a use case for getting the name. It's only intended to be used when gathering labels or annotations.

[2022-08-07 17:18] rgeraskin opened #4306 "Auto-Gen skips generating rules on kinds in exclude, not skips on names"
### Kyverno Version

1.7.2

### Description

Documentation [states](https://kyverno.io/docs/writing-policies/autogen/):

But if I apply following policy
[code]

I get in-cluster policy without auto-gen rules:
[code]

At first I thought it's because of `names` field. But without `names` I got the same behavior. I tried commenting `kinds`
[code]

And without kinds `auto-gen` succeeded.
[code]

Is it

[2022-08-07 17:25] chipzoller commented on #4306
You have a kind mismatch. You're matching on Pods but excluding Deployments. Autogen works when only Pods are specified.

[2022-08-07 17:37] rgeraskin commented on #4305
@chipzoller thank you for the aswer. Are you talking about [this](https://github.com/kubernetes/api/blob/master/admission/v1beta1/types.go#L92) AdmissionReview resource? Seems like AdmissionRequest has Name attribute. Of course I could be wrong.

Also could you kindly give an advice about the right way on how can I get parent resource name dealing with auto-generated policies? E.g., deployment nam

[2022-08-07 17:47] rgeraskin commented on #4306
@chipzoller the idea was to include Deployment in the initial policy to get Deployment with concrete name exclusion in auto-gen rules. Now I can see that it's kind a prohibited way of auto-gen configuring. So I should give a chance to preconditions to achieve my idea.

Anyway, it's not clear from the doc that name could be used in `exclude` without auto-gen affecting.

[2022-08-07 18:09] chipzoller commented on #4306
Yes, you are right. We need an additional sentence that states, "Additionally, auto-generation of rules is skipped if the `match` and `exclude` blocks including additional resource types other than Pod." I will make sure this gets added.

[2022-08-07 18:09] #4306 closed

[2022-08-07 18:14] chipzoller commented on #4305
You are correct that `request.name` does exist. It would probably be ok to use this field, however in some circumstances (I do not know which) it may not align with `request.object.metadata.name`. It's safest to use the latter when referring to a resource name because that field points to it in the actual object representation.

[2022-08-07 18:51] rgeraskin commented on #4305
Thanks, I've got it. So it's better to use `request.object.metadata.name`.

But what should I do if I want to deal with auto-generated policies? E.g, if I want to get the name of a resource that controls pods (deployment, statefulset, etc). Is it safe to use quoted `object` than?

[2022-08-07 20:59] chipzoller commented on #4305
It may just be better to disable auto-gen for that specific rule and write another rule that matches on the exact Pod controller that you want so you can be selective about the behavior that you want without resorting to "tricks" like that.

[2022-08-07 21:37] chipzoller commented on #4304
This has been fixed in `main` and should be incorporated in 1.7.3 or 1.8.0.

[2022-08-07 21:37] #4304 closed

[2022-08-07 21:50] chipzoller commented on #4304
Here's also another way to write this rule without using preconditions. It won't change the result, but it may be nicer to read.

[code]

[2022-08-08 07:13] realshuting commented on #2394
Hi @sayantani11 - thanks for the interest. Now Helm charts are published automatically on new tags, and to complete the release automation, we will need to automate the tag replacements and send the PR.

[2022-08-08 07:16] realshuting opened #4307 "Revert `--kubeconfig` removal changes"
Hi @hackerboy01 - As we continue our discussion in this thread, will it work for you as a temporary workaround if we revert these two changes and add back the `kubeconfig` flag?

https://github.com/kyverno/kyverno/pull/3744
https://github.com/kyverno/kyverno/pull/3802

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/discussions/4282#discussioncomment-3322366_

[2022-08-08 08:51] chetak123 commented on #4307
/assign

[2022-08-08 12:08] chipzoller commented on #2823
The first of this process was implemented in release notes for 1.7.2. Will continue to refine and move this forward. Closing for now.

[2022-08-08 12:08] #2823 closed

[2022-08-08 12:12] chipzoller commented on #4066
Bump @mikhailadvani more information needed.

[2022-08-08 12:18] #4305 closed

[2022-08-08 13:10] dschunack commented on #2608
Hi,

I have the same Problem with a exclude. I want to exclude all Namespaces that are not labeled with "managed".
We test a lot of different exclude statement but no one is working. We want to use the exclude later in the kyverno-policy helm chart with the option "policyExclude". At the moment there is no possibility to add additional code or to modify the "match" section in the helm chart.

[cod

[2022-08-08 13:17] aofekiko opened #4311 "[Bug] Resources in the helm chart's aggregateroles.yaml should be plural"
### Kyverno Version

1.7.2

### Description

The resource names in lines 35-36 in [charts/kyverno/templates/aggregateroles.yaml ](https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/aggregateroles.yaml) should be plural for the role to work as expected.

Should be:
[code]
instead of:
[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed

[2022-08-08 13:54] #4311 closed

[2022-08-08 14:13] aslafy-z commented on #3118
We would love Kyverno to handle these requests and assign them to Deployment or StatefulSet objects.
We're currently designing a scale-to-zero-on-non-business-hours that scales to 0 on the evening and scales back to the *original* number of replicas on the morning. In order to *save* the replicas count, we'd like to mutate the original object (Deployment and StatefulSet) by adding a `original-repl

[2022-08-08 14:17] agnewp commented on #4289
i see it like this, i know the match exclusions see to apply only to the thing that matched and NOT the mutation targets. What is missing is the mutation target stuff is not very sophisticated and has only simply matching. would be nice to add explicit exclusions and inclusions to the target syntax perhaps. OR i am wrong and it can all be handled by some precondition thing....

[2022-08-08 14:39] agnewp commented on #4289
one idea i would have is to apply the exact same syntax for matching and exclusion of the trigger rules inside the list of targets. the targets themselves are essentially a simplified version of matching as it is.

[2022-08-08 15:34] vgokul984 commented on #4289
@agnewp  If we use match labels on the target, it will skip only if there is a label in the namespaces. It would be good to have both the namespace and the match label.

For example, if a project team wants to exclude all the deployments in a namespace, we can use exclude in the rule with namespace so the mutated target will skip those namespaces. If we have a second rule in the same policy to ski

[2022-08-08 16:21] grzesuav opened #4313 "[Feature] Support for /eviction subresource for Pod in validation/mutation/generation policies"
### Problem Statement

Currently `/eviction` subresource is not supported.

### Solution Description

Add a support for `/eviction` subresource that it can be used in validation/mutation/generation policies

### Alternatives

n/a

### Additional Context

Similar to :
* https://github.com/kyverno/kyverno/issues/2843

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p16599617268

[2022-08-08 17:07] ojhaarjun1 opened #4314 "[Bug] Kyverno Events Include Status Twice Over for Errors"
### Kyverno Version

1.7.2

### Description

Currently, the Kyverno Events add `status` twice to the `message` in-case of `RuleStatusError`. See lines `33` & `39` [here](https://github.com/kyverno/kyverno/blob/66c3b3b8d0eefaa7bb506af48a929149aae54382/pkg/event/events.go#L33-L40).

[code]

cc - @prateekpandey14

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followe

[2022-08-08 19:28] chipzoller opened #4316 "[Bug] Warning printed with global anchor mismatch"
### Kyverno Version

1.7.2

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Using the `latest` tag, after PR #4183 was introduced, creating a resource in which there is a global anchor mismatch throws a warning similar to "Warning: policy any-all-preconditions.any-all-rule: global anchor mismatch: resource value 'busyboxXX' does not m

[2022-08-09 04:53] #4314 closed

[2022-08-09 05:48] #4255 closed

[2022-08-09 12:09] chipzoller commented on #2608
@dschunack the operator `NotAnyIn` is not a valid operator for matchExpressions. Change this to `NotIn`.

[2022-08-09 12:58] dschunack commented on #2608
@chipzoller NotIn is marked as [deprecated](https://kyverno.io/docs/writing-policies/preconditions/#operators) and I read its recommended to use AnyNotIn or AllNotIn instead.

[2022-08-09 13:00] chipzoller commented on #2608
I have followed the steps outlined by @dkulchinsky in the first post and I cannot reproduce this issue, either with a validate or a mutate rule, on the latest code in `main` as of now. The use of `namespaceSelector.matchExpressions` works as intended in an exclude block.

1. Apply this policy
[code]

2. Create four Namespaces to test every permutation of the label inclusion/exclusion
[code]
3. Use

[2022-08-09 13:00] #2608 closed

[2022-08-09 13:21] adabuleanu opened #4317 "[Feature] Ability to install namespaced Policy resources from kyverno-policies chart"
### Problem Statement

The current kyverno-policies chart installs ClusterPolicy resources which apply to the entire cluster.
I want to be able to use the chart to install the same policies but in a specific namespace (Policy resource).
The reason is that not all charts inside my cluster can implement PSS standards, so I need to add exceptions. This feature request https://github.com/kyverno/kyver

[2022-08-09 14:15] gabricar commented on #4110
Any updates on this? I'm having the same issue

[2022-08-09 15:16] 4molybdenum2 opened #4318 "[Feature] Test Coverage for metrics package"
### Problem Statement

Currently we don't have any test coverage for the metrics package.

### Solution Description

We can replicate something like this
https://github.com/cert-manager/cert-manager/blob/master/pkg/metrics/certificates_test.go to add test coverage (although the tests should be Opentelemetry specific...)

### Alternatives

_No response_

### Additional Context

_No response_

### S

[2022-08-09 17:52] twstewart42 opened #4319 "[Feature] Support FailurePolicy in Helm charts"
### Problem Statement

Helm charts for kyverno-policy do not provide options to set [failurePolicy ](https://kyverno.io/docs/writing-policies/policy-settings/)

### Solution Description

setting has two options 'fail' and 'ignore'. This setting can be set the same way as `validationFailureAction` but for `failurePolicy` in values.yaml.

### Alternatives

_No response_

### Additional Context

_No

[2022-08-09 18:12] FrancoisPoinsot opened #4320 "[Bug] kyverno_admission_review_duration_seconds is up to 1s longer than it should be"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Validate

### Description

I am comparing the value of 2 metrics: kyverno_admission_review_duration_seconds and kyverno_policy_execution_duration_seconds

I read ~500ms for kyverno_admission_review_duration_seconds  and ~5ms for kyverno_policy_execution_duration_seconds
I only have 2 si

[2022-08-09 19:15] pcgeek86 opened #4322 "[Feature] Add Kyverno CLI to Scoop package manager"
### Problem Statement

- The Kyverno CLI tool is used by developers to apply and test Kyverno policies.
- Installing and updating the Kyverno CLI tool can be simplified by using package managers
- The [Scoop package manager](https://github.com/ScoopInstaller/Scoop) for Windows is well-maintained and has 16k GitHub Stars
- The Kyverno CLI tool is not currently available to install and upgrade via S

[2022-08-09 19:32] brandtkeller commented on #4070
Discussed at the last Kyverno Contributors meeting:

Due to uncertainty around leader-election w/ an even-number of replicas and general lack of multi-replica testing at this point in time, we have decided to not implement HPA orchestration.

@chipzoller @JimBugwadia @realshuting Were there any additional notes to make here? Can we capture _when_ or _what_ needs to happen in order for HPA logic to

[2022-08-09 23:01] kajogo777 opened #4324 "[Bug] PolicyReport/ClusterPolicyReport CRDs do not support "critical" and "info" severity"
### Kyverno Version

1.7.1

### Description

expected kyverno chart CRDs PolicyReport and ClusterPolicyReport to support all severity values defined in
https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report/crd/v1alpha2

`critical`, `high`, `low`, `medium` and `info`

but kyverno policy report CRDs only support `high`, `medium` and `low`

I stumbled upon this while tryin

[2022-08-10 03:28] realshuting commented on #4070
We are working on publishing the [performance benchmarking](https://github.com/kyverno/kyverno/issues/4295) for Kyverno in 1.8.0. We can follow the same process to cover multi-replica testing. We can revisit the HPA implementation once we get to understand more about the leader-election and the related schemes.

[2022-08-10 06:50] dschunack commented on #2608
@chipzoller Thanks for this hint, it was a miss interpretation on my side. Its working now.

[2022-08-10 08:05] demikl opened #4325 "[Bug] Generate policy cannot create UpdateRequest because matched object has colon in its name"
### Kyverno Version

1.7.2

### Description

With a Generate rule that match a ClusterRoleBinding having colon in its name, Kyverno can't create an UpdateRequest because it would have a label with an invalid value :

In that example, the rule has matched a ClusterRoleBinding named `crossplane:provider:provider-aws-808bafe360d1:system`

### Slack discussion

_No response_

### Troubleshooting

- [X

[2022-08-10 08:08] demikl commented on #4325
This is the rule that I use :

[code]

[2022-08-10 08:10] demikl commented on #4325
I suspect the error comes from the label `kyverno.io/generated-by-name` that would have a value of `crossplane:provider:provider-aws-808bafe360d1:system`

[2022-08-10 11:24] aslafy-z commented on #4187
I guess this issue can be closed?

[2022-08-10 11:29] chipzoller commented on #4187
Closing as this is a non-issue.

[2022-08-10 11:29] #4187 closed

[2022-08-10 11:48] aslafy-z commented on #4265
I seen the same issue in my setup, using 1.7.2 and HA mode.

2 pending UR exists for the same policy, same rule, same namespace.
[code]

All my policies are in `ready: false` state.

[code]

For some reason, after deleting the policy, restarting kyverno and re-adding of this policy fixes the issue. There is no more duplicates. All policies are back in a Ready state.

However I still see lot of `Op

[2022-08-10 11:59] chipzoller commented on #4325
Thanks for opening. This is something we need to fix.

[2022-08-10 12:01] chipzoller commented on #4070
We also need to determine which metrics are missing which are needed to give us the data to make such decisions and then a plan to implement said metrics.

[2022-08-10 12:09] chipzoller commented on #3598
@kranurag7 would you like to continue with this issue and implement changes as discussed? If not, this will be released to Linux Foundation mentee applicants for the Fall 2022 term.

[2022-08-10 12:32] aofekiko commented on #4187
My example and suggested solution may not be perfect but I still think that implementing [objectSelector](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector) and [namespaceSelector](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector) may still add value

[2022-08-10 12:32] kranurag7 commented on #3598
@chipzoller I was about to discuss this issue in today's meeting, but if you want, you can mark this for issue for mentorship.

[2022-08-10 12:40] chipzoller commented on #3598
Yes, please raise in the contributors' meeting today and add to the [schedule](https://docs.google.com/document/d/1kFd4fpAoHS56mRHr73AZp9wknk1Ehy_hTB_KA7gJuy0/edit).

[2022-08-10 12:42] chipzoller commented on #4187
Using configuration options like object and namespace selector only make sense if all rules across all policies use similar matching logic which we never see.

[2022-08-10 12:52] chipzoller commented on #2796
This might already be addressed. An additional [PR](https://github.com/kyverno/kyverno/pull/4139) included in 1.7.2 should further eliminate external metrics issues when empty.

[2022-08-10 13:56] realshuting commented on #4070
Right, as listed in the above doc, the key factors that could impact the performance are:

1. ARPS - admission requests per second
2. QPS - queries per second that are sent from the Kyverno to the API server
3. the number of policies

I'm working on publishing the first two metrics, once the metrics are in place, we can move to the testing and collect resource consumption.

[2022-08-10 14:07] rgeraskin opened #4326 "[BUG] Conditional Anchor does not work"
### Kyverno Version

1.7.2

### Description

Policy from the [documentation](https://kyverno.io/docs/writing-policies/validate/#anchors-and-child-elements-conditional-and-equality):
[code]

Pod
[code]

There are no volumes in the pod spec so Kyverno should not validate `allow-docker` label according to the documentation.
But I get this error on the pod manifest apply:

[code]

Also see #715, alomo

[2022-08-10 14:22] chipzoller opened #4327 "[Feature] Preconditions support in mutate existing rules"
### Problem Statement

Mutation for existing resources was introduced in 1.7.0 with no ability to apply finer-grained controls over the target resources (existing resources) to be mutated. Part of the plan was always to implement preconditions to complete this feature.

### Solution Description

Minimally, implement preconditions for target resources in order to be selective about which existing r

[2022-08-10 14:37] JimBugwadia commented on #3411
Here is a reference to how Kubernetes handles structured logs:

https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/

[2022-08-10 14:49] chipzoller commented on #4326
Confirmed that the docs sample does not work in 1.7.2. I'm not able to figure out how to modify it even when using the newer global anchor to get it to work.

@realshuting can you help look into this and see where the breakdown is and if we need to modify the docs to address or if there is a code problem here?

[2022-08-10 21:19] sthomson-wyn opened #4329 "[Bug] Admission webhook prevents preconditions using {{serviceAccountName}} variable"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description

When attempting to apply https://github.com/kyverno/policies/blob/124f7a79a5c04276d5313e00793e04b83637c5e4/other/check_serviceaccount/check_serviceaccount.yaml

Output is:

`Error from server: error when creating "check_serviceaccount.yaml": admission webhook

[2022-08-10 22:16] chipzoller commented on #4329
I cannot reproduce the error you get upon policy creation. I tried both with the policy verbatim and a minor modification to the `match` block to use more recent `any`|`all` blocks. Neither produced a failure.

[code]

[2022-08-10 22:19] sthomson-wyn commented on #4329
If it makes a difference, kyverno is installed via helm 2.5.2

I'll continue trying to get you a repro

[2022-08-10 22:27] sthomson-wyn commented on #4329
Oh it's because I set background to true... duh

my bad

[2022-08-10 22:27] #4329 closed

[2022-08-11 08:38] realshuting commented on #4072
Thanks for confirming @Havnevej ! Glad it solved your issue.

[2022-08-11 12:08] yimikao commented on #3411
Hi @JimBugwadia  do you mean the k8s `--logging-format=json flag` works directly for kyverno too?

[2022-08-11 14:37] JimBugwadia commented on #3411
Hi @yimikao - Kyverno uses the same logger, hence we should be able to enable similar options. There will likely need to be some changes made to enable the required options.

[2022-08-11 15:43] chipzoller opened #4330 "[Bug] GCPKMS verification throws `unrecognized scheme: gcpkms://`"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

Attempting to verify an image signed with a GCP KMS key fails with a similar error as below

[code]

### Steps to reproduce

1. Create a GCP KMS key with purpose `ASYMMETRIC_SIGN` and the algorithm `EC_SIGN_P256_SHA256`
2. Sign the image using Cosign (both

[2022-08-11 21:50] kranurag7 commented on #3598
Hey @chipzoller, I have looked into the [package](https://pkg.go.dev/github.com/zach-klippenstein/goregen) that was discussed in the meeting. I have decided to go ahead with using the that package, The function is working fine but i have noticed one thing that users needs to write the regex pattern correctly otherwise it will throw an error. Means the user needs to know regex very well.

- Make yo

[2022-08-11 22:01] kranurag7 commented on #3598
I have tested the following cases and I want some feedback on this.
[code]
The above example is working fine but when I tested the same with the policy [add_labels](https://kyverno.io/policies/other/add_labels/add_labels/) then it's appending the labels to the Kubernetes resource.
Here is the manifest which I'm trying
[code]
After applying this & then creating namespace, I'm checking the labels of

[2022-08-11 22:13] chipzoller commented on #3598
The syntax looks right. Simplify the policy though, and check the logs for errors.

[code]

[2022-08-11 22:16] chipzoller commented on #3598
That's expected. We'll make sure to document this on the [JMESPath page](https://main.kyverno.io/docs/writing-policies/jmespath/#custom-filters) as we have done other custom filters. But the code must still gracefully handle errors and invalid/missing inputs.

[2022-08-12 01:50] chipzoller commented on #3598
Also, as part of a PR which implements this, kindly request the `jp` command output to include this along with other custom filters.

[2022-08-12 05:10] venkat-kayo opened #4332 "[Bug] Unauthorized error occurs during initialization"
### Kyverno Version

1.6.0

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

Keep seeing these Unauthorized errors for leaderelection once in a while , however haven't observed functionality issues so far.  No insight into why the Unauthorization errors for leaderelection are seen

Have redacted the pod names in the logs attached

### St

[2022-08-12 08:10] realshuting commented on #3465
Hi @caiobegotti - sorry for the late response! We are also trying to collect the same rate metrics for [Kyverno performance benchmarking](https://github.com/kyverno/kyverno/issues/4295).

Do you have any data that you could share with us?

[2022-08-12 08:15] realshuting commented on #4332
@venkat-kayo - it looks like Kyverno was installed in `kube-system` namespace.

How was kyverno deployed? Via Helm Chart?

You may want to check if all RBAC resources were also installed in the same namepsace.

[2022-08-12 08:28] realshuting commented on #4187
@aofekiko - the `namespaceSelector` of the webhookconfigurations can be specified as documented [here](https://kyverno.io/docs/installation/#namespace-selectors).

[2022-08-12 08:35] realshuting commented on #4324
Hi @kajogo777 - thanks for bringing this up!

Yes I think we need to sync both CRDs that are defined in WG-policy. PR is welcome!

cc @fjogeleit

[2022-08-12 08:38] realshuting commented on #4319
Closed via https://github.com/kyverno/kyverno/pull/4323.

[2022-08-12 08:38] #4319 closed

[2022-08-12 08:42] realshuting commented on #4289
Related to #4046.

[2022-08-12 08:49] realshuting commented on #4305
When Kubernetes create child resources that are managed by their parents (i.e., deployment -> replicaset -> pod), the first CREATE event for the pod doesn't have the full name, only the generated name (i.e., <deployment name>-<replicaset name>-<hash>).  I have not verified the actual behavior but `request.name` and `request.object.metadata.name` could be different in such cases.

[2022-08-12 09:06] fjogeleit commented on #4324
Hey, I will have a look on it and create a PR for it. You can assign me to this issue.

[2022-08-12 09:12] realshuting commented on #4324
Thanks Frank, assigned!

[2022-08-12 09:36] #4287 closed

[2022-08-12 09:57] realshuting commented on #4326
I confirm that the issue exists on the latest main (1.8-dev) branch.

It seems like it fails the check if the value cannot be found in the resource, while such failures for the conditional anchor (possibly other types of anchors) need to be ignored.
[code]

Will a policy with `preconditions` defined work as an alternative?

[2022-08-12 10:06] #4266 closed

[2022-08-12 10:06] #4267 closed

[2022-08-12 10:24] kranurag7 commented on #3598
Hey @chipzoller This is the error message I'm getting when I'm checking the logs.

[code]

---

I have included this in the list.
[code]

---

Regarding the pattern, I'm not handling the error. It's there in the [package](https://pkg.go.dev/github.com/zach-klippenstein/goregen). The signature of the [function](https://pkg.go.dev/github.com/zach-klippenstein/goregen@v0.0.0-20160303162051-795b5e3961

[2022-08-12 12:04] chipzoller commented on #3598
In your policy try `random: "foo-{{ random('[a-z0-9]{10}') }}"`

[2022-08-12 12:06] chipzoller commented on #4326
@realshuting yes, a rule with preconditions would work and I can help with that, but I want to understand why this isn't working when it used to. What's needed to resolve?

[2022-08-12 12:15] chipzoller commented on #4332
Kyverno must not be installed in the `kube-system` Namespace. You must install it in a separate Namespace.

[2022-08-12 12:20] kranurag7 commented on #3598
I'm getting the same error again on this policy.
[code]
**Logs**
[code]

[2022-08-12 12:24] chipzoller commented on #3598
@realshuting why is Anurag getting this error?

[2022-08-12 15:34] demikl commented on #4316
I would like to add that, if the rule has `validationFailureAction: enforce`, then the validation webhook will deny the request. This is in contradiction with the documentation that says about global anchors:

[code]

[2022-08-12 19:56] chipzoller opened #4334 "[Bug] All keys in `publicKeys` are not looped over"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

In a verifyImages rule which uses `attestors.entries.keys.publicKeys` which contains multiple public keys, Kyverno does not loop over all the keys in order to determine the count. If the first key does not match, it will fail validation without proceeding

[2022-08-12 19:59] JimBugwadia commented on #4334
@chipzoller see https://github.com/kyverno/kyverno/pull/4331

[2022-08-12 20:06] chipzoller commented on #4334
Confirmed fixed by #4331. Closing as complete.

[2022-08-12 20:06] #4334 closed

[2022-08-13 13:40] chipzoller opened #4335 "[Feature] Disable/deactivate a policy or rule"
### Problem Statement

Today in Kyverno, the only way to completely "turn off" a policy/rule is to remove it from the cluster; setting a validate rule to `audit` still means it runs just in a non-blocking fashion. This is a potential problem because the policy/rule can be defective, perform excessive processing, or otherwise may just not be wanted at a given time.

### Solution Description

Introd

[2022-08-14 00:55] chipzoller opened #4336 "[Feature] New "group_by" JMESPath filter"
### Problem Statement

In the upstream JMESPath library, there is currently not a way to take, for example, a list of Pods in a Kubernetes cluster and return an array of node names where the sum of Pods on that node is greater than a given threshold. There are a few identified use cases for such a filter, for example the ability to to cordon a node if the Pod count is at or above a certain number.

[2022-08-14 01:03] chipzoller commented on #4336
cc @realshuting: In order for such a filter to solve the original use case, we will either need to implement `foreach` for mutate existing or allow implicit looping if the `name` field contains an array/string.

[2022-08-14 11:46] abs007 commented on #4301
I'd like this issue to be assigned to me, thanks.

[2022-08-14 13:27] chipzoller opened #4337 "[Feature] Flag to remove color from `test` output"
### Problem Statement

`kyverno test` always outputs colorized output making it slightly cumbersome to remove the ANSI color codes for automation.

### Solution Description

Create a flag that, when passed to `kyverno test`, will remove any colorization from the output.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X]

[2022-08-14 13:37] chetak123 commented on #4337
I would like to take up this issue please.

[2022-08-14 15:06] chipzoller opened #4338 "[Feature] Add `kyverno apply` example to test folder of resources"
### Problem Statement

Current output of the `kyverno apply` command does not show how to apply a policy/policies to a folder of resources.

### Solution Description

Add the following so it appears in a `kyverno apply -h` command output:

[code]

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followe

[2022-08-14 15:22] kranurag7 commented on #4338
@chipzoller I would love to work on this issue.

[2022-08-14 17:01] haru-02 commented on #3613
I would like to take up this issue, can you please assign it to me ?

[2022-08-14 21:03] chipzoller opened #4339 "[Bug] Auto-generation skipped for `name` but active for `names`"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Auto-generation of rules is skipped if `match`/`exclude` contains `resources[].name` (a deprecated field) but not `resources[].names[]`.

### Steps to reproduce

1. Create a policy that matches on Pods and contains `resources[].name`.
2. See auto-gen does not

[2022-08-15 00:13] chipzoller opened #4340 "[Bug] No admin-aggregated ClusterRole with UpdateRequest permissions"
### Kyverno Version

Main

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

N/A

### Description

In `main`, there is no ClusterRole which aggregates to `admin` (these are prefaced with `admin-` in the ClusterRole name) that grants permissions to the new UpdateRequest CustomResource.

[code]

### Steps to reproduce

1. Look at all the ClusterRoles beginning with

[2022-08-15 00:24] chipzoller commented on #4340
cc @eddycharly

[2022-08-15 00:33] viveksahu26 commented on #4327
Hey @chipzoller , can you assign this to me. I would like to work on it.
/assign

[2022-08-15 05:47] venkat-kayo commented on #4332
@realshuting , yes  all the RBAC roles and clusterroles with corresponding rolebindings listed in the documentation are deployed in the kube-system namespace.
@chipzoller , is that a mandate not to install kyverno in kube-system since i see the namespaced roles/rolebindings related to leaderelection and webhook in there.

[2022-08-15 10:13] realshuting commented on #4326
If the corresponding pattern wrapped up with a conditional anchor doesn't exist in the resource, the error needs to be ignored and skipped, not treated as the true error.

[2022-08-15 10:17] realshuting commented on #4289
Opps linked to the wrong one, updated!

[2022-08-15 10:24] realshuting commented on #3598
I couldn't find the corresponding error in the latest code base.

@kranurag7 - which version were you developing on?

[2022-08-15 10:38] kranurag7 commented on #3598
Hey @realshuting, I'm developing inside GitHub codespaces. I'm doing it over a kind cluster.
#### kyverno helm chart version
[code]
- The CLI I'm building locally.
- go version - go1.18.4 linux/amd64

[2022-08-15 10:52] realshuting commented on #3598
There were quite a few major refactoring works that have been merged to the main branch (dev-1.8), can you bump to the latest code base and share the result?

[2022-08-15 11:16] chipzoller commented on #4332
Yes it is. Kyverno must be installed in its own Namespace which is common practice for most other system level tooling as well.

[2022-08-15 11:42] chipzoller commented on #4326
This must represent a regression then.

[2022-08-15 12:04] kranurag7 commented on #3598
Thanks @realshuting for helping me out, I have opened up a new codespace environment on 1.8-dev, and it's showing the same error message again. I have applied the same policy as mentioned above.
[code]

[2022-08-15 13:21] realshuting commented on #3598
Here's the related code this error is reported, you may want to debug further and check why Kyverno cannot find the schema definition for the kind `Namespce`:
https://github.com/kyverno/kyverno/blob/ea4f1cf4df858550d5ea23d4df6a397d5ee01e48/pkg/webhooks/resource/handlers.go#L396-L401

[2022-08-15 13:48] chipzoller commented on #4316
A warning is also being printed if preconditions are not met, which it shouldn't:

[code]

[2022-08-15 14:58] octonawish-akcodes commented on #3411
I would like to work on it under LFX Mentorship

[2022-08-15 16:01] chipzoller commented on #3411
https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov#application-instructions

[2022-08-15 16:02] chipzoller commented on #3474
@realshuting and I discussed this on a call and I have updated the title and initial post in accordance with the discussion. The idea is to make this issue more generic to how/when context vars are resolved. By solving this, we gain better performance for all of Kyverno and solve some processing logic issues.

[2022-08-15 16:09] chipzoller commented on #3475
As discussed with @realshuting and as stated in @vyankyGH comment, Kyverno does short circuit evaluation of preconditions, however it still resolves all variables (both context and AdmissionReview) up front prior to beginning processing of preconditions. Issue #3474 captures enhancements to this logic. Closing issue.

[2022-08-15 16:09] #3475 closed

[2022-08-15 17:09] ShivamTyagi12345 commented on #3411
Hi 😄 Thanks for sharing the link @chipzoller. I am volunteering to work on this issue as a part of my application

[2022-08-15 17:12] ShivamTyagi12345 commented on #3118
Hi😄 I am volunteering to complete this issue

[2022-08-15 17:17] zurrehma commented on #3119
/assign

[2022-08-15 17:59] chipzoller commented on #282
Is this going to be restricted to only clone-type generate rules or can it be data type as well?

[2022-08-15 18:36] MdSahil-oss commented on #3981
Hello! @chipzoller and @realshuting
This is Md Sahil, excited to start my contribution journey in kyverno with an enhancement issue.
I saw a mentorship submitted by kyverno for a feature of `Implement new custom JMESPath filters` (I'm interested in this mentorship) on LFX mentorship website where selected mentee will be implementing two filters `a random string generator` and `an index locator` in

[2022-08-15 18:41] chipzoller commented on #3981
Hi @MdSahil-oss, yes, this mentorship still exists. I have requested that the Linux Foundation accept a [recent PR](https://github.com/cncf/mentoring/pull/707) which will replace #3598 with #4336. So, this mentorship program will include this is issue and #4336 .

[2022-08-15 18:51] MdSahil-oss commented on #3981
Thanks @chipzoller for confirmation, and Yeah I would love to work on this enhancement under LFX Mentorship.

[2022-08-15 19:08] chipzoller commented on #3981
Please make your formal application when time allows.

[2022-08-15 20:31] viveksahu26 commented on #4327
Hey @chipzoller , Can you look to this. Would preconditions in target resource would look something like this.
[code]

[2022-08-15 21:29] chipzoller commented on #4327
Hi @viveksahu26. No, preconditions would look like this:

[code]

The above only mutates existing ConfigMaps which have a key `food` not equal to value `fries`.

[2022-08-15 21:48] agnewp commented on #4327
whats wrong with Fries?

[2022-08-16 06:49] joebowbeer commented on #4317
See kustomize patch that cert-manager uses in tests:

https://github.com/cert-manager/cert-manager/blob/master/devel/addon/kyverno/kustomization.yaml

[2022-08-16 08:27] VolkerKozlowski commented on #4335
@chipzoller  I see similarities to #4310. :-) Deactivating a policy in #4310 is more fine granular. There you can deactivate a policy for
- ServiceAccounts and Users,
- Namespaces,
- Roles,
- Labels or
- completely (if nothing of above is mentioned)

With that the original policy must not be changed. So it would not have impact on GitOps when it comes to automatically synchronising policies.

[2022-08-16 15:59] MdSahil-oss commented on #3981
@chipzoller I've applied for this mentorship, cover-letter/application is left to upload, will be done soon by me.

[2022-08-16 16:10] shubham4443 commented on #4095
Hi @chipzoller @vyankyGH
I wish to work on this issue but I couldn't identify where the problem is.
I created test cases for this sample policy -
[code]
The test file -
[code]
The resources file -
[code]
And the output was as expected. Am I missing something? Does the variable mentioned in [this](https://github.com/kyverno/KDP/pull/21#discussion_r892517601) comment refers to `admission review requ

[2022-08-16 17:25] Boojapho commented on #4070
The metrics will be very helpful in identifying scaling settings.

There is still the issue of leader election when an even number of pods are deployed.  My initial understanding was that this was only a problem with 2 replicas.  Does this extend to 4, 6, 8, etc. replicas?  Is there a path forward to address that can be linked here for tracking?

[2022-08-16 18:44] chipzoller commented on #4070
Kyverno uses the same style of leader election used by etcd which uses Raft. Raft requires an odd number of nodes hence Kyverno requires an odd number of nodes.

[2022-08-16 18:54] chipzoller commented on #4095
That does appear to work, but they don't use variables. I think @vyankyGH comment was that if there were two loops and each used a different variable (which had to be pre-defined in a file) that it wouldn't work? Can you test for that, @shubham4443 ?

[2022-08-16 18:54] MdSahil-oss commented on #4336
@chipzoller I'm writing here psedo-code, let me know Am I right or wrong about the logic that you mentioned above.

[code]

[2022-08-16 18:59] chipzoller commented on #4336
You're trying to write this use case as if it were a specific function. The goal of this issue is to implement a general JMESPath filter which can operate on a JSON document to return the desired information based upon a filter expression. See the JMESPath docs [here](https://jmespath.org/specification.html#filter-expressions).

[2022-08-16 20:56] empath-nirvana opened #4343 "[Bug] If you have some rules with a context and config map, and some rules that don't have a context with config map, kyverno panics"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

If you have a clusterpolicy that has more than one rule, and some of the rules have contexts with configmaps, and some don't, then kyverno crashes:
[code]

Looking at the code, it seems to be that maybe it tries to load a config map with an empty string? And it

[2022-08-17 00:06] chipzoller commented on #4343
Spoke with over Slack. Cannot reproduce issue on clean install of 1.7.2 on a K3d cluster of 1.23 using the (sanitized) policy below.

[code]

[2022-08-17 08:38] marcofranssen commented on #4249
Same issue here when having crossplane installed on the cluster.

[code]

And the list goes on and on.

The solution might be to bump the [Kubernetes Go client](https://github.com/kubernetes/client-go).

See here a blogpost explaining the problem and how this is patched in kubectl cli as well in more recent versions of the go lib.

https://blog.upbound.io/scaling-kubernetes-to-thousands-of-crds/

[2022-08-17 09:16] dschunack commented on #4249
@marcofranssen Our Problem was the high amount of reportchangerequests. We stopped Kyverno, cleaned all reportchangerequests and with implementing of new stetting it's now working fine the most of the time.

Two commits/changes #4148 and #4147 of the latest patch release had a very negative effects on larger k8s.
We do not expect this behavior in a patch release.

We implement the following settin

[2022-08-17 09:20] realshuting commented on #4249
@dschunack - thanks for sharing! We noticed a critical performance issue in 1.7.0 and 1.8.0 was still in progress back then. Thus sent out the 1.7.2 patch to fix it.

[2022-08-17 09:30] MdSahil-oss commented on #4336
Got it, is there any other thing that will be useful to know before starting working as a mentee on this feature and https://github.com/kyverno/kyverno/issues/3981 including Golang, JMESPath and JSON6902 patch.

[2022-08-17 11:45] chipzoller commented on #4336
Study the existing JMESPath custom filters here: https://github.com/kyverno/kyverno/tree/main/pkg/engine/jmespath

[2022-08-17 12:20] chipzoller opened #4346 "[Bug] %s output in log message"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

Looking over logs in a verifyImages rule I found the following output which doesn't seem to replace `%s`:

[code]

### Steps to reproduce

1.

### Expected behavior

All codes/templates are rendered.

### Screenshots

_No response_

### Kyverno logs

_No r

[2022-08-17 13:05] marcofranssen commented on #4249
I did apply the 2 arguments on the helm chart. However my kyverno pods still show bunches of client timeouts in all three replicas.

As mentioned [here](https://blog.upbound.io/scaling-kubernetes-to-thousands-of-crds/) this is related to huge amount of CRDs that are polled to build the local cache for kubectl or the go lib.

See here my values file for the helm chart

[code]

Here some logs of one

[2022-08-17 13:10] dschunack commented on #4249
Hey @marcofranssen

In our case it was related to the high amount of reportschangerequest, but maybe not in your Case.
You can check it with this command.
[code]

If we reach the limit of 5000 (our defined limit for RCR), we stop kyverno and clean all RCR.

[2022-08-17 13:41] zswanson opened #4347 "[Bug] events created by precondition skips should not be Warning or worded as PolicyViolation"
### Kyverno Version

1.7.2

### Description

If a policy contains a precondition to further refine the applicable resources, the controller adds an Event to the request resource namespace at `Warning` level. The reason in the event says that it is a "PolicyViolation" which isn't accurate, the message and lists the rule, noting that it was a precondition skip.

[code]

`Warning` event level is inap

[2022-08-17 16:26] clementbowe14 commented on #4347
/assign

[2022-08-17 19:40] windowsrefund commented on #4258
This is still an issue in 1.7.2

[2022-08-17 19:50] MayankMittal1 commented on #3411
Hi @JimBugwadia i want to take this in LFX mentorship, please guide me to get started

[2022-08-17 20:32] viveksahu26 commented on #4327
Hey @chipzoller , does kyverno cli supports `mutateExisting` enhancement.

[2022-08-17 21:23] chipzoller commented on #4327
No, not today.

I'll see if I can create some examples but it may be a week before I can due to vacation.

[2022-08-17 22:01] viveksahu26 commented on #4327
Should we log an issue for its enhancement ?

Till then, I will try to create it.

[2022-08-17 22:13] viveksahu26 commented on #4343
/assign

[2022-08-17 22:50] JimBugwadia commented on #3411
@MayankMittal1 - please apply at: https://mentorship.lfx.linuxfoundation.org/#projects_accepting

[2022-08-18 02:32] #4346 closed

[2022-08-18 03:11] abs007 commented on #4301
I'm rather new to golang and was wondering how I should go about checking for default values. I'm guessing I'm able to check for `defaultRegistry` but not sure if I'm able to do so for `enableDefaultRegistryMutation`
[code]

[2022-08-18 04:34] #3982 closed

[2022-08-18 05:19] #3580 closed

[2022-08-18 05:23] AmanSarraf commented on #3483
Greeting folks,
Came here from the LFX mentorship page, I'm interested in working on this.
Any pointers on where to start to get familiar with the project scope?

[2022-08-18 06:22] realshuting commented on #4343
@viveksahu26 - were you able to reproduce the issue?

[2022-08-18 06:52] #4338 closed

[2022-08-18 07:24] yuriydzobak opened #4351 "[Feature] CLI "kyverno apply" improve performance"
### Problem Statement

We use `kyverno apply` for CI to validate manifest. The kyverno cli is checking a few hundreds manifests and it take a while time, 2-3 min.

### Solution Description

It would be cool, for example, `kyverno apply` will have flag to increase number of goroutines to run concurrently or some parallel checking files

### Alternatives

_No response_

### Additional Context

_No r

[2022-08-18 07:38] basit9958 commented on #2302
/assign

[2022-08-18 07:51] realshuting commented on #3483
@AmanSarraf - check [this message](https://kubernetes.slack.com/archives/CLGR9BJU9/p1660802561655739) posted in Kubernetes Kyverno Slack channel:

[2022-08-18 07:59] realshuting commented on #4332
@venkat-kayo - I wonder if Kyverno serviceaccount is bound with those RBAC resources properly. Have you also tried installing Kyverno in another namespace?

[2022-08-18 08:03] realshuting commented on #282
With https://github.com/kyverno/KDP/pull/31, it only supports clone-type generate rules.

[2022-08-18 08:53] njegosrailic commented on #4301
Not directly related to your question, but I'd suggest using the https://github.com/containers/image package for parsing out the image string. For example, using the [ParseDockerRef](https://pkg.go.dev/github.com/containers/image/v5/docker/reference#ParseDockerRef) function, you can easily validate a string and extract the data of interest.

[2022-08-18 09:08] realshuting commented on #4258
Hi @anutosh491 - are you working on this? Anything that we can help?

[2022-08-18 09:15] realshuting commented on #4327
@viveksahu26 - not sure how this can be supported by CLI, may need to think through the design. Let's log an issue for tracking.

[2022-08-18 09:21] realshuting commented on #4301
Hi @abs007 - as @njegosrailic shared above, we can use the library to parse the image and prepend the default registry if it's not there. I suggest adding a container flag `--defaultRegistry` for users to custom this field (default to docker.io).

[2022-08-18 09:37] realshuting commented on #4336
I'm trying to understand what does it mean if we support `foreach` for mutate existing policies - I assume `foreach` here will iterate through `spec.rules.mutate.targets` list and retrieve the values we need?

[2022-08-18 10:04] realshuting commented on #4191
@chetak123 - thanks for your reply.

I see this as an alternative to `kubectl portforward` solution. Can you add this as another option and attach the entire `Expose the endpoint at the local port` section in the markdown format?

[2022-08-18 10:06] james-callahan commented on #4043
Sadly, I've been unable find a coworker with the ability+time.
I'll continue hoping to steal some time from someone, but I'd love anyone to implement this issue!

[2022-08-18 10:16] realshuting commented on #4101
@r0bj - have you tried using `preconditions` to filter by `generateName`?

[2022-08-18 12:03] chipzoller commented on #4336
Yes, something like that.

[2022-08-18 12:05] chipzoller commented on #282
Do we need a separate KDP for data-type generate rules in that case? It seems logical that we'd need both, and I've already run across a couple use cases for generating multiple resources using data type rules.

[2022-08-18 12:07] chipzoller commented on #2302
@basit9958 this issue is part of an existing LFX mentorship with @Prateeknandle and may be partially, if not fully, completed in his work.

[2022-08-18 12:52] chipzoller commented on #3483
Hi, Anutosh. Please make your application if you have not already.

[2022-08-18 12:59] realshuting commented on #282
I believe this issue is mainly for cloning multiple resources using the generate policy. Maybe we can create a separate issue listing out all use cases?

[2022-08-18 13:02] chipzoller commented on #282
That's probably best. I'll get something going here.

[2022-08-18 13:08] chipzoller opened #4352 "[Feature] Allow generating multiple resources based on policy data"
### Problem Statement

The enhancement request in #282 only covers the clone type generate rule. We need the ability to do the same thing but for data type generate rules. This will be needed in tandem with #3542.

### Solution Description

Support data type generation for multiple resources.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No respons

[2022-08-18 13:09] chipzoller commented on #282
See linked issue ☝️

[2022-08-18 13:27] realshuting commented on #4181
Closed via #4341.

[2022-08-18 13:27] #4181 closed

[2022-08-18 15:25] fjogeleit commented on #4324
sure, thanks a lot

[2022-08-18 16:34] viveksahu26 commented on #4343
Not yet, will try it today to reproduce it.

[2022-08-18 17:12] viveksahu26 opened #4354 "[Feature] Add CLI support for mutateExisting policies"
### Problem Statement

In last Kyverno release:1.7.0, the enhancement was made to support `mutateExisting` Policies On Update. To understand it you should know about 2 keyword: `target` and `trigger`
`trigger` : resources on which policies keep an eye.
`target` : resource on which action to be performed.
Possible scenarios could be like:
trigger and target resource could be same resource
trigger a

[2022-08-18 17:13] viveksahu26 commented on #4327
@realshuting ,Logged here https://github.com/kyverno/kyverno/issues/4354

[2022-08-18 17:46] zswanson commented on #4179
Seeing this in 1.7.2

[2022-08-18 17:50] chipzoller commented on #4179
The CLI does not yet officially support testing for mutate existing rules. #4354 captures this feature. Closing this issue as it isn't a bug. Feel free to comment on #4354 if desired.

[2022-08-18 17:50] #4179 closed

[2022-08-18 19:29] PriyanshuAhlawat commented on #2843
Found this project through LFX program, will love to work on it 🙂

[2022-08-18 19:40] viveksahu26 commented on #3822
Hey @realshuting , could you check  on your workspace
 1) `kyverno apply kyverno/policies/other  --cluster`
[code]
 and
 2) `kyverno apply kyverno/policies/karpenter/  --cluster`
[code]
I have only attached outputs of last few lines.
 What does those output refers to? Are they kind of errors or something else(means normal) ?

 But on applying policies on folders other than `karpenter` or `other`

[2022-08-18 23:54] viveksahu26 commented on #4327
Hey @realshuting , while implementing precondition what if precondition block fails? I think it will skip target resource from mutating. If it is so. Then I think events generated should be also `PolicySkipped`. But it contradicts. Whereas it shows `PolicyApplied`.  I tried to implement precondition and while testing in my workspace  found that  inspite of  no mutation occurs  on target resource a

[2022-08-19 00:48] viveksahu26 commented on #4343
The above policy seems to big and quite overwhelming. Is there any other policy to reproduce this bug.

[2022-08-19 00:58] DWSR commented on #4343
@viveksahu26 We were able to reproduce this with only one of the two mutation rules in addition to the validation rule, if that makes it a bit easier.

[2022-08-19 01:27] viveksahu26 commented on #4343
@DWSR , if you have policy with you then please attach it.

[2022-08-19 05:50] abs007 commented on #4301
@realshuting A question, do I need to use an external library since what the issue says is to not prepend "`docker.io/`" if `enableDefaultRegistryMutation` is set to false. The returned string (without "`docker.io/`") would then be mutated under their cluster policy.

Also, it seems that not adding "`docker.io/`" doesn't have much change either as containers are set to pull from docker by default.

[2022-08-19 11:20] yuriydzobak opened #4356 "[Bug] Webhook CA certificate CN name"
### Kyverno Version

1.7.0

### Description

I installed kyverno in another namespace, in my case in kube-system
and kyverno generate webhook with certificates
[code]

If you check caBundle
[code]
As you see `Subject: CN=*.kyverno.svc` but i uses `kube-system` namespace so, it should be *.kube-system.svc` or `kyverno-svc.kube-system.svc`

### Slack discussion

_No response_

### Troubleshooting

-

[2022-08-19 11:25] chipzoller commented on #4356
Kyverno does not support installation in the `kube-system` Namespace.

https://main.kyverno.io/docs/installation/

[2022-08-19 11:31] yuriydzobak commented on #4356
my bad, thanks

[2022-08-19 11:31] #4356 closed

[2022-08-19 14:13] chipzoller opened #4357 "[Feature] Prevent chart from installing into the `kube-system` Namespace"
### Problem Statement

Installing Kyverno into an existing Namespace, especially `kube-system`, is not supported and called out in the docs on `main` [here](https://main.kyverno.io/docs/installation/). We continue to see people attempting this, running into troubles, and either opening issues or coming to Slack. Kyverno has a default resource filter which filters out `kube-system` by default and i

[2022-08-19 15:16] dschunack opened #4358 "[Bug] Kyverno Policy passed in enforce mode but not in audit mode"
### Kyverno Version

1.7.2

### Description

Hi,

we noticed some problems with the require-drop-all policy if the validationFailureAction is set on "audit".
The capabilities are set correct, but the validation failed. If we switch the validationFailureAction from "audit" to "enforce" it passed. Hope you are able to identify the problem.

We tested the following on EKS 1.22 and 1.23.
Attached you

[2022-08-19 15:23] dschunack commented on #4358
The Policy that we use.
[require-drop-all-policy.txt](https://github.com/kyverno/kyverno/files/9383283/require-drop-all-policy.txt)

[2022-08-19 16:38] viveksahu26 commented on #4288
Hey @Nerja , I am trying to reproduce this  in the webhook to see policy implementation in the webhook. But sadly could not  deploy resource in the cluster. Throws an  validatingSchema errors. Could you please correct the resource schema or update the resource.
`
error validating data: [ValidationError(ScaledObject.spec.triggers[0]): missing required field "type" in sh.keda.v1alpha1.ScaledObject.s

[2022-08-19 19:39] MdSahil-oss commented on #4336
@chipzoller I've submitted my application for the Fall term LFX mentorship program at kyverno org. for the Implementation of new custom JMESPath filters. I'm excited to be a mentee at Kyverno.

[2022-08-20 11:56] samj1912 commented on #4336
This is unlikely to be a trivial project. So far the jmespath functions we have created are simple extensions. The proposed filter however is a change in the syntax and grammar of jmespath which will involve changes in the parser in our fork of jmespath. It might be better to figure out an alternative syntax or construct in kyverno itself (similar to foreach) to implement this functionality.

Inde

[2022-08-20 13:34] ShivamTyagi12345 commented on #3118
Hey  @realshuting  I have been using WSL to set up the project locally , i am following the official doc for installation using helm ,I am stuck at this point. I have tried to Purge data through my Docker desktop,but it hasnt affected anything
![image](https://user-images.githubusercontent.com/60812924/185748524-b52ca564-4a1e-484a-8d04-0b8aef5053fb.png)

[2022-08-20 14:17] ShivamTyagi12345 commented on #3118
hey I am trying  to work on this issue by reproducing the steps. I wanted to ask if i will have to downgrade to version 1.5.7 or i can continue with the latest kyverno version?

Also , where can i learn more about Cluster-Policy and Deployment
@JimBugwadia

[2022-08-20 14:47] zswanson commented on #4301
@abs007  I was suggesting 2 different ways to handle it in the issue description. One way would be to allow the operator to override the default registry, and a second way is to not perform this image mutation at all (kick it to the operator/kubelet to deal with).

I think we'd prefer the latter method though (disable the default mutation), so that we can actually explicitly write the policy and m

[2022-08-20 16:48] Shivansh-yadav13 commented on #4313
Found this issue from LFX mentorship, I'm interested in contributing!

[2022-08-20 16:57] abs007 commented on #4301
@zswanson  But this also aligns with the latter option that you're proposing I suppose (i.e. of not implementing the mutation at all). Though, I'll have to wait on further clarification before implementing that.

[2022-08-20 16:59] zswanson commented on #4301
It aligns with it yes, because right now every Kyverno policy auto-adds `docker.io` to the registry if the request object doesn't have one, which prevents us from creating a mutate policy to customize the behavior.

[2022-08-20 17:00] abs007 commented on #4301
Yes, my point.

[2022-08-20 18:58] chipzoller commented on #3118
@ShivamTyagi12345 Have you applied for this mentorship through LFX yet?

[2022-08-20 19:47] chipzoller commented on #3118
This issue is covered in an LFX Mentorship posted here: https://mentorship.lfx.linuxfoundation.org/project/9ac41a72-62f4-48e9-8630-5f9be261e2bf

There are multiple applicants and preference will be given to them first.

[2022-08-20 19:48] MdSahil-oss commented on #3542
@chipzoller I would like to give a try to this enhancement.

[2022-08-20 20:04] ShivamTyagi12345 commented on #3118
Sure, I will apply for this .Thanks for sharing

[2022-08-20 20:15] viveksahu26 commented on #4288
Hey @realshuting , on replacing `metadata` field by any field such as `data` or by `image` or anything in the resource as well as policy.
For policy simple replaced by :
[code]
and in resource replace `metadata` by `data`
[code]
The field  `serverAddress` will get patched and  the obtained mutated resource will be:
[code]
We observed that field `serverAddress` is patched when the field is `data`.

[2022-08-20 22:40] viveksahu26 commented on #4335
Hey @chipzoller @realshuting , looks good feature to disable a policy permanently. But what if user want to disable policy for a particular time or any range of time interval. In future, after this enhancement `disable` will be also included among  existing 2 modes(enforce and Audit) of the policy. And after this feature total 3 modes will exist: `enforce`, `audit`, and `disable`.
In SELinux polic

[2022-08-20 23:50] chipzoller commented on #4335
Time windowed policies is covered in #2233.

[2022-08-21 00:40] viveksahu26 commented on #4335
Time windowing technique is only to support Audit and enforce mode.
I don't  think so that disable mode will be supported by time windowing technique. Because in time-window either of the mode is implemented. That is till the time is active, till then `enforce` mode to be implemented and remaining for inactive time period automatically switches to Audit. Then where does disable mode  fits if user