[2022-01-17 01:09] chipzoller commented on #1858
We now have the `schemaValidation` field in a policy spec (documented [here](https://kyverno.io/docs/writing-policies/policy-settings/)) which can be set to disable schema validation in these situations. Let's close if this issue is addressed by this capability.

[2022-01-17 01:16] chipzoller commented on #1751
@stone-z this should now be addressed by the ability to escape variables as documented [here](https://kyverno.io/docs/writing-policies/variables/#escaping-variables). If after trying this you're still running into the same issue, please re-open this issue.

[2022-01-17 01:16] #1751 closed

[2022-01-17 02:54] JimBugwadia commented on #1905
Yes, we can close and create specific issues if needed.

[2022-01-17 02:54] #1905 closed

[2022-01-17 04:02] JimBugwadia commented on #2866
Yes, this makes sense. We can add `predicateType` to allow the match. Also, should we rename `predicate` to `path` or `filePath` so its clear we are expecting a path?

[2022-01-17 04:06] #2939 closed

[2022-01-17 05:32] oshi36 commented on #2317
Hi @chipzoller, currently I am not working on this issue as got occupied with other work.

[2022-01-17 05:48] realshuting commented on #2981
Agreed. And it'd be better to document tuning the background scan interval on large clusters in order to reduce the size of reports.

Creating separate objects and injecting owner references works for resource/policy deletion (k8s GC). If it's an UPDATE action, we would probably end up with more throttling requests as Kyverno updates each object separately.

[2022-01-17 09:06] fjogeleit commented on #1921
I will try it out in the upcoming week @chipzoller .

[2022-01-17 09:32] realshuting commented on #2962
@demikl - which version of Kyverno are you running? Can you follow this to remove Kyverno https://kyverno.io/docs/installation/#uninstalling-kyverno and let me know if it works for you?

[2022-01-17 09:41] realshuting commented on #2888
Adjusting to 1.6.0.

[2022-01-17 09:50] realshuting commented on #2259
Thank you @chipzoller , closing.

[2022-01-17 09:50] #2259 closed

[2022-01-17 09:53] realshuting commented on #2248
Yes, we got to manually build the test env and spin up workloads to measure performance with @siddharthlal25.

Let's keep it open to track the full automation.

[2022-01-17 09:55] realshuting commented on #2163
No longer valid, closing.

[2022-01-17 09:55] #2163 closed

[2022-01-17 09:58] rdavyd commented on #1918
@chipzoller Tried both semantics, they do not work as of kyverno 1.5.2
They block even valid `AppProject` with correct blacklists.
Interesting enough it allows the manifest with empty array of blacklists:
[code]

[2022-01-17 10:00] realshuting commented on #2951
Great to see it resolves your issue!

@JimBugwadia - sure, increasing to 120s in #2980.

[2022-01-17 10:08] realshuting commented on #1959
Thank you @Anita-ihuman - this is really needed for the release process.

[2022-01-17 11:34] samj1912 opened #2998 "Add a jmespath function to parse_yaml"
Similar to https://github.com/kyverno/kyverno/issues/2940

We should add a jmespath function to parse yaml into an object.

Related to #2693

**Describe the solution you'd like**

Kyverno should add a parse_json custom function

**Describe alternatives you've considered**
Keep things as it is

**Additional context**

[2022-01-17 12:21] #2913 closed

[2022-01-17 12:32] Namanl2001 commented on #2866
I guess `predicate-file` makes more sense :)

[2022-01-17 13:05] samj1912 commented on #2665
@chipzoller - it can be fairly difficult to predict the correct the return value after JMESPath transformations and returning an empty string may not always be ideal.

The upstream JMESPath docs recommend using the `||` operator if possible to provide defaults in case the key doesn't exist. This allows you to default not just an empty string but also defaults for other types like integers, arrays,

[2022-01-17 13:14] #2951 closed

[2022-01-17 13:24] damienleger commented on #2853
I've tested with 1.6-dev-57-g1af9e48b image, log spam is gone thanks! 👍

[2022-01-17 13:41] #2693 closed

[2022-01-17 13:41] #2998 closed

[2022-01-17 13:47] chipzoller commented on #2665
Thanks, yes, I gathered this after reading that proof manifest. While this is a solution, I'd like to fully understand the pros and cons of defaulting a non-resolved JMESPath query to an empty string. This _was_ working before, at least in preconditions, before it was broken. Requiring yet more JMESPath in order to handle situations like these seems to be suboptimal and further increases both lear

[2022-01-17 13:50] samj1912 opened #3003 "Improve Kyverno CI timings"
**Is your feature request related to a problem? Please describe.**

Currently the CI and E2E tests spend a significant amount of time on creating the output image (~20mins) . We should be able to improve on this if we use an alternative tool like `ko` or `buildpacks` to effectively cache and build the output images. We can also use a go modules cache in our actions to speed up builds.

Related to

[2022-01-17 13:55] realshuting commented on #3003
There's a WIP PR https://github.com/kyverno/kyverno/pull/2641 to simplify Github workflows.

@MarcelMue - could this be helpful for the local build issue?

[2022-01-17 14:29] chipzoller opened #3004 "[BUG] Rules with `anyPattern` broken in 1.6-dev-latest"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-dev-latest (1.6-dev-59-gf5e00ee0)

**Describe the bug**
Creating a policy that has a rule using `anyPattern` is broken and produces empty objects when persisted.

**To Reproduce**
Steps to

[2022-01-17 14:37] chipzoller commented on #1918
How about with backslashes to escape the asterisk?

[2022-01-17 14:40] chipzoller commented on #2888
Linked PR was merged so closing.

[2022-01-17 14:40] #2888 closed

[2022-01-17 15:05] ojhaarjun1 commented on #2984
Hey @chipzoller - do we need this in 1.6.0?

[2022-01-17 15:08] samj1912 opened #3005 "[BUG] cosign sboms and signature logic in workflows/makefile is incorrect and insecure"
There are various incorrect workflows happening in the way cosign signatures and SBOMs are currently being attached to the kyverno images.

The cosign sbom is being attached to the latest alpine image. See https://github.com/kyverno/kyverno/blob/f5e00ee03423ef6195e85f5829da9780cc0be687/.github/workflows/release.yaml#L157 and https://github.com/kyverno/kyverno/blob/f5e00ee03423ef6195e85f5829da9780c

[2022-01-17 15:10] chipzoller commented on #2984
Yes we do. There's not much point in a function if it doesn't satisfy the majority use cases for which it was intended.

[2022-01-17 15:12] samj1912 commented on #3005
/assign @samj1912

[2022-01-17 15:19] JimBugwadia commented on #3005
@samj1912 please see https://github.com/kyverno/kyverno/pull/2979.

cc: @Namanl2001 @ShubhamPalriwala

[2022-01-17 15:27] samj1912 commented on #3005
@JimBugwadia - thanks - will take a look and review that PR. Could you also link the following packages to the kyverno/kyverno repository so that they are visible to the users?

https://github.com/orgs/kyverno/packages/container/package/sbom
https://github.com/orgs/kyverno/packages/container/package/signatures

[2022-01-17 15:37] realshuting commented on #2001
@chipzoller - can we reschedule this to 1.7? It's a fairly big change and I'm not sure we can complete this within a week with all opening issues.

[2022-01-17 15:37] demikl commented on #2962
I'm using Kyverno 1.5.3, and encountered this blocking behavior when I wanted to temporarily shutdown Kyverno by using a naive `kubectl delete deployment kyverno`. Since then, I switched to only using `failurePolicy: Ignore` policies so that's not a problem I encounter anymore.

[2022-01-17 15:42] chipzoller commented on #2001
Yeah, I think that's what we need to do. We have enough on our plates for 1.6 including some higher-priority items that are must haves.

[2022-01-17 15:42] chipzoller commented on #2001
BTW, I only assigned the milestone to this issue because the corresponding (closed) PR was marked for the same.

[2022-01-17 15:44] realshuting commented on #2001
Removed the label from the closed PR.

[2022-01-17 15:44] ojhaarjun1 opened #3006 "Migrating WebhookConfigurations from ResourceCache to SharedInformer"
**Is your feature request related to a problem? Please describe.**
This is a sub-issue of #2793. Currently, Kyverno uses Dynamic Informers from its Resource Cache for Mutating and Validating Webhook Configurations.

**Describe the solution you'd like**
Replace Resource Cache with a single Shared Informer.

cc - @JimBugwadia, @realshuting

[2022-01-17 15:45] samj1912 commented on #3005
/assign @Namanl2001

Looks like there is already a PR at https://github.com/kyverno/kyverno/pull/2979 which fixes this.

[2022-01-17 16:12] realshuting commented on #2962
@vyankd - the webhook configurations should be GC-ed as we set the owner to the ClusterRole `kyverno:webhook`, wasn't the issue fixed in 1.5.3?

[2022-01-17 16:27] demikl commented on #2962
That's an interesting way of taking care that webhook configurations would be deleted, whether or not kyverno process would have removed them before shutting down. So, basically, the way I temporarily stopped Kyverno on my cluster, by removing only the deployment (reinstallation is done by re-enabling FluxCD and syncing manifests from a GIT repository), should not be used. Or, at least, I should a

[2022-01-17 16:44] samj1912 commented on #2938
@JimBugwadia while trying to implement our agreed upon design, there seem to be a couple of issues

- It looks like context is currently a list of items and not a map. So we cannot declare a top level `image` key.
- Currently the images are keyed by images.{container,initContainer,..}.{containerName}.image. For arbitrary CRDs, that will no longer be the case. How would we like the images to be key

[2022-01-17 16:56] realshuting commented on #2962
@demikl - we had this discussion before, couldn't seem to find it anywhere.

Kyverno does clean up all the webhook configurations during termination, if you scale down Kyverno to zero or just delete the deployment, you should see these webhooks are also removed.

The owner reference is added in particular to solve the problem when Kyverno does not have the permission to delete resources `mutatingw

[2022-01-17 16:57] realshuting commented on #2962
Just verified with the latest main, the cleanup no longer works because it cannot get the Deployment:

[code]

@ojhaarjun1 - does this relate to one of your recent fixes? Let's send the PR to address the issue and add the e2e test to cover the uninstallation.

[2022-01-17 16:58] realshuting opened #3008 "Cleanup Kyverno managed webhook configurations during uninstallation"
Just verified with the latest main, the cleanup no longer works because it cannot get the Deployment:

[code]

@ojhaarjun1 - does this relate to one of your recent fixes? Let's send the PR to address the issue and add the e2e test to cover the uninstallation.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/issues/2962#issuecomment-1014736070_

[2022-01-17 17:07] damienleger commented on #2674
@realshuting

Hello. I've tried with 1.6-dev-57-g1af9e48b image. Still the same error after all polr deletion.
Unlike you, pods managed by deployment appear in the polr.
Some stats:

[code]

I cannot give company workload (obviously), but here is the kyverno setup (zip attached) I've installed with `kubectl apply -f install.yaml -f policies/`. I've just anonymized my company name "company" in file

[2022-01-17 17:15] ojhaarjun1 commented on #3008
Yes, it does. See https://github.com/kyverno/kyverno/pull/2910/files#diff-8957fb7a129364da38e9cdf8d2a07fbc85bcef65a9f1885c4cf5be0b2cca748d and #2805. We want to keep the Secrets for `err != nil`, i.e. for instance, in the event the etcd is not available, so the Pod restarts.

[2022-01-17 17:21] ojhaarjun1 opened #3009 "Replace ToUnstructured() inside convertToUnstructured()"
**Is your feature request related to a problem? Please describe.**
The method `runtime.DefaultUnstructuredConverter.ToUnstructured()` previously led to a severe memory issue. It's still used under [convertToUnstructured()](https://github.com/kyverno/kyverno/blob/f5e00ee03423ef6195e85f5829da9780cc0be687/pkg/dclient/client.go#L188-L194).

**Describe the solution you'd like**
Replace `runtime.Default

[2022-01-17 17:28] prateekpandey14 commented on #2789
@dkulchinsky able to reproduce this issue locally, can you pls paste the yaml output of both `generaterequests` here in case you have it handy, wanted to verify the `userInfo.groups` entry on both the resources. Below is the o/p of my resources to see the differences in service account groups.

After adding `system:masters` as `excludeGroupRole` in `kyverno` configmap fixes for me.

1. GR1
[code]

[2022-01-17 17:28] realshuting commented on #3008
So we get the same error for both cases?

[2022-01-17 17:36] prateekpandey14 commented on #2229
@chipzoller started to look into this and i  tried with below policy, in which if i delete the service account the target resource i.e. NetworkPolicies get deleted successfully. Notice that you have to have `synchronize: true` in your clusterpolicy.

[code]

[2022-01-17 17:40] chipzoller commented on #2229
Right, that's because you're adding the `ownerReferences` object which is a native Kubernetes construct. This issue is about tracking that relationship (and triggering the deletion) via _Kyverno_ and outside of an explicit `ownerReferences` object.

[2022-01-17 18:02] prateekpandey14 commented on #2229
Right , i will check one without the `ownerRefernces` and see what we can do to it further.

[2022-01-17 18:03] mritunjaysharma394 commented on #3004
Hi @realshuting , sure, I will, thanks a lot!

[2022-01-17 18:03] mritunjaysharma394 commented on #2576
Yeah, I would love to, just needed this small clarity to start work, thanks a lot!

[2022-01-17 18:04] ojhaarjun1 commented on #3008
Yes, since we removed the Deployment.

[2022-01-17 18:11] chipzoller commented on #2576
@JimBugwadia

[2022-01-17 18:45] viveksahu26 commented on #2194
Till now I haven't worked on this because of busy in other stuffs. Now, I have started working on it. I will submit PR soon for the same.

[2022-01-17 19:51] mritunjaysharma394 commented on #3004
At the first look, I guess this has happened because on comparing Kyverno 1.5.4 and main, it is found that we have moved api/kyverno/v1/utils.go outside `pkg/` to a separate `api` directory, and the other major change that i observed till now tells that we have changed
[code]

to
[code]

I will try to observe more on what else could have broken this and get back, do let me know all on what are you

[2022-01-17 20:33] dkulchinsky commented on #2229
@prateekpandey14 the other issue with ownerReferences is that it only works for resources that are namespace scoped and in the same namespace

We have a use case where we generate a cluster-scoped resource from a namespaced resource

[2022-01-17 20:49] treydock commented on #2256
I'm running Kyverno 1.5.3 with 2 replica HA and no longer have the issue with Prometheus metrics missing.  I'm fine closing this issue unless others still see issues.

[2022-01-17 20:55] treydock commented on #2277
This is not handled. Right now the option is to either use the policies as-is or not use them and supply your own outside the Helm charts in this repo.  Per comments from @z0rc it sounds like the desire is to continue using the policies from this repo but slightly tweak them to do things like exclude a certain namespace or resource but only for a certain policy, not all policies.

I will have to s

[2022-01-17 20:57] chipzoller commented on #2681
Tested on 1.6-dev-latest (`1.6-dev-59-gf5e00ee0`) and can confirm.

[code]

This Deployment should be allowed but is instead blocked.

[code]

[2022-01-17 21:21] JimBugwadia commented on #2681
Hi @chipzoller - the original issue is for mutate policies, specifically strategic merge patches.

A few items to check in the validate policy sample above:
1. If you are using the full pattern, you will need to set `elementScope: false`. Or you can remove `spec.template.spec.containers` from the `foreach`.
2. `livenessProbe: "*"` will match 0 or more characters. Did you mean `livenessProbe: "?*"`

[2022-01-17 21:31] chipzoller commented on #2681
I think this was my error in the logic. It should have been `(name): "!vault-agent & !*sidecar*"`. And it does work outside a `foreach` loop. Probably just disregard that previous comment.

[2022-01-18 00:02] dkulchinsky commented on #2256
Same here, 1.5.2 with 3 replicas and no issues for a while now

[2022-01-18 00:13] chipzoller commented on #2256
Closing for now then. If it pops back up, let's reopen.

[2022-01-18 00:13] #2256 closed

[2022-01-18 04:27] realshuting commented on #3004
@mritunjaysharma394 - latest [comment](https://github.com/kyverno/policies/discussions/223#discussioncomment-1984685) from the user:

Sorry, I haven't checked the compatibility matrix first.
Please notice that it's not working on Kubernetes version 1.23.1 =)

Can you please check if this policy works against the latest main branch on 1.23 clusters? If so, we need to bump compatible versions for th

[2022-01-18 04:31] realshuting commented on #3008
I doubt so, if etcd is not available, we should get the "timeout" error or similar. If the deployment is not present, we should get the "NotFound" error.

Can you please verify it for both cases?

[2022-01-18 08:35] rdavyd commented on #1918
Tried the following:
[code]

None worked, as a result policy allowed all validations even those which should have failed.

[2022-01-18 09:26] realshuting opened #3012 "Replace dynamic informer in the policy controller"
**Is your feature request related to a problem? Please describe.**
This is a sub-issue for https://github.com/kyverno/kyverno/issues/2793.

**Describe the solution you'd like**

We need to remove `resourceCache` (a wrapper for dynamic informer) from the background controller in order to reduce Kyverno memory usage.

[2022-01-18 09:57] samj1912 commented on #3012
@realshuting 👋 - I am trying to determine the impact from a user's perspective. Would this mean that kyverno will reach out to the api server directly for access to any resources? Are the tradeoffs between high memory usage and calls to api server/performance?

[2022-01-18 10:52] ribbybibby opened #3014 "[BUG] v1.5.4: image signature verification failed for: loading credentials: open -----BEGIN PUBLIC KEY-----"
**Software version numbers**
* Kubernetes version:
[code]
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): `k3d`
* Kyverno version: `v1.5.4`

**Describe the bug**
I receive this error when trying to verify an image signature with a key inlined in a `verifyImages` rule:
[code]

It looks like it's not recognising the string as a public key and is trying to open it as if it were a fil

[2022-01-18 10:53] #1933 closed

[2022-01-18 10:58] mritunjaysharma394 commented on #3004
Hi @realshuting , I checked the latest main branch on 1.23 and 1.21 cluster for the above policy and I am able to create root resources (which should not happen?) like the user mentioned in the example of root-pod with the below message:

[code]

What I understood is that the intended behaviour should be that it should block the user from creating root-pod while it is being created. This happens f

[2022-01-18 12:40] realshuting commented on #2674
841

Are these standalone pods or managed pods?

[2022-01-18 12:54] damienleger commented on #2674
Managed pods. I don't have standalone pods.

[2022-01-18 12:58] realshuting commented on #2674
1356

683

841

But the count doesn't add up, maybe it's because the report exceeds the limit?

And the pods are managed by both jobs and deployments?

I'll try again with your policies.

[2022-01-18 12:59] #3012 closed

[2022-01-18 12:59] ribbybibby opened #3017 "[BUG] Can't verify attestations with KMS key reference"
**Software version numbers**
* Kubernetes version:
[code]
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: `v1.5.4`

**Describe the bug**
I receive the following error when trying to verify attestations with a GCP KMS key:
[code]
It seems that the `FetchAttestations` function is assuming the key reference is in PEM format and calling `decodePEM`: https://gith

[2022-01-18 13:07] treydock commented on #2474
Upgraded to 1.5.4 and saw no issues. There were only 52 user namespaces rather than the several hundred when this issue happened but we've since been reaping namespaces more frequently so if there was some threshold we crossed, not sure we will cross it again in terms of how many namespaces Kyverno must walk during init container.  I'm going to go ahead and close this out and will re-open if same

[2022-01-18 13:07] #2474 closed

[2022-01-18 13:08] mritunjaysharma394 commented on #3004
UPDATE: I guess, the previous comment of mine was erroneous as I was testing `kyverno` with `kind` and it wasn't configured properly. After correctly doing that, the updated observations are:

The Policy worked for k8s v1.21 with Kyverno 1.6-dev correctly and `anyPattern` persisted and even root-pod was blocked from creating, while the same policy didn't work for k8s v1.23 with 1.6-dev

[2022-01-18 13:25] chipzoller commented on #1918
Ok, thanks for confirming. We'll leave this as an outstanding issue for now.

[2022-01-18 14:53] #2547 closed

[2022-01-18 15:14] prateekpandey14 commented on #2229
Yes, so we need to come up with the proposal to handle the use case with cluster-scoped resources with some more granular control to garbage collect the objects.

[2022-01-18 15:20] ryaneorth commented on #2971
Verified this is fixed in the latest dev image ([1.6-dev-64-gb6447e06](https://github.com/kyverno/kyverno/pkgs/container/kyverno/13395846?tag=1.6-dev-64-gb6447e06)). 🎉

[2022-01-18 15:49] realshuting commented on #2962
Hi @demikl - the fix is sent via https://github.com/kyverno/kyverno/pull/3018.

I also generated a test image `ghcr.io/realshuting/kyverno:1.6-dev-65-g421e6d96`, can you please verify?

[2022-01-18 15:52] #2977 closed

[2022-01-18 16:40] Namanl2001 commented on #3014
@ribbybibby there is a bug in `v1.5.4` can you verify this with kyverno `1.6-dev` (for me it's working fine)? thanks

[2022-01-18 16:45] #3008 closed

[2022-01-18 17:22] ribbybibby commented on #3014
Hi @Namanl2001. Yep, works for me too on `1.6-dev-latest`. Same with https://github.com/kyverno/kyverno/issues/3017.

[2022-01-18 18:22] chipzoller commented on #2957
May be related to https://github.com/kyverno/kyverno/issues/3004

[2022-01-18 18:25] chipzoller commented on #2618
Tagging with pss since this supersedes the previous issue. This issue impacts delivery of the refreshed PSS policies currently stored here: https://github.com/chipzoller/kyverno-pss

[2022-01-18 18:25] chipzoller commented on #2618
@realshuting for visibility

[2022-01-18 20:40] ribbybibby opened #3019 "Support using the 'kubernetes keychain' without -imagePullSecrets"
**Is your feature request related to a problem? Please describe.**

I want to use GCP workload identity to pull some private GCR images in `verifyImages` rules. The [k8schain package that Kyverno uses](https://github.com/kyverno/kyverno/blob/cde1d0f2b2cf6241179de5111eacbae54d80712b/pkg/registryclient/client.go#L20-L41) supports workload identity but as far as I can tell [k8schain isn't used unless

[2022-01-18 23:05] JimBugwadia commented on #3019
@ribbybibby - thanks for logging this. I recall @developer-guy was trying to get this to work but ran into issues. Do we need a flag or can we always initialize `k8schain` for in-cluster operation?

[2022-01-19 07:09] prateekpandey14 commented on #2789
So username varies based on the required privilege with operations, like in case of namespace create user needs a admin privilege , but in case of other resources like service account, kube-controller-manager user is good enough, managed  by TokenController runs as part of kube-controller-manager as explained here: https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#tok

[2022-01-19 07:35] realshuting commented on #2957
Yes we verified both issues, the policies work fine on 1.21 cluster.

@zeborg is working on upgrading the k8s libraries to 1.23 and see if it helps. We also need to verify the sample policies work for 1.23 if we upgrade the library.

[2022-01-19 07:50] vyankyGH commented on #2618
with the latest code this is the result. Looking at fail test-cases.

Enumerating objects: 742, done.
Counting objects: 100% (511/511), done.
Compressing objects: 100% (325/325), done.
Total 742 (delta 288), reused 371 (delta 159), pack-reused 231

Executing disallow-host-process...
applying 1 policy to 33 resources...

│─────────│───────────────────────│─────────────────────────│─────────────────

[2022-01-19 07:57] realshuting commented on #2582
Hi @Prateeknandle - did you check this comment https://github.com/kyverno/kyverno/issues/2582#issuecomment-956782494?

Happy to discuss further for your questins.

[2022-01-19 07:59] #2320 closed

[2022-01-19 08:55] vyankyGH commented on #2618
@chipzoller
For disallow-host-ports-range-range policy , In test.yaml rule names are not correct.
https://github.com/chipzoller/kyverno-pss/blob/master/baseline/06a-disallow-host-ports-range/test.yaml

Here is the working test.yaml.

[code]

[2022-01-19 09:05] vyankyGH commented on #2618
@chipzoller In disallow-host-ports-range-range policy test.yaml, rule name are mentioned incorrect.
I have raised PR for fix https://github.com/chipzoller/kyverno-pss/pull/6.

[2022-01-19 09:27] Prateeknandle commented on #2582
Hi @realshuting, what I understood is that instead of using `request.operation` in precondition, we'll use `requestTypes`, for an action.
For example:-
instead using this
`preconditions:
      - key: "{{ request.operation }}"
        operator: Equals
        value: "CREATE"`

we'll apply `requestTypes: ["CREATE"]` in match OR exclude, correct me if I'm wrong.

What I need to do is create logic tha

[2022-01-19 10:09] #2877 closed

[2022-01-19 11:04] scraly opened #3020 "[BUG] Can't install kyverno CLI using Krew in my MacBook Air M1 (arm64)"
**Software version numbers**

* Kyverno version:

2.1.6

**Describe the bug**

I want to install `kyverno` CLI using Krew in my MacBook Air M1.
But when I execute the command found in the Kyverno official documentation, I have an issue.

**To Reproduce**

Execute the following command:

[code]

Output:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-01-19 11:08] demikl commented on #2962
I've just tested with your image, it's now working as expected when I delete the deployment. The webhooks are correctly deleted.
Thanks !

[2022-01-19 11:37] zeborg commented on #2320
Hey @Dutchy-!
The PR for this issue has been merged, so can you please confirm if your use-case is also achieved with it?
Thanks!

[2022-01-19 11:55] ojhaarjun1 commented on #2984
@chipzoller - I'm running main/e22e9499. Strangely, the following is working as expected for me.

Policy
[code]
Resource
[code]

[code]

Could you please double check?

[2022-01-19 12:24] Dutchy- commented on #2320
@zeborg I will not be able to test this in a timely fashion, but the change looks good to me. I can consider this fixed 👍

[2022-01-19 13:29] Namanl2001 commented on #2901
closing via #2979

[2022-01-19 13:29] #2901 closed

[2022-01-19 13:29] Namanl2001 commented on #2881
closing via #2979

[2022-01-19 13:29] #2881 closed

[2022-01-19 13:29] Namanl2001 commented on #3005
closing via #2979

[2022-01-19 14:07] zeborg commented on #2810
Hey @artem-nefedov!
PR https://github.com/kyverno/kyverno/pull/2953 has updated the behaviour of `namespaceSelector` with dynamic webhook and allowed both `failurePolicies` to be included in the resource webhooks. Please confirm if this solves the requirement for your use-case.
Thanks!

[2022-01-19 14:08] chipzoller commented on #2618
Thanks, merged.

[2022-01-19 15:44] realshuting commented on #2962
Great! Closing the issue.

[2022-01-19 15:44] #2962 closed

[2022-01-19 15:55] realshuting commented on #2582
Yes correct.

You will need to:
1. add tag `requestTypes` in both [match](https://github.com/kyverno/kyverno/blob/73a02a5df3199236ea33a19566c9bb1af086a24d/api/kyverno/v1/policy_types.go#L287) and [exclude](https://github.com/kyverno/kyverno/blob/73a02a5df3199236ea33a19566c9bb1af086a24d/api/kyverno/v1/policy_types.go#L312) block
2. [Update API classes](https://github.com/kyverno/kyverno/wiki/Runnin

[2022-01-19 15:56] realshuting commented on #2497
Closing until further notice.

[2022-01-19 15:56] #2497 closed

[2022-01-19 15:57] #3006 closed

[2022-01-19 15:58] realshuting commented on #2058
Please reopen if the same issue happens again.

[2022-01-19 15:58] #2058 closed

[2022-01-19 17:42] #2751 closed

[2022-01-19 18:29] samj1912 commented on #2943
@prateekpandey14 so the original issue is gone where even changing or modifying the annotations on the namespace. The issue that persists is the following -

Create a policy like so -

[code]

[2022-01-19 18:30] samj1912 commented on #2943
@prateekpandey14 so the original issue is gone where even changing or modifying the annotations on the namespace. The issue that persists is the following -

Create a policy like so -

[code]

Then let it sync. After that create a policy like -

[code]

You will notice an extra service account token secret.

[2022-01-19 18:32] samj1912 commented on #2943
Similarly - you can try updating the service account object with kubectl apply -

[code]

vs
[code]

You will notice that there are no extra service account tokens, just 1 token which was originally created as opposed to 2.

[2022-01-19 23:04] chipzoller commented on #3020
Kyverno CLI is not currently built for Apple silicon.

[2022-01-19 23:14] chipzoller commented on #1651
There seem to have been several issues that have "reduce memory usage" as a theme but with a narrower technical focus. Should this be kept around without one?

[2022-01-19 23:18] chipzoller commented on #1637
Is this issue now obviated by the addition of `foreach` and support for anchors in mutations? This is also possible with just pure JMESPath queries as well.

[2022-01-19 23:20] chipzoller commented on #1616
@treydock are you able to assess how close/far we are from achieving this? How do we track this for gaps? Create specific issues as action items and tag them with a new tag?

[2022-01-19 23:22] chipzoller commented on #1610
Link with https://github.com/kyverno/kyverno/issues/2249

[2022-01-19 23:33] chipzoller commented on #1418
This is now possible in Kyverno 1.5 and will be enhanced in 1.6 via PRs https://github.com/kyverno/kyverno/pull/2416 and https://github.com/kyverno/kyverno/pull/2753. For an example, see [this](https://github.com/kyverno/kyverno/issues/2984) (which is an outstanding issue). Closing.

[2022-01-19 23:33] #1418 closed

[2022-01-19 23:37] chipzoller commented on #1354
While this would still be a nice-to-have feature, it can be replaced by JMESPath expressions, for example like this:

[code]

[2022-01-19 23:39] chipzoller commented on #1334
Not strictly related, but adding this project: https://github.com/anderseknert/kube-review

[2022-01-19 23:40] chipzoller commented on #1326
Based on the current major JMESPath issue https://github.com/kyverno/kyverno/issues/2665, we may actually need to *not* implement this issue since they're probably mutually exclusive.

[2022-01-19 23:41] chipzoller commented on #1278
@treydock is this also something on which you can advise?

[2022-01-19 23:42] chipzoller commented on #1267
Closing this as I think it's obviated by a combination of JMESPath and `foreach`.

[2022-01-19 23:42] #1267 closed

[2022-01-19 23:45] chipzoller commented on #1103
I don't know what this issue means. What's the action item here and has it already been done?

[2022-01-19 23:49] chipzoller commented on #970
Going to close this for now because we have variable support and have open issues for other specific gaps like support for [Roles, ClusterRoles, and Subjects](https://github.com/kyverno/kyverno/issues/2861) and [JMESPath function support](https://github.com/kyverno/kyverno/issues/2618).

[2022-01-19 23:49] #970 closed

[2022-01-19 23:52] chipzoller commented on #772
Is this something we're still considering?

[2022-01-19 23:53] chipzoller commented on #745
@MarcelMue is there a valuable action item in this issue somewhere?

[2022-01-19 23:56] chipzoller commented on #572
Unclear if this now refers to tests in kyverno/policies or e2e tests which are outside those.

[2022-01-19 23:58] chipzoller commented on #394
@MarcelMue are you able to derive any specific improvement actions for Kyverno here?

[2022-01-20 00:43] samj1912 commented on #2665
I investigated into this a bit more. I believe that if we change the JMESPath return types for non existent keys from nil to an empty string, we will be breaking the JMESPath spec and compliance test suite. For eg - https://github.com/jmespath/jmespath.test/blob/1afd859cfef86d5a4a10cd3696f147c00fbb907f/tests/syntax.json#L6

The official JMESPath go implementation we use in kyverno, makes valid ass

[2022-01-20 00:55] chipzoller commented on #2665
Do we test any of these functions in e2e today and could simulate a "what if" scenario if we were to make this change? In all the policies I've written which consume JMESPath, I can't think of one where piped functions would be broken by going from null -> empty string. Certainly don't wish to plug one hole and rip open three others, but wondering what existing stuff would break and what others we

[2022-01-20 01:06] JimBugwadia commented on #3014
Closed via #3024

[2022-01-20 01:06] #3014 closed

[2022-01-20 01:06] JimBugwadia commented on #3017
Closed via #3024

[2022-01-20 01:06] #3017 closed

[2022-01-20 01:15] samj1912 commented on #2665
A really simple example that breaks is the following jmespath query -

Given the following data -

[code]

and the following query -

`locations[].name | to_array(@)`

currently it returns the following -

[code]

let's say we change the data to not have any entries and it returns nil for our query, for eg the data is -

[code]

the same query will return -

[code]

Let's say instead we now set th

[2022-01-20 01:35] samj1912 commented on #2665
Note - the reason I gave the to_array example is because that is what we currently use in some of the policies to normalize null values to empty arrays and defaulting that to an empty string would break our policies completely.

Separately, the proposed enhancement will potentially break any jmespath query that currently accepts null values. For eg. functions like `to_array`, `type`, `to_string` w

[2022-01-20 01:44] samj1912 commented on #2665
Lastly, note that the issue isn't that the first part of the jmespath expression in these policies evaluates to null, rather the issue is that we are feeding null to functions that don't accept a null value which is throwing errors which we are surfacing upwards. `null` works completely fine with functions that accept it as a potential input.

[2022-01-20 05:53] realshuting commented on #3014
Hi @ribbybibby - we generated v1.5.5-rc1 with fixes for this issue and https://github.com/kyverno/kyverno/issues/3017, can you help verify? Thanks!

[2022-01-20 06:53] realshuting commented on #2674
Hi @damienleger - I verified with your policies and found that two of the policies, `disallow-default-namespace` and  `disallow-host-path` do not have auto-gen enabled (`pod-policies.kyverno.io/autogen-controllers` is set to `none`), that's why the results were reported for stand-alone pods.

With all your policies installed, here are the results for pods. You can see they were reported for those

[2022-01-20 06:53] #2674 closed

[2022-01-20 07:01] scraly commented on #3020
The problem is that when an user/a developer follow the official procedure, he have this error message.
On the official documentation I haven't found any relevant message about "Kyverno CLI is not currently built for Apple silicon." 🙂

However, by following the build from binaries procedure, I was able to install it on my MacBook M1.

So is it possible to allow the possibility to M1 users to insta

[2022-01-20 07:05] scraly commented on #3020
I've just saw commits that add `arm64` on GoReleaser and Krew configuration files 👍
So hope in the next release kyverno plugin will be available for M1, is it right?

Thx

[2022-01-20 07:18] realshuting commented on #2454
Non-resolvable built-in variables (images) should return an empty string instead of null.

Hi @dkulchinsky - based on our recent discussion in https://github.com/kyverno/kyverno/issues/2665#issuecomment-1017021301, defaulting non-resolved variables or the nil value to the empty string could lead to an unexpected result. The workaround is to use `||` JMESPath operator to set the default value.

I c

[2022-01-20 07:18] #2454 closed

[2022-01-20 07:18] #2611 closed

[2022-01-20 07:50] 4molybdenum2 commented on #2857
/assign

[2022-01-20 07:55] vyankyGH commented on #2618
Here is the test case result of PSS Polices
<details>
<summary>Result</summary>
[code]
Few test cases are failing which are related to issue https://github.com/kyverno/kyverno/issues/2665.
Once issue get resolved All test cases with Pass.
Closing issue as JMESPath working with CLI.

[2022-01-20 07:55] #2618 closed

[2022-01-20 08:25] samj1912 commented on #2665
I also think we are conflating two behaviors, one is jmespath evaluation and how null values behave with jmespath functions and the other is how the built in kyverno preconditions/conditional logic works with values like `null` in json.

I believe the correct way of solving this and other precondition related checks or things like foreach loops where we expect the input to be an iterable is to che

[2022-01-20 08:29] #2819 closed

[2022-01-20 08:29] #2964 closed

[2022-01-20 08:32] realshuting commented on #2869
Here are a few updates for this issue:

1.  >  Warning  FailedCreate  6m59s (x49 over 8h)  replicaset-controller  Error creating: Internal error occurred: failed calling webhook "mutate.kyverno.svc-fail": Post "https://kyverno-svc.kyverno.svc:443/mutate?timeout=10s": no endpoints available for service "kyverno-svc"

There was a recent fix for the endpoint issue https://github.com/kyverno/kyverno/p

[2022-01-20 08:32] #2869 closed

[2022-01-20 08:44] samj1912 commented on #3020
@scraly that is correct. This was recently fixed in #3002 which is merged and will be made available in the 1.6 release. I am closing this issue and adding it to the 1.6 tracker :)

[2022-01-20 08:44] #3020 closed

[2022-01-20 08:49] ojhaarjun1 commented on #2984
@realshuting - Could you please try the above as well?

[2022-01-20 08:55] realshuting commented on #572
Let's close this issue as it lasts for a long time. Will try to create precise issues next time!

[2022-01-20 08:55] #572 closed

[2022-01-20 08:57] #1354 closed

[2022-01-20 08:58] #1637 closed

[2022-01-20 09:01] realshuting commented on #1651
Linking to the most recent improvement proof manifest for memory usage https://github.com/kyverno/kyverno/pull/3026#issue-1108172932.

Let's close this and create specific enhancement issues!

[2022-01-20 09:01] #1651 closed

[2022-01-20 09:05] #1103 closed

[2022-01-20 10:03] mritunjaysharma394 commented on #2665
Thanks a lot @samj1912 for this detailed analysis of the approach of using empty string, a lot of things now make better sense to me and I would love to hear from @chipzoller too on what he thinks. One way is to update the sample policies and doc with what @samj1912 suggested [here](https://github.com/kyverno/kyverno/issues/2665#issuecomment-1014509924) or we can also try to figure out a way to co

[2022-01-20 11:16] ribbybibby commented on #3014
Hi @realshuting. Yep, I can verify that both this is issue and #3017 don't occur in `v1.5.5-rc1`.

Thanks for the quick fix!

[2022-01-20 11:48] ribbybibby commented on #3019
I think that should be fine because Kyverno always runs with a kubernetes client and `k8schain` also includes the default keychain: https://github.com/google/go-containerregistry/blob/890d5b362eb849db112bb36543014e4e5e57ef8d/pkg/authn/k8schain/k8schain.go#L49. So it should work in contexts where you want to use the local docker configuration too.

The only consideration I can think of there is tha

[2022-01-20 11:52] ribbybibby commented on #3019
I've actually discovered that my workaround for using workload identity doesn't actually work with your released container images because you're disabling the cloud provider code in `k8schain`: https://github.com/kyverno/kyverno/blob/main/Makefile#L30-L32.

I must have been running with an image I built myself when I tested this.

Is there a good reason for this? I think using workload identity an

[2022-01-20 12:47] zeborg commented on #2957
This does not seem to be an issue with `ephemeralContainers`, but with `anyPattern` itself. I believe working on #3004 should fix this. I'll work it out with @mritunjaysharma394.

[2022-01-20 13:16] chipzoller commented on #2957
Agree. At the time when this was created, 1.23 was only used for ephemeral containers testing. It was later discovered that `anyPattern` is generally broken on that same version.

[2022-01-20 13:25] prateekpandey14 commented on #2943
[code]

Above is expected behavior right, since you have 2 clusterpolicy in place matched with namespace creation.
Going through the original issue which no longer exists as confirmed, we can close this one and create the new to track the above behavior.
Pls feel free to open otherwise.

[2022-01-20 13:25] #2943 closed

[2022-01-20 13:34] chipzoller commented on #2618
Why these errors with anyin?

[code]

[2022-01-20 13:45] chipzoller commented on #2665
Ok, I think you make good points here. Obviously the downside is we will now have to go through kyverno/policies and edit and subsequently re-test ALL policies that use JMESPath expressions and add the `||` operator. Other than that, which I can take on, what's the kyverno/kyverno (code) action item here to improve working with null values? We probably need a separate issue with clear objectives.

[2022-01-20 13:55] vyankyGH commented on #2618
Not Sure. Checking.

[2022-01-20 14:16] treydock commented on #2277
@z0rc I am sketching out what this might look like in Helm, would it be sufficient to allow something like this in values.yaml for kyverno-policies chart?

[code]

[2022-01-20 14:35] z0rc commented on #2277
@treydock I'm afraid namespace exclusion is too broad. Take [kube-prometheus-stack chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) for example. It deploys in single namespace: prometheus operator, prometheus, node-exporter, kube-state-metrics, alertmanager, grafana. Excluding whole namespace from checks just because of node-expoter is too much.

I

[2022-01-20 14:38] samj1912 commented on #2665
I think the kyverno/kyverno (code) action item here to improve working with null values is to look at places we do variable substitution, for eg places like -

- conditions/preconditions
- foreach
- any other places where the variable after substitution MUST be of a certain type

and try to handle these values in ways the do not generate errors.

We can take a look at existing policies as a good s

[2022-01-20 14:47] chipzoller commented on #1070
After enhancing the policy with input from #2665 , this is fully working as tested on Kyverno 1.6.0 dev:

[code]

Rules not copied for Pod controllers as this is now included in 1.6 via #2947 .

[2022-01-20 15:03] realshuting commented on #2984
Verified against the latest main, it's working as expected.

@chipzoller - you missed `spec.validationFailureAction` in the policy.

Closing.

[2022-01-20 15:03] #2984 closed

[2022-01-20 15:15] chipzoller commented on #2984
Updated on the sample as well: https://github.com/kyverno/policies/issues/175

[2022-01-20 15:27] chipzoller commented on #2618
@vyankyGH I have pushed an update to my PSS policies to remove (commented out currently) rules I created for Pod controllers and to add the non-existence checks to succeed ( JMESPath `|| ''` ). I have not yet updated the test manifests to scrub references to those manual rules. Can you please test again and ensure everything is passing in the CLI?

[2022-01-20 15:34] z0rc commented on #2277
Take https://github.com/kyverno/kyverno/blob/df4d7ae26c2acba81f0af6953417f9decac2748c/charts/kyverno-policies/templates/default/disallow-host-path.yaml for example. In my case I need something like this added to policy:
[code]

[2022-01-20 15:42] vyankyGH commented on #2618
@chipzoller I have tested. Few test cases are failing.

[code]

[2022-01-20 15:48] #2904 closed

[2022-01-20 15:49] chipzoller commented on #2618
I had to back out the non-existence check. Can you pull in latest changes and re-test, please? Everything is working as expected in the webhook with all resources.

[2022-01-20 15:51] chipzoller commented on #2665
Would you be willing to write this up in an issue?

[2022-01-20 16:40] vyankyGH commented on #2618
@chipzoller For following policies, auto-gen testcases are still failing. Looking at it.

- disallow-capabilities
- disallow-host-ports-range-range...
- restrict-volume-types...
- disallow-capabilities-strict...

[2022-01-20 16:41] chipzoller commented on #2618
As I said, in `test.yaml` I did not update it to remove the manually-created rule names. Have you done this?

[2022-01-20 16:44] vyankyGH commented on #2618
I'm doing that.

[2022-01-20 16:46] chipzoller commented on #2618
Ah, I missed one rule in 07-disallow-capabilities-strict. Fixing.

[2022-01-20 18:05] JimBugwadia commented on #3019
Hi @ribbybibby - when we initially integrated with Cosign / k8schain this was recommended as there were some cloud provider dependency issues and Kyverno was only supporting static keys.

We can remove this.

If you have this and the other change recommended above in a fork, would you like to submit a PR?

[2022-01-20 18:29] vyankyGH commented on #2618
@chipzoller @JimBugwadia All 1014 testcases are pass.
here is the another PR to fix fail test-cases.
https://github.com/chipzoller/kyverno-pss/pull/7

<details>
<summary>Result</summary>

[code]

[2022-01-20 18:31] chipzoller commented on #2618
Merged, and thank you!

[2022-01-20 19:58] Abhishek357 commented on #2945
I have a couple of questions

1. What is the expected behavior?

    1. Warn the user and stop i.e do not show the test result.
    2. Warn the user and show the test result.

2. My approach:
    1. Apply this check in [applyPoliciesFromPath func](https://github.com/kyverno/kyverno/blob/8c6a9934703e08e7e2d88de5bfbfd7f658c4f958/pkg/kyverno/test/test_command.go#L622).
     2. Create another map[reso

[2022-01-20 20:06] treydock commented on #1278
My experience is with Helm so I'm a little biased with the idea of using Helm to replace Kustomize to generate definitions. The `helm template` command can be used to generate a single YAML file based on a Helm chart so it would be rather easy I think to take the Helm chart and generate the YAML definitions.  I think where Helm charts would need to be improved is splitting the CRD file up into sma

[2022-01-20 20:10] treydock commented on #1616
Similar to comments I made in #1278 where it's very easy to generate a single YAML file from Helm charts.  I think where things get tricky is to avoid having a bunch of the Helm specific labels and annotations added but that just may require some clever templating in the helper functions to have some new value turn those off for generating the definition.  The Helm charts standardize on `app.kuber

[2022-01-20 20:11] treydock commented on #1278
I wonder if this should be closed in favor of #1616 ? They seem to be about the same idea, standardizing on one way to generate both YAML files and Helm charts.

[2022-01-20 21:00] djtje12 opened #3034 "[BUG] escaping of { & } in regex_match function"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): minikube
* Kyverno version: kyverno cli version: 1.5.4

**Describe the bug**
When using { or } in a regex_match JMESPath custom functions the regex_match won't return a true value if the regex is matching with the v

[2022-01-20 22:33] JimBugwadia opened #3035 "[CLI] run a single test"
**Is your feature request related to a problem? Please describe.**

The `kyverno test ...` command reads a test file in a directory and runs all tests in the file.

During development, its common to want to run a single test, so its easier to troubleshoot.

**Describe the solution you'd like**

Allow running a single test from within a test file.

The test can be identified using a new parameter.

[2022-01-21 01:14] dkulchinsky commented on #2454
Thanks @realshuting! we've actually used this same approach in other cases, e.g.:

[code]

might be worth adding a note about this in the docs?

[2022-01-21 05:43] realshuting commented on #2454
Yes, we discussed this in the contributors meeting yesterday. @chipzoller @mritunjaysharma394 are working updating sample policies and clarify this in the doc.

[2022-01-21 07:59] darshini-ramesh opened #3037 "[BUG] kyverno helm chart pods are stuck in "terminating" state when kyverno deployment is deleted"
**Software version numbers**

* Kubernetes version: 1.21.2
* Kubernetes platform: EKS
* Kyverno version: Helm chart version 2.1.4 and 2.1.6

**Describe the bug**
When deleting the kyverno deployment, the kyverno pods are stuck indefinitely to "terminating" state.

Observed below cases in both **2.1.4 and 2.1.6**
1. When deleting the kyverno deployment, pods are in terminating state always.
2. When

[2022-01-21 10:36] #2969 closed

[2022-01-21 10:36] #2793 closed

[2022-01-21 10:50] vyankyGH commented on #2449
Fixes with PR https://github.com/kyverno/kyverno/pull/2997

[2022-01-21 10:50] #2449 closed

[2022-01-21 11:06] #2985 closed

[2022-01-21 11:07] vyankyGH commented on #2470
Tested With The CLI apply command.
Working as expected.

result for resource without label

[code]

[2022-01-21 11:07] #2470 closed

[2022-01-21 11:45] anushkamittal20 commented on #2323
Changing the milestone as the issue will require more discussion and work for validation of kyverno-test.yaml.

[2022-01-21 12:18] vyankyGH commented on #2767
@ziansong we are working on the issue, but we still not able to figure out root cause of the issue.
we came with the workaround for this
Please look at the following policy.
[code]
How it work is, we can add all versions of GVK in kind block and will filter it out in preconditions .
@ziansong please verify and update.

[2022-01-21 12:36] #559 closed

[2022-01-21 13:12] VaskoBozhurski commented on #2969
Hi I'm from @valentinEmpy 's team and handed me over this issue to look at. We are currently only using events which are for the `ClusterPolicy` entities so not having any resource targeted events shouldn't be an issue for our usage of kyverno.

Regards,
Vasko

[2022-01-21 13:18] realshuting commented on #2969
Thank you @VaskoBozhurski for the updates! We kept the same behavior as previous btw, there shouldn't be any change for users.

[2022-01-21 14:15] darshini-ramesh opened #3039 "[BUG] When Kyverno is not running, pods are in terminating state blocking cluster actions"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.2
* Kubernetes platform : EKS
* Kyverno version: Helm chart version 2.1.4 and 2.1.6

**Describe the bug**
When the cluster is brought down, cluster nodes are removed but the pods are still in terminating state.

**To Reproduce**
Steps to reproduce the behavior:

1. kyverno is dep

[2022-01-21 14:19] chipzoller opened #3040 "[BUG] Helm chart `extraArgs` is an object"
extraArgs in the chart README is an object {}. Ex., `--set extraArgs={"-v=4"}`

[2022-01-21 14:34] chipzoller opened #3041 "[BUG] Creating Namespace conforming to policy wipes out rules from validatingwebhookconfiguration"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.5 (assumed), 1.6 dev

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following ClusterPolicy:

[2022-01-21 19:25] mritunjaysharma394 commented on #3004
UPDATE: Folks, here is an update on this issue, I asked in `sig-api-machinery` in `k8s` slack workspace too to ask for their opinions and got the reply that it indeed is a Kubernetes v.123 issue and they have asked to open an issue in kubernetes/kubernetes which I have opened [here ](https://github.com/kubernetes/kubernetes/issues/107690) and I guess a [fix](https://github.com/kubernetes/kubernete

[2022-01-21 19:25] #3004 closed

[2022-01-21 19:58] liggitt commented on #3004
The fix for this will be included in the 1.23.3 patch release, which we're planning to accelerate (hopefully will be available ~early next week)

[2022-01-21 20:56] dkulchinsky commented on #2964
@chipzoller @JimBugwadia considering this is quite a regression and we had to upgrade to 1.5.5 due other bugs in previous versions, would you consider cherry-picking this for a patch release in 1.5? I'm not sure how far away 1.6 is, but looks like there's still plenty of issues open on the 1.6 milestone.

[2022-01-21 21:15] chipzoller commented on #2964
1.6 is within the next couple weeks.

[2022-01-22 05:49] zeborg commented on #2978
Related to #3004, should be fixed by K8s server 1.23.3 release after patching kubernetes/kubernetes/pull/107688.

[2022-01-22 05:49] #2978 closed

[2022-01-22 05:50] zeborg commented on #2957
Related to #3004, should be fixed by K8s server 1.23.3 release after patching kubernetes/kubernetes/pull/107688.

[2022-01-22 05:50] #2957 closed

[2022-01-22 07:19] realshuting opened #3046 "Use the typed client to update `GenerateRequest`"
**Is your feature request related to a problem? Please describe.**
As of 1.6.0, Kyverno updates GenerateRequest's status via the dynamic client which leads to the throttling issue and the following failures:
[code]

**Describe the solution you'd like**
Switch to use the typed client to operate `GenerateRequest`.

[2022-01-22 07:44] realshuting commented on #3039
Hi @darshini-ramesh - this is because webhook configurations are not cleaned up when Kyverno shuts down.

The best practice is to scale down Kyverno before the EKS cluster is terminated. For details and other workarounds, please see 2) and 3) in this comment https://github.com/kyverno/kyverno/issues/2869#issuecomment-1017231609.

Happy to discuss your use case if they don't fit.

[2022-01-22 07:55] #3041 closed

[2022-01-22 17:24] treydock opened #3047 "[BUG] Kyverno CLI test and apply both fail when using namespaceSelector under match.any or exclude.any"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.4

**Describe the bug**
I am unable to test with `kyverno test` or `kyverno apply` when I use a policy that uses `exclude.any` or `match.any` and `namespaceSelector`

**To Reproduce**
policy.yaml

[2022-01-22 17:35] treydock commented on #3047
Here is simple example that should fail, and fails on live cluster and not via CLI:

Live cluster:

[code]

CLI output:

[code]

namespace.yaml

[code]

policy.yaml

[code]

resource.yaml

[code]

test.yaml

[code]

value.yaml

[code]

[2022-01-22 17:53] treydock commented on #3047
Also this was discussed in Slack: https://kubernetes.slack.com/archives/CLGR9BJU9/p1642869077119000

This issue is also present if I remove all but the `namespaceSelector` and change `match.any` to `match.all` so this seems to affect both the `any` and `all`.

[2022-01-22 19:36] JimBugwadia commented on #2964
@dkulchinsky - the team is currently working on getting an 1.6 RC completed, in the next day or so.  As Chip mentioned, getting the release completed may have a couple of weeks.

The fix looks fairly localized, so should be OK to cherry-pick / merge to 1.5.x. Do you want to submit a PR? Otherwise, we can revisit after the RC.

@realshuting - any additional thoughts?

[2022-01-22 22:34] zeborg commented on #3047
Hi @treydock, apparently this does not have anything to do with `any`/`all` but rather with the negation anchor.
According to the intended behaviour of negation anchors, it is supposed to block, and thus `fail`, any resource that includes any key at the mentioned path that has a negation anchor applied to it within the policy _(may check out https://github.com/kyverno/kyverno/pull/2986)_.

From wh

[2022-01-22 22:42] chipzoller commented on #3047
It looks like this test should be a `skip` as Trey pointed out. The second `exclude.any` clause is true because the namespace has the label in the namespaceSelector, so the resource should be skipped over.

[2022-01-22 22:46] zeborg commented on #3047
Sorry, I guess I mistook it for `match`! I'll look into this right away.

[2022-01-23 00:09] dkulchinsky commented on #2964
Thanks @JimBugwadia, just looked at the fix, indeed looks simple enough so happy to try a PR for 1.5, this is impacting us with several policies, so would be great to have path release with this fix (we also can't go back to 1.5.2 because of other bugs there were fixed since than)

[2022-01-23 00:28] zeborg commented on #3047
Update:

https://github.com/kyverno/kyverno/blob/cdedf11a1c09358643919386573ef33362014de8/pkg/kyverno/common/common.go#L472-L479
It seems like currently we're not handling `any`/`all` conditions for CLI _(seems very strange)_. In order to do that, we'll need to add checks for value of `namespaceSelector!=nil` for `p.MatchResources.Any`, `p.MatchResources.All`, `p.ExcludeResources.Any` and `p.Exclu

[2022-01-23 02:18] treydock commented on #3047
@zeborg I think you're correct.  I made some changes to my local copy of Kyverno and ran my tests and they work: #3050 is changes based on you pointing out where the issue is.

[2022-01-23 02:28] zeborg commented on #3047
That's great! Glad that I could help 😄

[2022-01-23 02:40] treydock commented on #2277
@z0rc I created #3051 to add this capability. One example of how this can be used is part of the E2E tests: https://github.com/kyverno/kyverno/pull/3051/files#diff-ad9f277ec422c6f6278b8a493b12ead9dbe196083582b1f3688cd549c06addfc

[2022-01-23 13:54] #2814 closed

[2022-01-23 13:54] #2368 closed

[2022-01-23 15:13] chipzoller opened #3053 "[BUG] Negation of a string beginning with numbers incorrect"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-dev-latest

**Describe the bug**
A `validate` policy which checks that the value of a field (type string) is not a given value does not evaluate correctly if the string begins with a numbe

[2022-01-23 16:16] 4molybdenum2 opened #3055 "Update Test manifest files and related documentation"
**Is your feature request related to a problem? Please describe.**
- We need to update the manifest format used in the ```test``` command with separate entries in the results[] field for each resource after: #3054 gets merged.
- We also need to make related documentation update for the above changes

**Describe the solution you'd like**

Example update:
[code]

to

[code]

**Additional Context**
R

[2022-01-23 17:13] #3040 closed

[2022-01-23 20:34] JimBugwadia commented on #2938
Hi @samj1912 - good points.

The JSON Context is a map / JSONObject. It contains built-in and user defined variables, including the `images` variable. Perhaps you are referring to something else?

If `containers` etc. are not applicable, can we organize the images using the parent in the CRD? For example, for Tekton it could be `steps`.

[code]

We can propose updates (evolutionary if possible) to

[2022-01-23 20:38] JimBugwadia commented on #2732
@chipzoller - can this issue be closed, or should we move to 1.6.1 and keep open?

[2022-01-23 21:44] awoodsprim commented on #1234
We are seeing this with version 1.5.3 and the "IstioOperator" crd.

That has a schema that looks like this:

[code]

This results in the following log message being continuously sent:

[code]

**Entire CRD definition is below:**

[code]

[2022-01-23 22:11] chipzoller commented on #2732
Let's close.

[2022-01-23 22:11] #2732 closed

[2022-01-24 02:57] JimBugwadia commented on #1234
Is this reproducible with 1.6.x? I believe it was fixed, but would be good to verify.

[2022-01-24 03:24] vyankyGH commented on #2767
@ziansong I'm closing the issue. Please free to open reopen if you face any issues. Please reach out for any help.

[2022-01-24 03:24] #2767 closed

[2022-01-24 03:35] ojhaarjun1 opened #3058 "ValidationFailureActionOverrides Optimizations"
**Is your feature request related to a problem? Please describe.**
I. Currently, all Cluster Policies using `ValidationFailureActionOverrides` and having `enforce` Action for at least one of the Namespaces are handled by the Validation Webhook alone.

II. In case a Namespace is defined for both actions `Validate` and `Enforce` whichever is listed first is taken as the action.

**Describe the solut

[2022-01-24 05:49] realshuting opened #3063 "Update Chart kyverno-policies"
**Is your feature request related to a problem? Please describe.**

With all changes in 1.6.0, PSS policies need to be updated https://github.com/kyverno/kyverno/tree/main/charts/kyverno-policies/templates.

[2022-01-24 05:50] realshuting commented on #3063
cc @chipzoller

[2022-01-24 05:54] vyankyGH commented on #2618
@chipzoller what is plan to merge PSS policies. we have kyverno/policies release-1.6 branch. we can update in that branch.

[2022-01-24 07:15] BerndFarkaDyna opened #3064 "Support various KMS of cosign"
Cosign is supporting various KMS (https://github.com/sigstore/cosign/blob/main/KMS.md)

This has the great benefit that your keys get manged by an system which is designed to do that (handling rotating keys, invalidation..)

Currently it is only possible to add public keys to cosign, but it would be great to use cosigns built in features to validate against an external KMS (hashicorp vault for exa

[2022-01-24 07:23] JimBugwadia commented on #3064
There was a prior PR for this (https://github.com/kyverno/kyverno/issues/2584) but it has not been fully tested and documented. Have you already tried Vault or another KMS?

Also see:
- https://github.com/kyverno/kyverno/issues/3017
- https://github.com/kyverno/kyverno/pull/3036

[2022-01-24 09:14] demikl opened #3065 "[BUG] policy 'XXX' (Validation) rule 'autogen-YYY' failed. validation rule 'autogen-YYY' passed."
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.5-eks-bc4871b
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.5.5

**Describe the bug**
When applying any policy from the helm chart kyverno-policies (chart v2.1.5), a WARNING event is emitted on each audited deployment, statefulset or

[2022-01-24 09:25] demikl commented on #2844
May be related to  https://github.com/kyverno/kyverno/issues/3065

[2022-01-24 09:27] realshuting commented on #3065
This should be fixed in 1.6.0. @demikl - do you want to backport the fix to 1.5.x?

[2022-01-24 09:28] demikl commented on #3065
Hi, yes, that was the point, if it's not risky.

[2022-01-24 09:30] realshuting commented on #3065
It should be straightforward. Created milestone 1.5.6 to track.

[2022-01-24 10:21] BerndFarkaDyna commented on #3064
@JimBugwadia:

I was not aware that this feature is already been merged, THX

just from the first look on it, for vault I'm missing the possibility to set

- VAULT_ADDR
- VAULT_TOKEN

Environment Variables for cosign..

Did i miss something or should this already be possible?

[2022-01-24 12:37] ribbybibby commented on #772
In my case I'm only interested in the mutation and validation features of Kyverno and, following the principle of least privilege, I'd like to disable the generate option because the permissions it requires are quite broad (cluster-level CRUD to configmaps/secrets/ingresses).

It may be that just removing the `kyverno:generate` clusterrole from my manifests is sufficient here, though?

[2022-01-24 12:57] chipzoller commented on #3063
Yeah, I am going to work with Trey to get this done. The question here is around versioning. This PSS refresh will require 1.6. We will need to ensure users installing/using earlier versions of Kyverno know to not install the latest chart. I'm not sure the best process for that.

[2022-01-24 13:01] chipzoller commented on #2618
I think the plan is to:
1. Move them all to `main` and replace any ones there. We can do a sync beforehand to release-1.5 if needed or apply manual fixes to the best of our ability.
2. Get @treydock help to incorporate them into the pss policies Helm chart as a new version.

[2022-01-24 14:03] ojhaarjun1 opened #3069 "[BUG] Event Object missing TypeMeta"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.6.0-rc1

**Describe the bug**
APIVersion and Kind are empty strings when new Events are generated.

**To Reproduce**
Steps to reproduce the behavior:
1. `$ k apply -f test/best_practices/disallow_lat

[2022-01-24 14:27] #3065 closed

[2022-01-24 15:16] amehub opened #3070 "[BUG] Policies flapping between Ready False, Ready True. All go to False."
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Baremetal (Kubespray)
* Kyverno version:   v1.5.4 and Helm Chart Version v2.1.6,  v1.5.5 and Helm Chart version v2.1.7

**Describe the bug**
A clear and concise description of what the bug is.

After the Kyverno H

[2022-01-24 17:25] chipzoller commented on #2945
Sorry for the delay here, @Abhishek357. My suggestion would be to skip over any resources that have a name duplication but continue the rest of the tests.

[2022-01-24 17:28] chipzoller commented on #2618
I am still seeing this in the 1.6-rc1 version of the CLI. It's just for this one policy. Everything else looks ok.

[2022-01-24 18:00] JimBugwadia commented on #2964
Hi @dkulchinsky - yes it seems like that function will need to be back ported as well:

https://github.com/kyverno/kyverno/blob/5ad0d152402f690bd5af2a14ce12d1608ca7d4ca/pkg/webhooks/common.go#L156

It looks fairly independent, so should not require pulling in anything additions.

Let me know if you run into any issues with porting it.

[2022-01-24 19:26] treydock opened #3071 "[BUG] Unable to test policy rule skipped with namespaceSelector"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.x

**Describe the bug**
Testing policies that select using namespaceSelector, I'm unable to test the policy is skipped.  The result of the tests is `Not found`.

**To Reproduce**
policy.yaml:
[code

[2022-01-24 19:32] treydock commented on #3071
Not an issue with `match.any` as I moved to older syntax and still the same issue:

[code]

[2022-01-24 20:23] dkulchinsky commented on #2964
I think I managed to get it sorted @JimBugwadia

https://github.com/kyverno/kyverno/pull/3072

/cc @realshuting

[2022-01-24 21:24] treydock commented on #3071
Sorry for noise, this was issues with using `webservices` in some places and `webservice` in others for resource names.  Tests now work.

[2022-01-24 21:24] #3071 closed

[2022-01-24 21:39] Boojapho opened #3073 "[BUG] Kyverno-pre fails to start when deployed using Helm chart with release name != kyverno"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3D
* Kyverno version: 1.5.5 (Helm chart: 2.1.7)

**Describe the bug**

When Kyverno is installed using the Helm chart and the release name is not `kyverno`, the kyverno-pre pod errors with `main.go:128]  "msg"="f

[2022-01-24 23:12] chipzoller opened #3074 "Update CRD in description field of `foreach`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.6-rc1

The `DESCRIPTION` field of both `validate.foreach` and `mutate.foreach` needs some polishing.

`validate.foreach`:

[code]

`mutate.foreach`

[code]

[2022-01-24 23:43] chipzoller opened #3075 "[BUG] Operators don't treat empty string correctly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-rc1

**Describe the bug**
Operators like `GreaterThan`, `LessThan` etc don't treat empty strings ( `''`) correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create this policy

[2022-01-24 23:59] chipzoller opened #3076 "Add policy to mutate Pods to add default resource requests"
[code]

[2022-01-25 00:20] chipzoller opened #3077 "[BUG] `kyverno test` indentation fix"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.6-rc1

**Describe the bug**
Minor indentation fix in the help output for `kyverno test`

**To Reproduce**
Steps to reproduce the behavior:
1. `kyverno test -h`
2. See similar output

[code]
3

[2022-01-25 00:22] chipzoller opened #3078 "[BUG] Multiple objects in `mutate.foreach[]` (patchStrategicMerge) do not produce "cumulative" patch"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-rc1

**Describe the bug**
A policy with a single rule having two objects in a `mutate.foreach[]` element does not appear to produce an end result by which the patched result is cumulative

[2022-01-25 03:48] vyankyGH commented on #2618
This info message is because, in resource don't have spec.volume specified.
Here https://github.com/kyverno/kyverno/blob/3089edafa471cb0ddad4062d52e4328edbd27d5c/pkg/engine/variables/operator/anyin.go#L43
By default we are showing info. It's not the error.

[2022-01-25 04:06] ramanand-rv commented on #3077
Hey @chipzoller, I would like to work on this issue.

[2022-01-25 04:17] realshuting commented on #3073
@ojhaarjun1 - can you investigate this issue? Looks like we hard-code Kyverno deployment's name in the initContainer.

[2022-01-25 05:32] vyankyGH commented on #3077
Assigned.

[2022-01-25 08:06] #3047 closed

[2022-01-25 09:00] #3078 closed

[2022-01-25 13:18] chipzoller commented on #2618
Fixed on my end with a non-existence check:  `"{{ request.object.spec.volumes[].keys(@)[] || '' }}"`

[2022-01-25 14:22] realshuting opened #3087 "[BUG] Error resolving variables with "/""
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.0
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Kind
* Kyverno version: v1.6.0-rc1

**Describe the bug**
This sample policy [unique-ingress-paths.yaml](https://github.com/kyverno/policies/blob/release-1.6/other/unique-ingress-paths.yaml) breaks for Kyverno v1.6

[2022-01-25 15:50] #3073 closed

[2022-01-26 02:25] liggitt commented on #3004
FYI, v1.23.3 has been released with a fix for this issue

[2022-01-26 02:26] liggitt commented on #2978
FYI, Kubernetes v1.23.3 has been released

[2022-01-26 20:58] JimBugwadia opened #3091 "[BUG] keyless verification is broken"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.6.0-rc1

**Describe the bug**

Keyless verification no longer works.

Looks like the signed payload does not contain optional elements which are required for keyless verification:

[code]

[code]

The same image from the Cosign CLI fetches the attestatio

[2022-01-26 23:01] se77enn opened #3093 "Default Proc Mount policy is not working"
**Software version numbers**
* Kubernetes version: 1.22.3 (Commit c92036820499fedefec0f847e2054d824aea6cd1)
* Kyverno version: 1.57, 1.58, [pre-release 1.61](https://github.com/kyverno/kyverno/tree/release-1.6)
* Minikube version: 1.24.0 (commit - 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b)

**Describe the bug**
The default proc mount policy in the [official docs](https://kyverno.io/policies/pod-sec

[2022-01-27 00:13] chipzoller commented on #3093
Thanks for the report. I confirmed this on build `1.6-dev-99-g3be48b9f` as well. Something appears to have broken with the webhook causing these to be admitted while appearing to operate properly with the CLI.

[code]

[2022-01-27 00:16] se77enn commented on #3093
Yes with the CLI - everything passes as expected but manually applying the policy and resource it fails (E.g the behavior is not consistent with CLI test - `kyverno test ./`

I was wondering why this inconsistency exists (E.g difference between kyverno CLI and manually testing) and from the docs it appears that the kyverno CLI is

Therefore is the difference that when testing the policy manually w

[2022-01-27 00:18] chipzoller commented on #3093
When applying a resource to a Kubernetes cluster, the Kyverno CLI does not participate in the process. Although the CLI and Kyverno image are from the same code, that gets sent to the webhook side of Kyverno which typically *is* the same logic, but clearly here there is some disconnect.

[2022-01-27 00:39] chipzoller commented on #3093
I just now remembered the issue.

Kyverno is actually working correctly. Unless the Kubernetes API server has the procMount [feature gate](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) enabled, a Pod which calls for `Unmasked` will be set to `Default` hence the passing of the "bad" resources.

Input bad Pod (taken from the test resources):

[code]

What gets pe

[2022-01-27 00:43] chipzoller commented on #3093
I will update the PSS policy to add a note about this for future users.

[2022-01-27 00:47] #3093 closed

[2022-01-27 00:49] se77enn commented on #3093
Will any other string besides `"Unmasked"` be properly set to `"Default"`? What if it was `procMount: "someRandomString"`
I tested this before and it passed the policy, so I am guessing the API Server is performing the correct mutation to `"Default"`

[2022-01-27 02:34] chipzoller commented on #3093
As I recall, if that feature gate is not enabled, anything other than Default will get reverted.

[2022-01-27 05:42] samj1912 opened #3094 "Allow configmap external data calls to be modified via a jmespath option similar to apicall and image registry"
**Is your feature request related to a problem? Please describe.**

Currently configmap is the only external data access type that doesn't support jmespath transformations when it is defined as a context variable. This is particularly useful with the newly added `parse_json` jmespath function to parse configmap data before it is used in a rule.

**Describe the solution you'd like**

Allow an addit

[2022-01-27 06:17] samj1912 commented on #2983
@dmitrytretyakov we are still using policy/v1beta1 APIs for Kyverno 1.5 - See https://artifacthub.io/packages/helm/kyverno/kyverno?modal=template&template=poddisruptionbudget.yaml

and https://github.com/kyverno/kyverno/blob/f9eb85db26b92cd6867ee4a5f1726a2d5d514835/charts/kyverno/templates/poddisruptionbudget.yaml#L2

[2022-01-27 06:49] samj1912 opened #3099 "Run kyverno E2E tests for all the kubernetes versions we have in our compat matrix"
**Is your feature request related to a problem? Please describe.**
There are often times when kyverno regresses only for a certain version of kubernetes. Our current e2e tests are run on K8s v1.21 - we should have a github actions matrix for a given release branch that runs against all of our targeted versions. https://kyverno.io/docs/installation/#compatibility-matrix

**Describe the solution you

[2022-01-27 07:18] prateekpandey14 opened #3101 "[BUG] generate clone/sync takes time to sync the updates"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: latest/1.6.0-rc1

**Describe the bug**
Generate clone secret taking more time to sync the secret across the namespace instead of syncing the updates in secret instantly

**To Reproduce**
Steps t

[2022-01-27 07:27] #2983 closed

[2022-01-27 07:29] prateekpandey14 commented on #3063
We can control the installation of the latest PSS policies using a flag in values.yaml file.

[2022-01-27 07:31] realshuting commented on #3069
With all best-practices policies installed, I cannot reproduce it with `k run nginx --image=nginx:latest`:

[code]

Closing. Please reopen if the issue can be reproduced in other ways.

[2022-01-27 07:31] #3069 closed

[2022-01-27 12:48] samj1912 opened #3103 "[BUG] preconditions do not work properly when the first argument is not a resource.quantity"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Docker Desktop
* Kyverno version: main

**Describe the bug**

[code]
This works.

[code]

This doesn't -

EngineValidate "msg"="Failed to parse both float64 and int64 from the string value" "error"="parse error: " "

[2022-01-27 12:52] go-faustino opened #3104 "[BUG] Kyverno is updating quotes and backslashes on unrelated fields in unrelated list items"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: v.1.5.8

**Describe the bug**
Kyverno is changing quotes and backslashes in fields that should not be mutated, even in list items that should be filtered out of the mutation entirely.

Also, all tests pass when the patchedResource contains the original con

[2022-01-27 13:58] chipzoller commented on #3063
We will need this pretty soon. The PSS policies are basically complete (aside from some annotation level clean-up) and all issues related to them in Kyverno 1.6 main have been resolved.

[2022-01-27 14:25] treydock commented on #3063
@chipzoller So need the update soon for Kyverno charts to restrict the 1.5.x branch releases to Kyverno < 1.6.x and then when the 1.6.x charts are updated, do something similar where those charts require >= 1.6.x ?

[2022-01-27 14:56] sowhatim opened #3105 "[BUG] Unable to mutate a Pod resource with args in a specific format"
**Software version numbers**
v1.6.0-rc1

* Kubernetes version: 1.19.15
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.6.0-rc1

**Describe the bug**
When trying to create a pod with the following template

[code]

I receive the following error in the kyverno

[code]

The policy that I have is

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2022-01-27 15:11] chipzoller commented on #3105
Related to https://github.com/kyverno/kyverno/issues/3104

[2022-01-27 15:13] treydock commented on #3063
Actually the way this will have to work, since Kyverno and policies are different charts, is the policies chart will have to use `lookup` function to query the running Kyverno version.

[2022-01-27 15:22] chipzoller commented on #3063
Can you attend the contributors' meeting today at 12pm EST, @treydock ?

[2022-01-27 15:31] treydock commented on #3063
I think I can. My daughter was just born 3 weeks ago and I watch her during the day so whether I can attend and potentially speak is entirely up to her.  I'll plan on being there and hopefully she'll sleep through most of it

[2022-01-27 15:36] chipzoller commented on #3063
That's certainly more important so totally understand. If you can't not a problem, just figure it'd be better to speak.

[2022-01-27 15:49] chipzoller opened #3106 "Better handling of `null` values"
I think the kyverno/kyverno (code) action item here to improve working with null values is to look at places we do variable substitution, for eg places like -

- conditions/preconditions
- foreach
- any other places where the variable after substitution MUST be of a certain type

and try to handle these values in ways the do not generate errors.

We can take a look at existing policies as a good s

[2022-01-27 15:50] chipzoller commented on #3106
Not sure if you got notified of this comment being broken out into a new issue, @samj1912

[2022-01-27 19:13] Prateeknandle commented on #2582
I guess, I should implement logic in [here](https://github.com/kyverno/kyverno/blob/main/pkg/engine/utils.go#L131).

[2022-01-27 19:34] chipzoller opened #3109 "Adopt GitHub issue forms"
Adopt new issue templates

[2022-01-27 20:53] Prateeknandle commented on #2582
Logic:
- Define `MatchResources.ResquestTypes` and what values it can take(validate),
- set request.operation of AdmissionReview request to that value.
If logic is right then should I implement logic in this [file.](https://github.com/kyverno/kyverno/blob/main/pkg/engine/utils.go)

[2022-01-27 22:55] chipzoller opened #3110 "[BUG] Resource deletion behavior inconsistent across deny rules; fails on `foreach` rules"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-dev-latest (1.6-dev-101-gb2724811)

**Describe the bug**
The behavior of a `DELETE` request is inconsistent when comparing two deny rules.
1. A resource validated (allowed) by a `validat

[2022-01-27 23:07] MaxRink opened #3111 "[BUG] Helm uninstall doesnt remove all resources"
**Software version numbers**
Helm chart 2.1.10 ( but others too)
* Kubernetes version: 1.21.9
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.8

**Describe the bug**
An Helm uninstall (in our case via flux) leaves dangling resources in the cluster.
This could be avoided by using an pre-delete hook in Helm to remove the resource validating webhook before the

[2022-01-28 05:13] #3091 closed

[2022-01-28 07:24] realshuting commented on #2248
Will open a new issue to track the automation. Closing.

[2022-01-28 07:24] #2248 closed

[2022-01-28 07:28] realshuting opened #3113 "Automate Performance Testing"
**Is your feature request related to a problem? Please describe.**

With https://github.com/kyverno/kyverno/issues/2248, we managed to build the test env and spin up workloads manually to measure Kyverno performance.

This issue can be used to track the full automation of the scaling testing and generate the final report for Kyverno performance.

[2022-01-28 07:30] zeborg commented on #3110
Hey @chipzoller - please correct me if I'm wrong, but looking at this policy I believe we can use `NotIn` instead of `AnyNotIn` in `deny.conditions` for `require-drop-all`?

I looked at the accepted key types for `AnyNotIn` and this policy should be working fine according to it. Although it seems to be validating correctly for `NotIn` _(please crosscheck with the expected behavior)_, it's not work

[2022-01-28 09:06] Prateeknandle commented on #3074
these changes need to be done [here?](https://github.com/kyverno/kyverno/blob/main/config/release/install.yaml#L1462)
I'm interested, please assign !

[2022-01-28 09:47] prateekpandey14 commented on #2249
Will open a new issue to track this further. Closing.

[2022-01-28 09:47] #2249 closed

[2022-01-28 09:53] prateekpandey14 opened #3114 "Extend Kyverno CLI to cover generate policies"
**Describe the solution you'd like**
Extend the Kyverno CLI to cover generate policies (currently only validate and mutate policies are covered via the kyverno test command)

**Additional context**
For LFX mentorship candidates interested in this project, here are a few ways to get started and learn more:

1. Install Kyverno in a cluster and learn about the different policy rule types (https://kyv

[2022-01-28 10:44] atulatnirmata opened #3115 "[BUG] Cosign verify rule failing with private registry"
**Software version numbers**

* Kubernetes version: v1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): minikube and also on docker kubernetes cluster
* Kyverno version: 1.5.8/latest

**Describe the bug**
Followed the instructions at https://kyverno.io/docs/writing-policies/verify-images/ to verify images from private repository. Created regcred and also passed it as imagePull

[2022-01-28 11:25] chipzoller commented on #3110
NotIn is deprecated and switching the operator really isn't a solution here, more of a workaround.

[2022-01-28 11:59] chipzoller commented on #3063
Right as I had literally finished getting the PSS policies finalized, an update was sent to the upstream documentation removing a control and inverting a check for volumes, so I'll have to make the appropriate changes on our side.

[2022-01-28 13:04] rahulii commented on #3111
Hi @MaxRink , I want to work on this!

[2022-01-28 13:29] ribbybibby opened #3117 "Improvements for image pull secrets"
**Is your feature request related to a problem? Please describe.**

I think that the story around image pull secrets is less than ideal right now.

Some thoughts:
 - Specifying `-imagePullSecrets` also toggles the fetching of secrets from the service account. This isn't implied by the flag or made explicit in the documentation. It adds a potentially unnecessary API call to fetch the service accoun

[2022-01-28 13:53] mirozoe opened #3118 "[BUG] Scaling Deployment passing through validation"
**Software version numbers**

* Kubernetes version: 1.19.15
* Kubernetes platform: EKS
* Kyverno version: 1.5.7

**Describe the bug**
Validating ClusterPolicies what should validate Deployment replicas number, allows to scale up/down with `kubectl scale`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create ClusterPolicy
[code]
2. Create deployment
[code]
3. Scale deployment with `kubectl

[2022-01-28 14:40] chipzoller commented on #3063
Massive PR is sent: https://github.com/kyverno/policies/pull/241

[2022-01-28 14:56] 4molybdenum2 commented on #2861
/assign
I can take this issue, can I get a little bit of context for the "values.yaml" file? Should it be like the variables.yaml file that is currently supported for the kyverno-test.yaml file?

[2022-01-28 15:17] ribbybibby commented on #2931
This was fixed.

[2022-01-28 15:17] #2931 closed

[2022-01-28 15:53] zeborg commented on #2861
I'm currently prioritising bug fixes until `v1.6.0` is released so it might take me some time before I begin working on this enhancement. I'm assigning this issue to you @4molybdenum2, looking forward to your contribution! 👍

[2022-01-28 17:43] rahulii commented on #3111
I was able to reproduce the issue:
helm uninstall kyverno
[code]

[2022-01-28 17:44] rahulii commented on #3111
@MaxRink whats the main reason behind this issue?

[2022-01-28 17:59] MaxRink commented on #3111
We ran into it migrating kyverno between namespaces.

[2022-01-28 18:01] rahulii commented on #3111
whats the root cause behind this issue occuring?

[2022-01-28 18:10] rahulii commented on #3035
@JimBugwadia I would want to work on this, could you give me some pointers to get started? Also please assign it to me!

[2022-01-28 18:12] MaxRink commented on #3111
Another option might be to create a stub webhook by the helm chart so that the uninstall will also remove the webhook

[2022-01-28 23:29] JimBugwadia opened #3119 "SLSA Level 3 compliance for Kyverno"
**Is your feature request related to a problem? Please describe.**

SLSA Level 3 compliance for the Kyverno build process

**Describe the solution you'd like**

Plan and execute steps to make Kyverno CI/CD SLSA Level 3 compliant

**Additional context**

- https://slsa.dev/
- [SLSA Level 1 compliance in the Kubernetes Release Process](https://github.com/kubernetes/release/issues/2267)
- [SLSA Level

[2022-01-29 02:35] JimBugwadia opened #3120 "OpenTelemetry exporter"
**Is your feature request related to a problem? Please describe.**

Kyverno currently supports Prometheus metrics but does not allow collection of data via OpenTelemetry.

**Describe the solution you'd like**

Add an OpenTelemetry exporter to provide Kyverno metrics, logs, flows, and policy results to any OpenTelemetry collector.

**Additional context**
- https://opentelemetry.io/
- https://opente

[2022-01-29 03:17] vyankyGH opened #3121 "E2E tests and CLI tests to cover sample policies"
**Is your feature request related to a problem? Please describe.**
Improve tests coverage for Kyverno Based on the test results, we need to add more unit/E2E tests.

**Describe the solution you'd like**
Steps to get started
1. Install the Kyverno CLI and get familiar with the `test` command.
2. Write test cases  policies which currently don't have

[2022-01-29 09:51] samj1912 commented on #3075
@chipzoller I think the comparison here is a bit inaccurate since no resources in a requests/limit field in a pod object effectively mean infinite resources rather than 0. If we were to treat it as 0,it would mean that if we set a validation policy where requested resources have to be less than 100mi for eg, a pod with undefined memory fields should fail since it effectively has no limits and can

[2022-01-29 10:37] samj1912 commented on #3117
Fixed in #3116

[2022-01-29 10:55] Namanl2001 commented on #2894
closing via #2898 . Thanks @4molybdenum2

[2022-01-29 10:55] #2894 closed

[2022-01-29 11:54] chipzoller commented on #3074
The CRD must be updated across all its definitions, not the install manifest.

[2022-01-29 12:10] chipzoller commented on #3075
You make a good point, @samj1912, and now I see that this be more accurately address simply by specifying the key as `"{{ element.resources.requests.memory || '0' }}"`. But this one specific use case aside, do we not think that the logic is still sound here? Should a comparison of a scalar/quantity to either `null` or `''` still work? Is `1` greater than `''`?

[2022-01-29 12:30] samj1912 commented on #3075
I think it very much depends on the context and I can't think of good defaults that would work everywhere. This is also why comparing a null quantity with a non null quantity is undefined. I think this issue goes back to our discussion on the original null/empty string issue. In general I think we should not implicitly mix types (numbers vs strings vs nulls) as that typically leads to weird behavi

[2022-01-29 12:57] chipzoller commented on #3075
Yes, I remember seeing that wtfjs being presented and it is funny.

So do I interpret your opinion here that we should just leave well enough alone (for now) and figure out how to handle things in more explicit ways rather than trying to make assumptions for ease of expression?

[2022-01-29 13:49] rahulii commented on #3035
Hi @JimBugwadia , how can a user define multiple tests in a same test file? cant find the example on docs. Can you please help me point to the example where in a single file there are multiple tests defined?

[2022-01-29 14:12] chipzoller commented on #3035
I'm guessing "tests" here would be isolating an entry in the `results[]` array? Or something different?

[2022-01-29 14:36] rahulii commented on #3035
@chipzoller but there is no "name" to individual results , so how do we differentiate them?

[2022-01-29 14:39] chipzoller opened #3125 "[BUG] [CLI] Mutate test failures scored as `pass`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.6 main

**Describe the bug**
The prepend-image-registry policy, when tested, throws errors at the top like

[code]

which are logged at an informational level yet are clearly errors. The test

[2022-01-29 15:00] chipzoller commented on #3035
I know, that's the question to @JimBugwadia . If a "single test" is defined as targeting a specific entry in the `results[]` array, then logically there has to be a unique way to identify that result/test from all others. There isn't such a mechanism today.

[2022-01-29 19:51] zeborg commented on #3125
Hey @chipzoller, I looked into this test and figured out that these errors are actually expected, the reason being that we're also testing for failures here.

For example,
[code]
In this test case provided within `prepend_image_registry`, the patched resource does not match the mutated one, which should in fact log the error that you've mentioned in this issue, and should therefore result in `fail

[2022-01-29 19:57] zeborg commented on #3125
One issue that I did notice with `prepend_image_registry` is that there's no precondition in the `prepend-registry-initcontainers` rule for checking the existence of `initContainers` within the pod, which results in a forced mutation attempt even in pods that have no `initContainers`.

[2022-01-29 20:10] chipzoller commented on #3125
Addressed in https://github.com/kyverno/policies/pull/241/commits/4e6d237b61e4f1555870d4f11ea910739e6b5e73

Maybe we shouldn't log it at all in the `kyverno test` command. Such logged messages aren't exposed in validate rules even if the result is stated as `fail`, so it seems that in order to be consistent and also not create confusion, we maybe should just suppress this type of message and in th

[2022-01-29 20:18] zeborg commented on #3125
In that case I think it would be better to just bump up the verbosity for this log to 3 or 4, whichever seems appropriate in this context.

[2022-01-29 20:28] chipzoller commented on #3125
That seems like maybe a better approach so no information is eliminated yet nothing is printed at default levels avoiding user confusion. Suggestions otherwise?

[2022-01-29 20:43] zeborg commented on #3125
Sounds about right. I'll be going with `V(3)` since that's what's used throughout `test_command.go` as the higher verb level for logging failures.

[2022-01-29 20:43] chipzoller commented on #3125
Sounds good to me.

[2022-01-29 21:43] JimBugwadia commented on #3035
We can use an index or a strong with attribute tag value pairs to identify which tests to run.

[2022-01-29 21:46] samj1912 opened #3128 "[BUG] Kyverno variable validation is stricter than necessary"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Docker Desktop
* Kyverno version: main

**Describe the bug**

On creating a valid policy like -

[code]

Kyverno complains with -

[code]

Issue seems to be because of https://github.com/kyverno/kyverno/blob/1af9e48

[2022-01-29 21:46] samj1912 commented on #3128
cc: @AverageMarcus, @chipzoller

[2022-01-29 22:27] chipzoller opened #3130 "[BUG] Kyverno panics with `division by zero` message"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6 main

**Describe the bug**
Kyverno panics and hangs (then recovers) printing `division by zero` message in the logs when a certain type of policy is created.

**To Reproduce**
Steps to r

[2022-01-29 22:58] chipzoller opened #3131 "[BUG] Cannot compare precondition expression's value in `foreach`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6 main

**Describe the bug**
A validate.foreach loop using preconditions does not allow existence/non-existence expressions and throws an error like `Failed to parse value type doesn't mat

[2022-01-30 00:56] samj1912 opened #3132 "[BUG] Variable substitution fails if an inline jmespath object is used"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Docker Desktop
* Kyverno version: 1.6 main

**Describe the bug**

Given the policy -

[code]

And following resources -

[code]

Variable substitution never happens for the `key`.

**Expected behavior**

The above r

[2022-01-30 01:06] chipzoller commented on #2699
@afzal442 are you still working on this?

[2022-01-30 01:07] chipzoller commented on #3132
I wonder if this linked PR would also address https://github.com/kyverno/kyverno/issues/3034

[2022-01-30 01:07] JimBugwadia commented on #2127
@realshuting @ojhaarjun1 - can we create a scale test environment with 3-4K namespaces and test with 1.6?

With the changes we've added to 1.6, the number of namespaces should not impact Kyverno performance, right?

[2022-01-30 01:08] chipzoller commented on #3132
And https://github.com/kyverno/kyverno/issues/2774

[2022-01-30 01:12] chipzoller commented on #2775
@olljanat The solution we're going with here is to use a JMESPath `OR` expression (`||`) to set a default value as a form of a non-existence check. You can see some example of this like so:

[code]

You should also be able to adopt this technique to your use case and set a default value of that label isn't present. Closing, but respond if you still need help.

[2022-01-30 01:12] #2775 closed

[2022-01-30 01:49] JimBugwadia commented on #2938
@samj1912 - if we don't see any other benefits to adding the custom images to the `context`, we can certainly start with declaring the image paths and other data in the rule itself.

So, the two options would be:

## add custom images to the existing images variable in the context

[code]

## declare custom images in the `verifyImages` rule

[code]

[2022-01-30 05:57] samj1912 commented on #3132
@chipzoller I believe this PR would indeed fix the two linked issues. Will also add the linked policies as tests in the PR later today.

[2022-01-30 07:31] rahulii commented on #3035
Hey @JimBugwadia , I am not sure if I got that completely.. maybe can u explain with example? Thanks!

[2022-01-30 08:30] ckotzbauer opened #3134 "[BUG] Resource-Filter is ignored"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): bare-metal
* Kyverno version: 1.5.8

**Describe the bug**
Kyverno randomly blocks resources which violate against policies but are excluded via `resourceFilters`.

**To Reproduce**
Steps to reproduce the behavior:

[2022-01-30 16:39] JimBugwadia commented on #3035
Corrected a typo above....should have been `string`.

Consider a test like:

https://github.com/kyverno/kyverno/blob/main/test/cli/test-mutate/kyverno-test.yaml#L28

The new parameter can be something like:

[code]

[2022-01-30 16:40] JimBugwadia commented on #3035
It would be good to allow the user to specify any of these 3 attributes and filter the test cases accordingly.

[2022-01-30 18:05] JimBugwadia commented on #1912
@abhishekghiya - have you considered using namespaced policies instead? You can generate a set of policies for each namespace, and then allow your customers to delete policies if they are not required.

[2022-01-30 19:01] JimBugwadia commented on #3039
With 1.6 you can also configure namespace selector to exclude policy application on system namespaces.

[2022-01-30 19:04] JimBugwadia opened #3135 "[BUG] Kyverno implicitly skips the kyverno namespace"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.6.0

**Describe the bug**

I installed Kyverno with default settings and configured the sample policies in the quick start:

[code]

Then create the deployment on the Kyverno namespace:

[code]

It is not blocked.

**To Reproduce**

See above.

**Expecte

[2022-01-30 20:11] zeborg commented on #3135
Hey @JimBugwadia, I just looked into the issue and it's apparently due to the `resourceFilters` definition in the default kyverno Deployment and ConfigMap.

Currently it has been configured to ignore the kyverno namespace by default, and in order to revert this behaviour the user will have to remove `[*,kyverno,*]` from the `resourceFilters` field in the kyverno ConfigMap. There's also the `--filt

[2022-01-31 08:47] ckotzbauer commented on #3135
Is there a alternative concept for ignoring specific resources when #2916 is merged? My private use-case and also from my company is, that we want to enforce strict policies in general, but there are a few applications which need exceptions (e.g. host-ports from ingress-controller, node-exporter, run-as-non-root for several apps, ...)

[2022-01-31 10:16] ribbybibby commented on #3117
@samj1912 This wasn't fixed in #3116. That PR fixed #3019.

This is a proposal for other changes to how the keychain is handled.

[2022-01-31 10:19] samj1912 commented on #3117
Ah sorry, my bad. Reopened.

[2022-01-31 10:27] samj1912 commented on #3075
@chipzoller yup! Is it okay to close this issue with the above resolution?

[2022-01-31 13:13] samj1912 commented on #3132
@chipzoller added some more test cases to https://github.com/kyverno/kyverno/pull/3133 and verified that it solves the linked issues.

[2022-01-31 13:17] chipzoller commented on #3132
Excellent. This plugs a nice hole.

[2022-01-31 13:19] chipzoller commented on #3075
Yes, I think that's the prudent thing to do. @zeborg let's just close your PR based on this. Sorry that you went ahead and spent time on it, but nice job.

[2022-01-31 13:19] #3075 closed

[2022-01-31 13:38] zswanson opened #3139 "[BUG] race condition in policies that rely on CRDs and CR creation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.2

**Describe the bug**
A race condition (or chicken/egg condition) exists if a policy (mutation in my case) relies on a CRD that is not yet in the cluster; kyverno will complain that the

[2022-01-31 14:45] chipzoller commented on #3135
There is already an `exclude` block which is very versatile when coupled with `any` or `all` clauses allowing you to specify all sorts of patterns for exclusion. Does this not work for you for some reason?

[2022-01-31 15:03] chipzoller commented on #3135
There is a PR for the updated kyverno-policies chart to bring them into alignment with upstream Kubernetes PSS as well as to provide such an exclude provision. You can view that PR here: https://github.com/kyverno/kyverno/pull/3126

[2022-01-31 15:12] ckotzbauer commented on #3135
Ah, that looks good. The PR should match my requirements. Thanks for the link 😄

[2022-01-31 15:24] ironreality commented on #2234
@syncroswitch there is a small typo in your example - the closing parentheses is missed. Actually it should be like this:

`spec:
  ignoreDifferences:
  - group: kyverno.io
    kind: ClusterPolicy
    jqPathExpressions:
    - .spec.rules[] | select(.name|test("autogen-."))`

[2022-01-31 16:18] #3103 closed

[2022-01-31 16:54] syncroswitch commented on #2234
Thanks for catching the pasta error, updated above

[2022-01-31 17:11] #3132 closed

[2022-01-31 17:11] #2774 closed

[2022-01-31 17:11] #3034 closed

[2022-01-31 17:45] #3130 closed

[2022-01-31 18:14] rahulii commented on #3111
@MaxRink but why are the resourcesin dangling state after the uninstall... strange?

[2022-01-31 18:24] #3128 closed

[2022-01-31 18:39] JimBugwadia commented on #3035
@rahulii - not exactly. The goal is to only run the specific test and not all others, so filter what runs instead of filtering the results.

[2022-01-31 19:07] MaxRink commented on #3111
Thats easy to explain:
Helm doesnt have an retry mechanism for deletion.
So due to to the webhook still being there ( which is not managed by helm but by kyverno itself) and kyverno getting terminated the remaining resources can not be deleted

[2022-01-31 19:32] chipzoller commented on #3111
@rahulii as suggested by Max, first thing to try is a pre-delete hook to remove the validatingwebhookconfiguration named `kyverno-resource-validating-webhook-cfg` which should allow resource deletion to succeed.

[2022-01-31 20:28] Prateeknandle commented on #3074
I've checked CRD, and all `description` fields are written in the above format as you mentioned, OR am I misunderstanding it?

[2022-01-31 20:43] chipzoller commented on #3074
I guess I should have been more clear as to the action item for this issue, both of which are for the description field. There are really two things needed:
1. Eliminate the duplicate lines.
2. Provide a better description of what `foreach` does and how it's used.

[2022-01-31 21:12] aleksey-novikov opened #3141 "[BUG] Kyverno panics on merge patch container without image value"
**Software version numbers**
* Kubernetes version: 1.20 (irrelevant)
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): KubeAdm provisioned BareMetal  (irrelevant)
* Kyverno version: 1.5.X, may be all 1.4.2+ versions

**Describe the bug**
Kyverno panics on applying merge patch on Deployment/Pod's container without image specified with following error message:

`Error from server (Int

[2022-01-31 21:15] chipzoller commented on #3141
Can you please state the error in context to a Kyverno policy? Please supply the whole policy used when observing this error.

[2022-02-01 00:16] zeborg commented on #3141
@chipzoller I think this occurs when the webhook is handling admission requests from deployments, irrespective of the policy definition. In a case where dynamic webhook is enabled, I was able to reproduce this after applying a sample deployment policy and then proceeding with the steps mentioned in this issue.

Looking into the cause of this, will update after some progress.

[2022-02-01 01:52] zeborg commented on #3141
Hey @aleksey-novikov, it seems like you should be using the `strategic` type patch instead of `merge`, as apparently `merge` requires the `image` field to be defined, in my case at least _([detail about patch types is mentioned here](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#use-a-json-merge-patch-to-update-a-deployment))_.

Upon scaling down kyver

[2022-02-01 02:41] 2Bor2C opened #3142 "Performing Image scanning during admission request and policy enforcement (Kyverno + Trivy/ Anchore)"
**Is your feature request related to a problem? Please describe.**
Image scanning is typically done part of CI/CD, before admission through an admission controller or during runtime. This request is regarding using Kyverno to use Trivy/ Anchore to perform image scanning and then perform enforcement based on policy.

**Describe the solution you'd like** / **Describe alternatives you've considered**

[2022-02-01 04:31] #3141 closed

[2022-02-01 05:52] JimBugwadia commented on #3142
Related slack discussion at: https://kubernetes.slack.com/archives/CLGR9BJU9/p1643683538989429

[2022-02-01 06:49] JimBugwadia commented on #3105
@prateekpandey14 - is this reproducible with the latest? The same sample is used in this test case:

https://github.com/kyverno/kyverno/blob/main/test/cli/test-mutate/foreach/replaceRegistry/resources.yaml

[2022-02-01 07:39] aleksey-novikov commented on #3141
Hi @zeborg, this case was passed to me by colleagues. They discovered this behavior when changing objects via K8s API. I just make a minimal case for this issue specially. Thanks for the quick fix

[2022-02-01 09:58] prateekpandey14 commented on #3105
@JimBugwadia yes its reproducible locally, i was trying to debug this issue. Intresting is the CLI tests which has the same policy with yaml patch works fine, but if i tests using kyverno webhook running it failes with above error.

[2022-02-01 14:38] Dentrax opened #3145 "apiCall: add configurable resiliency model"
**Is your feature request related to a problem? Please describe.**
[apiCall](https://github.com/kyverno/kyverno/blob/3be48b9fb5bdf1c173d2e47f31fc1de5dea19b22/config/crds/kyverno.io_clusterpolicies.yaml#L89-L112) defines an HTTP request to the Kubernetes API server. We can implement some resiliency models such as: timeout, retry, circuit breaker, etc.

**Describe the solution you'd like**

We (@dev

[2022-02-01 15:12] chipzoller commented on #3145
Interesting idea, but what would the specific value and use case for this be as opposed to building more (or better) retry logic and intelligence internally to handle such resiliency concerns? Is this solving a problem which currently exists?

[2022-02-01 17:52] hobaen opened #3147 "[BUG] Providing set to key of precondition causes Go panic in CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.6.0-rc2-4-g460014c09 (cli)

**Describe the bug**

Using the Kyverno CLI to validate a policy which provides a set to the `key` of a precondition  causes a go panic.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a policy with the following precondition:
[code]
2. Test th

[2022-02-01 20:32] Dentrax commented on #3145
For the [Variables from Kubernetes API Server Calls](https://kyverno.io/docs/writing-policies/external-data-sources/#variables-from-kubernetes-api-server-calls) example, we can write policies to use _external data sources_:

[code]

In Production, I want to _deny_ if `apiCall` response time `>= 100ms`, this value can be different for different environments, such as: pre-prod, staging, etc.

Furthe

[2022-02-01 21:16] #3105 closed

[2022-02-01 22:43] chipzoller commented on #3145
Right, I understand, I'm just curious as to what the practical use case would be to have manual control over an apiCall's RTT latency _when talking to the Kubernetes API server_. Kyverno doesn't support external API calls to arbitrary systems right now.

[2022-02-02 05:08] vyankyGH commented on #3147
@hobaen I have with following policy, works fine for us.

policy.yaml

[code]

Resource.yaml

[code]
kyverno_test.yaml

[code]
Result

[code]

[2022-02-02 07:19] developer-guy opened #3152 "provide HA mode in Helm Chart"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Kyverno recommends running at least 3 instances of it when HA matters, so, in the Helm chart, in the meantime, we use the `replicaCount` parameter to specify the number of instances of Kyverno.

What about making it more generic by providing modes such as standalone, HA

[2022-02-02 07:24] vyankyGH commented on #3104
@JimBugwadia @go-faustino  It mostly depends on how the golang handles the escape chars in string.
As part of patch mutation there is marshalling and un-marshalling happen in which golang replace the double backslash (//) with single backslash (/). we are looking at it.

[2022-02-02 07:30] JimBugwadia commented on #3104
@vyankyGH - marshalling / unmarshalling should not impact the values in a string. Can you try a simple test with a standalone Golang program to verify? I suspect that the issue may be caused by variable substitution or other behaviors Kyverno is applying.

[2022-02-02 08:03] vyankyGH commented on #3104
I just verified without kyverno running in cluster, created same resources and here is the output of pod yaml. checked the args are updated.

[code]

[2022-02-02 08:58] Dentrax commented on #3145
Oh, got it now. It would be fine to have this feature. Are there any tracking issue or plan do to this?

What I understand here is that we can not send a request to custom services: `foo.namespace.svc/3000/v1/bar`

Currently, we can only talk with Kubernetes API Server with `apiCall`.

[2022-02-02 11:37] developer-guy opened #3154 "to be able to pull/push and sign/verify kyverno policies by storing them in OCI registries"
**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**

As [conftest](https://conftest.dev) project did the same for Rego policies by using ORAS under the hood, which means that they can pull and push OCI images that store real Rego policies inside of it

👉 https://www.conftest.dev/sharing/

So, with that, we will be able

[2022-02-02 13:34] chipzoller commented on #3145
There is a discussion about this [here ](https://github.com/kyverno/kyverno/discussions/2996) and a closed issue I wrote [here](https://github.com/kyverno/kyverno/issues/1262).

[2022-02-02 14:02] chipzoller commented on #3104
Kubernetes API server is "sanitizing" the arg with the `jq` command string because of the double single quotes. So this isn't a Kyverno issue.

[2022-02-02 15:19] ozcb commented on #2883
Hey everyone,
JFYI: I installed 1.6.0-rc2.(for test) and this problem (`Internal error occurred: failed calling webhook "validate.kyverno.svc-fail": Post "https://kyverno-svc.kube-system.svc:443/validate?timeout=10s": context deadline exceeded`)
gone.
Thank you and waiting for release :)

[2022-02-02 15:54] bitnik opened #3156 "[BUG] A policy is being applied on pods created by Jobs even it is not defined in the policy"
**Software version numbers**

* Kubernetes version: v1.21.5
* Kyverno version: v1.5.8

**Describe the bug**

When we create a policy to be applied on Pods and Pods created by DaemonSet, Deployment and StatefulSet controllers, e.g. [require-pod-probes](https://kyverno.io/policies/best-practices/require_probes/require_probes/) policy, the policy is still being applied on Pods created by Jobs or Cron

[2022-02-02 16:08] vyankyGH commented on #3104
Correct. My bad. It's not marshal / unmarshal issue. tested with program.
Also following Kyverno is sending back after patching, which is same as in resource.
[code]
and as @chipzoller mentioned, Kubernetes API server is "sanitizing" the arg with the jq command string because of the double single quotes.

Closing the issue. Please feel free to reopen incase face another issue.

[2022-02-02 16:12] zeborg commented on #3110
Update:

In case of `foreach` `CREATE` operation the variable `element.securityContext.capabilities.drop[]` is getting substituted properly, but for `DELETE` it's being left empty.

For `CREATE`:
[code]

For `DELETE`:
[code]

@chipzoller can you please provide me with another similar policy with `foreach` which has a variable substitution in `key`, so that I can further test this behaviour for deb

[2022-02-02 16:21] chipzoller commented on #3110
You can view several at kyverno.io/policies. It's easier to filter by version from 1.5 onwards since that's where `foreach` first showed up.

[2022-02-02 16:24] go-faustino commented on #3104
Thanks for the reply!

Just to make sure, running `kyverno apply` locally, as I did on my initial example, the Kubernetes API server gets called and is "sanitizing" the string even though I'm just running the Kyverno CLI?

Another thing, I see that in the above, the < and > signs are still getting replaced by \u003c and \u003e, is this expected?

[2022-02-02 17:57] JimBugwadia commented on #3104
Hi @go-faustino - just to confirm, does the policy work correctly in the admission controls webhook?

The CLI reuses some of the same code as the API server (and Kustomize) and will convert from YAML -> JSON -> YAML which is where the issue occurrs.

Re-opening this to investigate the `\u003c` and `\u003e` characters.

[2022-02-02 17:57] hobaen commented on #3147
@vyankyGH Thanks for taking a look!

That policy does validate successfully, but it passes a string into the precondition key, not a set of strings. if I change:
[code]

 to

[code]
 to pass in a set containing the string then I see:
[code]

[2022-02-02 18:28] JimBugwadia commented on #2883
@ozcb - just to confirm, you are **not** seeing this issue with 1.6.0-rc2?

[2022-02-02 18:37] chipzoller commented on #3147
Not to invalidate the cause of this issue (because it does look like something that needs to be handled properly internally), but you actually don't need to specify those JMESPath expressions in a list. The type returned will be an array and will allow the `NotIn` to be evaluated properly.

Also note that in Kyverno 1.6 (coming soon), the `NotIn` operator will be deprecated in favor of either `Any

[2022-02-02 22:52] samj1912 commented on #3154
Great idea! We might also want to take a look at the design behind OPA bundles (https://www.openpolicyagent.org/docs/latest/management-bundles/) which has a nice and generic interface for  syncing policy bundles from a rest end point. Although, I believe it is currently supported by OPA server but not OPA gatekeeper.

We might also want to think about syncing policy bundles periodically (opa bundl

[2022-02-02 22:54] mriddell-foundry opened #3158 "[BUG] Scaling Deployment bypasses Deny Policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.22.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): minikube
* Kyverno version:

**Describe the bug**
I am trying to make a Cluster Policy To not allow changes to deployments after by members outside of the Cluster admin role. However I noticed that you are able to

[2022-02-02 23:10] zeborg commented on #3158
**Note:** Related to #3118

[2022-02-03 00:59] zeborg commented on #2129
I believe we've fixed this issue in #3149.
It's working for me, but I'd really appreciate it if you could verify it as well @chipzoller.

[2022-02-03 01:20] chipzoller commented on #2129
Yes, I confirm that, in both of the above cases using the manifests I provided, the problem no longer exists as of the 1.6-dev-latest (verified on 1.6-dev-113-g9502a8ea8) build from `main`. Closing.

[2022-02-03 01:20] #2129 closed

[2022-02-03 01:43] chipzoller commented on #3118
Good find. This is occurring because scaling is actually a subresource (`/scale` in this case) and although these are getting passed to Kyverno it's not associating the subresource with the parent.

[code]

It's a similar issue to https://github.com/kyverno/kyverno/issues/2843.

[2022-02-03 01:44] chipzoller commented on #3158
Since this is the same as #3118, closing this one and using the latter to track a fix.

[2022-02-03 01:44] #3158 closed

[2022-02-03 05:12] vyankyGH commented on #3147
@hobaen Currently in the precondition , Kyverno is not supporting set of values  for key.
cc @realshuting it will be enhancement to support.

[2022-02-03 05:30] stefansedich commented on #3147
That is not quite true as it works perfectly fine when using the policy at runtime with an In operator, it is only validation that is failing in this case.

[2022-02-03 11:24] #3125 closed

[2022-02-03 14:46] #3147 closed

[2022-02-03 15:28] slushysnowman opened #3163 "[BUG] always-pull-images policy causes error and stops deployment"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.5-eks-bc4871b", GitCommit:"5236faf39f1b7a7dabea8df12726f25608131aa9", GitTreeState:"clean", BuildDate:"2021-10-29T23:32:16Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}
* Kubernetes platform (if a

[2022-02-03 15:52] chipzoller commented on #3163
This sounds eerily like a couple mutation-related issues fixed in 1.6.0. Although it isn't officially released, is it possible for you to try with the current RC of 1.6.0 and see if the issue is still present?

[2022-02-03 17:15] patelrit commented on #2709
@pealtrufo Please see this blog post on how this can be achieved using a helper to fetch and store ECR token. https://nirmata.com/2022/02/02/software-supply-chain-security-on-amazon-eks-clusters-using-amazon-ecr-kyverno-and-cosign/

[2022-02-03 19:54] slushysnowman commented on #3163
I'll see what I can do - is specifying the 1.6.0 RC image enough or are there also CRD modifications etc that need to be applied?

[2022-02-03 20:16] chipzoller commented on #3163
Since you're on 1.5.8, writing it this way is not only better but it should avoid this condition:

[code]

[2022-02-03 20:32] chipzoller commented on #3156
In the sample policy, the annotation `pod-policies.kyverno.io/autogen-controllers` explicitly applies this policy to only those resources listed (and `Jobs` is not among them). You can simply remove this line and Kyverno will create all the autogen rules appropriately for all controllers, or just add `Job` to the value of that annotation. Also be sure you're changing `validationFailureAction` from

[2022-02-03 22:34] samj1912 opened #3167 "Add `kyverno jp` command to the CLI"
**Is your feature request related to a problem? Please describe.**

Kyverno has a large list of custom functions that are not available in the typical `jp` cli making it harder to test jmespath expressions.
**Describe the solution you'd like**
We should add a `kyverno jp` command that uses the kyverno jmespath implementation. This will make it easier to write policies.

**Describe alternatives you

[2022-02-03 22:38] samj1912 commented on #3167
The entirety of jp implementation is contained at -> https://github.com/jmespath/jp/blob/master/jp.go

for the kyverno implementation it should be trivial to stub out `github.com/urfave/cli` for cobra as it is currently used in `kyverno cli` and `github.com/jmespath/go-jmespath` with the kyverno internal jmespath implementation. The rest of the interfaces are the same.

[2022-02-03 22:38] chipzoller commented on #3167
Love this idea especially since JMESPath is playing a more prominent role as Kyverno evolves. This would be very nice to have.

[2022-02-03 23:03] fgharo opened #3168 "[BUG] divide function returns incorrect result"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): OpenShift 4
[code]

* Kyverno version:

[code]

* Kyverno cli version:
[code]

**Describe the bug**
The division function is not returning expected float value but instead the value/integer 0.

**To Reproduce**
Steps to

[2022-02-03 23:42] zeborg commented on #3163
Another user faced a similar issue while trying to apply a JSON merge patch without providing an `image` along with it. The fix for panic was provided in #3143, and the fix for the unintended removal of `image` caused by improperly sorted execution of patches was provided in  #3149.
Both of them have been cherry-picked to `release-1.6` branch, but are not included in `v1.6.0-rc2`.

@slushysnowman

[2022-02-03 23:44] chipzoller commented on #3168
Quicker way to reproduce the issue.

1. Create this policy:

[code]

2. Create this ResourceQuota:

[code]

3. See the ResourceQuota is denied but check the logs and see the variable substituted for the expression `divide('20','25')` equals `0` and not `0.8` as expected.

[code]

[2022-02-04 01:19] zeborg commented on #3168
Hey @fgharo, since you're using scalars instead of quantities here, it is suggested to use backticks `` instead of single quotes '' to enclose the numbers, and you should do that in case of every scalar. Currently in Kyverno's JMESPath arithmetics, any number or quantity enclosed within single quotes is converted into a string, which is then internally treated as a quantity without a format/unit.

[2022-02-04 02:37] JimBugwadia commented on #3135
Hi @zeborg - can you please elaborate on what cases cannot be handled using a policy `exclude` and require a `resourceFilter`?

@realshuting - are we able to convert resourceFilters to webhook filters? I recall you had pointed out that there is no clean mapping which is why we had discussed deprecating resourceFilters.

If we keep resource filters, and cannot map them to webhook filters, we then n

[2022-02-04 02:38] JimBugwadia commented on #3135
Re-opening this, as we need to decide how to align resource filters, dynamic webhooks, and namespace filters.

[2022-02-04 02:53] zeborg commented on #3135
Hey @JimBugwadia - looking at the current implementation of `resourceFilters`, I believe it has no dependency on / correlation with dynamic webhooks and we can very well use it in either case - `autoUpdateWebhooks` set to `false` or `true`.

When it comes to filtering resources solely by matching the labels attached to their namespaces, `namespaceSelector` would be all one could need. However, in

[2022-02-04 03:45] #3164 closed

[2022-02-04 04:07] fgharo commented on #3168
@zeborg I also ran into this problem when the original fields are strings but with suffixes for cpu or memory.
For example Take this ResourceQuota:
[code]

Then swap out policy rule with:
[code]

To make it easier, may just want to do the same thing as chipzoller suggested and just use literals for the function call:
`divide('3700Mi', '3750Mi')` I was expecting this to return .986.
Hoping its the

[2022-02-04 05:23] #3167 closed

[2022-02-04 06:47] #2277 closed

[2022-02-04 06:47] #3063 closed

[2022-02-04 07:12] realshuting opened #3172 "Update sed to handle test image tag for chart testing"
Hmmm, we might have to update the sed to handle this correctly. tagTest is not used anywhere in chart, the chart still references `tag` at https://github.com/kyverno/kyverno/blob/326d141a6d687d1a9839a8402e379f20e242c908/charts/kyverno/templates/tests/test.yaml#L21

and I am not too sure about changing this to tagTest in the chart since it goes against helm conventions for defining image objects.

[2022-02-04 07:14] realshuting commented on #3172
@treydock - would love your insight here.

[2022-02-04 08:18] bitnik commented on #3156
Yes exactly and this is also what we want, but the problem is that even Jobs is not in the list, policy is still being applied on Pods created by Jobs. This is unexpected. What we expect is that kyverno doesnt apply this policy on pods, which are created by Jobs.

[2022-02-04 10:10] ribbybibby commented on #3019
Looks like this is working in v1.6.0-rc3 :tada:

[2022-02-04 13:35] ozcb commented on #2883
Hi everyone,
I take my words back, yesterday I had the same bug but when I  tried to deploy apps with mutation and validation webhooks.
And today I found this as well:
[code]

[2022-02-04 13:48] chipzoller commented on #3156
I was not seeing this behavior in 1.6 in main. Are you able to try this version by installing from the manifest and using tag `1.6-dev-latest`?

[2022-02-04 14:57] seh commented on #2570
[This thread in the "kyverno" channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1643980693020959) of the "Kubernetes" Slack workspace requests similar behavior, at least by way of matching expectations.

[2022-02-04 15:08] seh commented on #282
See [this question in the "kyverno" channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1643986799244479?thread_ts=1643980693.020959&cid=CLGR9BJU9) in the "Kubernetes" Slack workspace requesting this same capability.

[2022-02-04 15:22] stephen-harris commented on #2883
@ozcb In my instance, kyverno was being CPU throttled resulting in timeouts by the webhook server. If you are seeing this intermittently its probably worth checking the kyverno metrics. I'm currently using 1.5.2

[2022-02-04 15:33] windowsrefund commented on #2060
Seeing this behavior after upgrading to v1.5.8 via Helm chart v2.1.10. Still no metrics after scaling down to a single replica from 3. I've ruled out the service, endpoint, and network policy... all look good. Prometheus can hit the endpoint.

[2022-02-04 15:54] TheKangaroo commented on #2570
@JimBugwadia
I started with the fist step you mentioned, adding the new attribute to the policy spec. I'm not sure if I should create a WIP PR right now or if I should wait till there is a working solution.

Right now I try to get familiar with the generate policies code but I'm not sure where the background scanner code lives. Can you point me to the right direction?

[2022-02-04 16:17] fgharo commented on #3168
@samj1912 @zeborg
When I use `` as opposed to '' for surrounding the fields referring to the pods, I am able to get the right answer of .8.

However, I am not able to do the same workaround if I use `` for the 20Mi or 25Mi. I get this error:
[code]

[2022-02-04 16:41] shreemaan-abhishek commented on #3077
Hey, @ramanand-rv if you are still figuring it out, you just need to make changes [on this line](https://github.com/kyverno/kyverno/blob/4e0d8ca61297128186f8d3644f579c1fb4a18560/pkg/kyverno/test/test_command.go#L107) and raise a PR.

Lemme know if you need any help.

[2022-02-04 18:14] JimBugwadia commented on #3135
@zeborg - the challenge I see is with `autoUpdateWebhooks: true` Kyverno will only receive a subset of the API admission review requests and hence will not have a chance to apply the `resourceFilters`.

How do you propose we make `autoUpdateWebhooks` work with `resourceFilters`?

[2022-02-04 18:35] chipzoller commented on #3168
`20Mi` is a string and not an integer so putting it in backticks specifies the wrong format.

@samj1912 I see an opportunity for improvement here. Is it possible for Kyverno to look at the input values and internally convert into the right format prior to sending into `divide()`? For example, if the input is provided as `divide('20', '25')` it's obvious that the input values are integers based on

[2022-02-04 18:53] samj1912 commented on #3168
@chipzoller it is obvious for some cases but not for others.

Let's take for eg -
[code]

One way to solve this is the following -

if divide receives two strings (ints/floats as strings or memory/cpu units or time durations, we will always assume the output would be a float)

if divide receives one string and a float then the operation becomes slightly difficult to quantify. Technically 20Mi divi

[2022-02-04 19:45] chipzoller commented on #3168
I had written a longer response but mid-way through I realized what you mean and can see why it's problematic. In, for example, `resources.requests.memory` the value could be `'20'` which means "20 bytes" and in another field it may be `20` which is just "twenty". If we start introducing some sort of "smart conversion" logic we may not be able to tell the difference. The potential solution may the

[2022-02-04 21:04] treydock commented on #3172
The PR to fix this looks fine.  That PR fixes the sed and also fixes the values.yaml to have correct key.

[2022-02-04 23:05] zeborg commented on #3135
Hey @JimBugwadia - in case of `autoUpdateWebhooks=true`, `resourceFilters` will only filter out the validation / mutation requests made in presence of policies that address those said resources, which makes me think that it should not affect Kyverno's behaviour or the way it would handle the requests in any way.

It's just that, **_IF_** in case any such policy is added to the cluster which mentio

[2022-02-04 23:12] #3172 closed

[2022-02-04 23:17] zeborg commented on #3135
Personally I believe it's good to have `resourceFilters` included as it is, since it provides an additional flexibility to globally exclude resources that should be further filtered out even in the presence of dynamic webhooks. Although we might need to perform additional tests to confirm the behaviour and check for the difference in performance in presence vs. absence of the `resourceFilters` imp

[2022-02-04 23:50] zeborg commented on #3168
We still need to fix the rounding-down of result in case of quantities. I guess I can work on that for now, and then possibly come up with a doc to theorise the internal handling of all possible pairs of quants, scalars, and durations.

[2022-02-05 00:10] chipzoller commented on #3168
I've basically done that [here](https://github.com/kyverno/kyverno/issues/2985#issuecomment-1013599532).

[2022-02-05 15:41] zeborg opened #3176 "CI tests against multiple K8s versions conforming to Kyverno compatibility matrix"
**Is your feature request related to a problem? Please describe.**
In the recent [contributor's meeting](https://nirmata.zoom.us/rec/share/pAHGjKXnThXUp_AzC6ebB7nsy7Y9mPEGDVY_u561HxQ5vorkiOsyWLdo44X5Ek3P.YdPauu_yZPbp2_ce) _(timestamp: 00:50:11, passcode: 6z!O^aHX)_ we figured out that keeping the compatibility of Kyverno with the latest as well as previous K8s versions in mind, we need to perform

[2022-02-05 16:14] samj1912 commented on #3176
@zeborg looks like this is a duplicate of https://github.com/kyverno/kyverno/issues/3099, closing this one.

[2022-02-05 16:14] #3176 closed

[2022-02-05 16:15] samj1912 commented on #3099
Related to https://github.com/kyverno/kyverno/issues/3003

[2022-02-05 16:17] samj1912 commented on #3099
For inspiration take a look at https://github.com/nolar/kopf/blob/06d00944be947bf63a56b10fd4fdc3269d48feb5/.github/workflows/ci.yaml#L103

and https://github.com/nolar/setup-k3d-k3s

[2022-02-05 23:06] chipzoller opened #3177 "[BUG] `request.clusterRoles` variable not resolving when a RoleBinding references a ClusterRole"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.22.2, 1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.8, 1.6.0-rc3

**Describe the bug**
The variable `request.clusterRoles` is resolving to `null` when a ServiceAccount (Namespaced) is bound to a ClusterRole.

**To Reproduce**
Step

[2022-02-05 23:49] JimBugwadia commented on #2711
@ojhaarjun1 - have we tried declaring the `merge` key while we look at other solutions for 1.7?

[2022-02-06 12:39] ojhaarjun1 commented on #2711
Note yet, @JimBugwadia

[2022-02-06 18:50] JimBugwadia commented on #3135
@zeborg - I see what you mean. So, the `resourceFilters` would be an additional level (2nd) of filtering on top of the dynamic webhooks and namespace selectors, which do not get configured in the webhook but get applied when Kyverno is processing the admission request. I think that would work.

@realshuting - any thoughts?

[2022-02-06 18:53] JimBugwadia commented on #2866
Sounds good. Since we are using camel case, lets go with `predicateFile`.

Is there anything else pending to close this?

[2022-02-06 19:20] Namanl2001 commented on #2866
yes @JimBugwadia - I'm working on this feature, some changes are pending

[2022-02-06 19:46] Namanl2001 opened #3178 "feature: katacoda tutorials for kyverno"
**Is your feature request related to a problem? Please describe.**
katacoda tutorials for kyverno will help beginners to easily understand and learn about kyverno by running the well designed and documented katacoda scenarios

**Describe the solution you'd like**
This could be done by creating a new `tutorial` dir in this repo and adding the tutorials inside it.

**Describe alternatives you've con

[2022-02-06 21:25] shubham4443 commented on #3035
Hey @rahulii !
Are you still working on this issue? If not then please let me know cause I'm interested.

[2022-02-07 00:44] chipzoller opened #3180 "[BUG] `spec.failurePolicy` to use lower-case values"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.6.0-rc3

**Describe the bug**
`spec.failurePolicy` states/requires values which do not follow conventional value formatting (initial letter upper case).

[code]

**Expected behavior**
Values

[2022-02-07 05:37] realshuting commented on #3135
Currently we have two options to exclude namespace globally, 1. through the ConfigMap arg; 2. through the `resourceFilters`. And I agree, the `resourceFilters` adds additional value to exclude by Kind and Name combination globally.

We can keep the `resourceFilters` but definitely need to re-visit the default filters we currently have.

[2022-02-07 05:57] #2720 closed

[2022-02-07 10:05] developer-guy opened #3184 "wrong app version printed out as release note"
**Is your feature request related to a problem? Please describe.**

Kyverno displays the wrong version in the release note when we specify a tag for an image we want to use. For example, let's assume that I've used the following helm command to install Kyverno:

[code]

Kyverno displays the following notes when installation finished:

[code]

It is a bug because I've installed the v1.6.0-rc4 versi

[2022-02-07 10:16] developer-guy commented on #3184
cc: @chipzoller, please feel free to assign it to me, please 🙋🏻‍♂️

[2022-02-07 12:40] aleksrosz opened #3185 "Possibility to turn off all events creation"
**Is your feature request related to a problem? Please describe.**
Hi
My users use Lens and ArgoCD. Problem is if I turn on Kyverno with policies even set to "audit" then Kyverno with every deploy which not pass policies create events "PolicyViolation" as red exclamation marks. Users are afraid about that and thinks that because of Kyverno their application can't start.

**Describe the solution yo

[2022-02-07 14:20] abhi-kapoor commented on #2844
Hello @mritunjaysharma394, we have upgraded to `v1.5.8` since then. Did a quick look to check if the issue is still around and I do not see anything in the events when deployment is described.

[2022-02-07 14:20] chipzoller opened #3186 "`kyverno jp` sub-command enhancements"
Some enhancements that could be made to the `kyverno jp` sub-command:

* In the Usage, it only shows the below. It should add the expression after `[flags]` and probably some method to send JSON input to the sub-command.
[code]

* Show a few examples of how to invoke the sub-command by passing in a JSON document as well as fetching it and expressions from file.

[2022-02-07 14:24] mritunjaysharma394 commented on #2844
Thanks a lot @abhi-kapoor ! I am not sure if I understood it right but by saying that you did

What do we mean by this? Like its empty or is it not showing any warning as expected and we are good to close the issue?
Thanks a lot!

[2022-02-07 14:51] mritunjaysharma394 commented on #2844
I checked with @realshuting and I guess not seeing anything in the events if it passes is the expected scenario and we are good to close the issue then, let me know if it works, closing it for now, thanks a lot!

[2022-02-07 14:51] #2844 closed

[2022-02-07 15:28] mritunjaysharma394 commented on #2772
I tested out this in `1.6-dev-latest` and it seems the issue is fixed as I didn't see the error mentioned by @ninuxio, closing this issue for now, let us know @ninuxio if you have any other queries, thanks!

[2022-02-07 15:28] #2772 closed

[2022-02-07 15:33] freym opened #3187 "[BUG] Mutate Policy "pre-validation" error when using Wildcard Kinds"
**Software version numbers**

* Kubernetes version: 1.22.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.8

**Describe the bug**
When using Wildcard Kinds in a mutation Policy, kyverno logs a lot of the following errors:

**To Reproduce**
1. Create the following Policy
[code]
2. Check the logs for the errors (On a small Cluster with few services, it ma

[2022-02-07 15:37] bitnik commented on #3156
@chipzoller I just installed kyverno chart v2.2.0-rc2 with image 1.6-dev-latest and unfortunately it is still the same behaviour. So do you mean that you can't reproduce the problem we are having?

[2022-02-07 16:52] chipzoller commented on #3156
Can you please provide precise and complete steps to reproduce? Please paste all ClusterPolicy and tests manifest into this issue.

[2022-02-07 16:54] realshuting commented on #3185
Thanks @aleksrosz - we'll include this in the next minor release.

[2022-02-07 17:00] #3077 closed

[2022-02-07 19:37] patelrit opened #3190 "[BUG] Kyverno namespace filter not working for background scans"
**Software version numbers**
State the version numbers of applications involved in the bug.
Kyverno 1.6-development
(ghcr.io/kyverno/kyverno:latest)

* Kubernetes version: v1.18.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): OpenShift
* Kyverno version: 1.6-development (latest)

**Describe the bug**
A clear and concise description of what the bug is.

I am trying to use Kyverno

[2022-02-07 19:44] chipzoller opened #3191 "[BUG] Rule excluding ClusterRole cluster-admin falsely excludes other ClusterRoles"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.23.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6.0-rc4

**Describe the bug**
Related to #3177. A ClusterPolicy which excludes the `cluster-admin` ClusterRole falsely applies and therefore incorrectly excludes a ServiceAccount created

[2022-02-07 19:53] chipzoller commented on #3190
Do you get the same result if you insert an exclusion in the policy(s) for the namespace glob `openshift-*` as opposed to updating the ConfigMap? Have you tried this if not?

[2022-02-07 20:00] #3184 closed

[2022-02-07 20:20] zeborg commented on #3190
I've just verified that we're not reconciling the policy report in case of `namespaceSelector` updates. I'll work on fixing this.

[2022-02-07 21:18] patelrit commented on #3190
@chipzoller I did not try excluding the namespace glob in the policies as I would like to keep the policies to remain cluster agnostic i.e. be able to deploy the same set of policies on EKS, Openshift with no customization..

@zeborg Thanks for verifying! Let me know if I can help test.

[2022-02-07 21:22] weishiuchang opened #3192 "[BUG] variable substitution failed in preconditions"
**Software version numbers**

* Kubernetes version: 1.22.2
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): kubeadm
* Kyverno version: 1.5.2 (Helm Chart v2.1.4)

**Describe the bug**
Mutating precondition reports variable substitution failed for unknown key in label.

I am trying to write a mutating policy to add an affinity for all pods in my monitoring namespace, as long as they

[2022-02-07 21:46] chipzoller commented on #3192
In your `key`, try this instead: `"{{request.object.metadata.labels.\"k8s-app\" || ''}}"

[2022-02-07 22:11] weishiuchang commented on #3192
@chipzoller that worked. How does that read though? "k8s-app label is not fluentbit or emptystring is not fluentbit"? A bit confusing...

[2022-02-07 22:45] weishiuchang commented on #3192
Ah. I'm guessing it's because the jmespath engine is throwing an exception rather than returning an empty string for a non-existent key, which made the precondition false instead of true for empty string compare.

[2022-02-07 23:02] chipzoller commented on #3192
The `|| ''` uses the JMESPath OR operator which basically means, "get the value of `request.object.metadata.labels."k8s-app"` and if that is null then set it to an empty string instead." We are going to be updating docs and sample policies soon-ish to reflect this, but that's how you avoid this issue. So because of this, I'll close this issue but feel free to respond and we'll continue the convers

[2022-02-07 23:02] #3192 closed

[2022-02-08 06:20] vyankyGH commented on #2159
@Izvi any update?

[2022-02-08 08:00] JimBugwadia opened #3195 "add maxAge for attestation checks"
**Is your feature request related to a problem? Please describe.**

Some attestations, such as vulnerability scans, are expected to be periodically updated.

Kyverno should provide a way to check the timestamp of the attestation.

**Describe the solution you'd like**

Allow specifying a `maxAge` as a duration in the attestation checks.

**Additional Information**

Since an in-toto attestation does

[2022-02-08 13:01] FarnazZ opened #3197 "[BUG] Background scan throws warning event when preconditions not met"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): OpenShift
* Kyverno version: 1.5.8 and v1.6.0-rc4

**Describe the bug**
Previously we were working on kyverno v1.5.0-rc1 and we create the following cluster policy to be applied on the only pods that contain labe

[2022-02-08 13:12] chipzoller commented on #3197
In your precondition `key` try like this:  `'{{ request.object.metadata.labels.servicelevel || '' }}'`

[2022-02-08 15:13] Prateeknandle commented on #3114
Hey @prateekpandey14 I'm interested to apply for this project in the LFX mentorship program, want to know about the progress of this issue as this project also appeared for last time and can I get the concerned pr links for the same.
Thank you

[2022-02-08 15:18] FarnazZ commented on #3197
My issue is not related to the `key`, the cluster policy works properly, and whenever the latest tag defined it detects correctly, for another reason ( not recognizing as a ArgoCD variable) we define it with `{{ "{{" }}`, consider the precondition like the following:
[code]

[2022-02-08 15:23] chipzoller commented on #3197
The issue is actually the key, because it fails only when the label with key named `servicelevel` isn't specified, correct? It succeeds all other times, yes? If so, you will need to use the JMESPath OR expression which sets the value of the `key` to an empty string if it cannot resolve the path `metadata.labels.servicelevel`.

[2022-02-08 15:57] ademar59 opened #3198 "[BUG] Test CLI doesnt work for match or exclude with namespaces or matchLabels"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): AKS
* Kyverno version: 1.58 and 1.6.0

**Describe the bug**

Im' trying to use

[code]
or
[code]
this is not working with kyverno test

this is working with kyverno apply policies/disallow-public-unprotected-front.y

[2022-02-08 17:27] prateekpandey14 commented on #2570
@TheKangaroo check the [policy-controller code](https://github.com/kyverno/kyverno/blob/9661ea8584156a754899ab17a6b9557f849b44f3/pkg/policy/policy_controller.go#L169) which verifies the background is true or not and then perform certain operations. Also it would be great if you can come up with a design doc so we can collaborate it further.  Thanks for the contribution.

[2022-02-08 18:54] JimBugwadia opened #3199 "Allow OR list of keys for image verification"
**Is your feature request related to a problem? Please describe.**

Kyverno allows a list of keys and requires that the image be signed by all keys provided.

Sometimes, an OR list is necessary.

**Describe the solution you'd like**

Allow users to specify that a image is signed by:
- all keys
- any one of a set of keys
- any N or a set of keys

[2022-02-08 18:56] JimBugwadia commented on #2709
Closing issue, based on solution provided by @patelrit above.

[2022-02-08 19:49] zosocanuck commented on #2859
Just tested with 1.6.0 and got the following error with attestation verification:

[code]

[2022-02-08 21:38] remyleone opened #3200 "Add support for homebrew"
**Is your feature request related to a problem? Please describe.**

I would like to install and upgrade kyverno with my package manager.

**Describe the solution you'd like**

brew install kyverno

**Describe alternatives you've considered**

I could do a binary installation but then I would need to manually upgrade everytime a new version come up.

**Additional context**
Add any other context or

[2022-02-08 22:27] zosocanuck commented on #2859
I tested with cosign 1.51 and generated a new attestation:

`{"payloadType":"application/vnd.in-toto+json","payload":"eyJfdHlwZSI6Imh0dHBzOi8vaW4tdG90by5pby9TdGF0ZW1lbnQvdjAuMSIsInByZWRpY2F0ZVR5cGUiOiJjb3NpZ24uc2lnc3RvcmUuZGV2L2F0dGVzdGF0aW9uL3YxIiwic3ViamVjdCI6W3sibmFtZSI6ImluZGV4LmRvY2tlci5pby96b3NvY2FudWNrL2J1c3lib3giLCJkaWdlc3QiOnsic2hhMjU2IjoiMDQxNWY1NmNjYzA1NTI2ZjJhZjVhN2FlODY1NGJhZWM5N2Q0YT

[2022-02-08 23:03] zeborg commented on #3200
While Helm takes care of installing, setting up and upgrading Kyverno within clusters, I think it could be a good idea to support Kyverno CLI across different package managers if it can be delivered as a part of the release job _(or with minimal manual intervention)._
@JimBugwadia @realshuting @chipzoller - what are your opinions on this request?

[2022-02-08 23:04] chipzoller commented on #3200
Homebrew is standard at this point and has huge traction. We should support it as a method of installing the Kyverno CLI.

[2022-02-08 23:32] samj1912 commented on #3195
Do we also want the ability to look at the latest attestation of a given predicate type? Otherwise, it might be difficult to create policies where the attestations were created in reaction to an event instead of a time/age based filter.

Separately, still a bit unclear on the attestation age derivation through signature. How are you imagining that would look like?

[2022-02-09 02:29] JimBugwadia commented on #2859
@zosocanuck  can you please use the --replace option to update the attestation with Cosign 1.5.1?

[code]

This worked for me.

There was an incompatible change in how the attestation is stored by cosign.

[2022-02-09 04:12] JimBugwadia commented on #3195
Currently the first match is used. Is there a good use case for multiple attestations with the same predicate type? It seems like it would make sense to either replace the attestation periodically (scan reports), or treat them as immutable (SBOM).

Since this is allowed we do need a deterministic way to manage. I agree it makes sense to check the latest one by default.

The Signature object has a

[2022-02-09 06:41] FarnazZ commented on #3197
Thanks for answering, I get your point, let me try that. I will share the result here.

[2022-02-09 08:22] 4molybdenum2 commented on #3198
@ademar59 I see that you have not included a validate rule inside your policy. Regardless of that the "match" and "exclude" statements are evaluated using a logical AND operation. So if your resource is both matching for ```helm.sh/chart: front-standard-*``` and excluding ```*--platform-lab-dev``` respectively I think that the policy is skipping that resource...

But as you are mentioning the resu

[2022-02-09 09:20] bitnik commented on #3156
Sorry, I thought I already described it well enough. Here I try once again:

1. Deploy the [kyverno chart v2.2.0](https://github.com/kyverno/kyverno/tree/helm-chart-v2.2.0/charts/kyverno). We use the following config:

[code]
2. Deploy the following policy, which is copied from https://kyverno.io/policies/best-practices/require_probes/require_probes/ and edited just `validationFailureAction` and `

[2022-02-09 10:21] ismferd commented on #1918
Hi,

@rdavyd @chipzoller  did you find any workaround?

I would like to avoid the creation of ingresses kind of: `*.my-dns.com`
Do you know how to include special chars in my policy?
[code]

[2022-02-09 10:28] ademar59 commented on #3198
this rules apply only for all ingresses matching helm chart `helm.sh/chart: front-standard-*` but would exclude namespaces *--platform-lab-dev.

apply works with no violation.

test result must be **pass** because of namespace exclusion
test result is **fail**

[2022-02-09 11:23] prateekpandey14 commented on #3101
Not able to reproduce with latest changes , tried multiple times following the steps mentioned in description.

[2022-02-09 12:50] pealtrufo commented on #2709
Hi @JimBugwadia

I don't think the solution provided by @patelrit above deliver the enhancement requested in this issue. It would work, but I thought the ideal solution was having a way to add an IAM policy to Kyverno's service account, binding it with the right permission to only access the ECR registry with readOnly permission. This way I thought the cronJob to constantly fetch new registry toke

[2022-02-09 13:24] chipzoller commented on #1918
@samj1912 with some of the recent changes in 1.6.0, are you aware of anything that would make this supportable especially in an overlay-style pattern?

[2022-02-09 13:36] chipzoller commented on #3156
Thank you for supplying the complete info. The issue is clear now and I can reproduce this on 1.6.0. Reopening.

[2022-02-09 13:40] chipzoller commented on #3156
In order to work around this, modify the policy so it directly applies to the `kind` you want, thereby allowing Jobs and the Pods spawned by them to succeed.

[code]

[2022-02-09 14:18] JimBugwadia commented on #2709
Hi @pealtrufo - I see.

@patelrit - did you try configuring the IAM role  for the service account?

[2022-02-09 14:42] JesperBerggren opened #3203 "[Bug] Difference in exclude in autogen-* rules when deploying policy with Helm and via kubectl apply -f"
### Kyverno Version

1.6.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

Other (specify in description)

### Description

Hello everybody,

It seems like there's a difference in the autogen-* rules when deploying with Helm and via kubectl apply -f.

We've trying to install the restricted pod policies and have run into an issue since we started out with installing the policies via Helm.

[2022-02-09 14:44] chipzoller commented on #3203
@treydock what can we do here?

[2022-02-09 15:26] JimBugwadia commented on #3019
Thanks for confirming @ribbybibby!

[2022-02-09 15:26] #3019 closed

[2022-02-09 15:27] JimBugwadia commented on #2709
@pealtrufo - there were some recent updates in this area:

See: https://github.com/kyverno/kyverno/issues/3019.

Can you please try again with 1.6 and let us know?

We can then update the docs as well. Thanks!

[2022-02-09 15:38] realshuting commented on #3156
We used to skip applying policies to managed pods but this behavior was changed due to https://github.com/kyverno/kyverno/issues/2164.

I guess we are missing the check for pod controllers when applying policies to managed pods. For example, if the policy doesn't match `Job`, we should check the owner of the managed pod and only apply if the owner is one of the matching kinds.

@bitnik - thanks fo

[2022-02-09 15:55] bitnik commented on #3156
Thanks a lot for replying so quickly!

Meanwhile we think that we managed the expected behaviour with the following policy. We used a pre-condition to exclude Pods that created by Jobs. What do you think?

[code]

[2022-02-09 16:09] patelrit commented on #2709
@JimBugwadia @pealtrufo
The reason this is not working even though IAM role is configured in the Kyverno service account is because, Kyverno does not know how to authenticate with ECR to pull the image manifest.

Authentication with ECR is a two step process:
1. Get the login password for ECR registry. It equivalent to this command
aws ecr get-login-password --region region

2. Use the retrieved p

[2022-02-09 16:55] atulatnirmata commented on #3115
This is working fine with 1.6.

[2022-02-09 16:55] #3115 closed

[2022-02-09 18:14] zeborg commented on #3180
Hi @chipzoller, from my understanding and after looking into Kyverno's implementation of `failurePolicy`, I think it's actually the correct way.

For reference:
![image](https://user-images.githubusercontent.com/37282098/153263598-2323fbb2-cf99-4fcc-820e-3e7ade92652a.png)

Can you please confirm if that is correct or if I'm missing out the context here? Thanks!

[2022-02-09 22:02] chipzoller commented on #3180
It looks like it's "correct" according to the code, but it isn't consistent with similar values of fields elsewhere. So to bring it into alignment would require a change of the code and also the schema definition.

[2022-02-10 05:10] realshuting commented on #3152
What if the user wants to run 5 or more instances? Should we configure the replica count along with the HA flag? i.e., default to 3 replicas for HA but also make it configurable.

[2022-02-10 05:18] #2405 closed

[2022-02-10 06:15] developer-guy commented on #3152
yes, exactly!

[2022-02-10 08:34] realshuting commented on #3145
@Dentrax - this is an interesting idea! Would you like to submit a PR for this particular enhancement?

[2022-02-10 08:34] prateekpandey14 commented on #3101
Closing this for now, feel free to open if it gets reproduce.

[2022-02-10 09:16] crhuber opened #3206 "[BUG] Applying Multiple Policies on Multiple Resources only Applies Against 1 Resource"
**Software version numbers**
Version: 1.6.0

**Describe the bug**
With a directory full of resources like:

[code]
and a folder full of policies like ` /path/to/folderFullPolicies`

Running apply against them only applies against the first resource

`kyverno apply --resource resources/*  policies/kyverno/kubernetes`

Output:
`Applying 5 policies to 1 resource...`

It should be applying to 4 resour

[2022-02-10 09:37] Dentrax commented on #3145
Not making any promises but I'll try my best. Should we reopen https://github.com/kyverno/kyverno/issues/1262 @chipzoller? `external="outside Kubernetes"` would be really cool. Additionally, ability to call Kubernetes services, as I pointed above.

[2022-02-10 13:37] artem-nefedov opened #3208 "[BUG] Deleting policies makes webhook inoperable (1.6.0 regression with --autoUpdateWebhooks=false)"
**Software version numbers**

* Kubernetes version: 1.21.1
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.6.0 (issue is NOT reproduced on v1.5.8)

**Describe the bug**

We are deploying Kyverno with `--autoUpdateWebhooks=false` (originally, to change webhook failurePolicy to Ignore, and to use namespace selector, which until recent update wasn't working

[2022-02-10 14:02] realshuting commented on #3039
Please see https://github.com/kyverno/kyverno/pull/3148.

[2022-02-10 14:53] treydock commented on #3203
@chipzoller I'm not real familiar with what generates the autogen policies. I was assuming it's Kyverno Go code.  If that's the case then I am not sure how Helm policies would behave differently unless there is some metadata in like annotations or something that is missing.  Helm essentially installs resources by rendering the YAML and using what behaves like `kubectl apply` to apply that YAML.

@

[2022-02-10 14:57] vyankyGH commented on #2861
Correct. we can pass the values from values/variable.yaml file. Need to come up with proposal how we can implement those.

[2022-02-10 15:02] artem-nefedov commented on #3208
BTW, I'm not against ditching `--autoUpdateWebhooks=false` if it's no longer supported, but then it kyverno explicitly fail on startup with this flag

[2022-02-10 15:10] 4molybdenum2 commented on #2861
@vyankyGH I have made draft PR supporting this in #3188

[2022-02-10 15:18] vyankyGH commented on #2861
@

Added comment. please check once.

[2022-02-10 15:35] chipzoller commented on #3203
Trey, the `exclude` statement is only being applied to one rule in that policy, not both.

[2022-02-10 15:42] treydock commented on #3203
If you want to to be for both rules, use the policy name rather than the rule name, if you use the policy name on a policy with multiple rules, that will apply to all rules.

[2022-02-10 18:00] realshuting opened #3210 "Update PR template for cherry-pick guidance"
**Is your feature request related to a problem? Please describe.**

Kyverno releases are generated from release branches. When the release branch is created, or there's any change that needs to be backported for patches, we cherry-pick commits to include that in the release.

To standardize the cherry-pick process, we can:

- add a checkbox in the PR template saying that the author has to cherry-p

[2022-02-10 20:37] chipzoller opened #3211 "Create #kyverno-dev Slack channel in Kubernetes workspace"
Per contributor's meeting on February 10, 2022, the consensus is to request a new channel in Kubernetes Slack called `#kyverno-dev` the purpose of which is to better communicate and coordinate on Kyverno development activities including release planning.

[2022-02-10 20:37] chipzoller commented on #3211
Created https://github.com/kubernetes/community/pull/6446

[2022-02-10 22:11] samj1912 commented on #1918
Not AFAIK, I think we would have to implement it specifically as an enhancement.

[2022-02-10 22:19] chipzoller commented on #1918
Seems like we should prioritize this. It keeps coming up.

[2022-02-11 00:24] chipzoller opened #3212 "Print a template test manifest with a flag to the `kyverno test` subcommand"
**Is your feature request related to a problem? Please describe.**
The `kyverno test` command requires a test manifest in a given schema in order to work. While the `-h` flag now shows some examples of those manifests, it's still a bit confusing and a multi-step process for a user to create a scaffolding or template test manifest to get started.

**Describe the solution you'd like**
Create a subco

[2022-02-11 00:35] chipzoller commented on #2665
Since we have settled on an approach here, and I've created the issue https://github.com/kyverno/policies/issues/262 to track the work to update the policies library to include this technique, I'm closing this for now. We can always revisit if later circumstances demand.

[2022-02-11 00:35] #2665 closed

[2022-02-11 01:03] zeborg commented on #3212
Sounds like a really good idea. Should we also add this as a `good first issue`?

[2022-02-11 01:10] chipzoller commented on #3212
Added

[2022-02-11 09:53] JesperBerggren commented on #3203
Hey @treydock and @chipzoller,

Thanks for your replies and solution!

It must have been a copy-paste error from my side. I really believed I had given the policy name in the values file rather than the rule name but you're right! I did indeed give the rule name and thus it generated the wrong yaml file (which could be seen with the template command).

I can confirm that using the policy name in t

[2022-02-11 09:53] #3203 closed

[2022-02-11 14:09] chipzoller opened #3214 "`kyverno test -h` output enhancements"
**Is your feature request related to a problem? Please describe.**
The output of the `kyverno test -h` command is outdated and suffers formatting issues as well as general untidiness.

**Describe the solution you'd like**
Improve the output so it is accurate, clean, and more helpful. For example, the following output has been prepared:

[code]

It is essential the spacing be correct when/if the ab

[2022-02-11 14:48] chipzoller commented on #3211
The #kyverno-dev channel is officially now available.

[2022-02-11 14:48] #3211 closed

[2022-02-11 16:12] chipzoller commented on #3197
Closing for now.

[2022-02-12 10:08] ckotzbauer opened #3216 "[VerifyImage] Support more certificate-extensions from cosign"
**Is your feature request related to a problem? Please describe.**
Currently when using the "verifyImages" check it is possible to check the "subject" and "issuer" of the certificate. When the keyless cosign-signature was created within Github Actions, the "subject" is typically the value from `job_workflow_ref`. As already described in sigstore/fulcio#305 this is insufficient, when the sign-opera

[2022-02-12 16:51] #3109 closed

[2022-02-12 16:51] #3210 closed

[2022-02-12 18:11] FarnazZ commented on #3197
@chipzoller, Unfortunately, we still have the same issue. I change the key and added the mentioned label with an empty string (Although it is worth mentioning we don't want to specify `servicelevel` label for all of our pods, deployments.). Even so, we have still had the issue and we got `preconditions not met` warning for all of the workloads that we don't want to check by the policy (The ones th

[2022-02-12 20:22] chipzoller commented on #3197
I cannot reproduce your issue on Kyverno 1.6.0 and Kubernetes 1.23.3 using a very slight modification to your policy:

[code]

## Pod with no labels, resulting in skip (mypod01)

[code]

[code]

## Pod with a non-relevant label, resulting in skip (mypod02)

[code]

[code]

## Pod with a label but non-triggering value, resulting in skip (mypod03)

[code]

[code]

## Pod with a label with triggering

[2022-02-13 03:46] JimBugwadia opened #3217 "Parser & validator for custom JMESPath expressions"
**Is your feature request related to a problem? Please describe.**

Kyverno declarative policies allow JMESPath embedding with nesting and custom functions. This extends the JMESPath grammar.

**Describe the solution you'd like**

Build a grammar and a corresponding parser validator for the Kyverno JMESPath expressions.

**Additional context**

JMESPath grammar:  https://jmespath.org/specification

[2022-02-13 06:57] FarnazZ commented on #3197
You need to wait until background scanning, it comes after the first background scan.

[2022-02-13 10:15] JimBugwadia opened #3218 "[Bug] attestation checks do not work with keyless verification"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

Attestations signed with `keyless` signing cannot be verified.

### Steps to reproduce

1. Add attestations to an image using Cosign keyless signing
2. Attempt to verify attestations using Kyverno

### Expected behavior

Attestations should be verified

[2022-02-13 10:33] JimBugwadia opened #3220 "[Feature] Improve CLI output for `kyverno apply...`"
### Problem Statement

The `kyverno test` command has its output nicely formatted:

<img width="935" alt="image" src="https://user-images.githubusercontent.com/5489990/153749016-64a1dcf0-e800-40f0-ba2d-021f0e1164fe.png">

Whereas the `kyverno apply` command shows its output like this:

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/5489990/153749173-696d8d9b-9c4e-4a5f

[2022-02-13 13:18] chipzoller commented on #3197
Ok, now I am seeing it. I agree this is a bug that should get addressed.

[code]

Reopening.

[2022-02-13 13:20] chipzoller commented on #3197
Resources whose preconditions aren't met in a policy in `audit` mode should not have events generated for `preconditions not met` warnings.

[2022-02-13 14:33] chipzoller opened #3222 "[Bug] ClusterRole `kyverno:events` tighten scope on apiGroups"
### Kyverno Version

1.6.x (Helm chart 2.2.0)

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

The `kyverno:events` ClusterRole is currently configured like so:

[code]

The `events` resource is under the core (`""`) apiGroup and `events.k8s.io` and so therefore this should be tightened to not look across all (`*`) apiGroups. [Reference]

[2022-02-13 18:07] chenrui333 commented on #3200
👋 I have filed [a PR](https://github.com/Homebrew/homebrew-core/pull/95052) of including a formula for this project, feel free to comment on it and give some feedback. Thanks!

[2022-02-13 18:11] chipzoller commented on #3104
The `\u003c` and `\u003e` characters are the result of the Kubernetes API translating `<` and `>` respectively into Unicode. This translation is not performed when running through `kyverno apply` because there is no Kubernetes API therefore the input characters for `<` and `>` remain as-is. The issue here is the interpretation of escape characters in the string.

Here is a comparison of the argume

[2022-02-14 04:04] oshi36 commented on #3220
Can I work on this issue?
More insight on this would be helpful!!

[2022-02-14 04:18] zeborg opened #3223 "[Bug] Kyverno panics when a validate policy has only a variable as message"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description

Applying a validate policy, irrespective of namespaced or cluster policy, which has the `message` field set as any variable without any leading or trailing string characters or whitespaces in the message string, results in panic and crashes the Kyverno pod.

[2022-02-14 04:32] JimBugwadia opened #3224 "[Feature] Expose URLs for Fulcio and Rekor"
### Problem Statement

Kyverno assumes default URLs for Fulcio and Rekor

### Solution Description

Allow users to configure the URLs for Fulcio and Rekor when Keyless is used

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/

[2022-02-14 05:46] shreemaan-abhishek commented on #3180
So far, my understanding is that we need to change
[code]
To
[code]

But I wish to have some clarification, like @chipzoller said [here](https://github.com/kyverno/kyverno/issues/3180#issuecomment-1034233749),

So I had a look on the codebase, where I found that other fields have values with initial letter upper. Which is in exact contrast to what Chip said.

[2022-02-14 05:53] shreemaan-abhishek commented on #3180
I wish to have some clarification, like @chipzoller said [here](https://github.com/kyverno/kyverno/issues/3180#issuecomment-1034233749),

So I had a look on the codebase, where I found that other _(similar)_ fields have values with initial letter uppercase. Which is in exact contrast to what Chip said.

![image](https://user-images.githubusercontent.com/61597896/153807536-f5f73f18-c15b-49ee-9141-5

[2022-02-14 05:54] shreemaan-abhishek commented on #3180
So far, my understanding is that we need to change
[code]
To
[code]

Am I right? 🤔

[2022-02-14 09:38] go-faustino commented on #3104
Hi @chipzoller, the `\u003c` and `\u003e` changes by the Kubernetes API don't cause problems, and the output not equalling what it would look like when the API server mutates the request it OK. I just mentioned it because of [this reply](https://github.com/kyverno/kyverno/issues/3104#issuecomment-1028100817).

The problem is Kyverno removing escape chars and wrapping the string in an outer set of

[2022-02-14 13:06] chipzoller commented on #3104
Right, I understand, I just put the previous reply together to illustrate where the problem is from Kyverno's side, and it's not the replacement of the angle brackets. This is just to clarify where we need to look.

[2022-02-14 13:08] chipzoller commented on #3180
On the point about the operators, yes, that's the one exception but those are consistent within the group of operators.

[2022-02-14 13:26] seh commented on #1886
See [this discussion in the "kyverno" channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1634995438057600) of the "Kubernetes" Slack workspace covering difficulties using _cert-manager_ and [its CA injector](https://cert-manager.io/docs/concepts/ca-injector/) to manage TLS assets for Kyverno.

[2022-02-14 14:23] zeborg commented on #3180
@shreemaan-abhishek - as Chip has rightly mentioned, the naming convention for condition operators is consistent within their implementation so you need not modify any of those. But you need to make your changes backwards compatible as well, so for example if a user sets `failurePolicy: Fail`, the policy should still work fine as it would do for `failurePolicy: fail` after this new change.

Anothe

[2022-02-14 16:03] chipzoller commented on #3180
This is also related to https://github.com/kyverno/kyverno/issues/2461

[2022-02-14 20:25] Namanl2001 commented on #3220
hi @oshi36 - results for `kyverno test` are printed using this func: https://github.com/kyverno/kyverno/blob/main/pkg/kyverno/test/test_command.go#L736

you can create a similar func for `kyverno apply` command

also, you can learn about both the commands from here: https://kyverno.io/docs/kyverno-cli/#test

[2022-02-14 21:13] Namanl2001 commented on #3216
Thanks, @ckotzbauer - for opening this issue.

I'm just wondering how can we extract these new extensions in kyverno, from the certs? For the subject and issuer we are using the cosign's `signature` pkg - https://github.com/kyverno/kyverno/blob/main/pkg/cosign/cosign.go#L366-L367

[2022-02-14 22:10] chipzoller opened #3230 "[Bug] AUR package is outdated for Kyverno"
### Kyverno CLI Version

1.6.x

### Description

I see this: https://aur.archlinux.org/packages/kyverno-git

We mention this as a viable installation method in [the docs](https://kyverno.io/docs/kyverno-cli/#install-via-aur-archlinux), so we either need to update AUR or remove this.

### Steps to reproduce

1. yay -S kyverno-git
2. v1.5.0-rc1-121-g497514fd

### Expected behavior

Kyverno CLI versi

[2022-02-14 22:22] chipzoller commented on #2457
I'm not sure this is an actual problem with Kyverno or is the way the policy is written. I attempted to reproduce this on 1.6.0 but using a policy that had fewer of the conditional anchors as I believe this is causing a problem. Here are steps on how to demonstrate the `{{@}}` probably isn't an issue.

1. Create this ClusterPolicy
[code]
2. Create this Deployment
[code]

3. Check the values of the

[2022-02-14 22:22] #2457 closed

[2022-02-14 23:51] sjentzsch opened #3231 "[Bug] Cascading Mutate rules with conditional logic (via anchors) weirdness"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Mutate

### Description

I am discovering strange and obviously wrong behavior of Kyverno when using [cascading mutate rules](https://kyverno.io/docs/writing-policies/mutate/#mutate-rule-ordering-cascading) in combination with [conditional logic (via anchors)](https://kyverno.io/

[2022-02-15 00:20] shawnharris63 opened #3232 "[Bug] Internal error occurred: failed calling webhook connect: connection refused"
### Kyverno Version

1.5.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

VMware Tanzu (specify in description)

### Kyverno Rule Type

Validate

### Description

The platform is VMware Tanzu; specifically vsphere with tanzu.  Kyverno installs and functions as expected for a while.  Then at some point, the application fails with messages like this:

`Feb 13, 2022
00:02:38.000
E0213 08:0

[2022-02-15 03:16] #3218 closed

[2022-02-15 05:51] ckotzbauer commented on #3216
You are right, I missed the fact, that this is the place where the area of cosign starts. 😆
I think we should cross-post the issue at cosign, that the extraction logic there could be expanded.
@Namanl2001 Should I do that?

[2022-02-15 06:41] Namanl2001 commented on #3216
Yes, that would be nice, thanks :)

[2022-02-15 07:57] #3152 closed

[2022-02-15 08:35] #2439 closed

[2022-02-15 13:36] chipzoller opened #3234 "[Bug] The Secret `kyverno-svc.kyverno.svc.kyverno-tls-ca` should include the key by default"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

In a default Kyverno installation, two Secrets are created. One is for the private CA, the other is for the leaf certificate issued by it. The Secret for the CA only contains the certificate and not the key.

### Steps to reproduce

1. Install Kyverno
2. Check th

[2022-02-15 14:15] chipzoller opened #3235 "[Bug] GenerateRequests not covered in aggregated ClusterRoles"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

The `kyverno:policies` ClusterRole, which has largely been replaced by aggreated-to-admin ClusterRoles, still references GenerateRequests which are not covered by any of the new aggregated ClusterRoles.

### Steps to reproduce

1. Inspect `kyverno:policies` CR.
2

[2022-02-15 14:19] andriktr opened #3236 "[Bug] Mutate policy works for deployments, but not works for bare pods"
### Kyverno Version

1.5.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Mutate

### Description

Hello,
I'm trying to implement a policy which mutates pod.spec and adds `automountServiceAccountToken: false`.
Here is the policy definition:
[code]

### Steps to reproduce

1. Then if I create a pod with `kubectl run test --image=andriktr/utils:1.0.7 -n develop

[2022-02-15 14:45] chipzoller commented on #3236
I have investigated this in the past, and the problem here is the Kubernetes API server and not Kyverno. When a Pod is sent to the API server without the field `automountServiceAccountToken` it is mutated first by the API server and then sent to webhooks. Although Kyverno will set this to `false` based on the policy, the API server has already mutated the Pod to add the volume containing the SA cr

[2022-02-15 15:19] andriktr commented on #3236
Hey @chipzoller
Then theoretically we can adjust the policy rule which will additionally mutate and remove auto injected volume and mount.

[2022-02-15 15:36] chipzoller commented on #3236
A much more successful (and easy) approach is to use [this policy](https://kyverno.io/policies/other/restrict_automount_sa_token/restrict_automount_sa_token/) which requires that SA tokens are disabled from the get go.

[2022-02-15 16:15] #3235 closed

[2022-02-15 18:34] afzal442 commented on #3212
Should I go like this pattern as follows individually?
[code]
Let me know if this is the right approah. Maybe I'm dumb here, asking each silly question. 😆

[2022-02-15 20:10] andriktr commented on #3236
Yea initially idea was to use this policy, but then thought it would be good to not force dev's to apply specs in their deployment configs and assign them by default with mutation policy.
Anyway thanks for response.

[2022-02-15 20:25] chipzoller commented on #3236
This is one of those cases where, due to the complexity otherwise, it's best to force them into a good habit.

[2022-02-15 20:25] #3236 closed

[2022-02-15 21:03] abhi-kapoor commented on #1381
@chipzoller I can take a look at this, if this issue is still relevant.

[2022-02-16 00:25] go-faustino commented on #3104
@chipzoller I narrowed the problem down to a string like `a: b`, this alone is causing the error. If you remove the single `:` from that string, or even just the space after the colon, the problem disappears.

So, to make your test easier, you can replace the problematic string above with just
[code]
and Kyverno CLI `apply` changes it to
[code]

It actually duplicates all single quotes, in another

[2022-02-16 06:16] realshuting opened #3241 "[Feature] Remove Cluster IP from self-generated cert SANs"
### Problem Statement

@seh from [Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1644867475901339):

### Solution Description

Remove the Cluster IP from SANs.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p1644867475901339

### Research

- [X] I have read and followed the documentation AND th

[2022-02-16 06:29] realshuting opened #3242 "[Bug] Cannot create PolicyReport due to OwnerReferences settings"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

OpenShift

### Kyverno Rule Type

Validate

### Description

See details in [this](https://kubernetes.slack.com/archives/CLGR9BJU9/p1644210275420569) discussion.

To fix it, we need to:
- Add the `namespaces/finalizers` permission to `kyverno:generate`
- Fix the owner to be the Kyverno namespace

### Steps to repr

[2022-02-16 14:03] shreemaan-abhishek commented on #3180
So to solve this issue I need to make some changes in code that would ensure that the policy works in all of the following circumstances:

`failurePolicy: Fail`,
`failurePolicy: fail`,
`failurePolicy: Ignore`, and
`failurePolicy: ignore`

right?

[2022-02-16 14:05] chipzoller commented on #3180
Yes

[2022-02-16 14:05] chipzoller commented on #3180
But what gets "advertised" to users when describing the schema is lower case.

[2022-02-16 15:19] chipzoller commented on #3231
Ok, in looking at this issue, there are some things here that aren't specified correctly and/or won't work in Kyverno. The main thing seems to be in the second rule you're doing something like:

[code]

Conditional anchors don't work like this and it won't produce the desired result, JMESPath filters aside. For example, the below policy seems like it would change the `name` of a container to be `f

[2022-02-16 15:19] #3231 closed

[2022-02-16 15:28] chipzoller commented on #3232
@shawnharris63 is there a way you could test if this behavior is still present using Kyverno 1.6.0?

[2022-02-16 15:34] chipzoller commented on #3200
Looks like this is now available!

[code]

[code]

Thank you!

[2022-02-16 15:34] #3200 closed

[2022-02-16 16:21] alekc opened #3244 "[Bug] Kyverno webhook not responding. (external.metrics.k8s.io/v1beta1?)"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

cannot create namespace due to webhook failure
[code]

Kyverno is up and running/ready
[code]

logs report several errors:
[code]

Potentially related to https://github.com/kyverno/kyverno/issues/1490

All api servers are available
[code]

### Steps to reproduce

[2022-02-16 16:32] shreemaan-abhishek commented on #3180
Describing the schema means writing the policy, right?

[2022-02-16 16:38] chipzoller commented on #3180
`kubectl explain`

[2022-02-16 16:41] realshuting commented on #2127
I have installed 2k namespaces and 2k pods on a 23 nodes Kind cluster, everything looks fine so far.

[code]

[2022-02-16 16:46] realshuting commented on #3232
@shawnharris63 - can you share the details of your cluster? It's helpful for reproduce.

1. How many policies and what are the matching kinds?
2. For those matching kinds, what is the corresponding number of resources? i.e. pod counts

[2022-02-16 16:47] realshuting commented on #3039
@darshini-ramesh - any updates?

[2022-02-16 16:52] realshuting commented on #2314
With all the memory enhancements in 1.6.0, the memory usage should be stable now.

Please refer to https://github.com/kyverno/kyverno/issues/2127#issuecomment-1041861608 for measurement on a large cluster.

Reopen with detailed resource counts if this is still an issue.

[2022-02-16 16:52] #2314 closed

[2022-02-16 16:58] darshini-ramesh commented on #3039
For now we have used the workaround to set FailurePolicy to Ignore to ignore errors and let admission requests pass through.

[2022-02-16 17:43] shreemaan-abhishek commented on #3180
"Describing the schema" means writing/describing the policies, right?

[2022-02-16 19:47] shawnharris63 commented on #3232
Currently running Chart/App  v2.1.10 / v1.5.8

Will test on the latest helm chart, which currently is:  v2.3.0 / v1.6.0.

[2022-02-16 20:41] gnunn1 opened #3245 "[Bug] Increase liveness probe for OpenShift"
### Kyverno Version

1.6.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

OpenShift

### Kyverno Rule Type

Other

### Description

kyverno seems to iterate over all of the CRDs in the cluster at startup, OpenShift has a lot more CRDs then a typical k8s distro since it uses Operators to manage the cluster. The default `initialDelaySeconds` of 15 seconds in the liveness probe is too shor

[2022-02-16 20:57] viveksahu26 commented on #2934
fixed via [PR](https://github.com/kyverno/kyverno/pull/2954)

[2022-02-16 20:57] #2934 closed

[2022-02-17 04:03] #3053 closed

[2022-02-17 06:13] realshuting opened #3247 "Vulnerabilities found in Golang 1.17.2"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

New vulnerabilities are found in Golang 1.17.2, we need to bump Golang version to 1.17.3 for Kyverno images:

- ImportedSymbols in debug/macho (for Open or OpenFat) in Go before 1.16.10 and 1.17.x before 1.17.3 Accesses a Memory Location After the End of a Buffe

[2022-02-17 06:14] #3247 closed

[2022-02-17 11:54] realshuting commented on #2127
Scheduled 30 cronjobs on the above cluster, memory usage increased but remain stable, around 300Mi:
[code]

Closing.

[2022-02-17 11:54] #2127 closed

[2022-02-17 11:55] realshuting commented on #3232
Thanks for getting back @shawnharris63 !

If you see the issue with newer version again, please also attach the logs.

[2022-02-17 12:00] realshuting commented on #2453
Hi @MattSWakefield - any update on this issue? The latest Kyverno is v1.6.0, is it possible for you to upgrade to latest and verify again?

[2022-02-17 12:40] realshuting commented on #3156
@bitnik - yes, the above policy should also work!

[2022-02-17 13:17] realshuting commented on #3156
Thinking more about the proposed solution above, it could still result in security issues as @JimBugwadia pointed out here https://github.com/kyverno/kyverno/issues/2164#issuecomment-886873647.

Let's say if auto-gen is enabled for `DaemonSet,Deployment,StatefulSet`, and we skip applying policy to the pod that is managed by Job (and other workloads), the user can bypass policy checks for this part

[2022-02-17 13:20] realshuting commented on #2879
Hi @huangjiasingle - we've removed the configmap informer in Kyverno v1.6.0, can you please upgrade to this version and verify?

[2022-02-17 13:37] chipzoller commented on #3180
I can change the docs, but a PR that addresses this issue needs to adjust the files needed to generate the CRDs.

[2022-02-17 14:33] chipzoller commented on #3156
Not sure I follow here. If autogen is enabled for those three controllers, that means the user has already consciously decided against enforcement for Jobs and CronJobs (because without the annotation these would be covered by default).

[2022-02-17 15:22] realshuting opened #3251 "[Bug] Kyverno crashes when evaluates `In` operator"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

Kyverno panics when substitutes a variable in `preconditions`.

### Steps to reproduce

1. install this policy:
[code]
2. create a pod that will crash by `k create deploy test --image=abhishekk27/kube-pub:new`
3. wait for a while, see Kyverno crashes with the fo

[2022-02-17 19:15] JimBugwadia opened #3253 "[Bug] Policy by-pass by manipulating preconditions"
### Credit

This issue was found and  reported by @tghartland along with detailed steps to reproduce. Thanks Thomas, for helping make Kyverno policies more secure.

Please view the [security](https://kyverno.io/docs/security/) section in the Kyverno documentation for security processes and best practices.

### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikub

[2022-02-17 19:17] JimBugwadia commented on #3253
This by-pass can be prevented by configuring a separate rule to guard changes to the precondition criteria.

Extending the example above, the `guard-lock` policy rule prevents changing the lock:

[code]

[2022-02-18 00:49] JimBugwadia commented on #2938
Hi @samj1912 - thinking about this some more I feel this is best as a context entry that is used to merge to the existing `images` variable.

The syntax would be something like this:

[code]

This entry would not require a name, as its adding to the existing `images` variable. We would need to make the name optional and add separate validation logic for requiring a name for certain context entry t

[2022-02-18 01:47] #3003 closed

[2022-02-18 05:35] realshuting commented on #3156
I just tried adding an existing deployment as the owner for a bare pod, and it worked. So one (other controllers) can still bypass the policy checks by editing the `ownerReferences` field. In this sense, the `ownerReferences` cannot really tell that this pod is **actually** managed by default Kubernetes controllers.

[2022-02-18 05:40] JimBugwadia commented on #3156
That seems like the behavior reported in https://github.com/kyverno/kyverno/issues/2164 which we fixed by additionally applying the rule at the pod level.

A rule defined at the pod level must apply to **all** pods. Auto-gen should be additive and also additionally apply the rule to select controllers, but not skip checks for all pods. If the user wants other behaviors, they can configure it using

[2022-02-18 05:44] realshuting commented on #3156
Yes just confirmed that again in Kubernetes 1.23.0.

[2022-02-18 06:01] #3253 closed

[2022-02-18 06:10] JimBugwadia opened #3254 "[Bug] Image signature digest does not match the repository digest"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Other

### Description

Each build of Kyverno is producing an image signature at:

https://github.com/orgs/kyverno/packages/container/package/signatures

The digests used for these images are generated using the following command in the Makefile:

[code]

This digest does not match

[2022-02-18 08:50] #3242 closed

[2022-02-18 09:11] #3131 closed

[2022-02-18 10:32] #3187 closed

[2022-02-18 12:26] realshuting commented on #2879
Closing, please re-open if the issue occurs.

[2022-02-18 12:26] #2879 closed

[2022-02-18 14:27] rparke opened #3260 "[Bug] Newly Started Kyverno Pods Permit Resources which Violate Policy"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Validate

### Description

On a multi-tenancy Kubernetes cluster we have Kyverno installed with `failurePolicy` set to Fail (fail closed). We tested this worked as expected by deleting the Kyverno Pod and trying to submit a failing resource (in our case a Pod) to the cluster. As ex

[2022-02-18 19:44] chipzoller opened #3261 "[Bug] apiVersion detection may be incorrect"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Developing a test for [check_deprecated_apis](https://github.com/kyverno/policies/blob/main/best-practices/check_deprecated_apis.yaml) and discovered that in addition to "bad" API versioned resources being blocked, it's also blocking "good" versions.

### Step

[2022-02-18 19:49] chipzoller commented on #3261
Also tested on Kyverno v1.5.1 and saw similar results.

[2022-02-18 22:13] chipzoller opened #3262 "[Bug] [CLI] Lack of tag is not internally replaced with `latest`"
### Kyverno CLI Version

1.6.x

### Description

In the webhook, when Kyverno sees an image with no tag it will internally assume a tag of `latest`. This is not happening in the CLI and negative tests cases which should fail because the image does not specify a tag are not.

### Steps to reproduce

1. Apply [this policy](https://kyverno.io/policies/best-practices/disallow_latest_tag/disallow_lates

[2022-02-19 13:10] 4molybdenum2 commented on #3230
The ```kyverno-git``` package can be marked as out-of-date in AUR. But I think it would be better to submit a merge request on AUR to currently shift its base to the latest Kyverno repo.

[2022-02-19 13:14] chipzoller commented on #3230
Agree. Do you want to take this?

[2022-02-19 13:17] 4molybdenum2 commented on #3230
Somebody will want to maintain the pkgbuild everytime it is updated...Should it be me? Or should someone more familiar with the repo do it?

[2022-02-20 13:20] afzal442 commented on #3262
@chipzoller Do we need to add some more tests for CLI or refactor the `apply` unit test to perform as expected? 🪧

[2022-02-20 13:22] chipzoller commented on #3262
We need to _fix_ the CLI so it behaves like the webhook in this regard. The tests can be covered in existing test cases already present in kyverno/policies.

[2022-02-21 05:17] vyankyGH commented on #2159
Closing issue. Thanks

[2022-02-21 05:17] #2159 closed

[2022-02-21 05:23] #3212 closed

[2022-02-21 05:23] #3214 closed

[2022-02-21 09:10] thomasroot opened #3265 "[Bug] Huge amount of log message "resource webhook configuration was deleted, recreating...""
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

VMware Tanzu (specify in description)

### Kyverno Rule Type

Validate

### Description

Hi,

We deployed Kyverno on all of our lab clusters via helm in a HA configuration. Please find the values file attached to this issue. After deploying kyverno in this setup we noticed a huge increase in our logs.

The followi

[2022-02-21 09:14] thomasroot commented on #3265
Please find attached the log file of the affected pod
[kyverno.log](https://github.com/kyverno/kyverno/files/8107874/kyverno.log).

[2022-02-21 11:47] ribbybibby opened #3266 "[Bug] Panic: creating targets dir: mkdir /.sigstore: permission denied"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

I get the following error when trying to verify an image that has been signed 'keylessly':
[code]

This is with a Kyverno instance deployed with the latest helm chart (v2.2.0).

I can work around this issue by adding an emptyDir volume mount to the Kyverno

[2022-02-21 14:10] 4molybdenum2 commented on #3230
Package seems to have been updated on the AUR. I suppose this can be closed for now.

[2022-02-21 14:24] chipzoller commented on #3230
Can you confirm what version is installed?

[2022-02-21 14:31] chipzoller opened #3267 "[Bug] Helm chart release dates not accurate"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Other

### Description

In looking at the chart [index](https://github.com/kyverno/kyverno/blob/gh-pages/index.yaml), all the dates are getting updated when the last chart was released. So currently they all show `"2022-02-15T16:08:23.29658369Z"`.

### Steps to reproduce

1. Add the Kyv

[2022-02-21 14:45] 4molybdenum2 commented on #3230
Package version is not updated (still showing 1.5..)
But I think it may be running the latest build of the CLI (not sure...)

[2022-02-21 14:57] treydock commented on #3267
Looks like this was fixed upstream for GH Action: https://github.com/stefanprodan/helm-gh-pages/commit/daf10ca6192c78948dd37adfea38aa99b0f36246

That was part of 1.5.0 release for that action, so likely just need to update GH Action version for this particular action.

[2022-02-21 15:50] #3267 closed

[2022-02-21 17:18] lonnixOH opened #3270 "[Bug] [CLI] Support different context variables when using foreach"
### Kyverno CLI Version

1.6.x

### Description

I wrote a test that has 2 context objects: 1 outside of a foreach loop (`allHosts`) and one inside of a foreach loop (`pathForHost`). I had hoped that I could pass multiple values to `pathForHost` so that it would be different for each iteration of foreach but that does not seem to be possible.

### Steps to reproduce

1. create the following `value

[2022-02-21 17:29] lonnixOH opened #3271 "[Feature] Support multi-line variables in values.yaml when testing"
### Problem Statement

Values for `context` variables cannot be multi-line strings. This makes it difficult if the value that needs to be checked is a JSON string

### Solution Description

I would like to have a `values.yaml` file that supports using the `|` operator for multi-line strings. Example:

[code]

### Alternatives

The solution I have in place to get around this now is to modify my jme

[2022-02-21 21:05] bryanasdev000 commented on #3265
Do you also get errors like:

[code]

When messing with the cluster?

Also, your `kyverno-verify-mutating-webhook-cfg` and friends keep recreating itself after 30s?

[2022-02-21 23:47] chipzoller commented on #3270
Related to https://github.com/kyverno/kyverno/issues/2567

[2022-02-21 23:56] chipzoller commented on #3265
@thomasroot although I can't spot anything that's obviously out of place, the values file is quite large. It would be more expeditious if you were able to tell us what overrides or additions compared to the defaults you have made.

Also, is this deployed to a TKG cluster as emitted from vSphere with Tanzu, TKG ("standalone" or "multicloud"), or TMC? As stated in the selector for Kubernetes Platfor

[2022-02-22 00:49] chipzoller commented on #2653
This does not appear to be working in 1.6.0.

1. Creating tests for [this policy](https://github.com/kyverno/policies/tree/main/psp-migration/check_supplemental_groups).
2. Create `kyverno-test.yaml`
[code]
Leave the variables line commented out.

2. Create `resource.yaml`
[code]

3. Test this and see they both fail.
4. Add the `-v=3` switch to the end and see that `request.operation` is being sub

[2022-02-22 09:51] nickvanwegen commented on #3265
Hi,

I am facing a similar issue on an EKS cluster. (version 1.21)
kyverno version = 1.6.0

My installation is very basic see below

[code]

Everything seems fine but after the 5min i see the following logs.

[code]

I cant seem to work out why this is happening at all since the only thing i can see in the logs that points to something going wrong is.

[code]

In another ticket #2869 i see a check

[2022-02-22 09:55] skuethe opened #3276 "[Feature] add `linux/s390x` support"
### Problem Statement

I want to run `kyverno` on `linux/s390x` arch.

### Solution Description

Add `linux/s390x` builds to automation / Makefile - since this project is using `go`, `goreleaser` and `docker buildx` adding `s390x` support is pretty easy. I will create a PR for it.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Rese

[2022-02-22 11:49] #2897 closed

[2022-02-22 11:51] realshuting commented on #3232
Closing, re-open if needed.

[2022-02-22 11:51] #3232 closed

[2022-02-22 11:52] #2453 closed

[2022-02-22 11:52] #2883 closed

[2022-02-22 12:25] prateekpandey14 commented on #2650
@chipzoller looks like example policy does not have the job controller enabled see the misssing Job resource in policy , which needs to updated with `pod-policies.kyverno.io/autogen-controllers: DaemonSet,Deployment,StatefulSet,Job`.

@rubroboletus Job controller internally provision the Pod resource which eventually will be blocked since policy has the matching Kind listed as `Pod`, if you still

[2022-02-22 13:12] chipzoller opened #3279 "[Bug] Kyverno tries to generate events on blocked resources"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

When a validate rule is in `enforce` mode and blocks a resource which violates the rule, Kyverno tries to generate events on the resource. This results in an unnecessary 10 extra calls to the API server which obviously return 404 errors since they do not exist

[2022-02-22 13:19] pealtrufo commented on #2709
@JimBugwadia, any thoughts on the above?
Should the issue be reopened as I am still not too sure if this is going to be implemented/supported in any future release.

Thanks

[2022-02-22 13:29] thomasroot commented on #3265
@bryanasdev000 `kyverno-verify-mutating-webhook-cfg` and friends are recreated in an irregular interval, but not every 30s.

No we don't get this error message:
`Error from server (InternalError): Internal error occurred: failed calling webhook "validate.kyverno.svc-fail": Post "https://kyverno-svc.kyverno.svc:443/validate?timeout=10s": context deadline exceeded`

@chipzoller Right, everything is