[2021-02-13 08:49] yashvardhan-kukreja commented on #1584
PS: Nonetheless, I do not think I'll pick up this issue because I'd rather want a new upcoming contributor to pick up this issue (as it's quite straightforward to close) and get themselves interested into contributing to Kyverno further.

But I'd like to surely volunteer and help the newbie assignee (around understanding the issue or understanding the codebase or anything else) whenever they get s

[2021-02-13 11:13] rajdas98 commented on #1557
@chipzoller @realshuting Trivy doesn't scan scratch images
Issue Ref- https://github.com/aquasecurity/trivy/issues/173#issuecomment-546673051

![Selection_152](https://user-images.githubusercontent.com/20414564/107848589-a1f00980-6e1a-11eb-8f88-a95e94990e93.png)

[2021-02-13 11:45] rajdas98 opened #1596 "[BUG] Getting invalid memory address error while using kyverno with --set"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.18.3
* Kyverno version: locally buid (latest)

**Describe the bug**
A clear and concise description of what the bug is.

![Selection_153](https://user-images.githubusercontent.com/20414564/107849033-753df100-6e1e-11eb-892a-92fd98fbcc06.png)

**To Reproduce**
Steps to reproduce the

[2021-02-13 11:52] rajdas98 commented on #1596
Also, if we passed the variables from value.yam, then it is giving this error
![Selection_154](https://user-images.githubusercontent.com/20414564/107849255-0bbee200-6e20-11eb-9dee-8c80c7b93333.png)

[2021-02-13 13:34] chipzoller commented on #1596
@rajdas98 don't have input on the issue itself, but a couple "FYI" points that help make issues like these a little more readable on GitHub:

- Posting screenshots of terminal output isn't really necessary. Simply copy-and-paste into a code block. It skips a step of having to click the image to read it well.
- Code blocks on GitHub support syntax highlighting. For YAML, this is helpful. Put the la

[2021-02-13 13:43] chipzoller commented on #1170
On the incoming Deployment, the map `spec.selector.matchLabels` needs to be compared to all PDBs in the same Namespace at the path `spec.selector.matchLabels`. Obviously the map on both of these resources is a logical AND, so whatever is on the Deployment needs to match exactly to what's on a PDB. So this on a Deployment

[code]

isn't the same as an existing PDB that has this

[code]

[2021-02-13 14:40] chipzoller commented on #1170
@JimBugwadia and @realshuting: This is what I came up with as a "pseudo-policy" because thinking through it, it seems like this is how it should be expressable, but no doubt this doesn't work.

[code]

Here are a few sample resources if you want to follow along.

deploy.yaml
[code]

pdb01.yaml
[code]

pdb02.yaml
[code]

With at least the two PDBs created, get the collection of items:

[code]

What

[2021-02-13 15:09] chipzoller commented on #1557
That's right, forgot about that. Since we are using scratch images, I wonder how ultimately valuable such a security scan would be. Probably between none and very little.

[2021-02-13 16:12] rajdas98 commented on #1557
One thing we can do
1. Replace `scratch` with `alpine` in Dockerfile using sed command
2. build that docker image
3. use Trivy to scan this local image

But this will increase the pipeline time.

[2021-02-13 16:14] chipzoller commented on #1557
I don't think it really makes sense to swap the base image with something larger than what we need (and create unnecessary security vectors) for the purposes of then being able to scan it.

[2021-02-13 17:32] yashvardhan-kukreja commented on #1242
@chipzoller I have made this draft which currently has the functionality ready to delimit multi-line block data in configmap by newline characters.
Draft, just because it doesn't address the mentioned two kinds of theoretical edge cases. But apart from that, if you'd like to review the functionality for delimiting the multi-line block, please go ahead :)

cc: @JimBugwadia @realshuting

[2021-02-13 17:54] chipzoller commented on #1242
Looks good to me. These limitations notwithstanding, I don't see a valid reason that this cannot be adopted as another choice for users to store an array of strings in a ConfigMap. We will ensure these constraints are thoroughly documented and leave it up to users to decide if they'd like to accept them. @JimBugwadia and @realshuting ?

[2021-02-13 18:39] rajdas98 commented on #1596
I debugged the code found that it is causing by the following functions

1. https://github.com/kyverno/kyverno/blob/596bc9ba6fa956c2f0c9da9ce0928e5551301c93/pkg/engine/generation.go#L36

2. https://github.com/kyverno/kyverno/blob/596bc9ba6fa956c2f0c9da9ce0928e5551301c93/pkg/engine/generation.go#L86

First is because `ExcludeResourceFunc` has not been implemented, not sure about the second function

[2021-02-13 19:21] yashvardhan-kukreja opened #1598 "[BUG] the operator-checks under validate.deny.conditions raise error when templatized value is provided"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.2

**Describe the bug**
A clear and concise description of what the bug is.
Recently, a validation check was added to allow the `value` field to be one of `CREATE, UPDATE, DELETE, CONNECT` under `validate.deny.conditions` whenever the `key` was `{{request

[2021-02-13 20:33] rajdas98 commented on #1268
Hi @realshuting , Can you assign me this issue?

[2021-02-13 20:35] chipzoller commented on #1268
I think this issue would be superseded by https://github.com/kyverno/kyverno/issues/1485

[2021-02-13 20:43] rajdas98 commented on #1268
Actually, I started implemented this by adding a new field called `validate.deny.Conditions.Logic(And/Or)` and based on this I am going to invoke evaluate conditions function. I can raise a WIP right now, if you want

[2021-02-13 20:47] rajdas98 commented on #1268
@chipzoller Here is the PR- https://github.com/kyverno/kyverno/pull/1600

[2021-02-13 21:11] rajdas98 commented on #1268
@chipzoller Do you want me to follow structure as you mentioned here- https://github.com/kyverno/kyverno/issues/1485#issue-790298501

[2021-02-13 21:20] MnrGreg commented on #1492
another example:

[code]

If the kyverno applied label is prefixed with 'Namespace--' essentially the namespace size limit is then 52 characters.

Perhaps the kubernetes api-resource shortnames could  be used?
e.g. `namespaces` = `ns`

[2021-02-13 22:02] yashvardhan-kukreja commented on #1591
@realshuting  can you share the manifests with which this error can be reproduced?
I began by applying the following manifest but to my shock, it gave an error:
[code]
Here's the error which I received when I tried to `kubectl apply` it threw the following error:
[code]

[2021-02-13 22:14] yashvardhan-kukreja commented on #1485
So, @chipzoller, just confirming, if we have finally decided to go forward with implementing this, can you assign me this issue?

[2021-02-13 23:33] MnrGreg commented on #1492
This seems to indefinitely queuing subsequent generate requests for the specific clusterPolicy thats affected.

In the below example, first a 58 character namespace `demoteam-demoapp-dev11111111111111111111111111111111123469` was created with some generations which show `Failed`. Next a short (22 char) length namespace was created with with 3 generate rules expected. The 'add-ns-rolebinding-groups

[2021-02-13 23:44] chipzoller commented on #1268
Might need some more discussion with @JimBugwadia and @realshuting on this one. The proposal outlined in #1485 and this seem like they're functionally the same, just a matter of the wording.

[2021-02-13 23:44] chipzoller commented on #1485
I don't have assign permissions, so that'll need to be either @JimBugwadia or @realshuting

[2021-02-13 23:48] chipzoller commented on #1591
I have no problem applying this. Ensure you're running 1.3.2.

[code]

[2021-02-14 00:14] chipzoller commented on #1590
In thinking about this, I'm not actually too sure I know how to write such a policy. `preconditions` would need to be UPDATE. The rest I'm not too sure about to only allow those two fields. Any hints?

[2021-02-14 00:51] yashvardhan-kukreja commented on #1591
Yep, it just worked fine. Apparently, my KinD cluster was behaving in a flaky way. So, bootstrapping another one and setting up kyverno over it fixed it. 👍🏼

[2021-02-14 22:49] yashvardhan-kukreja opened #1602 "add a 'make' target to auto-generate kubebuilder's auto-generable code"
**Is your feature request related to a problem? Please describe.**
As a contributor, when performing core API related changes, correspondingly just before deploying new changes, some piece of code is supposed to be auto-generated like in files such as `zz_generated.deepcopy.go`

**Describe the solution you'd like**
add a make target to do that

**Describe alternatives you've considered**
-

**Addi

[2021-02-15 19:28] realshuting commented on #1591
Closing in favor of #1601.

[2021-02-15 19:28] #1591 closed

[2021-02-15 19:35] realshuting commented on #1592
Closing via #1601 .

[2021-02-15 19:35] #1592 closed

[2021-02-15 21:44] JimBugwadia commented on #1506
We need to handle inline variables everywhere JMESPath variables are supported. Ideally we can combine the substitution logic.

[2021-02-15 21:50] yashvardhan-kukreja commented on #1485
@chipzoller / @JimBugwadia / @realshuting  I have developed the first draft of the PR under which I have implemented the support for `any` and `all` logical operations over `validate.deny.conditions` and `preconditions`.
PTAL and let me know what do you think :)
Thanks!

[2021-02-15 22:19] JimBugwadia commented on #1485
@yashvardhan-kukreja thanks! Yes, we will need to add backwards compatibility. Also, we can log separate issues to track support for `validate.pattern` and plan on deprecating `anyPattern`.

[2021-02-15 22:27] yashvardhan-kukreja commented on #1485
Sure. In that case, I can hop onto implementing backwards compatibility over the above PR.

[2021-02-15 23:25] JimBugwadia commented on #1145
@RinkiyaKeDad - do you still have questions on this?

The JSON context is built when the webhook is received. See pkg/webhooks/server.go:

[code]

We need to add a method to check the request object Kind and then for pods and pod controllers extract image details.

Let me know if you need more details.

[2021-02-16 14:33] electrical commented on #1340
Referencing slack convo https://kubernetes.slack.com/archives/CLGR9BJU9/p1613477584422100

I'm hitting the same issue.
patchStrategicMerge can add a missing path but not do indexed mutations
patchesJson6902 can do indexed mutations but not add a missing path

In my case I want to add an init container ( vault ) which adds a volumeMount to the first container.
In the deployment it self there are no

[2021-02-16 15:14] electrical commented on #1340
For testing I've tried to add an empty entry for the missing path and that is being fully ignored, so no workaround is available at this time.

[2021-02-16 16:09] electrical opened #1607 "Mutate existing resource on policy update"
**Is your feature request related to a problem? Please describe.**
Not sure if it's a bug or a feature.
I've got a mutating policy that injects some stuff for vault.
When I update that policy and modify for example the image tag there is no way that I could find to run the mutation again to update the deployments.
The only functional way is to delete the deployment and install it which obviously i

[2021-02-16 19:45] NoSkillGirl opened #1610 "CLI - Generate policy - print the generated resource"
When a generate policy is applied on resource in kyverno CLI, it should print the generated resource.

[2021-02-16 20:40] realshuting commented on #1340
After discussing with @JimBugwadia, we can add these 2 options to `patches` (which is marked as deprecated and will be removed): `AllowMissingPathOnRemove` and `EnsurePathExistsOnAdd `, see https://github.com/evanphx/json-patch/tree/master.

These 2 options are supported in evanphx/json-patch.v5, while `patchesJson6902` uses v4 (which internally uses [Kustomize](https://github.com/kubernetes-sigs/

[2021-02-16 20:51] realshuting commented on #1596
Closing in favor of #1609.

[2021-02-16 20:51] #1596 closed

[2021-02-16 21:06] #1598 closed

[2021-02-16 21:59] realshuting commented on #1579
We are discussing to support `AllowMissingPathOnRemove` and `EnsurePathExistsOnAdd `, track in https://github.com/kyverno/kyverno/issues/1340.

[2021-02-16 23:18] realshuting commented on #1540
@megakid Sorry for the late response, can you upgrade to v1.3.3 and try again? We have optimized policy report generation in this version.

[2021-02-16 23:45] yashvardhan-kukreja commented on #1485
@JimBugwadia / @chipzoller / @realshuting  the feature is ready, with backwards compatibility (for preconditions and conditions). I have tested it on my end with a variety of test cases and it worked perfectly.
I have also added some examples in the `Further Comments` section of the PR for your convenience.

Please take a look and let me know how does it look :)
Thanks!

[2021-02-17 00:17] realshuting opened #1612 "[BUG] JSON patches are not applied on resource updates"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.3

**Describe the bug**
With the `reinvocation` set in the webhook configurations, Kyverno specifically checks if the incoming request gets reinvoked by the webhook: https://github.com/kyverno/kyverno/blob/f2b00a1f1e890cdd4d17acad63ef01e5e0227a1d/pkg/engine/mutate/patchesUtils.go#L2

[2021-02-17 03:13] realshuting commented on #1268
I think the issue can be addressed by 1485.

[2021-02-17 03:16] realshuting commented on #1602
We are using [code-gen](https://github.com/kyverno/kyverno/blob/main/scripts/update-codegen.sh) to generate these helpers.

[2021-02-17 06:05] realshuting commented on #1485
For Example D, we need to check `match` and `exclude` does not have conflict: https://github.com/kyverno/kyverno/blob/731474a9a29bd05d94f92f4cad7013b97b110965/pkg/policy/validate.go#L172

[2021-02-17 17:14] chipzoller commented on #1485
Needs to extend to the `nameSpaceSelector` functionality just added in 1.3.2 (cc @NoSkillGirl )

[2021-02-17 18:31] yashvardhan-kukreja commented on #1485
Sure 👍🏼 I'll make sure to update this as well as soon as I begin over adding the functionality for `match/excluse.selector.matchLabels.any/all`

[2021-02-17 18:36] yashvardhan-kukreja commented on #1485
As Jim mentioned here,

I agree that we can track separate issues for adding support for `validate.pattern`, `match/exclude.selector.matchLabels.any/all`, and as you mentioned `namespaceSelector` as well. In my opinion, tracking all of these (sub)features under one PR/issue might make things convoluted for the reviewers as well, as they are individually pretty large to implement (alongside ensurin

[2021-02-17 19:25] realshuting commented on #1602
@yashvardhan-kukreja Do we need this? It seems duplicate. Can you run this script and verify if it's working for you?

[2021-02-17 19:35] yashvardhan-kukreja commented on #1602
@realshuting  Actually, I tried `update-codegen.sh` but it caused some issues and errors around making imports at absolute paths. Also, building via the code-gen requires to download kubernetes/code-generator and seemed kind of inconvenient.

With this PR, (via controller-gen) there will be no pre-requisite like `kubernetes/code-generator` required for the user and for us, we don't need a dedicate

[2021-02-17 19:44] realshuting opened #1615 "Update variable paths when auto generate the controller rules"
Makes sense. I thought we had an issue open for updating variable paths when we auto generate the controller rules but can't seem to find it. This is the closest one: https://github.com/kyverno/kyverno/issues/1464. @realshuting  do we have an existing issue we can add this to, or should we log a new one?

_Originally posted by @JimBugwadia in https://github.com/kyverno/kyverno/discussions/1589#dis

[2021-02-17 19:52] realshuting opened #1616 "Align Helm and direct manifest"
There seem to be quite a lot of differences between these two methods of deployments for Kyverno. For example, the Helm chart has no `args` statement being passed to the container so turning up logging becomes more of a pain. The ConfigMap is named differently. There's no `app=kyverno` label which makes tailing logs more difficult. Etc. Wondering if we should try and keep these two deployment arti

[2021-02-17 20:30] realshuting commented on #1602
You are right, thanks for pointing this out!

Will this also generate the template code `client` `informer` and `lister`? We should consider moving everything to use controller-gen.

[2021-02-17 20:45] yashvardhan-kukreja commented on #1602
aah I missed those ones, my bad. Afaik, I don't think `controller-gen` handles code generation for `client,informer,lister`. But let me research and confirm by tomorrow, if there's a more automatable way to auto-generate code for `client,informer,lister`

[2021-02-17 20:52] yashvardhan-kukreja opened #1617 "make controller-gen should control the controller-gen version to be checked(and installed) as well [Also, a bug of wrong versioning exists]"
**Is your feature request related to a problem? Please describe.**
As of now, `make controller-gen` just checks if the controller-gen on the user-side is present or not and if it doesn't exist, then install controller-gen (0.6.0) and that too crashes because controller-gen 0.6.0 doesn't exist. Kyverno CRDs are synced with 0.4.0.
Now, if I have controller-gen version 0.2.5 (for example), then, `con

[2021-02-17 21:01] megakid commented on #1540
I upgraded to v1.3.3 and still got the same `OOMKilled` exception on our development cluster (~175 pods).

[2021-02-17 21:09] realshuting commented on #1540
Thanks for your feedback!

Can you share more info of:

- What's the output of `kubectl -n kyverno get rcr | wc -l`?
- How many reports do you have `kubectl get polr -A ` ?
- How many policies do you have `kubectl get cpol` ?

Can you uninstall all policies and see if Kyverno can come up successfully?

[2021-02-18 00:32] kacejot commented on #1234
I see three possible ways to resolve it:
- We could leave the things as they are.
    Pros: we keep compatibility with openapi standards without adding specific validation for 3rd-party CRDs. And we don't need to do anything.
    Cons: 3rd-party CRD that violate openAPI will have error on validation.
- We could change logging logic as Shuting proposes.
    Pros/Cons: specific 3rd-party CRD support

[2021-02-18 01:28] JimBugwadia commented on #1262
@chipzoller - with ConfigMap and API Calls support, can we close this?

[2021-02-18 01:48] chipzoller commented on #1262
This goes back to our discussion about what "external" means, and in this case the idea was where external="outside Kubernetes", but sure we can go ahead and close. I suspect this is more aligned with adding JS support in the future.

[2021-02-18 02:47] JimBugwadia opened #1619 "Kyverno policy to restrict which workloads can be used with which service account"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

Service accounts are often used for workload identities in K8s. For example Vault with Kubernetes auth uses a configured service account.

**Describe the ideal solution you'd like**

A policy that limits use of se

[2021-02-18 02:54] JimBugwadia commented on #1590
Yes, its currently possible to restrict some fields via deny rules. However, allowing select fields to be updated is more involved as each fields in `request.object` would need to be compared with the value in `request.oldObject` to determine if it is being changed. Then there is metadata, etc. to take care of.

Seems like a declarative approach would be to allow the user to specify something like

[2021-02-18 05:18] realshuting commented on #1594
We need set operations support - https://github.com/kyverno/kyverno/issues/1367.

[2021-02-18 11:41] megakid commented on #1540
[code]

after deleting the `cpol/flux-multi-tenancy` resource, the pod still gets OOMKilled:

[code]

[2021-02-18 12:19] vyankyGH opened #1620 "Test command should return a status code for failure / success test cases"
**This feature request related to test command**
Returning status code for test cases will help to automate tests in CI.

[2021-02-18 15:40] bartdenotte opened #1621 "[BUG] No variable substitution in ConfigMap context"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.16
* Kyverno version: 1.3.2

**Describe the bug**
Variables (e.g. {{request.object.metadata.namespace}}) arent substituted in the ConfigMap context in a mutating rule

**To Reproduce**
Steps to reproduce the behavior:
1. Create configmap

apiVersion: v1
data:
  ID: project1
kind: Co

[2021-02-18 18:27] realshuting opened #1622 "Integrate Litmus Chaos testing with Kyevrno"

[2021-02-18 21:37] realshuting commented on #1540
Interesting.. Kyverno wouldn't do anything if there's no policy installed.

I'm curious to see [profiling](https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes) data, but in this case, I don't know if this would work as Pod never came up.

Do you have default GOGC (set to 100) in uat cluster?

[2021-02-19 01:54] realshuting opened #1624 "Generate policy fails if trigger resource name exceed 58 characters"
This seems to indefinitely queue subsequent generate requests for the clusterPolicy that is affected.

In the below example, a 58 character namespace `demoteam-demoapp-dev11111111111111111111111111111111123469` was created with 3 generate policies which show `Failed`. Next a short (22 char) length namespace was created with the same 3 generate policies expected. The 'add-ns-rolebinding-groups' pol

[2021-02-19 02:09] realshuting commented on #1535
Closing via https://github.com/kyverno/kyverno/pull/1542.

[2021-02-19 02:09] #1535 closed

[2021-02-19 02:21] realshuting commented on #1492
@MnrGreg I sent a PR to fix the cluster report issue, you can track the generate issue in #1642.

[2021-02-19 02:43] MnrGreg commented on #1492
Noticed that. Thanks!

[2021-02-19 04:53] #1617 closed

[2021-02-19 17:09] #1480 closed

[2021-02-19 17:09] #1492 closed

[2021-02-19 17:30] jsnider-mtu opened #1626 "[BUG] namespaceSelector in match prevents background scanning"
**Software version numbers**
* Kubernetes version:
[code]

* Kyverno version: v1.3.3

**Describe the bug**
An audit action validate policy that uses the namespaceSelector object in its match section will not create or update policy reports.

**To Reproduce**
Before creating the cluster policy, create a namespace with the label: app-namespace: "true" and then create a deployment in that namespace.

[2021-02-19 17:30] JimBugwadia commented on #1234
@kacejot - this sounds good to me. Please proceed.

[2021-02-19 18:00] realshuting commented on #1626
@jsnider-mtu Thanks for reporting the issue.

Can you share the deployment manifest?

[2021-02-19 18:14] realshuting commented on #1492
Here's the test image `ghcr.io/kyverno/kyverno:v1.3.3-7-g6fc34971`.

[2021-02-19 19:48] realshuting commented on #1624
Also see - https://github.com/kyverno/kyverno/issues/1492#issuecomment-778679788

[2021-02-19 20:15] NoSkillGirl opened #1627 "[BUG] Generate policy will fail if triggered resource does not follow DNS naming and exceeds 63 characters"
Resource that follows DNS naming policy will be restricted up to 63 chars, but others resources, for example, configMap, Secret, etc.. character count is not restricted to 63 chars.

When these resource are triggered, generate policy would fail, as we cannot store name in the label value. Label values will exceed the character count and will face same error as https://github.com/kyverno/kyverno/is

[2021-02-19 20:16] NoSkillGirl commented on #1627
cc: @JimBugwadia

[2021-02-20 01:54] realshuting opened #1628 "[BUG] Variables validations are missing at various paths"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.3

**Describe the bug**

Kyverno validates variables in the policy at the admission review, currently the following validations are missing:
- spec.rules.context.apiCall
- spec.rules.context.configMap
- spec.rules.mutate.patchStrategicMerge
- spec.rules.generate

When `background` i

[2021-02-20 07:33] rajdas98 opened #1630 "[Feat] We need to make a parallel pipeline in GitHub workflow."
**Is your feature request related to a problem? Please describe.**
Currently, due to the docker buildx, GitHub pipeline takes around 30 mins
<img width="910" alt="Screenshot 2021-02-20 at 1 18 22 PM" src="https://user-images.githubusercontent.com/20414564/108588259-2a702c00-737e-11eb-8d1c-44cb29ae147f.png">

**Describe the solution you'd like**
This can be solved by making 3 parallel pipeline for

[2021-02-20 07:34] rajdas98 commented on #1630
cc: @realshuting . Feel free to assign this issue to me.

[2021-02-20 16:21] abhishekghiya opened #1632 "Kyverno Prometheus Exporter to Integrate Kyverno with Prometheus"
Hi Team,

Is there nearby plan to provide the Prometheus Exporter for Kyverno or is there some other way to integrate Kyverno with Prometheus

Thanks

[2021-02-20 19:33] JimBugwadia commented on #256
We should think about the use cases for different metric sets. I see at least 2 user stories:
- I am a cluster admin and want to see if policy rules are executing correctly and efficiently. I need to provide these reports for compliance and also report things like how many API requests were blocked.
- I am a cluster admin and want to see violation trends across namespaces.
- I am a workload / name

[2021-02-20 19:34] JimBugwadia commented on #1632
Hi @abhishekghiya - yes, please see: https://github.com/kyverno/kyverno/issues/256 and also https://github.com/fjogeleit/policy-reporter.

[2021-02-20 19:35] JimBugwadia commented on #256
See: https://github.com/fjogeleit/policy-reporter - this may help address some of the use cases mentioned.

[2021-02-20 22:40] JimBugwadia commented on #1632
Closing. We can continue discussions in other issues or at: https://github.com/kyverno/kyverno/discussions

[2021-02-20 22:40] #1632 closed

[2021-02-22 03:02] pandafy commented on #1467
I was able to successfully reproduce this bug but I am not able to debug the cause for it. I will really appreciate some help as what could be suspected to cause this bug. :sweat_smile:  I think I got stuck on this.

[2021-02-22 17:35] yashvardhan-kukreja commented on #1485
@JimBugwadia @realshuting @chipzoller As the above PR is in "under review" state, I just wanted to give a heads up that I am about to start implementing the above "any/all" feature under `validate.pattern`.

[2021-02-22 19:25] realshuting commented on #1630
Thanks @rajdas98 , I was about to bring this issue up - we need to reduce the build time.

Also, I'm thinking to remove the job for `kyverno-cli` - do we really need the image for the CLI?

[2021-02-22 19:43] realshuting commented on #1467
@pandafy - thanks for investigating this. Can you verify how many admission requests Kyverno receives for a DELETE action? I can see there were 2 admission requests from the above log as the `uid` were different.

If Kyverno receives more than one request, there's really no good way to avoid the duplicate log.

[2021-02-22 19:57] rajdas98 commented on #1630
@realshuting This is the PR- https://github.com/kyverno/kyverno/pull/1635

I think we should build `kyverno-cli` because we will know if the kyverno-cli is building properly or not. Right now I have made the pipelines parallel so it doesn't matter if it is there or not.

[2021-02-22 20:00] realshuting commented on #1630
OK, we can keep this job and collect use cases from others.

[2021-02-22 20:08] #1464 closed

[2021-02-22 20:08] #1593 closed

[2021-02-22 20:08] #1628 closed

[2021-02-22 20:20] rajdas98 commented on #1557
@chipzoller Is there any benefits of using scratch image?. In terms of image size, alpine is around 5MB.

[2021-02-22 20:22] rajdas98 commented on #1557
One problem with scratch images, if someone wants to debug the kyverno container by `kubectl exec`, then it is not possible.

[2021-02-22 20:47] JimBugwadia commented on #1557
Can `kubectl debug` help with that?

https://medium.com/icetek/new-in-kubernetes-1-18-kubectl-alpha-debug-2f5243581025

[2021-02-22 21:21] realshuting commented on #1340
Adding Slack conversation - https://kubernetes.slack.com/archives/CLGR9BJU9/p1613477584422100

[2021-02-22 21:38] chipzoller commented on #1557
The benefit of using a scratch image is not only its size but also the minimal attack surface it creates as well as reduced variables (not in the programmatic sense but in the complexity sense). I don't know of the modern development practices with regard to Golang and debugging inside container images, but I've often seen there being a separate Makefile for a debug image which can be created by a

[2021-02-22 22:48] #1630 closed

[2021-02-23 01:26] realshuting commented on #1621
Fixed via #1636:

@bartdenotte You can use the following `context` in your policy, as `{{request.object.metadata.namespace}}` maybe be missing in the first `CREATE` admission request if `namespace` is not defined in the resource manifest.
[code]

[code]

[2021-02-23 02:44] kacejot commented on #1234
After additional research I came up with oneliner solution. I have implemented it and started testing.
I have set up calico over my cluster and its CRD already had OpenAPIv3 schema, so I wasn't able to reproduce this issue anymore. When I tried to recreate old CRD without OpenAPIv3 schema, Kubernetes declined my try saying:
[code]

But anyway, the problem was that Kyverno tried to validate the res

[2021-02-23 03:21] realshuting commented on #256
It would be good to have these metrics https://kubernetes.slack.com/archives/CLGR9BJU9/p1614050069016200?thread_ts=1614025217.009600&cid=CLGR9BJU9 to help tune the memory usage.

[2021-02-23 05:36] JimBugwadia commented on #1234
@kacejot - Calico was one example but seems like we would have this issue anytime a CRD does not have openAPI schema defined, right?

[2021-02-23 06:48] JimBugwadia commented on #674
@RinkiyaKeDad - this is another use case for the image substitution.

[2021-02-23 06:50] realshuting commented on #1234
@kacejot check this comment - https://github.com/kyverno/kyverno/issues/1234#issuecomment-726276476, `HelmRelease` is another CRD that we can use to reproduce the issue.

[2021-02-23 06:52] JimBugwadia commented on #1244
@kacejot - we can add these string manipulation functions as custom JMESPath functions and also add a regex function to match / extract values.

[2021-02-23 06:57] realshuting opened #1637 "Support equality anchor in the mutate policy (including for lists)"
**Is your feature request related to a problem? Please describe.**

I want the mutate policy to add a certain field if a specific tag is specified. Similarly to what we have in the validate policy, the [equality acnhor](https://kyverno.io/docs/writing-policies/validate/#anchors) can be used to check the if condition.

The following policy can be read as: "if `emptyDir` is specified, I want to add

[2021-02-23 08:04] sharavara opened #1638 "[BUG] Issue with Node policy in EKS 1.19"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: AWS EKS 1.19
* Kyverno version: 1.3.3

**Describe the bug**
New node can't join the cluster

**To Reproduce**
Steps to reproduce the behavior:

I create a new AWS EKS cluster with `eksctl` utility. I have a simple configuration with two node groups - `worker` and `ingress`. These are

[2021-02-23 13:23] pandafy commented on #1467
Yes, to me it also looked like that the webhook endpoint is being hit twice. I will try to verify it once again and report back with concrete findings.

[2021-02-23 16:34] #1590 closed

[2021-02-23 20:22] realshuting commented on #1638
@sharavara If you don't deploy Kyverno, can you join the new node to EKS 1.19 cluster?

[2021-02-23 20:35] sharavara commented on #1638
Yes, Nodes successfully join the cluster.

[2021-02-23 20:52] realshuting commented on #1638
One thing you could try is to force the policy to apply to the `UPDATE` request to see if a Node can be joined successfully.
[code]

Can you also share the policies you have installed? `kubectl get cpol`

[2021-02-23 22:10] realshuting opened #1640 "[BUG] Test Assigning"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you ex

[2021-02-23 22:10] glorialearnscoding commented on #1640
/assign

[2021-02-23 22:40] #1640 closed

[2021-02-24 06:56] sharavara commented on #1638
I tried like you suggested:

[code]

After apply I got a validation exception:

[code]

These are my policies

[code]

[2021-02-24 07:12] realshuting commented on #1638
Ah right! You need to set `spec.background=false`:
[code]

[2021-02-24 07:23] sharavara commented on #1638
@realshuting Thanks a lot. This configuration works. My ingress node successfully joined the cluster

[code]

[code]

Role `ingress` (label: `node-role.kubernetes.io/ingress=`) was applied

[code]

[2021-02-24 07:27] realshuting commented on #1638
Great!

[2021-02-24 07:30] #1638 closed

[2021-02-25 00:13] kacejot commented on #1234
cc: @realshuting @JimBugwadia

I have installed Helm Operator (without flux) and wrote some instructions how to do this, because I was encountering lots of difficulties and it should help someone who want to reproduce this issue.

So, I have HelmRelease custom resource much like it is described in [slack thread]( https://kubernetes.slack.com/archives/CLGR9BJU9/p1605207195190800?thread_ts=160519177

[2021-02-25 00:17] chipzoller commented on #1549
Are we resolved on this? Seems like it?

[2021-02-25 00:33] realshuting commented on #1549
Yes, closing.

[2021-02-25 00:33] #1549 closed

[2021-02-25 08:02] h4wkmoon opened #1643 "[BUG] - Generated netpol with more than one port in "ports" list, created in loop"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Openshift version: 4.6
* Kyverno version: 1.3.3

**Describe the bug**
Generated ressources are recreated in loop.

First there

Then, logs are filled with :

Sometimes, their ressource version and label "policy.kyverno.io/gr-name" keep changing, even when no one is trying to mo

[2021-02-25 09:52] h4wkmoon commented on #1643
I managed to narrow the bug down.
I will change the title.

This rule works, as expected:

[code]

and this one is apply in loop:

[code]

[2021-02-25 12:55] vakkur commented on #1544
Adding this issue https://github.com/kubernetes/kubernetes/issues/79739 for someone who wants to understand why this is needed

[2021-02-25 15:42] bartek-lopatka commented on #1465
If this is still up for grabs, I can try to tackle that

[2021-02-26 02:37] realshuting commented on #1340
@nathanwang-comp - this issue should be fixed by #1645, here's the test image `ghcr.io/kyverno/kyverno:v1.3.3-13-g517c60fa`.

I changed the first operation from `replace` to `add`, and added a double quote `""` around `test`; I also changed to use negative index `-1` to append to the end of a list.
[code]

[2021-02-26 02:43] realshuting commented on #1340
@electrical - following up the conversion from Slack, the following policy adds the volume `vault-secret` to the list whether the `volumes` is present or not. Here's the test image `ghcr.io/kyverno/kyverno:v1.3.3-13-g517c60fa`.

[code]

[2021-02-26 02:48] #1624 closed

[2021-02-26 03:13] #1584 closed

[2021-02-26 03:51] #1340 closed

[2021-02-26 03:53] #1621 closed

[2021-02-26 04:52] #1626 closed

[2021-02-26 11:08] kacejot commented on #1585
@chipzoller,
Should we validate resources on DELETE operation? The simplest solution here is to turn off validation on delete.
[code]

[2021-02-26 11:54] chipzoller commented on #1585
It seems like that may be best. @realshuting for her take.

[2021-02-26 15:46] sharavara opened #1647 "[BUG] patchStrategicMerge replace taints instead of merge"
**Software version numbers**
* Kubernetes version: EKS 1.19
* Kyverno version: 1.3.3

**Describe the bug**
This policy doesn't merge the tsints:

[code]

**To Reproduce**
1. Current policies:

[code]

2. This test node does not have any taints:

[code]

Node does not have taints: `Taints:             <none>`

3. Manually add some taint

[code]
One taint: `Taints:             test:NoSchedule`

4. A

[2021-02-26 18:53] #1367 closed

[2021-02-26 20:18] realshuting commented on #1585
@kacejot For the DELETE operation, we should use `request.oldObject` to lookup values. Can we handle this internally in Kyverno?

[2021-02-26 21:12] realshuting commented on #1647
There's [no merge key](https://github.com/kubernetes/api/blob/6c086a5e99d580d4cb60ffda862cb42683818f8f/core/v1/types.go#L4549-L4551) specified on tag `taints`, so `patchStrategicMerge` **replace** the object by default.  Tag `tolerations` shares the same behavior according to [this](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#notes-on-the-strategic-m

[2021-02-27 01:55] realshuting opened #1650 "Validate patchesJson6902"
**Is your feature request related to a problem? Please describe.**

For the following `patchesJson6902` policy, it would be nice if we can report the syntax error when creates the policy: missing quote around value `test`.

[code]

[2021-02-27 02:02] realshuting opened #1651 "Reduce memory usage"
**Is your feature request related to a problem? Please describe.**

From Slack [conversation](https://kubernetes.slack.com/archives/CLGR9BJU9/p1614025217009600), Kyverno takes up to 4GB memory with around 2000 pods. We need to investigate and reduce memory usage.

[2021-02-27 08:02] sharavara commented on #1647
got it. I will wait for a stable release. thank you for support

[2021-02-27 08:02] #1647 closed

[2021-02-27 17:25] wtchangdm opened #1653 "[BUG] null value doesn't work on negation's value"
**Software version numbers**
1.3.3

* Kubernetes version: 1.20.4 (just try to use kyverno on a local k3d cluster)
* Kyverno version: 1.3.3

**Describe the bug**
I was doing some labs through docs and samples and noticed that the negation rule with `null` doesn't seem to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Download [disallow_host_network_port.yaml][1] to local.
2. Change `va

[2021-03-01 07:02] RinkiyaKeDad commented on #1594
@realshuting can you please let me know how I can get the values via `apiCall`?

[2021-03-01 18:58] #1602 closed

[2021-03-01 20:41] electrical commented on #720
I'm seeing this same error happen with mutate policies.

`E0301 20:31:55.218688 1 equal.go:37] EngineMutate "msg"="Failed to resolve variable" "error"="variable request.object.spec.template.metadata.annotations.\"logger.k8s.auth.net/inject\" not resolved at path " "kind"="Deployment" "name"="demo-vault" "namespace"="tests" "policy"="logger-sidecar" "rule"="logger-sidecar" "variable"=null`

Imho th

[2021-03-01 22:39] electrical opened #1657 "[Feature] kyverno apply pipe through to kubectl"
**Is your feature request related to a problem? Please describe.**
When running kyverno apply to mutate a resource you can output it to a file. It's not possible to pipe it directly through to kubectl.

**Describe the solution you'd like**
It would be great to have an output option added for stdout without the additional content.
For example `-o -` or something like that.

**Additional context**

[2021-03-01 22:44] realshuting opened #1658 "[BUG] strategicMergePatch fails with the conditional anchor"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.3

**Describe the bug**
[code]

The following policy fails if I don't have initContainers defined in the pod:

1. apply the policy
[code]

2. create the pod
`kubectl run nginx --image=nginx`

[2021-03-01 23:01] electrical commented on #1616
Wouldn't it be easier to only have the helm deployment? If people really want the raw yaml files they can be generated via helm anyway.
That way you have a single source of truth.

[2021-03-02 04:31] #1485 closed

[2021-03-02 04:33] realshuting commented on #1594
@RinkiyaKeDad Here's an [example](https://kyverno.io/docs/writing-policies/external-data-sources/#variables-from-kubernetes-api-server-calls) of looking up data from API call.

[2021-03-02 07:48] NoSkillGirl opened #1659 "[BUG] Kyverno CLI appended the mutated resource results"
**Describe the bug**
Currently in Kyverno CLI - when a mutate policy is applied on a resource the mutated output can be saved in a file. Applying the same policy multiple times on the same resource appends the mutated result in the same file.

**To Reproduce**
use following command:
`kyverno apply /path/to/policy.yaml --resource /path/to/resource.yaml -o <file_path/directory_path>`

**Expected beh

[2021-03-02 15:02] chipzoller commented on #1616
We still have to have a bare manifest in addition to Helm. This is very standard practice across the ecosystem for a number of reasons.

[2021-03-02 16:13] JimBugwadia commented on #1286
For regex support, we will need to define the list of functions that we want to support.

Here is a list supported by Sprig (a Gotemplate library) that may be a good reference (...not sure if we need all):

https://coveooss.github.io/gotemplate/docs/functions_reference/sprig-regex/

[2021-03-02 16:15] JimBugwadia commented on #1234
@realshuting are you able to reproduce this?

[2021-03-02 16:19] JimBugwadia commented on #1244
From the Golang strings package (https://golang.org/pkg/strings/), these seem like a useful set of functions to start with:
- Compare
- Contains
- EqualFold
- Equals
- HasPrefix
- HasSuffix
- Concat
- Replace
- ReplaceAll
- ToUpper
- ToLower
- Trim
- Split

[2021-03-02 19:49] realshuting commented on #1234
No I cannot reproduce the issue with `HelmRelease`.

We had suppressed the error log in [this](https://github.com/kyverno/kyverno/pull/1255/files#diff-51a43f2d1bdcedd38e4b4b122ed9bda070cdbbc3ce65ed04f87b88f13646b065R69) PR, if I apply [`machinehealthchecks.cluster.x-k8s.io`](https://github.com/kyverno/kyverno/issues/954#issue-645905828), I can see the error in level 4:
[code]

We still need to -

[2021-03-02 21:00] realshuting commented on #1653
@wtchangdm - thanks for report this issue.

Since [hostPort](https://github.com/kubernetes/api/blob/cab531622fafeedfa988c148a4d1a9257d200c6e/core/v1/types.go#L1833) is optional, this key will be dropped during serialization if it has `null` as the value:
[code]

According to the doc "The value of the tag is not evaluated", we can update the policy to `- X(hostPort): "null"`.

[2021-03-03 02:03] wtchangdm commented on #1653
Thanks @realshuting!

[2021-03-03 03:46] snuggie12 opened #1661 "Ability to report on missing resources"
**Is your feature request related to a problem? Please describe.**
Our security team wants the ability to run non-realtime (i.e. not an admission controller,) scheduled reports to see if a namespace is not in compliance with a set of resources existing. It's a way to check the statement "every namespace should have at least one of the following resources." Once one exists regular admission control

[2021-03-03 06:25] realshuting commented on #1268
Close in favor of 1485.

[2021-03-03 06:25] #1268 closed

[2021-03-03 06:29] realshuting commented on #1389
Do we still need this after #1485 ?

[2021-03-03 08:28] snir911 opened #1662 "[BUG]installation is failing due to uid range constraint"
**Software version numbers**
* Kubernetes version:
v1.20.0
* Kyverno version:
v1.3.3

**Describe the bug**
Running on Openshift is failing due to:
` Error creating: pods "kyverno-797bc5c758-" is forbidden: unable to validate against any security context constraint: [spec.initContainers[0].securityContext.runAsUser: Invalid value: 1000: must be in the ranges: [1000800000, 1000809999] spec.container

[2021-03-03 08:44] snir911 commented on #1540
I'm also experiencing OomKilled, also with very few policies (2).
Does this issue is a regression? if it is, in which version should it work?
and how to you set GOGC?

[2021-03-03 13:21] chipzoller commented on #1389
Nope. #1485 supersedes this issue. Close.

[2021-03-03 13:21] #1389 closed

[2021-03-03 18:40] realshuting commented on #1540
@snir911 - you can add GOGC to the env list of the Kyverno container:
[code]

If the pod comes up successfully, can you share [heap and goroutine dumps](https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes)?
[code]

I found a similar issue in [fluxcd]( https://github.com/fluxcd/flux/issues/2633#issuecomment-559467445), where the user has Dex installed along with a massive amount

[2021-03-03 19:22] #1394 closed

[2021-03-03 19:27] #1653 closed

[2021-03-04 04:37] NoSkillGirl opened #1666 "[BUG] Kyverno CLI does not support variable with \""
**Describe the bug**
Kyverno CLI gives json patch error on applying a policy with variable which contains `\"`.

**To Reproduce**
Apply following policy :
[code]
on the following resource :
[code]
in Kyverno CLI using the following command:
`kyverno apply <policy_Path.yaml> -r <resource_path.yaml> --set request.object.spec.template.metadata.annotations.\"vault.k8s.corp.net/inject\"=true`

**Expect

[2021-03-04 06:32] RinkiyaKeDad opened #1668 "[BUG] API call address being interpreted incorrectly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.0
* Kyverno version: 1.3.3

**Describe the bug**
When using `apiCall` and specifying the `urlPath`, kyverno looks up a path different from the one specified.

**To Reproduce**
1. Create policy:
[code]
2. Try creating an ingress:
[code]
3. You'll see this in logs:
[code]

**Expect

[2021-03-04 06:36] RinkiyaKeDad commented on #1594
Blocked due to #1668

[2021-03-04 14:50] bartdenotte opened #1670 "Concurrently process Generation Requests"
**Is your feature request related to a problem? Please describe.**
A use case would be:

Creation of a namespace triggers a Generation request which results in the creation of x additional objects in the k8s API.
When I create 100 namespaces this takes about 10 minutes before all x objects for each namespace are created.

When tailing the generation requests, it seems that these generation request

[2021-03-04 19:15] JimBugwadia commented on #1668
Hi @RinkiyaKeDad this logic is handled in: https://github.com/kyverno/kyverno/blob/f2478921e91eef259bf6774f2a143fe4d46d103c/pkg/engine/apiPath.go.

Can you try adding a unit test case for this situation and propose a fix?

[2021-03-04 20:51] snuggie12 opened #1671 "kyverno test as vs code extension"
**Is your feature request related to a problem? Please describe.**
n/a

**Describe the solution you'd like**
Was reading an article about https://thenewstack.io/bridgecrews-checkov-extension-far-left-automated-security/ and figured it'd be possible to have this for kyverno as well.

Essentially just point the extension at a local or remote location for policies and have the test command run to see

[2021-03-05 00:09] #1620 closed

[2021-03-05 02:16] KnechtionsCoding opened #1672 "[Feature] Pre-Commit Hook for Kyverno"
**Is your feature request related to a problem? Please describe.**
I like to be able to have my CLI tools for the types of files I'm running have a run on commit option to validate and lint.

**Describe the solution you'd like**
I'd like a pre-commit hook that has the ability to run Kyverno in a container with specific files/directories to validate them prior to commit

**Describe alternatives you

[2021-03-05 11:39] NoSkillGirl opened #1674 "Existence anchor should support list of multiple elements"
The existence anchor should support having multiple elements. For each list element in the policy under existence anchor we should ensure its present at least once in the resource list.

more about existence anchor : https://kyverno.io/docs/writing-policies/validate/#anchors

Related issue:
https://github.com/kyverno/kyverno/issues/1643 , https://github.com/kyverno/kyverno/issues/1675

[2021-03-05 11:50] NoSkillGirl opened #1675 "[BUG] Multiple element in the list under data in generate policy"
**Software version numbers**
* Kubernetes version: 1.19
* Kyverno version: 1.3.3

**Describe the bug**
On applying a generate policy with data having multiple elements in the list, this tries to update the generated resource endless time.
This is due to the current logic of pattern match.

**To Reproduce**
check issue - https://github.com/kyverno/kyverno/issues/1643

**Approach to solve the issue*

[2021-03-05 13:19] vyankyGH opened #1676 "[BUG] Write Test cases for match / exclude to use apiGroup and apiVersion"
Cover Test to for match / exclude to use apiGroup and apiVersion in policy

Related issue:
https://github.com/kyverno/kyverno/issues/1218

[2021-03-05 14:26] alaa commented on #1214
Any updates regarding this issue, I am interested in having HA mode enabled for Kyverno.

[2021-03-05 15:25] JimBugwadia commented on #1672
Can the Kyverno CLI be used to achieve this?

[2021-03-05 15:27] JimBugwadia commented on #1671
Kyverno supports a structural CRD and using the VS Code Kubernetes extension shows integrated help and warnings, etc.

Have you tried this out?

[2021-03-05 15:27] KnechtionsCoding commented on #1672
@JimBugwadia Yes! I created a POC in #1673 which allows kyverno validate using the cli to be run on commit/push, for example.

[2021-03-05 17:25] snuggie12 commented on #1671
I think you're referring to if I was editing a Policy? I'm referring to me editing a Deployment and the extension tells me I forgot a label or that I need to have named ports. In other words that I'm in violation of a policy I wrote.

[2021-03-05 18:03] KnechtionsCoding opened #1677 "Support for CRDs in CLI"
**Is your feature request related to a problem? Please describe.**
When trying to write policies and their accompanying tests for CRDs it fails due to a lack of schema.

**Describe the solution you'd like**
Kyverno CLI should support CRDs for writing tests/policies

**Additional context**
Test files:

argo.yaml
[code]

argo-required-labels.yaml
[code]

test.yaml
[code]

[2021-03-05 18:42] realshuting commented on #1214
Hi @alaa, we are working on HA support now, and the plan is to have it in 1.4.

[2021-03-05 18:45] realshuting commented on #1214
@nathanwang-comp

If Kyverno crashes, the deployment will be created without mutation. With the restart, Kyverno does a rolling update, so the deployment will be mutated.

We are working on publishing metrics, track in https://github.com/kyverno/kyverno/issues/256.

[2021-03-05 19:28] #1668 closed

[2021-03-06 06:32] jsnider-mtu opened #1679 "[BUG] Failing to load context if API call path is of the format /apis/GROUP/VERSION/*"
**Software version numbers**

* Kubernetes version: 1.19
* Kyverno version: v1.3.4

**Describe the bug**
[code]
apiVersion is being set to "v1beta1" but should be set to "extensions/v1beta1"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a resource that will be matched by the test policy.
2. Create a test policy with a context like the following:
[code]

**Expected behavior**
Expecte

[2021-03-07 07:50] fjogeleit opened #1681 "[BUG] ClusterPolicyReport not updating after Deleting a Failing Namespace"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.4

**Describe the bug**
A clear and concise description of what the bug is.

I have an active ClusterPolicy who checks a special Label on Namespaces. I have a Failing Namespace listed in the ClusterPolicyReport with a failing status. After deleting this Nam

[2021-03-07 08:03] fjogeleit opened #1682 "[BUG] (Cluster)PolicyReports are not updated when the Kyverno Configuration changes"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.4

**Describe the bug**

Kyverno ships with a set of default rules. By default this rules also validate some system Namespaces in my RKE / Rancher Environment. To exclude this validation I added this Namespaces to the provided Kyverno ConfigMap. Now no new

[2021-03-07 11:42] abhishekghiya opened #1683 "[BUG]: Kyverno policy violation Report still shows the old pod / resources even after deletion"
**Software version numbers**
Kyverno Version : 1.3.0

* Kubernetes version:
1.18

**Describe the bug**
1.) Deploy a pod with violation
2.) Run kubectl describe polr -n=kyverno
3.) Delete the pod with violation
4.) Wait for 15 mins
5.) Run kubectl describe polr -n=kyverno
6.) Report still shows the deleted pod

[2021-03-07 15:46] chipzoller opened #1684 "Add nodeSelector policy"
[code]

[2021-03-07 15:47] chipzoller opened #1685 "Add setting HTTP_PROXY and HTTPS_PROXY to Pod specs."
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

Mutate policy adding `HTTP_PROXY` and `HTTPS_PROXY` env vars to all Pods.

**Describe the ideal solution you'd like**

A clear and concise description of what you want to happen.

**Additional context**

Add any o

[2021-03-07 15:47] chipzoller commented on #1685
/assign

[2021-03-07 15:47] chipzoller commented on #1684
/assign

[2021-03-08 21:27] fjogeleit commented on #1683
With the current version v1.3.4 it removes deleted pods from the PolicyReport when the pod is deleted.

[2021-03-09 13:07] alaa opened #1688 "[BUG] ResourceExhausted: trying to send message larger than max"
**Software version numbers**
* Kubernetes version: v1.18.8-eks-7c9bda
* Kyverno version: 1.3.3

**Describe the bug**
After running kyverno for few days I am seeing multiple error messages regarding resource exhaustion:
Note: I replaced namespaces names with `xxxx`

[code]

[code]

**Additional context**
This is running on EKS or relatively large size cluster with 600 running pods across 40 namespa

[2021-03-09 15:26] mhmohona commented on #1650
Hello @realshuting, can I work on this?

[2021-03-09 16:33] JimBugwadia commented on #674
@kacejot - this is another candidate for regex as well.

[2021-03-09 16:50] jsnider-mtu opened #1689 "Should In and NotIn operators keep count of elements in each set?"
**Software version numbers**
* Kubernetes version: 1.19
* Kyverno version: v1.3.4 (local build with #1680 included)

**Describe the bug**
Not sure if a bug or not. Right now the In and NotIn operators, when using lists in both key and value fields, check that key is a subset of value. Under the hood this means if key[0] is in value, that element in value is considered spoken for and can't be match

[2021-03-09 16:58] jsnider-mtu commented on #1689
[Here](https://github.com/kyverno/kyverno/blob/16a61978c9815b90b420eb69ed6a7a944077c57b/pkg/engine/variables/operator/in.go#L160) is the function in question.

[2021-03-09 20:03] #1666 closed

[2021-03-09 20:45] #1524 closed

[2021-03-09 21:46] adonaicosta opened #1691 "resources limits and requests"
Is it possible to create a policy that restricts the size of requests and limits, for example, limited to less than or equal to 100m of cpu and 1000Mi of memory?

[2021-03-09 22:13] realshuting commented on #1691
@adonaicosta - if you are asking to restrict requests and limits for each container, yes, here's a sample policy to do that:
https://kyverno.io/policies/best-practices/require_pod_requests_limits/

[2021-03-09 22:51] realshuting commented on #1682
@fjogeleit - thanks for reporting the issue.

This is currently not handled in the policy report, we'll address it along with https://github.com/kyverno/kyverno/issues/1577.

[2021-03-10 13:13] laszlocph commented on #674
I'm happy to implement this feature. My alternative would be to write a custom mutating admission controller.

[2021-03-10 15:06] JimBugwadia commented on #674
@laszlocph - we have features in development by @RinkiyaKeDad and @kacejot that may help. Can you please share your use cases so we can determine if anything else is needed?

[2021-03-10 16:16] laszlocph commented on #674
I'm mirroring an environment to a second cluster by pointing flux to the same folder.

I'd like to rewrite the ingress hostnames in this mirrored environment, to bind on a different host
`*.staging.mycompany.com` to `*.mirror.mycompany.com`

[2021-03-10 17:58] #1242 closed

[2021-03-10 18:52] NoSkillGirl opened #1693 "[BUG] Policy without namespace selector gives error - "pass the namespace labels""
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:1.19
* Kyverno version: 1.3.4

**Describe the bug**
I am applying a policy (in Kyverno CLI) which is not have namespace selector filter mentioned in it, on a resource which is created under a namespace. This gives me the following error:

[code]

**To Reproduce**
apply the following po

[2021-03-10 20:00] JimBugwadia commented on #674
Seems like the easiest way to address that would be using a string substitution function (https://github.com/kyverno/kyverno/issues/1244).

The approach we are planning is to add custom JMESPath functions for that (https://github.com/kyverno/go-jmespath#adding-custom-functions).

Thinking about what this could look like:

[code]

So, a few things that are required:

1. #1244 for string substitutio

[2021-03-10 20:41] JimBugwadia commented on #1691
@adonaicosta - you can also use operators (https://kyverno.io/docs/writing-policies/validate/#operators) to provide a range for the resources. Let us know if you have any other questions or need assistance building a policy.

[2021-03-10 22:23] gabemontero commented on #1218
Hey folks, so I saw the activity here and installed v1.3.4 (which has https://github.com/kyverno/kyverno/pull/1656) to try it out.

I've got a couple of "functional" observations.  And then I ultimately could not get the scenario I was trying validate to work.  On that, it is quite possible given this is my initial use of kyverno, I have a simple newbie error.

Preface:  so I'm trying to use [Tekt

[2021-03-10 22:41] realshuting commented on #1218
Hello @gabemontero, I tested your policy locally, it worked for me.
[code]

Can you check if the webhooks exist in your cluster?
[code]

[2021-03-10 22:43] realshuting commented on #1218
I also saw this error in my cluster, @vyankyGH can you please investigate what's the issue here?
[code]

The build info is missing in v1.3.4, the fixes have been sent in https://github.com/kyverno/kyverno/pull/1695.

[2021-03-10 22:48] #1662 closed

[2021-03-11 00:07] JimBugwadia commented on #1218
Regarding:

@realshuting - Kyverno periodically refreshes the CRD list right?

[2021-03-11 00:45] realshuting commented on #1218
Yes, schema validation controller refreshes CRD list. But I don't think it's related to that.

The problem here is when we create informers for matched resources. The PR for this issue changed the logic to use `group/version/kind` to create the informer, previously it used `kind` only. Will need to investigate further.

[2021-03-11 01:42] realshuting commented on #1576
Changed via https://github.com/kyverno/kyverno/pull/1692:
- webhook register
  - ~optimize ReadRootCASecret as it gets the secret from API server every time registers a new webhookCondifuration~
  - remove duplicate logic to cleanup webhook configurations, kyverno and init container, it's better to keep it in the main process as we need to clean up these resources on restart

[2021-03-11 02:52] adonaicosta commented on #1691
it is not so clear, for example, if you want the memory usage not to exceed 2000Mi, I already tried;
resources:
   limits:
     memory: <= 2000 "Mi"

or
resources:
   limits:
     memory: "<= 2000Mi"

or
resources:
   limits:
     memory: "<= 2000" "Mi"

[2021-03-11 03:39] realshuting commented on #1691
@adonaicosta - you can try the following policy, note I have `validationFailureAction` set to `enforce` to block the resource that violates the policy:
[code]

The following pod is blocked:
[code]

[code]

[2021-03-11 04:13] vyankyGH commented on #1218
Checking!

[2021-03-11 16:19] JimBugwadia commented on #674
The `$(.)` syntax may not be the right way as it refers to inline policy values.

We will need some other way to address this using JMESPath. For example, we can evaluate `{{ @ }}` to the value of the current node (https://jmespath.org/proposals/functions.html#current-node):

[code]

[2021-03-11 19:09] #1693 closed

[2021-03-11 19:27] realshuting commented on #1637
The existence anchor should support having multiple elements. For each list element in the policy under existence anchor, we should ensure it's present at least once in the resource list. This logic should be the same with existence anchor for [validate](https://kyverno.io/docs/writing-policies/validate/#anchors) policies.

[2021-03-11 19:30] realshuting commented on #1218
Hi @yuriydzobak, this issue is in Kyverno CLI, and @NoSkillGirl is working on the fix https://github.com/kyverno/kyverno/issues/1677.

[2021-03-11 19:36] gabemontero commented on #1218
Hey @realshuting - thanks for the quick response.  Unfortunately, I've had some work stuff pop up today and I probably won't be able to get back to this today.  Hopefully tomorrow/Friday or Monday, and I'll minimally gather the info you mentioned.

Good to know my `ClusterPolicy` is OK, and most likely it is a install kyverno in my particular cluster sort of thing.

[2021-03-11 21:06] yashvardhan-kukreja commented on #1659
/assign

[2021-03-11 21:06] windowsrefund commented on #1540
I just thought I'd mention the Helm chart does not appear to support passing additional environment variables into the containers.

[2021-03-11 21:29] realshuting commented on #1540
@windowsrefund - thanks for adding your case.

Can you please open a feature request to support this?

For now, have you tried to add the env manually to Kyverno Pod?

[2021-03-11 21:36] przemolb opened #1700 "policy valid or not ?"
* Kubernetes version: 1.18
* Kyverno version: 1.3.4

**Describe the bug**
I am validating policy with `kubectl kyverno validate` command and it says ok but then it cannot be applied due to invalid name:
[code]

**Expected behavior**
It should say that it is invalid policy due to too long name.

[2021-03-11 21:44] realshuting commented on #1700
Hi @przemolb - thanks for reporting the issue. Yes it's a bug in CLI, the name of each rule cannot exceed 63 characters.

[2021-03-12 00:30] #1659 closed

[2021-03-12 00:57] realshuting opened #1702 "Enable leader election for the webhook register"
Design doc - https://docs.google.com/document/d/1zW_UQmY98PdTdJzcdhMkHbJm1zpVklhlUQnMz_15C0s/edit#heading=h.vyj6nn9zynp.

Also needs to enable leader election for the webhook monitor and the certificate renewer.

[2021-03-12 08:20] kacejot commented on #1506
I'm testing my fix right now and I found next test failing.
Here is the policy:
[code]

Resource:
[code]

Validation here fails because I have changed variable/reference substitution logic. Now substitution is done for entire rule at once instead of just pattern/anyPattern/overlay. In this case validation fails even before actually validation process begun, because of substitution failure. Should

[2021-03-12 09:07] kacejot commented on #1506
I left new logic when variable substitution has higher priority. It is mostly like code compilation and we throw compilation error, if var is unbound.

[2021-03-12 17:06] soeirosantos commented on #1416
/assign soeirosantos

[2021-03-12 17:06] soeirosantos commented on #1619
/assign soeirosantos

[2021-03-12 18:58] gitfool commented on #1286
Regexes would be so much better and are essential.

[2021-03-12 19:01] windowsrefund commented on #1540
Just a follow up to mention 1.3.4 is still OOMing even after I manually injected the GOGC=25 environment variable. That said, I never saw that as a real solution but wanted to see the behavior. Just incase the question comes up, I ingested the var into the deployment and then scaled it to 0, then back to 1. Once I saw the same OOMKilled status, I verified GOGC was set in the pod with

`kubectl set

[2021-03-12 21:32] windowsrefund commented on #1540
Actually, to my surprise, the pod has been running for about 2 hours after 17 restarts. I'll report back when I have a better understanding of whether or not GOGC has a hand in this success.

[2021-03-13 00:35] realshuting commented on #1612
I have verified that with [this](https://github.com/kyverno/kyverno/pull/1703) fix, `patchesJson6902` can be successfully applied to the updated resource.

[2021-03-13 13:05] yashvardhan-kukreja commented on #1443
@JimBugwadia @realshuting let's close this issue? (as it has gotten already resolved)

[2021-03-14 18:03] NoSkillGirl opened #1706 "[BUG] Kyverno CLI gives error on applying a policy on a resource"
**Describe the bug**
On applying any policy on a resource kyverno CLI gives error:
[code]

**Expected behavior**
Should either pass or fail.

[2021-03-15 01:32] JimBugwadia opened #1708 "[BUG] failed to generate policies"
**Software version numbers**
* Kyverno: 1.3.4
* Kubernetes version: 1.19

**Describe the bug**

Policy generate fails

**To Reproduce**

Apply this policy:

[code]

Create a namespace. The policy is not generated.

The GR shows failed:

[code]

[code]

**Expected behavior**

The Kyverno policy is generated

[2021-03-15 01:37] JimBugwadia commented on #1670
We currently run a single worker goroutine for both creating `GenerateRequest` objects in the webhook and processing `GenerateRequest` objects from the task queue.

I suggest we make the following changes:
1. Default the number of workers for both to 3
2. Make the number of generate workers configurable

[2021-03-15 16:23] windowsrefund opened #1712 "[Feature] Helm chart should support custom environment variables"
While chasing down https://github.com/kyverno/kyverno/issues/1540, I've needed to inject the GOGC environment variable into my deployment because the Helm chart doesn't support anything.

[2021-03-15 16:35] windowsrefund commented on #1540
It does appear that lowering GOGC from the default of 100 is needed on the particular cluster I'm working with.

[2021-03-15 16:43] wkbentley opened #1713 "Support existence anchor in the mutate policy (including for lists)"
**Software version numbers**

* Kubernetes version: 1.19
* Kyverno version: 1.3.4

**Describe the bug**
PatchStrategicMerge on Deployment will overwrite envFrom array rather than merging onto existing collection.

**To Reproduce**
Using the following policy
[code]
Create the deployment `mycontaininer` that has an existing envFrom collection.  The resulting deployment
will be have the `envFrom` ove

[2021-03-15 17:29] #1612 closed

[2021-03-15 17:31] #1443 closed

[2021-03-15 18:02] realshuting commented on #1713
@wkbentley - thanks for reporting it.

However, this is not a bug in Kyverno. `envFrom` follows default `patchStrategy=replace` ([type description](https://github.com/kubernetes/api/blob/fd88418e43d2da5bce86eeeae341d6477c63e07a/core/v1/types.go#L2252-L2259)), so this field will be replaced rather than merged.

I noticed there's an issue in the given policy: if the policy matches the Deployment, yo

[2021-03-15 19:33] wkbentley commented on #1713
Thanks for the reference but when I read the type description you provided is says // +patchStrategy=merge
Also using opa, I am able to patch using
[code]

Please reconsider.

[2021-03-15 19:40] realshuting commented on #1713
I didn't see there's the `patchStrategy` set for `envFrom`, can you point me to it?
[code]

You can of course add to `envFrom` with path ` "path": "/spec/template/spec/container/0/envFrom/-"` in Kyverno, but this won't work if you do not have `envFrom` specified in the manifest. So I used a negative index `-1` to "add to the end of the list", you can read more at https://github.com/kyverno/kyverno

[2021-03-15 20:20] gabemontero commented on #1218
Hey @realshuting

Was able to circle back to this and I'm still not getting the expected results.  I do have the 2 tekton webhooks and the 2 kyverno validatingwebhookconfigurations you noted previously.

Still using the same install yaml I used last week, I think I may be now seeing an issue I do not recall from last week.  Or it it was there and I missed it.

Looking at the pod logs again, I now

[2021-03-15 20:38] realshuting commented on #1218
@gabemontero thanks for responding back.

I'm also seeing the following error, it dues to Tekton does not have openAPISchema specified for their CRDs, an [example](https://github.com/tektoncd/pipeline/blob/e20d2498cd0b317da01c2171c0122020487f061e/config/300-resource.yaml#L31-L42). However, this should not impact the policy aplication.
[code]

Can you please dump out the log when you create resourc

[2021-03-15 20:50] gabemontero commented on #1218
thanks for the quick response @realshuting

I'm not seeing any `EngineValidate` or `WebhookServer` logs when I create the TaskRun.

I'll attach the entire pod log (it is not that lengthy).
[kyverno-pod-logs.txt](https://github.com/kyverno/kyverno/files/6144339/kyverno-pod-logs.txt)

The webhook listing too for good measure:

[code]

[2021-03-15 20:52] gabemontero commented on #1218
@realshuting in case it helps I do see calls to the kyverno webhooks in the apiserver logs.  A small snippet:

[code]

[2021-03-15 20:56] realshuting commented on #1218
I0315 20:48:50.276888      19 trace.go:205] Trace[185968187]: "Call mutating webhook" configuration:kyverno-resource-mutating-webhook-cfg,webhook:mutate.kyverno.svc,resource:/v1, Resource=configmaps,subresource:,operation:UPDATE,UID:cec4b8b0-89fe-4f00-a029-c64065788e7c (15-Mar-2021 20:48:49.707) (total time: 569ms):
I0315 20:48:51.117653      19 trace.go:205] Trace[727976855]: "Call mutating webho

[2021-03-15 21:16] gabemontero commented on #1218
[code]

[code]
But guess what .... I then went back and tried my scenario, and it now works!!!

[code]

And if I use the right SA:

[code]

I think I *might* know what changed.  Perhaps the `kyverno` namespace is ignored by the webhooks?  I know see it consistently not working with that namespace, but working with other/test namespaces.

Either that, or the namespace needs a label policy somehow "

[2021-03-15 22:29] realshuting commented on #1218
Yes, namespace `kyverno` is ignored by default. And we have these [resource filters](https://kyverno.io/docs/installation/#resource-filters) applied by default.

[2021-03-15 22:34] #1465 closed

[2021-03-16 01:23] realshuting commented on #1691
@adonaicosta - does the above policy work for you? Let me know if you have any other questions that I can help with.

[2021-03-16 12:56] wkbentley commented on #1713
I was looking at the wrong api definition;  envFrom patchStrategy is default.  The Json patch would work but I need to iterate over all containers which I can do using OPA.  I don't see a way to do that using patchesJson6902.

[2021-03-16 13:41] adonaicosta commented on #1691
yes, it's work. thx for your help.
I've created this policy

[code]

[2021-03-16 13:41] #1691 closed

[2021-03-16 15:43] #1679 closed

[2021-03-16 18:31] #1434 closed

[2021-03-16 18:31] #1177 closed

[2021-03-16 18:31] #1261 closed

[2021-03-16 18:40] jsnider-mtu commented on #1689
This PR #1704 did not work for my use case. It is checking that all elements don't exist, so if one element does but all others do not it still returns false when I expect it to return true.

[2021-03-16 18:49] jsnider-mtu commented on #1689
Maybe there should be separate operators for comparing each element vs comparing all elements? Like AllNotIn, OneNotIn, AllIn, OneIn?

[2021-03-16 18:58] gabemontero opened #1717 "expand kyverno's k8s policy management to include k8s rbac validation"
**Is your feature request related to a problem? Please describe.**
"problem" .... that is debatable.

But now that progress has been made with https://github.com/kyverno/kyverno/issues/1218
and with all the great support from the kyverno community, I've been able to (easily) construct
concise yaml to express policy against instances of Tekton CRDs

That said, an element within Tekton, and I would

[2021-03-16 19:09] realshuting commented on #1689
This makes more sense to me. Similarly to [what we have](https://github.com/kyverno/kyverno/issues/1485) in `validate.pattern`, we can support AnyIn, AllIn, AnyNotIn, AllNotIn.

cc @JimBugwadia , @RinkiyaKeDad

[2021-03-16 19:57] #1706 closed

[2021-03-16 19:59] JimBugwadia commented on #1689
I like the idea of having more explicit operators to cover all the cases!

However, I want to make sure I fully understand what is not working as the PR was supposed to address the duplicate use case:

My expactation from the current logic would be:

   aabcd *NotIn* abc = true
   aabcd *In* abc = false
   aabc *In* abc = true
   aabc *NotIn* abc = false

@jsnider-mtu - can you please confirm and

[2021-03-16 20:21] jsnider-mtu commented on #1689
The way #1716 is written matches your expectations. The current logic results in:

aabcd _NotIn_ abc = false
aabcd _In_ abc = false
aabc _In_ abc = true
aabc _NotIn_ abc = false

[2021-03-16 20:59] realshuting commented on #1689
Closed via 1716.

[2021-03-16 20:59] #1689 closed

[2021-03-16 21:11] realshuting commented on #1712
Closed via #1715.

[2021-03-16 21:11] #1712 closed

[2021-03-16 21:35] #1271 closed

[2021-03-16 21:36] realshuting commented on #1565
Closed via #1686.

[2021-03-16 21:36] #1565 closed

[2021-03-17 00:31] realshuting commented on #1713
@wkbentley To iterate over all containers, you can define the following rule, it will add `envFrom` (or replace if already present) to all containers.
[code]

[2021-03-17 00:32] realshuting commented on #1713
Currently there seemed no way to change the default patchStrategy. I'm proposing to use [existence anchor ](https://github.com/kyverno/kyverno/issues/1637#issuecomment-796984360) to ensure each element in the list of a mutate rule must present in the resource. To list all use cases:

With this mutate rule:
[code]
_**Case 1**_ - given the resource that has `envFrom` defined:
[code]
we should conver

[2021-03-17 01:40] realshuting commented on #1437
While deleting Namespace, with these sample [policies](https://github.com/kyverno/kyverno/tree/main/test/best_practices) installed, I cannot produce this issue.

However, I noticed that `request.Namespace` has been set for kind `Namespace`, thus it results in incorrect policy reports (for Namespace kind only). Sending https://github.com/kyverno/kyverno/pull/1718/files to fix it.

[2021-03-17 03:22] JimBugwadia commented on #674
@kacejot - for regex functions, I propose we start with these functions:

- regexMatch
- regexReplaceAll
- regexReplaceAllLiteral

(see https://coveooss.github.io/gotemplate/docs/functions_reference/sprig-regex/).

So, in the example above `regexReplaceAllLiteral` could be used.

Another example would be to use `regexMatch` in a [deny ](https://kyverno.io/docs/writing-policies/validate/#deny-rules

[2021-03-17 11:24] bartdenotte commented on #1670
Sounds like a plan.
Thx

[2021-03-17 11:38] kacejot commented on #1658
@realshuting
PatchStrategicMerge compares the fields one by one, since Nginx does not have an initContainers field - we have a missmatch, which is a valid result. And it is okay that for this reason we cannot apply our policy, which was shown in the error.

[2021-03-17 14:43] kacejot commented on #1658
@realshuting
I see now. It should add structure below if initContainers key does not exist.
[code]
Am I correct?

I mean that expected result would be next
[code]

[2021-03-17 19:17] realshuting commented on #1658
No, the expected behavior is if my init container uses image "index.docker.io/*", this policy should add `imagePullSecrets` for me.

[2021-03-17 21:16] JimBugwadia commented on #1594
Here is policy that works with the latest:

[code]

Let me know if you want me to add to to `kyverno/policies` as a sample.

[2021-03-18 03:19] 1534854467 opened #1720 "[BUG] Too slow for create generate resource"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version: 1.3.1

**Describe the bug**
too slow to create generate resource

**To Reproduce**
Steps to reproduce the behavior:
1. create a clusterpolicy that generate a networkpolicy  when create a Deployment
2. create more than 100 Deployment， 100 generaterequest and networkp

[2021-03-18 06:13] NoSkillGirl commented on #1643
Here is a similar issue reported in slack - https://kubernetes.slack.com/archives/CLGR9BJU9/p1615992258008500

[2021-03-18 07:56] VaskoBozhurski commented on #1409
Hello and +1 on this

I was also surprised a bit when upgrading from 1.2.1 to 1.3.4 that all the reports for a single namespace were consolidated and I had to navigate one big report to find a specific policy/resource I was interested in.

The other issue I've found was that with the new big and consolidated report it was harder to tell in which resources/policies new issues have arisen as the tot

[2021-03-18 10:31] vyankyGH commented on #1683
Closing with https://github.com/kyverno/kyverno/pull/1718

[2021-03-18 10:31] #1683 closed

[2021-03-18 10:31] vyankyGH commented on #1681
closes with https://github.com/kyverno/kyverno/pull/1718

[2021-03-18 10:31] #1681 closed

[2021-03-18 13:54] RinkiyaKeDad commented on #1594
I think the version is just `v1` now instead of `v1beta1`. See [this](https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource). Other than that LGTM.

[2021-03-18 18:32] realshuting commented on #1409
Hello @VaskoBozhurski, there are several ways to view the violations.

With kubectl command, for example, to get failed results for `default` namespace:
[code]

Or you can view the policy reports using [policy reporter](https://github.com/fjogeleit/policy-reporter#policyreporter), thanks to @fjogeleit for building such an amazing tool!

We are also working on the [Prometheus exporter](https://docs

[2021-03-19 01:54] realshuting opened #1722 "Post mutation"
**Is your feature request related to a problem? Please describe.**
This feature request is raised in Kyverno [slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1616017781012800), the use case here is to limit pods per k8s node. This can be achieved by adding a taint on k8s node when the pods' count reaches the threshold: whenever a `pod.spec.nodeName` is set, the rule can check the pod count

[2021-03-19 05:28] realshuting commented on #1467
Closing this issue.

Please feel free to reopen if any change is needed.

[2021-03-19 05:28] #1467 closed

[2021-03-19 05:30] JimBugwadia commented on #1438
@abhishekghiya - not this cannot be controlled on the server side. The log message is in a Kubernetes library which we cannot change.

[2021-03-19 05:30] #1438 closed

[2021-03-19 05:33] JimBugwadia commented on #1234
@kacejot - are you planning on submitting a PR for this?

[2021-03-19 17:39] kacejot commented on #1658
Current status: testing the changes

[2021-03-19 17:40] kacejot commented on #1637
Status: implementing the fix

[2021-03-19 17:40] kacejot commented on #1585
Status: ready for 1.3.5 release

[2021-03-19 17:41] kacejot commented on #1506
Status: issue is fixed, waiting for review and testing

[2021-03-19 17:43] kacejot commented on #1234
@JimBugwadia, not for the current release. I was working on other issues. I think I will apply Shuting's comments on the next release

[2021-03-19 21:43] #1585 closed

[2021-03-19 22:18] #1674 closed

[2021-03-19 22:33] #1720 closed

[2021-03-21 22:17] soeirosantos commented on #1619
@JimBugwadia, I came up with the following policy.
I'd like to get your feedback before I move forward with a PR to https://github.com/kyverno/policies

I did a few tests and this approach seems straightforward to me - not sure if there are any gotchas. Notice that the first rule is optional and in a real-world scenario I'd like to have it in place to prevent that the pod could be created by a con

[2021-03-22 01:42] soeirosantos commented on #1619
I put together this tutorial with an example of how this policy can be used: https://github.com/soeirosantos/community/blob/master/tutorials/restrict-workload-identity-with-kyverno/index.md

[2021-03-22 11:14] konryd opened #1726 "[BUG] Un-install steps guide the reader towards taking down their control plane"
**Software version numbers**
The contents of https://kyverno.io/docs/installation/#uninstall-kyverno-with-yaml-manifest as of 2021-03-22

**Describe the bug**
The docs tell the user to kubectl delete the resources created when installing.
This will skip the {admission,mutating} webhook configuration objects (which are never mentioned in the install.yaml file)
This will, in turn, leave those webhoo

[2021-03-22 19:51] realshuting commented on #1726
@konryd - thanks for reporting the issue.

Did you see the webhook configurations were left in your cluster and did not get removed after you uninstall Kyverno? By default, Kyverno cleans up all webhook configurations during shut down. Can you verify this behavior?

[2021-03-22 19:54] realshuting commented on #1540
@windowsrefund -  I'm trying to identify what exactly causes the issue, as mentioned [above](https://github.com/kyverno/kyverno/issues/1540#issuecomment-789966335), do you have Dex installed by any chance?

[2021-03-22 22:19] realshuting commented on #1234
It seems we already do it - https://github.com/kyverno/kyverno/issues/1218#issuecomment-799734944:
[code]

[2021-03-22 22:19] realshuting commented on #1234
Closing this issue.
Please feel free to reopen if this can be reproduced.

[2021-03-22 22:19] #1234 closed

[2021-03-23 02:13] realshuting commented on #1670
Kyverno has 3 controllers to process a generate policy: generate controller, generateRequest cleanup controller and generateRequest creator.

**_### Tests_**
Scaled up workers for each controller and captured the result as follows:

**_Test 1_** - create 100 namespaces, with a single generate policy (add networkPolicy) installed:
a) - with latest main branch, tag `v1.3.4-38-gbcc19971`, bcc19971eb4

[2021-03-23 09:53] konryd commented on #1726
@realshuting can you describe how the cleanup is implemented? Is it with owner references?

I didn't see this happen myself, I saw the logs & connected the dots: it might have been to long a shot.

[2021-03-23 14:00] windowsrefund commented on #1540
No

[2021-03-23 15:26] #1670 closed

[2021-03-23 17:26] realshuting commented on #1726
@konryd - you are right, the cleanup does not happen when uninstalling the entire manifests. We'll add the cleanup steps to the doc.

Kyverno registered a signal handler for `SIGTERM` and `SIGINT`, it cleans up its resources during shutdown (scale down to 0 replica or delete the running Pod). But in this case, the Deployment was removed, so the shutdown process exited immediately.

[2021-03-23 17:34] #1145 closed

[2021-03-23 17:47] realshuting commented on #1672
Closed via https://github.com/kyverno/pre-commit-hook/pull/1.

[2021-03-23 17:47] #1672 closed

[2021-03-24 09:47] stuh84 opened #1731 "High CPU usage in larger clusters"
Hi there,

I am currently finding the Kyverno is using a large amount of CPU when in a particularly sizeable cluster. The cluster we are running this in is an Openshift cluster with around 60-65 nodes (the variable amount of nodes is due to a cluster autoscaler in effect).

We are finding that in clusters with around 10 or so nodes, CPU usage is quite low: -

![image](https://user-images.githubuse

[2021-03-24 13:01] konryd commented on #1726
I think the existing SIGTERM&SIGINT handlers could get reused if the pods are marked with graceTerminationPeriodSeconds. This will let keep the kyverno instructions simple.

More info here: https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace

[2021-03-24 18:06] stuh84 commented on #1731
@realshuting thank you!

To clarify, this is without any policies applied as of yet, so I guess this is just simply due to how many resources are being evaluated, even without any policies to apply?

I'll look at what else we can ignore. Related to this, is it possible to use a wildcard within a resource filter?

For example, we never want to apply any admission control to anything within an `open

[2021-03-24 18:09] realshuting commented on #1726
@konryd - thanks for the reference. This is the current logic we have in Kyverno.

I checked the uninstall process again, and Kyverno did try to clean up the webhook configurations but failed, see logs:
[code]

This was because the RBAC resources were deleted before the Deployment was deleted, thus it did not have the permission to clean up these resources. If I only delete the Deployment, I can s

[2021-03-24 18:25] realshuting commented on #1731
Yes, the policy application (engine) costs most CPUs / memory. However, Kyverno is configured to accept admission requests for **ALL** kinds of resources, so the `resourceFilters` here helps return the admission response immediately if the resource can be ignored (we don't need to wait till the engine finds out the resource does not match). This could potentially save some CPUs.

And yes, we suppo

[2021-03-24 18:27] stuh84 commented on #1731
Wonderful, thank you. I'll give it a go and let you know the outcome!

[2021-03-25 01:41] realshuting commented on #1277
#1730 adds the flag `--background-scan` to configure the interval. This interval cannot be configured dynamically because it is used to initialize the background controller. Therefore, restart is required when changing the interval.

[2021-03-25 08:13] stuh84 commented on #1731
Okay, so I have tried two different approaches today: -

[code]

This made little to no impact on CPU usage. I am still seeing 3 vCPU worth of usage, which is exactly where the limits are set.

I also tried, just to see if it was an issue with the wildcarding: -

[code]

This also didn't make a difference. Is it worth me trying to enable debug logging to see if there is anything causing this, or i

[2021-03-25 10:52] stuh84 commented on #1731
After some further investigation, I have now found the following resources being filtered makes a huge difference: -

|Resource being  filtered|CPU saved (in millicores)|Notes|
|----------|---------------------------|-|
|ClusterServiceVersion|2000||
|Operator|1000||
|ServerStatusRequest|200||
|SecurityContextConstraints|200||
|ServiceCatalogControllerManager|200||
|ServiceCatalogAPIServer|200-1000

[2021-03-25 16:17] therc commented on #1189
Is this only for validation? Imagine this use case:

 * there are ten priority classes, A, B, ..., K
 * every time a new pod is created, its priority class is derived from the number of existing pods in the namespace. If you use  powers of two, you'd get pods with priorities A,B,B,C,C,C,C,D,D,D,D,D,D,D,D,E...
 * ideally, you'd only count pending/running pods in the above step, but at first any sta

[2021-03-25 16:55] NoSkillGirl commented on #1469
Related issue - https://github.com/kyverno/kyverno/issues/1624
Related PR - https://github.com/kyverno/kyverno/pull/1631 - in this PR the consolidated fields was separated.

The labels which was consolidated using "-" are separated/removed. Currently in v1.3.4 I am not facing any issue related to label delimiter "-", so closing this.

[2021-03-25 16:55] #1469 closed

[2021-03-25 17:29] realshuting commented on #1731
Nice to see it does help reduce the CPU usage!

Instead of specifying a long exclude list, we can add a different filter, to defined the matched list. For example, `matchedResource=[Pod,*,*][Deployment,*,*]` will only process Pods and Deployments.

If this helps, I can create a separate issue to add `matchedList`.

cc @JimBugwadia

[2021-03-25 17:33] stuh84 commented on #1731
Something like that would be really useful, definitely.

Thanks again @realshuting - with the current list, we're more than able to roll this into production. The ability to be more specific about what we want to effect on would be a great enhancement for us in future

[2021-03-25 17:58] realshuting opened #1732 "Add matchedList to configure the matched resources in Kyverno"
**Is your feature request related to a problem? Please describe.**
With Kyverno v1.3.4, it is a pain to specify a long list in `resourcesFilters`. For example, there could be [numerous resources](https://github.com/kyverno/kyverno/issues/1731#issuecomment-806453942) to be excluded in a larger cluster, or you have to add to this list if new resources are created in the cluster.

**Describe the solu

[2021-03-25 17:59] realshuting commented on #1731
Logged https://github.com/kyverno/kyverno/issues/1732 to add matchedList.

[2021-03-25 17:59] #1731 closed

[2021-03-25 18:53] realshuting commented on #1732
After the discussion with @JimBugwadia, it's better to build the math list internally from the existing policies.

[2021-03-25 19:18] y-taka-23 opened #1733 "Allow generatecontroller to handle Roles"
**Is your feature request related to a problem? Please describe.**
I found that in the following manifests, `generatecontroller` don't have permission for `Role` handling. It defines permission for `ClusterRoleBinding`, `ClusterRole` and `RoleBinding`, thus in a natural use-case, it should also contain permission for `Role`.
* https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/c

[2021-03-25 19:28] #1277 closed

[2021-03-25 19:28] #1577 closed

[2021-03-25 19:28] #1682 closed

[2021-03-25 19:59] realshuting opened #1734 "Should `match.resources.kinds` be required?"
**Is your feature request related to a problem? Please describe.**
With Kyverno v1.3.4, `match.resources.kinds` is optional while `match.resources` is required:
https://github.com/kyverno/kyverno/blob/592394df026138081a0516104e3753a71b568728/pkg/api/kyverno/v1/policy_types.go#L258-L259
https://github.com/kyverno/kyverno/blob/592394df026138081a0516104e3753a71b568728/pkg/api/kyverno/v1/policy_types.

[2021-03-25 20:06] realshuting commented on #1733
@y-taka-23 - that'd be great!

You can add to ClusterRole `kyverno:generatecontroller` and then run `make kustomize-crd` to sync the changes to all manifests.
https://github.com/kyverno/kyverno/blob/592394df026138081a0516104e3753a71b568728/definitions/k8s-resource/clusterroles.yaml#L145-L170

For Helm, you need to add it separately to this file:
https://github.com/kyverno/kyverno/blob/fd9acf21a7ae

[2021-03-25 21:14] realshuting commented on #1726
Re-ordering manifests didn't solve the issue, as the RBAC resources were deleted immediately while it took longer to terminate gracefully.

[2021-03-26 00:04] #1675 closed

[2021-03-26 00:05] realshuting commented on #1643
Closed via #1727.

[2021-03-26 00:05] #1643 closed

[2021-03-26 13:45] vyankyGH commented on #1356
closing this with https://github.com/kyverno/kyverno/pull/1656

[2021-03-26 13:45] #1356 closed

[2021-03-26 17:51] JimBugwadia opened #1737 "[BUG] forceMutate does not handle mutate.patchStrategicMerge and mutate.patchesJson6902."
**Software version numbers**

1.3.4

**Describe the bug**

The `forceMutate` method is used to validate mutate logic, and in some tests. It currently does not handle mutate.patchStrategicMerge and mutate.patchesJson6902.

**Expected behavior**

Cover all mutate flows.

**Additional context**

https://github.com/kyverno/kyverno/pull/1714#discussion_r601956314

[2021-03-26 18:03] #1657 closed

[2021-03-26 18:03] #1615 closed

[2021-03-26 21:53] #1506 closed

[2021-03-27 10:47] RinkiyaKeDad commented on #1594
Closed by kyverno/policies#28

[2021-03-27 10:47] #1594 closed

[2021-03-27 14:03] chipzoller commented on #1734
Supporting a wildcard (`*`) for `match.resources.kinds` seems like a good idea if users only want to work with metadata. So making it required but supporting either explicit kinds of `*` seems like a good approach. Curious to know other perspectives and what alternatives might be.

[2021-03-27 14:29] y-taka-23 commented on #1733
@realshuting Thanks for the information: I sent a PR.

Actually, when I did the `make kustomize-crd`,

* The terrible number of changing lines (7k+) is reported, from line-wrapping in CRD descriptions. My kustomize is v4.0.5.
* Only `definitions/install.yaml` and `definitions/install_debug.yaml` are generated.

So my PR is by hand now. Does it matter?

[2021-03-27 16:18] treydock opened #1740 "[BUG] Possible race condition with kube-controller-manager endpoint updates and Kyverno"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.7
* Kyverno version: 1.3.4

**Describe the bug**
I believe there is a race condition when the Kyverno webhooks are added before the kube-controller-manager has updated the Kyverno service endpoint to be available which causes webhook queries to timeout which causes kube-controlle

[2021-03-27 16:58] realshuting commented on #1733
No that's fine, it could deu to different Kustomize versions.

[2021-03-27 20:29] JimBugwadia commented on #1733
@y-taka-23 @realshuting - from a security perspective its not a good idea to add these permissions by default.

The approach followed was to follow the "least privileged principle" and allow users to add permissions for cluster wide resource as they need

Having permissions to create cluster wider resources such as roles and role bindings by default increases the risk profile and that can be lever

[2021-03-27 21:07] JimBugwadia commented on #1717
Hi @gabemontero this is very interesting to me, and I would like to explore use cases and potential solutions.

I am also interested in exploring ways of allowing application level permissions expressed and evaluated using Kyverno, using a Kubernetes native approach.

Would you like to add a topic to discuss this in an upcoming community meeting? Or, we can schedule a separate session.

[2021-03-29 03:31] soeirosantos commented on #1619
/close

[2021-03-29 14:55] windowsrefund commented on #1540
Revisiting this after I thought I had it solved. At this time, I can say the following:

- Using image v.1.3.4
- Init container completes
- Kyverno container terminates with OOMKilled
- Deployment sets memory request and limit to 512Mi and set environment variable GOGC=25

I don't believe the k8s cluster is short on memory as the init container completes using a request of 512M

I have no cpol, rc

[2021-03-29 15:49] gabemontero commented on #1717
Hey @JimBugwadia

I'm fine with either the upcoming community meeting or something separate.  If I read the community meeting doc right, the next community meeting is somewhere around April 16/17/18 ... does that sound right?  I don't see an agenda for that time frame up yet, but can monitor and add as the meeting approaches, or of course defer to you to add it.

And I can present a couple of thin

[2021-03-29 17:53] #1619 closed

[2021-03-29 19:13] #1677 closed

[2021-03-29 19:52] realshuting commented on #1734
I should've explained it in the description.

The reason for this change is that we can build an internal cache of the matched kinds for a fast lookup during admission review. In [this](https://github.com/kyverno/kyverno/issues/1731) issue, the user had to specify a long exclude list to reduce CPU usage, which was a pain.  I came up with a solution to add the [matched list]( https://github.com/kyv

[2021-03-30 01:02] realshuting commented on #1540
Is this a fresh install? I don't think the init container would take this much memory.

One thing worth verifying is to configure the [default exclude list](https://kyverno.io/docs/installation/#resource-filters) - you can add to this list to ignore certain types of resources. In [this](https://github.com/kyverno/kyverno/issues/1731) issue, we found that it could cost higher CPU usage in a larger

[2021-03-30 02:30] abhishekghiya opened #1743 "Kyverno is not reporting the violations in background scanning for few policies"
Kyverno Version : 1.3.0-rc8

Kubernetes version: 1.8

Kyverno is not reporting the violations in background scanning for the few policies with exclude Tag as below:

[code]

[2021-03-30 03:18] windowsrefund commented on #1540
It doesn't. As i mentioned, the pod has both memory request and limit set to 512M.  It's the kyverno container that's OOMing despite there being no cpols installed.

[2021-03-30 05:49] realshuting commented on #1733
I'll log a separate issue to investigate further.

[2021-03-30 05:49] #1733 closed

[2021-03-30 16:14] JimBugwadia opened #1745 "Support looping over sub-elements using `foreach`"
**Is your feature request related to a problem? Please describe.**

Several Kubernetes resources contain lists of sub-elements. For example pods contain lists of containers, init-containers, and volumes. Kyverno policy rules that require looping over these lists and performing conditional checks, or lookups, or updates, are not easy to write.

**Describe the solution you'd like**

Add support for

[2021-03-30 16:28] realshuting commented on #1743
@abhishekghiya - can you upgrade Kyverno to v1.3.5-rc1 and test it on a 1.16+ k8s cluster?

[2021-03-30 18:26] realshuting opened #1746 "Investigate default permissions for generate controller"
@y-taka-23 @realshuting - from a security perspective it may not be a good idea to add cluster wide permissions by default (separate from this PR).

The initial intent was to follow the "least privileged principle" and allow users to add the permissions for cluster wide resource as they need

Having permissions to create cluster wider resources such as roles and role bindings by default increases

[2021-03-30 20:42] realshuting opened #1747 "Leverage livenessProbe to check webhook status"
**Is your feature request related to a problem? Please describe.**
With Kyverno v1.3.5, the webhook configurations are created after the Kyverno pod is running and ready, this is expected behavior (see https://github.com/kyverno/kyverno/issues/1740). And Kyverno has a webhook [monitor](https://github.com/kyverno/kyverno/blob/e2cb30e752bc3937aa7a6b182cc08e0b8581601e/pkg/webhookconfig/monitor.go#L11

[2021-03-30 20:46] #1740 closed

[2021-03-30 20:52] realshuting commented on #1540
Does this help?

[2021-03-30 20:57] realshuting commented on #720
Logging out the error message instead of blocking / rejecting requests seems reasonable to me.

Is there anything that needs to be changed for these scenarios?

[2021-03-30 21:01] realshuting commented on #596
This issue can be addressed along with https://github.com/kyverno/kyverno/issues/1446, closing.

[2021-03-30 21:01] #596 closed

[2021-03-31 01:05] MnrGreg opened #1749 "[BUG] fatal error: concurrent map read and map write"
* Kubernetes version: 1.19.1
* Kyverno version: 1.3.5-rc1

**Describe the bug**
Seeing several instances of Kyverno crashing since using 1.3.5-rc1 with --gen-workers=15

Error messages include:
_fatal error: concurrent map writes
fatal error: concurrent map read and map write_

Examples:
[code]

[code]

[2021-03-31 01:08] realshuting commented on #1170
With Kyverno v1.3.5-rc1, the context can be loaded successfully:
[code]

But the problem here, as Chip stated, is that map comparison is not supported in operator `NotIn`:
[code]

Should we add support for maps?

[2021-03-31 03:56] MnrGreg commented on #1749
Struggling to reproduce. Not too sure what the trigger is.

Going back through the log history, the same events started on other clusters when moving from v1.3.4 to v1.3.4-44-gc08843ef.

There does not seem to be any pattern to the timings, nor are there any warning or error events prior to the fatal events.
[code]

Kyverno is running on two clusters with v1.3.4-44-gc08843ef and one with v1.3.5-rc

[2021-03-31 11:01] VaskoBozhurski commented on #1409
Hello @realshuting ,

Thank you for the reply and the suggestions. They would work for the case of viewing the violations, though we are currently trying to integrate the kyverno results into a tool we are developing and I think the solutions further highlight the complexity of using the tool for the whole namespace report.

This would mean that any sort of tooling that is parsing the results will

[2021-03-31 12:35] abhishekghiya commented on #1743
Thanks @realshuting for looking into the issue.

I tried with Kyverno verison v1.3.5-rc1 but still can see the violations are not getting reported after background scan.

[2021-03-31 13:08] abhishekghiya opened #1750 "Filtering out namespaces dynamically"
Hi Team,

We have a requirement where we need to exclude / filter out few namespaces for Kyverno policy violations at runtime. One way we thought was to modify the kyverno config map for resource filtering dynamically but that is a bit complex as it involves 	RBAC/ Service Account if done from some other namespaces and require to write some job to do that.
Is there any better solution ?

Thanks an

[2021-03-31 15:57] #1726 closed

[2021-03-31 16:09] stone-z opened #1751 "[BUG] can't apply ClusterPolicy with helm with kyverno variables"
**Software version numbers**

* Kubernetes version: 1.19
* Kyverno version: 1.3.4

**Describe the bug**

This might not be a bug per se, but I wanted to know if you'd seen this and what your thoughts are on getting around it.

I'd like to apply a `ClusterPolicy` using Helm. However, Helm tries to template the values between `{{ ... }}`, so a policy which (for example) uses the `request` in a conte

[2021-03-31 17:05] realshuting commented on #1749
@MnrGreg - I think I navigated to the specific method that caused the issue, and it related to fetch the data from the configMap. I want to confirm that do you have a generate policy which has `spec.rules.context.configMap` defined? If so, can you share the policy manifest?

[2021-03-31 19:12] fjogeleit opened #1752 "[BUG] Audit Validation not working with exclude filter"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kyverno version: 1.3.5-rc1

**Describe the bug**
A clear and concise description of what the bug is.

If I create a Validation-Policy with an exclude filter in audit mode and background validation, it only works for new resources but not for existing ones.

Example Policy:

[co

[2021-03-31 19:29] realshuting commented on #1750
Hello @abhishekghiya, the Configmap is used in such a scenario to configure the exclude list **dynamically**.  An alternative is to modify each policy and set the `exclude` field explicitly.

[Here](https://github.com/kyverno/kyverno/discussions/1649) is a related discussion about "Sourcing excluded Namespaces from a ConfigMap".

[2021-03-31 19:45] realshuting commented on #1747
Closed via @treydock's PR #1748.

[2021-03-31 20:21] MnrGreg commented on #1749
@realshuting yes we use the ConfigMap as a lookup table for a RoleBinding generate rule:

[code]

[2021-03-31 20:32] realshuting commented on #1749
This confirmed my suspicion, I'm digging into that code, will post back once I find something.

[2021-03-31 20:48] JimBugwadia opened #1753 "Support new policy report CRD"
**Is your feature request related to a problem? Please describe.**

The Policy WG CRD has evolved and new version will be published. See:

https://htmlpreview.github.io/?https://github.com/kubernetes-sigs/wg-policy-prototypes/blob/master/policy-report/docs/index.html

**Describe the solution you'd like**

Plan support for the updated CRD.

[2021-03-31 21:01] JimBugwadia commented on #1751
There was prior discussion of this issue on the #kyverno slack channel:

https://kubernetes.slack.com/archives/CLGR9BJU9/p1614699123117000

Here is a linked discussion: https://github.com/helm/helm/issues/2798#issuecomment-640812866

[2021-03-31 21:47] realshuting opened #1754 "[BUG] Invalid variable validation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.5-rc1

**Describe the bug**
When installing the following policy to the cluster, it blocks the creation and says `request.object.metadata.name` is not allowed:
[code]

[code]

I have fixed some validation issues in these commits 4d01f767977aceb53acdb131d2cc6a8be987d92e, b0cee601005d

[2021-03-31 22:37] realshuting commented on #1749
I can't seem to reproduce the issue with a similar generate policy, but I do feel this could due to the configmap lookup operates on the same object instead of making a copy for further processing.

I sent the fix in this PR #1755 and generated a test image `ghcr.io/kyverno/kyverno:v1.3.4-dev-39-gd650d2b6`. @MnrGreg - can you please help test the fix? In the meantime, I'll keep trying to reproduce

[2021-04-01 00:08] MnrGreg commented on #1749
Thanks. Will let you know how it goes. Is this based off the 1.3.4 release ver? I noticed the gen-workers functionality is no longer there.

[2021-04-01 00:10] realshuting commented on #1749
Ops, my bad. This is correct image `ghcr.io/kyverno/kyverno:v1.3.5-rc1-dev-9-gcab81ead`.

[2021-04-01 03:52] soeirosantos opened #1757 "[BUG] {{images.containers.*.registry}} fails if registry is not present"
**Software version numbers**
* Kubernetes version: v1.20.2
* Kyverno version: v1.3.5-rc1

**Describe the bug**
Using `{{images.containers.<container-name>.registry}}` fails if the container image doesn't have an explicit registry specified.

**To Reproduce**
(to reproduce the behavior I'll use the same steps [as described here](https://github.com/kyverno/policies/pull/31) for convenience but it ca

[2021-04-01 05:02] realshuting commented on #1757
@soeirosantos - can you share the value of this list `{{ saMap.data.\"{{ request.object.spec.serviceAccountName }}\" }}`?

Currently if the image does not specify registry, `{{images.containers.*.reigstry}}` will return an empty list, thus the operation `[0]` fails. You could add another deny rule to block the request if registry `Equals` to `""` (or check the length of this list and deny if it eq

[2021-04-01 05:02] #1743 closed

[2021-04-01 05:02] #1752 closed

[2021-04-01 05:15] JimBugwadia commented on #1757
@realshuting - an option we can consider is whether we default an empty registry to `docker.io` and an empty  tag to `latest` when building the `images` context entry. This will make it easier to write policies rules that check these values, as dealing with empty values will not require special case handling.

[2021-04-01 09:11] ccpp-apriorit commented on #1754
I have started the research

[2021-04-01 09:21] kacejot commented on #1754
I have started researching the reason

[2021-04-01 12:57] sosoriov opened #1759 "Kyverno-pre container takes hours to complete"
Hi all!

I'm having some issues using Kyverno in my cluster. If for some reason the kyverno pod is re-created it takes hours to the init container to finish.

If I check the logs, I see a lot of messages like this.

[code]

and if I check the ***ReportChangeRequest*** in the cluster , there are more than **20.000** items in the list, Is there a reason for that? is this the expected behaviour?

I'm

[2021-04-01 12:59] abhishekghiya commented on #1750
Thanks @realshuting for the reference.

Is there way to exclude the namespaces that are added dynamically using the approach of "Api based exclusion" as mentioned in section "URL paths"  on this article : https://kyverno.io/docs/writing-policies/external-data-sources/  ?

[2021-04-01 13:20] soeirosantos commented on #1757
@realshuting, this is the value of that list:  `"[\"google/cloud-sdk\"]"`.

Adding another rule to check is something that I think would work. One thing I noticed is that every time I use the `images.containers.<>.registry` context and there is no registry set in the container, the policy will present an odd behavior - so, I'm not sure if using this to check if the registry is not empty would help

[2021-04-01 13:35] chipzoller commented on #1757
It makes sense that the `registry` value should adopt a default when one cannot be stripped from the value. In the case above, the default `registry` value of the `image` key could be `docker.io`. Same thing with tag. In the previous case, no tag defaults to `latest` (obviously `nginx:latest` still results in `tag` being set to `latest`).

[2021-04-01 14:40] fjogeleit opened #1760 "Support for PolicyResultSeverity via Policy Annotation"
**Is your feature request related to a problem? Please describe.**

[Policy Reporter](https://github.com/fjogeleit/policy-reporter) supports an optional feature to map Policy Names to Priorities for the different Targets. Error as highest and default priority. Warning, Information and Debug. To make this also configurable with kyverno I would like to support **Severity** in Kyverno's PolicyReport

[2021-04-01 16:26] realshuting commented on #1757
Yes, I agree, we can follow the same behavior as k8s.

[2021-04-01 20:08] realshuting commented on #1708
The policy definition is incorrect, it is missing `spec` under `data`. The following policy works for me:
[code]

[2021-04-01 20:11] #1708 closed

[2021-04-01 20:40] #1757 closed

[2021-04-01 20:41] realshuting commented on #1749
Reopen the issue to track whether the fix solves the problem.

[2021-04-01 23:38] realshuting commented on #1750
Yes it should be possible. You can define the allowed/excluded namespaces in configMap and look up this list dynamically when applying a policy. I can help write an example policy if this fits your use case. Otherwise I would love to learn more about your use case and see if I can propose a solution to that.

[2021-04-01 23:45] realshuting commented on #1759
Hi @sosoriov, the `ReportChangeRequest` is used to generate policy reports, and they should be cleaned up once they are merged into reports.

Ideally you should not see any `ReportChangeRequest` left on the cluster. Did you encounter any failure when installing Kyverno?  It would good if you can share steps to reproduce.

Link to a similar [conversation](https://kubernetes.slack.com/archives/CLGR9

[2021-04-02 00:01] realshuting commented on #1760
I really like the idea! Currently, we have `severity` defined in each result of policy reports, but it is never set:
https://github.com/kyverno/kyverno/blob/a1d9cdd14b255b4bf60a2e787d5e5d40dee4c92e/pkg/api/policyreport/v1alpha1/policyreport_types.go#L67-L72

It would be nice to have a way to sort/filter policy results based on severity, either with policy reporter or kubectl.

[2021-04-02 01:00] MnrGreg commented on #1749
No new fatal occurrences so far with `v1.3.5-rc1-dev-9-gcab81ead`. Still running `v1.3.5-rc1` on two other clusters and those have logged more fatals. Will keep monitoring.

[2021-04-02 01:17] realshuting commented on #1749
Great! We also published `v1.3.5-rc2` with this fix.

[2021-04-02 01:50] chipzoller commented on #1750
It sounds like this may be another reason for defining Namespaces in a ConfigMap and using that reference in an `exclude` statement.

[2021-04-02 03:25] realshuting commented on #1750
I'm thinking more of using this in `preconditions` rather than `exclude`, it adds flexibility with the support of different operators and even JMESPath.

[2021-04-02 10:42] sosoriov commented on #1759
Hi @realshuting , thanks for your reply.

No, no errors at all. Actually, Kyverno starts running fine in the cluster and after few days it just crash and never comes back. And then if I try to re-create the pod i get this issue.

[2021-04-02 11:36] kacejot commented on #1754
@realshuting
The problem is inside `pkg/engine/variables/vars.go`, in which `ctx.Query` is called, in which no JMESPath resolution occurs, which can be seen in the following debug output:

[code]

The current issue is trying to replace JMESPath with a context that does not have a resolution path, and it seems that we have not yet created the expected configmap resource.
I need more information abo

[2021-04-02 12:22] chipzoller commented on #1750
I think we need to hear more about this use case and what the requirements are.

[2021-04-02 12:50] chipzoller commented on #1170
If maps aren't supported, I don't see how this policy or similar others can be effectively (and simply) written. Just my ¢2.

[2021-04-02 13:48] JimBugwadia commented on #1760
We need to clarify if "error" maps to a severity or reports a policy engine execution error.

[2021-04-02 13:53] fjogeleit commented on #1760
Do you mean the "error" from my description? This is related to the targets of Policy Reporter like Loki (https://grafana.com/docs/grafana/latest/packages_api/data/loglevel/). It has nothing todo with Kyverno so far but maybe the naming is a bit confusing. Maybe "critical" maps better.

[2021-04-02 14:30] fjogeleit commented on #1760
I change the behavior in the next release so a failed policy is mapped t o "critical" and a error status is mapped to "error". o it's a clear difference between an execution error and a failed policy

[2021-04-02 15:23] JimBugwadia commented on #1754
@kacejot - why is the policy validation failing when a user tries to add this policy?

I believe the validation check was allowing "request.*" and other built-in variables.

[2021-04-02 18:06] realshuting commented on #1759
Do we have any traces of why Kyverno crashed? I believe this is why those `ReportChangeRequests` were not cleaned up by Kvyerno. The init container is designed to recover from this state but seems it takes time to clean up tons of resources.

One way to recover quickly is to delete Kyverno CRDs and re-install. You can grep Kyverno CRDs and use `kubectl delete` to remove them.
[code]

If you are in

[2021-04-02 18:19] realshuting commented on #1754
If you look at the error message, it says "variable `request.object.metadata.name` not resolved at path /all/0/key", so nothing relates to configmap.

During the policy creation/update, the validation here tries to check whether the defined variables **can** be resolved or not in the background processing, the resolved value does not matter in this case. For example, `serviceAccountName` cannot be

[2021-04-02 18:22] #1746 closed

[2021-04-02 22:38] realshuting commented on #805
@shravanshetty1 - I cannot seem to reproduce the issue, can you please elaborate on this?

[2021-04-02 22:40] realshuting commented on #720
Closing the issue.

Please feel free to reopen if any change is needed.

[2021-04-02 22:40] #720 closed

[2021-04-03 03:13] shravanshetty1 commented on #805
Some helpful links -
https://github.com/kyverno/kyverno/blob/main/pkg/api/kyverno/v1/utils.go#L89
https://stackoverflow.com/questions/37851500/how-to-copy-an-interface-value-in-go
https://github.com/kubernetes-sigs/kubebuilder/issues/528

[2021-04-03 03:16] realshuting commented on #805
Thanks for sharing, I'll look into it!

[2021-04-03 07:40] fjogeleit commented on #1751
I had similar problems in my Helm Charts for Grafana Dashboards. I solved it by "escape" the breakets like this:

[code]

Maybe this also works for kyverno Charts

[2021-04-03 14:47] DanTulovsky opened #1764 "[BUG] Failure to generate secret"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version (kind):
[code]

[code]

* Kyverno version: ghcr.io/kyverno/kyvernopre:v1.3.4

**Describe the bug**
I am testing out Kyverno and trying to setup a simple secret that is replicated to other namespaces. The secret is not replicated to new namespaces.

**To Reproduce**

 The yaml for the p

[2021-04-03 14:49] DanTulovsky commented on #1764
FYI, ClusterPolicy from the server itself, to double check that nothing broke through install (I am using terraform to install this):

[code]

[2021-04-03 14:55] DanTulovsky commented on #1764
And just to confirm, asking for the path does indeed fail:

[code]

while the shorter one works:

[code]

[2021-04-03 15:04] chipzoller commented on #1764
Please edit your first post and supply the versions of Kyverno and Kubernetes.

[2021-04-03 15:12] DanTulovsky commented on #1764
Done, sorry about that.

[2021-04-03 15:52] chipzoller commented on #1764
I have used your manifests and cannot reproduce this on a cluster running Kyverno 1.3.4.

Logs from the events:

[code]

Create and check event:

[code]

Inspect secret:

[code]

[2021-04-03 15:59] realshuting commented on #1764
I found one issue when creating the Secret in default namespace:
[code]

array `[redacted]` is invalid:
[code]

[2021-04-03 16:00] chipzoller commented on #1764
@realshuting I doubt he actually mean `[redacted]` in the literal sense. Only that he replaced the actual base64-encoded value with that so as not to reveal it.

[2021-04-03 16:01] DanTulovsky commented on #1764
[redacted] is what I replaced the actual value with...

On Sat, Apr 3, 2021, at 11:59 AM, shuting wrote:

`

  password: [redacted]

[2021-04-03 16:05] realshuting commented on #1764
Ah I see! I cannot reproduce the issue either:

[code]

[code]

[2021-04-03 20:49] DanTulovsky commented on #1764
Anything else I can provide as debugging help?  Something is duplicating the 'namespaces/gant' string in the API request... any idea what might be doing that?

[2021-04-03 21:52] chipzoller commented on #1764
I can reproduce the problem on kind v0.10.0.

[2021-04-04 13:48] chipzoller opened #1765 "[BUG] Cleanup of `any`/`all` in conditions and preconditions"
**Kyverno v1.3.4**

After PR #1604 referencing issue #1485, some clean up is needed:

1. Does not list the allowed values within this parent. Is it `all` and `any`? They need to have their own entries and descriptions.

2. Description needs grammatical polishing. (I can help here).

3. Conditions and preconditions have had the remainder of their schema dropped. Why? This now makes it impossible to

[2021-04-04 13:49] chipzoller commented on #1765
/assign @yashvardhan-kukreja

[2021-04-04 15:55] yashvardhan-kukreja commented on #1765
Hi @chipzoller , let me help you with all these concerns

The reason for that was to persist backwards compatibility. Because although, the latest structure is this
[code]
But still, our schema should allow the old schema fomat as well so as to ensure backwards compatibility for the user who are already using Kyverno and might wanna update it.
[code]
So, clearly, now, there are two kinds of schema

[2021-04-04 16:19] snir911 commented on #1540
Hi, i got back to this and tried with main branch
* It get OOM killed when GOGC is set to default (100 probably)
* It *does* seem to work when i set GOGC=25
@realshuting the dumps as you were asking are attached, i hope it helps
[dumps.tar.gz](https://github.com/kyverno/kyverno/files/6254928/dumps.tar.gz)

[2021-04-04 16:20] chipzoller commented on #1765
### Question 3

Understand, this makes sense. But we need to carefully explain this in the description. Also, we still need to provide in the schema what values are allowed, because the new system doesn't change that. For example, the operators etc still must go in either the "old" way or the "new" and we have to state that. This means the description must grow.

### Question 4

Yes, again, this i

[2021-04-04 23:14] DanTulovsky commented on #1764
I just tried this on gke, and it also did not create the secret. Sam kyverno version.

[code]

[2021-04-04 23:28] DanTulovsky commented on #1764
Same error:

[code]

If this is, indeed, the problem and not just a red herring.

[2021-04-05 00:44] chipzoller commented on #1764
It's most likely the issue, but the question is why does the internal logic produce that API path in only some distros whilst resolving correctly in others. I think @realshuting will probably need to weigh in here.

[2021-04-05 18:36] realshuting commented on #1764
I tried on Kind v0.10.0, can't seem to reproduce it.
[code]

[code]
[code]

[2021-04-05 18:36] realshuting commented on #1764
@DanTulovsky - can you share the failed `generateRequest` ?
[code]
[code]

[2021-04-05 18:56] DanTulovsky commented on #1764
[code]

I don't have any. I think in the logs it said that the request was being deleted after it couldn't find the namespace...

The secret does have a kyverno label on it...

[code]

On Mon, Apr 5, 2021, at 2:36 PM, shuting wrote:

NAME       POLICY                     RESOURCEKIND   RESOURCENAME   RESOURCENAMESPACE   STATUS      AGE
gr-5bjk7   sync-x-namespace-secret0   Namespace      gant

[2021-04-05 18:57] realshuting commented on #1764
Is it possible to recreate a namespace and trigger the same policy again?

[2021-04-05 19:21] DanTulovsky commented on #1764
I've been deleting and recreating it, but I can't seem to catch a gr that I can actually list...

for the record, the enforce labels is working for me, so it's not that everything is broken..

[code]

If you have time, I'm happy to try and help debug in real time..

On Mon, Apr 5, 2021, at 2:57 PM, shuting wrote:

[2021-04-05 19:26] realshuting commented on #1764
Sure that'll help! You can find me at **@Shuting Zhao** on the  #kyverno channel in the Kubernetes slack.

[2021-04-05 19:30] DanTulovsky commented on #1764
[code]

where you can see that it deletes the gr...

[2021-04-05 19:34] DanTulovsky commented on #1764
[code]

[2021-04-05 19:59] realshuting commented on #1764
Looks like in some k8s versions, `namespace` is set for resource `Namespace` while others are not (note field `"namespace"=`):

On GKE `v1.20.4-gke.2200`:
[code]

On Kind(v0.10.0) with k8s `v1.20.2`:
[code]

That's probably why `https://10.4.0.1:443/api/v1/namespaces/test1/namespaces/test1` appeared.

I generated a test image `ghcr.io/kyverno/kyverno:v1.3.5-rc2-dev-1-g3ab75095` for @DanTulovsky to

[2021-04-06 01:08] realshuting commented on #1540
@snir911 - thanks for providing profiling data.

I generated the [graph](https://github.com/kyverno/kyverno/files/6261275/profile001.pdf) accordingly from the heap file, and I can see internal cache consumed 58.22% of memory.

By default, Kyverno creates local cache for resources `"ConfigMap", "Secret", "Deployment", "MutatingWebhookConfiguration", "ValidatingWebhookConfiguration"`. So I want to c

[2021-04-06 04:27] #1764 closed

[2021-04-06 10:25] devopstales opened #1769 "[BUG] NetworkPolicy not generated"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.4+rke2r1
* Kyverno version: v1.3.4

**Describe the bug**
I try to use a ClusterPolicy to generate NetworkPolicy but Kyverno not create one at new namespace creation.
https://kyverno.io/policies/best-practices/add_network_policy/

**To Reproduce**
Steps to reproduce the behavior:

[2021-04-06 12:21] snir911 commented on #1540
Hi @realshuting , is it possible to configure/disable local cache?

* I used plain Openshift cluster, which has ~450 ConfigMaps, ~1450 secrets, ~55 Deployments
* I used single mutation policy but IIRC it used to get OOM killed even before it was applied
* 240 pods

(everything counted in all-namespaces)

[2021-04-06 14:11] devopstales commented on #1769
with `--devel` working correctly

[2021-04-06 18:49] realshuting commented on #1769
Hi @devopstales, which version were you running when installing Kyverno with `--devel`? Can you dump out the logs while creating new namespaces?

[2021-04-06 18:50] realshuting commented on #1749
Looks like it's been stable for a few days, I'm going to close the issue.

Please reopen if this happens again.

[2021-04-06 18:50] #1749 closed

[2021-04-06 18:56] MnrGreg commented on #1749
No issues since.

[2021-04-06 19:34] realshuting commented on #1540
Currently the cache is not configurable. But it looks like we found the reason why Kyverno gets OOM killed.

These caches were introduced to [reduce throttling requests](https://github.com/kyverno/kyverno/issues/1470) in order to process policies faster. I'll need to investigate a bit more and see how we can optimize this process.

cc @JimBugwadia

[2021-04-07 00:18] realshuting commented on #1688
In [this](https://kubernetes.slack.com/archives/CLGR9BJU9/p1617751134201300) thread, there was a CronJob that runs every 15 mins, the results entry in the report kept growing and never cleaned up. This caused the error "ResourceExhausted":

[code]

With [this](https://github.com/kyverno/kyverno/pull/1730) fix in v1.3.5, the reports should be able to recover automatically: invalid results will be r

[2021-04-07 00:24] realshuting commented on #1759
In [this](https://github.com/kyverno/kyverno/issues/1688#issuecomment-814513915) thread, we found that the policy applied to CronJob can result in stale RCRs.

@sosoriov - do you have CronJob running in your cluster? If so, upgrading to `v1.3.5-rc3` may solve the issue. In the meanwhile, we will optimize the cleanup process in the init container.

[2021-04-07 07:28] h4wkmoon commented on #1769
same here.
Reverting to v1.3.3 worked for me.
Openshift 4.6 with kube 1.20, on OVNKube.

[2021-04-07 08:29] sosoriov commented on #1759
@realshuting  Indeed I have few Cronjobs running in our cluster.

I'll do the upgrade and let you know how it goes.

Thanks for your help.

[2021-04-07 09:33] sosoriov commented on #1759
Hey @realshuting I can confirm that **v1.3.5-rc3** solves the issue regarding the Init container. It seems that **ReportChangeRequests** are being clean up properly .

It's worth to mentioned that this version needs extra memory resources. I had to increase the limits of the **Kyverno** container and everything is working fine. I'll keep an eye on the deployment and wait for the _Stable_ release.

[2021-04-07 11:56] devopstales commented on #1769
@realshuting I used the command from the documentation `helm install kyverno --namespace kyverno kyverno/kyverno --create-namespace --devel` whit this command I get "v1.3.5-rc2"

[2021-04-07 13:53] andriktr opened #1776 "[BUG] Helm chart init container missing resource limits and requests."
Hi,
Noticed that Kyverno helm chart installation not completing if the namespace where Kyverno will be deployed has resource quotas enabled. The reason for thi is missing definition of resource.limits and requests of init container. If i set deployment template like this everything works well.
[code]
Should be fixed I think.

[2021-04-07 16:16] chipzoller opened #1777 "[BUG] JMESPath expressions not being substituted in `validate.message` field"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.3
* Kyverno version: 1.3.5-rc3

**Describe the bug**
JMESPath expressions are not being substituted/replaced in `validate.message` fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Create cm.yaml
[code]
2. Create cpol.yaml
[code]
3. Create deploy.yaml
[code]
4. See th

[2021-04-07 17:25] chipzoller commented on #1777
If we don't already have one, it would be good to add a test case for this type of thing.

[2021-04-07 17:27] realshuting commented on #1777
Yes I agree, we can either add unit tests or use CLI to test variable substitution.

[2021-04-07 18:29] realshuting commented on #1769
@h4wkmoon - can you upgrade to v1.3.5-rc3 and check if it fixes the issue?

[2021-04-07 19:39] realshuting opened #1778 "Improve test coverage"
**Is your feature request related to a problem? Please describe.**
With v1.3.5, there were a few bugs that were not captured by the automated tests. We need to increase test coverage to capture these types of issues. Currently we have three types of test in Kyverno:
1. [e2e tests](https://github.com/kyverno/kyverno/blob/6f41acde0352a6dffe56f557a935be847d9cc201/Makefile#L172): this is used to test

[2021-04-07 22:03] realshuting commented on #1760
Closed via #1763 .

[2021-04-07 22:03] #1760 closed

[2021-04-07 23:34] #1446 closed

[2021-04-08 02:27] abhishekghiya opened #1780 "After restarting the Kubernetes cluster, Kyverno is causing kube-schedular and kube-controller to go in crash back loop off"
Kyverno Version : 1.3.0

Kubernetes version: 1.19 (D2iq Konvoy)

Getting below error in kube-schedular and kube-controller after restart of entire cluster. Once Kyverno is uninstalled, kube-schedular and kube-controller are coming up properly.

I0407 18:18:08.581835       1 controllermanager.go:175] Version: v1.19.7
I0407 18:18:08.582360       1 dynamic_cafile_content.go:167] Starting request-head

[2021-04-08 06:19] realshuting commented on #1780
@abhishekghiya - can you upgrade Kyverno to the latest version `v1.3.5-rc3` ? We fixed another kube-controller-manager related issue https://github.com/kyverno/kyverno/issues/1740 in this version.

[2021-04-08 11:20] abhishekghiya commented on #1780
Thanks @realshuting for looking into the issue. Have taken the latest version (v1.3.5-rc3-2-ge2cd04c9) but still can see issue is happening.

Please Note : During fresh installation it is working fine. The issue is happening only once we reboot the entire cluster casing kube-controller and kube-schedular to go into crashback loop off state.

![image](https://user-images.githubusercontent.com/76930

[2021-04-08 14:07] chipzoller commented on #1397
@realshuting I have received two separate requests for this and see it keeps getting pushed. Is this a significant LoE to implement?

[2021-04-08 16:08] chipzoller commented on #1070
Option 3 is going to be the "best" option but will require the proposal as outlined [here](https://github.com/kyverno/kyverno/issues/1745).

[2021-04-08 16:22] realshuting commented on #1780
Can you share Kyverno logs and the output of `kubectl get mutatingwebhookconfigurations,validatingwebhookconfigurations`?

[2021-04-08 17:19] abhishekghiya commented on #1780
Thanks @realshuting for quick reply. Please find attached the Kyverno logs, below is output of kubectl command

![image](https://user-images.githubusercontent.com/76930832/114069164-4f801600-98bc-11eb-9274-036c819b1034.png)
[kyvernoLogs.txt](https://github.com/kyverno/kyverno/files/6280344/kyvernoLogs.txt)

[2021-04-08 18:01] realshuting commented on #1780
From the log I can see the webhook was not active, with v1.3.5-rc3, it should fail the `livenessProbe`. Did you see Kyverno restarts?
[code]

Can you follow [this](https://kyverno.io/docs/troubleshooting/) troubleshooting tip and attach the output of `kubectl run busybox --rm -ti --image=busybox -- /bin/sh` ?

[2021-04-08 18:06] realshuting commented on #1397
Moving it to 1.3.6 milestone to investigate further.

[2021-04-08 19:04] realshuting opened #1783 "[BUG] Generated resource gets updated endlessly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.5-rc3

**Describe the bug**
With a generate policy that has synchronize enabled, the generated resource is updated again and again. The following log keeps printing out:
[code]

**To Reproduce**
Here's the policy:
[code]

Namespace:
[code]

**Added after**: when I set `synchronize`

[2021-04-08 19:07] DannyLyubenov opened #1784 "Pod resources are created regardless of their policy constraints"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:

[code]

* Kyverno version:

[code]

**Describe the bug**

Kyverno policy does not enforce validation for Pods in GKE and Minikube. Guide followed from [here](https://github.com/kyverno/policies/tree/main/pod-security/restricted/require-run-as-nonroot).

**To Reproduce**

Steps to rep

[2021-04-08 19:19] realshuting commented on #1784
Hi @DannyLyubenov - your policy works fine for me, it blocked the first Pod and allowed the second:
[code]

[2021-04-08 20:21] realshuting commented on #1780
It looks like the webhook is not in a good shape from the log message,  and you can't connect to Kyverno service from inside a Pod.

Are kube-schedular and kube-controller running properly now? Was Kyverno service created `kubectl -n kyverno get svc`?

To me, it seems like after the cluster was restarted, all components including Kyverno were recovering to their desired state. Maybe in between the

[2021-04-08 20:41] treydock commented on #1780
@abhishekghiya I ran into this many times, there are patches in v1.3.5-rc2 to address the issue where Kyverno registers webhooks before the kubernetes controller manager is able to update the service endpoint with an IP which causes all traffic to be blocked which causes API server to hang which causes controller manager to crash and then Kyverno never gets into state where cluster can recover.  I

[2021-04-08 20:44] treydock commented on #1780
Just saw the comment about v1.3.5-rc3 being tested.  If I had to venture a guess the Kyverno webhooks are getting used by API server before Kyverno service is fully available.  The way I observed this issue in past was looking to see no IP assigned to kyverno service endpoint: `kubectl get endpoints -n kyverno`.  This is a non-issue with recent patches for fresh installs, but not sure how to solve

[2021-04-09 11:13] DannyLyubenov commented on #1784
Hi @realshuting, thank you for your quick response.

It is so strange how we are getting different outcomes. One thing that I noticed is that the webhooks are ~20 sec out of sync from the Kyverno Pod. I have now tested it in EKS but getting a similar result.

[code]

[code]

[2021-04-09 17:32] realshuting commented on #1780
We already did that, see this PR https://github.com/kyverno/kyverno/pull/1741. Can you verify this endpoint `172.168.80.12:9443` is the actual Kyverno Pod's IP `kubectl -n kyverno get pod -o wide`?

[2021-04-09 17:35] realshuting commented on #1784
This is because Kyverno registers webhooks until the [endpoint is ready](https://github.com/kyverno/kyverno/pull/1741). But usually I only see a few seconds delay after the pod is running and ready.

After the webhooks were registered, did you see the requests were blocked?

[2021-04-09 19:02] abhishekghiya commented on #1780
@realshuting , this IP seems to be different from actual Kyverno Pod's Ip

![image](https://user-images.githubusercontent.com/76930I832/114226688-82480e00-9991-11eb-9e7a-50be4b46441d.png)

In both kube-schedular and kube-controller pod logs following error was observed causing them to restart and go in crash back loop off.

`I0409 18:44:06.932781       1 leaderelection.go:253] successfully acquire

[2021-04-09 19:27] treydock commented on #1780
@abhishekghiya That looks a lot like issues I saw when things were unhealthy on fresh install before #1741 .  The logs for API pod would likely have the `context deadline exceeded` and some timeouts communicating with Kyverno.  The only way I've been able to recover from this state before was to uninstall Kyverno then reinstall.  The reinstall should hit the code that waits for endpoint IP to be a

[2021-04-10 00:57] realshuting commented on #1780
@abhishekghiya - I made an enhancement in this PR #1787 to only register webhook configurations when the endpoint matches the exact pod's IP. And it removes stale webhook configurations if any, so that it won't block any component from coming up.

 Here's the test image `ghcr.io/kyverno/kyverno:v1.3.5-rc3-dev-8-gf20f735f`, can you try this on your cluster?

[2021-04-10 04:07] abhishekghiya commented on #1780
@realshuting , thanks for the patch . Tried to use this image in helm chart, after deploying helm chart getting some runtime error here:

`I0410 04:02:46.587782       1 validate_controller.go:198] PolicyController "msg"="policy created"  "kind"="ClusterPolicy" "name"="kyverno-platform-policy-disallow-insecure-ingress" "uid"="120158d6-9c83-4c8f-8da1-2702c5c35d03"
panic: runtime error: index out of

[2021-04-10 04:29] realshuting commented on #1780
Was Kyverno installed in a different namespace other than `kyverno`?

[2021-04-10 04:46] abhishekghiya commented on #1780
Yes @realshuting i was installing in different namespace , let me try with to deploy in Kyverno namespace

[2021-04-10 04:58] abhishekghiya commented on #1780
Somehow getting the same error in Kyverno namespace as well. Please find the attached Logs

[kyvernoLogs_New.txt](https://github.com/kyverno/kyverno/files/6289256/kyvernoLogs_New.txt)

[2021-04-10 05:12] realshuting commented on #1780
I didn't see this error on my local cluster. Does Kyverno pod has label `app=kyverno` ? If not, can you add it to [Deployment's](https://github.com/kyverno/kyverno/blob/9a6f7043b074eb3e39757fe131a3f65912f84455/definitions/install.yaml#L2424) manifest? The Helm chart may not have this label by default.

[2021-04-10 06:24] abhishekghiya commented on #1780
Thanks @realshuting , yes it is working now after providing label `app=kyverno`

The patch is also working and can see kube-schedular and kube-controller are coming up , Kyverno is also working fine 👍  though it came up after 4 restarts may be as it's waiting for kube-schedular to come up and is expected.

Thanks @realshuting for providing the quick patch, really appreciate your help here 🥇.

As t

[2021-04-10 07:05] realshuting commented on #1780
Great! It should work the same for other namespaces. I'll add the label to the Helm chart and test with different namespaces.

[2021-04-10 12:09] chipzoller commented on #1780
FYI, this is the source of one of the reasons why we need to [better align](https://github.com/kyverno/kyverno/issues/1616) YAML manifest with Helm chart.

[2021-04-10 16:54] realshuting commented on #1780
Linking to a similar issue https://github.com/kyverno/kyverno/issues/1278, but I don't know if it's best or feasible to use kustomize to manage these manifests.

[2021-04-11 08:13] abhishekghiya commented on #1780
@realshuting , thanks the patch is working fine for other namespaces as well.

Just wanted to check , if its possible to release the official version of this patch fix soon.

[2021-04-11 13:14] chipzoller commented on #1146
@JimBugwadia took care of this [here](https://github.com/kyverno/policies/blob/main/other/restrict_service_account.yaml).
/close

[2021-04-11 13:33] chipzoller commented on #1146
There are two of them now: https://kyverno.io/policies/other/restrict-service-account/ and https://kyverno.io/policies/other/restrict_service_account/

[2021-04-11 16:04] chipzoller commented on #1685
Because these env vars have to be added to each and every container in a Pod, this policy is probably going to require the `forEach` proposal outlined [here](https://github.com/kyverno/kyverno/issues/1745). @JimBugwadia, your take, please.

[2021-04-12 15:23] DannyLyubenov commented on #1784
Oh, I see, it does make sense, but I was following the docs where it states - "The age should be consistent with the age of the currently running Kyverno Pod(s). If the age of these webhooks shows, for example, a few seconds old, Kyverno may be having trouble registering with Kubernetes."

The strangest thing is that after I have verbose logs to 6 I can see a lot of noise after applying and testin

[2021-04-12 16:47] realshuting commented on #1780
@abhishekghiya - yes, moved this issue to 1.3.5.

[2021-04-12 21:31] #1146 closed

[2021-04-12 23:53] realshuting commented on #1784
@DannyLyubenov - it could be a problem if the webhooks were registered before Pod came up. If the webhooks were registered after the pod came up, then it was expected. With v1.3.5-rc3,  Kyverno would crash if the webhook is unhealthy.

According to this, the webhook should be functional. Can you share the precise policy and Pod manifests that were tested?

[2021-04-13 00:09] realshuting commented on #1780
@abhishekghiya - I updated the same image `ghcr.io/kyverno/kyverno:v1.3.5-rc3-dev-8-gf20f735f`, you can pull it again to test. We will release v1.3.5 with this fix as well.

[2021-04-13 03:29] #1780 closed

[2021-04-13 12:56] chipzoller opened #1794 "Prevent specific node labels from alteration"
Create sample policy to prevent users changing one/multiple labels on nodes.

[2021-04-13 12:56] chipzoller commented on #1794
/assign

[2021-04-13 12:58] chipzoller opened #1795 "Disallow running user workloads on control plane"
In a `kubeadm`-provisioned cluster, write a sample policy that prohibits users from running workloads on control plane nodes.

[2021-04-13 12:58] chipzoller commented on #1795
/assign

[2021-04-13 12:59] chipzoller opened #1796 "Restrict use of `nodeSelector` and `nodeName`"
Write a sample policy that restricts the use of `nodeSelector` and `nodeName` fields.

[2021-04-13 12:59] chipzoller commented on #1796
/assign

[2021-04-13 17:21] vyankyGH opened #1799 "Mutate policy defaults"
**Is your feature request related to a problem? Please describe.**
Reduce Load from API server and Kyverno.

[2021-04-13 19:05] realshuting commented on #1777
With #1785, I'm still seeing that the variable substitution failed at `validata.message`:
[code]

[2021-04-13 21:00] chipzoller commented on #1799
@vyankyGH Can you provide more of an explanation of this issue, even if you're self assigning it? This extra info is good for historical and search reasons.

[2021-04-14 07:01] abhishekghiya commented on #1780
Thanks @realshuting

[2021-04-14 07:08] abhishekghiya commented on #1750
@realshuting , if possible can you please provide or point to any example for this approach of allowing / excluding the namespaces in config Map

[2021-04-14 15:49] chipzoller commented on #1685
[code]

[2021-04-14 18:27] chipzoller commented on #1794
[code]

[2021-04-14 18:28] chipzoller commented on #1794
Thank you to Max Fedotov for this contribution.

[2021-04-14 18:28] chipzoller commented on #1794
[code]

[2021-04-14 19:08] kacejot opened #1801 "[BUG] Variable substitution should work fine with `null` values"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.2
* Kyverno version: v1.3.5
* go-jmespath: v0.4.0

**Describe the bug**
Variable substitution fails if path inside resource contains `null` value.

**To Reproduce**
I have two tests with example of how should it work:
From engine/variables/vars_test.go
[code]
The problem is that

[2021-04-14 19:09] kacejot commented on #1801
I have removed these tests from vars_test.go and wrote them here to apply in the future.

[2021-04-14 20:09] #1777 closed

[2021-04-15 01:33] realshuting commented on #1750
@abhishekghiya - here's an example policy that validates the label with key `foo` must exist. The rule dynamically looks up exclude list from ConfigMap `default/namespace-filters` and uses `preconditions` to filter the namespace.

First you define the exclude list in the configmap:

[code]

Then install this policy:
[code]

When applies this Pod manifest (without the desired label) to `default` na

[2021-04-15 12:35] chipzoller commented on #1684
Closed in PR

[2021-04-15 12:35] #1684 closed

[2021-04-15 23:26] JimBugwadia opened #1805 "[BUG] auto-gen should not update `metadata` paths"
**Software version numbers**

1.3.4-rc4

**Describe the bug**

The auto-gen feature translates pod level paths under `spec` to `spec.template.spec`  for pod controllers.

However, seems like it also attempts to translates metadata paths.

See slack discussion: https://kubernetes.slack.com/archives/CLGR9BJU9/p1618520060345800

**To Reproduce**

Use policy:

[code]

Use this resource:

[code]

This

[2021-04-16 00:22] realshuting opened #1807 "Introduce policy error"
**Is your feature request related to a problem? Please describe.**
Currently if variable substitution fails, Kyverno only logs out the error and continues policy/rule application. This is desired behavior as we do not want to block the admission request when such failure occurs.

**Describe the solution you'd like**
In long term, we should convert this error to:
- an `error` in policy reports
- a

[2021-04-16 02:46] realshuting commented on #1805
There are use cases that we want to update `metadata` paths. If you look at a Deployment manifest, there are two `metadata` in its definition.
[code]

From the Slack conversation, the match resources have both `Deployment` and `Pod`, in this case, we can assume it's the top-level `metadata`. So Kyverno should set annotation to `pod-policies.kyverno.io/autogen-controllers=none` by default.

[2021-04-16 03:01] abhishekghiya commented on #1780
@realshuting , earlier we were using kyverno version 1.3.0. After taking the latest release with above fix, we had few "audit" policies that have stopped working properly now. Below is audit policy that is checking for presence of specific label in pod. In policyReport the violation against this policy is not getting reflecting immediately. Sometimes it is taking 30min to reflect and sometimes the

[2021-04-16 03:16] realshuting commented on #1780
@abhishekghiya - what does this policy do? It matches the Pod with the label `AllowRootUserAccess: "true"` and does nothing?

[2021-04-16 03:19] realshuting commented on #1799
@vyankyGH - there's an exception when converts auto-gen rules:

If I install the following policy, Kyverno keeps updating it endlessly.

[code]

[code]

[2021-04-16 03:36] JimBugwadia commented on #1805
Yes, this is referring to the the top-level metadata only

[2021-04-16 05:58] abhishekghiya commented on #1780
Thanks @realshuting for sharing above example but our usecase is to create an audit policy which will check the pods for a specific label and that pod with that specific label should be marked as failed in policy report. Can you please propose a way to mark this as failed in policy report ? As we want to monitor/audit the pods with the specific labels as failed.

We had few audit policies that had

[2021-04-16 06:59] JimBugwadia commented on #1805
Rethinking based on @realshuting's insights above....perhaps the only thing we need to make sure of is that if multiple controllers are specified in the policy, Kyverno does not apply any auto-gen behaviors:

For example, this policy should not trigger any auto-gen rules:

[code]

But this policy will (as it only is on the pod) and the controller level rules will update `spec.template.spec.metadat

[2021-04-16 08:45] saberkan opened #1808 "[BUG] Kyverno generate policy doesn't work on OpenShift 4.6"
**Software version numbers**

* Kubernetes version:
[code]

* Kyverno version:
[code]

**Describe the bug**
When applying a generated policy with kyverno on OpenShift, a generaterequests.kyverno.io is generated with status completed, but nothing is created on the cluster side.

**To Reproduce**
Steps to reproduce the behavior:
1. Install kyverno on OpenShift
`kubectl create -f https://raw.githubus

[2021-04-16 09:44] NoSkillGirl opened #1809 "Reduce the enqueuing of generate request exponentially with time"
**Is your feature request related to a problem? Please describe.**
Currently, when generated resource is updated the generate request is enqueued again if the changes conflicts the generate policy data. Sometime, due to pattern mismatch this goes in endless loop which causes endless enqueueing of generate request.

**Describe the solution you'd like**
Reduce the enqueuing of generate request expon

[2021-04-16 12:19] chipzoller commented on #1805
I agree with this. And further, this use case is an example for the need for allowing a wildcard (`*`) in the `kinds` array. Because all Kubernetes resources share the same metadata object at the same level, it's conceivable that someone may want to, for example, block use of this annotation for any and every `kind` throughout the cluster. Naming them one-by-one doesn't scale well.

Yes

[2021-04-16 12:36] chipzoller commented on #1808
In order for that generate policy to function, you need to create new Namespaces that match the `match` statement. Are you saying that, even after creating a new Namespace which doesn't fall in the `exclude` list, Kyverno isn't generating a NetworkPolicy resource for that Namespace?

[2021-04-16 12:41] kacejot commented on #1326
@JimBugwadia, could you please clarify the next moment:

Where do you want to see the error besides the logs?

And second question: what do you mean when you say:

JMESPath queries are being validated by go-jmespath library so I didn't get it.

[2021-04-16 13:58] kacejot opened #1810 "[BUG] Amend variable substitutions to behave consistently"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.4

**Describe the bug**
https://kyverno.io/docs/writing-policies/preconditions/#matching-requests-without-a-service-account
This case from documentation will not work if vars substitution fails.
[code]
[code]

**To Reproduce**

1. Create policy:
[code]
2.

[2021-04-16 14:05] saberkan commented on #1808
Affirmative, my namespace is included in the match statement (and not excluded by the exclude statement). The network policy is not created.
[code]

[2021-04-16 14:11] chipzoller commented on #1808
It doesn't matter if it's included in the `match` statement if it exists at the time the `generate` policy is created. Kyverno must see either the creation of a new Namespace or the update of an existing one which matches. It doesn't retroactively scour existing Namespaces which match the filter and generate resources.

[2021-04-16 14:15] chipzoller commented on #1810
Also present in 1.3.5-rc4

[2021-04-16 14:23] saberkan commented on #1808
Ok, I get it now. You're right ! I've recreated the namespace and it works.
[code]

@chipzoller thank you for your help and responsiveness. The issue can be closed.

[2021-04-16 14:23] #1808 closed

[2021-04-16 14:30] chipzoller commented on #1810
Testing with `cpol.yaml`:

[code]

and `deploy.yaml`:

[code]

[2021-04-16 15:08] JimBugwadia commented on #1780
The empty `deny: {}` should fail the policy for any matching resource as in this example:

https://kyverno.io/docs/writing-policies/validate/#block-changes-to-a-custom-resource

@abhishekghiya - can you please try a test with `validationFailureAction: enforce` to see if the resource is blocked? That will help us isolate if the issue is with the policy execution logic or the background scanning.

[2021-04-16 15:31] #1759 closed

[2021-04-16 19:40] JimBugwadia commented on #1805
Yes, its certainly conceivable but what we need to determine is whether this a common real world use case which justifies the performance penalty of evaluating the rule for each admission review request including ones like `SubjectAccessReview`?

[2021-04-16 20:01] chipzoller commented on #1805
That's exactly right, yes.

[2021-04-16 20:14] realshuting commented on #1780
@abhishekghiya - sorry, I misunderstood its behavior. It should deny Pods with that label.

However, I could not reproduce the issue. The report shows the correct results for both enforce and audit policies.

While debugging it, I did find a bug that the violation was not removed from the report when the pod was deleted. Sent the fix in https://github.com/kyverno/kyverno/pull/1811.

[2021-04-16 21:00] realshuting commented on #1810
Adding comment made by @JimBugwadia in [this](https://kubernetes.slack.com/archives/CLGR9BJU9/p1618601459395400?thread_ts=1618592888.389200&cid=CLGR9BJU9) thread:

@kacejot - can we set the variable to the empty value for  `#2`, we may need to resolve it according to its type. And `#3` should be handled in https://github.com/kyverno/kyverno/issues/1801.

For `#1`, let's investigate what does it me

[2021-04-16 22:31] chipzoller commented on #1810
`#1` is probably going to be a discussion because, let's say it's done (regardless of the LoE), it'll still represent a potential conflict if we're validating the schema for a variable but not the rest of the policy. It's the proverbial "can of worms".

[2021-04-16 22:37] JimBugwadia commented on #1810
Can you please elaborate on this? We should be validating the policy as well, and also validate patterns, etc. against the resource schema.

[2021-04-16 22:43] chipzoller commented on #1810
We aren't though because Kyverno will let a user create something like this, for example:

[code]

[2021-04-16 23:17] #674 closed

[2021-04-16 23:17] #1286 closed

[2021-04-17 00:23] #1765 closed

[2021-04-17 01:09] realshuting commented on #1799
@vyankd - we need to prioritize this issue, I'm seeing another endless look of auto-gen rules:
[code]

[code]

[2021-04-17 01:21] realshuting opened #1812 "Support image properties in the background mode"
**Is your feature request related to a problem? Please describe.**
With Kyverno 1.3.5,  the image variables `{{images.xx}}` are only supported for the webhook requests. We should support it in the background mode as well.

[2021-04-17 02:34] treydock commented on #1799
Is there a way to resolve this? I am having trouble debugging policies because my logs on kyverno are flooded with these messages.  Is there anything I can do before 1.3.6 to change my policies to avoid these log messages?

Examples of messages I am receiving faster than one per second:

[code]

[2021-04-17 02:36] realshuting commented on #1799
Yes, see https://kubernetes.slack.com/archives/CLGR9BJU9/p1618622238405600

[2021-04-17 12:33] chipzoller opened #1813 "[BUG] anyPattern matching on `metadata` schema element not working"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.7
* Kyverno version: 1.3.5-rc4

**Describe the bug**
Use of a rule with `anyPattern` which has patterns based on the `metadata` object is broken and no blocking of resources happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy `cpol.yaml`
[code]
2. Create `deploy.

[2021-04-17 12:54] yashvardhan-kukreja commented on #1813
/assign

[2021-04-17 14:14] chipzoller opened #1814 "Show chart version after Helm installation"
**Is your feature request related to a problem? Please describe.**
It isn't clear what version of Kyverno was installed from a Helm chart if no flags were passed.

**Describe the solution you'd like**
After installing the Kyverno Helm chart, show the version of Kyverno which was installed.

[2021-04-17 17:02] abhishekghiya commented on #1780
@JimBugwadia  , @realshuting  , thanks for your responses. Yes, the issue is not reproducible with single policy. I tried to debug a lot and finally figured out that the issue is happening when this policy is deployed along with some other policy as  we want to use both of these policies in pair together. When both the below polices are deployed together the issue is reproducible.

Here the enforc

[2021-04-17 21:26] JimBugwadia commented on #1810
@realshuting - we were discussing this and I got the impression that this validation check exists. Can you please help confirm?

[2021-04-18 17:30] abhishekghiya commented on #1750
thanks @realshuting for the example, this will be helpful to us

[2021-04-18 17:34] chipzoller commented on #1750
This policy will be merged in https://github.com/kyverno/policies/pull/42

[2021-04-18 17:45] abhishekghiya opened #1816 "Audit Policy violations are not getting reported in a particular flow"
* Kubernetes version: 1.19
* Kyverno version: 1.3.5

When both the below policies are deployed together, then the enforce policy violation is getting reported but audit policy violation is not getting reported (behaviour is inconsistent, sometimes it gets reflected after long time). Same used to work in Kyverno 1.3.0 version

[code]
[code]

Below is test object to be deployed:

[code]

[2021-04-19 01:06] JimBugwadia opened #1818 "Change Pod Security Standard "Default" to "Baseline""
**Is your feature request related to a problem? Please describe.**

The Kyverno Helm chart bundles pod security policies:

https://artifacthub.io/packages/helm/kyverno/kyverno

See: `podSecurityStandard`

The `default` level needs to be renamed to `baseline` to match https://kubernetes.io/docs/concepts/security/pod-security-standards/.

[2021-04-19 10:16] ghost opened #1819 "Problems with validating webhooks install with the official chart"
Hello!
I am trying to instal 1.3.5 chart to a 1.19.7 Kubernetes cluster (It is a Yandex Cloud managed cluster)
After running helm install I am having a ns with loop-crashing Kyverno pod.
The only parameter I gave it was `nodeselector` parameter.
Logs reading some problem with creating ValidatingWebhook:

[code]
And then it crashes...
Is it because it waits for some hardcoded deployment name?

[2021-04-19 13:54] chipzoller opened #1820 "[BUG] Validate that negation anchor is empty or null"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.3
* Kyverno version: 1.3.5

**Describe the bug**
Kyverno needs to validate an incoming rule and if the negation anchor (`X(foo)`) is specified for a field, that value needs to be null, nil, or undefined. It should not have a value in it.

**To Reproduce**
Steps to reproduce the b

[2021-04-19 14:11] chipzoller commented on #1794
Merged

[2021-04-19 14:11] #1794 closed

[2021-04-19 14:42] chipzoller commented on #1819
It's looking for a name called `kyverno` which instead looks to be `kyverno-f37b-svc`.

[2021-04-19 16:14] fuhrmannd commented on #1769
During a Kubernetes training we experienced the symptom that the ClusterPolicy to generate a network policy targeting a namespace name regex is sometimes not regenerated after deleting it.

We were using following versions:

- Kubernetes version: v1.21.0 with calico
- Kyverno version: v1.3.5

Bug is sporadically reproducible with following steps:

- Resources are available here:  https://github.co

[2021-04-19 17:21] #1750 closed

[2021-04-19 19:09] chipzoller commented on #604
@kacejot Is this something that might be interesting to add to the existing custom JMESPath functions you created [here](https://github.com/kyverno/kyverno/pull/1772)?

[2021-04-19 19:11] chipzoller commented on #622
Is this issue still valid today?

[2021-04-19 20:29] realshuting opened #1821 "Extend the "kyverno test" command to handle mutate policies"
In addition to extend the Kyverno test command, we also need to cover all sample policies with the CLI.

[2021-04-19 22:22] fjogeleit commented on #1753
/assign

[2021-04-19 23:06] realshuting commented on #1819
Hi @Unb9rn - how did you install Kyverno using Helm? Can you share the steps?

[2021-04-19 23:18] realshuting commented on #1780
@abhishekghiya - thanks for clarifying it! We'll investigate in https://github.com/kyverno/kyverno/issues/1816.

[2021-04-20 01:20] realshuting commented on #1769
Hi @fuhrmannd - thanks for reporting the issue.

I installed all your policies, and I can see the `GenerateRequest` is in failed state when there was no netpol found in that namespace:
[code]

And there were error messages in the log:
[code]

This is because it gets the NetworkPolicy right after the generated resource is deleted:
`kubectl create ns mamamama;
kubectl delete -n mamamama networkpolic

[2021-04-20 04:02] JimBugwadia commented on #1717
Hi @gabemontero - would you like to discuss this in the Wed Apr 21 community meeting? If so, please feel free to add to:

https://docs.google.com/document/d/10Hu1qTip1KShi8Lf_v9C5UVQtp7vz_WL3WVxltTvdAc/edit#

Ok if you don't have this fully vetted - we can discuss the concept at a high level.

[2021-04-20 05:37] erkules commented on #1769
BTW :)
https://github.com/kyverno/kyverno/blob/56183cc73d5f143cc9fb2ea103c88a1f34b7c37e/test/policy/validate/check_not_root.yaml#L12

The policies in that directory are taken from the Repo (I put a remark in the README to tell others also).
So in the end generate depends on the load in the cluster? We had the hope there is a loop checking and fixing missing objects.
We had the issue by playing aro

[2021-04-20 06:11] TheKangaroo commented on #1769
From a [discussion in the Slack channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1618485400326000), @chipzoller told us, that there is a resync period of 15 minuntes. At least with `syncronize: true`.

[2021-04-20 06:17] erkules commented on #1769
Thx @TheKangaroo good to know. Having a look into the cluster indeed all generaterequests are completed.

[2021-04-20 07:58] kacejot commented on #604
@chipzoller
cc: @realshuting

We already have support of $this. We can use {{ @ }} variable to reference current value.
About math operations: we could support `add`, `subtract` and other functions.

[2021-04-20 08:18] kacejot commented on #1810
@realshuting yes. We need to create a separate issue for this.

[2021-04-20 08:23] kacejot opened #1823 "[BUG] Validate schema for all kinds of policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.4

**Describe the bug**
We can create such policy:
[code]
But we shouldn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Kyverno 1.3.4 or less version
2. Create a policy above
3. See that policy created successully

**Expected behavior**

[2021-04-20 08:24] kacejot commented on #1810
I have created #1823 for this.

[2021-04-20 08:42] Unb9rn commented on #1819
@chipzoller yep, you were right, changing release name kinda solved this problem. Shouldn't it be fixed? Or documented at least? Hardcoding release name is counter-intuitive and required modifying my terraform script with helm =)
Anyway, this workaround helps and now Kyverno runs like a charm!

[2021-04-20 08:46] Unb9rn commented on #1819
@realshuting I am installing everything with terraform helm provider. First I am generating some random string to distinguish installs between projects and teams and make them unique, then I append it to resource name and to release name as well. Looks like Kyverno helm chart just waits for hardocded release name to generate hardocded svc name and then constructs OwnerReference by accesing this se

[2021-04-20 13:00] gabemontero commented on #1717
Hey @JimBugwadia

I'd love to, but unfortunately I have a personal conflict that has popped up since we last chatted here, and I cannot make the Apr 21 12 US Eastern call.  I can try again for next month's call.  But of course if you all discuss it tomorrow without me and get to a point where you move forward with this, that works for me too.

Otherwise, I'd like to plan to try again next month if

[2021-04-20 13:11] chipzoller commented on #1819
Yes, this has been a common pain point for many and needs to be resolved. Kyverno should not look for any hard-coded names in anything.

[2021-04-20 13:15] chipzoller commented on #1823
Also need to qualify this a bit better, and this might need some discussion as to how we expect validation to work and in what scenarios. For example:

1. Validation should occur for all policies and for all rules in the policies where the `kind` is of a single type.
2. Per 1, rules with `kind` specifying multiple types (ex., Pod and Service) may not be validated unless the rule is constrained to

[2021-04-20 13:26] chipzoller commented on #1810
We can still use this to track variable substitutions because these are now two separate things.

[2021-04-20 13:27] chipzoller commented on #604
Basic math operators like `add`, `subtract`, `multiply`, and `divide` would be excellent to have in the custom JMESPath function toolkit.

[2021-04-20 13:31] chipzoller commented on #1769
That 15-minute interval should be more or less immediately at this point. @realshuting to verify.

[2021-04-20 14:15] kacejot commented on #604
Okay. So I assign this issue to myself then.

[2021-04-20 14:48] JimBugwadia commented on #1326
@kacejot - this issue is to add resource path validation (as we do for validation patterns).

[2021-04-20 14:55] JimBugwadia opened #1826 "Support operators (>=, <, etc ...) on list values"
**Is your feature request related to a problem? Please describe.**

See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1618840584428700?thread_ts=1618559461.356400&cid=CLGR9BJU9

Kyverno supports operators on scalar values:

https://kyverno.io/docs/writing-policies/validate/#operators

This feature request is to extend support for list / array values.

**Describe the solution you'd like**

If t

[2021-04-20 14:57] JimBugwadia commented on #1826
When this feature is implemented, we will need to update this policy:

https://kyverno.io/policies/pod-security/restricted/require-non-root-groups/require-non-root-groups/?policytypes=pod%2520security%2520standards%2520%28restricted%29

[code]

[2021-04-20 14:58] JimBugwadia commented on #1826
I suggest we treat these the same:

[code]

[code]

[2021-04-20 17:28] treydock opened #1827 "[BUG] Issue with Helm chart policies"
**Software version numbers**
State the version numbers of applications involved in the bug.

Current main branch

* Helm version: 3.5.2

**Describe the bug**
[code]

**Expected behavior**
Expect template to render

**Additional context**
First raised with failing tests in #1815

[2021-04-20 17:29] treydock commented on #1827
If I remove  that file the issue moves onto next file

[code]

I'm going to guess there is a newline issue or something somewhere so two files are getting merged incorrectly

[2021-04-20 17:35] treydock commented on #1827
The issue is commit 56183cc73d5f143cc9fb2ea103c88a1f34b7c37e, if I revert that commit the Helm charts render.

[2021-04-20 18:34] realshuting commented on #1244
There is an issue with `replace_all`, see thread https://kubernetes.slack.com/archives/CLGR9BJU9/p1618941805454200.

@kacejot - can you please investigate it?

[2021-04-20 18:51] realshuting commented on #1823
@NoSkillGirl - is this something handled in your PR for the schema validation?

[2021-04-20 19:16] smnmtzgr commented on #1826
@JimBugwadia  wouldnt the first syntax be clearer? One would know that there has to be a list. So I would prefer to only support this:
`  =(supplementalGroups): [">0"]
`

[2021-04-20 20:05] realshuting commented on #1769
@erkules - thanks for pointing that out, we'll correct the name.

To answer your questions:

Kyverno watches for all its managed resources, and it always maintains the generated resource with the desired state. In this case, you didn't see it got re-generated because the namespace was deleted before kyverno generated it again. That's why if I added 3 seconds delay, I didn't see the failure anymore

[2021-04-20 20:08] #1827 closed

[2021-04-20 20:43] JimBugwadia commented on #1826
@smnmtzgr - was thinking about that as well....but then what should be the expected behavior for the 2nd style?

[code]

An option would be to allow both and leave adding the brackets as a preference.

In general with Kyverno we have tried to be lenient on inputs. For example, in validation patterns Kyverno supports lists (based on the value type) without requiring any additional syntax but also a

[2021-04-20 21:30] erkules commented on #1769
@realshuting mega \o/

[2021-04-21 08:11] smnmtzgr commented on #1826
@JimBugwadia  okay.

[2021-04-21 10:58] Dhairya3124 commented on #1818
@JimBugwadia I think it can be changed by the project owner. I didn't find any github repository to change the data.

[2021-04-21 11:00] Dhairya3124 commented on #1821
Hey!@realshuting @JimBugwadia I'm interested to participate for this project this summer. Any warmup tasks to start with this project?

[2021-04-21 12:31] chipzoller commented on #1818
Relevant values need to be changed here: https://github.com/kyverno/kyverno/tree/main/charts/kyverno

[2021-04-21 12:40] kacejot commented on #1244
@realshuting sure, on my way

[2021-04-21 17:02] JimBugwadia commented on #1717
@gabemontero - no worries. We can meet separately to discuss and then report back in the community meetings.

[2021-04-21 17:17] NoSkillGirl commented on #1823
No, this is not handled.

[2021-04-21 17:21] Dhairya3124 commented on #1818
Thank you @chipzoller 👍

[2021-04-21 19:24] realshuting commented on #1821
Hi @Dhairya3124 - thanks for reaching out! We just enrolled in the LFX mentorship program, the application will be opened up two weeks after.

To get started, you can pick up issues from this list to get familiar with code base - [good first issue](https://github.com/kyverno/kyverno/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22).

[2021-04-21 19:34] realshuting commented on #1819
Hi @Unb9rn - sorry for the late response.

Can you point me to the exact names that were changed?

We'll have to investigate how can Kyverno takes custom names, as webhook configurations are created with the certificate that has these Subject Alternate Names, including Kyverno service's name, namespace, and resource's name  `kyverno-svc.(namespace).svc.kyverno-tls-ca`, `kyverno-svc.kyverno.svc.kyv

[2021-04-22 13:15] windowsrefund opened #1830 "[BUG] failed to retrieve API group"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.18.9
* Kyverno version: 1.3.4

**Describe the bug**
I'm trying to identify a root cause for the frequent restarts I'm seeing. This error is reported frequently in the logs

`E0422 12:57:31.817145       1 client.go:377] dclient "msg"="failed to retrieve API group" "error"="Got empty

[2021-04-22 14:21] stuh84 opened #1831 "[BUG] Openshift DeploymentConfig resources being stripped of fields"
**Software version numbers**

* Kubernetes version: OCP 4.6.21 (based on Kubernetes v1.19.0)
* Kyverno version: 1.3.4

**Describe the bug**
`DeploymentConfig` resources in Openshift have many fields removed. `DeploymentConfig` resources are very similar to `Deployments`, but with a few extra features (more info [here](https://docs.openshift.com/container-platform/4.6/applications/deployments/what-

[2021-04-22 14:59] chipzoller commented on #1830
I tried this with Kubernetes 1.18.8, metrics-server 0.3.6 and Kyverno 1.3.4 (all on KinD) and am not able to reproduce.

[2021-04-23 00:00] JimBugwadia opened #1832 "Custom informer cache to reduce memory usage"
For performance, and to avoid throttling, its great to use client-go informers. However, the default implementation ends up caching all instances impacting memory usage.

Would be great to investigate (lazily) caching only objects referenced in policies:

Also see:
* https://github.com/kubernetes/client-go/issues/832
* https://github.com/cloudnativelabs/kube-router/pull/999
* https://github.com/ga

[2021-04-23 00:37] realshuting opened #1833 "Support new variable substitution syntax"
**Is your feature request related to a problem? Please describe.**
There was an issue with the current variable substitution syntax `{{ }}`, see https://github.com/kyverno/kyverno/discussions/1824.

In the Contributors meeting, we proposed to replace this syntax with `${}` to avoid conflict. The goal is to support this new `${}` syntax and we need to make this backward compatible, that is to say,

[2021-04-23 00:43] realshuting opened #1834 "Merge successful policy results"
**Is your feature request related to a problem? Please describe.**

With Kyverno v1.3.5, the results entry in the policy report is created per rule, we can merge all successful results per policy to a single result entry, as it takes a list of resources. In this way, we can reduce the size of a policy report.
https://github.com/kyverno/kyverno/blob/ab8d077384a353069610fb42a76b5584f8ec356b/pkg/api/

[2021-04-23 01:05] realshuting commented on #1831
@stuh84 - k8s blocks the DeploymentConfig creation was because it can't find the `image` tag in the resource, according to this message:
[code]

From your resource manifest, I can see there's an extra indent in front of `image`. If there was no mistake when you pasted the YAML, can you try the correct resource I attached below?
[code]

[2021-04-23 04:57] rdavyd commented on #1833
Hi @realshuting,

Won't this new syntax interfere with shell variables, e.g. `${MY_ENV_VAR}` in a container `command` or `args`?

[2021-04-23 05:35] stuh84 commented on #1831
Sorry that's my fault, the indent doesn't exist in the original YAML.

This still occurs with correct indentation

[2021-04-23 07:53] stuh84 commented on #1831
Results as seen from the Openshift console. This is the default `DeploymentConfig` template, which I have not made any changes to

![image](https://user-images.githubusercontent.com/16380452/115838224-5a38c000-a411-11eb-9021-0f81ab351175.png)

[2021-04-23 10:21] #1700 closed

[2021-04-23 15:28] ccpp-apriorit commented on #1244
@JimBugwadia @realshuting
We can close this due to the discussion in the slack. Current release 1.3.5 has no custom functions yet and the issue was in incorrect variables and JMESPath syntax usage.

[2021-04-23 15:30] ccpp-apriorit commented on #1801
@JimBugwadia
This is done. I need to edit dependency file and I will be ready to create a PR

[2021-04-23 15:31] ccpp-apriorit commented on #1810
@JimBugwadia
Estimated: about 2d of work

[2021-04-23 15:32] kacejot commented on #1810
@JimBugwadia
Estimated: about 2d of work

[2021-04-23 15:33] kacejot commented on #1801
@JimBugwadia
This issue is already fixed. I will create a PR on Monday

[2021-04-23 15:33] kacejot commented on #1244
@JimBugwadia @realshuting
We can close this due to the discussion in the slack. Current release 1.3.5 has no custom functions yet and the issue was in incorrect variables and JMESPath syntax usage.

[2021-04-23 15:36] kacejot commented on #1658
@JimBugwadia, I will add tests and update a PR on Monday

[2021-04-23 15:39] kacejot commented on #1826
@JimBugwadia
Seems easy to implement. PR will be ready on Monday.

[2021-04-23 18:24] realshuting commented on #1244
@kacejot - I was testing with my local build that has this feature already, but saw the above error. Was the issue resolved?

[2021-04-23 19:58] realshuting commented on #1244
I verified this policy works with the latest main branch, note that `replace_all` is wrapped by `{{ }}`.
[code]

[2021-04-23 19:58] #1244 closed

[2021-04-23 22:56] realshuting commented on #1833
@rdavyd - this is a good point! What about change to `${{...}}` ?

@chipzoller @JimBugwadia - any thoughts?

[2021-04-23 23:58] JimBugwadia commented on #1833
Yes, we should avoid `${...}` (thanks @rdavyd!)

We can go with `${{ ... }}` - this is what GitHub actions uses so there is some precedence.

Other options could be:
- `$< ... >`
-  `<< ... >>`
- `%% ... %%`

[2021-04-24 01:37] realshuting commented on #1831
@stuh84 - after digging into the issue, I found that Kustomize handles CRDs differently with strategic merge patch, you have to [register CRD first](https://github.com/kubernetes-sigs/kustomize/issues/1510#issuecomment-529059812) in order to patch it correctly. Since Kyverno uses Kustomize to do strategicMergePatch, I can first verify this approach on my end, and then integrate with Kyverno.

Ther

[2021-04-24 01:56] rdavyd commented on #1833
@realshuting @JimBugwadia Maybe it is better to have a way to escape `{{` `}}`? Because users will have to rewrite their policies if such change occurs.

[2021-04-26 07:40] stuh84 commented on #1831
Unfortunately I cannot see a CRD for this: -

[code]

Is there another way I could provide this somehow?

[2021-04-26 12:27] igorkchyts opened #1836 "[BUG] Exclude subjects with kind 'SecurityContextConstraints' is ignored"
**Software version numbers**

* Openshift version: 4.7.4
* Kubernetes version: v1.20.0+bafe72f
* Kyverno version: v1.3.4

**Describe the bug**
The applied policy does not exclude the resources of 'SecurityContextConstraints' kind that it's supposed to exclude.
The policy denies 'allowHostIPC' to be 'true' in the cluster scc except for hostaccess and privileged scc, in addition the policy denies ex

[2021-04-26 19:55] realshuting commented on #1836
Hi @igorkchyts - `spec.rules.exclude.subjects` excludes [users or user groups](https://kyverno.io/docs/writing-policies/match-exclude/), not the kind itself. The following block exclude the admission requests sent by user/group `SecurityContextConstraints/hostaccess` and `SecurityContextConstraints/privileged`:
[code]

If you want to exclude **kind** `SecurityContextConstraints` , try use the foll

[2021-04-26 19:58] #1783 closed

[2021-04-26 20:13] realshuting commented on #1833
@rdavyd - Kyverno will guarantee backward compatibility when the new syntax is supported, and it will convert (and change) all the existing policies during application, the old `{{ }}` format will still be valid but deprecated for a few releases then dropped. It should give users enough time to migrate to the new pattern. Besides, supporting "escape" also requires users to modify their policies.

[2021-04-26 20:48] realshuting opened #1837 "Support AnyIn, AnyNotIn operators"
This makes more sense to me. Similarly to [what we have](https://github.com/kyverno/kyverno/issues/1485) in `validate.pattern`, we can support AnyIn, AllIn, AnyNotIn, AllNotIn.

cc @JimBugwadia , @RinkiyaKeDad

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/issues/1689#issuecomment-800532450_

[2021-04-26 20:55] realshuting commented on #1837
There was a use case looking for `AnyIn` operation in [Unique Ingress Host](https://kyverno.io/policies/other/restrict_ingress_host/?policytypes=sample), see [thread](https://kubernetes.slack.com/archives/CLGR9BJU9/p1619360362041900).

There the key was resolved to `["q.test","q2.test"]` and the value was resolved to `["q.test"]`, the user wants to deny the ingress since the incoming host "q.test"

[2021-04-27 01:23] realshuting commented on #1688
@alaa - I'm closing this issue for now. Please reopen it if you still see the problem.

[2021-04-27 01:23] #1688 closed

[2021-04-27 07:15] igorkchyts commented on #1836
Thanks @realshuting  for clarification.

Applying these changes still makes the policy fail once editing one of the excluded objects.

If I am editing 'hostaccess' scc then the policy blocks because it's violating the second rule, if I am editing 'privileged' scc the policy fails because of violation of the first rule.

[2021-04-27 11:41] igorkchyts commented on #1836
$ disallow-host-ipc.yaml
[code]

Results once switching back the value of 'allowHostIPC' from 'false' to 'true':
[code]

[2021-04-27 12:13] snir911 commented on #1540
@realshuting hi, does #1804 fix this OOMkilled issue?

[2021-04-27 15:25] kacejot opened #1840 "[BUG] Don't allow policy with variables within specific fields."
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.0
* Kyverno version: 1.3.5

**Describe the bug**
For now we can create a policy with variables within `path` field in JSONPatch mutation.
We should disallow such cases.

**Example policy**
[code]

[2021-04-27 15:28] kacejot commented on #1521
@realshuting
cc: @JimBugwadia
I think we can close it, because we have it already implemented in https://github.com/kyverno/kyverno/pull/1785

[2021-04-27 18:33] fjogeleit opened #1841 "Handle PolicyReport CRD Updates"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kyverno version: 1.3.5

**Descrition**

With #1825 I change the Version of PolicyReport related CRDs. This changes are not applied by an Helm Upgrade ([Helm Doc](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations)).

How could w

[2021-04-27 21:13] JimBugwadia commented on #1717
@gabemontero and I met and discussed this:

The use case of interest is to issue a SubjectSelfReview (SAR) request from Kyverno based on an AdmissionReview request and allow or deny the changes.  (A different use case would be to use Kyverno as an Kubernetes authorizer that responds to SARs).

To accomplish this, the [Kyverno API Call feature](https://github.com/kyverno/kyverno/blob/6a0305674aab92

[2021-04-27 23:58] realshuting commented on #1540
@snir911 - thanks for checking. @vyankd is working on the [fix](https://github.com/kyverno/kyverno/issues/1732) to add matchedList.

[2021-04-28 00:33] realshuting commented on #1836
That actually makes sense, these 2 rules are conflict with each other. Can you test the following? I used `preconditions` to filter out the ignored names.
[code]

[2021-04-28 02:05] realshuting commented on #1831
@stuh84 - thanks for the reference, seems like Kustomize currently does not support patch CRD without schema.

An alternative is to use JSON patch to add the env. You can keep the first rule to patch the label, and add the following rule to add env `SERVICE`. Note that I use `preconditions` to check this env is not present, and use `patchesJson6902` to add `SERVICE` to the env list of the first co

[2021-04-28 06:12] realshuting commented on #1836
Thinking more about this issue, currently there's no way to exclude multiple resources by name(per rule) as it only takes a single string. If we build multiple rules that exclude specific name in each, it conflicts with each other, as described above. This doesn't look right, we should allow multiple names (array) in "name" attribute.
@JimBugwadia - what do you think?

[2021-04-28 07:11] igorkchyts commented on #1836
@realshuting Tested, applying above to the rule working as expected.

Allow multiple names (array) in "name" attribute as you suggested is valuable and intuitive in my opinion.

Thank you.

[2021-04-28 07:27] stuh84 commented on #1831
So when I try this with `v1.3.4`, I see the following: -

[code]

I tried moving to `v1.3.5` (both the released version and the tagged version), and both go into a Errored state, with the following error: -

[code]

I see this in the `describe pods` output: -

[code]

So right now I can't move to `v1.3.5`

[2021-04-28 10:52] #1521 closed

[2021-04-28 11:27] Thoro opened #1842 "[BUG] apiCall.jmespath validation does not take variable substitions into account"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.3.5
* Kyverno version: 1.20.2

**Describe the bug**
When using jmespath replacement ({{request.object....}}) within the APICall.JMESPath the validation fails.

It seems that the APICall.JMESPath variables are actually replaced correctly:
https://github.com/kyverno/kyverno/blob/6a030

[2021-04-28 12:00] kacejot commented on #1840
@JimBugwadia, could you please describe additional fields that should not contain variables?

[2021-04-28 15:06] nlamirault opened #1845 "[BUG] [CLI] Can't test policy with comment into resource file"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:

* Kyverno version:
[code]

**Describe the bug**
Error with a comment into the yaml resource file.

**To Reproduce**

A resource :

[code]

[code]

[code]

Execution :

[code]

With out the comment :

[code]

**Expected behavior**
A clear and concise description of what you expected t

[2021-04-28 18:28] gabemontero commented on #1717
first, thanks to @JimBugwadia for spending the time to talk to me.

Next, yep, I was previously unaware of the API call feature.  What @JimBugwadia articulated makes sense to me, though there are certainly some "devil in the details" in pulling data from the AdmissionReview request, in particular the `{{request.object}}` and the sub fields off of that object to supply them to a subsequent `validat

[2021-04-28 19:41] NoSkillGirl commented on #1845
This issue is because of
[code]
As this separates the file into 2 parts and in the upper part its just a comment not a policy. Code expects file with policies separated by --- , but here it is empty.

[2021-04-28 19:57] Thoro commented on #1842
Per request from @chipzoller here are two manifests to test the issue:

[code]

[code]

I am aware that the matchLabels will only do a FULL match, and not a partly match like with In/Not In

[2021-04-28 20:12] #1737 closed

[2021-04-28 20:31] realshuting commented on #1831
The variable substitution was not supported in 1.3.4 (even 1.3.5), so you got that error.

Can you [uninstall Kyverno](https://kyverno.io/docs/installation/#uninstalling-kyverno) and start from a clean state?

[2021-04-28 20:31] #1826 closed

[2021-04-28 20:37] stuh84 commented on #1831
Unfortunately I have already tried that. I am installing from Helm charts if that makes a difference?

One point to note is that we do change the security contexts of the containers as they won't run in Openshift with the defaults. Is this likely to be the cause at all?

[2021-04-28 20:45] realshuting commented on #1831
We recently found that Helm does not manage CRD update and delete, so you may need to run this command to clean up all Kyverno resources till we find the solution, but I don't think this is the root cause.
[code]

What are these security contexts?

And can you make sure kyverno namespace is deleted before re-install? If you have Kyverno deployed now, can you share the following?
[code]

[2021-04-28 20:54] realshuting commented on #1836
I also added "Convert `match.resources.name` to an array" to the Contributor Meeting's [agenda](https://docs.google.com/document/d/1kFd4fpAoHS56mRHr73AZp9wknk1Ehy_hTB_KA7gJuy0/edit?usp=sharing).

[2021-04-28 22:34] #1812 closed

[2021-04-29 04:42] realshuting commented on #1836
After the discussion with @JimBugwadia, it is possible to allow multiple names per rule, but there's still a gap in match/exclude to allow precise match by kind/namespace/name. For example, we cannot select Deployment with name "nginx" and all StatefulSet (regardless of the name) in the same rule.

We can of course use `preconditions` as above to solve that, however, it's not a natural solution in

[2021-04-29 04:55] realshuting commented on #1841
We found a solution to solve the upgrade issue - in Kubernetes, an old version will always be marked as deprecated first and then dropped after a few releases (~3). It allows a resource (one kind) with different versions to exist in the cluster, we should follow the same way. If you check the CRD fields, it takes an array of objects in `spec.versions`:
[code]

I manually added the v1alph2 schema t

[2021-04-29 05:20] JimBugwadia commented on #1717
Hi @gabemontero  - I see how the generate can be leveraged to construct the SAR, but feel that if we support this feature, it may be easier to introduce a new type of validation rule to handle a SAR:

[code]

The controller can create the SAR and allow / deny the request based on the response.

However, its still not clear to me why using a SAR would be a better approach than just using a validate

[2021-04-29 07:00] NoSkillGirl opened #1848 "[BUG]Kyverno CLI Can not test if policy file is with comment"
**Software version numbers**
* Kyverno version: 1.3.5

**Describe the bug**
Error with a comment into the yaml policy file.

**To Reproduce**
A resource :
[code]

Policy:
[code]

Command:
`kyverno apply policy.yaml -r resource.yaml`

**Expected behavior**
Expecting resource to pass.

**Screenshots**
[code]

[2021-04-29 07:01] NoSkillGirl commented on #1845
Similar issue - https://github.com/kyverno/kyverno/issues/1848

[2021-04-29 07:17] stuh84 commented on #1831
As part of our uninstall of Kyverno, we remove all CRDs like so: -

[code]

Is there anything else we would need to remove?

We entirely remove the security contexts like so: -

[code]

Also, we don't use the `kyverno` namespace. Instead we use our own namespace (named `voltron-ac`). We have other admission controllers already running in this namespace, so I'd prefer if we didn't have to remove th

[2021-04-29 14:24] gabemontero commented on #1717
That simple/concise yaml appeals to me too as a user @JimBugwadia

Good question.  A couple of thoughts.
- my observation of opinions on the relative pros and cons of k8s RBAC vs. "RBAC styled" (hopefully that characterization is not too controversial :-) ) validations vary depending on the audience; I've certainly talked to folks who are wary of pattern matching based verification.
- and those fo

[2021-04-29 16:51] #1799 closed

[2021-04-29 17:09] #1515 closed

[2021-04-29 17:41] #1848 closed

[2021-04-29 17:45] realshuting commented on #1845
Closed via 1849.

[2021-04-29 17:45] #1845 closed

[2021-04-29 17:46] JimBugwadia commented on #1717
I generally like the idea of leveraging RBAC, but am not sure if its common to define authorization policies in RBAC and not use the standard RBAC authorizer to allow / deny the request.

Is this use case limited to operators / controller? If so, why not extend the operator / controller to use the SAR instead of delegating that to an admission controller? Seems like the assumption here is that the

[2021-04-29 17:46] #1734 closed

[2021-04-29 17:46] realshuting commented on #1525
Closed via 1789.

[2021-04-29 17:46] #1525 closed

[2021-04-29 17:58] #1676 closed

[2021-04-29 18:58] realshuting commented on #1831
@stuh84  - thanks for sharing the details.

Yes you can keep your namespace, I just wanted to make sure the endpoint was registered correctly, which seems to be okay as it used pod IP `10.1.8.86`.

From the output you attached, the endpoint shouldn't be a problem anymore. Do you still see this error? If so, can you set the log level to 4 `-v=4` and get detailed messages?
[code]

[2021-04-29 21:59] #1805 closed

[2021-04-30 01:56] realshuting opened #1853 "Granular control in match and exclude"
This issue is originated from https://github.com/kyverno/kyverno/issues/1836, the goal is to allow granular control in match and exclude block.

[code]

**Updated: it would be nice to add "request.operation" as a built-in attribute in the match and exclude block so that users don't need to specify "preconditions".**

[2021-04-30 01:57] realshuting commented on #1836
Closing, will create a separate issue to track the enhancement.

[2021-04-30 01:57] #1836 closed

[2021-04-30 06:56] stuh84 commented on #1831
Hi again @realshuting

Sorry, when I provided the information before, it was for the `v1.3.4` deployment. I've reinstalled with `v1.3.5` and the output of the commands are now: -

[code]

I've attached the output of the logs with the detailed logging

[kyverno-log-135.txt](https://github.com/kyverno/kyverno/files/6403419/kyverno-log-135.txt)

[2021-04-30 12:49] chipzoller opened #1854 "Create sample policy blocking Service of type ExternalName from using localhost"
/assign

[2021-04-30 14:55] treydock opened #1855 "[BUG] Errors updating cluster policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.6-rc1

**Describe the bug**
I received the following error after upgrading to 1.3.6-rc1:

[code]

**To Reproduce**
After the upgrade I reapplied all my policies after removing work around that required some to have annotation `pod-policies.kyverno.io/auto

[2021-04-30 14:56] treydock commented on #1855
I think this is the policy referenced in the error:

[code]

[2021-04-30 15:02] treydock opened #1856 "[BUG] Extra output printed in kyverno logs"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.6-rc1

**Describe the bug**
I noticed my kyverno logs have lots of these lines:

[code]

**To Reproduce**
Upgrade to Kyverno 1.3.6-rc1 and apply numerous validation policies

**Expected behavior**
I would expect either no extra output printed or the outpu

[2021-04-30 16:41] chipzoller commented on #1854
Policy now available: https://kyverno.io/policies/other/disallow_localhost_services/

[2021-04-30 16:41] #1854 closed

[2021-04-30 17:44] realshuting commented on #1855
Thanks @treydock ! It was me accidentally committed the debug message. Will remove it!

[2021-04-30 17:51] realshuting commented on #1855
@vyankd - can you take a look at this issue? I can reproduce it when creating the policy:

[code]

[2021-04-30 18:26] vyankyGH commented on #1855
Okay..

[2021-04-30 19:33] realshuting commented on #1831
Did the cluster restart before? Was node ready?

Looks like the endpoint wasn't registered successfully so that Kyverno crashed. Can you do `kubectl describe` on the endpoint and pod to check why endpoint was not ready? I suspect it relates to the cluster issue, not Kyverno.

Also from the log, I can see Kyverno cleaned up all webhook configurations, so it wouldn't break the cluster.

[2021-04-30 19:43] SailingYYC commented on #1519
@realshuting the `http` block never populates, when using Kyverno 1.3.5 and:

ClusterPolicy: https://github.com/kyverno/kyverno/issues/1519#issuecomment-771165884
Ingress: https://github.com/kyverno/kyverno/issues/1519#issuecomment-771153798

[2021-04-30 19:58] stuh84 commented on #1831
I'm not in work to run the command, but there have been no cluster/node restarts or any nodes unready for a long time in this cluster.

[2021-04-30 20:06] realshuting opened #1858 "Schema validation blocks the policy creation"
The schema validation of overlay blocks the policy with variables from creation.

Kyverno throws an error when creating the following policy, this is because `Ingress.spec.rules[0].http` takes a map but the specified variable is a string.
[code]

[code]

_Originally posted by @amsgeodis in https://github.com/kyverno/kyverno/issues/1519#issuecomment-771165884_

**Added later:  if I use in-place rep

[2021-04-30 20:18] realshuting commented on #1519
Hi @SailingYYC - thanks for bringing this up!

The above policy can't even be created due to the recent schema validation change. I've logged #1858 to track the fix.

For now, you can use JSON patch with variables substitution to mutate the Ingress, this was introduced in v1.3.6-rc1:
[code]

[2021-04-30 20:21] realshuting commented on #1831
Ok, if no restart, we'll have to find out why the endpoint wasn't registered correctly.

[2021-04-30 20:47] SailingYYC commented on #1519
@realshuting, thank you for your swift response. I've spent over 10 hours trying to fight to get a simple Ingress mutation, and it seems we are still not there. Using the policy you gave above (and I've tried variants of `patchesJson6902` (this needs an upsert op) and `patchStrategicMerge` all without success.

Using your most recent policy, Kyverno 1.3.5 Helm deployed, no policies in cluster exce

[2021-04-30 21:54] realshuting commented on #1519
Are you using the latest version `v1.3.6-rc1`?

[2021-04-30 23:39] SailingYYC commented on #1519
v1.3.5

[2021-04-30 23:53] realshuting commented on #1519
Hi @SailingYYC - can you upgrade to `v1.3.6-rc1`? As I mentioned above, the variable substitution (below) was introduced in 1.3.6.
[code]

[install-kyverno-using-helm](https://kyverno.io/docs/installation/#install-kyverno-using-helm):

[code]

[2021-05-01 14:02] NoSkillGirl opened #1859 "[BUG] Generated resource `synchronize` label does not change from enable to disable after updating the generate policy"
**Software version numbers**

* Kubernetes version: 1.19.3
* Kyverno version: 1.3.6-rc1

**Describe the bug**
On updating a generate policy with `synchronize: false` to `synchronize: true` the label in the generated resource should get updated to `policy.kyverno.io/synchronize: disable`.

**To Reproduce**
apply following policy:
[code]

apply following namespace manifest:
[code]

now check the gen

[2021-05-01 20:25] Thoro commented on #1842
@realshuting I have made a proof of concept to add a new JMESPath function, which would solve this:

https://github.com/Thoro/kyverno/tree/1842-add-label_match-jmespath

[2021-05-01 22:25] weastel commented on #1834
@realshuting I tried to implement following feature via PR #1861. If possible, Can you please review it ?

[2021-05-02 07:21] Thoro commented on #1842
I have updated my proof of concept with test cases and created a PR

[2021-05-02 14:44] treydock commented on #1855
I think the issue might be a bug in Kubernetes but not sure why I didn't see this with Kyverno 1.3.5.  Still looking to see if maybe something with Kyverno changed to provoke this bug: https://github.com/kubernetes/kubernetes/issues/82296

[2021-05-02 15:02] vyankyGH commented on #1855
@treydock I'm sending PR for this issue soon.

[2021-05-03 12:26] treydock opened #1865 "[BUG] The `test` subcommand does not handle directory tests very well"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.6-rc1

**Describe the bug**
A clear and concise description of what the bug is.
When executing tests against a directory using `kyverno test` if there were errors they are never printed.  Also there appears to be logic to look for how many YAML files are

[2021-05-03 14:09] treydock opened #1867 "[BUG] Policies seen as invalid after 1.3.6-rc1 upgrade"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kyverno version: 1.3.6-rc1

**Describe the bug**
Policies that were valid in 1.3.5 are now invalid with 1.3.6-rc1.

**To Reproduce**
[code]

[code]

**Expected behavior**
I would expect the policies that were valid in 1.3.5 to be valid with 1.3.6-rc1.

[2021-05-03 14:28] treydock commented on #1867
This is my Kubernetes cluster that is still on Kyverno 1.3.5:

[code]

[2021-05-03 15:48] chipzoller commented on #1796
Available here: https://kyverno.io/policies/other/restrict_node_selection/

[2021-05-03 15:48] #1796 closed

[2021-05-03 15:48] chipzoller commented on #1795
Available here: https://kyverno.io/policies/other/restrict_controlplane_scheduling/

[2021-05-03 15:48] #1795 closed

[2021-05-03 15:49] chipzoller commented on #1170
Looks to be addressable in PR #1862

[2021-05-03 15:52] chipzoller commented on #1069
Tracking for 1.3.7

[2021-05-03 16:06] chipzoller commented on #747
/close

[2021-05-03 16:06] SailingYYC commented on #1519
Good morning @realshuting!

I actually think I had seen this closer to working with 1.3.5. I put together a test script to make sure the output is consistent. The results are below:

[code]

[2021-05-03 16:07] chipzoller commented on #748
All referenced issues are closed. Close this issue as well?

[2021-05-03 16:15] chipzoller commented on #984
This issue should be addressed now that `match` / `exclude` statements support GVK options as we documented [here](https://kyverno.io/docs/writing-policies/match-exclude/). Close?

[2021-05-03 16:22] #1856 closed

[2021-05-03 16:35] chipzoller commented on #1221
Close for now.

[2021-05-03 16:35] #1221 closed

[2021-05-03 16:37] #1262 closed

[2021-05-03 16:41] chipzoller commented on #1354
@kacejot checking to see if this is something you're still planning to undertake.

[2021-05-03 16:47] chipzoller commented on #1378
Trying to follow up on this one @realshuting and I'm not positive. Since #1339 was closed by https://github.com/kyverno/kyverno/pull/1478, were these methods implemented or removed? Wanting to know if this now just gets closed or closed in favor of a documentation issue (and what to document).

[2021-05-03 16:51] chipzoller commented on #1381
This appears to already be implemented, shown below as output of creating the above policy in Kyverno 1.3.5:

[code]

Close?