[2021-05-03 16:54] chipzoller commented on #1384
Related to comment [here](https://github.com/kyverno/kyverno/issues/1810#issuecomment-821561846).

[2021-05-03 17:32] gabemontero commented on #1717
Embedded responses below @JimBugwadia

Yes operator/controller/CRD based things, which I'll refer to below as "add on features to k8s", has been the primary motivator.  Tekton being an example.  Your question hits home.  I originally tried to advocate baking in RBAC motivated admission webhooks into Tekton.  However, myself and my team were unable to get consensus with enough of the lead maintaine

[2021-05-03 17:49] Thoro commented on #1170
with #1862 this can be solved :

[code]

[2021-05-03 18:15] chipzoller commented on #1685
@JimBugwadia I put a comment in the proposal document referenced [here](https://github.com/kyverno/kyverno/issues/1745), but it seems like a use case like the one in this policy requires nesting of the `foreach` statement so it's possible to say "do X mutation for every `env` array in every container in every pod" as an example.

[2021-05-03 18:33] chipzoller commented on #1784
@DannyLyubenov Is there anything more to add on this issue or can it be closed?

[2021-05-03 18:39] chipzoller commented on #1485
@realshuting recommending we re-open this issue and leave it open until all the schema elements (Examples include `preconditions`, `validate.deny.conditions`, `pattern`, `anyPattern`, `matchExpressions`, and `matchLabels`) are covered. Presently only `preconditions` and `validate.deny.conditions` have coverage.

[2021-05-03 18:50] SailingYYC commented on #1519
My end goal, is to create a mechanism to reduce all the Ingress boiler plate in out environments, eg.

[code]

[2021-05-03 19:47] treydock opened #1868 "[BUG] Segfault when trying to test resources using variables"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.0
* Kyverno version: 1.3.6-rc1 + #1866

**Describe the bug**
[code]

**To Reproduce**
[code]

Policy:

[code]

**Expected behavior**
Based on comments here: https://github.com/kyverno/kyverno/pull/1789#issuecomment-823786329 , I would expect I'm doing right thing.

**Additional c

[2021-05-03 20:26] vakkur commented on #1540
When I upgraded from 1.3.4 to 1.3.5, the kyverno preinstaller was restarting serval times running OOM, I deleted the helm deployment and redeployed it but still had the issues. Only after deleting all the CRD's related to kyverno and then reinstalling it worked, not sure if anyone encountered this issue.

reportchangerequests.kyverno.io CRD had over 4800 items not sure what its tracking

![image](

[2021-05-03 20:52] #747 closed

[2021-05-03 20:54] #748 closed

[2021-05-03 21:13] treydock commented on #1868
Another case that is causing segfaults, similar but maybe simpler to work with:

Policy
[code]

Tests:

[code]

[2021-05-03 21:58] #1855 closed

[2021-05-03 22:17] realshuting commented on #984
This issue is to change [resourceFilters](https://kyverno.io/docs/installation/#resource-filters) defined in the configMap so that we can exclude resources by GVK globally. Still need this to track the progress.

[2021-05-03 22:18] chipzoller commented on #984
Ok, so we need an accompanying documentation issue to cover this. We'll need to update that page with the option to include rather than exclude resources.

[2021-05-03 22:19] realshuting commented on #1381
@chipzoller - the goal of this issue is to return warnings as part of the admission response. Once change, the user will get this warning when uses "kubectl", for example.

[2021-05-03 22:20] chipzoller commented on #1381
Ok, got it.

[2021-05-03 22:30] realshuting commented on #1540
Hi @vakkur - could be a similar issue with https://github.com/kyverno/kyverno/issues/1759#issuecomment-814515950. Do you have CronJob running in your cluster?

[2021-05-03 22:38] vakkur commented on #1540
@realshuting thank you for your reply, I do not have any cron jobs running in my cluster. the report change requests are even higher in my test cluster, would this cause the issue when I am trying to upgrade??
![image](https://user-images.githubusercontent.com/54898671/116941977-4f163900-ac36-11eb-97dd-7d7039ca0f9e.png)

[2021-05-03 22:43] realshuting commented on #1540
It could take time for the init container to clean up all these resources. What you can do is delete the CRDs and reinstall Kyverno from a clean state.
[code]

Is your test cluster running 1.3.4?

[2021-05-03 22:47] vakkur commented on #1540
Yes, my cluster is running on 1.3.4,

Currently, I am running this script to delete change request

for each in $(kubectl get Reportchangerequests -n kyverno -o jsonpath="{.items[*].metadata.name}" )

do
  kubectl delete Reportchangerequests $each -n kyverno
done

[2021-05-03 22:56] realshuting commented on #1519
Hi @SailingYYC - thanks for providing the script.

Have you manually tried out the policy? Did it mutate the Ingress successfully?

What I suspect is that the resource (Ingress) was created before the webhook configurations were registered (after Kyverno became running and ready), and Kyverno did not receive the creation event for the Ingress. Kyverno would print out "received admission request...

[2021-05-03 23:02] realshuting commented on #1540
That script should do as well.

If you see this issue again with 1.3.5, can you please attach Kyverno logs and the RCRs details? If there are lots of RCRs, at least check the resource it reports on.

[2021-05-03 23:06] realshuting commented on #1485
@chipzoller - can you elaborate on what schema elements need to be covered?

[2021-05-03 23:08] chipzoller commented on #1485
Pattern, matchLabels, and matchExpressions

[2021-05-03 23:16] realshuting commented on #1485
For matchLabels and matchExpressions , are you talking about using `selector` in match/exclude block?

`matchLabels` takes a string map, what do we want to do here?
[code]

`matchExpressions` takes a list of objects, which has key, operator and values. Is there something we need to validate?
[code]

[2021-05-03 23:30] realshuting opened #1869 "Enable schema validation for validate policies"
**Is your feature request related to a problem? Please describe.**
With Kyverno v1.3.6-rc1, the schema validation(of the resource) is only enabled for the mutate policy, not validate.

If I create the mutate policy with the following overlay, Kyverno denies it as it's invalid.
[code]

[code]

But the following validate policy can be created successfully:
[code]

**Describe the solution you'd like*

[2021-05-03 23:32] realshuting commented on #1485
@chipzoller - and I logged this issue to enable schema validation for the validate policy, is this what you are asking for? https://github.com/kyverno/kyverno/issues/1869

[2021-05-03 23:55] SailingYYC commented on #1519
@realshuting Still no mutation... I've also repeatedly removed and recreated the ingress without success.

[code]

[2021-05-03 23:55] treydock commented on #1868
I think I found the problem and added a fix to #1866 for at least my second case: https://github.com/kyverno/kyverno/pull/1866/commits/d7886bddc9b47fb08858fcd69a14370b0e014198

[2021-05-03 23:57] treydock commented on #1868
Well so far looks like that commit fixes the segfault but now a test that should fail is not failing, the failure test in my second comment is not failing like it should.

[2021-05-04 00:03] treydock commented on #1868
I think there is some weird variable assignment maybe happening:

[code]

The second failure fails no matter if I mark it `pass` or `fail` and the name after `with` in output is wrong, should be `pod-user-validation/pods-require-valid-uid` like the first entry.

[2021-05-04 00:03] realshuting commented on #1519
I noticed that you are using `extensions/v1beta1` in the Ingress manifest, which will be dropped in 1.22. Can you please update to use `networking.k8s.io/v1` instead?

[2021-05-04 00:04] treydock commented on #1868
My mistake, things work now, was typo on my part.  So looks like this issue maybe solved by #1866 but I'm still testing.

[2021-05-04 00:36] realshuting opened #1870 "[BUG] List variables cannot be handled in CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.6-rc1

**Describe the bug**
Kyverno CLI cannot handle list values when uses variable substitution.

**To Reproduce**
The following mutate policy cannot be applied due to variable substitution failure:
[code]
[code]
Ingress:
[code]

Here's another example:
[code]

[code]

[code]

[2021-05-04 08:26] stuh84 commented on #1831
This is what I'm seeing

[code]

[2021-05-04 09:43] DannyLyubenov commented on #1784
Hi @chipzoller unfortunately i could not manage to get Kyverno working successfully and as intended. Somehow my team and I are getting different results from you guys. But please go ahead and close the issue

[2021-05-04 10:59] vakkur commented on #1540
@realshuting  v1.3.5 onwards would it automatically delete the RCR's after a period of time?

[2021-05-04 12:47] chipzoller commented on #1485
No, this issue was created to create an `any` and `all` field in the places where currently Kyverno accepts multiple "things" but has an implicit logic assigned. This was [done ](https://github.com/kyverno/kyverno/pull/1604) already with `preconditions` and `validate.deny.conditions` but it hasn't been done with the other fields.

[2021-05-04 12:59] chipzoller commented on #1784
Then let's keep looking into this issue if you're up for it. Where are you presently? Have you completely removed Kyverno and all its CRDs? Can you try the latest 1.3.6 RC and start from scratch?

[2021-05-04 13:16] stuh84 commented on #1831
Latest update - I have a version of this working, the below works as expected: -

[code]

This seems to do what we need.

I suppose the limitation we now have is that the `DeploymentConfig` rule only takes effect on the first container. This will be fine in a lot of cases, but it won't always be the case.

Is there a way we can apply this to all container definitions, rather than just the first?

[2021-05-04 13:25] chipzoller commented on #1831
As of right now, you'd have to add another JSON patch object to the `patchesJson6902` scalar which names additional indices for those containers, which we know isn't ideal. It'd look like this:

[code]

@JimBugwadia is [proposing ](https://github.com/kyverno/kyverno/issues/1745 )a solution to this and many other similar problems, so your input would be helpful.

[2021-05-04 13:48] nlamirault commented on #1616
@realshuting how manifests files are generated ?

[2021-05-04 14:58] SailingYYC commented on #1519
@realshuting, if you take a look at the scripts above, they are creating `networking.k8s.io/v1` resources. k8s v1.19 still converts them back to their "primary" version on output.

[2021-05-04 16:48] realshuting commented on #1842
Closed via #1862.

[2021-05-04 16:48] #1842 closed

[2021-05-04 17:07] chipzoller commented on #1842
Do we need to make a documentation issue to state variables are now allowable in JMESPath expressions but need to be enclosed in backticks?

[2021-05-04 17:33] treydock opened #1876 "Improved handling of CLI test cases"
**Is your feature request related to a problem? Please describe.**
Currently with `kyverno test` a misconfigured test that matches nothing is treated the same as a test where the resource does not match the policy being tested, like if the policy has selectors that exclude the resource.  This was mentioned in #1866

**Describe the solution you'd like**
I'd like to expand the test `status` to inclu

[2021-05-04 17:35] Thoro commented on #1842
@chipzoller variables were already allowed in JMESPath, but due to the parsing check in the beginning it failed if the variable was not within ''  (variable was interpreted by JMESPath as string)

A documentation to remark that variables are available at any point inside the JMESPath (also as operators if you will want to) would be good, and that per side effect JMESPath with variables are only va

[2021-05-04 17:48] JimBugwadia commented on #1853
One option would be to change as follows:
1. Change `name` to `names` and allow a list
2. Change `resources` to a list which can contain (names, kinds, namespaces, selector, and namespaceSelector)

For example, the `match` below will select Deployments with specific names in specific namespaces, but all pods:

[code]

[2021-05-04 17:50] JimBugwadia commented on #1485
Not sure if `any` and `all` make sense in the match / exclude, as there is implicit logic that needs to apply (`or` within a type like `kinds` and an `and` across types).

Also see: https://github.com/kyverno/kyverno/issues/1853

[2021-05-04 18:00] realshuting commented on #1814
Closed via #1875.

[2021-05-04 18:00] #1814 closed

[2021-05-04 18:23] chipzoller commented on #1485
Maybe putting `matchLabels` and `matchExpressions` aside for a minute, this could still be put into `pattern` and deprecating `anyPattern` so there's more control.

[2021-05-04 18:26] chipzoller commented on #1842
So is the syntax back ticks (`) or single quotes (') for variable encapsulation in JMESPath? Your example shows back ticks.

[2021-05-04 18:56] JimBugwadia commented on #1485
Yes, I agree with that!

[2021-05-04 19:05] realshuting commented on #1485
I see your point now. I would suggest log a separate issue for this, what do you think?

[2021-05-04 19:09] realshuting commented on #1540
Yes, RCRs are cleaned up after they merged to policy reports.

[2021-05-04 20:05] realshuting commented on #1616
We use Kustomize to manage direct manifests. There's a Make command for that make `kustomize-crd`.

[2021-05-04 20:42] realshuting commented on #1519
Wait, I noticed that the Ingress was created in `kyverno` namespace, can you confirm? If so, you may want to create it in another namespace, `kyverno` is [ignored](https://kyverno.io/docs/installation/#resource-filters) by default.

[code]

[2021-05-05 00:53] realshuting commented on #1540
@snir911 - sorry I mixed this issue with https://github.com/kyverno/kyverno/issues/1731#issuecomment-806453942. I sent a PR https://github.com/kyverno/kyverno/pull/1878 to remove "Secret" from the default resource cache. In long term, we should find a way to[ custom informer cache ](https://github.com/kyverno/kyverno/issues/1832) to reduce memory usage.

[2021-05-05 05:28] Thoro commented on #1842
Both are not related to variable encapsulation.

The JMESpath language specification includes:

`` for literal json
'' for literal string

Variables are embedded into the JMESPath as either JSON or String (if it's of type string). See here:

https://github.com/kyverno/kyverno/blob/6a0305674aab92f94ca96409889630c943f04d5d/pkg/engine/variables/vars.go#L243

The means that this is also a valid JMESpa

[2021-05-05 06:05] realshuting commented on #1540
@snir911 - the PR was merged, here's the image tag with the fix `v1.3.6-rc1-7-ge9952fba`. Will you be able to verify the fix? Or you can wait for the stable release.

[2021-05-05 07:14] nlamirault commented on #1616
See #1873 1873

[2021-05-05 08:48] snir911 commented on #1540
@realshuting thanks, I'll update once I'll be able to test it

[2021-05-05 10:37] NoSkillGirl commented on #1868
closing with https://github.com/kyverno/kyverno/pull/1866

feel free to reopen, if the issue still exists.

[2021-05-05 10:37] #1868 closed

[2021-05-05 13:02] chipzoller opened #1879 "Extend `any` / `all` to `pattern`; deprecate `anyPattern`"
See parent issue #1485 for context.

This issue is to track the extension of `any` and `all` (docs [here](https://kyverno.io/docs/writing-policies/preconditions/#any-and-all-statements)) as already enabled for `preconditions` and `validate.deny.conditions` but for `pattern`. Once `any` / `all` are available for `pattern`, plan to deprecate `anyPattern` since this new functionality will obsolete `a

[2021-05-05 13:03] chipzoller commented on #1485
Yes, agree, so logged #1879 to track this separately.

[2021-05-05 13:23] chipzoller commented on #1485
Coming back to the [comment ](https://github.com/kyverno/kyverno/issues/1485#issuecomment-832127856) from @JimBugwadia above regarding `matchLabels` and `matchExpressions`:

Both `matchLabels` and `matchExpressions` are found at two different object levels within both `match` and `exclude` statements:

[code]
But with both of them, the logic is `AND`ing them without user choice.

[code]

This mean

[2021-05-05 13:26] chipzoller commented on #1879
@yashvardhan-kukreja tagging you since you were the one who submitted the PR handling the implementation for `preconditions` and `validate.deny.conditions`.

[2021-05-05 19:18] NoSkillGirl commented on #1401
@chipzoller - Currently, if any changes is done to the source resource, same changes are expected in the cloned resource.
What about after deleting the generate policy. Should the generated resource change according to the source resource or not?

[2021-05-05 19:21] chipzoller commented on #1401
No, that's not what I mean. I'm talking about deletion of the Kyverno policy itself and what gets logged.

Since the policy was deleted, and that policy was the thing that specified synchronization, should the source resource be changed those changes should not be propagated downstream.

[2021-05-06 03:25] vyankyGH commented on #1865
close with https://github.com/kyverno/kyverno/pull/1866

[2021-05-06 03:25] #1865 closed

[2021-05-06 11:20] Thoro opened #1883 "Allow background scanning if only request.operation is used in preconditions"
**Is your feature request related to a problem? Please describe.**
If you want to have background scanning active, and only enforce on CREATE,UPDATE it's currently not possible, because the precondition stops the background scan from working.

**Describe the solution you'd like**
Use CREATE operation for background scanning, this makes most sense, since there's no old object during scanning, and c

[2021-05-06 11:41] elvis-cai opened #1884 "[BUG] Validating Resources works for Deployment not ReplicaSet"
**Software version numbers**
1.3.3

* Kubernetes version: v1.17.17-gke.3700
* Kyverno version: 1.3.3(install with helm chart)

**Describe the bug**
trying to use kyverno for validating and mutating resources, it works perfectly in mutating resoruces with ReplicaSet Kind, when we trying to deny a new even which is to create a new ReplicaSet  and matches a specific label we found it works with Deplo

[2021-05-06 12:46] chipzoller commented on #1884
By default, Kyverno is excluding ReplicaSet kinds because this resource type isn't usually created outside of Pod controllers like Deployments, DaemonSets, etc. However, you can have Kyverno act on those resources by removing the relevant entry in the Kyverno ConfigMap. The default looks like this:

[code]

Simply remove the `[ReplicaSet,*,*]` part.

[2021-05-06 17:22] vyankyGH opened #1885 "[BUG] while converting the autogen rule, update JMESPath variable metadata"
If the `match.kind` is Pod , we need to update `request.object.metadata` to `request.object.spec.template.metadata`

[2021-05-06 17:42] chipzoller commented on #1885
To clarify, the action here is to scan for variables which state `{{request.object.metadata.*}}` and, for the auto-gen rules for other controllers, mutate those variables to instead be `{{request.object.spec.template.spec.metadata.*}}`?

[2021-05-06 18:56] chipzoller commented on #1885
matadata == "metadata" :)

[2021-05-06 19:02] #1732 closed

[2021-05-06 19:03] chipzoller opened #1886 "Kyverno user-controlled TLS certificate handling"
**Is your feature request related to a problem? Please describe.**
In production environments, users expect the ability to bring and manage their own custom TLS certificates for Kyverno to use. While Kyverno will have the ability to monitor this custom certificate (probably via a Kubernetes Secret resource), there arises the possibility of users supplying "faulty" certificate data either on day1 o

[2021-05-06 19:04] chipzoller commented on #1886
/label HA

[2021-05-06 19:42] realshuting commented on #1616
Thanks @nlamirault, looks like #1873 still manages all direct manifests and Helm manifests differently. The goal of this issue is to have a central way to manage both. For example, for label changes, we only need to change a single file and then the change can be propagated to all related manifests with a `Make` command.

[2021-05-06 20:11] #1859 closed

[2021-05-07 00:37] realshuting opened #1887 "Gracefully drain the queue in the webhook server"
In the webhook server, we have channel / queue to store generate request and admission request data. If the process is terminated, we need to complete pending requests / drain the queue and then shutdown Kyverno gracefully.

See details at https://docs.google.com/document/d/1zW_UQmY98PdTdJzcdhMkHbJm1zpVklhlUQnMz_15C0s/edit#heading=h.vyj6nn9zynp.

[2021-05-07 00:40] realshuting opened #1888 "Leader election for the generate controller"
To support HA, we need to enable leader election for the generate controller: https://docs.google.com/document/d/1zW_UQmY98PdTdJzcdhMkHbJm1zpVklhlUQnMz_15C0s/edit#heading=h.xel2d13vj3ne.

[2021-05-07 00:56] realshuting opened #1889 "Leader election for the policy controller"
Kyverno audit policy results in the background scanning, the results are aggregated to the policy reports. This process involves three components: policy controller, report change request controller, and policy report controller. These controllers are coupled, the result of the first controller providing the set point for the second, and so on. To support HA, these need to be changed all together

[2021-05-07 10:13] NoSkillGirl commented on #1867
Wherever we have additionalProperties, the schema validation fails if that attribute is defined in the policy. To name a few, `spec.rules.match.resources.annotations`, `spec.rules.match.resources.namespaceSelector`. After removing entire additionalProperties definition, the validation passes.

TODO:
For now, remove all these definitions to pass the CLI validation, as string map is validated when w

[2021-05-07 10:23] NoSkillGirl opened #1890 "Root cause for the failure of schema validation"
**Software version numbers**
State the version numbers of applications involved in the bug.
* Kubernetes version: 1.20.5
* Kyverno version: 1.3.6-rc1

**Describe the bug**
We are using external library - https://github.com/kubernetes/apiextensions-apiserver/issues for schema validation. There is a issue which was reported after the addition of the above library (https://github.com/kyverno/kyverno/

[2021-05-07 11:39] abhishekghiya opened #1892 "[BUG] Helm Installation of Policies is failing sometimes"
* Kubernetes version: 1.18
* Kyverno version: 1.3.5

**Describe the bug**
![image](https://user-images.githubusercontent.com/76930832/117444547-40da5c80-af57-11eb-985e-f90807b12f07.png)

Sometimes Helm installation of Kyverno is failing with above error. It looks like CRDs are yet in process of creation but policies are getting deployed before CRD objects are registered.

I believe with helm 3 ..

[2021-05-07 11:43] chipzoller commented on #1892
You state that you're using Kubernetes 1.8? Or is this **1.18**?

[2021-05-07 11:55] abhishekghiya commented on #1892
Yes @chipzoller , it is 1.18 , thanks for notifying

[2021-05-07 12:01] chipzoller commented on #1892
Are you able to reproduce the problem? If so, can you try Helm 3.5.2+?

[2021-05-07 12:26] abhishekghiya commented on #1892
Thanks @chipzoller for the suggestion. The issue seems to be with the helm version i was using. After upgrading to latest helm version, v3.5.4, issue is no longer reproducible

[2021-05-07 12:26] #1892 closed

[2021-05-07 16:53] realshuting commented on #1776
Closed via #1871.

[2021-05-07 16:53] #1776 closed

[2021-05-07 17:25] #1867 closed

[2021-05-07 21:10] yashvardhan-kukreja opened #1893 "[BUG] All namespaces being considered for kind:Policy while PolicyReports get created"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.5

**Describe the bug**
Even despite creating a Kyverno `Policy` (namespaced) in one namespace, and creating a resource in other namespace in such a way that that resource would have triggered the policy if that resource was created in the policy's namespac

[2021-05-07 21:10] yashvardhan-kukreja commented on #1893
/assign

cc: @realshuting

[2021-05-07 21:55] realshuting commented on #1893
Thanks @yashvardhan-kukreja .

[2021-05-07 22:03] yashvardhan-kukreja opened #1894 "[BUG] Kyverno crashing due to the webhook server panic"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.6-rc2

**Describe the bug**
Whenever Kyverno receives an admission request, webhook server panics

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the following policy
[code]
2. Apply the deployment in the default namespace
[code]
3. The deployme

[2021-05-07 22:43] realshuting opened #1896 "[BUG] Panic in ForceMutate"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.6-rc2

**Describe the bug**
When installing policy `test/best_practices/add_safe_to_evict.yaml`, Kyverno throws a panic:

[code]

cc @kacejot

[2021-05-07 23:16] realshuting commented on #1896
@kacejot - I sent #1898 to temporarily remove the check for `strategicMergePatch`, can you please investigate the issue?

[2021-05-07 23:27] #1876 closed

[2021-05-07 23:28] #1893 closed

[2021-05-08 00:01] #1378 closed

[2021-05-08 01:29] #1894 closed

[2021-05-08 11:01] fjogeleit opened #1900 "[BUG] PSP Policies installed with Helm lose Annotations"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.1
* Kyverno version: v1.3.6-rc2

**Describe the bug**

If I install the Kyverno with Helm it ships with PSP based ClusterPolicies. A few seconds / minutes after the installation this Rules are updated, in this process they lose custom annotations like: `policies.kyverno.io/catego

[2021-05-08 12:59] chipzoller commented on #1170
Thanks! Modified to match the ClusterPolicy sample you provided for checking for NetworkPolicy:

`cpol.yaml`
[code]

`pdb01.yaml`
[code]

`deploy.yaml`
[code]

[2021-05-08 13:03] chipzoller commented on #1170
/label sample policy

[2021-05-08 13:09] chipzoller commented on #1170
And thank you again to @Thoro for implementing the cool `label_match` custom JMESPath filter making this and other new Kyverno policies possible!

[2021-05-08 14:12] anishagg17 commented on #1869
Hi @realshuting, I would like to work on this one.

[2021-05-08 14:13] chipzoller commented on #1830
@windowsrefund Provided my previous comment, are you able to reproduce this issue on your end with the combination of components listed? Or should we consider this resolved?

[2021-05-08 14:15] chipzoller commented on #1869
See also relevant comment [here](https://github.com/kyverno/kyverno/issues/1823#issuecomment-823265016).

[2021-05-08 14:21] chipzoller commented on #1818
@Dhairya3124 Is this something you're still planning on taking? If not, we'll need to reassign since this is needed fairly soon.

[2021-05-08 14:26] chipzoller commented on #1810
@kacejot Is this something you're still interested in working on, and is there other discussion needed prior to implementation?

[2021-05-08 16:17] realshuting commented on #1900
HI @fjogeleit - can you test v1.3.6-rc3? I installed it using Helm, and the annotations were still there after 10mins.

[2021-05-08 17:05] fjogeleit commented on #1900
yep, v1.3.6-rc3 works fine. Annotations still exists after pod-policies.kyverno.io/autogen-controllers is added. Thanks for checking @realshuting.

[2021-05-08 17:05] #1900 closed

[2021-05-08 20:00] anishagg17 commented on #1869
Alright, I got your point that we need to adapt validation according to the case. I will consider all those points within the PR(if applicable) and you can then look up if there's something missing.

[2021-05-10 17:12] chipzoller commented on #1519
Confirmed. It seems Kyverno isn't doing anything to Ingress resources. Even a simple `metadata.name` replacement, which works on a Deployment (for example) does not work on an Ingress.

[code]

[2021-05-10 18:50] therc opened #1902 "Policy with bad expression in patchStrategicMerge gets silently dropped"
I couldn't find a similar report anywhere.

**Software version numbers**
* Kubernetes version: EKS 1.19
* Kyverno version: 1.3.6-rc1

**Describe the bug**
A reference to request.userinfo.groups, which is a list, results in a mutating policy getting silently dropped.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the example from https://www.cncf.io/blog/2020/12/30/auto-labeling-kuberne

[2021-05-10 20:58] vyankyGH commented on #1902
@therc
Here is the finding for the issue:

1. - `userInfo.groups` is a list, it cannot be used as single value in the label map. Can use 'kyverno/groups: "{{ request.userInfo.groups[0] }}"'.
2. If the value of `userInfo.groups` include ` :`  is invalid in the label map.

[2021-05-10 21:06] therc commented on #1902
@vyankyGH  shouldn't that result in at least one error message per rule? Right now, the rule never seems to execute, without any explanation why. I do admit that I was just poking things around... e.g. trying to find out in which order groups might appear. I already commented out the exclude fragment (after fixing the typo), but it makes no difference.

[2021-05-10 22:25] realshuting opened #1903 "Versions mismatched in resource schema validation"
Good morning @realshuting, hope you had a great weekend.

That was a good catch, and I should have seen it earlier, I do apologize. After a couple of days still trying to get this working, even in its simplest form, it doesn't want to do a basic mutation. To be certain:
- Removed `kyverno`, all CRDs, etc. from the cluster.
- Helm installed the latest `1.3.6-rc3` in namespace `kyverno`
- Waited pas

[2021-05-10 22:56] realshuting commented on #1903
Kyverno validates resource schema after the mutate policy is applied. However, the openAPISchema is stored in a map using the `Kind` as the key only, this brings an issue that the versions of the schema are mismatched.

Take the above policy as an example, it mutates the `Ingress`. With k8s 1.20.2, there are 3 versions available for `Ingress`: `extensions.k8s.io/v1beta1`, `networking.k8s.io/v1` an

[2021-05-10 23:01] realshuting commented on #1519
Let's continue the discussion in #1903.

[2021-05-10 23:02] JimBugwadia commented on #1903
Hi @realshuting - yes, I agree. We need to store all versions of the schema available in the cluster moving forward.

I suggest that if we can fix in the next day or two, we can hold 1.3.6. Otherwise we can plan another patch release for this fix.

[2021-05-10 23:07] realshuting commented on #1903
Ok, I can pick this up, two days should be good including testing.

[2021-05-10 23:07] chipzoller commented on #1903
Agree, all versions of the schema should be stored. Do we know when this stopped working? Was it just in this patch release or an earlier one? Unless there's a viable workaround we can publish (I am unable to find one for my sample policy), this should get resolved prior to cutting 1.3.6. Stable versions shouldn't break the ability to work with resources wholesale.

[2021-05-10 23:14] realshuting commented on #1903
Not sure if this worked in prior versions, it also depends on the cluster version.

[2021-05-10 23:27] chipzoller commented on #1903
So why is it that specifying the `kind` in GVK format works for this sample policy but not mine test policy that just mutates `metadata.name`? Going forward, if the `kind` is specified in that format, there should be no guessing as to which version of the schema against which Kyverno should be validating its resources.

[2021-05-10 23:51] chipzoller commented on #1903
Then if there's no present way to mutate an Ingress resource, which is a core Kubernetes type, in my opinion this is a blocker to a stable release.

[2021-05-12 00:57] JimBugwadia opened #1905 "Prevent bad policies"
**Is your feature request related to a problem? Please describe.**

Its fairly easy to write a bad policy that can create a temporary DoS (API throttling kicks in, eventually):

See: https://twitter.com/noelgeorgi/status/1392002713521516544

This example generates a Deployment when a new Deployment is created! Bad!

**Describe the solution you'd like**

1. Kyverno should try and detect and prevent

[2021-05-12 03:44] JimBugwadia commented on #1905
Here is an example of signed K8s resources: https://www.openshift.com/blog/k8s-integrity-shield-tech-preview-protecting-the-integrity-of-kubernetes-resources-with-signature

[2021-05-12 18:58] realshuting commented on #1869
An update about the issue - after v1.3.6-rc3, this schema validation for strategicMergePatch is temporarily missing, as we reverted one change #1898 due to #1896.  That means such invalid strategicMergePatch polices won't be blocked during creation.  But this has nothing to do with validation policy.

[2021-05-13 19:03] #1903 closed

[2021-05-14 17:29] chipzoller opened #1909 "Add sample policy to mutate images to use custom registry"
[code]

Verify with

[code]

[2021-05-14 17:29] chipzoller commented on #1909
/assign

[2021-05-14 17:29] chipzoller commented on #1909
/label sample policy

[2021-05-14 17:31] realshuting commented on #1909
Thanks @chipzoller!

[2021-05-15 03:50] JimBugwadia opened #1910 "Range operator"
**Is your feature request related to a problem? Please describe.**

Support range comparison operator:

[code]

**Additional context**

See:  https://github.com/kyverno/policies/issues/51

[2021-05-15 14:20] chipzoller opened #1911 "Add sample policy to mutate Pods with ndots = 1"
Need sample policy showing how to add ndots config to pods.

[2021-05-15 14:20] chipzoller commented on #1911
/assign

[2021-05-15 14:20] chipzoller commented on #1911
/label sample policy

[2021-05-15 18:34] JimBugwadia commented on #1911
I am not familiar with what `ndots` is.....is this request related to the issue described here?

https://pracucci.com/kubernetes-dns-resolution-ndots-options-and-why-it-may-affect-application-performances.html

[2021-05-15 18:41] chipzoller commented on #1911
Related yes but doesn't solve that exact problem. I've got the policy stored in my fork along with a couple others I'll batch. This issue was just a placeholder for me.

[2021-05-15 22:29] JimBugwadia commented on #1910
@kacejot - I recall discussing this for PSP conversion....is this still pending?

[2021-05-16 12:34] abhishekghiya opened #1912 "Restrict resource filtering via config Map in all the future unknown namespaces created"
Hi Team,

We have a requirement, where we want to integrate the kyverno polices in our product and ship the product to our customers. Our customers will create new namespace and they want to exclude few resources like pod / deployment etc.. to avoid Kyverno policy check in their namespace similar to resource filtering config map already provided by Kyverno . But, we do not want them to modify the

[2021-05-16 13:01] chipzoller commented on #1912
Check out this policy sample: https://kyverno.io/policies/other/exclude_namespaces_dynamically/?policytypes=Namespace

[2021-05-16 16:29] chipzoller commented on #1905
This DOS scenario is interesting. Here's a potential mitigation mechanism we could implement as part of core Kyverno until we have some sort of signed resource workflow.

1. Kyverno implements an "internal" annotation which controls whether a policy is "active" or not. This could be something like `kyverno.io/activation=true|false` where `false` means the policy is deactivated.
2. There's an inter

[2021-05-17 19:47] nomeelnoj opened #1915 "[BUG] - Safe to evict policy fails on cronjobs without volumes"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.5

**Describe the bug**
When using the recommended `safe-to-evict` policy from [the docs](https://kyverno.io/policies/best-practices/add_safe_to_evict/), it fails to properly validate on cronjobs that do not have a volume present

**To Reproduce**
Steps to

[2021-05-18 08:09] kacejot commented on #1910
@JimBugwadia,
For now ranges could be implemented using logical operators `|`, `&` and comparison operators `<`, `>`.
Do we need to support this notation? If so, it is easy to do.

[2021-05-18 18:55] JimBugwadia commented on #1840
@kacejot - the other place we do not allow variables is in match / exclude kind fields.

[2021-05-19 11:03] kacejot commented on #1896
I have researched the issue. The reason is in invalid strategic merge patch logic during handling the array of maps.
I have dumped the resource, the patch and the result resource:

Policy:
[code]

Patch:
[code]

Resource:
[code]

Patched Resource:
[code]

Sorry for this format. I'm not controlling the resource that will be created so they are such large.
Above we have the result of the first rule.

[2021-05-19 11:06] kacejot commented on #1896
cc: @realshuting
As for me, we should have patch like this for the first rule.
[code]

[2021-05-19 11:58] chipzoller opened #1916 "[BUG] patchStrategicMerge fails to mutate if policy written with `initContainers` object"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.3
* Kyverno version: 1.3.6

**Describe the bug**
When writing a policy that uses a `patchStrategicMerge` rule, when the `initContainers` object is introduced into it the policy then fails to mutate incoming Pod resources. These mutations do work if the `initContainers` object is

[2021-05-19 15:37] windowsrefund commented on #1830
Thanks for checking in. I'm unable to upgrade metrics-server on this cluster at this time but am certainly planning to ASAP. However, I do have a sneaking suspicion that size does matter here. Not sure if your KinD environment would be considered as a comparable environment. Unless of course, you can reproduce the API error after downgrading metrics-server to v0.3.5? That's what I'm currently runn

[2021-05-20 07:11] rdavyd opened #1918 "Match kyverno operators symbols in validate"
**Is your feature request related to a problem? Please describe.**

There are situations where you need to match symbols which coincide with kyverno operators.
For example, I want to force values with asterisk to be present in ArgoCD Project:
[code]

Full code:
[code]

Policy rule:
[code]
This will however match any values of `group` and `kind`, but I need to match exactly `*` symbol.
I did not fi

[2021-05-20 14:53] chipzoller commented on #1717
@gabemontero In reviewing this discussion, it seems like what you're describing may be much more of a specific corner case (and one created out of scale) than anything else. Do you have some other specific use cases where this CRD-to-CRD reference would be negatively hindered by making use of standard RBAC primitives? Because it seems that such permissions would typically need to be an all-or-noth

[2021-05-20 18:10] daviddyball commented on #572
Not sure if this is related, but I've found a number of issues with the `Pod` auto-gen rules failing to work when using `kyverno test`

**policy.yaml**
[code]

**resource.yaml**
[code]

**test.yaml**
[code]

**Output of `kyverno test .`**
[code]

Also debug information from when it's reading the policy and auto-generating the pod-controller rules:
[code]

[2021-05-20 18:29] windowsrefund commented on #1540
Happy to report I've revisited this OOM issue and am now running 1.3.6 on my cluster. The pod fired up quickly and appears to be stable. I'll let it burn in for a bit but wanted to share the news.

[2021-05-20 20:47] fjogeleit opened #1921 "[BUG] Incomplete PolicyReport after startup / reconcilation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.3.6
* Kyverno version: 1.20.6

**Describe the bug**

Kyverno do every hour a reconciliation of every report. In some cases this process creates incompleted reports. So a PolicyReport had 102 results and after the reconciliation only 99. This happens randomly with different reports a

[2021-05-21 08:20] daviddyball opened #1922 "[BUG] `test` Command Not Respecting Autogen Rules for Pod Controllers"
## Software version numbers
* Kubernetes version: N/A (using local `kyverno test`)
* Kyverno version: `1.3.6`

## Describe the bug
When writing test-cases for use with the `kyverno test` sub-command it appears that autogen rules for pod-controllers aren't respected. If I write a policy that includes `match.resources.kinds: ["Pod"]`

NOTE: The same policy works fine when using `kyverno apply`, whic

[2021-05-21 12:28] wallrj commented on #1784
Here's an example of a Pod that evades the require-run-as-non-root policy:

[code]

## Without ownerReferences, the Pod is denied

[code]

[code]

## With ownerReferences, the Pod is allowed

[code]

[code]

I discovered this while attempting to run cert-manager E2E tests on a cluster with Kyverno restictive Pod policy enforced.
See https://github.com/jetstack/cert-manager/pull/4036 and https://gi

[2021-05-21 12:37] chipzoller commented on #1784
Wow, good find, @wallrj . This should be its own issue so it can be tracked and fixed independently. Basically if `ownerReferences` is present, the Pod cannot be validated.

[2021-05-21 21:13] realshuting commented on #1916
The conditional anchor in the mutate policy means that the policy will only be applied if the condition matches. In this case, if we wrap the `initContainers` by the anchor, it is read as "apply the mutate policy (add security context to the `containers`) only if all initContainers have runAsNonRoot set to true)".

The user wants to "set "runAsNonRoot: true" to all Pods with this policy", did we t

[2021-05-22 05:25] vineethvanga18 commented on #1256
@realshuting Could you give me a pod anti-affinity policy with preconditions field in it?

[2021-05-22 13:24] chipzoller commented on #1916
Yes, the policy will fail in cases where a resource does not define any `initContainers` object. Since `spec` and `spec.containers[]` are required objects in a Pod spec, the policy does not need conditionals there. But `initContainers` is optional, and so the policy needs to read, "perform the mutation in `spec` and `spec.containers[]` and IF IT ALSO CONTAINS an `initContainers` object, mutate tho

[2021-05-24 11:58] NoSkillGirl commented on #1099
For this `when synchronize flag is set to true in the policy, one cannot delete the generated resource`. But how it works is, when someone deletes the generated resource, kyverno generates back the resource. changing the test case according to this.

[2021-05-24 23:42] sabdhagiri opened #1925 "Variables from policy definitions doesn't work as expected for resource requests"
The ClusterPolicy definition to match the resource request and limit doesn't work as expected.

[code]

with the above policy, I am trying to enforce CPU and memory requests without enforcing limit on CPU and trying to set memory limit to that of the memory request. I am trying to set different values for memory request and memory limit and the policy is not getting validated as expected.

for exa

[2021-05-25 01:36] realshuting commented on #1256
@vineethvanga18 - yes it should be enough. Though we need to do a better job to differentiate the true error from the empty resolved values (see https://github.com/kyverno/kyverno/issues/1810), we can focus on the log change in this PR.

[2021-05-25 01:44] realshuting commented on #1784
@wallrj - thanks for digging into it!

This behavior is expected: Kyverno automatically converts pod's rules to pod controllers' rules, to avoid duplicate results in the policy reports, Kyverno won't apply the pod's rule to the Pod that has owners (pod-controllers). If you do not want this behavior, you can disable [auto-gen](https://kyverno.io/docs/writing-policies/autogen/) by setting `pod-polic

[2021-05-25 01:49] realshuting commented on #1540
Great @windowsrefund, thanks for verifying!

I'm closing it, please reopen if the same issue is observed again.

[2021-05-25 01:49] #1540 closed

[2021-05-25 10:48] sanjaygopinath89 commented on #1858
I am facing similar issue . I have a policy to add env variable , where one env variable value is referring other env variable.

` patchStrategicMerge:
          spec:
            containers:
            - (name): "*"
              env:
              - name: K8S_HOST_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
              - name: TEST_EN

[2021-05-25 16:09] wallrj commented on #1784
But that document states:

In my example above the ownerReference doesn't match any of those controllers. It has `kind: Challenge` which is a cert-manager custom resource.
It has this because cert-manger creates the Pod with that ownerReference so that the Pod will be garbage collected if the `Challenge` resource is deleted.

I expected Kyverno to deny any attempt to create a non-conforming Pod.

[2021-05-25 16:53] chipzoller commented on #1784
@realshuting I think the problem is the Kyverno isn't considering the type of owner here. If the `kind` isn't one that is governed by the auto-gen controller (i.e., `ReplicaSet`, etc) it didn't originate from a higher-level pod controller which Kyverno can enforce. In those instances, Kyverno should probably block the resource.

[2021-05-25 19:02] chipzoller commented on #1925
Policy is working as expected since the lookup notation $() refers to values present in the policy itself (in this case, `*?`). See relevant Slack discussion [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1621966819080400).

[2021-05-25 19:58] sabdhagiri commented on #1925
Closing this issue as it is working a expected as highlighted in the slack discussion above.

[2021-05-25 19:58] #1925 closed

[2021-05-25 20:06] wallrj commented on #1784
I'd guess that most controllers would at least have a backoff-on-error logic and maybe fail permanently if the API request is denied.
cert-manager will back off if the API call fails.

And new Kubernetes API servers have priority and fairness features which should prevent the DoS scenario.
 * https://kubernetes.io/docs/concepts/cluster-administration/flow-control/
 * https://github.com/kubernetes/

[2021-05-25 20:15] realshuting commented on #1858
@sanjaygopinath89 - thanks for reporting!

No this needs to be fixed in Kyverno in order to proceed. We should provide an option to disable policy validation, similar to `kubectl create --validate=false ...`.

[2021-05-25 21:27] JimBugwadia commented on #1784
Yes, it does seem like the ownerReference check needs to be be improved to include checking for the pod controller types.

@wallrj - can you please verify this does work as expected if you set the annotation `policies.kyverno.io/autogen-controllers: none` in your pod?

[2021-05-25 21:39] sabdhagiri opened #1928 "Ability to specify rules for a collection of objects"
**Is your feature request related to a problem? Please describe.**

While trying to apply policy to validate rules against a collection of resource objects there is no easy way to iterate through each object in the collection, instead one has to specify the index of the object in the collection. This makes it hard to define a rule for objects in a collection with dynamic size. Example is to specif

[2021-05-25 21:56] realshuting commented on #1832
Example of how client-go metadata informer is used https://github.com/kubernetes/kubernetes/blob/5640c64a9fb39cdb1b784b7cacbaad4704d09391/cmd/kube-controller-manager/app/controllermanager.go#L326-L330.

[2021-05-26 01:28] chipzoller opened #1929 "Sample policy to ensure a Pod contains no more than N number of containers"
/assign

/label sample policy

[2021-05-27 00:12] JimBugwadia commented on #1928
Seems like a good pattern to add support for.

Its tempting to propose using wildcards but that could be confusing to read. For example, consider:

[code]

Does this evaluate to a list of memory values, or does the wildcard get replaced with the correct index based on the list evaluation?

Perhaps we could use the nested variable syntax to do pre-substitution?

[code]

Or, should we use a differen

[2021-05-27 11:25] vyankyGH opened #1932 "Source resource changes not getting replicated in generated resource"
**Software version numbers**
* Kubernetes version:  v1.20.2
* Kyverno version: 1.3.6

**Describe the bug**
Source resource changes not getting replicated in generated resource

**To Reproduce**
Steps to reproduce the behavior:

Create the following files
**policy.yaml**
[code]

**Configmap.yaml**
[code]

1. Create ConfigMap resource.
2. Create cluster  policy.
3. Create any namespace.
4. ConfigMap

[2021-05-27 11:42] vyankyGH commented on #1932
Findings:
https://github.com/kyverno/kyverno/blob/cd4d738667b4667f8468fe515685aced6a936577/pkg/webhooks/generation.go#L45
get **return** from here as not getting generated policies.

[2021-05-27 12:03] chipzoller commented on #1929
[code]

[2021-05-27 12:06] chipzoller opened #1933 "Support mutation of variables in `validate.deny` statements when matching on only Pod"
**Is your feature request related to a problem? Please describe.**
Kyverno needs to be able to mutate JMESPath variables in `validate.deny` rules when the matching kind is of only Pod. Not being able to do this creates policy bloat and makes writing these types of policies cumbersome.

**Describe the solution you'd like**
When a rule is written where the only matching kind is `Pod` and the rule co

[2021-05-27 19:04] vineethvanga18 commented on #1447
/assign

[2021-05-27 19:16] realshuting commented on #1810
Adding a use case - https://kubernetes.slack.com/archives/CLGR9BJU9/p1622141337149200?thread_ts=1616786049.111800&cid=CLGR9BJU9

[2021-05-27 19:33] vineethvanga18 commented on #1447
@realshuting Could you brief me about the issue and what needs to be done please

[2021-05-27 19:40] realshuting commented on #1447
Hi @vineethvanga18 - here's the related code https://github.com/kyverno/kyverno/blob/cd4d738667b4667f8468fe515685aced6a936577/cmd/initContainer/main.go#L66-L69

We should upgrade the minimum supported k8s version in Kyverno 1.4.0 to 1.15.0 (k8s).

[2021-05-27 19:43] vineethvanga18 commented on #1447
In the compatibility matrix we just need to add another row for 1.4 which supports 1.16 - 1.20(k8s) is that right?

[2021-05-27 19:52] realshuting commented on #1447
Yes, since it's a major release, let's add 1.4.0 to the matrix.

[2021-05-27 20:08] vineethvanga18 commented on #1447
Just wanted to confirm if Kyverno CLI 1.4.0 supports up to Kubernetes 1.20.

[2021-05-27 20:10] realshuting commented on #1447
@NoSkillGirl @vyankyGH - can you confirm?

[2021-05-27 21:53] damntourists commented on #1909
Hi, I'm having issues getting this example working with version 1.3.6. I've tried running with `kyverno apply my_policy.yaml -r my_deployment.yaml` using the exact code you have supplied above in this issue with the following output:

[code]

I tried rerunning with `-v 3` and I get the following:
[code]

Any insight would be appreciated.

[code]

[2021-05-27 21:58] realshuting commented on #1909
Hello @damntourists, the JMESPath functions are not currently supported in the Kyverno CLI. It only works with the running Kyverno application. Can you please log a separate issue for this support?

[2021-05-27 22:07] damntourists commented on #1909
Certainly. Thank you!

[2021-05-27 22:21] damntourists opened #1937 "Please add JMSEPath support to Kyverno CLI"
**Is your feature request related to a problem? Please describe.**
All documentation I found regarding writing policies with Kyverno led me to believe that I could theoretically translate those docs to something useable with the CLI. According to https://github.com/kyverno/kyverno/issues/1909, the JMSEPath functions aren't supported in the current version of the CLI.

**Describe the solution you'd

[2021-05-28 01:03] viveksahu26 commented on #1334
/assign

[2021-05-28 01:06] JimBugwadia commented on #1334
I like the idea of using flags for this....can we also enable / disable via the ConfigMap? If so, do we really need to support a time (`--dump-payload-timer`) - as that requires managing some additional state?

[2021-05-28 04:53] vyankyGH commented on #1447
Yes! I'm using v1.20.2 cluster. CLI works.

[2021-05-28 05:11] vineethvanga18 commented on #1447
Then the max supported version of k8s is 1.20.2 then? @vyankyGH

[2021-05-28 11:49] chipzoller commented on #1334
The timer was an idea to prevent Kyverno from destroying itself due to high volume of admission review requests. Could try without it and see what happens.

[2021-05-28 11:53] chipzoller commented on #1170
/close

[2021-05-28 11:54] chipzoller commented on #1909
/close

[2021-05-28 11:54] #1909 closed

[2021-05-28 11:55] chipzoller commented on #1911
Policy implemented. Close.

[2021-05-28 11:55] #1911 closed

[2021-05-28 15:55] realshuting commented on #1447
@vineethvanga18 - see https://kubernetes.slack.com/archives/CLGR9BJU9/p1622196874159900, we need to replace `extensions/v1beta1`: https://github.com/kyverno/kyverno/blob/8ffe9c0c5d681fff26a6df5934be26a0060bd91d/pkg/config/config.go#L53

[2021-05-28 16:17] vineethvanga18 commented on #1447
@realshuting changing it to apps/v1

[2021-06-01 05:36] JimBugwadia opened #1941 "[BUG] add validation for generate loops"
**Software version numbers**

* Kubernetes version: all
* Kyverno version: 1.3.6

**Describe the bug**

A generate policy can be written to match and generate the same resource type.

**To Reproduce**

Create a policy with a generate rule that matches a Deployment and generates a Deployment.

**Expected behavior**

Kyverno should not allow a creation of a generate policy where the matched kind is

[2021-06-01 16:42] JimBugwadia opened #1942 "Evaluate consolidating generate controller and generate cleanup controller"
Both `generate controller` and `generate cleanup controller` seem to be watching the same resources and have similar logic. We should consider consolidating them into a single controller, or make obvious why two separate controllers are required.

[2021-06-01 19:38] #1170 closed

[2021-06-02 00:49] yashvardhan-kukreja commented on #256
@realshuting I guess we can close this one as well now

[2021-06-02 03:40] wimo7083 opened #1944 "[BUG] >= operator doesn't match with spacing"
**Software version numbers**
State the version numbers of applications involved in the bug.

[code]

**Describe the bug**
Operator `>=` fails to match without proper spacing.

**To Reproduce**

## Fails with space

Included CRD spec. Tried both the internal CRD for `KafkaTopic` and this CRD. Haven't tried any other matching of other Kinds.

[code]

[code]

## Remove space

[code]
[code]

**Expecte

[2021-06-02 03:44] JimBugwadia commented on #1853
We can split this into 2 separate issues based on above:
1. Change name to names and allow a list
2. Change resources to a list which can contain (names, kinds, namespaces, selector, and namespaceSelector)

[2021-06-02 04:59] #256 closed

[2021-06-02 08:06] NoSkillGirl opened #1947 "Add e2e test cases for generate policy flow"
Add the following test cases for generate policy:

- **generated policy with clone:** when a source clone resource is updated, the same changes should be replicated in the generated resource.
- **generate policy with data/clone:** when a generated resource is edited with some conflicting changes (with respect to the clone source resource or generate data), kyverno will regenerate the resource.

[2021-06-02 08:07] NoSkillGirl commented on #1099
https://github.com/kyverno/kyverno/issues/1947 - here few more test cases

[2021-06-02 09:39] NoSkillGirl commented on #1932
closing with https://github.com/kyverno/kyverno/pull/1936

[2021-06-02 09:39] #1932 closed

[2021-06-02 10:23] jmartinc89 opened #1949 "Please allow the user overwrite default TLSPairSecretName and RootCASecretName with custom values during kyverno install"
In our environment, we are planning that kyverno deployment belongs to a shared namespace where other cluster core services are already deployed. Those services already uses a single RootCA secret to perform TLS validation.

We would like to reuse existing namespaced secrets (at least RootCA one) for kyverno when installed through the helm chart. Those already deployed services allow the operator

[2021-06-02 17:12] windowsrefund opened #1950 "[BUG] Webhook timeout blocks scheduling new workloads."
**Software version numbers**
kyverno 1.3.6 managed via Helm chart v1.3.6

* Kubernetes version: v.1.19.9
* Kyverno version: 1.3.6

**Describe the bug**
kube-scheduler and kube-controller pods go into CrashLoopBackOff when validate/mutate webhooks timeout.

This scenario prevents prevents new workloads from being deployed.

**To Reproduce**
Unknown as this scenario occurs intermittently despite the

[2021-06-02 17:33] RinkiyaKeDad commented on #1853
@realshuting pointed out that changing resources to a list would be a breaking change so we could instead have another tag under resources where we specify things in this new format. I imagine in the later releases we can then slowly depreciate the older way in favour of this one. @JimBugwadia thoughts?
[code]

Is this how you imagined it could look currently @realshuting?

[2021-06-02 18:22] JimBugwadia commented on #1853
Can't we migrate existing definitions (which would be a list of 1) when we change this?

[2021-06-02 18:35] realshuting commented on #1853
How would we cover `annotations`, `namespaceSelector` and `selector` in the `resourceDescription`?

[2021-06-02 18:40] realshuting commented on #1853
Do we want to replace these tags in `types.go` completely? If so, we can still process existing policies by converting to new definition internally, but any policy creation (written in the old structure) will be blocked.

[2021-06-02 18:48] #1099 closed

[2021-06-02 19:30] realshuting commented on #1950
@windowsrefund - do you have any firewall rules configured in the cluster that blocks traffic from masters to this node where Kyverno was scheduled? I've seen this issue in an EKS cluster that the traffic was not allowed to be forwarded to worker nodes from the control plane.

You can tune the webhook timeout by using the flag `webhookTimeout` to recover your cluster. Once the cluster is back, we

[2021-06-02 20:14] windowsrefund commented on #1950
No

Can you elaborate? I know there's been quite a lot of activity and discussion around `webhookTimeout`. As I think you can see, this is currently set to 3. What exact steps are you suggesting?

[2021-06-02 20:21] realshuting commented on #1950
This flag can be configured via [Kyverno Deployment args](https://github.com/kyverno/kyverno/blob/d9ad564989141d66fd9a7269f012d51eea2a1b11/definitions/release/install.yaml#L2432) (in seconds):
[code]

[2021-06-02 20:38] windowsrefund commented on #1950
Oh yea, we actually found that the other day but I'm still not sure what exact course of action you're suggesting. Are you suggesting an edit on the deployment in order to achieve what exactly? Perhaps you're indicating a faster recovery approach than the helm uninstall I've been using?

[2021-06-02 20:49] realshuting commented on #1950
Sorry for the confusion, yes, I'm suggesting add this flag to `args` so that all admission requests can be returned within 1s timeout. Helm uninstall is another approach to recover your cluster.

Have you tried the curl command using busybox? What was the output there?

If possible, can you provide your cluster details? Is the cluster running on the cloud instances? If so, usually we have to **add

[2021-06-02 20:54] windowsrefund commented on #1950
Thank you. That'll be faster than my helm uninstall (big hammer)

Haven't had the condition show itself in the past 21 or so hours. Still waiting....

For context, this is very simliar to https://github.com/kyverno/kyverno/issues/1456#issuecomment-764880366

[2021-06-02 23:17] realshuting commented on #1950
So these errors were not seen in the past 21 hours? Or what are we waiting here?

[2021-06-03 05:28] JimBugwadia opened #1953 "[BUG] Update minio to address vulnerabilities"
**Software version numbers**

* Kubernetes version: N/A
* Kyverno version: 1.4.0-beta1

**Describe the bug**

See: https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report
![image](https://user-images.githubusercontent.com/5489990/120591868-b8ce6200-c3f1-11eb-9037-743b453bc769.png)

[2021-06-03 05:31] JimBugwadia commented on #1888
this has been completed

[2021-06-03 05:31] #1888 closed

[2021-06-03 05:31] JimBugwadia commented on #1889
this has been completed

[2021-06-03 05:31] #1889 closed

[2021-06-03 05:31] JimBugwadia commented on #1887
this has been completed

[2021-06-03 05:31] #1887 closed

[2021-06-03 05:35] JimBugwadia commented on #1214
all code changes have been completed. closing.

[2021-06-03 05:35] #1214 closed

[2021-06-03 05:35] elvis-cai commented on #1884
oh, thanks for the explanation, good to know I can configure it from configmap. 👍

[2021-06-03 05:35] #1884 closed

[2021-06-03 06:06] #1944 closed

[2021-06-03 06:40] RinkiyaKeDad commented on #1953
/assign

[2021-06-03 06:44] vyankyGH opened #1954 "Support * to match all kinds without impacting performance"
See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1622696474219600

[2021-06-03 07:14] elvis-cai opened #1955 "kyverno can not mutate CRD resource"
**Is your feature request related to a problem? Please describe.**

we are running ArgoCD in our deployment, recently we add a clusterpolicy to auto inject environment variables to newly created pods, it works pretty well with `Deployment`,  as you may know, ArgoCD has a CRD resource called `Rollout` which can be used for canary deployment(https://argoproj.github.io/argo-rollouts/), after adding m

[2021-06-03 13:03] jack-jarvis opened #1957 "[BUG] OwnerRefInvalidNamespace warnings on webhook configurations"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5 (AKS)
* Kyverno version: 1.3.5

**Describe the bug**
Kyverno's validating and mutating webhook configurations are giving us `OwnerRefInvalidNamespace` warnings with the message
[code]
This would suggest an invalid ownerRef which would cause issues with the garbage collection, b

[2021-06-03 15:59] windowsrefund commented on #1950
yes, waiting for the condition to occur again.

[2021-06-03 17:04] RinkiyaKeDad opened #1959 "Configure a bot to add milestone labels for PRs"
It would be good to have a bot for the repository. In its simplest form, the bot could add labels to PRs/issues. Other commands the bot could support are:

1. `/assign` and `/unassign` folks to issues/PRs
2. `/test` and `/retest` for PRs
3. `/lgtm` to approve PRs
4. `/ok-to-test`

More ideas [here](https://prow.k8s.io/command-help).

Some options:
1. https://github.com/apps/codesniffy
2. [Prow](ht

[2021-06-03 17:41] windowsrefund commented on #1950
The exact scenario played out again and I was able to get the cluster running again (controller/scheduler pods) by reducing the timeout as prescribed. However, I couldn't run the busybox curl test (duh, can't schedule pods) and I failed in my attempt to curl the webhook across a port-forward. As mentioned previously, I still don't know the exact curl request to use (my GET doesn't appear to be leg

[2021-06-03 19:21] maarek opened #1960 "[BUG] Wildcard substitution fails to manifest properly when applied to lists"
**Software version numbers**
* Kubernetes version: 1.19.7
* Kyverno version: 1.3.6

**Describe the bug**
When applying a mutation with patchStrategicMerge to a list, the substitution that occurs with `{{*}}` will apply the result from the first element of the list to all items in the list. Instead this should potentially apply the substitution to each item in the list. This can be seen with the re

[2021-06-03 19:24] maarek commented on #1960
Discussion here [https://kubernetes.slack.com/archives/CLGR9BJU9/p1622671359208000](https://kubernetes.slack.com/archives/CLGR9BJU9/p1622671359208000)

[2021-06-03 20:59] realshuting commented on #1955
Hi @elvis-cai - this message indicates that Kyverno was not able to validate the policy pattern due to empty OpenAPISchema. But it shouldn't block the policy application. Did the policy apply to the `Rollout` resource? If not, can you attach the log for this application particularly?

[2021-06-03 21:05] realshuting commented on #1960
Thank you @maarek!

@kacejot @JimBugwadia - let's discuss and address the issue accordingly.

[2021-06-03 21:24] realshuting commented on #1957
Hi @jack-jarvis - from the message, I can see the namespace came empty, which indicates it cannot find Kyverno deployment in the "default" namespace.

Can you please attach the output of the following command? In my case the namespace is set to `kyverno`:
[code]

[2021-06-04 00:21] realshuting commented on #1950
Once reduced timeout by `webhookTimeout`, the cluster was back to normal even Kyverno was not functional. That indicated the `Ignore` [failure policy ](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy) was working as expected, as it allowed all the request instead of reject.

By doing this, it was actually an update of the Kyverno Deployment,

[2021-06-04 00:45] lalalawoo opened #1961 "Add Support for policies.kyverno.io/scored annotation"
**Is your feature request related to a problem? Please describe.**
The "scored" field in PolicyReportResult indicates if the PolicyRule is scored. User might want to skip a certain policy in the PolicyReport. But this is not configurable and it's always set to true so far.

**Describe the solution you'd like**
Could let user configure by adding policies.kyverno.io/scored annotation, just like the

[2021-06-04 01:09] JimBugwadia commented on #1961
If a policy is marked as `scored: false` we need to report the result as a `warning` instead of an `error`.

See: https://htmlpreview.github.io/?https://github.com/kubernetes-sigs/wg-policy-prototypes/blob/master/policy-report/docs/index.html#wgpolicyk8s.io/v1alpha2.PolicyResult

[2021-06-04 01:53] JimBugwadia opened #1962 "[BUG] fix security advisory"
**Software version numbers**

* Kubernetes version: N/A
* Kyverno version: 1.4.0-beta1

**Describe the bug**

See: https://deps.dev/go/github.com%2Fkyverno%2Fkyverno

Switch to: form3tech-oss/jwt-go

[2021-06-04 03:45] elvis-cai commented on #1955
Hi @realshuting , thanks for your quick reply, after adding this clusterpolicy,  env is injected correctly, however the rollout spec is changed and could not start, seems  kyverno also changes the rest fileds.
`message: 'The Rollout "example-rollout" is invalid: spec.template.spec.containers[0].image:`

example yaml:
[code]

after mutation.
[code]

[2021-06-04 05:29] RinkiyaKeDad commented on #1962
@JimBugwadia `github.com/dgrijalva/jwt-go` is not a direct dependency of our project - rather is a transitive dependency. It only [appears](https://github.com/kyverno/kyverno/blob/main/go.sum#L159-L160) in the `go.sum` file and no where in the `go.mod` file.

From what I know, `go.sum` is auto generated and only `go.mod` should be changed manually. Can you please point me to how we could update th

[2021-06-04 09:08] jack-jarvis commented on #1957
My output looks pretty similar - it doesn't seem to specify a namespace for the deployment:
[code]

[2021-06-04 11:27] devlounge commented on #1955
Which kyverno version did this?

[2021-06-04 11:34] devlounge commented on #1950
If you're using the Helm chart, it looks like you should add this flag to .Values.extraArgs

[2021-06-04 12:19] elvis-cai commented on #1955
ghcr.io/kyverno/kyvernopre:v1.3.3 and installed by helm chart version v1.3.3.

[2021-06-04 20:27] realshuting commented on #1957
Thanks @jack-jarvis. Can you share the steps to install Kyverno using Flux? Looks like the namespace was not configured correctly somehow.

[2021-06-04 20:41] chipzoller opened #1963 "Wildcards in `match` / `exclude` statements should be invalid"
If we're not going to support wildcards (`*`) in `match` / `exclude` statements, then Kyverno needs to detect them and reject the policy as being invalid.

[2021-06-04 22:41] realshuting opened #1964 "[BUG] Mutate policies are applied on resource DELETION"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.0-beta1

**Describe the bug**
I have a Deployment with 10 replicas running, after deleted the Deployment, the Pods remained in `Terminating` state. And I saw the mutate policies kept applying to these terminating Pods.

[2021-06-05 00:59] realshuting opened #1965 "Leader election for initContianer"
With Kyverno `v1.4.0-beta1`, the Kyverno initContainer does the cleanup jobs including policy reports. This introduces unnecessary cleanups for policy reports. We need to enable leader election for Kyverno initContainer.

[2021-06-05 12:09] chipzoller commented on #1955
Are you able to confirm if this behavior is identical with Kyverno 1.3.6?

[2021-06-06 07:26] RinkiyaKeDad opened #1966 "adding pod anti-affinity to Kyverno"
Anti-affinity allows us to constrain which nodes our pod is eligible to be scheduled based on labels on pods that are already running on the node rather than based on labels on nodes. We basically want multiple instances to be scheduled to **different** nodes.

1. Document how to do this manually.
2. Add it to the install.yaml (managed via Kustomize) and the Helm chart.

[2021-06-06 13:55] chipzoller commented on #1966
This won't be useful until Kyverno 1.4.0 releases and is added to the list of items in [this discussion](https://github.com/kyverno/kyverno/discussions/1958).

[2021-06-06 23:54] chipzoller opened #1968 "Sample policy to check Pods for allowed `priorityClassName` per Namespace"
Consider Namespaces foo and bar which have an overlapping list of PriorityClasses you've pre-defined. A mapping of Namespaces-to-PriorityClasses can be conveniently stored in a ConfigMap resource as a lookup dictionary for Kyverno.

`cm-priorities.yaml`

[code]

A ClusterPolicy can then be created which will check incoming Pods (in all their various forms) to make sure that the `priorityClassName`

[2021-06-06 23:54] chipzoller commented on #1968
/assign
/label sample policy

[2021-06-07 01:16] elvis-cai commented on #1955
I did a reinstallment with helm chart v1.3.6, unfortunately the same issue persist.

[2021-06-07 02:14] yashvardhan-kukreja opened #1969 "add an admission_request_timestamp label as well to the admission_review_latency metric"
**Is your feature request related to a problem? Please describe.**
When the same resource gets deleted and re-created, and when it triggers the same set of rules, it ends up resulting in an already-existing kyverno_admission_review_latency_milliseconds metric which causes the existing to one to be edited instead of a new one to be created.
**Describe the solution you'd like**
adding an admission_r

[2021-06-07 02:45] chipzoller opened #1971 "Sample policy to require an `imagePullSecret` if images come from select registries"
[code]

Provided by @realshuting in Slack [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1622749892231800?thread_ts=1622729028.223700&cid=CLGR9BJU9).

[2021-06-07 02:45] chipzoller commented on #1971
/assign
/label sample policy

[2021-06-07 03:12] JimBugwadia commented on #1971
Also logged at: https://github.com/kyverno/policies/issues/65

[2021-06-07 10:04] jack-jarvis commented on #1957
We install kyverno using a kustomization like so:
[code]
We then have a flux kustomization that points at it:
[code]
The kustomization lives in `flux-system` but it creates kyverno in the `kyverno` namespace.

[2021-06-07 13:25] chipzoller commented on #1910
I'd say yes, we do need to support a range notation specifically denoted with a hyphen. This is a standard way of denoting integers within upper and lower bounds and we should support it.

[2021-06-07 19:36] #1947 closed

[2021-06-07 19:53] #1969 closed

[2021-06-07 20:35] #1885 closed

[2021-06-07 20:35] #1902 closed

[2021-06-07 22:10] kacejot commented on #1960
@realshuting, I think this is the same problem as I mentioned in my proposal for global anchors. It seems like conditional anchor doesn't work as expected in lists in patchStrategicMerge

[2021-06-08 02:26] realshuting commented on #1957
Thanks @jack-jarvis, we'll try to reproduce on our end and keep you posted.

[2021-06-08 05:09] JimBugwadia opened #1973 "Update e2e tests to latest kind and Kubernetes versions"
See slack discussion: https://kubernetes.slack.com/archives/CLGR9BJU9/p1623068765248900

[2021-06-08 12:20] kacejot commented on #1823
@chipzoller, I need to discuss all such cases that you described above. I think I misunderstood it.
We need to specify all such caveats.

[2021-06-08 12:30] chipzoller commented on #1823
Sure. Give me a few and I'll write some more notes on each one of those numbered items [above](https://github.com/kyverno/kyverno/issues/1823#issuecomment-823265016).

[2021-06-08 13:00] chipzoller commented on #1823
### 1. Validation should occur for all policies and for all rules in the policies where the kind is of a single type.

Whenever there is a policy with a rule which matches on a single kind (like `Pod` for example), Kyverno knows exactly where to go look for the schema of that resource kind. There's no doubt here that the rule definition only applies to a Pod and so the schema of the rule needs to

[2021-06-08 13:03] chipzoller commented on #1823
@JimBugwadia and @realshuting 👆

[2021-06-08 13:40] chipzoller commented on #1823
Also, I know from [Shuting's comment](https://github.com/kyverno/kyverno/issues/1869#issue-874984686) that validation is enabled for mutation policies, but I don't know if it adheres to the points mentioned above. Of course, these points are just a strong recommendation and up for discussion, but I would suggest that whatever the ultimate behavior ends up being that it be consistent between valida

[2021-06-08 18:56] #1973 closed

[2021-06-08 19:01] JimBugwadia opened #1981 "Make webhooks configurable"
**Is your feature request related to a problem? Please describe.**

Currently Kyverno auto-creates and updates the validating and mutating webhooks, and user changes will be overwritten.

**Describe the solution you'd like**

Users should be allowed to tune the webhook configurations for their deployments.

Resource filters (currently set via args and configmap) should be applied to the webhook se

[2021-06-08 19:06] JimBugwadia opened #1982 "[Bug] Fix Kyverno Deployment updateStrategy"
From: #893

The UpdateStrategy for Kyverno Deployment is not ideal.  Consider using maxSurge: 1;maxUnavailable: 40%. Then with 1 running Pod, new one will be created first and old one Terminated on success

**Additional context**

See slack discussion: https://kubernetes.slack.com/archives/CLGR9BJU9/p1623155044256500

[2021-06-08 19:10] JimBugwadia opened #1983 "Document webhook failurePolicy=fail settings"
**Is your feature request related to a problem? Please describe.**

Currently Kyverno installs with webhook `failurePolicy=ignore`.

In many situations policy enforcement is required to be enforced.

**Describe the solution you'd like**

Document how to configure and run with `failurePolicy=fail`.

**Additional context**

See slack discussions:

https://kubernetes.slack.com/archives/CLGR9BJU9/p162

[2021-06-08 20:14] #1447 closed

[2021-06-09 02:37] realshuting commented on #1702
This was done by #1931.

[2021-06-09 02:37] #1702 closed

[2021-06-09 05:02] #1929 closed

[2021-06-09 05:02] #1968 closed

[2021-06-09 05:02] #1971 closed

[2021-06-09 12:28] hans-d opened #1986 "Trigger background-scan execution"
**Is your feature request related to a problem? Please describe.**

Related to #1277. Would be nice if the background scan be more flexible, eg during "office hours" more frequent as during the night, or allowing for an adhoc scan (eg do it now).

**Describe the solution you'd like**
Eg being able to use a (Cron) job, eg in addition to the default scan period, to trigger a background-scan. Eg anot

[2021-06-09 15:34] windowsrefund commented on #1950
Is there any particular reason 2 of the 5 webhook configs don't make use of a namespaceSelector in order to avoid operating against objects in the kube-system namespace? This seems to be best practice?

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector

[2021-06-09 16:40] vineethvanga18 commented on #1416
@realshuting Is this still relevant?

[2021-06-09 16:50] RinkiyaKeDad commented on #1962
Update: `github.com/dgrijalva/jwt-go` is used by `github.com/spf13/viper` which is used by `github.com/spf13/cobra`.

[2021-06-09 18:04] JimBugwadia commented on #1962
Can we file a PR in the upstream projects?

If they do not accept soon, we can temporarily use a fork of the project.

[2021-06-09 18:08] treydock opened #1987 "Allow Helm service for metrics to have different annotations from main service"
**Is your feature request related to a problem? Please describe.**
When deploying Prometheus in Kubernetes it's common to scope what Prometheus scrapes by using annotations. The scrape of each Kyverno service is going to be different, where the metrics port will be scraped but not the main Kyverno service.  To make that possible it requires each service have unique annotations.

**Describe the sol

[2021-06-09 18:17] JimBugwadia commented on #1853
Ok, I think I understand the problem with conversion. Lets keep the current `resources` tag as is and mark for deprecation, and then introduce a new tag (e.g. `resourceList`) as a peer (i.e. the same level as `resources`.) Internally, we can always convert to the new tag.

[2021-06-09 18:20] windowsrefund commented on #1950
If we wanted to specify a namespaceSelector on the actual webhooks themselves to bypass kyverno in certain namespaces, what extraArgs could we pass to the init container in the chart to accomplish that?

Also, despite knowing the answer to the question above, this woudn't work since the init container doesn't make use of extraArgs.

[2021-06-09 21:04] realshuting opened #1989 "[BUG] Prometheus metrics - panics when adding new policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.0-rc1

**Describe the bug**
While I was applying a generate policy to the cluster, Kyverno panics with the following error message:
[code]

And it brought down other Kyverno Pods:
[code]

**To Reproduce**
I cannot reproduce it consistently, here's the policy I was using:
[code]

[2021-06-09 21:05] realshuting commented on #1989
@yashvardhan-kukreja - can you take a look at this issue?

[2021-06-09 21:30] realshuting commented on #1416
Yes @vineethvanga18, it'd be good to add that message.

@soeirosantos - are you working on this?

[2021-06-09 23:06] soeirosantos commented on #1416
Hi @realshuting, I lost track of this, sorry about that. Feel free to re-assign.

[2021-06-09 23:46] realshuting commented on #1416
Thanks for confirming.

@vineethvanga18 - are you interested in picking this up?

[2021-06-10 01:19] yashvardhan-kukreja commented on #1989
Sure, Shuting. Feel free to assign me to this issue

[2021-06-10 01:22] yashvardhan-kukreja commented on #1989
I tried to reproduce this bug but I can't see the bug and all of it is working perfectly fine.
So, can you provide the following things so that I can reproduce the bug:
* What branch of Kyverno's code are you using (if you're not using the `main` branch's code)?
* Can you send me the all the existing `NetworkPolicy` resource in your `test-shuting` namespace?
`kubectl get networkpolicy -n. test-shu

[2021-06-10 01:29] realshuting commented on #1989
- I'm running the images with this tag `v1.4.0-rc1`, it was built against [this commit](https://github.com/kyverno/kyverno/tree/v1.4.0-rc1).

- I have to delete this policy to bring back Kyverno. This is what I currently have, the first netpol `default-deny` triggers the policy and the second is Kyverno generated netpol. I was trying to test [this](https://github.com/kyverno/kyverno/discussions/19

[2021-06-10 01:34] #1964 closed

[2021-06-10 01:57] realshuting commented on #1955
Hi @elvis-cai, thanks for the confirmation.

I can reproduce the issue with `Rollout` using `v1.4.0-rc1`, but not `Deployment`. I checked the patch key for `env` of `Rollout`, it shares the same patch strategy with Deployment, which is weird that it only breaks Rollout.

We'll investigate it and get back to you once we find the issue.

[2021-06-10 02:04] vineethvanga18 commented on #1416
Yes

[2021-06-10 05:54] RinkiyaKeDad opened #1990 "supporting multiple names in match and exclude blocks"
Issue originated from #1853. We would like to be able to specify multiple names rather than a single one under resources in match and exclude blocks.

Current behaviour:

[code]
Desired behaviour:

[code]
This would select serivces which begin with "prod" **and** those which begin with "dev".

[2021-06-10 08:30] JimBugwadia opened #1991 "[BUG] make flag name styles consistent"
**Software version numbers**

* Kubernetes version: n/a
* Kyverno version: 1.4.0-rc1

**Describe the bug**

Kyverno flags use a mix of camelCase, all lower case, and hyphenated styles:
- excludeGroupRole
- webhooktimeout
- gen-workers

**Expected behavior**

Use a consistent style.

This change will impact docs, installation YAMLs, and the Helm chart.

[2021-06-10 10:36] hans-d commented on #1937
I would even consider this to be a bug, as the JMSEPath functions used in a policy cannot be tested using the CLI. Or more generically: a working and valid policy cannot pass a test.

[2021-06-10 10:48] hans-d opened #1994 "Sample policies should have related CLI apply/test"
**Is your feature request related to a problem? Please describe.**
See #1772 / #1909 / #1937.  Having the sample policies run in verify/test/apply gives additional documentation on the working and also proves all are working with the current CLI.

**Describe the solution you'd like**
Each sample policy should have a test.yaml and additional yaml resources that proof the policy is working using the

[2021-06-10 11:22] yanniszark commented on #1981
Pasting an idea here from Kubernetes slack.

Instead of letting users figure out the correct filter, why not continuously autogenerate it in the kyverno controller based on the currently existing policies? This ensure the filter is continuously optimal. More specifically:
- For resource selector, this is very straightforward, just compile a list of (apiVersion, kind) used by policies in the cluste

[2021-06-10 11:32] yanniszark opened #1995 "Make failurePolicy configurable per Kyverno policy"
**Is your feature request related to a problem? Please describe.**

**Disclaimer:** I don't have a concrete use-case for this issue right now, I am opening it so that people who need this can upvote or leave a comment with their use-case.

Kyverno enforces policies in an admission webhook, which is configured by K8s objects (ClusterPolicy, Policy).
`failurePolicy` describes what the system will do

[2021-06-10 12:16] hans-d opened #1996 "CLI variables should be coming from the resources itself"
**Is your feature request related to a problem? Please describe.**

See https://kyverno.io/docs/kyverno-cli/#apply.
[code]
The request object is already provided via --resource. Having to specify the value again is not very DRY and raises the bar to do proper testing offline.

**Describe the solution you'd like**
CLI should be smart enough to map request.object variables to the provided resources.

[2021-06-10 14:00] chipzoller opened #1997 "Option to redact "failed at path" statements in validate rules"
**Is your feature request related to a problem? Please describe.**
Sometimes there are crafty and/or malicious users who intentionally look for security gaps in order to exploit their desires. For a `validate` policy which prints a message, Kyverno will also print where in the request it failed similar to the following:

[code]

A malicious user can glean from the output that the policy/rule respo

[2021-06-10 14:03] chipzoller commented on #1996
The Kyverno CLI with the `apply` flag can accept variables in the values file. This is _kind of_ discussed [here](https://kyverno.io/docs/kyverno-cli/#apply), but there's actually a PR to better explain this.

[2021-06-10 14:19] hans-d commented on #1996
The same applies in the case of the value file: the data is already in the actual resource in most cases, such as with the example given.
If I can generate all the required variables from the policy and the supplied resource file, it should also be done by the cli.

[code]

[2021-06-10 17:28] windowsrefund commented on #1950
I'm noticing substantial increases of memory used toward the bottom of each hour. Is there some kind of scheduled task that is run on an hourly basis? Perhaps some kind of housekeeping or something?

[2021-06-10 19:48] #1416 closed

[2021-06-10 20:10] realshuting commented on #1994
Thank you @hans-d for bringing this up, we'll address this issue along with #1821.

[2021-06-11 06:29] ahmedwaleedmalik opened #2001 "[BUG] unsupported AST kind *ast.InterfaceType for `apiextensions.JSON` references"
**Software version numbers**

* Kubernetes version: v1.20.2
* Kyverno version: v1.3.6 or code against `main` branch
* controller-gen:  v0.4.0

**Describe the bug**
Getting the following error when I am trying to consume kyverno's CRD in another operator. This is also replicable when i try to run kyverno on my local machine.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Pull latest

[2021-06-11 10:05] hans-d opened #2002 "[BUG] Deploying via helm with custom release name fails webhook config"
**Software version numbers**
* Kubernetes version: (on all)
* Kyverno version: 1.3.6

**Describe the bug**
When specifying a helm release name != 'kyverno' , the webhook cannot be configured properly. The logs will show `common.go:61] Register "msg"="failed to construct OwnerReference" "error"="deployments.apps \"kyverno\" not found"`

**To Reproduce**
1. deploy using helm-chart, be sure to specif

[2021-06-11 10:56] vineethvanga18 commented on #1982
/assign

[2021-06-11 19:46] realshuting commented on #2002
@hans-d - thanks for filing the issue. We'll investigate it and keep you posted.

[2021-06-12 10:44] yashvardhan-kukreja commented on #1989
Hi Shuting, I tried multiple times to reproduce this issue but couldn't.
But the logs you sent clearly depict that the panic was raised due to a nil pointer accidentally being passed to the method which is registering the metrics.

So, I have an idea with which we can completely get rid of this issue.
So, I can modify the metrics-related methods in such way that whenever any panic is generated fro

[2021-06-14 11:29] abdulhaseeb2 opened #2011 "[BUG] kubernetes-preserve-unknown-fields: Forbidden: must be false to be structural when executing `kubectl apply -f ./definitions/release/install.yaml`"
**Software version numbers**

- Controller-gen version v0.4.0
- Kubernetes v1.19.1
- Kyverno version: v1.3.6 or code against main branch

**Describe the bug**
I was trying to consume kyverno's CRD in another operator locally and was getting errors `x-kubernetes-preserve-unknown-fields: Forbidden: must be false to be structural`. So, I tried to create CRDs locally by using kyverno repo. I executed

[2021-06-14 20:01] #1950 closed

[2021-06-14 21:20] #1989 closed

[2021-06-14 23:30] NoSkillGirl opened #2018 "Endpoint for checking cache update"
**Is your feature request related to a problem? Please describe.**
e2e test cases fail sometimes. It’s not a test case issue but it's actually an issue with how we are handling the cache.
Once the policy gets created, we listen to the informer and add it to the cache. But this happens in an async process.
Let’s take a policy and respective resource. We apply to generate policy and on success, we a

[2021-06-15 06:09] realshuting commented on #2011
@abdulhaseeb2 - were you trying to add a new tag or change anything in `types.go`? Have you tried the Make command (which generates the error) and applied the changes?

I still need to investigate and understand if #2000 is a valid fix.

[2021-06-15 07:00] RinkiyaKeDad opened #2020 "[BUG] testing the bot"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you ex

[2021-06-15 07:41] hans-d opened #2022 "[BUG] mutating with 2 rules using regex, 2nd rule gets original value"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: n/a
* Kyverno version: 1.3.6

**Describe the bug**
Having a mutation policy with 2 rules, each using a regex to mutate eg the image field (eg https://kyverno.io/policies/other/replace_image_registry/?policytypes=mutate), the second rule does not get the output of the first rule so mut

[2021-06-15 09:15] RinkiyaKeDad commented on #2020
@realshuting looks like it is working. I found another bot which does the same but for both PRs and Issues. Will look into that more and if it works we could switch to that.

[2021-06-15 09:15] #2020 closed

[2021-06-15 09:18] vyankyGH commented on #2002
Hi @hans-d this is usually because you have a different deployment name than kyverno , we don’t allow custom deployment name.
currently, We set webhookconfig’s owner to Kyverno deployment:
[code]

[2021-06-15 12:24] NoSkillGirl opened #2023 "[BUG]Kyveno CLI should validate all the resources when namespace is not mentioned"
**Software version numbers**
* Kubernetes version: n/a
* Kyverno version: v1.4.0-rc1

**Describe the bug**
According to the documentation - https://kyverno.io/docs/kyverno-cli/#policy-report, when we use `kyverno apply policy.yaml --cluster --policy_report` on the resources with the same name in different namespaces, all the resources should get validated.

Currently validating only one resource w

[2021-06-15 14:53] hans-d commented on #2002
With helmfiles it's quite common do have some release name. In this case, by setting the KYVERNO_DEPLOYMENT in the dpeloyment it should work. Otherwise the helm templates should be adjusted to use a fixed name instead of the release name.

[2021-06-15 21:50] realshuting commented on #2002
I agree with that. Since we don't allow custom name of the Deployment, we should change the Helm templates using the fixed name. Would you be interested in contributing a PR?

And can you please log a separate issue to make this name configurable? I recall there were users asking for this feature as well. We'll have to check what needs to be changed in order to get this work.

[2021-06-16 00:25] juanvasquezreyes opened #2025 "Generate Resource based on Secrets creation"
I'm trying to generate a networkpolicy based on a secret event, whenever I create a secret I want this network policy to be created

on the examples found at https://kyverno.io/docs/writing-policies/generate/ I see that the trigger is the namespace, is there an example of same functionality but using secret as a trigger?

I tested with the following yaml file, but is not working, it works if I cha

[2021-06-16 04:20] chetak123 commented on #1991
Hello @JimBugwadiahello, I am very new to this project and would like to start contribution. Can I please take this issue ?

I would like to use camelCase as the consistent style.

[2021-06-16 04:26] JimBugwadia commented on #805
The DeepCopyInto methods added in kyverno/v1/utils.go work-around codegen issues with handling DeepCopy of the apiextensions.JSON type. We need to update to apiextensions/v1.JSON which works with DeepCopy and remove these methods, or re-write them to actually perform a deep copy.

Also see: https://github.com/kyverno/kyverno/pull/2000

[2021-06-16 04:29] JimBugwadia commented on #1991
@chetak123 - thanks for contributing and welcome to the Kyverno project!

[2021-06-16 04:34] realshuting commented on #1991
@chetak123 - I would suggest following the Kubernetes way to use hyphenated styles.

[2021-06-16 05:17] chetak123 commented on #1991
Thanks for assigning me this issue, I will make sure to use hyphenated styles.

[2021-06-16 05:26] realshuting commented on #1987
Closed via #1988.

[2021-06-16 05:26] #1987 closed

[2021-06-16 05:30] JimBugwadia commented on #1991
@realshuting - looks like we started with camelCase flags, and then later switched to the hyphenated kubectl style.

Here are all the flags:
- filterK8sResources
- excludeGroupRole
- excludeUsername
- webhooktimeout
- gen-workers
- kubeconfig
- serverIP
- profile
- profile-port
- disable-metrics
- metrics-port
- background-scan
- image-pull-secrets
- generateSuccessEvents

I am OK with any of the

[2021-06-16 06:05] ahmedwaleedmalik commented on #2011
@realshuting I'll cover this in #2000 as well.

[2021-06-16 14:20] transkonduktor opened #2027 "[BUG] Randomly generated test output"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.11
* Kyverno version: v1.4.0-rc1
* Kyverno cli version: 1.3.6

**Describe the bug**
When I try to use kyverno test cli the results are different for the same test in different executions. e.g.

[code]
and I belive that the same situation is in kuberenetes:

[code]

**To Reproduce

[2021-06-16 16:07] drewhemm opened #2028 "Mutating image registry does not preserve the project name"
**Is your feature request related to a problem? Please describe.**

Relates to https://github.com/kyverno/kyverno/issues/674

The sample policy [Replace Image Registry](https://kyverno.io/policies/other/replace_image_registry/?policytypes=mutate%2BPod) does not work well when the image is in `project-name/image-name` format. The regex replaces `project-name` with the custom repository, so that you

[2021-06-16 17:20] JimBugwadia opened #2029 "Make Kyverno configuration consistent across ConfigMap and flags"
**Is your feature request related to a problem? Please describe.**

Kyverno supports configuration via a ConfigMap and flags:

  https://kyverno.io/docs/installation/#configuring-kyverno.

   https://kyverno.io/docs/installation/#flags

Here are some issues:
- its not clear which options are supported as a flag, or in the CM
- its not clear which setting overrides the other flag or CM
- its not cl

[2021-06-16 17:22] JimBugwadia opened #2030 "New validation rule "changes allow / deny""
See discussion: https://github.com/kyverno/kyverno/discussions/1639

The proposal is for a new validation type to make it easy to allow or deny changes to certain fields:

[code]

[2021-06-16 17:28] nuno-silva opened #2031 "[BUG] kyverno test interprets filename containing 'http' as URL"
**Software version numbers**

* Kubernetes version: N/A
* Kyverno version:

Version: 1.3.6
Time: 2021-05-17T18:55:50Z
Git commit ID: 4f79f44f9fdf082e7e67edaa619c0afe0e843bd5

**Describe the bug**

When writing a test which imports a policy from a filename containing "http" or "https" (even without `://`), kyverno tries to parse the filename as an URL, even though it's clearly not an URL.

**To Rep

[2021-06-16 17:49] realshuting commented on #2029
One question regarding "Support all settings as flags and in the CM" - take [this](https://github.com/kyverno/kyverno/pull/2003) as an example, the value of this tag takes a JSON string, which actually is a list of objects. Is there any best practice for defining a flag?

One option is to take a file to configure `webhooks`, but that needs to mount the filesystem to the Kyverno pod.

[2021-06-16 18:09] JimBugwadia commented on #2029
Yes, that can get a bit ugly but can be handled with escaping. Here is a similar discussion:

https://stackoverflow.com/questions/48650734/passing-a-json-string-command-arg-in-a-yaml-file

[2021-06-16 18:50] DarthBenro008 commented on #2031
Hey There! I am getting started on exploring Kyverno's codebase and would like to work on this issue. 😃

[2021-06-16 18:50] DarthBenro008 commented on #2031
/assign

[2021-06-16 19:45] realshuting commented on #2028
Hi @drewhemm - thanks for reporting. We'll investigate this issue.

[2021-06-16 22:31] realshuting commented on #1991
Based on previous observations, this flag is widely used `filterK8sResources` and it's configurable via the ConfigMap (hardcoded in the code),  `excludeGroupRole` and `excludeUsername` are also hardcoded. So it's easier (fewer changes) to keep using camelCase.

[2021-06-17 06:06] NoSkillGirl commented on #2025
@juanvasquezreyes - just change resource kind to `Secret`, the policy will work.

[code]

[2021-06-17 07:55] drewhemm commented on #2028
I think what is needed is something like this, but I am unsure how to chain the functions:

[code]

[2021-06-17 12:17] juanvasquezreyes commented on #2025
I did that and is bringing kyverno down using 1.3.2 version and also 1.3.6

[2021-06-17 17:13] vyankyGH commented on #2027
@transkonduktor I have try multiple time to reproduce the issue but every time I get same result in different executions. I have not get results are different for the same test.

What I understand is want to  exclude linkerd containers, so if there’s an uniq identifier for the linkerd pod, you can use a precondition to filter it out. Either labels or pod name to do that.

Can you please try with n

[2021-06-17 19:16] treydock opened #2033 "[BUG] Unable to build Kyverno CLI main branch with Go 1.16"
**Software version numbers**
Using main branch from latest v1.4.0-rc3 commit.

* Kubernetes version: NA
* Kyverno version: v1.4.0 RC3

**Describe the bug**
When I attempt to build the Kyverno CLI using Go 1.16 container, the build fails.  This is not an issue when I build CLI against 1.3.6 tag.

**To Reproduce**
Using `golang:1.16` container build Kyverno CLI via `make cli`:

[code]

**Expected be

[2021-06-17 20:42] realshuting commented on #1987
Hi @treydock, I'm trying to set up Prometheus with service type NodPort, is this a typo? Shouldn't it be `nodePort: {{ .Values.metricsService.nodePort }}`?
https://github.com/kyverno/kyverno/blob/3e4ee51267d61f4d76df0b3d28d5e27c36ac066e/charts/kyverno/templates/service.yaml#L41

[2021-06-17 20:49] treydock commented on #1987
Ah ya it should be like you described: https://github.com/kyverno/kyverno/blob/3e4ee51267d61f4d76df0b3d28d5e27c36ac066e/charts/kyverno/values.yaml#L165  I think it was just a bad copy+paste and replace mistake.  Fix here: #2035

Just FYI that if Prometheus is running inside the Kubernetes cluster, you probably don't want NodePort.  The automatic Kubernetes discovery in Prometheus works really well

[2021-06-17 22:27] realshuting commented on #1987
Thanks @treydock!

I created a separate repo [kyverno/grafana-dashboard](https://github.com/kyverno/grafana-dashboard) to add instructions for Proemethus/Grafana setup. I have a blog post ready for setting up the dashboard using `/examples` in the Minikube (that's why I need NodePort to expose the service).

I have not tried how your setup works, if you are interested, please feel free to submit a

[2021-06-17 22:36] #2033 closed

[2021-06-18 06:50] Retna-Gjensidige opened #2036 "[BUG] Helm chart - envVars only applies to initContainers"
**Software version numbers**
Helm chart: v1.3.6

**Describe the bug**
The envVars configuration is only applied to initContainers in the deployment.yaml of the chart.

**To Reproduce**

1. Go to: [template](https://github.com/kyverno/kyverno/blob/a9e3092fca7e0287b2e9d9988a12aad3ef5d6407/charts/kyverno/templates/deployment.yaml#L69)
2. The envVars is only set under initContainers, there is no simil

[2021-06-19 00:34] realshuting commented on #1986
Hi @hans-d, I'm curious to know what's the intent behind this?

The policy reports are initialized during the starts, this guarantees that all the existing resources are processed and the results are recorded in reports. For new resources (admission requests), Kyverno will apply the policies and merge the results to the existing reports. The background scan is performed every hour by default just

[2021-06-19 04:15] NoSkillGirl commented on #2025
@juanvasquezreyes -  are you trying to keep `kind` as `Ingress` under match block?

[2021-06-19 07:25] #2023 closed

[2021-06-19 21:16] juanvasquezreyes commented on #2025
This is what I'm applying and its making kyverno crash and restart the pod
[code]

and this is my ingress
[code]

the network policy I want to be created is not even creating and if I just change to look after namespace it works whenever I create a new namespace

and is making my pod restart after that change with the following error
[code]

[2021-06-21 12:04] NoSkillGirl commented on #2025
@juanvasquezreyes - I tried with the above policy and resources. I am not getting any errors and the policy is working as expected. Which Kyverno and Kubernetes version you are using?

[2021-06-21 12:49] stefanprodan opened #2043 "[BUG] Failed to substitute variables in Kyverno 1.4.0"
I'vs noticed that upgrading Kyverno from 1.3 to 1.4 breaks the policies we use in Flux. I'm not sure if this is an undocumented breaking change or a bug.

**Describe the bug**

These [policies](https://github.com/fluxcd/flux2-multi-tenancy/blob/main/infrastructure/kyverno-policies/flux-multi-tenancy.yaml) used to work fine, but with Kyverno 1.4.0 our end-to-end tests are failing with:

[code]

**T

[2021-06-21 13:42] pankajmt opened #2044 "[BUG] Disallow pod exec operation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.19.8-eks-96780e
* Kyverno version: 1.4.0

**Describe the bug**
Disallow pod exec in myapp namespace except for all except myapp-maintenance pods

Policy
[code]

Exec operation
[code]

Audit Output
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. helm install kyverno kyv

[2021-06-21 13:51] chipzoller commented on #2044
We currently don't have the ability to block this as per [this issue](https://github.com/kyverno/kyverno/issues/1069).

[2021-06-21 13:52] chipzoller commented on #2044
Update, this one: https://github.com/kyverno/kyverno/issues/1397

[2021-06-21 14:26] Cna59 opened #2046 "Kyverno test with a variable for policies"
**Software version numbers**

* Kubernetes version: v1.19.9-gke.1900
* Kyverno version: v1.4.0

**Describe the bug**

I would like to test some policies with `kyverno test`.

One of my policy has a variable {{ .Values.global.dns.name }}.

[code]

I would like to write some cli test for this policy, is it possible to add a value for `{{ .Values.global.dns.name }}`

**To Reproduce**

1. Define a Clu

[2021-06-21 15:02] JimBugwadia commented on #1069
Hi Chip, it should be possible to validate / block PodExecOptions with current policies.

Here are some examples of how to use this:

https://blog.styra.com/blog/investigate-and-correct-cves-with-the-k8s-api

https://www.gitmemory.com/issue/open-policy-agent/gatekeeper/1056/759150283

[2021-06-21 15:20] chipzoller commented on #1069
I think I looked into this before and it wasn't picking it up. We determined the best way to support was to simply add the CONNECT op, which should be very straightforward.

[2021-06-21 16:32] andriktr opened #2051 "[BUG] 1.3.6 -> 1.4.0 Upgrade failing"
Hi,
I trying to upgrade my kyverno deployment from 1.3.6 to 1.4.0. My helm upgrade is failing with the following error

[code]

It's seems that new chart version got additional selector ```app:kyverno``` in the kyverno deployment template and this is the reason of this fail. As soon as I comment this selector directly in the template the upgrade goes smoothly.

[2021-06-21 17:23] juanvasquezreyes commented on #2025
I tested with 1.3.2 version and kubernetes rancher v1.19.4

Also tried to install version 1.4.0 and kyverno wasnt even starting

I'm starting to think that might be a cluster issue? if so what can I check?

[2021-06-21 23:40] realshuting commented on #2043
Hi @stefanprodan - thanks for reporting!

I did check the automation job when `v1.4.0-rc1` was pushed, looks like it [passed](https://github.com/fluxcd/flux2-multi-tenancy/actions/runs/920085887) at that point. I don't recall we have changed related logic for variable substitution after rc1, but we will double-check that and get back to you on this.

[2021-06-22 00:10] pankajmt commented on #2044
Many thanks for the quick response. I will have to continue using GateKeeper then for now. But carry on the good work to build a viable alternative. Adding some support for writing a webhook implementation in a developer friendly language (outside of the manifest) would be a significant value add - will bring power of expression and that way development teams can take ownership of the logic. So de

[2021-06-22 00:13] pankajmt commented on #2044
BTW my issue seems to be it does pick up the and try to apply the policy, but blocks both bad and good. This in response to the comment - https://github.com/kyverno/kyverno/issues/1069#issuecomment-865120547.

[2021-06-22 00:16] realshuting commented on #2044
Thanks @pankajmt, we'll look into it and add the support.

[2021-06-22 01:29] realshuting commented on #2051
Hi @andriktr - thanks for reporting this issue.

Looks like the label was added to make it [consistent](https://github.com/kyverno/kyverno/pull/1873#issuecomment-833798326) with direct manifests. Are you able to reinstall Kyverno? I can add this to the release note.

[2021-06-22 01:37] #1961 closed

[2021-06-22 03:39] NoSkillGirl commented on #2025
@juanvasquezreyes - Can you check why 1.4.0 is not getting started? Can you provide me the event details.

[2021-06-22 05:00] vyankyGH commented on #1922
@daviddyball Extremely sorry for late reply. Autogen rule apply only for Kind Pod. If we want policy for deployment we have create another policy specific for deloyment, or we can add deployment in match-resource-kind.

[2021-06-22 06:11] andriktr commented on #2051
Hi @realshuting yea I can manually remove the deployment ant then trigger CI/CD pipeline which deploys kyverno, no problem with this. Marking this in the release notes would be valuable IMO.
Thanks.

[2021-06-22 09:11] vyankyGH commented on #2046
Hi @Cna59 Can you please try with adding ****background: false****  flag in cluster policy under spec?
[code]

[2021-06-22 13:34] yuriydzobak opened #2053 "[BUG] HA kyverno 1.4.0"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kyverno version: 1.4.0

**Describe the bug**
I have started two replicas kyverno, and run loop for creating POD, then I kill not master pod, and when new one POD is starting it changed election leader, and requests passed. I think, it should not be changed master POD

**To Repr

[2021-06-22 13:52] Cna59 commented on #2046
Thanks @vyankyGH  it does the tricks

[2021-06-22 13:52] #2046 closed

[2021-06-22 14:20] daviddyball commented on #1922
@vyankyGH What you suggested is the workaround I've implemented in my tests... but it's not a fix.

Isn't the point of auto-gen rules to take policies that target `Pods` and automatically make them fit with `Deployment`, `Job` and `Daemonset` objects so you _don't_ have to add duplicate policies?

As far as I'm aware this is only affecting the `test` subcommand and auto-gen works normally against

[2021-06-22 16:58] abhishekghiya commented on #1780
Hi @realshuting , we observed one more scenario where kyverno caused kube-schedular and kube-controller to go in crash back loop of state. Steps to reproduce:

[kubeSchedular.txt](https://github.com/kyverno/kyverno/files/6696076/kubeSchedular.txt)
[kubeController.txt](https://github.com/kyverno/kyverno/files/6696077/kubeController.txt)

1.)  Stopped the containerd on node where kyverno was schedul

[2021-06-22 17:51] caniszczyk opened #2055 "Create SECURITY.md and disclosure process"

[2021-06-22 18:05] #1818 closed

[2021-06-22 18:39] JimBugwadia commented on #2055
Thanks @caniszczyk! This is timely, as we have started discussions with TAG security on a security self-assessment. Its WIP, but see: https://github.com/kyverno/tag-security/blob/main/assessments/projects/kyverno/self-assessment.md

Are there any templates, standards, or best practices for CNCF projects that we can adopt?

[2021-06-22 19:32] caniszczyk commented on #2055
There's no one template sadly, outside of use the built in github tooling to do the eventual disclosure/patching

There are some examples here: https://github.com/google/oss-vulnerability-guide/tree/main/templates/security_policies

You can also look at projects like Envoy https://github.com/envoyproxy/envoy/blob/main/SECURITY.md but they are more complex because they have a notion of distributors

[2021-06-23 01:11] realshuting commented on #2051
Thanks @andriktr!

After discussing with @JimBugwadia, we agreed on using the Kubernetes [recommended](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/) labels in the selector field. And this selector `app: kyverno` will be removed in v1.4.1. I have added a message in the release [note](https://github.com/kyverno/kyverno/releases/tag/v1.4.0). Sorry for the back and

[2021-06-23 01:50] realshuting opened #2057 "Automate Helm Release Process"
**Is your feature request related to a problem? Please describe.**
The Helm chart is published [manually by uploading assets](https://github.com/kyverno/kyverno/wiki/Generate-a-Release#publish-helm-release-manually) to `gh-pages` branch.  It would good to automate this process in the CI workflow, any changes in the chart can then be picked up and published accordingly, see https://github.com/kyver

[2021-06-23 04:40] #2031 closed

[2021-06-23 05:07] abhishekghiya opened #2058 "Kyverno is causing Cluster corruption in one of the edge case scenario"
Kyverno Version : 1.3.5

We observed one scenario where kyverno caused kube-schedular and kube-controller to go in crash back loop of state. Steps to reproduce:

1.) Stopped the containerd on node where kyverno was scheduled by kubernetes. Once containerd was stopped, Kyverno pod was still in running state with the following error in the logs :

Error from server: Get "https://192.168.100.31:10250

[2021-06-23 06:00] vyankyGH commented on #2053
@yuriydzobak we have try to reproduce the issue but we are not succeed. Is kyverno running on more than one node?
Is any other information is missing? Please help us reproduce.
Thanks

[2021-06-23 06:32] andriktr commented on #2051
No problem @realshuting. I'm glad to help.

[2021-06-23 06:39] DarthBenro008 commented on #2057
Hi @realshuting , I came across this GitHub action [@helm/chart-releaser-action](https://github.com/helm/chart-releaser-action) and thought would be useful for this scenario, but I noticed Kyverno's GitHub CI already makes use of this in the `releaser.yaml`

https://github.com/kyverno/kyverno/blob/3b06378142183075870548c697b3151bf5b4aeec/.github/workflows/release.yaml#L179-L182

Ideally, shouldn't

[2021-06-23 07:22] realshuting opened #2060 "[BUG] Prometheus metrics are not registered if running multiple replicas"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.0

**Describe the bug**
When I ran Kyverno with multiple replicas, some of the metrics were not registered (not seen in the Prometheus dashboard), once I scaled down to a single replica, all metrics showed up.

[2021-06-23 07:42] lliknart commented on #838
Hi,

I still get this error in logs with kyverno 1.4.0 and k8s 1.19.8

[code]

Hereafter one of this CRD:

[code]

I thought this should be ignored

[2021-06-23 12:50] chipzoller opened #2061 "[BUG] Broken link in `config.resourceFilters` Helm option"
Helm README broken link.

[2021-06-23 12:50] chipzoller commented on #2061
/assign

[2021-06-23 15:13] stefanprodan commented on #2043
@realshuting found the issue, the e2e tests was using Kubernetes 1.17, after switching to 1.20 it worked. I would document what's the minimum supported version by Kyverno 1.4.

[2021-06-23 15:34] lliknart opened #2063 "[BUG] "value failed wildcard check" log is generated"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.8
* Kyverno version: 1.4.0

**Describe the bug**
When apply this clusterpolicy, it works fine: when I create a Pod with private.registry.1 or private.registry.2 , the result is "passed"

[code]

Results:

However, the following log (level: info) is also generated for all existing

[2021-06-23 16:47] NoSkillGirl commented on #1840
@JimBugwadia - we do not allow variables in the complete match/exclude block or just in match.kind/exclude.kind?

[2021-06-23 20:11] realshuting commented on #2043
Thanks @stefanprodan for the info.  The minimum supported k8s version is 1.16 as we documented [here](https://kyverno.io/docs/installation/#compatibility-matrix).

@MarcelMue - can you please investigate the root cause for this? We may need to update the compatible matrix if it does relate to k8s versions.

[2021-06-23 20:14] #2051 closed

[2021-06-23 20:19] realshuting commented on #2057
Yes @DarthBenro008 , we had this working before and it was broken at some point. Last time I tried investigating the issue but with no luck, so we switched to the manual release process. The difficult thing is how to test this action, we cannot really push a new Helm release to test that, it's better to test it locally or in some other private repo.

[2021-06-23 20:25] DarthBenro008 commented on #2057
@realshuting i think temporary testing in a new branch of a forked repo would workout, if not we could write a small bash script automation that can be called by the CI to release helm charts.

I'd like to help in this investigation and see if we can use the chart-releaser-action to work 😃

[2021-06-23 20:27] realshuting commented on #2057
Thanks @DarthBenro008, assigned!

[2021-06-23 21:17] #1622 closed

[2021-06-23 21:58] realshuting commented on #2058
This is an interesting case. I believe kubelet was running on port 10250, since the container runtime was down in this case, the request that queries pod/container's log was refused. The livenessProbe just checks the connection to port 9443 on the Pod, maybe that's why it didn't restart the Pod?

I wonder what was the node status when containerd on that worker node was down? Since kubelet may not

[2021-06-23 22:00] realshuting commented on #1780
Hi @abhishekghiya - sorry I lost track of this issue yesterday. I've replied to another issue you created.

[2021-06-23 22:09] treydock commented on #2057
@DarthBenro008 @realshuting That chart releaser doesn't work with tags.  This is what happens in Github Action:

[code]

This is a well known and frustrating "feature" of the official Helm releaser action.  I ran into this on some of my projects and also had MetalLB developers run into it too.  The solution is a different chart releaser, like this one: https://github.com/marketplace/actions/helm-p

[2021-06-23 23:22] nuno-silva commented on #2031
Thanks @DarthBenro008 :confetti_ball:

[2021-06-23 23:46] realshuting commented on #2057
This is great @treydock,  good to know!

[2021-06-23 23:48] realshuting commented on #2063
Closed by #2064 from @treydock, thanks!

[2021-06-23 23:48] #2063 closed

[2021-06-24 02:13] chipzoller commented on #1397
@realshuting this is the issue we can use to track this support. I think we have a couple at this point.

[2021-06-24 12:09] kacejot commented on #2043
cc: @stefanprodan, @realshuting
I have finished my research about the reason of this issue.
The logic that is responsible for resolving variables with NotFoundVaribale error haven't changed. The main change for it is presented in [this PR](https://github.com/kyverno/kyverno/pull/1930) and it is not merged.
Also I had some difficulties with reproducing the issue. Could you please provide more detai

[2021-06-24 12:09] chipzoller opened #2067 "Sample policy to verify non-overlapping root paths in Ingress resources"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

Even with the [restricting of unique hosts policy](https://kyverno.io/policies/other/restrict_ingress_host/), users could potentially write a policy which re-uses a root path in another namespace thereby breaking

[2021-06-24 12:11] chipzoller commented on #2067
/assign
/label sample policy

[2021-06-24 12:22] stefanprodan commented on #2043
@kacejot to replicate this https://github.com/fluxcd/flux2-multi-tenancy/runs/2895612637

* download kind v0.7.0
* create cluster using `kind create cluster --name=kind --wait=300s`
* the above will create a Kubernetes v1.17.0 cluster
* install Kyverno on it
* apply the policy from here https://github.com/fluxcd/flux2-multi-tenancy/blob/main/infrastructure/kyverno-policies/flux-multi-tenancy.yaml

[2021-06-24 14:45] kacejot commented on #2043
@stefanprodan, I tried different versions of kind but I've got no success with reproducing the issue.
Tried with v1.17.0 cluster and v1.20.0 and the results are the same.

[2021-06-24 14:46] antoineozenne opened #2068 "Can't test policy excluding resources OR clusterRoles"
`kubectl kyverno version`:

[code]

Don't sure it's a bug, or a misunderstanding:

`policy.yaml`:

[code]

`clusterrolebinding.yaml`:

[code]

`test.yaml`:

[code]

Then `kubectl kyverno test -v 10 -f test.yaml .` gives me:

[code]

And if I set `spec.background: false`, the test is OK. But why ?

[2021-06-24 14:53] stefanprodan commented on #2043
Kubernetes 1.17 is EOL so no point in digging into this anymore, thanks @realshuting and @kacejot for the help.

[2021-06-24 14:53] #2043 closed

[2021-06-24 17:30] nuno-silva opened #2069 "[BUG] "Failed to watch... the server could not find the requested resource" messages printed in logs"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.19.6-eks-49a6c0
* Kyverno version: v1.3.6

**Describe the bug**

Kyverno logs continually print:

[code]

**Additional context**

Seems similar to #1543 (which is fixed?), but the cause of the error seems different (`the server could not find the requested resource` vs `unknown`)

[2021-06-24 18:34] realshuting commented on #2043
@kacejot - can we add this to our e2e test as well?

[2021-06-25 06:11] RinkiyaKeDad opened #2071 "marking name field as deprecated"
**Describe the solution you'd like**
Once we merge #2010 we should mark the `name` field in match and exclude resources block as depreciated since we'll be switching over to `names`.

[2021-06-25 06:47] abhishekghiya commented on #1780
ok, thanks @realshuting

[2021-06-25 09:15] lliknart commented on #2051
Hello, I have the same issue when I upgrade from 1.4.0 to 1.4.1

[code]

[2021-06-25 10:29] andriktr commented on #2051
This is expected as @realshuting mentioned they removed the app:kyverno selector in 1.4.1. So you either need to add it back in the template (don't recommend it as you will need to do ir for each upgrade) or just remove deployment and deploy it again.

[2021-06-25 13:00] chipzoller opened #2072 "JMESPath custom function for substring contains"
**Is your feature request related to a problem? Please describe.**
There is not a function in the official JMESPath reference which is capable of doing substring searches. The closest thing is [contains ](https://jmespath.org/specification.html#contains) but it does not function as a substring search when the input is an array of strings.

**Describe the solution you'd like**
New JMESPath function

[2021-06-25 13:11] chipzoller commented on #2072
@kacejot ☝️

[2021-06-25 14:16] JimBugwadia commented on #2051
You can also install v1.4.1, to avoid this issue. The only change from v1.4.0 is the selector.

[2021-06-25 14:29] chipzoller commented on #2072
It actually appears [here ](https://jmespath.org/tutorial.html#functions) that `contains` might actually do this.

[2021-06-25 21:36] realshuting opened #2074 "[BUG] Policy cache returns the duplicated policies"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.2
* Kyverno version: 1.3.6

**Describe the bug**
The policy cache returns the duplicated result of the following mutate policy, thus the same policy is applied twice on the resource.
[code]

resource.yaml
[code]

Code:
https://github.com/kyverno/kyverno/blob/4ca208da25f9a91b12934

[2021-06-25 22:13] FernFerret opened #2075 "[BUG] kyverno test cli reports pass for a policy which should fail the test"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: `v1.21.0`
* Kyverno version: `v1.4.1`

**Describe the bug**
A clear and concise description of what the bug is.

`kyverno test` reported pass for a policy that should have failed due to a mistake in the policy itself.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone a copy

[2021-06-26 02:10] viveksahu26 commented on #2075
/assign

[2021-06-26 14:36] chipzoller commented on #2067
Working policy:

[code]

[2021-06-26 14:41] chipzoller opened #2076 "Kyverno should log a message when an existing policy is updated"
**Is your feature request related to a problem? Please describe.**
Kyverno today logs a message when a policy is created and deleted, but not when it is updated. This makes it so a potentially malicious actor can modify a policy to their liking and it evade detection if the log streams are being monitored by a SIEM tool.

**Describe the solution you'd like**
Kyverno should log whenever an existing

[2021-06-26 15:09] chipzoller commented on #2072
There seems to be some inconsistency with how `contains` works on substring detection in array/string type. The contains interactive example [here ](https://jmespath.org/tutorial.html#multiselect) appears to match on substring whereas the same thing doesn't work in `jp` or on the tester on the [homepage](https://jmespath.org/).

[2021-06-26 15:24] chipzoller commented on #2072
It apparently works if each is converted to a string first.

[code]

[2021-06-27 08:46] abhishekghiya commented on #2058
Thanks @realshuting for checking,  The node was still in ready state after cluster restart, only the containerd on the worker node was down. So, kyverno was still running on that worker node and was in ready / running state.

Will really appreciate if you can provide fix or suggest any workaround here as this is one of the failure mode observed in our production release

[2021-06-27 18:03] chipzoller commented on #2076
I see this is printed in some cases but not all:

[code]

[2021-06-27 19:31] JimBugwadia commented on #1753
@realshuting @fjogeleit - seems like we have a solution described in https://github.com/kyverno/kyverno/issues/1841? Can we target for 1.4.2?

Currently we are unable to use Kyverno and the [wg-policy kube-bench adapater](https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report/kube-bench-adapter) in the same cluster due to CRD conflicts.

[2021-06-28 05:34] JimBugwadia opened #2077 "Image verification with Cosign and Kyverno"
**Is your feature request related to a problem? Please describe.**

Kyverno can check for trusted image registries, but images run in a cluster are not cryptographically signed and verified.

**Describe the solution you'd like**

Use [Cosign](https://github.com/sigstore/cosign) to sign images and store the image signatures in an OCI compliant registry. Then use Kyverno to validate the image signat

[2021-06-28 07:07] MarcusNoble commented on #2002
Can we get this issue re-opened please? It's not yet fixed.

(cc @NoSkillGirl)

[2021-06-28 10:00] #2002 closed

[2021-06-28 18:12] NoSkillGirl commented on #2025
@juanvasquezreyes - are you still facing the issue?

[2021-06-28 19:04] NoSkillGirl commented on #2068
@antoineozenne - I am able to reproduce the issue. I will work on the fix.

[2021-06-28 23:25] realshuting commented on #2058
Hi @abhishekghiya - yes, you can reduce the webhook timeout to recover the cluster as described in [this](https://github.com/kyverno/kyverno/issues/1950#issuecomment-853357222) issue. And Kyverno (v1.4.0+) allows configuring the `namespaceSelector` on the webhook configurations, you can ignore namespace `kube-system` to filter out control plane admission requests.

What kind / version of cluster a

[2021-06-29 05:03] realshuting commented on #1753
I have not fully verified the solution end to end. @fjogeleit - are you interested in prototyping it? Or else we can pick it up and then merge your PR along with the upgrade fix.

[2021-06-29 05:04] realshuting commented on #838
Hi @lliknart - thanks for reporting. We'll investigate and get back to you.

[2021-06-29 05:31] #1990 closed

[2021-06-29 06:09] RinkiyaKeDad commented on #1853
Current behaviour:
[code]

Proposed behaviour:

[code]

[2021-06-29 06:41] #2018 closed

[2021-06-29 08:00] NoSkillGirl commented on #2068
@antoineozenne - regarding background scanning, you can check this document - https://kyverno.io/docs/writing-policies/background/

I am closing this issue for now. If you still have doubt. Feel free to reopen it with a comment.

[2021-06-29 13:10] NoSkillGirl commented on #838
@lliknart - I tried applying the given CRD, I get the following error:
[code]

When I comment `preserveUnknownFields: true` in CRD, I am able to create it but I did not get any error.

[2021-06-29 14:16] vyankyGH commented on #2053
Hi @yuriydzobak Thanks for reporting issue. We are able to reproduce it. We are working on to Fix issue.
If this issue is blocking, Please scale kyverno  replicas to 3. It will work. T
Thanks

[2021-06-29 15:23] NoSkillGirl commented on #1840
@JimBugwadia , @chipzoller , @realshuting ??

[2021-06-29 15:58] chipzoller opened #2083 "[BUG] invalid memory address or nil pointer dereference"
**Software version numbers**

* Kubernetes version: v1.20.6+k3s1
* Kyverno version: 1.4.0

**Describe the bug**
After creating the following policy, Kyverno logs errors.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the policy above
2. View log spew for nil pointer dereference

**Expected behavior**
If policy is invalid, it should be rejected by admission control.

[2021-06-29 16:25] JimBugwadia commented on #1840
Variables are currently not allowed in the `kind` field. I am not aware of any other restrictions.

However, see: https://github.com/kyverno/kyverno/issues/1954

[2021-06-29 16:25] JimBugwadia commented on #1954
@vyankyGH - any suggestions on this?

[2021-06-29 16:54] NoSkillGirl commented on #2025
@juanvasquezreyes - Closing this issue for now. Feel free to reopen with a comment if the issue still exists.

[2021-06-29 16:54] #2025 closed

[2021-06-29 20:36] #2057 closed

[2021-06-29 20:48] #2061 closed

[2021-06-29 21:39] realshuting commented on #1922
@vyankd - any updates?

[2021-06-30 05:55] NoSkillGirl opened #2085 "E2E test cases for generate policy with clone"
Add e2e test cases for generate policy with clone:

- the generated resource is not deleted after the generate policy is gone
- the generated resource is not updated if the source resource is updated (followed by the first test)
- the generated resource is not deleted after the source is deleted (followed by the first test)

Related PR - https://github.com/kyverno/kyverno/pull/1880

[2021-06-30 18:37] chipzoller opened #2086 "Sample policy for memory requests equal limits"
[code]

Credit to @kacejot

[2021-06-30 18:48] chipzoller opened #2087 "Sample policy for adding `image` as an env var to containers"
To supplement a gap in the downward API, write a policy to mutate pods which adds an env var to each container the value of which is the name of the image.

@kacejot similar to your idea [here](https://github.com/kyverno/kyverno/issues/2086), is there a way to write the JMESPath expression so it refers to the current `containers` index?

Here's a starter (which doesn't work):

[code]

[2021-06-30 19:00] #1401 closed

[2021-06-30 19:20] #2074 closed

[2021-07-01 00:26] s-shirayama commented on #1830
I saw the same error message on our cluster (kubernetes version: 1.19.6, kyverno version: 1.3.5).
In our case, this seems due to DataDog Cluster Agent as External Metrics Provider.

When we install DataDog Cluster Agent as External Metrics Provider, `external.metrics.k8s.io` is registered as new APIService.
But, since there is no resources under this APIService, client-go returns error message "Go

[2021-07-01 00:41] s-shirayama commented on #1830
Maybe related with https://github.com/kyverno/kyverno/issues/1490

[2021-07-01 07:01] vyankyGH commented on #1922
Hi @daviddyball I have tried the above policy and resource with **apply** command I get the same behavior as test command.
 applying 1 policy to 4 resources...
Here what I see:
[code]
There are 3 resources fail and 1 pass for pod with labels.

And we want test command against Pod auto-gen rules,
Rule which is created are has **autogen-** added to the rule name and the pattern created for deploymen

[2021-07-01 07:20] vyankyGH commented on #1954
@JimBugwadia
1. If the policy has to match all kinds,  then we should have metadata object in the policy. So, we can parse the policy, extract the pattern specified in each rule, and validate that each pattern only has metadata object defined.
2. Also we have to take care about the **Cache**. Currently  cache are created based on the Kind.

[2021-07-01 07:48] JimBugwadia commented on #1954
@vyankd

1. Check the slack link for an example where the policy can have additional definitions
2. Yes. Should be possible to have a cache entry for "*" that returns rules that match all kinds, or maintain these in an a separate list. On lookup, these entries would need to be appended.

[2021-07-01 10:41] #2085 closed

[2021-07-01 13:07] daviddyball commented on #1922
@vyankyGH thanks for coming back to me.... I see what you are saying.... I have to manually specify the `autogen-` prefix for the `Deployment` resources in my `test.yaml` e.g.

`- rule: autogen-check-for-labels`
vs.
`- rule: check-for-labels`

I guess this confusion came about because it's not documented anywhere for the end user that, when doing tests on auto-gen rules you have to use the `rule`

[2021-07-01 13:26] NoSkillGirl commented on #2083
@chipzoller - I did not get any error when I apply the above policy and the policy is created successfully.

[code]

I checked with kyverno 1.4.0 and 1.4.1. And kubernetes 1.20.

[2021-07-01 15:30] vyankyGH commented on #1922
@daviddyball yes your correct we should documented that and will do that.
@realshuting what's your thought's on this?

[2021-07-01 20:03] NoSkillGirl commented on #1830
@windowsrefund - I am not able to reproduce the error. I have tried with Kyverno version - 1.3.4 and 1.4.1, Kubernetes version - 1.20, and metrics-server version 0.5.0.

Please check with the latest version of kyverno. Let me know if you are still facing the same error.

[2021-07-01 21:11] NoSkillGirl commented on #1957
@jack-jarvis - I tried to reproduce the issue with the steps you have provided. I have tried with kyverno version 1.4.1. I did not see any warning. The kyverno pod is running good for me.
[code]

Can you please check once with the latest version of kyverno? And let me know if you are still facing the same error.

[2021-07-01 22:39] realshuting opened #2092 "[BUG] Generate policy is reconciled endless if sync=true"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.2
* Kyverno version: 1.4.1

**Describe the bug**
With the following generate policy that has synchronize set to true, I'm seeing this log been printed endlessly.
[code]

[code]

[2021-07-02 00:15] chipzoller commented on #2083
Also cannot reproduce on Kyverno 1.4.0 on v1.21.2+k3s1. Closing for now. Will re-open if can reproduce consistently.

[2021-07-02 00:15] #2083 closed

[2021-07-02 04:03] vyankyGH commented on #1922
Hi @daviddyball I will raised PR for support autogen-naming for test command. After that,  for test against autogen rule's, No need to add **autogen**-  prefix  for rule names.it will work as you defined in test.yaml.
Thanks.

[2021-07-02 05:56] #1801 closed

[2021-07-02 11:19] vyankyGH commented on #2027
@NoSkillGirl Can you try to reproduce the issue from your end.

[2021-07-02 12:04] antoineozenne commented on #2068
/reopen @NoSkillGirl, thank you, it was a mistake for the ClusterRoleBinding. However, the problem is the same with a RoleBinding. I try to match all `RoleBinding` except those of the namespace `kube-system` and those created by the `ClusterRole` `rbac-manager`.

[2021-07-02 12:56] MarcelMue opened #2094 "[BUG] CRDs are only loaded on startup and not refreshed"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.1
* Kyverno version: 1.4.1

**Describe the bug**
Add CRD and mutation policy on this CRD while Kyverno is running -> policy always fails until Kyverno pod is restarted

**To Reproduce**
Steps to reproduce the behavior:
1. Start a kyverno pod in your cluster
2. Create a new CRD
3

[2021-07-02 13:38] kacejot commented on #1658
@JimBugwadia, @realshuting
Due to the discussion https://github.com/kyverno/kyverno/discussions/2004, the condition in the `initContainers.image` should not affect the `imagePullSecrets`:
[code]
We could close this issue. The same error messages could be seen in https://github.com/kyverno/kyverno/issues/1915, so I plan to fix that.

[2021-07-02 13:47] #1840 closed

[2021-07-02 14:10] NoSkillGirl commented on #2027
@vyankyGH - I am able to reproduce the issue. It is not the `test` command specifically. As test command shows what we get with the `apply` command. Try to reproduce the issue with the `test` or `apply` command, you should get it.

<img width="1221" alt="Screenshot 2021-07-02 at 7 25 21 PM" src="https://user-images.githubusercontent.com/36136335/124287156-53df6680-db6d-11eb-8dcd-0374027fe2a8.png">

[2021-07-02 20:23] realshuting commented on #2094
Thanks @MarcelMue, we'll investigate this issue and get back.

[2021-07-03 01:59] realshuting commented on #1915
@kacejot - are you planning to take this issue? Is this the same issue as what we have in https://github.com/kyverno/kyverno/issues/1658? If so, I can re-assign this issue to you and let's close both issues with fixing PR.

[2021-07-03 20:33] viveksahu26 commented on #2075
Hey @FernFerret , I tried to create the same environment as you created. For instance --> from "null' -->  null and validationFailureAction --> enforce.  As you mentioned in step no. 4 that your resource is being created in spite of the presence of policy in the cluster. But, it shouldn't be created because in the `test.yaml`  file it is mention that `status: fail`.
But when I repeat the same step

[2021-07-04 07:38] fjogeleit commented on #1753
@realshuting I can try ist out but maybe I will need  some help.

[2021-07-04 07:39] fjogeleit commented on #1753
@realshuting I can try ist out but maybe I will need  some help.

[2021-07-04 09:53] FernFerret commented on #2075
@viveksahu26 First off, thanks for taking a look at this, but I have some bad news... This looks like it's on me. I read through your reproduction procedures and decided to just start up an entirely fresh trial with `minikube` and I cannot reproduce my own steps nor your steps.

Even if I scale `kyverno` to 0 (which deletes its webhooks) I cannot get the output from `kubctl describe` that I'd seen

[2021-07-04 13:46] emraanali11 commented on #1607
A mutate policy which adds labels to namespace, only takes effect for new/updated resources, this creates an inconsistency as older resources has to be modified manually.
The feature is also required in case kyverno goes down and a new resource is created during the duration and fix has to be introduced manually after tracking it, another use case is when policies are added to a existing k8 cluste

[2021-07-04 15:59] viveksahu26 commented on #2075
Okay, @FernFerret . Whenever your environment gets ready, at least check again by applying policy and then let me know. I have already checked from my side. And it's working fine according to the `test.yaml` file. Till then I am assuming that issue is resolved. Thanks for describing your issue in detail. It becomes easy to understand.

[2021-07-05 05:32] NoSkillGirl opened #2095 "[BUG] Network policy is not getting generated on creation of a pod"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kyverno version: 1.4.1

**Describe the bug**
A clear and concise description of what the bug is.

Not able to generate a network policy on the creation of a pod.
related conversation - https://kubernetes.slack.com/archives/CLGR9BJU9/p1625148247045500

**To Reproduce**
Steps to

[2021-07-05 20:09] JimBugwadia commented on #1334
Seems like all fields in the webhook rules can be used:

[code]

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-rules

[2021-07-06 05:14] #1922 closed

[2021-07-06 10:36] psemeniuk opened #2097 "[BUG] Helmchart doesn't respect metricsService.create flag"
**Software version numbers**
* Kubernetes version: 1.19
* Kyverno version: kyverno v1.4.1

**Describe the bug**
Helm chart doesn't respect metricsService.create flag.

**To Reproduce**
Steps to reproduce the behavior:
1. Install helmchart with `metricsService.create: false` in helm values
2. kyverno-svc-metrics service is created

**Expected behavior**
kyverno-svc-metrics shouldn't be created

**A

[2021-07-06 11:58] chipzoller commented on #1994
Cross linking to discussion here: https://github.com/kyverno/kyverno/discussions/2065

[2021-07-06 12:06] chipzoller opened #2098 "e2e tests include all sample policies in kyverno/policies"
**Is your feature request related to a problem? Please describe.**
Too many regressions identified after a release has been cut which could have been caught in e2e testing against policies already written.

**Describe the solution you'd like**
All e2e tests automatically use all available policies in kyverno/policies as a test suite.

**Describe alternatives you've considered**
Manual process to a

[2021-07-06 12:13] psemeniuk opened #2099 "[BUG] prometheus samples produced by kyverno grows during runtime"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.4.1

**Describe the bug**
Kyverno produces a massive amount of timeseries exposed via metrics endpoint. It seems that one of the problematic metrics `kyverno_policy_rule_results_info` holds historical data for every policy check from the moment of application

[2021-07-06 12:19] chipzoller commented on #1685
This request for a policy is highly related to [this one](https://github.com/kyverno/kyverno/issues/2087).

[2021-07-06 12:38] chipzoller opened #2100 "[BUG] Using `patchesJson6902` where `path` contains a non-zero index number causes validation failure"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.2+k3s1
* Kyverno version: v1.4.1

**Describe the bug**
When creating a rule that uses `patchesJson6902` method where the `path` field refers to an array naming a non-zero index number, Kyverno prints a validation error message similar to the following:

[code]

**To Reproduce**

[2021-07-06 14:50] jack-jarvis commented on #1957
@NoSkillGirl Just updated to 1.4.1 and that seems to have stopped the warnings. Thanks!

[2021-07-06 17:13] vyankyGH commented on #2097
Hi @psemeniuk thanks for the issue.  Will fix.

[2021-07-06 18:29] realshuting commented on #1753
Sure, let me know if I can help.

[2021-07-06 18:31] realshuting commented on #1607
Link to the Slack [conversation](https://kubernetes.slack.com/archives/CLGR9BJU9/p1625151608048300).

[2021-07-06 18:33] #2075 closed

[2021-07-06 18:34] #2071 closed

[2021-07-06 18:40] realshuting commented on #1994
@viveksahu26 - since you are working on this issue, can you please comment so that I can assign to you?

[2021-07-06 18:43] realshuting commented on #2099
@yashvardhan-kukreja - can you please help with this issue? What are your thoughts on this?

[2021-07-06 19:03] viveksahu26 commented on #1994
/assign.  Yes @realshuting , definitely assign me.

[2021-07-06 19:38] ercpereda opened #2101 "Adding topologySpreadConstraints to the helm chart"
**Is your feature request related to a problem? Please describe.**
The `topologySpreadConstraints` are very important for multi-AZ deployments.

**Describe the solution you'd like**
Modify helm chart deployment template to be able to add `topologySpreadConstraints`

[2021-07-06 20:47] FernFerret commented on #2075
Thanks again all, I've tried a few times and am unable to reproduce this. I've really been enjoying kyverno and had been messing around with my lab install. I'm pretty confident I broke something myself. If I do manage to figure out what I did I'll at least update this ticket so we know  what to look out for!

[2021-07-06 23:09] realshuting commented on #2075
Thanks @FernFerret, let us know if you see the issue again.

[2021-07-06 23:33] chipzoller commented on #2100
Comparing the JSON 6902 patches being generated from two rules the only difference in which is the index number, the results are quite different.

In a rule like this

[code]

the generated patch (which is accepted) looks like

[code]

but in a rule which changes index `0` to `1`

[code]

the result yielded is

[code]

Relevant function is [here](https://github.com/kyverno/kyverno/blob/cd4d738667b

[2021-07-06 23:48] #1769 closed

[2021-07-06 23:57] realshuting commented on #2069
Hi @nuno-silva - can you please provide what are the types of resources that your policies apply to? To be more specific, all kinds specified in `clusterpolicy.rules[*].resources.match.kinds` and `policy.rules[*].match.resources.kinds`.

[2021-07-07 00:00] realshuting commented on #1831
Closing this issue, track `foreach` support in #1745.

[2021-07-07 00:00] #1831 closed

[2021-07-07 00:20] yashvardhan-kukreja commented on #2099
Thanks @psemeniuk for raising this and I am very much aware of this issue of cardinality explosion associated with this metric.
I agree that the design of this metric isn't the most suitable with respect to the backing nature of time-series database but we planned on breaking down this metric into the ones with low cardinalities and we still weren't able to achieve the level of insights this metri

[2021-07-07 00:33] yashvardhan-kukreja commented on #2099
But I still see some opportunities around getting rid of such issues around high cardinality metrics:
- We can tweak the `kyverno_admission_review_latency` metric to NOT involve futile high cardinality labels like cluster_policies_count, validate_rules_count, mutate_rules_count, etc.
- We can get rid of the `kyverno_policy_rule_results_info` metric as whatever insights it is providing, the exact s

[2021-07-07 00:43] yashvardhan-kukreja commented on #2099
@psemeniuk if you have any other such ideas, I'd love to hear em out and @realshuting we can raise all these ideas and concerns in the next contributor meeting, finalise on the re-design of some metrics and I can document all the finalised ideas into a github issue/issues and I can hop to resolving that issue/those issues.

Hope that sounds good 😊

[2021-07-07 09:41] Cna59 opened #2104 "[BUG] Kyverno updating the internal timestamp lead to endless loop create/delete mutatingwebhookconfigurations validatingwebhookconfigurations"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.19.10-gke.1600
* Kyverno version: v1.4.1

**Describe the bug**
Kyverno is up && running, clusterPolicy && policyReport && mutatingwebhookconfigurations && validatingwebhookconfigurations are created.

After 5/6 minutes kyverno try to update the internal timestamp.

After that updat

[2021-07-07 09:47] Cna59 commented on #2104
[kyverno_log.txt](https://github.com/kyverno/kyverno/files/6776135/kyverno_log.txt)

[2021-07-07 09:51] vyankyGH commented on #2027
HI @transkonduktor this non-consistence output coming because of we have added security context at Pod level also.
so we remove the security context from policy level it's give consistence result.

here removed the context from pod level.
``yaml
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: root-test
  annotations:
    policies.kyverno.io/category: Pod Security Standards (Restric

[2021-07-07 09:52] #2027 closed

[2021-07-07 11:30] nuno-silva commented on #2069
Hi @realshuting ! Thanks for looking into this.
Currently I only have `ClusterPolicy` resources. These are applied to the following Kinds:

[code]
<details>
  <summary>Click to see output</summary>

[code]
</details>

And here are the kinds for each `ClusterPolicy` rule:

[code]
<details>
  <summary>Click to see output</summary>

[code]
</details>

[2021-07-07 12:04] NoSkillGirl commented on #2092
The resource generation is occurring due to a mismatch in the generate data (mention in the policy) and the resource generated.

Generated resource spec look like:
[code]
here we have `podSelector: {}`. In policy it is trying to match with
[code]

[2021-07-07 12:07] #1256 closed

[2021-07-07 16:45] NoSkillGirl commented on #2092
I changed
[code]
to
[code]
in the generate policy and then it works as expected.

[2021-07-07 18:42] #2092 closed

[2021-07-07 19:26] #2101 closed

[2021-07-07 23:31] chipzoller opened #2106 "Failing to substitute variables should not cause rule skipping"
**Is your feature request related to a problem? Please describe.**
Variables are often invaluable when composing rules, and sometimes there is no way for a rule to be properly evaluated unless a variable has been substituted. In some case, however, those variables don't materially impact the rule from being evaluated (at least in the case of validate rules). When a variable cannot be substituted f

[2021-07-08 01:12] realshuting commented on #2069
@nuno-silva - thanks for the detailed info.

After some research, it could relate to the scope of the CRDs and how we create the informers for these CRDs internally, similar issue https://github.com/operator-framework/operator-sdk/issues/2807. Can you please name a few CRDs (installed in your cluster) that are cluster-wide?  Will need to dig into it with (some of your) CRDs.

In the meantime, can

[2021-07-08 01:30] realshuting commented on #1819
The deployment's name is now configurable after https://github.com/kyverno/kyverno/pull/2066.

Closing this issue.

[2021-07-08 01:30] #1819 closed

[2021-07-08 03:08] JimBugwadia commented on #2099
@yashvardhan-kukreja - the concern we need to address is that the metric will continuously grow in Kyverno's memory. Can we design this so that there are a fixed number of entries based on the configured set of rules? In the worst case, it could be the number of rules multiplied by the number of resources to which each rule is applied, but still a bounded set.

[2021-07-08 03:17] yashvardhan-kukreja commented on #2099
Yes, Jim I have a few ideas around redesigning the metrics so as to ensure a bounded set of samples.

Basically, that involves getting rid of all labels associated with timestamps because those timestamp labels are causing a kind of infinite-ness associated with the labels.

I'll draft a more comprehensive issue encapsulating all the changes precisely and then, I can pick that up.

How does that s

[2021-07-08 04:52] JimBugwadia commented on #2099
Yash, sounds good. Lets discuss once you capture the details.

[2021-07-08 05:16] NoSkillGirl commented on #1830
@windowsrefund - I am closing this issue for now. Feel free to reopen with a comment if you are still facing the issue.

[2021-07-08 05:16] #1830 closed

[2021-07-08 07:06] yashvardhan-kukreja commented on #2099
Sure

[2021-07-08 07:22] Cna59 commented on #2104
Additionnal information:

This is what is installed on my GKE cluster
- fluxv2
- ingress-nginx-controller
- cert-manager
- helm-conytollrt
- kustomize-controller

mutatingwebhookconfigurations,validatingwebhookconfigurations

[code]

[2021-07-08 07:43] psemeniuk commented on #2099
For `kyverno_policy_rule_results_info` redesign proposal sounds good.

On the other hand `kyverno_admission_review_latency_miliseconds`  may be redesigned in away like other apps design metrics related to latency. You can split metric into `kyverno_admission_review_duration_count` and `kyverno_admission_review_duration_sum`. Also you can implement buckets to provide ability of counting percentiles

[2021-07-08 08:19] vyankyGH commented on #1069
@chipzoller can you please share any sample policy if you have for Policy to restrict pod exec operations?

[2021-07-08 11:11] chipzoller commented on #1069
@vyankyGH I don't have one because Kyverno doesn't support this as of yet. However, you should be able to use a simple `deny` rule based on a `precondition` where `{{request.operation}}` equals `CONNECT` to quickly try out your work.

[2021-07-08 11:44] chipzoller commented on #2087
Blocked due to https://github.com/kyverno/kyverno/issues/2100

[2021-07-08 13:25] NoSkillGirl commented on #2068
@antoineozenne - currently in kyverno CLI we can not pass request information like role, cluster role, username, group etc...

 https://github.com/kyverno/kyverno/issues/970 - This is related to your scenario.

will add a comment under this issue so that your use case will also be covered.

[2021-07-08 13:29] NoSkillGirl commented on #970
we should also be able to pass RequestInfo from CLI (role, cluster role)

https://github.com/kyverno/kyverno/blob/7342675a1e9dc22aa175e64ced6d38fd0cfb690b/pkg/api/kyverno/v1/generaterequest_types.go#L51

Add information in policy context :
https://github.com/kyverno/kyverno/blob/7342675a1e9dc22aa175e64ced6d38fd0cfb690b/pkg/kyverno/common/common.go#L562

[2021-07-08 13:47] antoineozenne commented on #2068
So, if I understand, this is just a problem with the CLI? This rule (the last one) works in the cluster?

[2021-07-08 13:53] antoineozenne commented on #970
Maybe we should be able to pass this userInfo in a static way. It could be great to just run `kyverno test .` to test multiple policies in the same time, but with different userInfo for each of them.

[2021-07-08 15:21] chipzoller opened #2109 "[BUG] index out of range [0] with length 0 panic"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.6+k3s1
* Kyverno version: v1.4.0

**Describe the bug**

Kyverno logs http panic when creating a policy (which is probably invalid)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the  following policy

[code]
2. Apply a test Pod resource

[code]
3. See the p

[2021-07-08 16:00] NoSkillGirl commented on #2068
@antoineozenne - add `background: false` under the policy `spec`, it should work.
[code]

And the issue is only in kyverno CLI.

[2021-07-08 16:23] antoineozenne commented on #2068
Yes, it works with `background: false`. So this is not possible to apply this policy on existing resources? Will this feature come?

[2021-07-08 16:43] NoSkillGirl commented on #2068
No, as `clusterRole` acts as a variable that should be figured out during the execution, this policy can not be applied to the existing resource.
Variable are resolved with the help of the admission request information. This is something we cannot get for the existing resources.

[2021-07-08 16:57] NoSkillGirl commented on #2068
@antoineozenne - let me know if this clears your doubt.

[2021-07-08 16:58] antoineozenne commented on #2068
Thank you @NoSkillGirl, I understand!

[2021-07-08 16:58] #2068 closed

[2021-07-08 19:26] vyankyGH commented on #2097
Close via https://github.com/kyverno/kyverno/pull/2103

[2021-07-08 19:26] #2097 closed

[2021-07-09 02:10] #2036 closed

[2021-07-09 03:24] realshuting commented on #2104
From the output above, the age of these webhooks is around 15h, it doesn't look like they were re-created all the time. @Cna59 - was the issue consistent or you attached results from different clusters?

[2021-07-09 07:36] JimBugwadia opened #2114 "Allow running e2e tests on local (dev) cluster"
**Is your feature request related to a problem? Please describe.**

Currently e2e tests run on a PR.

**Describe the solution you'd like**

Would be helpful to run e2e tests in a dev environment with a local cluster like Minikube, Docker Desktop, etc.

[2021-07-09 07:36] Cna59 commented on #2104
@realshuting What do you mean? Theses webhook are from gke / cert-manager

i re-copy/past the information below about kyverno webhook being re-created all the time.

[code]

[2021-07-09 07:37] JimBugwadia commented on #2114
@viveksahu26 - is this something you can look into?

[2021-07-09 07:45] viveksahu26 commented on #2114
Sure I will look into it. But i didn't get the problem. Can you please describe the problem in more details.

[2021-07-09 08:15] JimBugwadia opened #2115 "[BUG] Schema definitions for AnyAllConditions use generic apiextensions.JSON"
**Software version numbers**

* Kubernetes version: n/a
* Kyverno version: 1.4.x

**Describe the bug**

For backwards compatibility, schema definitions that added support for `any` and `all` statements were added using the type `apiextensions.JSON` which allows any type to be passed in. This allows a programmatic check for the older style rules, or a newer declaration with `any` or `all`.

However

[2021-07-09 08:43] JimBugwadia commented on #2114
Currently there is no way to run the tests under `https://github.com/kyverno/kyverno/tree/main/test/e2e` locally via `go test` or `make test` etc. These tests run during the CI using https://github.com/kyverno/kyverno/blob/main/.github/workflows/e2e.yaml.

The request is to make it possible to run these tests locally. We may need to write a separate script for that.

[2021-07-09 09:14] #1784 closed

[2021-07-09 10:05] nuno-silva commented on #2069
Sorry, I can't upgrade to 1.4.1 right now. Maybe next week, but I can't promise.

Here's a list of the CRDs I have installed:

[code]
<details>
  <summary>Click to see output</summary>

[code]
</details>

[2021-07-09 12:42] #1816 closed

[2021-07-09 12:52] chipzoller commented on #2104
Have you seen [this on the troubleshooting page](https://kyverno.io/docs/troubleshooting/)?

[2021-07-09 13:44] Cna59 commented on #2104
Hello @chipzoller this rules already exist:

[code]

[2021-07-09 16:08] siddharthlal25 opened #2116 "[BUG] Remove functionality in mutate not working"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
[code]
* Kyverno version: 1.4.1 (I installed it using the yaml available [here](https://raw.githubusercontent.com/kyverno/kyverno/main/definitions/release/install.yaml))

**Describe the bug**
Remove function of policy is not working.

**To Reproduce**
Steps to reproduce the behavior:

[2021-07-09 16:42] viveksahu26 commented on #2116
Hey @siddharthlal25, Policy is working, you just need to replace `metadata/labels/cert` by `/metadata/labels/cert`  in policy.

[2021-07-09 16:56] #2116 closed

[2021-07-09 18:02] viveksahu26 commented on #2114
Hey @JimBugwadia , e2e test can be run locally by applying 2 commands,
[code]
and

[code]
And to clean up the cache, run below command
[code]
If you don't want to run metrics test, then  comment out following command in the makefile
[code]

[2021-07-09 19:12] JimBugwadia commented on #2114
@viveksahu26 - thanks!

Some of the tests now use the metrics, so this does not work:

[code]

What I suggest is that we write a script or have a separate `make test-e2e-local` that creates the port forwarding required for the metrics service and then invokes the test, so that all tests can pass.

[2021-07-09 19:19] viveksahu26 commented on #2114
Special thanks to @realshuting , she helped me alot. Rest of the part i will see tomorrow.

[2021-07-09 21:21] realshuting opened #2117 "Validate `path` element begins with a forward slash in `patchesJson6902`"
**Is your feature request related to a problem? Please describe.**
This request was raised from [Kyverno Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1625849014172100?thread_ts=1625845003.170400&cid=CLGR9BJU9):

The `path` element in `mutate.patchesJson6902` must start with a forward slash.

[2021-07-09 21:39] realshuting opened #2118 "[BUG] Mutate policy sometimes is not applied"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: 1.4.1

**Describe the bug**
This issue was raised from [Kyverno Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1625681753121600):

**To Reproduce**
Steps to reproduce the behavior:
Refer to the Slack conversation.

Need to figure out why the mutate policy sometimes is not applie

[2021-07-10 00:30] realshuting commented on #2022
@hans-d - sorry for the late response. Can you please attach the policy and resource manifests here?

[2021-07-10 00:42] #1685 closed

[2021-07-10 00:42] #2067 closed

[2021-07-10 00:42] #2086 closed

[2021-07-10 01:01] #2077 closed

[2021-07-10 01:25] chipzoller opened #2120 "Warn if CLI test encounters policy with variables not passed"
**Is your feature request related to a problem? Please describe.**
Very often users are attempting to use the Kyverno CLI to test policies which contain variables but none have been passed in either with `--set` or in a file. While this is documented, it could be surfaced up in the CLI.

**Describe the solution you'd like**
Print a warning in the CLI output if a policy is being tested which contai

[2021-07-10 02:18] yashvardhan-kukreja opened #2121 "Metrics re-design to deal with cardinality explosion"
**Is your feature request related to a problem? Please describe.**
Currently, a few metrics which Kyverno is exposing end up resulting in unbounded samples as those metrics are composed of labels of infinite cardinality.
Related issue - #2099

**Describe the solution you'd like**
* For the `kyverno_policy_rule_results_info` metric, get rid of `main_request_trigger_timestamp `, `rule_execution_time

[2021-07-10 02:22] yashvardhan-kukreja commented on #2099
Thanks a lot for your suggestions @psemeniuk , I had exactly these things in my mind as well.
I have encapsulated all these specific requirements in a separate issue and linked this issue to it.

[2021-07-10 02:29] yashvardhan-kukreja commented on #2121
cc: @JimBugwadia @realshuting

[2021-07-10 02:29] yashvardhan-kukreja commented on #2121
/assign

[2021-07-10 13:28] chipzoller commented on #2120
An error is printed if the command includes the `-f` flag:

[code]

but not if it just passes the policy and a resource:

[code]

[2021-07-10 13:43] chipzoller opened #2122 "[BUG] CLI in `apply` mode doesn't score preconditions properly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.6+k3s1
* Kyverno version: v1.4.1

**Describe the bug**
When using the `apply` command to test a policy containing two `preconditions` in an `any` statement where neither is satisfied, the CLI scores this a pass when it should be a skip.

**To Reproduce**
Steps to reproduce the b

[2021-07-10 13:43] viveksahu26 commented on #2114
Okay @JimBugwadia, I got your point that we need to write a script for port forwarding for the metrics server. I haven't written such type of script before. So, Is there any reference that could help me in writing the script for the above case?

[2021-07-10 14:05] chipzoller commented on #2122
And it seems that even when removing the `any` statement under `preconditions` and reducing them to one, Kyverno CLI still interprets this as a pass. It appears that the processing of preconditions with variables is just wholesale broken.

[2021-07-10 18:00] viveksahu26 commented on #2122
Hey @chipzoller, to be more specific. When both statements of preconditions are false, though it shows `pass` but behind the scene, in actual it `skips` the further validation check to the resource. For example:-

Took this case(both preconditions are false) :-
[code]
Now apply it, you will observe that it will show `pass` but behind the scene, validation check-up is skipped, its because if it is

[2021-07-10 18:10] chipzoller commented on #2122
Right, I get that, but the output from the CLI is misleading when it says this is a pass versus a skip. Pass should mean the criteria of the policy is met by the resource and the resource is evaluated against the policy. The only way this happens is if preconditions evaluate overall to true. Because that's how Kyverno works when deployed to a cluster as well. In the case where the preconditions ar

[2021-07-11 13:47] chipzoller commented on #1813
@yashvardhan-kukreja are you working on this or should it be unassigned?

[2021-07-11 13:49] chipzoller commented on #1069
Pending https://github.com/kyverno/kyverno/pull/2108

[2021-07-11 13:49] chipzoller commented on #1070
Tracking for 1.5.0

[2021-07-11 13:51] chipzoller commented on #1354
@kacejot is this being worked on or should it be unassigned?

[2021-07-11 13:53] chipzoller commented on #2072
Closing this as it does appear `to_string()` is capable of doing this. We now have a couple policies that implement this with success.

[2021-07-11 13:53] #2072 closed

[2021-07-11 14:12] yashvardhan-kukreja commented on #1813
Not currently as I am a quite swamped. If this can be re-assigned then great, otherwise I can pick it up in a few days.
Whatever suits best, I am fine with that :)

[2021-07-11 14:14] chipzoller commented on #2122
Here's a simple way to visualize the behavior.

|                    | Preconditions "true" | Preconditions "false" |
|--------------------|----------------------|-----------------------|
| Current CLI status | Pass                 | Pass                  |
| Needed CLI status  | Pass                 | Skip                  |

[2021-07-12 09:47] jack-jarvis commented on #1957
Sorry, it seems like I was mistaken earlier - we are still getting these warnings after the upgrade.
As before, we're able to reproduce this by deleting and re-creating the kyverno deployment but we're also getting them periodically. As far as I can tell it seems to be whenever the kyverno pod restarts.

[2021-07-12 10:41] NoSkillGirl opened #2123 "[BUG] Error in log | using 'validate' in Kyverno CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version:  v1.4.1

**Describe the bug**
Getting errors in log while validating a policy with variables. These errors were not visible in the earlier version.

**To Reproduce**
[code]
Validate the above policy using CLI:
`kyverno validate <policy.yaml>`

Result:
[code]

**Expected behavior**
Not ex

[2021-07-12 11:53] hans-d opened #2125 "[BUG] test.yaml has restartPolicy defined twice"
**Software version numbers**

* Kyverno version: v1.4.1 / master

**Describe the bug**
`restartPolicy` is defined twice in https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/tests/test.yaml.

What gets broken? Not much, but current kustomize 4.2.0 (HelmChartInflationGenerator) breaks. Formally it's correct that it should not be defined twice.

**To Reproduce**
Steps to reproduce

[2021-07-12 12:47] vyankyGH commented on #1069
@chipzoller have return policy below to restrict. Do you have any scenarios which not fit with policy?

[code]

[2021-07-12 12:48] chipzoller commented on #1069
Needs to support Pod by name, by label, and by expression.

[2021-07-12 12:51] vyankyGH commented on #1069
When we exec, in admission request we not get pod details,

`{"kind":"PodExecOptions","apiVersion":"v1","stdin":true,"stdout":true,"tty":true,"container":"nginx","command":["/bin/bash"]}  `

[2021-07-12 12:53] chipzoller commented on #1069
I thought the Pod resource supports the `CONNECT` op directly. Does that only surface as a `PodExecOptions` resource?

[2021-07-12 12:54] vyankyGH commented on #1069
Yes correct, till now I find out this.

[2021-07-12 12:56] chipzoller commented on #1069
So when a user does an exec into a Pod with a single container, what comes across as the AdmissionReview payload? Can you just paste an example? Or is what you posted [here ](https://github.com/kyverno/kyverno/issues/1069#issuecomment-878253360) exactly it?

[2021-07-12 13:03] vyankyGH commented on #1069
yes, What posted above that is AdmissionRequest payload.
` {"kind":"PodExecOptions","apiVersion":"v1","stdin":true,"stdout":true,"tty":true,"container":"nginxcont","command":["/bin/bash"]}`

[2021-07-12 13:32] JimBugwadia commented on #1069
Here is the the type definition:

   https://pkg.go.dev/k8s.io/api/core/v1#PodExecOptions

The admission request should contain the `namespace` and `name`.  Here is an example:

    https://discuss.kubernetes.io/t/go-client-exec-ing-a-shel-command-in-pod/5354

Here is an OPA policy example that references request information:

    https://blog.styra.com/blog/investigate-and-correct-cves-with-the-k

[2021-07-12 13:34] JimBugwadia commented on #1069
The API review request `userInfo` should also be available. See:

    https://github.com/open-policy-agent/gatekeeper/issues/1056

[2021-07-12 18:35] andre-lx opened #2129 "[BUG] Pod inconsistently fails mutation in specific scenarios"
Hi.

I'm trying to select and mutate a specific container by name (main) inside a pod like this:

[code]

But for some reason, the pod is not able to start, with a validation error.

Don't know why, but this works:

[code]

The problem is that this inserts the envFrom in the two containers inside the pod, and I only want to insert to the main container.

I also tried with:

[code]

But couldn't ma

[2021-07-12 18:53] erwbgy opened #2126 "[BUG] kyverno initContainer fail to start when external.metrics.k8s.io/v1beta1 returns empty array for resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.12
* Kyverno version: 1.4.1

**Describe the bug**
The kyverno Pod stays in "Init:0/1" status with continuous error messages from the kyverno-pre init container like the following:
[code]

The external.metrics.k8s.io APIService is from KEDA and is healthy:
[code]

but there are no

[2021-07-12 19:26] erwbgy opened #2127 "[BUG] Really long initialisation and OOM on cluster with lots of Namespaces"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.12
* Kyverno version: 1.4.1

**Describe the bug**
On a cluster with lots of Namespaces the kyverno Pod stays in "Init:0/1" status for a long time with messages like the following for _every_ Namespace in the cluster:
[code]
Then the Pod OOMs and the process starts again :-(

**To

[2021-07-12 19:29] realshuting commented on #2127
Hi @erwbgy - can you please provide the output of the following?
[code]

If possible, can you please share details of a few of the RCRs?
[code]

[2021-07-12 19:38] erwbgy commented on #2127
This is a fresh installation:
[code]

[2021-07-12 19:42] erwbgy commented on #1830
@NoSkillGirl The APIService v1beta1.metrics.k8s.io is used by metrics-server.  The issue here is with v1beta1.external.metrics.k8s.io (note the external) which is used by KEDA, DataDog etc - for example:
[code]
See https://github.com/kyverno/kyverno/issues/2126 for more details.

[2021-07-12 19:44] realshuting commented on #2127
Interesting, can you bump up the [memory limit](https://github.com/kyverno/kyverno/blob/13caaed8b778a977ceed7c041a83a5642ff98cf5/charts/kyverno/values.yaml#L76)? The default is set to 256Mi which seems to be not enough for these many namespaces.

[2021-07-12 19:49] erwbgy commented on #2127
Yup, I did that 10 minutes ago so based on last time the Pod should start in about 18 minutes or so:
[code]

[2021-07-12 20:03] realshuting commented on #2127
Did you see any throttling requests in the log?

Some optimization we can do to speed up the init clean up process:
- from this statement "...status for a long time with messages like the following for every Namespace in the cluster...", it seems like the init container iterates through all existing namespaces and deletes the policy report even if it does not exist, we should only clean up the exi

[2021-07-12 20:07] hans-d commented on #2125
see also https://github.com/kubernetes-sigs/kustomize/issues/4058

[2021-07-12 20:14] erwbgy commented on #2127
No throttling requests, it looked to be processing one Namespace at a time.

After increasing the memory the Pods start but fail readiness and liveness probes:
[code]

[2021-07-12 20:20] realshuting commented on #2127
Can you refer to this [troubleshoot](https://kyverno.io/docs/troubleshooting/) page and attach the test result of name resolution and connectivity to the Kyverno service (#3)?

And what type of cluster are you running? If it's GKE or any cloud-managed cluster, please refer to:

[2021-07-12 20:30] erwbgy commented on #2127
Name resolution works okay and a timeout is expected as none of the Pods are Ready:
[code]

The cluster is on-prem built using kubeadm and there is no NetworkPolicy or anything preventing webhooks from working.

[2021-07-12 20:40] erwbgy commented on #2127
Using --v=9 the Pod seems to be failing due to a large response:
[code]

All three Pods fail at this point every time.

[2021-07-12 20:47] realshuting commented on #2127
I don't think it's related to the response size, the container restarts because of the readiness & liveness probes. It's still worth understanding the size of the cluster and getting to know a few other information:
- how many ConfigMaps are there in the cluster
- are endpoints registered `kubectl -n kyverno get ep`
- are webhooks registered `kuectl get mutatingwebhookconfigurations,validatingwebh

[2021-07-12 20:57] erwbgy commented on #2127
I increased the initial delay for the liveness probe to 300 seconds which helped but then it OOMed.  After increasing the limit to 9Gi the Pod eventually started:
[code]

[2021-07-12 21:01] erwbgy commented on #2127
There are lots of ConfigMaps:
[code]
but no ClusterPolicy or Policy objects yet.

[2021-07-12 21:28] erwbgy commented on #2127
There are also lots of different resources, most of which Kyverno should not care about:
[code]

Tomorrow I'll try updating the `--filterK8sResources` list to exclude all resources except the ones we need policy for.

[2021-07-12 21:39] realshuting commented on #2127
Thanks, @erwbgy! We are also working on [performance testing on the large scale of clusters](https://github.com/cncf/cluster/issues/179) to optimize Kyverno.

Whenever possible, can you please share the size of your cluster (the number of nodes)?

[2021-07-12 22:35] ccom-dev-platform opened #2128 "[BUG] OOMKIlled on fresh installation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.18 (EKS)
* Kyverno version: 1.4.1, Chart version 1.8.2

**Describe the bug**
Just installed Kyverno through the Helm Chart and the pod keeps getting killed by been OOM.

Cant even play around with the requests or limits of the deployment since those are not exposed in the Chart.

**

[2021-07-12 22:39] realshuting commented on #2128
Hi @ccom-dev-platform - what's the size of your cluster?

I've seen a similar issue today https://github.com/kyverno/kyverno/issues/2127 that the Kyverno pods get OOM killed on a large-scale cluster. Can you bump up the memory limits and see if that helps?

[2021-07-12 22:57] ccom-dev-platform commented on #2128
The cluster is around 40ish ec2 nodes of 16 cpus and 32gb of ram, it varies quite a lot in size since we auto scale constantly.

I could modify the deployment manually but would really loved if the Chart would let me do it! Will report back once I do

[2021-07-13 01:03] realshuting commented on #2128
Yes, you can configure it via Helm https://github.com/kyverno/kyverno/blob/13caaed8b778a977ceed7c041a83a5642ff98cf5/charts/kyverno/values.yaml#L74-L87.

[2021-07-13 01:36] chipzoller commented on #2129
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version: v1.4.1

**Describe the bug**
When a Pod has two containers where at least one container has three command arguments, Kyverno's internal logic for generating patches often causes it to reject the Pod with messages similar to:

[code]

However, if a user retries creat

[2021-07-13 05:22] JimBugwadia commented on #2114
@viveksahu26 - you can check the e2e tests at: https://github.com/kyverno/kyverno/blob/main/.github/workflows/e2e.yaml#L86

[2021-07-13 05:28] JimBugwadia commented on #1228
Now that we have Prometheus metrics we can remove the policy status.

The policy status causes a lots of updates to policies, and each policy update triggers a number of internal checks for validation as well as other background tasks.

[2021-07-13 06:23] JimBugwadia commented on #1228
@realshuting @chipzoller - do you see any issues with completely removing the `policy.status` and `clusterpolicy.status`?

[2021-07-13 06:39] realshuting commented on #1228
Nope, we just need to handle the upgrade properly if we completely remove the status field.

[2021-07-13 06:48] realshuting opened #2131 "Cleanup ReportChangeRequests"
**Is your feature request related to a problem? Please describe.**
From Kyverno [Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1625053866019800):

**Describe the solution you'd like**
It is not clear at this point what causes the issue exactly, but we can still improve the cleanup process to clean up these stale RCRs:

- Clean up RCRs per background interval
- ~Periodic check to merge &

[2021-07-13 07:12] andriktr commented on #2118
Hey @realshuting as I mentioned in the slack we are facing this issue and here are some input from me.
Here is the kyverno log generated at the time when mutation policy should add the label to the new ns but did not added:
[code]
I see it messaging thet the rule was applied but in reality it was not.

After this we deleted a namespace and created it again and here is the kyverno log generated aft

[2021-07-13 11:04] yashvardhan-kukreja commented on #2121
@JimBugwadia @realshuting, I am ready with the changes but while doing so, I realised that there should be some more changes here as a part of this re-design of metrics

* we should change the unit of admission_review_latency metric and rule_execution_latency metric to seconds from milliseconds. As we're going to make those metrics of the type `Histogram`, the buckets are by-default compliant with

[2021-07-13 11:11] hans-d commented on #1963
a way to specify ALL kinds, or not being forced to specify at least 1 kind would be good imho.

Eg:
- All resources created by role X should have label Y=Z.
- In the case of cli usage only, I want to validate that no resource has a label A=B

[2021-07-13 11:37] viveksahu26 commented on #2114
@JimBugwadia , I tried to expose the kyverno service using port-forward locally but I am getting these errors. Is this is the reason why port-forwarding for metrics servers get fails.

[code]

[2021-07-13 11:53] chipzoller commented on #1228
No issue

[2021-07-13 13:00] rubroboletus opened #2133 "[BUG] wrong parsing of some characters"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kyverno version: 1.4.1

**Describe the bug**
When I try to use character "{" and "}" inside variable block ("{{ ,,, }}"), the variable is not parsed / used.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any policy with "{ and }" inside variable block, for example

[2021-07-13 15:18] chipzoller commented on #2133
Can you try to put the `messages` field's value in a block scalar like [this](https://kyverno.io/policies/other/replace_image_registry/)?

[2021-07-13 15:30] NoSkillGirl commented on #2123
resolved in latest demo version - `cosign-demo-v1`

[2021-07-13 15:30] #2123 closed

[2021-07-13 15:39] ccom-dev-platform commented on #2128
Thanks @realshuting didnt catch that part before.

I updated the deployment to the following values and everything is ok for now:
[code]

[2021-07-13 15:39] ccom-dev-platform commented on #2128
Feel free to close the issue if you dont have anything else to add.

[2021-07-13 16:03] rubroboletus commented on #2133
Had it in a block, had it in the deny condition, was trying almost everything. With same result.

[2021-07-13 16:24] JimBugwadia commented on #2114
Can you check if the service definition exposes port 8000? I believe in the latest release there is a kyverno-metrics-svc as well.

[2021-07-13 16:27] JimBugwadia commented on #2121
Looks good to me.

@psemeniuk - any additional thoughts or feedback?

[2021-07-13 17:02] JimBugwadia commented on #1963
See: https://github.com/kyverno/kyverno/issues/1954 and https://github.com/kyverno/kyverno/issues/1981.

Its possible to support an "all kinds", and there seem to be some good use cases for that, but as discussed in the referenced issues there are feature and performance tradeoffs we will need to navigate carefully.

[2021-07-13 17:27] realshuting commented on #2121
The changes look great.

[2021-07-13 17:28] realshuting commented on #2128
Great! Closing this issue.

[2021-07-13 17:28] #2128 closed

[2021-07-13 17:29] #2125 closed

[2021-07-13 18:38] viveksahu26 commented on #2114
Yes, I check `http://localhost:8000/` on browser, in return I got error --> `404 page not found`.

[2021-07-13 21:04] psemeniuk commented on #2099
Looks promising

[2021-07-13 21:04] psemeniuk commented on #2121
Looks promising

[2021-07-13 21:38] JimBugwadia commented on #2121
@yashvardhan-kukreja - I like the suggested names!

While we are renaming, would it also make sense to drop `rule` from `kyverno_policy_rule_execution_latency_seconds` and `kyverno_policy_rule_results_count`? If I understand the usage correctly, all metrics allow rule and policy level queries, so may be good to shorten the names  if possible.

Another question on the names....is `latency` the righ

[2021-07-14 00:22] realshuting commented on #2118
Thanks @andriktr for the details. We'll investigate and get back.

[2021-07-14 01:06] yashvardhan-kukreja commented on #2121
Yep Jim, that's a good point. I guess we can go ahead with with removing`rule` from these metric names and replacing `latency` with `duration`

[2021-07-14 07:10] realshuting commented on #2109
@chipzoller - I'm testing against the latest build, it turns out the error was fixed, tag `v1.4.1-52-g521ee0e6`. I modified the policy to the following and the `readOnly` was added to the resource successfully (=() is not supported in mutate rules):
[code]
Install the redis pod above, it gave me the following result:
[code]

Can you please confirm?

[2021-07-14 07:27] realshuting commented on #2109
The `mountPath` is needed in the policy definition as it's the merge key of `volumeMounts`, see
https://github.com/kubernetes/api/blob/4bdcbc60ffeee2c04231f11ff114314c1a93ce65/core/v1/types.go#L2297-L2302.

[2021-07-14 11:48] chipzoller commented on #2109
Yes, confirmed it's working on that tag, which is great. However, if you don't include the `mountPath` field, Kyverno still says it was successfully mutated even though it wasn't.

[code]

[2021-07-14 16:57] chipzoller commented on #1869
@anishagg17 are you still working on this issue?

[2021-07-14 16:57] #2131 closed

[2021-07-14 17:01] chipzoller opened #2139 "Mutate target resource which is different from watched resource"
**Is your feature request related to a problem? Please describe.**
Today, Kyverno only has the ability to mutate the same object that is incoming. There are use cases where existing object X needs to be watched and, if changed, perform a mutation on existing object Y. In one user's words:

(I want to restart the deployment because the app running in it does not load the new secret automatically)

[2021-07-14 18:19] #1963 closed

[2021-07-14 18:40] chipzoller commented on #1981
I also support @yanniszark idea in the above [comment](https://github.com/kyverno/kyverno/issues/1981#issuecomment-858538445). The webhook should be dynamically composed based upon the subjects of the policies under it. If a user only has policies created which apply to Service resources, the webhook should only be configured to send Service AdmissionReviews to Kyverno. Etc.

[2021-07-14 18:42] #2044 closed

[2021-07-14 19:19] realshuting commented on #1228
Closed via #2136.

[2021-07-14 19:19] #1228 closed

[2021-07-14 19:43] realshuting commented on #2109
If I don't have `mountPath` specified, `volumeMounts` is removed, this is expected when using Kustomize:
[code]

This is the problem we want to solve using `foreach`, currently it replies on merge key as Kyverno leverages Kustomize directly.

[2021-07-14 21:49] chipzoller commented on #1397
Added in https://github.com/kyverno/kyverno/pull/2138

[2021-07-14 21:49] chipzoller commented on #1397
Set to release in v1.4.2

[2021-07-14 21:50] #1397 closed

[2021-07-14 21:52] chipzoller commented on #1069
With PR https://github.com/kyverno/kyverno/pull/2138 being merged and slated for inclusion in v1.4.2, proposing the following three sample policies courtesy of @vyankd:

`block-by-pod.yaml`
[code]

`block-by-namespace.yaml`
[code]

`block-by-pod-and-container.yaml`
[code]

Can test with sample resource `deploy.yaml`
[code]

[2021-07-14 21:54] chipzoller commented on #2109
Ah, good point. Seeing how this was already addressed and will be included in v1.4.2, shall we close?

[2021-07-14 22:13] #2109 closed

[2021-07-15 00:55] chipzoller commented on #2058
Hi @abhishekghiya , could you kindly provide the information requested by @realshuting on this issue so we may investigate?

[2021-07-15 02:59] vyankyGH opened #2146 "advanced supports for disallow pod exec operation"
Support all possible match / exclude constructs for pod exec policies.
Also The Namespace selector would be interesting as users can label their namespace as "security: privileged" and then write a policy to disallow exec in those namespaces.

Please see:

https://github.com/kyverno/kyverno/issues/1069#issuecomment-878282921
https://github.com/kyverno/kyverno/issues/1069#issuecomment-878284235

**

[2021-07-15 05:09] JimBugwadia commented on #1069
Can we add a example with label selectors? This could be useful when combined with the upcoming in-tree PSS support based on namespace labels.

[2021-07-15 13:07] chipzoller commented on #1928
What's needed in this particular example (and which is greatly needed in general), is a *relative variable* ability in the AdmissionReview request. This is similar to the variables from policy definitions documented [here](https://kyverno.io/docs/writing-policies/variables/#variables-from-policy-definitions). But unlike that one, you need to be able to compare one field to another field not in the

[2021-07-15 13:10] chipzoller commented on #1918
@rdavyd Did you try something like `- group: "'*'"` in the policy definition?

[2021-07-15 13:13] chipzoller commented on #1912
@abhishekghiya does my above comment and sample policy solve your use case? Please let us know.

[2021-07-15 13:32] chipzoller commented on #2139
Second use case is outlined in https://github.com/kyverno/kyverno/issues/1722

[2021-07-15 13:36] chipzoller commented on #1650
Also related to https://github.com/kyverno/kyverno/issues/2117

[2021-07-15 13:42] chipzoller commented on #1928
Also related: https://github.com/kyverno/kyverno/issues/1418

[2021-07-15 13:45] chipzoller commented on #1381
@kacejot are you still interested in working on this?

[2021-07-15 13:46] chipzoller commented on #1326
@kacejot are you still interested in working on this?

[2021-07-15 13:51] chipzoller commented on #1218
Is this issue still relevant, @realshuting , now we have GVK support in `match` / `exclude` ?

[2021-07-15 13:51] chipzoller commented on #1218
or @vyankyGH since you're assigned here

[2021-07-15 13:58] chipzoller commented on #1069
Label selectors for Pods?

What's this about?

[2021-07-15 14:00] chipzoller commented on #2146
Is this not possible today with `match.resources.namespaceSelector`?

[2021-07-15 14:01] chipzoller commented on #984
@vyankyGH are you still planning on working on this?

[2021-07-15 14:04] chipzoller commented on #847
@NoSkillGirl Can you please help me identify gaps here with respect to this issue? I'll can transfer it to kyverno/website and self assign it, but I'd like some assistance from you.

[2021-07-15 14:07] chipzoller commented on #704
Looks like all of these issues have been addressed one way or another. Good to close this out?

[2021-07-15 14:09] chipzoller commented on #671
Following up on this old issue, what is the action item here? Or should this be closed?

[2021-07-15 14:10] chipzoller commented on #604
@kacejot are you still planning on working this issue?

[2021-07-15 15:03] vyankyGH commented on #2146
I haven't tried Yet.

[2021-07-15 15:08] vyankyGH commented on #984
I can work on this in 1.5.0.
If any contributor interested to work we can re-assign to them.

[2021-07-15 15:58] chipzoller commented on #1069
Block exec to Pods based on pod label

[code]

[2021-07-15 16:04] chipzoller commented on #1069
Block exec to Pods in Namespaces having label `exec=false`

[code]

Same downside as the previous policy. When building the context, if the label doesn't exist, Kyverno logs and error but does not impede functionality.

[code]

[2021-07-15 16:05] chipzoller commented on #1069
This is now five sample policies surrounding `PodExecOptions`. Look good?

[2021-07-15 16:05] chipzoller commented on #2146
See sample policy in [this comment](https://github.com/kyverno/kyverno/issues/1069#issuecomment-880819665).

[2021-07-15 17:50] vyankyGH commented on #1069
Awesome..

[2021-07-15 18:15] abdulhaseeb2 opened #2149 "Policy doesn't work when `match.resources.kinds` is set to `Policy/ClusterPolicy`"
**Software version numbers**

- Controller-gen version v0.4.0
- Kubernetes v1.20.2
- Kyverno version: v1.4.0 or code against main branch

**Describe the bug**
If we try to create a `ClusterPolicy` with `match.resource.kinds` value set to either `Policy/ClusterPolicy`, the policy does not work. But if we update `kinds` from `Policy/ClusterPolicy` to for example `Pod` the policy will start working.

[2021-07-15 20:29] chipzoller opened #2151 "Sample policy to add imagePullSecrets to Pods from certain registries"
Add this example of a mutate policy

[code]

[2021-07-15 23:13] ajitksingh1 opened #2152 "[BUG] Ingress mutation is not applied"
Kubernetes version: 1.20.7
Kyverno version: v1.4.0
Cluster: AKS

Kyverno mutate policy for Ingress is not applied just after kyverno deployment is completed though pod log says that mutation rule applied successfully.  If we run the mutate policy after some time then its working fine.

Do we need to have some wait time after Kyvenro deployment before running any mutate policy or Is there any confi

[2021-07-15 23:45] chipzoller commented on #1069
PR now for five of these policies ☝️

[2021-07-16 01:14] chipzoller commented on #2152
Your example does work for me although I cleaned it up a bit. You probably need to wait for the Kyverno deployment to enter a running state, and even then when deployed as part of a cluster bootstrap process wait for an additional minute or so just to be safe.

[2021-07-16 02:56] abhishekghiya commented on #2058
@chipzoller , @realshuting ,

We are using d2Iq konvoy 1.7 version

[2021-07-16 03:12] vyankyGH commented on #2149
@abdulhaseeb2 Thanks for creating issue. Will check on it.

[2021-07-16 03:19] abhishekghiya commented on #1912
Thanks @chipzoller for looking into the issue.

Our use case is different where we need to have a config map that can have the list of excluded pod / deployment, etc. similar like https://kyverno.io/docs/installation/#resource-filters

We want this config map to be present in all namespaces, so that the customer owning the namespace can control the config map and filter out the pod / deployment an

[2021-07-16 05:10] lalalawoo opened #2153 "[BUG]Kyverno creates additional json data after ClusterPolicy deployed"
**Software version numbers**

* Kubernetes version: 1.18, 1.19, 1.20
* Kyverno version: 1.4.1, 1.4.0-rc4

**Describe the bug**
After a ClusterPolicy deployed, using "kubectl get" to check the policy yaml, find additional json data generated.
![image](https://user-images.githubusercontent.com/15008808/125894773-d4223ea8-43f8-4838-a1f9-c7f39a03e6c8.png)
Those empty json data is not in the original y

[2021-07-16 06:23] rdavyd commented on #1918
I tried various combinations, but I do not remember if I tried exactly this one.

[2021-07-16 07:01] stieglma opened #2154 "[BUG] CRD Could not be parsed / CRD has no properties"
**Software version numbers**

* Kubernetes version: v1.21.1 (microk8s)
* Kyverno version: v1.4.1

**Describe the bug**
A CRD of Longhorn seems to not have properties, which leeds to the following error message in the kyverno logs:
`E0715 06:31:01.456720       1 crdSync.go:169]  "msg"="could not parse crd schema" "error"="crd schema has no properties"  "name"="Setting"`

**To Reproduce**
1. add the

[2021-07-16 12:23] chipzoller commented on #1918
Also try:

[code]

This will ensure it's not interpreted as special characters.

[2021-07-16 13:17] kacejot commented on #604
@chipzoller, currently I'm working on 1.4.2 milestone. It has the highest priority for me.
If there is someone who want to take this task, it would be great. In this case tag me for the review, please.

[2021-07-16 13:18] kacejot commented on #1326
@chipzoller, yeah, but not soon due to issues with higher priority.

[2021-07-16 13:18] kacejot commented on #1381
@chipzoller, yeah, but not soon due to issues with higher priority.

[2021-07-16 14:04] ajitksingh1 commented on #2152
Thanks @chipzoller for verifying.  Yes, The Ingress mutation works but any Ingress which is part of cluster bootstrap process doesn't get mutated.  Is that one minute delays required after Kyverno pod are in ready status in cluster bootstrap process ?  Do we have any condition to check for applying mutation on Ingress ?

[2021-07-16 14:47] chipzoller opened #2155 "[BUG] Generating a Kyverno `Policy` throws error "Policy is unstructured""
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.6+k3s1
* Kyverno version: 1.4.1

**Describe the bug**
When writing a ClusterPolicy to generate a Kyverno `Policy` resource in a target namespace triggering off the creation of a ConfigMap with a certain name, the Policy resource is not generated and Kyverno logs the error:

[cod

[2021-07-16 15:51] chipzoller commented on #2152
I'm not exactly sure what the solution could be here other than waiting for the Kyverno Pod(s) to enter the `Running` state prior to creating the Ingress resource. Because what's probably happening is the AdmissionReview is sent to Kyverno before it's up and running and it misses it yet the Ingress resource is still created. @realshuting you have any thoughts?

[2021-07-16 19:09] viveksahu26 commented on #2114
Hey @JimBugwadia, with the help of @realshuting, we created a separate script for `test-e2e-local`.  I have checked it's working..
[code]

[2021-07-16 19:36] slayer321 commented on #2117
Hey @realshuting, I did live to work on this issue.
I read the convention in the Kyverno Slack and was able to understand that there need some code changes to add a forward slash but I am not able to find where it exactly needs to be done.
Can you guide me?

[2021-07-16 21:47] ajitksingh1 commented on #2152
Thank you @chipzoller for review.  The Ingress is created once Kyverno deployment is done and pods are in ready status.

[2021-07-17 12:18] serialoverflow opened #2158 "[BUG] Policies for MutatingWebhookConfiguration do not work"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.5
* Kyverno version: v1.4.1

**Describe the bug**
I need to validate/mutate the kinds "ValidatingWebhookConfiguration" and "MutatingWebhookConfiguration".
However, i am unable to do so using Kyverno.

Here is a simple validating example:
[code]

And here the mutation to the desi

[2021-07-17 13:40] chipzoller commented on #2158
Are we even sure @realshuting if the Kubernetes API server sends these *WebhookConfiguration resources to other, existing registered webhooks? Because Kyverno is currently configured (in both validating and mutating variants of its webhook) to have `*/*` sent, which is everything and all ops.

[2021-07-17 14:28] serialoverflow commented on #2158
![image](https://user-images.githubusercontent.com/279131/126040133-c628fbb4-5946-484e-a1db-cbbf8cc8c442.png)

I just noticed that the PolicyViolation is indeed found by kyverno, for existing Webhooks, including its own webhooks.
But the validation/mutation is not enforced when creating new webhookconfiguration objects.

Full log example:
[code]

[2021-07-18 08:56] serialoverflow commented on #2158
Okay, so I wrote a small webhook that checks if *WebhookConfiguration objects are sent for admission.

[code]

Turns out, MutatingWebhookConfiguration and ValidatingWebhookConfiguration are not considered/sent for admission review to webhooks.

However, as stated, Kyverno *does* recognize policy violations once WebhookConfigurations have been created.
Can kyverno manipulate the already created obj

[2021-07-18 11:46] Izvi opened #2159 "'anyPattern' will fail on a specific template"
* Kubernetes version: 1.18
* Kyverno version: 1.4.1

Applying the anyPattern template with hard coded values Kyverno will trigger "Policy Violation".

This is the policy I created:

    apiVersion: kyverno.io/v1
    kind: ClusterPolicy
    metadata:
      name: cronjobs-secrets
      annotations:
        pod-policies.kyverno.io/autogen-controllers: 'none'
    spec:
      validationFailureAction: a

[2021-07-18 13:21] chipzoller opened #2160 "Enhance K8s Events for resources "touched" by Kyverno policies"
**Is your feature request related to a problem? Please describe.**
[Kubernetes Events](https://www.weave.works/blog/understanding-kubernetes-events) are a very important source of information on a given resource and serve as one of the starting points for any troubleshooting efforts. It's also usually the first stop on the road for any useful information an administrator/user might have to answer

[2021-07-18 15:11] chipzoller commented on #2158
Right now in Kyverno, there is no retroactive mutation of objects possible unless there is further action taken against that object (for example, applying a label to it). There is an existing enhancement request [here](https://github.com/kyverno/kyverno/issues/1722), so it would be good to add your use case to that for consideration.

[2021-07-18 15:18] chipzoller commented on #2160
cc @valentinEmpy (because this is related to your past PR [here](https://github.com/kyverno/kyverno/pull/1939))

[2021-07-19 03:23] JimBugwadia opened #2161 "[BUG] Kyverno pod (single instance) restarts with message "another instance has been elected as leader""
**Software version numbers**

* Kubernetes version: n/a
* Kyverno version: 1.4.x

**Describe the bug**

See:  https://kubernetes.slack.com/archives/CLGR9BJU9/p1626333923256800

Even though Kyverno is running as a single instance, this message is seen:

[2021-07-19 07:03] s-shirayama opened #2162 "[BUG] Cannot mutate CR when external.metrics.k8s.io/v1beta1 returns an empty array for resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.7 (minikube)
* Kyverno version: 1.4.1

**Describe the bug**
Kyverno cannot mutate any custom resource when no resources under the external.metrics.k8s.io/v1beta1 APIService.
(k8s native resource can be mutated though.)

**To Reproduce**
Steps to reproduce the behavior:
1. Install

[2021-07-19 07:15] serialoverflow commented on #1722
Another use case for this request might be supporting policy enforcement of Validating- and MutatingWebhookConfiguration objects.
These objects are not submitted for admission and the only way to enforce policies for them would probably be mutation post creation.

[2021-07-19 07:44] Cna59 commented on #2104
I have uninstalled all the kubernetes post_install on my cluster, create a new kyverno namespace, apply the yaml

And i have the same behavior:

Mutationg / Validating weebhook keeps looping (install / uninstall)

[code]

Kyverno_log:
[code]

We use this terraform module for provisioning our GKE cluster:

[code]

[2021-07-19 08:35] NoSkillGirl commented on #847
Sure @chipzoller
These are the gaps according to me.
- For `apply` command, we didn't mention what would be the response of the command and how to interpret it
- User can give a `log level` when applying any CLI command. documentation for choosing different log levels is missing
- Different type of policies produces different type of results, but it's not there in documentation
  - validate policy

[2021-07-19 10:20] vyankyGH commented on #2162
@s-shirayama Thanks for reporting issue.
I have try to reproduce this issue but its work's for me
[code]

Here is the policy which I used:
[code]

[2021-07-19 11:40] s-shirayama commented on #2162
@vyankyGH
Thank you for your checking.

Let me confirm your environment.
Could you share the result of this command `kubectl get --raw /apis/external.metrics.k8s.io/v1beta1` ?

This issue only happens when `external.metrics.k8s.io/v1beta1` doesn't have resources.

[2021-07-19 11:46] NoSkillGirl commented on #2126
@erwbgy I tried to reproduce the scenario in
* Kubernetes version: 1.20.2
* KEDA: 2.3.0
* Kyverno version: 1.4.1

Kyverno is running successfully, I didn't encounter this issue.
[code]

Can you please try with the kubernetes version 1.20.2. Let me know if the above setup doesn't work for you.

[2021-07-19 12:01] erwbgy commented on #2126
Thanks for looking into this @NoSkillGirl.  I think the init container getting stuck was due to lack of API server resources on the cluster I was testing on.  Trying on another cluster the init container starts okay but I still see that error message in the logs every 30 seconds when there are no resources.:
[code]
I'd expect you'd see the same in your kyverno logs.

[2021-07-19 12:07] erwbgy commented on #2127
It is a really small cluster:
{noformat}
$ kubectl --cluster=dev get nodes --no-headers | wc -l
39
{noformat}

Running Kyverno on another small clusters with fewer objects works fine, so perhaps it is just the cluster I was testing on that it under-resourced.

My concern is that we have large multi-tenant clusters with 500+ nodes and 4000+ namespaces.  I'll try running Kyverno on one of these clus