[2022-02-22 14:41] realshuting commented on #3156
@chipzoller - any thoughts on the above comment? Can we close this issue?

[2022-02-22 14:50] chipzoller commented on #3156
I'm not sure I understand the comment and what the solution is here.

[2022-02-22 14:55] samj1912 opened #3280 "[Bug] trivy scan failures on main due to github.com/satori/go.uuid"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Other

### Description

Kyverno main builds are failing on a trivy scan - https://github.com/kyverno/kyverno/runs/5287588500

### Steps to reproduce

See https://github.com/kyverno/kyverno/runs/5287588500

### Expected behavior

Trivy scans are fixed and githu

[2022-02-22 15:07] realshuting commented on #3156
Users can exclude certain resources by adding preconditoins. What do you think?

[2022-02-22 15:40] #3276 closed

[2022-02-22 15:46] Namanl2001 commented on #3280
@samj1912 @realshuting - `github.com/satori/go.uuid` is not present in go.mod however we can see it in go.sum, I'm not sure why we started getting this failure in the last few days as there are no relevant changes done in this period for this pkg `github.com/satori/go.uuid` in kyverno.

any thoughts on how we can fix this? thanks!!

[2022-02-22 15:51] realshuting commented on #3280
@Namanl2001 - can we try this as Sam suggested?

[2022-02-22 15:53] chipzoller commented on #3156
If that's the best we can do then that's fine but we should document it. My opinion is that it somewhat erodes the value proposition of autogen if a user wants to not accept the default behavior.

[2022-02-22 15:54] Namanl2001 commented on #3280
where to update? directly in `go.sum` https://github.com/kyverno/kyverno/blob/main/go.sum#L1627 ?

[2022-02-22 16:07] realshuting commented on #3280
yes

[2022-02-22 16:11] Namanl2001 commented on #3280
seems like this issue is related to `aquasecurity/trivy-action` itself. PHAL at - https://github.com/aquasecurity/fanal/pull/344

[2022-02-22 16:13] realshuting commented on #3280
Right! Looks like it was fixed in 1.2.1?

[2022-02-22 16:20] realshuting commented on #3156
This makes sense to me, and I feel we shouldn't make this behavior configurable as it could result in a severe security issue.

[2022-02-22 16:22] realshuting commented on #3156
Created https://github.com/kyverno/website/issues/480 for doc updates.

[2022-02-22 16:25] chipzoller commented on #3156
Right, agreed, but the actual behavior is a nuance here. When a user modifies the autogen behavior to _exclude_ one or more Pod controllers that would otherwise be covered, their expectation is going to be that Pods created by those excluded controllers are allowed but this is false. This is where confusion will arise because their Pod controller will be allowed but the Pods themselves will be blo

[2022-02-22 16:40] realshuting commented on #3280
The PR you pointed to says the fix was in `v1.2.1-0.20181016170032-d91630c85102`, can we try to upgrade to this version?

BTW, how is the package being used? We can also try removing it if it's not used.

[2022-02-22 16:45] realshuting commented on #3156
I like this idea!

@prateekpandey14 - can you collaborate with @abhi-kapoor to add this warning in https://github.com/kyverno/kyverno/pull/3272 ?

[2022-02-22 16:52] prateekpandey14 commented on #2650
Closing this, further tracked in #3156

[2022-02-22 16:52] #2650 closed

[2022-02-22 17:02] Namanl2001 commented on #3280
tried removing but afterward when I run `go mod tidy` it gets added again in `go.sum` , seems like some dependency is using it

also changing it to `v1.2.1-0.20181016170032-d91630c85102` and then running `go mod tidy` reverts the version back to v1.2.0

I think it is because `go.sum` is a auto-generated file

[2022-02-22 20:06] Namanl2001 commented on #3280
SOLVED!! 🥳 will open a PR soon

[2022-02-22 22:50] zeborg commented on #3135
@realshuting Yes, I'll be addressing the helm chart and default filters in a separate issue as they're not directly related to this one and need not block 1.6.1.

[2022-02-22 22:50] #3135 closed

[2022-02-23 02:40] #3280 closed

[2022-02-23 07:04] ismferd commented on #1918
@chipzoller Do you know in which release it could be available?

[2022-02-23 08:56] nickvanwegen opened #3286 "[Bug] webhooks being recreated endlessly"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Other

### Description

I have installed kyverno with the following settings.

[code]

Also i have tried to install it with the following settings.

[code]

The installation works fine for the first 5min with both settings.
I can see that the webhooks are being created and the kyverno l

[2022-02-23 12:19] samj1912 opened #3287 "[Feature] Improve kyverno test CLI git clone speed"
### Problem Statement

Currently, it looks like kyverno cli when passed a git repo, clones the entire repo. We only need to fetch the contents of the provided branch instead of the entire history. This will dramatically improve the test times when cloning large repos.

### Solution Description

Do a shallow git clone. See https://stackoverflow.com/questions/1209999/using-git-to-get-just-the-latest

[2022-02-23 12:21] samj1912 opened #3288 "[Feature] Improve kyverno test CLI speed by running tests in parallel"
### Problem Statement

Kyverno CLI tests are side-effect free. Even still, the CLI still runs them serially which results in the CLI taking a lot of time.

### Solution Description

We should be able to run all the tests in parallel and then proceed to collect the results. This will dramatically improve our CLI performance. This can be done by exposing a flag to the CLI to set the number of parall

[2022-02-23 12:21] samj1912 commented on #3288
cc: @chipzoller

[2022-02-23 12:21] samj1912 commented on #3287
cc: @chipzoller

[2022-02-23 12:30] developer-guy commented on #3154
In cosign, we have a PR to load Rego policies from OCI registries in order to validate attestations through these policies. We tied to the spec that I mentioned above.

https://github.com/sigstore/cosign/pull/1478

[2022-02-23 12:33] developer-guy commented on #3154
What I want to tell about is that if we do that, we should start with defining some spec (mediaTypes of config, layers, etc) to define how we are going to store these policies on OCI registries. 🙋🏻‍♂️

[2022-02-23 12:47] chipzoller commented on #3288
Is the idea here that you'd still point the CLI at a single directory, expecting nested directories each with test files, and by passing a flag it would begin to execute those tests in parallel? Wouldn't there be problems in coordinating which "slice" of the subdirectory is the responsibility of each thread? How would you avoid duplicate testing?

[2022-02-23 14:45] afzal442 commented on #3262
@chipzoller As you mentioned abv

But this shows `Fail` in the result. I couldn't get that. Do you expect that to be `Pass`?

[2022-02-23 14:45] afzal442 commented on #3279
I would like to look into this.
/assign

[2022-02-23 15:04] chipzoller commented on #3262
When the test declaration in the `result` field matches that actual result, it shows as `Pass`. When it doesn't it marks it as `Fail`. The end test result should show up as `Pass` if the tag is internally getting replaced with `latest` as it does in the webhook.

[2022-02-23 15:12] realshuting commented on #3287
cc @vyankyGH @zeborg

[2022-02-23 15:12] #3287 closed

[2022-02-23 15:52] #3099 closed

[2022-02-23 16:15] Prateeknandle commented on #3262
@afzal442 basically in the above resource there is no tag mentioned for the image, so cli should by default apply `latest` as a tag but it's not happening.
Result mentioned in the above test case is what should happen after applying resource, i.e. basically resource should fail to generate but the test case itself Fail, due to cli not applying by-default `latest` as a tag on image.

[2022-02-23 17:08] Namanl2001 opened #3292 "[Bug] kyevrno image build failing"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

images from `kyverno main` are failing with this error: https://github.com/kyverno/kyverno/actions/runs/1882502225

seems like there is some issue in this PR: https://github.com/kyverno/kyverno/pull/3277/files

xref: https://github.com/kyverno/kyverno/pull/3277#

[2022-02-23 17:09] Namanl2001 commented on #3292
cc: @skuethe @realshuting

[2022-02-23 17:39] afzal442 commented on #3262
That's great. Thanks @Prateeknandle ! do you want to take this up? 📦

[2022-02-23 17:48] JimBugwadia commented on #3199
Here is a proposal for allowing more flexible ways of specifying keys:

[code]

This would support:
- the image must be signed by all of the following keys
- the image must be signed by any of the following keys
- the image must be signed by `N` of the following keys

Any combination of the above would be supported as a logical AND. For example, `the image must be signed by all of these keys AND a

[2022-02-23 17:58] #3139 closed

[2022-02-23 19:10] sjentzsch commented on #3231
Thanks for looking into it @chipzoller , appreciated :+1:

Okay understood, then I misused those features for purposes they were not made for.

My bad, I exported the YAML from the cluster directly; where Kubernetes would translate it to two sets of single quotes.

[2022-02-23 20:06] samj1912 commented on #3199
[code]

Could we instead do something like this?

This has a couple of advantages -

1. It allows you to express both `any` and `all` using a `match` statement. With `any` being a `match` statement with `min` value of `1` and in case `min` is absent or set to `0` we assume that `all` the keys need to be matched.
2. Have a nested `key` or `match` clause to allow for powerful combinations of `any` a

[2022-02-23 20:07] sjentzsch opened #3294 "[Bug] Mutate foreach yields list with items in reversed order"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When applying the [`replace-image-registry` policy](https://kyverno.io/policies/other/replace_image_registry/replace_image_registry/) mutated pods have the containers listed in reverse order.

In YAML lists are ordered, so I mark this as being a bug.

For images

[2022-02-23 20:31] skuethe commented on #3292
The `image-build` action is failing:
https://github.com/kyverno/kyverno/actions/runs/1882502209

As mentioned already in the PR:
We probably need to add the qemu step before the `buildx` step as giving in the example here:
https://github.com/docker/setup-buildx-action#with-qemu

This is working flawlessly in other github actions with buildx and s390x.
I will create a PR for that tomorrow and see t

[2022-02-23 22:11] JimBugwadia commented on #3199
@samj1912 - good ideas.

On the nested match vs. a match list - what would be the difference in behaviors?

**Nested matches, processed as an AND?**

[code]

**List of matches, processed as an AND**

[code]

[2022-02-23 22:23] samj1912 commented on #3199
The nested match can be processed as an `and` or an `any` or min depending on the top level match.

[2022-02-23 22:25] samj1912 commented on #3199
so if we wanted to express a policy like -
any of (2 keys anded together) or (any of one of the following keys) we could do that in the former case but not the latter.

[2022-02-24 03:35] JimBugwadia commented on #3199
Makes sense! I will draft some examples.

[2022-02-24 04:32] realshuting commented on #3064
@Namanl2001 @JimBugwadia - need milestone for this issue.

[2022-02-24 09:01] eddycharly opened #3295 "[Bug] ClusterPolicy never become ready"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description

When applying multiple `ClusterPolicy`, some of them end up in not ready state and are not retried.

### Steps to reproduce

Run the script below:
[code]

### Expected behavior

All cluster policies should converge to a ready state.

### Screenshots

_No resp

[2022-02-24 10:40] skuethe commented on #3292
So, I could just confirm this problem and it's association with QEMU.
In the current state, docker buildx is just setup to use amd64 and arm64:
https://github.com/kyverno/kyverno/runs/5290711984?check_suite_focus=true#step:6:125

When adding the QEMU setup beforehand, it actually adds support for other platforms:
https://github.com/cloudeteer/kyverno/runs/5316287429?check_suite_focus=true#step:7:1

[2022-02-24 13:24] 4molybdenum2 commented on #3223
@zeborg The policy seems to be working for me on:
Kyverno: 1.6 and Kubernetes: 1.23.3. I am using a Pod instead of Deployment. So my policy looks like:
[code]

And then I am running: ```kubectl run nginx --image=nginx --
restart=Never```

Output:
[code]

Are you still getting the issue?

[2022-02-24 13:28] skuethe commented on #3292
So the workflows are now fixed:
- https://github.com/kyverno/kyverno/actions/runs/1892776739
- https://github.com/kyverno/kyverno/actions/runs/1892776762

Seems this issue can be closed.

[2022-02-24 13:33] developer-guy commented on #3154
tekton is also working on a project called `Bundles` in order to store tekton tasks on OCI registries
* https://vinamra-jain.medium.com/referencing-tekton-tasks-from-oci-registry-5ff983d536e0
* https://vinamra-jain.medium.com/publishing-tekton-resources-as-bundles-on-oci-registry-c4644d2af83f

[2022-02-24 13:43] Namanl2001 commented on #3292
But the builds are taking longer time than before, do you have any idea of it?

[2022-02-24 14:18] skuethe commented on #3292
Well there is now another platform it needs to build for. It has to do all the build steps for that as well.
Besides that there can probably be a lot of improvement done in terms of github actions:
- #2925
- redundant image builds being processed by:
    - https://github.com/kyverno/kyverno/blob/main/.github/workflows/image.yaml
    - https://github.com/kyverno/kyverno/blob/main/.github/workflows/

[2022-02-24 14:59] prateekpandey14 commented on #2722
@kempy007 i tried to reproduce this issue with latest kyverno release, its working as expected. Tried to change the ingress hostname more then 5 times, jobs get updated with hostname everytime. Can you try with latest release to see it still exists ?.

Closing for now, pls feel free to open otherwise.

[2022-02-24 14:59] prateekpandey14 commented on #2722
@kempy007 i tried to reproduce this issue with latest kyverno release, its working as expected. Tried to change the ingress hostname more then 5 times, jobs get updated with hostname everytime. Can you try with latest release to see it still exists ?.

Closing for now, pls feel free to open otherwise.

[2022-02-24 14:59] #2722 closed

[2022-02-24 15:18] prateekpandey14 commented on #2570
here is link for the design docs https://docs.google.com/document/d/1KHf19cV5o8fWWC78OBl3H1-OETRuzHciEEBTfRFfMUU/edit?usp=sharing

[2022-02-24 15:34] #3288 closed

[2022-02-24 16:19] #3292 closed

[2022-02-24 16:25] andrewhibbert opened #3300 "[Bug] Webhook server: x509: certificate signed by unknown authority"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Other

### Description

This error occurs then you retry and it is okay. For example when creating a pod:

[code]

### Steps to reproduce

1. Create a pod

### Expected behavior

No error message

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No

[2022-02-24 17:44] Namanl2001 commented on #3254
This issue will be fixed once [this](https://github.com/kyverno/kyverno/pull/3293) pr gets merged to `main` and the following GH workflows are updated in the `release-1.6` branch:

- https://github.com/kyverno/kyverno/blob/main/.github/workflows/image.yaml
- https://github.com/kyverno/kyverno/blob/main/.github/workflows/release.yaml
- https://github.com/kyverno/kyverno/blob/main/.github/workflows/

[2022-02-24 17:45] chipzoller commented on #3261
Webhook appears to be configured correctly based upon the rule:

[code]

[2022-02-24 17:59] chipzoller commented on #1334
Another troubleshooting use case: https://github.com/kyverno/kyverno/issues/3261

[2022-02-24 18:15] chipzoller commented on #3261
If I manually edit the ValidatingWebhookConfiguration to use `"*"` for the apiVersions, it then works as intended, but unclear why this has any effect on the observed `request.object.apiVersions` field.

[code]

Creating `cj-bad.yaml`
[code]

[code]

[code]

Creating `ci-good.yaml`
[code]

(Resource is created successfully)

[code]

[2022-02-24 19:55] chipzoller commented on #3300
@andrewhibbert would you kindly provide complete reproduction steps which include how Kyverno was installed? It appears from your output that you have customized the name of the Kyverno installation and placed it in a non-default Namespace. It would help to have a complete understanding of what you've done, what policy you're using, and what resource you're submitting.

[2022-02-24 22:35] pixelsnbits commented on #1607
I have a potential use case where we would already have a primary ConfigMap (data needed for admin infrastructure functions, not available for modification by non-admin) and a secondary ConfigMap (data pulled from a git repo or some other source, accessible by non-admin/dev) that is instantiated when a cluster is bootstrapped. Then we install Kyverno and apply our base policies after those CMs are

[2022-02-25 05:42] realshuting commented on #3254
Hi @Namanl2001 - I only see changes in `.github/workflows/release.yaml` in the PR, will you send a separate PR to release-1.6 to update `image.yaml` and `reuse.yaml`?

[2022-02-25 05:50] Namanl2001 commented on #3254
the current PR is a fix for `main`, we'll need to update the workflows separately in the release branch. I'll send a pr for that

[2022-02-25 05:51] realshuting commented on #3254
Ok, thanks!

[2022-02-25 06:25] afzal442 commented on #3279
I couldn't capture that sorry.

[2022-02-25 07:56] realshuting opened #3304 "Harden default resourcesFilters"
Currently we have two options to exclude namespace globally, 1. through the ConfigMap arg; 2. through the `resourceFilters`. And I agree, the `resourceFilters` adds additional value to exclude by Kind and Name combination globally.

We can keep the `resourceFilters` but definitely need to re-visit the default filters we currently have.

_Originally posted by @realshuting in https://github.com/kyve

[2022-02-25 07:58] realshuting commented on #2916
As discussed in #3135, `resourceFilters` is useful for some cases.

We need to revisit the default ones and harden the default filters https://github.com/kyverno/kyverno/issues/3304.

Closing.

[2022-02-25 07:58] #2916 closed

[2022-02-25 08:03] realshuting commented on #3156
@prateekpandey14 @abhi-kapoor - what's the estimate of the above change? Should we hold 1.6.1-rc2 or move the issue to 1.6.2?

[2022-02-25 09:46] nickvanwegen commented on #3286
Hi,

I did some more testing on this and from what I can see now is that this issue only occurs when running in HA.
As seen in the description I have always tested with 3 replica's.

As soon as I reduce the replica's to 1 this issue does not occur anymore.

Not running HA  for me is no option we run our platform with 100% spot so I need the HA feature to work properly.

Regards,

Nick

[2022-02-25 13:23] chipzoller commented on #3279
https://kyverno.io/docs/troubleshooting/#policies-are-partially-applied

[2022-02-25 14:18] abhi-kapoor commented on #3156
Hey @realshuting, apologies as I was away for few days. I will take a look at this today. If you need to generate the `1.6.1-rc2` release prior to that, then can we merge the original PR and I can create a new one to fix this? Thanks

[2022-02-25 15:10] JimBugwadia commented on #3304
Related issues: https://github.com/kyverno/kyverno/issues/2356 https://github.com/kyverno/kyverno/issues/3135 https://github.com/kyverno/kyverno/issues/3134

[2022-02-25 15:10] JimBugwadia commented on #3304
Also here is a post which discusses details on impacts and hardening:

https://medium.com/@charled.breteche/kubernetes-security-pod-security-standards-using-kyverno-cc5d9042b79a

[2022-02-25 18:04] afzal442 commented on #3279
I tried something as below after those kind creation
`kubectl kyverno logs mypod -v=6 `
[code]

`kubectl -n kyverno logs disallow-latest-tag -v=6 `
[code]

[2022-02-25 18:07] chipzoller commented on #3279
That is not what the direction says. You are simply increasing the verbosity of the kubectl program, not Kyverno.

[2022-02-26 02:24] afzal442 commented on #3279
Ah I see, I got that, webhooks from `kyverno`. Thanks

[2022-02-26 03:42] chipzoller commented on #3279
They're Kyverno pod logs. See step 1.

[2022-02-26 04:09] chipzoller commented on #3261
I have tested this against Kubernetes version 1.21, 1.22, and 1.23 and all exhibit the same behavior when creating the policy and leaving the webhook configured per defaults. This seems like a Kubernetes bug but cannot confirm.

[2022-02-26 13:16] chipzoller commented on #3279
1. Edit the `kyverno` Deployment to add the `-v=6` flag to the `args[]` array, creating if it does not exist.
2. View the logs of the kyverno Pod as normal.

[2022-02-26 15:07] Prateeknandle commented on #3262
yes!

[2022-02-26 15:10] chipzoller commented on #3262
Not sure, haven't looked.

[2022-02-27 07:49] yuktea commented on #3262
@Prateeknandle Are you working on this? please let us know, I would like to assign it to myself

[2022-02-27 09:48] afzal442 commented on #3279
Thanks @chipzoller, sounds like I tried that but I set the verbose to 6 after creating the resources. 👍🏻
`kubectl -n kyverno logs kyverno-55xyz` shows the logs but `kubectl -n kyverno logs mypod` doesn't work. Do I miss anything here?

[2022-02-27 14:09] chipzoller commented on #3279
@afzal442 I'm sorry but I think we may need to reassign this issue here.

[2022-02-27 14:22] afzal442 commented on #3279
Maybe we can discuss this on our nxt call hopefully. Nevertheless, I'm ready to lay off this issue if someone else want take this up. 🔏

[2022-02-28 10:39] developer-guy commented on #3154
Here is the demonstration of this scenario (I made a gist for you to test this) 👇

<img width="1532" alt="Screen Shot 2022-02-28 at 13 35 06" src="https://user-images.githubusercontent.com/16693043/155968836-57e1f21e-b461-4d04-843d-5cd6e97b24af.png">
<img width="1186" alt="Screen Shot 2022-02-28 at 13 34 14" src="https://user-images.githubusercontent.com/16693043/155968852-bc933f1e-54d4-4458-aa68-

[2022-02-28 14:36] kempy007 commented on #2722
V1.6.0 looks fixed, Thank you!

[2022-02-28 15:25] eddycharly commented on #2711
+1 for not altering spec rules if it can be avoided.

The separate policy could work but again I would avoid it too if necessary.

We could write generated policies back in the status if we want to provide feedback.

[2022-02-28 20:41] treydock commented on #3190
I just ran into this, so far one work around I've seen, while not great, is to also define `resourceFilters` to match the `namespaceSelector`.  Here is my Helm data:

[code]

[2022-03-01 06:07] developer-guy commented on #3154
cc: @samj1912 👆

[2022-03-01 07:54] developer-guy commented on #3154
In cosign, we do the same for loading Rego policies over OCI images to validate attestations and we also do the signature check before we load them, thanks a ton @dlorenc for the idea 👇

https://github.com/sigstore/cosign/pull/1478

[2022-03-01 07:59] eddycharly commented on #2711
I made a proposal for revisiting the autogen rules implementation [Kyverno Design Proposal - Internal Auto-Gen](https://docs.google.com/document/d/1kEST03WoGC2mUIz-rGbZkhQxU2F6n_CbwAkzIlhRdns/edit#).

It's publicly accessible so don't hesitate to share your feedback.

[2022-03-01 12:17] developer-guy commented on #3154
DockerHub is not supporting OCI artifacts right now this is why I did the test on my local registry, please see 👇
https://github.com/docker/roadmap/issues/135#issuecomment-921038044

[2022-03-01 19:14] Namanl2001 commented on #3292
@skuethe - for now we can run `linux/s390x` build only for the final release and not for each push on the `main` branch, as it's unnecessary taking a long time for each commit push. WDYT? cc: @prateekpandey14

[2022-03-01 20:31] Namanl2001 opened #3326 "[enancement] Github actions"
### Problem Statement

- [ ] Refactor [image](https://github.com/kyverno/kyverno/blob/main/.github/workflows/image.yaml) and [image-build](https://github.com/kyverno/kyverno/blob/main/.github/workflows/image-build.yaml) workflows
- [ ]  `linux/s390x` build taking a very long time to build images on each merge to `main`
- [ ]  `release` branch workflows are dependent on the `main` branch workflows

[2022-03-01 20:32] Namanl2001 commented on #3326
cc: @prateekpandey14

[2022-03-01 20:33] Prateeknandle commented on #3262
plz go ahead

[2022-03-01 20:58] Namanl2001 commented on #3254
This issue has been fixed for `v1.6.1` 😄 Thanks to @prateekpandey14 for helping out with proper fetching of github tags in the workflows 🙇

signatures can be verified using

[code]

SBOM's can be verified using

[code]

[2022-03-01 20:58] #3254 closed

[2022-03-02 11:07] rekcah78 opened #3330 "[Bug] RBAC clusterrole kyverno:generate, wrong apiGroup"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Generate

### Description

When i try to generate a limitrange with kyverno, i have an error,
This is due to wrong rbac in clusterrole kyverno:generate for limitranges and resourcequotas object, the ApiGroup is set to "quota" but the good one is ""

### Steps to reproduce

1. try with h

[2022-03-02 14:30] rtudo opened #3331 "[Bug] Mutation Rule removes extra properties from Pod manifest"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

I am trying to replace containers.image and initContainers.image in the pod manifest using the mutation rules but alongwith the image property, other properties are also getting either removed or replaced which breaks the container.

Similar to the issue here -

[2022-03-02 16:18] alfredkrohmer commented on #3271
I found that the following piece of code is responsible for this behavior:
https://github.com/kyverno/kyverno/blob/1ff16ba5d46aac93de4de642c2a2a9454e2ccc31/pkg/common/common.go#L93-L121

This code doesn't actually make a lot of sense to me:
* my understanding is that this is supposed to handle keys where path elements are escaped with double quotes, e.g. `a.b."c/d"
* there is a variable called `sp

[2022-03-02 17:55] nakul-shahdadpuri commented on #3245
@gnunn1 Is this issue assigned to anyone? May I give it a shot? /assign

[2022-03-02 17:59] JimBugwadia commented on #3245
Thanks, @gnunn1! Please reach out on the https://slack.k8s.io/#kyverno-dev channel if you have any questions or need help.

[2022-03-02 21:08] viveksahu26 commented on #2653
Hey @chipzoller , I think there are 2 possible cases when policy contains variable field `request.operation`:
First, if user provided the `variables.yaml` file and
Second, user doesn't provide `variables.yaml` file.

In the first case when `variable.yaml` file is present. Then all possible `variables.yaml` could be:

[code]
OR
[code]
OR
[code]

 If `variables.yaml` file is not present. In that cas

[2022-03-02 21:27] viveksahu26 commented on #2653
See, if in the policy `request.operation` variable is present and user hasn't provided `variables.yaml` file, then the value of `request.operation` will be set as `CREATE` for all resources(means globally).

Does it should work for below provided `variables.yaml` file ?
[code]

[2022-03-02 21:30] viveksahu26 commented on #2653
In above `variables.yaml` file  there is no `resources` section provided. It will work if `variables.yaml` is like:
[code]

[2022-03-02 21:36] chipzoller commented on #2653
I don't understand though. That format you provided for resources isn't the same as in other test cases where it references a file. The default var substitution should work if the resources file is referenced.

[2022-03-02 21:42] viveksahu26 commented on #2653
What I meant to say is, according to you if user provide below `variables.yaml`. Should `request.operation`  set as `CREATE` or not ?

[code]

[2022-03-02 21:42] JimBugwadia commented on #2974
The Kyverno entry is available here:

https://bestpractices.coreinfrastructure.org/en/projects/5327

[2022-03-02 21:44] viveksahu26 commented on #2653
I know if user provides below `variables.yaml` it will definetily work, means `request.operation` will be set as `CREATE` .
[code]

[2022-03-02 21:55] JimBugwadia commented on #2974
Closing as Kyverno is passing all requirements. We can plan for sliver / gold levels once we complete other security tasks.

[2022-03-02 21:55] #2974 closed

[2022-03-03 04:15] vyankyGH commented on #3331
@rtudo Thanks for creating issue. will update asap.

[2022-03-03 13:19] chipzoller commented on #2653
If you look [above](https://github.com/kyverno/kyverno/issues/2653#issuecomment-1047326204), you'll see that a variables file was never passed. It was commented out. That's the same thing as not supplying one, which should mean `request.operation` should default to `CREATE`.

[2022-03-03 13:39] viveksahu26 commented on #2653
For the above case, which you are referring to, I have solved it. To be more specific, no `variables.yaml` file will be  provided by user and by default value of `request.operation` will be `CREATE`.

[2022-03-03 13:46] chipzoller commented on #2653
Ok, I didn't know that. Is anything else needed here?

[2022-03-03 15:17] chipzoller commented on #2653
The format of the `variables.yaml` file shouldn't need to be changed as a result of this issue. The only thing that matters is if the `request.operation` variable is specified globally or for a specific resource. If it's not specified globally and specified for `badpod01` for example, then `goodpod01` should still have this set to `CREATE`. Hope this clarifies things.

[2022-03-03 20:49] Boojapho commented on #3295
I had a similar experience running k3d.  I tried deleting the policies that were non ready and re-installing them.  Some came up as ready, but others remained non-ready after the reinstall.

I increased the webhook timeout for the policies to 30 seconds (from the default 10).  So far I have not seen the issue come back.  But, I'm hesitant to say the timeout is enough.

Kyverno should retry the non

[2022-03-03 21:05] eddycharly commented on #3295
It's probably not related to the webhook timeout as the resource gets created.

One workaround that works well is to `rollout restart` the kyverno deployment.

[2022-03-03 21:24] Boojapho opened #3335 "[Bug] imageVerify ignores Kyverno's namespace"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

The imageVerify policy seems to ignore the namespace that Kyverno is located in.  It allows unsigned images that match the policy to be deployed.  But, deploying the same pods to a different namespace will block the unsigned images.

### Steps to reproduce

[2022-03-04 05:21] rahulii commented on #3279
@chipzoller pls assign this to me!

[2022-03-04 05:52] afzal442 commented on #3279
hi @rahulii, did u reproduce that issue? 🏷️

[2022-03-04 08:03] ckotzbauer commented on #3216
@Namanl2001 @JimBugwadia I've updated my proposal above for the additionalClaims validation. If its ok for you I will try to start a PR in a few days.

[2022-03-04 08:07] laugmanuel commented on #3286
Hi,
I see the same behaviour with Kyverno 1.6.0 on Tanzu for vSphere with Antrea:
[code]
Running only one replica seems to work fine.

[2022-03-04 12:40] rekcah78 commented on #3330
PR open : https://github.com/kyverno/kyverno/pull/3336

[2022-03-04 12:52] eddycharly commented on #3335
The default config is too permissive, it ignores the kyverno (and a couple others).
You can change that in the configmap by editing the filterResources key.

[2022-03-04 15:34] Namanl2001 commented on #3216
Thanks, @ckotzbauer, for your help! Please go ahead.

[2022-03-04 17:18] chipzoller opened #3337 "Deprecate scenario-based tests"
### Description

Per contributor's meeting:

Development wiki: Deprecate scenario-based tests and moving to e2e and CLI tests

### Expected behavior

Scenario-based tests are deprecated and e2e and CLI tests are moved.

[2022-03-04 18:13] Prateeknandle commented on #3262
@chipzoller @yuktea ig we need to update [test_command.go](https://github.com/kyverno/kyverno/blob/main/pkg/kyverno/test/test_command.go) file and just change the tag of image to latest if its not declared, basically the resource version, so that means we need to alter the resource which we declare in resource.yaml.

[2022-03-04 18:17] JimBugwadia commented on #3216
Thanks @ckotzbauer! I saw Cosign 1.6.0 is out so would be great to update and get this in.

[2022-03-04 18:33] chipzoller commented on #3262
You need to see how this is implemented in the webhook. Whatever that method is should be implemented similarly in `test`.

[2022-03-04 18:39] Prateeknandle commented on #3262
oh yes, got it, my bad.

[2022-03-04 20:26] viveksahu26 commented on #2653
Hey @chipzoller , I have fix it though the logs shows that value is null whereas if you below in the logs the value is substituted to CREATE.
$ go run cmd/cli/kubectl-kyverno/main.go  test ../policies/psp-migration/check_supplemental_groups/ -v=3
[code]

[2022-03-04 20:45] Boojapho commented on #3335
Thanks @eddycharly, that makes it clear why its behaving that way.   I'm going to close this out since it is the expected behavior.  But, I'll open another about the default `resourceFilters`.

[2022-03-04 20:45] #3335 closed

[2022-03-04 20:55] JimBugwadia commented on #3335
Hi @Boojapho - can you please add your use case and comments to this issue https://github.com/kyverno/kyverno/issues/3304?

[2022-03-04 21:10] Boojapho opened #3339 "[Bug] Helm chart default setting for `config.resourceFilters` uses static value for ignoring kyverno namespace"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

In `chart/values.yaml`, the `config.resourceFilters` default value includes `[*,kyverno,*]`.  The intention is to not enforce policies on the namespace used by Kyverno.  It is common practice to perform a `helm install -n <namespace>` for deployments.  If the def

[2022-03-04 21:19] zeborg commented on #3339
This was earlier mentioned by @realshuting in https://github.com/kyverno/kyverno/pull/3170#discussion_r800328303, but we didn't have any issue raised for it, so thanks for reminding! I'll work on the fix for this.

[2022-03-04 23:15] chipzoller opened #3340 "[Bug] Wildcard matched in `kind` broken if nested under `any` or `all`"
### Kyverno Version

1.6.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

A `kind` matching on a wildcard works under `match` but not if under `match.any|all`. An error is thrown by the policy validator:

[code]

### Steps to reproduce

1. Create this policy.
[code]

2. See the above error is thrown.
3. Remove the `all` condition.
4

[2022-03-04 23:19] chipzoller commented on #2653
Looks good, although I'd suggest some English polish on the message:

`variable request.operation found in policy but value not defined. Defaulting to CREATE.`

[2022-03-05 18:17] rahulii commented on #3279
@afzal442 yes I can reproduce the issue !

[2022-03-05 18:27] rahulii commented on #3279
Hey @chipzoller , can u give few pointers to get started?

[2022-03-05 18:31] chipzoller commented on #3279
What pointers do you need?

[2022-03-05 18:33] rahulii commented on #3279
where to find the relevant code  for this bug to get started?

[2022-03-05 19:17] chipzoller commented on #3279
See [here](https://github.com/kyverno/kyverno/blob/main/pkg/event/controller.go#L132) for starters.

[2022-03-05 19:18] rahulii commented on #3279
@chipzoller I think this is where (https://github.com/kyverno/kyverno/blob/main/pkg/webhooks/validation.go#L101) we generate events , and if u see https://github.com/kyverno/kyverno/blob/main/pkg/webhooks/report.go#L49 , I think in `generateEvents(engineResponses []*response.EngineResponse, blocked, onUpdate bool, log logr.Logger)` we pass onUpdate , so on line 49 we can add a check if onUpdate th

[2022-03-05 19:22] chipzoller commented on #3279
@realshuting would be your best resource for this question.

[2022-03-06 06:50] afzal442 commented on #3279
@rahulii, can we try to see if it works here? https://github.com/kyverno/kyverno/blob/1293ef46915ffcb1694c7b27a83fee6c91beba34/pkg/event/controller.go#L170
[code]

[2022-03-06 09:18] ckotzbauer commented on #2001
Is there a workaround for this? Not all generated files are regenerated correctly when making CRD changes.

[2022-03-06 10:01] chipzoller commented on #3279
Keep in mind the goal here is to prevent Kyverno from attempting to generate an event on a resource that was blocked, not just eliminate the logged messages. You stop the event from being attempted, you stop the log messages.

[2022-03-06 19:08] JimBugwadia commented on #2001
Hi @ckotzbauer - can you please merge PR https://github.com/kyverno/kyverno/pull/3334 and try?

[2022-03-06 19:09] JimBugwadia commented on #2001
@realshuting - with https://github.com/kyverno/kyverno/pull/3334 can we close this?

[2022-03-06 19:30] JimBugwadia commented on #3266
Hi @ribbybibby - another workaround is to specify the roots.  Here is an example: https://github.com/JimBugwadia/demo-java-tomcat/blob/main/policies/check-images.yml#L20.

I am thinking we can default the URL and CA Roots to the public instance unless the user specifies and remove the call to `fulcio.GetRoots()`.

[2022-03-07 05:35] ckotzbauer commented on #2001
@JimBugwadia Great, I will try.

[2022-03-07 07:22] prateekpandey14 opened #3342 "[Feature] Add generate tests for resourcequota and limitranges with v1 apiGroup"
### Problem Statement

Add generate tests for resourcequota and limitranges with v1 apiGroup, to verify some the changes in generate clusterrole api groups. #https://github.com/kyverno/kyverno/pull/3336

### Solution Description

Enhance the kyverno cli to test the generate rules as part of any cluster role changes

### Alternatives

_No response_

### Additional Context

Kyverno CLI enhancement h

[2022-03-07 07:24] JimBugwadia commented on #3199
Examples added at: https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw#Proposal-3

[2022-03-07 07:28] prateekpandey14 commented on #3330
thanks for the PR @rekcah78

[2022-03-07 07:28] #3330 closed

[2022-03-07 07:35] prateekpandey14 commented on #3342
Closing this, further tracked as part of enhancment issue https://github.com/kyverno/kyverno/issues/3114

[2022-03-07 07:35] #3342 closed

[2022-03-07 10:17] ckotzbauer commented on #2001
👍 works like charm

[2022-03-07 10:32] pealtrufo commented on #2709
Hi @JimBugwadia
Should I create a new issue linking to this one? I am still not too sure what the plan is for this or even if it's going to be considered as an enhancement.
It was assigned to 'Kyverno Release 1.6.1' but I think was never implemented?

Thanks

[2022-03-07 11:35] rparke opened #3345 "[Bug] Rolling update of Kyverno causes enforcement of Validation Policy to Fail"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

On our multi-tenancy cluster we were investigating rolling upgrade procedures for Kyverno and testing upgrading from v1.6.0 to v1.6.1, and we wanted to see the impact on admissions control if users were trying to submit resources to the cluster while th

[2022-03-07 13:56] #3074 closed

[2022-03-07 14:56] #2001 closed

[2022-03-07 18:51] treydock commented on #3286
I can confirm I am seeing this with 2 replicate deployment on Kyverno 1.6.1.  I don't have logs from pod, but do have historical logs in Splunk like this one:

[code]

[2022-03-07 18:53] treydock commented on #3286
On a hunch I deleted all the validating and mutating webhooks and then let Kyverno recreate them using rolling restart.  What I was observing was Kyverno restarting every hour or so due to liveness probe failing.

[2022-03-07 19:28] treydock commented on #3286
After the attemped fix, I had a restart after ~26 minutes on my test cluster which is mostly idle (ie no users running pods).

Logs from Splunk

[code]

Here are events from `describe pod` on the leader in HA pair:

[code]

[2022-03-07 20:07] samj1912 commented on #2938
Just summarizing the discussions we had offline in slack.

[code]

would introduce a new kind of entry under context. So far all `context` entries have have a `name` variable corresponding to the name it would have under `context`. This proposal introduces an alternative `imagePaths` field instead which we will have to validate against and make sure that only one of `name` or `imagePaths` fields a

[2022-03-08 00:03] samj1912 commented on #2709
I believe kyverno might be able to support this already through ggcr's use of ecr cred helpers. Have you tried configuring your image pull secrets like so - https://github.com/awslabs/amazon-ecr-credential-helper#docker

See the bits about IAM role configs. GGCR refreshes these tokens on every pull and push and hopefully should avoid the need to use a cronjob. I personally haven't used it or teste

[2022-03-08 08:14] cd-at-iteratec commented on #2567
Hi @chipzoller ,

would it be possible that you provide an example snippet ?

I wrote some tests with context values in variables.yaml, but the `kyverno test -v9` command reports always:

`
E0308 08:53:51.485905   98855 validation.go:347] EngineValidate "msg"="failed to load context" "error"="No values found for policy validate-secret-refs rule require-secret-ref" ...
`

My variables.yaml:

[code]

[2022-03-08 09:01] developer-guy commented on #3154
Initial design document started 👇

https://docs.google.com/document/d/15cqD4HPecI5Uv2u1Yfg0JCgWDVi2HLwGZPvTX_48W2E/edit?usp=sharing

[2022-03-08 09:05] JimBugwadia commented on #2938
I prefer the UX of a single context, but the validation does get complex.

If we want to retain the existing structure, how about something like this?

[code]

Users would need to use the built-in names to merge to existing variables.

We can even add a validation check that if `imagePath` is declared, the name must be `images`.

[2022-03-08 09:12] balonik opened #3349 "[Bug] selecting resources by Group/Version/Kind does not work"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

If I try to use `Group/Version/Kind` in `resources.kinds` as documented in [Kyverno documentation](https://kyverno.io/docs/writing-policies/match-exclude/), Kyverno Pod reports an error and the policy does not work.

Policy `spec` snippet from documentation:

[2022-03-08 10:40] tghartland opened #3351 "[Bug] Webhook update loop can retry exponentially"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Other

### Description

When the loop in the UpdateWebhookConfigurations function receives the signal to run, it is possible that updating the validating webhook and updating the mutating webhook both fail. When this happens, two more retries are queued to immediately run again.

[2022-03-08 12:08] balonik commented on #3349
This worked on `1.5.8`

[2022-03-08 12:28] chipzoller commented on #3349
@vyankyGH

[2022-03-08 12:36] chipzoller commented on #2567
See an example here: https://github.com/kyverno/policies/tree/main/other/require_unique_uid_per_workload

[2022-03-08 12:42] chipzoller commented on #3286
We aren't supporting a 2-replica Kyverno I thought. @realshuting is this the case?

[2022-03-08 12:44] laugmanuel commented on #3286
@chipzoller just to confirm: we see this problem with a 3 replica setup.

[2022-03-08 12:59] #3340 closed

[2022-03-08 12:59] chipzoller commented on #3335
@Boojapho ☝️

[2022-03-08 13:14] chipzoller commented on #3286
Yes, understood, comment was based on @treydock comment above.

[2022-03-08 15:29] cd-at-iteratec commented on #2567
Hi @chipzoller ,

Great, thank you very much.

Would be nice to get proper documentation about all available options for policy testing.

Best,
C.

[2022-03-08 17:52] JimBugwadia commented on #3266
To resolve this, we will need to add an `emptyDir` volume to the Kyverno pod and set the Kyverno user home directory to allow the TUF root creation.

See: https://github.com/sigstore/cosign/issues/1210 and https://github.com/sigstore/cosign/pull/1209/files as an example.

The example above uses `/home/nonroot` as that is the user for the distroless image.

For Kyverno, we may need to set the $HOME

[2022-03-08 18:58] Prateeknandle commented on #3262
@chipzoller is this the [code](https://github.com/kyverno/kyverno/blob/main/pkg/engine/context/imageutils.go#L190), where the default latest tag is implemented for weebhooks ?

[2022-03-08 19:04] chipzoller commented on #3262
@realshuting

[2022-03-08 19:13] abhi-kapoor opened #3360 "[Bug] ` --autoUpdateWebhooks=false` does not set FailurePolicy to Ignore."
### Kyverno Version

1.5.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Validate

### Description

As per the Kyverno [documentation](https://kyverno.io/docs/installation/#webhooks):

[code]

Per the above description, it is my understanding that if I set the `autoUpdateWebhooks` to `false`, then by default, `FailurePolicy` should be set to `Ignore`, unless

[2022-03-09 07:40] #3035 closed

[2022-03-09 10:55] vyankyGH commented on #3349
@balonik can you please share complete policy?

[2022-03-09 11:15] balonik commented on #3349
@vyankyGH
[code]

[2022-03-09 12:14] chipzoller commented on #3349
May possibly be related to https://github.com/kyverno/kyverno/issues/3261

[2022-03-09 13:46] #3339 closed

[2022-03-09 16:24] realshuting commented on #3262
I don't think it's related to `latest` tag, the first rule `require-image-tag` should fail the resource.

@Prateeknandle @yuktea - were you able to get more information on why this test failed?

[2022-03-09 19:19] Prateeknandle commented on #3262
yes, the resource fail for rule `require-image-tag`, I think it should not fail bcecause when there is no tag defined then by default `latest` tag should be applied but it's not happening, is this concept correct Or am I going in wrong direction?

ig the problem is what @chipzoller mentioned i.e. when there is no tag defined, the cli doesn't make default tag to `latest`, which causes the test case

[2022-03-09 20:13] JimBugwadia commented on #2586
Revisiting this issue...

My current thinking is that Kyverno can handle both CycloneDX and SPDX formats using JMESPath expressions, and other existing features.

Is there a need for any additional support for policy constructs for SBOMs? If not, we can close this issue and the associated design proposal.

cc: @samj1912 @developer-guy @luhring

[2022-03-09 20:55] JimBugwadia commented on #3266
@Namanl2001 - OK.

As @ribbybibby suggested in the PR, it may be best to explicitly set $TUF_ROOT (which is defaulted to .sigstore).

[2022-03-09 22:48] samj1912 commented on #2586
I agree. With attestation + image verify I think we are all set on this front.

[2022-03-10 08:09] #3266 closed

[2022-03-10 09:05] thomasroot commented on #3265
@chipzoller Can you reproduce this behaviour? We can reproduce it in all of our clusters.

[2022-03-10 10:07] camaeel opened #3368 "[Bug] [CLI] Can't install kyverno as a krew plugin"
### Kyverno CLI Version

1.6.x

### Description

When I execute `kubectl krew install kyverno` on amd64 MacOs machine I get an error:
[code]

I checked checksum in kyverno releases and in krew plugin index, and as mentioned in the bug they don't match. IMHO it won't work on any os/architecture as all checksums are wrong.

### Steps to reproduce

1. Run on amd64 MacOs machine
2. Have kubectl & krew

[2022-03-10 10:35] HammerNL89 opened #3370 "[Bug] PodExecOptions policy fails to create"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Description

When we deploy a new cluster with kyverno v1.6.1 it fails when it tries to create the following policy:
[code]
It throws this error:
[code]
On kyverno v1.6.0 it creates the policy without an error.

### Steps to reproduce

1. Deploy Kyverno 1.6.1 onto a new cluster
2. Deploy clusterpolicy as

[2022-03-10 11:21] realshuting commented on #3368
Thanks for catching it @camaeel, will update the checksum and fix in 1.6.2.

[2022-03-10 12:12] chipzoller commented on #3265
I don't have a TKGI environment on which to test this. Are you able to reproduce it on, say, a 3-node KinD or K3d cluster at all?

[2022-03-10 16:44] realshuting commented on #3265
@nickvanwegen - for the EKS cluster, did you set `hostNetwork=true` as documented [here](https://kyverno.io/docs/troubleshooting/#kyverno-fails-on-eks) ? Was kyverno functioning?

[2022-03-10 16:53] realshuting commented on #3262
I'm not sure if we want to add the default tag for this case especially since the rule checks the presence of the tag.

As documented [here](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images), Kyverno sets default registry and tag only when the policy has variables defined for the image:

I think we need to debug the root cause of this issue, not just adding defau

[2022-03-10 16:55] realshuting commented on #3286
No, 3+ replicas for HA.

[2022-03-10 17:06] nickvanwegen commented on #3265
@realshuting i have already created another issue for my issue
https://github.com/kyverno/kyverno/issues/3286

yes to hostnetwork=true i have tried both.

[2022-03-11 08:15] JimBugwadia commented on #2586
Closing as we believe all items are covered. Please re-open of log new issues if anything is missing.

[2022-03-11 08:15] #2586 closed

[2022-03-11 09:39] #3370 closed

[2022-03-11 10:21] camaeel opened #3374 "[Bug] kyverno creates mutating webhook: kyverno-verify-mutating-webhook-cfg without namespaceSelector"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

Mutating webhook named kyverno-verify-mutating-webhook-cfg is created with namespaceSelector: {}, and watches updates to deployments. I guess this is used during webhooks setup to test if webhooks work correctly.

IMHO this webhook could be limited by d

[2022-03-11 17:01] tghartland opened #3380 "[Bug] Kyverno always updates webhooks, even when no rule changes are made"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

Kyverno sets up its API informers with a resync period of 15 minutes.
https://github.com/kyverno/kyverno/blob/de6fa9fd19b25495231c6f317455ede08df6982a/cmd/kyverno/main.go#L48
https://github.com/kyverno/kyverno/blob/de6fa9fd19b25495231c6f317455ede08df698

[2022-03-11 20:01] Prateeknandle commented on #3262
So, basically the policy says that image tag should not be defined as `latest`, and test cmd checks the image's tag if its defined as `latest` or not, then ig everything is working fine, bcz if we not define tag as `latest` it's getting created, whether it's empty or non-empty, and for rule `require-image-tag`, if we not define tag, the resource should be blocked and that's what happening, seems f

[2022-03-12 14:08] chipzoller commented on #3262
Internally, Kyverno will set a tag of `latest` if an image comes in which does not define a tag at all. This is done regardless of how a policy is written, with or without using any image variables. Look at the policy to which I linked in the initial post (it's [here](https://kyverno.io/policies/best-practices/disallow_latest_tag/disallow_latest_tag/)). If you create the Deployment resource specif

[2022-03-13 04:41] ram-kumar-mahto6969 commented on #3262
@chipzoller  /assign

[2022-03-14 02:52] JimBugwadia commented on #3251
In Release 1.7.0, can we deprecate the older operators?

[2022-03-14 05:14] vyankyGH commented on #1858
Policy get apply successfully by adding  **schemaValidation: false**.

working policy

[code]
result
[code]

[2022-03-14 05:14] vyankyGH commented on #1858
Closing issue.

[2022-03-14 05:14] #1858 closed

[2022-03-14 08:24] realshuting commented on #3251
Yes it's already been deprecated. We can add validation checks and drop the support.

[2022-03-14 08:32] hoerup commented on #3245
Why don't you add a startupProbe instead of increasing initial delay ?

[2022-03-14 09:15] #2391 closed

[2022-03-14 10:33] #3349 closed

[2022-03-14 11:59] neilclark-bgn opened #3388 "[Bug] Issues with urlPaths of /apis/custom.metrics.k8s.io/v1beta1"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

Platform: RKE v1.21.8

I am experiencing an issue using Kyverno to call the custom metrics API provided by the Prometheus metrics adapter. There are two API calls that work when I call the API directly, but do not work via Kyverno.

[2022-03-14 12:54] rtudo commented on #3331
@vyankyGH , is there any update here ? Let me know if I can help with anything else. I am facing multiple failures due to this, mainly where I am running some operators. Generally these operators will manage templates and due to change in order of containers/initContainers, they will keep patching the resource and throw errors. This makes them broken and void of normal operations they are supposed

[2022-03-14 12:58] chipzoller commented on #3331
@rtudo I have looked into this on Kyverno 1.6.1 and I am not seeing the results you are seeing. Aside from the inverted order of `containers[]` and `initContainers[]` and the writing of the annotations (which I don't find are accurate), none of the fields aside from `image` are negatively altered.

Below is the full output of the test Pod I get post mutation:

[code]

[2022-03-14 13:20] chipzoller commented on #3388
Would you mind adjusting the code formatting for your first post here so we can take a better look?

[2022-03-14 13:29] neilclark-bgn commented on #3388
Apologies. I've amended the code blocks. Should be easier to read now.

[2022-03-14 13:33] chipzoller commented on #3388
Ok, thanks. So your likely problem in both cases is the asterisk is being interpreted by Kyverno as a wildcard operator. You'll need to move this logic into your `jmesPath` field in order to do the proper filtering.

[2022-03-14 13:56] neilclark-bgn commented on #3388
Hi Chip,

I get the same result without the asterisk.

(Case 1)
/apis/custom.metrics.k8s.io/v1beta1/namespaces/platform/pods/test-pod/schedule_item_current_status

The above results in the following error when attempting to create the policy.

for: "test.yaml": admission webhook "validate-policy.kyverno.svc" denied the request: path: spec.rules[0]: invalid path length /apis/custom.metrics.k8s.io/v

[2022-03-14 14:06] chipzoller commented on #3388
Ah ok. cc @JimBugwadia

[2022-03-14 17:15] domruf opened #3389 "[Bug] "kyvernopre" is forbidden after update"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Other

### Description

After updating from 1.5 to 1.6.1 I get these error messages in the logs of the kyverno-pre container
[code]
I installed kyverno as a dependency in one of my helm charts, with the value kyverno.namespace set to 'kyverno'.
But my helm cha

[2022-03-15 02:33] vikas027 opened #3390 "[Bug] Internal error occurred: failed calling webhook (context deadline exceeded)"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

## Environment
- EKS
- Kubernetes: 1.21.4 (container runtime is `containerd`)
- Kyverno: 1.6.1
- VPC CNI: 1.9.3

## Problem
I am seeing a lot of these errors while trying to create pods

[code]

I don't have a lot of `clusterpolicy` resources, just five as of

[2022-03-15 08:00] #3206 closed

[2022-03-15 08:16] vyankyGH commented on #3261
related issue: https://github.com/kyverno/kyverno/issues/2767

[2022-03-15 08:17] realshuting commented on #3389
I've never installed Kyverno this way. Is this even allowed? @treydock - any inputs here?

[2022-03-15 08:43] realshuting commented on #3265
Thanks @thomasroot - I'm able to reproduce the same on a single node 1.23.3 KinD cluster.

Let me look into the issue, will get back to you.

[2022-03-15 10:40] vyankyGH commented on #3261
@chipzoller @realshuting
work's if we create apply policy
[code]

[2022-03-15 10:44] ckotzbauer commented on #3216
I'm working on this issue in the last few days and had problems to debug my code locally (via VS Code).

1. I executed the `deploy-controller-debug.sh` against a kind-cluster with my local IP and Port 8000 as `--serverIP`.
2. I started the main.go from VS Code in debug-mode with the `--kubeconfig` and `--serverIP` arguments. (Kyverno logs are fine and the webhook is registered)
3. The webhook can

[2022-03-15 10:59] vyankyGH commented on #3331
@rtudo extremely sorry for the delay  response , but with kyverno version Kyverno 1.6.1 , I'm also not able to reproduce the issue. Resource get mutated as expected without removing/replacing  anything

Resource after mutation. are you using 1.6.+ version?
[code]

[2022-03-15 11:20] samj1912 opened #3395 "[Feature] Allow accessing the registry from the CLI for mutate/validate calls if a registry flag is passed"
### Problem Statement

Currently we can mock registry variables using `variables` in `kyverno test`. But if users want to test/apply policies with actual values from the registry, it is not possible.

### Solution Description

Add a `--registry` flag to the kyverno test and apply commands which if set, uses the local docker credentials to access the registry through GGCR.

### Alternatives

_No re

[2022-03-15 13:30] prateekpandey14 commented on #3216
@ckotzbauer since you already have kind cluster running i would suggest to build the kyverno image  locally using `make docker-build-kyverno-local`  and deploy using the `config/install.md` operator yaml file as a pod.

[2022-03-15 13:49] ckotzbauer commented on #3216
@prateekpandey14 I've tried that too, but than I can't debug right? The only way to get infos from my code would be then to insert logs?

[2022-03-15 14:04] prateekpandey14 commented on #3216
Right , then we have to check the pod logs to see the debug statements.

[2022-03-15 14:26] ckotzbauer commented on #3216
Thanks @realshuting and @prateekpandey14. I will give it a try.

[2022-03-15 15:04] zosocanuck opened #3397 "[Bug] Image Signature Verification Error is Misleading"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

I’m testing image signature verification policy however when testing with an unsigned image I get:

[code]
It is misleading since I never signed this image in the first place:

[code]

### Steps to reproduce

1. Create an image verification policy per

[2022-03-15 23:41] gsimoes commented on #3232
I see this error occurring with version 1.6.1, chart version 2.3.1. It installs and everything works for a while, mutate webhooks start failing. Example error messages:

[code]

and

[code]

[2022-03-16 04:26] #3395 closed

[2022-03-16 04:50] #1381 closed

[2022-03-16 04:50] #3156 closed

[2022-03-16 05:44] JimBugwadia commented on #3195
The signature timestamp was not what I thought it was - it was the timestamp of the TUF root, so would not be of use here.

[2022-03-16 05:44] #3195 closed

[2022-03-16 06:02] realshuting commented on #3156
Thank you @abhi-kapoor @prateekpandey14 !

[2022-03-16 06:47] realshuting commented on #3232
Hi @gsimoes - was Kyverno pos crashing? Can you provide the steps to reproduce the issue?

[2022-03-16 07:36] vyankyGH commented on #3261
@chipzoller I have workaround  policy for above issue.
I have little tweak the policy and also policy become small.
Please Let me know your's thought on this?

Policy.yaml
[code]

I have tested with cronjob mention in above. they are working as expected.

result with ApiVersion : **batch/v1beta1**

[code]

result with ApiVersion : **batch/v1**
`**cronjob.batch/hello created**`

[2022-03-16 10:57] AidanDelaney opened #3401 "[Bug] [CLI] kyverno test picks up backup files"
### Kyverno CLI Version

1.6.x

### Description

Invoking `kyverno test` on a directory can result in tests running multiple times.  This is because it picks up `*test.yaml*` which includes backup files created by some editors.  For example, some editors create `kyverno-test.yaml~` as a backup file when `kyverno-test.yaml` is edited.  This can result in updated tests passing, but tests from the ol

[2022-03-16 11:34] realshuting commented on #3390
Hi @vikas027 - were you able to identify why "Kyverno pods restart randomly"? Can you please also attach the events of the Kyverno pods?

For example, you can get it by "kubectl -n kyverno describe pods"

[2022-03-16 11:35] realshuting commented on #3265
Hi @thomasroot - I sent a fix via #3403 and generated a test image `ghcr.io/realshuting/kyverno:fix-webhook`, can you please update and verify?

[2022-03-16 11:36] realshuting commented on #3286
Hi @nickvanwegen @treydock - I sent a fix via #3403 and generated a test image `ghcr.io/realshuting/kyverno:fix-webhook`, can you please update and verify?

[2022-03-16 11:37] realshuting commented on #3300
@andrewhibbert - can you attach the steps for me to reproduce the issue?

[2022-03-16 11:46] realshuting commented on #3380
Hi @tghartland - thanks for such a comprehensive description! Without digging deep into the code, I agree we need to improve the update logic for the webhook.

Are you interested in contributing? Or we can collaborate and break them down into small PRs.

[2022-03-16 12:13] realshuting commented on #3351
Closed via #3353.

[2022-03-16 12:13] #3351 closed

[2022-03-16 13:03] vyankyGH commented on #3104
@chipzoller I'm not sure what exactly changes we have to  Kyverno CLI because
when we create resource without kyverno running we get following output for arg

[code]
Same output we get in kyverno Cli apply command after mutating

[code]

[2022-03-16 13:09] tghartland commented on #3380
Hi. The issue of having different types for the internal and API server representations of the webhook rules is probably a bigger problem than I am able to untangle.
I have been able to find a workaround for this specific comparison, by handling the edge cases and than converting both representations to JSON. That seems to be working, and I can make a PR with that patch for you to take a look at.

[2022-03-16 13:20] chipzoller commented on #3104
Maybe @samj1912 would be able to provide some input here. It's something in the webhook we need to "fix".

[2022-03-16 13:39] prateekpandey14 commented on #2549
No longer reproduce this issue, closing this now, pls feel free to open otherwise.

[2022-03-16 13:39] #2549 closed

[2022-03-16 14:32] realshuting commented on #3380
This is great, I can help review and come back for further enhancements!

[2022-03-16 15:02] shawnharris63 commented on #3232
Same behavior.  Installs and works for a while.  The kyverno pod does not crash.  The workaround I figured out was to write a job to delete the webhooks and the kyverno pod every 12 hours.  I've since removed kyverno from our k8s clusters until this is resolved.

[2022-03-16 15:12] nickvanwegen commented on #3286
@realshuting
I have 3 replica's running for about 30min now and so far so good. (no recreation of webhooks)

I see some loglines like these
guessing you put them there? :)
[code]

It seems i cannot fresh install the kyverno-policies chart some policies i get can error like.

[code]

Guessing this is because i am running a tmp app-version?

[2022-03-16 15:22] realshuting commented on #3286
My bad, those were just debugging logs I added. It's not there in the PR.

Yes, the version embedded in the test image may not follow the Chart requirement. You should be able to install chart policies with the official test image once the PR is merged.

[2022-03-16 15:23] #3265 closed

[2022-03-16 15:23] #3286 closed

[2022-03-16 18:42] Namanl2001 commented on #3224
I can see a hard-coded URL for rekor here [https://github.com/kyverno/kyverno/blob/HEAD/pkg/cosign/cosign.go#L169], which we can customize by taking input from users under `imageVerify` rule by introducing a new field `rekorURL`. WDYT?

Also, I can't find the default URL for Fulcio, can you please point me where we are using it and how to allow users to configure this? thanks :)

[2022-03-16 20:47] vikas027 commented on #3390
Hello @realshuting ,

I have managed to fix the issue by reinstalling Kyverno and have also upgraded the VPC CNI to version 1.10.1.  Now, this has solved the issue but I still have the exact old configuration working in four other clusters. I use ArgoCD to deploy the same code to multiple clusters so I know that there is no delta between all the configurations. Why Kyverno pods were crashing on th

[2022-03-16 22:15] DWSR opened #3411 "[Feature] JSON Logging"
### Problem Statement

I'd like Kyverno to be able to log in JSON. This allows log aggregation pipelines to be naive to the format of incoming logs.

### Solution Description

A CLI argument that makes Kyverno log in JSON instead of klog.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the do

[2022-03-16 22:30] chipzoller commented on #2133
@rubroboletus I think this was fixed as of Kyverno 1.6.0 with some new parsing logic that was implemented. Do you mind trying again with that version and report if you can still reproduce the original issue?

[2022-03-16 22:33] chipzoller commented on #1918
Ran into this myself when trying to write a policy to guard against CVE-2022-0811 (example article [here](https://www.crowdstrike.com/blog/cr8escape-new-vulnerability-discovered-in-cri-o-container-engine-cve-2022-0811/)). What's needed is a rule that verifies any value of a sysctl does not contain either `+` or `=`. This should be possible with a rule like the following:

[code]

While the `+` che

[2022-03-17 01:05] dkulchinsky opened #3412 "[Bug] Variable substitution fails if an inline nested jmespath object is used"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Validate

### Description

This is a follow up on https://github.com/kyverno/kyverno/issues/3132 which was fixed in #3133 but it appears that there's corner case that was not covered by that fix.

In the original issue, the expression that was failing was:
[code]

this was fixed in #313

[2022-03-17 01:54] JimBugwadia commented on #1918
A workaround is to use a JMESPath expression instead of a pattern:

[code]

@ismferd - can you try a similar approach as well?

[2022-03-17 05:38] realshuting commented on #3390
Yes of course. Please re-open the issue if it happens again.

Just to clarify the working environment - Kyverno 1.6.1 on a 1.21.4 EKS cluster with 1.9.3 VPC CNI configured.

@chipzoller - looks like different versions of CNI could impact Kyverno on EKS, should we add a new section, i.e., "confirmed working environment", to the troubleshooting page?

[2022-03-17 07:43] realshuting commented on #3232
We've recently sent a fix for webhook issue #3403, can you verify if the latest image `ghcr.io/kyverno/kyverno:1.7-dev-89-gcc212ac76` fixes your issue?

[2022-03-17 08:42] #3216 closed

[2022-03-17 09:54] vyankyGH commented on #3331
@rtudo still facing issue? which kyverno version are you running?

[2022-03-17 10:03] domruf commented on #3389
Okay first I'm sorry. I mixed up mynamespace with myhelmname. So the error message actually is
[code]

@treydock I think you are right about the RoleBinding. The generated Role and RoleBinding have no namespace set and therefore are created in 'mynamespace' instead of 'kyverno'. I think https://github.com/kyverno/kyverno/blame/main/charts/kyverno/templates/role.yaml and https://github.com/kyverno/

[2022-03-17 11:42] ismferd commented on #1918
@JimBugwadia
Having this policy:
[code]
I'm facing with this message:
`I0317 12:40:30.983132   23685 operator.go:58] EngineValidate "msg"="operator not supported" "kind"="Ingress" "name"="delete-ing" "namespace"="delete" "policy"="restrict-sysctls" "rule"="check-dns" "operator"="anyin"`

I'm trying it using the kyverno cli:
` k kyverno apply restrict.yaml --resource ingress.yaml --set operation=CR

[2022-03-17 13:20] chipzoller commented on #1918
@ismferd You have to be on at least Kyverno 1.6.0 to use the `AnyIn` operator. I hid my previous reply, but that policy actually does work. I had bugs in my test resource. Try with:

[code]

[2022-03-17 14:20] #3009 closed

[2022-03-17 15:53] mritunjaysharma394 commented on #2133
+1 to @chipzoller , I also tried but could not reproduce the issue while using Kyverno 1.6.0, @rubroboletus can you please check otherwise it looks good to close? Thanks a lot!

[2022-03-17 15:59] #2133 closed

[2022-03-17 17:10] oshi36 commented on #3220
Hi @JimBugwadia, after discussing with @vyankyGH I came up with the mockup design for showing output of `kyverno apply`.
please do let me know your thoughts on it.

![kyverno_apply](https://user-images.githubusercontent.com/47573417/158855942-7c32fea8-ff5b-44fe-aeed-87ae9d0c24c6.png)

![kyverno_cli_apply_table](https://user-images.githubusercontent.com/47573417/158855922-fc71b239-1662-4d55-ae8f-2d

[2022-03-17 17:37] treydock commented on #3389
I think you're correct, it looks like both role and rolebinding are lacking explicit namespace assignment to those resources.  Feel free to tag me in a PR and I'll get it moving.

[2022-03-17 17:47] JimBugwadia commented on #3220
Thanks @oshi36!   A few thoughts...

- I love the table summary view, but seems like users will still want to see the policy result details and message (e.g. "HTTP routes are not allowed"). Would we still show the that somewhere? Can we add that as a multi-line column?
- It would be also nice to have the current 1 line summary at the top, with better formatting
- I believe we already have an optio

[2022-03-17 17:52] vyankyGH commented on #3220
@oshi36 also we have to think about the mutate and generate (upcoming) policy.
In mutate policy test, we are displaying the mutated resources in console.

[2022-03-17 17:55] JimBugwadia commented on #3220
Good points, @vyankyGH!

May be worth starting a quick document to capture the requirements and proposals for each.

[2022-03-17 18:07] JimBugwadia opened #3414 "[Feature] Remove confusing output message in CLI apply command"
### Problem Statement

When applying policies, this message is always shown:

[code]

Its a bit odd to ask users to check debug logs to understand the output:

`(Total number of result count may vary as the policy is mutated by Kyverno. To check the mutated policy please try with log level 5)`

And, in cases where the policies are not for a pod, this message is meaningless and confusing.

### Solu

[2022-03-17 18:14] chipzoller commented on #1918
The `*` is an outstanding issue and the subject here.

[2022-03-17 18:20] realshuting opened #3415 "[Feature] Upload Codecov reports"
### Problem Statement

It would be nice to upload Kyverno CodeCov reports for each PR.

For example:
https://app.codecov.io/gh/backstage/backstage
https://app.codecov.io/gh/knative

### Solution Description

N/A

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubl

[2022-03-17 18:25] JimBugwadia commented on #1918
Here is the policy to try for 1.5.x:

[code]

[2022-03-17 19:55] zeborg commented on #3415
@realshuting - It seems like they're using the [Codecov App](https://github.com/apps/codecov) instead of GitHub Action. Can you please try adding and configuring the app for `kyverno/kyverno` repo and see if the reports are uploaded correctly?

[2022-03-17 20:34] ismferd commented on #1918
Then @chipzoller, the solution you gave for '+' it wouldn't work for '*', right?

[2022-03-18 06:19] oshi36 commented on #3220
This is the initial design , I was in a doubt to have a record for messages.
I will discuss this with @vyankyGH on how to proceed further in this and then update you.

[2022-03-18 07:05] vyankyGH opened #3416 "[Bug] [CLI] removing Validate CLI command"
### Problem Statement

Kyverno CLI [removing](url) command no longer use and difficult to manage.

### Solution Description

Remove CLI [https://github.com/kyverno/kyverno/tree/main/pkg/kyverno/validate](url) pkg and also update kyverno/website

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

[_No response_](https://kubernetes.slack.com/archives/CLGR9B

[2022-03-18 07:20] shreemaan-abhishek commented on #3180
So I made these changes and ran kyverno locally but it turns out that it still doesn't accept initial letter lowercase values for `spec.failurePolicy`

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/61597896/158954009-7930e3f6-3e74-4013-902a-dd1d31ecd8ea.png">

Adding to that, Kyverno accepts initial letter lowercase values for `spec.failurePolicy` when I remove initi

[2022-03-18 08:32] ismferd commented on #1918
@JimBugwadia @chipzoller thank you both, finally I achieved it with this policy:
[code]

[2022-03-18 08:57] realshuting commented on #3360
Hi @abhi-kapoor - I was able to reproduce the issue against the latest Kyverno and sent the fix via #3417. Can you please verify the fix with this test image `ghcr.io/realshuting/kyverno:fix-autoupate-webhook`?

[2022-03-18 09:08] realshuting commented on #2269
The error "Operation cannot be fulfilled on xxxx: the object has been modified; please apply your changes to the latest version and try again" should be fixed in 1.6.2 for resources updates like deployment, clusterpolicy, policy, related PR https://github.com/kyverno/kyverno/pull/3403.

Please comment if you still see such failures.

[2022-03-18 09:43] realshuting commented on #3177
Hi @chipzoller - how did you bind the ClusterRole to this user `system:serviceaccount:test:developer`?

From the steps you provided above, the clusterrole `developer ` was bound to the serviceaccount `developer ` but I can see the namespace is missing, and I don't see how it relates to the user `system:serviceaccount:test:developer`.

From the definition below, the `rolebinding.subjects.namespace`

[2022-03-18 09:56] realshuting commented on #3415
Thanks @zeborg!  Let me install CodeCov to the kyverno repo first.

[2022-03-18 10:02] realshuting commented on #3180
@shreemaan-abhishek - did you apply the change to the cluster `by kubectl apply -f crd.yaml`?

[2022-03-18 10:05] #3360 closed

[2022-03-18 13:13] shreemaan-abhishek commented on #3180
@realshuting - I used `kubectl create -f ./config/install.yaml` to apply changes to the cluster.

[2022-03-18 13:57] chipzoller commented on #3177
`developer` is a ServiceAccount and not a user. The binding to the ClusterRole is via the RoleBinding.

[2022-03-18 14:03] realshuting commented on #3180
What was the error ?

[2022-03-18 14:16] rubroboletus opened #3423 "[Bug] verifyImage with private registry - Internal error occurred: invalid character '[' after top-level value"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

imageVerify

### Description

We are using private container registry (JFROG Artifactory) on custom port (8443). When trying to verify image against cosign signature, the following error is displayed:
`Error from server (InternalError): Internal error occurred: invalid character '[' aft

[2022-03-18 14:28] realshuting commented on #3177
I see. I thought `--as` only takes username.
[code]

I just noticed that `request.clusterRoles` is not a variable in the admission request, this is extracted by Kyverno and added internally while processing the policy.

After I changed the rule message to `request.userInfo`, I can see the following:
[code]

Since the request was actually sent from the serviceaccount, after I excluded SA `test/deve

[2022-03-18 15:35] zeborg commented on #3415
I think I misunderstood the concern here, from what I remember those graphs and charts were already visible for `kyverno/kyverno` even without adding the GitHub App. The only thing that is still not working as expected is the visibility of coverage % data at https://app.codecov.io/gh/kyverno, which I thought would be solved by adding the app to the repo _(image attached below)_
<img width="1439" a

[2022-03-18 19:29] abhi-kapoor commented on #2475
/assign

[2022-03-18 19:47] #3397 closed

[2022-03-19 04:43] shreemaan-abhishek commented on #3180
Well it's working as intended now, will raise a PR soon. Thanks for the help @realshuting @zeborg and @chipzoller. This PR is gonna boost my confidence significantly. 🥺

[2022-03-19 10:49] rahulii commented on #3279
@realshuting what do you think about https://github.com/kyverno/kyverno/issues/3279#issuecomment-1059818296?

[2022-03-19 11:42] Namanl2001 commented on #3423
@rubroboletus - since you are using a private registry, have you followed the steps mentioned here: https://kyverno.io/docs/writing-policies/verify-images/#using-private-registries ?

[2022-03-19 16:54] shreemaan-abhishek commented on #3414
Hey Jim I am interested in working on this issue but I'd like to clear a few doubts first.

- Is `kubectl-kyverno` an alias that you are using or is it actually a CLI?
- The `λ` present in your snippets. Are they the CLI prompts?

[2022-03-19 19:21] zeborg commented on #3414
It's the Kyverno CLI which you can build by running `make cli` within the cloned repo's root, and you can find the built CLI's binary named as `kyverno` inside `cmd/cli/kubectl-kyverno`, which is just named differently as `kubectl-kyverno` in Jim's case.

It's just a customised shell prompt, nothing you should worry about.

[2022-03-19 22:06] chipzoller opened #3427 "[Clean-up] Migrate scenario-based tests to CLI tests"
### Problem Statement

[Scenario based tests](https://github.com/kyverno/kyverno/tree/main/test/scenarios) are deprecated.

### Solution Description

Move all scenario based tests to CLI tests.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](h

[2022-03-19 22:33] chipzoller commented on #3177
Yes, that is correct. The problem captured in this issue is that the `request.clusterRoles` variable, which we document [here](https://kyverno.io/docs/writing-policies/variables/#pre-defined-variables), does not work in this combination. It would appear that Kyverno's internal logic used to map the `username` principals to ClusterRoles is not functioning properly. The `exclude` statement should no

[2022-03-19 22:59] chipzoller commented on #1918
Sorry for the delay. Glad you were able to work around the issue with the `contains()` filter.

[2022-03-19 23:00] chipzoller commented on #1918
@rdavyd are you able to use the above method to work around your issue with specifying wildcards in the pattern?

[2022-03-19 23:12] chipzoller commented on #3254
@Namanl2001 I notice when trying to verify this that it isn't publicly available (without authenticating to GitHub). That's probably going to be an issue for documentation. @JimBugwadia is this a requirement?

[2022-03-20 01:29] JimBugwadia commented on #3254
@chipzoller - I see that both the SBOM and image signature packages are public:

  https://github.com/orgs/kyverno/packages/container/sbom/settings

  https://github.com/orgs/kyverno/packages/container/signatures/settings

Can you please clarify what is not available without signing in to GitHub?

[2022-03-20 01:33] chipzoller commented on #3254
If I run the cosign command as provided in the linked issue, without a valid auth token to ghcr.io I get a "Denied" message.

[2022-03-20 01:45] JimBugwadia commented on #3254
I logged out of all registries and tried the two commands listed above:

[code]

[code]

Can you please post the command and details of what is not working?

[2022-03-20 01:46] JimBugwadia commented on #3254
You can also run cosign with the `--verbose` option to see which attempt is failing.

[2022-03-20 13:03] shreemaan-abhishek commented on #3414
Thanks for the assignment @JimBugwadia. I have a few more doubts:

What does `result count` mean?

I was not aware of this. So far, I only know that Kyverno mutates API requests as it acts as an admission controller. Could you please explain how/why Kyverno mutates policies? Or please link some resources for further study about the same.

[2022-03-20 13:05] rdavyd commented on #1918
@chipzoller Yes, I've succeeded using above method. I think it is a good idea to add this info to documentation somewhere.

[2022-03-20 13:49] chipzoller commented on #3414
@shreemaan-abhishek, the result count is the final line displayed: `pass: 2, fail: 1, warn: 0, error: 0, skip: 6`

Kyverno will mutate policies which match on kind `Pods` to insert [auto-gen rules](https://kyverno.io/docs/writing-policies/autogen/) (although this is currently being refactored and may disappear in the future). Study the mutating webhooks created by Kyverno.

[code]

Look at `kyvern

[2022-03-20 14:19] vyankyGH commented on #3401
Closing with https://github.com/kyverno/kyverno/pull/3402

[2022-03-20 14:19] #3401 closed

[2022-03-20 15:33] rtudo commented on #3331
@chipzoller , true. Object seems to be only replacing image. The log message is confusing where it says `replaced /spec/containers/1/name` could be fixed. Also the main problem as we see is change of order of containers which breaks some of the community operator setup. @vyankyGH

[2022-03-20 16:07] shreemaan-abhishek commented on #3414
Thanks a lot, Chip! Um... one more question 😝 . This one sounds silly.

The `kyverno-policy-mutating-webhook-cfg` webhook config is on your system how am I supposed to observe it? Was that a suggestion to install a similar configuration on my system?

[2022-03-20 16:12] chipzoller commented on #3414
The webhooks are default resources created when installing Kyverno. Please run the above command in your cluster with Kyverno installed and spend some time poking around with these resources.

[2022-03-20 16:14] chipzoller commented on #3254
Ok, my mistake. Once I logged out of ghcr.io, I was able to run the command successfully. I was still logged in but with an expired token.

[2022-03-20 16:35] vyankyGH commented on #3261
@chipzoller any thoughts ?

[2022-03-20 16:56] chipzoller commented on #3261
Sorry, didn't see your prior comment. Although this works, it's a workaround and not a solution. By using a wildcard we effectively eliminate the benefit of dynamic webhooks and so open up the door to the types of outage scenarios it was designed to solve. If that's all we can do I guess we can change the policy, but I think the better thing to do is understand WHY it isn't working as written. As

[2022-03-20 17:34] shreemaan-abhishek commented on #3414
Thank you sir!

[2022-03-20 22:30] JimBugwadia opened #3430 "[Feature] mutate image tags to digest"
### Problem Statement

See: https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw

### Solution Description

Add imageVerify rule support for a new attribute `digestMutate`:

If this attribute is set to `true` Kyverno will mutate the image to replace the tag with a digest.

### Additional Information

Currently this policy rule can be used to convert image tags to a digest:

   https://kyverno.io/policies/othe

[2022-03-20 22:39] JimBugwadia opened #3431 "[Feature] require all images are signed"
### Problem Statement

See: https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw

We need a way to enforce that all images allowed in a cluster are signed.

### Solution Description

A possible solution is to introduce a Kyverno annotation (which cannot be updated by users) and mark all signed images. This annotation can then be required in the verification webhook, and images without this annotation would be

[2022-03-20 22:44] JimBugwadia opened #3432 "[Feature] support nested mutate and validate logic during image verification"
### Problem Statement

See: https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw

Currently image signatures and attestations are not added to the rule context, and there is no way to trigger mutate and validate logic based on the results of image verification.

### Solution Description

1. Add signatures and attestations to the rule context
2. Enable `validate` and `mutate` logic to be executed once images a

[2022-03-20 22:55] JimBugwadia opened #3433 "[Feature] verify that image digests are used instead of tags"
### Problem Statement

See: https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw

We need a way to verify that image digests are used instead of tags.

### Solution Description

Add imageVerify rule support for a new attribute `digestVerify`.

If this is set to `true` all images are checked for a digest.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No respons

[2022-03-20 22:59] JimBugwadia commented on #3430
Kyverno has a couple of options to fetch the digest for an image:
1. Using Cosign
2. Using the image config

Will we need some additional configuration for users to indicate which option to use? Or, can we implicitly choose based on whether "attestors" and "attestations" are configured?

@samj1912 - any thoughts on this?

[2022-03-21 05:35] shreemaan-abhishek commented on #3414
Why might the total number of result count vary because of the policy mutation by Kyverno?

[2022-03-21 06:20] thomasroot commented on #3304
Hi,

we are trying to implement a whitelist approach for protecting namespaces. Only some clusterroles should be allowed to modify (CREATE,UPDATE,DELETE) ressources within that particular namespaces. This works perfect for all of our custom namespaces but we have got problems with the kyverno namespace itself. Everybody is allowed to modify the existing kyverno pods in the kyverno namespace :enttä

[2022-03-21 06:35] realshuting commented on #3208
Hi @artem-nefedov - there was a recent fix for this issue https://github.com/kyverno/kyverno/issues/3360, can you please upgrade to the latest Kyverno and verify? You can use the same image with the tag `latest` for testing.

[2022-03-21 06:39] realshuting commented on #3415
I've gone through that, it doesn't seem to support `ignore` as it does via GitHub App.

[2022-03-21 06:45] realshuting commented on #3415
Thanks for the help @zeborg !

As it addressed uploading reports, I'm closing the issue.

[2022-03-21 06:45] #3415 closed

[2022-03-21 06:57] realshuting commented on #3177
We used to do this additional lookup from serviceaccount to clusterrole/role.

@mritunjaysharma394  - can you please confirm? We can also test sending admission requests via a CluserRole/Role and check `request.clusterRoles` variable.

[2022-03-21 07:51] rubroboletus commented on #3423
@Namanl2001 exactly same result with / without the secret, same when I add / do not add :port_number after registry name. All this functionality with enforcing secret for private registries is not a god idea. We have anonymous access to our private registries and we are using more then one private registry. Using mentioned method we cannot use more then one private registry, or if we can, it is no

[2022-03-21 07:58] Namanl2001 commented on #3423
cc: @JimBugwadia

[2022-03-21 08:10] thomasroot commented on #3265
@realshuting I just tested the fix in my local lab and it works! 👍 I can't see these amount of Webhhok recreation logs anymore. Thank you very much!

[2022-03-21 08:21] JimBugwadia opened #3435 "[Bug] [CLI] --cluster option causes a panic"
### Kyverno CLI Version

1.6.x

### Description

using `--cluster` causes an `index out of range` panic

### Steps to reproduce

Try applying a policy to a cluster:

[code]

### Expected behavior

CLI works as documented

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the [troubleshooting gui

[2022-03-21 08:32] JimBugwadia commented on #3224
@Namanl2001 - we want to move to the policy rule declaration as specified in:

https://hackmd.io/eTx3DqhhTzmPCF9wzMcJpw#Proposal

So, if we change this now we will need to update again.

I suggest we complete https://github.com/kyverno/kyverno/issues/3199 and then revisit?

[2022-03-21 08:46] realshuting commented on #3279
Hi @rahulii - yes you are in the right direction.

It looks like we don't leverage `blocked` para in this [method](https://github.com/kyverno/kyverno/blob/e454c71aa606a936996bd9f53d3e562667667ce5/pkg/webhooks/report.go#L14), we used to have it if I remember correctly.

The fix here is that if `blocked==true`, skip generating events on resources.

[2022-03-21 08:50] JimBugwadia commented on #3435
@vyankyGH - this seems to work, but I have not tested all cases:

[code]

[2022-03-21 08:52] vyankyGH commented on #3435
I will take a look.

[2022-03-21 08:57] Namanl2001 commented on #3199
why do we explicitly need an `of` clause? can't it be as follows?

[code]

[2022-03-21 10:46] mritunjaysharma394 commented on #3177
Sure @realshuting , working on it

[2022-03-21 12:26] chipzoller commented on #3414
Because if the policy does not match on `Pods` it will not be mutated to produce auto-gen rules. If there are no auto-gen rules then the total count of results will match the number of rules. Play around with the `kyverno apply` command to get familiar with it. Try experimenting with different rules from the policy library and make sure you have a good grasp of how it works. Being familiar with a

[2022-03-21 14:01] #3435 closed

[2022-03-21 14:18] mritunjaysharma394 commented on #3177
So it seems, they are not directly a bug but basically it seems an issue to make the logic crispier so that the `exclude` statement should not necessitate naming the exact ServiceAccount name because the `exclude.clusterRoles ` should be sufficient, moving it to 1.7 milestone

[2022-03-21 18:55] chipzoller commented on #3177
IMHO, Kyverno being able to lookup and derive these variables which aren't present in the API server's AdmissionReview resource (that is, `request.roles.` and `request.clusterRoles`) is a big value add and differentiator as it makes matching and excluding way more flexible and useful. We need to ensure those variables always work in all possible combinations, and we should be testing for them in o

[2022-03-22 07:16] vikas027 opened #3440 "[Bug] - Policies stops working after a few hours"
### Kyverno Version

1.6.x

### Description

## ENVIRONMENT
EKS
Kubernetes: 1.21.4 (container runtime is `containerd`)
Kyverno: 1.6.1
VPC CNI: 1.101

## PROBLEM
I have six EKS clusters, I am seeing some weirdness in four EKS clusters where I have some workload.  The policies stop working after a few hours. EKS AMIs, Kyerno (the latest version) and the policies are created through GitOps (ArgoCD),

[2022-03-22 07:20] vyankyGH commented on #3261
@chipzoller we have verified that webhook behavior Is logical OR whenwe have multiple groups/versions/resources configured.
currently we have  up with the following policy to support.

[code]

[2022-03-22 07:28] vyankyGH commented on #3104
@chipzoller @samj1912 any thoughts

[2022-03-22 07:38] AidanDelaney opened #3441 "[Feature] Deprecate `test.yaml`"
### Problem Statement

In kyverno >=1.7.0 we deprecate `test.yaml` in favor of `kyverno-test.yaml`.  We need to remove support for the older deprecated format.

### Solution Description

A solution should remove logic in the test cli that searches for `test.yaml`.  It should also remove any reporting of deprecated formats.

### Alternatives

_No response_

### Additional Context

_No response_

##

[2022-03-22 08:15] realshuting commented on #3177
Agreed! Let's investigate possible solutions and propose for 1.7.0.

[2022-03-22 09:06] vyankyGH commented on #3441
Closing with PR https://github.com/kyverno/kyverno/pull/3442

[2022-03-22 09:06] #3441 closed

[2022-03-22 12:28] chipzoller commented on #3104
Sam is away on vacation until March 28th so his responses may be delayed.

It seems like based on the response [here](https://github.com/kyverno/kyverno/issues/3104#issuecomment-1040934561) that we should be looking for code in the webhook which attempts to add single quotes to key-value pairs.

[2022-03-22 12:30] chipzoller commented on #3440
Do all of these symptoms go away if you run Kyverno with a single replica?

[2022-03-22 13:17] vyankyGH commented on #3331
Working on fix for not  change of order of containers / initContainers

[2022-03-22 17:25] pealtrufo commented on #2709
Hi @JimBugwadia

Apologies I didn't manage to reply to your comment before. I haven't had the chance to test the workaround documented by @patelrit yet, but I assume it works based on his blog post and comments.

The inconvenience I see with that approach though is that I'd need to create and manage the cron job and secret which is not ideal. Also, I understand you'd need different secrets for dif

[2022-03-22 23:47] vikas027 commented on #3440
Let me check, I will get back to you soon.

[2022-03-23 03:59] vikas027 commented on #3440
Hey @chipzoller - I have scaled down the deployment replicas to 1 now. The original issue still remains the same. Also, the pod gets `OOMKilled` very often. The current specs are 1vCPU and 1GB memory which I thought should be enough for a small cluster.

[code]

I am bumping up the memory to 3GB and will keep on monitoring the performance

[2022-03-23 04:38] shreemaan-abhishek commented on #2627
Hi, I had some questions regarding this.

I quite didn't understand what this meant.

What could be the practical scenario when we would allow the creation of resources that fail validation? I had a look at the slack conversation but couldn't get the idea.

Sorry if this sounds silly, I'm kinda new to this but I'm making progress in my level of understanding. Your support will definitely help me b

[2022-03-23 04:39] vikas027 commented on #3440
I have Googled a bit more and found that others have faced the same issue as well
- https://github.com/kyverno/kyverno/issues/2909
- https://github.com/kubernetes/client-go/issues/1029
- https://github.com/rancher/rancher/issues/35685
- https://jonnylangefeld.com/blog/the-kubernetes-discovery-cache-blessing-and-curse

[2022-03-23 04:46] realshuting commented on #2475
Closed via #3437.

[2022-03-23 04:46] #2475 closed

[2022-03-23 05:06] alwaysastudent commented on #1069
@chipzoller @JimBugwadia is there a way to restrict exec access to a specific pod to just one service account? deny all but just that service account.

[2022-03-23 09:16] romainmeunier commented on #1127
This should be a _must have_

Examples :

- Warning on API depreciation ( This api/object will be deprecated in release x.xx)
- "Warn before deny"  policy workflow

As today, we have to manage the warning by catching the event in kube API and send it to the user afterward.

[2022-03-23 09:27] realshuting commented on #3440
@vikas027 - thanks for investigating the issue.

From [this](https://github.com/kubernetes/client-go/issues/1029#issuecomment-953298803) comment:

Can you set these two values via the container flag and check if it helps?
https://github.com/kyverno/kyverno/blob/f34d3c342dfcd56d2820b20483b2bbaeaecaf981/cmd/kyverno/main.go#L104-L105

[2022-03-23 09:31] realshuting commented on #3440
Adding resources to reproduce - https://kubernetes.slack.com/archives/CLGR9BJU9/p1648013667576199?thread_ts=1647933599.013649&cid=CLGR9BJU9.

[2022-03-23 10:07] karlschriek opened #3455 "[Bug] Webhookconfigurations deploy with failurePolicy: Ignore"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

This is on Kubernetes 1.19 (you don't have it in the dropdown box).

Using this installation (1.6.1), https://raw.githubusercontent.com/kyverno/kyverno/release-1.6/config/release/install.yaml, the Kyverno webhooks are all set to failurePolicy: Ignore, which seem

[2022-03-23 10:15] shubham4443 commented on #3114
Hello People!
The design proposal for this issue can be found [here](https://docs.google.com/document/d/1y-5BIxuCJkqJ0XX4D5SEhVqmSii11iLBe0ve6zraNr4/edit#heading=h.k9m35w1krgjl).

[2022-03-23 10:43] furio commented on #1749
Hi,

I'm sorry to reopen this but i'm getting this error (log after)

- Kubernetes version: 1.22.3+b93fd35
- Openshift version 4.9.23
- Kyverno version: 1.6.1
- Kyverno pods runnings: 3

I've changed the configmap of kyverno to discard `openshift-* ` like namespaces, enlarged limits for RAM to 16Gb and added `--clientRateLimitQPS=20 --clientRateLimitBurst=50` to commandline

Error:
[code]

[2022-03-23 10:47] silenceper opened #3458 "[Bug] value not support wildcards?"
### Kyverno Version

1.6.x

### Description

clusterpolicy:
[code]

resource:
[code]

not match the k8s pod?

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is not recorded.

[2022-03-23 11:00] karlschriek commented on #3455
On closer inspection, I believe this might be a documentation issue. The `kyverno-policy-*` webhooks are set to `failurePolicy: Ignore` whereas the `kyverno-resource-*` ones are set to `failurePolicy: Fail`. I believe that this is intended, although I am not certain why. Leaving this issue up for now for someone to confirm. Feel free to close.

I would like to point out that I opened this issue be

[2022-03-23 11:42] furio opened #3459 "[Bug] fatal error: concurrent map read and map write"
### Kyverno Version

1.6.x

### Description

This is similar to #1749 that is marked as solved, and it's happening very often (like evry 20-30 minutes a kyverno pod crashes)

- Kubernetes version: 1.22.3+b93fd35
- Openshift version 4.9.23
- Kyverno version: 1.6.1
- Kyverno pods runnings: 3

I've changed the configmap of kyverno to:
-  discard `openshift-* ` like namespaces
- enlarged limits for RA

[2022-03-23 11:43] furio commented on #3459
Full stack:
[code]
fatal error: concurrent map writes
fatal error: concurrent map writes

goroutine 1326758 [running]:
runtime.throw({0x26a8294, 0xc0011babd0})
        /usr/local/go/src/runtime/panic.go:1198 +0x71 fp=0xc0011baba0 sp=0xc0011bab70 pc=0x435b51
runtime.mapassign_faststr(0x22c4c00, 0xc0026f2240, {0x26c98cd, 0x21})
        /usr/local/go/src/runtime/map_faststr.go:294 +0x38b fp=0xc0011ba

[2022-03-23 11:53] chipzoller commented on #3440
These flags are [undocumented](https://kyverno.io/docs/installation/#container-flags) from what I can tell. When were they added?

[2022-03-23 11:56] chipzoller commented on #3455
The `Ignore` webhook is for Kyverno to mutate its own policies. `Fail` is default for user-created policies. When the first policy is created, Kyverno will configure the webhook according to the policy. This is all as intended.

[2022-03-23 12:30] DavidRBanks opened #3460 "[Bug] Kyverno memory usage is greatly increased when using HA on the leader pod"
### Kyverno Version

1.6.x

### Description

When running a cluster with a replicaCount of 3 demonstrates vastly higher memory usage on the leader pod.  This behavior is not seen when not running in HA mode (single pod).  Seen in kubernetes versions 1.22.2 / 1.23.3, but appears consistent across K8s environments / versions.

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p16

[2022-03-23 14:57] realshuting commented on #3458
Adding the working policy from @silenceper 's [comment](https://kubernetes.slack.com/archives/CLGR9BJU9/p1648042234365159?thread_ts=1648038527.432599&cid=CLGR9BJU9):
[code]

[2022-03-23 14:57] #3458 closed

[2022-03-23 15:00] chipzoller commented on #3458
I was under the impression this was fixed by @anushkamittal20 in a prior PR where I specifically called out wildcards in both string and array/string values for the `value` field.

[2022-03-23 15:10] chipzoller commented on #3458
The issue was here: https://github.com/kyverno/kyverno/issues/2813

[2022-03-23 15:13] realshuting commented on #3114
Hi @shubham4443 - can you also submit your design proposal to `kyverno/KDP` repo?

[2022-03-23 15:19] realshuting commented on #3459
Hi @furio - it looks like the issue is caused by generate policies. Can you please attach all your generate policies?

[2022-03-23 15:20] shubham4443 commented on #3114
Sure! Will do.

[2022-03-23 15:46] furio commented on #3459
Sure! There are 3 generate policies

[code]

[2022-03-23 16:25] silenceper commented on #3458
But I still have some doubts, why can't it be used in foreach？  like this:
[code]
wildcards is not work.
@chipzoller @realshuting

[2022-03-23 17:54] esn89 commented on #2162
Has this been fixed?  I am still getting
[code]

When I try to apply policies.

I am running kyverno 1.6.1

[2022-03-23 19:06] chipzoller commented on #3458
Your `deny.conditions` statement isn't contained with any `any`|`all` block. This works just fine:

[code]

"bad" Pod:
[code]

Result:
[code]

"good" Pod:
[code]

Result:
[code]

[2022-03-23 19:41] prateekpandey14 commented on #3459
@furio if you don't mind can you pls help me test the fix, here is the image `ghcr.io/prateekpandey14/kyverno:1.6-crash`

[2022-03-24 01:24] silenceper commented on #3458
@chipzoller  the value `value: /home/*/.bashrc` cannot be array? If I have multiple values to match，it does not worked:
[code]

[2022-03-24 05:58] prateekpandey14 commented on #3459
@furio not able to reproduce this issue locally with image 1.6.1 (3 replicas) using above mentioned generate ClusterPolicy. Suspecting the concurrent map access error, i tried to take a lock while updating map which i included in above provided image, it will be great if you can help me test this fix.

[2022-03-24 07:47] furio commented on #3459
@prateekpandey14 Sorry for the delay, we're probably in very different TZ... anyay deployed it now. I will edit the results here.

[2022-03-24 08:14] furio commented on #3459
@prateekpandey14 new crash

[code]

[2022-03-24 08:29] prateekpandey14 commented on #3459
ok , can you also try with `latest` tag once

[2022-03-24 08:39] furio commented on #3459
[code]

[code]

[2022-03-24 08:43] prateekpandey14 commented on #3459
ok looks stable now only 1 restart.

[2022-03-24 08:46] furio commented on #3459
Yeah, what I can also see (by some testing) that by putting `synchronize:false` in the generate for the `NetworkPolicies` reduces the storms of `"msg"="updated generate target resource" `  ... I don't know if this might be related to some `openshift` system operator editing the created `NetworkPolicies`

[2022-03-24 09:22] prateekpandey14 commented on #3459
Yes, those update info msg are expected , to keep resources synchronized across changes, you can use the synchronize property. When synchronize is set to true, the generated resource is kept in-sync with the source resource (which can be defined as part of the policy or may be an existing resource)

[2022-03-24 09:31] prateekpandey14 commented on #3459
Can you verify if openshift operator updating any trigger/match resources like Namespace as per the policy ?

[2022-03-24 09:49] furio commented on #3459
I'm checking the audit logs to see if there is any serviceaccount that is doing so besides kyverno's but so far the only one reading that stuff seems the CNI of openshift (and i think that is right)... I'll continue to check

[2022-03-24 10:42] prateekpandey14 commented on #3459
Yeah there is something to do with NetworkPolicy seeing continuous update target request which is odd.
[code]

[2022-03-24 10:54] vyankyGH commented on #3331
@rtudo After debugging into issue we figure out that kyverno is not changing  the order of containers,
we have internally use the kustomize for strategic Merge Patch.
The container order changing happed by https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/kyaml/filtersutil/filtersutil.go#L34 function which kyverno called at https://github.com/kyverno/kyvern

[2022-03-24 11:16] furio commented on #3459
With `sync: true` is a storm of updates... without it it happens just once per hour or rarely
[code]

[2022-03-24 11:49] jcam commented on #1607
This would be useful to me as well. I am attempting to eliminate podpreset and kube-graffiti from my clusters as both are essentially unmaintained, serve a similar function, and are limited in functionality.
podpreset will mutate pods even when deployed by a Deployment, which allows me to update the podpreset policy and then perform a rollout restart on the deployment to pick up the change.
kube-g

[2022-03-24 13:42] TheKangaroo opened #3463 "[Feature] default policies: make allowed volume list configurable"
### Problem Statement

We just upgraded to 1.6.x and use the new policy helm chart. We appreciate the new flexibility.
We still have the problem that we need to edit the allowed volumes in the restricted policies.
Right now, we handle this by setting `podSecurityStandard` to custom and list all but the restrict-volume policies under `podSecurityPolicies`. The restrict-volume however is copied to o

[2022-03-24 13:44] TheKangaroo commented on #3463
I'll PR this to the helm chart if you like the idea to add this feature.

[2022-03-24 13:52] realshuting commented on #1607
The design is proposed via https://github.com/kyverno/KDP/pull/4, we are targeting this support in 1.7.0.

Please review the design and let us know if it cannot address your use case.

[2022-03-24 13:54] chipzoller commented on #3463
Challenge here is when we start providing additional flexibility like what's requested here for one policy, we create the precedent where we open that for all. At a certain point, for over a certain amount of customization that's needed, you may need to curate your own Helm chart and it sounds like this may be such a time.

[2022-03-24 14:15] realshuting commented on #3208
This issue should be fixed.

@artem-nefedov - please re-open if it occurs.

[2022-03-24 14:15] #3208 closed

[2022-03-24 14:35] eddycharly opened #3464 "[Feature] Add autogenInternals flag to cobra based entrypoints"
### Problem Statement

The new `autogenInternals` flag is not currently supported with cobra based entrypoints.

### Solution Description

Add support to cobra based entrypoints.

### Alternatives

We can still use the `FLAG_AUTOGEN_INTERNALS=true|false` environment variable to control the feature flag.

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X

[2022-03-24 14:39] realshuting commented on #3464
Removing milestone label, we use milestones for issues and labels for PRs, see https://main.kyverno.io/docs/releases/#branches-and-prs:

[2022-03-24 19:52] caiobegotti opened #3465 "[Bug] Validate policy match on all kinds problems"
### Kyverno Version

1.5.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

The idea was to audit which namespaces out of several dozens didn't have at least 2 compliance network policies applied to them. For whatever reasons we couldn't enforce these netpols in any way and we needed to audit the namespaces

[2022-03-24 22:25] vikas027 commented on #3440
Thanks a lot @realshuting and @chipzoller, adding these to the helm chart has resolved the issue.

[code]

[2022-03-24 22:25] #3440 closed

[2022-03-25 04:40] #3459 closed

[2022-03-25 07:01] thomasroot commented on #3304
Hi @realshuting,
we want to give the user full access to the kubernetes cluster with RBAC and only restrict certain resources with kyverno that are crucial for running the cluster. Otherwise we needed some kind of whilelist roles/clusterroles that explicitly define for which resources the user has access to, but this is in our perspective really hard to maintain and we are not sure if it works at

[2022-03-25 07:46] furio commented on #3459
No crashes! I think the fix is good :) @prateekpandey14

[2022-03-25 07:49] vyankyGH commented on #3331
@rtudo can you please try following image tag, let us know is working as expected
`vyankatesh/kyverno:foreach_mutate`

[2022-03-25 13:12] chipzoller opened #3473 "[Bug] Kyverno annotations created not accurate"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

Kyverno is creating annotations like [here](https://github.com/kyverno/kyverno/issues/3331#issuecomment-1066754461) which aren't accurate as none of these actions occurred.

### Steps to reproduce

1. Create policy listed in link.
2. Create resources.
3. See ann

[2022-03-25 13:17] chipzoller opened #3474 "[Feature] Resolve context variables as needed"
### Problem Statement

Kyverno resolves all context variables before anything else. This produces two problems, one related to performance and the other related to policy application.

1. All context variables are resolved to their values before any processing of preconditions or rule logic begins. Especially for context variables which perform API lookups, this could result in additional load on

[2022-03-25 13:21] chipzoller opened #3475 "[Feature] Short circuit expressions in an `any` block"
### Problem Statement

In an `any` block (preconditions, deny.conditions, elsewhere), if any of the expressions evaluate to `false` the checks cause the evaluation to be skipped. When executing in order, all of the expressions are evaluated and then the results are examined. This is inefficient as if the first one is `false` it doesn't matter what subsequent expressions evaluate.

### Solution Des

[2022-03-25 13:28] TheKangaroo commented on #3463
Okay, I see your concerns. Since we can work around this, it's fine with me to close this issue. Thank you for your feedback @chipzoller

[2022-03-25 13:28] #3463 closed

[2022-03-25 13:42] #2269 closed

[2022-03-25 14:45] realshuting commented on #3465
Hi @caiobegotti - do you only want to check netpols on pod events?

Matching all kinds is way too open, I would first narrow down the trigger resources.
[code]

[2022-03-25 15:18] Namanl2001 commented on #3430
@JimBugwadia we are trying to achieve this [example](https://github.com/kyverno/KDP/blob/main/proposals/image_verify_enhancements.md#example-convert-tags-to-digests-for-all-pods) right? where there is no need to specify attestations/attestors in the policy, also no need to sign the image to enable `tag-to-digest` mutation.

Also, we discussed offline to make changes in [this](https://github.com/ky

[2022-03-25 16:17] caiobegotti commented on #3465
Not really @realshuting because we cannot enforce pods or deployments or any workloads to have a netpol specificed in their manifests, we need to enforce that at namespace-level unfortunately. Enforcing that on pod-level would be super complicated and cumbersome due to the amount of workloads involved. Number of namespaces is a fraction of that total though and everything inside them abide to the

[2022-03-25 16:47] JimBugwadia commented on #3304
@thomasroot - thanks for sharing the details!

We had discussed moving to using an [objectSelector](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector) to allow webhook configuration of exceptions.  See: https://github.com/kyverno/kyverno/pull/3413.

The challenge we have with other filtering approaches is that the webhook wou

[2022-03-25 19:52] chipzoller commented on #2813
This does not appear to work when tested on Kyverno 1.6.1, at least when a wildcard occurs intra-line. See #3458 for context.

Apply this ClusterPolicy:
[code]

Apply this Pod and see it's blocked:
[code]

[code]

Alter the policy so as to add another path (including wildcard) in list format. See the policy does not block the same pod:

[code]

[code]

Pod should be blocked with either of the two

[2022-03-25 19:53] chipzoller commented on #3458
Re-opened #2813

[2022-03-25 19:59] chipzoller commented on #3465
@caiobegotti I think Shuting's suggestion is the way to go. A NetworkPolicy is only effective on Pods; it has no bearing on any other type of resource. Even the message you return is effectively validating Pods against the existence of this resource: "Namespaces need at least 2 compliance network policies inside them before you can spawn new pods." Your policy matching on a wildcard (i.e., ALL pos

[2022-03-25 20:26] JimBugwadia commented on #3430
@Namanl2001 - yes, the `tag-to-digest` mutation and verification should be independent of other image verification logic.

One way to accomplish this is:
1. If the policy rule has `attestors` or `attestations` use Cosign to fetch the digest and mutate the image [done here](https://github.com/kyverno/kyverno/blob/main/pkg/engine/imageVerify.go#L149).
2. If the policy rule does not have `attestors`

[2022-03-25 21:17] JimBugwadia commented on #3465
To add a few details on the scaling challenge with the policy rule:
- when `kind: *` is used, the Kubernetes admission webhook forwards **all** API requests to Kyverno.
- usually that may be OK as Kyverno will perform a policy cache lookup and return fairly quickly
- but with the `apiCall` added, each admission request now causes Kyverno to perform an API lookup
- this results in excessive API cal

[2022-03-25 23:49] dkulchinsky commented on #2133
@chipzoller sorry to barge in on a closed issue, but I recently found an edge case of this issue that is still broken, reported in: https://github.com/kyverno/kyverno/issues/3412

this was originally addressed in https://github.com/kyverno/kyverno/pull/3133 but I think it's missing the case where the jmespath expression includes nested elements, such as:
[code]

[2022-03-26 07:57] rtudo commented on #3331
sure @vyankyGH  though I was wondering if there is any easy way for me to test this change using kyverno cli ? ps - I use cli to test policies against resources.

[2022-03-26 11:13] luisdavim opened #3483 "[Feature] Delete/Cleanup policies"
### Problem Statement

Currently I'm using [Kube-janitor](https://codeberg.org/hjacobs/kube-janitor) to manage temporary resources, this is mostly used for setting up temporary demo or development environments, I think the features provided by kube-janitor would fte nicely in kyverno so we can use policies to define the maximum age or some expiry date on certain resources.

kube-janitor can also b

[2022-03-26 12:36] chetak123 commented on #3427
@chipzoller I have created a pr for this issue where I have moved the entire scenarios folder to cli/test/scenarios

[2022-03-27 07:26] Prateeknandle commented on #2233
Hey @JimBugwadia  @chipzoller, I'm interested in applying for gsoc for this issue and I've an idea to implement it, pls let me know if it can be implemented or not. Can we have validationTimeWindow as an array and provide two values like `validationTimeWindow = [2022-03-27 15:50:13.793654 +0000 UTC, 2022-03-28 15:50:13.793654 +0000 UTC]` , here the value at index 0 represents the starting time and

[2022-03-27 10:23] vyankyGH commented on #3475
I like to work on this issue.

[2022-03-27 12:00] chipzoller commented on #2233
Prateek, take a look at some of the use cases above. I believe we need to start by covering some of the most basic use cases, but before that we probably want to have a setting which determines both when the rule is active and when the rule is inactive. Some of the basic use cases from there would be:

* Repeating time window every day (1700-2300)
* Repeating time window days (Sat-Sun)
* Repeating

[2022-03-27 21:51] abhi-kapoor commented on #3197
/assign

[2022-03-28 11:57] chipzoller commented on #3416
Link in Problem Statement goes nowhere. Deprecation ≠ removal. Are we deprecating or removing? If there wasn't a previous deprecation phase, we probably shouldn't move directly into removal.

[2022-03-28 12:25] dadav commented on #3245
Thanks for this `initialDelaySeconds` fix. It helped on my openshit 4.9.24 installation!

[2022-03-28 13:09] andrejvanderzee commented on #3294
We are experiencing the same ordering-problem for initContainers.

[2022-03-28 13:16] chipzoller commented on #3294
This has been closed by https://github.com/kyverno/kyverno/pull/3468

[2022-03-28 13:16] #3294 closed

[2022-03-28 17:57] JimBugwadia opened #3490 "[Feature] decouple policy cache from policy type"
### Problem Statement

Current Kyverno watches policies and builds an internal cache for fast lookups. The cache organizes policies based on the policy types, and other attributes, as follows:

https://github.com/kyverno/kyverno/blob/main/pkg/policycache/type.go#L7

[code]

When implementing new features like YAML signing and Image Verify rule updates, we are finding that some policies may span th

[2022-03-29 08:37] prateekpandey14 commented on #2982
Since this is more of a new feature not a bug in 1.6.x release, as we were not supporting generate rule in Namespace policy,  we are moving this issue from `1.6.2 milestone` and accept as part of `1.7.0 milestone` changes.

[2022-03-29 08:53] realshuting commented on #3490
Just To summarize the current logic:

In mutating webhook, get and apply:
  - mutate policies
  - verifyImages policies

In validating webhook, get and apply:
- validate enforce
- validate audit
- generate policies

There are different handlers to process different types of policies in the webhook. We still need to further filter by policy types once we look up these policies by webhook, is this t

[2022-03-29 09:48] realshuting commented on #2627
The admin gets notified that a dev wants to create some violating resources.

Quoting the use case from Slack Conv:
"For example, if I want to let a user create an Ingress resource … but I want it flagged as violating a policy (or waiting review) until an administrator has somehow approved it. The goal would be to allow our developers to move quickly on certain types of resources, but ensure that

[2022-03-29 09:59] realshuting commented on #3304
Yes we should, after https://github.com/kyverno/kyverno/pull/3413 we can update the default configuration to exclude Kyverno resources by `objectSelector`.

[2022-03-29 10:39] ddellarocca opened #3497 "[Bug] Kyverno loops over generate and keeps tracking deleted namespaces"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Generate

### Description

Hi, on our cluster we are facing two problems, we have installed kyverno using helm with chart version 2.3.1.
We have a set of generate policies that adds network policies to the namespaces that have a custom label, the problems are:
1. When i label the namesp

[2022-03-29 13:04] #2982 closed

[2022-03-29 14:20] prateekpandey14 commented on #2982
Discussed with team and thought of including the fix in 1.6.2 release as well.

[2022-03-29 16:38] chipzoller opened #3501 "[Bug] Relax check on `element` variable"
### Kyverno Version

1.6.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

The validation check and operation of the foreach reserved variabled named `element` needs to be relaxed so as to work with JMESPath queries. In addition to that validation check, a JMESPath query which makes use of this in the format of, for example, `element

[2022-03-29 17:47] Prateeknandle commented on #2233
So, we want to change the activation of the rule and not for the whole policy by changing the value of `validationFailureAction`.
And for changing the activation of the rule, we cannot make it default, like when the window starts, the rule should be inactive, because if we want that no one is allowed to change in config over the weekend, we'll need to make rule for that and when window starts the

[2022-03-29 19:21] zosocanuck opened #3502 "[Feature] Support Certificate Chains during Image Signature Verification"
### Problem Statement

Currently Kyverno image signature verification is done in policy via public keys, and given that the [Sigstore/cosign](https://github.com/sigstore/cosign) main branch now supports [certificate chaining](https://github.com/sigstore/cosign/pull/1659), it would be good to have this as an option instead of relying on public keys and the manual effort to rotate and manage a poten

[2022-03-29 19:46] bburky commented on #3502
Kyverno already almost supports the new changes in cosign, all that needs to be done is correctly configuring  `RootCerts` in `cosign.CheckOpts` I think? However, could you please consider splitting the configuration of Rekor from the configuration of the roots?

https://github.com/kyverno/kyverno/blob/d1bf3d474266f30e053861b5e957a1249916c60b/pkg/cosign/cosign.go#L77-L80

Kyverno already supports

[2022-03-30 01:11] JimBugwadia commented on #3304
Thanks @realshuting - is there already an issue to track that?

[2022-03-30 12:45] chipzoller commented on #2233
The implementation details aside, the functional requirement is that a user be able to determine when the rule is ACTIVE (in `enforce` mode) and also to invert that by defining when the rule is INACTIVE (in `audit` mode) depending on which statement is less complex. For example, let's say you had a policy that made sure that users couldn't `exec` into a Pod. You wanted that rule to be enforced so

[2022-03-30 12:47] mbastawisy opened #3504 "Pod mutation doesn't work on old deployments created before the ClusterPolicy creation"
### Kyverno Version

1.4.x

### Description

Created below ClusterPolicy that mutates one image with another one, however, the policy does only work on new deployments and doesn't work on new pods that get created from old deployments that were created before the creation of the cluster policy.

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the do

[2022-03-30 12:50] chipzoller commented on #3504
This is not a bug but is by design. Kyverno is an admission controller and Pods already in the cluster have already been "admitted". There is a proposal [here](https://github.com/kyverno/KDP/pull/4) on augmenting Kyverno to perform background or retroactive mutations.

[2022-03-30 12:50] #3504 closed

[2022-03-30 12:58] chipzoller commented on #3504
The Deployment is responsible for defining the Pod template and spec. The policy would have to target Deployments, and to be mutated those Deployments could not be pre-existing. So, no, unless the parent controller is mutated the resources it spawns will not be, even with this proposal.

[2022-03-30 13:45] falmotlag commented on #3504
I'm not sure how Kyverno is translating the rules, but since the target of the policy in this issue is `Pod`, shouldn't any request for `Pod` creation by intercepted by Kyverno, and mutated, regardless of their parent?

[2022-03-30 14:05] falmotlag commented on #3504
Thanks for linking the relevant docs.
What would be the behaviour for a rule that targets `Pods` with `pod-policies.kyverno.io/autogen-controllers: none`?

[2022-03-30 14:13] chipzoller commented on #3504
The Pod itself would be mutated but the Pod controller responsible for it (if applicable) would not so therefore there would be a discrepancy between the Pod controller and the Pod itself. Note that adding the annotation `pod-policies.kyverno.io/autogen-controllers: none` would be a manual addition to a policy in order to produce this behavior, in other words someone has to consciously ask for thi

[2022-03-30 15:19] Prateeknandle commented on #2233
Didn't understand why have you used `enforce` & `audit` mode for the activity, just want to clarify that the rule can be active & inactive in both `enforce` & `audit` mode?

Yes, this would be best approach.

[2022-03-30 16:56] zosocanuck commented on #3502
The target use case is for the organizational private CA trust model similar to Fulcio, which could support a root as well as intermediate issuers of code signing certificates.

[2022-03-30 18:44] niranjanative commented on #2233
Hey @JimBugwadia @chipzoller, I'm interested in applying for Kyverno GSOC for this issue. I have a few questions for you guys though.

1. Is'nt `inactiveWindow` feature enough? It will reduce the complexity in CR and will keep things simple, above I see that we are talking about `activeWindow` & `inactiveWindow`
2. Right now `ValidationFailureAction` field is present under `Policy.Spec`, but if we

[2022-03-31 08:43] realshuting commented on #2912
As of 1.6.2, the release notes are generated from issues (and PRs if missing corresponding issues) in milestones.

Use [Hub](https://github.com/github/hub) to export all closed issues in a milestone:

- `hub issue -M "Kyverno Release 1.6.2" -s closed`

Hub doesn't support listing PRs by labels and milestones, logged the request https://github.com/github/hub/issues/2950.

Currently they can be list

[2022-03-31 09:41] realshuting commented on #3368
Fixed in https://github.com/kubernetes-sigs/krew-index/pull/2132.

[2022-03-31 09:41] #3368 closed

[2022-03-31 14:22] JimBugwadia commented on #3304
Yes. Anything configurable by users can be a problem. But don't we have a check to not allow users to configure kyverno.io labels?

[2022-03-31 14:46] eddycharly commented on #3304
The label is used to exclude resources from the kyverno webhooks so we can’t check that.

[2022-03-31 15:05] realshuting opened #3518 "*G402:* TLS MinVersion too low."
*G402:*  TLS MinVersion too low.

(at-me [in a reply](https://help.sonatype.com/lift/talking-to-lift) with `help` or `ignore`)

_Originally posted by @sonatype-lift[bot] in https://github.com/kyverno/kyverno/pull/3516#discussion_r839584392_

[2022-03-31 15:07] realshuting opened #3519 "Migrate to 'html/template' package"
*opt.semgrep.no-direct-write-to-responsewriter:*  Detected directly writing or similar in `http.ResponseWriter.write()`.
This bypasses HTML escaping that prevents cross-site scripting
vulnerabilities. Instead, use the 'html/template' package
and render data using `template.Execute()`.

(at-me [in a reply](https://help.sonatype.com/lift/talking-to-lift) with `help` or `ignore`)

_Originally posted

[2022-03-31 15:13] JimBugwadia commented on #3304
Ha, yes. Good point!

What would be the ideal granular setting for a webhook? Based on role / user / service account and a namespace?

[2022-03-31 15:36] realshuting commented on #3304
I was thinking about this earlier, if we configure both `namespaceSelector` and `objectSelector` in the webhook, would Kubernetes "logically AND" these two selectors?

[2022-03-31 15:47] realshuting opened #3522 "Exclude Kyverno application in webhook configurations"
IMHO the main reason behind it is to allow kyverno pods to rebirth in case of all pods terminate at the same time.

Operators should not use it without knowing what they do. If i went to use it, I would probably combine it with a `namespaceSelector` so that it applies only in `kube-system` and `kyverno` namespaces for example. I would also need to make sure that proper authn/authz is in place to p

[2022-03-31 15:47] realshuting commented on #3304
Great! Logged https://github.com/kyverno/kyverno/issues/3522.

[2022-03-31 15:58] chipzoller commented on #2233
Hi @niranjanative

1. We could probably start with just `inactiveWindow` and see how many use cases that solves. Having just one is certainly less complex, it just may be somewhat more lengthy to write many entries.
2. This is somewhat out of scope for this project. We should keep this confined to the ClusterPolicy or Policy level.
3. I feel that, since this feature is a minority use case as it is

[2022-03-31 16:03] chipzoller commented on #2278
@mikebryant was this solved?

[2022-03-31 16:41] Prateeknandle commented on #2233
I think the best time format will be the cron job format, it'll fulfill all the use cases to apply

Considering this time window - 2022-04-01 15:00:00 +0000 UTC-2022-04-02 18:00:00 +0000 UTC, the cron job format will be :

- inactiveWindow: "00 15 1 4 * - 00 18 2 4 *"

- inactiveWindow: "* * * * 7 - * * * * 0"  -  window for sat to sun

- inactiveWindow: "00 17 * * * - 00 23 * * * "  -  window for

[2022-03-31 17:07] Prateeknandle commented on #2233
And the fields `activeWindow` & `inactiveWindow` can be defined in the rules array, [here](https://github.com/kyverno/kyverno/blob/main/api/kyverno/v1/rule_types.go#L18), not in validate field, like below:
[code]

[2022-03-31 17:12] #3518 closed

[2022-03-31 17:18] JimBugwadia opened #3525 "Remove deprecated CRD types and apiextensions.JSON"
### Problem Statement

The `apiextensions.JSON` type allows any JSON object to be used in a CRD type. We have used this to allow conversions from deprecated formats, to new formats, like in the Conditions block when any/all was introduced.

This (apiextensions.JSON) breaks structural schema validation and also does not allow `kubectl explain` and other tools to show the API syntax and help.

In ad

[2022-03-31 22:54] chipzoller opened #3529 "[Bug] Custom JMESPath function `compare()` return type is int and not bool"
### Kyverno Version

1.6.x

### Description

The custom JMESPath function added in PR https://github.com/kyverno/kyverno/pull/1772 returns an int and not a bool. The documentation will be updated to reflect this and updates are needed to [functions.go](https://github.com/kyverno/kyverno/blob/main/pkg/engine/jmespath/functions.go).

### Slack discussion

_No response_

### Troubleshooting

- [X] I

[2022-03-31 22:54] chipzoller commented on #3529
https://pkg.go.dev/strings#Compare

[2022-03-31 22:59] chipzoller commented on #3529
[code]

[2022-03-31 23:30] chipzoller opened #3530 "[Feature] Visual Studio Code (VS Code) extension for Kyverno"
### Problem Statement

Visual Studio Code is an extremely common, extremely capable IDE used as the editor of choice for many. When writing a Kyverno policy from scratch, it's often quicker to go find an existing one to use as a basis for a copy-and-paste operation. This obviously takes some time and can be irritating when repeating the process multiple times.

### Solution Description

Create a K

[2022-04-01 07:45] ddellarocca commented on #3497
Running two replicas i encounter the following problem, the leader keeps on updating the policy as said before:
[code]
while the second replica logs only error:
[code]
Also the second replica sometimes it crashes, logs attached [logs.txt](https://github.com/kyverno/kyverno/files/8395662/logs.txt)
.

[2022-04-01 09:21] chipzoller commented on #3497
Running with two replicas is not supported. The minimum is there.

[2022-04-01 09:29] andrejvanderzee opened #3533 "The "exclude" has no effect on initContainers"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

When I mutate initContainers and want to exclude an initContainer with a specific name, it still mutates the initContainer.

### Steps to reproduce

This is the Kyverno ClusterPolicy:

[code]
And this is the Deployment:
[code]
The resulting initContainer has the

[2022-04-01 09:33] chipzoller commented on #3533
The exclude clause is not the appropriate place for excluding a specific container name because a container is not a resource kind in Kubernetes. The Pod is the atomic unit of scheduling. To exclude an initContainer by name, you should use a precondition inside a foreach loop.

[2022-04-01 09:38] andrejvanderzee commented on #3533
The name refers to the Pods name right? Then I would expect a regular expression to work like this:
[code]

[2022-04-01 09:43] chipzoller commented on #3533
A container name is not a resource name like a Pod. You will need to use a precondition as stated. I can show an example later.

[2022-04-01 09:44] andrejvanderzee commented on #3533
OK so the name in the exclude refers to the Pods? Then I would expect a regular expression to work (but it does not):
[code]

[2022-04-01 09:56] ddellarocca commented on #3497
Hi, I've upgraded to 3 replicas and I still encounter the same errors on slave pods

[2022-04-01 10:02] andrejvanderzee commented on #3533
OK your suggestion to use `preconditions` inside the `foreach` works indeed:

[code]

Thank you for your help. I will close the issue.

[2022-04-01 10:02] #3533 closed

[2022-04-01 10:42] #2813 closed

[2022-04-01 12:26] chipzoller commented on #2233
We can start with cron scheduling format and move from there. I think it best if the `*Window` field(s) be `Policy`|`ClusterPolicy` scoped for now and not rule scoped.

We also need a way for a user to see which policies are active at a given time. This might be simply making ones outside of an active window report a READY status of `false`.

In addition, we need clock protection from Kyverno in c

[2022-04-01 15:09] andrejvanderzee opened #3534 "[Bug] namespaceSelector does not work, documentation unclear"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Other

### Description

namespaceSelector for webhooks is not added to mutatingwebhookconfigurations, even though I have set it in the kyverno ConfigMap.

Note that I do see this in the logs:
[code]

The webhooks are re-created but namespaceSelector remains unset:
[code]

The documentat

[2022-04-01 16:24] JimBugwadia commented on #3490
Was able to work around this....closing for now. We can revisit if needed.

[2022-04-01 16:24] #3490 closed

[2022-04-01 16:38] chipzoller opened #3535 "[Bug] Support `foreach` list element to be array/string"
### Problem Statement

In a `foreach` declaration, the JMESPath query in the `list` element currently has to resolve to an object or map. This makes it slightly more difficult to write for because in some cases many fields in Kubernetes resources publish array of strings.

### Solution Description

Allow the `list` element to resolve to an array/string so that the `element` pre-defined variable ca

[2022-04-02 16:55] shreemaan-abhishek commented on #3414
So as Jim said,

The end goal of the PR that addresses this issue would be:

- To show the mutated policies without having to use the verbose flag
-  Not to show the `(Total number of result ...` message when the policies are not for a pod.

Am I missing something?

[2022-04-02 20:34] JimBugwadia opened #3538 "[Bug] image verification with private registries is not working"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

imageVerify

### Description

After an upgrade from 15.8 to 1.6.0, image verification with a private registry stopped working

### Steps to reproduce

See slack thread.

### Expected behavior

See slack thread.

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack

[2022-04-02 20:41] JimBugwadia commented on #3414
Hi @shreemaan-abhishek - here is what I would suggest:
1. Inform the user that autogen rules were created (only when they are)
2. Show the user the correct rule count and resource counts

[2022-04-02 22:45] chipzoller opened #3540 "[Bug] `modulo()` JMESPath filter tweaks"
### Kyverno Version

1.6.x

### Description

The `modulo()` filter needs to be updated in accordance with the `divide()` operator and intended outcomes. In looking at the [test cases](https://github.com/kyverno/kyverno/blob/7a55d26d89a485302286e310d1196d825656f5e4/pkg/engine/jmespath/functions_test.go#L910), many of these appear to be wrong and violate rules of division ([here](https://github.com/

[2022-04-02 22:49] chipzoller commented on #3540
I'm also unsure whether this filter should support any input types other than integers. I would need to bone up on my mathematics or else ask, but is it even a valid operation to have a remainder with a unit? @samj1912 do you have an advice here to lead us?

[2022-04-02 23:44] chipzoller opened #3541 "[Bug] `multiply()` JMESPath filter tweaks"
### Kyverno Version

1.6.x

### Description

The `multiply()` custom JMESPath filter allows multiplication operations that violate the laws of mathematics ([here](https://github.com/kyverno/kyverno/blob/7a55d26d89a485302286e310d1196d825656f5e4/pkg/engine/jmespath/functions_test.go#L737) and [here](https://github.com/kyverno/kyverno/blob/7a55d26d89a485302286e310d1196d825656f5e4/pkg/engine/jmespath/

[2022-04-03 23:19] chipzoller opened #3542 "[Feature] Extend `foreach` to cover generate rules"
### Problem Statement

The `foreach` ability covers validate and mutate rules, but not generate. There are use cases where a single "trigger" resource should result in the creation of multiple downstream resources, for example a new Namespace with an annotation the value of which is a comma-separate list of strings. A `split()` would be performed and a new NetworkPolicy created for each string res

[2022-04-04 06:02] prateekpandey14 commented on #3497
@ddellarocca we have fixed the similar issue [#3549](https://github.com/kyverno/kyverno/issues/3459) in 1.6.2 release, can you try to upgrade and see if it works for you.

[2022-04-04 09:32] ddellarocca commented on #3497
Hi @prateekpandey14 thanks for the reply, I'm testing it right now and it seems to be working fine.
I'll let it run for a couple of days to check if there are any problem.

[2022-04-04 10:20] do87 commented on #3538
i'm also having problems with verifying images in a private Azure ACR registry

For some reason i'm getting this error:
**docker-credential-ecr-login can only be used with Amazon Elastic Container Registry**

Example:
[code]

Policy:
[code]

I am following the setup for private registries as follows with these args added
[code]

regcred-customer is a secret with .dockerconfigjson of the correct us

[2022-04-04 14:17] ddellarocca commented on #3497
Yes, I confirm that now it works as expected, I don't get any errors and the generation is pratically instant with over 70 namespaces managed by kyverno, anyway i'm still facing some issues if I delete a namespace managed by kyverno.
In particular kyverno applies a set of network policies to a namespace if it has a particular label and it works correctly, but if I delete the namespace without remo

[2022-04-04 17:37] Prateeknandle commented on #2233
Should I now start making a draft propsal and get your reviews?

[2022-04-04 18:45] prateekpandey14 commented on #3497
@ddellarocca if possible can you share the `ClusterPolicy` so i can try.

[2022-04-05 00:29] dkulchinsky commented on #2229
Hey @prateekpandey14 👋🏼

Just wondering if there's any update or progress you could share on this?

[2022-04-05 05:54] zeborg commented on #3534
Hey @andrejvanderzee, sorry for the confusion here! According to the test case no. 22 mentioned [here](https://docs.google.com/document/d/1TxQWNqjqF1ku9SJga4otlt82u1w66WoM7RgbH3YltU0/edit#), `namespaceSelector` won't be populated in case of `autoUpdateWebhooks=false`. We have recently refactored the dynamic webhook implementation and the `namespaceSelector` behaviour differs in `true` and `false`

[2022-04-05 05:54] vyankyGH commented on #3475
@chipzoller I'm little confused about the issue.
For any block, we have to check if any of the condition is true. It may be 1st, 2nd or 3rd.
It will be wrong if we evaluate the result if first one is false, may be 2nd or 3rd will be true.

[2022-04-05 06:05] prateekpandey14 commented on #3101
Verified the sync issue , there was a missing `apiVersion: v1`  field in generate secret rule, after adding the field clone sync works fine.

[code]

[2022-04-05 06:24] #3101 closed

[2022-04-05 06:50] ojhaarjun1 commented on #2153
@lalalawoo - Could you please check if the additional json is present in the spec field? I'm only seeing them in the status subresource.
[code]

[2022-04-05 07:21] andrejvanderzee commented on #3534
Hi @zeborg We have an installation of Kyverno already, and we want to populate `namespaceSelector` in all mutating and validating webhooks. I have tried so many combinations (`autoUpdateWebhooks=false` or `true`) , but I just cannot get it set. This should not be so difficult, right?

Can you help me which flags/options/etc I have to set to make this work in 1.6.2 with the already posted deploymen

[2022-04-05 07:40] prateekpandey14 commented on #2229
@dkulchinsky not started to look into this yet, engaged in other issues, i will discuss with team and come up with a proposal soon.

[2022-04-05 08:03] realshuting commented on #3279
Assigned @tend2infinity !

[2022-04-05 08:57] ddellarocca commented on #3497
Sure, here you go [network-policies.zip](https://github.com/kyverno/kyverno/files/8416540/network-policies.zip), those policies are in helm format.

[2022-04-05 09:18] zeborg commented on #3534
Hey @andrejvanderzee, in Kyverno 1.6.x you can set `autoUpdateWebhooks=true` to enable updating `namespaceSelector` through ConfigMap.

In case you need to avoid the usage of dynamic webhook _(i.e. `autoUpdateWebhooks=true`)_ for any reason, alternatively you can directly edit the webhook configurations with your desired `namespaceSelector` defintion, and you can do so by:

`kubectl edit mutatingw

[2022-04-05 10:03] andrejvanderzee commented on #3534
That is what I am doing, but the namespaceSelector keeps being unpopulated.

Here the Deployment:

[code]

And the ConfigMap:

[code]

I see this in the logs:

[code]

But no namespaceSelector:

[code]

[2022-04-05 10:08] #3197 closed

[2022-04-05 10:33] zeborg commented on #3534
@andrejvanderzee There must be two hyphens instead of one for the flag declaration here. We only use 1 hyphen for shorthands such as the verbose flag just above it, so it should be `- --autoUpdateWebhooks=false` in this case. Also, please try setting that to `true` if you're trying to update the `namespaceSelector` through ConfigMap.

I've tested both `true` and `false` on the latest `main` branch

[2022-04-05 10:51] andrejvanderzee commented on #3534
Still no luck with:

[code]

Setting to `false` doenst work either. Here the logs on level 4:

[logs-v4.txt](https://github.com/kyverno/kyverno/files/8417338/logs-v4.txt)

[2022-04-05 11:16] zeborg commented on #3534
[code]
@andrejvanderzee Can you try replacing `kyverno` with `webhooks` in the `value` field here within the deployment?

[2022-04-05 11:21] andrejvanderzee commented on #3534
Nope still: `namespaceSelector: {}`.

[2022-04-05 11:31] zeborg commented on #3534
@andrejvanderzee While I'm in the process of debugging this, can you please try the alternative I suggested by updating the webhook configurations directly with `autoUpdateWebhooks=false`?

You should replace the `namespaceSelector: {}` in the webhook configurations with the following in your case:
[code]

[2022-04-05 11:38] andrejvanderzee commented on #3534
@zeborg Yes I can add it manually on a test environment, but we for obvious reasons do never do such things in production environments.

You can find me on slack `andrejvanderzee`.

[2022-04-05 12:57] mvazquezc opened #3555 "[Feature] Extend `foreach` to support any JMESPath at request.*"
### Problem Statement

Currently, there is a validation applied to the foreach list that requires it to start with `request.object`.

This limits iterating over other sections of the request that may be useful for validating stuff, like the `userInfo` fields.

### Solution Description

Change validation from `request.object` to `request.*`.

### Alternatives

_No response_

### Additional Context

[2022-04-05 14:43] chipzoller commented on #3475
Sorry, @vyankyGH , I made a typo. The short circuit should happen when the first expression evaluates to `true` and not `false`.

[2022-04-05 15:38] lalalawoo commented on #2153
@ojhaarjun1 Just as you posted, the `mutationRule` has the empty json value `{}`, but this policy yaml doesn't have mutation rule.

[2022-04-05 16:51] chipzoller opened #3557 "[Bug] JMESPath `trim()` inconsistencies"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

I am in the middle of documenting the `trim()` function for the website but the behavior seems to be inconsistent even within itself.

### Steps to reproduce

1. Check the unit test [here](https://github.com/kyverno/kyverno/blob/7a55d26d89a485302286e310d1196d8256

[2022-04-05 16:53] chipzoller commented on #3557
cc @samj1912

[2022-04-05 19:26] chipzoller commented on #2233
Yes, now is the time to submit draft proposals for GSoC participants.

[2022-04-05 19:57] samj1912 commented on #3557
@chipzoller the string which is the second character servers as a character sets of characters to trim rather than the substring to trim.

In case of

[code]

We are telling trim to remove from either ends, characters that it finds in `corpcom` until it encounters a character not in that set.

In this case on the left it encounters 'f' which is not in corpm (deduping the character set from the sec

[2022-04-05 22:17] chipzoller commented on #3557
Thank you, Sam. This helps me to understand this (strange) filter better.

[2022-04-05 22:17] #3557 closed

[2022-04-06 11:43] P-S-bits commented on #3300
Step to reproduce:
* helm install  ...
* helm upgrade ...

with --set createSelfSignedCert=true

The effect is that the cert CA is re-created, but that does not cause the PODs to restart and a such the cert on the POD is not signed anymore by the CA.

The helm chart could gate the creation by checking for the existence:
[code]

The same section has another issue: The cert generated by the helm fun

[2022-04-06 18:21] realshuting opened #3559 "Add new ruleType `ImageVerify` for name casting"
Looks like we didn't add the new rule type for `ImageVerify` when the rule was added.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/pull/3556#discussion_r844251611_

[2022-04-07 11:36] ferhatys opened #3562 "[Bug] Kyverno fails to fetch image attestations from ECR and fails with a 401"
### Kyverno Version

1.6.x

### Description

Hi, I’m having trouble with checking the `in-toto` attestations for an image in ECR using. I tested verifying image signatures and that works. I’m getting 401s on attestations. I’m on AWS and the EKS cluster has full read access to ECR.

I'm following the example at https://kyverno.io/docs/writing-policies/verify-images/#verifying-image-attestations

[c

[2022-04-07 12:58] chipzoller opened #3564 "[Bug] [CLI] `kyverno jp` table output return for `regex_match`"
### Kyverno CLI Version

1.6.x

### Description

The output of `kyverno jp -l` doesn't show the return type for `regex_match()` which is boolean.

### Steps to reproduce

1. `kyverno jp -l`
2. See `regex_match(string, string|number)`
3. No output type listed like all others.

### Expected behavior

`regex_match(string, string|number) bool`

### Screenshots

_No response_

### Kyverno logs

_No res

[2022-04-07 13:52] tend2infinity commented on #3559
@realshuting I would like to take this up

[2022-04-07 14:03] tend2infinity commented on #3564
I can take this up @chipzoller

[2022-04-07 18:43] wryonik commented on #3119
/assign

[2022-04-08 13:12] day1118 opened #3567 "[Bug] Mutating webhook timeout"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Mutate

### Description

When installing a helm chart, I frequently get the following:
```Error: Internal error occurred: failed calling webhook "mutate.kyverno.svc-fail": Post "https://kyverno-svc.kyverno.svc:443/mutate?timeout=10s": context deadline exceeded```

### Steps to reproduce

[2022-04-08 14:21] luisdavim opened #3568 "[Bug] Helm chart version inconsistency"
### Kyverno Version

1.6.x

### Description

The version for the chart in the main branch is `v2.3.0` https://github.com/kyverno/kyverno/blob/main/charts/kyverno/Chart.yaml#L4 but helm search reports the latest version as being `v2.3.2`

[code]

Is it safe to use the latest version if it's not in the main branch? Where can I see the code for the latest version of the chart?

### Slack discussion

[2022-04-08 14:54] #3555 closed

[2022-04-08 14:56] realshuting commented on #3568
Thanks for filing the issue @luisdavim ! We will sync the changes to `main`.

[2022-04-08 16:10] chipzoller opened #3569 "[Bug] Empty array not evaluating properly in operators"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

An expression where the key evaluates to an empty array is not evaluated properly against a value containing an array of strings when using `AnyNotIn`.

### Steps to reproduce

1. Create this policy.
[code]

2. Enable Kyverno logs at level 4 to see variable su

[2022-04-08 16:26] chipzoller opened #3570 "[Bug] Remove references to kubeconfig as parameter"
### Kyverno Version

1.6.x

### Description

https://github.com/kyverno/kyverno/blob/main/cmd/initContainer/main.go#L60

Need to remove any references in any container or portion in the code to supporting an external kubeconfig.

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p1649433356844879

### Troubleshooting

- [X] I have read and followed the documentation AND the [tr

[2022-04-09 12:02] Prateeknandle commented on #3570
/assign

[2022-04-09 12:09] Prateeknandle commented on #3568
/assign

[2022-04-09 12:35] Prateeknandle commented on #2233
@chipzoller, for draft proposal should I consider `activeWindow` & `inactiveWindow` both variables OR should I mention only one of them.

[2022-04-09 15:31] samj1912 commented on #2938
[code]

Ended up going with something like this.

The `path` will support a subset of jsonpath expressions with only string keys and `*`. This would allow us to keep a track of the path to the variable which we need to construct the digest patch.

The above would populate the `images.tasks` context variable. For eg for a tektok task like -

[code]

we would end up with `images.tasks.dockerfile-pus

[2022-04-10 06:41] tend2infinity commented on #3559
Do I need to omit `All` and add `ImageVerify` [here](https://github.com/kyverno/kyverno/pull/3556/files/8b93e3e7e0d622229e560518e9317e05674a2176#diff-cd9f45c45c2b1f64201f798bb131b03252e3f35f3e0c7aa700ce06a209ab8633) ?

[2022-04-10 13:16] RAMESSESII2 commented on #2627
hey, @diranged 🖖🏼, this is interesting, I've not seen such a feature in any other cloud-native projects so far.
Just so I understand it -
1. We want new CRDs (PolicyViolationExceptions) which will be administered by admins. They come in and create these exceptions for the resources violating certain policies.
2. To get the feature - we'll be needing to twitch some controllers and admission control

[2022-04-11 06:01] JimBugwadia opened #3576 "Update to Cosign 1.7.x"
### Problem Statement

Update Cosign version

### Solution Description

Update Cosign version

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and

[2022-04-11 06:40] tend2infinity commented on #3541
@zeborg are you still working on it?

[2022-04-11 06:40] vyankyGH commented on #3475
@chipzoller by the logic, I don't think For anyblock we are evaluating next condition if we get True value. kyverno directly break and come out.
same for the all block, if we get any condition as False, it not checking for other conditions.
https://github.com/kyverno/kyverno/blob/90d0badda43a4b94ad902a83341c7b44cd71fe9d/pkg/engine/variables/evaluate.go#L52

[2022-04-11 06:41] tend2infinity commented on #3540
@zeborg are you still working on it?

[2022-04-11 06:42] tend2infinity commented on #3569
/assign

[2022-04-11 06:48] tend2infinity commented on #2945
@Abhishek357 you still working on this?

[2022-04-11 06:52] tend2infinity commented on #2777
I can take this up! @JimBugwadia @realshuting

[2022-04-11 07:06] JimBugwadia commented on #2777
Thanks @tend2infinity!

[2022-04-11 07:45] Namanl2001 commented on #3564
closing via #3575

[2022-04-11 07:45] #3564 closed

[2022-04-11 07:48] andrejvanderzee commented on #3534
@zeborg When can we expect a fix? This issue kind of prevents us from using mutating webhooks in production environments.

[2022-04-11 08:21] samj1912 commented on #3540
I don't think modulo is even defined as an operation on units. It should ideally be integers only.

[2022-04-11 11:48] chipzoller commented on #3569
@samj1912 can you please provide oversight on this one?

[2022-04-11 11:52] day1118 commented on #3567
Using the prometheus metrics, I was able to determine that one `admission review` took ~15s, along with the pod where the issue occurred.
That allowed me to find the correct logs:
[code]

I believe the problematic line is:
[code]

Google brought me to this issue: https://github.com/kyverno/kyverno/issues/3440
I have tried adjusting the resources, setting `replicaCount`  to both 1 & 3, and setting

[2022-04-11 12:30] chipzoller opened #3578 "[Bug] Use of JMESPath `{{ @ }}` notation fails to validate when referenced key contains dash"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When using a JMESPath filter such as `to_upper()` in which the one and only input uses the special `{{ @ }}` notation referring to the value of that field, if that key name has a dash in it Kyverno's policy validation throws an error `Error from server: error wh

[2022-04-11 15:16] realshuting commented on #3567
Hi @day1118 - thanks for providing the details.

Can you help me understand more about your use case? I saw the policy matches all daemonsets with all kinds of request operations. Can we further narrow this down by adding `preconditions`? For example, to match a selected set of daemonsets, or target a particular request operation?

[2022-04-11 15:23] realshuting commented on #3559
Yes correct. We may want to remove `All` if it's not used anywhere.

[2022-04-11 16:05] realshuting commented on #1127
Note that `audit` policies are not processed during admission review.

[2022-04-11 16:35] JimBugwadia commented on #2938
@samj1912 - was this issue ready to be closed or should it re-opened?

[2022-04-11 20:16] r0bj opened #3579 "Equality not respected"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

My goal is to validate if prometheus alert contains required label. PrometheusRule object can contains two types of rules: alerts and records. Validation should only affects alerts.

### Steps to reproduce

ClusterPolicy:
[code]

resource.yaml:
[code]

[2022-04-11 20:54] r0bj opened #3580 "[Bug] WebhookConfigManager/reconcileWebhook "msg"="failed to update webhook configurations for policy""
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

Applying ClusterPolicy with `resources.kinds` in a form of `Group/Version/Kind` with wildcard (e.g. monitoring.coreos.com/*/ServiceMonitor) is failing.

### Steps to reproduce

ClusterPolicy:
[code]

After applying this `ClusterPolicy` error message is

[2022-04-12 02:08] day1118 commented on #3567
Hi @realshuting

My use case is to automatically apply a `priorityClassName` to all `deamonsets` (and `statefulsets`) to prioritise their pods over any `deployment` based pods (which are typically in replicas>1.
(The driver for this is so that deamonset pods can preempt other pods so that they are able to deploy when the cluster is near capacity, otherwise the rollout gets stuck)

I guess this rai

[2022-04-12 03:08] Abhishek357 commented on #2945
Go ahead @tend2infinity

[2022-04-12 04:00] #2861 closed

[2022-04-12 04:34] JimBugwadia opened #3584 "[Bug] autogen logs errors"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Validate

### Description

This is for Release 1.7.x

Creating a pod level policy produces several errors in the logs:

[code]

### Steps to reproduce

1. Apply a policy like:

[code]

### Expected behavior

Policy is applied without errors.

### Screenshots

_No response_

### Kyv

[2022-04-12 06:54] nickvanwegen opened #3585 "[Bug] spec.containers[0].image: Required value error when applying manifest in parallel"
### Kyverno Version

1.6.x

### Description

This error can be reproduced as follow.

1. install kyverno
2. have a policy active that loop over all containers in a pod. for example
3. After kyverno is newly installed run a parallel apply job to install some pods into the cluster and trigger the example policy like so
[code]
4. The error should appear.

The following is also true about this issue.

[2022-04-12 10:07] Prateeknandle commented on #2233
@chipzoller Draft proposal : [https://docs.google.com/document/d/1J9PRjERkgrKjmuznEDte9oqKvGbDszxg6UNsJTLqDGY/edit#](https://docs.google.com/document/d/1J9PRjERkgrKjmuznEDte9oqKvGbDszxg6UNsJTLqDGY/edit#)

[2022-04-12 11:56] mritunjaysharma394 commented on #2576
Thanks @JimBugwadia , have started working on the draft PR, let me know if it needs any design docs

[2022-04-12 12:42] chipzoller commented on #3579
You were very close on the policy definition, but it's not a bug.

[code]

Allowed:
[code]

[code]

Denied:
[code]

[code]

[2022-04-12 12:42] #3579 closed

[2022-04-12 14:47] disposab1e commented on #2269
@mritunjaysharma394 Sorry for late answer but it took some time until I was able to check it.... just updated to 1.6.2 and no more issues! Brilliant! Thx for this fix!

[2022-04-12 15:42] caiobegotti commented on #3465
Folks, upgrading to latest and using `kind: Pod` seemed to have resolved and given me the same results I wanted, thanks! One thing though: how should we properly monitor this? In case the API server is hammered by bad policies such as the one I wrote things can go sour quickly and the only "fix" is to delete all Kyverno webhooks from the cluster so we can delete the broken policies.

I have these

[2022-04-12 15:46] Prateeknandle commented on #3570
needs to remove [this](https://github.com/kyverno/kyverno/blob/main/pkg/config/config.go#L124) (123 & 124) also?

[2022-04-12 18:16] Prateeknandle commented on #3568
Only need to update `version` & `appVersion` in Chart.yaml ?

[2022-04-12 19:13] mritunjaysharma394 commented on #3576
PR #3587 fixes this, I think we can close it

[2022-04-12 19:13] #3576 closed

[2022-04-12 22:15] JimBugwadia opened #3594 "[Bug] Add KMS libs for Cosign"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

See: https://github.com/sigstore/cosign/pull/1744

We need to add the KMS libraries directly to Kyverno.

### Steps to reproduce

n/a

### Expected behavior

n/a

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_N

[2022-04-13 04:42] r0bj commented on #3579
What's more important, using above ClusterPolicy example, validation will fail if record rule contains any labels. Which is not my intention, record rules should be just skipped during validation.
Example:
[code]

resource.yaml:
[code]

[code]

Again, my goal is to validate if prometheus *alert*, not *record* rule contains required label.

[2022-04-13 12:41] vrabbi opened #3595 "[Feature] Make Kyverno Generate Clusterrole an aggregated clusterrole"
### Problem Statement

Today for the generate rules, one must update the kyverno:generate clusterrole if any of the non default resources in kyverno should be generated by the policy

### Solution Description

by adding something like:
[code]
this would allow instead of changing the rule manually to have any additional roles be able to be defined in seperate clusterroles and K8s would simply aggre

[2022-04-13 15:17] chipzoller commented on #2233
Please make a public document and file a KDP.

[2022-04-13 15:25] Prateeknandle commented on #2233
[given access](https://docs.google.com/document/d/1J9PRjERkgrKjmuznEDte9oqKvGbDszxg6UNsJTLqDGY/edit?usp=sharing)

Should I also open a pr on KDP?

[2022-04-13 16:41] realshuting commented on #3568
Yes you need to update both versions.

You can follow the [release steps](https://github.com/kyverno/kyverno/wiki/Generate-a-Release#generate-a-release-through-automated-jobs) to update all manifest:

[2022-04-13 20:09] Prateeknandle commented on #3568
](https://github.com/kyverno/kyverno/blob/main/config/release/kustomization.yaml#L12)

here, do I need to update the exact version or `latest` is good?

[2022-04-13 21:34] Namanl2001 commented on #3594
@anushkamittal20 for context see this: https://sigstore.slack.com/archives/C01PZKDL4DP/p1649794448882689

[2022-04-13 21:37] leizerbeam opened #3597 "[Bug] error: no kind "ClusterPolicy" is registered for version "kyverno.io/v1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28""
### Kyverno Version

1.6.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Generate

### Description

generate policy is in failed status and shows an error log. Generate policy can be found in slack conversation

NAME       POLICY                        RESOURCEKIND   RESOURCENAME       RESOURCENAMESPACE   STATUS   AGE
gr-g2fjj   generate-gold-backup-pol

[2022-04-13 22:03] JimBugwadia commented on #3594
Here is the similar change for Tekton Chains:

   https://github.com/tektoncd/chains/pull/418/files

[2022-04-13 22:37] chipzoller commented on #3540
@zeborg do you think you can assist us here with some final polish?

[2022-04-13 22:39] chipzoller commented on #1326
Since there is no comment on this and it's highly improbable that we'd be able to safely and effectively implement this issue, I'm closing it for now.

[2022-04-13 22:39] #1326 closed

[2022-04-13 22:42] chipzoller opened #3598 "[Feature] New JMESPath filter `random()`"
### Problem Statement

There have been several requests in the community for a JMESPath filter capable of generating random sequences of characters. This is also a fairly common function found in many other languages/libraries.

### Solution Description

Implement a custom JMESPath `random()` filter that is capable of generating a randomized set of output the length of which, at minimum, can be co

[2022-04-13 23:05] zeborg commented on #3540
I wonder if there's a practical use-case for implementing `modulo()` with units so far, and if it is so, we should come up with appropriate test cases which that would deal with every such practical scenario involving it. If not, it would be best to just work with integers and make things less complicated until an appropriate use-case pops up.

[2022-04-13 23:06] chipzoller commented on #3540
My suggestion, as with Sam's, would be to only work with integers and drop everything else.

[2022-04-13 23:11] zeborg commented on #3540
That sounds fair. I'll revisit the current `modulo()` test cases. I'd just need a final confirmation on this -- in case the e2e run on PR #3202 is fixed by removing the buggy test case, do we plan on moving forward with it in its current state or first fix the cause of the failed run?

[2022-04-13 23:12] chipzoller commented on #3540
We need to fix the e2e tests.

[2022-04-13 23:23] zeborg commented on #3540
[code]

These are the two test cases which are failing at the moment, and both have at least one operand that is internally translated as a quantity. One thing that I found weird with the 2nd test case here is that the unit is not cancelled out. I believe it would be more appropriate to convert both the operands to the same unit, and only then perform the modulo operation.

[2022-04-13 23:46] chipzoller commented on #3540
Yes, if we're going to focus solely on integers, we don't need these tests. The first test can be modified to format `513` as a scalar and not a quant (string).

[2022-04-14 00:12] zeborg commented on #3540
That's in fact what I'm concerned about, and why I asked if we should worry about the failing e2e tests. Altering the 1st and removing the 2nd test case would most likely result in the `division()` PR passing the currently failing build, but I'm not sure if we're going to remove `modulo()` operations on units then do we _really_ need to worry about fixing the root cause of these failing test cases

[2022-04-14 00:14] chipzoller commented on #3540
I'd suggest getting the filter (and its tests) right according to design, seeing what the tests do then, and, if still failing, address them then.

[2022-04-14 05:41] prateekpandey14 commented on #3597
@leizerbeam `kubectl logs ClusterPolicy/generate-gold-backup-policy` this command will not work, if are you trying to describe the ClusterPolicy resource then command will be `kubectl describe ClusterPolicy/generate-gold-backup-policy`.

[2022-04-14 05:52] vyankyGH commented on #2461
@chipzoller @realshuting I'm looking at this issue.
I don't find any API which can convert Lowercase kind to appropriate kind name.
I have tested with kubernetes  resources by providing lower case kind in yaml will get following error,
For ConfigMap
[code]
For pod,
[code]

[2022-04-14 07:41] luisdavim commented on #3568
So the chart templates were up to date, just not the version in `chart.yaml`? Can this process be automated?

[2022-04-14 09:01] vyankyGH commented on #3474
@chipzoller @JimBugwadia The implemented kyverno logic will resolve context variables before precondition check.
but there is possibility that we can use context value in Precondition too.
I'm not sure the way to differentiate the context value use in precondition or not.
What are way's kyverno  can come to know context variable value use in precondition?

[2022-04-14 09:38] samj1912 opened #3600 "refactor: dependencies between api types and kube utils"
Currently api types depend on kube utils. This means that if some utils need to import api types, we end up having to define it in kubeutils. We should restructure this to keep the contract clean such that all other packages import api types instead of vice versa.

_Originally posted by @samj1912 in https://github.com/kyverno/kyverno/pull/3596#discussion_r850263173_

[2022-04-14 10:27] Prateeknandle commented on #3598
/assign

[2022-04-14 12:20] #2576 closed

[2022-04-14 13:44] chipzoller opened #3604 "[Bug] [CLI] CI failures when cloning from main"
### Kyverno CLI Version

1.7.x (main)

### Description

CI failures seen with Kyverno CLI in kyverno/policies cloning from `main`.  See: https://github.com/kyverno/policies/runs/6024718332?check_suite_focus=true

[code]

[code]

[code]

### Steps to reproduce

1. See CI failures in PR runs.

### Expected behavior

All tests pass.

### Screenshots

_No response_

### Kyverno logs

_No response_

##

[2022-04-14 13:53] chipzoller commented on #3474
We're going to have to introduce a new function which checks precondition key and value fields to see if they contain a context variable. All contexts must declare a variable which must be unique. The values of the `key` and `value` fields must have that variable name. So we can:
1. Collect a list of the context variables but DO NOT resolve them.
2. Start at the top of the preconditions and see if

[2022-04-14 16:08] #2938 closed

[2022-04-14 23:08] samj1912 commented on #3594
Fixed in #3603

[2022-04-14 23:08] #3594 closed

[2022-04-14 23:17] chipzoller opened #3607 "[Feature] Helm chart enhancements: Printing notes in HA mode"
### Problem Statement

We commonly see issues in the community whereby either full cluster outages (ex., power outage) or improper Node scaling (ex., hyperscaler PaaS autoscaling without cordon-and-drain semantics) results in partial or complete cluster unavailability when zero Kyverno Pods are accessible via its webhook. This is because of a combination of the defaults in the Helm chart are to ex

[2022-04-14 23:18] chipzoller commented on #3607
@treydock and @eddycharly please collaborate with us here on this issue. What are your thoughts and opinions about these suggested changes?

[2022-04-15 07:35] samj1912 opened #3608 "[Feature] Allow users to define inline variables in context"
### Problem Statement

Currently users often have the need to modify existing variables using jmespath expressions and use its value multiple times in a rule or even define constants they can use in the rule. We should allow users to declare inline variables that can use the current context values and override them if necessary. Another common problem is using existence checks for jmespath. We sho

[2022-04-15 07:38] samj1912 commented on #3608
@chipzoller I believe this will significantly improve our jmespath experience. @realshuting, @JimBugwadia can we target this in 1.7?

[2022-04-15 08:16] samj1912 opened #3609 "[Feature] Allow calling in cluster services"
### Problem Statement

There is currently no easy way to extend kyverno capabilities. Allowing kyverno to make calls to in-cluster services could unlock such capabilities.

### Solution Description

Allow a new `serviceCall` context variable type.

[code]

The above service calls would limit the return accept type to json only. The encoding would also be json for the post data.

We would require a

[2022-04-15 08:18] samj1912 commented on #3609
cc: @chipzoller, @JimBugwadia, @realshuting
This would allow easy extensions for kyverno to be created which can then be used for validation, mutation or generation.

Related https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata#providers

[2022-04-15 08:23] samj1912 commented on #3609
We can target this for 1.8

[2022-04-15 08:23] samj1912 commented on #3609
We can target this for 1.8

[2022-04-15 10:40] andrejvanderzee opened #3610 "[Bug] UpdateWebhookConfigurations failure and endless leader election losses with complete restarts"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

Kyverno fails to create `mutatingwebhookconfiguration` with insane number of errors like these:

[code]

Also, Kyverno instance looses leader election (weird because only 1 replica) and shuts down.

As a result, Kyverno keeps restarting endlessly without creatin

[2022-04-15 10:46] andrejvanderzee commented on #3610
[logs.txt](https://github.com/kyverno/kyverno/files/8495508/logs.txt)

[2022-04-15 11:37] chipzoller commented on #3608
I'm pretty positive I've discovered a few needs for this myself during the course of implementing various policy, but can you add one or two practical use cases you have run across yourself?

[2022-04-15 11:41] chipzoller commented on #3609
Agree, this would be valuable.

[2022-04-15 12:52] chipzoller commented on #1616
Are there further actions to take here?

[2022-04-15 12:53] chipzoller commented on #1278
Are we still looking to do this?

[2022-04-15 12:54] chipzoller commented on #2758
@ShubhamPalriwala are you still planning on implementing this? It would probably be trivial to add to the release process.

[2022-04-15 12:55] chipzoller commented on #3389
Closed by #3429

[2022-04-15 12:55] #3389 closed

[2022-04-15 16:17] JimBugwadia commented on #3609
Certainly possible to do and has some interesting use cases!

While an API call introduces flexibility for data lookups, etc. I am not sure how it can be used as an extension. I was envisioning an extension of more of an SDK plugin vs an API call.

For either approach, the security and performance considerations would be important to work through in detail.  Can we capture in a KDP?

[2022-04-15 16:39] JimBugwadia commented on #3608
Agree that this would be a good enhancement and will help simplify policy declarations. One other use case would be to deal with multiple lists i.e. store the first list in a variable and then loop through the other.

@seh had previously suggested a similar approach.

One question - I did not follow how the `value` declaration would work. I was thinking of the value being a JMESPath expression  an

[2022-04-15 16:42] chipzoller commented on #3609
One of the main questions I'd have around using this is handling authentication to those other services. As soon as we start going down that path, this becomes a very slippery slope.

[2022-04-15 16:51] JimBugwadia commented on #2421
This has been added. Closing.

[2022-04-15 16:51] #2421 closed

[2022-04-15 16:53] JimBugwadia commented on #3270
@lonnixOH - does this work in-cluster and not in the CLI test command?

[2022-04-15 16:56] gnunn1 commented on #3245
Sorry for the delay on this as I'm not creating new clusters or re-installing Kyverno very often. I am still having issues with the pod getting online and having to patch the deployment to add more delay. I think the issue is related to the fact that OpenShift has a ton of CRDs (I have close to 200 in my small cluster) which is causing the kubectl client (or equivalent go client) to throttle as I

[2022-04-15 16:56] JimBugwadia commented on #3416
My understanding is that the `validate` command is not working, and hence the move to removal.

@vyankyGH - can you please clarify?

[2022-04-15 17:00] JimBugwadia commented on #1890
Closing, as this no longer seems relevant,

[2022-04-15 17:00] #1890 closed

[2022-04-15 17:03] chipzoller commented on #3579
Ok, the first response after mine wasn't in your initial use case so let me rework the rule a bit.

[2022-04-15 17:33] samj1912 commented on #3608
@JimBugwadia sure. The idea behind allowing variable declarations is to allow users to write cleaner and more readable policies.

For eg, a common use case is to declare an object to be used in the policy to validate or mutate resources.

For eg, consider a list of valid label values that are allowed. They can be something like

[code]

This can then be used to validate labels further in a deny ru

[2022-04-15 18:56] samj1912 commented on #3608
@chipzoller added some more examples at the end around making existence checks and jmespath expressions easier. By not trying to regex substitute jmespath variables and directly writing out the jmespath as in the last expression, we can alleviate some of the bugs we get right now due to jmespath parsing logic.

[2022-04-15 19:11] yogeek opened #3611 "[Bug] kyverno failure due to unexpected secret deletion during leadership switching"
### Kyverno Version

1.4.x

### Description

Kyverno (deployed with helm chart, version 1.4.3) pods started to fail because of missing TLS secret (`kyverno-svc.kyverno.svc.kyverno-tls-ca`  and `kyverno-svc.kyverno.svc.kyverno-tls-pair`).

K8S audit logs showed that it was one of the 2 kyverno pod that deleted these 2 secrets.

According to the attached logs, it seems to be linked to leadership swi

[2022-04-15 22:53] chipzoller commented on #3607
6. Create a value allowing users to set hard Pod anti-affinity if they wish in addition to soft which is the current default.

[2022-04-16 10:31] samj1912 commented on #3412
@dkulchinsky we will probably try to provide a less error prone alternative to using jmespath expressions via #3608

[2022-04-16 14:51] chipzoller commented on #3541
@zeborg can you either help close this out or allow @tend2infinity to assist?

[2022-04-17 00:35] JimBugwadia opened #3613 "[Feature] switch wildcard / glob implementations"
### Problem Statement

Kyverno currently uses this wildcard library for basic glob support:

https://github.com/kyverno/go-wildcard

### Solution Description

Consider using a full-featured and well supported globbing library like:

   https://github.com/gobwas/glob

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I h

[2022-04-17 00:45] chipzoller commented on #3613
What would the benefits of switching be? Would we get more features/capabilities?

[2022-04-17 05:32] JimBugwadia opened #3615 "[Feature] Support multiple static keys in a single entry"
### Problem Statement

The current implementation of image verification requires multiple keys to be declared like this:

[code]

### Solution Description

Would be easier to allow a list of keys like this:

[code]

Internally, Kyverno can still apply the same logic i.e. the two forms would be considered equivalent.

### Alternatives

A new type of attestor could be supported that takes a list of

[2022-04-17 13:20] dkulchinsky commented on #3412
Thanks @samj1912! looks like a very interesting proposal 👍🏼

[2022-04-17 14:12] chipzoller opened #3616 "[Bug] Mutating labels where keys have special chars with JMESPath expressions fails"
### Kyverno Version

1.6.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

There are potentially two issues here related to the same usage but may be technically two distinct bugs.

1. Using a ClusterPolicy with a patchStrategicMerge mutation rule in which a label, the key of which has either `/` or `-`, fails in one of two ways when t

[2022-04-17 14:39] pns-nirmata commented on #3615
This certainly looks like a useful feature.

A bunch of concatenated keys provide AND semantics, and multiple entries with some min value provide OR semantics. And with minimal change in policy structure.

For the key naming options, we need staticKey.key for backward compatibility, but it might not convey that multiple key"s" are allowed. staticKeyList.keys is good, though it needs a newish keywo

[2022-04-17 15:16] chipzoller opened #3617 "[Bug] JMESPath expression in foreach against CR throws "unknown key" despite success"
### Kyverno Version

1.6.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

When using a JMESPath expression in a `foreach` validation loop against a CustomResource, Kyverno throws the following error. But when checking the logs for variable substitution, Kyverno clearly succeeds.

[code]

### Steps to reproduce

1. Create the followi

[2022-04-17 15:17] chipzoller commented on #3579
I tried to build this using JMESPath, and by all accounts this should work, but for some reason I've run into an issue captured in #3617 the cause of which is unknown.

[2022-04-17 18:02] Prateeknandle commented on #3570
@chipzoller need to remove this [also](https://github.com/kyverno/kyverno/blob/main/cmd/initContainer/main.go#L72) ?

[2022-04-17 18:08] Prateeknandle commented on #2233
@chipzoller any suggestions for proposal, as the deadline is near.

[2022-04-17 18:34] JimBugwadia commented on #2233
@Prateeknandle please go ahead and submit the GSoC proposal. We can later convert to a KDP.. Thanks!

[2022-04-17 20:50] treydock commented on #3607
Rather than print messages about missing namespace selector, or maybe in addition to messages, why not replicate old resourceFilters and just by default filter out the kube-system and kyverno namespaces and let people opt out of that default behavior since it can affect stability of the cluster if those selectors are missing.

Also I personally find the messages somewhat useless as I use automatio

[2022-04-17 20:56] chipzoller commented on #3607
Jim and I talked about this. It's a trade off for sure. But filtering them out by default means a less secure posture, and that's probably not the safest thing to do. Typically security tools (especially, but not limited to) assume a *more* secure posture by default and if users want to loosen up on the reins, that's a manual decision.

Right, some people won't see the messages and there's not a w

[2022-04-17 21:00] chipzoller commented on #3608
It'd be great if the default could universally be `''` and Kyverno can transform that to whatever the destination type is (object, array, etc.)

[2022-04-18 04:43] vyankyGH commented on #2567
@atorrescogollo @cd-at-iteratec kyverno test command supporting Api call test. Need to declare a context variable in the values file.
In above case, can write values.yaml for api call as follow

[code]

[code]

[2022-04-18 05:29] prateekpandey14 commented on #3597
Closing this since this not an issue [k8s slack thread](https://kubernetes.slack.com/archives/CLGR9BJU9/p1649920370231609?thread_ts=1649818646.889889&cid=CLGR9BJU9), feel free to reopen otherwise.

[2022-04-18 05:29] #3597 closed

[2022-04-18 05:36] prateekpandey14 commented on #1610
link with #3114

[2022-04-18 08:58] tend2infinity commented on #2777
Hey @JimBugwadia I was actually going through the codebase and I realized that in the [ApplyPolicyOnResource](https://github.com/kyverno/kyverno/blob/3cbb8db72ee4a5511505d69bc51ce0d8a5c03338/cmd/cli/kubectl-kyverno/utils/common/common.go#L444) function, we don't have any method to get `variables` from Api calls, we get `variables` as an argument of this function which is definitely a map. So, How

[2022-04-18 09:14] realshuting opened #3620 "[Bug] Logger header keeps piling up"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

This issue occurs on the `main` branch (1.7-dev) and I saw the following log header kept piling up at log level 4.

Initially there's only a few (2, 3 `handlerFunc`):
[code]

See `handlerFunc` kept being printed after a few seconds:
[code]

### Steps to reproduc

[2022-04-18 09:30] realshuting commented on #3620
Same thing for `verifyHandler`:

[code]

[2022-04-18 09:52] tend2infinity commented on #3578
@chipzoller I tried to recreate the issue but for me the policy got created without any error :sweat_smile:
Policy:
[code]

Output:
[code]

[2022-04-18 12:02] chipzoller commented on #3578
In what version of Kyverno?

[2022-04-18 13:49] chipzoller commented on #3607
What I've written up thus far (I'll add you as a reviewer when I send the PR) is provide best practices guidance on how to exclude these system-level namespaces during a Helm installation, but I still think it's worthwhile to print something in the notes based on the above flowchart just to be sure. Other than notes, I'm not sure we really need anything else in the Helm chart. Although in the READ

[2022-04-18 14:42] realshuting commented on #3607
+1

[2022-04-18 15:37] #3568 closed

[2022-04-18 15:39] vyankyGH commented on #2567
Closing the issue. Feel free to open.
Thanks

[2022-04-18 15:39] #2567 closed

[2022-04-18 16:30] realshuting opened #3624 "[Bug] Investigate policy status updates across pods"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

Linking to the related discussion:

https://docs.google.com/document/d/18dWgOd2MUQz3RXI1R9vKntL3ULyZhOD1HEtijGOeaWg/edit?disco=AAAAYCez1k0

### Steps to reproduce

n/a

### Expected behavior

- Kyverno pod should not be ready until the internal policy cache is f

[2022-04-18 16:41] realshuting opened #3625 "[Bug] New leader should not delete existing webhook configurations"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

Logging this issue per comment https://docs.google.com/document/d/18dWgOd2MUQz3RXI1R9vKntL3ULyZhOD1HEtijGOeaWg/edit?disco=AAAAYCez1ng:

### Steps to reproduce

n/a

### Expected behavior

New leader should not delete existing webhook configurations.

### Screens

[2022-04-18 16:45] realshuting opened #3626 "[Bug] Investigate potential race condition for policy cache"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

Logging this issue per comment https://docs.google.com/document/d/18dWgOd2MUQz3RXI1R9vKntL3ULyZhOD1HEtijGOeaWg/edit?disco=AAAAYCez1ng::

### Steps to reproduce

n/a

### Expected behavior

n/a

### Screenshots

_No response_

### Kyverno logs

_No response_

###

[2022-04-18 20:38] eddycharly commented on #3607
Do we need to consider both ha AND namespace exclusion ?
Maybe we could show a waning when there's no namespace exclusion regardless of ha or not ?

[2022-04-18 20:47] eddycharly commented on #3607
I started this https://github.com/kyverno/kyverno/pull/3628.
Not exactly what you described but let me know if it goes in the right direction.

[2022-04-18 21:46] chipzoller commented on #3607
I think it's not a bad idea to print a warning even in `standalone` mode, but I would definitely leave the `mode` option because this is like the easy button for deploying Kyverno in a "production-grade" fashion.

[2022-04-18 21:52] leizerbeam commented on #3597
the error I am getting is Message: nginx is forbidden: User "system:serviceaccount:kyverno:kyverno" cannot create resource "nginx" in API group "" at the cluster scope

the serviceacocunt that is being used for generate may not be correct as the RBAC I am updating is of kyverno:generatecontroller

[2022-04-18 22:18] chipzoller commented on #3475
Sorry for the delay here. Let's make sure this is accurate. For an `all` block, ALL the expressions must be validated. For an `any` block, assuming serial execution order, the first one resulting in an eval of `true` should cause the short circuit effect.

[2022-04-18 22:26] chipzoller opened #3631 "[Feature] Aggregate and display all test failures at the end of a CLI `test` run"
### Problem Statement

See #3604 for an example of CLI failures when running the `test` command. There can be hundreds if not thousands of tests executed. If a failure occurs anywhere in that list, the CLI will exit with an error. It is up to the user to scroll, search, or filter manually to find where the error occurred. Not only is this painful, but you could miss one or more failures.

### Solu

[2022-04-18 22:27] chipzoller commented on #3474
Does this make sense? Should I draw this up if not?

[2022-04-19 01:51] vyankyGH commented on #3474
Yup, make sense. I've got your point.

[2022-04-19 03:54] r0bj commented on #3579
@chipzoller Thanks for taking time on this. Based on your suggestions I think I created `ClusterPolicy` that works close to my goals:
[code]

It would be even cleaner if I could apply key filter at `foreach.list` level, e.g:
[code]

but unfortunately it's not working and generates error:
[code]

[2022-04-19 05:36] Prateeknandle commented on #3631
/assign

[2022-04-19 07:09] realshuting commented on #3624
Adding new comments:

[2022-04-19 07:12] hoerup commented on #3475
I assume that it would be possible to short circuit an `all` block as well
if check is false then the entire block is false - so theres no need to exmine any following checks ?

[2022-04-19 07:27] realshuting commented on #3624
HA implementation:

[2022-04-19 08:48] Prateeknandle commented on #2233
@chipzoller should I mention the project timeline under deliverables in Proposal summary at [gsoc site](https://summerofcode.withgoogle.com/programs/2022/organizations/cncf/create-proposal) OR only the outcomes of the project?

[2022-04-19 10:33] johnbuluba commented on #3625
Hello @realshuting

Thanks for opening this issue. We have bumped into this and reported it in your security mailing list, since it means that users can bypass policy restrictions in this short period of time that the leader deletes and recreates the webhooks .

We have implemented an internal fix for this that removes the deletion of the webhooks at:
1.  The `Register` method: https://github.com/

[2022-04-19 11:47] chipzoller commented on #2233
Ditto. Submit the KDP and we will work with you on it there following the acceptance process.

[2022-04-19 11:54] chipzoller commented on #3616
Related to https://github.com/kyverno/kyverno/issues/3578

[2022-04-19 11:56] chipzoller commented on #2843
@ojhaarjun1 any movement on this one?

[2022-04-19 11:59] chipzoller commented on #3118
@zeborg this is still tracking for 1.7.0. Any progress?

[2022-04-19 12:02] chipzoller commented on #3475
Yes, that's true, it's just the short-circuit identifier is inverted.

`any`: the first expression to evaluate to `true` causes short-circuit
`all`: the first expression to evaluate to `false` causes short-circuit

[2022-04-19 12:13] vyankyGH commented on #3475
@chipzoller @hoerup as mentioned in above comment (https://github.com/kyverno/kyverno/issues/3475#issuecomment-1094610881),  we have already logic placed for same.

[2022-04-19 13:40] chipzoller commented on #3475
There is *some* logic in place, but we want to be clear and wait for an enhancement that should land in 1.7.0.

[2022-04-19 14:04] realshuting commented on #3625
Hi @johnbuluba - thanks for reaching out!

Yes, we'd love your contribution, please go ahead and submit the PR.

And please note that the issue is included in 1.7.0 milestone which has the code freeze data set to 25th, April. I can help review the PR and get it merged to 1.7.0.

[2022-04-19 15:35] #2583 closed

[2022-04-19 23:04] chipzoller commented on #3607
Updated flow chart given feedback.

![image](https://user-images.githubusercontent.com/29008123/164115260-f10fcf4e-295a-400c-8bdf-0e00f14d536f.png)

[2022-04-19 23:04] chipzoller commented on #3607
cc @JimBugwadia

[2022-04-20 10:00] #3626 closed

[2022-04-20 10:14] vyankyGH commented on #3416
@JimBugwadia correct. Validate command is only work for old policies which have simple structure but don't have features like Foreach, verifyImages and many more.
In last one of conversation @chipzoller suggest that command should deprecated first and  then removed in a future version.
(https://github.com/kyverno/kyverno/pull/3488#issuecomment-1081856199)
any thoughts, suggestions on that how shou

[2022-04-20 12:05] chipzoller opened #3639 "[Bug] Some pre-defined variables not supported in preconditions, elsewhere"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Some [pre-defined variables](https://kyverno.io/docs/writing-policies/variables/#pre-defined-variables), in this case `{{ serviceAccountName }}`, are not allowed in preconditions and possibly apiCall contexts.

### Steps to reproduce

1. Apply this ClusterPoli

[2022-04-20 12:06] chipzoller commented on #3639
@realshuting can we still get this in 1.7.0?

[2022-04-20 12:44] chipzoller commented on #3474
This is also a problem because if the context variable is an API call, the preconditions could be performing checks to ensure that that query in the API call context variable is valid. If the API call is performed when that condition isn't true, it will fail like:

[code]

[2022-04-20 12:44] chipzoller commented on #3474
Related to https://github.com/kyverno/kyverno/issues/3639

[2022-04-20 12:54] johnbuluba commented on #3625
Thanks @realshuting, I am preparing the PR and I will send it within the day!

[2022-04-20 14:03] hoerup commented on #3474
instead of going over the route with identifying their usage - could they be reworked into a just-in-time lookup (perhaps with a cached version of the resolved value)

that will also add the benefit that there is no penalty for adding a context var that isn't used (can't remember whether that is allowed in current versions )

[2022-04-20 14:50] chipzoller commented on #3607
@eddycharly or @treydock is this something we can do? Also another idea:  Should we print a message if the Helm chart is deployed to a Kubernetes cluster version lower than the minimal supported version? In 1.7 we're moving to N-2 like with Kubernetes itself.

[2022-04-20 17:53] steffakasid opened #3642 "[Bug] Trying to sync a secret via generate policy"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Generate

### Description

I wrote a policy to basically sync one secret from one namespace to another using a generate rule. The spec of that rule looks like the following:
[code]

In general that works: If e.g. if I add a label to that secret. The secret is created in `another-namespa

[2022-04-20 22:03] treydock commented on #3607
I think this should be possible. Also Helm has template variables to access the Kubernetes version and it can do semantic version comparisons to ensure a proper range.  Would we want to fail the Helm chart on unsupported versions or just issue warning in the output printed at install/upgrade time?

[2022-04-20 22:17] chipzoller commented on #3607
My suggestion would probably be to print a warning.

[2022-04-20 23:03] stelah1423 opened #3644 "[Bug] [CLI] Escaped variables fail during cli validation"
### Kyverno CLI Version

1.6.x

### Description

Error when running kyverno validate:
[code]

Here is the policy being validated:
[code]

We're in the process of switching from Gatekeeper to Kyverno. We have a whole home grown ci/cd pipeline for applications deploying to our k8s clusters. We use Helm only for template hydration, which is why the policy has the escaped variable defined under `key`.

[2022-04-20 23:24] chipzoller opened #3645 "Helm charts to document release notes"
### Problem Statement

Helm charts do not have independent release notes.

### Solution Description

Add release notes for all charts in README and in artifacthub.io annotation.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.i

[2022-04-20 23:31] stelah1423 commented on #3295
I also just observed this behavior today after using Kyverno for about 3 days. Doing a rollout restart seems to do the trick (kinda - sometimes they all go active, sometimes not), but afaik a restart shouldn't be needed.

I do see these log entries for the policies that aren't in a ready state:
[code]

I don't fully understand the guidance given here either: `the object has been modified; please a

[2022-04-21 04:04] day1118 commented on #3567
Hi @realshuting
Is there a better way to write this policy to achieve the same thing? I have tried disabling most of the other policies and still see this issue intermittently. My template deploys three statefulsets in the same helm chart.
Thanks

[2022-04-21 06:12] #3046 closed

[2022-04-21 09:06] eddycharly commented on #3600
@samj1912 I'll give it a look.

[2022-04-21 09:34] eddycharly commented on #3607
@chipzoller detecting if the kyverno namespace has been excluded can be tricky.
Can we use a generic message instead when some exclusions have been configured instead ?
Something like:

[2022-04-21 10:24] vyankyGH commented on #3644
@stelah1423 kyverno is planing to deprecate/remove validate CLI command  in next release.
here is the related issue :  https://github.com/kyverno/kyverno/issues/3416
Instead of using Validate command you can go for kyverno **_test_** or  **_apply_** command.

[2022-04-21 10:31] eddycharly commented on #3607
Added a warning against kube version in https://github.com/kyverno/kyverno/pull/3650

[2022-04-21 11:20] chipzoller commented on #3607
What would the difficulties be? I thought we could just do something like [contains](https://helm.sh/docs/chart_template_guide/function_list/#contains) the Kyverno Namespace, if that is specified manually, and if not see if it matches `kyverno` since it's default.

[2022-04-21 11:46] chipzoller commented on #3567
Your policy definition looks simple enough to be fine. 15 seconds is very unusual. Are you getting the same symptoms from other policies, even `validate` ones? What version of Kyverno is running?

[2022-04-21 12:05] chipzoller commented on #2759
We need to walk-back https://github.com/kyverno/kyverno/pull/1597 as this is continuing to cause issues.

[2022-04-21 12:08] chipzoller opened #3651 "[Bug] Revert PR 1597 (multi-line strings)"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

Need to revert https://github.com/kyverno/kyverno/pull/1597 as we're continuing to see problems when users want to use YAML documents in the `spec` of things like ConfigMaps and `parse_yaml()` later.

### Steps to reproduce

1. See conversation (one of many)

###

[2022-04-21 12:08] chipzoller commented on #3651
Related: https://github.com/kyverno/kyverno/issues/2759

[2022-04-21 12:17] eddycharly commented on #3607
It would require parsing the matchExpression and matchLabels, then extract the logic in them to determine if the ns is excluded or not.

Not so easy to do.

[2022-04-21 12:37] day1118 commented on #3567
Thanks @chipzoller
Kyverno is `v1.6.1`.

I am only getting symptoms from the mutating policies. After testing many more times, it seams to be almost exclusively this policy:
[code]

Is there a debug flag or any additional information that I can provide that would help?
I have tried setting the webhook timeout longer to see if this resolves it just as another data point

[2022-04-21 12:40] chipzoller commented on #3567
You can increase the verbosity of the Kyverno main container with the `-v` flag. Setting to `6` and capturing logs just before submitting a StatefulSet might help give us an idea why this is taking so long. I will also test this on my end.

[2022-04-21 13:31] realshuting commented on #3639
Is this the same with https://github.com/kyverno/kyverno/issues/3474?

cc @vyankyGH

[2022-04-21 13:33] chipzoller commented on #3639
No, that issue is just about when to resolve them. This issue is that some can't be resolved.

[2022-04-21 16:11] samj1912 commented on #2759
We already have a yaml to json function now fwiw (parse_yaml)

[2022-04-21 17:46] #3607 closed

[2022-04-21 17:47] chipzoller commented on #2759
Yeah I know, just remarking that to use that function currently requires YAML content *not* be in the `spec` of a ConfigMap, which isn't good.

[2022-04-21 18:10] stelah1423 commented on #3644
Fair point; however, the issue is still present when using apply:
[code]

[2022-04-22 02:21] day1118 commented on #3567
Hi @chipzoller
I only see this intermittently, but enough to be a significant problem.

I was able to capture the debug logs of the kyverno pod (note that I run 3 replicas) when the issue occurred.
Here is a snippet of the logs which show the patch having a processing time of `10.4s`:
[code]

Full log for 10s before the timed out webhook. I did notice `3.6s` for `client-side throttling`
<details>

[2022-04-22 06:50] realshuting opened #3653 "[bug] webhooks are not configured correctly"
A sidenote regarding this commit 6a3fe6f89ed4c201c7c726e67852a2a2f1e65cd7 that I removed about this issue:

I think this is a valid bug, you can reproduce it with the following steps:
1. Apply a mutating policy, for example :
[code]
2. Verify that the `kyverno-resource-mutating-webhook-cfg` configuration rules are updated:
[code]
3. Delete the policy you created in step 1:
[code]
4. Verify that th