[2021-12-02 21:26] JimBugwadia commented on #1490
@roeelandesman - to clarify, are you seeing Kyverno not starting or operating properly?

Or, is Kyverno functional but there are errors shown in the logs as noted [here](https://github.com/kyverno/kyverno/issues/1490#issuecomment-974909866)?

[2021-12-02 21:37] roeelandesman commented on #1490
The Kyverno pod logs (`k get pods -n kyverno`) show the same error relating to the external.metrics.k8s.io/v1beta1 API
[code]

In trying to apply a sample policy to the cluster I see an identical error:
[code]

[2021-12-02 21:46] JimBugwadia commented on #1490
@roeelandesman - thanks! Does the policy work as expected?

[2021-12-02 21:48] roeelandesman commented on #1490
Nope, I think the admission webhook blocks it from registration in the cluster.

If I run `k get ClusterPolicy -A` nothing comes up

[2021-12-02 21:54] JimBugwadia commented on #1490
Interesting! That is different from what I am seeing.

Can you please share the policy that cannot be configured? Also, can you try setting `policy.spec.schemaValidation` to `false`.

[2021-12-02 22:05] domruf commented on #2783
@ojhaarjun1 thanks for your comment. I'm quite new to helm, so I'm not sure either. My understanding so far is, that CRDs should be put into the ./crds instead of the ./templates. That way they are installed before the 'normal' resources.
https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

So, I think ./templates/crds.yaml should be moved to ./cr

[2021-12-02 22:20] roeelandesman commented on #1490
I grabbed the YAML directly from a sample policy here: https://kyverno.io/policies/other/limit_containers_per_pod/limit_containers_per_pod/

Setting schemaValidation to `false` outputs the same log error :/

[2021-12-02 22:23] JimBugwadia commented on #1490
Does the policy get created with `schemaValidation: false`?

[2021-12-02 22:33] JimBugwadia commented on #2783
@domruf - the problem encountered with putting CRDs in the `crds` folder is that Helm does not upgrade them across version changes. Hence, they were moved to the templates.

There have been multiple attempts to achieve the right Helm UX for CRD handling, see: https://github.com/kyverno/kyverno/issues/2565, https://github.com/kyverno/kyverno/issues/2355, https://github.com/kyverno/kyverno/pull/2671

[2021-12-02 22:34] roeelandesman commented on #1490
I don't believe so

[code]

[2021-12-02 22:54] JimBugwadia commented on #1490
Thanks @roeelandesman! I tried again in 1.5.1 and was able to reproduce what you are seeing.

This was fixed in 1.6.x (main) via: https://github.com/kyverno/kyverno/pull/2634.

We will merge this fix for 1.5.2.

[2021-12-02 22:56] treydock commented on #2783
@domruf You can not have the `helm install` command do both the CRD as well as the things using the CRD when the CRD is a template.  This why the `kyverno-policies` chart is separate, so it gets installed after the main `kyverno` chart.  I would recommend splitting your dependencies so that you don't have both kyverno and kyverno-policies.  You could install Kyverno with Helm then install a custom

[2021-12-02 22:56] JimBugwadia commented on #1490
@vyankd - can you please create a PR for `release-1.5` via a cherry-pick or merge of changes in https://github.com/kyverno/kyverno/pull/2634?

[2021-12-02 22:56] roeelandesman commented on #1490
Thanks @JimBugwadia, much appreciated!

[2021-12-03 02:40] realshuting commented on #2524
Attaching tests results here for tracking.

Test setup: 23 nodes Kind cluster, k8s 1.21.1, Kyverno 1.5.0. All of the following tests set livenessProbe period to 1s.

- With 15mins informer resync interval, no policy, 600 Configmaps, 1k Deployments, 300 Namespace, , memory usage:
117Mi - 103Mi (5mins) - 123Mi (17mins) - 102Mi (20mins) -122Mi (30mins) - 106Mi (33mins)

- With 1min informer resync in

[2021-12-03 02:53] realshuting commented on #2524
@luigizhou - what's the GOGC for the above scenario? If you set GOGC=25, do you see memory growth?

[2021-12-03 03:19] ojhaarjun1 commented on #2783
@domruf - Can we close this issue?

[2021-12-03 07:55] realshuting commented on #1490
Closed via #2784.

[2021-12-03 07:55] #1490 closed

[2021-12-03 07:56] #2783 closed

[2021-12-03 14:14] artem-nefedov commented on #2549
@vyankyGH I'll try to collect requested info. One thing I can answer right away is that Kyverno is NOT running in HA (there's only 1 replica). However, I expected at least eventual consistency in this case: it's fine if controller can't handle all requests when they occur, but since GenerateRequest exists, it makes sense to assume that it will be resolved sometime later (which is currently not alw

[2021-12-03 15:12] luhring commented on #2586
I'll start by admitting I still need to learn more about the possibilities for rule definition in Kyverno. 😀

But so far, I can't see why that initial approach wouldn't help to get SBOM validation at least started. I'm looking at the examples from my [last comment](https://github.com/kyverno/kyverno/issues/2586#issuecomment-951887533), such as to require that a particular package is not present. T

[2021-12-03 15:35] domruf commented on #2783
@ojhaarjun1 yes thanks

[2021-12-03 15:35] dkulchinsky opened #2789 "[BUG] Multiple Generate Requests created for the same source resource and policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: 1.5.2-RC2

**Describe the bug**
Kyverno created multiple Generate Requests for same resource and policy, one GR had a Competed status and the generated resources were properly created, the o

[2021-12-03 16:54] roeelandesman commented on #1490
Can confirm that release `v2.1.4-rc3` did fix these issues for me and I was able to install policies to the cluster again. Thank you all!

[2021-12-03 17:29] mikebryant commented on #2761
Also in the above configuration:

[code]

It feels like an entry like   `- "[*,kube-system,*]"` should automatically turn into a namespaceSelector - if Kyverno would ignore all such events anyway, why make the apiserver ask it

[2021-12-03 17:30] dkulchinsky commented on #2789
I just did another test, this time creating 500 Service Accounts (sequentially) and was able to reproduce this

[code]

This resulted in one ServiceAccount (`dannyk-test-462`) to have two Generate Requests:
[code]

so seems like this is fairly rare, but with enough attempts should be reproducible.

[2021-12-03 17:32] JimBugwadia commented on #2586
@luhring - makes sense, thanks!

So, is there any common representation of SBOMs we can start with or do we need to build one?

[2021-12-03 18:07] mrjoelkamp opened #2790 "[BUG] `imagePullSecrets` are not refreshed in `verifyImages` rule resulting in expired credential failures"
**Software version numbers**

* Kubernetes version: `1.19`
* Kubernetes platform: `EKS`, `Kind`
* Kyverno version: `release-1.5`

**Describe the bug**
The `imagePullSecrets` get fetched by `k8schain.New()` in the [cosign module](https://github.com/kyverno/kyverno/blob/b7767d79d3fb460c37a93f55b4407e9ee2b50a23/pkg/cosign/cosign.go#L37) and assigned to `authn.DefaultKeychain` during `cosign.Initializ

[2021-12-04 00:03] luhring commented on #2586
First, I want to mention that we _might_ not need this yet. To your point, I think it could be worthwhile to try SBOM attestation validation using the existing functionality, and that usage experience may help inform what would be needed (if anything) in a more SBOM-specific solution.

That said, my answer would be "no". I'd think we'd want to start with a "lowest common denominator" approach, and

[2021-12-04 00:38] JimBugwadia commented on #2705
Hi @bdols - the SBOM location was changed in 1.5.2 which will be released soon.

[2021-12-04 20:25] viveksahu26 commented on #2745
Hey @JimBugwadia , wanted to confirm one more thing. As per given in the documentation that on applying below command  https://kyverno.io/docs/kyverno-cli/#apply
`kyverno apply /path/to/policy.yaml --cluster`
The policy is applied to resources present in kubectl context.
So, similarly on replacing local path of policy by git url path the policy would be applied to resource present in the kubectl c

[2021-12-05 00:45] JimBugwadia commented on #2745
@viveksahu26 - here is what we want:

[code]

[2021-12-05 00:47] JimBugwadia commented on #2745
@viveksahu26 - also see https://github.com/kyverno/kyverno/pull/2763.

[2021-12-05 01:44] chipzoller commented on #2665
And yet again in [this sample policy](https://github.com/kyverno/policies/issues/189#issue-1071343869) (first rule).

Given a Pod like this:

[code]

The `notsecret` Secret in this case has no labels applied whatsoever.

[code]

This means that the JMESPath query in the context's API call is invalid. It doesn't matter if that query is changed to something which is valid like `{{ metadata}}` becaus

[2021-12-05 01:47] chipzoller commented on #2665
@JimBugwadia do you think we can either workaround or fix this so it isn't a blocker to otherwise perfectly fine rule logic?

[2021-12-05 16:18] chipzoller commented on #1070
Still same problem: https://github.com/kyverno/kyverno/issues/2665#issuecomment-986149486

[2021-12-05 16:24] chipzoller commented on #2732
@arundathi-nirmata can you confirm the newer version works?

[2021-12-05 17:25] treydock commented on #2731
@rparke Could you share what kind of custom_yaml you would be adding?  Having RBAC resources to access a PSP seems like a good addition, rather than a free form yaml input.  Of course if what you are doing is entirely site specific and would not apply to others using PSP, then I think a `custom_yaml` type solution might be only option.

One other solution that may not be aware of is you can create

[2021-12-05 21:40] vikas027 opened #2791 "Feature Request - Undo mutation when the policy is deleted"
**Is your feature request related to a problem? Please describe.**
Mistakes do happen :) and are inevitable IMHO. I am just considering a scenario where someone accidentally adds a mutation policy without adding proper or intended excludes, this will cause all the future resources to be mutated and manually changing them would be a pain. I like to drive my automation through Git (GitOps), and havi

[2021-12-06 01:17] JimBugwadia commented on #2586
@luhring thanks!

I started a document to capture and explore the design, and alternatives:

  https://docs.google.com/document/d/1AoaSfJwo6XyAuFZCK4wc4bjiPajdCIEJ9lctS1a8A5Y/edit#

Still not sure which approach would be best. Seems like that would depend on if there a more format specific checks vs. common checks that need to be performed across formats.

Perhaps we can mockup what the policy def

[2021-12-06 01:51] luhring commented on #2586
@JimBugwadia This doc is fantastic! I like your approach, and I think your suggestion makes sense (i.e. look at what mockup policy definitions look like before deciding).

[2021-12-06 07:57] realshuting opened #2792 "Disable resync for informers"
**Is your feature request related to a problem? Please describe.**
Kubernetes informer is used to maintaining a local cache for fast lookup. If no event handlers are registered, we can disable resync to save CPU.

**Describe the solution you'd like**
Currently the informer resync every 15mins, we need to check how the informer is used and disable resync if no event handler is registered.
 https://

[2021-12-06 08:05] realshuting opened #2793 "Migrate from dynamic informer to shared informer"
**Is your feature request related to a problem? Please describe.**
Per [this](https://kubernetes.slack.com/archives/C0EN96KUY/p1638502909225900?thread_ts=1638500619.214900&cid=C0EN96KUY) discussion, the dynamic informer could potentially consume more memory "for high cardinality or frequently changing objects". This could lead to high memory usage since the Kyverno Policy can be configured to matc

[2021-12-06 10:43] rparke commented on #2731
So essentially we want to add an additional rule to the RoleBinding that will give Kyverno permission to use a privileged PSP object (in our cluster it's simply called privileged, but in practice it could have any name).

This forms part of our rollout plan that we want to test where both Kyverno and PSPs will be deployed to the cluster, this will then be followed by a controlled teardown of the P

[2021-12-06 11:58] bastjan opened #2795 "Allow setting configurable client rate limit (QPS/Burst)"
**Is your feature request related to a problem? Please describe.**

For our busy clusters, the default client rate limit of 5QPS/10 Burst is rather low since we do some uncacheable `apiCall` lookups.

The webhooks slow down and we see the client rate limiter:
[code]

**Describe the solution you'd like**

Configure the rate limit using environment variables or command-line flags.

[2021-12-06 12:11] MaxRink opened #2796 "[BUG] Kyverno & Metricsserver can cause deadlock on clusterupgrade"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.13
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): CAPI
* Kyverno version: 1.5.1

**Describe the bug**
We run our Clusters using CAPI, using bot Metricsserver and Kube-vip.
For an upgrade CAPI replaces nodes one by one.
During that upgrade Metricserver and Kyvern

[2021-12-06 13:49] nishakm commented on #2586
Y'all are welcome to take a look at [Tern's data model](https://github.com/tern-tools/tern/blob/main/docs/data-model.md) if you are looking for how to represent the metadata for "packages" and "files" for example. I would imagine a policy definition be based on this metadata (Eg: deny package with name x and version y).

[2021-12-06 13:50] treydock commented on #2731
Since the PSP adjustment is temporary while Kyverno is rolled out, I would recommend a custom chart with the dependency on kyverno chart.  You can then do this in custom chart `values.yaml`:

[code]

Then in `templates` you have a copy of Kyverno RBAC with your custom additions.

[2021-12-06 15:31] mrjoelkamp commented on #2790
/assign

[2021-12-06 16:31] rparke commented on #2731
That's fair enough (I understand the desire not to have potentially breaking . Our current solution is just to have a custom manifest saved in our Ansible repo for deploying Kyverno. We will probably just transition to using Helm after we've gotten rid of Pod Security Policy. So yeah, not an issue long term.

[2021-12-06 16:31] #2731 closed

[2021-12-07 05:45] vyankyGH commented on #2747
Closing issue.

[2021-12-07 05:45] #2747 closed

[2021-12-07 05:58] vyankyGH commented on #984
Closing this issue. Now we no need to filter list by api-group.
Please see issue: https://github.com/kyverno/kyverno/issues/2320

[2021-12-07 05:58] #984 closed

[2021-12-07 09:02] stieglma commented on #2154
@NoSkillGirl @realshuting to wrap this up: I updated to the newest version of Kyverno, and I can still see this message which I assume from reading other issues, and the Kyverno documentation is totally fine (IMHO it is just misleading that it is marked as an error log instead of info).

As far as I can tell now, I don't want to disable schemaValidation for alll our policies, just because longhorn

[2021-12-07 10:07] arundathi-nirmata commented on #2732
@chipzoller I deleted the old the policy in my cluster and applied the new version of policy. In my reports now I see it has passed but I also see that in failed. It is not getting updated in reports. Any idea why?

[code]

[2021-12-07 14:48] vyankyGH commented on #2765
@hackerboy01 can you please try this policy

[code]

[2021-12-07 15:44] #2500 closed

[2021-12-07 21:35] JimBugwadia commented on #2273
Hi @Danny-Wei - I noticed this error on a Windows system when running the Golang unit tests:

[code]

Looks like the path used is system specific? Can we update the function to use a deterministic URL Path `/` and not a filesystem path? Thanks!

[2021-12-08 00:39] Danny-Wei commented on #2273
Yes, I used the path/filepath which uses the OS's directory separator. It's my mistake, I didn't consider the Windows environment when I write this unit test. I think we should keep using path/filepath in case k8s and container runtime have the same behavior that I mentioned at the beginning on Windows.

My idea is as follows,
1. Update this unit test to adapt to Windows environment.
2. Rename pat

[2021-12-08 02:15] JimBugwadia commented on #2273
Thanks @Danny-Wei!

I now understand and agree. Lets proceed with your suggestion #1. We can revisit later if we need to handle URL paths.

[2021-12-08 05:02] vyankyGH commented on #2756
@baaaaast  Sorry for the delayed response.
certain characters must be escaped for JMESPath processing (ex. - in the case of container’s name), escaping can be done by using double quotes with double escape character \, for example, {{images.containers.\"my-container\".tag}}.

Please check the Note section in following link,  https://kyverno.io/docs/writing-policies/variables/#variables-from-contai

[2021-12-08 05:02] #2756 closed

[2021-12-08 05:25] vyankyGH commented on #2765
@hackerboy01 I have tested with above policy, and we get expected result.
[code]

I'm closing this issue. Feel free to open if we face any issue regarding this.
Thanks

[2021-12-08 05:25] #2765 closed

[2021-12-08 06:27] hackerboy01 commented on #2765
@vyankyGH Thanks for your answer

[2021-12-08 08:19] JimBugwadia commented on #1833
We have added a way to escape `{{ ... }}` here: https://github.com/kyverno/kyverno/pull/2563. Closing this issue.

[2021-12-08 08:19] #1833 closed

[2021-12-08 09:56] prateekpandey14 commented on #2549
@artem-nefedov i tired to reproduce this issue with 2 generate clusterpolicies in place (configmap and secret clone in case of namespace creation), it does took sometime to get all the GR to get completed as expected. Doing some more round of testing to see if i can reproduce it somehow.

[2021-12-08 10:34] luigizhou commented on #2524
GOGC was not set, will do a test today with it set to 25.

There are no limits configured on Kyverno in order to prevent it from being OOMKilled.
I believe Prometheus is getting the same metrics used by cgroups when OOMKilling happens...
It's quite weird how the profiling is showing different memory usage, but I want to re-iterate that it's quite difficult to get those profiling information since

[2021-12-08 13:15] chipzoller commented on #2756
@baaaaast turns out the `{{image}}` variable is fine, it's how it's getting substituted in that string. Here's the "corrected" policy which I will fix on the website.

[code]

Notice the queries now have `{{element.name}}` enclosed in double quotes.

[2021-12-08 13:51] MaxFedotov opened #2805 "[BUG] TLS handshake error - remote error: tls: bad certificate"
**Software version numbers**
* Kubernetes version: v1.19.11
* Kyverno version: v1.5.1

**Describe the bug**
`TLS handshake error - remote error: tls: bad certificate` error when api-server experience problems with etcd connectivity

**To Reproduce**
1. Create new cluster in kind
[code]
2. Install kyverno from helm chart
[code]
3. Create test policy
[code]
4. Scale kyverno to 2 replicas (the same i

[2021-12-08 18:29] aslafy-z commented on #2053
Any chance this get tackled asap? Thank you

[2021-12-08 18:37] chipzoller commented on #2053
The workaround is to use three replicas instead of two. Why does this not work for you, @aslafy-z ?

[2021-12-09 03:22] JimBugwadia commented on #2591
Hi @chrisns - any comments on https://github.com/kyverno/kyverno/pull/2804?

[2021-12-09 08:01] #2790 closed

[2021-12-09 08:15] chrisns commented on #2591
Yup that pretty much nails my points 👍👍

[2021-12-09 09:30] rajata07 commented on #2764
@hiteshp39 Did you apply a networkpolicy for this? Or else can you please share the rule you applied?

[2021-12-09 10:43] sjentzsch commented on #2243
Is it possible to put priority on solving this one with Kyverno Release 1.6.0?
This issue was discovered in August, and is now addressed nearly 6 months later.

For us, properly mutating image containers is one of the core use cases for Kyverno and blocks us from using Kyverno as a policy manager.

[2021-12-09 13:50] realshuting commented on #2790
Hi @mrjoelkamp - the fix was merged and published with  `v1.5.2-rc5`, can you verify the same?

[2021-12-09 14:14] realshuting commented on #2665
I tested this JMESpath with kubectl and observed the following:

[code]

If we can verify the return value/error by JMESPath library, then we should be able to substitute that to the empty string `""` or `"null"`.

@zeborg - can you verify the return value then we can discuss it?

[2021-12-09 14:18] silenceper opened #2809 "[BUG]can not update resourceQuota vlue"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.6
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:v1.5.1

**Describe the bug**
can not update resourceQuota vlue:
I want update ` limits.cpu` equal to  `requests.cpu`

[code]
[code]

**To Reproduce**
1、add ClusterPolicy
2、add resourcequota like

[2021-12-09 14:49] chipzoller commented on #2809
@silenceper you need to quote the `limits.cpu` key because the dot notation otherwise means the next object. This works:

[code]

Taking your sample resource above yields this result after mutation:

[code]

This is covered in a note on the [variables page](https://kyverno.io/docs/writing-policies/variables/).

[2021-12-09 14:49] #2809 closed

[2021-12-09 15:21] mrjoelkamp commented on #2790
@realshuting yes, thank you very much!

[2021-12-09 15:48] artem-nefedov opened #2810 "Exclude namespaces with autoUpdateWebhooks"
**Is your feature request related to a problem? Please describe.**

When using autoUpdateWebhooks, which is default since 1.5, it looks like it's impossible to exclude namespaces from webhooks (correct me if I'm wrong), since configmap values are ignored when autoUpdateWebhooks is set to true.

I'm having a problem where webhook becomes broken when Kyverno pod (running with 1 replica) is being dra

[2021-12-09 15:48] Dutchy- opened #2811 "Block validation until another resource has been created"
**Is your feature request related to a problem? Please describe.**
I want to be able to compare 2 resources, a PodDisruptionBudget and a Deployment with a policy in enforce mode, but these resources are often created at the same time. The policy will fail if the other resource does not exist.

**Describe the solution you'd like**
Can we block the validation, or maybe retry a few times, until a dep

[2021-12-09 15:56] chipzoller commented on #2734
Second use case is https://github.com/kyverno/policies/issues/191

[2021-12-09 15:59] Dutchy- opened #2812 "[BUG] Missing validation of condition operators"
**Software version numbers**

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.5.1

**Describe the bug**
When misspelling a condition operator, e.g.

[code]

(It should be `LessThanOrEquals` instead of `LessThanOrEqual`)

The policy will pass even to the policy is malformed. This was unexpected.

**To Reproduce**
More context:
ht

[2021-12-09 16:04] seh commented on #2812
I make this mistake every time I type one of these conditions freshly by hand.

The problem is that I read the operator as completing the placeholder in "_X_ is ____ to _Y_." The 's' at the end of these operator names is not the obvious choice.

[2021-12-09 16:16] artem-nefedov commented on #2810
BTW, I just noticed another thing that contributes to my problem: when autoUpdateWebhooks is set, webhooks have `failurePolicy: Fail`, while without it they have `failurePolicy: Ignore`. Would be good to be able to control that as well.

[2021-12-09 16:45] zeborg commented on #2665
Hey @realshuting, I've tested it through the library using the code below:
[code]
and the output turns out to be:
[code]

[2021-12-09 23:17] chipzoller commented on #2732
Looks like one is from the autogen and the other is from the Pod itself since the subject of the rule was the Pod. The translation in the autogen may not be correct.

[2021-12-10 00:02] chipzoller opened #2813 "[BUG] Wildcards are ignored when occuring in lists/arrays"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6.0-ish

[code]

**Describe the bug**
The `NotIn` operator (assumed to be others) does not see wildcards when the value is given in array format, only if given in string.

**To Reproduce**
S

[2021-12-10 00:03] chipzoller commented on #2813
@anushkamittal20 I am assigning you only to see if this is being considered for all operators and not just the new ones landing in 1.6.0. If it's a non-issue based upon the current code base, we can safely close so long the behavior is correct and consistent.

[2021-12-10 00:07] chipzoller opened #2814 "Improve `foreach` validation failure message formatting"
**Is your feature request related to a problem? Please describe.**
The validation failure message printed when a rule uses `foreach` needs a bit better formatting.

It's something like this today:

[code]

The message in the rule is ` This Pod names an image that is not from an approved registry.` yet it collides with the `validation failed in foreach rule for` part making it odd to read.

**Descr

[2021-12-10 01:52] silenceper commented on #2809
thanks @chipzoller

[2021-12-10 04:34] #2431 closed

[2021-12-10 04:34] #2780 closed

[2021-12-10 06:07] anushkamittal20 commented on #2813
Hey, @chipzoller I am aware of this, we haven't added a couple of new features that we did in `AnyIn` `AllIn` `AnyNotIn` `AllNotIn` in `In` and `NotIn` as these two are deprecated and will be removed in the next release and so I didn't consider doing this for all operators.
I believe the behaviour is consistent in the new operators, the old ones are mostly left as they were with minor changes.
If

[2021-12-10 06:16] anushkamittal20 commented on #2359
Hey @dkulchinsky please let me know if the image works, so I can make a PR for the issue.
Thank you very much!

[2021-12-10 07:08] JimBugwadia commented on #2196
This is working in 1.6.x. Closing.

[2021-12-10 07:08] #2196 closed

[2021-12-10 07:18] JimBugwadia opened #2816 "Support Cosign key-value annotations"
**Is your feature request related to a problem? Please describe.**

Cosign allows adding annotations:

https://github.com/sigstore/cosign/blob/main/USAGE.md#sign-a-container-multiple-times

[code]

Kyverno policies should support annotation checks.

**Describe the solution you'd like**

Allow specifying a list of annotations name value pairs.

**Describe alternatives you've considered**

n/a

**Ad

[2021-12-10 09:06] Dutchy- commented on #2320
I have a use case where I need to validate a Pod, e.g.

[code]

This generates a webhook which also works on the kube-system namespace. This is a problem, because if I shut down the cluster and start it up again - the webhook is called on kube-system pods before Kyverno is up. I can circumvent this problem by setting `failurePolicy: Ignore`, but this is not a best practice.

I'd like to be able to

[2021-12-10 09:59] alecerf opened #2817 "Add Kyverno deployment node affinity configurable"
**Is your feature request related to a problem? Please describe.**
We have many clusters with different node pools, and i would like to install Kyverno only on some specific node pools with a label that can have different values. Currently in the Kyverno Chart we have `nodeSelector`, but this field requires that the node must have each of the indicated key-value pairs as labels.

**Describe the so

[2021-12-10 10:30] ikatolkar opened #2818 "Kyverno installation fails on openshift, pod gets OOMKilled and goes into CrashLoopBackOff state"
**Software version numbers**
"Version"="v1.5.2"

* Kubernetes version: v1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): OpenShift
* Kyverno version: v1.5.2

**Describe the bug**
I tried installing kyverno via helm chart v2.1.4 and the kyverno pods never become ready. The pods keep restarting due to getting OOMKilled and ending up in CrashLoopBackOff state

**To Reproduce**
St

[2021-12-10 10:36] realshuting commented on #2818
Hi @ikatolkar - what's the scale of your cluster? Can you increase the memory limit and try again?
https://github.com/kyverno/kyverno/blob/b17e76493e00a729cf069a528575dabbff92fc7d/charts/kyverno/values.yaml#L84-L89

[2021-12-10 12:02] ikatolkar commented on #2818
Thanks for the reply @realshuting

The cluster has enough resources, I have 10 worker nodes each with 10000m+ CPU and 300Gi+ memory

I tried with following limits, still the pod is not becoming ready:

[code]

[code]

##This time I'm seeing following logs:
[code]

[2021-12-10 12:10] realshuting commented on #2818
I'm trying to understand how many resources do you have on the cluster, for example, deployments, configmaps, etc. Was the pod failed with OOM killed error this time? Can you bump up the memory limit to 2Gi?

Was the error only occurred with 1.5.2 or with other versions as well?

[2021-12-10 12:29] ikatolkar commented on #2818
I've tried V1.5.1 and V1.5.2 and have seen the same issue on both.
The pod is not getting OOMKilled after increasing the memory limits, but it never becomes ready.
I tried it again with 2Gi and still seeing the same issue as last (a lot of timeout logs, restarts and then shutdown)

#k -n kyverno get pods -w
NAME                      READY   STATUS     RESTARTS   AGE
kyverno-55c47fcf6-f4qnk   0/1

[2021-12-10 12:38] realshuting commented on #2818
Looks like webhooks weren't registered successfully: "E1210 12:23:23.168686 1 main.go:403] setup "msg"="Timeout registering admission control webhooks" "error"=null".

Can you follow the first symptom on this troubleshooting page https://kyverno.io/docs/troubleshooting/ and attach the result?

[2021-12-10 13:14] chipzoller commented on #2813
Ok, that's what I suspected. I don't think any further action is needed on this one. I'd like to test with the code current and confirm, and once done I can close this. Sound ok?

[2021-12-10 13:14] ikatolkar commented on #2818
Thanks for the suggestion!

The same pod (running with 2Gi limit) automatically became Ready,
[code]

Something that I noticed was that the validatingwebhookconfigurations,mutatingwebhookconfigurations became available around the same time that the pod became ready,
[code]

[2021-12-10 13:55] dkulchinsky commented on #2359
sorry @anushkamittal20, was about for a few days.

I'll give it a try in our sandbox and report back.

is this build compatible with 1.5.2? (we currently have 1.5.2-rc4 deployed in sandbox)

[2021-12-10 14:00] ikatolkar commented on #2818
Is this delay related to the timeout logs?

[2021-12-10 15:47] treydock commented on #2320
@realshuting Given how the webhooks are automatically configured, is there going to be a way to continue getting automatic resource types added to webhook and still tell Kyverno to ignore all resources in a given namespace?  My goal is to tell Kyverno to never look at anything in certain namespaces like `kube-system`.  This was previously managed by `resourceFilters` but given docs it sounds like

[2021-12-10 19:06] chipzoller opened #2819 "[BUG] Excluding clusterRoles is broken if nested under `any` or `all`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.2

**Describe the bug**
When using `any` or `all` statements in an `exclude` block, the roles and clusterRoles are not retrieved properly causing policies to not exclude correctly.

**To R

[2021-12-10 19:08] chipzoller commented on #2819
Adding this for now to the 1.5.3 milestone as this behavior prevents certain policy exclusions from being possible.

[2021-12-10 20:19] adeniyistephen commented on #2777
@JimBugwadia Interesting issue, has it been assigned to anyone yet? if not I would like to work on it.
Please what is the CLI command for API calls in kyverno `kyverno apply {apiURL} ......` ?

[2021-12-10 20:53] adeniyistephen commented on #2745
Hello @JimBugwadia the following implementations have been handled here: https://github.com/kyverno/kyverno/blob/edafffd2bd5993661e9795ce62074bd4dd630f04/pkg/kyverno/common/common.go#L130

I believe your repository URL was not correct, it gives an error 404, not a policy YAML file. Please let me know if I'm wrong, I haven't tried it myself but based on what I checked.

[2021-12-10 20:56] zeborg commented on #2745
Hey @JimBugwadia, in case multiple policies are present in the provided git repository or a specific path in the git repository, do we intend to apply them all on the cluster?

Also, @viveksahu26 if you're stuck at any point I'll be happy to help.

[2021-12-10 20:59] zeborg commented on #2745
Hey @adeniyistephen, the problem is that currently there's no implementation in the source code of kyverno CLI to deal with git paths within the `apply` subcommand.

[2021-12-10 21:11] viveksahu26 commented on #2745
Hey @zeborg , thanks for this helping gesture. But, currently I am not that much active to contribution because of my RedHat certification exam. Later on, if any doubts comes, I will contact you.

[2021-12-10 21:19] adeniyistephen commented on #2745
Yes, there's no command for specifying a git repository, but you can as well add the URL to the path field which then checks for a git repo, kindly check this code: https://github.com/kyverno/kyverno/blob/edafffd2bd5993661e9795ce62074bd4dd630f04/pkg/kyverno/common/common.go#L83

[2021-12-10 21:43] zeborg commented on #2745
Yes, however this method is only applicable for policies that are stored as a static file over the internet. The way it is defined right now, it saves the response of the GET request made on the provided URL to `fileBytes` and then treats it as a policy.

There's already a git path implementation for `kyverno test` command, which clones the provided repository on memory in a virtual filesystem _(b

[2021-12-10 22:05] adeniyistephen commented on #2745
@zeborg I guess this is the right way the CLI should be written: `kyverno apply -r https://github.com/kyverno/policies/main.yaml --cluster` pointing to the exact yaml file in the git repository.
The function I showed you follow the normal approach when applying policies that can use a URL if a file path is not percent, we can also use the test approach which is nice but I feel it's done already.

[2021-12-11 04:41] anushkamittal20 commented on #2813
Sure @chipzoller
Sounds good to me!
I will look into edge cases too, and make sure the new operators work accurately for all.

[2021-12-11 18:18] anushkamittal20 commented on #2359
Yes @dkulchinsky the build should be compatible.

[2021-12-11 19:59] chipzoller opened #2821 "Support for ephemeral containers"
**Is your feature request related to a problem? Please describe.**
Kyverno, as of 1.5.2, does not support listening for ephemeral containers.

**Describe the solution you'd like**
Support ephemeral containers.

**Additional context**
When Kyverno writes its webhook configurations for a policy the subject kind of which is `Pod`, it is only creating `pods` under `.webhooks.rules.resources`. In order

[2021-12-12 22:47] JimBugwadia commented on #2745
See comment above for the overall goals: https://github.com/kyverno/kyverno/issues/2745#issuecomment-986143367.

It would be good to allow using Git repository URLs or local files. We can also add support for an HTTP/S files, but seems like in most cases the files will be in a git repo.

[2021-12-13 05:01] realshuting commented on #2818
Did you follow the troubleshooting guidance and run `kubectl run busybox --rm -ti --image=busybox -- /bin/sh`? What was the result?

[2021-12-13 05:06] JimBugwadia opened #2823 "Streamline and automate release notes"
**Is your feature request related to a problem? Please describe.**

Currently we manage release notes in GitHub and in the user docs:

  https://github.com/kyverno/kyverno/releases/tag/v1.5.2

  https://main.kyverno.io/docs/releases/

Currently we have to manually manage release notes in the docs, and if a release has several RCs we need to update the full release notes with the list.

**Describe

[2021-12-13 06:01] ikatolkar commented on #2818
Thanks for the support so far @realshuting

Yes, now that the pod is ready it's looking fine.

But the pod never becomes ready by itself.
It keeps on logging the timeout logs and eventually ends up in CrashLoopBackOff. Once the status becomes crashloopbackoff, I delete the crashing pod manually and the new pod that is created eventually becomes ready (with no excessive timeout logs)

#kubectl run

[2021-12-13 08:31] #2591 closed

[2021-12-13 12:56] realshuting commented on #2320
Hi @treydock - yes, based on the above Slack discussion, `namespaceSlector` will be enabled by default with dynamic webhook.

[2021-12-13 13:15] realshuting commented on #2777
@zeborg - are you working on this issue?

[2021-12-13 13:16] silenceper opened #2825 "[BUG]can not disallow create `role`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.1

**Describe the bug**
kyverno policy can not disallow create `role`
[code]

then role object can create normal :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. C

[2021-12-13 13:25] zeborg commented on #2777
@realshuting Not yet, other contributors are free to pick it up.

[2021-12-13 13:47] vyankyGH commented on #2825
Hey @silenceper Can you please try with 1.5.2, I have just tested that and role creation get block for me.
[code]

[2021-12-13 15:54] realshuting commented on #2777
@adeniyistephen - I assigned the issue!

Yes, both `test` and `apply` commands need to support this. You can find the CLI implementation in [this](https://github.com/kyverno/kyverno/tree/main/pkg/kyverno) package.

Let us know if you want to discuss the design / proposal, thanks!

[2021-12-13 16:26] JimBugwadia opened #2826 "Release versioning and images"
### Discussed in https://github.com/kyverno/kyverno/discussions/2724

<div type='discussions-op-text'>

<sup>Originally posted by **JimBugwadia** November 15, 2021</sup>
With the new release management guidelines, we are adding features to main (1.6) and fixes to the `release-1.5` branch (1.5.x).

For users who want to try out the new features, they need to install "latest", but don't seem to have

[2021-12-13 16:33] realshuting commented on #2818
Hi @ikatolkar - thanks for the reply!

This is interesting. I checked the code base, the timeout error is returned when the `endpoint` is not ready (with no IPs registered). Can you test the install again and attach the following output?

[code]

[2021-12-13 16:34] realshuting commented on #2705
@JimBugwadia - was the issue addressed in 1.5.2 or there's still something pending?

[2021-12-13 18:32] treydock commented on #2320
@realshuting Would the `namespaceSelector` still be in a configmap or moved to CLI arguments?  I think one possible reason to keep things in a configmap is the current behavior seems to be if that configmap changes, Kyverno detects it and reloads configs, so don't have to restart Kyverno pods to pickup something like changes to CLI arguments.

[2021-12-13 20:25] JimBugwadia opened #2829 "[BUG] Kyverno fails to initialize"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.6.x

**Describe the bug**

Kyverno from `main` fails to start with the following error:

[code]

**To Reproduce**

Install the latest Kyverno and check logs.

[2021-12-13 22:38] #2829 closed

[2021-12-14 00:32] nsagark opened #2831 "[BUG] v1.5.2-rc5- require_drop_all and require_drop_cap_net_raw don't show failures if policy is deployed in background"
Software:

kind version: kind v0.11.1 go1.16.4 linux/amd64
k8's version: kind v1.20.7
kyverno version: 1.5.2-rc5

Steps to reproduce the issue:

1. Create a nginx pod
 kubectl run nginx --image=nginx

2. Apply DROP_ALL and Drop CAP_NET_RAW policies from below. Updated the background as true in the yamls before installing the policies
https://raw.githubusercontent.com/kyverno/policies/main/best-pra

[2021-12-14 02:09] silenceper commented on #2825
@vyankyGH
And i found that this configuration can limit the creation of clusterRole resources:
[code]

[2021-12-14 03:45] vyankyGH commented on #2825
@silenceper you can use **jmesPath** api call for get rule count. and validate in deny rule, Rules count is GreaterThan 0 or not.
Example: https://github.com/kyverno/policies/blob/main/other/restrict_pod_count_per_node/restrict_pod_count_per_node.yaml

[2021-12-14 04:34] ikatolkar commented on #2818
Hi @realshuting

Deleting the failing pod doesn't seem to be working always. Tried reinstalling and couldn't get it to become ready by deleting the crashing pod this time.

#Here's some output while the pod was still crashing
[code]

[code]

[code]

[code]

[code]

[code]
[code]

PS: I make sure to clean up all the resources from last installation before trying the install again.

[2021-12-14 04:58] ikatolkar commented on #2818
BTW this is the install manifest that I'm using

[2021-12-14 05:14] realshuting commented on #2818
Looks like the endpoints were not registered successfully, that's why the Kyverno container failed.
[code]

Can you further troubleshoot why the pod IP was registered by the following command?
[code]

[2021-12-14 06:29] realshuting commented on #2320
Yes, it remains configurable via the ConfigMap.

[2021-12-14 06:39] realshuting commented on #2732
May be duplicated with https://github.com/kyverno/kyverno/issues/2831.

[2021-12-14 06:42] realshuting commented on #2810
Duplicate with https://github.com/kyverno/kyverno/issues/2320, please track via the other issue.

[2021-12-14 12:19] silenceper opened #2833 "[question]How to disallow `LoadBalancer` service"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:1.5.1

**Describe the bug**
For the `LoadBalancer` type of Service, if the annotations are not set with aa:"*?" or bb:"*?" creation is not allowed?
I write this policy ,but is does not work:
[code]

[2021-12-14 12:20] silenceper commented on #2833
maybe it is not bug

[2021-12-14 12:26] chipzoller commented on #2833
It's not a bug and I will answer you on Slack with a policy where you have already asked this.

[2021-12-14 12:26] #2833 closed

[2021-12-14 13:55] chipzoller commented on #2825
@silenceper why are you not using Kubernetes RBAC for this? Your deny criteria isn't anything more than the resource type. You really don't need Kyverno for this.

[2021-12-14 14:11] chipzoller commented on #2831
Per [the documentation](https://kyverno.io/docs/writing-policies/background/):

[2021-12-14 14:12] chipzoller commented on #2732
That was because of background scans, but please see the response there, @arundathi-nirmata. If this is for newly-created/observed resources, can you show the resource?

[2021-12-14 15:32] silenceper commented on #2825
The scenario here is quite special. This is indeed a special example, but it needs to be restricted temporarily.

[2021-12-14 15:34] chipzoller commented on #2825
Edit the Kyverno ConfigMap stored in the `kyverno` Namespace to remove [the filter](https://kyverno.io/docs/installation/#configmap-flags) excluding the `kube-system` Namespace.

[2021-12-14 16:06] chipzoller commented on #2821
See here: https://github.com/chipzoller/kyverno-pss#general-notes

[2021-12-14 16:19] prateekpandey14 commented on #2821
Ok, i was trying to create the ephemeralcontainers using kubectl debug CLI command, not with JSON format. Let me see if that works.

[2021-12-15 04:23] JimBugwadia opened #2837 "Add semver operations"
**Is your feature request related to a problem? Please describe.**

SBOMs contain package versions. Here is an example of a CycloneDX SBOM of a Java library:

https://github.com/CycloneDX/sbom-examples/blob/master/dropwizard-1.3.15/bom.json

When validating an SBOM, we would like to perform checks on versions. For example:

1. jackson-annotations should be greater than version 2.8
2. Package guava

[2021-12-15 07:34] realshuting opened #2838 "Incubating stage checklist"
This issue captures the checklist of items for [incubation](https://github.com/cncf/toc/blob/main/process/graduation_criteria.adoc#incubating-stage).

- [x] Document that it is being used successfully in production by at least three independent end users which, in the TOC’s judgement, are of adequate quality and scope. For the definition of an end user, see https://github.com/cncf/toc/blob/main/FA

[2021-12-15 09:07] realshuting commented on #2831
Hi @nsagark - can you please remove `request.operation` variable and see if it reports violations?

[2021-12-15 09:42] JimBugwadia commented on #2837
This library may be useful to implement semantic version comparisons:

https://github.com/Masterminds/semver

Here is another option:

https://github.com/coreos/go-semver

[2021-12-15 10:53] vikas027 opened #2840 "[BUG] - podDisruptionBudget is not respected defined in the helm chart"
## Environment
Helm Chart: 2.1.4
App version: 1.5.2

## Bug
Helm chart is not respecting [podDisruptionBudget](https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml#L55) defined in the yaml files.

[code]

[2021-12-15 13:36] realshuting commented on #2755
@fjogeleit - what is the target release for this issue? We discussed the criteria for patch releases in the previous contributor meetings, only the critical fixes, and security vulnerability issues should be added to patch releases.

Is this issue blocking anything?

@Anita-ihuman - let's get the release management guide published asap, for others references.

[2021-12-15 14:15] fjogeleit commented on #2755
sorry I missed that meeting.

I don't think it is a critical thing. Currently its a rare use case that running other tools in the same cluster which creating this reports but it could be more and more the case.

[2021-12-15 16:07] chipzoller opened #2843 "Support mutations against `/status` subresources"
**Is your feature request related to a problem? Please describe.**
When creating a mutation policy that mutates the `.status` object, nothing occurs due to Kyverno trying to update the parent resource and not the `/status` subresource of the parent. For example, creating a policy that adds an [extended resource](https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/) has no ef

[2021-12-15 19:16] abhi-kapoor opened #2844 "[BUG] K8s events have warnings for policy failure even if the policy passes successfully"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: `v1.19.14-gke.1900`
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: `kyverno:v1.5.2`

**Describe the bug**

After creating a validating policy in the audit mode to check if all containers have requests and limits set, there still seems to be war

[2021-12-15 19:22] chipzoller commented on #2844
Covered in #2160

[2021-12-15 19:31] chipzoller commented on #1332
Broken later, reopened as #2460

[2021-12-15 20:23] JimBugwadia commented on #2460
Label selectors get translated to a Kubernetes API call, which is what causes the wildcard to break.

Kyverno handles wildcards in `matchLabels` but not in label selectors.

To support wildcards in labelSelectors would require querying all resources and looping over the labels to determine a match.

[2021-12-15 20:36] JimBugwadia commented on #2705
@realshuting - looks like this change was not merged into 1.5.2: https://github.com/kyverno/kyverno/pull/2536

Can you please merge?

@ShubhamPalriwala - is there a way we can separately build and provide an SBOM for v1.5.2?

[2021-12-16 06:36] Namanl2001 commented on #2816
closing via #2824

[2021-12-16 06:36] #2816 closed

[2021-12-16 07:44] ojhaarjun1 commented on #2840
Hey @vikas027, we disable PDB by default pre 1.6.0. I tried `helm install kyverno kyverno/kyverno --namespace kyverno --create-namespace --set replicaCount=3 --set podDisruptionBudget.enabled=true` which gives me
[code]

[2021-12-16 07:48] vikas027 commented on #2840
Thanks, I will give it a go soon.

[2021-12-16 08:05] realshuting commented on #2705
Sorry I lost track of this. Sending PR https://github.com/kyverno/kyverno/pull/2845.

[2021-12-16 08:17] vyankyGH opened #3164 "Create CLI test policy for wildcard support in match label selector"
Related Issue : https://github.com/kyverno/kyverno/issues/2460
PR : https://github.com/kyverno/kyverno/pull/2832

## Supported wildcard Patterns

- "*"
- "*pattern"
- "pattern*"
- "pat*tern"
- "* pattern*"

Policy example
[code]

[2021-12-16 08:18] realshuting commented on #2843
Have you tried this https://stackoverflow.com/questions/59564757/kubernetes-is-it-possible-to-mutate-the-status-subresources-in-the-mutation-adm?

The policy needs to match `node/status` in order to patch `.status` field. Not sure if webhook would be updated correctly though.

[2021-12-16 08:34] ShubhamPalriwala commented on #2705
@JimBugwadia We are already generating an SBOM as an [artifact](https://github.com/kyverno/kyverno/suites/4613101761/artifacts/124717509) on [this Github Action](https://github.com/kyverno/kyverno/actions/runs/1561936005)

We now just have to upload this on our sbom CR by following the given steps:
- Download the SBOM artifact in your pwd
- Make sure there's no other SBOM in the pwd
- Now run the

[2021-12-16 10:47] Namanl2001 commented on #2837
This could be a better option [https://github.com/blang/semver/]
because of the features, it provides [https://github.com/blang/semver/#features]

[2021-12-16 13:15] aleksrosz opened #2847 "Notification for user about not passing policy"
**Is your feature request related to a problem? Please describe.**
I think it should be good to have notification for user when validationFailureAction is set to "audit". It is good solution to show for users that they are doing something wrong and it can be enforced in future.

**Describe the solution you'd like**
spec:
  validationFailureAction: audit
  showWarning: true

 Then if policy is not

[2021-12-16 13:15] chipzoller commented on #2843
Yes, adding `nodes/status` to the webhook config doesn't seem to make a difference. Kyverno sees the AdmissionReview request come in. It applies the mutation, but it's patching to patch for `node` and not `node/status`. So Kyverno needs to understand to patch the subresource if the rule body operates on `.status`.

[2021-12-16 14:40] realshuting commented on #2847
Should be same as https://github.com/kyverno/kyverno/issues/1127.

[2021-12-16 17:31] realshuting commented on #2818
Hi @ikatolkar - any updates on this?

[2021-12-16 18:39] fgharo opened #2849 "Checking for not null fields"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.0+75370d3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): CodeReadyContainers/Openshift
* Kyverno version: v1.5.0-rc1-150-gc8e5750c

**Describe the bug**
I applied a similar ClusterPolicy to here https://kyverno.io/policies/best-practices/require_probes/require_

[2021-12-16 18:52] chipzoller commented on #2849
Quote the `!null` value:

[code]

[2021-12-16 19:58] fgharo commented on #2849
I just tried that now but got same exact result.

[2021-12-16 20:34] chipzoller commented on #2849
It works here with a policy in enforce mode. Try again on the latest version.

[2021-12-16 21:13] vikas027 commented on #2840
this works fine, maybe we need to add `enabled` in the [podDisruptionBudget](https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml#L55) defined in the yaml file.

[2021-12-16 21:13] #2840 closed

[2021-12-16 21:28] fgharo commented on #2849
I am following installation guide here:
https://kyverno.io/docs/installation/

Initially I was pointing at latest
https://raw.githubusercontent.com/kyverno/kyverno/main/config/release/install.yaml
but looks like that gave me Kyverno version: v1.5.0-rc1-150-gc8e5750c

so I pointed to
https://raw.githubusercontent.com/kyverno/kyverno/release-1.5/definitions/release/install.yaml
which has in the yaml

[2021-12-16 21:40] fgharo commented on #2849
One other point that should be mentioned is, when I ran the 1.5.2 version, the Deployments were already running. This shouldn't make a difference. The crucial point is Kyverno is saying that a Pod with livenessProbe doesn't have the livenessProbe and this is a contradiction.

For curiosity, I deleted Deployment goodexample1 and reapplied it and got the following error:
[code]

But again goodexampl

[2021-12-16 22:04] chipzoller commented on #2849
The raw manifest always defines tag `latest`. The version string ing the logs doesn't always get updated with upstream images, which I'm guessing is where you're getting `v1.5.0-rc1-150-gc8e5750c`.

My mistake, I gave bad advice. Try like this, which I validated on both your Deployments.

[code]

[2021-12-16 22:40] fgharo commented on #2849
Ok. I will try that out when I get back to my desk.

[2021-12-17 00:16] fgharo commented on #2849
@chipzoller Looks like that worked for me. For both enforce and audit.

Here are the results:
[code]

[code]

So I think we can close this. However, I did find something strange. Notice the Rule referenced in the results is autogen-validate-livenessProbe.

I noticed in the actual ClusterPolicy resource it automatically got 2 other exclusions (1 for controllers [DaemonSet,Deployment, Job, StatefulS

[2021-12-17 00:17] chipzoller commented on #2849
Yes, this is by design. Check the docs for the auto-gen capability.

[2021-12-17 00:19] fgharo commented on #2849
Okay. Well I am satisfied for now. Thanks!

[2021-12-17 00:19] #2849 closed

[2021-12-17 02:46] #2826 closed

[2021-12-17 03:24] zhendongcmss opened #2850 "[BUG] kyverno doesn't control image register path"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.18.5-dirty
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): centos 7.6
* Kyverno version: v1.4.3

**I want to deny image registers that are without registry.paas/ prefix. but the polices don't work.**

Polices:
[code]

Create Deployment test.yaml
[code]

[code]

[2021-12-17 04:39] realshuting commented on #2755
Ok, added to 1.6 milestone. And the release guide can be tracked via https://github.com/kyverno/website/pull/427.

[2021-12-17 05:03] #2755 closed

[2021-12-17 05:51] zhendongcmss commented on #2850
I try the same polices on another cluster. k8s version is: v1.20.5
The polies always deny no matter the image register what it is.

[code]

[2021-12-17 06:03] vyankyGH commented on #2850
@zhendongcmss Can you please try this policy

[code]

[2021-12-17 06:31] #2322 closed

[2021-12-17 07:04] franznemeth opened #2851 "[BUG] CustomResourceDefintions have hardcoded app.kubernetes.io/managed-by: Kustomize label"
**Software version numbers**
1.5.1

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:

**Describe the bug**
I am using rancher fleet to roll out the kyverno helm chart. Since fleet checks whether resources it deployed were modified after its deployment I noticed that all of the customResourceDefinitions have a hardcoded label `app.kubernetes.

[2021-12-17 12:02] fourstepper commented on #2761
I would like to know how the workflow in 1.5 is supposed to work now, especially in regards to the kube-system and kyverno namespaces. If I specify in the policies for a particular namespace to be excluded, the admission webhook won't even check for API calls from those namespaces?

[2021-12-17 13:43] damienleger opened #2853 "[BUG] spam in the logs in EKS: "msg"="could not parse crd schema" "error"="crd schema has no properties" "name"="ENIConfig""
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.2

**Describe the bug**

Message such as: `E1217 13:23:08.041615       1 crdSync.go:179]  "msg"="could not parse crd schema" "error"="crd schema has no properties"  "name"="ENIConfig"` are spam in the logs in EKS on a fresh kyverno install without pol

[2021-12-17 13:58] chipzoller commented on #2129
This issue is still impacting mutation rules.

[code]

`newpod.yaml`
[code]

Apply the `newpod.yaml` manifest and see the different errors returned before it's finally accepted (yet not mutated).

[code]

Output of the resulting Pod. Notice that not only was the `TIMEOUT_SEC` env var not added to the `dockle-scanner` container, but two of the existing env vars have been removed when compared to th

[2021-12-17 14:00] damienleger opened #2854 "[BUG] drop-all-capabilities policy spam in the logs: context "msg"="JMESPath search failed" "error"="Invalid type for: <nil>, expected: []jmespath.JpType{\"string\", \"array\", \"object\"}" "query"="request.oldObject.spec.initContainers[] | length(@)"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.2

**Describe the bug**

Apply drop-all-capabilities result in log spam like ` E1217 13:53:15.882610       1 evaluate.go:43] context "msg"="JMESPath search failed" "error"="Invalid type for: <nil>, expected: []jmespath.JpType{\"string\", \"array\", \"

[2021-12-17 14:26] chipzoller commented on #2854
This is covered by https://github.com/kyverno/kyverno/issues/2665 so closing this but linking.

[2021-12-17 14:26] #2854 closed

[2021-12-17 14:30] chipzoller commented on #2853
In the future, it's preferable to use copy-and-paste for text into code blocks. Not only is it more readable, but it allows issues to be searched with key words found within.

[2021-12-17 14:37] RinkiyaKeDad commented on #1959
Should I close this issue since there's a bot in place now? For context, Prow would've been the ideal choice, but we faced a lot of problems deploying it.

The deployment process was fairly complicated since there are a lot of components part of Prow. We were having a hard time understanding the architecture of Prow due to its complexity.

The documentation was also incomplete then and not easy to

[2021-12-17 15:57] damienleger commented on #2853
Hello @chipzoller, thanks for reply. What text are you referring to? The aws-node CRD manifest?
Because I've added the error message as text in both title & body message. I've just added a screenshot of the logs to illustrate the spam. If it's about CRD let me know I can copy/paste as code block no problem.

[2021-12-17 16:21] chipzoller commented on #2853
That and the log output pasted in a code block means searches will return those results.

[2021-12-17 16:57] chipzoller opened #2857 "[CLI] Test manifest to support `results[].resource` list values"
**Is your feature request related to a problem? Please describe.**
The manifest format used in the `test` command requires separate entries in the `results[]` field for each resource. This means test manifests can get rather lengthy with many resources being tested for a single policy and rule combination.

**Describe the solution you'd like**
Support for the `results[].resource` field to be a lis

[2021-12-17 17:07] damienleger commented on #2853
@chipzoller bug report edited!

[2021-12-17 22:42] JimBugwadia opened #2858 "[BUG] Policy reports are not generated"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Minikube
* Kyverno version: 1.6.x

**Describe the bug**
A clear and concise description of what the bug is.

Installed the latest Kyverno. I see this error in the logs when Kyverno is trying to generate a policy report. Not sure why the e2e role is being used.

[code]

**To Repr

[2021-12-17 23:26] zosocanuck opened #2859 "Verification of cosign attestations"
**Software version numbers**
sigstore/cosign:latest
ghcr.io/kyverno/kyverno:latest

* Kubernetes version: 1.22.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): minikube
* Kyverno version: latest

**Describe the bug**
Attempting to test cosign attestation verification in kyverno however getting the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Sign

[2021-12-18 00:27] JimBugwadia commented on #2859
Hi @zosocanuck - I decoded the base64 payload and here is what the JSON returned by Cosign looks like:

[code]

So looks like the Cosign predicate type (cosign.sigstore.dev/attestation/v1) adds some additional fields whereas when a custom type is used the predicate from the file is used as is.

To make the policy match, please use the attestation check as follows:

[code]

[2021-12-18 00:27] JimBugwadia commented on #2859
With the change above, here is what I see:

[code]

[2021-12-18 14:49] chipzoller commented on #1933
I think we need to bump this up in the priority list for next releases, @realshuting

[2021-12-19 14:27] chipzoller opened #2861 "[CLI] Support for Roles, ClusterRoles, and Subjects"
**Is your feature request related to a problem? Please describe.**
CLI doesn't support these things making `match` | `exclude` statements impossible to test.

**Describe the solution you'd like**
Support them in either a `values.yaml` file or a new type of file (schema change if so).

[2021-12-20 02:44] zhendongcmss commented on #2850
hi @vyankyGH ， I try it. It worked as excepted. The `kinds `only has one key `Pod`. It doesn't worked as excepted when I add `Deployment ` `Statefulset ` `Daemonset` to `kinds`.

[2021-12-20 05:49] vyankyGH commented on #2850
OKay. But it should work. Because autogen should work on this policy.
can you please share result of
kubectl get cpol disallow-latest-tag -o yaml result. and if possible deployment yaml to.

[2021-12-20 06:31] realshuting commented on #1959
Hi @RinkiyaKeDad - thanks for getting back! We need a bot to add milestone labels for PRs. I changed the issue title to be more accurate.

@Anita-ihuman - will you be able to help add the bot?

[2021-12-20 07:36] realshuting commented on #2805
Hi @MaxFedotov - I cannot reproduce the same issue on Kind 1.23.0 cluster, this is what I did:
1. install Kyverno 1.5.2 with 2 replicas
2. install the policy
3. exec into Kind node and kill etcd
4. log from kyverno leader, it lost leadership due to timeout:
[code]
5. log from non-leader pod, became the leader after:
[code]
6. create the namespace (after ~5s, 3 replicas is recommended due to https:

[2021-12-20 07:37] vyankyGH opened #2863 "[BUG] Regex not working properly in Foreach mutate policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.22
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Local Cluster
* Kyverno version: latest

**Describe the bug**
Policy.yaml

[code]

Resource.yaml

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install  the policy
2. apply reources
3. incorrect mutat

[2021-12-20 07:37] realshuting commented on #2705
The fix is merged to the 1.5 branch via #2845. Re-assigning to @ShubhamPalriwala for any further changes.

[2021-12-20 07:43] realshuting commented on #2818
Hi @ikatolkar - we increased the default memory request and limit in this PR https://github.com/kyverno/kyverno/pull/2862.

Closing until further notice.

[2021-12-20 07:43] #2818 closed

[2021-12-20 08:31] zhendongcmss commented on #2850
**1. not work yaml**

[code]

[code]

**2. work yaml**

[code]
[code]

[2021-12-20 09:24] #2825 closed

[2021-12-20 09:49] vyankyGH commented on #2850
@zhendongcmss I can see that autogen rule are not get created for apply policy.
This is the my yaml after installing policy.
as there are 2 extra rule created for DaemonSet, Deployment,Job, StatefulSet and cronJob

Can you please try to reinstall the policy which we mentioned above and check autogen rules get created or not.

[code]

OR still got get created Please test following policy..

[code]

[2021-12-20 18:49] Boojapho opened #2865 "Env mutate removes image on CronJob"
Kyverno 1.5.1

1. Apply the following Cluster Policy:  https://raw.githubusercontent.com/kyverno/policies/main/other/mitigate_log4shell/mitigate_log4shell.yaml

1. Apply the following pod:
[code]

Result:
`The CronJob "test" is invalid: spec.jobTemplate.spec.template.spec.containers[0].image: Required value`

Expected:
The CronJob is installed.  If the policy is removed, the CronJob will install c

[2021-12-20 18:52] Boojapho commented on #2865
Nothing unusual in the Kyverno logs:
[code]

[2021-12-20 19:02] chipzoller commented on #2865
Confirmed on Kyverno 1.5.2. The problem is only present on a CronJob. A Deployment (ex.) mutates correctly.

[2021-12-20 20:38] MaxFedotov commented on #2805
hi @realshuting, was able to reproduce with Kyverno 1.5.2.

Sometimes 30 sec sleep is not enough to reproduce it, you can try to increase the timeout in this command
[code]
to 40-50 seconds.

[2021-12-20 22:27] zswanson commented on #2853
I'm seeing the same thing on a fresh install of kyverno 1.5.2 in EKS with vpc-cni plugin enabled.

[2021-12-21 03:04] realshuting commented on #2524
Hi @luigizhou - were you able to test with `GOGC=25`?

I created 10.2k ConfigMaps in my cluster and the memory usage is around 350Mi, I don't see any increase with this setup.

[2021-12-21 03:09] realshuting commented on #2805
I increased to 50s sleep but couldn't reproduce the issue. While I'm testing different scenarios, @MaxFedotov - can you please share the following (before and after the Kyverno pod restarts)?

1. `kubectl -n kyverno get lease`
2. `kubectl -n kyverno get secrets`
3. logs for all Kyverno containers

Just to make sure, Kyverno was installed using [self-signed CA and certificate](https://kyverno.io/do

[2021-12-21 05:45] realshuting commented on #2762
Closed via #2855 contributed by @franznemeth 🎉

[2021-12-21 05:45] #2762 closed

[2021-12-21 07:17] JimBugwadia opened #2866 "CLI test support for verifyImages.attestations"
**Is your feature request related to a problem? Please describe.**

Attestations can be complex e.g. SBOMs. It would be nice to test via the CLI.

**Describe the solution you'd like**

Support passing in attestations as JSON for testing with the CLI.

[2021-12-21 07:24] JimBugwadia commented on #2194
Hi @viveksahu26 - apologies, had missed your note earlier.

Yes, that seems correct for the `kyverno apply` command.

We may want to do something differently for the `kyverno test` command, to see if we can test without requiring an image registry.

[2021-12-21 07:26] JimBugwadia commented on #2866
Also see: https://github.com/kyverno/kyverno/issues/2194.

[2021-12-21 07:46] JimBugwadia commented on #2859
@zosocanuck - were you able to successfully complete the flow?

[2021-12-21 11:03] hulucc commented on #2843
I need this too

[2021-12-21 12:55] #2863 closed

[2021-12-21 12:56] #2851 closed

[2021-12-21 13:35] anushkamittal20 commented on #2359
Hey, @dkulchinsky I have added a few fixes as well as built an image compatible with 1.5.2 (from the release branch).
[here is the link](https://github.com/users/anushkamittal20/packages/container/package/kyverno)
Please do test and let me know, so we can include this in 1.6.0.

[2021-12-21 13:37] anushkamittal20 commented on #2813
Hi @chipzoller
Is there anything you would like me to do here?
Thank you very much.

[2021-12-21 14:05] chipzoller commented on #2813
If everything is already covered, I don't think so. But just link in whatever PR (even if merged) has this functionality for historical purposes, please.

[2021-12-21 14:11] dkulchinsky commented on #2359
I rolled out this image in our sandbox cluster, so far it looks good.

can you share the PR with the changes in this image? I don't feel too comfortable running software that I can't examine the code (even if it's in our sandbox)

[2021-12-21 14:11] realshuting commented on #2796
Hi @MaxRink - can you help me further understand the issue:
- >For an upgrade CAPI replaces nodes one by one.

  During CAPI upgrade, were you able to monitor Kyverno pods' status? Did they get re-scheduled to new nodes and become ready & running?
- Did you have any policy installed? If so, what were the matching resource kinds?
- >Manually deleting the kyverno validating webhook allows the cluste

[2021-12-21 14:12] vyankyGH commented on #2850
@zhendongcmss this policy works for you?

[2021-12-21 14:23] realshuting commented on #2796
[code]

From this log, I can the failurePolicy for the validating webhook is set to fail, which will reject requests if no response.

One thing worth verifying is to change all policies `failurePolicy` to `Ignore` to update webhook's failurePolicy, you can change it by updating `<Policy/ClusterPolicy>.spec.failurePolicy` to `Ignore`.

[2021-12-21 16:30] zswanson commented on #2570
I just got bit by this too, took me awhile to figure out what the problem was. While it *is* documented that this is a limitation, the majority of the documentation implies to a new user that this should work 'as is' for existing resources, and none of the example policies point this use-case out.

I'd be in favor of an attribute on the Policy/ClusterPolicy or even a command-line option to the con

[2021-12-21 16:39] Namanl2001 commented on #2837
closing via #2846

[2021-12-21 16:39] #2837 closed

[2021-12-21 16:46] realshuting commented on #2524
I think I'm able to reproduce the issue with Kyverno 1.5.2. Will test 1.5.1 with the same setup tomorrow and post updates.

[2021-12-21 17:46] JimBugwadia commented on #2586
Hi @luhring - I have some questions on these two items from your comment above (https://github.com/kyverno/kyverno/issues/2586#issuecomment-951887533):

...
- a file's digest matches expectations
- (we want to add this to Syft soon) a package's signature is valid

Do you envision these checks being performed during admission controls, or being done centrally / in the pipeline, and added as additio

[2021-12-21 19:49] JimBugwadia commented on #2859
@zosocanuck - closing this. Please re-open if there are any follow-ups or additional items.

[2021-12-21 19:49] #2859 closed

[2021-12-22 00:07] luhring commented on #2586
That's a good question. I could see either, depending on when "the right answer" is known.

Looking at specifics...

Some package ecosystems have a way to express the files associated with a "package" and the files' expected digests. In this case, the SBOM generator would be able to assert in the SBOM that the _real_ files found in the container image matched the expected digests noted in the ecos

[2021-12-22 01:15] zhendongcmss commented on #2850
I apply the policy you give me, but apply failed. My kyverno is v1.4.3
[code]

[2021-12-22 03:48] hulucc opened #2868 "[BUG] mutate finalizers not working"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.4
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): aliyun
* Kyverno version: 1.5.1

**Describe the bug**
finalizers mutation has no error and no effect.

**To Reproduce**
Steps to reproduce the behavior:
[code]
then create pod

**Expected behavior**
finalizers add

[2021-12-22 04:05] vyankyGH commented on #2850
@zhendongcmss Can you please update kyverno to latest release? and test once.

[2021-12-22 11:15] vyankyGH commented on #2243
@chipzoller @sjentzsch
Here is the working policy

Policy.yaml
[code]

Tested with resource
[code]
Output.yaml
[code]

[2021-12-22 12:07] sachinar opened #2869 "Error from server (InternalError): Internal error occurred: failed calling webhook "validate.kyverno.svc-fail": Post "https://kyverno-svc.kyverno.svc:443/validate?timeout=10s": context deadline exceeded"
We are using kyverno 1.5.2 in our kubernetes cluster i.e GKE cluster : v1.20.10
Getting this error while deleting or creating pod.

Please let us know how we can resolve this issue. We alreday enabled 9443 port in firewall

[code]

[2021-12-22 12:55] Namanl2001 commented on #2866
[code]
in above type of key how can we extract `components[?name == 'httpclient'].version `from`semver_compare` func?

[2021-12-22 13:23] prateekpandey14 commented on #2821
(Forget to update the result earlier so performed the tests again.)
Even i tried with using api, able to successfully create the ephemeral privileged container against the disallowed priviledged containers cluster policy. @chipzoller did it worked in your test ?

Here are the configs.

[code]

[code]

[code]

[2021-12-22 13:35] chipzoller commented on #2821
Yes, it works for me. Show your ephemeral container resource, please.

[2021-12-22 13:48] chipzoller commented on #2821
Using the same policy and with this violating resource:

[code]

[code]

You can see the violating path at `/spec/ephemeralContainers/0/securityContext`.

In the violating ephemeralContainer above, change `privileged: false` so it no longer violates. Re-try creation.

[code]

Resource is created.

Verify creation.

[code]

Successful.

[2021-12-22 14:24] realshuting commented on #2868
Would be interesting to find out how `finalizers` tag is managed.

The other related issue is to patch `.status` using mutating webhook https://github.com/kyverno/kyverno/issues/2843#issuecomment-998684953.

[2021-12-22 14:27] realshuting commented on #2869
Hi @sachinar - can you provide more details for your issue?

- Do you have any policy installed?
- What's the result of the first symptom on this troubleshooting [page](https://kyverno.io/docs/troubleshooting/)?
- Can you share Kyverno log?

[2021-12-22 14:32] sachinar commented on #2869
@realshuting,
1. Yes i have installed  policies helm chart as well.
2. For this I already did some first level of deugging. Like checking older issues and went to troubleshooting page.
3. Logs can be found below

[code]

[2021-12-22 14:45] Boojapho opened #2872 "[BUG] Precondition for non-existent key produces error"
**Software version numbers**

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3D
* Kyverno version: 1.5.1

**Describe the bug**

Attempting a precondition like [`request.object.spec.initContainers[] | length(@)`](https://github.com/kyverno/policies/blob/main/best-practices/require_drop_all/require_drop_all.yaml#L33) results in a error rather than succ

[2021-12-22 15:15] realshuting commented on #2869
Can you also share the results of the following commands?
[code]

[code]

[2021-12-22 15:16] prateekpandey14 commented on #2821
here , Its same as your example

[code]

[2021-12-22 15:23] chipzoller commented on #2821
Just tried it with a 1.22 cluster enabling that feature gate using your Pod example and I get the intended result:

[code]

[2021-12-22 15:24] vyankyGH commented on #2243
Can test with following image : vyankatesh/kyverno:foreach-multicontainer

[2021-12-22 15:25] vyankyGH commented on #2868
Sure @realshuting
Will update on this. We

[2021-12-22 15:31] prateekpandey14 commented on #2821
I am trying in k8s 1.23 which has featuregate enable by default , let me check whatis the issue.

[2021-12-22 15:36] chipzoller commented on #2821
What are you using, KinD?

[2021-12-22 15:38] chipzoller commented on #2872
Same issue as https://github.com/kyverno/kyverno/issues/2665

[2021-12-22 15:41] prateekpandey14 commented on #2821
I am using locally k8s build on 1.23 release  branch, and running them as a binaries using a script in kubernetes codebase (local-cluster.sh), i will try with KinD as well once.

[2021-12-22 15:50] chipzoller commented on #2821
Ultimately it shouldn't matter, but I'll try with KinD myself.

[2021-12-22 16:00] chipzoller commented on #2821
Just tried this on KinD with node image 1.23.0 and Kyverno 1.5.2 and I get identical (desired) behavior. It's something on your end.

[2021-12-22 16:14] sjentzsch commented on #2243
Hi @vyankyGH works like a charm, just tested it with your image !

However, I found a strange inconsistency between `containers` and `initContianers` I cannot explain:

When using your pod spec extending it with `initContainers` as follows:
[code]
... also extending your policy respectively ...

[code]

I find the following output:
[code]

Why is there a different behavior?

This seems to be only

[2021-12-22 16:34] sachinar commented on #2869
[code]

[2021-12-22 16:48] vyankyGH commented on #2243
I will take a look.

[2021-12-22 17:17] prateekpandey14 commented on #2821
Right, tried in Kind 1.23 based cluster and it did work as expected

[code]

[2021-12-22 18:35] Boojapho commented on #2872
Closing as this is duplicated in issue mentioned above.

[2021-12-22 18:35] #2872 closed

[2021-12-22 19:21] awoodsprim commented on #2179
We have run into this problem ("Timeout registering admission control webhooks") on startup.  After becoming the leader, the pod tries to update the webhook configuration and fails with this message, shutting down.  This means that Kyverno never gets to a stable state.

We aren't 100% sure (we aren't go experts), but evidence points to our issue being related to having Failed pods for reason "Shut

[2021-12-22 20:06] Boojapho commented on #2665
Potential workaround:

Use the function `not_null` in JMESPath to return the first non-null value:

[code]

[2021-12-22 20:57] fgharo opened #2873 "Date or Timestamp processing"
**Is your feature request related to a problem? Please describe.**
I am trying to figure out how old an image was built. This could be X number of days based off date or timestamp field in the kubernetes images resource. I tried looking through the Kyverno documentation and couldn't find any existing jmesPath functions or kyverno augmented functions that can compute number of days a Date or timest

[2021-12-22 22:54] JimBugwadia commented on #2873
Hi @fgharo - this is a neat idea and would make a great sample policy!

A JMESPath custom function `time_since` was recently added by https://github.com/kyverno/kyverno/issues/2606 and will be released in 1.6.0.

Note that Golang's duration does not parse a `60d` as the length of the day can vary. Correct but debatable choice - details here: https://github.com/golang/go/issues/11473.

[2021-12-22 23:55] fgharo commented on #2873
@JimBugwadia
So if I wanted to translate that logic for this Policy would I do something like,
[code]

Is it possible to leave off the empty string? `time_since(RFC3339, imageBuildDate)`
When will 1.6.0 be available?
Is there any already built images I can consume to test this out? Or do I have to build this release from scratch?

[2021-12-23 00:09] blueice123 commented on #2853
I also found the same problem.

[2021-12-23 00:43] chipzoller commented on #2665
Only works if >0 values are non-null, otherwise null is still returned.

[2021-12-23 02:44] sachinar commented on #2869
@realshuting Now Kyverno pod also throwing an error

[code]

[2021-12-23 03:35] realshuting commented on #2179
@awoodsprim - can you share logs for all Kyverno pods? Was Kyverno functioning before?

[2021-12-23 03:45] realshuting commented on #2869
Can you also describe the endpoint?

[code]

[2021-12-23 03:52] realshuting commented on #2873
Hi @fgharo - here's the latest image `ghcr.io/kyverno/kyverno:1.6-dev-13-g2be70a50`.  You can always pull and test the latest image with the tag `1.6-dev-latest` ( \<current-major\>.\<current-minor\>-dev-latest).

[2021-12-23 06:54] realshuting commented on #2796
And, were you running HA or just single instance of Kyverno?

[2021-12-23 07:20] JimBugwadia commented on #2873
No, unfortunately not. The three params need to be provided.

Also, `60d` will not work due to the Golang limitation I mentioned above. It needs to be expressed as `1440h`.

[2021-12-23 10:04] sachinar commented on #2869
[code]

[code]

[2021-12-23 10:42] damienleger commented on #2674
Same issue for me with kyverno 1.5.2 on EKS 1.21 with ~300 pods on a namespace

[2021-12-23 17:36] paul-bormans commented on #2865
Seeing this issue as well; is there any workaround available?

[2021-12-23 17:42] ojhaarjun1 commented on #2865
Rebuilding Kyverno with upgraded k8s libraries should fix it, see #2870.

[2021-12-23 17:59] paul-bormans commented on #2865
Thanks for the swift response; we'll wait for the next (upcoming?) release then ;-)

I'm not familiar with the project nor with Go but I fail to understand how a single mutate rule on Env's can affect the image field? Then also what's the risk it touches other fields we don't know of yet? Also is there a verbose/debug option to make transformations visible to the outside? It would help to confirm

[2021-12-23 18:21] ojhaarjun1 commented on #2865
It's scheduled for the next patch release.

The issue is more general. There's a fix in how missing fields are being handled in the dependencies (can't seem to find the release notes).

You can check the resource once it has gone through mutation. Logging the change is a bit insecure IMO.

[2021-12-23 18:39] fgharo commented on #2873
@realshuting I was using kyverno 1.5.2. If I use 1.6-dev-13-g2be70a50 should I use it with the initContainer as well?

For instance, with the manifest installation on the kyverno installation page https://kyverno.io/docs/installation/#install-kyverno-using-yamls would I switch out the images of the given Deployment as shown below?

[code]

@JimBugwadia Thanks for clarifying.

[2021-12-24 03:55] #2858 closed

[2021-12-24 09:41] ozcb commented on #2869
On `EKS 1.19` and `kyverno v1.5.2` I faced with the same issues. (Asked about this in kyverno slack channel  https://kubernetes.slack.com/archives/CLGR9BJU9/p1640100675423600)

[2021-12-24 15:40] sachinar commented on #2869
@realshuting How to exclude namespace in policies?

[2021-12-24 15:44] chipzoller commented on #2869
https://kyverno.io/docs/writing-policies/match-exclude/#exclude-kube-system-namespace

[2021-12-24 16:37] chipzoller opened #2877 "[BUG] Kyverno CLI test cases fail incorrectly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.2

**Describe the bug**
Test cases fail in the CLI while working as expected in the webhook.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my temp repo for PSS rewrites [here]

[2021-12-24 21:24] chipzoller opened #2878 "[BUG] Kyverno CLI test results incorrect when testing large batch of resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.2

**Describe the bug**
When comparing the test results of a large number of resources split across two rules, there are incorrect results which test differently if the resources for each r

[2021-12-24 21:27] chipzoller commented on #2878
Related to https://github.com/kyverno/kyverno/issues/2877

[2021-12-24 22:14] huangjiasingle commented on #1832
dynamicinformer must big than sharedInfomer, because dynamic do struct to unstruct and unstruct to struct transform.

[2021-12-24 22:27] huangjiasingle opened #2879 "[BUG] reflect use default page listAndWatch ConfigMap failed, when configmap's num and configmap's data is big"
**Software version numbers**
State the version numbers of applications involved in the bug.
v0.21.2
* Kubernetes version: v1.19.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:

**Describe the bug**
A clear and concise description of what the bug is.
in my pro k8s env has 1500 configmap, but config map's data is big, use sharedInformer and the informer assemb r

[2021-12-25 23:10] JimBugwadia opened #2880 "Sign kyverno images with digest not tags"
**Is your feature request related to a problem? Please describe.**

Currently Kyverno images are signed using a tag, which is mutable.

**Describe the solution you'd like**

Sign Kyverno images with digest.

**Additional context**

https://chainguard.dev/posts/2021-12-01-zero-friction-keyless-signing

[2021-12-25 23:11] JimBugwadia opened #2881 "Add versions / tags for Kyverno SBOMs"
**Is your feature request related to a problem? Please describe.**

Kyverno has an SBOM for the latest image, but not per version / tag.

**Describe the solution you'd like**

Create SBOMs for each version / tag

**Additional context**

See https://github.com/kyverno/kyverno/pull/2845.

[2021-12-25 23:13] JimBugwadia opened #2882 "Switch to keyless signing and verification for Kyverno images"
**Is your feature request related to a problem? Please describe.**

Kyverno is currently signing its images with a public / private keypair.

**Describe the solution you'd like**

Switch to `keyless` image signing and publish a corresponding verification policy

**Additional context**

https://github.blog/2021-12-06-safeguard-container-signing-capability-actions/

https://chainguard.dev/posts/2021

[2021-12-27 09:37] sachinar commented on #2869
Now application itself giving an error.

[code]

[2021-12-27 14:47] chipzoller commented on #2869
@sachinar this is a GKE cluster, so have you followed this instruction on the Troubleshooting page:

[2021-12-27 14:50] chipzoller opened #2883 "Kyverno and EKS issue"
On `EKS 1.19` and `kyverno v1.5.2` I faced with the same issues. (Asked about this in kyverno slack channel  https://kubernetes.slack.com/archives/CLGR9BJU9/p1640100675423600)

_Originally posted by @ozcb in https://github.com/kyverno/kyverno/issues/2869#issuecomment-1000755031_

[2021-12-27 14:50] chipzoller commented on #2883
@ozcb are you still having this issue?

[2021-12-27 17:41] anushkamittal20 commented on #2813
Hey, @chipzoller missed this.
I will link the recent PRs dealing with this.

[2021-12-28 04:26] sachinar commented on #2869
@chipzoller I already did what you said.

[2021-12-28 06:59] #2460 closed

[2021-12-28 08:17] anushkamittal20 commented on #2359
Definitely @dkulchinsky
I made a few more changes and added logs.
I will make the PR today.

[2021-12-28 11:25] parkwart commented on #2883
which cni are you using? something with an overlay network aka weave / calico with ippools?

[2021-12-28 13:13] chipzoller commented on #2869
Can you provide precise instructions on how you created this GKE cluster and with all settings and their values?

[2021-12-28 13:46] sachinar commented on #2869
@chipzoller  We have `preemptible vm` enabled in our dev clusters when nodes goes down then kyverno service pod get evicted/shutdown. I see there is dependency in cluster that `kyverno pod should be running` while other namespaces pods are coming up. I have added exclusion in policies like this in cluster but no luck.

[code]

If kyverno pod is not running then our all cluster components fails to

[2021-12-28 14:00] realshuting commented on #2873
This tag was pushed for both images, but initContainer barely changes.

[2021-12-28 14:01] chipzoller commented on #2869
We're conflating two issues here. The first is Kyverno failing to run in the cluster, the second is failure policy on the webhooks. Let's stick with the first problem in this issue, please. We know Kyverno does work in GKE as evident by dozens of users who deploy it there. If it's not in your case, we need to understand exactly how this cluster was created so we can try and reproduce it. We need t

[2021-12-28 14:01] realshuting commented on #2865
Closed via #2870.

[2021-12-28 14:01] #2865 closed

[2021-12-28 14:02] realshuting commented on #2865
@ojhaarjun1 - do we have a dev image for @paul-bormans to verify?

[2021-12-28 14:07] sachinar commented on #2869
@chipzoller We are able to run `kyverno` on cluster but it fails when `Google` removes `preemptible nodes`
Then we are getting this error

[code]

I dont think that these are 2 different issues. This can be accumulated  as one issue.

[2021-12-28 14:09] chipzoller commented on #2869
If it's removing a node which is running a Kyverno Pod, you have two choices: 1) run multiple replicas of Kyverno or 2) place the Kyverno Pods on non-preemptible nodes.

[2021-12-28 14:15] sachinar commented on #2869
@chipzoller I already tried `1st` solution faced same issue, sometime `google` removes multiple nodes at a time.
For `2nd` soultion we can not implement it in `dev env's`. For `prod env's` we already have non preemptible nodes bt for `dev env's` we can't. This is been in POC stage. We yet to finalise this can go to prod or not.

[2021-12-28 14:20] chipzoller commented on #2869
(There's no need to continually mention me; I see replies automatically.)

You will need to use node anti-affinity in Kyverno with multiple replicas to ensure they are distributed. You will also need to ensure, via whatever mechanisms are at your disposal, that multiple nodes are not killed simultaneously which contain Kyverno Pods. With multiple replicas, if one Kyverno Pod is killed, another sho

[2021-12-28 14:22] #2821 closed

[2021-12-28 15:12] #2812 closed

[2021-12-28 15:34] JimBugwadia commented on #2726
@chipzoller - I am implementing and trying to understand the example in the linked discussion:

Here is the policy referenced:

[code]

So, in this case is the intent to loop over all containers for each pod that contains an emptyDir volume? Shouldn't it only check the container that has an emptyDir volume?

The way I implemented this is to allow setting a boolean `elementScope` which defaults to

[2021-12-28 15:42] chipzoller commented on #2726
Yeah, ideally it should only check those which do mount the emptyDir volume.

Maybe what you have is good enough. If users had the ability to define an arbitrary JMESPath expression, what are the chances it would need to operate somewhere outside `request.object`? Seems that `request.object` would be the highest operable level.

[2021-12-28 16:10] JimBugwadia opened #2885 "Use "Kyverno" as the event source"
**Is your feature request related to a problem? Please describe.**

We are currently using the following sources for events

- admission-controller
- policy-controller
- generate-policy-controller

https://github.com/kyverno/kyverno/blob/4d70013e22589bbc6cd9df8890998c23081bae8f/pkg/event/source.go

[code]

Not sure if these names are intuitive to end users.

**Describe the solution you'd like**

U

[2021-12-28 16:15] chipzoller commented on #2885
Related #2160

[2021-12-29 12:53] patrickdung opened #2888 "Please provide the kyverno cli for arm64 platform"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In the [CLI release binaries](https://github.com/kyverno/kyverno/releases), it has Linux amd64.
I have seen the docker images for arm64 is provided.
Would this project also provide the arm64 cli binary for download?

Thanks.

[2021-12-29 15:39] realshuting commented on #2524
The memory issue was reproduced with a different setup:

With 80 CronJobs (across 8 namespaces) and default kyverno-policies chart installed, the memory was increased from ~700Mi to ~1500Mi in 4h, tested with latest main `1.6-dev`. The fix is sent via https://github.com/kyverno/kyverno/pull/2889.

[2021-12-29 16:20] ozcb commented on #2883
Hi @parkwart I'm using `vpc-cni` only.

[2021-12-29 16:34] #2330 closed

[2021-12-30 08:29] realshuting commented on #2674
Hi @damienleger @voyvodov - were your pods managed by pod controllers? i.e., Deployment, Job, etc.

If so, the issue should be fixed by https://github.com/kyverno/kyverno/pull/2889 and https://github.com/kyverno/kyverno/pull/2890, you can verify the fix using the image tag `1.6-dev-latest`.  The fix will also be in 1.5.3.

[2021-12-30 08:39] realshuting commented on #2179
@nlamirault - this issue was fixed in 1.5.2 via https://github.com/kyverno/kyverno/pull/2757.

[2021-12-30 09:04] RolandOtta opened #2892 "installing kyverno with gke config sync results in https://g.co/cloud/acm-errors#knv1045"
we are currently running gke 1.21.5-gke.1302 and are managing our infrastructure with config sync https://cloud.google.com/anthos-config-management/docs/how-to/installing-config-sync

when trying to install the manifest from https://raw.githubusercontent.com/kyverno/kyverno/release-1.5/definitions/release/install.yaml with config sync we are getting the following error from the config sync reconci

[2021-12-30 09:23] ozcb commented on #2883
Hi @chipzoller ,
I tried your suggestion , but still have same error:
[code]

[2021-12-30 12:16] realshuting commented on #2179
Hi @awoodsprim - I did a few tests and was able to reproduce the same issue using the Kind cluster. The issue is related to how the node shuts down. Here are the tests I did:

#### Test 1: running 1 Kyverno instance, remove a k8s node by "kubectl delete node <name>"

With this test, the old pod was terminated and the new old was rescheduled to `kind-worker5` by k8s. Kyverno was functioning after i

[2021-12-30 12:55] chipzoller commented on #2883
You need to run 3 replicas of Kyverno and not 2.

[2021-12-30 14:24] voyvodov commented on #2674
Great news. Unfortunately this will not enterly fix our case since the pods are standalone (more precisely started by Spark). Still, glad to hear that there is fix for at least deployments/replica sets and daemon sets.

[2021-12-30 20:21] JimBugwadia opened #2893 "Print a summary of "kyverno test" results"
**Is your feature request related to a problem? Please describe.**

The Kyverno test command is awesome and can take a Git repo as an argument. When running against a large set of tests, its hard to find the results.

**Describe the solution you'd like**

Print a test summary at the end. For example:

[code]

[2021-12-30 21:00] JimBugwadia commented on #2746
Hi @zeborg - I am seeing an error when trying this command:

[code]

Why does it require a kubeconfig? This should be only required for the `--cluster` option, right?

[2021-12-30 21:01] #2746 closed

[2021-12-31 14:24] chipzoller commented on #2243
@vyankyGH it looks like the linked PRs are tagged as milestone 1.6.0 yet this is for 1.5.3. Is this indeed for 1.6.0?

[2021-12-31 22:34] JimBugwadia opened #2894 "Convert test.yaml -> kyverno-test.yaml"
**Is your feature request related to a problem? Please describe.**

The Kyverno e2e tests show this message:

[code]

**Describe the solution you'd like**

Rename all test files in:
- https://github.com/kyverno/kyverno/tree/main/test
- https://github.com/kyverno/policies/

[2021-12-31 22:36] JimBugwadia commented on #2894
As a bonus, it would be nice to only print this message if there are 0 tests across all directories and non for each sub-directory:

[code]

[2021-12-31 22:36] chipzoller commented on #2894
Also covered here: https://github.com/kyverno/policies/issues/204

[2022-01-01 13:38] chipzoller opened #2895 "[BUG] foreach mutation halts after first image"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.7+k3s1
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.2

**Describe the bug**
When using a `foreach` mutation rule to prepend an image registry based on [this](https://kyverno.io/policies/other/prepend_image_registry/prepend_image_reg

[2022-01-01 13:41] chipzoller commented on #2895
Notice that the sample policy referenced has been altered so first JMESPath expression reads `{{ images.containers."{{element.name}}".name}}` rather than `{{ images.containers."{{element.name}}".path}}`. This has been corrected in the website example (where it originated) and the sample policy in kyverno/policies.

[2022-01-01 13:42] chipzoller commented on #2895
May or may not be addressed in https://github.com/kyverno/kyverno/pull/2891

[2022-01-02 13:37] awoodsprim commented on #2179
Unfortunately in my case, multiple replicas doesn't help.  All nodes are shutdown by GKE simultaneously and it results in the same behavior.  (No replicas are left standing)

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: shuting ***@***.***>
Sent: Thursday, December 30, 2021 7:16:33 AM
To: kyverno/kyverno ***@***.***>
Cc: Alan Wood ***@***.***>; Mention ***

[2022-01-03 01:14] zeborg commented on #2885
Hey @JimBugwadia, do we intend to add a prefix such as `kyverno-` to each of the existing event source definitions or replace them all with just `kyverno`?

[2022-01-03 05:38] JimBugwadia commented on #2719
@seh - I am closing this issue, as the current logic works as documented. If you feel we need additional flexibility in the ordering of pre-conditions and API calls, please open a separate issue with use cases. Thanks!

[2022-01-03 05:38] #2719 closed

[2022-01-03 09:24] 4molybdenum2 commented on #2894
Can I take this issue? @vyankyGH Are you working on this?

[2022-01-03 10:31] czenker opened #2897 "[BUG] A mutation that adds a label removes empty strings from a Secret on updates"
**Software version numbers**
Kyverno 1.5.2

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.2

**Describe the bug**
A mutation that adds a label removes empty strings from a Secret on updates.

This is a problem, because applications might expect a key to be present in a secret even if it is empty. It is also very confusing t

[2022-01-03 11:39] anushkamittal20 commented on #2359
I think this issue can be closed now, as the PR related is merged.

[2022-01-03 11:39] #2359 closed

[2022-01-03 14:46] anushkamittal20 commented on #2813
Hey, @chipzoller I have linked the related, if this is okay I will close the issue.
Thank you very much for your review.

[2022-01-03 14:57] seh commented on #2719
Thank you, Jim. Being able to use synthetic single-valued `foreach` stanzas will probably suffice to provide the ordering I was asking for earlier in https://github.com/kyverno/kyverno/issues/2719#issuecomment-969382274. I'll follow #2891 to see if it addresses the problems I've been having getting preconditions in `foreach` stanzas to work as expected.

[2022-01-03 14:59] chipzoller commented on #2813
Can you properly link this from the PR (not mention it)?

[2022-01-03 15:08] realshuting commented on #2674
Thanks @voyvodov - will verify for standalone pods and get back.

[2022-01-03 15:15] realshuting commented on #2179
Again the issue relates to the shut down process. Was Kyverno scaled down to zero before shutdown?

If the Kyverno shuts down properly, it automatically cleans up all managed webhook configurations and won't impact the cluster.

[2022-01-03 15:16] anushkamittal20 commented on #2813
My bad, I will just do that. Thank you!

[2022-01-03 15:17] anushkamittal20 commented on #2813
Done @chipzoller

[2022-01-03 15:24] awoodsprim commented on #2179
No, unfortunately GKE is rather harsh when it comes to pre-emptive nodes.  It terminates the nodes and evicts the pods.

Scaling down to 0 and then back to any number of replicas does not fix this situation after this happens - the pods come back up and immediately start to fail again.

The only thing that seems to fix it is removing the pods that are still present in the evicted status (Failed, S

[2022-01-03 15:28] chipzoller commented on #2813
Ok, good. Now when the last open PR closes, it'll close this issue.

[2022-01-03 15:33] realshuting commented on #2179
In my test 2, the container got deleted immediately so the webhook configurations were not garbage collected by the Kyverno instances thus blocking all the rest of the admission requests.

I'm asking if it's possible to scale Kyverno down to 0 before nodes shut down.

If there's no way to terminate Kyverno gracefully, the alternative is to delete existing Kyverno pods when the cluster restarts as

[2022-01-03 16:00] awoodsprim commented on #2179
We are not in control of the node shutdown, so no we have no method that I'm aware of to intercept GKE shutting down the nodes.

As for the cleanup routine - we are planning to do this, but my question is why does Kyverno have this issue?  We have numerous other validating and mutating webhook configurations that do not experience this problem even though they are also pre-empted like Kyverno is w

[2022-01-03 17:45] JimBugwadia commented on #2894
Thanks, @4molybdenum2!

[2022-01-03 18:06] Namanl2001 commented on #2881
@JimBugwadia will changing `latest` to `${KYVERNO_VERSION}` here https://github.com/kyverno/kyverno/blob/main/.github/workflows/release.yaml#L128 works?

[2022-01-03 18:12] JimBugwadia commented on #2881
Yes. In addition, we can also tag the version specific SBOM as `latest`.

[2022-01-03 18:19] Namanl2001 commented on #2881
sorry but I didn't get that part

[2022-01-03 18:24] JimBugwadia commented on #2881
When we build a new image, we can tag that image versions SBOM as the `latest` using something like:

[code]

This way there is a version specific tag, and and mutable latest tag (which always points to the SBOM for the latest release.)

[2022-01-04 02:30] realshuting commented on #2179
Yes, the endpoint check was added to solve https://github.com/kyverno/kyverno/issues/1740.

I see there's an improvement that can be made when getting the pod's IP, I'll send a PR to check the pod's status when getting the IPs. Thanks for pointing this out.

[2022-01-04 12:08] vyankyGH commented on #2243
@sjentzsch can you please test with following image:   vyankatesh/kyverno:foreach-initcontainer

[code]

[code]

result.yaml

[code]

[2022-01-04 12:09] vyankyGH commented on #2243
@chipzoller its for 1.5.3.

[2022-01-04 12:55] Namanl2001 opened #2901 "reduce duplication in github action workflows"
**Is your feature request related to a problem? Please describe.**

In github actions workflow multiple jobs are using the same steps.

https://github.com/kyverno/kyverno/blob/main/.github/workflows/image.yaml
https://github.com/kyverno/kyverno/blob/main/.github/workflows/release.yaml

**Describe the solution you'd like**

we can reduce duplication with action composition as given here: https://gi

[2022-01-04 13:17] chipzoller commented on #2243
Please adjust all related PRs and issues in that case.

[2022-01-04 15:15] awoodsprim commented on #2179
@realshuting Sounds great, happy we were able to track it down.  Hopefully that additional check (along with us cleaning up shutdown pods) will fix our issue.

[2022-01-04 15:42] ozcb commented on #2883
Hi Chip Zoller,
I added `3 replicas + pdb` but , from time to time I still have the same errors.
[code]
And I add `Kyverno` logs
[code]

Thanks for your help!

[2022-01-04 15:49] parkwart commented on #2883
mhm any network policy or security group in place which prohibits communication?

[2022-01-04 16:26] Namanl2001 commented on #2880
closing via #2896

[2022-01-04 16:26] #2880 closed

[2022-01-04 16:26] Namanl2001 commented on #2882
closing via #2896

[2022-01-04 16:26] #2882 closed

[2022-01-04 17:13] ozcb commented on #2883
Nope, we don’t use `network policy` or ` security group` which blocked traffic inside cluster.
This error appears not often right now( with 3 replicas ), but sometimes I saw it in logs.

[2022-01-04 17:20] mikebryant commented on #2869
We're having similar issues - for our dev clusters which are entirely preemptible GCP may kill all Nodes near-simultaneously, ignoring things like PodDisruptionBudgets. Even with antiaffinity we're still finding all Kyverno replicas down, at which point the cluster is wedged.

Under the new autoUpdateWebhooks behaviour, there's no namespaceSelector in the generated webhook configurations, so once

[2022-01-04 17:21] realshuting commented on #2179
Hi @awoodsprim - I sent the improvement via #2902, here's the test image that you can verify `ghcr.io/realshuting/kyverno:fix-endpoint`. I also verified with test 2 and kyverno works properly.

Can you test the fix and let me know if it works? If not, can you attach the kubelet's log?

[2022-01-04 17:27] awoodsprim commented on #2179
Hi @realshuting we are going to put the docker image live in our dev cluster.  It can take up to 24 hours to hit the race condition, but we will let you know if by tomorrow this happens again.

[2022-01-04 18:38] chipzoller commented on #2573
I drew up a simple flow chart that captures how I think scoring of mutation rules should work either with `test` or `apply`. We can discuss in the January 6th contributor's meeting.

![image](https://user-images.githubusercontent.com/29008123/148107542-c09f8df6-ea8b-4225-96f2-05edd6bbaeb9.png)

[2022-01-05 01:36] #2307 closed

[2022-01-05 01:36] #2646 closed

[2022-01-05 01:36] #2725 closed

[2022-01-05 01:36] #2726 closed

[2022-01-05 01:36] #2895 closed

[2022-01-05 02:40] anushkamittal20 commented on #2734
closing this issue as the PR is merged.
Thank you!

[2022-01-05 02:40] #2734 closed

[2022-01-05 06:04] ojhaarjun1 commented on #2805
Disabling auto-cleanup of Secrets (containing certificates) when the Pod dies seems to solve the issue. We've added an annotation for the Deployment UID that created the Secret. This helps us determine if the Secret is stale (coming from an old deployment).

@MaxFedotov - Here's an [image](https://github.com/users/ojhaarjun1/packages/container/kyverno/12721019?tag=latest) with these changes. Could

[2022-01-05 07:07] #2738 closed

[2022-01-05 09:41] vyankyGH commented on #2243
@chipzoller issue is already fix with Jim latest PR (https://github.com/kyverno/kyverno/pull/2891).so moving this issue to 1.6.0 milestone. I have link this issue with PR.

[2022-01-05 09:46] andriktr opened #2904 "Clarify naming patterns for Kyverno ClusterRoles/ClusterRoleBindings"
Hello,
I'm trying to upgrade kyverno 1.5.0 to kyverno 1.5.2.
My kyverno pods are not running after upgrade:
[code]

It's seems that kyverno is looking for a cluster role with suffix "webhook", but as I'm creating cluster roles and rolebindings for kyverno service account outside of kyverno helm chart and setting rbac config in kyvern chart to:

[code]
Clusterroles which I'm creating for kyverno se

[2022-01-05 10:00] vyankyGH commented on #2904
@andriktr can you please check if your cluster role has label of `app.kubernetes.io/name: "kyverno"`.
we have already removed based on label `app.kubernetes.io/ownerreference: "true"` as it becoming very specific .

[2022-01-05 11:46] andriktr commented on #2904
@vyankyGH I have added a `app.kubernetes.io/name: "kyverno"` but it's still not working and same errors occurs
[code]

here is how my cluster role looks like:
[code]

[2022-01-05 11:54] MaxFedotov commented on #2805
@ojhaarjun1 thanks for your help!
I've tried to install your version of kyverno using helm chart from the latest master in local kind cluster v1.19.11.

Unfortunately, kyverno pod was stuck in init
[code]

with following logs in kyverno-pre container:
[code]

[2022-01-05 12:03] vyankyGH commented on #2904
@andriktr looks like kyverno not able to find clusterrole with suffix webhook.
clusterrole name should be i`f-baltic-kyverno-standard:webhook`

[2022-01-05 12:22] MaxFedotov commented on #2805
@ojhaarjun1 please ignore my previous comment, seems like I didn't need to switch `kyverno-pre` container to a new image.
After switching only `kyverno` container to the image you proposed the issue was gone! Thanks a lot :)

[2022-01-05 12:52] mikebryant opened #2909 "[BUG] Timeout registering admission control webhooks"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.10-gke.1600
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: v1.5.2

**Describe the bug**
The timeout for registering the admission control webhooks is too short

**To Reproduce**
- Use a number of CRDs on the cluster (e.g. GKE with config-

[2022-01-05 13:21] sjentzsch commented on #2243
@vyankyGH works ! Just tested, with multiple variants for both containers and initContainers.

[code]

Looking forward to 1.6 then :+1:

[2022-01-05 15:26] anushkamittal20 opened #2911 "[BUG] Issue in e2e testing"
**Describe the bug**

While testing policies (e2e) one policy has been failing because of missing resource.

[code]

[link to issue](https://github.com/kyverno/kyverno/runs/4714608464?check_suite_focus=true#step:8:609)
**Expected behavior**
The pipeline should run successfully

**Additional context**
Needed for 1.5.3

[2022-01-05 15:32] realshuting commented on #2909
Hi @mikebryant - can you attach this result? Could be the same issue with https://github.com/kyverno/kyverno/issues/2179.

[code]

[2022-01-05 15:53] ojhaarjun1 commented on #2805
Thanks for confirming @MaxFedotov!

[2022-01-05 16:08] realshuting opened #2912 "Automate the release process"
**Is your feature request related to a problem? Please describe.**

As of 1.5.x and pre-1.6.0, direct manifests are managed in different places:
- `main`: https://github.com/kyverno/kyverno/blob/main/config/install.yaml
- `main`: https://github.com/kyverno/kyverno/blob/main/config/release/install.yaml
- `release-1.5`: https://github.com/kyverno/kyverno/blob/release-1.5/definitions/install.yaml
- `

[2022-01-05 16:42] vyankyGH opened #2913 "[BUG] Foreach policy variables are not supported in test cmd"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.22.4
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):any
* Kyverno version:1.5.3

testcase: https://github.com/kyverno/policies/tree/main/other/prepend_image_registry

policy.yaml
[code]
Error
[code]

**Expected behavior**
A clear and concise description of what you

[2022-01-05 16:44] mikebryant commented on #2909
Sure

[code]

[2022-01-05 16:47] ShubhamPalriwala commented on #2705
I'm waiting for the next release to verify the SBOM availability. Once that is done, we can close this issue then in my opinion?

[2022-01-05 16:54] mikebryant commented on #2909
And after a while, and one Pod going away completely

[code]

[2022-01-05 17:04] realshuting commented on #2909
So Kyverno was able to recover in this case?

[2022-01-05 17:08] awoodsprim commented on #2179
@realshuting Preliminary analysis looks like it solved the problem.  We were able to see the Kyverno pod startup with a shutdown pod in the API return array earlier and the pod was able to recover (once the leadership lease was expired).

We want it to go through one more cycle to be sure, but right now it looks good.

[2022-01-05 17:10] realshuting commented on #2179
Great! The fix will be out in 1.5.3 in the following days. Let me know if you see any other issues.

[2022-01-05 17:11] vyankyGH commented on #2911
related issue : https://github.com/kyverno/kyverno/issues/2913

[2022-01-05 17:42] viveksahu26 commented on #2573
Thanks @chipzoller , it's more clear now.

[2022-01-05 18:06] mikebryant commented on #2909
Yeah, this one seemed to recover eventually. (Having similar issues across 10 or so GKE clusters)

[2022-01-06 01:42] realshuting commented on #2909
What about other ones? Were they able to recover?

We made an improvement for such an issue in #2179, can you try this image `ghcr.io/realshuting/kyverno:fix-endpoint` and see if it helps?

[2022-01-06 03:52] vyankyGH commented on #2243
@sjentzsch Good to know. I'm closing the issue . Please feel free to reopen if you face any other issue regarding this.
Thanks.

[2022-01-06 03:52] #2243 closed

[2022-01-06 03:53] vyankyGH commented on #2243
@chipzoller I closed the issue.

[2022-01-06 03:54] vyankyGH commented on #2850
@zhendongcmss any response.

[2022-01-06 04:07] realshuting commented on #2912
Helm Chart versions on main are also outdated https://github.com/kyverno/kyverno/blob/f330886af7c1bc9b90505d94c63d7143d88af13b/charts/kyverno/Chart.yaml#L3-L4.

[2022-01-06 04:43] realshuting opened #2916 "Remove `resourceFilters` in Kyverno ConfigMap"
**Is your feature request related to a problem? Please describe.**
With #1981, webhooks will be configured to match the minimum set of resources based on installed policies. `resourceFilteres` was deprecated and can be removed in 1.6.

[2022-01-06 04:44] realshuting commented on #2320
Created https://github.com/kyverno/kyverno/issues/2916 to track `resourceFilters` removal.

[2022-01-06 05:29] realshuting commented on #2892
Hi @RolandOtta - I removed all `status` from CRDs' manifests, can you try install via https://raw.githubusercontent.com/realshuting/kyverno/remove_crd_status/config/install.yaml?

[2022-01-06 06:30] JimBugwadia opened #2917 "Add default network policy for Kyverno"
**Is your feature request related to a problem? Please describe.**

For a default installation, Kyverno is allowed all ingress and egress traffic.

**Describe the solution you'd like**

A default Kyverno installation should restrict ingress and egress traffic to/from the API Server, and to the metrics port.

If communication to a registry is allowed (for image verification), users can adjust the n

[2022-01-06 07:15] realshuting commented on #2179
Closing the issue, feel free to open if needed.

[2022-01-06 07:15] #2179 closed

[2022-01-06 07:17] realshuting commented on #2524
Closing the issue for now, please reopen if it's reproducible.

[2022-01-06 07:17] #2524 closed

[2022-01-06 07:47] vyankyGH commented on #2911
Closing the issue. It's duplicate of https://github.com/kyverno/kyverno/issues/2913

[2022-01-06 07:47] #2911 closed

[2022-01-06 09:11] #2805 closed

[2022-01-06 10:41] realshuting opened #2920 "Fix the CI job to push images"
This PR broke the "publish images" job, please see https://github.com/kyverno/kyverno/runs/4720162475?check_suite_focus=true.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/issues/2915#issuecomment-1006463360_

[2022-01-06 11:18] realshuting commented on #2705
Hi @ShubhamPalriwala - v1.5.3-rc1 is out, can you please verify the fix?

[2022-01-06 11:34] ojhaarjun1 commented on #2796
Unable to reproduce this with Kind.

[2022-01-06 11:36] realshuting commented on #2796
Closing until further notice.

[2022-01-06 11:44] realshuting commented on #1933
I thought auto-gen converts the deny rule which covers pod controllers, @vyankyGH - you made the change, right?

[2022-01-06 12:03] vyankyGH commented on #1933
Correct @realshuting .
it should work with auto-gen.

[2022-01-06 12:30] vyankyGH commented on #1933
I  have tested, it's not working. Something is broken. Checking.

[2022-01-06 12:32] ShubhamPalriwala commented on #2705
Yosss! Works as expected after #2536
CC @JimBugwadia

To verify locally, run:
[code]

The issue can be closed now. Will work on the documentation PR for the same for the upcoming release!

Attaching the verified screenshot below
![Screenshot_2022-01-06-05-57-02_1920x1080](https://user-images.githubusercontent.com/55556994/148382961-53c28050-3b45-4017-b544-8c79248d8e20.png)

[2022-01-06 12:33] chipzoller commented on #1933
I have never observed this working. Not just the autogen portion but the mutation of `request.object` vars.

[2022-01-06 12:44] vyankyGH commented on #1933
okay.

[2022-01-06 12:51] chipzoller commented on #1933
You say this should work. Where's the PR that included this functionality?

[2022-01-06 12:52] vyankyGH commented on #1933
@chipzoller but auto-gen rules are not supported in  Deny rules.

[2022-01-06 12:53] chipzoller commented on #1933
Yes, that's partly why this issue was filed :)

[2022-01-06 12:56] vyankyGH commented on #1933
https://github.com/kyverno/kyverno/pull/2471

[2022-01-06 13:02] vyankyGH commented on #1933
Okay. got it. Need to support auto-gen for deny rule.

[2022-01-06 13:06] chipzoller commented on #1933
...and mutating `request.object` variables when the matching `kind` is only `Pod`.

[2022-01-06 13:09] vyankyGH commented on #1933
yup.

[2022-01-06 13:22] andriktr commented on #2904
@vyankyGH FYI. Once I changed the name of clusterrole to contain `:webhook` suffix upgrade went successfully and kyverno works as expected. However still think that having hardcoded suffix is not the best approach.

[2022-01-06 13:25] zeborg commented on #2320
Hi @realshuting, sorry for the delay but this might take a little more time to fix due to an unexpected difference in behaviour that I'm still trying to troubleshoot.

[2022-01-06 13:25] chipzoller commented on #2573
Better illustration that starts with the overall logic flow--the questions needed to be answered in a mutation decision--and the actual policy logic flow with the resource. This might be helpful anywhere outcomes are needed for mutations.

Two questions have to be answered:
1. Should the resource be mutated? (Yes/No)
2. Was the resource _actually_ mutated? (Yes/No)

The second question can only be

[2022-01-06 14:49] #2705 closed

[2022-01-06 15:01] realshuting commented on #2904
Hi @andriktr - `:webhook` suffix indicating the permissions needed for the kyverno webhook server, it helps group the roles for this controller and is easier to maintain.

Is there any particular reason you need to custom role's name?

[2022-01-06 15:04] realshuting commented on #1933
From [doc](https://kyverno.io/docs/writing-policies/autogen/) it says:

However I couldn't recall why we don't support deny rules. 😔

[2022-01-06 15:05] viveksahu26 commented on #2573
Thanks @chipzoller , I have through above workflow, which is absolutely great. You have given a clear picture of how mutation policy works for both `apply` as well as `test` command.

[2022-01-06 15:07] realshuting commented on #2320
Ok, let's discuss and address it in 1.6.

[2022-01-06 15:14] realshuting commented on #2920
Seeing failure with the latest fix https://github.com/kyverno/kyverno/runs/4728212414?check_suite_focus=true.

[2022-01-06 15:30] andriktr commented on #2904
Hi @realshuting. Personally for me it doesn't meter which name for kyverno clusterrole to set. Kyverno helm chart allows to skip creation of cluster roles that means what cluster roles should be created outside the kyverno deployment and if role name or it's suffix is hardcoded then it should be at least pointed out somewhere which naming pattern to use if I'm creating a role outside of kyverno he

[2022-01-06 15:37] chipzoller commented on #1933
We historically didn't support deny rules because the conditions consume variables from AdmissionReview, and we weren't mutating them for the target Pod controllers.

[2022-01-06 15:42] realshuting commented on #2904
Good point! Yes we should document the naming convention for ClusterRoles'/ClusterRoleBindings' name.

However I don't think we want to make `rbac.create` configurable as Kyverno wouldn't be functioning if these RBAC resources are missing.
https://github.com/kyverno/kyverno/blob/cda63102496412a20b3496fd85a3cece7b87f734/charts/kyverno/values.yaml#L8-L9

[2022-01-06 15:53] realshuting commented on #1933
Converting Pod's rule for Pod controllers seems fine, the challenge could be how to handle conditions variables.But it should be possible to support auto-gen for deny rules.

[2022-01-06 15:54] andriktr commented on #2904
But it is configurable already if you set `rbac.create: false` when clusterroles and bindings will be not created by kyverno helm chart.
In our case we create kyverno SA and RBAC for it in a separate common helm chart where we manage permissions for whole cluster. It adds some additional manage, but such approach allows to minimize permissions for kyverno CI|CD service account and centrally track/

[2022-01-06 16:35] realshuting commented on #2920
Another failure https://github.com/kyverno/kyverno/runs/4729127297?check_suite_focus=true.

[2022-01-06 16:38] Namanl2001 commented on #2920
yes, @realshuting I was just looking at it. and this needs one more fixing pr 😐

[2022-01-06 17:37] gparvin commented on #2909
FYI: I believe I hit this same issue.  My environment is OpenShift 4.9.9.  Using the image specified has fixed this issue.  Without the fix it looks like the kyverno pod will eventually come up... but it could take many attempts.

[2022-01-06 18:06] Namanl2001 commented on #2920
there's still some issue, not sure whether we have to click the link manually to enter the verification code https://github.com/kyverno/kyverno/runs/4729805789?check_suite_focus=true#step:10:14

asked the question here: https://github.com/sigstore/cosign/issues/1258#issuecomment-1006800731

[2022-01-06 18:21] realshuting commented on #2909
@gparvin - thanks for the confirmation! The fix was released in `v1.5.3-rc1`, the official release will be available soon.

[2022-01-06 18:21] realshuting commented on #2909
Closing the issue. Reopen if the same issue happens again.

[2022-01-06 18:21] #2909 closed

[2022-01-06 18:28] realshuting commented on #2904
That makes sense!

Will clarify naming patterns in the Helm charts.

[2022-01-06 18:40] stephen-harris commented on #2883
@chipzoller Where does this advice come from? We are experiencing the same problem on 1.5.2 (albeit EKS 1.20) and the mutation webhook:

Eventually (~1 hour after) scaling up Kyverno from 1 to 2 replicas the problem seemed to subside, or at least appear less frequently.

For context we are using vpc-cni and Calico for network policies. I've checked the network policies and security groups and they

[2022-01-06 18:43] realshuting commented on #2475
@ShubhamPalriwala - are you still interested in working on this issue?

[2022-01-06 18:44] realshuting commented on #2076
@CIPHERTron - are you actively working on this?

[2022-01-06 18:45] realshuting commented on #2347
Re-assigning to @zeborg as he's working on a related issue.

[2022-01-06 19:00] chipzoller commented on #2883
It's something we've seen in the past where users ran only two replicas and not three. It may not be entirely applicable here, but is one possibility.

[2022-01-06 19:12] realshuting commented on #2883
Please see https://github.com/kyverno/kyverno/issues/2053#issuecomment-870641512.

[2022-01-06 19:50] mattmoor opened #2925 "Consider using `ko` for image builds"
**Is your feature request related to a problem? Please describe.**

Not a problem per se, but today Kyverno uses several Dockerfiles, which are very similar in structure, e.g. https://github.com/kyverno/kyverno/blob/main/cmd/cli/kubectl-kyverno/Dockerfile

These largely:
1. `CGO_ENABLED=0 go build ./cmd/something`
2. `FROM scratch` -> copy over certain bits (e.g. CA certs)
3. `COPY` the go binary

[2022-01-06 20:05] Namanl2001 commented on #2920
all green in the `image` workflow 😄 https://github.com/kyverno/kyverno/actions/runs/1664576388

will make similar changes for `workflow/release.yaml`

[2022-01-06 22:34] JimBugwadia commented on #2684
Closed via: https://github.com/kyverno/kyverno/pull/2634

[2022-01-06 22:34] #2684 closed

[2022-01-06 22:50] JimBugwadia commented on #261
This has been addressed. Closing.

[2022-01-06 22:50] #261 closed

[2022-01-06 22:50] JimBugwadia commented on #454
Closing, as the direction is to use CLI for testing.

[2022-01-06 22:50] #454 closed

[2022-01-06 22:51] JimBugwadia commented on #622
Closing, as this is no longer relevant.

[2022-01-06 22:51] #622 closed

[2022-01-06 22:56] JimBugwadia commented on #2917
Looks like there is a network policy in the Helm chart: https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/networkpolicy.yaml

[2022-01-07 01:16] JimBugwadia commented on #2838
Hi @realshuting - lets use this issue to create a PR for incubating. Re-opening.

[2022-01-07 08:11] ShubhamPalriwala commented on #2475
Hey @realshuting, It'd be better if someone else could take this up
Sorry for the delay here

[2022-01-07 08:26] realshuting commented on #2475
Ok @ShubhamPalriwala - unassigned.

[2022-01-07 08:55] #2590 closed

[2022-01-07 09:04] ojhaarjun1 commented on #2642
Hi @abhishekghiya, how many replicas were you working with?

[2022-01-07 10:52] #2347 closed

[2022-01-07 11:59] vyankyGH commented on #1933
@chipzoller

Is excepted result
[code]
you can try with following tag,  `vyankatesh/kyverno:1.6-dev-35-g68c87901`

[2022-01-07 12:26] andriktr opened #2928 "[BUG] Kyverno upgrade 1.5.2 -> 1.5.3 fails with TLS key/certificate pair error"
Hi,
Just tried to do a helm upgrade from 1.5.2 to 1.5.3 version and it's fails. New version pod is failing with the following error:

[code]

I see some changes related to TLS in the release notes could it be somehow related?

Thanks.

[2022-01-07 13:34] chipzoller commented on #1933
"expected"? Yes. Also, remember about `foreach` too.

[2022-01-07 14:34] chipzoller commented on #2928
On upgrade from 1.5.2 to 1.5.3 in a single-replica, single-node K3d cluster, I had to manually delete the old Pod for the new one to become ready. We may need to look at these upgrade scenarios.

[2022-01-07 14:42] realshuting commented on #2928
Could this be related to your change?

[2022-01-07 14:43] andriktr commented on #2928
In my case I have 3 replicas. With rolling upgrade your approach will not work. As old pods are deleted once the new one is ready.

[2022-01-07 15:47] jkirkham-ratehub commented on #2928
I've run into this issue as well.  Reverting to the 2.1.4 chart (v1.5.2) appears to have fixed the issue.

[2022-01-07 16:40] aleksey-novikov commented on #2869
We have the same issue.
If **all** Kyverno pods (3 replicas of kyverno-1.5.2) are down (for example, liveness probe failure due k8s api timeouts), but _kyverno-resource-validating-webhook-cfg_ exists and _validate.kyverno.svc-fail_ contains _secrets_ in the resources list, then kyverno cannot recover without manual intervention (via deleting webhook) and the next error appears in the log:
`E0107 1

[2022-01-07 16:49] ribbybibby opened #2931 "[BUG] failed to verify image attestations: no matching signatures: failed to verify signature"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
[code]
* Kubernetes platform: k3d
* Kyverno version: 1.5.3

**Describe the bug**
I receive this error when trying to verify attestations for a number of different images I've tried:
[code]

In every case that I've tried, running `cosign verify-attestation --key cosign.pub <image>` wit

[2022-01-07 17:21] realshuting opened #2932 "Run e2e test for Kyverno upgrade"
**Is your feature request related to a problem? Please describe.**

Currently the e2e test runs against fresh install. We need to trigger the test on Kyverno upgrade, from the latest released version to the latest change, to ensure its stability.

[2022-01-07 17:33] #2928 closed

[2022-01-07 19:43] treydock opened #2934 "[BUG] Rules of two different types in the same policy aren't being tracked properly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.2
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.2

**Describe the bug**
Testing a policy with both validate and mutate will fail to validate the mutate policy.

**To Reproduce**
[code]

The failure:

[code]

Works for apply:

[code]

CC:

[2022-01-07 19:43] treydock commented on #2934
There may also be an issue with namespace field, I can open separate issue but I have not been able to debug that myself, I had help from @chipzoller.  See original slack message for more context.

[2022-01-07 19:50] chipzoller commented on #2934
cc @viveksahu26

[2022-01-07 20:52] treydock commented on #2934
CC @viveksahu26

[2022-01-07 22:24] Namanl2001 commented on #2881
how this issue is different from what we are doing here: https://github.com/kyverno/kyverno/blob/HEAD/Makefile#L82-L87 ?

I think this point is already valid and can be verified here: https://github.com/users/Namanl2001/packages/container/sbom/versions

[2022-01-07 22:38] JimBugwadia commented on #2881
Can we pull and verify an SBOM by a image tag and digest?

[2022-01-07 23:48] samj1912 opened #2938 "validate image fields for custom resources"
**Is your feature request related to a problem? Please describe.**

Currently verifyImages is limited to low level resources like pods, jobs etc. It is not possible to validate custom resource images. This means that end users do not see errors from the validation webhook when creating top level objects and instead their controllers have to handle errors when creating pods/jobs etc. This prevents

[2022-01-07 23:53] samj1912 commented on #2938
Other alternatives may include things like -

- A configmap that kyverno controller loads at start up that contains a hardcoded map of GVK -> images JMESPath that applies to that GVK
- An annotation on the CRD that is kyverno specific that allows kyverno to look up image paths in a custom resource. This would be more intrusive for the cluster owner but would be a global way to control image paths

[2022-01-08 00:36] JimBugwadia commented on #2938
@samj1912 - the current logic `imageVerify` relies on the [built-in images variable](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images) and simply loops over all images in the admission request.

One approach would be to allow users to add images to this list by defining a custom context to add additional images:

[code]

For a Tekton pipeline this could be someth

[2022-01-08 00:41] samj1912 commented on #2938
That works well too :) Would the images variable override the default images context or append to it? Although slightly different from my primary request around validating CRD images, it would also be nice to have different rules for different container types inside a pod spec for eg.

[2022-01-08 01:02] samj1912 opened #2939 "Add image data to validate image configs"
**Is your feature request related to a problem? Please describe.**
There are often times when you would want to validate the OCI image configs for an image. The image config includes fields like -

- Default user
- Default Env vars
- Labels
- Default Entrypoint
- Default command

Currently Kyverno adds some image data like tags, registry, digest etc as a context field https://kyverno.io/docs/writi

[2022-01-08 02:27] JimBugwadia commented on #2939
Where is the `imageConfig` data available? If its added to the workload manifests as metadata, Kyverno can apply policies to that using `validate.pattern` or `validate.deny` rules.

Another option would be to sign this image configuration data and upload to your OCI registry as an in-toto attestation. You can then verify this data using an `imageVerify` rule.

Let me know if you need more details.

[2022-01-08 02:30] JimBugwadia commented on #2939
Another option - you can load the image configuration data in a ConfigMap and then fetch it via an API call. This would require the image configuration to be deployed first.

Overall, from what I understand so far it seems like using attestations would be the best approach.

[2022-01-08 02:53] samj1912 commented on #2939
I realized that I was a bit unclear about which config I was referring to in my original issue description. The image configuration I am referring to is the OCI image config as defined at https://github.com/opencontainers/image-spec/blob/main/config.md.

The config data is a part of the container image and available in the container registry. It should be trivial to fetch the image config given an

[2022-01-08 03:11] samj1912 commented on #2939
I suspect even if we use annotations, we would need someway to combine the data in the attestations with the resource in question to create the final policy. I believe attestations can currently only be verified inside the verify image clause but cannot be used alongside validate/mutate rules to create policies that take both the resource and image into consideration.

[2022-01-08 04:19] JimBugwadia commented on #2939
Ok, I understand now! Its an interesting idea to fetch the image configuration data. Would this be the same data accessed via `crane config`?

   https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_config.md

[2022-01-08 05:28] vyankyGH commented on #1933
@chipzoller

Foreach Policy.yaml
[code]
auto-gen policy
[code]

[2022-01-08 08:23] samj1912 commented on #2939
Yup, crane config should return the right json blob :)

[2022-01-08 12:21] samj1912 opened #2940 "Add a parse_json JMESPath function"
**Is your feature request related to a problem? Please describe.**
JMESPath currently has a to_string function https://jmespath.org/specification.html#to-string

but it doesn't have the reverse (parse_json) function. This can often be useful when you have nested json data (for eg. json string in annotations metadata) that contains useful information that you would want to parse.

**Describe the so

[2022-01-08 13:10] Namanl2001 commented on #2881
yes

![image](https://user-images.githubusercontent.com/56021229/148645127-f3048641-4f83-44cf-8a3d-cece3cbf011b.png)

and this is possible because cosign download command looks for the `.../$digest.sbom` and downloads it. for instance for previous releases (prior to this feature) we can see this error:

![image](https://user-images.githubusercontent.com/56021229/148645353-d19774cd-a273-42a9-8fd6-a

[2022-01-08 19:53] ShubhamPalriwala commented on #2881
Hey @Namanl2001, I do not get what's the confusion here? It would be great if you could clear it for me.

As far as I can understand, it is working as expected as for v1.5.3, which is also the latest, it found the sbom and cloned it. And as there was no SBOM prior to this, it found nothing.

And as you found it out, in the Makefile, it sets the latest uploaded artifact with the `latest` tag.

[2022-01-08 20:00] ShubhamPalriwala commented on #2617
Yeah! I just looked into nancy and looks good to me for our project. Let's integrate this and run it on whenever we release it?

@JimBugwadia I'll open a PR for the same?

[2022-01-08 22:06] samj1912 commented on #2939
@JimBugwadia, having dived a bit more into kyverno code, I believe that kyverno already uses GGCR for cosign/verify images related validations. The biggest blocker with fetching image configs is access to the registry but it looks like kyverno can already handle that and sets up the default GGCR keychain during initialization. https://github.com/kyverno/kyverno/blob/9e16e763a00f54acea402d3259743ce

[2022-01-09 07:47] 4molybdenum2 commented on #2917
/assign

Can I get a little help regarding where I can find the related files for working on this issue. Should the changes just involve declaring a NetworkPolicy in the ```config/install.yaml``` file?

[2022-01-09 12:56] samj1912 commented on #2939
/assign @samj1912

[2022-01-09 15:54] JimBugwadia commented on #2617
Sounds good @ShubhamPalriwala!

[2022-01-09 16:27] chipzoller commented on #2878
Resolved. This was caused by user error. Multiple resources in the same document had the same name and the tests were grabbing the unintended resource.

[2022-01-09 16:27] #2878 closed

[2022-01-09 16:28] JimBugwadia commented on #2917
Yes. The `config/install.yaml` is generated from resources at:

     https://github.com/kyverno/kyverno/tree/main/config/k8s-resource

So, the steps would be:
1. Manually define and test a default network policy for a Kyverno install
2. Add the policy to `k8s-resource`
3. Align / update the current Helm chart network policy
4. Document how to extend the network policy for image registries

[2022-01-09 16:59] JimBugwadia commented on #2939
@samj1912 - in general, we have three options to extend policies:
1. Add a new rule tag like `validate.images` that triggers this.
2. Add a `context` tag to fetch this data and add to the context.  For example, `context.imageRegistry` (similar to the API call) that adds new variables to the context that can be used in a rule.
3. Use a JMESPath function as you propose above.

I am not sure which ap

[2022-01-09 18:45] samj1912 commented on #2939
@JimBugwadia sure.

1. Might be a bit limiting since I wanted to combine the output config in both mutate and validate rules. Eg. include - if image config's user is not sure, set a user in pod security policy.
2. Sounds nice and also inline with context being the place where api calls/external data access happens. The only issue is that it can be a bit ugly to query/match this data during validat

[2022-01-09 19:26] samj1912 opened #2943 "[BUG] Kyverno generate policies for service accounts with attached secrets can result in numerous secrets that are not GC'd"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): None
* Kyverno version: 1.5

**Describe the bug**
Detailed description at https://kubernetes.slack.com/archives/CLGR9BJU9/p1628120608138600?thread_ts=1628089265.101600&cid=CLGR9BJU9

When you do a kubectl replace on

[2022-01-09 20:04] JimBugwadia commented on #2938
Yes, agree that override seems like the most deterministic approach.

[2022-01-09 20:22] sloorush commented on #2893
Hey @JimBugwadia!

I would like to drop a PR for this.

Possible solution:
[code]
at the end of the `testCommandExecute` function should do the needful

[2022-01-09 20:22] sloorush commented on #2893
/assign @sloorush

[2022-01-09 21:04] JimBugwadia commented on #2939
The `foreach` also support a context, so something like this is an option:

[code]

A benefit of using the context is that multiple conditions (preconditions, deny, etc.) can use the retrieved data.

[2022-01-09 21:07] JimBugwadia commented on #2878
Should the CLI try and warn / validate for this? Seems like an easy mistake to make...

[2022-01-09 21:17] chipzoller commented on #2878
I was going to suggest that be the case but was afraid, with all the other outstanding CLI issues to solve, it would just add more noise.

[2022-01-09 21:21] JimBugwadia commented on #2878
Please do capture! Even if we do not get to it in the near team, we can plan to address as other changes are made in that module.

[2022-01-09 22:06] samj1912 commented on #2939
Oh nice! Didn't know that, in that case I believe the context approach seems to be the best one! Does it make sense to proceed with it for implementation?

[2022-01-09 22:07] chipzoller commented on #2665
Adding pss label as this fix is necessary to support the Pod Security Standard refresh, specifically `disallow-capabilities-strict` as written [here](https://github.com/chipzoller/kyverno-pss/tree/master/restricted/07-disallow-capabilities-strict).

[2022-01-09 22:21] chipzoller opened #2945 "[CLI] Warn when testing if multiple resources found with duplicate names"
**Is your feature request related to a problem? Please describe.**
When using the Kyverno CLI's `test` command, it is possible to pass multiple resources with duplicate names of the same `kind`. For example, the test manifest declares a file named `resource.yaml` and within are multiple YAML documents where two of the Kubernetes resources have the same name and are both Pods. The CLI can detect th

[2022-01-09 22:21] chipzoller commented on #2878
Captured ☝️

[2022-01-09 22:32] chipzoller commented on #1933
Labeling with pss as this is optional (but desired) in the refresh of the Pod Security Standards [here](https://github.com/chipzoller/kyverno-pss).

[2022-01-09 22:38] JimBugwadia commented on #2939
Yes, that sounds great! Thanks!

[2022-01-09 23:09] chipzoller commented on #1933
@vyankyGH If you want to test your code on some "real world" policies to see if the rule mutations are happening properly, from the link in my PSS repo above, try:

baseline/04-disallow-capabilities
restricted/01-restrict-volume-types
restricted/07-disallow-capabilities-strict

[2022-01-10 01:56] samj1912 commented on #2939
@JimBugwadia I have an initial draft up at https://github.com/kyverno/kyverno/pull/2946

[2022-01-10 04:50] vyankyGH commented on #1933
Okay.

[2022-01-10 06:10] JimBugwadia commented on #2881
@ShubhamPalriwala @Namanl2001 - we have a couple of items that seem to require a closer look:

The release workflow has this logic:

[code]

This is putting the signature and SBOM in the [kyverno](https://github.com/kyverno/kyverno/pkgs/container/kyverno/versions) repo which we wanted to avoid as it messes up the download counts. We can use the [COSIGN_REPOSITORY](https://github.com/sigstore/cosig

[2022-01-10 07:51] ShubhamPalriwala commented on #2881
Hey @JimBugwadia, the shifting of the signatures and SBOM was a feature that was introduced in https://github.com/kyverno/kyverno/pull/2536. It was implemented well and I don't know why we reverted back as I cannot see it in the current git version!

Now for the SBOMs. yes I will try out attaching the Kyverno image instead on my fork and see if that works out.

And for the Makefile, it was initial

[2022-01-10 08:09] JimBugwadia opened #2948 "Pinned dependencies"
**Is your feature request related to a problem? Please describe.**

Scorecards checks for pinned dependencies, and reports a low score of 3/10.

**Describe the solution you'd like**

Pin dependencies in workflows

**Additional context**

Here is the reported data:

[code]

[code]

[2022-01-10 08:19] JimBugwadia opened #2949 "Token Permissions"
**Is your feature request related to a problem? Please describe.**

Scorecards checks for permissions on workflows, and reports a low score of 0/10.

**Describe the solution you'd like**

Set permissions on workflows

**Additional context**

[code]

[code]

[2022-01-10 09:00] ShubhamPalriwala opened #2950 "Vulnerabilities found in SAST"
When running the Nancy SAST Github Action on my fork [here](https://github.com/ShubhamPalriwala/kyverno/runs/4758766667?check_suite_focus=true), it fails as it finds out 3 CVEs that we are vulnerable to.

These are present in our go.sum:
[code]

Out of our 795 dependencies, only these 2 are making us vulnerable right now.

Let me know how I can fix this so I can add this along with my PR to Nancy

[2022-01-10 09:03] ShubhamPalriwala commented on #2948
Would take this up and open a PR soon!

[2022-01-10 09:21] RolandOtta opened #2951 "kyverno > v1.5.1 on gke causes a "Timeout registering admission control webhook ""
we are trying to get kyverno running on gke.

we are currently installing kyverno from https://raw.githubusercontent.com/kyverno/kyverno/release-1.5/definitions/release/install.yaml.

the current version fails to startup with a timeout registering the admission control webhook. this does not happen when manually editing the install.yaml and changing the image to a version < v.1.5.2.

for example `

[2022-01-10 09:24] RolandOtta commented on #2892
hello @realshuting

thank you for taking care of that issue.

your modified yaml fixes my described issue. i have another issue with v1.5.3 that is not related to this issue and described here https://github.com/kyverno/kyverno/issues/2951.

that´s. why I had to change your install.yaml to use kyverno 1.5.1 instead of latest, however your yaml fixes the issue with gke config sync complaining about

[2022-01-10 09:26] damienleger commented on #2674
@realshuting hello, I've tried with `1.6-dev-latest` image I still have the error. My kyverno pods are managed via k8s Deployment resources.

[2022-01-10 09:50] ShubhamPalriwala commented on #2617
@JimBugwadia, Nancy is quite fast as you can see [here](https://github.com/ShubhamPalriwala/kyverno/runs/4758766667?check_suite_focus=true). Hence I think it would be better to run in on each build rather than just the releases. Will be opening the PR soon for this after #2950 is fixed as it will fail our CI

[2022-01-10 13:25] realshuting commented on #2674
Did you delete all the previous reports?

Can you please share the reproduce steps if possible?

[2022-01-10 13:27] realshuting commented on #2951
This issue should be fixed in 1.5.3 https://github.com/kyverno/kyverno/issues/2909, can you update the image to `v1.5.3` or the latest release candidate `v1.5.4-rc1` and test again?

[2022-01-10 13:29] realshuting commented on #2892
Great! The `.status` attributes are generated automatically by `controller-gen`, I updated the issue title to reflect the real issue. Needs to investigate how to ignore `.status`.

[2022-01-10 14:04] damienleger commented on #2674
@realshuting

I didn't but I've tried after deletion and it's the same.

I can give some contexts first, I have the problem on a namespace with ~250 pods. ~200 pods are managed by Deployment, ~50 by CronJob.

This is the policies setup; those are the one coming from the documentation with background activated and some match/exclude added.

![image](https://user-images.githubusercontent.com/1649902

[2022-01-10 14:18] ojhaarjun1 opened #2955 "[BUG] TLS: Bad Certificate Error on Rolling Upgrade to 1.5.4-rc1"
**Software version numbers**

* Kubernetes version: 1.21.1
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Kind
* Kyverno version: 1.5.2

**Describe the bug**
When doing a rolling upgrade from 1.5.2 to 1.5.4-rc1, more than one ReplicaSets are created. An intermediate Pod with 1.5.4-rc1 image is observed to die with the error `http: TLS handshake error from 10.244.0.1:26540: remote

[2022-01-10 14:26] Namanl2001 commented on #2920
All good now :)

[2022-01-10 14:26] #2920 closed

[2022-01-10 15:57] realshuting commented on #2955
Adding another scenario to this upgrade test:

With the upgrade steps mentioned above, I got 2/5 times there was only one new ReplicaSet being created (running v1.5.4-rc1), showing the `TLS bad certificate` in the log. And any pod creation was blocked:

[code]

[2022-01-10 16:00] #2529 closed, assigned to nobody

[2022-01-10 16:02] realshuting commented on #2454
This was fixed in the latest main branch. @dkulchinsky - can you please verify using the image tag `1.6-dev-latest`?

[2022-01-10 17:07] chipzoller opened #2957 "[BUG] anyPattern not working for ephemeralContainers"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.23
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): KinD
* Kyverno version: 1.6-dev-latest

**Describe the bug**
A validate policy which uses `anyPattern` does not appear to be enforcing as intended when a Pod resource is patched with an ephemeral container.

**To Re

[2022-01-10 17:08] chipzoller commented on #2957
cc @JimBugwadia as I think this needs confirmation

[2022-01-10 18:13] artem-nefedov opened #2958 "[BUG] Kyverno 1.5.3 crashloop"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.3

**Describe the bug**

After upgrading to Kyverno 1.5.3, we started to sometimes observe the problem where Kyverno cannot start and gets stuck in crashloop. This does not always happen,

[2022-01-10 20:54] ShubhamPalriwala commented on #2881
Seems like both #2536 and #2845 have been overwritten by #2896 :((

[2022-01-10 21:38] Abhishek357 commented on #2945
I would like to work on this

[2022-01-10 21:42] #2940 closed

[2022-01-10 21:45] chipzoller commented on #2873
Is this issue resolved, @fgharo ?

[2022-01-10 21:48] chipzoller commented on #2850
Closing as no response.

[2022-01-10 21:48] #2850 closed

[2022-01-10 21:49] chipzoller commented on #2847
Issue superseded by #1127. Closing as duplicate.

[2022-01-10 21:49] #2847 closed

[2022-01-10 21:51] chipzoller commented on #2844
On second look, this may not be quite the same thing. @abhi-kapoor please provide a test policy and test resource along with reproduce steps so we can investigate.

[2022-01-10 21:53] chipzoller commented on #2817
@fjogeleit is this issue closed by #2900 ? It was not linked and remains open after merge. Please confirm.

[2022-01-10 21:54] chipzoller commented on #2810
Issue superseded by #2320 so closing duplicate.

[2022-01-10 21:54] #2810 closed

[2022-01-10 21:55] chipzoller commented on #2795
Closed in #2797

[2022-01-10 21:55] #2795 closed

[2022-01-10 22:00] chipzoller commented on #2775
This should be addressed by https://github.com/kyverno/kyverno/issues/2665

[2022-01-10 22:04] chipzoller commented on #2772
@ninuxio Please see if this issue is still relevant in the current 1.6 image with tag `1.6-dev-latest` and respond if so. The PR referenced previously has been merged.

[2022-01-10 22:04] chipzoller commented on #2767
What is the update here?

[2022-01-10 22:06] chipzoller commented on #2761
Closed in #2927

[2022-01-10 22:06] #2761 closed

[2022-01-10 22:08] chipzoller commented on #2754
This issue should be complete now, yes?

[2022-01-10 22:32] fjogeleit commented on #2817
yes, it solves this issue

[2022-01-10 22:36] #2817 closed

[2022-01-11 00:23] fgharo commented on #2873
@chipzoller @JimBugwadia Either I am misundertanding how `time_since` works or its not working. Let me share a simpler example. The original example, I posted about images isn't going to work for a different reason (as dockerImageMetadata.ContainerConfig.Labels.\"build-date\"" is in unreliable in openshift for resources /apis/image.openshift.io/v1/images as some images could come from other source

[2022-01-11 04:23] fgharo commented on #2873
Hmm I do see this weird message in the logs:
[code]

[2022-01-11 04:49] fgharo commented on #2873
I tried wrapping the creationTimestamp variable in single quotes
[code]
 but looks like its still spitting out error:

[code]

[2022-01-11 04:59] JimBugwadia commented on #2873
Hi @zeborg - can you please check why the duration operator is not working in this case?

[2022-01-11 07:10] JimBugwadia commented on #2950
@ShubhamPalriwala - have you tried updating to the recommended versions?

[2022-01-11 07:32] sloorush commented on #2885
Hey @JimBugwadia!

I would like to drop a PR for this.

Possible solution:

To change the string function in `pkg/event/source.go` to use these strings.

[code]

This will make it more intuitive for the end-user.

[2022-01-11 07:59] JimBugwadia commented on #2885
@zeborg - good question!

I am not sure if the terms `admission-controller`, `policy-controller`, `generate-policy-controller` really matter to end users. I think for most users they just want to know the event source, which is `kyverno`.

@chipzoller @realshuting @MarcelMue - any thoughts on this?

[2022-01-11 08:11] zeborg commented on #2873
Hey @fgharo, according to PR #2680 although there's an option to provide the layout explicitly, apparently it's not functional yet.
Currently there does not exist any implementation to work on the layout input provided within the function _(as discussed in [this contributors meeting](https://nirmata.zoom.us/rec/share/guUhqyjSvqa8j8ECPPS6jJgcxBRma40C3uC2CIV0Gfer2qZKSlw3-2Q2qMULLaDN.1MyHdy5xVykNJaYy

[2022-01-11 08:13] #2792 closed

[2022-01-11 08:27] realshuting commented on #2793
Based on the recent discussion with @JimBugwadia and @ojhaarjun1, capturing down all follow-up changes for eliminating dynamic informers:

- [ ] @ojhaarjun1 - Replace the dynamic Informer (resourceCache) by the shared informer for Namespaces, Kyverno Deployment and Kyverno managed secrets, with right `listOptions`

- [ ] @ojhaarjun1 - Switch to use the shared informer for `mutatingwebhookconfigura

[2022-01-11 08:47] #2955 closed

[2022-01-11 09:42] ShubhamPalriwala commented on #2950
Hey Jim, so first of all both of them aren't our direct dependencies.
So what I did is:
I Ran
[code]
to find out the dependencies that require this package and got the following result:
[code]
Now I upgraded all of them one by one using `go get -d <name>`

But the 2 vulnerable packages are still of the same versions and if I directly try to upgrade them I get the following error:
[code]

Any help

[2022-01-11 09:50] MarcelMue commented on #2885
I agree that end users mostly want to know the event source - in this case `kyverno`. It most likely does not matter to them which controller emitted the event.

[2022-01-11 11:07] ojhaarjun1 commented on #2928
Hi @andriktr, @jkirkham-ratehub, thanks for reporting the issue! We've released 1.5.4-rc2. Could you please confirm if that fixes the issue for you?

[2022-01-11 11:09] ojhaarjun1 commented on #2958
Hi @artem-nefedov, thanks for reporting! This might be a duplicate of #2928. We've released the fixes in 1.5.4-rc2. Could you please confirm if that solves the issue for you?

[2022-01-11 12:50] admincasper opened #2962 "[BUG] Validation webhook fails and stops resource interactions every time kyverno Helmrelease is down"
**Software version numbers**

* Kubernetes version: **1.21.2**
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): **AKS**
* Kyverno version: **v1.5.1**

**Describe the bug**
If, for whatever reason, the Kyverno release is down (in my case it was an OOM error in only one of the environments) without deleting the deployment or helmrelease of Kyverno, the validation webhook _kyverno-res

[2022-01-11 13:14] chipzoller commented on #2885
`kyverno` is sufficient.

[2022-01-11 13:30] afzal442 commented on #2699
@lakshya8066 let me know if you are still looking into it, else I would like to give it a try. 👍🏻

cc: @JimBugwadia

[2022-01-11 13:38] chipzoller commented on #2732
The policy mentioned in this issue (and currently reflected on kyverno.io/policies) will soon be replaced with an improved version aligning with Pod Security Standards [here](https://github.com/chipzoller/kyverno-pss/blob/master/restricted/07-disallow-capabilities-strict/cpol.yaml). This will require Kyverno 1.6.0 but will address these issues.

[2022-01-11 13:40] lakshya8066 commented on #2699
Sure, go ahead @afzal442 :)

[2022-01-11 13:42] chipzoller commented on #2722
Can you try with the latest Kyverno release and see if this issue is still present?

[2022-01-11 13:43] chipzoller commented on #2720
Are you still seeing this in the latest Kyverno?

[2022-01-11 14:04] realshuting commented on #2885
+1 for `kyverno`.

[2022-01-11 14:24] realshuting commented on #2273
Closed via #2803.

[2022-01-11 14:24] #2273 closed

[2022-01-11 14:33] RolandOtta commented on #2951
Hello @realshuting ,

thank you for your feedback.

tried it now with v1.5.4-rc1, but facing the same issue as described in the original post.

[2022-01-11 14:39] chipzoller commented on #2683
@yashvardhan-kukreja can you look into this, please?

[2022-01-11 14:40] chipzoller commented on #2681
Is this addressed by https://github.com/kyverno/kyverno/pull/2891, @JimBugwadia, or unrelated?

[2022-01-11 15:00] chipzoller commented on #2667
Closing with no activity.

[2022-01-11 15:00] #2667 closed

[2022-01-11 15:10] chipzoller commented on #2608
This may be fixed in the latest code, can you try and report?

[2022-01-11 15:11] chipzoller commented on #2593
Closed in #2561

[2022-01-11 15:11] #2593 closed

[2022-01-11 15:13] chipzoller commented on #2582
@slayer321 are you still working on this issue or should it be unassigned?

[2022-01-11 15:14] chipzoller commented on #2576
@mritunjaysharma394 are you still working this issue?

[2022-01-11 15:32] JimBugwadia commented on #2681
I believe so, but requires testing. @vyankyGH - can you please add this to the `foreach` CLI test cases and verify?

[2022-01-11 15:37] chipzoller commented on #2503
Yes, the certificate currently generated by Kyverno has a validity period of one year. The documentation no longer states this is for 10 years.

[2022-01-11 15:37] #2503 closed, assigned to nobody

[2022-01-11 15:41] JimBugwadia commented on #2709
This should be possible. Will need to investigate details on how it can be configured.

[2022-01-11 15:43] chipzoller commented on #2491
@vyankyGH is this closed by related PR https://github.com/kyverno/kyverno/pull/2471 or still outstanding?

[2022-01-11 15:44] chipzoller commented on #2481
@sayantan1413 your linked PR is still outstanding without any updates. Can you please update and proceed?

[2022-01-11 15:45] vyankyGH commented on #2681
yes, I can verify that.

[2022-01-11 15:53] chipzoller commented on #2470
Seems to be related to https://github.com/kyverno/kyverno/issues/2573

[2022-01-11 15:55] chipzoller commented on #2461
Is this issue fully addressed by https://github.com/kyverno/kyverno/issues/2389 or are there outstanding work items, @vyankyGH ?

[2022-01-11 15:56] realshuting commented on #2951
@RolandOtta - did you try with the upgrade or the fresh install? We found another issue with the upgrade in v1.5.4-rc1 and pushed out v1.5.4-rc2 with the fix.

[2022-01-11 16:33] kempy007 commented on #2722
Still happens with v1.5.3 & 1.5.2(Tested this a while back)

[2022-01-11 16:35] slayer321 commented on #2582
Hey chip, due to some work I will not be able to work on this issue so I'm unassigning myself

[2022-01-11 16:45] xom4ek commented on #2461
Faced with the fact that I can not hang labels on zalando postgres...

![image](https://user-images.githubusercontent.com/29627495/148984896-2b4c6ca9-ce3d-4c39-b5a3-6599cc6461d0.png)

[2022-01-11 16:46] chipzoller commented on #2461
@xom4ek this does not appear to be related to this issue. Please open a new one.

[2022-01-11 17:34] afzal442 commented on #2699
@realshuting after workaround, I got this below example for a kyverno cluster policy which I can take as a use case to write a method to check for the same. Could you give me an example for that cluster policy object, if I'm not correct? Thanks

`{
  "apiVersion": "kyverno.io/v1",
  "kind": "ClusterPolicy",
  "metadata": {
    "name": "test-policy",
    "namespace": "default"
  },
  "spec": {

[2022-01-11 17:35] afzal442 commented on #2699
cc: @chipzoller @JimBugwadia

[2022-01-11 17:38] chipzoller commented on #2699
Can you please apply code blocks and syntax highlighting if you can.

[2022-01-11 17:50] afzal442 commented on #2699
@chipzoller my bad, I've updated it, have a look at it again. thanks.

[2022-01-11 19:11] rdavyd commented on #2683
@chipzoller I can confirm that this issue was fixed in 1.5.2

[2022-01-11 19:39] MaxRink commented on #2796
This is from an 3 Instance HA Setup

[2022-01-11 19:42] #2683 closed

[2022-01-11 19:51] diranged commented on #2720
No, sorry I think this can be closed. I shared some feedback to @realshuting about how I was actually confused by the settings in the webhooks because there was a "catch none" at the end of the webhooks that had the default timeout and failure policies, but it was actually not applied to any resource types. It was mostly my confusion, sorry!

[2022-01-11 19:58] MaxRink opened #2964 "[BUG] 1.5.4-rc2 exclude clusterRole from Policy broken"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.13
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): CAPI
* Kyverno version: 1.5.4-rc2

**Describe the bug**
We have the following Policy that doesnt work after an upgrade from 1.5.2 to 1.5.4-rc2:

[code]
The exclusion for clusterAdmin doesnt apply anymore, thus cr

[2022-01-11 20:06] jkirkham-ratehub commented on #2928
Ok, I've confirmed this works using the helm chart v2.1.5, overriding the image tags on both the `kyverno` and `kyvernopre` containers:
`
        image:
          repository: ghcr.io/kyverno/kyverno
          # Defaults to appVersion in Chart.yaml if omitted
          tag: v1.5.4-rc2
          pullPolicy: IfNotPresent
        initImage:
          repository: ghcr.io/kyverno/kyvernopre
          #

[2022-01-11 20:07] artem-nefedov commented on #2958
@ojhaarjun1  You're right, this is probably a duplicate. After double-checking, I realised that all failures we've seen were during update from 1.5.2 to 1.5.3 (didn't see that at first). Feel free to close this.

[2022-01-11 20:13] artem-nefedov commented on #2962
I've encountered that too.
One workaround is to add `--autoUpdateWebhooks=false` to args, which changes webhook failurePolicy from "Fail" to "Ignore". AFAIK there's no way to change webhook failure policy without disabling dynamic webhooks (correct me if I'm wrong).

[2022-01-11 20:19] JimBugwadia commented on #2796
@ojhaarjun1 - please test with a 3 node kind cluster.

[2022-01-11 20:31] fgharo commented on #2873
@zeborg  Okay looks like I had the syntax entirely wrong. Looks like we need `{{ }}` for the creationTimestamp variable and `{{ }}` for the function call time_since in the key string as you have it. I was missing the outer {{}}.

Thanks, it works now.

@chipzoller  I think we can close this now.

[2022-01-11 20:44] #2873 closed

[2022-01-11 21:05] JimBugwadia commented on #2873
@zeborg - thanks! Can you please add this as a CLI test case in the Kyverno repo?

I thought the intent was to simply pass the layout to the Golang call (https://pkg.go.dev/time#Parse) and support all layouts Golang libs it supports.  @ojhaarjun1 - can you please confirm?

[2022-01-11 21:21] Namanl2001 commented on #2866
Hi @JimBugwadia - after going through the code once again today, I think we don't need to pass attestations manually via CLI and can simply use `cosign.FetchAttestations()` to fetch the attestations attached to an image (similarly as we are doing here: https://github.com/kyverno/kyverno/blob/main/pkg/engine/imageVerify.go#L241 ) and then use the output (which will obviously contain SBOM as a predi

[2022-01-11 21:43] chipzoller commented on #2866
That assumes the CLI will have access to the target registry to fetch attestations and, in many cases, this functionality will not exist especially in air-gapped pipelines.

[2022-01-11 22:31] zeborg commented on #2885
I have a question:
If we unify the event source for each of these controllers, couldn't we use just 1 event recorder that would use only `kyverno` as the event source instead of these 3 below?
https://github.com/kyverno/kyverno/blob/baf4fa335bc3b169462ada4f020e268522f85c0f/pkg/event/controller.go#L63-L65
If it's only affecting the event broadcasts then I believe it would end up reducing code redun

[2022-01-11 22:37] zeborg commented on #2873
Glad that I could help 😄

Sure! I'll create a separate issue for this.

[2022-01-11 22:40] JimBugwadia commented on #2885
Yes, we can consolidate them.

[2022-01-11 23:09] JimBugwadia commented on #2881
@ShubhamPalriwala - the changes were inadvertently made when switching to a keyless flow.

@Namanl2001 - can you please summarize next steps? We need SBOMs and signatures to be versioned. Thanks!

[2022-01-11 23:14] chipzoller commented on #2964
Does it work if you nest the exclusion under an `any` or `all` tag? We recently fixed a bug there and this might be a consequence of that.

[2022-01-11 23:32] JimBugwadia commented on #2866
Agreed. The primary use case I had in mind is for a policy author / developer who wants to create and test a policy rule with JMESPath, etc. Here its helpful to be able to take a "raw" or local file with the expected in-toto attestation and test, with minimal external dependencies.

[2022-01-11 23:46] Namanl2001 commented on #2881
@JimBugwadia please see https://kubernetes.slack.com/archives/C02TC4KRP8C/p1641944331001200

[2022-01-11 23:49] Namanl2001 commented on #2866
Got it. But how is one gonna create that attestation file? because sbom is just the predicate part of it

[2022-01-11 23:58] JimBugwadia commented on #2866
Right! Can we simply allow passing in the predicates then? As this is what they would provide the `cosign` CLI as well, right?

[2022-01-12 04:10] ojhaarjun1 commented on #2873
We can provide the layout, and it should be working, we have tests for that. What's not functional is using the common names for the layouts. For instance,
`time_since('Mon Jan _2 15:04:05 MST 2006', ...)` would work but `time_since('UnixDate', ...) won't.

[2022-01-12 07:14] #2958 closed

[2022-01-12 07:22] realshuting commented on #2951
Should not be 1.5.3 specific, re-assigning milestone.

[2022-01-12 07:37] ojhaarjun1 commented on #2928
Thanks, @jkirkham-ratehub!

[2022-01-12 09:00] sloorush commented on #2885
So @zeborg, we will be essentially overwriting all the changes made in #565 to send `kyverno` as the event source instead of the three detailed ones?

[2022-01-12 12:01] MaxRink commented on #2964
I dont know, we rolled back to 1.5.2 as that bug basically prevents usage of our clusters

[2022-01-12 12:18] Namanl2001 commented on #2866
yes to both

Is the following policy possible?

<details>
<summary>Note the different `predicateType` (please expand)</summary>
<br/>

[code]
</details>

I'm asking this because then we'll also need to decide the conditions of which `predicateType` needs to be checked for the supplied predicate.

if we'll also take `predicateType` as an input then the new `value.yaml` could look something like thi

[2022-01-12 12:44] Namanl2001 commented on #2881
I spent my weekend refactoring image and releaser workflows to remove duplication of the same steps in the jobs. And today I played with the sbom stuff. Here are my few observations:

- all we need is `COSIGN_REPOSITORY` and we can safely remove the sbom and signature containers from Makefile.
- `Image` workflow runs for each push to main, which populates the kyverno containers with so many signat

[2022-01-12 13:09] RolandOtta commented on #2951
sorry i should have explained more in detail when this actually happens.

i am running v1.5.1

upgrading something newer (also happens with your mentioned v1.5.4-rc2)

the upgrade initially works .... pod is up and running

[code]

but if the pod is restarted later I am getting the described timeout

[code]

[2022-01-12 13:14] chipzoller commented on #2453
Can you please verify if this problem is present on the latest Kyverno release, @MattSWakefield ?

[2022-01-12 13:15] chipzoller commented on #2447
Closed in #2448

[2022-01-12 13:18] chipzoller commented on #2439
Issue still present in 1.6-dev build.

[2022-01-12 13:22] #2893 closed

[2022-01-12 13:32] chipzoller commented on #2426
@DarthBenro008 are you working this issue?

[2022-01-12 13:33] chipzoller commented on #2411
Are you still planning on working this, @Anita-ihuman ?

[2022-01-12 13:39] chipzoller commented on #2372
Any value in keeping this?

[2022-01-12 13:41] chipzoller commented on #2362
Can you test this out now and see if it's still an issue? There have been changes to this script in the past.

[2022-01-12 13:42] garethahealy commented on #2372
am happy for it to be closed.

[2022-01-12 13:48] chipzoller commented on #2343
The reason for having the `DELETE` op is to support use cases where a user would like to block the deletion of an object based on a granular set of conditions, for example based on a label. If you want to permit deletes in cases like this, use a precondition that only filters on `CREATE` and `UPDATE`. The delete will be allowed.

Current version of the policy can be found [here](https://kyverno.io

[2022-01-12 13:48] #2343 closed

[2022-01-12 13:50] chipzoller commented on #2335
Making sure, with plans to deprecate the ConfigMap, we're still considering this use case.

[2022-01-12 13:52] chipzoller commented on #2328
What is the action item for this issue, exactly?

[2022-01-12 13:58] MattSWakefield commented on #2453
I've just attempted to install in same cluster and 1.5.4 fails. Looks like similar issues that have been reported here where the pod fails to start.

Trying to see if I can resolve by following those but no joy so far.

[2022-01-12 14:02] #2372 closed

[2022-01-12 14:13] chipzoller commented on #2284
Was this already added?

[2022-01-12 14:20] zeborg commented on #2885
@sloorush - I don't think so, only the code which has any reference to the definitions provided in `pkg/event/source.go` should be changed. The ones that I could find are:

* `pkg/event/controller.go`
* `pkg/event/source.go`
* `pkg/event/util.go`
* `pkg/webhooks/report.go`
* `pkg/webhooks/generation.go`

There may be other references which I might have missed here, so please perform some tests as

[2022-01-12 14:22] vyankyGH commented on #2491
yes, can can close this issue. already code enhanced .

[2022-01-12 14:22] #2491 closed

[2022-01-12 14:24] realshuting commented on #2447
#2448 didn't get merged, reopen the issue.

[2022-01-12 14:30] chipzoller commented on #2447
Sorry, it was closed not merged. @NoSkillGirl

[2022-01-12 14:57] JimBugwadia commented on #2881
Thanks for the details, @Namanl2001!  This looks good to me. Lets make the updates for 1.6 which will be the next release scheduled for late Jan.

[2022-01-12 15:35] realshuting commented on #2335
Yes it's still valid. The deprecation is only with `resourceFilters` because of the dynamic webhook changes. We no longer need it.

[2022-01-12 15:50] MattSWakefield commented on #2453
No joy I'm afraid - I can even install 1.5, didn't have any issues with 1.4 when installing. Consistently seeing errors in logs:

[code]

[2022-01-12 15:52] chipzoller commented on #2819
@anushkamittal20 reopening because this is not fixed in 1.5.3.

[2022-01-12 15:53] chipzoller commented on #2964
Looks like this didn't get fixed as initially reported in https://github.com/kyverno/kyverno/issues/2819

[2022-01-12 16:01] chipzoller commented on #2964
Regression re prioritized for Kyverno 1.5.4.

[2022-01-12 16:06] MaxRink commented on #2964
Which is already released :S

[2022-01-12 16:15] chipzoller commented on #2964
1.6.0

[2022-01-12 16:30] Boojapho opened #2967 "Update golang version used to build container images to inherit bug and security fixes"
**Software version numbers**

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.3

**Describe the bug**
The Dockerfile's currently use golang 1.7.2 to build the container images used in the releases.  Go 1.7.6 is the latest release and includes several bug and security fixes, including https://nvd.nist.gov/vuln/detail/CVE-2021-417

[2022-01-12 16:36] realshuting commented on #2819
Adjusting the milestone as 1.5.3 was already released.

[2022-01-12 16:44] MattSWakefield commented on #2453
@chipzoller - good news I've managed to install it. I had to use image tag v1.5.0 to do so.

Is there a change between 1.5.0 and 1.5.4 in terms of default permissions? As I can see lots of errors in logs around permissions and the kyverno service account.

[2022-01-12 16:57] chipzoller commented on #2453
There were some cleaning up of errant permissions, but that shouldn't break anything. We have not seen this reported before, TMK. The "use of closed network connection" message is strange. Kyverno 1.5.1+ does not work, you say straight from installation? Can you install from the latest Helm chart (CRDs don't need to be installed separately) but with the flag `-v=4` and let it run long enough for i

[2022-01-12 17:50] realshuting opened #2969 "Remove the dynamic informer (`resourceCache`) from `pkg/event`"
**Is your feature request related to a problem? Please describe.**
This is a sub-issue for https://github.com/kyverno/kyverno/issues/2793.

Previously we investigated and decided to remove dynamic informer from the event package when adding Kyverno events. The proposed solution was to create the event watcher for all resources activities and use the `Object` embedded in the `Event` to add Kyverno

[2022-01-12 17:55] demikl commented on #2962
The CRD `ClusterPolicy` has a field that specify whether the policy should be directed to a mandatory webhook or a allowed-to-fail webhook:

- if `.spec.failurePolicy` is set to `Fail` (default value), then the webhook named `validate.kyverno.svc-fail` will be configured according to this policy (merged with other policies having the same value)
- if `.spec.failurePolicy` is set to `Ignore`, then

[2022-01-12 20:04] ryaneorth opened #2971 "[BUG] Preconditions inside of foreach does not work"
**Software version numbers**

* Kubernetes version: `{Major:"1", Minor:"20+", GitVersion:"v1.20.7-eks-d88609", GitCommit:"d886092805d5cc3a47ed5cf0c43de38ce442dfcb", GitTreeState:"clean", BuildDate:"2021-07-31T00:29:12Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"}`
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: Both `v1.5.3` and `1.6-dev-4

[2022-01-12 20:52] Namanl2001 commented on #2881
I made another release on my fork, logs for which can be seen here: https://github.com/Namanl2001/kyverno/actions/runs/1689541649

[code]

verified the results with the above commands and I believe this is what we were trying to solve in this issue.

PS: I will open a PR for these changes by tomorrow :)

[2022-01-12 21:26] dkulchinsky commented on #2454
Hey @realshuting, I will give it a try and report back (may need a couple of days)

[2022-01-12 21:27] dkulchinsky commented on #2608
thanks @chipzoller, by latest code - you mean 1.5.3? 1.5.4? or 1.6-dev?

[2022-01-12 21:29] tolleiv commented on #2869
Facing the same issues - especially with https://github.com/kyverno/kyverno/issues/2819 it's really hard to adjust policies to stay out of the related namespaces and do what they're supposed to.

[2022-01-12 21:47] JimBugwadia opened #2972 "[BUG] Kyverno shows failure logs when `issuer` or `subject` are not found"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.6.x

**Describe the bug**

When using static keys, these logs are seen:

[code]

**To Reproduce**

Apply a policy with a static public key (not keyless) for an image signed with the corresponding private key.

**Expected behavior**

The `issuer` or `subj

[2022-01-13 02:31] chipzoller commented on #2608
Try with 1.6-dev-latest.

[2022-01-13 05:31] ShubhamPalriwala commented on #2758
@tegioz, Thank you for your insights. Can you tell us how can we implement this for our kyverno artifact?

PS: The link says its invalid and I couldn't find any other resource related to this. Any help here would be appreciated.

Thank you!

[2022-01-13 05:33] ShubhamPalriwala commented on #2950
@realshuting can you help me here with this please?

[2022-01-13 05:45] ShubhamPalriwala opened #2974 "CII Best Practises by OpenSSF"
Scorecards uses the OpenSSF API to get the CII score. I ran the OpenSSF API on Kyverno and one can take a look at the results [here](https://bestpractices.coreinfrastructure.org/en/projects/5327).

Currently we score the following the subsections:
| Section | Score |
| ------ | ------ |
| Basics | 8/13 |
| Change Control | 4/9 |
| Reporting | 0/8 |
| Quality | 2/13 |
| Security | 0/16 |
| Analysis

[2022-01-13 06:37] #2972 closed

[2022-01-13 06:37] JimBugwadia commented on #2972
Closed via https://github.com/kyverno/kyverno/pull/2973.

[2022-01-13 06:56] realshuting commented on #2912
As of 1.5.4, tag `latest` is updated when a new PR is merged, this happens on both `main` and `release` branches.

Suggest changing to "`latest` points to the latest build from main  (e.g. 1.6.0-xxx)".

[2022-01-13 07:19] sloorush commented on #2885
Okay! I will look into it.

[2022-01-13 08:29] ojhaarjun1 opened #2977 "Migrating Kyverno Specific Resources Informers to Shared"
**Is your feature request related to a problem? Please describe.**
This is a sub-issue of #2793. Currently, Kyverno uses informers that are cluster-wide and lead to unnecessary caching for Secret, ConfigMaps, and Deployments. Further, we use a Dynamic Informer for Namespaces.

**Describe the solution you'd like**
The Dynamic/Cluster-wide informers could be replaced with a single Kyverno namespace

[2022-01-13 08:44] tegioz commented on #2758
If you chart is signed, Artifact Hub will display a `signed` badge on it. Depending where your Helm repository is hosted, you can sign it in two different ways:

- You can provide a [provenance file](https://helm.sh/docs/topics/provenance/). This works fine with both with HTTP and OCI based Helm repositories (yours seems to be HTTP based, so this may be easier).
- For OCI based Helm repositories,

[2022-01-13 09:09] prateekpandey14 commented on #2549
@artem-nefedov did you faced the same issue again ? can you please share/paste the `GenerateRequest` resource which fails to generate target resource (`kubectl get gr <gr-name> -oyaml`) . Wanted to verify some of the properties set on the that.

[2022-01-13 09:58] mf-lit commented on #2951
I'm seeing the very same issue with 1.5.3.

We've got >180 CRDs registered which results in lot's of client-side throttling (as described in https://github.com/kyverno/kyverno/issues/2909) followed by `Timeout registering admission control webhooks`.

I've seen one or two instances of it succeeding and the pod becomes ready finally but eventually it reoccurs.

[2022-01-13 10:49] realshuting commented on #2950
I tried to remove `k8s.io/apiextensions-apiserver@v0.16.4` from `go.sum` and build locally:
[code]

It shows `github.com/coreos/etcd` is indirectly used by `"github.com/gardener/controller-manager-library"`.

Looks like we use the logger from `github.com/gardener/controller-manager-library/pkg/logger`, which I believe can be replaced by some other loggers. Can you please check and investigate?

[2022-01-13 11:50] realshuting commented on #2058
Hi @abhishekghiya - we recently fixed the endpoint issue #2902, can you please verify with `v1.5.4` release?

[2022-01-13 12:00] admincasper commented on #2962
Then I have some questions.
- What is the point of having both `validate.kyverno.svc-fail` or `validate.kyverno.svc-ignore`? Is there any drawback to using only validate.kyverno.svc-ignore? i.e settings `--autoUpdateWebhooks=false`. Does this flag do something else
- Basically the same question: Why is default value `true` for --autoUpdateWebhooks?
- What happens if a policy has `spec.failurePolic

[2022-01-13 12:23] realshuting commented on #2777
@adeniyistephen - are you still interested in picking this up?

[2022-01-13 12:42] vyankyGH commented on #2681
@JimBugwadia I have tested, This issue is not fixed with lastet PR changes.

[2022-01-13 13:01] realshuting opened #2978 "[BUG] Invalid policy validation blocks deny rule creation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: local build `1.6-dev-48-g116f3662` against latest main branch

**Describe the bug**
Cannot create this deny rule due to invalid policy validation.
[code]
[code]

[2022-01-13 13:28] chipzoller commented on #2971
Getting a policy validation error with current `1.6-dev-latest` tag as mentioned in #2978

[2022-01-13 13:33] vyankyGH commented on #2971
@chipzoller able to I'm able to install if added `pod-policies.kyverno.io/autogen-controllers: none` annotation;

[2022-01-13 14:00] zeborg commented on #2978
Hi @realshuting, I've tested the policy you've mentioned in the issue but it seems to be working fine for me.

The policy is also being described as below:
[code]

[2022-01-13 14:09] zeborg commented on #2978
This error occurs when you don't mention the condition operator in the `operator` field.

[2022-01-13 14:10] chipzoller commented on #2978
Even with the new operators, `In` should still be available for backwards compatibility, so it should be valid.

[2022-01-13 14:49] treydock commented on #2474
The last upgrade I did was to 1.5.3 and I ran into the TLS certificate issues I saw got recently fixed so it's hard to say for sure if this is till an issue.  I will attempt an upgrade to 1.5.4 next week hopefully and can see if still an issue then.  So far I've gotten in the habit of doing upgrades on Monday morning when our user load is lowest so we have the fewest number of namespaces. We have

[2022-01-13 15:06] ryaneorth commented on #2971
Hey @chipzoller - I think the problem you mention is a little different than the one I mention in this issue. In this case, I'm able to create the policy just fine, but the `preconditions` under `foreach` do not seem to work as expected when using `images.containers` variables in the `key` field

[2022-01-13 15:14] chipzoller commented on #2971
Understand but I need to confirm this on the latest 1.6 branch and that's where I'm seeing validation problems, so we need to understand that first.

[2022-01-13 15:23] realshuting commented on #2978
The operator came as empty:
[code]

[2022-01-13 15:25] realshuting commented on #2474
Sure! Keep me posted in case of any error.

[2022-01-13 15:27] zeborg commented on #2978
Latest `main` branch

[2022-01-13 15:33] artem-nefedov commented on #2962
@admincasper Setting `--autoUpdateWebhooks=false` does have other effects. It changes the way how webhook objects are provisioned. It's all described here: https://kyverno.io/docs/installation/#webhooks

[2022-01-13 15:35] realshuting commented on #2978
Was the policy `ready`?

Tested again, here's the setup:
[code]

[code]

Log:
[code]

[2022-01-13 15:54] dddomin3 commented on #2951
I'm seeing the same thing, I've tried both v1.5.2 and v1.5.4.

v1.4.2 was working for me.

I have it on 4 clusters, and on 1.5.2 upgrade, i was able to get it up on 3 clusters, but after a while, it crashed for this reason on all but one.

v1.5.4 upgrade, i've only got it working in one of four.

[2022-01-13 16:24] realshuting commented on #2951
Since there's no obvious error from the log, I added a container flag to configure this timeout via `webhookRegistrationTimeout` in this PR https://github.com/kyverno/kyverno/pull/2980. The default timeout is set to 30s.

The test image was pushed at `ghcr.io/realshuting/kyverno:v1.5.4-1-gde52faea`,  can you please increase the timeout via this flag and check if it fixes the issue? The accepted du

[2022-01-13 16:38] realshuting opened #2981 "Policy reports which exceed size limit"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.x

**Describe the bug**
This issue can be used to track the optimization of policy reports generation. We've seen issues that the reports that exceed the size limit, this could be due to:
- too man

[2022-01-13 17:08] sjentzsch commented on #2962
Even with `--autoUpdateWebhooks=false` we saw that somehow `mutate.kyverno.svc-fail` webhooks were created (running Kyverno `1.5.1`). Hard to debug for us as everytime it does our clusters will break. If policies with `.spec.failurePolicy=Fail` can also make such webhook create, it's unfortunate this spec is not configurable for the default policies of Kyverno (https://github.com/kyverno/kyverno/t

[2022-01-13 17:54] ShubhamPalriwala commented on #2950
Thanks for helping in the debug! I'll try to ask the maintainers there to upgrade their dependencies. If that doesn't work out, I'll look for alternative loggers!

[2022-01-13 19:11] ryaneorth opened #2982 "[BUG] Generating Resources only work with ClusterPolicies"
**Software version numbers**

Kubernetes version: {Major:"1", Minor:"20+", GitVersion:"v1.20.7-eks-d88609", GitCommit:"d886092805d5cc3a47ed5cf0c43de38ce442dfcb", GitTreeState:"clean", BuildDate:"2021-07-31T00:29:12Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"}
Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
Kyverno version: Both v1.5.3 and 1.6-dev-45-gc202fb0f

[2022-01-13 19:58] realshuting commented on #2962
Thank you @artem-nefedov for the clarification!

@admincasper - to answer your questions:

When you have webhook configured with `Fail`, `validate.kyverno.svc-fail` in this case, you are basically setting the hard restriction on the incoming requests. Setting the webhook failure policy to `Ignore` by default allows requests to pass through in terms of any Kyverno failure. This could potentially br

[2022-01-13 20:12] realshuting commented on #2962
Hi @sjentzsch - verified with the latest v1.5.4 release, I can see webhooks are configured correctly when I set the flag to false. Both `kyverno-resource-validating-webhook-cfg` and `kyverno-resource-validating-webhook-cfg` are configured with FailurePolicy `Ignore`:
[code]

[code]

Can you verify on the same?

[2022-01-13 21:47] sjentzsch commented on #2962
@realshuting - first of all, thanks for any clarification! Really helps.

Yes, I can confirm all webhooks are configured with `FailurePolicy` of `Ignore`. Unfortunately, still we have a lot of issues internally where suddenly the cluster breaks while we find webhooks with `FailurePolicy` of `Fail`. So far, unclear to me how this happens, unfortunately; will test with latest 1.5.4 tomorrow and try

[2022-01-13 22:08] zeborg commented on #2877
Hey @chipzoller!
It seems like the anchor handlers internally treat such policy violations as an error instead of failure. The reason why some of the results are treated as `pass` here is because `EqualityAnchor` is not being checked in this function below which somehow makes it translate into a `fail` instead of an `error`:
https://github.com/kyverno/kyverno/blob/116f36622b9c08661151106d2e232f800

[2022-01-13 22:19] dddomin3 commented on #2951
ahh i found the error, it's in crashloop:

[code]

[2022-01-13 22:25] dddomin3 commented on #2951
nevermind, i think it was because of: `            - "--webhookTimeout=120"` that i just removed.

[2022-01-13 22:51] chipzoller commented on #2877
Ok, yes, if you set the first two failing resources (I didn't test all of them but I'm assuming similar for others) to `error` then the result is a `pass`. It seems like the internal handling of those anchors needs to be fixed to result in a `fail` instead of `error`. The reason being that the selinux-user-role rule states: "In the containers[] array, IF securityContext is specified and IF seLinux

[2022-01-14 06:05] realshuting commented on #2962
That will be great, thanks!

[2022-01-14 07:12] realshuting commented on #2951
No, it's the timeout for webhook registration

I can see the Endpoint was ready, did Kyverno back to running once your fixed this flag `- "--webhookTimeout=120" `?

[2022-01-14 07:39] realshuting commented on #2674
Hi @damienleger - I verified against the latest main branch, I can see policy reports were only created for Deployments and standalone Pods.

I have Chart `kyverno-policies` installed, with a single deployment and a standalone pod created in the cluster:

[code]
The reports were generated only for `deployment/nginx` and `pod/test-pod`, no `pod/nginx-599964c558-mkqsr`.
[code]

Is the issue still pr

[2022-01-14 08:28] demikl commented on #2962
With default policies from chart kyverno-policies, using multiple replicas on Kyverno doesn't prevent API server requests to be rejected when deleting the deployment, for example. All kyverno pods will be set to TERMINATING, going the the NOT-READY state. The endpoints from service kyverno-svc will all be removed, and the API server will not have any endpoint for validating the requests. This will

[2022-01-14 08:34] artem-nefedov commented on #2962
If you've specified `--autoUpdateWebhooks=false`, you can additionally configure namespace selector to exclude kyverno's own namespace. That should prevent situation described by @demikl from happening.

Example values for helm:

[code]

This is currently not possible to do without setting `--autoUpdateWebhooks=false`, but there's a ticket for that: #2320

[2022-01-14 08:44] dmitrytretyakov opened #2983 "[BUG] Helm chart installation fails due to PDB api version on k8s < 1.21"
**Software version numbers**
* Kubernetes version: Major:"1", Minor:"20", GitVersion:"v1.20.7", GitCommit:"132a687512d7fb058d0f5890f07d4121b3f0a2e2", GitTreeState:"clean", BuildDate:"2021-05-27T23:27:49Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"
* Kyverno version: v1.5.1

**Describe the bug**
Installing helm chart on any version of k8s < 1.21 fails:
Error: unable to build kube

[2022-01-14 12:20] Prateeknandle commented on #2076
@realshuting is this issue still open?

[2022-01-14 13:17] TheKangaroo commented on #2570
I don't know if this is a good "first issue" but I would really like to dig into this and provide a PR since this blocks our daily work with kyverno. From the discussion above I think "add a new policy attribute to control if existing resources are updated" is the way to go, right?
It would be great if someone could assist me a little in providing details about what needs to be done since I have n

[2022-01-14 13:33] chipzoller commented on #2243
@vyankyGH with image `ghcr.io/kyverno/kyverno@sha256:efef9e993ade011340def5b0b99c269f0de035593a277e78172a341016b15611` creating the policy throws error:

[code]

[2022-01-14 13:47] dddomin3 commented on #2951
It fixed my issue, not sure about the original poster though. I think
they're on a different version, but it should give them hope.

On Fri, Jan 14, 2022, 12:12 AM shuting ***@***.***> wrote:

[2022-01-14 13:48] mf-lit commented on #2951
Could you clarify, is it `--webhookTimeout` or `--webhookRegistrationTimeout` (it looks like the latter in the PR?)

[2022-01-14 13:56] dddomin3 commented on #2951
--webhookRegistrationTimeout=120

Is what works for me.

On Fri, Jan 14, 2022, 6:48 AM Marc ***@***.***> wrote:

[2022-01-14 14:57] chipzoller opened #2984 "[BUG] JMESPath `divide` function not working properly"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-dev-latest (image kyverno@sha256:efef9e993ade011340def5b0b99c269f0de035593a277e78172a341016b15611)

**Describe the bug**
The `divide()` filter does not appear to work in a `deny` rule, eit

[2022-01-14 15:54] chipzoller opened #2985 "[BUG] JMESPath arithmetic operator unit conversion inaccuracy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.6-dev-latest

**Describe the bug**
Converting float values (ex., in memory) does not appear to be correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a policy like this

[c

[2022-01-14 16:09] ojhaarjun1 commented on #2985
Didn't get this, why should it be `12.28Mi`?
`1.2Gi = 1288490188800m = 1288490188.8`
`100Mi = 104857600`

`1288490188.8 / 104857600 = 12.288 = 12288m`

[2022-01-14 16:41] chipzoller commented on #2985
1.2Gi = 1228.8Mi = 1258291.2Ki = 1288490188.8 bytes = 1288490188800m
100Mi = 102400Ki = 104857600 bytes = 104857600000m
1288490188800m / 104857600000m = 12.288

[2022-01-14 16:45] chipzoller commented on #2985
Note that units in division here get cancelled once normalized.

[2022-01-14 17:05] mf-lit commented on #2951
Thanks. That seems to be working for me too.

Thanks @realshuting !

[2022-01-14 19:18] JimBugwadia commented on #2951
@realshuting - should we adjust the default value to be more accommodating?

[2022-01-14 20:08] #2853 closed

[2022-01-14 22:28] adeniyistephen commented on #2777
Yes, I have been busy. But other contributors are free to pick it up.

[2022-01-15 03:27] chipzoller commented on #2985
To expound on this issue, with the `divide()` function, there's a matrix which exists where the resulting solutions will differ based on dividend and divisor. So from #2753 there are three different types of things and a 2-term calculation so 3^2 combinations.

*scalar
*quant
*duration

First term is a dividend and second is divisor, resulting solution is a quotient. Objective is to produce a quot

[2022-01-15 08:34] samj1912 opened #2988 "[BUG] Various issues with autogen rules"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Docker Desktop
* Kyverno version: From commit https://github.com/kyverno/kyverno/commit/1fec430249bfd19fce20062b4919d01be426458c (current HEAD)

**Describe the bug**

Kyverno generates incorrect autogen rules for jo

[2022-01-15 08:43] samj1912 commented on #2988
/assign @samj1912

[2022-01-15 09:43] Prateeknandle commented on #2892
@realshuting @RolandOtta is this issue still open?

[2022-01-15 11:10] Prateeknandle commented on #2582
@chipzoller, I'm interested to work on this issue, plz assign it to me, also elaborate on how to approach it to solve it and on which files I should be working on to solve the issue?

[2022-01-15 12:52] chipzoller commented on #2892
Yes, issue is still open. The `.status` field still needs to be removed from the production installation manifests.

[2022-01-15 13:25] samj1912 commented on #2981
@realshuting we have also encountered this and it can be a serious issue with etcd. etcd has a limit of ~1mb per document that it can store. If the report objects are allowed to grow without a limit it can lead to cluster instability issues. FWIW gatekeeper suffers from the same issue and the way it currently solves it is two fold -

1. it prevents its equivalent of a policy report from growing to

[2022-01-15 13:33] samj1912 commented on #2971
I believe this is related to #2989

[2022-01-15 19:54] JimBugwadia commented on #2570
This issue probably requires some investigation and a mini-design document. Here is a an approach:

1. Add a new attribute to the [policy rule definition](https://github.com/kyverno/kyverno/blob/main/api/kyverno/v1/policy_types.go#L567). This is fairly easy.
2. Expand the background controller, which currently only applies validation rules with `background: true` to create or update policy reports

[2022-01-15 20:26] JimBugwadia commented on #2981
Hi @samj1912 - we had started with a violations per object but encountered other UX and operational challenges:
- too many violations
- lack of data for other statuses

In many cases the report get bloated due to redundant / duplicate data. I feel we can collapse duplicate entries as a first cut, and see if we need further optimizations or logic to split larger reports.

[2022-01-15 20:28] #2988 closed

[2022-01-15 20:43] JimBugwadia commented on #2967
Closed via https://github.com/kyverno/kyverno/pull/2968.

[2022-01-15 20:43] #2967 closed

[2022-01-15 22:12] rlandesman commented on #2888
/assign

I'll give this a shot! Will open a PR shortly

[2022-01-15 22:59] samj1912 commented on #2938
/assign @samj1912

[2022-01-16 01:27] JimBugwadia commented on #2949
Looks like these still need to be updated:

[code]

[2022-01-16 01:31] JimBugwadia commented on #2948
Looks like a few more need to be updated for a 10/10 score:

[code]

[2022-01-16 02:47] chipzoller commented on #2939
@samj1912 this looks cool and I'm interested in working with it to add some sample policies and properly document it. Few questions so I can work toward those goals.

1. How can I as a user check an existing image in some registry for what metadata may be available for Kyverno's use after this new functionality? I see that `crane` is one method via the `config` sub-command. Is there maybe an easie

[2022-01-16 03:57] #2949 closed

[2022-01-16 05:33] #2971 closed

[2022-01-16 09:13] samj1912 commented on #2939
Hey @chipzoller 👋, replied to these questions on the PR https://github.com/kyverno/kyverno/pull/2946#issuecomment-1013836988

LMK if I can help with anything else.

[2022-01-16 22:59] chipzoller commented on #2317
@oshi36 are you still working this issue?

[2022-01-16 23:00] chipzoller commented on #2314
Is this still an issue for you? If so, can you please try on the latest release and confirm for us?

[2022-01-16 23:05] chipzoller commented on #2283
Related: https://github.com/kyverno/kyverno/issues/2570

[2022-01-16 23:08] chipzoller commented on #2278
Revisiting this issue...is it still outstanding or did you solve this through some of the capabilities and sample policies introduced since? If not, we'll work on it.

[2022-01-16 23:11] chipzoller commented on #2277
@treydock is still already handled or is there something in the works? What's the action item here if not?

[2022-01-16 23:17] chipzoller commented on #2259
I believe this issue was caused by the fact that `name` was not included in the rule. This is created without error in Kyverno 1.6-dev-latest:

[code]

[2022-01-16 23:25] chipzoller commented on #2256
Is this still an outstanding issue if running Kyverno with 3 replicas and on the current code?

[2022-01-16 23:27] chipzoller commented on #2248
With some of the more recent memory optimizations, do we know if this is still an issue to track?

[2022-01-16 23:39] chipzoller commented on #2203
I'm not sure how we categorize this and triage.

[2022-01-16 23:41] chipzoller commented on #2194
Is this still being worked on?

[2022-01-16 23:43] chipzoller commented on #2163
Is this issue still relevant since dynamic webhooks are implemented?

[2022-01-16 23:48] chipzoller commented on #2159
Is this still an outstanding issue after testing with the Kyverno `1.6-dev-latest` tag? If so, can you please supply a test resource in this issue?

[2022-01-16 23:52] chipzoller commented on #2153
Kyverno needs to suppress mutating policies to add objects/fields as placeholders.

[2022-01-16 23:54] chipzoller commented on #2152
Is this still an issue or can it be closed?

[2022-01-16 23:57] chipzoller commented on #2127
@erwbgy would you mind checking if this behavior is still present in either Kyverno 1.5.4 or the Kyverno 1.6.0 dev image which can be run with the tag `1.6-dev-latest`?

[2022-01-17 00:04] chipzoller commented on #2106
Closed as outdated and new issue replaces it.

[2022-01-17 00:04] #2106 closed

[2022-01-17 00:05] chipzoller commented on #2098
This has been done.

[2022-01-17 00:05] #2098 closed

[2022-01-17 00:07] chipzoller commented on #2076
It's still open but it needs reconfirmation on 1.6.

[2022-01-17 00:22] chipzoller commented on #1986
@hans-d can you kindly respond to request for comments so this may be more appropriately triaged?

[2022-01-17 00:23] chipzoller commented on #1959
@Anita-ihuman this would be right up your alley :)

[2022-01-17 00:27] RolandOtta commented on #2951
@realshuting

`-webhookRegistrationTimeout=120s` also fixed the issue for me

[2022-01-17 00:30] chipzoller commented on #1949
@realshuting is this still an issue in the latest code base? I thought we had allowed for custom certificate usage which addresses this.

[2022-01-17 00:35] chipzoller commented on #2442
Closing this issue in favor of the later #2618.

[2022-01-17 00:35] #2442 closed

[2022-01-17 00:35] chipzoller commented on #1937
Closing this issue in favor of the later #2618.

[2022-01-17 00:35] #1937 closed

[2022-01-17 00:35] chipzoller commented on #2618
Using this issue to consolidate the following earlier issues which it now supersedes:

#2442
#1937

[2022-01-17 00:37] chipzoller commented on #1921
Can you check if this is still an issue, @fjogeleit ?

[2022-01-17 00:38] chipzoller commented on #1918
@rdavyd can you please confirm if the [above comment](https://github.com/kyverno/kyverno/issues/1918#issuecomment-881407590) works or not?

[2022-01-17 00:42] chipzoller commented on #1905
@JimBugwadia is this considered closed by #1941 or still outstand?

[2022-01-17 01:02] chipzoller commented on #1890
Is this still an outstanding issue?