[2022-04-22 06:50] #3625 closed

[2022-04-22 07:02] JimBugwadia opened #3654 "[Feature] use startupProbe instead of a long initial delay in"
### Problem Statement

See: https://github.com/kyverno/kyverno/pull/3381#issuecomment-1067706000

### Solution Description

add a startupProbe

### Alternatives

_No response_

### Additional Context

https://github.com/kyverno/kyverno/issues/3245#issuecomment-1066508556

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting gu

[2022-04-22 07:05] JimBugwadia commented on #3245
@gnunn1 - you can configure these for Kyverno via the `clientRateLimitQPS` and `clientRateLimitBurst` command line flags. See:

https://github.com/kyverno/kyverno/pull/2797/files

[2022-04-22 07:10] #3615 closed

[2022-04-22 07:19] realshuting commented on #3567
Hi @day1118 - sorry for the late response! `10.4s` seems to be a relative long processing time for a single mutate policy.

Had a few questions to debug further:

- Do you have any other policies installed? Especially is there any API lookup policies installed?
- If possible, can you attach your statefulset manifest?

I saw most of the throttling requests were related to events, which should not i

[2022-04-22 07:31] JimBugwadia commented on #3423
@rubroboletus - does the verification work using the Cosign CLI?

This error seems to indicate that there may be some issue with the registry response:

[2022-04-22 07:36] JimBugwadia commented on #3224
The Rekor URL can now be configured.

The Fulcio URL is not used when a root Key is provided.

[2022-04-22 07:36] #3224 closed

[2022-04-22 08:08] #3430 closed

[2022-04-22 08:12] rubroboletus commented on #3423
![image](https://user-images.githubusercontent.com/19551186/164646611-74130ab1-cc23-4326-9836-48b09700644a.png)

[2022-04-22 13:04] johnbuluba commented on #3653
Thanks @realshuting for opening this issue!

I will send a PR for this within the day!

[2022-04-22 13:55] treydock opened #3656 "[Bug] DELETE operations failing with foreach policies"
### Kyverno Version

1.6.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

I am using the kyverno-policies chart and recently deleted the preconditions for DELETE to allow sites to provide their own preconditions but discovered why those DELETE exclusions were there.  It seems that policies with `foreach` are causing issues on

[2022-04-22 13:55] treydock commented on #3656
CC @chipzoller

[2022-04-22 16:47] eddycharly commented on #3584
Strange, the `obj` in the event handler comes without `Kind` being set :thinking:

[2022-04-22 16:55] stelah1423 commented on #3295
Also worth noting on this that policies marked as not ready still seem to work from my testing. I'm not entirely sure what the `Ready` definition here is suppose to mean.

[2022-04-22 17:02] eddycharly commented on #3584
It looks like we should not expect `kind` and `apiVersion` to be set :(

[2022-04-24 11:51] chipzoller commented on #3645
Closed in #3606

[2022-04-24 11:51] #3645 closed

[2022-04-24 11:52] chipzoller commented on #1616
@realshuting @treydock @eddycharly is there any other action for us to take on this issue? Obviously the two installation artifacts aren't going to be 100% equal, but do we have any gaps we still need to close?

[2022-04-24 13:48] eddycharly commented on #1616
IMHO we have the necessary plumbing in place, we make sure that manifests and CRDs are up to date when merging PRs, same thing for docs (in both raw manifests and helm charts).
Given that manifests and helm charts are essentially maintained separately, except if we have very big differences remaining, I feel like we are in an acceptable state.

[2022-04-24 23:08] JimBugwadia opened #3667 "[Bug] Generate permissions are not checked"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Generate

### Description

With 1.7 / latest, when a generate rule is applied for a new resource (one which Kyverno does not have permissions to generate), there is no validation error shown.

This seems like a regression from 1.6.x.

### Steps to reproduce

Create a generate rule

[2022-04-24 23:09] JimBugwadia commented on #3667
@prateekpandey14 @eddycharly @realshuting - is this a regression due to the policy validation changes?

[2022-04-24 23:28] JimBugwadia commented on #3667
Also seeing other validation is not applied e.g. for `kind` in the generate data block.

[2022-04-25 01:26] day1118 commented on #3567
Hi @realshuting

I am not sure what an API lookup policy is - sorry.

My helm chart has a lot in it (~15 deployments & 3 statefulsets), but I know I have seen the following statefulset cause the issue. It can be generated using the following:
[code]

Note that I have deployed just the statefulset above >20 times and never had it timeout when deployed on its own.

<details>
<summary>All policies:</

[2022-04-25 07:21] realshuting opened #3668 "[Bug] Create UR per trigger per rule for `generate` policies"
### Kyverno Version

1.6.x

### Description

Reported from Jim:

Proposed solution:
- Create a UR per trigger per rule, each `ur.status` reflects the state per target, and there will be multiple URs for a policy

This way it is easier to cleanup the UR, or know which target to recreate / update, etc. It can also be extended to contain more info in the long term.

### Slack discussion

_No response

[2022-04-25 09:11] sriramss opened #3732 "[Bug] Missing rule names in successful events"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Bare metal

### Description

Kyverno is running in my cluster and I am running the following policy -
[code]
I have a total of 28 policies(similar to the above) in my cluster. These policies are not enforced on any workloads but, I see kyverno is generating false-positive events like this -

[code]

whereas an act

[2022-04-25 11:06] #3608 closed

[2022-04-25 11:08] #1616 closed

[2022-04-25 12:03] realshuting commented on #3639
I tested against latest main, the policy can be created successfully:
[code]

[2022-04-25 12:20] #1607 closed

[2022-04-25 12:20] #1722 closed

[2022-04-25 12:20] #2139 closed

[2022-04-25 12:20] #3620 closed

[2022-04-25 13:02] realshuting opened #3670 "[Bug] Bump Go versions across all kyverno packages to fix new CVEs in Golang 1.17.6"
### Kyverno Version

1.6.x

### Description

Kyverno images built from go-1.17.6 were detected with the following CVEs:

id | source | package
-- | -- | --
CVE-2022-23806 | twistlock_cve | go-1.17.6
CVE-2022-23773 | twistlock_cve | go-1.17.6
CVE-2022-23772 | twistlock_cve | go-1.17.6

We need to bump to Go 1.17.7+.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and fo

[2022-04-25 13:26] #3670 closed

[2022-04-25 14:27] chipzoller commented on #3644
@stelah1423 where did you find this notation was a valid way of escaping Helm's templating process? Did you see [the docs page](https://github.com/kyverno/website/issues/502) on this?

[2022-04-25 14:44] mritunjaysharma394 commented on #2053
Thanks @chipzoller. in that case would you suggest to close this issue then as we are already working on it with above proposals and its not a Bug per see?

[2022-04-25 14:50] chipzoller commented on #2053
Yes. Closed.

[2022-04-25 14:50] #2053 closed

[2022-04-25 15:03] stelah1423 commented on #3644
I initially found https://github.com/kyverno/kyverno/issues/1751

The mentioned doc page (https://kyverno.io/docs/writing-policies/variables/#escaping-variables) mentions just using `\` to escape the variable, but that doesn't work. Helm still failed to render the template.

This method I found does work, and I found it from another issue here, though, I don't have the link anymore. If I come acro

[2022-04-25 15:19] stelah1423 commented on #3644
Yes and no.

Helm would have already hydrated the policy manifest, which would have extracted the escaped characters by time the policy is applied to the cluster.

I would have expected the CLI tools used for linting/testing to be able to handle escaped variables as this stage would usually occur before helm templates are rendered/applied. If thats not the case though, we can close this ticket wit

[2022-04-25 15:22] chipzoller commented on #3644
@MarcelMue can you advise on this issue and if there's an action to take, whether that be in the CLI or the webhook?

[2022-04-25 15:54] garrett-compass opened #3675 "[Feature] Support Maps in Preconditions (instead of just strings)"
### Problem Statement

Kyverno has multiple policies around ingresses for unique ingress, hosts, etc:
- [Unique Ingress Host](https://kyverno.io/policies/other/restrict_ingress_host/restrict_ingress_host/#:~:text=An%20Ingress%20host%20is%20a,are%20unique%20to%20the%20cluster.)
- [Unique Ingress Path](https://kyverno.io/policies/other/unique-ingress-paths/)

The uniqueness in these policies (among

[2022-04-25 16:30] realshuting commented on #3597
@leizerbeam - what version were you testing against? You need to update `kyverno:generate` ClusterRole if you are running 1.6.2.

[2022-04-25 16:36] #3270 closed

[2022-04-25 23:58] chipzoller commented on #3608
Back on the point of this feature being used to supplant the current non-existence checks in JMESPath, I'm struggling to understand the value of this over the simple OR expression. Take a typical example like in the [Limit dnsNames](https://kyverno.io/policies/cert-manager/limit-dnsnames/limit-dnsnames/) policy. In order to provide safeguards against `null` evaluation, the expression is written `{

[2022-04-26 04:03] #3416 closed

[2022-04-26 05:09] prateekpandey14 commented on #3497
@ddellarocca some fixes has been merged, can you try with latest tag image and see if the issue still there.

[2022-04-26 05:21] prateekpandey14 commented on #1627
For now we have added the validation to block the target resource name in case if its more than 63 chart, but we have to figure out some other way to fix this correctly , may be we can store the required info in annotations ?

[2022-04-26 06:26] #3624 closed

[2022-04-26 12:00] #3604 closed, assigned to vyankyGH

[2022-04-26 12:21] samj1912 commented on #3608
@chipzoller there are some difference between the two syntaxes that make policy definition much simpler.

For eg. let's say you have a variable that counts the number of dnsNames

You can write it as

[code]

to get `dnslength` to be set to `0` (the integer not the string).

Instead of a something more convoluted like

```{{ request.object.spec.dnsNames || `[]` | length(@) }}```

The above can pot

[2022-04-26 12:25] samj1912 commented on #3608
Some other examples of the other capabilities that this feature introduces are written down at https://github.com/kyverno/kyverno/blob/main/test/cli/test/context-entries/policies.yaml

[2022-04-26 12:46] chipzoller commented on #3608
Yes, I totally get you and understand how this can be useful (indeed it can!). Just two things:
1. Sometimes all one needs is the OR expression because of simple use cases (see [here](https://kyverno.io/policies/openshift/disallow-self-provisioner-binding/disallow-self-provisioner-binding/) for an example although probably not the best because `metadata.name` is required for every object type, but

[2022-04-26 14:24] samj1912 opened #3685 "[BUG] wildcard anyin/in regression with wildcard keys"
I noticed that this PR broke policies like https://kyverno.io/policies/other/check_nvidia_gpu/check-nvidia-gpu/

_Originally posted by @samj1912 in https://github.com/kyverno/kyverno/issues/3486#issuecomment-1109842896_

[2022-04-26 14:32] rdavyd commented on #2681
@JimBugwadia @chipzoller The issue was closed, but the original problem persists as of version 1.6.2
[code]
`vol02` does not get mutated when it is not the first element in the list. However if it comes first it is OK.

[2022-04-26 14:33] #3177 closed

[2022-04-26 14:57] sambhav opened #3687 "[Feature] Run CLI tests via the go test runner and record coverage"
### Problem Statement

Currently we run the CLI tests by compiling the CLI and then invoking kyverno test/apply on the compiled CLI. We should instead just call these commands programatically from go test code so that we can also capture the coverage metrics from our vast array of CLI tests.

### Solution Description

We need to refactor the CLI to not call os.Exit at random places in the code bas

[2022-04-26 18:03] #3685 closed

[2022-04-27 03:53] realshuting opened #3690 "[Feature] Enable e2e tests for validate policies"
### Problem Statement

Currently e2e tests are only enabled for mutate and generate policies, and PR https://github.com/kyverno/kyverno/pull/3684 to enable verifyImage policies.

We also need to enable e2e for validate policies https://github.com/kyverno/kyverno/tree/main/test/e2e/validate.

### Solution Description

Add e2e tests in CI checks.

### Alternatives

_No response_

### Additional Cont

[2022-04-27 05:20] vyankyGH opened #3691 "[Bug] [CLI] Subject not supported in test command"
### Kyverno CLI Version

1.7.0

### Description

related issue: https://github.com/kyverno/kyverno/issues/2861

### Steps to reproduce

Policy.yaml
[code]
resource.yaml
[code]

variables.yaml

[code]

user_info.yaml
[code]

kyverno_test.yaml
[code]

### Expected behavior

Both the test-case should get pass.
But 1st test-case get skiped as it's not getting subject values from provided file

### Scr

[2022-04-27 05:23] vyankyGH commented on #3691
@4molybdenum2 do have any idea how we can support that? as you have added support for this.
Correct me if i missing something while writings test case.

[2022-04-27 07:26] #3559 closed

[2022-04-27 07:26] realshuting commented on #3559
Updated https://github.com/kyverno/kyverno/pull/3679/files#diff-e29d4b317d7cd31edf1504a7940e8369e6d1cb6a2bdd37fc49c2c9d30cb26b7eR89.

[2022-04-27 07:26] vyankyGH opened #3693 "[Bug] [CLI] test command git support broken"
### Kyverno CLI Version

1.7.0

### Description

No kyverno_test.yaml files getting evaluated.

[code]

### Steps to reproduce

1. run kyverno test command with git url

### Expected behavior

Kyverno test command should look for all kyverno-test.yaml and apply test on those.

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No response_

### Troubleshooting

[2022-04-27 09:50] 4molybdenum2 commented on #3691
/assign I will look into this

[2022-04-27 10:56] chipzoller commented on #3106
I'm thinking we can probably close this issue listing https://github.com/kyverno/kyverno/pull/3658 as the solution. What do you think, @samj1912 ?

[2022-04-27 11:49] samj1912 commented on #3106
SGTM

[2022-04-27 11:49] #3693 closed

[2022-04-27 11:51] #3106 closed

[2022-04-27 12:51] realshuting commented on #3584
@eddycharly - I'm still seeing the issue on the latest main when creating this policy:
[code]

Log:
[code]

[2022-04-27 12:57] eddycharly commented on #3584
Let me check, There's a chance that `MutatePolicy` washes the real `Kind`.

[2022-04-27 12:58] realshuting commented on #3584
See this message:
[code]

[2022-04-27 13:01] realshuting commented on #3584
This is particular for `Policy`, not `ClusterPolicy`.

[2022-04-27 15:09] #3433 closed

[2022-04-27 15:21] sjentzsch opened #3701 "[Bug] JMESPath mutating policy removes spec fields under certain (random) conditions it is not supposed to touch"
### Kyverno Version

1.6.2

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Mutate

### Description

Our JMESPath-based ClusterPolicy (posted below) to replace container images removes fields from the containers (and initContainers) spec it is NOT supposed to touch. With this, for example, after mutating the image, the volumeMounts of the service-account

[2022-04-27 18:30] JimBugwadia opened #3702 "[Feature] JMESPath function to convert map to object"
### Problem Statement

When writing policies that need to iterate on map keys (e.g. annotations) it would be great to have the ability to convert the map to a list of objects with key value attributes.

### Solution Description

A new JMESPath function filter `mapToObject` that converts a map to a JSON list with each entry being an object with a key and value.

### Alternatives

_No response_

###

[2022-04-27 22:13] samj1912 commented on #3578
This should be fixed by the new inline context variable support I believe.

[2022-04-27 22:19] samj1912 commented on #3412
@dkulchinsky closing this issue with the above resolution.

[2022-04-27 22:19] #3412 closed

[2022-04-27 22:29] chipzoller commented on #3412
Can you please test this as a solution on the latest pre-RC code and verify?

[2022-04-28 01:35] ningmingxiao opened #3708 "[Feature] Support encrypted images"
### Problem Statement

I want to use kyverno  to support encrypted images

### Solution Description

I want to use kyverno  to support encrypted images

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).

[2022-04-28 01:58] JimBugwadia commented on #3708
Hi @ningmingxiao - can you please clarify what you mean by "encrypted images"? An example would be great!

[2022-04-28 03:06] ningmingxiao commented on #3708
like this
https://github.com/IBM/k8s-enc-image-operator
https://www.ibm.com/cloud/blog/deploy-containers-from-encrypted-images-in-red-hat-openshift-on-ibm-cloud-clusters

[2022-04-28 08:26] pns-nirmata opened #3709 "[Bug] Image verify rule gives error for non-existing configmap"
### Kyverno Version

1.6.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

An image verify rule gives error if a configmap referred in the rule context is not available upfront.

### Steps to reproduce

1. Install Kyverno 1.6.2
2. Create the following cluster policy
[code]
5. It gets created properly
6. Now, edit the policy w

[2022-04-28 09:51] #3279 closed

[2022-04-28 12:39] chipzoller commented on #3709
The issue reported in step 6 needs to be validated with other rules as this doesn't look specific to `imageVerify` rule types. It looks like a policy validating problem during edit.

[2022-04-28 13:00] stephen-harris commented on #3497
@prateekpandey14 I also had this issue and I can confirm `latest` fixes it for me. Will there be a 1.6.x version with this fix or will I have to wait until 1.7.0?

[2022-04-28 14:51] 4molybdenum2 commented on #3691
@vyankyGH  We need to can't provide the subjects in user_info.yaml as type kyverno.UserInfo

[code]
Instead we are providing the user_info as type kyverno.RequestInfo

[code]

Secondly, I am unsure why are we returning the errs over here?
https://github.com/kyverno/kyverno/blob/d0ada5529cebe9f674b9e7505852529cd46e487a/pkg/engine/utils.go#L194-L222

in line 200, 210, 220.

[2022-04-28 18:08] dkulchinsky opened #3716 "[Feature] Ability to identify the failing deny condition in a validation rule"
### Problem Statement

When writing a validation rule with multiple deny conditions the reported message, event and kyverno log just specify the policy & rule that failed, however if there are multiple conditions denied it's difficult to identify which one was violated.

It would be great if the logs and the events/messages emitted would identify the actual condition that was violated making it cl

[2022-04-28 18:38] JimBugwadia commented on #3708
Hi @ningmingxiao - thanks for the details!

Kyverno supports [Cosign](https://github.com/sigstore/cosign/tree/main/cmd/cosign) for image signing and verification.

Here is an example:

   https://cloud.redhat.com/blog/software-supply-chain-security-on-openshift-with-kyverno-and-cosign

   https://github.com/garethahealy/kyverno-verifyimages-blog

Does this address your use case, or are you looking

[2022-04-28 23:26] JimBugwadia opened #3720 "[Bug] fix policy status"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Other

### Description

The policy status contains a copy of the policy rules.

This was added for autogen, but seems to be happening for all policy rules even if autogen is disabled.

### Steps to reproduce

1. Create and apply a policy
2. Check the status

### Expected behavior

[2022-04-28 23:44] dkulchinsky commented on #2789
Hey @prateekpandey14! sorry for not replying sooner, looks like I missed the notification while on PTO.

Since reporting this issue we've upgraded to v1.6.X and since then didn't hit this again, so not sure I have a way to reproduce at this point.

[2022-04-28 23:48] JimBugwadia opened #3722 "[Bug] autogen errors and missing cronjob rule"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

I applied a policy and see autogen errors in the logs, and missing rule for CronJob.

### Steps to reproduce

1. Apply this policy:

[code]

2. Check logs

[code]

3. Check generated rules - it seems to be missing for CronJob, although the `activated`

[2022-04-29 01:44] ningmingxiao commented on #3708
I want  to use  imgcrypt[https://github.com/containerd/imgcrypt] or other project  in  Kyverno to auto  decrypt  image ,your example support to  sign an image not  decrypt an image.

[2022-04-29 05:02] prodanlabs opened #3725 "[Feature] apiCall add raw path"
### Problem Statement

When I get the aggregation API through apiCall, I found two problems.
1、URL path length limit；
2、Cannot get data from custom aggregation API;

my `ClusterPolicy`
[code]
error log
[code]

### Solution Description

Add a method to get data using raw URL.

for example
[code]

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No respo

[2022-04-29 05:04] prodanlabs commented on #3725
/cc @RainbowMango

[2022-04-29 05:12] prodanlabs commented on #3725
I use raw url to get api data , it works

[code]

[code]

[2022-04-29 11:09] prateekpandey14 commented on #3497
@stephen-harris 1.7.0 release is due next week, so 1.6.x version will not be available with this fix.

Closing the issue , feel free to reopen otherwise.

[2022-04-29 11:09] #3497 closed

[2022-04-29 11:44] DerRockWolf opened #3731 "[Bug] Policy not denied if `kinds` resource filter is empty"
### Kyverno Version

1.6.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

When I'm trying to deploy a Policy (`kind: Policy`) and the `kinds` resource filter isn't set the policy isn't being denied.
If the policy is from kind `ClusterPolicy` the create request is being denied.

### Steps to reproduce

1. D

[2022-04-29 11:48] #3722 closed

[2022-04-29 12:15] chipzoller commented on #3731
A `Policy` resource operates on Namespaced resources. A Namespace is itself cluster-scoped and not Namespace-scoped.

[2022-04-29 12:21] chipzoller commented on #3725
In your first post you say it wasn't working, then in the above it now is with "raw url". What are you now using?

[2022-04-29 12:31] DerRockWolf commented on #3731
I know that but regardless of this the documentation states that:

https://main.kyverno.io/docs/writing-policies/match-exclude/

This is only being validated if I try to deploy a `ClusterPolicy`. When I deploy a `Policy` the policy is being created (regardless if the kinds resource filter is empty or not).

I hope that clarifies my issue.

[2022-04-29 12:51] chipzoller commented on #3732
Tested on 1.6.2 and latest 1.7.0 pre-release code and this is still present.
1. Create the above Policy.
2. Create a Pod which does not match.
3. Check the events on the Policy by describing it.
4. See it has generated an event with an empty rule.
5. Create a Pod which does match.
6. Check the events again.
7. See a new event is generated naming the specific rule.

Events should not be generated o

[2022-04-29 13:53] #3667 closed

[2022-04-29 14:48] zosocanuck opened #3735 "[Bug] ImageVerify missing value error"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

After deploying a cluster policy that performs verifyImages I get the following error:

[code]

### Steps to reproduce

1.  Deploy a VerifyImages policy based on the latest 1.7 functionality that permits certificate chaining for verification (keyless -

[2022-04-29 14:49] chipzoller commented on #3735
Can you share your policy, please?

[2022-04-29 14:52] zosocanuck commented on #3735
[code]

[2022-04-29 14:56] ddellarocca commented on #3497
@prateekpandey14, thanks for the fixes, I can't deploy the latest on our cluster I'll wait for the 1.7.0 release.

[2022-04-29 15:15] Geethree commented on #1607
Another use case for mutate existing.

Let's say I have two deployments `A` and `B`. For whatever reason, I'd like for container[0] to always match between the two deployments. Normally, this is handled by deployment pipelines.. but occasionally manual intervention is required such as rollbacks.

As such, having the ability to write a policy that always ensures that the images match between deploy

[2022-04-29 15:21] realshuting commented on #1607
@Geethree - Kubernetes doesn't allow you to change a container's image once it's created. You need to do that before the second Deployment is created (via CI or admission mutation).

[2022-04-29 15:24] Geethree commented on #1607
Yeah I'd like for Kyverno to a Deployment.spec.template.spec.containers[0].image in sync between A and B?

[2022-04-29 15:28] chipzoller commented on #1607
It actually does ([source](https://kubernetes.io/docs/concepts/workloads/pods/_print/#pod-update-and-replacement)):

[2022-04-29 16:42] JimBugwadia commented on #3118
Also requested at: https://kubernetes.slack.com/archives/CLGR9BJU9/p1651239894149779

[2022-04-29 16:54] ndctrb opened #3739 "[Bug] Release note for v2.3.4 is available but no chart for this version"
### Kyverno Version

1.6.2

### Description

What happened: Release note for v2.3.4 is available but no chart for this version

What you expected to happen: A chart for v2.3.4

How to reproduce it (as minimally and precisely as possible): there's no chart v2.3.4 when using helm search repo -l kyverno

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the docu

[2022-04-29 17:39] eddycharly commented on #3731
I’ll look at it, thanks for reporting.

[2022-04-29 22:43] prodanlabs commented on #3725
Oh, my fault. It should be raw path I also use raw path now.

[2022-04-30 04:39] mogggggg commented on #1334
Chiming in to say this would be a great feature, I'm finding it quite hard to debug exactly why a policy I'm working on isn't working.

[2022-04-30 11:47] chipzoller commented on #3725
What was the raw path that worked instead?

[2022-04-30 12:31] prodanlabs commented on #3725
`apiCall` gets api data through `GetResource` function, `GetResource` function parameters come from `newAPIPath`,however, the `GetResource` function cannot handle paths with a length greater than 7 and not in the format `/apis/{GROUP}/{VERSION}/namespaces/{NAMESPACE}/{RESOURCETYPE}/{NAME}`.
https://github.com/kyverno/kyverno/blob/main/pkg/engine/jsonContext.go#L340

I mean to add a function to get

[2022-04-30 12:46] prodanlabs commented on #3725
`/apis/{GROUP}/{VERSION}/{RESOURCETYPE}`
`/apis/{GROUP}/{VERSION}/{RESOURCETYPE}/{NAME}`
`/apis/{GROUP}/{VERSION}/namespaces/{NAMESPACE}/{RESOURCETYPE}`
`/apis/{GROUP}/{VERSION}/namespaces/{NAMESPACE}/{RESOURCETYPE}/{NAME}`

These path types are not flexible enough, `apiCall` will not work if the api path the user wants to call is not of these types.

[2022-04-30 14:14] chipzoller opened #3742 "[Bug] [CLI] Variables of type integer not supported"
### Kyverno CLI Version

1.6.2

### Description

Variables having type integer are not supported and cause the CLI `test` command to fail with (visible at log level 4):

[code]

This is a problem because Kyverno allows setting variables from contexts in types other than string.

### Steps to reproduce

1. Create a `values.yaml` file which looks like this:
[code]
2. Reference the values file in a t

[2022-04-30 18:28] dkulchinsky opened #3745 "[Bug] Kyverno is not receiving updates for changes to Service status"
### Kyverno Version

1.6.2

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate + Generate

### Description

For this use case, we use Kubernetes clusters deployed on Baremetal with Kubespray and Kops in AWS.

We have a simple mutation policy that adds a label to a `Service` when the `status.loadBalancer.ingress[0].ip` is assigned.

[2022-04-30 19:18] JimBugwadia commented on #3185
@aleksrosz - current Kyverno will generate:
1. Events on the resource when policies are applied
2. Events on the Policy when policies are applied

The events will be a PolicyViolation when a resource does not comply with a policy.

There is a an existing flag to tune events, by disabling events for successful policy application.

Can you explain in more detail what behavior you are looking for? If

[2022-04-30 19:23] JimBugwadia commented on #2885
I refactored the event code, so the logic is consolidated, and updated the event sources in this PR:

   https://github.com/kyverno/kyverno/pull/3741

On further discussion and thought it seems like there is some value in having separate sources. So, we now have:
- kyverno-admission
- kyverno-scan
- kyverno-generate
- kyverno-mutate

We may be able to further simplify this, perhaps to 2? Maybe adm

[2022-04-30 19:29] JimBugwadia commented on #2160
This is partially address in https://github.com/kyverno/kyverno/pull/3741.

[2022-04-30 23:38] chipzoller opened #3746 "[Bug] [Webhook and CLI] Inconsistent results with validation policy and global anchor"
### Kyverno Version

1.6.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

A validation policy which uses the global anchor produces inconsistent results in the webhook and the CLI. It should always be skipped but sometimes it fails. Related possibly to https://github.com/kyverno/kyverno/issues/2573.

### Steps to reproduce

1. Creat

[2022-04-30 23:47] chipzoller opened #3747 "[Bug] [CLI] Test summary not printed if contains any failures"
### Kyverno CLI Version

1.6.2

### Description

If there are any tests which fail, the Kyverno CLI `test` command does not print the expected line that it normally does at the end of a test `Test Summary: N tests passed and M tests failed`

### Steps to reproduce

1. Create a CLI test manifest with one or more tests.
2. Ensure the tests pass.
3. See the line is printed, for example: `Test Summary

[2022-05-01 04:16] Prateeknandle commented on #3747
/assign

[2022-05-01 09:15] Prateeknandle commented on #2233
@chipzoller should I create a kdp now or when the results are announced for the selected projects?

[2022-05-01 13:45] chipzoller commented on #2233
Yes, I suggest getting started on a KDP now.

[2022-05-01 13:59] Prateeknandle commented on #2233
ok....sure....I'll open pr as soon as possible

[2022-05-01 20:37] samj1912 opened #3751 "[Bug] imageverify with required checks fails"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

imageVerify

### Description

I was testing the new `required:true` flag in image verify and it seems to be causing some issues during verification.
It assumes a metadata/annotation object exists - if it doesn’t the patch fails and it causes errors.
Sometimes

[2022-05-01 20:39] JimBugwadia commented on #3751
This was fixed in https://github.com/kyverno/kyverno/pull/3748. Can you please check with that PR?

[2022-05-01 22:10] JimBugwadia opened #3753 "add tests for different combinations for image verification rule"
### Problem Statement

Missing tests for imageVerify rule

### Solution Description

The image verification rule now supports:
- verifyDigest
- mutateDigest
- required
- attestors with AND / OR combinations
- attestors with keys, certs, keyless

We need to add unit / CLI / e2e tests to cover these cases.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

[2022-05-01 22:21] JimBugwadia opened #3754 "handle duplicate image names in the image verification metadata"
### Kyverno Version

1.7.0

### Description

The image verify rule adds an annotation for each verified image.

However, although unlikely its possible that a pod contains 2 images with the same name with different paths, etc.

We need to handle this.

### Slack discussion

https://github.com/kyverno/kyverno/pull/3748/files#r862527554

### Troubleshooting

- [X] I have read and followed the docume

[2022-05-01 22:22] #3747 closed

[2022-05-01 23:01] samj1912 commented on #3732
@JimBugwadia does your PR https://github.com/kyverno/kyverno/pull/3741 fix this issue?

[2022-05-01 23:02] #3751 closed

[2022-05-01 23:27] samj1912 opened #3756 "[Bug] flaky generate tests in CI"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Generate

### Description

Generate tests are flaky. We are still seeing issues in CI. For eg https://github.com/kyverno/kyverno/runs/6250038440?check_suite_focus=true

### Steps to reproduce

See CI logs

### Expected behavior

CI tests to not flake.

### Scr

[2022-05-01 23:28] samj1912 commented on #3756
cc: @realshuting, @eddycharly, @prateekpandey14

[2022-05-02 00:59] gsweene2 commented on #3702
Hey @JimBugwadia, I wouldn't mind taking a try at this as a first issue.

Couple questions:
1. Can you confirm my interpretation of the requested functionality below?
2. This would be a new JmesPath function implemented in `pkg/engine/jmespath/functions.go`?

Thanks in advance!

In:
[code]
Out:
[code]

[2022-05-02 01:12] JimBugwadia opened #3757 "Split certificates from keys for imageVerify rule"
### Problem Statement

The current image verification rule combines keys and certificates. The early feedback was that this is confusing.

### Solution Description

Add a separate certificate attestor:

[code]

### Alternatives

keep current structure

### Additional Context

_No response_

### Slack discussion

https://kubernetes.slack.com/archives/C032MM2CH7X/p1651347762012019

### Research

- [

[2022-05-02 01:25] JimBugwadia commented on #3702
Hi @gsweene2 - thanks for the help!

Yes, your understanding is accurate and this would be a new function in `pkg/engine/jmespath/functions.go`.

[2022-05-02 01:53] JimBugwadia opened #3758 "[Feature] [CLI] support for testing image verification rules"
### Problem Statement

The CLI tests are lacking for image verification

### Solution Description

The CLI test command has some basic support for image verification here:

https://github.com/kyverno/kyverno/blob/655e2a74d7b1e18cf656b940b154cd0cefd403cb/cmd/cli/kubectl-kyverno/utils/common/common.go#L504

We need to add more test capabilities to allow testing the image verification rules.

### Alt

[2022-05-02 05:56] JimBugwadia commented on #3732
I tried with the latest. I had a few insecure pods running, and I applied all pod security policies.

Here is what I see:

[code]

[2022-05-02 06:00] JimBugwadia commented on #3732
The resource now shows the violation details:

[code]

[2022-05-02 06:02] JimBugwadia commented on #3732
The policies will show:

[code]

[2022-05-02 06:05] JimBugwadia commented on #3732
Fixed in https://github.com/kyverno/kyverno/pull/3741.

[2022-05-02 07:57] #3651 closed

[2022-05-02 10:51] samj1912 commented on #3535
@chipzoller I believe the way that the documentation is written - this is a bug fix rather than a feature request

The website states that we can pass any list to a foreach expression - https://kyverno.io/docs/writing-policies/validate/#foreach

[2022-05-02 10:59] chipzoller commented on #3535
Ah well let's fix/change the code so the website will be true! :)

[2022-05-02 14:01] ndctrb commented on #3739
mistakenly created

[2022-05-02 14:37] samj1912 commented on #3756
Happened again at https://github.com/kyverno/kyverno/runs/6258760715?check_suite_focus=true

[2022-05-02 14:40] samj1912 commented on #3756
Another one at https://github.com/kyverno/kyverno/runs/6258759187?check_suite_focus=true

[2022-05-02 15:58] samj1912 opened #3767 "[Feature] Allow kyverno jp to work on yaml files"
### Problem Statement

Often working with K8s resources means working with yaml files. `kyverno jp` command should allow taking in K8s yaml files (which are a subset of YAML files as it only allows yaml files that can be converted to JSON).

### Solution Description

`kyverno jp` similar to kubectl apply is able to parse all files using sigs.k8s.io/yaml

### Alternatives

_No response_

### Additi

[2022-05-02 16:39] #3535 closed

[2022-05-02 17:03] #3767 closed

[2022-05-02 17:23] realshuting opened #3769 "[Feature] Add `handler` to `UR.status`"
### Problem Statement

For mutate existing feature, it would be good to enable all running Kyverno instances to pick up URs for reconciliation.

### Solution Description

We can add a field `handler` to `ur.status` to indicate the UR is handled by which Kyverno instance.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X

[2022-05-02 17:26] realshuting opened #3770 "[Feature] Look up `mutate.targets` via dynamic client"
### Problem Statement

For mutateExisting policies, we want to support mutate a set of resources. This would require dynamic lookups of the target list.

### Solution Description

List and get `mutate.targets` dynamically via the client.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the doc

[2022-05-02 17:26] samj1912 commented on #3702
@JimBugwadia which milestone are we targeting this in?

[2022-05-02 17:28] realshuting commented on #3464
@eddycharly - is this targeting 1.7.0?

[2022-05-02 17:33] samj1912 commented on #3217
@JimBugwadia does the current inline variable feature partially fix this issue?

[2022-05-02 19:55] chipzoller commented on #3501
Not sure, but I was able to solve for this use case by not doing `{{ element[?name == '{{element.name}}'].image.split(@,':')[1] }}` and instead doing [this](https://github.com/kyverno/policies/blob/0723bfb8939bdbefd422cd942511e754b790e460/other/ensure-production-matches-staging/ensure-production-matches-staging.yaml#L135). I'm going to close this issue as I think this type of query isn't needed si

[2022-05-02 19:55] #3501 closed

[2022-05-02 20:00] chipzoller commented on #3501
Also, I think the reason why `element[?name == '{{element.name}}']` would not resolve properly even though it does in context variables is because `element` is only ever going to have a single result at a given time. So should that expression be allowed to be created, it'll probably return null because `element` is not an array and will have just a single entry.

[2022-05-03 04:06] JimBugwadia opened #3776 "[Bug] global image policies get applied on the Kyverno namespace"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

With 1.7, a global policy like this can be used to require signatures on all pods:

[code]

However, with this policy configured scaling the Kyverno pod down gracefully will cause it to get stuck in terminating until the webhooks are deleted.

### Step

[2022-05-03 04:08] JimBugwadia commented on #3776
A solution would be to exclude the Kyverno namespace via a namespace selector as recommended here:

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#avoiding-deadlocks-in-self-hosted-webhooks

[2022-05-03 05:54] #3745 closed

[2022-05-03 08:45] #3600 closed

[2022-05-03 08:51] eddycharly commented on #3464
@realshuting is this ok to move it to 1.7.1 ?

[2022-05-03 10:12] Prateeknandle commented on #2233
@JimBugwadia @chipzoller KDP : [#17](https://github.com/kyverno/KDP/pull/17)

[2022-05-03 12:04] dgabrysch commented on #3423
I am experiencing the same issue, also when providing the secret and setting the container argument. The issue occurs with this example policy: https://kyverno.io/policies/other/resolve_image_to_digest/resolve-image-to-digest/

[2022-05-03 12:22] realshuting commented on #3464
We introduce enhancements in minor releases, moved to 1.8.0.

[2022-05-03 15:38] fjogeleit opened #3785 "[Feature] Add failed Rule to PolicyViolation Events"
### Problem Statement

Currently Kyverno offers two ways to recognize blocked resources by enforced validation policies, metrics and Kubernetes Events. For additional tooling around kyverno `Events` are the better way to build on without much effort.

The new Event structure offer the most information, except the `rule` which failed for the given policy. Without this information it is not possible

[2022-05-03 15:59] sdomme opened #3788 "[Bug] Neither patchesJson6902 nor patchesStrategicMerge are mutating on a CRD"
### Kyverno Version

1.6.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

I'm trying to mutate a ServiceMonitor (prometheus CRD) with a ClusterPolicy to add a label to the CRD object.

### Steps to reproduce

1.  Here the patchesJson6902 version I used
[code]
2. Here the ServiceMonitor (without labels) I try to mutate
[code]

### Expe

[2022-05-03 16:16] JimBugwadia opened #3789 "require etcd 3.4.0+"
### Kyverno Version

1.7.0

### Description

<img width="967" alt="image" src="https://user-images.githubusercontent.com/5489990/166492950-260eda5a-c89c-4bbd-b595-2d24b987a67e.png">

https://github.com/kyverno/kyverno/security/dependabot/3

### Slack discussion

https://kubernetes.slack.com/archives/C032MM2CH7X/p1651507063202449

### Troubleshooting

- [X] I have read and followed the documentatio

[2022-05-04 00:35] chipzoller commented on #3788
Hi @sdomme , I installed the prometheus-operator (v0.56) in my K3d environment (Kubernetes 1.23.4) and applied your manifests verbatim (thank you for those). The mutation proceeds as expected:

[code]

[2022-05-04 00:40] chipzoller commented on #3788
Also, I installed from the `bundle.yaml` file ([here](https://github.com/prometheus-operator/prometheus-operator/blob/release-0.56/bundle.yaml))on a development cluster that has had Kyverno running for a while.

[2022-05-04 02:27] SohumB opened #3792 "[Bug] [CLI] `patchStrategicMerge` breaks against `apiVersion: apps/v1`"
### Kyverno CLI Version

1.6.2

### Description

`patchStrategicMerge` seems to behave as a replace on pods where `apiVersion: apps/v1`. It works fine on `apiVersion: v1`.

### Steps to reproduce

`policy.yaml`:

[code]

`pod.yaml`:

[code]

[code]

### Expected behavior

I'd expect the merge policy to operate as a merge :)

### Screenshots

_No response_

### Kyverno logs

[code]
[code]

[2022-05-04 02:43] SohumB commented on #3792
Never mind, I believe this is a misunderstanding on my part. `apps/v1` is the api that contains Deployments/etc, whereas `v1` is the api that contains Pods.

[2022-05-04 02:43] #3792 closed

[2022-05-04 02:50] JimBugwadia commented on #3754
@samj1912 - you are right, seems like only a single slash is allowed:

[2022-05-04 03:54] vyankyGH commented on #3785
closing with PR https://github.com/kyverno/kyverno/pull/3787

[2022-05-04 03:54] #3785 closed

[2022-05-04 04:12] #2194 closed

[2022-05-04 04:12] #3758 closed

[2022-05-04 10:33] #3702 closed

[2022-05-04 11:36] samj1912 opened #3794 "[Feature] jmespath function to create object from list"
### Problem Statement

Similar to the function `items` we need the reverse of this function, i.e. something that lets us create an object given a list of keys and a list of values.

### Solution Description

So

[code]

Where `keys` is an array of strings and `value` is an array of objects

so

[code]

The output should be

[code]

[code]

In the case that the keys and values arrays are not of equ

[2022-05-04 11:36] samj1912 commented on #3794
See #3777 for the related ticket.

[2022-05-04 11:42] chipzoller commented on #3794
Is there a practical use case you had in mind for this?

[2022-05-04 12:20] vyankyGH commented on #3776
@JimBugwadia @samj1912 the Pod remains terminating state not only because of above policy or  verify Images policies,
any policy type of policy (validate) which has match/kind  pod is deployed and then we scale down kyverno to 0.
Kyverno pod remain in terminating state.

[2022-05-04 12:21] samj1912 commented on #3794
@chipzoller - yup, some example cases are defined at https://github.com/jmespath/jmespath.py/issues/152

This can be useful for quick lookups when we have lists of items or when we want to dedupe lists of items based on a certain key.

[2022-05-04 12:25] vyankyGH commented on #3776
@samj1912 please  let me know if have any other comments.

[2022-05-04 12:26] #3776 closed

[2022-05-04 14:52] chipzoller commented on #3788
See if this helps: https://main.kyverno.io/docs/troubleshooting/#kyverno-fails-on-eks

[2022-05-04 15:22] sdomme commented on #3788
We were able to find the reason for the issue. It is totally related to #2162 . My fault was to not also post the issue above we got all the time.
[code]
So from here on #2684 was mentioned (we also run keda) and this is closed via #2634
It seems #2634 doesn't help with this issue.

As workaround it helped to deploy a dummy ScaledObject to feed the external.metrics.k8s.io API. All errors have disa

[2022-05-04 15:45] realshuting commented on #3753
@anushkamittal20 - is this issue targeting 1.7.0?

[2022-05-04 16:45] samj1912 opened #3798 "[Bug] kyverno drops OCI image config/manifest data when non compliant keys are used"
### Kyverno Version

1.7.0

### Description

Currently if an image uses configs/manifest with keys that are not part of the OCI spec, kyverno drops them even though they are present in the registry. This prevents rules like

[code]

Which use the buildkit key to check for base images. We should preserve unknown keys.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and

[2022-05-04 17:01] realshuting opened #3800 "[Feature] Investigate Server Side Apply"
### Problem Statement

Investigate Server Side Apply and evaluate the option for replacing strategicMergePatch:

https://kubernetes.io/docs/reference/using-api/server-side-apply/

### Solution Description

n/a

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubles

[2022-05-04 17:38] #3798 closed

[2022-05-04 18:07] DaytonG opened #3801 "[Bug] PolicyReport ResourceExhausted with Huge Namespace"
### Kyverno Version

1.6.2

### Description

We are using kube v1.22.9, and have a legacy deployment where a huge amount of our system is deployed to the default namespace. On a dev integration environment, we have roughly 300 Deployment objects, 400 Pods, 200 ConfigMaps, and 1200 Secrets (to name a few object types), all in the default namespace. Granted, this isn't ideal, but it is what it is.

[2022-05-04 18:11] chipzoller commented on #3801
I believe you're running into #2981

[2022-05-04 18:31] eddycharly commented on #3234
Why do we need the ca key ?

[2022-05-04 18:34] DaytonG commented on #3801
Yea, that seems to be the same issue. We can close this as a dupe.

[2022-05-04 18:34] #3801 closed

[2022-05-04 18:46] chipzoller commented on #3234
Need is a strong word. It's common practice to include both.

[2022-05-04 19:00] eddycharly commented on #3234
Adding the private key would be easy but I don’t see the usage.

[2022-05-04 19:01] eddycharly commented on #3234
Once the server cert is signed we don’t use it anymore.

[2022-05-04 19:02] chipzoller commented on #3234
If for whatever reason you wanted to generate a new leaf certificate from that ca, you would need the private key to do so.

[2022-05-04 19:11] #3570 closed

[2022-05-04 20:24] eddycharly commented on #3234
Sure but I fail to see a case where one would want to do that.
Right now we generate the certs we need and forget the private key, that's very secure as the key does not need to be stored at all.

[2022-05-04 20:38] chipzoller commented on #3234
I think the main reason I suggested to include it was: 1) it's standard practice and 2) since we don't have all the needed support for custom certificates, if there was a case where a user was stuck and needed to sign a new certificate they'd have everything they need.

[2022-05-04 21:11] eddycharly commented on #3234
Opened https://github.com/kyverno/kyverno/pull/3804

[2022-05-05 05:45] pns-nirmata opened #3805 "[Bug] ImageVerify Policy in audit mode blocks pod creation, and shows error in policy report"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

If we try to create a pod that does not pass validation for an imageVerify policy, it is blocked even in audit mode.

Another behaviour noticed (not a problem per se, but unexpected) is, the policy report shows this blocked-pod error.

Looks like it is

[2022-05-05 05:48] anushkamittal20 commented on #3753
@realshuting yes, I am working on this atm.

[2022-05-05 08:11] dolefirenko commented on #2267
confirmed, the issye is still present. kyverno v2.3.3, keda v2.6.2. And some dummy Prometheus scaled object is fixing this as a workaround.
The proposition is: if there are no scaled objects - /apis/external.metrics.k8s.io/v1beta1 resources shouldn't be empty. Let it returns 1 value, let it be current time....

[2022-05-05 10:46] #3789 closed

[2022-05-05 10:56] #3769 closed

[2022-05-05 11:11] prateekpandey14 opened #3813 "[Feature] disable the leader election for update request controller"
### Problem Statement

For mutate/generate existing feature, it would be good to enable all running Kyverno instances to pick up URs for reconciliation.

### Solution Description

We can add a field `handler` to `updaterequest.status` to identify the `UpdateRequest` is handled by which Kyverno pod instance.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussi

[2022-05-05 12:04] chipzoller commented on #3412
@dkulchinsky ?

[2022-05-05 13:26] #3241 closed

[2022-05-05 13:48] chipzoller commented on #3794
I be interested to see a Proof Manifest along with a practical use case that demonstrates this.

[2022-05-05 14:19] #3813 closed

[2022-05-05 15:11] #3720 closed

[2022-05-05 15:32] realshuting commented on #3756
Seeing another failure for the mutate policy https://github.com/kyverno/kyverno/runs/6308402037?check_suite_focus=true:
[code]

[2022-05-05 16:59] dkulchinsky commented on #3412
@chipzoller I missed this comment about testing.

Is there a specific dev image I can use for this?

[2022-05-05 17:02] chipzoller commented on #3412
`kyverno:latest`

[2022-05-05 17:28] realshuting commented on #3756
Fixed with https://github.com/kyverno/kyverno/pull/3797/commits/7c0c87cf076ab381b50f1575a07f5bdbbfd6188f.

[2022-05-05 19:55] eddycharly opened #3815 "[Feature] Add host network support"
### Problem Statement

Some k8s distros impose that kubelet and apiserver on master nodes communicate over localhost (eg kOps).
This scenario is problematic when policies target `Nodes` as kubelet will try to register the node using the local apiserver but this will fail as the local apiserver cannot communicate with kyverno until the cni comes up.
The cni will not come up as the node fails to reg

[2022-05-05 21:06] #3754 closed

[2022-05-06 04:57] #3757 closed

[2022-05-06 05:46] #3770 closed

[2022-05-06 07:07] RainbowMango commented on #3725
Hi @prodanlabs why close this issue?

@chipzoller
For now, the format of `URLPath` of `APICall` is restricted to Kubernetes APIs(must prefixed with `/api/` or `/apis/`, and the [length must less than 7](https://github.com/kyverno/kyverno/blob/b4f2b63f535a704af2798f2e1ec9cb86dac433ea/pkg/engine/apiPath.go#L23-L25)).
https://github.com/kyverno/kyverno/blob/b4f2b63f535a704af2798f2e1ec9cb86dac433ea/ap

[2022-05-06 07:47] RainbowMango commented on #3725
cc @eddycharly here as I see you want to help at https://github.com/kyverno/kyverno/pull/3750#issuecomment-1117328420.

[2022-05-06 09:21] moolen opened #3818 "[Bug] [CLI] scored annotation not supported"
### Kyverno CLI Version

1.6.2

### Description

When running `kyverno apply` it doesn't respect the `scored` annotation and report all policies flagged as `warn` as a `failure.

context:
* kyverno apply always sets `Scored: true`: https://github.com/kyverno/kyverno/blob/main/cmd/cli/kubectl-kyverno/apply/report.go#L106-L109
* policyreport builder computes the result based on the scored annotation

[2022-05-06 09:33] RainbowMango commented on #3725
Yeah, I guess it wants to extract things like `namespace`/`group` and so on. In my opinion, maybe here can just use `raw` URL.

[2022-05-06 09:41] eddycharly commented on #3725
Maybe removing the limitations open a security risk ?

[2022-05-06 14:35] chipzoller commented on #2403
The `validate` command has been eliminated in Kyverno 1.7.0 so this issue is no longer relevant.

[2022-05-06 14:35] #2403 closed

[2022-05-06 15:00] chipzoller opened #3822 "[Feature] Kyverno CLI support for HTTP and Git repos in `apply` command"
### Problem Statement

The `test` command supports testing against a git repo but the `apply` command does not. It doesn't even properly validate the parameter of the policy location causing Go panics and failures. This makes it more cumbersome to use the CLI to apply Kyverno policies to either static manifests or clusters as the policies must be local first.

### Solution Description

Support sou

[2022-05-07 07:17] samj1912 commented on #3794
@chipzoller https://stackoverflow.com/questions/41579581/filter-object-by-property-and-select-with-key-in-jmespath

[2022-05-07 09:24] Mormoroth commented on #2259
Kyverno Version:
“1.7-dev-307-gb4f2b63f5”
Kubernetes Version:
1.23.5
Kubernetes Platform:
On-Premise
Description:
In version 1.6.2, I have a set of rules that work perfectly fine. All rules have namespace exclusion.
Some of the rules with namespace exclusion in the kyverno 1.7 throws **Rule is matching an empty set** error, but some are okay.
Example rule throws an error:

[code]
[code]
Rule that

[2022-05-07 09:34] samj1912 commented on #3794
Policy -

[code]

Resource -

[code]

Patched resource -

[code]

[2022-05-07 12:05] #3794 closed

[2022-05-07 13:33] #3818 closed

[2022-05-07 13:39] chipzoller commented on #3818
Thank you for this report and the fix!

[2022-05-07 16:05] realshuting opened #3830 "[Feature] Integrate Kubernetes with Pod Security Admission"
### Problem Statement

[Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) became beta in Kubernetes 1.24. It would be nice if we can integrate this built-in solution with Kyverno to provide native admission enforcement for finer-grained controls.

### Solution Description

n/a

### Alternatives

_No response_

### Additional Context

_No response_

### S

[2022-05-07 20:30] #3742 closed

[2022-05-07 21:37] samj1912 opened #3836 "[bug] Kyverno variable substitution might not work correctly if the top level variable key contains dots"
This will be an issue if the key itself contains dots in the name instead of using dots to reference sub objects.

_Originally posted by @samj1912 in https://github.com/kyverno/kyverno/pull/3828#discussion_r867397275_

[2022-05-08 00:26] chipzoller opened #3837 "[Feature] Audit mode for mutate and generate rules"
### Problem Statement

Today in Kyverno, the audit mode only applies to policies having validate rules. While this is nice in that it allows a report to be generated showing the cluster resources that violate the validation rules, it doesn't show the resources that would have either been mutated or generated by Kyverno policy. As an operator, administrator, or manager who may have multiple cluster

[2022-05-08 13:18] chipzoller commented on #1409
Is this something that can be done in Policy Reporter, @fjogeleit ?

[2022-05-08 13:27] chipzoller opened #3839 "[Feature] Allow policy reports to retain entries for a defined window after resources are deleted"
### Problem Statement

In policy reports today, when the offending resource is deleted, the corresponding entry/entries are expunged. This means that a policy report is only accurate in real time. Because policy reports are used to gauge how effective a policy or rule is and the impact it may have in `audit` mode as a way to determine if/when it should be flipped to `enforce` (for validate rules),

[2022-05-08 13:50] Prateeknandle commented on #3631
@chipzoller my approach to solve this issue - We can create a new struct for showing only failed tests, let's say `FailedTable` having same definition as of [`Table`](https://github.com/kyverno/kyverno/blob/HEAD/cmd/cli/kubectl-kyverno/test/test_command.go#L267), next we'll add the information for the test case which will fail and print it at the end.
Any suggestions?

[2022-05-08 13:53] chipzoller commented on #3631
This needs design oversight from folks like @samj1912 and @eddycharly.

[2022-05-08 13:59] fjogeleit commented on #1409
I think I talked with @VaskoBozhurski about it and policy reporter was not a solution in this case. In general policy reporter would have a rest api for results with different filters like namespace, policy, rule, status and so on or a Webhook push for new violations

[2022-05-08 17:39] Prateeknandle commented on #3631
ok.....so should I unassign or they'll guide me?

[2022-05-08 17:54] chipzoller commented on #3631
No, you remain assigned I just need their input on this.

[2022-05-08 18:35] eddycharly commented on #3631
How about a flag to show only errors ?

[2022-05-08 18:36] eddycharly commented on #3631
I mean, do we want to show successes at all ?

[2022-05-08 19:19] samj1912 commented on #3631
I would prefer if we design kyverno test similar to the test runners from various languages. Out of all the ones that I have used, I have had the best experience with pytest. It has some really useful flags (selectors, verbosity) and output display.

https://docs.pytest.org/en/7.1.x/

In general I wanted to write a KDP around how to improve the UX around kyverno apply and test.

[2022-05-08 19:24] samj1912 commented on #3631
Additionally there are nice plugins for pytest like ! [](https://camo.githubusercontent.com/3ce45a3c17efc3682a8bcec9ba86e83f31f84e162d3675d6a5e5f74e93a600bb/68747470733a2f2f692e696d6775722e636f6d2f6a4552304a786a2e676966) which we can take inspiration from.

[2022-05-08 21:27] chipzoller commented on #3631
Because not having this simple enhancement is negatively impacting our ability to identify code regressions in an efficient manner, I would suggest we go ahead and do what we can now to add this and not try to lump it in with a refactor/rewrite which is more costly in terms of time and effort. I agree on the refactor/rewrite idea, but the fact is we really need this **now** and not six months from

[2022-05-08 22:35] day1118 commented on #3567
Hi @realshuting @chipzoller
Any thoughts on how I can further investigate or narrow this down?
Thanks

[2022-05-08 23:15] chipzoller commented on #3567
Are you able to punch up to 1.6.2 by chance to see if you can still reproduce the problem?

[2022-05-09 07:13] #2570 closed

[2022-05-09 10:05] eddycharly opened #3842 "[Feature] Add support for debugging against a remote cluster"
### Problem Statement

We need to be able to run the controller locally against a remote cluster for debugging purpose.

### Solution Description

We recently removed the `kubeconfig` flag which could be used to run against a remote cluster.
After discussion, the idea is now to use the `KUBECONFIG` env variable.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack dis

[2022-05-09 18:29] chipzoller commented on #3412
Were you able to test and verify for us, @dkulchinsky ?

[2022-05-09 20:45] dkulchinsky commented on #3412
Hey @chipzoller, sorry for the delay... I've been in and out of work for a while.

I updated Kyverno image to `1.7-dev-latest` (as well as upgraded to latest CRDs) and deployed the policy that was failing for me.

here's the policy:
[code]

but when I try to update a `Deployment` resource Kyverno panics:

[code]

---

I also hit another (looks like unrelated) issue in 1.7, getting this error now (

[2022-05-09 21:24] dkulchinsky commented on #3412
managed to avoid the panic by changing the condition key/value expression from:
[code]

to:
[code]

thought I don't know why the former fails, I believe it's valid JMESPath syntax?

[2022-05-10 01:40] onedr0p opened #3847 "[Feature] Should CRDs be placed in the special crds/ directory?"
### Problem Statement

Helm supports installing crds by having them placed outside the templates folder in directory called crds. This would deprecate the `installCRDs` option in the helm values.

### Solution Description

Move the crds for the helm chart to the crds folder and removing the templating in the crds file.

This would follow method one as described in helm chart best practices for crd

[2022-05-10 01:48] kranurag7 commented on #3687
@samj1912 I would love to work on this. Can you please assign me?

[2022-05-10 04:08] JimBugwadia commented on #3118
So, with #3841 Kyverno can handle most "normal" subresources but not `scale`.

Typically, a subresource like `Deployment.status` has the same GVK as the parent resource. However, scale does not. See below:

[code]

Also, when an admission review request is received for scale it has a different form:

[code]

So, to write a policy rule to match on scale its not possible to simply provide `apps/v1/D

[2022-05-10 12:22] chipzoller opened #3856 "[Feature] Allow `elementScope` in foreach mutation with patchStrategicMerge"
### Problem Statement

In a `foreach` mutation using patchStrategicMerge, the mutation has to occur under the tree given in the `list` variable. This makes it impossible to use information harvested there in another part of the spec. For example, using a context variable to get image data for each container image it is not possible to then write that to an annotation/label because the `.metadata`

[2022-05-10 12:39] chipzoller commented on #3412
@samj1912 can you assist here on the issue of the Kyverno panic and why the pipe into `merge()` isn't working?
@dkulchinsky despite that, were you able to verify that the new functionality does work in the 1.7.0 code? Finally, for [this comment](https://github.com/kyverno/kyverno/issues/3412#issuecomment-1121564769), let's open a new issue to investigate.

[2022-05-10 12:39] chipzoller opened #3858 "Raw value causes failure to sync policy in 1.7.0 dev"
I also hit another (looks like unrelated) issue in 1.7, getting this error now (for another policy):
[code]

it looks like it's check the "raw" (i.e. untemplated) value length of the `name` key? this is the `generate` that fails:
[code]

_Originally posted by @dkulchinsky in https://github.com/kyverno/kyverno/issues/3412#issuecomment-1121564769_

[2022-05-10 12:40] chipzoller commented on #3858
@dkulchinsky can you post the whole policy you referenced?

[2022-05-10 12:44] dkulchinsky commented on #3858
Thanks @chipzoller!

Here's the policy:
[code]

[2022-05-10 12:49] chipzoller commented on #3858
I'm not seeing the snippet you posted in the initial (to this issue) message. I just see `name: k8s-{{request.object.metadata.namespace}}-{{request.object.metadata.name}}`. You're saying that's where it's failing?

[2022-05-10 15:55] luisdavim commented on #3568
This is still an issue, the versions returned by `helm search` do not match the versions in the `Chart.yaml` files in master.

[code]

This process should be automated.

[2022-05-10 22:07] dkulchinsky commented on #3858
it's the in the generate rule:
![image](https://user-images.githubusercontent.com/61992380/167729649-e4456e26-e993-475e-b62a-edb18ca2e1e4.png)

[2022-05-10 23:00] chipzoller commented on #3858
Fixed in #3866

[2022-05-10 23:00] #3858 closed

[2022-05-11 07:11] #3234 closed

[2022-05-11 07:34] JimBugwadia opened #3875 "[Bug] validation error for variables in attestations"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

❯ kubectl apply -f check_attestations.yaml

Error from server: error when creating "check_attestations.yaml": admission webhook "validate-policy.kyverno.svc" denied the request: policy contains invalid variables: variable substitution failed for rule c

[2022-05-11 07:46] realshuting opened #3878 "[Bug] Remove Generate Cleanup controller"
### Kyverno Version

1.7.0

### Description

Currently we have Generate controller and Generate Cleanup Controller to process URs. There is mixed logic in these two controllers, I’d suggest removing generate cleanup controller and having everything in one place for maintainability.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [

[2022-05-11 07:53] realshuting opened #3879 "[Bug] Handle namespaced generate policies"
### Kyverno Version

1.7.0

### Description

Namespaced generate policies are not completely handled by the Generate controller.

i.e. here it only registers the event handler for clusterpolicy, not policy:
https://github.com/kyverno/kyverno/blob/d8a4c709f8081b28b3311fc4f1039d9b54097e4f/pkg/background/update_request_controller.go#L119-L122

### Slack discussion

_No response_

### Troubleshooting

[2022-05-11 07:55] realshuting opened #3880 "[Bug] Refactor policy controller to reconcile policy report only"
### Kyverno Version

1.7.0

### Description

Currently the policy controller watches policy events and does two things: 1.) reconcile policy reports; 2.) update/delete UR to trigger UR controller reconciliation. This mixed logic makes it difficult to maintain and troubleshoot.

The idea is to make the policy controller watches the policy events only for policy reports.

### Slack discussion

_No r

[2022-05-11 07:59] realshuting opened #3881 "[Bug] Block mutateExisting and generate policies until the UR is created"
### Kyverno Version

1.7.0

### Description

Currently mutateExisting and generate policies are not processed during the admission review. This could bring an issue when Kyverno pod restarts and we lose the admission request info to create UR for further reconciliation.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshoot

[2022-05-11 08:14] JimBugwadia opened #3883 "[Bug] webhook error for admission requests longer than 15s"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

For webhooks that take a while e.g. image verification, the webhook config update causes an error.

### Steps to reproduce

1. Use policy:

[code]

Run command:

[code]

This shows an error:

[code]

### Expected behavior

The webhook should not be int

[2022-05-11 08:41] realshuting opened #3884 "[Bug] Refactor update request controller to handle policy delete events"
### Kyverno Version

1.7.0

### Description

Now the policy controller updates and deletes URs on policy Delete events. This needs to be moved to update request controller:

https://github.com/kyverno/kyverno/blob/c6a0bdd711e6a436d5644dc5793b67858056ae6d/pkg/policy/policy_controller.go#L472-L487

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documenta

[2022-05-11 09:31] #3875 closed

[2022-05-11 11:14] eddycharly commented on #3883
Caused by https://github.com/kyverno/kyverno/blob/ac75ea1717ce0007dbc94cbc0faf59734056e50e/pkg/webhooks/server.go#L164-L165

[2022-05-11 13:37] realshuting opened #3889 "[Feature] Enable mutateExisting policies for sub-resources"
### Problem Statement

With 1.7, Kyverno is able to mutate existing resources on policy updates.

It would be good to enable such policies to be applied to sub-resources on policy updates.

A example policy:
[code]

### Solution Description

n/a

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed

[2022-05-11 15:16] MarcelMue commented on #3644
I don't think that is a realistic expectation (currently). You are essentially escaping `helm` templating here and not any templating related to kyverno. In particular ```{{ `{{` }}``` will be interpreted to `{{` by helm as a string literal.

What I would recommend either way: Add a step in your build pipeline which escapes all instances of `{{` and `}}` in your policy for helm in CI before buildi

[2022-05-11 15:21] #3691 closed

[2022-05-11 15:39] stelah1423 commented on #3644
Makes sense...

Initially when I opened this, I was thinking more generically, that if a policy happened to contain characters that need to be escaped (vars would error that should be literals), and isn't a helm template (the policy is already ready to apply to a cluster), that the CLI validation/apply doesn't seem to handle escaped characters.

But, I haven't dug too much into that claim myself.

[2022-05-11 15:39] #3644 closed

[2022-05-12 02:55] #3883 closed

[2022-05-12 06:05] developer-guy opened #3897 "[Feature] use multi-architecture features supported in Buildx in Dockerfiles"
### Problem Statement

This is not a problem but it is more like an enhancement. In Kyverno's Dockerfiles we can use additional great features supported in Buildx for multi-architecture images such as parsing TARGETPLATFORM into GOOS, GOARCH with [tonistiigi/xx](https://github.com/tonistiigi/xx)

### Solution Description

Cross-compilation can be achieved in Dockerfiles in many ways. One way is si

[2022-05-12 06:06] developer-guy commented on #3897
I'm willing to do this, would you mind assigning it to me if you are ok? @JimBugwadia

[2022-05-12 06:13] JimBugwadia commented on #3897
Hi @developer-guy - thanks! I've assigned, but we were also planning on moving to ko and removing the Dockerfiles.

See:

   https://github.com/kyverno/kyverno/issues/2925

Do you want to try that instead?

[2022-05-12 06:43] developer-guy commented on #3897
I think we can get better performance with Buildx especially in the multi-arch image's area because AFAIK, ko has some problems in multi-arch images, [see](https://github.com/google/ko/issues/699), if we solve this issue, final Dockerfile should like the following:

[code]

[2022-05-12 08:11] developer-guy commented on #3897
WDYT @JimBugwadia, sounds good?

[2022-05-12 08:28] viveksahu26 commented on #3822
While testing locally with local path for a cluster , errors are coming. Are those errors relevant or just to be skipped.
$ kyverno apply  kyverno/policies/other/   --cluster
[code]

[2022-05-12 10:49] codekid20 commented on #3830
Hey, @realshuting  I would like to work on this issue. I got to know about this through LFX and i found it interesting, but i am having some difficulties in understanding the project as i am new to this. Would you mind sharing some resources which i can go through prior to submitting my application for the program.

Thankyou

[2022-05-12 11:58] chipzoller commented on #3822
I don't understand where that error message is coming from. In the [referenced policy](https://kyverno.io/policies/other/ensure_readonly_hostpath/ensure_readonly_hostpath/), there is no `request.namespace` variable anywhere, and no call for a Namespace. Can you determine where it's tripping up?

[2022-05-12 14:31] JimBugwadia commented on #3897
Yes, that sounds good to me!

[2022-05-12 15:28] realshuting opened #3906 "[Bug] Cleanup UR for mutate existing policies if the trigger is deleted"
### Kyverno Version

1.7.0

### Description

The "trigger not found" error keeps printing in the log with the below policy:
[code]

[code]

Kyverno should delete URs if trigger is deleted and the rule does not match `DELETE` operation.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/

[2022-05-13 02:42] anutosh491 commented on #3830
Hello @realshuting , this is Anutosh here from India.  I'm an open source enthusiast and I'm currently involved with communities based on numerical and symbolic computations/algorithms in math and physics like numpy, sympy, networkx.

I am keen to take part in the LFX Mentorship program for the summer term . The project and the library as a whole interests me hence I plan to apply for the project

[2022-05-13 10:55] ffilippopoulos commented on #2408
@shilpa-0 you can probably achieve your goal using `patchesJson6902` instead. Your kustomize.yaml will look like:
[code]

and then patch.yaml:
[code]
- op: add
  path: /spec/rules/0/exclude
  value:
    resources:
      namespaces:
        - flux-system
        - linkerd
        - network
        - observability
        - security
        - cron
[code]

[2022-05-13 13:06] anutosh491 commented on #2302
Hello @chipzoller and @vyankyGH , hope you're doing well , this is Anutosh here from India . I am an open source enthusiast and I am currently involved in symbolic/numeric computation based libraries like numpy, sympy, networkx and couple others.

I stumbled upon this issue as it was listed under a [Kyverno project](https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/02-Summer#cli-test

[2022-05-13 13:12] chipzoller commented on #2302
Hello, @anutosh491. The first and most important thing is to understand Kyverno itself with special emphasis on the CLI. You can see our extensive documentation at kyverno.io which covers both the webhook and the CLI. You are also welcome to join the Slack community in the #kyverno channel in the Kubernetes workspace. Once you have a solid understanding of what Kyverno does and how it works, you s

[2022-05-13 13:33] chipzoller opened #3911 "[Bug] Kyverno panic with attestation example"
### Kyverno Version

1.7.0-rc1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

Kyverno panics and the mutate webhook becomes unavailable when submitting a Pod which matches a policy (perhaps invalid?) checking for some attestations

### Steps to reproduce

1. Create this policy. Leave comments intact.
[code]
2. Create this Pod
[co

[2022-05-13 13:48] anutosh491 commented on #2302
Thanks for your prompt reply and Luckily I'm on the correct path as of now . After going through the readme and reading the description for Kyverno, I spent some time to dig a bit deeper and get to know exactly what Kyverno does, some history behind it and the problems it is addressing . I also got some decent intuition regarding how it operate and the validate, mutate, generate rules. I will spen

[2022-05-13 22:59] pixelsnbits opened #3914 "[Bug] patchStrategicMerge mutate on anchor value destroys all other object values when string value not quoted"
### Kyverno Version

1.6.2

### Kubernetes Version

1.20.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When attempting to patch multiple `metadata.annotations` on a `kind: Service` using `patchStrategicMerge`, if the value for the annotation is not quoted, the entire mutate will destroy all existing `metadata.annotations` in the target resource.
This was tested i

[2022-05-14 01:57] leizerbeam opened #3915 "[Bug] [CLI] kyverno panic in the mutation policy - k10/kasten"
### Kyverno CLI Version

1.6.2

### Description

joey.lei@c02fn5adml85 k10-minimum-retention % kubectl kyverno test .

Executing kyverno_data_protection_tests...
applying 1 policy to 1 resource...
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/kyverno/kyverno/pkg/kyverno/common.GetPatchedResource(...)
	/home/runner/work/kyverno/kyverno/pkg/kyverno/com

[2022-05-14 02:27] chipzoller commented on #3915
Can you please supply all the relevant files needed to reproduce this? You can paste into code blocks in a response.

[2022-05-14 04:45] darshini-ramesh commented on #3039
@realshuting We tried setting webhooksCleanup enabled=true in helm release as per https://github.com/kyverno/kyverno/pull/3148.
When cluster is brought down, all the pods are still in pending status.
Are there any additional configuration required?

[2022-05-14 12:43] viveksahu26 commented on #3822
Hey, @chipzoller .
The above error
`panic: key is not a string: "failed to resolve request.namespace at path : JMESPath query failed: Unknown key \"namespace\" in path"
`  is not for `ensure-readonly-hostpath`. That error is pointing to some other policies( For, now I don't know which policy).
The same policy, `ensure-readonly-hostpath` is present under  directory `/policies/other/ensure_readonly_

[2022-05-14 13:42] viveksahu26 commented on #3822
The above error was coming because of this [policy](https://github.com/kyverno/policies/blob/main/other/exclude_namespaces_dynamically.yaml). After removing this policy when tested, no errors are coming.
[code]

[2022-05-14 14:48] kranurag7 commented on #3687
@samj1912 I have worked on the issue. First I have removed all the `os.Exit(1)` under the `cmd/cli/kubectl-kyverno` directory. Now, the default error is getting passed through `fmt.Print(err)` mostly. One more thing is that I need to pass the files that the test in depending on while executing the command, otherwise it's throwing an error. It's similar for other two `generate` and `report`
![Scree

[2022-05-14 22:31] chipzoller commented on #3911
Can't reproduce this or it's sporadic. Not sure what series of events lead to this but closing for now.

[2022-05-14 22:31] #3911 closed

[2022-05-14 22:48] chipzoller opened #3918 "[Bug] predicateType field matching inaccuracy"
### Kyverno Version

1.7.0-rc1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

When writing a policy that specifies the `predicateType` field matches the attestation (with no conditions) it doesn't appear to match correctly.

### Steps to reproduce

1. Create this ClusterPolicy
[code]
2. Create this Pod
[code]
3. The Pod is allowe

[2022-05-15 05:35] viveksahu26 commented on #3822
Hey @chipzoller Is there need to log an issue for the same ?

[2022-05-15 12:30] chipzoller commented on #3822
@viveksahu26 Ok, there seems to be some inconsistency in this policy, but that's actually a good thing as it may have exposed a bug. Why does [this line](https://github.com/kyverno/policies/blob/77574e5a78bd8f22630c9d69c8189124a65ba4a4/other/exclude_namespaces_dynamically.yaml#L36) apparently not complain but [this one](https://github.com/kyverno/policies/blob/77574e5a78bd8f22630c9d69c8189124a65ba

[2022-05-15 12:33] chipzoller commented on #3822
Also, I just noticed from your previous responses that you appear to be testing from a folder of files on your local machine against a cluster. That isn't the purpose of this issue. This issue is specifically about **being able to test policies from a remote location such as a web server or git repo**. For example, `kyverno apply https://github.com/kyverno/policies/tree/main/pod-security/baseline

[2022-05-15 12:57] viveksahu26 commented on #3822
@chipzoller , Basically, the error is caused by [this line](https://github.com/kyverno/policies/blob/77574e5a78bd8f22630c9d69c8189124a65ba4a4/other/exclude_namespaces_dynamically.yaml#L41)  and [this line](https://github.com/kyverno/policies/blob/77574e5a78bd8f22630c9d69c8189124a65ba4a4/other/exclude_namespaces_dynamically.yaml#L42). After removing both variables from message, `{{ namespacefilters

[2022-05-15 12:58] viveksahu26 commented on #3822
Regarding, this. I have a PR ready for this issue. And I have checked it, works perfectly fine.

[2022-05-15 13:01] viveksahu26 commented on #3822
Tested it in my local workspace
[code]

[2022-05-15 13:45] chipzoller commented on #3822
Yes, I would expect the policy to be skipped because preconditions aren't satisfied. There are many other policies that use context lookups including from ConfigMaps, so why is this different?

[2022-05-15 13:57] viveksahu26 commented on #3822
I think you misunderstand. I am not saying that result of the policy to be `skip`.  Since, both variables are present in the `message` section of the policy, due which errors are coming. So, was saying that it should skip reading the `message` section of the policy.

[2022-05-15 14:38] chipzoller commented on #3914
Thanks for this issue. I can confirm this on 1.7.0-rc1 as well. The problem is really two-fold:
1. Annotations only allow values of type string (e.g., you couldn't even create a Service resource directly that has an annotation with the value `60`) and Kyverno is not verifying the value type.
2. As a result of the invalid value type, Kyverno is wiping out all the annotations even when not using an

[2022-05-15 14:42] chipzoller commented on #3915
Based on my comment [here](https://github.com/kyverno/policies/pull/326#discussion_r873163845), which pertains to the same case, I believe this is the cause of the panic.

Kyverno needs to throw a helpful error and not panic when encountering an invalid resource YAML.

[2022-05-15 14:48] chipzoller commented on #3847
I believe we used to do this, but the problem comes when performing chart upgrades.

[2022-05-15 14:50] chipzoller commented on #3815
So far, this has been an isolated incident and it would be good to understand the trade-offs when going this route versus what we currently have.

[2022-05-15 14:57] chipzoller commented on #3805
I cannot reproduce this on 1.7.0-rc1 using the supplied resources.

[code]

[code]

Terminal output:

[code]

[2022-05-15 15:07] eddycharly commented on #3815
I discovered it's already supported, I'm going to close this issue.
Running in the host network is usually not recommended but in the case I described above there's not a lot of other options.

[2022-05-15 15:07] #3815 closed

[2022-05-15 15:13] chipzoller commented on #3815
Should we add a note to the documentation to cover this case? This seems highly specific so, if so, I'm not sure how it should be worded.

[2022-05-15 15:14] chipzoller commented on #3822
Yes, ok I understand. So we need to understand why Kyverno is doing that and fix it.

[2022-05-15 15:15] eddycharly commented on #3847
Choosing one strategy over the other is not a trivial decision.
Both have pros and cons.
For example, cert-manager helm chart does the same as us.

A third option is also to separate CRDs in a dedicated chart.

I'm not against changing this but I would like more clear arguments why we should do it.

[2022-05-15 15:17] eddycharly commented on #3815
I think we should, I know a couple of folks are using kOps, they could get stuck if they install Kyverno.
But I confess I didn't try it and can't confirm that it works as expected.

[2022-05-15 15:25] onedr0p commented on #3847
I wasn't aware of the intricacies of having the crds in the `crds` folder. That is pretty annoying, with understanding that now I will close this issue. It makes sense why you chose this route. It's just a bummer helm maintainers have implemented one clear solution for developers to handle crds in charts. Thanks for the info, I hope this will be useful for someone else asking the same thing.

[2022-05-15 15:25] #3847 closed

[2022-05-15 15:26] chipzoller commented on #3675
@samj1912 it doesn't look like either of the two new custom filters in 1.7.0 will address this, but do you see something else that would?

@garrett-compass although not a solution, I do want to mention that the operator `In` is being deprecated. Please use `AnyIn` or `AllIn` to be explicit on the comparison behavior you wish.

[2022-05-15 15:27] chipzoller commented on #3656
Turns out this issue is captured in #3110 so closing this in favor.

[2022-05-15 15:30] chipzoller commented on #3610
@andrejvanderzee sorry for such a late response, we've been heads-down on 1.7.0 release. Are you sure that the Kyverno Pod is in a good status and that other policies work? Your issue indicates you're on EKS and so you may need [this configuration](https://kyverno.io/docs/troubleshooting/#kyverno-fails-on-eks).

[2022-05-15 15:38] treydock commented on #3847
Just to fill in some extra information about historical changes.  Kyverno Helm chart started out in `crds` folder but then when the CRD changed many people had issues that were traced back to Helm not updating the CRD, which is just how Helm treats the CRDs in that folder.

For a period Kyverno had a separate `kyverno-crds` chart and that lead to a multi-step process to get working Kyverno so we s

[2022-05-15 16:38] garrett-compass commented on #3675
Hey @chipzoller, I believe I have something that would work, but interested in your opinion on this.

To summarize, the policy below:
* Gets the existing virtualservice `match` objects, and converts the array of maps to an array of strings
* Takes the request's virtualservice `match` objects, and converts the array of maps to an array of strings
* Checks if any of the requested `match` objects (as

[2022-05-15 19:21] chipzoller commented on #3675
@garrett-compass this looks extremely similar to a policy that will be submitted in a PR soon, but it exists in my fork. Take a look at this and I'll bet with a little tweaking it'll give you exactly what you want.

https://github.com/chipzoller/kyvernopolicies/blob/main/other/unique-ingress-host-and-path/unique-ingress-host-and-path.yaml

[2022-05-15 19:54] garrett-compass commented on #3675
@chipzoller - yes, similar, but depending on the type of Ingress Controller (Nginx Ingress uses k8 Ingress vs Istio uses VirtualSpec), I'm trying to validate different things:

For k8s Ingress resources:
* Validate Host + Path Combo - and ignore the `backend`

For Istio VirtualServices:
* Ensure Uniqueness of entire `match` objects in the ingress

This is because, with VirtualServices, the `backen

[2022-05-15 20:55] pixelsnbits opened #3922 "[Bug] background mutation destroys annotations on existing resource"
### Kyverno Version

1.4.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

This bug was found in tandem with #3914

A `kind: ClusterPolicy` that has a `patchStrategicMerge`  mutation that would effect any number of `metadata.annotation` values where the value type of the annotation is not a string will modify an existing resource and d

[2022-05-15 21:02] pixelsnbits commented on #3914
Just making a note that this bug was found when going through the steps in #3922

Due to the value of '60' not being in quotes as a string, when annotating an existing resource, the mutate policy (despite documentation notes) modifies the existing resource. Due to this bug, annotating a resource wipes out all annotations.

[2022-05-15 21:50] chipzoller commented on #2139
For those watching this thread, Kyverno 1.7.0 will add this ability allowing both use cases outlined in this issue to be solved.

## Restart Deployment if Watched Secret Changes

[code]

## Scale Deployment to Zero if Too Many Pod Restarts

[code]

[2022-05-15 22:01] leizerbeam commented on #3915
#patched.yaml
`kind: Policy
apiVersion: config.kio.kasten.io/v1alpha1
metadata:
  name: hourly-policy
  namespace: kasten-io
  labels:
    appPriority: Mission-Critical
spec:
  comment: My sample custom backup policy
  frequency: "@hourly"
  subFrequency:
    minutes:
      - 30
    hours:
      - 22
      - 7
    weekdays:
      - 5
    days:
      - 15
  retention:
    hourly: 24
    daily: 30

[2022-05-15 22:02] leizerbeam commented on #3915
[policies.zip](https://github.com/kyverno/kyverno/files/8696114/policies.zip)

here you go - I fixed patched.yaml but you can just comment out the labels: line 6

[2022-05-16 03:54] #3906 closed

[2022-05-16 06:57] kranurag7 commented on #3529
![Screenshot from 2022-05-16 11-30-52](https://user-images.githubusercontent.com/81210977/168535711-02f37d54-0410-409d-8c70-f5c78c9a1770.png)
![Screenshot from 2022-05-16 11-29-13](https://user-images.githubusercontent.com/81210977/168535760-2ca28480-b53c-49f0-903a-7038752f5549.png)

[2022-05-16 08:11] kranurag7 commented on #3598
/assign

[2022-05-16 09:54] vyankyGH commented on #3915
@chipzoller I will take care of this.

[2022-05-16 10:45] zzzkl opened #3929 "[Bug] variable “request.object.metadata.namespace” convert to “request.object.spec.template.metadata.namespace” is wrong"
### Kyverno Version

1.6.2

### Description

using this clusterpolicy:
[code]

get:

[code]

but when i create a deployment, I get error.
[code]

error:

[code]

It seems when I create a POD rule it generate Deployment rule. But I use `request.object.metadata.namespace` in Pod rule which convert to `request.object.spec.template.metadata.namespace` in Deployment rule.

I think it should still be `r

[2022-05-16 13:54] chipzoller commented on #1722
To solve this use case, the mutate existing feature will need to support a variable in the `targets[].name` field which is an array of strings, or otherwise enable a `foreach` statement where the `list` is that same pre-built variable having an array of strings. In my testing, it won't work to watch for an AdmissionReview which sets `pod.spec.nodeName` because apparently when the kube-scheduler po

[2022-05-16 14:16] chipzoller commented on #1607
@electrical and @emraanali11 (and others following along), with Kyverno 1.7.0 your use cases will be solvable. See below for working policies.

## Update Image Tag

[code]

## Label Existing Namespaces

[code]

[2022-05-16 14:20] chipzoller commented on #3929
@zzzkl this is expected behavior as the auto-generation capability will auto-translate any `request.object`-originating variables. In your use case, you should use `{{request.namespace}}` rather than `{{request.object.metadata.namespace}}`. It'll result in the same value and will not be translated by Kyverno.

Closing this issue as it's not a bug and not really a viable enhancement, but feel free

[2022-05-16 14:20] #3929 closed

[2022-05-16 14:54] chipzoller commented on #3529
@kranurag7 in the future in response to issues and PRs, please try to avoid screenshots of terminal output as much as possible. Screenshots cannot be searched and the information captured therein may be helpful in future searches.

[2022-05-16 15:55] prateekpandey14 opened #3933 "[Bug] use retryFunc instead of sleep in generate controller"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Generate

### Description

There are retry-count logic to update the annotations in Generate controller with sleep has been used in b/w the tries, instead of that retryFunc can be used to simply the logic. function [ProcessUR](https://github.com/kyverno/kyverno/blob/3e2894b6fa1c9772fed

[2022-05-16 16:36] pns-nirmata commented on #3805
Yes. I too could not reproduce the error on 1.7.0-rc1.

I had tested it on the main branch before 1.7.0-rc1 release.  But now, works on main branch as well.

The blocked resource is seen in the policy report, as described in point 4 above.

[2022-05-16 16:57] viveksahu26 commented on #3822
Yeah, need to open separate issue for it.

[2022-05-16 16:57] viveksahu26 commented on #3822
@vyankyGH , could you please assign this issue to me.

[2022-05-16 17:53] kranurag7 commented on #3529
@chipzoller I will make sure not to repeat the same mistake in the future. We can mention all these things in the `CONTRIBUTING.md` or `pr_documentation.md`. If you agree, then I can raise a PR.
1. Don't put terminal screenshots
2. Run `go fmt` before committing
3. Reference issue to the PR

[2022-05-16 18:34] sriramss opened #3935 "[Bug] policies.kyverno.io/last-applied-patches annotation is logging false messages"
### Kyverno Version

1.6.2

### Description

Kyverno is running in my cluster and I am running the following policy -
[code]
I have 28 policies(similar to the above) in my cluster. These policies are enforced on respective workloads and I see the following log in the manifest after applying the policy -

[code]
The log says some of the configurations have been removed in the latest patch but, noth

[2022-05-16 18:42] lalalawoo commented on #2153
@ojhaarjun1 Yes, I'm still seeing the empty json object via kubectl.
![image](https://user-images.githubusercontent.com/15008808/168659992-7390c5a6-ec55-4d2c-9d49-91a7593fbac0.png)
Tested with Kyverno v1.6.2

This issue seems only exists when there's only validation rule presents in the policy. For example, this generation policy deployed on the same cluster, doesn't have empty json object for mut

[2022-05-16 21:11] #3529 closed

[2022-05-16 21:23] chipzoller commented on #3631
@Prateeknandle do you still need guidance here or do you have enough?

[2022-05-17 02:52] vyankyGH commented on #3822
Done

[2022-05-17 08:03] gmargerin opened #3942 "[Bug] PolicyController/forceReconciliation always delete reports in policyreports (HA/background: false)"
### Kyverno Version

1.6.1

### Description

## Environment

OpenShift 4.8.36 & 4.7.36
Kyverno install from Helm v2.3.1 (v1.6.1)
Kyverno replica 3 (HA mode)

## Description

All the reports back to null when `PolicyController/forceReconciliation` was execute.
All my rules have `background: false` in spec description.
All my rules are in `audit` mode.

Rule exemple :
[code]

## Exemple

Policy repo

[2022-05-17 14:21] realshuting commented on #3805
Great! Closing this issue.

[2022-05-17 14:21] #3805 closed

[2022-05-17 15:38] realshuting commented on #2153
@eddycharly - can you kindly provide some inputs here? Is there a way that we can avoid these empty attributes?

[2022-05-17 15:58] eddycharly commented on #2153
@realshuting those attributes are not pointers and therefore will default to empty structs.
This cannot be avoided, we need to use pointers to get rid of them (I think we talked about that in slack a while ago).

[2022-05-18 04:02] realshuting commented on #2153
Yes, I recall that. And the best practice is to not use pointers right? Last time I checked Kubernetes code base, they rarely use pointers to structs.

@lalalawoo - do you see any other empty structs in Kuberentes default resources?

[2022-05-18 04:23] lalalawoo commented on #2153
@realshuting
No I don't see any other empty structs in k8s native resources. And as I mentioned above, the empty json object would be added when there's validation rule solely. This seems making no sense.
Moreover, if you test with "kubectl create" or "kubectl apply" w/wo dryrun flag, in the response returned from api server, there would be NO such empty json object. I'm not sure how come those js

[2022-05-18 04:33] lalalawoo commented on #2153
Here's the kubectl verbosity output. You may check the `response body`
[code]

[2022-05-18 07:59] NearchPasipou opened #3965 "[Bug]"
### Kyverno Version

1.6.0

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Generate

### Description

1) I apply the following cluster policy:
[code]

2) Create a namespace:
[code]
3) Adding Node Port Service (it is being added, when it should not)
[code]

4) Quota generated on namespace has used node ports more than the hard limits
[code]

### Steps to reprod

[2022-05-18 12:25] chipzoller commented on #3965
Not that this directly addresses your issue, but if your goal is to forbid the creation of any Services of type `NodePort` or `LoadBalancer` then what you should be using is a `validate` rule. We have both of these as sample polices [here](https://kyverno.io/policies/best-practices/restrict_node_port/restrict_node_port/) and [here](https://kyverno.io/policies/other/restrict_loadbalancer/restrict_l

[2022-05-18 14:53] afzal442 commented on #3914
/assign

[2022-05-19 03:06] chipzoller opened #3966 "[Feature] Kyverno Policy creation behavior for CustomResource when CRD is not present"
### Problem Statement

Can't find an issue for this so creating one now. Close and link if someone finds one.

This problem has come up a couple times now whereby a Kyverno (Cluster)Policy is written for a CustomResource, applied to a cluster, but the CRD isn't yet present. This tends to cause issues in various ways so we need a better solution to prevent unintended consequences.

### Solution Des

[2022-05-19 03:24] JimBugwadia opened #3967 "[Bug] signatures are not set for attestations"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

Attestation checks fail as signatures in the "attestor" block are not used for attestations.

### Steps to reproduce

Use a policy like this with attestors and attestations. The check will always fail:

[code]

### Expected behavior

The signatures in

[2022-05-19 06:25] d-dmitry opened #3968 "[Bug] [CLI] Uninformative message after tests"
### Kyverno CLI Version

1.6.2

### Description

I've written tests with some problems (for debug):
Expected field in policy:
[code]

The same field in patched file:
[code]

These fields have different values, but what I see in stdout is confusing:
[code]
After re-running tests, I even got another error message. I didn't change anything before starting this command again, and that's what I got:
[c

[2022-05-19 11:03] sriramss opened #3969 "[Bug] Kyverno events for the mutate rule doesn't specify the target"
### Kyverno Version

1.7.0

### Description

Whenever I apply a mutate policy, in spite of the resource being mutated I can see a log similar to the following -
[code]

After this policy gets enforced, no event is generated which specifies the target on which policy gets applied.

**Expected behavior:**
The event should be generated only after the policy gets applied to a target resource and the m

[2022-05-19 11:13] sriramss opened #3970 "[Bug] Kyverno validate policy is being applied on unspecified target"
### Kyverno Version

1.7.0

### Description

We have more than 20 Kyverno validate policies on our cluster in audit mode. When the policy gets applied to a specified target, an event similar to the following is generated(same as expected) -
[code]

Along with this, the policy is getting applied to unspecified targets which is misleading -
[code]
**Expected behavior:**
The policy should be applied

[2022-05-19 11:35] NearchPasipou commented on #3965
Hi, thanks for the response!

My goal is not only to forbid the creation of any services of type NodePort and LoadBalancer.
My goal is to initially forbid that as a default for ALL namespaces, and then have it overridden for every specific namespace.

So, this is a matter of security. Any namespace created should not be able to have any NodePort and LoadBalancer services,
but when it is required t

[2022-05-19 14:08] chipzoller commented on #3969
Covered in #2160 and #2885. Closing.

[2022-05-19 14:08] #3969 closed

[2022-05-19 14:12] chipzoller commented on #3970
When you say "unspecified targets" here are you saying this is generated on Kubernetes resources which are not the focus of the policy? Can you share the (Cluster)Policy resource itself?

[2022-05-19 17:40] Prateeknandle commented on #2302
hey @chipzoller I'm also applying in LFX summer, So basically we need to first validate `kyverno-test.yaml` and if the yaml file is okay only then apply the test cmd on to the resource otherwise not, and if the schema/format of `kyverno-test.yaml` is not valid then a proper message will be printed regarding the failure in validation. is it correct?

[2022-05-19 17:54] chipzoller commented on #2302
The main thing we need to do is establish a formal schema and API spec for these Kyverno test manifests. Just like Kyverno ClusterPolicy and Policy resources, they conform to a formal schema described in OpenAPIv3 format, the same needs to be formalized with these test manifests. And by creating a formal, versioned schema we should then be able to validate the structure is correct and return prope

[2022-05-20 03:26] sriramss commented on #3969
I have seen this issue in 1.7rc build. Can you re-verify the issue?

[2022-05-20 05:17] dhavalgshah commented on #3113
Is there any progress around this issue?

Are there any relevant discussions apart from that of #2248 going on for this?

Background:

In Kyverno Office Hours at KubeConEU 22 a fellow attendee shared [his experience](https://cloud-native.slack.com/archives/C02CEARLA3D/p1652961964715369?thread_ts=1652961964.715369&cid=C02CEARLA3D) on performance issues with Kyverno.

That led me to do some quick ch

[2022-05-20 05:21] realshuting opened #3972 "[Feature] Decompose Kyverno into separate controllers"
### Problem Statement

As of Kyverno 1.7.0, there are three major controllers running in the same Kyverno deployment: Webhook server, background controller, and policy report controller. This works fine if Kyverno runs in a small cluster. The policy report controller and background controller (if there are such policies configured) start consuming resources when it comes to large clusters. This th

[2022-05-20 10:44] sriramss commented on #3970
I expect the following policy to get applied only to the target specified by matchLabels -
[code]

[code]

[2022-05-20 10:48] sriramss commented on #3969
@chipzoller can you reopen this issue until it's verified!

[2022-05-20 11:39] sriramss commented on #3970
I also verified this on 1.6. The issue is the same but, the event logging format is different -
[code]
Earlier, I had raised bug #3732 for events missing rule names in logs. Looks like, the issue is not resolved after all.

When the rule is applied to a specified target -
[code]
When the rule is applied to unspecified target -
[code]

[2022-05-20 11:46] chipzoller commented on #3732
@JimBugwadia can you take a look?

[2022-05-20 11:46] #3732 closed

[2022-05-20 11:46] chipzoller commented on #3970
@JimBugwadia can you take a look?

[2022-05-20 11:47] chipzoller commented on #3969
Those two issues are still open so it's verified. I closed this because it seems like it's a duplicate. Are you saying it's not?

[2022-05-20 13:28] sriramss commented on #3969
I didn't notice. It's okay, thank you!

[2022-05-20 16:18] oshi36 opened #3979 "[Bug] [CLI] Support of defining variables through ImageRegistry Data is missing in Kyverno CLI"
### Kyverno CLI Version

1.7.0

### Description

On writing test cases for mutate and validate policies , found some policies like [resolve_image_to_digest](https://github.com/kyverno/policies/blob/main/other/resolve_image_to_digest/resolve-image-to-digest.yaml) , [block_images_with_volumes](https://github.com/kyverno/policies/blob/main/other/block_images_with_volumes/block-images-with-volumes.yam

[2022-05-20 17:08] chipzoller commented on #3979
This is supported as illustrated [here](https://github.com/kyverno/kyverno/blob/8175fc15c9ffae6c41ba9b911f2f160c5a2ba627/test/cli/test/variables/variables.yaml#L56). My mistake.

[2022-05-20 17:08] #3979 closed

[2022-05-20 23:25] chipzoller commented on #3922
Thanks for the message here. We take this type of stuff seriously and are sending a patch.

[2022-05-20 23:30] chipzoller commented on #3914
@vyankyGH your PR should close this as well

[2022-05-20 23:32] chipzoller commented on #3935
Captured in #3473

[2022-05-20 23:32] #3935 closed

[2022-05-21 00:09] chipzoller commented on #1258
@vyankyGH this is related to your PR #3976 . Can we roll this into it as well where we at least validate if booleans are not quoted?

[2022-05-21 00:13] chipzoller commented on #2152
Don't think this is a Kyverno problem but a result of Kyverno not becoming ready. Closing.

[2022-05-21 00:13] #2152 closed

[2022-05-21 00:17] chipzoller commented on #2396
@JimBugwadia is this still outstanding?

[2022-05-21 00:20] chipzoller commented on #2348
Related #282

[2022-05-21 00:24] chipzoller commented on #2326
Related #1661

[2022-05-21 00:26] chipzoller commented on #2283
I believe this will be provided in 1.7.0. @prateekpandey14 please confirm and link

[2022-05-21 00:26] chipzoller commented on #2278
ping @mikebryant

[2022-05-21 00:27] chipzoller commented on #2754
The test manifests have long since been changed and the feature to create a defined schema for test manifests is documented. Closing this.

[2022-05-21 00:27] #2754 closed

[2022-05-21 00:28] chipzoller commented on #2711
@eddycharly this will be closed in 1.7.0 release, yes? Can we close or do we link to any outstanding PR?

[2022-05-21 00:30] chipzoller commented on #2700
@Danny-Wei although not directly addressed, Kyverno's behavior is now to block ALL Pods regardless of from what controller type they emanated. This will prevent the evasion you mentioned.

[2022-05-21 00:31] chipzoller commented on #2681
This should also be possible to achieve with preconditions which are supported in `foreach` statements.

[2022-05-21 00:41] chipzoller opened #3980 "[Feature] Support calling out to other in-cluster Services"
### Problem Statement

Kyverno only supports calling out to the API server and, implicitly, to image registries to source data. This only works if the data that needs to be fetched is either stored there including, for example, to a ConfigMap. Organizations commonly have other data that is stored in workloads running on the cluster but does not exist as an API resource. There is presently no way t

[2022-05-21 00:45] chipzoller commented on #2917
@eddycharly @treydock we're doing this now for the Helm chart, correct?

[2022-05-21 00:47] chipzoller commented on #2866
@Namanl2001 are you still working on this?

[2022-05-21 00:48] chipzoller commented on #2838
Closing as incubation status is in progress and in public comment period.

[2022-05-21 00:48] #2838 closed

[2022-05-21 00:52] chipzoller commented on #2789
Closing since unreproducible.

[2022-05-21 00:52] #2789 closed

[2022-05-21 00:54] chipzoller commented on #2759
This was closed in PR #3721 landing in 1.7.0.

[2022-05-21 00:54] #2759 closed

[2022-05-21 01:01] chipzoller commented on #3186
I think this has all been covered at this point as outlined in the docs. @samj1912 please correct and re-open if you feel there is still enhancements here.

[2022-05-21 01:01] #3186 closed

[2022-05-21 01:01] chipzoller commented on #3185
@aleksrosz can you provide more info here so we can assess for future enhancements?

[2022-05-21 01:04] chipzoller commented on #3154
@developer-guy I don't see a KDP for this. Can you please create so we can track?

[2022-05-21 01:05] chipzoller commented on #3980
I knew I saw this. Captured in https://github.com/kyverno/KDP/issues/14

[2022-05-21 01:09] chipzoller commented on #3145
Sorry for not responding. Created #3980 and there's a sister issue at https://github.com/kyverno/KDP/issues/14

[2022-05-21 01:10] chipzoller commented on #3142
Kyverno does now support predicate "scanning" of a stored attestation such as a Trivy scan. Doing this at admission time is generally not going to be sustainable.

[2022-05-21 01:15] chipzoller commented on #3455
I think this is established as a non-issue, but feel free to comment if you feel there are other enhancements needed.

[2022-05-21 01:15] #3455 closed

[2022-05-21 01:19] chipzoller commented on #3388
@eddycharly I saw some discussion around this. Is this being provided or?

[2022-05-21 01:21] chipzoller commented on #3245
Closing as this can be provided for in the aforementioned container flags. Reopen/comment if further actions are needed.

[2022-05-21 01:21] #3245 closed

[2022-05-21 01:23] chipzoller commented on #3578
This still has to be addressed.

[2022-05-21 01:27] chipzoller commented on #3522
Do we think this is sufficiently account for in the Helm chart with the namespace and object selectors plus the documentation section pending in 1.7.0? @eddycharly

[2022-05-21 01:33] chipzoller commented on #3725
Covered in #3388 ?

[2022-05-21 01:36] #3656 closed

[2022-05-21 01:41] chipzoller commented on #3965
So would modifying the previously linked ClusterPolicy resources to exclude those Namespaces not be sufficient for your needs?

[2022-05-21 01:45] chipzoller opened #3981 "[Feature] "index locator" JMESPath function"
### Discussed in https://github.com/kyverno/kyverno/discussions/2822

<div type='discussions-op-text'>

<sup>Originally posted by **chipzoller** December 12, 2021</sup>
This is a question for all the Go devs, especially those familiar with how the custom JMESPath functions get implemented.

Is there a possibility of writing a function that is able to provide a return value (an integer or array of

[2022-05-21 01:55] afzal442 commented on #3914
I guess, when we have `kyverno` which doesn't validate such a policy defined above due to invalid annotation, `kyverno validate inject-annotations.yaml` should produce `invalid` policy as output. But the associated PR allows you to see the error when you apply the policy on top of that.

cc: @chipzoller

[2022-05-21 02:18] chipzoller commented on #3914
The `validate` CLI command has been removed as of 1.7.0, but yes this PR should throw a policy error upon creation.

[2022-05-21 05:54] viveksahu26 opened #3982 "[Bug] [CLI] Variables present in the message section of the policy throws an error"
### Kyverno CLI Version

1.5.x

### Description

While applying polices present in the local workspace in a cluster, throws an error. Why so ??
After inspection, what I found that, if the `message` section of the policy contains variables. There won't be any problem until and unless the result or status of the policy is `pass`. But if the status or result of the policy `fails`, in that case `messa

[2022-05-21 05:54] viveksahu26 commented on #3982
/assign

[2022-05-21 13:03] chipzoller opened #3984 "[Bug] Resolving tag to digest fails if image from registry with self-signed CA"
### Kyverno Version

1.7.0-rc1

### Kubernetes Version

1.22.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When testing the [Resolve Image to Digest](https://kyverno.io/policies/other/resolve_image_to_digest/resolve-image-to-digest/) policy with an on-premises registry (Harbor v2.5) using a self-signed, internal CA which is trusted by the Kubernetes node (image p

[2022-05-21 15:04] chipzoller commented on #3982
Is your solution here to show something like `null` for unresolved variables in the message field? What happens if you put both `request.object.metadata.namespace` and `request.namespace` in a message field? Is there a problem with one and not the other?

[2022-05-21 16:55] chipzoller commented on #3675
Just coming back to this after KubeCon. Your suggestion [here](https://github.com/kyverno/kyverno/issues/3675#issuecomment-1126975604) is kind of what I'm thinking after reading the issue from the top again. Did you test this to see if it does what you want? If not, I think it would be helpful to see two full Istio VirtualService definitions; one representing a "good" resource and another a "bad"

[2022-05-21 16:56] chipzoller commented on #1918
This is being captured in the docs for 1.7.0.

[2022-05-21 18:16] chipzoller commented on #2278
This works on all test cases. Validated on Kyverno 1.7.0-rc1.

[code]

[2022-05-21 18:16] #2278 closed

[2022-05-21 19:22] chipzoller commented on #3337
This has been captured in several other issues as of now. Closing.

[2022-05-21 19:22] #3337 closed

[2022-05-21 19:30] chipzoller commented on #3788
Covered in #3244 and #2267

[2022-05-21 19:30] #3788 closed

[2022-05-21 21:11] chipzoller commented on #3965
Aside from the suggestions, following up on your initial post:

I cannot reproduce this after cloning your policy twice and modifying each one slightly differently so it creates three different ResourceQuotas.

[code]

[code]

[code]

Here's a test Service of type LoadBalancer.

[code]

Terminal steps:

[code]

So I cannot reproduce this. The ResourceQuota is created properly. That's where Kyverno

[2022-05-21 21:11] #3965 closed

[2022-05-21 23:10] eddycharly commented on #2917
I think it was not merged. We had some discussions that were not addressed in the PR.

[2022-05-22 08:45] aleksrosz commented on #3185
Hi
Sorry I forgot to response.
"If there are valid policy violations, do you not want the users to see them?" - exacly, because if they use Lens and ArgoCD they see events and they think that it cause some issues. There should be possibility to turn off this events for example if cluster admin is testing which application pass and which not then it can be taken from Kyverno logs there is no need t

[2022-05-22 12:41] chipzoller commented on #3984
There's a similar message with verifying signatures except Kyverno throws an inaccurate message regarding x509 cert subject names.

[code]

[2022-05-22 16:38] viveksahu26 commented on #3982
On replacing `request.namespace` by `request.object.metadata.namespace`, it works perfectly fine. But fails to works work for `{{ namespacefilters.data.exclude }}`. Because it's value  dependent on the values provided by the user.

[2022-05-22 16:44] viveksahu26 commented on #3982
And I don't think so, Is there any way to provide the values of the variables while applying the policy in the cluster.
`kyverno apply  <path to folder>  --cluster`   ----> This command doesn't provide facility to pass values of the variables.

[2022-05-22 17:13] Namanl2001 commented on #2866
No

[2022-05-22 18:01] Prateeknandle commented on #2302
this schema will be defined in `api/kyverno/v1` and validation & execution for changes will be done in `cmd/cli/test/test_command.go` ?

[2022-05-22 18:15] Prateeknandle commented on #3631
I don't get the discussion above, should I use pytest or should continue with golang only?
And do we need a flag to show failures as suggested by @eddycharly , but you mentioned that we need it at the end of the whole output. I'm actually confused.

[2022-05-22 20:31] JimBugwadia commented on #3142
@2Bor2C - agree with Chip and as discussed on Slack the flow that is fully supported is:
1. Create your scan reports as part of your CI/CD pipelines.
2. Sign and push the scan reports to your OCI registry as an attestation.
3. Check for scan results at admission controls.
4. Periodically update the scan results, so Kyverno background scans can pick up and report on new vulnerabilities.

Closing th

[2022-05-22 20:33] chipzoller opened #3985 "[Feature] Support for registries signed with internal CA"
### Problem Statement

Kyverno has no native way to work with OCI image registries signed by internal PKI such as an enterprise certificate authority. This causes failures in any `verifyImages` rules or `validate` rules which need to communicate with the registry for things like manifests, signatures, or attestations. Enterprises which host their own registries are likely to create leaf certificat

[2022-05-22 20:34] chipzoller commented on #3985
Related to #3984

[2022-05-22 23:08] chipzoller commented on #3984
Previous message is caused by a combination of the root CA not being trusted but also CoreDNS forwarding the resolution to upstream resolvers and not trying internal DNS first. Fixed with updating CoreDNS ConfigMap to force internal resolution of local domains.

[2022-05-22 23:23] #3142 closed

[2022-05-23 01:16] chipzoller opened #3987 "[Bug] Setting `mutateDigest` field to `false` gets reverted to `true`"
### Kyverno Version

1.7.0-rc1

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

Setting the `mutateDigest` field to `false` (default is `true` if unspecified) does not take and Kyverno reverts this to the default value of `true` when the policy is perissted.

### Steps to reproduce

1. Create this ClusterPolicy
[code]
2. Check it a

[2022-05-23 01:29] JimBugwadia commented on #3119
@afzal442 - what you described is on the right track. Can you please clarify your question?

[2022-05-23 07:03] developer-guy commented on #3154
Hello @chipzoller, it's already there 👇

https://github.com/kyverno/KDP/pull/1/files

![Screen Shot 2022-05-23 at 10 02 40](https://user-images.githubusercontent.com/16693043/169762301-fc0ee699-d8d9-40cb-a49c-113bc56796e4.png)

[2022-05-23 08:47] Dentrax commented on #3145
Just saw the proposal, thanks for dropping these! I really want to get to it, but unfortunately couldn't find much time for this. - If someone also wants to work on this, we can work on the same branch.

[2022-05-23 09:54] smcaine opened #3988 "[Bug] 1.7.0-rc1 Pre-condition filters don't appear to be working"
### Kyverno Version

1.7.0

### Description

After deploying the 2.4.0-rc1 helm release, i could see that kyverno was using a high amount of CPU/Memory and seeing many restarts.

After looking through the logs I could that the `check-deprecated-apis` policy was getting triggered by any resource, for example, secrets, configmaps, services:

[code]

This policy uses a wildcard on the match resources

[2022-05-23 11:06] chipzoller commented on #3988
Try AnyIn for the operator. Does it make a difference?

[2022-05-23 11:46] chipzoller opened #3990 "[Bug] `imageReferences[]` does not work while `image` does"
### Kyverno Version

1.7.0

### Kubernetes Version

1.22.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

imageVerify

### Description

`verifyImages[].image` works when verifying a signature but `verifyImages[].imageReferences[]` does not.

### Steps to reproduce

1. Apply this policy and see it works
[code]
2. Signed image is deployed.
[code]
3. Apply this one and see it doesn't.
[code]
4

[2022-05-23 16:43] realshuting opened #3997 "[Bug] Policy validation blocks variable `@`"
### Kyverno Version

1.7.0

### Description

Kyverno blocks policy creation/update if it contains the variable `@`.

[code]

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is not recorded.

[2022-05-23 16:46] smcaine commented on #3988
i tried that already and it made no difference

[2022-05-24 06:57] #3967 closed

[2022-05-24 07:52] harshitasao commented on #2892
Hi @chipzoller. Can I work on this issue?

[2022-05-24 12:19] #3997 closed

[2022-05-24 12:47] vyankyGH commented on #1258
closing with PR https://github.com/kyverno/kyverno/pull/3976 .

[2022-05-24 12:47] #1258 closed

[2022-05-24 12:58] chipzoller commented on #3709
(Hiding previous comment as I see why this is being thrown)

There are really two separate issues here:
1. Unreferenced context variables blocking policy update
2. Unresolvable context variables blocking resource creation

On the first issue, you're creating a policy with a context named `myconfigmap`. You then subsequently edit the policy and change this in `verifyImages[0].key` to `mybadconfigma

[2022-05-24 13:02] realshuting commented on #3988
Can the admission controller receive admission requests for `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration `?

[2022-05-24 13:08] realshuting commented on #3988
`request.object.apiVersion` only contains group and version, i.e., `admissionregistration.k8s.io/v1`. Do we need `Kind` in its value?

[2022-05-24 13:17] realshuting commented on #3988
`AnyIn` precondition works for me, tried with the following policy, and the annotation was added to deployment only, not configmap.

[code]

[2022-05-24 13:25] chipzoller commented on #3988
I think the issue is that in order to make this policy function, we're having to configure the webhook for all resources which is thrashing Kyverno.

[2022-05-24 13:30] vyankyGH commented on #3988
@chipzoller no need to add kind as "*" for check-deprecated-apis
https://github.com/kyverno/kyverno/issues/3261#issuecomment-1074820180
[code]

[2022-05-24 13:41] chipzoller commented on #3988
@smcaine can you try the rule above and check? This requires Kyverno 1.6.2.

[2022-05-24 16:12] realshuting commented on #1722
@chipzoller - with this change #3998, now one can use `{{target.}}` to reference data in the target resources. Note that this support isn't available for `foreach` rules.

Can you show me an example policy of the above use case? If this is needed for `foreach`, I can create a new issue to address that.

[2022-05-24 16:36] chipzoller commented on #1722
I don't think the `{{target.}}` variable would be needed here. I wasn't able to build a policy for this because one of the things needed to solve for it is a JMESPath function that doesn't yet exist. You can see the topic I raised for this in the JMESPath Gitter community [here](https://gitter.im/jmespath/chat?at=62825683eaf3267f856300a1).

[2022-05-24 17:35] viveksahu26 commented on #3982
@chipzoller , any thoughts ?

[2022-05-24 18:22] Prateeknandle commented on #2233
/assign

[2022-05-24 18:23] chipzoller commented on #3982
Sorry, I'm a bit confused. What is the present problem statement here?

[2022-05-24 18:28] viveksahu26 commented on #3982
Okay np, I can explain. As you asked, what will happens if we put both `request.object.metadata.namespace` and `request.namespace` in a message field. Then, message section of the policy automatically fetches value for `request.object.metadata.namespace`, whereas could not fetch value for `request.namespace`

[2022-05-24 18:51] chipzoller commented on #3982
Ok, then that's the problem. `request.namespace` is an AdmissionReview variable and should be usable anywhere in a Kyverno rule. There should be no problem using either `request.object.metadata.namespace` OR `request.namespace`. And if used together, they should be substituting the same value (unless the object under review is a cluster-scoped object like a Namespace).

[2022-05-25 04:33] realshuting opened #4018 "[Bug] New security vulnerability found"
### Kyverno Version

1.7.0

### Description

https://github.com/kyverno/kyverno/security/dependabot?q=is%3Aopen+manifest%3Ago.sum+package%3Agithub.com%2Ftheupdateframework%2Fgo-tuf

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues i

[2022-05-25 07:53] realshuting commented on #3988
@smcaine - as mentioned above, `request.object.apiVersion` only has `Group` and `Version`, there's no `Kind`. You need to update your policy accordingly:
[code]

[2022-05-25 07:57] smcaine commented on #3988
@realshuting thanks, sorry missed that.. will try this shortly and update

[2022-05-25 08:28] smcaine commented on #3988
yes this works, tested on both 1.6.2 and 1.7.0-rc1

[2022-05-25 08:35] realshuting commented on #3988
Great! Closing.

[2022-05-25 08:35] #3988 closed

[2022-05-25 08:48] vyankyGH commented on #3988
Thanks @realshuting

[2022-05-25 09:03] #2396 closed

[2022-05-25 14:26] #3114 closed

[2022-05-25 15:21] realshuting commented on #2283
@prateekpandey14 - can you link to the PR/doc?

[2022-05-25 15:25] realshuting commented on #2348
Isn't this a clone policy capable of? @prateekpandey14

[2022-05-25 15:56] realshuting commented on #3541
@zeborg is currently not available, unassigned.

@tend2infinity - are you still interested in working on this issue?

[2022-05-25 15:58] realshuting commented on #3611
Hi @yogeek - we made a few improvements to leadership switching process. Can you please verify against `v1.7.0-rc2`? Or you can wait for the official 1.7.0 release which will be available in a few days.

[2022-05-25 16:39] #1918 closed

[2022-05-25 16:46] gabricar commented on #2931
was this fixed on a new release of something else? I have a very similar issue

[2022-05-25 18:36] garrett-compass opened #4024 "[Bug] Varying Results: Duplicate Policies in different modes (`audit` vs `enforce`)"
### Kyverno CLI Version

1.6.0

### Description

Scenario:
* I have 2 policies that are the exact same, the only difference being `validationFailureAction`
    * Policy `unique-ingress-path-per-host-audit` with `audit`
    * Policy `unique-ingress-path-per-host` with `enforce`
* The policies are based on the state of the cluster, like [unique ingress paths](https://kyverno.io/policies/other/unique

[2022-05-25 18:41] jimmyraywv opened #4025 "[Feature] Expose Policy Background Scanning Settings at the Policy Level"
### Problem Statement

Currently, background scans are enabled by default and can be disabled at the policy-level. However, the scan interval seems to be a cluster wide setting. Not all policies are created equal. I submit that policies can actually be tiered for priority and criticality. As such, I think that different background scan intervals would make sense for this policy tiering. Without cr

[2022-05-25 19:22] chipzoller commented on #4025
Interesting concept. I'm guessing that what you ultimately want is the ability to sort resources, based upon their "tier", into either differing reports or some other notation which associates resource with tier? Because the background scanning interval itself doesn't really have significance after when the scan runs. The results of those scans are what you want to arrange by priority/criticality?

[2022-05-25 21:14] windowsrefund commented on #3534
I have an interest in skipping webooks for specific namespaces so I tried following the suggestions in this thread. With my deployment edited to run with --autoUpdateWebhooks=false and my Kyverno's configmap changed to use the following namespaceSelector. The intention here is to exclude my 'panda' namespace from the webhooks.

[code]

At that point, I created a panda namespace with a label of nam

[2022-05-26 01:57] chipzoller commented on #3631
I can't answer the purest versus golang question, but regarding the flag versus no flag:
1. A flag that shows only failures would be a nice-to-have.
2. Even if no flag, the CLI `test` command must aggregate and display all failures at the end of a run.

[2022-05-26 02:20] chipzoller commented on #3118
This is good info. Also, how did you dump out that AdmissionReview request?

[2022-05-26 02:25] viveksahu26 commented on #3982
ok @chipzoller , But what about other variables whose values is totally dependent on user input(i.e. `variables.yaml` file or `manually`). In that case what values to replaced those variables? For, example, `{{ namespacefilters.data.exclude }}`. Any specific value to replace those variables or kind of default value. Any suggestions?

According to me leave  it empty or nil or as it is (`{{ namespac

[2022-05-26 02:26] chipzoller commented on #4024
To be clear, you logged this as a Kyverno CLI issue. Is it exclusively, or is this observed in the webhook as well?

[2022-05-26 02:28] gsweene2 commented on #4024
Observed in the webhook (only tested via policy on a cluster). Apologies, should I update the tags?

[2022-05-26 06:55] husnialhamdani commented on #3113
Hi @dhavalgshah,
We are about to finish our automate performance testing tools, based on our observation so far, the Kyverno required us to adjust the default memory limit config in large workloads (around 4k-5k Kubernetes total resources), so we would recommend to update the memory limit to `768Mi` (2x default config) to avoid OOM problem.

This screenshot we test in 4-5k Kubernetes total resourc

[2022-05-26 06:57] darshini-ramesh commented on #3039
Hi @realshuting
We don't have controller on nodes during shutdown.
We want to set policy for all namespaces hence can't use NamespaceSelector.

After setting webhooksCleanup enable:true, we observed that Kyverno pod is still in terminating state blocking other pods.
Had to delete kyverno-resource-validating-webhook-cfg as a workaround.

[2022-05-26 12:40] xadcoh commented on #2567
Hello,

Just a quick note: the manifest defined above didn't work for me in a bundle with ArgoCD, here is a manifest I'm using:

[code]

[2022-05-26 21:38] syekkali opened #4030 "[Bug] AWS KMS support"
### Kyverno Version

1.6.0

### Description

Image verification fails to retrieve AWS KMS key for verification. Created the appropriate roles and annotated Kyverno service account with the IAM role with required permissions.

Policy:

[code]
Error:

check-image:
  check-image: "failed to verify signature for registry.gitlab.com/image:
    .attestors[0].entries[0].keys: no matching signatures:\nget

[2022-05-26 22:12] chipzoller commented on #4030
I think this is an outstanding request in #3064

[2022-05-27 02:29] chipzoller commented on #3982
Ok, so `namespacefilters` is a context variable. Just like all context variables, it must be supplied in the variables.yaml file.
Because the full variable path is `namespacefilters.data.exclude` that is what should be specified. What we're saying here is that if `request.object.metadata.namespace` does NOT need to be manually specified because it gets interpolated by the CLI, then so too should `

[2022-05-27 11:24] xgcssch opened #4031 "[Bug] Install failure of kyverno-policies chart if image contains more than one colon"
### Kyverno Version

1.6.2

### Description

Prereq:
Kyverno is installed via Helm chart from a private registry.
The registry contains a colon in its name to specify a specific port:
eg. `repository: artefact-repo.acme.com:5102/kyverno/kyverno`

When the `kyverno-policies` chart is installed, the helm command terminates with an error:
[code]
The reason is, that in the `kyverno-policies.kyvernoVer

[2022-05-27 12:13] oshi36 commented on #3087
@realshuting @vyankyGH @chipzoller The above issue of `"value"="testpath\"]"` still exists
[code]
Confirming this after checking with CLI version 1.6.2  and 1.7.0-rc2

[2022-05-27 12:17] chipzoller commented on #3087
Re-opened. Don't know why this was closed by the previously-linked PR as it did not address the issue.

[2022-05-27 13:08] Prateeknandle commented on #3631
So, ig I'll follow this approach for implementation.....once this is done, will add flag also for failures.

[2022-05-28 18:00] ksonawat007 commented on #3830
Hello @realshuting , I am Khushal from India. I came across your project from the LFX Mentorship program for the summer term and wish to contribute to the same. Let me know if there are any issues that I can work on related to K8s and GO.

I am also keen to take part in the Mentorship program for this summer term.
Thank You!

[2022-05-28 18:09] anutosh491 commented on #3830
I guess you should make it quick then (22 mins to go as you're from india) , the site says applications are only open till today midnight. Hope that helps !

[2022-05-29 05:43] ksonawat007 commented on #3830
I missed your message @anutosh491 😅. But anyways, I still look forward to work and contribute to this project.

[2022-05-29 12:39] #3121 closed

[2022-05-29 20:52] fjogeleit commented on #2981
Hey, I wrote @JimBugwadia that I am working on a adapter for the new trivy operator and it's different Report CRDs. While working on it I had not the similar but a related issue.

Trivy creates in some cases not a report per namespace like kyverno but a report per resource within a namespace. In this cases it is very redundant that each result have the same resource item. So I thought about standa

[2022-05-30 13:22] chipzoller commented on #1607
@pixelsnbits your use case should now also be solved in the forthcoming Kyverno 1.7.0. This type of policy will work (test with RC2):

[code]

[2022-05-30 13:45] demikl opened #4037 "[Bug] last-request-time annotation not updated often enough, webhook configurations are deleted then recreated"
### Kyverno Version

1.6.2

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Other

### Description

I've found out that Kyverno is quite often deleting its webhook configurations and recreating them, leaving a gap where API requests that should have been mutated or denied are accepted without Kyverno touching them.

Here is the relevant log that triggers the we

[2022-05-30 16:44] xadcoh commented on #2567
It looks like there is a problem if the annotation is not there:
[code]

[2022-05-30 19:32] JimBugwadia commented on #3987
This seems to be caused by autogen.

I added the annotation to turn off autogen, and see the values are correctly configured:

[code]

[code]

[2022-05-30 20:13] JimBugwadia commented on #3918
@chipzoller - the policy requires an `attestor`.

I will add a validation check to require an attestor, when an attestation is provided.

[2022-05-31 02:57] JimBugwadia commented on #3984
@samj1912 - any idea why an error is not reported when we fail to resolve the image data?

[2022-05-31 09:09] TheKangaroo commented on #2162
This is still an issue in 1.6.2.
Workaround:
Since this is only an issue when external.metrics API returns an empty array, you can work around this by deploying _any_ scaled object with an external metric source, e.g.:
[code]
verify that the API returns an non-empty array:
[code]

This is by far not an optimal solution, but it keeps our kyverno from failing in our cluster.

[2022-05-31 12:57] realshuting commented on #2162
@TheKangaroo - thanks for the workaround!

@vyankyGH - is it possible to do the same in Kyverno?

[2022-05-31 13:08] domruf opened #4040 "[Bug] Policy for 'Replace Image Registry' only uses one rule"
### Kyverno Version

1.6.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

I've created a policy based on https://kyverno.io/policies/other/replace_image_registry/replace_image_registry/

[code]
The example above is replacing k8s.gcr.io as expected. But when I uncomment the second rule, the first rule has no

[2022-05-31 13:15] realshuting commented on #4037
Hi @demikl - thanks for reporting. Kyverno no longer deletes and re-creates webhooks if the idle interval exceeds 5 mins. Can you please verify with the latest Kyverno `v1.7.0-rc3`?

[2022-05-31 13:48] chipzoller commented on #4031
Just pointing out that this is only an issue when a user has installed Kyverno from a non-default image registry where they specify a port number as part of the image value.

[2022-05-31 13:52] #4040 closed

[2022-05-31 14:29] james-callahan opened #4043 "[Feature] ability to customise the `ClientConfig` of generated webhooks"
### Problem Statement

When using EKS with a custom CNI, we don't want to run kyverno with `hostNetwork: true`. Instead, we want to direct webhooks to a `url` (via an ingress) instead of a `Service`.
However, Kyverno hard-codes the Service path https://github.com/kyverno/kyverno/blob/18ae9c7d6d544743a39502378ffa2db291f346fc/pkg/webhookconfig/common.go#L161 or in some circumstances can be forced to

[2022-05-31 15:02] #4031 closed

[2022-05-31 15:03] JimBugwadia opened #4044 "[Bug] skip should not be reported as a policy violation in events"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

imageVerify

### Description

Seeing these events:

[code]

### Steps to reproduce

Apply a policy with a pre-condition that skips certain namespaces and / or resources. Observe events.

### Expected behavior

Skipped policy applications should not be reported as policy violations.

[2022-05-31 22:47] chipzoller commented on #4030
@JimBugwadia can you please confirm this is a duplicate?

[2022-05-31 22:48] chipzoller commented on #4025
@jimmyraywv can you confirm based on the previous comment?

[2022-05-31 23:12] jimmyraywv commented on #4025
Sorting reports would be interesting, but I really wanted the control of background scans, like the interval, per policy. Some policies would have tighter intervals.

[2022-05-31 23:15] chipzoller commented on #4025
Looking for clarification because background scans are a means to an end. That end is policy reports. Adjusting scanning based on a tier doesn't make sense unless we're talking about reports. Making sure we understand the request here.

[2022-05-31 23:32] jimmyraywv commented on #4025
Undertstood. Feel free to scrap if it doesn't make sense to you. I think it makes sense for when a policy background scan may trigger a policy that makes calls to an external data provider. I came across this in the ratify project. However, it's scope may not make sense for Kyverno at this time. Sorry, didn't mean to waste anyone's time.

[2022-05-31 23:48] chipzoller commented on #2267
Related to #3244

[2022-05-31 23:56] chipzoller commented on #3104
@samj1912 any thoughts here?

[2022-06-01 00:05] chipzoller commented on #3836
@samj1912 is this only a problem with the CLI or generally? This is needed to appropriately label the issue.

[2022-06-01 00:13] chipzoller commented on #3598
@kranurag7 are you still working on this issue?

[2022-06-01 00:22] chipzoller commented on #3178
Katakoda is shutting down after O'Reilly acquisition.
https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

[2022-06-01 00:22] chipzoller commented on #3154
Link to https://github.com/kyverno/KDP/pull/19

[2022-06-01 00:25] chipzoller commented on #3119
@wryonik are you working on this issue?

[2022-06-01 00:28] chipzoller commented on #4025
Not wanting to scrap, just want clarification on what the actual request is here, so maybe you can clarify what you see the benefit is to allowing granular specification of a background scan interval on a per-policy or per-rule level. Regardless of the interval, the violations will be recorded in a policy report. Also, currently, once violating resources are deleted, the results are immediately (o

[2022-06-01 07:33] realshuting commented on #3039
@darshini-ramesh - Were you able to verify the above suggestion by Chip?

[2022-06-01 12:33] realshuting commented on #4043
That'd be great!

We can take the URL with a container flag and use it to build webhooks. This can be specified as an arg of the main kyverno container, here's the current supported list https://kyverno.io/docs/installation/#container-flags.

[2022-06-01 14:09] realshuting commented on #3534
Hi @windowsrefund - I have tested with `v1.7.0-rc3` and did not see this issue anymore. Can you please verify?

[2022-06-01 14:47] realshuting commented on #1278
The issue was addressed, closing.

[2022-06-01 15:19] kranurag7 commented on #3598
@chipzoller Yes I'm working on it.
I'm getting some errors. In the GetFunctions I have added this.
[code]

Now I'm trying to create a func that will take an integer as argument generate the random string of characters.

[code]

- When I'm trying to test my function then I'm getting this error.
[code]
I have tried using `n int` as function argument but that's not working out.

[2022-06-01 15:39] chipzoller commented on #3087
This was a policy issue and had nothing to do with variable resolution. The array index `[0]` needed to be added to the JMESPath expression pipeline to select the first item in the array (based on the policy description). The below policy is now correct and properly blocks the Ingress in the `test` Namespace which has a conflicting path.

[code]

Given these pre-existing Ingress resources:

[code]

[2022-06-01 15:39] #3087 closed

[2022-06-01 15:43] chipzoller commented on #3087
Sample policy is fixed in my fork and will be included in a PR soon.

[2022-06-01 15:59] realshuting commented on #2283
@prateekpandey14 - can we close this?

[2022-06-02 07:09] samj1912 commented on #3897
If you can submit a PR that would be great! I tried making some changes to move to ko in the past but had difficulty migrating the current local dev targets in the makefile.

[2022-06-02 08:14] developer-guy commented on #3897
We had talked with @imjasonh as well about this, and thanks to him, he listened to my opinions. I tried to explain why we didn't use ko at this time because kyverno is heavily dependant on Buildx in its build process. Still, ko adaptation would be great in the further build process, but today, enhancing Dockerfile with the newest Buildx features would provide a better and soft transition.

[2022-06-02 08:40] demikl commented on #4037
I've deployed v1.7.0-rc3 on a test cluster. I'll let you know in a few days if it fixes this behaviour.
Thanks.

[2022-06-02 11:55] prateekpandey14 commented on #2283
Fixed in #3819

[2022-06-02 11:55] #2283 closed

[2022-06-02 12:22] chipzoller commented on #3897
It would be great if someone could lay out, succinctly, the pros and cons for `ko` versus Docker BuildX so we can make an informed decision.

[2022-06-02 12:27] yogeek commented on #3611
hi @realshuting ok thank you. I am not able to test the update for now but I will update this discussion as soon as I can.

[2022-06-02 12:34] #3064 closed

[2022-06-02 12:34] chipzoller commented on #4030
As of Kyverno 1.7.0, support for KMS also supported by Cosign is added. From the latest documentation:

## Using a Key Management Service (KMS)

Kyverno and Cosign support using Key Management Services (KMS) such as AWS, GCP, Azure, and HashiCorp Vault. This integration allows referencing public and private keys using a URI syntax, instead of embedding the key directly in the policy.

The supporte

[2022-06-02 12:34] #4030 closed

[2022-06-02 12:45] imjasonh commented on #3897
Sure! Here's my entirely biased take:

Pros:
- `ko` doesn't require you to write and maintain Dockerfiles.
- `ko` doesn't require privileged access to a Docker daemon. This is probably not a huge concern for your CI environment, if you run on GitHub Actions where that's available to you, but developers can stop Docker and save some battery life.
- `ko` doesn't need to pull the base image in order

[2022-06-02 12:52] chipzoller commented on #3897
`ko` will also generate an SBOM as part of the build process, correct? That's a huge pro.

[2022-06-02 12:54] chipzoller commented on #3611
FYI 1.7.0 is released today.

[2022-06-02 13:01] tschifftner opened #4052 "[Bug] [CLI] Tests should pass when selector does not match"
### Kyverno CLI Version

1.6.2

### Description

I try to validate my policy does not affect normal resources. Therefore I defined a resource that does not match any selector. As the policy does affect the resource, I would expect the test to pass.

### Steps to reproduce

1. Create policy, resources, tests

[code]
[code]

[code]

2. Run kyverno test
[code]

### Expected behavior

Tests of normal-

[2022-06-02 13:22] chipzoller commented on #4052
The way these tests work is if a resource does not fully pass through the `match` and `exclude` blocks, the rule body is not evaluated which results in a `skip`. While I have not inspected each and every one of your test cases, in the first one which tests `normal-secret` this would be a `skip` because the resource does not contain the annotation `reflector.v1.k8s.emberstack.com/reflects` which yo

[2022-06-02 14:01] JimBugwadia commented on #2925
See: https://github.com/kyverno/kyverno/issues/3897#issuecomment-1144821672

[2022-06-02 14:58] #4052 closed

[2022-06-02 15:42] abhiyant-10 commented on #3830
Hello @realshuting I applied to this project via  LFX Mentorship too .  As advised by you I went through  PSA documentation and would like to list some key points   for my fellow applicants .
1.Rego is the programming language generally used  to write policies and interaction is done  between  YAML and Rego , Kyverno lets the whole process done in YAML (no need to learn other language).
2.Match an

[2022-06-02 19:05] #3987 closed

[2022-06-02 19:43] windowsrefund commented on #3244
This appears to be a bit of a moving target since I am now only seeing a subset of these errors on my test cluster which has recently been upgraded to 1.7.0. Prior to the upgrade, I was seeing the sync failures against both _external.metrics.k8s.io/v1beta1_ and _custom.metrics.k8s.io/v1beta1_.  While troubleshooting, I also saw "connection refused" errors produced from my metrics-server pod. Based

[2022-06-03 05:20] shubham4443 opened #4059 "[Bug] [CLI] Tests without namespace specified should fail for namespaced policies"
### Kyverno CLI Version

1.7.0

### Description

For testing namespaced policies (i.e. polices with `kind: Policy`), we are suppose to specify the namespace in the test file. If we specify the wrong namespace, the test fails but if we don't specify the namespace at all, the test passes. The test should fail if we don't specify namespace in the test file.

### Steps to reproduce

Consider this poli

[2022-06-03 06:27] realshuting commented on #3244
@windowsrefund - did you see this issue on 1.6.x? Or it was only for 1.7.0?

@vyankyGH - is this related to the other metrics server issue that you are working on?

[2022-06-03 07:10] vyankyGH commented on #3244
@realshuting are you talking about this issue https://github.com/kyverno/kyverno/issues/2162?

[2022-06-03 07:21] realshuting opened #4062 "[Bug] Krew doesn't support s390X"
### Kyverno Version

1.7.0

### Description

Krew fails to release Kyverno CLI for linux/s390X:

https://github.com/kubernetes-sigs/krew-index/pull/2311

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine i

[2022-06-03 07:31] realshuting commented on #4062
@skuethe - FYI.

[2022-06-03 07:42] skuethe commented on #4062
Thank you for the info and sorry about the trouble, I just extended the `.krew.yaml` without verifying if it is supported.

[2022-06-03 07:43] realshuting commented on #3244
Yes.

[2022-06-03 07:43] developer-guy commented on #4062
no worries @skuethe 😇

[2022-06-03 07:44] realshuting commented on #4062
No worry @skuethe, we will remove it from Krew configurations.

[2022-06-03 09:04] nickvanwegen opened #4065 "[Bug] after upgrading to 1.7.0 pods logs are flooded with info messages"
### Kyverno Version

1.7.0

### Description

After upgrading to 1.7.0 I noticed that the Kyverno pods are logging excessive amount of info logs.

Discussed on slack see thread linked in issue.

[code]

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p1654246435392299

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https:/

[2022-06-03 09:11] mikhailadvani opened #4066 "[Bug] Race condition in appending environment variables when mutating webhooks outside exist of kyverno(e.g. IRSA)"
### Kyverno Version

1.6.2

### Description

Setup: Kyverno on EKS

Sample policy:

[code]

I am trying to add environment variables to my pods using the above mutating policy. This works fine when pods are created without any IRSA role attached but when the `pod-identity-webhook` that comes with the EKS cluster is also trying to attach environment variables needed for AWS authentication to work t

[2022-06-03 16:21] samj1912 opened #4069 "[task] Kyverno Jp Help has not been updated to state that the `-f` flag also accepts YAML files as inputs:"
@samj1912 the help has not been updated to state that the `-f` flag also accepts YAML files as inputs:

[code]

_Originally posted by @chipzoller in https://github.com/kyverno/kyverno/issues/3768#issuecomment-1145955585_

[2022-06-03 18:49] Boojapho opened #4070 "[Feature] Add Horizontal Pod Autoscaling to Kyverno in Helm Chart"
### Problem Statement

Kyverno currently supports a fixed number of replicas for HA.  But, it does not scale up (or down) based on load in the system.  In heavily loaded systems, 384Mi and 500m CPU on 3 replicas is not enough.  The Kyverno pods will crash with OOMKilled errors.

### Solution Description

A Horizontal Pod Autoscalar could be used to monitor memory/cpu use and scale up or down when

[2022-06-03 21:48] Boojapho opened #4072 "[Bug] Memory leak causes Kyverno Pods to crash with OOMKilled in loaded conditions"
### Kyverno Version

1.7.0

### Kubernetes Version

1.22.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Kyverno pods steadily increase in memory over time at a rate of 200Mi to 250Mi per hour.  The leader appears to grow faster than the followers.  When the memory limit is reached the pod will crash with OOMKilled and restart.  In some cases, the Kyverno pods wi

[2022-06-04 13:58] Boojapho commented on #4072
I ran the simulation overnight and the pods crashed at the 4Gi limit I had set.  I was incorrect in stating they cannot elect a leader.  Instead, when they restart, they immediately shoot up to 4Gi of memory and crash again.  All 3 pods crash over and over again, preventing the admission controller from getting a response from Kyverno.

[2022-06-04 16:26] chipzoller commented on #4069
It would also be great to add a link and a note to this output that informs users of the authoritative JMESPath page located at https://kyverno.io/docs/writing-policies/jmespath/#custom-filters

[2022-06-04 17:49] Boojapho commented on #4072
Attaching policies I use:
[policies.yaml.txt](https://github.com/kyverno/kyverno/files/8838363/policies.yaml.txt)

[2022-06-04 20:17] JimBugwadia opened #4073 "[Feature] investigate Sarif format reports"
### Problem Statement

### Solution Description

Generate Kyverno / policy reports in SARIF format.

This library can help:

   https://github.com/owenrumney/go-sarif

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/trou

[2022-06-04 22:22] chipzoller opened #4074 "[Feature] [CLI] All other output aside from results table to be suppressed in `test` command"
### Problem Statement

Depending on the policy, its construction, the type of policy, and a number of other factors, running the `test` command produces either the output of the tests results (expected) and additional may include verbose information even if all tests pass. This is inconsistent, confusing for the user (because both pass and fail can produce this additional output), and ugly.

For e

[2022-06-05 01:06] chipzoller opened #4075 "[Feature] [Helm] Exclude Kyverno Namespace by default"
### Problem Statement

As discussed in the contributors' meeting and on Slack, based on the reports and evidence to date, it sounds like we need to exclude the Kyverno Namespace by default in the Helm chart.

### Solution Description

A default installation of the Helm chart, regardless of replica count, should result in exclusion of the Kyverno Namespace. This must be templated and not statically

[2022-06-05 01:06] chipzoller commented on #4075
@treydock and @eddycharly as resident Helm experts, may I kindly request your assistance on this topic?

[2022-06-05 01:38] chipzoller commented on #1127
We should really move on this. Warnings are needed in two main areas:
1. In the policy validating webhook to warn of deprecation notices (ex. the `In` operator is deprecated and will be removed in the next version)
2. As a possible value for `validationFailureAction`

[2022-06-06 03:54] viveksahu26 commented on #4069
/assign

[2022-06-06 05:49] viveksahu26 commented on #2653
/closed [via](https://github.com/kyverno/kyverno/pull/3894)

[2022-06-06 05:49] #2653 closed

[2022-06-06 05:54] developer-guy commented on #2925
Hello @JimBugwadia, I would like to take over this one, would you mind assigning it to me?

[2022-06-06 13:50] chipzoller opened #4076 "[enhancement] Using `{{@}}` variable in `foreach` mutate rule doesn't resolve correct path"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Mutate

### Description

When using `{{ @ }}` in a `foreach` mutate rule, patchStrategicMerge, looking into the `metadata.` object, Kyverno skips the `metadata` part causing the path to not be resolved.

May be caused by PR #3998

### Steps to reproduce

1. Apply this policy
[code]
2. C

[2022-06-06 13:58] ddellarocca opened #4077 "[Bug] Kyverno crashes if namespace is deleted"
### Kyverno Version

1.7.0

### Description

Hi,
I've updated kyverno to 1.7.0 in my cluster to fix the problem discussed in https://github.com/kyverno/kyverno/issues/3497 but I'm facing some problems.
My cluster is on AWS with cilium as CNI and kyverno is deployed with `hostNetwork` set at true, and it applies a set of network policies if it has a defined label.
So i create a new namespace, then

[2022-06-06 14:27] chipzoller opened #4078 "[Feature] Turn Kyverno into a policy-based custom Pod scheduler"
### Problem Statement

There are many cases seen in the community (and with increasing frequency) whereby people cannot use the stock Kubernetes Pod scheduler in more complex topologies and environments. Kubernetes supports [multiple schedulers](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/), but creating one involves coding and is cumbersome. This provides a lo

[2022-06-06 15:05] mimmus opened #4080 "[Bug] A non-compliante resource should be permitted in a filtered namespaces"
### Kyverno Version

1.6.2

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

Hi,
we configured Kyverno to filter a list of namespaces in webhooks:
[code]

### Steps to reproduce

- Install Kyverno by Helm:
`# helm install kyverno kyverno/kyverno -n kyverno --create-namespace --version=v2.3.3 -f kyverno-values

[2022-06-06 15:09] chipzoller commented on #4080
You're on Kubernetes 1.20 which does not have the [immutable label](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#automatic-labelling) `kubernetes.io/metadata.name`. This was introduced starting in v1.21. This is the cause of your issue. You will need to pick/assign a label of your choosing and then update your webhook config accordingly.

[2022-06-06 15:09] #4080 closed

[2022-06-06 15:19] realshuting commented on #4076
I was under impression that `@` is not supported in `foreach`, can you please confirm @vyankyGH @JimBugwadia ?

[2022-06-06 15:36] realshuting commented on #4076
Is this blocking you from adding sample policies? We can add the support if requested.

[2022-06-06 15:38] realshuting commented on #4077
@prateekpandey14 - can you please take a look at this issue?

[2022-06-06 15:39] realshuting commented on #4072
I'm investigating this issue, will share the updates after.

[2022-06-06 15:42] chipzoller commented on #4076
It's not. I just noticed it when confirming functionality for a docs update. But we should take action one way or another, whether that's add the capability or block users from attempting the same thing.

[2022-06-06 15:53] realshuting commented on #4076
Sure. @vyankyGH - let's discuss this offline for this issue.

[2022-06-06 15:53] Prateeknandle commented on #2233
need confirmation that this whole implemenrtation for changing the `validationFailureAction` value and validation of `activeWindow` will be done in `pkg/policy` folder ? if yes, then in which file the code should be written ?

For validation its `validate.go` but cant understand in which file/folder the value of `validationFailureAction` should be changed?

[2022-06-06 15:55] chipzoller commented on #2233
cc @JimBugwadia @realshuting who should provide coding guidance on this issue?

[2022-06-06 20:50] chipzoller opened #4083 "[Bug] SBOM is not associated with digest corresponding to released tag"
### Kyverno Version

1.7.0

### Description

In looking at the releaser CI action, the SBOM that is uploaded is not referencing the same digest as that of the tagged image.

The image `kyverno/kyverno:v1.7.0` has a SHA256 digest of `1746bf4c3286c68bdf5412d1a3d8c645060736d012042556e320d954b8e633e4`. The SBOM is being signed against an untagged image with a digest of `31238b385193fe96f9c02070fe87a9e

[2022-06-06 20:52] chipzoller commented on #4083
@developer-guy we possibly could use your assistance on this one if you are so inclined.

[2022-06-06 21:17] chipzoller commented on #4083
I am wondering if, during the release process, we're pushing more than one image, possibly due to duplicate/similar workflows.

[2022-06-06 21:22] NateLangloisProscia commented on #3110
I think this is pretty major, but it doesn't seem to be getting much attention for quite some time. It even prevents downscaling pods. The kyverno-policies restricted policy triggers this same issue. This was not an issue for us on Kyverno 1.5.3, and this regression is preventing us from completing our intended upgrade to 1.7.0, as we have a number of autoscaling workloads.

Is there any workaroun

[2022-06-06 21:23] NateLangloisProscia commented on #3110
@zeborg has this maybe accidentally dropped off of your radar?

[2022-06-06 21:56] chipzoller commented on #3110
The kyverno-policies chart was recently updated to include a fix for this, so it should no longer be an issue in an as-installed situation.

[2022-06-06 22:09] NateLangloisProscia commented on #3110
@chipzoller which commit fixed? I was able to reproduce this bug with latest release, Helm chart version 2.4.0 (corresponding to Kyverno version 1.7.0) for both kyverno and kyverno-policies.

[2022-06-06 22:49] chipzoller commented on #3110
This was fixed in the `kyverno-policies` chart in PR #4046. When installing with the `restricted` profile, the `disallow-capabilities-strict` ClusterPolicy will include the precondition which fixes this behavior. The latest version of that chart is v2.4.1 which I just confirmed.

[2022-06-06 23:01] chipzoller commented on #3110
And a thank you to @treydock for that piece of work.

[2022-06-07 02:37] realshuting commented on #4072
After profiling memory usage for 1.7.0, I made an improvement when Kyverno concatenates strings during event generation and ran the same test with the fix, the memory was between 180Mi - 230Mi during a 20 mins testing.

@Boojapho - can you help verify if this patch fixes the issue? You can update your image to [ghcr.io/realshuting/kyverno:fix-memory](http://ghcr.io/realshuting/kyverno:fix-memory)

[2022-06-07 03:40] realshuting commented on #4072
Though the memory usage went up and down within an hour, the highest usage shoot up to 270Mi. It still increasing continuously :(

[2022-06-07 04:27] vyankyGH commented on #4076
sure @realshuting

[2022-06-07 05:24] prateekpandey14 commented on #4077
Sure , looking into it.

[2022-06-07 06:42] developer-guy commented on #4083
I'd love to investigate, I'll take a look at it ASAP.

[2022-06-07 08:45] vyankyGH commented on #4076
@realshuting @chipzoller we need to add support for variable substitution for the list.

[2022-06-07 11:12] clementnuss opened #4086 "[Bug] [1.7.0] kyverno controller doesn't start - hangs"
### Kyverno Version

1.7.0

### Kubernetes version

1.23.4

### Kubernetes Platform

`kubeadm` deployed Kubernetes, with Cilium enterprise 1.10

### Kyverno rule type

does not not apply, as kyverno cannot even start

### Description

on a fresh install, on a vanilla k8s `1.23.4`, kyverno simply fails to properly start and register webooks. the readiness probes also fails.

### Steps to reproduce

[2022-06-07 11:18] prateekpandey14 commented on #4077
I tried with 5 namespace, added the label, once policy gets applied, delete them one by one, there will be certain retry which kyverno does to verify the trigger resources no longer exists and then delete the UR after retried get exhausted , but kyverno pod did not crash any time.
- Did you removed the `UpdateRequest` resource manually ?
- how many kyverno replicas are running ?

Here is the polic

[2022-06-07 11:25] chipzoller commented on #4086
What type of Kubernetes environment/platform is this? The issue template that should have been used is the webhook template which asks this.

[2022-06-07 11:35] chipzoller commented on #4076
Ok. Not a huge priority but if it's easy to support would be nice.

[2022-06-07 12:55] #4075 closed

[2022-06-07 12:59] clementnuss commented on #4086
I've tried to use the same `values.yaml` as above on the exact same cluster but with Kyverno `1.6.2`, and there it starts perfectly fine 🤔
here the output when doing like that:

### Kyverno log (verbosity level 4)

<details>
  <summary> kyverno pod log (click to expand)</summary>

[code]
</details>

there must be an issue with Kyverno 1.7.0

[2022-06-07 13:22] realshuting commented on #4072
Updated the same image `ghcr.io/realshuting/kyverno:fix-memory` with another fix, this version looks better. It took around 180Mi - 230Mi within an-hour's test:

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/25727662/172390508-d86c07fc-2f92-4cdd-971b-884a334fd90e.png">

@Boojapho - can you please verify?

[2022-06-07 13:24] Boojapho commented on #4072
Testing now.  Will report back in a few hours

[2022-06-07 13:25] realshuting commented on #4072
Thank you!

[2022-06-07 13:37] chipzoller commented on #3982
Any more investigation done here?

[2022-06-07 13:48] ddellarocca commented on #4077
In GKE with 3 replicas crashes the same way as aws:
[code]
It has crashed even on namespace creation:
[code]
And the 3 replicas crashes at the same time.

[2022-06-07 13:54] chipzoller commented on #2284
This is tested and verified with the Kyverno 1.7.0 CLI. The pre-defined `image` variable is resolving properly. I have expanded and pushed more test cases.

[code]

[code]

Output:
[code]

[2022-06-07 13:54] #2284 closed

[2022-06-07 13:58] prateekpandey14 commented on #4077
Interesting, let me try in GKE based cluster, will update findings soon.

[2022-06-07 14:55] chipzoller opened #4087 "[Bug] [CLI] The Namespace name in the Resource column is not correct if `metadata.namespace` defined within the resource"
### Kyverno CLI Version

1.7.0

### Description

If a resource defines a Namespace in `metadata.namespace` the output of the `RESOURCE` column in the `test` command still shows it to be `default`. If `results[].namespace` is defined in the `kyverno-test.yaml` manifest, the output is correct.

### Steps to reproduce

1. See https://github.com/kyverno/kyverno/issues/3198

### Expected behavior

1. T

[2022-06-07 14:59] chipzoller commented on #3198
@ademar59 I have tested this and the behavior looks to be correct. If `metadata.namespace` is defined in the test resource, it will be used. If `results[].namespace` is defined in the Kyverno test manifest, it will be used. If they are both defined, `metadata.namespace` will take precedence in the resource. A resource which applies to the `match` block but is caught by the `exclude` block (and the

[2022-06-07 15:00] realshuting commented on #2233
I'm happy to help here :)

[2022-06-07 15:46] realshuting commented on #4086
This was because the endpoint was not ready:
[code]

Can you share the output of `kubectl -n kyverno get ep` and `kubectl -n kyverno describe pod`?

[2022-06-07 15:49] realshuting commented on #3110
Can we close this as completed?

[2022-06-07 16:07] chipzoller commented on #3110
No, because the problem still exists in Kyverno. The addition of a precondition is a presently necessary workaround, which is why it had to be added to the policy and why the kyverno-policies chart also had to reflect it.

[2022-06-07 18:25] Boojapho commented on #4072
Still seems to be increasing over time.   Is there a garbage collection that is supposed to run periodically?

![image](https://user-images.githubusercontent.com/9620318/172455340-bade2829-8b61-4cea-8ca6-4af08260a810.png)

[2022-06-07 19:22] windowsrefund commented on #4072
I seem to be doing a little better over here using the load simulator provided above with 1 policy that is simply checking for a set of required labels.

![image](https://user-images.githubusercontent.com/512222/172464975-036f8ce7-6b5b-411a-80fb-96e00c4f2efb.png)

[2022-06-07 23:49] viveksahu26 commented on #3982
Hi, @chipzoller . After further investigation I found something interesting.
Since the above [policy](https://github.com/kyverno/policies/blob/main/other/exclude_namespaces_dynamically.yaml) contains variables in `pre-condition` section. So, if we don't provide any values either manually or through values file, then `pre-condition` won't allow resource to proceed further checking and it will stop

[2022-06-08 00:08] viveksahu26 commented on #3982
Apply the policy on below resource, without providing any values file.
`resource.yaml`
[code]
Try to change the operator in `precondition` and see the changes.

[2022-06-08 00:08] ghsbhatia commented on #4072
We have noticed a similar behavior. What is the cause of memory immediately shooting up to 4Gi at the restart? Kyverno does maintain a cache using reflectors for certain k8s resources like Deployment, Pod, Secret, Namespace etc as well as Kyverno custom resources like PolicyChangeReport, Policy, ClusterPolicy etc. However, the cache should be bounded as the jobs have ttlSecondsAfterFinished define

[2022-06-08 04:17] realshuting commented on #4072
Can you also try setting `GOGC` to 25 in the kyverno main container https://github.com/kyverno/kyverno/issues/1540#issuecomment-789966335?

The issue I observed is that Kyverno tries to create an event for the scheduled job but the job turns into completed (and GC-ed) so that Kyverno cannot find the resource. The Golang GC doesn't kick in during these frequent updates so memory allocations are not

[2022-06-08 04:22] realshuting commented on #4072
@ghsbhatia - was this observed on 1.7.0?

Kyverno caches Deployment, Pod, Secret in its own namespace so this shouldn't take much memory. For the custom resources like PolicyChangeReport, Policy, ClusterPolicy, it really depends on how many resources are installed in the cluster. Would you mind sharing these numbers and the cluster size (the number of resources that are matched by configured polic

[2022-06-08 05:23] viveksahu26 commented on #3982
Hey @realshuting , in the above [policy](https://github.com/kyverno/policies/blob/main/other/exclude_namespaces_dynamically/exclude_namespaces_dynamically.yaml) `precondition` is present. When does these preconditions are checked,  it's before [applying policy](https://github.com/kyverno/kyverno/blob/e3c39f1da18c3b12a5a31535b3895881aba17dcf/cmd/cli/kubectl-kyverno/apply/apply_command.go#L316) or a

[2022-06-08 06:05] Nawaz027 commented on #3222
Hey @chipzoller , I would love to work on this issue. Can you please assign this to me?

[2022-06-08 07:01] realshuting commented on #4072
@Boojapho - and if possible, can you also share [heap data](https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes)?

[code]

[2022-06-08 09:20] EFX-PXT1 opened #4091 "[Bug] kyverno 1.7.0 fails to start / panic if unable to initialize sigstore-tuf-root"
### Kyverno Version

1.7.0

### Description

Upgrade from 1.6.2 to 1.7.0 and Kyverno fails to start.
Access to gs://sigstore-tuf-root is forbidden likely cause,
however we do not need cosign functionality - just preexisting features.

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io

[2022-06-08 09:35] realshuting commented on #4091
@EFX-PXT1 - how did you upgrade Kyverno? Via `Helm upgrade`?

[2022-06-08 09:38] vyankyGH commented on #3982
@viveksahu26 Preconditions are check before applying on resource. If precondition pass will apply, if not kyverno will skip.

[2022-06-08 09:40] EFX-PXT1 commented on #4091
Helm uninstall and re-install using v2.4.1 chart.
Reason to mention was simply to highlight that 1.6.2 started whilst 1.7.0 does not.

[2022-06-08 09:42] vyankyGH commented on #3982
@viveksahu26 https://github.com/kyverno/kyverno/blob/5aaf2d877087e857e6a23e764724d90df1fca97b/pkg/engine/utils.go#L415

[2022-06-08 09:48] ffilippopoulos opened #4093 "[Bug] Background scans emit warning events on conditional anchor mismatch"
### Kyverno Version

1.7.0

### Description

We are running Kyverno v1.6.2 and v1.7.0 in different clusters (aws, gcp and on-premises) and we follow a set of upstream policies from Kyverno docs.
Using this policy: https://kyverno.io/policies/other/disallow_localhost_services/disallow_localhost_services/ to disallow `localhost` `externalName` on services will emit Warning events for all non-Externa

[2022-06-08 09:53] realshuting commented on #4091
I just installed 2.4.1 and it worked fine for me.

Can you please share the output of `kubectl -n kyverno get pod -o yaml | grep sigstore -B3`?

[code]

There should be an empty dir volume mounted to the kyverno container.

[2022-06-08 09:53] viveksahu26 commented on #3982
@vyankyGH  But [checkPreconditions](https://github.com/kyverno/kyverno/blob/e3c39f1da18c3b12a5a31535b3895881aba17dcf/pkg/engine/validation.go#L213) function is invoked under validations. And this validate function is invoked after applying policy on Resource.

[2022-06-08 09:58] vyankyGH commented on #3982
If you check this line https://github.com/kyverno/kyverno/blob/5aaf2d877087e857e6a23e764724d90df1fca97b/pkg/engine/validation.go#L218
you will see, is precondition not match will skip rule

[2022-06-08 10:01] realshuting commented on #4086
From the log I can tell the endpoint was not ready:
[code]

How was the cluster being provisioned? Was Kyverno scheduled on a worked node and can control plane components talk to workers directly?

[2022-06-08 10:02] EFX-PXT1 commented on #4091
Yes the chart and volume are present - I reviewed the bugs around that.
Rather I think this is an assumption that the store is available for Init - which is not universally true.
By way of example - I get essentially the same from cosign
[code]

[2022-06-08 10:04] realshuting commented on #4091
This doesn't seem to be the same issue I met before.

@JimBugwadia @samj1912 - can you please help here?

[2022-06-08 10:17] viveksahu26 commented on #3982
@vyankyGH , yes precondition is checked there. I have checked vale of `preconditionsPassed`. When operator in the `precondition` is `In` or `NotIn` or anything except `AnyNotIn` or `AllNotIn`, the value of `preconditionsPassed` is `False`, whereas when using operator `AnyNotIn` or `AllNotIn`, the value of `preconditionsPassed` is `True`.  Btw, here should also the value of `preconditionsPassed` su

[2022-06-08 10:18] realshuting commented on #4072
Interesting that if I stop scheudling jobs, the memory drops to ~170 Mi. This could indicate that there wasn't really a leak but the allocated data kept growing.

I'd be curious to see if setting GOGC could help. Also testing it on my end.

[2022-06-08 10:56] vyankyGH commented on #3982
have you tried with webhook?

[2022-06-08 11:03] clementnuss commented on #4086
the cluster is provisioned with `kubeadm` and `ansible` (think `kubespray` deployment but done inhouse), and is using Cilium eBPF as CNI. kyverno was scheduled on a worker node, which can communicate with control plane components (and CP components can communicate with worker nodes).

The endpoint is not ready because the controller didn't properly start and because it doesn't respond to the readi

[2022-06-08 11:10] viveksahu26 commented on #3982
Not, yet. I will try and let you know..

[2022-06-08 11:14] ffilippopoulos commented on #4093
Similar issue: https://github.com/kyverno/kyverno/issues/3197. Even though this was only addressed for `audit` validationFailureAction, while I think we do not need a warning for either `audit` or `enforce` strategies

[2022-06-08 11:47] chipzoller commented on #3982
I just checked this in the webhook, and if you do not create the ConfigMap and apply a Pod, the Pod will be allowed since the policy is in `audit` mode. If you change the policy to `enforce` it will be blocked because it fails looking up the context:

[code]

We need to make the behavior consistent here regardless of the operator.

[2022-06-08 12:24] chipzoller commented on #2866
FYI @JimBugwadia I am trying to account for this in the CLI test schema design. Your input will be necessary.

[2022-06-08 12:29] chipzoller commented on #4083
Any headway on this?

[2022-06-08 12:36] alkarp commented on #4091
experiencing the same issue on an AKS cluster when installing from scratch with a latest helm.
[code]

the issue was resolved once the network access had been permitted to the "https://storage.googleapis.com" endpoint

access just to the "https://sigstore-tuf-root.storage.googleapis.com" endpoint wasn't sufficient.

[2022-06-08 12:49] alkarp commented on #4091
unfortunately, i'm not familiar with the Sigstore, but would be good to understand there is a way to avoid using the remote mirror. having to allow wide access to storage.googleapis.com would be a red flag for any InfoSec department.

[2022-06-08 13:30] Namanl2001 commented on #4083
I investigated but didn't find anything concrete except that for some tags, this feature is working fine eg: `v1.6.1` `1.6.2` even for `v1.7.0-rc3`

[2022-06-08 13:31] alkarp commented on #4091
looks like there is already an open bug for poor error handling when the metadata cache has expired: https://github.com/sigstore/cosign/issues/1293

from what I gather, cosign can use local metadata cache as long as it's valid. would anyone be able to look into updating cache in the kyverno container?

[2022-06-08 14:23] chipzoller commented on #2233
We probably do not want to change the `validationFailureAction` in the policy `spec` as this will conflict with GitOps controllers. We probably just want this to be an internal status change.

[2022-06-08 14:24] realshuting commented on #4093
@ffilippopoulos - are you suggesting not creating warnings if preconditions are not met?

[2022-06-08 15:20] viveksahu26 commented on #3982
Conclusion: The Result in the `Webhook` is not discriminated on the basis of `operator` whereas in the `cli` it is.

[2022-06-08 15:45] ghsbhatia commented on #4072
@realshuting - Yes this was observed on 1.7.0 where memory immediately spikes up to 4Gi at restart.

FYI - In 1.6.0, memory consumption  over a period of time increases as well with a similar test where jobs to run for about 40 seconds are created using the script above. The cluster only has prometheus stack and kyverno charts deployed with resource limit on memory set at 384Mi for kyverno. There

[2022-06-08 15:52] realshuting commented on #4072
This could be a separate issue, but it'd be helpful if you can share the heap data as well. See the comment [above](https://github.com/kyverno/kyverno/issues/4072#issuecomment-1149539684).

[2022-06-08 16:04] Prateeknandle commented on #2233
The value depends on the existing value, as @chipzoller mentioned we don't want to overwrite, we want internal changes

[2022-06-08 21:06] Boojapho commented on #4072
I found a setting that significantly affects the rate of increase.   In the Helm chart, when I set `serviceMonitor.enabled: true`, I get the memory profile from the graphs above.  When I set `serviceMonitor.enabled: false`, the memory profile flattens.  The only thing this should change is whether the metrics endpoint is hit periodically.

The graph on the left is the memory profile with the servi

[2022-06-08 21:34] chipzoller opened #4095 "[CLI] `test` support for separate `foreach` loops"
### Kyverno CLI Version

1.7.0

### Description

Per comment [here](https://github.com/kyverno/KDP/pull/21#discussion_r892517601), multiple, separate `foreach` loops do not appear to be supported.

### Steps to reproduce

1.

### Expected behavior

Any type of `foreach` variant can be properly tested.

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No respo

[2022-06-08 23:13] ghsbhatia commented on #4072
Talking about metrics, the description of the flag is quite misleading:

flag.BoolVar(&disableMetricsExport, "disableMetrics", false, "Set this flag to 'true', to enable exposing the metrics.")

[2022-06-09 03:15] viveksahu26 commented on #4093
Hey @ffilippopoulos , I think you want that Warning  shouldn't come if the anchor condition key(in this case `ExternalName`) do not matches with resource key(here, `ClusterIP`).  But I didn't get what is the wrong with warning. As I can see that Warning message specifies that rule is skipping that resource.

[2022-06-09 03:25] viveksahu26 commented on #4087
Hey @vyankyGH , if you haven't started working on this issue. Could you please assign this issue to me.
/assign

[2022-06-09 03:35] viveksahu26 commented on #3982
To investigate further, I need to know how different operators works. If I'm not wrong hey @anushkamittal20 , you worked upon [extending new operators](https://github.com/kyverno/kyverno/pull/2788). Do you have any design doc of how these operators works. It would be really helpful.

[2022-06-09 03:44] vyankyGH commented on #4087
done

[2022-06-09 04:32] george-angel commented on #4093
Hello @viveksahu26 I think the crux of the issue is that we think `Warning` is an incorrect log level for this message, as its describing behaviour that is "working as expected". `Info` or `Debug` would be a more appropriate level for messages that describe normal operation.

[2022-06-09 05:42] viveksahu26 commented on #4093
Oh, yeah ! You are right @george-angel . We don't need to warn here for a simple skip of rule over resource. It's not a critical message. So, Will it be fine, if we push this `Warning` message to the `log` level. I think  `Info` also seems to fit here. But I don't think `debug` will fit here..

[2022-06-09 05:45] JimBugwadia commented on #4093
@viveksahu26 - from what I understand, this is not a log message - it is an Kubernetes event generated by Kyverno.

You can view the Kyverno generated events as follows:

[code]

[2022-06-09 05:46] JimBugwadia commented on #4093
This issue also reports removing skipped policies from the events:

https://github.com/kyverno/kyverno/issues/4044

[2022-06-09 06:29] viveksahu26 commented on #4093
Thanks @JimBugwadia  for correcting. Will  `Information` k8s events best suited for the above case(here,  `skipping` rule over policy).

[2022-06-09 06:41] viveksahu26 commented on #4093
Does, `Information` event type supported in k8s or not ?

[2022-06-09 06:50] chetak123 commented on #4070
Hey @Boojapho I'm interested in this issue but have some doubts regarding it:
1. I wanted to know if I'm correct about this -> `kubectl create ns test` will create a new namespace named test and all the pods, services and resources  will be only created inside it, deleting `test` namespace will delete all of it. Am I correct ?

2. Also can you please give me a little idea about what the script doe

[2022-06-09 06:56] viveksahu26 commented on #4093
Finally, in this issue. Need to change event `TYPE`  from `Warning` to either `Normal` or `Information` . Whereas in this issue #[4044](https://github.com/kyverno/kyverno/issues/4044), need to change the `REASON` from `PolicyViolation` to `PolicySkipped`. Both issue are mutually same or interconnected.

[2022-06-09 07:07] phin1x commented on #4091
We faced the same problem. i took a lock into the cosign code and found the env var SIGSTORE_ROOT_FILE. We downloaded the fulcio_v1.crt.pem and fulcio.crt.pem, placed both into a file inside of the container and set the env var SIGSTORE_ROOT_FILE to the certificate file path. now kverno starts without crashing.

[2022-06-09 07:09] ffilippopoulos commented on #4093
@viveksahu26 yes, changing the event type would be a solution here. Also, in regards to https://github.com/kyverno/kyverno/issues/4044, I think that changing the reason to `PolicySkipped` also qualifies for changing the event type to `Information` or `Normal`, since skipping because of a pre-condition, means that everything works as expected and there is no need to warn

[2022-06-09 07:23] realshuting commented on #4093
@viveksahu26 - assigned! Would you like to draft a proposal for this change?

cc @vyankyGH

[2022-06-09 07:26] viveksahu26 commented on #4093
Yeah sure @realshuting

[2022-06-09 10:00] realshuting commented on #4072
After analyzing the heap data, it seems like the method that is used for converting policy report caused the issue. This was similar to https://github.com/kyverno/kyverno/pull/2678 which we detected memory leak using the same method.

![image](https://user-images.githubusercontent.com/25727662/172816897-f139f2b2-9104-43e7-aa16-b8371d5c271c.png)

The following image was generated from large-heap-nb

[2022-06-09 13:25] Boojapho commented on #4072
@realshuting  Testing the `fix-memory-patch-2` image now.  I'm going to take out the GOGC override in this run and leave the service monitor on.

Results of running without a Service Monitor (`serviceMonitor.enabled: false`) showed the memory was kept in check.  There was a problem restarting the pods after 14 hours, but not due to the memory leak.  So, we now have a workaround.

![image](https://

[2022-06-09 15:28] realshuting commented on #4072
@petercable - it looks like the webhooks are quite busy in your cluster where it publishes the metrics data as well. Will also keep an eye on this component during profiling.

[2022-06-09 15:41] JimBugwadia commented on #4091
Thanks @phin1x for sharing the details!

[2022-06-09 16:47] Boojapho commented on #4072
Update with the `fix-memory-patch-2` run (GOGC set to default, serviceMonitor on):

![image](https://user-images.githubusercontent.com/9620318/172900751-c7392017-d5cc-45f5-b47a-9e2d934cfd04.png)

Heap dumps:
[heap-2dqx6.pprof.gz](https://github.com/kyverno/kyverno/files/8872328/heap-2dqx6.pprof.gz)
[heap-8x6nd.pprof.gz](https://github.com/kyverno/kyverno/files/8872329/heap-8x6nd.pprof.gz)
[heap-xm

[2022-06-09 17:26] Boojapho commented on #4072
One thing I find interesting in the memory profile is the allocated space is so much larger than the in use space.

[2022-06-09 18:10] petercable commented on #4072
Oh, I totally missed that those handlers are labeled `Admission` and `Verify`. It doesn't surprise me that the webhooks are busy; we're running flux and it is constantly applying / reconciling changes in the cluster.

[2022-06-09 19:56] Boojapho commented on #4072
I may have made a mistake in the test for `serviceMonitor.enabled: false`.  I've tried to recreate it and have been unsuccessful.  The memory still climbs when service monitor is not there.  I'll keep trying to recreate it to verify the results.

[2022-06-09 22:46] Boojapho commented on #4072
I've been trying to figure out why the pods have a high memory on a restart (even when I do a helm delete followed by helm install).  They tend to pick up where they left off.  I took a look at the resources left behind in the namespace after deleting Kyverno using `kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -n kyverno`.  The res

[2022-06-09 22:51] #2250 closed

[2022-06-10 07:04] JimBugwadia commented on #4091
I ended up removing the TUF initialization logic from main, so this does not impact users who do not configure image verification rules.

@phin1x - since we want to support other Fulcio servers, I did not embed the default certs. Will look into the initialization again once all the Sigstore changes settle.

[2022-06-10 07:35] EFX-PXT1 commented on #4091
@JimBugwadia - that was my local approach too with a new --skipCosignInit flag.
Felt like it might take a fair amount of work to resolve robustly.
Though not clear what breaks and/or any background fragility I've opened up.

[2022-06-10 07:39] demikl commented on #4037
Sorry for not responding earlier, but I have a problem running Kyverno 1.7.0 and I've not yet been able to tell if it's related to something specific with my cluster, or if it's related to Kyverno itself. The problem appears to be in the leadership algorithm, I can share with you some logs to show this behavior but this issue might not be the best place to talk about it.

![MicrosoftTeams-image (1

[2022-06-10 07:52] #4091 closed

[2022-06-10 08:35] phin1x commented on #4091
@JimBugwadia we do not use the tuf feature. it was just a workaround to get the 1.7.0 version working.

[2022-06-10 09:08] jduepmeier commented on #4077
It seems the Get() method in https://github.com/kyverno/kyverno/blob/704dc46ec30aeb548cd2ad6aa4c02c39829a4823/pkg/client/listers/kyverno/v1beta1/updaterequest.go#L90
can return nil on error.
This is not checked in
https://github.com/kyverno/kyverno/blob/v1.7.0/pkg/background/update_request_controller.go#L301

https://github.com/kyverno/kyverno/blob/v1.7.0/pkg/background/update_request_controller.g

[2022-06-10 09:16] jduepmeier commented on #4077
This issue should be fixed with the following commit 5340c5608cda444f578f1b62e5cd836a3b37c528

[2022-06-10 09:42] quidio commented on #4086
I reproduce the same issue with a similar setup kubeadm (kubespray), k8s 1.23.7, cilium 1.11.

[2022-06-10 09:53] avakarev commented on #4086
We have reproduced it in our team with aws eks 1.22. Chart `2.3.3` / kyverno `1.6.2` works just fine and bumping it to chart `2.5.0` / kyverno `1.7.0` causes restart loop.

[2022-06-10 12:58] Boojapho commented on #4072
Here are the results of running the load with `kubectl delete rcr -n kyverno --all --force` in the loop.  Looks like the RCRs may be the main cause of the memory consumption.

![image](https://user-images.githubusercontent.com/9620318/173069423-ad766a38-dce0-4e72-9809-008b8d48b257.png)

[2022-06-10 13:22] Boojapho commented on #4072
The graph above waits for me to delete all the rcrs before loading more jobs, which works.  But, when I run the rcr deletion in parallel with the load, I can't keep up with the number of rcrs created.  The deletion is slower than the creation, resulting in a memory increase.  So, it may just be a problem that Kyverno can't delete them fast enough vs. the creation.

[2022-06-10 15:07] viveksahu26 commented on #4087
Hey @chipzoller , @vyankyGH , I think there is a need to add one NOTE in documentation. It's a kind of special case: That, though `namespace` is a optional field in `result.namespace`, but if user provides 2 resource of same type with same name in different namespaces. Then, in this case user must need to provide `result.namespace`.
As I can remember that somewhere I discussed with @realshuting th

[2022-06-10 20:14] viveksahu26 commented on #4065
Hey @nickvanwegen, could you please add Steps to reproduce this issue.

[2022-06-10 20:19] nickvanwegen commented on #4065
@viveksahu26 the slack thread added in the issue does not provide enough information?

There we went through the whole process of getting to the issue and reproduce steps

[2022-06-10 20:26] nickvanwegen commented on #4065
Oh sorry i was thinking this was for another issue i logged my bad!

There is no reproduction steps I just upgraded kyverno to 1.7.0

[2022-06-10 20:26] phin1x commented on #4077
we run kyverno 1.7.0 patched with the commit now for 8 hours without crashing. before kyverno crashed 20-30 times in the same period. the commit seems to have fixed the problem.

[2022-06-10 20:35] viveksahu26 commented on #4059
Hey @shubham4443 , could you please provide `resource.yaml` and `generatedResource.yaml` file for above case.

[2022-06-11 09:19] shubham4443 commented on #4059
resource.yaml
[code]

generatedResource.yaml
[code]

[2022-06-11 13:12] viveksahu26 commented on #4093
Hey @realshuting , while investing on this issue. I  wanted to confirm  that if it is the case of `PolicySkipped` then under which conditions would it fits?  Either under [Successful](https://github.com/kyverno/kyverno/blob/c3be6898513597159d54970f808d977978af54fa/pkg/webhooks/resource/report.go#L32) category  or  [!Successful ](https://github.com/kyverno/kyverno/blob/c3be6898513597159d54970f808d9

[2022-06-11 13:20] viveksahu26 commented on #4059
Thanks lot @shubham4443  !!

[2022-06-11 13:37] viveksahu26 commented on #4059
Hey @shubham4443 , This issue is somehow related to #4087 . Because, after  trying to solve this  #4087.  I tested for this issue too. And it's works perfectly fine for this case also.
What was causing issue?
Initially, the by default value for `results[].namespace` was default. Independent of what actually resource has namespace.
Proposed changes:
But now, default the value of results[].namespace

[2022-06-11 13:39] viveksahu26 commented on #4087
Any thoughts @chipzoller on last [statement](https://github.com/kyverno/kyverno/issues/4087#issuecomment-1152462046)?

[2022-06-11 14:30] chipzoller commented on #4087
I thought we determined that it shouldn't be possible to provide two resource of the same kind with the same name in a given test case. This is one of the points of validation that's needed when the new test schema is implemented. cc @Prateeknandle

[2022-06-11 14:38] chipzoller commented on #4087
It should be possible to use the same resource to test against different rules. If this is causing failures, we should identify why and close those gaps.

[2022-06-12 07:06] shubham4443 commented on #4059
If the intended behaviour is to implicitly set `results[].namespace` to `metadata.namespace` of `resource.yaml` when `results[].namespace` is not specified, then your PR should close this issue as well.

[2022-06-12 18:18] r0bj opened #4101 "Support `metadata.generateName` field on resources"
### Kyverno Version

1.7.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Mutate

### Description

When using `generateName` for object name generation kyverno resources match names do not match.

### Steps to reproduce

1. ClusterPolicy:
[code]

2. Pod:
[code]

3. Created pod is mutated as expected:
[code]

4. Use generateName instead of name:
[code]

5. Cre

[2022-06-12 22:48] viveksahu26 commented on #4087
Hey @chipzoller , That's not causing problem anymore. Basically, at code level kyverno cli differentiate result on the basis of key. And [key](https://github.com/kyverno/kyverno/blob/c3be6898513597159d54970f808d977978af54fa/cmd/cli/kubectl-kyverno/test/test_command.go#L552) is decided by these factors: Policy(Compulsory), Rule(Compulsory), Resource Name(Compulsory), Kind(Compulsory), Namespace(Opt

[2022-06-12 22:49] viveksahu26 commented on #4087
What's your thought on this ?? @vyankyGH

[2022-06-13 02:24] viveksahu26 commented on #4087
Test this policy using test command. Everything looks fine.
Now, change the order of the resource in `resource.yaml` file. What I mean is, bring [this](https://github.com/kyverno/policies/blob/175447b0e13843dfbb075b28aac4914c032a12d7/other/ensure-production-matches-staging/resource.yaml#L23)(with stagging namespace) resource above to [this](https://github.com/kyverno/policies/blob/175447b0e13843df

[2022-06-13 06:18] realshuting commented on #4072
@Boojapho - you are right! I discussed with @JimBugwadia about this issue and it seems like whenever the RCR creation is faster than cleanup rate the memory grows.

We are working on the fix, and will generate a new test image once it's ready.

[2022-06-13 06:43] vyankyGH commented on #4093
@viveksahu26 if **PolicySkipped**  will not apply on any resources or not create any violations for that.

[2022-06-13 09:31] Dentrax opened #4102 "[Feature] Conditional Base Image Rebasing using Mutating Webhook Proposal"
### Problem Statement

We (@developer-guy) thought that, why not to use Kyverno's Mutating Webhook feature to bump our base images that have critical vulnerabilities during deploying to production?

The idea is: `Conditional Base Image Rebasing`

[Rebasing](https://github.com/ImJasonH/ImJasonH/tree/main/articles/oci-base-image-annotations#rebasing=) is kind of updating your old base image onto a n

[2022-06-13 11:29] chipzoller commented on #4102
In my opinion, I think this is overboard for what an admission controller like Kyverno should be focused on. Scanning (i.e., reading) an image--which is really just reading metadata already associated with the image--to make a decision based upon that data is one thing; but materially changing that image is something else. I would vote for what is suggested in the Alternatives section in this case

[2022-06-13 11:43] viveksahu26 commented on #4087
Hey @chipzoller , is there need to add cli test cases?

[2022-06-13 11:47] Dentrax commented on #4102
Thanks! Can you please elaborate a bit, what did you mean by saying:

That's because Kyverno should NOT modify/alter images no matter what?

[2022-06-13 11:49] chipzoller commented on #4087
This is now covered and fixed in kyverno/policies, correct? If so, that should suffice for test cases since we're testing all of kyverno/policies upon commits to kyverno/kyverno. If that's not correct or we need something different, we should add that in e2e.

[2022-06-13 11:50] viveksahu26 commented on #4087
Yeah correct, then no need to any extra test cases.

[2022-06-13 13:31] vmarlier opened #4104 "[Bug] "failed to create UpdateRequest"- labels issue"
### Kyverno Version

1.7.0

### Description

Hello,

My team and I are setting up Kyverno on our clusters.
We are in a phase of testing policies (Validating, Mutating, Generating). During the Mutating part, we tried to use this [policy](https://kyverno.io/policies/other/scale_deployment_zero/scale_deployment_zero/) which permit to scale a deployment to zero if it is failing multiple times.

We did

[2022-06-13 13:56] vmarlier commented on #4104
We are facing the exact same issue with a [very generating policy](https://kyverno.io/policies/other/create_default_pdb/create_default_pdb/).
[code]
Also, I don't know why Kyverno is trying to create an UpdateRequest object since it is a generation on this one, and there is a dedicated GenerateRequest CRD...

[2022-06-13 14:40] NovemberZulu opened #4105 "[Bug] Validating webhooks is always marked as having a side effects on live run"
### Kyverno Version

1.6.1

### Kubernetes Version

1.22.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Validate

### Description

Validating webhooks always have `Side Effects:     NoneOnDryRun`

### Steps to reproduce

1. Deploy Kyverno and check `kyverno-resource-validating-webhook-cfg`

### Expected behavior

Validating webhook should have `Side Effects:     None` since it only admits

[2022-06-13 14:47] NovemberZulu commented on #4105
Alternatively, if this is intentional, what are the reasons for it? Probably it should be mentioned in documentation in any case. I can make a PR if need be after I understand the reasoning.

[2022-06-13 18:31] syekkali commented on #4030
Thank you for the update!

[2022-06-14 05:19] husnialhamdani commented on #3244
got same issue

[2022-06-14 06:05] clementnuss commented on #4086
here the link the the slack thread: https://kubernetes.slack.com/archives/CLGR9BJU9/p1654689796405849

issue isn't solved, and multiple users are encountering it. can you give us new possible solutions ?

[2022-06-14 09:29] wernerb commented on #3185
Similar problem where in Argo indeed the event being an error. However these policies are in audit mode and I would actually expect them to give perhaps a warning (yellow? color)
The above is probably best done in argocd in someway. But there is now no way for argo to distinguish warning from error. Maybe a separate event would make sense for audit-level policy violations? e.g., `PolicyViolationWa

[2022-06-14 09:49] andrew-bulford-form3 opened #4106 "[Bug] [CLI] Unexpected `no condition passed for 'any' block` logs"
### Kyverno CLI Version

1.7.0

### Description

If a policy has a precondition with an `any` block, the `no condition passed for 'any' block` log line will appear when running `kyverno test`, even if the block has conditions.

We can see that #4065 has been raised, thought that seems to be more about the increased amount of logging, whereas in this case the new log message is actually incorrect.

[2022-06-14 13:58] anushkamittal20 commented on #3982
Hey @viveksahu26, I mainly discussed the implementation with Chip while working on the new operators. I used to check this comment for clarity [(here)](https://github.com/kyverno/kyverno/issues/1837#issuecomment-922282076). I will check if there is more I can help you with. Feel free to drop any doubts here or on slack.

[2022-06-14 14:14] developer-guy opened #4108 "[Feature] Base image verification"
### Problem Statement

We (w/@dentrax) thought that Kyverno 1.7[^1] has notable changes, especially in the "Base Image"s area. Kyverno now supports validating base information[^2] provided by container image builders such as ko, Buildpacks, and Buildx. But this feature is a little bit limited.

Next, once the base image information is validated, the next step would be ensuring its authenticity, so

[2022-06-14 17:28] prateekpandey14 commented on #4104
@vmarlier from kyverno 1.7.0 onwards `GenerateRequest` has been deprecated and replaced by `UpdateRequest` resource, now for each generate rule `UpdateRequest` resource get created. while upgrading from lower version to 1.7.0 , UR gets created for each GR in cluster.

[2022-06-14 20:18] vmarlier commented on #4104
Thanks for the info.
Do you have a hint about the issues with the Labels ?

[2022-06-14 21:16] syekkali opened #4110 "[Bug] AWS KMS Image verification"
### Kyverno Version

1.7.0

### Description

In relation to https://github.com/kyverno/kyverno/issues/4030

Applying the below policy fails to use AWS KMS public key for image verification. Annotated the Kyverno service accounts with appropriate roles with required AWS permissions.

Policy:

[code]

Error:

check-image:
  check-image: |-
    failed to verify signature for <Image>: .attestors[0].en

[2022-06-14 21:27] chipzoller commented on #4083
The SBOM attachment is happening in the [releaser](https://github.com/kyverno/kyverno/blob/main/.github/workflows/release.yaml) workflow (`release.yaml`) which calls the [reuse](https://github.com/kyverno/kyverno/blob/main/.github/workflows/reuse.yaml) workflow. The action run for the 1.7.0 release is [here](https://github.com/kyverno/kyverno/runs/6707376709?check_suite_focus=true). The digest for

[2022-06-15 00:36] throwanexception opened #4111 "[Bug] Unable to create Deployment using imageVerify, Pods work fine: invalid character '[' after top-level value"
### Kyverno Version

1.7.0

### Description

I know this is similar to https://github.com/kyverno/kyverno/issues/3423 but I'm not using imagePullSecrets, and I think my case might be different enough.

Using AWS ECR in conjunction with IAM Roles for Service Accounts via a Role attached to the `kyverno` service account, I create a `ClusterPolicy` using `verifyImages`
[code]
Creating a pod via kubec

[2022-06-15 00:53] JimBugwadia commented on #4072
@ghsbhatia - agreed! This is easy to fix. Can you please log a separate issue so we can close? Thanks!

[2022-06-15 01:00] JimBugwadia opened #4112 "[Feature] improve flag message for disableMetricsExport"
### Problem Statement

See:

https://github.com/kyverno/kyverno/issues/4072#issuecomment-1150504787

We can improve the description to be easier to understand

### Solution Description

Change description to something like, "disable metrics collection".

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and