[2021-09-20 10:22] #1966 closed

[2021-09-20 14:29] seh opened #2413 "[BUG] Kyverno misinterprets pod spec environment variable placeholders as references"
**Software version numbers**

* Kubernetes version: 1.19.7
* Kubernetes platform: _kOps_ in AWS
* Kyverno version: 1.4.3

**Describe the bug**

Per[ this discussion in the "kyverno" channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1632093603405200) in the "Kubernetes" Slack workspace, it is not possible to include environment variable placeholders (`$(...)`) in pod specs without Kyverno m

[2021-09-20 15:32] ShubhamPalriwala commented on #2175
I'm reading about Cosign, and as far as I could understand, to sign our images using `cosign`, we sign the SHA of the image that is returned when we push this image to Dockerhub.

I'm trying to find if we are publishing our recent images anywhere apart from GitHub Releases. On the Nirmata Dockerhub, the recent-most Kyverno image I [found](https://hub.docker.com/r/nirmata/kyverno/tags?page=1&orderi

[2021-09-20 15:37] JimBugwadia commented on #2175
Kyverno images are stored in GHCR (GitHub Container Registry).

To sign the image use "cosign sign ghcr.io/kyverno/Kyverno:

[2021-09-20 16:01] JimBugwadia commented on #2175
GoReleaser has also added signing support:

https://goreleaser.com/customization/sign/

[2021-09-20 16:26] #1528 closed

[2021-09-20 16:46] #1472 closed

[2021-09-20 16:58] yogeek commented on #2333
I had the same kind of issue but in a reversed way :
I created a policy to generate a non-namespaced resource, but forget to remove the namespace (coming from another policy copy/paster)
And when kyverno tried to generate it :
[code]

This is not very easy to debug, I spent all day on this...
So I agree with @chipzoller for the pre-validation to explain that the generated resources is or is not na

[2021-09-20 17:09] JimBugwadia commented on #2413
An option is to add support for escaping the `$(...)`:

[code]

When Kyverno sees as `\$(...)` it can simply replace it with `$(...)` and not lookup values from the policy definition.

Would that work?

There is a related issue with `{{...}}`: https://github.com/kyverno/kyverno/issues/1833 where a similar scheme could be applied.

[2021-09-20 17:13] seh commented on #2413
Yes, that would suit my needs. In fact, that's how I first wrote my policy, assuming that such an escape syntax would be honored. After that, I tried doubling the dollar signs, to no avail.

Oh, yes, I saw that issue earlier. Reading it again, I now see @rdavyd requesting something similar in https://github.com/kyverno/kyverno/issues/1833#issuecomment-826016597.

[2021-09-20 18:32] seh opened #2415 "[BUG] "Auto-gen rules for pod controllers" fails when matching kind is "v1/Pod""
**Software version numbers**

* Kubernetes version: 1.19.7
* Kubernetes platform: _kOps_ in AWS
* Kyverno version: 1.4.3

**Describe the bug**

As [described in the "kyverno" channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1632160608424700) of the "Kubernetes" Slack workspace, when writing a mutating policy (using only Strategic Merge Patch) that targets the GVK {"core," "v1," "Pod"}, ev

[2021-09-20 22:07] realshuting commented on #2390
@viveksahu26 - the policy can be read as "if the container uses image `nginx`, then the `imagePullSecrets` must contain `my-registry-secret` in `my-registry-secret`".

With the above Pod manifest you attached, the result should be `skip` as the image does not match `nginx`.

[2021-09-21 01:31] realshuting commented on #2415
@seh - thanks for raising this up.

Auto-gen rules are not generated if the policy has `v1/Pod` defined. @vyankyGH - let's support `GVK` when converting auto-gen rules.

[2021-09-21 03:12] vyankyGH commented on #2415
Sure!

[2021-09-21 03:49] viveksahu26 commented on #2390
hey @realshuting ,I tested  both places, Kyverno clusters as well as in kyverno-cli. They are passing it, instead of skipping it.

[2021-09-21 04:04] realshuting commented on #2390
@vyankyGH - should it be `pass` or `skip`?

[2021-09-21 09:31] mikebryant commented on #2087
Thank you for this! I've been needing to do this with container names today (for a thing with kubexit), and this was really helpful!

I've used a small variation (that leads to less yaml as it copes with more containers):

[code]

[2021-09-21 15:51] anushkamittal20 commented on #2345
Hey @chipzoller took me a while but the conclusion is that the key
[code]
here is  wrong as it requires `{{ }}` inside the quotes so when you put it like this
[code]
it works fine, key returns bool (true/false in this case false) and the operator work fine after that.

[2021-09-21 15:55] chipzoller commented on #2345
Right, that was my mistake previously, and I found it does work as intended. But does `Equals` and `NotEquals` work as it should in this case? I think that's the question. The `value` needs to be boolean and not string.

[2021-09-21 15:55] anushkamittal20 commented on #2345
To elaborate when enclosed in these brackets we see
[code]
and earlier it was
[code]

[2021-09-21 15:57] anushkamittal20 commented on #2345
Yes @chipzoller I believe they work as intended, they accept string and boolean and some more types and as long as `key` and `value` are of the same type, they work fine.

[2021-09-21 16:28] anushkamittal20 commented on #2335
/assign @anushkamittal20

[2021-09-21 18:15] JimBugwadia opened #2421 "Report policy execution errors"
**Is your feature request related to a problem? Please describe.**

Policy execution errors are not reported.

**Describe the solution you'd like**

Report policy execution errors during admission controls, and background scans.

Currently we log errors if a policy cannot be executed due to errors during variable substitution, context evaluation, etc.

Instead we should return these errors in the

[2021-09-21 23:32] realshuting opened #2424 "Support Kubernetes 1.22"
**Is your feature request related to a problem? Please describe.**

[admissionregistration.k8s.io/v1beta1](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis) was removed in Kubernetes 1.22, we need to upgrade Kyverno managed webhook configurations to v1.

[2021-09-22 05:14] ShubhamPalriwala commented on #2175
This `$tag` looks different from the tag we get when we do `git describe --always`. Is there a way to get this tag?

A workaround that I can think of right now is first building the image and then signing the `kyverno/kyverno:latest` image!
Is this valid?

[2021-09-22 06:01] JimBugwadia commented on #2175
@ShubhamPalriwala see: https://github.com/kyverno/kyverno/blob/main/Makefile#L16 for how the tag is built:

[code]

[2021-09-22 06:17] JimBugwadia commented on #2175
Here's an example of using Cosign in a GitHub action:

https://github.com/oliviergaumond/cosign-demo/blob/main/.github/workflows/main.yml

[2021-09-22 07:13] NoSkillGirl opened #2426 "Better approach for e2e test case failure | busybox image failure"
**Is your feature request related to a problem? Please describe.**
The e2e test cases started failing after [this](https://github.com/kyverno/kyverno/pull/2410) PR.
The reason for this is while running e2e test cases we replace `tag: ` with `tag: <image tag>` using following statement:
`sed -i -e "s|tag:.*|tag: $(git describe --match "v[0-9]*")|g" charts/kyverno/values.yaml`

After merging the abo

[2021-09-22 13:37] anushkamittal20 commented on #2335
Hey @chipzoller
These are what you get by default every hour
[code]
and to test the changes that we are trying to debug I tried to add `background-scan: 5m` in these three places, `https://github.com/kyverno/kyverno/blob/main/definitions/k8s-resource/configmap.yaml`, `https://github.com/kyverno/kyverno/blob/main/definitions/install.yaml#L6604` and `https://github.com/kyverno/kyverno/blob/main/defi

[2021-09-22 13:53] ShubhamPalriwala commented on #2175
Thank you for the resources! I have implemented the functionality.

So to confirm, we will be signing our images every time a commit is pushed on the main branch, i.e. adding the feature in `image.yaml`.

And regarding the generation of an SBOM, should it also be done after every commit to the main branch? Or after every release in `release.yaml`?

[2021-09-22 13:53] chipzoller commented on #2335
As long as this is added in the Kyverno ConfigMap, it should be picked up but it's not. So you're adding it correctly.

[2021-09-22 14:35] JimBugwadia commented on #2175
Not sure. What do you suggest?

[2021-09-22 18:21] ShubhamPalriwala commented on #2175
Regarding the signing of images, let's **sign on each push** as we already create images and would make it easy for a user to verify any image that is built.
Yaml used: `image.yaml`

Now, regarding the SBOM, generating an SBOM on every push on a branch might be redundant. For the majority of the time, significant changes will be made in a version release, hence **generating an SBOM only when relea

[2021-09-22 20:04] siddharthlal25 opened #2427 "[BUG] Unusual memory usage with validate policy"
**Software version numbers**
* Kubernetes version:
[code]
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): local KinD cluster
* Kyverno version: v1.4.3

**Describe the bug**
I created a validate policy in `audit` mode with `background: false`. The policy was put to test with a stream of requests for secret creation. Since it was in `background: false` mode, memory usage was not exp

[2021-09-22 20:56] #2355 closed

[2021-09-22 21:28] realshuting commented on #1982
@JimBugwadia - how should we handle the scenario with a single node cluster? Please see https://github.com/kyverno/kyverno/pull/1985#issuecomment-925022400.

[2021-09-22 21:32] realshuting commented on #2335
@chipzoller - were you configuring `background-scan` via the ConfigMap or the Kyverno args? I don't think we can do that via ConfigMap or do you see it somewhere in the doc?

[2021-09-22 21:40] #604 closed

[2021-09-22 21:40] #2409 closed

[2021-09-22 21:48] chipzoller commented on #2335
From the docs:

[2021-09-22 22:11] realshuting commented on #2335
I must have missed this statement when adding the doc "...must be set in the Kyverno ConfigMap". From PR https://github.com/kyverno/kyverno/pull/1730 I don't see we support this configuration via ConfigMap.

@anushkamittal20 - can you please confirm if this works when passing as a flag? If needed, we can open a feature request for the ConfigMap configuration.

[2021-09-22 22:25] jeremy-duckworth commented on #2356
I just worked a small 'feature' that required the application of policy against a specific set of configmaps in the kube-system namespace. While not ideal, I overrode the default resourceFilter to apply against all 'core' resources **except** configmaps, e.g.:

[code]

I chose this path as we have broad policies in place preventing things like host paths, and that would break some control plane fu

[2021-09-22 23:29] JimBugwadia commented on #1982
@realshuting we should not enable strict anti-affinity by default....or at least make it soft so it does not prevent new pods from coming up.

For scale why not allow multiple pods on the same node?

[2021-09-23 00:43] anibali opened #2428 "Potentially misleading example for anyPattern in the documentation"
**Is your feature request related to a problem? Please describe.**

In the current documentation for `anyPattern` (https://kyverno.io/docs/writing-policies/validate/#anypattern), an example is given (policy `check-root-user`). The relevant snippet of the example is reproduced below:

[code]

This example gives the impression that the policy prevents `runAsNonRoot` from being set to false, but this

[2021-09-23 00:56] realshuting commented on #1982
When running multiple replicas, we want to schedule pods across nodes for HA, why schedule on the same node?

By default, we can set anti-affinity to `preferredDuringSchedulingIgnoredDuringExecution` in the direct manifest definition/install.yaml to allow rolling upgrade on a single node cluster. Should we make it consistent in the Helm Chart? Currently it is set to `requiredDuringSchedulingIgnore

[2021-09-23 01:08] realshuting commented on #2356
Based on the discussion of [Dynamic and Customizable Webhooks ](https://docs.google.com/document/d/1Y7_7ow4DgCLyCFQcFVz1vHclghazAKZyolIfprtNURc/edit#), the resourceFilters and namespaceSelectors will be deprecated (see https://github.com/kyverno/kyverno/issues/2320) in the future release. Instead, the webhooks will be configured based on the configured policies. That is to say, there will be no ad

[2021-09-23 01:44] JimBugwadia commented on #2356
No, the main concern from a security PoV is skipping entire namespaces which enables running misconfigured workloads in those namespaces.

[2021-09-23 10:11] anushkamittal20 commented on #2335
Hey @realshuting @chipzoller when I add in
[code]
I get the scans happening every 5 minutes
[code]

[2021-09-23 10:51] mikebryant commented on #2269
Could this annotation be stored on a ConfigMap or other object?
(Something that's not causing the Deployment controller to constantly need to resync the Deployment and confuse monitoring tools that a new deployment has happened)

[2021-09-23 13:59] chipzoller commented on #2087
@mikebryant thanks, that is more efficient. And I assume that a Pod with, for example, two containers does see both of those rules firing?

[2021-09-23 14:04] chipzoller commented on #2269
@vyankyGH what is the root cause of this?

[2021-09-23 16:30] mikebryant commented on #2087
Yeah, that's what I've had happening in my testing :)

[2021-09-23 19:21] realshuting commented on #2335
Great, thanks @anushkamittal20!

@chipzoller - do you think we need to support this configuration via the ConfigMap? Otherwise we'll need to update the doc.

[2021-09-23 20:14] chipzoller commented on #2335
It sounds like we, at the least, need to fix the documentation. I personally think it would be good to support this in a ConfigMap though.

[2021-09-23 21:06] realshuting commented on #2335
Ok, marked as "good first issue"!

[2021-09-23 21:09] realshuting commented on #2226
Can we trigger the generate policy on an UPDATE/DELETE admission request?

[2021-09-24 04:55] JimBugwadia opened #2431 "Tighten default permissions for kyverno:policycontroller"
**Is your feature request related to a problem? Please describe.**

The default installation creates a RBAC role `kyverno:policycontroller` with the following permissions:

[code]

By default, Kyverno should not be allowed to modify all resources.

**Describe the solution you'd like**

Define a list of "default" resources Kyverno can modify - similar to the generate controller role:

[code]

[2021-09-24 04:56] ShubhamPalriwala commented on #2431
/assign @ShubhamPalriwala

[2021-09-24 04:59] JimBugwadia opened #2432 "Run vulnerability scan during Kyverno builds"
**Is your feature request related to a problem? Please describe.**

ArtifactHub show a nice security:

   https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report

Would be great to have this run during our build process.

**Describe the solution you'd like**

Add vulnerability scans to builds

[2021-09-24 04:59] ShubhamPalriwala commented on #2432
/assign @ShubhamPalriwala

[2021-09-24 08:01] NoSkillGirl commented on #2226
We can trigger the generate policy on UPDATE but not on DELETE

[2021-09-24 08:42] georgekaz commented on #2330
Hi. Just thought I'd check in and keep this issue alive. Do you have any suggestions regarding the problem? Thanks

[2021-09-24 12:44] ShubhamPalriwala commented on #2175
@JimBugwadia So I had a look and analysed the SBOMs that were generated, 1 each for
- pre-kyverno,
- kyverno-cli,
- kyverno.

All of them were exactly the same. This can be verified over [here](https://github.com/ShubhamPalriwala/kyverno/actions/runs/1269413376) on my fork as I uploaded the artifacts. Hence, just generating one SBOM for the `kyverno` release and a SHA for it should be enough.

I w

[2021-09-24 14:35] MnrGreg commented on #2226
The objective was to trigger on CREATE but as the operation value was being logged a NULL the logic was trigger on neither UPDATE nor DELETE.

I.e.

[code]

[2021-09-24 17:36] #2332 closed

[2021-09-25 02:47] viveksahu26 commented on #2391
Hey @realshuting , as you shown the demo in the meeting regarding global-anchors that if if the pod doesn't contain `emptyDir` then annotation `cluster-autoscaler.kubernetes.io/safe-to-evict): "true"` will not be added. But when I try to do same using `apply` command in Kyverno-cli, it adds the annotation though the resource doesn't contain `emptyDir`.  I think Kyverno-cli doesn't support global-a

[2021-09-25 03:53] realshuting commented on #2330
Cannot think of any right now😔 Added the issue to milestone 1.6.0 to prioritize.

[2021-09-25 04:13] realshuting commented on #2391
Interesting.. Have you tested in a live cluster? Did that work as expected?

Let's focus on adding e2e tests with this issue, and can you please log a separate issue to track the CLI problem?

[2021-09-25 04:41] NoSkillGirl opened #2434 "The objective was to trigger on CREATE but as the operation value was being logged a NULL the logic was trigger on neither UPDATE nor DELETE."
The objective was to trigger on CREATE but as the operation value was being logged a NULL the logic was trigger on neither UPDATE nor DELETE.

I.e.

[code]

_Originally posted by @MnrGreg in https://github.com/kyverno/kyverno/issues/2226#issuecomment-926677703_

[2021-09-25 04:43] NoSkillGirl commented on #2226
I have created another [issue](https://github.com/kyverno/kyverno/issues/2434) for the above condition.

[2021-09-25 20:05] JimBugwadia commented on #2175
Hi @ShubhamPalriwala  this looks good overall. Please proceed.

One clarification, when you say SHA do you mean the Cosign signature?

[2021-09-26 02:40] viveksahu26 commented on #2391
Yes, I've tested in Kyverno cluster. It works accordingly. It doesn't add `annotation` if pod do not have `emptyDir`.
And do I have to create new folder inside kyvero/test/cli/test. Or to add in any existing folder.

[2021-09-26 14:30] ShubhamPalriwala commented on #2175
So apparently, Cosign recently introduced a feature where one can directly download the associated SBOM and before downloading cosign verified the image so it does not generate a separate SHA for it, it just uploads the SBOM.
You can have a look at it [here](https://github.com/sigstore/cosign/issues/610)

Will now be raising a PR for the same!

[2021-09-26 18:28] JimBugwadia commented on #2175
@ShubhamPalriwala - that sounds interesting, let's try it out to understand how it extends the basic sign and verify flow.

A Cosign signature uses SHA as detailed here:

https://github.com/sigstore/cosign/blob/main/specs/SIGNATURE_SPEC.md

https://blog.sigstore.dev/cosign-image-signatures-77bab238a93

[2021-09-27 04:20] noel-rapido opened #2435 "[BUG] Kyverno does not enforce policy on a resource modification, whose spec already is violated"
**Software version numbers**
v1.3.6

* Kubernetes version: v1.22
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Minikube v.1.23
* Kyverno version: v1.3.6

**Describe the bug**
I have a policy that I am planning to implement.
I have a resource that matches the above policy match condition, but violates the policy.

When I apply the policy, the policy gets created.
However the reso

[2021-09-27 04:45] JimBugwadia commented on #2435
For existing workloads, Kyverno will check if a modification creates a **new** violation and not enforce policies for prior violations. This is a bit tricky, but was done to prevent a situation where changes to existing production workloads are blocked due to prior violations, once a new policy is configured.

So that logic is as follows:

1. When a policy applies to existing workloads, Kyverno wi

[2021-09-27 04:49] noel-rapido commented on #2435
@JimBugwadia , this makes sense. I was assuming that the rationale behind this would be the same as that you explained.
Thanks for explaining this to me. I think it would be helpful if this bit could be documented, so that some users may not be confused

[2021-09-27 06:50] NoSkillGirl opened #2436 "Update the anti-affinity to the soft limit"
**Is your feature request related to a problem? Please describe.**
see: https://github.com/kyverno/kyverno/pull/1985#issuecomment-924552360

**Describe the solution you'd like**
Update the anti-affinity to the soft limit

**Additional context**
Related PR - https://github.com/kyverno/kyverno/pull/1985

[2021-09-27 09:46] #2434 closed

[2021-09-27 10:20] hulucc opened #2439 "[BUG] "{{@}}" break image with sha256"
Mutate with
[code]
will cause image change from "xxxx@sha256:xxx" to "xxxx:latest@sha256:xxxx"

[2021-09-27 11:12] ShubhamPalriwala commented on #1953
As discussed in https://github.com/kyverno/kyverno/pull/1956 previously,

We do not actually need minio/minio anymore as our usage has been shifted to minio/pkg.
There was a piece of code that was still using minio/minio, I've updated it to the new /pkg image, hence the minio/minio is not needed anymore

[2021-09-27 13:18] chipzoller commented on #2439
@hulucc can you please provide more information along with a sample policy and a resource for testing?

[2021-09-27 14:16] chipzoller opened #2442 "[CLI] Support more JMESPath variables"
**Is your feature request related to a problem? Please describe.**
The [drop-cap-net-raw policy](https://github.com/kyverno/policies/blob/main/best-practices/require_drop_cap_net_raw/require_drop_cap_net_raw.yaml) is now written with a JMESPath expression (`request.object.spec.[containers, initContainers][].securityContext.capabilities.drop`) which ensures every entry in the `initContainers[]` and

[2021-09-27 15:57] NoSkillGirl commented on #2434
Created by mistake

[2021-09-27 18:39] realshuting commented on #2391
This is not a CLI test, it's an e2e test. Please see this package for the details `test/e2e`.

[2021-09-27 18:44] #2413 closed

[2021-09-28 02:50] hulucc commented on #2439
[code]
and create pod with image like "centos@sha256:dead07b4d8ed7e29e98de0f4504d87e8880d4347859d839686a31da35a3b532f"

[2021-09-28 06:09] hulucc opened #2444 "[BUG] “{{@}}” not work correctly with multi-container image"
Policy:
[code]
Target:
[code]
Result:
[code]

[2021-09-28 06:48] #2444 closed

[2021-09-28 06:48] hulucc commented on #2444
My fault. Should use
[code]

[2021-09-28 12:54] viveksahu26 opened #2445 "[BUG] CLI | skipped policy message is displayed even if variable is passed"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.0
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.4.3

**Describe the bug**
A clear and concise description of what the bug is.
skipped policy message is displayed even if variable is passed. The required variable is provided in the `values.

[2021-09-28 13:36] #2445 closed

[2021-09-28 15:03] anushkamittal20 commented on #2118
Hey @andriktr, can you provide the resource manifest that you used for this issue.
Thank you!

[2021-09-28 15:45] NoSkillGirl opened #2447 "Remove unused `Run` function from generate"
@realshuting Do we still need this ?
Since it's not doing anything.
[code]

_Originally posted by @NoSkillGirl in https://github.com/kyverno/kyverno/pull/1931#discussion_r716699312_

[2021-09-28 16:44] andriktr commented on #2118
Hi @anushkamittal20 actually there is no specific manifest needed as the only step needed to trigger mutation policy is to create a namespace using specific service account "ns-service" which is placed in a namespace called "ns-service".
So the whole scenario is:
* ns-service account which is sitting in the ns-service namespace creates a new namespace
* Then according the mutation policy "if-balti

[2021-09-28 18:42] realshuting opened #2449 "CLI - variable `length(@)` in the value file"
See the conversation in https://github.com/kyverno/policies/issues/136.

I don't think we want to specify `skip` for those three rules, it does not validate policies in this case. We still need to figure out how to define a var with `length(@)` or other JMESPath operations. @NoSkillGirl

_Originally posted by @realshuting in https://github.com/kyverno/policies/issues/136#issuecomment-929524682_

[2021-09-28 19:19] #1953 closed

[2021-09-28 21:13] chipzoller commented on #2449
Agree, it shouldn't skip. Also agree the CLI needs to be able to tap into the same JMESPath library as the one the webhook is using. If it isn't fully working, the return probably should be something other than `pass`, `skip`, or even `fail`. My two cents.

[2021-09-29 00:09] dkulchinsky commented on #2359
I wonder if anyone had a chance to take a look at this? we keep hitting this issue and not sure why.

The nodes get mutated (taints added), but why do we keep seeing the same message about the same nodes appear over and over even after the mutation was done.

/cc @realshuting

[2021-09-29 00:46] realshuting commented on #1745
Adding a mutate use case from Kyverno Slack https://kubernetes.slack.com/archives/CLGR9BJU9/p1632827247033200:
[code]
Looks like we cannot patch names for `configMapKeyRef` and `SecretkeyRef` at the same time.

[2021-09-29 01:48] realshuting commented on #2359
Hi @dkulchinsky - I've added this issue to 1.6 to track. Will look into it once we published 1.5.0.

[2021-09-29 04:34] tuananh commented on #2269
I'm seeing a bunch of errors below and then the pod just crash

[code]

i'm using argocd and helm to manage kyverno.

[2021-09-29 08:47] #2300 closed

[2021-09-29 08:48] andriktr commented on #2118
@anushkamittal20 thanks, really waiting for this to be figured out.

[2021-09-29 09:05] MattSWakefield opened #2453 "[BUG] Install stops users logging in to Openshift console"
**Software Versions**
* Kubernetes version: v1.20 (Openshift 4.7)
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Openshift
* Kyverno version: 1.4.3

**Describe the bug**
When installing Kyverno on to our cluster we lose the ability to login to the cluster and get directed to url:

https://<cluster_url>/error?error=invalid_code&error_type=auth

It then drops you back to the initia

[2021-09-29 11:32] #2406 closed

[2021-09-29 12:47] dkulchinsky commented on #2359
Thank you @realshuting! let me know if there's any way we can help.

[2021-09-29 13:03] dkulchinsky opened #2454 "[BUG] Non resolvable built-in images variables return `null` instead of an empty string"
**Software version numbers**

* Kubernetes version: v1.20.9-gke.1001
* Kubernetes platform: GKE
* Kyverno version: v1.4.3

**Describe the bug**
When using a built-in `images` variable that is non-resolvable, `null` is returned instead of an empty string, resulting in the following log message:
[code]

This happens for example when an admission request for a resource without initContainers is recei

[2021-09-29 14:21] Monska85 commented on #1745
To be more precise the `secretKeyRef` is correctly replaced and the `configMapKeyRef` is replaced only if the replacement does not contain the special value `{{@}}`. At the same time, if I add another rule to change simply a value, I have the same behaviour of the `configMapKeyRef`: the value is replaced only if does not contains the special value `{{@}}`.

The example below does not work
[code]

[2021-09-29 15:33] ShubhamPalriwala commented on #2432
I discussed in the Artifact slack channel with Sergio and they use Trivy under the hood.

This has been previously discussed in #1557

Trivy has now added the ability to **scan images too with a scratch image**!
I tried it here as attached below:
![image](https://user-images.githubusercontent.com/55556994/135300234-a7f6ac80-fff0-4c1a-bc99-b8a66b858857.png)

To verify if it's actually scanning it x

[2021-09-29 15:36] ShubhamPalriwala commented on #1557
Trivy scans scratch images too now 😄
Added my views and ideas on this here at #2432

[2021-09-29 16:52] ojhaarjun1 commented on #2256
@dkulchinsky - Did you have a policy supplied?

[2021-09-29 17:25] dkulchinsky commented on #2256
not sure I understand, do you mean if there were policies installed? then yes

[2021-09-30 04:33] tuananh commented on #2269
For my case, it's because kyverno is doing autogen and change the cluster policy manifest. argocd saw that and keep correcting the changes hence the error above.

what i do is that in argocd i will add a comparison option to ignore certain jqpath that name start with `autogen-*`

[2021-09-30 04:47] realshuting opened #2457 "[Bug] @ is not handled properly in the mutate policy"
To be more precise the `secretKeyRef` is correctly replaced and the `configMapKeyRef` is replaced only if the replacement does not contain the special value `{{@}}`. At the same time, if I add another rule to change simply a value, I have the same behaviour of the `configMapKeyRef`: the value is replaced only if does not contain the special value `{{@}}`.

The example below does not work
[code]

I

[2021-09-30 04:48] realshuting commented on #1745
Ok, so it has nothing to do with list operations, logged https://github.com/kyverno/kyverno/issues/2457 to track.

[2021-09-30 09:19] LuChenjing opened #2459 "restrict-node-label-creation policy not work"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.18.5
* Kyverno version: v1.4.3

**Describe the bug**
restrict-node-label-creation node work

**To Reproduce**
Steps to reproduce the behavior:
restrict-node-label-rule.yaml
[code]
removed the Node filter of kyverno deployment already.
![image](https://user-images.githubusercontent.

[2021-09-30 09:44] LuChenjing commented on #2459
Related to this example [https://github.com/kyverno/policies/pull/77/commits/bfb700d4df6961bb4d9e1069e877cc4855298e29](url)

[2021-09-30 16:03] dkulchinsky opened #2460 "[BUG] wildcards are rejected in match/exclude resources selector matchLabels"
**Software version numbers**

* Kubernetes version: 1.20.9
* Kubernetes platform: GKE
* Kyverno version: 1.4.3

**Describe the bug**
When using wildcards in match/exclude resources selector matchLabels (key or value), the policy is rejected and an error is returned:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to apply the following policy:
[code]
2. Policy fails validation

**

[2021-09-30 17:21] anushkamittal20 commented on #2118
Hey @andriktr can you try applying the policy by removing the preconditions and tell me if it works. Thank you.|
[code]
something like this maybe.

[2021-09-30 17:53] andriktr commented on #2118
Hi @anushkamittal20,
I probably could try... but,
The main idea for policy was that only namespaces created by specific sa from specific ns will have this label assigned and this really make sense.
Also it worth to mention that even  my initial policy with pre-conditions works fine, but for some reason this happens not always when it should.

[2021-09-30 19:15] NoSkillGirl commented on #2155
@chipzoller I have debugged this issue. I figured out the issue is with the apiVersion.

[code]

Also small changes in the ClusterRole `kyverno:generatecontroller`

[code]

[2021-09-30 19:15] #2155 closed

[2021-09-30 19:19] chipzoller commented on #2155
Is there an enhancement we can provide in here so stating the apiVersion isn't necessary? It seems like Kyverno policies should be first-class citizens when it comes to Kyverno's own generate ability.

[2021-10-01 06:00] DarthBenro008 commented on #2426
I'd suggest to create a script (let's call it `chart-values-generator.sh` for now) which takes in x number of parameters via flags and generates the file `charts/kyverno/values.yaml` instead of using plain `sed` and `awk` commands.

The usage of this script would be
[code]
This would generate the `charts/kyverno/values.yaml` file with the required values that we can use.
This would allow better co

[2021-10-01 09:24] vyankyGH opened #2461 "Support Lower case kind in match resource block in cluster Policy."
Policy with lowercase match resource kind should installed.

[code]
related issue : https://github.com/kyverno/kyverno/issues/2389

[2021-10-01 09:34] vyankyGH commented on #2389
In release in 1.5.0, Kinds with lowercase like pod, configmap,  are not supported in the policy match resource  and added the validation check for it.
Created issue to support lower case kinds in policy.
https://github.com/kyverno/kyverno/issues/2461

[2021-10-01 18:35] realshuting commented on #2426
Thanks @DarthBenro008! This approach seems promising.

And yes, we can add it to `scripts folder.

[2021-10-01 18:39] #2095 closed

[2021-10-01 18:39] #2226 closed

[2021-10-01 20:33] chipzoller commented on #2459
@LuChenjing Note the message:

`Due to Kubernetes CVE-2021-25735, this policy
      requires, at minimum, one of the following versions of Kubernetes:
      v1.18.18, v1.19.10, v1.20.6, or v1.21.0.`

You need to update your Kubernetes version.

[2021-10-03 23:24] JimBugwadia opened #2464 "[BUG] fix auto-gen for validate.foreach"
auto-gen does not work for `validate.foreach` rules. The rule data needs to be copied in  `policymutation.generateRuleForControllers`.

[2021-10-03 23:25] JimBugwadia opened #2465 "[BUG] run code-generator for 1.5 schema changes"
Once the foreach PR is merged, we need to run the K8s code-generator in the `kyverno/kyverno` repo.

[2021-10-04 03:32] anushkamittal20 commented on #1991
I will be working on this issue to change all the flag names to camelCase.
I did see some discussion on metrics-port "Kubernetes does not allow camel case for port names.".
Should I keep metrics-port as is and change others to camelCase or all the hyphenated styles.

Thank you.

[2021-10-04 15:27] superadri opened #2468 "New Feature allowedHostPaths"
**Is your feature request related to a problem? Please describe.**
I'm trying to get a kyvern policy to control the hostpaths for a given pod or namespace.

**Describe the solution you'd like**
For example, a pod in a namespace can only mount certain hostpaths. Or given a pod with the name YY, it can only mount a few hostpaths

**Describe alternatives you've considered**
None

**Additional context

[2021-10-04 19:00] #2386 closed

[2021-10-04 19:00] #2389 closed

[2021-10-04 19:03] realshuting commented on #1883
@NoSkillGirl - this should be fixed in your PR right?

[2021-10-04 20:35] dkulchinsky commented on #2229
Hey @NoSkillGirl I saw you mentioned this issue in https://github.com/kyverno/kyverno/pull/2429, was the functionality requested here implemented in that PR?

[2021-10-05 06:04] realshuting opened #2469 "[BUG] Create GenerateRequest in the validating webhook"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.0-rc1

**Describe the bug**
Currently the creation of a GR is handled in `resourceMutation` via mutating webhook, while the update of a GR for the DELETE admission requests are handled in `reso

[2021-10-05 07:15] #1981 closed

[2021-10-05 07:15] #2321 closed

[2021-10-05 07:15] #2424 closed

[2021-10-05 07:15] #893 closed

[2021-10-05 07:15] #1995 closed

[2021-10-05 07:48] NoSkillGirl opened #2470 "[BUG] Kyverno CLI | results are not as expected for `apply` command"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.4.3

**Describe the bug**
For auto-gen policies and mutate policies the result is not as expected.

**To Reproduce**

**auto-gen:**
policy.yaml:
[code]

On applying the above policy on the following

[2021-10-05 10:31] NoSkillGirl commented on #1883
Yes, this should be fixed.

[2021-10-05 10:31] #1883 closed

[2021-10-05 12:54] chipzoller commented on #2459
Closing until further notice.

[2021-10-05 12:54] #2459 closed

[2021-10-05 13:10] chipzoller opened #2473 "[BUG] Kyverno panics when preconditions object has field misspelled"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.3

**Describe the bug**
Creating a policy which has a misspelling in one of the preconditions causes Kyverno to either panic and allow an invalid policy to be created, or silently accept t

[2021-10-05 15:57] #1821 closed

[2021-10-05 17:06] NoSkillGirl commented on #2155
@chipzoller - For generating a custom resource we need the api version.

[2021-10-05 19:28] treydock opened #2474 "[BUG] Kyverno panics when upgrade is running"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Bare-Metal on Linux
* Kyverno version: 1.4.2 to 1.4.3

**Describe the bug**
I pushed out Kyverno 1.4.3 via Helm chart 2.0.3 to upgrade Kyverno 1.4.2 and Helm chart 2.0.2 and noticed that the 2 HA pods that have be

[2021-10-05 19:32] treydock commented on #2474
Also appears like the pod in HA pair that was deployed with 1.4.3 is also crashing.  I haven't managed to capture dump of logs from crashed pod, keeps restarting.  So I have this right now:

[code]

The 3rd pod is first 1.4.3 pod and 2nd one is also 1.4.3 and one stuck in CrashLoopBackOff is old 1.4.2 pod.

[2021-10-05 19:41] treydock commented on #2474
So Kyverno upgrade never worked, I eventually had to do `kubectl delete pod` on old 1.4.2 deployment and then had to reduce Kyverno to 1 replica then bump back up to 2 replicas.  Now the 2nd replica is taking a very long time to start. I am still seeing these log entries for kyverno-pre:

[code]

So far seems like about 1500 PolicyReport log lines from kyverno-pre init container.  What I don't get

[2021-10-05 19:50] treydock commented on #2474
Just to add one more data point, the init container took approximately 5 minutes to complete due to having to iterate over what appears to be 1500 PolicyReport resources, most of which don't exist.

[2021-10-05 19:55] treydock commented on #2474
I think I see what's happening:

[code]

Looking at code for init container, it just iterates over each namespace and attempts to delete 3 resources.  Not sure how to improve this process, maybe use a go routine per namespace rather than per report name?

The upgrade process still seems very broken in face of this long list of namespaces.  I have a small test and dev environments with far fewer na

[2021-10-05 20:08] realshuting opened #2475 "Drop `v1alpha1` PolicyReport CRD"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
PolicyReport `v1alpha2` was added in 1.4.3, we can drop `v1alpha1` in 1.6.0.

[2021-10-05 20:20] treydock commented on #2474
Opened #2476 that just does the init improvement to make namespace walking faster but not sure that will solve the panic from original description.

[2021-10-05 20:23] treydock commented on #2474
Ah ok, I'll close #2476

[2021-10-05 20:25] treydock commented on #2474
Would it be possible to get this into 1.5.0 or is that release reaching feature lock? The upgrade to 1.5.0 will likely be incredibly painful if it's anything like going from 1.4.2 to 1.4.3 in terms of issues with init container and whatever issues that may have caused.

[2021-10-05 20:27] realshuting commented on #2474
Can you please help verify if this works?

The code freeze is scheduled tomorrow so we can still merge the fix in If that works.

[2021-10-05 21:00] realshuting commented on #2474
You need to create a Kyverno client in order to use that, for example:
https://github.com/kyverno/kyverno/blob/ca62172b6faef5c9cad443f00695e1b1a282d39c/pkg/policy/report.go#L85

[2021-10-05 21:33] treydock commented on #2474
Opened #2477 that I hope solves the slowness with init container but not 100% certain it will solve the upgrade troubles I had. Maybe having faster init container operation will solve the issue. I am trying to reproduce the issue with Kind.

[2021-10-05 21:46] #1557 closed

[2021-10-05 21:47] realshuting commented on #2432
Closed via #2472.

[2021-10-05 21:47] #2432 closed

[2021-10-05 21:49] #2175 closed

[2021-10-05 23:57] #2465 closed

[2021-10-06 04:57] realshuting commented on #2474
This is because we need to recover from outdated reports on the restart. For example, there could be stale reports left in the cluster while Kyverno isn't running, we need to generate new reports from scratch in this case. We've considered removing invalid results rather than re-creating new reports, but there's no way to know if the resource is deleted (through the admission webhook, if Kyverno i

[2021-10-06 05:20] NoSkillGirl commented on #1883
here - https://github.com/kyverno/kyverno/pull/2455

[2021-10-06 05:39] realshuting opened #2481 "Add the Fluxcd chainsaw test"
**Is your feature request related to a problem? Please describe.**

We need to coordinate with the latest Fluxcd policy changes https://github.com/fluxcd/flux2-multi-tenancy/pull/42#pullrequestreview-771086334 and update e2e test `Test_Validate_Flux_Sets`.

[2021-10-06 17:32] JimBugwadia opened #2486 "Cosign attestations"
**Is your feature request related to a problem? Please describe.**

Add support for Cosign / in-toto attestations

[2021-10-06 17:32] #1991 closed

[2021-10-06 23:00] vyankyGH opened #2491 "Code Improvement in Auto- gen rule for any/all match exclude blocks"
Related PR: https://github.com/kyverno/kyverno/pull/2471
Files : https://github.com/kyverno/kyverno/tree/main/pkg/policymutation

[2021-10-06 23:12] #1965 closed

[2021-10-06 23:18] #2333 closed

[2021-10-07 07:35] #2486 closed, assigned to nobody

[2021-10-07 10:40] vyankyGH opened #2495 "[BUG] Add Autogen fix auto-gen for mutate.foreach"
Related :  https://github.com/kyverno/kyverno/pull/2493

[2021-10-07 15:16] Izvi-digibank opened #2497 "[BUG] Kyverno pod stuck in CrashLoops and won't come up"
State the version numbers of applications involved in the bug:
**Kyverno v1.4.1, v1.4.2, v1.4.3**

* Kubernetes version: _**K8S v1.20 v1.21**_
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): _**EKS**_
* Kyverno version: _**Kyverno v1.4.1, v1.4.2, v1.4.3**_

**Describe the bug**
When Installing Kyverno (helm chart), Kyverno Pod is stack on "Back-off restarting failed container".
No

[2021-10-07 15:39] #2495 closed, assigned to vyankyGH

[2021-10-07 16:42] chipzoller opened #2498 "Generate rules triggering on the `UPDATE` op should disregard updates from Kyverno"
**Is your feature request related to a problem? Please describe.**
A generate rule that triggers on an `UPDATE` operation may get falsely triggered when Kyverno itself updates the source resource (either a label or annotation update). This may cause unintended generate behavior.

**Describe the solution you'd like**
Generate rules which trigger on `UPDATE` should disregard any updates originating

[2021-10-07 16:57] viveksahu26 commented on #1994
And also now cli support test command for mutate policy.
https://github.com/kyverno/kyverno/issues/1821

[2021-10-07 17:31] ojhaarjun1 opened #2500 "[JMESPath] Drop units from arithmetic function inputs"
**Is your feature request related to a problem? Please describe.**
The current JMESPath arithmetic functions don't work with units in the input. This can lead to queries being very large in practice.

**Describe the solution you'd like**
Intelligently handle units in function inputs

**Example**
Policy
[code]

Pod
[code]

**Expected Behaviour**
The memory of the pod is set to `(64/2)Mi` = `32Mi`

[2021-10-07 22:28] realshuting commented on #1745
Can we close this @JimBugwadia ?

[2021-10-08 00:55] #1745 closed

[2021-10-08 17:13] abhishekghiya opened #2503 "Kyverno Certificate Auto Renewal"
Hi Team,

We have observed that as per Kyverno Doc, the certificate validity is mentioned as 10 years. But, looks like validity of certificate is 1 Year as below. Can you please confirm on the same

![image](https://user-images.githubusercontent.com/76930832/137856184-a293e7b1-493f-492d-8968-8d03e32c8b2e.png)

Also, as per code looks like certificate is getting renewed after 6 months, we believe i

[2021-10-08 17:58] patelrit opened #2504 "Signatures & sbom for Kyverno image should be stored in a different repository"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Storing signatures & sbom for Kyverno image in the same repository as the image skews the image download metrics which is a key metric that is tracked.

**Describe the solution you'd like**
Signatures & sbom for Kyverno image should be stor

[2021-10-08 18:29] JimBugwadia opened #2505 "Change `validate.foreach` and `mutate.foreach` to lists"
**Is your feature request related to a problem? Please describe.**

1.5.0-rc1 has added `validate.foreach` and `mutate.foreach`. For example here is a policy to validate the image registry:

[code]

However, its not possible to validate the initContainers in the same rule.

**Describe the solution you'd like**

Support a list of `foreach` elements:

[code]

The `mutate.foreach` should also be a li

[2021-10-08 20:58] realshuting opened #2506 "[BUG] incorrect auto-gen rules for `foreach` policies"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.0-rc1

**Describe the bug**
For this `foreach` policy:
[code]

The valid auto-gen rule should look like this:
[code]
While Kyverno generates:
[code]

[2021-10-09 01:24] LuChenjing commented on #2459
@chipzoller  Thanks, will try to upgrade it first.

[2021-10-09 06:40] tomsunyu opened #2508 "Can not delete resource"
my clusterpolicy:
[code]
my namespace yaml:
[code]

**Issue**: When I apply one kyverno cluster policy, and I apply my namespace yaml, the action is successful. But when I delete namespace test, I see an error:
[code]
Then I get the test namespace yaml:
[code]
So how to solve the problem?

[2021-10-09 10:28] Vivek-Prajapatii commented on #454
hey can you assign me this issue
and pls explain me about the issue as im new to this project

[2021-10-09 20:21] realshuting commented on #454
@Vivek-Prajapatii - thanks for the interest!

Since we supported mutate and validate policies in the `test` CLI, and will be supporting generate policies, I'm not sure if we still need to use the testrunner or move everything to CLI tests. @JimBugwadia - any thoughts?

[2021-10-09 20:24] realshuting commented on #2508
@tomsunyu - you can add a precondition to filter out DELETE request, https://kyverno.io/docs/writing-policies/variables/#variables-from-admission-review-requests.

[2021-10-09 20:31] #2506 closed, assigned to realshuting

[2021-10-09 22:16] JimBugwadia opened #2510 "[BUG] allow `element` variable introduce for `foreach` without requiring `background: true`"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.0-rc1

**Describe the bug**

See: https://github.com/kyverno/kyverno/pull/2507#issuecomment-939358800

`element` should be an allowed variable, like `request.object`.

It also needs to be handled properly in the CLI for apply and test commands.

[2021-10-10 05:45] ojhaarjun1 commented on #2500
Hi @JimBugwadia, thanks for pointing that out. I've updated the comment.

[2021-10-10 09:58] Izvi-digibank commented on #2497
@realshuting Thanks for replying.
You mean Firewall between which components? Who speaks with who that may get blocked by firewall?
Kyverno in installed inside the cluster and doesn't get calls from outside.
Am I missing something here?

[2021-10-10 21:05] JimBugwadia commented on #2504
@ShubhamPalriwala - any thoughts on this?

[2021-10-10 23:38] ShubhamPalriwala commented on #2504
@patelrit @JimBugwadia This makes sense! I just had a look and this majorly affects our analysis of the actual numbers!

Regarding signatures, I'm still confused as to where can we store them all?
Regarding SBOM, we can upload it as an artifact too during a release instead of a release in a package to avoid any further skewing.

[2021-10-11 00:25] JimBugwadia commented on #2504
@ShubhamPalriwala - Cosign allows specifying a separate signature repo. Not sure if that also works for SBOMs. See:

https://github.com/sigstore/cosign#specifying-registry

Can you please try this out and post an update?

[2021-10-11 10:55] NoSkillGirl commented on #2208
related PR - https://github.com/kyverno/kyverno/pull/2512

[2021-10-11 11:37] NoSkillGirl commented on #2208
@realshuting - Even after adding the delay in e2e test cases, `Test_Generate_Policy_Deletion_for_Clone` test is failing.

I am trying to debug the issue. Will update if I find anything.

[2021-10-11 12:09] NoSkillGirl commented on #2208
@realshuting - Just checked with @vyankyGH. After the code is rebased and pushed, all the e2e test cases passes.

[2021-10-11 12:39] hightoxicity opened #2513 "Way to escape braces"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to implement secret mirroring reading annotations with multi value seperated by comma target namespaces list.
To get this level of automation, I generate ClusterPolicy as generated resource in my ClusterPolicy but now I need to reference the namespace through variable of child ClusterPolicy, not main, but I do

[2021-10-12 05:01] JimBugwadia commented on #2510
Hi @NoSkillGirl - lets separate the issues, so we can make progress on each.

The issue you are seeing above in the mutate policy seems to be related to auto-gen with `foreach`. It looks like we are not updating the `spec.containers` under `foreach.patchStrategicMerge` to `spec.template.spec.containers` which causes the error. Can you please log a separate issue for this in 1.5.0?

For your test,

[2021-10-12 07:01] NoSkillGirl opened #2521 "`foreach` with mutate policy does not work as expected with multiple elements in the list"
I have tried the above example by disabling auto-gen, still I see the same results.

policy.yaml:
[code]
resource1.yaml
[code]
Result:
[code]

resource2.yaml:
[code]
Result:
[code]

_Originally posted by @NoSkillGirl in https://github.com/kyverno/kyverno/issues/2510#issuecomment-940721336_

[2021-10-12 07:15] ojhaarjun1 commented on #2510
I tried reproducing Vyankatesh's error and got the same. Here's the manifests we used:
**Policy**
[code]
**Resource**
[code]

However, with a single container deployment, there was no error:
[code]

[2021-10-12 07:44] vyankyGH commented on #2510
I have fix Autogen issue with list feature,

Policy.yaml

[code]

Autogen rules for policy:

[code]

[2021-10-12 11:08] Izvi-digibank commented on #2497
Help anyone? @realshuting  @JimBugwadia

[2021-10-12 11:27] luigizhou opened #2524 "[BUG] Huge memory usage when running Kyverno on a big cluster"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.9
* Kyverno version: 1.5.0-rc.1

**Describe the bug**
I'm hitting huge memory usage when spinning up kyverno in a cluster that has a lot of resource definitions.
Cluster has around 70 beefy nodes, with 10k configmap, 400 namespaces, 1.5k deployments,4k pods, 15k replicaset

Kyver

[2021-10-12 13:27] MarcelMue opened #2525 "[BUG] Policy validation fails if builtin JMESpath function is used"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: any
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): any
* Kyverno version: 1.4.3 and up

**Describe the bug**
Currently there is a whitelist of allowed functions which only includes `divide`. This means that any other function causes validation of the policy to fail.

[2021-10-12 15:25] MarcelMue commented on #2525
This should be fixed now with #2526

[2021-10-12 15:25] #2525 closed, assigned to MarcelMue

[2021-10-12 15:38] luigizhou commented on #2524
A couple of things I tried to reduce the memory usage:
- I've set GOGC=25 to make garbage collection more aggressive.

It sadly did not help a lot as I could still see a huge memory usage
- Disabled liveness and readiness probe

Surprisingly removing the liveness and readiness probe reduced the usage which went from 25-40gb to a stable 4gb of memory usage (which is more manageable but still not id

[2021-10-12 16:42] NoSkillGirl commented on #2395
@kempy007 - Please test the above scenario with the Kyverno latest main branch.
I have tried the above policy and I see the following error message on applying the above policy:
[code]

[2021-10-12 16:47] chipzoller opened #2527 "[BUG] YAML manifest install for 1.4.3 fails"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.3

**Describe the bug**
Installing from the YAML manifest https://github.com/kyverno/kyverno/blob/v1.4.3/definitions/release/install.yaml produces an error:

`error converting YAML to JSON

[2021-10-12 18:15] NoSkillGirl commented on #2449
@realshuting - I have tested the flow for `length(@)`, it is working as expected in cli.

policy.yaml:
[code]

resource1.yaml:
[code]
Result:
[code]
As the precondition is not satisfied by the resource the result is skip.

resource2.yaml:
[code]
Result:
[code]

[2021-10-12 19:46] chipzoller commented on #2313
This is a great improvement, @NoSkillGirl, but there is some polishing needed both in language and examples. Let me respond a bit later with some suggestions.

[2021-10-13 01:08] JimBugwadia commented on #2504
Hi @ShubhamPalriwala - this is great! Nice work!

My one suggestion would be to name the repository `signatures` so its `ghcr.io/kyverno/signatures`. We can put the SBOM in the same repo, or create another repo `ghcr.io/kyverno/sbom`.

Let me know and I can create the repos for you in the Kyverno org. Thanks!

[2021-10-13 05:09] ShubhamPalriwala commented on #2504
Thank you!
This sounds like a cleaner approach! Please create 2 repos as mentioned i.e. `ghcr.io/kyverno/signatures` and `ghcr.io/kyverno/sbom`!
I'll start working on the PR now!

[2021-10-13 09:55] Izvi-digibank opened #2529 "[BUG]Cluster \ namespace policies will turn Kyverno Pod to crashLoop"
**Software version numbers**
**_Kyverno v1.4.1 v1.4.2 v1.4.3_**

* Kubernetes version: **_1.21_**
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): **_EKS 1.21_**
* Kyverno version: **_v1.4.1 v1.4.2 v1.4.3_**

**Describe the bug**
Installing Kyverno helm chart. If I take out the policies (charts -> kyverno -> policies) Kyverno Pod looks okay.
The moment I add any kind of policy, Kyv

[2021-10-13 14:35] AverageMarcus opened #2533 "Implement a `base64decode` custom JMESPath function"
**Is your feature request related to a problem? Please describe.**

We have a scenario where we'd like to be able to set a default property value on a resource based on a value stored within a Secret. We're currently able to get the secret data via the `apiCall` functionality but have no way of making use of it as it is returned as a base64 encoded string.

**Describe the solution you'd like**

A

[2021-10-13 14:48] johnr84 opened #2534 "[BUG]Policy Report is not updated when resource is deleted"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Self managed Kubeadm cluster
* Kyverno version: 1.4.3

**Describe the bug**
I created a test deployment in a test namespace which created a polr in the NS. When i delete that deployment info related to that deploy

[2021-10-13 18:30] NoSkillGirl commented on #2510
With [this](https://github.com/kyverno/kyverno/pull/2535) PR, the mutate policy works on multiple container when we use `element.name` variable

policy:
[code]

Resource:
[code]

Result:
[code]

[2021-10-13 20:07] #2521 closed

[2021-10-14 00:13] realshuting commented on #2534
Hi @johnr84 - can you attach the policy and the resource to reproduce?

[2021-10-14 07:20] #2505 closed, assigned to vyankyGH

[2021-10-14 10:22] luigizhou opened #2544 "[BUG/REGRESSION] Validation policies are being applied on resource deletion on 1.5.0-rc.1"
**Software version numbers**

* Kubernetes version: 1.20.11
* Kyverno version: 1.5.0-rc.1

**Describe the bug**
Validation policies are being applied on resource deletion

**To Reproduce**
Steps to reproduce the behavior:
1- Install Kyverno 1.5.0-rc1
2- Install the following policy
[code]
3- Apply the following pod definition
[code]
4- Try to delete the pod
[code]

**Expected behavior**
Pod should

[2021-10-14 17:14] #2510 closed, assigned to kumar-mallikarjuna

[2021-10-14 22:52] realshuting commented on #2544
Yes, audit will allow the request to pass. This behavior should be consistent in all versions, was this something different in 1.4.3?

[2021-10-14 23:00] luigizhou commented on #2544
In 1.4.3 everything's work as intended 👍
The issue is how the behavior changes in 1.5.0-rc.1 where I'm not allowed to delete a pod that was previously admitted by the same policy

[2021-10-15 06:06] AverageMarcus commented on #2533
Implemented in #2542

[2021-10-15 06:06] #2533 closed

[2021-10-15 07:24] LuChenjing commented on #2459
@chipzoller  Hi， I upgraded my apiservers, but still not able to trigger the restrict.

Step1: I  upgraded the K8S apiserver to 1.18.20
![image](https://user-images.githubusercontent.com/42744697/137447758-3515aa60-9485-4200-9de2-4021ea87bba1.png)

Step2: Applied the clusterpolicy
![image](https://user-images.githubusercontent.com/42744697/137447988-7c7ad284-806d-4336-965d-e085cd4a23cb.png)

 Step

[2021-10-15 07:53] LuChenjing commented on #2459
And issue 2:
Created a disallow default namespace policy..
![image](https://user-images.githubusercontent.com/42744697/137451913-7ac097b6-47ef-468e-9966-0a94d355057d.png)

Hava a test:
![image](https://user-images.githubusercontent.com/42744697/137451852-b7773cb9-ebf5-4f2a-a472-2b150275afe1.png)

Pod created with error log of kyverno pod, but no disallow actions happen..
![image](https://user-imag

[2021-10-15 14:09] #2504 closed

[2021-10-15 19:30] dkulchinsky opened #2547 "[BUG] Kyverno fails to update a generate request and prints an error, succeeds updating later"
**Software version numbers**
* Kubernetes version: 1.20.9
* Kubernetes platform: GKE
* Kyverno version: 1.4.3

**Describe the bug**
When a generate policy is applied Kyverno updates the generate request resource and fails at first with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a generate policy
2. trigger the policy
3. See error in the log

**Expected

[2021-10-16 13:14] chipzoller commented on #2413
So did anyone check whether this escape mechanism works for the `{{ }}` notation as requested [here](https://github.com/kyverno/kyverno/issues/1833)?

[2021-10-17 05:22] JimBugwadia commented on #2513
The solution will need to handle nested variables e.g. `{{ some-value-{{ other value }} }}`. The current substitution will try to replace the inner variable first, and then the outer variable. If the outer variable is escaped, the solution will need to track this and not report a variable substitution error.

[2021-10-17 05:23] JimBugwadia commented on #2413
No, does not look like escaping variables `\{{ }}` is handled. There is an open issue for it: https://github.com/kyverno/kyverno/issues/2513.

[2021-10-17 09:19] Izvi-digibank commented on #2497
@JimBugwadia @chipzoller @realshuting
The ip address in the TLS error I posted is my internal api server address.
Hope this info will lead you to further advices, thanks again.

[2021-10-17 18:04] artem-nefedov opened #2549 "[BUG] Kyverno may silently fail to generate resource"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.4.3

**Describe the bug**

I'm using generate policy from the public library (sync secrets into namespaces). When I create a bunch of namespaces at the same time, Kyverno will sometimes randomly fail to copy secret into a particular namespace, and the c

[2021-10-17 19:13] hightoxicity commented on #2513
@MarcelMue Thx for your suggestion.

I tried:

`
apiVersion: v1
kind: ConfigMap
metadata:
  name: braces-dict
  namespace: default
data:
  in-braces: |-
    {
  out-braces: |-
    }
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: test-secret-mirroring
spec:
  background: false
  rules:
  - name: "test-secret-mirroring"
    context:
      - name: braces-dict
        configMap:

[2021-10-17 23:43] JimBugwadia opened #2550 "[BUG] update policy/v1beta1 PodDisruptionBudget to policy/v1 PodDisruptionBudget"
**Software version numbers**

* Kubernetes version: v1.21+
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.0-rc1

**Describe the bug**

kubectl create -f https://raw.githubusercontent.com/kyverno/kyverno/main/definitions/release/install.yaml

[code]

**To Reproduce**

Install Kyverno via YAMLs on a 1.21+ cluster

[2021-10-17 23:50] JimBugwadia commented on #2549
@artem-nefedov - do you see any Generate Requests with pending or failed status?

You can check via `kubectl get gr` and check the YAML of any failed or pending GRs for details:

[code]

[2021-10-18 01:31] JimBugwadia commented on #2508
The prior logic to process validate patterns was skipping the rule here:

https://github.com/kyverno/kyverno/blob/0660db94bd7761346fff54bcbc6d10c0aa79eaf5/pkg/engine/validation.go#L184

We need to add that back.

[2021-10-18 01:33] JimBugwadia commented on #2508
Also see: https://github.com/kyverno/kyverno/issues/2508

[2021-10-18 07:47] artem-nefedov commented on #2549
@JimBugwadia I've just added deployment of 50 namespaces into kustomization to get better reproduction of the issue. Out of 50, 13 did not receive the secret. I've checked GRs: all 13 of those have hanging GRs with no status (neither completed nor failed), and they hang indefinitely. Still no related controller logs.

Example:

[code]

[2021-10-18 08:02] JimBugwadia commented on #2549
@artem-nefedov - strange! Can you please set the log level to 5 and retry this test?

https://kyverno.io/docs/troubleshooting/

[2021-10-18 12:37] Subreptivus opened #2552 "[BUG] Foreach fails the whole policy if the list is not there"
**Software version numbers**

* Kubernetes version: v1.21.2
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): AKS
* Kyverno version: v1.5.0-rc2

**Describe the bug**
Trying to iterate over the non existent list with foreach leads to an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply Policy:
[code]
2. Apply Deployment:
[code]
4. See that Deployment is blocked due t

[2021-10-18 14:50] Izvi-digibank opened #2553 "[BUG]validationFailureAction set to enforce and creates a resource although policy violation detected."
**Software version numbers**
Kyverno 1.4.3

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKSV1.21
* Kyverno version: 1.4.3

**Describe the bug**
After configuring validationFailureAction to enforce, a policy violation is detected and resource is still being created.

**Expected behavior**
I expect the resource not to start when enforce is defined, as

[2021-10-18 16:34] #2544 closed, assigned to JimBugwadia

[2021-10-18 17:50] #2508 closed, assigned to JimBugwadia

[2021-10-19 08:57] nashtsai opened #2558 "Extend preconditions operations that support storage size comparision"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

We have needs to replace PVC's `.spec.resources.requests.storage` value is lower than certain value, in my case at least 20Gi on Alibaba Cloud ACK, however, a helm chart's default value without proper inspection m

[2021-10-19 15:42] JimBugwadia commented on #2198
@viveksahu26 - since `namespaceSelector` is handled via variables, is anything else required for this issue?

[2021-10-19 16:13] JimBugwadia commented on #2198
Ok, thanks @viveksahu26!

[2021-10-19 17:01] #2552 closed

[2021-10-20 00:02] JimBugwadia commented on #2307
I see your point, but am not sure we can make `list` optional in the `foreach` as it is used to build the element set to iterate over. We also need to support nested lists e.g. volumeMounts in a container.

One option is to make the `key` relative. Something like this:

[code]

Internally, Kyverno can create the full path for the key, and apply each patch.

As mentioned above, for a strategic merg

[2021-10-20 06:54] NoSkillGirl commented on #2395
@kempy007 - I tried reproducing the error. I see following error in Kyverno log:
[code]

But I don't see any `job` gets generated on applying an ingress resource.

[2021-10-20 08:37] nashtsai commented on #2558
Actually I would prefer string value units be handled implicitly, #2560 PR seems to handle it correctly without introduce new operators. This could hint that "Duration*" precondition operators be eliminated as well.

[2021-10-20 13:21] D0nw0r opened #2564 "Policy that reaches namespaces label through deployment"
Hello,

I am writing this to get some official assistance on a policy idea that my organization has been struggling with.
We have tried to replicate this concept with both OPA and Kyverno but to no success.

The issue is that we are trying to prevent certain Deployments to be created, if the corresponding Namespace does not have a label with an alarm group (for integration with AlertManager ex: al

[2021-10-20 14:46] Boojapho opened #2565 "[BUG] Upcoming 1.5.0-rc does not install CRDs properly in Helm"
**Software version numbers**
1.5.0-rc4

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3D
* Kyverno version: 1.5.0-rc4

**Describe the bug**
The current implementation of the crds.yaml file in the upcoming release does not follow [the Helm recommendation for installing CRDs](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#install

[2021-10-20 20:21] viveksahu26 commented on #2553
Hey @Izvi-digibank, if you wan to implement `auto-gen` feature.  Then refer to this [docs](https://kyverno.io/docs/writing-policies/autogen/).

[2021-10-20 22:14] Boojapho commented on #2565
I was always under the impression Helm would ignore the CRDs regardless of where they were applied.  I just tested out what you said and you are right.  That changes things.   Thanks for clarifying.

[2021-10-20 22:14] #2565 closed, assigned to realshuting

[2021-10-21 00:10] #2513 closed, assigned to kumar-mallikarjuna

[2021-10-21 00:53] realshuting commented on #2307
To me, the original proposal to support iterator is simpler and cleaner. It follows `patchesJson6902` syntax and all it needs is to replace the index with the iterator `*`. While the `foreach` solution introduces extra fields when writing the policy and the syntax is a bit different from JSON patch (which requires the full path in its key).

Do you see any limitations with the "iterator" solution?

[2021-10-21 09:38] atorrescogollo opened #2567 "Support for apiCall in tests"
**Is your feature request related to a problem? Please describe.**
I want to make an **unit test for a policy which needs to do an apiCall** to discover other objects. My use case is:

For that purpose, I wrote the following ClusterPolicy:
[code]

**Describe the solution you'd like**
I want to test this policy but, as I use an apiCall, I think it is not possible right now. I need to make a differe

[2021-10-21 10:33] #2553 closed, assigned to kumar-mallikarjuna

[2021-10-21 10:51] elvis-cai opened #2568 "[BUG] Kyverno auto remove hostAliases item"
**Software version numbers**
v1.4.3

* Kubernetes version: v1.20.9-gke.1001
* Kubernetes platform GKE
* Kyverno version:v1.4.3

**Describe the bug**
Kyverno auto merge Pod with `hostAliases` with two hostnames which contain same ip address.

**To Reproduce**
- create  deploymnet.yaml file
- create podantiaffinity.yaml
-  run `kyverno apply  podantiaffinity.yaml  --resource deployment.yaml `
[code]

[2021-10-21 15:47] kempy007 commented on #2395
Events look Ok
[code]

[2021-10-21 15:48] kempy007 commented on #2395
Controller Logs look ok
[code]

[2021-10-22 19:42] #2558 closed, assigned to nobody

[2021-10-22 19:58] dkulchinsky opened #2570 "Make generate policy easier to apply on existing resources"
**Software version numbers**

* Kubernetes version: 1.20.9 & 1.21.2
* Kubernetes platform: GKE
* Kyverno version: 1.4.3 & 1.5.0

**Describe the bug**

A generate policy matches `v1/ServiceAccount` kind and creates another resource, when the source resource is newly created (after the policy has been installed) everything works as expected: a generate request is created and the generated resource i

[2021-10-23 01:14] JimBugwadia opened #2571 "Support wildcards in list values"
**Is your feature request related to a problem? Please describe.**

See discussion on PSP conversion here:

https://twitter.com/uesyn/status/1451109685575127041

Here is a solution:

https://gist.github.com/JimBugwadia/4e7ff446af6a6469a06bfe1a00282879

However Kyverno currently does not support wildcards in list values to allow something like this:

[code]

**Describe the solution you'd like**

Su

[2021-10-23 20:52] viveksahu26 opened #2573 "[BUG] apply command shows unexpected behavior for global-anchor-variable"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.0
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Minikube
* Kyverno version: v1.5.0

**Describe the bug**
On applying `apply` command for a given policy on resource. The expected result to be `skip` instead of `pass`.
--> expected: `skip`
--> apply command gave

[2021-10-23 21:45] JimBugwadia opened #2575 "Improve project layout"
**Is your feature request related to a problem? Please describe.**

Follow [best practices for organizing Golang project resources](https://github.com/golang-standards/project-layout#go-directories).

As an example Kyverno has a fairly large `/pkg` folder with a lot of internal code, while according to the guidelines this should only contain library code exported for reuse by other applications.

[2021-10-23 23:06] JimBugwadia opened #2576 "improve Kyverno CLI structure"
**Is your feature request related to a problem? Please describe.**

The Kyverno CLI files should be reorganized for modularity, where each command should be in its own file or sub-dir. Other improvements would be to create structs for parameters.

**Describe the solution you'd like**

See https://github.com/sigstore/cosign/tree/main/cmd/cosign/cli/verify as an example.

[2021-10-23 23:19] JimBugwadia opened #2577 "Support extensions"
**Is your feature request related to a problem? Please describe.**

Extending Kyverno with new rule types, adding new rule sub-types (e.g. `validate.cuelang` to add a CUE adapter) requires detailed knowledge of the Kyverno project.

It would be nice to have a well defined SDK to allow such extensions to be easily prototyped without knowing the internals of Kyverno.

Note that the extensions may st

[2021-10-24 22:53] seh opened #2579 "[BUG] Manifests include an ineffectual PodDisruptionBudget for single Kyverno pod"
**Software version numbers**

* Kyverno version: 1.5.0

**Describe the bug**

[The published manifests](https://raw.githubusercontent.com/kyverno/kyverno/release-1.5/definitions/release/install.yaml) intended to facilitate installation of Kyverno use [a _Deployment_ with a replica count of one](https://github.com/kyverno/kyverno/blob/release-1.5/definitions/release/install.yaml#L7528-L7541), with

[2021-10-24 23:06] chipzoller opened #2580 "Sample policy for restricting hostPath volumes from specified host directories"
Write a sample policy which allows users to restrict the directories on a host which can be consumed in a `hostPath` volume.

[2021-10-25 00:05] chipzoller commented on #2564
@DcardosoJS here you go:

[code]

[2021-10-25 06:10] JimBugwadia opened #2582 "Add request type (operations) to match and exclude"
**Is your feature request related to a problem? Please describe.**

To filter request types, currently requires a precondition. This works, but is a bit verbose.

**Describe the solution you'd like**

Support request types in match and exclude to allow something like:

[code]

[2021-10-25 10:55] developer-guy opened #2583 "supporting verification of container images via cosign with multiple public keys"
**Is your feature request related to a problem? Please describe.**
This is not related to a problem, it is just a question.

**Describe the solution you'd like**

Hello, as you might know, we can sign our container images multiple times with different keys via cosign. I'm just wondering that the images within the policy below can be configurable to support that?

<details>

<summary> check_image_c

[2021-10-25 11:02] developer-guy opened #2584 "retrieving public keys for signing/verifying container images with other locations like KMS, URI, etc."
**Is your feature request related to a problem? Please describe.**
This is not related to a problem. It is a feature request.

**Describe the solution you'd like**
As you might know, cosign has different kinds of key management types, please [see](https://github.com/sigstore/cosign#key-management).

So, in `check_image` ClusterPolicy, we can add these types to retrieve the public key instead of ha

[2021-10-25 13:16] chipzoller opened #2585 "Sample policy for ensuring all hostPath volumes mount as readOnly"
[code]

[2021-10-25 14:26] developer-guy opened #2586 "validate SBOMs both SPDX and Cyclone DX formats"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem. It is more like a feature request.

**Describe the solution you'd like**
There is a concept called SBOM (Software Bill Of Materials), and there are various tooling around this[^1][^2][^3][^4] concept to generate it. There are several methods designed specifically for delivering SBOMs, including [SPDX

[2021-10-25 19:47] JimBugwadia opened #2587 "[BUG] variable substitution fails for image verification rules"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.0

**Describe the bug**

When trying to use keys from a configmap, this error is encountered:

[code]

[code]

**To Reproduce**

Use policy above with this CM:

[code]

**Expected behavior**

Variable substitution is supported for image verification ru

[2021-10-25 20:42] chipzoller opened #2588 "[BUG] Kyverno panics on interface conversion"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.0

**Describe the bug**
Kyverno panics with an interface conversion error.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply this WIP policy.

[code]
2. Create this sample reso

[2021-10-25 22:13] JimBugwadia opened #2590 "Add ephemeral containers to the images variable"
**Is your feature request related to a problem? Please describe.**

See:
- https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/
- https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#EphemeralContainer

**Describe the solution you'd like**

The [built-in images variable](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-image

[2021-10-25 22:16] JimBugwadia opened #2591 "Check both issuer and subject for keyless verification"
**Is your feature request related to a problem? Please describe.**

The current image verification rule requires a public key.

**Describe the solution you'd like**

This feature would enable support for [keyless verification](https://github.com/sigstore/cosign/blob/main/KEYLESS.md) via Cosign.

An open question is how the Fulcio root keys would be supplied.

[2021-10-25 23:59] #2580 closed, assigned to chipzoller

[2021-10-25 23:59] #2585 closed, assigned to chipzoller

[2021-10-26 00:02] JimBugwadia opened #2593 "Installation shows policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+"
**Software version numbers**

* Kubernetes version: 1.21+
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.4.x

**Describe the bug**

Installation shows:

Warning: policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisruptionBudget

**To Reproduce**

Install via YAML

**Expected behavior**

Update PodDisrupti

[2021-10-26 03:40] realshuting opened #2595 "[BUG] Update Kyverno base image to use GoLang 1.17.2 and above"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: NA
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): NA
* Kyverno version: all

**Describe the bug**
With this vulnerability issue https://nvd.nist.gov/vuln/detail/CVE-2021-29923, we need to upgrade Kyverno base image to use GoLang 1.17.2 and above.

[2021-10-26 04:09] JimBugwadia opened #2597 "[BUG] ConfigMap with multi-line PEM entries are translated to an array"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.4.2+

**Describe the bug**

Kyverno is unable to handle ConfigMaps with PEM entries in this manner:

[code]

Internally these are translated to an array, based on this feature: https://kyverno.io/docs/writing-policies/external-data-sources/#handling-conf

[2021-10-26 04:32] #2595 closed, assigned to realshuting

[2021-10-26 14:12] Itiho opened #2599 "[BUG] Kyverno events is warning type"
**Software version numbers**

* Kubernetes version: 1.18 and 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.5.1

**Describe the bug**
At all events of kubernetes resources I receive warnings even when the police has passed. In same event for 'PolicyViolation' I get 'failed' and 'passed'

**To Reproduce**
Steps to reproduce the behavior:
1. Install k

[2021-10-26 21:53] #2587 closed, assigned to JimBugwadia

[2021-10-27 00:38] #2564 closed, assigned to chipzoller, viveksahu26

[2021-10-27 00:57] #2597 closed, assigned to JimBugwadia

[2021-10-27 16:19] JimBugwadia opened #2606 "Add JMESPath function time_since for calculating the elapsed time from a timestamp of time value"
**Is your feature request related to a problem? Please describe.**

To compare time, Kyverno needs the ability to parse timestamps and calculate the time since (i.e. the duration from) a timestamp or unix time variable.

**Describe the solution you'd like**

Add a JMESPath custom function `time_since`. The function should take as arguments:
- a layout / format
- a timestamp string

The function sh

[2021-10-27 18:44] dkulchinsky opened #2608 "[BUG] namespaceSelector is ignored in the exclude block"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.9
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: 1.5.0

**Describe the bug**
We added a `namespaceSelector` to the `exclude` block of `mutate` and `generate` rules (in the same policy) to exclude resources in namespaces that have a specifi

[2021-10-27 20:01] dkulchinsky opened #2609 "[BUG] Mutation fails, attempts to validate resources against the wrong Group/Version/Kind"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.9
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: 1.5.0

**Describe the bug**

We deploy [crossplane.io](https://crossplane.io/) in our clusters and it has a `ServiceAccount` CRD (in a different Group - `iam.gcp.crossplane.io/v1alpha1`):
[c

[2021-10-28 03:32] #2568 closed, assigned to kumar-mallikarjuna

[2021-10-28 05:59] #2534 closed, assigned to realshuting

[2021-10-28 06:06] lshmouse opened #2611 "[BUG] add_ns_quota policy failed to be applied for there are two resources named ResourceQuota with different APIVersions"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): self-built
* Kyverno version: 1.5.1

**Describe the bug**

When appling the add_ns_quota policy to cluster, we encountered following errors:
[code]
The reason is that there are two resources named ResourceQuota wi

[2021-10-28 08:10] lshmouse opened #2613 "[BUG] kyverno-pre panic when checking kubernetes version"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.3-mi-v1.21.3-dev
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): selft-build
* Kyverno version: 1.5.1

**Describe the bug**
A clear and concise description of what the bug is.

When deploying kyverno in a self-buildt k8s cluster, kyverno-pre panic with the follo

[2021-10-28 12:04] ShubhamPalriwala opened #2617 "Improve Scorecard Score for Kyverno"
**Is your feature request related to a problem? Please describe.**
Improve the aggregate [OSSF/Scorecard](https://github.com/ossf/scorecard) score received for Kyverno
Currently, the score we received was **8.8/10**.

**Describe the solution you'd like**
Work on each area to analyze where the score is dropped and how we can improve upon it!

- [x] Binary Artifacts
- [x] Branch Protection
- [x] CI

[2021-10-28 12:25] ojhaarjun1 opened #2618 "[BUG] JMESPath functions not working with CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kyverno version: 1.5.0

**Describe the bug**
JMESPath functions not working with CLI.

**To Reproduce**

Policy
[code]

Resource
[code]

Apply with CLI
[code]
**Expected behavior**
CLI recognizes and performs JMESPath operations

cc - @NoSkillGirl

[2021-10-28 16:00] JimBugwadia opened #2623 "[BUG] Kyverno policies block uninstall of Kyverno"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.0

**Describe the bug**

Install Kyverno and some pod policies (I used the YAML files to install.) Then install some pod policies. Then try to uninstall. The Kyverno namespace will be stuck in terminating, as will the pod in the namespace.

To workarou

[2021-10-28 16:29] chipzoller opened #2624 "Update contributors and readme with milestone process"
Per the 10/28/21 Contributor's meeting, update the contributors.md and readme.md with the process being followed for setting milestones for PRs and how they relate to PRs/issues on kyverno/website.

[2021-10-28 17:06] chipzoller opened #2625 "[BUG] Invalid variables"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.5.1

**Describe the bug**
Kyverno prints an invalid variable method when attempting to create a ClusterPolicy which uses the `foreach` validation functionality with a context referring to an

[2021-10-28 22:44] diranged opened #2627 "Feature: `PolicyExceptionRequest` and `PolicyExceptionApprovals`"
**Is your feature request related to a problem? Please describe.**
Slack Thread: https://kubernetes.slack.com/archives/CLGR9BJU9/p1635455448175100

The problem we want to solve at a high level is that we want to allow resources to be created even if they potentially violate a policy - and then we'd like to be able to have administrators come in and create a `PolicyViolationException` resource that

[2021-10-28 22:53] diranged opened #2629 "[BUG] Policies with PreConditions are marked as "failed" in the metrics"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.1

**Describe the bug**
Slack Thread: https://kubernetes.slack.com/archives/CLGR9BJU9/p1635458987180000

Any `Policy` or `ClusterPolicy` with a `preconditions` field will report `rule_result=fail` for rules that do not match the precondition. This mak

[2021-10-29 05:56] #2588 closed, assigned to kumar-mallikarjuna

[2021-10-29 06:04] #2613 closed, assigned to lshmouse

[2021-10-29 11:42] NoSkillGirl opened #2636 "[BUG] `()` Anchor is not working in mutate policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.1

**Describe the bug**
Conditional anchor is not working as expected in mutate policy.

**To Reproduce**
policy.yaml:
[code]
resource.yaml
[code]

Result:
[code]

**Expected behavior**
The resourc

[2021-10-29 16:13] #2575 closed, assigned to nobody

[2021-10-29 18:26] abhishekghiya opened #2642 "[BUG] : TLS exceptions were observed after Kyverno certificate renewal"
* Kubernetes version: 1.19
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): D2Iq Konvoy
* Kyverno version: 1.4.3

**Describe the bug**
TLS Handshake exceptions were observed after Kyverno certificate renewal

**To Reproduce**
Steps to reproduce the behavior:

1.) Change the dateTime of worker node where Kyverno is running to 1 year in Future.

2.) After 12 hours (Ticker Period) Kyv

[2021-10-29 18:27] elchesco commented on #1490
Experiencing the same here, fresh Kyverno install.

Error: `"msg"="sync failed, unable to update in-cluster api versions" "error"="unable to fetch apiResourceLists: unable to retrieve the complete list of server APIs: custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1"`

Relevant info:

[code]

[2021-10-29 18:31] JimBugwadia commented on #2623
Yes, it is! If you delete those configurations the terminate should complete.

[2021-10-29 21:26] yashvardhan-kukreja commented on #2629
ack'd on it 👍🏼

[2021-10-30 09:01] mritunjaysharma394 commented on #2590
Hi @JimBugwadia, I would like to work on this issue and if I have understood this correctly, it means, we have to add something like this: `{{images.ephemeralContainers.tomcat.name}}` and `{{images.ephemeralContainers.targetContainerName}}`? And the logic of ephemeral container can be figured out from k8s example?

/assign

[2021-10-30 13:05] chipzoller commented on #2468
Hi @superadri , we've added two new policies to the [samples library](https://kyverno.io/policies/) which make use of a new feature in Kyverno 1.5.0.

* [Ensure Read Only hostPath](https://kyverno.io/policies/other/ensure_readonly_hostpath/ensure_readonly_hostpath/)
* [Limit hostPath Volumes to Specific Directories](https://kyverno.io/policies/other/limit-hostpath-vols/limit-hostpath-vols/)

Be su

[2021-10-30 13:05] #2468 closed

[2021-10-30 14:27] mritunjaysharma394 commented on #2636
Hi @NoSkillGirl , looking at the initial overview of where the problem can be, it feels like that there is some problem in https://github.com/kyverno/kyverno/blob/main/pkg/engine/mutate/strategicPreprocessing.go may be? Or we have to look somewhere else?

[2021-10-30 22:21] ljakimczuk commented on #2636
Don't know if that helps you, but I also took a quick look and debug led me to this condition: https://github.com/kyverno/kyverno/blob/f42144b92989a0683c54048f2450c94cd56d7fd3/pkg/engine/mutate/strategicPreprocessing.go#L150
I haven't figured out the whole logic, but it seems like the failure on the `(image): "registry.corp.com/*"` condition is skipped and then there is no account for that later o

[2021-10-30 23:28] chipzoller opened #2646 "[BUG] `foreach` incorrect variable substitution when multiple lists are used in a single rule"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: 1.5.1

**Describe the bug**
Using a modified version of the `foreach` mutation policy [in the docs](https://kyverno.io/docs/writing-policies/mutate/#foreach), while the containers mutation wor

[2021-10-31 05:56] ShubhamPalriwala commented on #2617
Tested renovate on my fork: https://github.com/ShubhamPalriwala/kyverno/pull/5
@JimBugwadia @MarcelMue your thoughts on this?
For the configuration, I'll put up all the steps in a slack thread if this is gtg!

[2021-10-31 07:18] rubroboletus opened #2650 "[BUG] Pods created from CronJob / Job blocked when auto-gen excludes them"
**Software version numbers**
1.5.1

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.1

**Describe the bug**
When I apply sample policy - [https://kyverno.io/policies/best-practices/require_probes/require_probes/](https://kyverno.io/policies/best-practices/require_probes/require_probes/) - is firing false positives on pods creat

[2021-10-31 09:19] #2629 closed

[2021-10-31 09:57] MarcelMue commented on #2617
I would recommend a bit more complexity for the `renvate.json`:
[code]

The `allowedVersions` on k8s.io would basically restrict the k8s version we currently align with. So that we can decide more cleanly when to upgrade.

[2021-10-31 10:24] mritunjaysharma394 commented on #2576
Hi @JimBugwadia , I think by this we mean, that we need to modify the existing https://github.com/kyverno/kyverno/blob/de9fb567f0d978e11b80eb06ac911842ca61fe40/pkg/kyverno/main.go#L26
which calls `pkg/kyverno/version/command.go` (and others) to something like this `cmd/kubectl-kyverno/cli/version/version.go` (and similarly for other commands like `apply`, `validate`, `test`?

[2021-10-31 10:29] mritunjaysharma394 commented on #2636
Hi @ljakimczuk, thanks a lot, it surely helps a lot :smile: And adding just a small little observation to yours, I think `GlobalConditionError:` still has a check because of `lastGlobalAnchorError` and its usage below, I guess we need something similar for `CondtionError`? https://github.com/kyverno/kyverno/blob/f42144b92989a0683c54048f2450c94cd56d7fd3/pkg/engine/mutate/strategicPreprocessing.go#L

[2021-10-31 11:11] ShubhamPalriwala commented on #2617
Yeah definitely! @MarcelMue, I was testing it out to see how it looks and works! It has an extensive set of features that we can integrate

[2021-10-31 12:04] chipzoller commented on #2650
Thanks for the report, @rubroboletus , I see what the problem is here. I've checked on 1.5.1 and back to 1.4.3 and see this behavior. Marking this as a bug because the auto-gen rules for Jobs and CronJobs are not created (and those resources are allowed), yet Pods spawned from them are blocked.

Basic Job resource:

[code]

[code]

[2021-10-31 12:13] ljakimczuk commented on #2636
Hi @mritunjaysharma394, yes, a small addition like this would make the resource to not get mutated.

However, after a bit more reading I wonder if I understand the anchors engine correctly and thus what the expected behaviour should be. I mean, doesn't we expect `()` anchors used in an array to apply to only the specific element of array or its child and not to the whole policy? Doesn't we expect

[2021-11-01 13:17] chetak123 commented on #2576
Can I work on this issue please

[2021-11-01 13:25] mritunjaysharma394 commented on #2576
I guess since I have already expressed my intent to work on this with a little bit of research and understanding around it, it will be great @chetak123 if you can look for other issue if it’s not a problem 😅

[2021-11-01 14:03] chetak123 commented on #2576
Yeah sure, actually I thought you were clarifying the issue for other contributors.

[2021-11-01 18:08] #2164 closed

[2021-11-01 19:58] seh commented on #2646
This came up today [in discussion in the "kyverno" Slack channel](https://kubernetes.slack.com/archives/CLGR9BJU9/p1635794893233200?thread_ts=1632936910.096800&cid=CLGR9BJU9). I'm not sure if it's a problem specific to the "spec.initContainers" field, or if the same would happen with any nominated field that doesn't exist in the admission request JSON object.

[2021-11-01 22:00] chipzoller opened #2653 "Defaulting `request.operation` vars to `CREATE` in Kyverno CLI"
### Discussed in https://github.com/kyverno/kyverno/discussions/2645

<div type='discussions-op-text'>

<sup>Originally posted by **chipzoller** October 30, 2021</sup>
I had a small conversation with @viveksahu26 on Slack when trying to troubleshoot a test case I was writing. During the course of it, it seemed that writing test cases is a little more involved than it should be. One of the things i

[2021-11-01 22:14] realshuting commented on #2565
@treydock - it'd be really helpful if you could provide your thoughts here.

[2021-11-01 22:26] realshuting commented on #2576
Hi @mritunjaysharma394 - all the CLI-related files are in this folder `pkg/kyverno`. If I understand it correctly, we want to refactor this folder structure to only have files that represent all existing commands and extract the common utils into a single helper file/folder.

[2021-11-01 22:33] realshuting commented on #2347
Not sure, need to test and verify.

[2021-11-01 22:36] realshuting commented on #2475
Which one should I check? Please close the other one if it's no longer valid.

[2021-11-01 22:40] realshuting commented on #2582
@slayer321 - please see doc https://kyverno.io/docs/writing-policies/variables/#variables-from-admission-review-requests for how to use `request.oepreation` to match a specific action.

Instead of specifying a precondition to match an operation, we'd like to support this new tag `requestTypes` to match operations.

[2021-11-01 22:46] realshuting commented on #2599
Should be fixed in https://github.com/kyverno/kyverno/pull/2652.

[2021-11-01 22:49] realshuting commented on #2573
Thanks Vivek for catching this, will you be able to investigate this issue?

[2021-11-01 23:35] seh commented on #1884
Wow, I spent about two hours today trying to figure out why my _Policy_ rule targeting _apps/v1/ReplicaSet_ wasn't doing anything. This is a subtle trap.

What harm was caused before that warranted excluding _ReplicaSet_ by default?

[2021-11-01 23:36] treydock commented on #2565
@diranged I think proposal 1 sounds totally valid, and is something I've seen implemented in other projects like cert-manager.  They use a tool called Bazel which I haven't looked into, so getting that desired result will look very different for Kyverno.  I will open a pull request for proposal 1.

For Proposal 2, that is how Kyverno used to handle things and it lead to many problems which I will

[2021-11-02 00:41] JimBugwadia commented on #2646
@chipzoller - your sample policy has a cut-n-paste error (the patch has `containers` instead of `initContainers`). Try this:

apiVersion : kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: prepend-registry
spec:
  background: false
  rules:
  - name: prepend-registry-containers
    match:
      resources:
        kinds:
        - Pod
    preconditions:
      all:
      - key: "{{request.operatio

[2021-11-02 00:49] JimBugwadia commented on #2646
@seh - I tried the fixed policy above with a resource that has no "initContainers" defined. The pod was created successfully. Can you please elaborate on the errors you are seeing?

[2021-11-02 00:50] dkulchinsky opened #2654 "[BUG] Generate Request is created even when the generated resources are not"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.9
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: 1.5.2

**Describe the bug**
This issue is related to https://github.com/kyverno/kyverno/issues/2570, given a Generate policy that targets a specific Kind (e.g. `v1/ServiceAccount`) when a pr

[2021-11-02 01:10] treydock commented on #2565
@diranged I opened https://github.com/kyverno/kyverno/pull/2655 that allows the Helm chart CRD management to be turned off.

[2021-11-02 02:36] chipzoller commented on #2646
Doh. Sorry for that.

Still, using the adjusted policy in which there are two elements in the list, I get a mutation failure.

[code]

Sample pod as `pod.yaml`

[code]

[code]

[code]

And the resulting mutated pod

[code]

If I comment out either one of the list elements, the mutation occurs successfully for either the `containers[]` or `initContainers[]` array depending on which other I commente

[2021-11-02 04:48] #805 closed

[2021-11-02 05:31] JimBugwadia commented on #2646
I am able to reproduce the problem, and see why its happening. It has to do with variable substitution which currently happens across the whole rule, and using nested variables.  Will need to think of a solution.

To workaround, you will need to split the `initContainers` and `containers` into separate rules for now.

[2021-11-02 06:30] NoSkillGirl commented on #2347
@slayer321 - please work on the changes and test if it works.

[2021-11-02 06:38] NoSkillGirl commented on #2636
this issue is blocker for - https://github.com/kyverno/kyverno/pull/2605

[2021-11-02 09:45] NoSkillGirl commented on #2570
@JimBugwadia @realshuting I have one approach in my mind for simplifying this.

We can have a have a standard-annotation something like `Kyverno-pre-created-resource-<policy>-<rule>: true`. If this annotation is present for a pre-created resource, which means user is explicitly informing the kyverno to mutate/generate for this pre-created resource.

What do you think ?

[2021-11-02 09:57] ShubhamPalriwala commented on #2617
For Branch protection, in my opinion, let's add the following checks:
- Require PR review before merging
- Require CI pass
- Require signed commits
- Require Linear History

[2021-11-02 10:01] ShubhamPalriwala commented on #2617
For CII best practises, we need to have the passing badge for which our project should:
- Publish the process for reporting vulnerabilities on the project site
- Provide a working build system that can automatically rebuild the software from source code (where applicable)
- Have a general policy that tests will be added to an automated test suite when major new functionality is added
- Meet variou

[2021-11-02 10:28] MarcelMue commented on #2636
I believe @ljakimczuk is correct from the understanding of `( )` compared to the global anchor `<( )`

@JimBugwadia can you confirm what the intended behavior is here?

[2021-11-02 13:09] seh commented on #2646
Thank you for investigating, Jim. Do you have an idea of how to fix the problem?

[2021-11-02 14:38] chipzoller opened #2660 "[BUG] Pre-built `image` vars not resolving in the `test` command with mutate rules using `foreach`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: 1.5.1

**Describe the bug**
Using the `test` command to test a mutate rule which uses the pre-built `image` variable in a `foreach` loop, the command fails with `error: variable substitution f

[2021-11-02 15:20] viveksahu26 commented on #2653
/assign

[2021-11-02 16:41] chipzoller opened #2661 "[Enhancement] Change log message to Info for initial policy creation event when updating status"
**Is your feature request related to a problem? Please describe.**
This is a minor log enhancement for the new dynamic webhooks feature in 1.5.0.

When creating a new ClusterPolicy, the first couple messages that always gets logged are something like the following:

[code]

The first one is logged as an error and occurs no matter how inactive Kyverno is or how much is going on in the cluster. It h

[2021-11-02 16:58] mritunjaysharma394 commented on #2576
Hi @realshuting, thanks a lot for your observation, I guess, it means that we have to do something like this?

[code]

[2021-11-02 19:14] chipzoller commented on #2442
There are now more sample policies which make use of this style of JMESPath expression, for example [Ensure Read Only hostPath](https://kyverno.io/policies/other/ensure_readonly_hostpath/ensure_readonly_hostpath/)

[2021-11-02 19:28] mritunjaysharma394 commented on #2636
I am also new to Kyverno but reading about global and condition anchor in the docs (https://kyverno.io/docs/writing-policies/mutate/#global-anchor) and also the understanding of @ljakimczuk , I kind of relate with it, would love to know views of others

[2021-11-02 19:40] realshuting opened #2663 "[BUG] Panics on new DeepCopy methods"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: latest commit https://github.com/kyverno/kyverno/commit/57d32e4883230294f0a8f27bd324871c97cd32a0

**Describe the bug**
Kyverno panics on the latest build.

**To Reproduce**
Steps to reproduce t

[2021-11-02 21:05] #2663 closed

[2021-11-02 21:32] chipzoller opened #2665 "[Enhancement?] Improve/provide translations for nil JMESPath resolution to empty string"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: 1.5.1

**Describe the bug**
Unresolved JMESPath variables that have a pipeline query may result in a `nil` which is unexpected and, in a `foreach` loop may produce the error `Invalid type for:

[2021-11-02 21:33] chipzoller commented on #2665
cc @JimBugwadia for interest

[2021-11-03 04:15] realshuting commented on #1841
Closed via #2218.

[2021-11-03 04:15] #1841 closed

[2021-11-03 04:20] realshuting opened #2666 "[BUG] Sometime report results are not deleted when the resource is gone"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): N/A
* Kyverno version: 1.5.1

**Describe the bug**
With `kyverno-policies` chart and 5 cronjobs installed, the report summary keeps increasing. Invalid results remain in the report until the next reconciliation happe

[2021-11-03 06:44] #2623 closed

[2021-11-03 08:11] sooranatesh opened #2667 "Need policy for restricting default route in Openshift cluster"
There is one requirement where we want to restrict creation of default route at namespace level and allow only custom route to be created.

Example:

We should not be able to create following default route in the namespace :

https://nginx-test.defaultroute.com

We should be able to create custom route in the namespace:

https://nginx-test.customroute.com

Kindly let us know if you can provide kyv

[2021-11-03 10:54] PlayMTL opened #2668 "[BUG] Typo in CVE-2021-25742 Policy"
**Software version numbers**
Current "disallow-ingress-nginx-custom-snippets" Policy for CVE-2021-25742

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Vanilla
* Kyverno version: 1.4.3

**Describe the bug**

I think there is a typo in the Validationprobe for the Ingress NGINX Annotations.
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-confi

[2021-11-03 11:02] LinAnt opened #2669 "chart/kyverno-policies: make match and exclude blocks configurable"
**Is your feature request related to a problem? Please describe.**

Currently clusterpolicies generated by the chart match all pods in the cluster with the exception of the excluded namespaces.

I think it would be nice if these would be configurable in the chart.

Something in the lines of:

[code]

or something similar.

**Additional context**

I also noticed the current polices use the pre-1.5

[2021-11-03 14:39] chipzoller commented on #2667
@sooranatesh I do not run OpenShift and so I can't test anything out locally, but if you provide us an example of a "good" resource (that should be allowed) and a "bad" resource (that should be blocked), we can take a stab at it.

[2021-11-03 15:07] ShubhamPalriwala opened #2670 "Upgrade in-toto-golang to fix CVE-2021-41087"
**Software version numbers**
Upgrade github.com/in-toto/in-toto-golang to v0.3.1 or higher in the next immediate release to mitigate CVE-2021-41087

State the version numbers of applications involved in the bug.
We can fix this in our 1.5.2 patch release

Found in [ArtifactHub Security Report](https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report)

**Expected behavior**
A clea

[2021-11-03 17:47] ShubhamPalriwala commented on #2670
@realshuting Let me know when we have the release 1.5.2 branch created, I'll create a PR to update the package and address the CVE!

[2021-11-03 18:16] #2625 closed

[2021-11-03 18:20] realshuting commented on #2670
Hi @ShubhamPalriwala - we use main branch for all fixes, and critical ones will be cherry-picked into `release-1.5` branch. You can go ahead submit a PR to `main` and add `milestone 1.5.2` label, I'll cherry-pick the fix when release 1.5.2.

[2021-11-03 19:26] realshuting commented on #2599
Closed by https://github.com/kyverno/kyverno/pull/2655, thank you @yulianedyalkova !

[2021-11-03 19:26] #2599 closed

[2021-11-03 19:27] realshuting commented on #2660
What is the milestone here?

[2021-11-03 19:34] slayer321 commented on #2347
I tried changing both, name and value one by one and both are working fine .
so what should I do

do I just change the value?
[code]

or both?
[code]

[2021-11-03 19:36] chipzoller commented on #1070
Tested and now working thanks to @JimBugwadia.

[code]

[code]

[code]

[code]

[2021-11-03 19:39] chipzoller commented on #2665
Similar to the above case but referencing the issue and policy [here](https://github.com/kyverno/kyverno/issues/1070#issuecomment-959871222), when the `apiCall.jmesPath` query is invalid (for `metadata.labels.status`), the failure message isn't printed. Instead you get `Unknown key "labels" in path` if no labels exist and `Unknown key "status" in path` if a label with the key `status` doesn't exis

[2021-11-03 21:06] #2660 closed

[2021-11-04 03:41] realshuting commented on #2576
Yes, something looks like this:
[code]

[2021-11-04 03:48] mritunjaysharma394 commented on #2576
Thank you so much, I will start working on this 😊

[2021-11-04 04:07] JimBugwadia commented on #2576
Can we also move the CLI source from under `pkg` or to `cmd`?

Here are some examples:

https://github.com/fluxcd/flux2/tree/main/cmd/flux

https://github.com/sigstore/cosign/tree/main/cmd/cosign/cli

Also, note how flags are organized into structs:

https://github.com/sigstore/cosign/blob/main/cmd/cosign/cli/verify/verify.go#L42

[2021-11-04 06:06] ShubhamPalriwala commented on #2670
@realshuting, the fix has already been made on the main branch in PR https://github.com/kyverno/kyverno/pull/2607 where the dependency has been updated but it has a milestone of 1.6.0.

I can open a PR directly to release 1.5 if you want for this fix? Let me know if there is any other solution for this in your mind

[2021-11-04 12:00] voyvodov opened #2674 "[BUG] Kyverno reports are becoming very large in case of many resources inside a namespace"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.11
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Vanilla
* Kyverno version: 1.5.0

**Describe the bug**
Since Kyverno is generating reports on regular basis in case we have few rules (in this case only those from upstream) and large number of pods inside a sing

[2021-11-04 12:57] treydock commented on #2256
Not sure if something changed with 1.5.0 but currently all my Kubernetes environments (dev, test, production) are showing Prometheus metrics from Kyverno and all environments are running 2 replicas.  I would be interested to know if others who reported similar issues are still facing this issue with 1.5.0 or other 1.5.x releases.

[2021-11-04 14:01] chipzoller commented on #2665
And again in [this sample policy](https://github.com/kyverno/policies/issues/168). When no taints exist and a user tries to add one, the variable `{{request.oldObject.spec.taints}}` cannot resolve with `Unknown key "taints" in path` resulting in the message not printing.

[2021-11-04 16:30] chipzoller opened #2675 "Update PR template with acknowledgements/process for CLI coverage"
Per Kyverno contributors' meeting on 11/4/21, update the PR template with language for simultaneous CLI support. The goal is to ensure there is parity between code which adds or changes functionality in the webhook and the Kyverno CLI. Alternatively, for code PRs which do not include Kyverno CLI coverage, the onus should be on the contributors and, to a lesser extent, the maintainers to ensure an

[2021-11-04 17:14] JimBugwadia opened #2676 "Support Cosign keyless signing & verification"
**Is your feature request related to a problem? Please describe.**

See https://github.com/sigstore/cosign/blob/main/KEYLESS.md

**Describe the solution you'd like**

Support Kyverno verification using a Root certchain and subject information

[2021-11-05 03:36] realshuting commented on #2670
That sounds good @ShubhamPalriwala , let's create the PR to update that.

[2021-11-05 03:41] realshuting commented on #2674
Hi @voyvodov - can you disable background scan and see if it reduces the final results? You can do so by setting `spec.background` to false.

[2021-11-05 06:26] #2676 closed

[2021-11-05 07:25] mritunjaysharma394 commented on #2576
Hi @JimBugwadia , If I understood this correct, it means, we have to move [kyverno/cmd/cli/kubectl-kyverno/main.go ](https://github.com/kyverno/kyverno/blob/main/cmd/cli/kubectl-kyverno/main.go) to `pkg/kyverno` or rather move the below structure under  our `kyverno/cmd/cli/kubectl-kyverno` and which can be a better option?
Thanks a lot!
[code]

[2021-11-05 07:27] voyvodov commented on #2674
We tried that already. Even if all rules are not running in background they're still addeded to the report (from what I can say with all possible combination of configuring the policies results are always written in the report)

[2021-11-05 10:14] ShubhamPalriwala commented on #2670
Fixed by #2679

[2021-11-05 10:14] #2670 closed

[2021-11-05 10:27] rdavyd opened #2681 "[BUG] foreach does not work with conditional anchors"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.6
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): on prem
* Kyverno version: 1.5.1

**Describe the bug**
This issue is related to #2368 The policy was rewritten to make use of new `foreach` directive.
As before the task is to set a default memory limit to the `em

[2021-11-05 10:32] vyankyGH commented on #2681
related : https://github.com/kyverno/kyverno/issues/2636

[2021-11-05 12:33] superadri opened #2682 "[Document] Compatibility Matrix kyverno v1.5.x"
No documentation about Compatibility Matrix when kyverno version is v1.5.x.

[2021-11-05 14:07] rdavyd opened #2683 "[BUG] Mutate policy prometheus counter goes wrong"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.6
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): on prem
* Kyverno version: 1.5.1

**Describe the bug**

Kyverno performs a successful mutation, but prometheus only fail counter increments instead of success:
![зображення](https://user-images.githubusercontent.c

[2021-11-05 14:11] rdavyd commented on #2683
Reviewed policy success/failure dashboards for all my policies applications, seems like they have swapped places after 1.4.3 -> 1.5.1 upgrade

[2021-11-05 15:26] viveksahu26 commented on #2573
/assign

[2021-11-05 16:08] JaimeHolland opened #2684 "[BUG] Conflict with Keda"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS v1.21.2-eks-0389ca3, and Kind v1.21.1
* Kyverno version: v1.5.1
* Keda version: 2.4.0

**Describe the bug**

When kyverno is installed alongside keda, any attempt to apply any policy produces the error message

[2021-11-05 17:26] chipzoller commented on #2684
Related to https://github.com/kyverno/kyverno/issues/2162

[2021-11-06 15:08] #2624 closed

[2021-11-06 15:08] #2675 closed

[2021-11-07 09:34] #2154 closed

[2021-11-07 13:37] olljanat opened #2689 "[BUG] request.object.metadata.namespace should always have value"
**Software version numbers**
* Kubernetes version: v1.21.5+k3s2
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: 1.5.1

**Describe the bug**
I would like to create policy which generates DNS search list values based on namespace name to simplify service discovery on environment where applications are split to multiple namespaces. Examples on https://kyverno.i

[2021-11-07 14:44] chipzoller commented on #2689
Problem here is auto-gen is translating this variable for higher-level Pod controllers because it's under `request.object`. I think we need to reevaluate translating of anything under `request.object.metadata` and exempt it from variable translation. This has come up before when writing a policy which looks at annotations as well.

@olljanat: For now you may need to create separate rules, one for

[2021-11-07 17:14] olljanat commented on #2689
Yes that works and actually for my use case it is even better as now I can see result of mutate on deployment too. Thanks for quick reply 👍

[2021-11-08 00:15] chipzoller commented on #2689
@olljanat I was reminded recently of the `request.namespace` AdmissionReview field that Kyverno can use. This should be used rather than `request.object.metadata.namespace`. Please refer to this policy below which leaves the auto-gen rules intact and simplifies things. The result is still the same.

[code]

I have a note to update the docs to state this and revise policies and examples with this.

[2021-11-08 00:15] #2689 closed

[2021-11-08 05:24] Danny-Wei opened #2691 "[BUG] Failed to update webhook configurations when running Kyverno locally"
**Software version numbers**
* Kubernetes version: v.1.20.10
* Kyverno version: v1.5.1

**Describe the bug**
Kyverno failed to update webhook configurations for policy when I run it locally according to this [document](https://github.com/kyverno/kyverno/wiki/Running-in-development-mode#build-and-run-kyverno-locally-on-a-minikube-cluster).

I think the reason for this bug is that the parameter of g

[2021-11-08 05:42] NoSkillGirl commented on #2347
@realshuting - please suggest on the changes to be made.

@slayer321 - yes, we should change the following links:
- [installation](https://kyverno.io/docs/installation/#install-kyverno-using-yamls)
- [upgradation](https://kyverno.io/docs/installation/#upgrade-kyverno-with-yaml-manifest)
- [uninstallation](https://kyverno.io/docs/installation/#option-1---uninstall-kyverno-with-yaml-manifest)

[2021-11-08 09:29] rdavyd commented on #2683
Might be related to this #2629

[2021-11-08 11:15] fiunchinho opened #2693 "Add function to transform variables to json"
**Is your feature request related to a problem? Please describe.**

When reading a config map as an external data source, I think it would be cool to have a function to transform a yaml string to json so that mutating object fields or accessing subfields on the yaml structure would be possible.

Given I have this configmap with a valid yaml representation of the strategy I want to use for my deplo

[2021-11-08 11:23] MarcelMue commented on #2693
This is a good addition - it would make working with configmaps as a data source a lot more convenient

[2021-11-08 23:16] realshuting commented on #2681
Please clarify milstone.

[2021-11-08 23:25] realshuting commented on #2154
@NoSkillGirl - were you able to reproduce the issue? And did the policy apply successfully?

[2021-11-08 23:31] realshuting commented on #2691
Have you seen this issue on minikube cluster? We need to check that `debug` flag is used correctly when configuring webhooks.

[2021-11-09 00:58] JimBugwadia commented on #2636
Yes, that is the expected behavior. @NoSkillGirl  can you please test the original policy using a global anchor?

[code]

[2021-11-09 01:27] realshuting commented on #2524
Hi @luigizhou - I tried to reproduce the issue but failed. The liveness probe ensures the webhook configurations exist in the cluster where it uses a lister (cache) to list all webhooks. This is the only place that I found related to the probes.
https://github.com/kyverno/kyverno/blob/0f0c070072f3c678aa33bc0f280bf1b31c13d7e8/pkg/webhooks/server.go#L216-L223

Can you upgrade to this latest image `v

[2021-11-09 04:09] #2691 closed

[2021-11-09 04:11] #2654 closed

[2021-11-09 07:28] stieglma commented on #2154
@NoSkillGirl sorry for the late reply, first I was on vacation end then I had too much other work to get more details here. The policies we are running are the following (more or less copy-pasted from the kyverno policy page):

![grafik](https://user-images.githubusercontent.com/6758666/140880111-c0729407-1c8f-4d41-b083-15d7cd248d35.png)

Note that we are still running version 1.4.2, I hope to upg

[2021-11-09 09:37] NoSkillGirl commented on #2154
@stieglma - Are you trying to apply any policy on the settings, i.e, your crd resource? And is it working as expected?

Also, please try the above approach suggested by @realshuting and let us know your observation.

[2021-11-09 13:35] chipzoller opened #2699 "Check for enclosed JMESPath statements"
**Is your feature request related to a problem? Please describe.**
Kyverno does not perform proper validation on policies to ensure that opening `{{` also have closing `}}` for JMESPath statements. This causes all sorts of havoc when troubleshooting.

**Describe the solution you'd like**
Validate any JMESPath statements are fully enclosed in braces.

[2021-11-09 13:59] Danny-Wei opened #2700 "Add ReplicaSet and ReplicationController autogen controller"
**Is your feature request related to a problem? Please describe.**

In order to solve [#2164](https://github.com/kyverno/kyverno/issues/2164), [#2648](https://github.com/kyverno/kyverno/pull/2648) applies policies to all managed Pods. So I thought we should add ReplicaSet and ReplicationController autogen controller to Kyverno, and no longer filter ReplicaSet resources through the resourceFilters

[2021-11-09 14:46] developer-guy opened #2702 "use buildx create command to create fresh builder instance"
**Is your feature request related to a problem? Please describe.**
I got the following error while issuing the command: `make docker-publish-all`:

[code]

The reason for that my default instance, which is docker daemon in this case, is not supporting multi-arch builds on Mac IMHO, so, how I solved this problem, I created another builder instance with the help of the following command:

[code]

**

[2021-11-09 15:10] JimBugwadia commented on #2702
Done, thanks!

[2021-11-09 17:15] #2579 closed

[2021-11-09 17:59] zeborg commented on #1334
Hello, I'd like to pick up this issue!

[2021-11-09 21:40] chipzoller commented on #1334
This might be something that can be printed at verbosity level of like 6 or something. The same concerns exist here as those which already exist where variables are printed when resolved.

[2021-11-09 23:47] bdols opened #2705 "[BUG] SBOM unavailable"
**Software version numbers**
latest

**Describe the bug**
Hello, following the installation instructions at https://kyverno.io/docs/installation/ for downloading the SBOM and get errors.
I have cosign v1.3.0 installed.

**To Reproduce**
 % cosign download sbom ghcr.io/kyverno/kyverno:latest
Error: GET https://ghcr.io/v2/kyverno/kyverno/manifests/sha256-a142b422a78735d25481cc339481e92eb2e30109e3265

[2021-11-10 05:36] vyankyGH commented on #2609
@dkulchinsky I'm  trying to reproduce the issue. I have install Crossplane using [helm](https://crossplane.io/docs/v1.5/reference/install.html), but service account is not getting created for the same.
Can you please help me how we can create service account for the same. or I'm missing anything?

[2021-11-10 10:26] pealtrufo opened #2709 "Verify images in private registries using AWS IAM Roles / IRSA"
**Question**
I am playing with Kyverno in a AWS EKS cluster to test its integration with Cosign to verify images prior to admitting them into the cluster. My images and signatures are stored on a private ECR repo. Checking the documentation, I see that you can configure Kyverno to use a imagePullSecret with the credentials:
https://kyverno.io/docs/writing-policies/verify-images/#using-private-regi

[2021-11-10 12:43] NoSkillGirl commented on #2636
The above 2 examples work with global <() anchor.

We need to change the examples provided in kyverno [doc](https://kyverno.io/docs/writing-policies/mutate/).

[2021-11-10 12:43] #2636 closed

[2021-11-10 12:54] NoSkillGirl commented on #2449
@realshuting - do you have any questions or suggestions?

[2021-11-10 13:17] dkulchinsky commented on #2609
Hi @vyankyGH, you need to install crossplane and their gcp-provider to get the following CRDs deployed to your cluster:

[code]

I updated the repro steps above, the installation path to follow is described here: https://crossplane.io/docs/v1.5/getting-started/install-configure.html, need to follow the GCP tab there.

you don't actually need a `iam.gcp.crossplane.io/v1alpha1/serviceaccount` resour

[2021-11-10 13:32] chipzoller commented on #2709
As I recently found out, if you have a private registry presenting a certificate that is internally signed you will almost certainly run into [this issue](https://github.com/sigstore/cosign/issues/1006) and which doesn't have anything to do with Kyverno.

[2021-11-10 13:36] pealtrufo commented on #2709
Thanks @chipzoller.
This is nothing related to TLS certs self-signed though.

I am using a private ECR registry in my AWS account. Kyverno can reach it, but needs credentials to actually pull the images it needs to verify. I can only see documented how to provide these credentials through imagePullSecrets.

Kind regards

[2021-11-10 13:38] chipzoller commented on #2709
Ok, that part wasn't clear then so I withdraw the [previous statement](https://github.com/kyverno/kyverno/issues/2709#issuecomment-965145808).

[2021-11-10 15:19] chipzoller commented on #2636
Which examples?

[2021-11-10 15:31] vyankyGH commented on #2636
Mentioned in the description set-image-pull-secret (overlay) & database-type-labeling(patchStrategicMerge)

[2021-11-10 15:48] chipzoller commented on #2636
Tracking in https://github.com/kyverno/website/issues/384

[2021-11-10 16:21] seh commented on #2700
Here's the "match" and "preconditions" field values I used to target only _ReplicaSets_ nom managed by a _Deployment_ in a policy of mine:
[code]
There are of course other hypothetical controllers that could create _ReplicaSets_, but I don't use any in my clusters.

[2021-11-10 16:40] seh opened #2711 "[BUG] Kyverno updates ClusterPolicy needlessly when auto-generation is enabled"
# Software Environment
* **Kubernetes version:** 1.19.9
* **Kubernetes platform**: _kOps_ in AWS EC2
* **Kyverno version:** 1.5.0

# Description
For a _ClusterPolicy_ that lacks a "pod-policies.kyverno.io/autogen-controllers" annotation with value "none"—meaning that the annotation isn't present in my Kubernetes manifest at all—Kyverno repeatedly updates the _ClusterPolicy_ object, incrementing th

[2021-11-10 16:59] z0rc commented on #2669
Probably duplicate of https://github.com/kyverno/kyverno/issues/2277

[2021-11-10 17:58] anushkamittal20 commented on #2359
Hey, @dkulchinsky I am working on this issue, it would be helpful if you could provide the node manifests to analyze what is happening better.
Thank you!

[2021-11-10 18:03] ewash1 opened #2712 "[BUG] Unable to create policies; runtime.go:78 observed a panic "panic: interface conversion: interface {} is nil, not string", Kyverno crashing"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Rancher
* Kyverno version: v1.51
* Kyverno Helm chart: v2.1.3
* OS: Ubuntu 18.04.5
* Helm: v3.5.3
****
**Describe the bug**
When attempting to deploy Kyverno via Helm Chart, the kyverno pod remains stuck in a "Cr

[2021-11-10 20:39] diranged opened #2713 "[BUG] Hard-coded ClusterRoleName in OwnerRef breaks when Kyverno Helm Chart name is unique"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.5.0-rc1-118-g17e671bf

**Describe the bug**
Kyverno is unable to create resources due to an invalid OwnerRef:

[code]

The issue is that https://github.com/kyverno/kyverno/pull/2659 hard-codes the expected name of the ClusterRole, while at https://gith

[2021-11-10 20:43] diranged commented on #2713
cc @vyankyGH

[2021-11-10 22:28] dkulchinsky commented on #2359
Hey @anushkamittal20, sure thing!

I had to obfuscate some details (and removed the status bit)

[code]

[2021-11-10 22:28] dkulchinsky opened #2714 "[BUG] Generate Request in Failed state is not removed when the source resource is deleted"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.5
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): GKE
* Kyverno version: 1.5.0

**Describe the bug**
When a Generate Request is in Failed state, when the source resource it is linked to is deleted the Generate Request lingers and doesn't get removed.

**To Reprod

[2021-11-11 02:45] Danny-Wei commented on #2700
Most of the time, we want to use the auto-gen feature to generate corresponding rules for different types of resources, such as DaemonSet, Deployment, Job, StatefulSet, CronJob. As a result, we don't need to define separate rules for each workload.
In this case, I think that the auto-gen feature should cover these two resource types(ReplicaSet and ReplicationController) from a security perspective

[2021-11-11 06:27] NoSkillGirl commented on #2714
In generate controller we have a dynamic informer, which informs the changes done to the namespace. https://github.com/kyverno/kyverno/blob/b5615b6380349dcd234c2c485f81371d8f1ec83a/pkg/generate/generate_controller.go#L115

Currently, informer does not support other `kinds`. Because of which when the service account is deleted, the cleanup process is not triggered.

The about requirement can be tak

[2021-11-11 08:56] pipelineburst commented on #2666
hi shuting, this is exactly my observation, just reproduced again now: with kyverno-policies chart and some sample workloads, the report summary keeps increasing and doest decrease until the next reconciliation happens (1h by default).
i'm on kyverno 1.5.1:
NAME    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART           APP VERSION
kyverno kyverno

[2021-11-11 09:02] LinAnt commented on #2669
Yep, I think that issue describes what I am looking for :+1:  Going to close this in favor of that issue.

[2021-11-11 09:02] #2669 closed

[2021-11-11 11:30] chrisns commented on #2591
Hey @JimBugwadia cc: #2676 #2677

The problem with the current implementation is it doesn't check the `issuer` as well as the `subject`, so bringing your own OIDC provider to the cosign command would still cause fulcio to have an arbitrary subject that kyverno wouldn't be able to tell the difference with.

However for the last couple of weeks Fulcio now has the `issuer` in the payload. https://git

[2021-11-11 12:33] luigizhou commented on #2524
Hi @realshuting , I'm suspecting the issue happens due to the container getting restarted when Kyverno is still initialising.
I was able to reproduce this on a separate 3 node cluster where I created:
- 300 namespace
- 9000 configmap
- 3000 secrets

Attached the heap profiling.
[heap.zip](https://github.com/kyverno/kyverno/files/7520391/heap.zip)

[2021-11-11 12:41] luigizhou commented on #2524
But even after removing the probes, the memory usage still seems high. (around 6-7gb of memory)
I think https://github.com/kyverno/kyverno/issues/1832 is tracking this and from the alloc profiling I see the likely culprit being the kubernetes informer.
[alloc.pdf](https://github.com/kyverno/kyverno/files/7520430/alloc.pdf)

Is there a reason why Kyverno is doing so much caching at startup?
Looking

[2021-11-11 14:46] dkulchinsky commented on #2714
Hi @NoSkillGirl, thanks for looking into this, however what you've mentioned doesn't correlate with what we see in our clusters.

Here's an example: we installed a Helm Chart that deployed 4 Service Accounts, there's a generate policy targeting them and generate some resource, after installing the Chart we see the following Generate Requests:

[code]

and here are the Service Accounts:
[code]

we

[2021-11-11 15:33] MarcelMue opened #2716 "[BUG] Mutating complex objects with patchesJson6902 does not work"
**Software version numbers**
State the version numbers of applications involved in the bug.

Kyverno latest `main`.

**Describe the bug**
It is currently impossible to create a Policy which mutates a complex object (including a variable) with `patchesJson6902` in Kyverno.
The current Policy validation fails in multiple stages:
1. The JSONPatch containing a variable is no longer valid JSON, therefo

[2021-11-11 16:51] dkulchinsky commented on #2549
We seem to be hitting this issue as well with mutate & generate policies/rules (we're running Kyverno 1.5.0)

After introducing these policy rules, we've deployed a chart that creates 4 Service Accounts, there's a mutate & generate policy associated with them, in most cases the policies will only apply on part of the Service Accounts, and it's inconsistent (different Service Accounts would work in

[2021-11-11 16:58] artem-nefedov commented on #2549
Please, ignore my comment about this being related to new flux version. I found out that it occurs with the old one as well, just less frequently.

[2021-11-11 17:35] MarcelMue commented on #2606
We decided to restrict the function a bit currently to make implementation cleaner:
https://github.com/kyverno/kyverno/pull/2680#issuecomment-966489346

We can implement a `time_parse()` function if needed later but `RFC3339` should cover most Kubernetes related usecases.

[2021-11-11 17:57] MarcelMue commented on #2473
Implemented here:
https://github.com/kyverno/kyverno/pull/2707

[2021-11-11 17:57] #2473 closed

[2021-11-11 23:12] realshuting commented on #2660
CLI test against release-1.5 branch failed due to this issue, adding it to 1.5.2.
https://github.com/kyverno/kyverno/runs/4183972477?check_suite_focus=true

[2021-11-11 23:27] realshuting commented on #2558
CLI test failed on branch release-1.5, cherry-pick #2569 #2560 to 1.5.2.

[2021-11-12 01:52] Danny-Wei commented on #2273
hi @realshuting @JimBugwadia, I want to add a path canonicalize feature to Kyverno to deal with this security issue.
My idea is to add an operator to Kyverno, like brackets "[]". When the pattern is in brackets, it means that the target string needs to be path canonicalized first, and then the follow-up operation. What do you think?

[2021-11-12 13:37] seh opened #2719 "[BUG] Kyverno issues policy context Kubernetes API calls before evaluating preconditions"
# Software Environment
* **Kubernetes version:** 1.19.9
* **Kubernetes platform**: _kOps_ in AWS EC2
* **Kyverno version:** 1.5.0

# Description
This is perhaps more of a design question than a defect report, but it's not clear from Kyverno's documentation whether Kubernetes API calls defined in a policy's "spec.rules.context" field get evaluated before checking whether preconditions are satisfied

[2021-11-12 14:10] diranged opened #2720 "[BUG] failurePolicy/timeoutSeconds not set properly based on ClusterPolicy Spec's"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: v1.5.0-rc1-118-g17e671bf

**Describe the bug**

It seems like Kyverno 1.5.0+ is creating a `ValidatingWebhookConfiguration` that has `failurePolicy: Fail` and `timeouteSeconds: 10` regardless of the fact that all of my `ClusterPolicy` resources have `fail

[2021-11-12 14:21] dkulchinsky commented on #2460
@realshuting do you think this can be included in v1.5.2? this seems like a mildly important issue and really makes things difficult for us 🙏🏼

[2021-11-12 15:02] dkulchinsky commented on #2609
@vyankyGH AFAICT, the error is reported here:
https://github.com/kyverno/kyverno/blob/497514fd94226ff16a6133f4204294d8a030f101/pkg/webhooks/mutation.go#L151-L154

I got lost down the rabbit hole trying to figure out where this is failing exactly 😓

but what is clear from the error log is that`ValidateResource` is incorrectly mapping the below resource to `io.crossplane.gcp.iam.v1alpha1.ServiceAcco

[2021-11-12 18:23] hubwoop commented on #2567
I think this idea is great. I think it would be fantastic if you could provide the mock-api-response as a file containing some json payload.

[2021-11-12 18:40] seh commented on #2719
In an odd twist, my experiments with `foreach`, contexts, and preconditions suggest that in a `foreach` iteration, the local preconditions don't seem to be checked, or at least they're not respected. They don't stop mutation from proceeding.

[2021-11-12 20:37] realshuting commented on #2460
Have you tried disabling schema validation by setting `spec.schemaValidation` to `false`? Another workaround could be to scale down Kyverno Pod before installing the policy and scale it up.

@MarcelMue - do you think this can be addressed with your work related to schema validation?

[2021-11-12 23:03] chipzoller commented on #2500
Strong +1 on this. Until this is implemented, one of the primary use cases for these arithmetic functions (operations against CPU or memory requests/limits) won't be possible without significant effort.

[2021-11-12 23:32] dkulchinsky commented on #2460
I have not, I'll give it a try.

Could try that too, but this method won't work for us since the policies are installed/updated via an automated GitOps pipeline.

[2021-11-13 17:20] CitadelCore commented on #2711
This is an issue for me too.

[2021-11-14 13:25] atorrescogollo commented on #2567
In fact, it is an standard apiCall to kubernetes. In kubernetes code they are using this for unit tests: https://pkg.go.dev/k8s.io/client-go/kubernetes/fake. I think [this approach](https://github.com/kubernetes/client-go/blob/e627be7959e730f91a38c18674c29b0256c4bb2e/kubernetes_test/fake_client_test.go#L33-L49) is a good example.

Also, in this case, I think [`fake.NewSimpleClientset`](https://pkg

[2021-11-14 14:00] chipzoller commented on #2567
A simpler way may just be to declare a context variable in the values file setting it equal to whatever the result of that API call may be. At the end of the day, Kyverno is just looking at its contents as any other variable and using that to make comparisons.

@NoSkillGirl @viveksahu26 what's the level of effort to support something like this?

[2021-11-15 00:06] chipzoller commented on #2567
And BTW @atorrescogollo if OK with you, I'd like to take your policy and add it to our [samples library](https://github.com/kyverno/policies/issues/177) to make available on the [website ](https://kyverno.io/policies/) as I think this can be highly beneficial for other users. Would that be ok with you?

[2021-11-15 03:34] realshuting commented on #2513
Adding to milestone 1.5.2 to fix unit tests.

[2021-11-15 08:09] atorrescogollo commented on #2567
@chipzoller Sure, it is OK for me :)

[2021-11-15 11:04] luigizhou commented on #1832
@realshuting @JimBugwadia
I've tested the impact of memory usage when using **dynamicinformer** vs **sharedinformer** for configmaps only in a cluster with 9000 configmaps.

There's a noticeable improvement memory usage improvement:
- dynamicinformer: uses around 4.25GB of memory
- sharedinformer: uses around 2GB of memory after a small spike on startup. (I'm assuming the sharedinformer is optimis

[2021-11-15 11:05] kempy007 opened #2722 "[BUG] GR, edit monitored kind (ingress,change hostname) more than twice, stops generating new manifest job."
**Software version numbers**

* Kubernetes version:  1.20.9
* Kubernetes platform: AKS
* Kyverno version: ??1.4.2?? 1d7dead8b437e360e36cccdc8f97fae73b8ebaf9

**Describe the bug**
In relation to https://github.com/kyverno/kyverno/issues/2395

If I edit the policy monitored ingress manifest hostname more than twice it no longer generates the job as per policy.

I also see GR with failed state, compl

[2021-11-15 12:44] vyankyGH commented on #2609
@dkulchinsky can you please try adding **schemaValidation: false**  flag under spec?

[2021-11-15 13:19] lakshya8066 commented on #2699
Hey @chipzoller can I work on this?

[2021-11-15 14:02] #2571 closed

[2021-11-15 14:53] vyankyGH commented on #2713
@diranged We are planning to add extra Label to ClusterRole and will get ClusterRole from that instead of hardcoding it  fix this issue. Will this solution works for you?

[2021-11-15 15:41] dkulchinsky commented on #2609
Hey @vyankyGH, sure I can try that 👍🏼

[2021-11-15 15:49] dkulchinsky commented on #2609
@vyankyGH I added `schemaValidation: false` to the policy in our sandbox cluster:
[code]

but we're still getting this error:
[code]

[2021-11-15 20:52] dkulchinsky commented on #2460
@realshuting I just tried the `schemaValidation` workaround you proposed, however it doesn't seem to work.

I updated the policy with the following changes:
1. added `spec.schemaValidation` with the value `false`
2. changed `strimzi.io/kind:Kafka` to `strimzi.io/kind: "*"`

but when saving the changes I got the following error:
[code]

and in Kyverno logs:
[code]

Do I need to delete/create (i.e.

[2021-11-15 20:59] dkulchinsky commented on #2460
@realshuting For completeness, I tried this in two other ways:

1. First modify the policy to just add `spec.schemaValidation: false` and then update the `matchLabels` with the wildcard - this didn't work either, received same error when adding the wildcard.

2. I used a `kubectl replace` that forces delete/create for the policy - didn't work either:
[code]

[2021-11-15 22:16] JimBugwadia commented on #2719
Hi @seh - there is an attempt to explain the intended behavior at:

  https://kyverno.io/docs/writing-policies/variables/#evaluation-order.

The intended behavior is for the Context to be loaded first, and Preconditions to be evaluated after that. Also, during the processing of preconditions unresolved variables are expected to be substituted with empty string `""` to allow for "if exists" types o

[2021-11-15 22:18] JimBugwadia opened #2725 "[BUG] Preconditions in foreach are not handled correctly"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.x

**Describe the bug**

See discussion at:  https://github.com/kyverno/kyverno/pull/2721#issuecomment-968316077

[2021-11-15 22:28] seh commented on #2719
I must apologize, as I asserted here that the intended design was not documented when in fact it is—and clearly so. I had not found that part of the documentation as of when I wrote this report.

Your proposed multi-pass approach would be useful to me as a rule author, though difficult to explain, and perhaps difficult for rule readers to understand. I've tried to write my policies from top to bot

[2021-11-15 22:37] JimBugwadia commented on #2646
Hi @seh - the problem is with this logic:

https://github.com/kyverno/kyverno/blob/5c16ee738af04cfeb41b0fc4557d06762d268651/pkg/engine/mutation.go#L222

Its substituting variables for the entire rule. It needs to be removed and when processing each mutate patch, we will need to substitute variables for that patch, without impacting other parts of the rule.

[2021-11-15 23:18] chipzoller opened #2726 "[Feature] Add a `scope` field to `foreach` object"
**Is your feature request related to a problem? Please describe.**
When writing rules that use the `foreach` capability introduced in 1.5.0, a `list` field, expressed as JMESPath, is mandatory. The query written in this `list` field serves as the implicit scoping for any logic performed in that `foreach` loop. For example, if the `list` element specifies `request.object.containers.args` then any s

[2021-11-16 00:58] realshuting commented on #1832
Good to know that @luigizhou!

How did you test this? As you mentioned in this [comment](https://github.com/kyverno/kyverno/issues/2524#issuecomment-966271312), Kyverno also creates default informers for Deployment, mutatingWebhookConfiguration and ValidatingWebhookConfiguration. It's worth testing sharedInformer for all these resources and measuring memory usage.

[2021-11-16 01:20] realshuting commented on #2524
Did you still see the memory increase using the above tag without removing probes?

[2021-11-16 02:26] realshuting commented on #2427
Closed via #2678.

[2021-11-16 02:26] #2427 closed

[2021-11-16 05:08] vyankyGH commented on #2609
@dkulchinsky Let me check. Get back to you.

[2021-11-16 09:27] luigizhou commented on #1832
Hey @realshuting , I've tested this by just creating a couple of golang app that uses the 2 different informers for ConfigMap and monitored memory usage through Prometheus.
I'll try to generate some profiling data to confirm this

[2021-11-16 09:28] luigizhou commented on #2524
I did yeah, I had to remove probes to stabilize kyverno's memory usage even with the image tag you provided

[2021-11-16 11:32] #2713 closed

[2021-11-16 11:58] realshuting commented on #2524
Ok, let me change to use the client to fetch the webhooks. Will attach the test image here.

[2021-11-16 13:13] fiunchinho commented on #2069
I have the same issue, `kyverno` is constantly logging those error messages.

[2021-11-16 13:55] seh commented on #2725
It's so strange. According to the log message, Kyverno finds the outcome of an API call to be the empty string:
[code]
However, if the following precondition compares this value against the empty string (via the "NotEquals" operator), the precondition does not stop the consequent mutation.

Now, if instead I change my precondition to require that this same JMESPath expression is equal to some othe

[2021-11-16 17:11] fiunchinho opened #2729 "[BUG] Logging errors when using non namespaced resources"
**Describe the bug**
Using [the policy from the website to check for deprecated API versions](https://kyverno.io/policies/best-practices/check_deprecated_apis/), kyverno keeps logging errors because there are resources that are not namespaced and [here we log an error when we can't find a namespace](https://github.com/kyverno/kyverno/blob/831a9826d17ed067d8bfd095b0ebea40e3aec109/pkg/common/common.

[2021-11-16 18:25] JimBugwadia commented on #2719
@seh - that would work, but could it be confusing that YAML keys are not guaranteed to be ordered, but sequences are (if I understand the spec correctly - https://yaml.org/spec/1.2.2/#3221-mapping-key-order)?

If we can be flexible on the input, and have Kyverno just figure out what to do based on the variable types, that seems like the best overall user experience to me.

[2021-11-16 18:31] seh commented on #2719
Yes, I was proposing deliberately that we _order_ these bindings and tests/preconditions, as their evaluation order is crucial to their meaning and consequences.

[2021-11-16 23:47] dkulchinsky commented on #2549
@JimBugwadia @realshuting any thoughts on this? we have upgraded Flux today to latest release (0.23.0) and indeed we see this issue occuring more often and it's affecting new deployments that don't get the required generated resources.

in our case however, this seems to be compounded with https://github.com/kyverno/kyverno/issues/2609 which mutates a label to the the new Service Account resource

[2021-11-16 23:56] dkulchinsky commented on #2609
Hey @vyankyGH 👋🏼

any thoughts on this? we're impacted by this issue quite a bit 😞  and unfortunately this is now compounded with https://github.com/kyverno/kyverno/issues/2549

we depend on Kyverno to add a Label to `v1/ServiceAccount` resource so that related resources would be generated, the mutation is failing so the dependant generate resources are not created as well, breaking our deployment

[2021-11-17 01:08] JimBugwadia commented on #2549
Hi @dkulchinsky - are you also seeing GenerateRequests with no status as @artem-nefedov mentions above (https://github.com/kyverno/kyverno/issues/2549#issuecomment-945456000)?

[2021-11-17 01:25] dkulchinsky commented on #2549
Hey @JimBugwadia, in my case there's no GR and I think my situation is likely to be caused by the other issue I referenced (#2609), mutation fails which doesn't add the label that the generate rules have in their selector.

I'm sorry if I'm adding noise here, but it's somewhat difficult to try and untangle what's going on 😞

[2021-11-17 02:34] dkulchinsky commented on #2609
@vyankyGH I just installed Kyverno v1.5.2-rc1 in our sandbox cluster

I'm still seeing these errors in the new version, however mutation seem to be working! so perhaps this is partially addressed in the new version?

[2021-11-17 02:37] JimBugwadia commented on #2549
@dkulchinsky - no problem, got it!

[2021-11-17 09:00] ojhaarjun1 commented on #2711
Hey @seh, the webhook is receiving the policies with `managedFields` added by Kubernetes. Is there a way to skip the path `spec/rules` in Flux?

[2021-11-17 09:44] rparke opened #2731 "Adding custom configuration into the helm charts"
We're currently deploying Kyverno to our test k8s clusters where pod security policy is in place. As a result, in order to get Kyverno working properly we deploy it to the cluster using a customised manifest where we have created clusterroles and clusterrole bindings (associated with the kyverno service account) giving it access to a privileged psp.

This works but obviously isn't ideal, we manage

[2021-11-17 10:49] arundathi-nirmata opened #2732 "Policy - drop-all-capabilities Rule - autogen-check-init-containers failing even when init container is not present my resource"
**Policy - drop-all-capabilities**
[code]
**Deployment on which the policy is failing**
[code]
In policy report message
[code]

[2021-11-17 11:36] realshuting commented on #2158
Hi @serialoverflow - sorry for the late response, but Kubernetes never calls ValidatingWebhookConfigurations and MutatingWebhookConfigurations on admission requests. See https://github.com/kubernetes/api/blob/b7adf12040d3399c31cde19c6ba59354d5075cb3/admissionregistration/v1/types.go#L193-L199.

There's nothing Kyverno can do to mutate these two resources. Post-mutation is something different. Clos

[2021-11-17 11:36] #2158 closed

[2021-11-17 11:51] realshuting commented on #2524
Hi @luigizhou - can you test this image `ghcr.io/realshuting/kyverno:v1.5.0-rc1-126-gf90b9829` and see if the memory increase again? Basically I moved away from using `resourceCache (informer)` and switched to use client calls for the liveness check https://github.com/realshuting/kyverno/commit/af2873cd453ca3014dfd3425713142b55c5d87db.

[2021-11-17 12:23] chipzoller commented on #2732
Please use the newer version at https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all/

[2021-11-17 13:59] seh commented on #2711
Flux _needs_ to write to the "spec.rules" field. I'm relying on Flux to create and update this _ClusterPolicy_ to begin with. Were it not for Flux, the _ClusterPolicy_ would not exist at all.

The better question is: Why is Kyverno trying to write to the "spec.rules" field at all, given that this manifest has nothing to do with automatically generating rules for pod controllers?

[2021-11-17 14:09] #2729 closed

[2021-11-17 14:16] seh commented on #2524
Does that change actually eliminate the caches, or just stop using them to find these objects? Reading the change, it doesn't look like it disables populating the caches.

[2021-11-17 16:13] JimBugwadia commented on #2609
Hi @dkulchinsky - we found the root cause of the issue. It was related to conversion from [internal CRD names into GVK](https://github.com/kyverno/kyverno/blob/831a9826d17ed067d8bfd095b0ebea40e3aec109/pkg/openapi/validation.go#L214). @vyankyGH is working on a fix.

[2021-11-17 17:12] luigizhou commented on #2524
@realshuting this new image is still giving me the same memory issue (saw usage spikes up to 40gb from prometheus)

[2021-11-17 17:43] dkulchinsky commented on #2609
woohoo!! @JimBugwadia thanks much for the update and effort to fix this 👏🏼  hoping this could still land in 1.5.2 🤞🏼

[2021-11-17 20:17] #2606 closed

[2021-11-17 20:47] chipzoller opened #2734 "New operators to support checking of integers"
**Is your feature request related to a problem? Please describe.**
Support for new operators (AnyIn, AllIn, AnyNotIn, AllNotIn) was added in https://github.com/kyverno/kyverno/pull/2543 by @anushkamittal20 but supports string type comparison only.

**Describe the solution you'd like**
Support comparison to integers including ranged notation of integers (ex., `14-47`). One valid use case is covered

[2021-11-17 21:29] ewash1 commented on #2712
Update: I've observed in my testing that Kyverno crashes once I create a clusterPolicy. Shortly after creating a test policy (the require-labels example) I can observe  Kyverno pods crashing and remaining in CrashLoopBackOff stage. Log output shows the same as posted above. Generating/creating policyReports seems to be causing this issue.

[2021-11-18 05:42] ojhaarjun1 commented on #2711
I see. Right now, `autogen-controllers` is auto-set to `none` when we're using both Pod and Pod Controllers in the policy (see #1847). We can default this to also include the case when Pod is not mentioned at all.

Would this help your case for now? Or I could try to narrow this down to why `spec.rules` is being updated.

cc - @CitadelCore

[2021-11-18 06:47] realshuting commented on #2524
Yes you are right @seh!

I completely removed `resourceCache` from the webhook register and here's the test image `ghcr.io/realshuting/kyverno:v1.5.0-rc1-128-g342c9c0c`. @luigizhou - will you please update to the latest change and let me know the result?

[2021-11-18 09:27] CitadelCore commented on #2711
Like @seh said, there is no reason why Kyverno needs to write to `spec`. The controller should manage the generation of rules internally without touching ClusterPolicy.

[2021-11-18 09:48] luigizhou commented on #2524
Hey @realshuting , just tried with the latest image and I'm still experiencing the huge spike of memory usage.
The pods shows 4 restarts and then goes into CrashLoopBackOff state while on Prometheus I see this
![image](https://user-images.githubusercontent.com/12252426/142391535-c22addd5-5ccc-47ee-98f2-07ce2137165b.png)

[2021-11-18 09:51] realshuting commented on #2524
Can you share heap profiling data?

[2021-11-18 09:57] realshuting commented on #2524
And can you remove `readinessProbe` only just to eliminate other possibilities?

[2021-11-18 10:15] luigizhou commented on #2524
[heap.zip](https://github.com/kyverno/kyverno/files/7561930/heap.zip)
here's the heap profiling. It's a bit difficult to get with the container continuously restarting, not sure if the data there will be useful

[2021-11-18 11:55] ojhaarjun1 commented on #2711
Taking a closer look, turns out both are intertwined. I've opened a PR.

[2021-11-18 12:08] CitadelCore commented on #2711
@ojhaarjun1 This is still just a workaround rather than resolving the root cause, autogen shouldn't ever add anything to spec.

[2021-11-18 12:12] ojhaarjun1 commented on #2711
Autogen is supposed to write to `spec.rules` when working with Pods (https://kyverno.io/docs/writing-policies/autogen/). Isn't that the primary use case for it?

[2021-11-18 13:15] luigizhou commented on #2524
sorry, missed this reply. Even when removing readinessprobe I see the spike in memory so didn't help sadly

[2021-11-18 14:38] mrjoelkamp opened #2738 "[BUG] [imageVerify] verifyImages rule type is not enabled in background scan"
**Software version numbers**
* Kubernetes version: `1.19`
* Kubernetes platform: `EKS`, `Kind`
* Kyverno version: `release-1.5`

**Describe the bug**
Policy reports are not generated for policies with the `verifyImages` rule.

@realshuting:

**To Reproduce**
1. Remove all policies
2. Add [verify-images policy](https://kyverno.io/docs/writing-policies/verify-images/) with `background: true`
3. Obse

[2021-11-18 14:47] realshuting commented on #2524
No problem, I just wanted to confirm it's the issue with `livenessProbe`.

[2021-11-18 14:48] seh commented on #2711
If that's so, then we're going to have a hard time using that feature with Flux, given that "spec.rules" is an an array and hence can only be replaced by Strategic Merge Patches, for lack of a merge key on the "name" field.

[2021-11-18 15:15] MarcelMue commented on #2653
This is merged now - is there something you want to test on top of the automated tests before closing @chipzoller ?

[2021-11-18 15:32] chipzoller commented on #2653
Not if those automated tests are including the CLI and achieve the desired result.

[2021-11-18 15:36] MarcelMue commented on #2653
Should be done as intended by this isssue - so we can close here:
https://github.com/kyverno/kyverno/pull/2688/files#diff-bc56a95a6c0ad58ca179b1aeb1ca96662ca3f59a8039b5a493c1bafb2c9f4c0eR2-R22

[2021-11-18 16:42] CitadelCore commented on #2711
A proper solution would be for the controller to generate the rules specified by the autogen annotation internally when running the policy. In my opinion, it's bad practice for a controller to write back to the spec of a resource.

[2021-11-18 18:06] JimBugwadia commented on #2711
The reason for generating the rules (vs. applying internally), was to allow users to update and customize the rules.

An option would be to create the generated rules in a separate policy. That should be possible to handle via Flux and ArgoCD, right?

[2021-11-18 18:23] seh commented on #2711
Is it the case that Kyverno will only generate and write the rules once? Will it "fight" another agent that edits the generated rules? That seems confusing if so. If Kyverno _doesn't_ "fight," it's _also_ confusing, as a user could "break" the generated rules and want Kyverno to write them again, and wonder how to induce it to do so.

Creating the rules in a separate policy would be fine, in that

[2021-11-18 18:58] CitadelCore commented on #2711
I think if users want to make customisations to the generated rules they should remove the equivalent resources from `pod-policies.kyverno.io/autogen-controllers` and define them explicitly. That's what I'd usually expect to have to do.

[2021-11-18 20:34] JimBugwadia opened #2739 "[BUG] verify-image attestation signature is not checked"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.1

**Describe the bug**

When checking attestations, the OCI signature is not verified.

**To Reproduce**

Follow the example in the docs for attestations. Change the public key. The check is still successful.

**Expected behavior**

The check should f

[2021-11-18 23:56] dkulchinsky commented on #2229
@chipzoller any idea if this is going to be picked up for implementation any time soon?

[2021-11-19 03:08] chipzoller commented on #2229
Not heard any movement here.

[2021-11-19 13:32] seh commented on #2711
Kyverno should not have permission to update or patch the "clusterpolicy" and "policy" resources. It should write only to a "clusterpolicy/status" and a "policy/status" subresource.

If we'd like these generated rules in a proper object, we should introduce new resources like "generatedclusterpolicy" and "generatedpolicy" that Kyverno "owns."

[2021-11-19 14:27] artem-nefedov commented on #2549
As for me, I only observed the issue with generate, not mutation.

[2021-11-19 14:47] realshuting commented on #2711
Kyverno adds auto-gen rules patches through mutating webhook by JSON Patch, there's no permission configured at this point. But why would this matter?

Besides auto-gen, Kyverno also adds default values to `policy.spec` via admission webhook, this is a one-time thing. But Kyverno always try and correct auto-gen rules if it has been changed, so it will "fight" other agents which edit the generated

[2021-11-19 15:00] seh commented on #2711
Flux mutates objects via SSA, which would replace the "spec.rules" array that Kyverno wrote with the original "spec.rules" array—the one that Flux reads from the Kubernetes manifest written by the policy author.

If the OpenAPI schema for Kyverno's custom resources doesn't define a "map key" for these "spec.rules" fields, then Kubernetes will treat them as "atomic," meaning that it will replace th

[2021-11-19 15:29] JimBugwadia commented on #2711
Seems like using a `merge` key could be the immediate approach to try out?

Longer term, if needed, we can explore writing the new generated rules to a new policy resource, using a new `generatedpolicy` resource type, or using a sub-resource.

[2021-11-19 19:21] JimBugwadia opened #2742 "[BUG] missing predicate type does not show an error"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): : n/a
* Kyverno version: 1.6

**Describe the bug**

Kyverno policies with a predicate type check for data in the predicates. However, if there are no predicates of the specified type the rule passes.

**To Reproduce**

Follow the docs example for predicates. Change the predicate

[2021-11-19 21:00] ewash1 commented on #2712
Kyverno helm deployment is stable until trying to create policies / install kyverno-policies helm chart. After installing the policies helm chart, the kyverno pods crash with similar log output as shown above. I also notice that the resource validating webhooks disappear
![image](https://user-images.githubusercontent.com/94005123/142691063-75456f7d-1203-43e7-8e85-37f37abe57ec.png)

[2021-11-19 22:52] JimBugwadia commented on #2712
Hello @ewash1 - this issue may be the same as https://github.com/kyverno/kyverno/pull/2696.

Can you please try with the `latest` image or this private image (ghcr.io/jimbugwadia/kyverno:v1.6.0-130-g8a0d465d) I built for a different fix from the `main` branch?

[2021-11-20 11:51] lakshya8066 commented on #2699
@chipzoller I was looking at the code walkthrough of Policy validation. I figured we can add the test [here](https://github.com/kyverno/kyverno/blob/main/pkg/policy/validate.go#L1158) but I am not sure.
Could you point me to some resources where I can understand validating policies and the tests that we need to add?

[2021-11-20 16:42] zeborg commented on #1334
Hey @chipzoller @JimBugwadia, here are some updates on the issue _(sorry for the long delay!)_:

* Logging the `AdmissionReview` or `AdmissionRequest` payload actually exposes the variable values in base64 format in case of a resource with `kind: Secret`.
* The logged payload is printed in a single-line unformatted state containing lots of escape characters, which makes it quite hard to make sense

[2021-11-20 17:35] chipzoller commented on #1334
In order to make the UX nice, I wonder if we can redact values in secrets like this and where they're consumed. It's probably require more work as we couldn't just look for kind: Secret. The obvious challenge here is balancing securing this output with being able to switch it on and consume it simply.

[2021-11-20 21:31] JimBugwadia commented on #1334
I propose we decouple this functionality from logging, as there are other use cases to consider for observability.

@zeborg - regarding the question on the different loggers, its a bit of a mess. We had started with `glog` and then moved to `zap` but need to stay compatible with Kubernetes loggers. We also do not have a great way to internally manage module level loggers, and method signatures are

[2021-11-20 21:47] JimBugwadia commented on #2699
Hi @lakshya8066 - we should generalize this check i.e. not just perform it for API calls but for any JMESPath variable declaration.

You can write a method to check for non-escaped start of variable declarations `{{` (should not match `\{{`) and make sure a matching end `}}` is found for each start.

[2021-11-20 21:48] JimBugwadia commented on #2699
This method could the right home for the check described above: https://github.com/kyverno/kyverno/blob/8a0d465d9084963f5d84603633215bbb82f8a645/pkg/policy/validate.go#L341

[2021-11-21 19:54] Amr-Aly commented on #1490
Having the same issue, any ETA on this?

[2021-11-21 22:08] JimBugwadia opened #2745 "Support Git paths for "kyverno apply" command"
**Is your feature request related to a problem? Please describe.**

The Kyverno CLI currently expects policies to be in a local folder or file. This is difficult to use in a CI/CD pipeline.

**Describe the solution you'd like**

Would be great to apply policies in a git repository to a cluster as follows:

[code]

**Additional context**

Currently using a Git path causes a panic:

[code]

[2021-11-21 22:13] JimBugwadia opened #2746 "Simplify using branches in Kyverno CLI commands that use Git paths"
**Is your feature request related to a problem? Please describe.**

Some CLI commands allow specifying a Git path. For example:

[code]

Here the branch is the last entry in the path. Its not very obvious how to use different branches and paths.

**Describe the solution you'd like**

Allow specifying a branch separate from the path. For example:

[code]

[2021-11-21 22:34] JimBugwadia commented on #1490
I installed `[prometheus-adapter](https://github.com/kubernetes-sigs/prometheus-adapter#installation)` and Kyverno 1.5.2-rc1 and the pod security policies:

[code]

I then tried to run a insecure pod, and its blocked as expected:

[code]

In my logs, I do see the errors on not being able to fetch API server metadata:

[code]

However, I am not seeing any other issues as Kyverno is able to run and

[2021-11-22 06:20] realshuting commented on #2524
Got a new test version `ghcr.io/realshuting/kyverno:v1.5.0-rc1-129-gb74084a0`, @luigizhou - kindly let me know if it solves the issue.

I tried to reduce liveness probe interval to 1s, and with no policy installed, still could not reproduce the issue. It makes it hard to figure out what exactly the issue is. I'll probably ask you to verify further test versions, I really appreciate it.

[2021-11-22 08:14] rchrd opened #2747 "[BUG] CRDs are cached causing failure when deploying policy"
**Software version numbers**
* Kubernetes version: v1.21.4
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Rancher Desktop (k3s)
* Kyverno version: v1.5.1 (deployed with Helm chart v2.1.3)

**Describe the bug**
It seems Kyverno caches the CRDs that present in the cluster at startup. If a new CRD is deployed followed by a policy for this CRD, the policy cannot be configured in the

[2021-11-22 12:03] viveksahu26 commented on #2745
/assign

[2021-11-22 12:23] stg-0 opened #2748 "[BUG] Validation error when using variables as integers"
**Software version numbers**

* Kubernetes version: v1.20
* Kyverno version:  v1.5.1 (not seen in v1.4.3)

**Describe the bug**

When creating a mutating rule using variables as integers, the policy cannot be created due to the following validation error:

`Error from server: error when creating "sillyPolicy.yaml": admission webhook "validate-policy.kyverno.svc" denied the request: ValidationError

[2021-11-22 13:45] zeborg opened #2749 "[BUG] Logs with verbosity level above 2 not being displayed even after setting required `-v` flag value"
**Describe the bug**
While trying to display logs till a specific verbosity level in a pod using the `-v` flag, it seems like it does not display any logs having verbosity level above 2.

**To Reproduce**
Take any action that triggers an admission webhook, such as creating a policy or resource.

An example would be to apply the following policy:
[code]

**Expected behavior**
After applying the pol

[2021-11-22 13:52] #2162 closed

[2021-11-22 13:52] #2254 closed

[2021-11-22 13:52] #2285 closed

[2021-11-22 14:04] zeborg commented on #2746
/assign

[2021-11-22 14:12] NearchPasipou opened #2750 "When uninstalling kyverno helm chart pods are stuck in "terminating" state indefinitely [BUG]"
**Software version numbers**
* Kubernetes version: 1.19
* Kubernetes platform: EKS
* Kyverno version: 2.1.4

**Describe the bug**
When deleting (from ArgoCD) the kyverno helm deployment (I guess equivalent to helm uninstall command), the kuverno pods are stuck indefinitely to "terminating" state.
It is not always the case. Some times deployment is deleted as expected. (33% chance to reproduce the

[2021-11-22 14:22] chipzoller commented on #2749
Show where and how you're setting this. I know this works (or did work in the past) because I used it often.

[2021-11-22 15:19] ojhaarjun1 opened #2751 "[BUG] Disable autogen for policies without Pod"
**Describe the bug**
[missingAutogenRules()](https://github.com/kyverno/kyverno/blob/5c16ee738af04cfeb41b0fc4557d06762d268651/pkg/policy/policy_controller.go#L575) updates spec.rules when policy doesn't mention Pod

**Additional context**
Branched from #2711
See PR #2737

[2021-11-22 16:00] zeborg commented on #2749
Hi @chipzoller, the way I'm trying to do so is by adding the `-v` flag at the end of `kubectl logs` command after mentioning the namespace and pod _(eg. `kubectl logs -n kyverno kyverno-7dc7f46bd7-g5jlp -v 4 | less`)_. I just noticed that it hasn't been documented in the kubectl ref docs as well, but it also doesn't show me any error while trying to add `-v`, which should have been the case had it

[2021-11-22 16:04] chipzoller commented on #2749
That won't do anything. To increase log level for Kyverno, you need to add the `-v` flag as an argument to the main Kyverno container.

From https://kyverno.io/docs/troubleshooting/

[2021-11-22 16:47] MaxRink opened #2752 "[BUG] Kyverno crashLooping with TypeAssertionError"
**Software version numbers**
* Kubernetes version: 1.20.13
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): CAPI, so upstream Kubeadm based
* Kyverno version: 1.5.1

**Describe the bug**
We upgraded to Kyverno 1.5.1 and noticed that Kyverno is Crashlooping with
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 1.4.x to 1.5.1

**Expected behavior**
Kyverno is

[2021-11-22 17:03] JimBugwadia commented on #2750
This was fixed via https://github.com/kyverno/kyverno/issues/2623.

@NearchPasipou - can you please try the 1.5.2-rc2 image?

[2021-11-22 17:44] vyankyGH commented on #2747
@rchrd This issue fixed with this PR (https://github.com/kyverno/kyverno/pull/2634).
After installing CRD, It take 15-20 sec to sync.

[2021-11-22 18:49] #2742 closed

[2021-11-22 19:51] zeborg commented on #2749
Oh, I see. Thanks for mentioning it.

I guess It would be simpler in terms of UX to implement this as a CLI flag instead of having the need to edit the deployment in every such scenario, however I'm not really sure if we can directly or indirectly deal with `kubectl` flags or their desired output within our code _(through some sort of API)_, or if there's a better way/workaround to deal with the v

[2021-11-22 22:00] chipzoller commented on #2749
There's really nothing `kubectl` can do here as increasing its verbosity flag has no effect on what gets displayed from a Pod. You have to be able to tell Kyverno to emit those logs when they previously don't exist.

[2021-11-22 22:41] ewash1 commented on #2712
hi @JimBugwadia thanks for the response. I've been using the `latest` image with no luck.

[2021-11-23 05:58] lakshya8066 commented on #2699
Thanks, @JimBugwadia! I tried to write a test for the same in the function. I am checking if `vars` has any variable starting with `{{` and if it does, it should also have `}}` in the end.
I'm not very sure about the structure of the variables that come in so I need to set up the development environment locally in order to test it out.

[2021-11-23 06:50] #2749 closed

[2021-11-23 07:12] JimBugwadia commented on #2752
@MaxRink - was this an upgrade of a prior install, or a fresh 1.5.1 install?

See: https://github.com/kyverno/kyverno/pull/2696 for an issue found during an upgrade.

[2021-11-23 08:26] ShubhamPalriwala commented on #2617
@JimBugwadia @MarcelMue For the SAST, I tried out GiHub's CodeQL on my fork. The action that has the codeql job is [here](https://github.com/ShubhamPalriwala/kyverno/runs/4296226768?check_suite_focus=true#logs). Attaching a screenshot for the same:
![image](https://user-images.githubusercontent.com/55556994/142990943-4039cebb-bce6-437e-a7dd-54381896d51e.png)

My only concern is it is taking 30 min

[2021-11-23 09:19] zeborg commented on #2746
Hey @JimBugwadia, just to confirm, is the format supposed to be like:
`kyverno test https://github.com/{user_or_org}/{repo}/{directory}  --git-branch {branch}` ?

I'd also like to know all the existing kyverno CLI commands for which you're looking forward to implement this, and if we're going to deal with the subdirectories of the specified directory as well.

[2021-11-23 09:38] schrej commented on #2752
###### I'm working in the same team as Max.
This happened during an upgrade from 1.4.1 (not 100% about the patch version). This one here might be a duplicate of #2712, they look very similar.

[2021-11-23 11:29] realshuting commented on #2752
Hi @schrej - did you upgrade Kyverno using Helm? If so, please follow [this](https://kyverno.io/docs/installation/#upgrade-kyverno-with-helm) upgrade instruction to update CRD versions.

You can also verify if the CRD is upgraded to new version by `kubectl api-resources | grep wgpolicy`. You should see version `v1alpha2` for both policy CRDs.
[code]

I was able to reproduce this issue when upgradi

[2021-11-23 11:31] realshuting commented on #2712
Hi @ewash1 - did the issue happen during upgrade? If so, please see https://github.com/kyverno/kyverno/issues/2752#issuecomment-976423647 and let me know if that solves your issue. Otherwise, can you attach reproduce steps for me to verify?

[2021-11-23 11:37] MaxRink commented on #2752
the CRDs are up2date, we are currently applying them externally through flux.
In general, CRD upgrades through Helm /already/ worked for us before as we are using flux which can do that
https://fluxcd.io/docs/components/helm/helmreleases/#crds

[2021-11-23 11:38] anushkamittal20 opened #2754 "Change existing test.yaml to new format [BUG]"
**Is your feature request related to a problem? Please describe.**
Looking at the new format supported by [kyverno](https://github.com/kyverno/kyverno/pull/2733) all the relevant test.yaml should be changed. Some are already changed in the PR linked above.

**Describe the solution you'd like**
[code]
the relevant yaml files should be like this

**Additional context**
[this issue](https://github.co

[2021-11-23 11:58] realshuting commented on #2752
I just tried again and Kyverno is running fine. Here's the log:
[code]

Pod status during upgrade:
[code]
And new policy report is created:
[code]

From the log message, it looks like Kyverno tries to access a nil interface. So I added a nil check and pushed a test image for you `ghcr.io/kyverno/kyverno:test-crash`. Can you please verify and let me know if it fixes the issue?

[2021-11-23 12:10] vyankyGH commented on #2750
I have tested today with  1.5.2-rc2 image, uninstall kyverno works for me.

[2021-11-23 13:45] zeborg commented on #2746
One more question that I missed out on earlier:

Since this change would affect the commands that are currently using git paths, do we also need to make it backwards-compatible or are we just planning to modify the previous implementation to strictly use `--git-branch` for specifying the desired branch?

[2021-11-23 14:00] viveksahu26 commented on #2194
Hey @JimBugwadia , I am trying to relate ImageVerifyRule with Validate rule. Correct me know if I'm wrong.

Case for `pass`
ATM, as in the `validate` rule, if resource validate against the rule then it would be pass.
Similarly, the key provided by user in the `imageVerifyRule` matches with the key present in OCI registory then the result would be pass.

Case for `fail`
In the `validate` rule if re

[2021-11-23 14:50] MaxRink commented on #2752
i currently dont have a cluster where we still have that issue.
I deleted all offending PolicyReports to unbreak them yesterday

[2021-11-23 17:46] fjogeleit opened #2755 "[BUG] Managing only Kyverno related (Cluster)PolicyReports"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.5.1

**Describe the bug**
More Tools and Adapters start to adopt the (Cluster)PolicyReport with different jobs. So, it will be not unusual that multiple tools using the CRD are running in one Cl

[2021-11-24 00:38] realshuting commented on #2524
@luigizhou - any update on this?

[2021-11-24 00:45] realshuting commented on #2752
Ok, deleting old PolicyReports is another workaround. Kindly let me know if you still see the issue with the latest change.

[2021-11-24 00:52] realshuting commented on #2702
Closed via #2703.

[2021-11-24 00:52] #2702 closed

[2021-11-24 04:40] vyankyGH commented on #2527
@chipzoller I copy this file locally and apply then we are not seeing this error, get installed properly. Only if directly apply from URL will get those error.

[2021-11-24 07:16] anushkamittal20 commented on #2359
Hi @dkulchinsky
I was hoping that you could retest this using `docker pull ghcr.io/anushkamittal20/kyverno:latest` from [https://github.com/users/anushkamittal20/packages/container/package/kyverno](https://github.com/users/anushkamittal20/packages/container/package/kyverno).
I have added a check that should prevent the issue.
Thank you very much!

[2021-11-24 08:16] JimBugwadia commented on #2746
Hi @zeborg

Yes, that seems clear.

I believe we currently only support the git path in the test command. We can add support in the apply command for now. Yes, the behavior would be to recurse into sub-directories like we do for the test command.

Yes, would be best to still allow the branch to be supplied as the last entry in the path, if not specified explicitly. If the `--git-branch` is specifi

[2021-11-24 09:29] baaaaast opened #2756 "[BUG] {{image}} logic doesn't work correctly with container whose name contains a dash"
**Software version numbers**
* Kubernetes version: 1.21
* Kyverno version: 1.5.1

**Describe the bug**
The [prepend image registry policy](https://github.com/kyverno/policies/blob/main/other/prepend_image_registry/prepend_image_registry.yaml) throws an error if my container or my initContainer has a dash in its name.
It fails with :
`"msg"="failed to apply mutation rules on the resource, reporting

[2021-11-24 12:06] chipzoller commented on #2527
There was probably a correction to the manifest since then. I'll close this.

[2021-11-24 12:06] #2527 closed

[2021-11-24 12:16] ShubhamPalriwala commented on #2431
@JimBugwadia How does this look?
[code]

As much as I could read about the policycontroller on our official website,
[code]
Based on the fact that it only watches and fetches the resources, this is what I think we should go ahead with. However, as discussed in the meeting, I am providing with the `update` role to the namespace resources and all the clusterwide resources can have the `get list watc

[2021-11-24 13:11] realshuting commented on #2712
@ewash1 - were you able to verify the above comment?

[2021-11-24 13:33] realshuting commented on #2752
Hi @MaxRink and @schrej - the issue should be fixed in 1.5.2-rc1 via this PR https://github.com/kyverno/kyverno/pull/2696.   I was investigating the wrong version (:

Please let us know if you still see the issue with 1.5.2. I'm closing the issue for now.

[2021-11-24 13:33] #2752 closed

[2021-11-24 13:34] realshuting commented on #2712
Hi @ewash1 - the issue was fixed in 1.5.2-rc1, can you please verify with image tag `v1.5.2-rc1`? Thanks!

[2021-11-24 13:55] ShubhamPalriwala opened #2758 "Sign Kyverno Helm Chart"
**Is your feature request related to a problem? Please describe.**

Sign our Helm release using Cosign as it now shows if it is verified on Artifacthub.
Found out by @JimBugwadia via this [tweet](https://twitter.com/cncfartifacthub/status/1462824128390606858)

Documentation to follow: https://github.com/sigstore/helm-sigstore/blob/main/USAGE.md

[2021-11-24 14:08] NearchPasipou commented on #2750
Trying to pull: docker pull ghcr.io/kyverno/kyverno:v1.5.2-rc2
and does not work. Is this image in another registry?

[2021-11-24 14:17] #2609 closed

[2021-11-24 14:46] NearchPasipou commented on #2750
1.5.2-rc1 image works for me, I guess v1.5.2-rc"2" was a typo.

[2021-11-24 14:46] #2750 closed

[2021-11-24 15:17] JimBugwadia commented on #2431
@ShubhamPalriwala  besides the namespace  resource itself, we will need to support all other namespaced resources from the workload API (Pod, Deployment, etc.)

[2021-11-24 16:58] MarcelMue opened #2759 "Handle ConfigMaps natively in contexts"
**Is your feature request related to a problem? Please describe.**
Currently configmaps which contain multiline strings are split into an array of strings, split at each new line.
This causes implementations relying on multiline strings to be very complex.

**Describe the solution you'd like**
The core idea is to handle configmaps completely natively and convert contents to `json`/`go interfaces`

[2021-11-24 17:06] MarcelMue commented on #2759
I have tested this also in a fork - the changes are currently non compatible and will need more work. Mostly a PoC:
https://github.com/giantswarm/kyverno/pull/3
You can check it with this image:
[code]

[2021-11-24 17:12] ShubhamPalriwala commented on #2431
Can you please help me as to how can I do that?
I still updated the roles further on the basis of providing the namespace resources the ability to update, and both the cluster-wide roles do not have the update verb

[code]

[2021-11-24 20:27] JimBugwadia commented on #2570
@NoSkillGirl - that would require updating the existing resource, which I believe is the challenge.

Some options to evaluate are:
1. add a new policy attribute to control if existing resources are updated
2. add CLI support to apply a generate policy on existing resources (a one time action)

[2021-11-25 08:42] TheKangaroo commented on #2570
I came here from [kyverno slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1637768858010300).
Actually I think the options by @JimBugwadia are a better fit (at least for our use case, see slack) then relying on a present annotation on the resource itself.
I'm not sure which option is the better fit for the project, but I would like to give it a shot and try to implement one of those options

[2021-11-25 10:27] jduepmeier opened #2760 "[BUG] Validation of ClusterPolicy generation does not check apiVersion"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.9
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): TKGS
* Kyverno version: 1.5.1

**Describe the bug**
It seems that the validation of a ClusterPolicy genrate rule does not check the apiVersion field to check if the kind is namespace scoped. If a kind is has multi

[2021-11-25 10:31] jduepmeier commented on #2760
Ah i think this is a duplicate of #2611

[2021-11-25 10:31] #2760 closed

[2021-11-25 19:15] dkulchinsky commented on #2359
Hi @anushkamittal20, sorry for the delay.

I tried your image, however it kept crashing and I noticed the version is `v1.4.2-355-gc111b827` while we're running v1.5.2-rc1 (in our test cluster)

[2021-11-26 08:24] tegioz commented on #2758
Hi @ShubhamPalriwala 👋

Please note that this feature is only available for [Helm charts stored in OCI registries](https://helm.sh/docs/topics/registries/). When a cosign signature is detected, Artifact Hub will display a label to let users know that the package was signed, so that they can verify it before consuming the artifact. The same label is displayed when a [provenance file](https://helm.s

[2021-11-26 09:49] alecerf commented on #2460
Hi,
We're looking at implementing Kyverno in our clusters and we're having the same issue.
It's crucial for us to have that feature, do you know if you could fix that in a near future version?

On my side the issue is with the CLI (We're implementing on CI/CD side first, then in K8s)
Version: 1.5.1
Time: 2021-10-26T05:18:02Z
Git commit ID: b5e17ee05f44bfd365043e0734594e1e9bc2a7c8

[2021-11-26 18:48] ThibaultLengagne opened #2761 "[BUG] `config.webhooks` in Helm chart non-functional"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform : EKS
* Kyverno version: v1.5.1
* Kyverno Helm chart version : 2.1.3

**Describe the bug**

The helm chart parameter `config.webhooks` is not funcitonal. This parameter does not propagate to the `namespaceSelector` field of the `validatingwebhookconfigurations` of kyverno (`kyverno-resource-validating-webhook-cfg` and `

[2021-11-26 19:41] anushkamittal20 commented on #2359
Hey @dkulchinsky
I noticed the version earlier, but I wasn't sure if that'd cause an issue.
I will push a new image and share the details with you.
Sorry for the confusion.

[2021-11-27 00:32] sjentzsch commented on #2761
I also just learned:

https://kyverno.io/docs/installation/#namespace-selectors

https://docs.google.com/document/d/1Y7_7ow4DgCLyCFQcFVz1vHclghazAKZyolIfprtNURc/edit#

[2021-11-27 01:17] vikas027 opened #2762 "Feature Request - Add priorityClass in helm values"
**Is your feature request related to a problem? Please describe.**
Kyverno is an important pod in any deployment. It would be great if there is a way to assign a priority class name in the helm [values](https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml)

**Describe the solution you'd like**
A field like `priorityClassName` in the [values.yaml](https://github.com/kyverno/kyver

[2021-11-27 02:54] chipzoller commented on #2759
In your first two examples, would the resulting value of the `yaml_to_json` function create an array of strings allowing the same `In` or `NotIn` operators without modification?

[2021-11-27 10:47] luigizhou commented on #2524
Hey @realshuting , sorry I had a busy week at work. Will get back to you on this on Monday at the latest

[2021-11-27 11:07] MarcelMue commented on #2759
Yes - the output would be an array that is just like any other array in JMESPath. I can try to provide an additional proof manifest.

[2021-11-27 15:02] chipzoller commented on #2759
That'd be nice :)

[2021-11-28 10:12] ThibaultLengagne commented on #2761
I will try this solution on Monday and keep you updated. I have looked deeply into the code and can not find anything related to this note.

Nonetheless, the whole purpose of `autoUpdateWebhooks` is to handle the configuration of the webhooks. Why the managed field `NamespaceSelector` would not be configurable so ?

IMHO It is a major feature as Kyverno needs to be scoped so it does not become a S

[2021-11-29 11:50] vyankyGH commented on #2748
@stg-0 can you please try adding schemaValidation: false flag under spec?

[code]

Result
[code]

[2021-11-29 12:15] stg-0 commented on #2748
Thanks for your reply @vyankyGH ! It sure works, and I think it is a nice workaround, but it bypasses any other validation on the schema.

Do you think it would be possible to infer the variable type after validation?

[2021-11-29 12:23] hiteshp39 opened #2764 "[GKE and Kyverno] Getting Internal error occurred: failed calling webhook while doing helm install/uninstall"
**Environment Details:**
Kubernetes GKE Version- 1.21.3-gke.2003
Kyverno Version - V1.5.0

**Issue:**

Hello,

I have installed kyverno( above version) using helm install after pushing the official charts to private repo of chartmuseum.
But after the installation of kyverno ,whenever i am try to uninstall, install any helm chart or delete any existing resources from the cluster
getting below error

[2021-11-29 12:38] chipzoller commented on #2764
See the [troubleshooting page](https://kyverno.io/docs/troubleshooting/) first.

[2021-11-29 12:41] hiteshp39 commented on #2764
Ok Thanks for the update , Let me try applying this firewall rule.

[2021-11-29 14:13] anushkamittal20 commented on #2359
Hey @dkulchinsky I have checked the new image, this should work now
https://github.com/users/anushkamittal20/packages/container/package/kyverno

[2021-11-29 16:04] hackerboy01 opened #2765 "[BUG]Ambiguous results may occur when I use patchStrategicMerge."
**Software version numbers**
State the version numbers of applications involved in the bug.
* Kubernetes version: v1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Kind
* Kyverno version:v1.5.1

**Describe the bug**
Ambiguous results may occur when I use patchStrategicMerge

**To Reproduce**
Steps to reproduce the behavior:

my-policy.yaml:

    apiVersion: kyverno.io/v1
    k

[2021-11-29 17:01] #2739 closed

[2021-11-29 19:06] viveksahu26 commented on #2745
Hi @JimBugwadia , The above command i.e. `kyverno apply https://github.com/kyverno/policies/main --cluster` seems to incomplete, because there is no resource file mention. As in the `apply` command the policy is applied to any resource and in above command there is no resources. So, ATM, it would be like,
`kyverno apply https://github.com/kyverno/policies/main/policy.yaml  -r  https://github.com/k

[2021-11-30 00:31] JimBugwadia commented on #2617
I improved the branch protection checks, and now see a better score:

![image](https://user-images.githubusercontent.com/5489990/143963976-4656b841-ed62-4555-b877-3ecbea722a99.png)

[2021-11-30 00:36] JimBugwadia commented on #2617
For SAST, since it take a while to run, can we execure this during a release? Is [nancy ](https://github.com/sonatype-nexus-community/nancy) a SAST tool?

[2021-11-30 00:48] ziansong opened #2767 "Check deprecated APIs isn't working as expected"
apply cluster policy

name: validate-custom-removals
match:
resources:
kinds:
# - networking.istio.io/v1alpha3/VirtualService
- autoscaling/v2beta1/HorizontalPodAutoscaler
# - networking.istio.io/v1alpha3/Gateway
but autoscaling/v2beta2/HorizontalPodAutoscaler also deny ,why ???

I found that I actually deployed v2beta2 on the eks cluster, but request.object.kind is really v2beta1

[2021-11-30 00:53] JimBugwadia commented on #2745
@viveksahu26 - the intended command should be:

[code]

Besides fixing the panic (when -r is omitted), the goal would be to add support for retrieving the resources from a repository (instead of a directory or file).

[2021-11-30 04:07] vyankyGH commented on #2767
@ziansong Can you please provide complete cluster policy?

[2021-11-30 05:27] ziansong commented on #2767
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: check-deprecated-apis
  annotations:
    policies.kyverno.io/title: Check deprecated APIs
    policies.kyverno.io/category: Best Practices
    policies.kyverno.io/subject: Kubernetes APIs
    policies.kyverno.io/description: >-
      Kubernetes APIs are sometimes deprecated and removed after a few releases.
      As a best practice, o

[2021-11-30 05:28] ziansong commented on #2767
---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: podinfo
  namespace: dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: podinfo
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
    - type: Resource

[2021-11-30 07:29] vyankyGH commented on #2748
I don't think currently possible to infer the variable type before validation. But we will investigate this.
I'm closing this issue now. Please feel to reopen issue if you face any issue.
Thanks.

[2021-11-30 07:29] #2748 closed

[2021-11-30 08:59] realshuting commented on #2712
@ewash1 - new release candidate `v1.5.2-rc2` is out , please verify the fix and let me know if there's still an issue.

[2021-11-30 08:59] #2712 closed

[2021-11-30 09:02] arminc commented on #2069
I have the same problem as @fiunchinho

[2021-11-30 09:14] realshuting commented on #2524
Sure @luigizhou. Did you get a chance to verify it?

[2021-11-30 09:28] vyankyGH commented on #2549
@artem-nefedov we have tested with in 1.5.0+ releases. Not able to reproduce the issue.
Is kyverno running in HA mode?
Can you please provide resource yaml?
Also If possible can you please provide level 4 logs? It will be very helpful.
Thanks.

[2021-11-30 09:36] vyankyGH commented on #2767
Thanks @ziansong. will check and get back.

[2021-11-30 10:15] vyankyGH commented on #2767
@ziansong which kyverno version are you running?
we have tested with current version, works fine.
**horizontalpodautoscaler.autoscaling/podinfo created**

[2021-11-30 10:26] hiteshp39 commented on #2764
Thank you for the above suggestion ,it fixed the issue.

[2021-11-30 10:26] #2764 closed

[2021-11-30 11:14] luigizhou commented on #2524
Hi @realshuting sorry for the delay. I'm still getting the same memory issues (memory usage shoots up to 20gb)
Attaching heap.pprof here

[heap.zip](https://github.com/kyverno/kyverno/files/7625247/heap.zip)

[2021-11-30 13:28] ninuxio opened #2772 "[BUG] - Logging issue - unexpected error in logs about invalid quantity in resource"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): kind + openShift
* Kyverno version: 1.4.3

**Describe the bug**
A clear and concise description of what the bug is.

I have many log on kyverno container like this one
`"msg"="invalid quantity in resource" "error"="

[2021-11-30 14:58] realshuting commented on #2772
Not sure if https://github.com/kyverno/kyverno/pull/2753 fixes the issue, it's worth verifying once the change is merged.

[2021-11-30 16:49] seh opened #2774 "[BUG] Kyverno fails to evaluate the "regex_replace_all" function and passes through JMESPath expression"
# Software Environment
* *Kubernetes version:* 1.22.4
* *Kubernetes platform:* _kOps_ in AWS EC2
* *Kyverno version:* 1.5.0

# Description
Kyverno advertises [a `regex_replace_all` JMESPath function](https://kyverno.io/docs/writing-policies/variables/#jmespath-custom-functions). When I try to use it to set an environment variable value in a pod spec, Kyverno copies the JMESPath expression through

[2021-11-30 18:37] JimBugwadia commented on #2549
@vyankyGH - based on this clue above, have you investigated how a GR could be created with no status? And if this happens, how will Kyverno recover from this situation?

https://github.com/kyverno/kyverno/issues/2549#issuecomment-945456000

[2021-11-30 18:43] olljanat opened #2775 "[BUG] label precondition breaks unless there is label on all pods"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.22.3+rke2r1
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): RKE2
* Kyverno version: v1.5.1

**Describe the bug**
Label preconditions like `{{request.object.metadata.labels.\"vcluster.loft.sh/namespace\"}}` fails to error like this on pods which does not have that l

[2021-12-01 02:06] Danny-Wei commented on #2273
Hi @realshuting, do you have any other concerns about it? If you agree, I can submit a pull request for it.

[2021-12-01 03:51] ziansong commented on #2767
eks version1.21  kyverno version1.5.1

[2021-12-01 05:17] ziansong commented on #2767
kubectl apply -f testhpa2.yaml
deployment.apps/podinfo configured
Error from server: error when creating "testhpa2.yaml": admission webhook "validate.kyverno.svc-fail" denied the request:

resource HorizontalPodAutoscaler/dev/podinfo was blocked due to the following policies

check-deprecated-apis:
  validate-custom-removals: not use deprecated apiversion，autoscaling/v2beta1/HorizontalPodAutoscale

[2021-12-01 06:44] realshuting commented on #2524
Hi @luigizhou - how did you check the memory usage? With Prometheus?

I checked the heap file, but it shows `199.45MB` in total and it's way less than 20GB:
[code]
How did you generate this heap file? If possible, can you please also generate the graph and share with me?

And just to confirm, there is no ClusterPolicy / Policy installed in the cluster right?

[2021-12-01 06:52] vyankyGH commented on #2767
@ziansong No, i don't think its related to aws/eks. Can you please confirmed apiVersion of resource? may be it should be autoscaling/v2beta1.

[2021-12-01 07:48] hackerboy01 commented on #2765
@realshuting @vyankyGH
now I provide a normal case
my-policy2.yaml:

    apiVersion: kyverno.io/v1
    kind: Policy
    metadata:
      name: add-labels
    spec:
      rules:
      - name: add-labels
        match:
          resources:
            kinds:
            - Deployment
        mutate:
          patchStrategicMerge:
            spec:
              template:
                metadata:

[2021-12-01 07:56] vyankyGH commented on #2765
@hackerboy01 in the 1st case value get replace because, in kubernetes, patchStrategicMerge for matchExpressions is **replace**
https://github.com/kubernetes/api/blob/4c321cf829a0903b78bc4192c680e2028936278e/core/v1/types.go#L2762.

you can try same policy by using Foreach (https://kyverno.io/docs/writing-policies/mutate/#foreach)

[2021-12-01 10:34] luigizhou commented on #2524
@realshuting that's correct, I'm checking the memory usage through Prometheus.
The heap file always showed a lower memory usage which I mentioned a couple of time before

I can reproduce the spike in memory usage in both cases where there are clusterpolicies installed or not.

I've generated the heap by doing port-forward of port 6060 and running curl http://localhost:6060/debug/pprof/heap > heap.

[2021-12-01 15:04] JimBugwadia commented on #2273
Hi @Danny-Wei have you considered implementing this as a custom JMESPath function instead? That may be.a bit clearer in intent and avoids potential conflicts.

[2021-12-01 18:03] developer-guy commented on #2586
kindly reminder @JimBugwadia, we are so excited about working on this.

[2021-12-01 18:04] developer-guy commented on #2584
Fixed by #2607

[2021-12-01 18:04] #2584 closed

[2021-12-01 18:40] JimBugwadia opened #2777 "Support apiCalls in the CLI when `--cluster` is used"
**Is your feature request related to a problem? Please describe.**

Currently the CLI expects the user to supply variables, including ones from API calls. This makes sense when the CLI is used without cluster access. However, when the CLI is used with a cluster the API calls should be performed against the cluster.

**Describe the solution you'd like**

When the `--cluster` option is used, API cal

[2021-12-01 21:47] JimBugwadia commented on #2586
Hi @developer-guy - thanks for the nudge! I am very interested in this as well, but have not had the time to research in more detail. However, we can probably start with some simple scenarios and expand from there.

One question I have is how this intersects with verifying predicates from in-toto attestations.

i.e. if the SBOM is managed as a attestation, like [this](https://anchore.com/blog/drop

[2021-12-01 22:03] JimBugwadia opened #2780 "Remove unused permissions from kyverno:webhook roles"
**Is your feature request related to a problem? Please describe.**

The Kyverno webhook role currently has several unused permissions:

[code]

**Describe the solution you'd like**

Remove unused permissions from the role.

[2021-12-02 00:49] ziansong commented on #2767
I've tried this test many times and I'm sure I used it v2beta2

piVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: podinfo
  namespace: dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: podinfo
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization

[2021-12-02 01:04] ziansong commented on #2767
also - scheduling.k8s.io/v1beta1/PriorityClass
        - storage.k8s.io/v1beta1/StorageClass  same question

[2021-12-02 01:10] Danny-Wei commented on #2273
Alright, I will try to add a custom JMESPath function to solve it.

[2021-12-02 03:24] vyankyGH commented on #2767
@ziansong thanks for response. Will update you soon.

[2021-12-02 08:31] JimBugwadia commented on #2356
This is now addressed in 1.5.x.

[2021-12-02 09:34] hackerboy01 commented on #2765
@vyankyGH Using Foreach can't seem to solve  the 1st case，can you use Foreach  translate my-policy.yaml ?

[2021-12-02 09:52] vyankyGH commented on #2765
@hackerboy01 have tested with foreach, facing the same issue. I'm working with @realshuting on this, get back to you.
Thanks.

[2021-12-02 13:18] domruf opened #2783 "installing kyverno as helm dependency fails when trying to use CustomResourceDefinition"
**Software version numbers**

* Kubernetes version: 1.20.8
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): rancher
* Kyverno version: v2.1.3

**Describe the bug**
When tyring to install kyverno as a dependency in my own helm chart I get this error
```Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ClusterPolicy" in vers

[2021-12-02 16:16] dkulchinsky commented on #2714
@NoSkillGirl @ojhaarjun1 any thoughts on this? we had a similar case happen yesterday with 1.5.2-RC2 (discussed here: https://kubernetes.slack.com/archives/CLGR9BJU9/p1638379761093300)

this is somewhat unrelated, for some reason two GRs were created for the same source resource, the 2nd one was in `Failed` state and when we deleted the source resource the `Completed` GR was removed, but the `Fail

[2021-12-02 16:18] dkulchinsky commented on #2570
I'd vote for option (1) 😄  mostly because it would allow us to enable/disable it on the policy level and roll out through our GitOps pipeline.

[2021-12-02 18:56] ojhaarjun1 commented on #2783
Hey @domruf - Seems like this is a more general problem with Helm 3:
- https://banzaicloud.com/blog/helm3-the-good-the-bad-and-the-ugly/#crd-as-a-first-class-citizen
- https://stackoverflow.com/a/60295868

Please correct me if I'm wrong.

[2021-12-02 21:18] roeelandesman commented on #1490
I'd like to +1 this in hopes of (admittedly, selfishly) pushing the fix into milestone 1.5.3 as I'm seeing the same errors.