[2020-11-29 21:40] bechampion commented on #1336
btw in minikube i get this with 1.2 and 1.3.0-rc5
[code]

[2020-11-29 21:43] bechampion commented on #1336
I've installed it `creating` the install.yml manifest and :+1:
[code]
So it is definitely maybe something on GKE?

[2020-11-29 21:47] nathanwang-comp commented on #1328
Test match name, it is same as selector
Works
[code]
Not working
[code]

[2020-11-29 22:08] bechampion commented on #1336
v1.17 , pretty much the same story , the only difference as far as i can see , is that the these two are always registered now:
[code]

[2020-11-29 22:09] bechampion commented on #1336
I'm trying on v1.18 on the rapid channel. I'll post the result tomorrow.

[2020-11-29 22:29] nathanwang-comp commented on #1328
@JimBugwadia I test with 1.3.0-rc5.
if the selector is not at same level as Kinds, deploy policy fails as
`error: error validating "resources/imagepolicy.yaml": error validating data: ValidationError(ClusterPolicy.spec.rules[0].match): unknown field "selector" in io.kyverno.v1.ClusterPolicy.spec.rules.match; if you choose to ignore these errors, turn validation off with --validate=false`
If it at

[2020-11-29 22:51] JimBugwadia commented on #1328
@nathanwang-comp - yes, the selector should be under resources at the same level as kinds.

In 1.3.x, we have enabled validation for the CRD schema. You can also view help using `kubectl explain` like this:

[code]

[2020-11-29 22:55] JimBugwadia commented on #1328
Since the policy rule is written to match a Pod, it will not mutate a Deployment but will directly apply to pods.

Also, since the rule has a selector, `auto-gen` of rules on the pod controllers will be enabled. As per the other example, you can write your rule at the Deployment level if this is what you desire.

[2020-11-29 23:14] nathanwang-comp commented on #1328
@JimBugwadia
I try below policy
[code]
try this policy too
[code]
Both policies don't work, it doesn't match the label.

out of pod yaml is
[code]

[2020-11-29 23:16] nathanwang-comp commented on #1328
@JimBugwadia When I say Deployment, I try this policy too
[code]

it doesn't work too.

[2020-11-29 23:18] JimBugwadia opened #1337 "[BUG] match / exclude for mutate rules may need to be executed on `request.oldObject` instead of `request.object`"
**Software version numbers**

1.3.0-rc5

**Describe the bug**

Users are able to modify data used in match / exclude blocks to bypass policy checks.

**To Reproduce**

Use this policy:

[code]

Create a pod with the label `app: critical`.

Try modifying some pod property, or deleting the pod, - it will be blocked as expected.

Try removing the pod label `app: critical`. This will be allowed.

**Ex

[2020-11-29 23:19] JimBugwadia commented on #1337
Currently, Kyverno is using the `request.object` to check for match / exclude criteria.

For mutate requests, seems like we should be checking the `request.oldObject` instead.

[2020-11-30 00:34] nathanwang-comp commented on #1328
@JimBugwadia I run `docker run --name=kyverno-cli -v ~/development:/usr-it  ghcr.io/kyverno/kyverno-cli apply /usr/resources/imagepolicy.yaml --resource /usr/resources/nginx.yaml` the mutate result is empty

[2020-11-30 00:39] chipzoller commented on #1336
I just deployed the 1.3.0-rc5 version of Kyverno onto GKE v1.16.13 successfully (via raw YAML, not Helm) and didn't see any of the errors that you did. I also tested by creating that ClusterPolicy, which did block an attempted creation of a Service of type LoadBalancer.

[2020-11-30 00:41] JimBugwadia commented on #1328
@nathanwang-comp - this policy works for me:

[code]

Here is the Deployment YAML I used:

[code]

And here is data on the pod after it is created:

[code]

[code]

Can you check if your label was in the Deployment metadata in addition to the pod template?

[2020-11-30 00:46] JimBugwadia opened #1338 "[BUG] pods created with resource controllers are ignored"
**Software version numbers**

1.3.0-rc5

**Describe the bug**

When a pod is created by a Deployment, or other workload controllers, policy rules are not applied.

**To Reproduce**

Use this policy:

[code]

Create a pod via a deployment:

[code]

The logs show a line:

[code]

**Expected behavior**

policies can be applied to pods created by workload controllers

[2020-11-30 00:54] JimBugwadia opened #1339 "[BUG] unable to merge using StrategicMergePatch"
**Software version numbers**

Kyverno 1.3.0-rc5 with K8s 1.16

**Describe the bug**

Strategic merge patch overwrites vs merges

**To Reproduce**

Use this policy:

[code]

Create a pod.

**Expected behavior**

The expected behavior is for the pod to have 3 tolerations after creation (2 are defaults):

[code]

Instead it only has one.

[2020-11-30 00:57] nathanwang-comp commented on #1328
@JimBugwadia You are right, my label is not in Deployment metadata. thank you for helping. The policy with overlay works.
I try to test jsonpatch
[code]
This doesn't work. Can you help check? Thanks!

[2020-11-30 01:01] chipzoller commented on #1336
If you can reproduce your errors on a fresh cluster, maybe you can post the full settings/parameters of the build.

[2020-11-30 01:16] JimBugwadia commented on #1328
JSONPath returns an error as the Deployment spec defaults does not contain `/spec/template/spec/tolerations`, although it looks like the pod defaults contains this. Hence it works at the pod level, but not at the deployment level.

There is another issue at the pod level (https://github.com/kyverno/kyverno/issues/1338) which we will investigate and fix. With that, you can use JSONPatch at the pod

[2020-11-30 01:47] nathanwang-comp commented on #1328
@JimBugwadia I can use `mutate.overlay` for now. But as you said overlay is deprecated, is it possible patchesJson6902 can support upsert for path not exist? Thank you for your great helping especially today is Sunday.

[2020-11-30 02:11] JimBugwadia commented on #1328
@nathanwang-comp `mutate.overlay` is being replaced by `mutate.patchStrategicMerge` (its a drop-in replacement.) Simply change the name in the prior policy rule, and you should be good (this is what the engine does internally.) See [docs](https://kyverno.io/docs/writing-policies/mutate/#strategic-merge-patch) for details.

For the JSON Patch behaviors we currently rely on the Kubernetes defaults,

[2020-11-30 02:23] nathanwang-comp commented on #1328
Thank you for explanation. I will create an enhancement issue.

[2020-11-30 02:23] #1328 closed

[2020-11-30 02:34] nathanwang-comp opened #1340 "[BUG] patchesJson6902 should support create path when trying to add element to path not existence"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.16
* Kyverno version:
1.3.5-rc5

**Describe the bug**
A clear and concise description of what the bug is.
JSON Patch add doesn't work when path not exist
**To Reproduce**
Steps to reproduce the behavior:
1. create policy file
[code]
2. create deployment
[code]
3. run `docker run --n

[2020-11-30 02:51] JimBugwadia commented on #1328
@nathanwang-comp - you are most welcome!

[2020-11-30 05:56] JimBugwadia commented on #1295
Fixed via https://github.com/kyverno/kyverno/pull/1318.

[2020-11-30 05:56] #1295 closed

[2020-11-30 06:55] #1330 closed

[2020-11-30 06:57] #1291 closed

[2020-11-30 07:09] dirien commented on #918
Still crashing...  with

[code]

is this related with #1325 ?

[2020-11-30 09:20] bechampion commented on #1336
Hey  , ill try that today  , Moving to rapid channel left my cluster kind of dead.
Thanks!

[2020-11-30 10:48] bechampion commented on #1336
Hey all.
Alright  , GKE fresh cluster , no luck here are the details
GKE v1.16 private cluster running on a shared vpc
No calico , no istio , nothing special
[code]
I've deployed the raw manifest ,  it installed with no issues:
[code]
This time the to valudationwebhookconfs remain active the whole , time.
Cpol:
[code]
The problem:
[code]
Service is created amid the cpol denying it

Logs:
Logs abou

[2020-11-30 13:05] ws-way commented on #1307
Hello @realshuting,

We have installed a complete new cluster with Kyverno, without the ```createSelfSignedCert=true```. After the install, we do have TLS errors in the log (from 13:33:42 - 13:43:56. We also inported the yaml as stated earlier and also TLS errors are shown (from 13:49:12 and later).

[code]
Hope to hear from you.

[2020-11-30 13:17] chipzoller commented on #1336
Can you be any more specific as to how you created this GKE cluster? Any settings that were changed from defaults?

I just brought up another cluster, brand new, no setting changes, using default version. Cloned the kyverno repo, ran the restrict_loadbalancers.yaml manifest in samples/more after changing it to enforce and match on ClusterIP, and ran your Service manifest. Kyverno blocked the resou

[2020-11-30 13:43] chipzoller commented on #1066
I'll be glad to take this one if I can be assigned.

[2020-11-30 13:43] chipzoller commented on #1069
I'll be glad to take this one if I can be assigned.

[2020-11-30 13:44] chipzoller commented on #1146
I'll be glad to take this one if I can be assigned.

[2020-11-30 13:44] chipzoller commented on #1172
I'll be glad to take this one if I can be assigned.

[2020-11-30 13:45] bechampion commented on #1336
Hi there
Its a pretty standard gke cluster ,  created with terraform , the only difference that i can think of is the fact that it is a fully private cluster (master and nodes )  and it runs out of a shared vpc ,  not that would affect anything about the traffic of validation/mutating webhooks.
Here is the (secured) output of gcloud containers clusters describe
[code]

[2020-11-30 13:45] chipzoller commented on #1070
I'll be glad to take this one if I can be assigned. I've already done half this anyway with an existing sample. Needs sample policy label.

[2020-11-30 14:19] bechampion commented on #1336
I have an idea ... Could it be that the masters are not allowed to speak to the webhooks ?? let me check

[2020-11-30 14:21] chipzoller commented on #1336
Yes, that would definitely be a problem as the kube-apiserver would not be able to forward the AdmissionReview contents to registered webhooks.

[2020-11-30 15:12] chipzoller commented on #1070
Here's a modified version of [this sample policy](https://github.com/kyverno/kyverno/blob/main/samples/DisallowSecretsFromEnvVars.md) I contributed, augmented to additionally disallow secrets from volumes.

[code]

Because a service account token is mounted to all Pods by default, this second rule would essentially block any Pod from being created. So the question is would this be an acceptable so

[2020-11-30 15:12] bechampion commented on #1336
Alright!!
Ok in private (masters/nodes) GKE clusters the /28 you assign to the masters is not automatically allowed to speak to all the nodes in all the ports automatically.
The way  i was able to validate there could be an issue with master speaking to the webhook svc was by doing:
[code]
That would timeout , notice the `NotFound` is an awfully 404 rendered by an exception
Once I added a firewall

[2020-11-30 15:16] chipzoller commented on #1336
Ok, sounds good. So you're fully resolved at this point?

[2020-11-30 15:21] bechampion commented on #1336
I am fully resolved:
Btw the port i needed to whitelist is
[code]

[2020-11-30 15:21] #1336 closed

[2020-11-30 15:52] chipzoller commented on #1066
Here's an example which requires that all containers have `drop: ["ALL"]` which seems to work well.

[code]

[2020-11-30 16:03] chipzoller commented on #1146
Thinking about how this should be implemented. Something like Vault usually designates a single service account, which may have nothing to do with the name of the Pod. There'd need to be a way for an operator to define a list of what Pod/container/app is allowed to use the service account, and then store that definition some place (like a ConfigMap) for future lookup. If you were thinking of somet

[2020-11-30 17:26] chipzoller commented on #1314
And this variant which attempts to use `anyPattern` doesn't seem to match on any container in a Pod, even if it's the first one and should trigger an enforce behavior.

[code]
Use the same sample Pod manifest as above.

[2020-11-30 19:10] chipzoller commented on #1314
Is there any possibility this fix might make it in the 1.3.0 release, @realshuting? Now that Docker is rate-limiting pulls from unauthenticated accounts, this ability to block `Always` pulls for `latest` is quite important. I'm hearing people scream about this a couple times a week at this point.

[2020-11-30 19:14] realshuting commented on #1314
We have migrated to GitHub container registry in 1.3.0-rc5, are you still being rate limited? https://github.com/kyverno/kyverno/blob/36615e21a7c23692a78967e763d1309c13b3fbaf/definitions/install.yaml#L2353

[2020-11-30 19:16] chipzoller commented on #1314
No, I don't mean in pulling the Kyverno image, I mean in user/customer environments where they need to be able to write a Policy where conditionals work in checking all containers in a Pod and not just the first one.

[2020-11-30 19:21] realshuting commented on #1314
Ah my bad! We are currently focusing on a few critical issues that block Kyverno from running, I can see this would be super helpful for the recent rate-limiting change in Docker.

Moving to 1.3.x milestone.

[2020-11-30 19:24] chipzoller commented on #1314
Awesome, thank you Shuting and team. This will **really** help folks out.

[2020-11-30 21:13] realshuting commented on #918
Yes it's related to https://github.com/kyverno/kyverno/issues/1324, you can track the fix in PR https://github.com/kyverno/kyverno/pull/1342.

For the slowness issue, I have left the metric server running in my cluster for over a day, and I could see Kyverno stopped working, or say, behaved relatively slow. We suspect it dues to the flooding throttling requests, see https://github.com/kyverno/kyve

[2020-11-30 21:41] realshuting commented on #1307
Is it a  GKE / EKS or other types of cluster running on a cloud instance?

This error reminds me of the discussion [here](https://github.com/kyverno/kyverno/issues/1336#issuecomment-735846030), is the TCP connection allowed across different nodes?

If you can share how you created the cluster, I can try to reproduce it on my end.

[2020-11-30 21:45] ws-way commented on #1307
Hello,

No, it is a local single node cluster on our vmware cluster. We also tested it with a local multinode cluster, same result.

________________________________

Wilco van der Stek
  |  DevOps Engineer

T: ​+31 418 510 068
Graaf Reinaldweg 22-26
4176 LX Tuil
The Netherlands
weareyou.com

#wayr#
From: shuting <notifications@github.com>
Sent: Monday, November 30, 2020 10:41:40 PM
To: kyverno/ky

[2020-12-01 00:38] chipzoller commented on #1307
Is this a `kubeadm`-provisioned cluster you have here? If not, what was used to build it?

[2020-12-01 03:38] MnrGreg opened #1343 "[BUG] Generate rule triggers when matchLabels does not match"
* Kyverno version:
kyverno-cli
Version: 1.3.0-rc5
Time: 2020-11-24T23:25:39Z
Git commit ID: 9399adeb0fa45ce76d7ec4ef142a864cafaad87a

**Describe the bug**
Generate rule is triggered even when `cpol.spec.rules.match.resources.selector.matchLabels` key/values do not match

**To Reproduce**

add_ns_rolebindings.yaml:
[code]

test_namespace.yaml:
[code]

[code]

**Expected behavior**
Policy rule match

[2020-12-01 04:38] #1324 closed

[2020-12-01 04:38] #1325 closed

[2020-12-01 04:53] dirien commented on #918
thanks @realshuting  for the feedback, the throtteling i could see too under flux2

[code]

[2020-12-01 07:16] JimBugwadia opened #1345 "improve management of generate requests"
We are looping through all generate requests in a few places:

https://github.com/kyverno/kyverno/blob/2344b2c305dbb921abc7212313cb41966f42c70f/pkg/webhooks/generation.go#L59

https://github.com/kyverno/kyverno/blob/2344b2c305dbb921abc7212313cb41966f42c70f/pkg/generate/generate.go#L125

We should add a label to the GR so we can easily query it for a resource.

Few other enhancements to make:
1. Re

[2020-12-01 07:36] realshuting commented on #1340
@nathanwang-comp There's an invalid definition in your JSON path, should be
[code]

Once I change that, I can see the deployment is mutated correctly
[code]

[2020-12-01 07:38] JimBugwadia opened #1346 "[BUG] failed to sync policy report"
Add the following YAMLs

[code]

Create a number of namespaces. After some time (need to wait till policy reports are generated), delete a number of namespaces.

The logs get filled with these messages:

[code]

[2020-12-01 07:40] realshuting commented on #1338
The policy is matching to `Pod` while the path is defined with `/spec/template/spec`, what's the initial matched resource, the pod controller?

[2020-12-01 07:45] JimBugwadia commented on #1340
@realshuting the `-` at the end of `/spec/template/spec/tolerations/-` is to instruct JSON Patch to append at the end of the list. See: https://tools.ietf.org/html/rfc6902#appendix-A.16.

The path (`spec/tolerations/-`) works with a pod but a similar path does not work for a deployment pod template.

[2020-12-01 07:47] realshuting commented on #1340
Yes I realized that. Deleted my previous comment.

[2020-12-01 07:47] JimBugwadia commented on #1340
Its possible that using the `/-` expects some values to be present in the list and fails as this is empty in the deployment pod template, while a pod has 2 tolerations by default.

[2020-12-01 07:52] JimBugwadia commented on #1338
I probably pasted the wrong policy. Will update in the description.

[2020-12-01 07:56] realshuting commented on #1339
I removed `$patch: merge` and it's working on the resource that has no `tolerations`, but not working if the resource already has the `tolerations` defined.

Here is my policy:
[code]

And I applied it to the `deployment` defined [here](https://github.com/kyverno/kyverno/issues/1340#issue-753092521), the following is the output of "kubectl get pod -o yaml"
[code]

[2020-12-01 09:08] ws-way commented on #1307
Yes, we provisioned it with kubeadm

[2020-12-01 15:39] chipzoller commented on #1066
Proposing https://github.com/kyverno/kyverno/pull/1347

[2020-12-01 15:47] chipzoller commented on #1070
Policies such as this one are waiting on the fix here (https://github.com/kyverno/kyverno/issues/1314) to be effective.

[2020-12-01 15:49] chipzoller commented on #1172
In order for any of these profiles to be built out in Kyverno (in any reliable way), we need a fix for https://github.com/kyverno/kyverno/issues/1314 to move forward.

[2020-12-01 20:29] realshuting opened #1349 "[BUG] Optimize throttling requests for generate policies"
* Kubernetes version:
1.19

* Kyverno version:
v1.3.0-rc6

**Describe the bug**
With https://github.com/kyverno/kyverno/pull/1348 and https://github.com/kyverno/kyverno/pull/1341, throttling requests are reduced on generate requests in most cases.

While having around 10 namespaces with 2 generate policies `add-networkpolicy` and `add-ns-quota`, it still produces some throttling requests on GRs.

[2020-12-01 20:44] JimBugwadia commented on #1296
this has been fixed. closing.

[2020-12-01 20:44] #1296 closed

[2020-12-01 20:45] JimBugwadia commented on #1319
A number or issues related to this have been fixed. However, a few remain are tracked by https://github.com/kyverno/kyverno/issues/1349.

[2020-12-01 20:45] #1319 closed

[2020-12-01 20:46] JimBugwadia commented on #1346
fixed retry log.

[2020-12-01 20:46] #1346 closed

[2020-12-01 21:06] realshuting opened #1350 "[BUG] Kyverno CLI does not recognize Ingress"
**Software version numbers**
1.3.0-rc6

**Describe the bug**
I have a policy apply to `Ingress`, while it gave me this error:
[code]

**To Reproduce**
Policy:
[code]

Ingress:
[code]

[2020-12-02 00:18] realshuting opened #1351 "[BUG] Cannot create policy report"
**Software version numbers**
v1.3.0-rc6

**Describe the bug**

When deleting a namespace that had a policy report, it gave a bunch of the following errors:
[code]

[2020-12-02 12:00] ws-way commented on #1307
@realshuting, is there any news on this?

[2020-12-02 13:21] chipzoller commented on #1066
Close.

[2020-12-02 17:17] realshuting commented on #1322
Closing this issue.
Feel free to reopen if needed.

[2020-12-02 17:17] #1322 closed

[2020-12-02 20:39] JimBugwadia commented on #1172
@chipzoller - my plan was to create a separate repo for these policies and use kustomize to manage YAMLs. Have you started any work on this?

[2020-12-02 20:40] chipzoller commented on #1172
Yes, I'm nearly finished with the Baseline/Default profile set. I'm hitting one issue and asking @realshuting for confirmation that annotation names cannot use wildcards.

[2020-12-02 20:40] JimBugwadia commented on #1172
I also wanted to explore generating the markdown / HTML from the YAML, instead of having to manually create those pages.

[2020-12-02 20:41] chipzoller commented on #1172
That's also something I want. We shouldn't be hard-coding the YAML into the page definition.

[2020-12-02 20:42] JimBugwadia commented on #1172
Cool! Let me create a repository and working branch, and we can collaborate there.

I just submitted a PR for the annotation wildcard support.

[2020-12-02 20:43] realshuting commented on #1307
Yes I'm trying to create a kubeadm cluster, what type of CNI are you using?

[2020-12-02 20:45] chipzoller commented on #1172
Perfect. That's what we need.

[2020-12-02 20:47] ws-way commented on #1307
We are using Cilium. Thanks.

[2020-12-02 20:49] realshuting commented on #1307
In the meanwhile, can you set up a KIND cluster and install Kyverno on it? It would help us understand whether the issue is related to the infrastructure or the cluster.

[2020-12-02 20:51] ws-way commented on #1307
That's rather difficult on the short term. Is it an option to give you remote access to this cluster?

[2020-12-02 20:53] realshuting commented on #918
@dirien
Can you upgrade Kyverno to v1.3.0-rc6? You should not see the crashing anymore.

And we had trimmed some of the throttling requests that would potentially help to solve the slowness issue.

[2020-12-02 20:54] chipzoller commented on #1172
This proposed PR will allow for wildcard support in the `pattern` statements, @JimBugwadia ? If not, that's what's needed here.

[2020-12-02 20:55] realshuting commented on #1307
That would be perfect! Can we connect in the Kyverno Slack channel?

[2020-12-02 21:57] realshuting commented on #1307
Closing this issue as it is not related to TLS.

@ws-way Let me know if there's any other issue, we can track in a separate place.

[2020-12-02 21:57] #1307 closed

[2020-12-02 23:36] chipzoller commented on #1172
Default profile pushed to [policies repo](https://github.com/kyverno/policies/tree/pod_security_standards/pod-security).

[2020-12-03 14:39] chipzoller opened #1354 "Allow negation anchor to work on items in a list or map"
**Is your feature request related to a problem? Please describe.**
The negation anchor only works in a map or on the first item in a list. This makes it impossible to write a consolidated rule that validates Pod volumes can only be of a certain type.

For example, to write a policy that says volumes of type hostPath, gitRepo, and flocker cannot be used would take three separate rules like this:

[

[2020-12-03 15:09] chipzoller commented on #1354
And use of `anyPattern` does not work as intended:

[code]

Use the `anyPattern` statement, this sample Deployment below should be allowed but it's blocked.

[code]

[2020-12-03 17:43] #1294 closed

[2020-12-03 19:36] chipzoller commented on #1218
To add on to this, the other reason such a feature would be necessary is when users have either particular CNIs installed or other third-party software which registers itself as a duplicate type. For example, both Calico and Antrea as CNIs register their own type of NetworkPolicy which is the exact same `kind` name as the built-in NetworkPolicy. For example, check this out:

[code]

Kyverno would

[2020-12-03 19:52] JimBugwadia commented on #1218
@chipzoller - in this case, does the Antrea network policy watch and manage the K8s network policy, or does it completely replace the K8s network policy? In other words, can users still use a regular network policy for their workloads?

[2020-12-03 20:01] chipzoller commented on #1218
In the case with Antrea (shown previously) it handles NetworkPolicy and so I *believe* it takes ownership of that resource `kind`. However, this is only one example where functionality overlaps. There are others where completely different third-party software in the same cluster have different resources with the same `kind` name including things like `Application` where one does not usurp the othe

[2020-12-03 20:59] realshuting opened #1356 "[BUG] Invalid policy validation blocks policy creation"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
kubeadm 1.19.4 with Anthrea v0.10.2

* Kyverno version:
v1.3.0-rc6

**Describe the bug**
Kyverno blocks the creation of a policy that matches a standard Kubernetes `Service`, with the following error:
[code]
Log:
[code]

**To Reproduce**
Policy:
[code]

**Proposed Change**
Apperantly

[2020-12-04 03:05] realshuting opened #1357 "[BUG] Generate policy blocks resource creation in a new namespace"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19.2
* Kyverno version:
v1.3.0-rc6

**Describe the bug**
With 2 generate policies of best practices installed, I cannot create new Pod into the new namespace that triggers the generate rule.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy generate policies from b

[2020-12-04 18:04] #1351 closed

[2020-12-04 20:50] JimBugwadia commented on #1332
Re-opening this, as it works for match / exclude, but not in patterns.

[2020-12-04 22:34] vishal98 commented on #1190
i am also facing similar issue.
i believe when we are trying to apply policy for large number of pods may be this issue occuring.
do we have any memory specifications
[code]

[2020-12-04 22:38] realshuting commented on #1190
@vishal98
Seems like the health check failed:
[code]

Is this port reachable?

[2020-12-04 22:41] vishal98 commented on #1190
no..i cannot connect to pod

[2020-12-04 22:56] realshuting commented on #1190
Can you check the network connectivity in your cluster?

[2020-12-04 22:59] vishal98 commented on #1190
i don't think is network connectivity issue.we have multiple apps running on server and all of them works fine.Only kyverno is crashing from week

[2020-12-04 23:05] realshuting commented on #1190
I'm seeing out of memory here:
[code]
The default memory request is set to 50Mi, and the limit is 128Mi. Can you increase the memory limit to 256Mi or even higher?

[2020-12-04 23:10] vishal98 commented on #1190
hmm.sorry forgot to mention..i tried till 4G but still i had this error..do we know what is upper limit or there is bug somewhere else

[2020-12-04 23:17] realshuting commented on #1190
What's the size of the cluster, how many pods are there in your cluster? Is there any policy installed?

[2020-12-04 23:28] realshuting commented on #1190
Can you also attach the log?

[2020-12-05 00:39] chipzoller commented on #1332
@JimBugwadia is the wildcard working in annotations in `match` and `exclude` as well? But it's not working in `pattern` for either annotations or labels?

[2020-12-05 03:32] #1332 closed

[2020-12-05 03:33] JimBugwadia commented on #1332
@chipzoller - the issue is fixed. Should work for match / exclude as well as patterns.

[2020-12-05 20:38] vishal98 commented on #1190
1. we are running kyverno mutating policies with multiple rules .These policies are applicable for  all pods,statefuls.deployments job.
2. i can see any thing in logs..logs just have information like applying policies,it abrubtly stops and later kyverno starting webhook server.
sample logs
[code]

3. Ideally this policy should be applied to 100 plus pods
4. i am adding memory information  of the n

[2020-12-07 17:34] realshuting commented on #1190
@vishal98 We are trying to reproduce the issue, and it would be helpful to understand the setup of your cluster:

Can you share the policies in your cluster?
How the workloads are distributed (are they running in the same namespace)?
Is there any burst resource, for example, Jobs / CronJobs?

[2020-12-07 20:04] #1320 closed

[2020-12-07 21:06] JimBugwadia opened #1365 "Policy to restrict external IPs and load balancer IP"
**Checklist**

- [ x] I have verified the policy does not exist in the [samples library](https://github.com/kyverno/kyverno/blob/main/samples/README.md).

**Is your policy request related to a problem? Please describe.**

See: https://github.com/kubernetes/kubernetes/issues/97076

**Describe the ideal solution you'd like**

A policy that restricts external IPs to a known set.

https://github.com/k

[2020-12-07 21:50] vishal98 commented on #1190
@realshuting  thanks for taking it up!
Can you share the policies in your cluster?
**i am attaching policies on the cluster.These policy try to insert image pull secrets**

How the workloads are distributed (are they running in the same namespace)?
**Yes they are running on the same namespace**

Is there any burst resource, for example, Jobs / CronJobs that schedules Pod in a short period of time?

[2020-12-07 22:00] chipzoller commented on #1365
I thought of building this (before the CVE disclosure) because it's a good practice. There are challenges which make this difficult or untenable:

- Kyverno doesn't interpret IPs as its own data type; it requires string.
- Allowed IPs would have to be defined in the policy or ConfigMap.
- Use of ranges or CIDR blocks is not possible because of point #1
- Use of ConfigMaps with creating an array of

[2020-12-07 22:30] realshuting commented on #1190
Thanks, I'll verify it on my cluster.

FYI, another user had OOM [issue](https://kubernetes.slack.com/archives/CLGR9BJU9/p1607371932056300?thread_ts=1607370222.053600&cid=CLGR9BJU9) with the memory limit set to 250Mi, on a 12 nodes cluster with 500+ pods. Increased to 512Mi solved the issue.

[2020-12-07 23:24] JimBugwadia commented on #1365
@chipzoller - the Service spec.externalIPs is a string list of IP addresses:

[code]

Seems like managing this as a DENY rule would be simple enough:

[code]

So not sure how bullets 1, 2, 3 apply. Can you please elaborate?

Also for 4 what would be better alternative to a JSON array like `["167.10.1.23", 127.10.1.33" ]`?

[2020-12-07 23:27] chipzoller commented on #1365
I should have clarified, apologies. Yes, it's a string for Kubernetes, but the input type for Kyverno must also be a string. There is no data interpretation in Kyverno. In otherwords, you couldn't write the `deny` statement with the `value` as "10.10.10/24" (CIDR) or as "10.10.10.100-10.10.10.200" (range). Users who would make use of this rule would need more than just one or two items in the arra

[2020-12-07 23:30] chipzoller commented on #1365
For bullet 4, what is substantially better is having ConfigMaps express list values in YAML syntax and not wrapping it in JSON (escaped, at that). Request in for that captured in https://github.com/kyverno/kyverno/issues/1242.

[2020-12-07 23:51] JimBugwadia commented on #1365
The `externalIPs` here are addresses for which Kubernetes accepts traffic on behalf of this service, and not a range of addresses this service can communicate with. In most cases this will be a single IP. Having a CIDR or range would not make sense.

[2020-12-07 23:55] chipzoller commented on #1365
I understand, but as there can be multiple services in a given cluster, and in many platforms where those IPs are pulled dynamically from a pool, one may not know the IP address ahead of time. But the pool address space may be known and a CIDR may be known for approved usage. Managing a ClusterPolicy or Policy on an individual Service basis (and therefore on a one or two IP basis) seems too much m

[2020-12-08 00:07] JimBugwadia commented on #1365
The external IP addresses would need to be mapped to one of the cluster nodes for this feature to work. I am not sure on how dynamic this would be, but have not seen mush of this feature in use.

I recommend we get the basic policy with a list of IP addresses published to help folks mitigate the CVE. We can then continue to explore ways to enhance and extend. One option that may work is to leverag

[2020-12-08 00:09] realshuting opened #1366 "[BUG] TLS error when Kyverno container restarts"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19
* Kyverno version:
1.3.0-rc7

**Describe the bug**
If the Kyverno container gets restarted while the old webhook configurations exist, the log keeps throwing TLS error until the new webhook configurations are created.
[code]

**To Reproduce**
1. Have Kyverno running in the cluste

[2020-12-08 00:23] realshuting commented on #1190
@vishal98
With the above information, 512Mi should be good with 500+ pods in the cluster. You mentioned that you have increased the memory limit to 4G and Kyverno was still crashing. I'm curious how many pods are there in total in your cluster?

And I tested the following scenarios with your policy, did not see any issue with the default memory limit 128Mi:

1. Create the policy in a namespace tha

[2020-12-08 02:06] chipzoller commented on #1365
Agree, not suggesting we can't get something going now. But in order to make such a policy widely useful in the long run without creating undue hassle, we need some better mechanisms to cope with the inputs.

I can push the initial version tomorrow.

[2020-12-08 02:24] JimBugwadia commented on #1242
A multi-line YAML may not be deterministic enough to be parsed into a array of strings. Also, dealing with block chomping, etc. seems strange to handle an array of strings, and there could be some cases where strings may need spaces.

What about allowing comma-delimited: `"val1, val2, val3, ..."`?

Its not a standard but, eliminates the need to add quotes, escape characters and brackets `[` and `]

[2020-12-08 02:35] JimBugwadia opened #1367 "Support set operations for In and NotIn"
**Is your feature request related to a problem? Please describe.**

Currently `In` and `NotIn` operators check if a string is in a set of strings. In some cases the check required is if a set of strings is in an allowed list of strings i.e. a set is a subset of another set.

**Describe the solution you'd like**

Support set / list types for keys and values for In and NotIn operators.

  SetA In Se

[2020-12-08 02:37] JimBugwadia commented on #1365
Yes, agreed! I got a basic policy ready and will file a PR in the policies repo. There are limitation in set operations we can also further improve (see https://github.com/kyverno/kyverno/issues/1367).

[2020-12-08 03:04] JimBugwadia commented on #1366
@realshuting are we not deleting the certificates and the webhooks when the pod terminates?

[2020-12-08 03:12] realshuting commented on #1366
Yes, in this case, Kyverno hasn't shut down gracefully, it could be a panic or OOM killed. Thus the init container does not clean up the webhooks.

[2020-12-08 04:29] JimBugwadia commented on #1366
Do we need to coordinate the cert and webhook cleanup to avoid a mismatch?

[2020-12-08 13:04] chipzoller commented on #1172
This can be closed, @JimBugwadia

[2020-12-08 13:07] chipzoller commented on #1070
I'd like your thoughts on [this comment](https://github.com/kyverno/kyverno/issues/1070#issuecomment-735845775), @JimBugwadia

[2020-12-08 13:08] chipzoller commented on #1066
@JimBugwadia can close

[2020-12-08 13:15] chipzoller commented on #1367
When you say

can you give an example of this? Would it be a creation request for a single Service with multiple externalIPs assigned or something like that? I'm not following where this would come into play.

[2020-12-08 17:00] chipzoller commented on #1242
Comma-delimited is probably OK, but there is already machinery to parse multi-line YAML into that type of delimited string. I think the best UX would be to meet users where they already are in terms of how Kubernetes consumes such data, and that would be in true YAML list format.

[2020-12-08 18:20] diranged commented on #1292
We are seeing this issue as well.. I cannot make the `exclude` policy work, so it's generating a new resource for every single namespace no matter what right now.

[2020-12-08 23:16] realshuting opened #1370 "[BUG] RCRs are not get cleaned up when resource is deleted"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19
* Kyverno version:
v1.3.0-rc7

**Describe the bug**
With a generate policy installed, there are multiple rcrs been created on the namespace deletion, but never been deleted from the cluster.

**Reproduce**
1. Create role / rolebinding / policy:

[code]
2. Create a new namespace `

[2020-12-08 23:25] realshuting opened #1371 "[BUG] With synchronize=false, Kyverno should not update generated resource"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19
* Kyverno version:
v1.3.0-rc7

**Describe the bug**
With the policy below, Kyverno generates the service account on the namespace creation. Whenever the service account is updated, k8s would create a new token for this service account, the old ones should be deleted but they are

[2020-12-08 23:46] realshuting commented on #1314
@chipzoller Sending PR #1314 to fix this issue, now this pattern should block the resource creation, no matter the order of containers:
[code]

I wouldn't use `anyPattern` for this policy, it is logical OR within `anyPattern` - if one rule succeeded the entire policy would be allowed.

[2020-12-09 01:19] chipzoller commented on #1314
That is most excellent, @realshuting ! Will be a great improvement!

[2020-12-09 01:54] #1366 closed

[2020-12-09 03:10] #1357 closed

[2020-12-09 05:32] JimBugwadia opened #1374 "[BUG] recreate deleted resource created using a generate rule with synchronization: true"
**Software version numbers**

1.3.0-rc7

**Describe the bug**

A user with access permissions can delete a generated resource, even if synchronization is set to true.

**To Reproduce**

1. Configure a cluster with Kyverno and the a policy to generate default resources for a namespace, like a network policy, and `synchronization: true`.
2. Create a namespace and make sure the new resource is create

[2020-12-09 05:34] #1172 closed

[2020-12-09 05:42] JimBugwadia commented on #1292
The issue here is because the resource itself is a `Namespace` (a cluster-wide resource) and not **in** a namespace. Hence the namespace exclude does not work.

As a workaround, you can use a condition that checks the name of the namespace. Something like this:

[code]

Will add a fix to allow using match / exclude namespaces as expected.

[2020-12-09 05:43] JimBugwadia commented on #1343
@NoSkillGirl - is this an issue the report output?

[2020-12-09 06:52] #1314 closed

[2020-12-09 07:04] #1370 closed

[2020-12-09 07:05] #1292 closed

[2020-12-09 18:51] chipzoller commented on #1367
This functionality is also needed to implement a set of `deny` conditions for a number of different annotations.

For example, there are three annotations that should be blocked any time a resource is created (any of the three; not all three together). Doing this is possible today with individual rules, but there can be an easier way by specifying something like

[code]

Use case would be to use t

[2020-12-09 19:40] realshuting opened #1377 "[BUG] resourceFilters in CM init-config does not apply to generate policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19
* Kyverno version:
v1.3.0-rc8

**Describe the bug**
`resourceFilters` in CM init-config configures the general exclude list, statement `[*,test,*]` should exclude namespace `test` for all policy applications. It seems work for validate policy, but not generate.

**To Reproduce**

[2020-12-09 19:57] chipzoller commented on #1367
Second use case for this functionality would be in significantly simplifying the PSS rule [here](https://github.com/kyverno/policies/blob/main/pod-security/restricted/restrict-volume-types.yaml).

[2020-12-09 21:21] realshuting opened #1378 "[BUG] Clarify how patch operation is used in patchStrategicMerge"
**Describe the bug**
Kustomize`patchStrategicMerge` allows different patch [operations](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#basic-patch-format), we need to clarify how this works in Kyverno.

A use case is raised [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1607454780085000?thread_ts=1607440529.068500&cid=CLGR

[2020-12-09 21:25] chipzoller commented on #1378
What is the action item here? To amend Kyverno's behavior or document its gaps in the official documentation?

[2020-12-09 21:27] realshuting commented on #1378
I want to first add working examples for `replace` and `delete`, then we can decide whether to add to docs or sample policies.

[2020-12-09 21:29] realshuting commented on #1378
Currently `$patch` is not working for auto-generated rules, as stated in #1339, we need a fix for it.

[2020-12-09 21:35] chipzoller commented on #1378
Ok so 1339 is the issue for fixing the functionality. This one is for documenting the (eventually) fixed functionality, either via docs or sample policies? If this is correct, let's create a sibling issue on the respective repos and cross-link here for visibility.

[2020-12-09 21:47] realshuting commented on #1274
Closes via https://github.com/kyverno/kyverno/pull/1375.

[2020-12-09 21:47] #1274 closed

[2020-12-09 22:55] realshuting opened #1381 "Show warnings on policy creation"
**Is your feature request related to a problem? Please describe.**
With a mutate policy that applies to Pod using `patchesJson6902`, it would be good to warn that a direct change to pods that are managed by workload controllers is not allowed (changes will be reverted by controllers).

[code]

**Describe the solution you'd like**
This improvement can be made once upgrade to Kubernetes 1.19+ librar

[2020-12-09 22:55] realshuting commented on #1338
As the Pod is managed by Deployment, a direct change to Pod will be reverted by the Deployment controller.

Sending https://github.com/kyverno/kyverno/pull/1380 to set a clear warning.
Logged an enhancement here https://github.com/kyverno/kyverno/issues/1381.

[2020-12-10 02:11] MnrGreg commented on #1343
This appears to be working correctly now since v1.3.0-rc8. Generate rules are no longer triggered when matchLabels do not match.

[code]

[2020-12-10 02:11] #1343 closed

[2020-12-10 02:19] JimBugwadia commented on #1343
@MnrGreg - thanks for confirming!

[2020-12-10 08:22] #1338 closed

[2020-12-10 08:24] #1371 closed

[2020-12-10 10:42] NoSkillGirl opened #1383 "Allow reading policy from stdin for CLI apply"
We should be able to pipe the output of a manifest generation tool, e.g. kustomize or Helm, to the Kyverno CLI while applying the policies.

`kustomize build github.com/kyverno/policies/pod-security |  kyverno apply - -r <resoucres>`

Similar to apply command for resource as mentioned in the following issue:
#1156

[2020-12-10 15:38] chipzoller opened #1384 "Logging for mutation failures"
**Is your feature request related to a problem? Please describe.**
When applying a mutation rule, it's up to the user to figure out the precise schema of the object being mutated since Kyverno does not validate this. When applying a resource that one expects to be mutated and it is not because the schema in the mutation rule is incorrect, Kyverno logs nothing. However, and only if the schema is 10

[2020-12-10 20:38] JimBugwadia opened #1386 "Granular control on synchronize behaviors"
**Is your feature request related to a problem? Please describe.**

In a generate rule `synchronize` can be set to `true` or `false`. This enhancement is to allow more granular control on how changes are managed for `target` resources that are generated from a `source` resource using a policy.

**Describe the solution you'd like**

Replace `synchronize` with multiple settings for fine-grained mana

[2020-12-10 21:37] chipzoller commented on #1386
This is a great idea. I think these three properties need to be on a per-generated-resource level and not a per-rule level. That way, a single `generate` rule that's capable of creating multiple objects, these properties can potentially differ across those objects.

[2020-12-10 21:52] realshuting commented on #1386
Agreed, though Kyverno currently can only generate a single resource per generate rule, [here](https://github.com/kyverno/kyverno/issues/282) is a request that allows generating multiple `target` resources.

To support both cases, we can change the `generate` syntax to something similar to:
[code]

[2020-12-11 11:30] vishal98 commented on #1190
thanks for update!
no of pods shouldn't be issue with metrics provided by you.Will update kyverno and let you know

[2020-12-11 17:48] evalsocket commented on #1337
@JimBugwadia assign me

[2020-12-11 23:24] chipzoller commented on #1365
This is complete, right?

[2020-12-12 13:59] chipzoller opened #1389 "State for `explain policy.spec.rules.preconditions` that they are logical AND"
In the print out for `explain policy.spec.rules.preconditions`, state all preconditions function as a logical AND operator.

[2020-12-12 21:24] JimBugwadia commented on #1197
We have started migrating sample policies to: https://github.com/kyverno/policies.

We need to find a way to generate HTML / Markdown from the policy YAMLs. One option is to try command line template tools:
- https://github.com/hairyhenderson/gomplate
- https://github.com/tsg/gotpl
- https://github.com/gomatic/renderizer

Each generated page can have:
- Policy name
- Policy description (from annot

[2020-12-12 22:09] chipzoller commented on #848
Needs to be closed. [Current example](https://kyverno.io/docs/writing-policies/validate/#existence-anchor-at-least-one) already has that removed.

[2020-12-12 22:12] #848 closed

[2020-12-12 22:20] JimBugwadia commented on #931
@sgandon - this can now be addressed using pre-conditions. Do you still see a need for a namespace selector? Any other use cases?

[2020-12-12 22:26] JimBugwadia commented on #1222
@chipzoller - any other items we should track here or should we close this one?

[2020-12-12 22:27] JimBugwadia commented on #1201
@jinnery - closing this issue. Please re-open if there are any other items to discuss here.

[2020-12-12 22:27] #1201 closed

[2020-12-12 22:30] JimBugwadia commented on #1053
@realshuting - I previously made this change. Please re-open if needed.

[2020-12-12 22:30] #1053 closed

[2020-12-12 22:34] JimBugwadia commented on #770
@realshuting - why do we need to apply generate rules after validate? I don't recall if there was a related issue or use case we were trying to address....

[2020-12-12 22:36] JimBugwadia commented on #620
Closing this as policy violations have been removed, ad several areas were re-designed. We can log specific issues for on-going work,

[2020-12-12 22:36] #620 closed

[2020-12-12 22:53] chipzoller commented on #1222
No, go ahead and close. I will dig through the new reports a bit later. We can track anything from there on.

[2020-12-13 00:21] #1222 closed

[2020-12-13 00:28] #1383 closed

[2020-12-13 03:07] nekia commented on #1256
Hi there, can I see this issue? Thanks.

[2020-12-13 05:12] JimBugwadia opened #1390 "allow generate rules with no data and clone"
**Is your feature request related to a problem? Please describe.**

If a service account is generated with empty data `data: {}` and `synchronize: true` it will periodically be updated causing a new secret to be generated.

**Describe the solution you'd like**

Allow `nil` data and clone in a generate rule. This can be used to create objects, which should not be subsequently updated. If the object

[2020-12-13 05:27] JimBugwadia commented on #1374
@NoSkillGirl  - see https://github.com/kyverno/kyverno/issues/1390. The changes for that issue skip updates to the target objects when a generate rule has not `data` and `clone` specified.

For this issue, we need to recreate the target. Ideally we can detect the target deletion in the webhook and process / requeue the appropriate the GR to immediately recreate the target resource.

[2020-12-13 14:13] chipzoller commented on #1334
Another practical use case I face is when writing a policy for https://github.com/kyverno/kyverno/issues/1069. I don't know what type of operation this is so I'm now forced to guess or dive through api-server logs. Is it an UPDATE? What's the AdmissionReview structure of the request? Don't know.

[2020-12-13 15:48] chipzoller opened #1394 "[BUG] match.resources is required"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: 1.3.0-RC8

**Describe the bug**
Unknown if bug or enhancement. Creating a validate rule in which the match statement only has `clusterRoles` defined and not `resources` is invalid:

[code]

[code]

Add in a `resources` statement and the policy is valid.

**To R

[2020-12-13 19:42] electrical opened #1396 "[BUG] Missing resource cpu limits throws error when doing rollout restart"
* Kubernetes version: 1.19.4
* Kyverno version: 1.3.0-RC8

**Describe the bug**
In the resource limits there is a request value for CPU but not a limit.
When doing a rollout restart it throws the following error:
[code]

**To Reproduce**
Install 1.3.0-RC8 and execute `kubectl -n kyverno  rollout restart deployment/kyverno`

**Additional context**

https://github.com/kyverno/kyverno/blob/v1.3.0-rc8

[2020-12-13 20:25] chipzoller commented on #1396
I tested this on my end with Kubernetes 1.19.1 and RC8 of Kyverno, and I don't get the same error:

[code]

No LimitRanges configured in the `kyverno` namespace or elsewhere.

[2020-12-13 20:45] electrical commented on #1396
It seems that a kubernetes cluster provisioned and managed by Rancher sets a default LimitRanges with values of '0' for request and limit. This caused the error.
Not sure why it didn't fail at install time or with other actions.
Feel free to close it if this won't be changed.

[2020-12-14 12:31] sgandon commented on #931
that sound a nice solution for answering my needs, thanks a lot.

[2020-12-14 20:25] chipzoller opened #1397 "Add CONNECT op into validatingwebhookconfiguration"
**Is your feature request related to a problem? Please describe.**
In order to support the request in https://github.com/kyverno/kyverno/issues/1069, we need Kyverno to add the `CONNECT` operation to the `kyverno-policy-validating-webhook-cfg` validatingwebhookconfiguration. Currently, it only watches for `CREATE` and `UPDATE`.

[code]

**Describe the solution you'd like**
Add the `CONNECT` operat

[2020-12-14 20:29] chipzoller commented on #1069
This issue requires the enhancement proposed in https://github.com/kyverno/kyverno/issues/1397.

[2020-12-14 21:37] JimBugwadia commented on #1397
Can't blocking create / update of the `PodExecOptions` be used to prevent this?

[2020-12-14 21:45] chipzoller commented on #1397
I tried with the `kind: PodExecOptions` and it doesn't recognize that, so apparently "no".

[2020-12-14 22:09] realshuting commented on #931
Closing the issue.
Reopen if needed.

[2020-12-14 23:29] realshuting commented on #770
If there's any validate policy that blocks the creation of source resource (of a generate policy),  moving `generate` after `validate` would avoid generating unnecessary GRs.

[2020-12-15 01:07] #1390 closed

[2020-12-15 05:20] #1349 closed

[2020-12-15 05:22] realshuting opened #1398 "[BUG] Optimize throttling requests for report change requests"
**Software version numbers**
* Kyverno version:
* 1.3.0-rc8

**Describe the bug**
A clear and concise description of what the bug is.
[code]

[2020-12-15 15:44] JimBugwadia commented on #1396
@electrical - thanks! We do not recommend setting CPU limits, as CPU is a compressible resource and limits can have unintended consequences. Perhaps we can add a LimitRange in the Kyverno namespace during installation. Would that prevent the default one from being created?

[2020-12-15 17:20] electrical commented on #1396
My best guess is that Rancher sets it up when creating the cluster and namespaces ( it's not a fully standalone kubernetes cluster )
As @chipzoller mentioned he didn't see this and it was just an unexpected behaviour from my side.
Perhaps I should just modify the LimitRange to something else than 0, or just delete the entries ( if it allows it )
I don't think it's something that requires to be sol

[2020-12-15 19:46] #1142 closed

[2020-12-15 19:48] chipzoller opened #1399 "[BUG] Generate policy with multiple rules, copying ConfigMap does not obey `match` clause"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-RC8

**Describe the bug**
When a single `generate` ClusterPolicy contains more than one rule where the second rule matches on Namespaces with a certain label and copies a ConfigMap from one Namespace to the new Namespace, the `match` clause is not honor

[2020-12-15 23:21] #1399 closed

[2020-12-16 00:11] chipzoller commented on #1374
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-RC8

**Describe the bug**
When a policy exists with a single (or multiple) `generate` rules, and one of those rules uses a `clone` type for a source resource with `synchronize: true`, changes to the source resource are not synchronized to downstream tar

[2020-12-16 00:13] chipzoller commented on #1374
**NOTE**: It appears (not completely confirmed) that this synchronization does occur for `clone` types every 15 minutes. It should occur immediately, however, once fixed.

[2020-12-16 01:05] realshuting commented on #918
@dirien Any updates on this?

[2020-12-16 01:09] realshuting commented on #1345
Closing via #1345.

[2020-12-16 01:09] #1345 closed

[2020-12-16 01:15] #1066 closed

[2020-12-16 01:18] #833 closed

[2020-12-16 01:21] realshuting commented on #689
Another improvement is to add memory usage against various loads.

[2020-12-16 01:22] realshuting commented on #614
Closing this as we migrated to use kubebuilder to manage CRDs.

[2020-12-16 01:22] #614 closed

[2020-12-16 01:45] chipzoller opened #1401 "[Improvement] Kyverno should not delete downstream resources when a generate policy using the `clone` behavior has `synchronize: true`"
**Is your feature request related to a problem? Please describe.**
When a `generate` rule which matches on Namespaces contains a reference to an existing resource via the `clone` statement, any matching new Namespaces gets a clone of this source object. But if the policy containing this rule is deleted, if `synchronize: true` is set on the rule, the downstream (synchronized) resources across all e

[2020-12-16 05:51] JimBugwadia commented on #1193
this is done. closing...

[2020-12-16 05:51] #1193 closed

[2020-12-16 07:22] nathanwang-comp opened #1403 "[BUG] kyverno 1.2.1 doesn’t work with AWS EKS 1.3 with is Kubernetes 1.13"
Can’t find which version is compatible with AWS EKS 1.3(Kubernetes 1.13)

[2020-12-16 07:49] mbarrien commented on #1403
According to https://github.com/aws/containers-roadmap/issues/871, EKS 1.13 was declared to be End of Life on June 30, 2020, almost 6 months ago.

[2020-12-16 13:30] chipzoller commented on #1403
Kyverno has a minimum requirement of Kubernetes 1.14.

[2020-12-16 18:03] nathanwang-comp commented on #1403
Where can I find the Kubernetes version requirements? Is it documented? Thanks!

[2020-12-16 18:05] chipzoller commented on #1403
https://kyverno.io/docs/introduction/#quick-start

[2020-12-16 20:11] nathanwang-comp commented on #1403
Thanks!

[2020-12-16 20:12] nathanwang-comp commented on #1403
does Kyverno has compatible matrix with Kubernetes version?

[2020-12-16 20:19] nathanwang-comp commented on #1214
What will happen to mutate policy if Kyverno crash or restart? @JimBugwadia Thanks!

[2020-12-16 20:24] realshuting commented on #1403
The minimum supported version is 1.14, we'll publish the compatible matrix moving forward.

[2020-12-16 20:29] #1377 closed

[2020-12-16 21:23] #1403 closed

[2020-12-18 01:31] MnrGreg opened #1408 "[BUG] multiple generate rules are applied when only one selector matches"
**Software version numbers**
* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-rc8

**Describe the bug**
Two generate rules within a single policy, target different namespace labels key values (but same key). Both rules are triggered when only one selector/matchLabels matches. A second rolebinding is incorrectly generated.

**To Reproduce**

[code]

[code]

[code]

**Expected behavior**
The se

[2020-12-18 04:57] realshuting commented on #1408
@MnrGreg Do you have any other generate policy installed?

I changed your policy slightly (to generate networkpolicy), and I can see there's only one resource been created.
Here's my policy:
[code]

Then I created ns test with label `team: group1`, I can see there's only one networkpolicy:
[code]

[2020-12-18 08:00] sreeees opened #1409 "View policy report for a single policy"
Hi Team,

Is there a way to see the policy report for a single policy, rather than a consolidated report at the namespace/cluster level?

Regards,
Sreekanth

[2020-12-18 08:00] realshuting commented on #1408
I just realized I was testing against `main` branch, rc8 may not have that fix yet.

Here is the latest test image for you to try out `ghcr.io/kyverno/kyvernopre:v1.3.0-rc8-25-gee31fabc`.

[2020-12-18 16:03] MnrGreg commented on #1408
yup, when using `v1.3.0-rc8-25-gee31fabc` only the matched namespace labels rules trigger. thank you @realshuting

[2020-12-18 16:03] #1408 closed

[2020-12-18 20:19] realshuting opened #1410 "[BUG] patchStrategicMerge overwrites containerPort"
**Describe the bug**

Policy
[code]

Resource:
[code]

In `ports`, both `mesh-tcp` and `mesh-udp` are using the same port 9094. After policy application, the UDP port is replaced by entire `mesh-tcp` object. Even though the [mergeKey](https://sourcegraph.com/github.com/kubernetes/api@master/-/blob/core/v1/types.go#L2239) of `ports` is `containerPort`, the policy has no such rule to mutate `ports`.

[2020-12-18 22:19] realshuting commented on #1409
With Kyverno v1.3.0, the policy reports are only generated at namespace / cluster level.

Moving forward, we are planning to add different `scope` for the report, it could be at the application (based on labels) or policy level.

@JimBugwadia Any thoughts on this?

[2020-12-21 19:04] #1398 closed

[2020-12-22 10:19] sreeees commented on #1409
Thanks for the reply, it is good to know that there are plans to add this,

Regards,
Sreekanth

[2020-12-22 15:07] JimBugwadia commented on #1409
Wondering if there are ways to filter for various concerns using kubectl....

That may be a more scalable approach than creating multiple reports at different scopes.

[2020-12-22 16:41] chipzoller commented on #1409
This is probably something that could be solved with a jsonpath expression and some pipes. It might be something that could be more elegantly solved with the CLI, however.

[2020-12-23 02:13] realshuting commented on #1266
Close via #1412.

[2020-12-23 02:13] #1266 closed

[2020-12-23 17:36] NoSkillGirl commented on #282
Also see - https://github.com/kyverno/kyverno/issues/1374.

Need to create generate request with respect to rule. Currently GR is created with respect to policy.

[2020-12-23 22:05] realshuting opened #1415 "Block generate policy creation if Kyverno does not have the corresponding permissions"
**Is your feature request related to a problem? Please describe.**
To improve user experience on generate policy - there are limited permissions that are granted to Kyverno by default, for generating a resource. Usually users need to grant additional permissions to generate the resource beyond Kyverno’s capability ( Roles / ClusterRoles / CRDs, etc). Though we have this documented on the website,

[2020-12-23 22:18] realshuting opened #1416 "Improve log message for generate policies"
**Is your feature request related to a problem? Please describe.**
When Kyverno is attempting to generate a resource for which it doesn't have permission, it displays the following error:
[code]

**Describe the solution you'd like**
It would be helpful to have an instruction on how to resolve it, for example,  add "users need to grant Kyverno's service account additional privileges" to the above l

[2020-12-24 01:48] #1410 closed

[2020-12-27 21:27] nathanwang-comp opened #1418 "Policy Support comparison correlation fields"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When validate the deployment, we want to ensure the resource request vs limit is in a desired ratio. We also want to mutate the deployment by the ratio of the request vs limit.
example:

[code]

**Describe the solution you'd like**
A clear

[2020-12-29 00:02] electrical opened #1419 "[BUG] Log indicates continues applying mutating policy for cronjob resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.4
* Kyverno version: 1.2.1

**Describe the bug**
Log indicates continues applying mutating policy for cronjob resources

**To Reproduce**

**Expected behavior**
Only apply mutate rule at creation of the resource

**Additional context**

Kyverno log:
[code]

Mutate policy that is

[2020-12-29 07:13] NoSkillGirl commented on #282
Currently we are using label prefix - `policy.kyverno.io` - for the resource generated by generate policy. This should be changed to - `generate.kyverno`

[2020-12-29 11:02] NoSkillGirl opened #1420 "[BUG] Not considering older labels while updating generate requests"
**Software version numbers**
* Kubernetes version: v1.19.3
* Kyverno version: 1.3.0

**Describe the bug**

https://github.com/kyverno/kyverno/blob/58feb4f0aeeb27dd4a400ddaa815ba97b00247eb/pkg/policy/validate_controller.go#L439

[code]
while updating GenerateRequest we are considering the older set labels. we are replacing all the labels with a new label `policy-update`.

lly here - https://github.

[2020-12-30 01:12] #1285 closed

[2020-12-31 04:58] JimBugwadia opened #1421 "[BUG] generated resources are updated on policy changes (when synchronize is false)"
**Software version numbers**

1.3.0-rc8

**Describe the bug**

Changes to generated resources are wiped out by a change to the policy (with synchronize set to `false`).

**To Reproduce**

I tested with 1.3.0-rc8 and found an issue.
I created this policy from your example:

[code]

I then create a ns app-1 .  The secret is created as expected.

I modified the secret (added annotations and data) and

[2020-12-31 17:38] cyrus-mc commented on #1421
I can confirm that modifying the policy causes Kyverno to re-evaluate/run the rules in which case it updates generated resources. But this doesn't appear to be the only thing that causes Kyverno to do this. There seems to be a time component as well in which the rules are re-evaluated.

This code seems to be relevant

[code]

Found in generate/generate.go. So it seems that even if `policy.kyverno.

[2020-12-31 17:40] cyrus-mc commented on #1421
https://github.com/kyverno/kyverno/blob/main/pkg/generate/generate.go

This logic appears to have been modified in master.

[2021-01-01 00:31] JimBugwadia opened #1422 "Support Git paths in CLI for policies"
The CLI currently can read policies from local paths and in a cluster.

Would be great to also support git (like kustomize does):

[code]

[2021-01-01 00:32] JimBugwadia commented on #1422
Sample code for this exists in: https://github.com/kyverno/website/tree/main/render

[2021-01-01 00:40] #1374 closed

[2021-01-01 00:40] #1420 closed

[2021-01-01 07:06] JimBugwadia opened #1423 "[BUG] local dev mode does not work"
**Software version numbers**

1.3.0-rc8

**Describe the bug**

Due to the automated cert registration the local mode of execution documented at https://github.com/kyverno/kyverno/wiki/Running#running-in-a-development-environment no longer works.

**To Reproduce**

Follow steps above

**Expected behavior**

Run outside cluster with `--kubeconfig` and `--serverIP` during development

[2021-01-01 07:08] JimBugwadia commented on #1423
I fixed some of the issues for this in the branch:

https://github.com/kyverno/kyverno/tree/feature/fix_dev_mode_execution

With these changes, Kyverno runs and the client TLS error are not seen. However, the API server shows these messages:

[code]

[2021-01-02 00:17] JimBugwadia commented on #1419
I have validated both use cases with the latest release.

[2021-01-02 00:21] JimBugwadia commented on #1421
I've tested both issues with `main` and can confirm that they are fixed with the new implementation of the generate rule.

[2021-01-02 00:22] JimBugwadia commented on #1421
@cyrus-mc - I will close this issue and prepare 1.3.0-rc9. Please let us know if you see any other issues!

[2021-01-02 00:22] #1421 closed

[2021-01-02 00:55] JimBugwadia opened #1424 "[BUG] cleanup generate logs"
**Software version numbers**

1.3.0-rc9

**Describe the bug**

The generate controller logs need to be tuned:

Logs when a new resource is generated:

[code]

Logs on deleting a generated resource when `synchronize: true`:

[code]

**Expected behavior**

A single log statement should be shown at the default level for each policy rule applied or processed.

Additional logs can be made available at

[2021-01-02 01:00] JimBugwadia opened #1425 "[BUG] generate refactorings"
**Software version numbers**

1.3.0-rc9

**Describe the bug**

Minor refactoring for generate controller:

[code]

[code]

[code]

[code]

[code]

[code]

[2021-01-02 01:03] JimBugwadia opened #1426 "[BUG] modifications in generated resource are not overridden till the next sync"
**Software version numbers**

1.3.0-rc9

**Describe the bug**

Generate a resource with `synchronize: true`. Now change the resource. The expectation is that the changes are immediately reverted to match the policy clone source resource or data element.

**To Reproduce**

Apply policy:

[code]

Then edit the resource. Remove `secret2` and add a `secret4`.

**Expected behavior**

The resource chang

[2021-01-02 01:08] JimBugwadia commented on #1419
The issue seems to be caused by YAML to JSON conversions in the `strategicMergePatch`.

The JSON from the API request has a `nil` fields, which get removed during the processing. This generated patches for fields like `metadata/creationTimestamp` or `lastProbeTime` which have `nil` values.

Seems like we will need to post-process patches and remove ones of this kind.

[2021-01-02 01:10] JimBugwadia commented on #1419
Note that this behavior should not cause any issues....other than some resource wastage due to unnecessary processing.

[2021-01-02 09:09] JimBugwadia opened #1427 "[BUG] validation occurs on deleted resources causing report errors"
**Software version numbers**

1.3.0-rc9

**Describe the bug**

Validation rules (patterns and anypatterns)  were executed on deleted resources which caused issues in reporting. This situation was exaggerated for CronJobs when pods are periodically deleted.

**To Reproduce**

Run 1.3.0-rc9 in a cluster with CronJobs installed. The policy report error counts will keep increasing.

**Expected behavio

[2021-01-02 09:22] #1427 closed

[2021-01-03 00:15] chipzoller opened #1429 "[BUG] Rename flag from `filterK8Resources` to `filterK8sResources`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: N/A
* Kyverno version: 1.3.0-RC9

**Describe the bug**
The flag `filterK8Resources` needs to be renamed to `filterK8sResources` to fix the proper abbreviation for Kubernetes as "K8s".

[2021-01-03 00:31] JimBugwadia opened #1430 "Add policies for pod security standards to Kyverno Helm Chart"
**Is your feature request related to a problem? Please describe.**

Add pod security policies to Kyverno Helm Chart.

**Describe the solution you'd like**

Users who install Kyverno via Helm also get pod security policies installed by default. They should be able to select pod security policy levels (`default` or `restricted`) and validation failure behaviors (`audit` or `enforce`).

**Describe al

[2021-01-03 00:35] chipzoller commented on #1430
We should clarify: These are [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) and not [Pod Security Policies (PSP)](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) so as to avoid any confusion.

[2021-01-03 00:47] JimBugwadia commented on #1197
This has been completed. Closing.

[2021-01-03 00:47] #1197 closed

[2021-01-03 02:25] JimBugwadia commented on #1430
Makes sense, updated title!

[2021-01-03 13:14] nnahaliel opened #1433 "[BUG] Policy violations created but new resources are not blocked"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.18 (EKS, using Cilium as CNI)
* Kyverno version: 1.2.1 (Installed using helm)

**Describe the bug**
Policy violations and warnings are created for existing resources that don't follow the policy,
but creation of new resources that don't follow the policy is still possible

**To Repr

[2021-01-03 15:03] chipzoller commented on #1433
Would you be able to verify if this bug still exists in the latest release candidate (RC) for Kyverno 1.3.0? You can install via Helm with the `--devel` flag as outlined [here](https://kyverno.io/docs/installation/#install-kyverno-using-helm).

[2021-01-03 21:53] chipzoller opened #1434 "[BUG] Kyverno ignores custom certificates at initialization"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-RC10

**Describe the bug**
When following the instructions in the [docs](https://kyverno.io/docs/installation/#option-2-use-your-own-ca-signed-certificate) for creating a custom certificate for Kyverno's use, when Kyverno initializes it overwrites the c

[2021-01-04 01:19] JimBugwadia opened #1435 "[BUG] likely memory leak in CRD sync"
**Software version numbers**

1.3.0-rc10

**Describe the bug**

In rc10, the CRD sync interval was inadvertently changed to 1s. This has been rectified for rc11. However, this change exposed a potential memory leak. See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1609682397366300

[2021-01-04 01:21] JimBugwadia opened #1436 "[BUG] remove clone / data details from logs"
**Software version numbers**

1.3.0-rc10

**Describe the bug**

Reported on slack: https://kubernetes.slack.com/archives/CLGR9BJU9/p1609682397366300

**Expected behavior**

Kyverno should only log the resource name, namespace, and kind not the details.

[2021-01-04 01:24] JimBugwadia opened #1437 "[BUG] deleting namespace create cluster policy report"
**Software version numbers**

1.3.0-rc10

**Describe the bug**

Reported on slack: https://kubernetes.slack.com/archives/CLGR9BJU9/p1609682397366300

[2021-01-04 03:20] lengrongfu commented on #1264
I will try to solve this problem, please assign it to me.

[2021-01-04 04:17] abhishekghiya opened #1438 "Is there way to avoid the TLS handshake messages in logs"
Kyverno is up and working fine but can see TLS handshake error in logs, that keeps on popping every one minute, is there way to avoid these logs ?

2021/01/04 03:52:15 http: TLS handshake error from 10.233.95.19:47064: EOF
2021/01/04 03:53:15 http: TLS handshake error from 10.233.95.19:47632: EOF
2021/01/04 03:54:15 http: TLS handshake error from 10.233.95.19:48210: EOF
2021/01/04 03:55:15 http: T

[2021-01-04 09:08] nnahaliel commented on #1433
Hi, I installed the latest version
side note - The most recent helm chart verion is v1.3.0-rc9, but that image tag does not exist. "v1.3.0-rc9-3-g900a5bbf" for example, does, but I decided that since i'm making a manual change, i'll use the latest image ("v1.3.0-rc11").

Still no luck. Logs are a bit different though.

** kyverno pod logs"
[code]

[2021-01-04 13:04] chipzoller commented on #1433
I notice
[code]

is logged repeatedly, which may indicate some sort of connectivity issue.

What is the output of
[code]

[2021-01-04 13:34] nnahaliel commented on #1433
It looks like it's creating and deleting them every 30 seconds or so

[code]

[2021-01-04 13:45] nnahaliel commented on #1433
Regarding the connectivity issue - I'm wandering the same thing since I had an issue with cert-manager's webhook.
The cert-manager documentation had [this known issue and workaround when using EKS with a custom CNI](https://cert-manager.io/docs/installation/compatibility/#aws-eks) which i tried to implement here as well but it required passing a flag to the container to listen on a different port,

[2021-01-04 17:09] realshuting commented on #1419
Related to https://github.com/kyverno/kyverno/issues/1216.

[2021-01-04 17:39] #1424 closed

[2021-01-04 17:39] #1436 closed

[2021-01-04 17:40] #1425 closed

[2021-01-04 18:05] JimBugwadia commented on #1433
@nnahaliel - thanks! yes, that does seem related, we will need to investigate further.

Can you try and edit your deployment to add:

[code]

If this works, we can add an setting to the Helm chart to enable this option.

I fixed the Helm chart issues so rc11 is now downloaded when you run:

[code]

Maybe best to uninstall RC9 and re-run.

[2021-01-04 19:30] realshuting commented on #1434
Adding [comments](https://kubernetes.slack.com/archives/CLGR9BJU9/p1609788101380600?thread_ts=1609691221.373900&cid=CLGR9BJU9) from @chipzoller:

[2021-01-05 07:17] #1435 closed

[2021-01-05 13:54] lengrongfu commented on #1264
My solution to this problem is to register the delete operation in the webhook when the webhook is called through the strategy, and print the log to record the policy is created/delete when the webhook callback is made.

First of all, thank @realshuting  for the new solution. The following is her solution:
    So we can do this via the policy controller, where it has a policy informer that informs

[2021-01-05 13:55] nnahaliel commented on #1433
Hi, everything looks good. Thanks!
[code]

[2021-01-05 17:01] JimBugwadia commented on #1438
@abhishekghiya - these messages typically indicate an issue. where either:
1. The readiness or liveness probes are failing
2. The webhooks are not registered correctly

Can you please check with these commands?

Check if the pod has restarted:
[code]

Check if the webhooks are registered:
[code]

You can also check the api-server pod logs to see if any issues are reported there.

[2021-01-05 18:16] JimBugwadia commented on #1350
@realshuting @NoSkillGirl - is this issue reproducible with rc11?

[2021-01-05 18:22] JimBugwadia opened #1442 "add `test` command to CLI"
**Is your feature request related to a problem? Please describe.**

Add a `kyverno test` command to the CLI that executes tests on a set of policies and resources

**Additional context**

https://github.com/kyverno/kyverno/issues/1271
https://github.com/kyverno/policies/issues/3

[2021-01-05 18:26] JimBugwadia commented on #1442
The proposal would be to use a test definition like this:

[code]

[2021-01-05 18:55] NoSkillGirl commented on #1350
@JimBugwadia - yes, the issue still exists in rc11

[2021-01-05 19:47] realshuting commented on #1264
Verified the logging message printed by `WebhookRegistrationClient` is removed, in v1.3.0-rc11. This was due to the dynamic registration of the webhook configurations on policy deletion, which was no longer the case.

[2021-01-05 21:36] JimBugwadia commented on #1433
Great! Thanks for confirming @nnahaliel!

We will add this information to our docs and log a separate issue to update the Helm chat with an option.

[2021-01-05 21:40] JimBugwadia opened #1443 "Helm chart option to use hostNetwork (required for EKS with custom CNIs)"
**Is your feature request related to a problem? Please describe.**

For AWS EKS clusters with custom CNIs `hostNetwork` needs to be used to configure the webhook.
See: https://github.com/kyverno/kyverno/issues/1433

**Describe the solution you'd like**

Add a toggle in the Helm chart to use hostNetwork

**Additional context**
- https://cert-manager.io/docs/installation/compatibility/#aws-eks
- htt

[2021-01-06 04:16] realshuting opened #1446 "[BUG] failed to mutate policy defaults"
**Software version numbers**

* Kyverno version: 1.3.0-rc11

**Describe the bug**
When the policy is created before Kyverno, the defaults `background`, `validationFailureAction` and auto-gen rules, etc, are never mutated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a policy without Kyverno pod
2. Scale up Kyverno pod to 1 replica

[code]

**Expected behavior**
[code]

[2021-01-06 08:13] NoSkillGirl commented on #1350
https://github.com/kubernetes/website/issues/25933 - check this

for ingress use api version as networking.k8s.io/v1beta1
[code]

[2021-01-06 16:24] lengrongfu commented on #1446
think we can solve this problem by performing a process before the Kyverno process starts successfully.

[2021-01-06 18:01] realshuting opened #1447 "Drop Kubernetes 1.14"

[2021-01-06 18:05] realshuting opened #1448 "[BUG] Memory leak with flooding of admission requests"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
1.19
* Kyverno version:
v1.3.0-rc11

**Describe the bug**
With 5 CronJobs that run every minute, Kyverno memory usage grows from 60 Mi to 121 Mi in 3 hours.

[2021-01-06 18:39] realshuting opened #1449 "[BUG] Improve policy status updater"
Enhancement:

- Policy validation / mutation should be skipped if only the policy status is updated.
- We should cache policy status update events within a certain interval, say 1 minute, and update it once. This would reduce policy update frequency.

[2021-01-06 18:41] realshuting opened #1450 "Publish Kyverno and Kubernetes compatible matrix"

[2021-01-06 19:32] chipzoller commented on #1450
Is this something we can log as an issue to the website instead?

[2021-01-06 19:40] realshuting commented on #1450
@chipzoller Good point! Moved to https://github.com/kyverno/website/issues/66.

[2021-01-06 19:40] #1450 closed

[2021-01-06 21:41] simonmacklin opened #1451 "[BUG] Pod keeps restarting"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.16
* Kyverno version: 1.2.1

**Describe the bug**
the pod will keep restarting which will end in a crash loop

**To Reproduce**
install provided helm chart with with create self signed certificate enabled

**Expected behavior**
I have just installed kyverno.  But we can not seem to

[2021-01-06 21:51] realshuting commented on #1451
@simonmacklin Thanks for reporting!

Do you see any out-of-memory(OOM) issue on Kyverno pod? If so, you can increase the memory limit in Kyverno deployment manifest.

Otherwise, is it possible to install the latest release candidate v1.3.0-rc11? It currently does not support using a custom self-signed certificate, which will be fixed in 1.3.1.

It would be good to [uninstall](https://kyverno.io/do

[2021-01-06 22:04] simonmacklin commented on #1451
Thanks for coming back so quickly @realshuting

I have tried the latest version and with resource limits.  But the pod still will not become healthy

I0106 22:03:09.515033       1 version.go:17]  "msg"="Kyverno"  "Version"="v1.2.1"
I0106 22:03:09.515181       1 version.go:18]  "msg"="Kyverno"  "BuildHash"="(HEAD/af07e66edea834bf8bbc12580b57345ff9cb543a"
I0106 22:03:09.515198       1 version.go:19]

[2021-01-06 22:13] realshuting commented on #1451
Sure!

I can see you are running Kyverno v1.2.1, all controllers are shut down, and there are errors syncing the informer cache, `failed to sync informer cache`.

What kind of cluster are you running?

[2021-01-06 23:00] simonmacklin commented on #1451
Sorry @realshuting

I copied the wrong set of logs

I0106 22:39:09.682749       1 version.go:17]  "msg"="Kyverno"  "Version"="v1.3.0-rc11"
I0106 22:39:09.682996       1 version.go:18]  "msg"="Kyverno"  "BuildHash"="(HEAD/e23a25b68c77301ae05bf2079c2e318a4b791f21"
I0106 22:39:09.683015       1 version.go:19]  "msg"="Kyverno"  "BuildTime"="2021-01-04_04:43:35AM"
I0106 22:39:09.683408       1 config.g

[2021-01-06 23:07] realshuting commented on #1451
Interesting there's no error been logged. Can you open up the log level to `v=4` to see if there's any error?

[2021-01-06 23:54] realshuting commented on #918
Closing this.

Feel free to reopen if needed.

[2021-01-06 23:54] #918 closed

[2021-01-07 00:16] realshuting commented on #1429
This flag will be eventually removed, track in https://github.com/kyverno/kyverno/issues/261.

[2021-01-07 00:19] chipzoller commented on #1429
Name is what's important here, regardless of flag or ConfigMap key.

[2021-01-07 00:32] #1449 closed

[2021-01-07 03:28] realshuting commented on #1429
This is reasonable, sent a PR to fix it in v1.3.0.

[2021-01-07 04:05] chipzoller commented on #1451
I'm seeing in your log output:
[code]

Just as a test, with this same manifest, what happens if you use the default Namespace of `kyverno`? If that ends up not crashing, there's a problem somewhere when customizing the Namespace.

[2021-01-07 04:34] #1264 closed

[2021-01-07 05:47] NoSkillGirl commented on #1350
apiVersion of ingress depends on the Kubernetes version.

For the kubernetes version 1.14 to 1.18 ingress is available under `networking.k8s.io/v1beta1`. For 1.19+ it is available under `networking.k8s.io/v1` .

Reference:
- https://github.com/kubernetes/kubernetes/issues/90077
- https://github.com/kubernetes/website/issues/25933
- https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2021-01-07 05:47] #1350 closed

[2021-01-07 06:33] NoSkillGirl opened #1453 "Upgrade client-go to 1.20"
Version upgrade to client-go 1.20

[2021-01-07 06:33] NoSkillGirl commented on #1453
Reference - https://github.com/kyverno/kyverno/issues/1350

[2021-01-07 09:27] lengrongfu commented on #1448
@realshuting Can you post the ClusterPolicy CR YAML file? I try to find out the problem.

[2021-01-07 16:02] simonmacklin commented on #1451
Hi @chipzoller

Thanks for the suggestion.  But no difference using the default kyverno namespace.

It looks like it is kubernetes killing the pod because of the readiness and liveness probs are failing.

@realshuting  I will get those debug logs turned on and post if there is anything useful to send over.

That being said I have ran kyverno using the same helm chart on a kind cluster and it is wo

[2021-01-07 17:24] JimBugwadia opened #1454 "[BUG] panic during mutate rule processing"
**Software version numbers**

1.3.0-rc11

**Describe the bug**

See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1610033591399000

https://gist.github.com/electrical/46a8a2d2441769789bcefac701cb5e32

Here is the policy:

[code]

[2021-01-07 18:34] todogroup-packages opened #1455 "Adopt DCO per CNCF IP Policy"
CNCF requires usage of a CLA and/or DCO.

Most projects end up using DCO checks, I recommend installing this bot to do the checks: https://github.com/apps/dco

[2021-01-07 19:08] abhishekghiya opened #1456 "Getting "admission control configuration error""
**Software version numbers**
v1.3.0-rc11

* Kubernetes version:
1.17.7

**Describe the bug**

After installing Kyverno getting following error in logs

I0107 18:34:26.050805       1 server.go:491] WebhookServer "msg"="starting service"
I0107 18:34:56.065030       1 status.go:70] WebhookMonitor/WebhookStatusControl "msg"="updating deployment annotation" "name"="kyverno" "namespace"="kyverno" "key"=

[2021-01-07 19:22] JimBugwadia opened #1457 "[BUG] annotations with anchors and wildcards are not handled correctly"
**Software version numbers**

1.3.0-rc11

**Describe the bug**

Annotations with wildcard matches and conditional anchors do not work.

**To Reproduce**

Use a policy:

[code]

Then apply the pod:

[code]

This is incorrectly matched.

Also, in some cases the policy matches pods with no annotations if other policies add the annotations.

[2021-01-07 19:26] realshuting commented on #1451
@simonmacklin Thanks for the updates!

At this moment, I don't think we need the debug log as Kyverno pod gets killed because of readiness / liveness probes. Can you share the error message when you `describe` Kyverno's pod, `kubectl describe -n secops describe pod <name>`?

Also, do you have any network settings that could block traffic on port 9443?

[2021-01-07 19:27] #1429 closed

[2021-01-07 19:39] realshuting commented on #1456
Seems Kyverno fails to register webhooks, can you share the following? You should see 5 webhook configurations:
[code]

If you are running a GKE cluster, this [issue](https://github.com/kyverno/kyverno/issues/1336#issuecomment-735846030) may help.

[2021-01-07 19:41] realshuting commented on #1448
I have all [sample](https://github.com/kyverno/kyverno/tree/main/samples/best_practices) policies installed.

[2021-01-07 19:57] #1457 closed

[2021-01-07 20:30] abhishekghiya commented on #1456
Thanks for looking into issue

Please find kubectl command result as below:

![image](https://user-images.githubusercontent.com/76930832/103941190-811a0180-5154-11eb-8af7-68f88792758e.png)

Not using GKE cluster, I have a VM setup with kubernetes installed using kubespray

[2021-01-07 21:32] realshuting commented on #1456
Is Kyverno Pod running? Do you see any failure when describing the pod?
`kubectl describe pod <name> -n kyverno`

Also, can you please attach full logs?

[2021-01-07 23:39] #1433 closed

[2021-01-07 23:43] #1396 closed

[2021-01-08 00:27] #1448 closed

[2021-01-08 02:33] lengrongfu commented on #1446
@realshuting Assigned to me.

[2021-01-08 02:59] realshuting commented on #1446
@lengrongfu I think you can self-assign once participated in the issue.

I've verified with the latest main branch, the defaults do get mutated when a policy is updated manually (insert a label, for example). While in Kyverno, we have a logic to skip generating such mutation patches if only `policy.Status` is updated. We need to trigger a policy update when any of the defaults is missing.

I would

[2021-01-08 06:24] JimBugwadia commented on #1273
Logged PR for CRD / schema updates and Policy reports:

https://github.com/kyverno/website/pull/68
https://github.com/kyverno/website/pull/69

[2021-01-08 06:24] #1273 closed

[2021-01-08 16:13] abhishekghiya commented on #1456
@realshuting  Please find attached the result of kubectl command and logs

[logs-from-kyverno-in-kyverno-7bb46b8bc6-46lzr-logs.txt](https://github.com/kyverno/kyverno/files/5788178/logs-from-kyverno-in-kyverno-7bb46b8bc6-46lzr-logs.txt)

[kubectl_command_result.txt](https://github.com/kyverno/kyverno/files/5788183/kubectl_command_result.txt)

Thanks

[2021-01-08 19:03] realshuting opened #1461 "[BUG] Kyverno keeps applying policy to the resource even there's no update"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version:
v1.3.0-rc11

**Describe the bug**
This is reported in Slack, https://kubernetes.slack.com/archives/CLGR9BJU9/p1610131686406400?thread_ts=1609692643.374500&cid=CLGR9BJU9

[code]

[2021-01-08 19:43] realshuting commented on #1461
Duplicate of https://github.com/kyverno/kyverno/issues/1419, closing.

[2021-01-08 19:43] #1461 closed

[2021-01-09 00:45] #1454 closed

[2021-01-09 03:26] realshuting commented on #1456
The log only reports the webhook is not active, which means Kyverno can not receive admission requests forwarded by API Server.

Is it possible for you to check the API Server's log? Any errors related to the webhook?

[2021-01-09 14:13] chipzoller commented on #1337
After testing with RC12, I am still seeing that unlabeling of protected resources is still allowed. For example, try this policy, which is a variation of the above which has no `exclude` clause:

[code]

* Label a resource with `app=critical`
* Delete resource. It will be blocked.
* Unlabel said resource.
* You can now delete the resource.

[2021-01-09 14:18] chipzoller commented on #1337
@JimBugwadia perhaps reopen?

[2021-01-09 16:22] abhishekghiya commented on #1456
@realshuting ,  yes can see errors in kube-api-server logs. Looks like it is not able to call webhook

I0109 15:45:24.043795       1 trace.go:116] Trace[1279791725]: "Call mutating webhook" configuration:kyverno-resource-mutating-webhook-cfg,webhook:mutate.kyverno.svc,resource:coordination.k8s.io/v1, Resource=leases,subresource:,operation:UPDATE,UID:43561aa7-5aa3-423b-8c78-fda5e46a2aa2 (started: 2

[2021-01-09 20:03] JimBugwadia commented on #1337
Yes, will investigate.

[2021-01-09 22:14] realshuting opened #1464 "[BUG] preconditions and context are not copied to the auto-gen rules"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.0-rc12

**Describe the bug**
`preconditions` and `context` in a rule are not copied to pod controllers' rule.

**To Reproduce**
Install this policy:
[code]

Neither `preconditions` nor `context` is copied to rule `autogen-add-parsing-note` and `autogen-cronjob-add-parsing-note`.
[co

[2021-01-09 22:19] chipzoller opened #1465 "[BUG] Mutation failure messages not logged appropriately, failed rules empty"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-rc12

**Describe the bug**
With a sample policy described in https://github.com/kyverno/kyverno/issues/1464, Kyverno logs the following.

[code]

**Expected behavior**
1. Any logs that mention failed behavior should be logged at an Error level.
2. The "

[2021-01-09 22:37] chipzoller opened #1466 "[BUG] Nested JMESPath expressions not working"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-rc12

**Describe the bug**
When nesting JMESPath expressions where the inner expression comes from AdmissionReview payload and the outer comes from a ConfigMap context lookup, only the inner-most variable is being replaced.

**To Reproduce**
Steps to re

[2021-01-10 03:13] JimBugwadia commented on #1337
The policy has a bug. It should be:

[code]

[2021-01-10 03:14] JimBugwadia commented on #1337
I've updated the initial description as well so others do not make this mistake.

[2021-01-10 13:32] chipzoller commented on #1337
After changing "UPDATES" to just "UPDATE" is does indeed work. Thank you! Issue can be closed.

[2021-01-10 13:49] chipzoller opened #1467 "[BUG] Logging duplication"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-rc12

**Describe the bug**
Log messages are duplicated upon deny action:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Label an existing Pod with `protected=yes`.
2. Install this sample policy:
[code]
3. Attempt to delete the Pod.
4. Che

[2021-01-10 20:03] #1337 closed

[2021-01-10 20:05] JimBugwadia commented on #1466
Looks like nested variables work, but not for ConfigMaps data. For example this works:

[code]

[2021-01-10 20:13] chipzoller commented on #1466
Interesting, that's good to know. So it should definitely be possible, hopefully without too much effort. Because this would open some really powerful doors by basically using a table lookup for values (which is the use case).

[2021-01-10 20:15] JimBugwadia commented on #1466
Looking more closely at the test case, seems like it may need to be re-worked as it not really validating the results. Will add / extend and report back.

[2021-01-10 22:10] chipzoller opened #1468 "Feature: Add schema validation to {{ request.operation }} statements"
**Is your feature request related to a problem? Please describe.**
When writing a policy which validates operations from AdmissionReview data, Kyverno does not validate that the provided operations are valid. This results in the possibility of writing a policy which doesn't work as intended.

For example, when writing a `deny` statement which looks at `{{ request.operation }}`, a user could put `F

[2021-01-11 16:11] JimBugwadia commented on #1442
The command should take a single input `dirs` and recursively scan for and execute all `tests.yaml` files in that folder:

[code]

The test file format is shown above.

[2021-01-11 22:11] snuggie12 commented on #931
@JimBugwadia is it possible to use pre-conditions to do this? If not, should I create a new issue?

We use namespaceSelector for the majority of our OPA policies to distinguish between dev-written workloads in some namespaces vs off-the-shelf software  in other namespaces where we might not be able to control various fields for an object.

[code]

[2021-01-12 17:17] NoSkillGirl opened #1469 "[BUG] handle names in labels which also use `-`"
**Software version numbers**
* Kubernetes version: 1.19.1
* Kyverno version: 1.3.0-rc12

**Describe the bug**
labels added to the generated resource have `-` delimiter. Currently, the - delimiter does not  handle names which also use `-`?

**To Reproduce**
Apply any generate rule which is trigged by a namespace.
Create a namespace with `-` delimiter

[2021-01-12 18:14] JimBugwadia commented on #931
No, currently preconditions are limited to data in the context which includes request information and config maps. Lets reopen this issue to preserve history.

[2021-01-12 18:26] abhishekghiya commented on #1456
@realshuting , can see below error:

W0109 15:45:24.043843 1 dispatcher.go:168] Failed calling webhook, failing open mutate.kyverno.svc: failed calling webhook "mutate.kyverno.svc": Post https://kyverno-svc.kyverno.svc:443/mutate?timeout=3s: context deadline exceeded
E0109 15:45:24.043859 1 dispatcher.go:169] failed calling webhook "mutate.kyverno.svc": Post https://kyverno-svc.kyverno.svc:443/mut

[2021-01-12 19:06] realshuting commented on #1456
@abhishekghiya
Can you pass in this flag `--webhooktimeout=5s` in Kyverno Deployment's args? It sets the webhook timeout to 5s, or you can set to a larger interval to see if it resolves the issue.

[2021-01-13 07:18] JimBugwadia commented on #1438
@abhishekghiya - any updates on this? Are you still seeing this issue?

[2021-01-13 07:20] JimBugwadia commented on #1415
@realshuting - these checks already exist. Are they not working as expected?

[2021-01-13 07:23] JimBugwadia commented on #1365
This is done...closing.

[2021-01-13 07:27] JimBugwadia commented on #1024
This was entered to match Kustomize and is not required. Closing.

[2021-01-13 07:27] #1024 closed

[2021-01-13 07:27] JimBugwadia commented on #1023
This was entered to match Kustomize and is not required. Closing.

[2021-01-13 07:27] #1023 closed

[2021-01-13 14:54] chipzoller commented on #1241
Main use case for variables in `match` / `exclude` statements is consuming ConfigMap data that contains, for example, a cluster-wide list of all Namespaces which should be exempt from certain ClusterPolicy types.

[2021-01-13 18:27] realshuting opened #1470 "[BUG] Further reduce throttling requests"

[2021-01-13 19:42] abhishekghiya commented on #1438
Hi @JimBugwadia,

I have checked executing the command

`kubectl -n kyverno get pods`

![image](https://user-images.githubusercontent.com/76930832/104495260-8d430a80-55fd-11eb-9bac-42271269d64c.png)

Can see there are no restarts of pod and webhooks are registered properly as well

![image](https://user-images.githubusercontent.com/76930832/104495181-6edd0f00-55fd-11eb-8f30-6574eb5f5f9d.png)

Cann

[2021-01-13 19:55] JimBugwadia commented on #1438
Thanks @abhishekghiya for checking and providing details!  So, seems like the webhooks are working and the so are the pod probes.

From the logs above, is `10.233.95.19` one of your node's IP address?

Is this a managed cluster (EKS, AKS, etc.)? Any other relevant K8s, CNI, and cluster details?

We are not seeing this on any of our test clusters, so am curious to know what may be causing this.

Yo

[2021-01-13 20:38] simonmacklin commented on #1451
Hi @realshuting

Sorry for the late reply.  This was a problem with one of our clusters.  Now we have fixed the cluster, kyverno stays up without any reboots the only thing I still do see in the logs is below.

I0113 20:37:26.622885       1 pattern.go:208]  "msg"="unexpected type : "  "type"="\u003cnil\u003e" "value"=null
I0113 20:37:26.623009       1 pattern.go:208]  "msg"="unexpected type : "  "

[2021-01-13 20:43] realshuting commented on #1451
@simonmacklin Thanks for the update!

I recall this was a log issue in 1.2.1 and has been fixed in 1.3.0. Can you upgrade to the latest v1.3.0 to see if it's fixed?

[2021-01-13 20:53] chipzoller commented on #1242
What's the level of effort to support this feature? Is this a potential addition to 1.3.1 or would it need to be further out?

[2021-01-13 20:58] simonmacklin commented on #1451
That done it 👍

Many thanks @realshuting

[2021-01-13 21:01] realshuting commented on #1451
You are most welcome!

[2021-01-13 21:01] #1451 closed

[2021-01-14 05:52] #1365 closed

[2021-01-14 07:29] JimBugwadia commented on #1244
Hi @mitchellmaler - can you please provide a few examples of how you would like to use these functions? I am assuming its to mutate names, etc. but would like to make sure. Thanks!

[2021-01-14 09:44] NoSkillGirl opened #1472 "Add global variables to CLI"
**Is your feature request related to a problem? Please describe.**
In CLI - if we are applying multiple policies having variables on multiple resources. We need to mention values for variable as many resources are there - https://kyverno.io/docs/kyverno-cli/#apply

**Describe the solution you'd like**
There should be global values which should be used by policy variables.

[2021-01-14 12:17] idvoretskyi opened #1473 "DCO check is missing for the Kyverno project"
Greetings, project maintainers.

CNCF's IP policy (https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) requires all projects to use either CLA (Contributor License Agreements) or DCO (Developer Certificate of Origin). Unless there's a strong necessity to use CLA, we encourage projects to use DCO as it's easier to setup and use. Ref.: https://github.com/cncf/foundation/issues/13

[2021-01-14 16:37] JimBugwadia commented on #1473
Hi Ihor,

Thanks! Will do.

Jim

On Thu, Jan 14, 2021 at 4:17 AM Ihor Dvoretskyi <notifications@github.com>
wrote:

[2021-01-14 19:48] realshuting commented on #1473
Thanks @idvoretskyi , we have enabled DCO, see test https://github.com/kyverno/kyverno/pull/1475.

[2021-01-14 19:49] realshuting commented on #1455
DCO has been enabled, see #1475 for example.

[2021-01-14 19:49] #1455 closed

[2021-01-14 19:50] idvoretskyi commented on #1473
@realshuting @JimBugwadia awesome, thanks!

[2021-01-14 19:50] #1473 closed

[2021-01-14 19:58] chipzoller commented on #1466
Confirmed working after https://github.com/kyverno/kyverno/pull/1471

[2021-01-14 21:41] #1466 closed

[2021-01-14 21:44] realshuting commented on #1254
Duplicate of https://github.com/kyverno/kyverno/issues/1464, closing.

[2021-01-14 21:44] #1254 closed

[2021-01-14 21:58] realshuting commented on #1415
Confirmed this is supported, closing.

[2021-01-14 21:58] #1415 closed

[2021-01-15 17:53] ws-way opened #1479 "Unable to start Kyverno"
* Kubernetes version:
1.3.0

We have an error in de 'pre' container

[code]
We did install the standard metrics prior to this issue with this command:
[code]

And removed it again.

Any idea what is wrong?

[2021-01-15 17:56] ws-way commented on #1479
I did a kubectl delete (again) on the metrics-server and restarted the Kyverno pod and the error was gone. Looks like the first kubectl delete didn't remove everything.

[2021-01-15 19:13] realshuting commented on #1339
See https://github.com/kubernetes-sigs/kustomize/issues/1358#issuecomment-742946972.

[2021-01-16 01:59] realshuting commented on #1339
With https://github.com/kyverno/kyverno/pull/1478,  `strategicMergePatch` for `tolerations` should work for the resource that  with / without `tolerations`.

[2021-01-16 15:05] electrical opened #1480 "[BUG] autogen rules for cronjobs bug"
**Software version numbers**

* Kubernetes version: 1.19.6
* Kyverno version: 1.3.0

**Describe the bug**

The autogen creates the block for CronJob resource but it's missing a layer.
It's creating it for spec.jobTemplate.spec.containers.securityContext and spec.jobTemplate.spec.securityContext but I if I look at a cronjob it's in spec.jobTemplate.spec.template.spec.containers.securityContext so i

[2021-01-18 09:39] abhishekghiya opened #1481 "Kyverno-pre is crashing with error couldn't get resource list for custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1"
Kubernetes Environemnt : D2iq Konvoy

Kubernetes version : 1.18

Kyverno version: 1.3.0-rc8

After installing the Kyverno in D2iq Konvoy Kubernetes cluster, Getting below error in kyverno-pre container logs and container went into crash back off loop state.

I0118 09:22:28.083001       1 main.go:140]  "msg"="Using in-cluster configuration"
E0118 09:22:28.145511       1 memcache.go:206] couldn't ge

[2021-01-18 10:35] IbraheemAlSaady opened #1482 "Create a rule on pods and deployments based on a namespace label match"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://github.com/kyverno/kyverno/blob/main/samples/README.md).

**Describe the ideal solution you'd like**

I have a strict and non-strict set of policies that needs to be applied on pods, deployments, etc..., these should be matched based on a label on the namespace

if the namespace label `policy: strict` i

[2021-01-18 19:48] realshuting commented on #1481
@abhishekghiya Thanks for reporting the issue!

Can you upgrade to v1.3.0 and try again? It's better to uninstall Kyverno and re-install it.

We've seen the metrics server sometimes brings an issue to Kyverno, here's a [reference]( https://stackoverflow.com/questions/62442679/could-not-get-apiversions-from-kubernetes-unable-to-retrieve-the-complete-list) that may help on debugging the problem.

[2021-01-18 20:09] realshuting commented on #1482
@IbraheemAlSaady This is an interesting use case!

You should be able to write such policies with [ConfigMap lookup](https://kyverno.io/docs/writing-policies/variables/#variables-from-configmap-resources) and [Preconditions](https://kyverno.io/docs/writing-policies/preconditions/):
- Use the ConfigMap as a dictionary to store labels on each namespace, for example, applies "non-strict" policies to

[2021-01-18 21:06] chipzoller commented on #1482
@realshuting keep in mind this functionality you propose (nested JMESPath expressions) isn't available yet in a release and is tracking for 1.3.1.

[2021-01-19 10:06] IbraheemAlSaady commented on #1482
Thanks, @realshuting, and @chipzoller. The thing is we're making a move from OPA and Gatekeeper to Kyverno, we're trying to create policies we have in OPA.
The config map above should be created under the namespace I want to apply the policies on? or where Kyverno is installed? or doesn't matter?

[2021-01-19 13:59] chipzoller commented on #1482
@IbraheemAlSaady the ConfigMap can be in any Namespace. You'll use a `context` to point Kyverno to it's location, just like in [this post](https://github.com/kyverno/kyverno/issues/1464#issue-782695123).

[2021-01-19 15:19] IbraheemAlSaady commented on #1482
Great, thanks a lot @chipzoller, I'll give it a try

[2021-01-19 19:08] #1216 closed

[2021-01-19 19:08] #1339 closed

[2021-01-19 19:08] #1419 closed

[2021-01-19 20:38] realshuting commented on #1482
@chipzoller Thanks for reminding me!

@IbraheemAlSaady We've released v1.3.1, with the fix to support [nested JMESPath expressions](https://github.com/kyverno/kyverno/issues/1466).

[2021-01-19 23:34] realshuting opened #1483 "[BUG] validate policy fails to restrict volumes.cephFS"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.1

**Describe the bug**
This was broken since v1.3.0-rc12.

**To Reproduce**
Policy:
[code]

Resource:
[code]

[2021-01-20 02:54] realshuting commented on #1483
It dues to invalid syntax - should be `cephfs`.

[2021-01-20 02:54] #1483 closed

[2021-01-20 14:16] chipzoller commented on #1468
@realshuting this should be easy to implement.

[2021-01-20 20:29] chipzoller opened #1485 "Use logical operators to define policy conditions"
## Problem Statement
In Kyverno today, there are several different parameters/fields which function as an input filter for policies. Examples include `preconditions`, `validate.deny.conditions`, `pattern`, `anyPattern`, `matchExpressions`, and `matchLabels`. For each, which they all accept an array of objects, they have an implied logical operator, which is AND except for `anyPattern` (OR). The la

[2021-01-20 23:25] #1423 closed

[2021-01-21 17:47] chipzoller commented on #1334
Some ideas for implementing this function:

1. Available as a flag which can be passed into the Kyverno container as a param which can take a few args:
  * Length of time from this point when AdmissionReview payloads are dumped.
  * Operation types it should dump (ex., only CREATE)
  * Kubernetes kinds it should dump (ex., only Services)
2. Not available as a flag but can be injected by Kyverno CL

[2021-01-21 17:54] JimBugwadia commented on #1482
There was another prior request for a `namespaceSelector`: https://github.com/kyverno/kyverno/issues/931.

If this is a common use case, perhaps we need to prioritize?

[2021-01-21 17:58] chipzoller commented on #1482
I'll point out that 931 is the most reacted issue of any presently active, which seems to suggest this is a common use case.

[2021-01-21 19:24] treydock commented on #1456
I've run into this issue as well, I am on kyverno 1.3.1 using standard YAML install with only change being I increased the webhook timeout to 10 seconds and still seeing errors in API server.  What ends up happening when I install kyverno is API server becomes almost entirely unresponsive and then the kubernetes controller-manager and scheduler pods begin to timeout making API calls and crash and

[2021-01-21 20:18] treydock commented on #1456
I tried reverting my recent changes to kube-proxy and kube-apiserver and the issue persists with Kyverno.  Simply applying the `install.yaml` for kyverno will essentially make the API server not respond to requests and then kyverno goes into a loop of creating then deleting the webhooks.

[2021-01-21 20:30] realshuting commented on #1456
There is no webhook change between 1.3.0-rc12 and 1.3.1.  Can you install [1.3.0-rc12](https://github.com/kyverno/kyverno/blob/v1.3.0-rc12/definitions/release/install.yaml) and see if Kyverno works?

Also, if you get the webhook configurations, you should see the following five for Kyverno:
[code]

[2021-01-21 20:31] realshuting commented on #1456
@abhishekghiya I found this [issue](https://github.com/jetstack/cert-manager/issues/2640#issuecomment-601872165) that may help for a kubespray cluster, seems like you need extra proxy configurations for the api-server.

[2021-01-21 20:49] treydock commented on #1456
@realshuting The initial issue I faced was with 1.3.0-rc12.  It was immediately following a deletion of all kube-proxy pods to pick up new configmap change.  A few times that did not cause issues then when it did the only solution I found was totally deleting kyverno (this was v1.3.0-rc12).  I've upgraded to 1.3.1 hoping that would solve problems and that did not.

I do see those 5 webhook items b

[2021-01-21 21:03] realshuting commented on #1456
`webhook check failed` indicating that the APIServer cannot forward traffic to Kyverno. Seems like there were some cluster configurations that impacted the webhook.

Can you share how the cluster was built? We can move this conversation to the Kyverno Slack channel if you prefer.

[2021-01-21 22:14] treydock commented on #1456
@realshuting The slack URL on website is just presenting me with a page to log into my existing slack workspaces or provide <some workspace>.slack.com URL but not working otherwise.

I have flushed iptables on all worker nodes and my controller node and rebooted each.  That resolved some lingering issues with coredns pod on my controller due to calico issue but the kyverno issue remains.  I provis

[2021-01-21 23:35] JimBugwadia commented on #1456
@treydock - you can try joining the Kubernetes slack from https://slack.k8s.io/ and then subscribe to the #kyverno channel.

You can also DM us at @JimBugwadia and @realshuting.

Have you also been able to verify the service IPs, etc. and other part of the webhook configuration? From this error message:

[code]

Is `10.110.86.7:443` reachable from the control-plane nodes?

[code]

[2021-01-22 00:34] nathanwang-comp opened #1490 "[BUG] kyverno initContainer fail to start when external.metrics.k8s.io/v1beta1 return empty array for resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.16
* Kyverno version: v1.3.0 and v1.3.1

**Describe the bug**
A clear and concise description of what the bug is.
Kyverno init container fail to start with external metrics enable

**To Reproduce**
Steps to reproduce the behavior:
1. install prometheus external metrics
2. install ky

[2021-01-22 02:51] realshuting commented on #1490
@nathanwang-comp I've made a fix for the crash issue in this PR, can you test with tag `v1.3.1-10-g24f719d8` for both init and kyverno containers?

I found a similar [issue](https://github.com/helm/helm/issues/6361#issuecomment-538220109) for such an error, can you please check if the workaround solves the problem?

[2021-01-22 02:56] nathanwang-comp commented on #1490
@realshuting I will test it tomorrow, and let you know if the fix work. Thanks!

[2021-01-22 03:33] nathanwang-comp commented on #1490
@realshuting I just did test the pod is in CrashLoopBackOff
`I0122 03:28:31.135110       1 version.go:17]  "msg"="Kyverno"  "Version"="v1.3.1-7-g62a4a3a7"
I0122 03:28:31.135147       1 version.go:18]  "msg"="Kyverno"  "BuildHash"="main/62a4a3a7da84ea9040da9f38557e039982501e47"
I0122 03:28:31.135158       1 version.go:19]  "msg"="Kyverno"  "BuildTime"="2021-01-22_02:59:17AM"
I0122 03:28:31.135243

[2021-01-22 03:35] realshuting commented on #1490
Have you tried this workaround I mentioned earlier - https://github.com/helm/helm/issues/6361#issuecomment-538220109?

[2021-01-22 03:37] nathanwang-comp commented on #1490
the workaround doesn't fit my problem, we can't delete the api, since we have the external metrics adapter.

[2021-01-22 03:40] nathanwang-comp commented on #1490
@realshuting we have install an external metrics service, when there is no HPA defined, the resource return from external metrics API is empty array which is correct behavior. we can't delete the external metrics API, since it will be used for our HPA.

[2021-01-22 03:58] nathanwang-comp commented on #1490
same as this issue https://github.com/kyverno/kyverno/issues/1324

[2021-01-22 15:31] treydock commented on #1456
Mentioned in Slack but adding here in case anyone comes across this issue.

Before I had a chance to test that busybox command, I solved the problem by upgrading from Kubernetes 1.19.4 to 1.19.7.  I think the bug I might have been seeing is this: https://github.com/kubernetes/kubernetes/issues/87615.  It was back ported to 1.19.5 I believe.

[2021-01-22 17:33] nathanwang-comp commented on #1490
@realshuting any workaround or patch I can try? Thanks!

[2021-01-22 20:50] IbraheemAlSaady commented on #1482
I’ll close this issue in favor of #931

[2021-01-22 20:50] #1482 closed

[2021-01-23 02:25] MnrGreg opened #1492 "[BUG] ClusterReportChangeRequest generation seems to fail with objects that have long names"
**Software version numbers**
* Kubernetes version: 1.19.1
* Kyverno version: v1.3.0
* vSphere CSI driver: v2.1.0

**Describe the bug**
Noticed a few errors like these in the kyverno logs. Seems vSphere CSI VolumeAttachment which have long names prevent label creation which trips up the the Cluster Policy Reports and loop indefinitely.

[code]

[code]

[code]

Would it be possible to truncate the l

[2021-01-23 03:48] nathanwang-comp commented on #1490
@realshuting Do you have container tag I can test for your fix?

[2021-01-23 04:07] realshuting commented on #1490
Sorry it was closed by mistake, @JimBugwadia is working on the fix, will update you once we have the fix.

[2021-01-23 04:43] nathanwang-comp commented on #1490
Thanks!

[2021-01-23 06:16] abhishekghiya commented on #1481
Thanks @realshuting for quick reply

Looks like Prometheus Adaptor addon was down (pod was in pending state) in the kubernetes cluster that was causing the "custom.metrics.k8s.io/v1beta1" to return empty response. After fixing the addon kyverno came up successfully.

Just wanted to check if kyverno has any dependeny on the availablilty of apis "custom.metrics.k8s.io/v1beta1" to come up ?

Thanks

[2021-01-23 06:27] abhishekghiya commented on #1456
Thanks @realshuting, let me check for this configuration

[2021-01-23 07:25] realshuting commented on #1481
No there’s no dependency on this api group.

Kyverno checks if all CRDs are installed correctly during start time, while
it gets the error response from API server, so it exits and keeps
restarting. We’ll send a patch to ignore such an error along with the fix
for #1490.

On Fri, Jan 22, 2021 at 10:16 PM abhishekghiya <notifications@github.com>
wrote:

[2021-01-23 09:09] abhishekghiya commented on #1481
Thanks @realshuting for all your help

[2021-01-23 09:09] #1481 closed

[2021-01-23 11:04] yashvardhan-kukreja commented on #256
@realshuting , I don't think, as a part of this issue, we'd have to program anything for grafana per se.
The way it seems to me, we just have to code a new custom exporter in kyverno which exposes the metrics you listed above on `/metrics`

Then, while using grafana, we just have to make it use the prometheus datasource which would storing kyverno's metrics (exported in the first place by the cust

[2021-01-23 14:53] yashvardhan-kukreja commented on #256
I'd like to pick this up too as I've worked on a similar task before :)
Thanks!

[2021-01-24 07:50] JimBugwadia commented on #1479
@ws-way - this may be the same issue as mentioned here: https://github.com/helm/helm/issues/6361#issuecomment-538220109.

[2021-01-24 07:51] JimBugwadia commented on #1479
Will investigate further with: https://github.com/kyverno/kyverno/issues/1490

[2021-01-24 08:39] JimBugwadia commented on #1479
I also notices that after installing the metrics server, namespaces get stuck in `deleting` state. When querying for resources in the terminating state I see:

[code]

I deleted the metrics server and the namespaces then get deleted.

[2021-01-24 09:03] JimBugwadia commented on #1479
I verified that following these steps prevents the error:

[code]

If you don't need those APIs any more, delete them:

[code]

[2021-01-24 12:33] ws-way commented on #1479
@JimBugwadia, thanks for the info. Unfortunally I am unable to test it.

[2021-01-24 19:32] JimBugwadia commented on #1105
Using this issue to track API server lookups and #1189 to track JS support.

[2021-01-24 19:34] #1479 closed

[2021-01-24 19:47] realshuting commented on #1490
@nathanwang-comp Here's the image tag `v1.3.1-9-g05da4190` for your testing.

[2021-01-24 19:56] JimBugwadia commented on #1105
The proposal is to allow a combination of API server lookups and JMESPath for processing the retrieved data:

[code]

The queries and JMESPath can be tested using standard tools like `kubectl` and [jp](https://github.com/jmespath/jp):

[code]

[code]

[code]

[code]

[2021-01-24 20:10] JimBugwadia commented on #1189
Separated issues: we will use this one for JS logic, and https://github.com/kyverno/kyverno/issues/1105 for API server lookups.

[2021-01-24 21:53] chipzoller commented on #1105
Link to Slack conversation discussing this proposal:

https://kubernetes.slack.com/archives/CLGR9BJU9/p1611518687080800

[2021-01-25 02:29] nathanwang-comp commented on #1490
@realshuting Just test the image, it works. can you create a rc tag? Thanks!

[2021-01-25 05:09] realshuting opened #1496 "[BUG] Add listers to reduce API server query"
Ref: https://github.com/kyverno/kyverno/issues/1470

[2021-01-25 05:34] realshuting opened #1497 "[BUG] Reduce to generate a single RCR per admission request"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.1

**Describe the bug**
Ref: https://github.com/kyverno/kyverno/issues/1470
Currently, Kyverno generates N (the number of policies) RCRs per admission request, this causes client-side throttling on CRCR / RCR, we can improve to generate a single RCR per admission request to reduce t

[2021-01-25 05:45] mitchellmaler commented on #1244
One use case we have is using the namespace name in a ENV var or config map var. We use a monitoring APM application and current (existing) standard was to use uppercase names for the app. We have standardized on using namespaces as the application name + environment and would like to automate creation of this used variable in either pod spec or config map data loaded as a env var. Unfortunately w

[2021-01-25 08:10] JimBugwadia commented on #1244
@mitchellmaler - thanks for the details! Seems like the two options are:

1. Generate a ConfigMap with the uppercase namespace name when the namespace is created
2. Add the uppercase namespace name to the PodSpec as an environment variable

To actually handle the string manipulation, we can look at adding custom JMESPath functions.

Will add more details as we make progress.

[2021-01-27 09:12] yufuluo opened #1501 "[BUG]Cannot use context with a configmap"
* Kubernetes version:
v1.3.1

**Describe the bug**
I created a config map in the default namespace which maps each namespace with an email address. Then I applied a cluster policy with context to autogenerate an annotation to new resources with its namespace email. However, the annotation does not show up on the resource at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a config

[2021-01-27 10:24] abhishekghiya commented on #1438
@JimBugwadia, thanks for the suggestions

It seems that 10.233.95.19 is cluster ip of one of our pod "eisprometheus-prometheus-blackbox-exporter" is kyverno trying to extablish TLS connection to this pod ?

We are not using any managed cluster. It is kubenetes set up using kupespray in VM..

[2021-01-27 13:17] chipzoller commented on #1501
Hello, @yufuluo . The problem here is the dash (`-`) is an invalid character in a JMESPath expression as [called out in the docs](https://kyverno.io/docs/writing-policies/variables/). In order to make this work using nested JMESPath expressions, omit the dash. For example, this works:

[code]

[2021-01-27 18:06] bitva77 opened #1502 "[BUG] Match not working with CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:  1.19
* Kyverno version: 1.3.1

**Describe the bug**

Using the kyverno cli via kubectl plugin, `match` does not exclude other `kinds` from being validated.

**To Reproduce**

Use the following `manifest.yaml`:

[code]

And the following `resources-limits.yaml`:

[code]

Now run this:

[2021-01-27 18:11] #1426 closed

[2021-01-27 18:24] abhishekghiya commented on #1456
Thanks @realshuting, yes it seems issue was due to extra proxy configurations for the api-server.

It is fixed after adding ".svc,.svc.cluster.local"  in no_proxy hosts in kube api server

no_proxy=..................,.svc,.svc.cluster.local

Thanks for the suggestion

[2021-01-27 18:24] #1456 closed

[2021-01-27 18:25] realshuting commented on #1502
@bitva77 Thanks for reporting the issue.

For now I think we can ignore such "unknown" resources and show them as `skip` in the result.
We are planning to [upgrade client version](https://github.com/kyverno/kyverno/issues/1453) to support k8s 1.20 with CLI.

[2021-01-27 18:59] yufuluo commented on #1501
Awesome!! Thank you @chipzoller for the help!!
Just confirmed that the following form also works for configmap data keys with a dash(`-`):
[code]

It works for configmap like this:
[code]

[2021-01-27 18:59] #1501 closed

[2021-01-28 07:28] lalalawoo opened #1503 "[BUG]ClusterPolicy get updated (resourceVersion changed) even no change in spec or status"
**Software version numbers**

* Kubernetes version: v1.18.9
* Kyverno version: v1.3.0

**Describe the bug**
ClusterPolicy is observed updated - resourceVersion and managedFields changed. In managedFields, it's indicated the change was updated by kyverno, but no value changed in spec or status.

**Expected behavior**
ClusterPolicy should only be updated when policy spec or status changed.

**Screen

[2021-01-29 04:56] yashvardhan-kukreja commented on #1468
Hi @chipzoller  @realshuting . I'd like to work on this issue. If it's fine, please assign it to me.
Thanks :)

[2021-01-29 04:56] yashvardhan-kukreja commented on #1468
/assign

[2021-01-29 12:42] rajdas98 opened #1504 "[BUG] Kyverno doesn't have sufficient permission to run test-e2e cluster policies"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
[code]
* Kyverno version:
v1.3.2-rc1
**Describe the bug**
- kyverno doesn't have sufficient permission to run cluster policies required by the e2e of kyverno.
- Note- I had ran it in both podSecurityStandard(default/privileged) mode
Following are logs
[code]
**To Reproduce**
Steps to

[2021-01-29 12:43] rajdas98 commented on #1504
cc: @realshuting

[2021-01-29 14:16] twiechert opened #1505 "[BUG] Adding node taint works only if taints already present"
* Kubernetes version:
1.19

* Kyverno version:
1.3.1

**Describe the bug**
We expected the following policy to add the defined taint on all nodes labeled with layer=web. This, however, only works if the `taints` child is already defined in the node spec.

[code]

We observe the same with `patchStrategicMerge`. Or am I wrong in the conception that this spec is supposed to create the missing taints

[2021-01-29 15:26] chipzoller commented on #1505
Hello, @twiechert. I am trying this on my end with Kyverno 1.3.2-rc1 and I'm not able to reproduce the problem. Here's what I've got.

Here's a node definition that does not have the `taints` object defined. It also doesn't have the label `layer=web` defined:

[code]

I'll use a slightly modified version of your ClusterPolicy:

[code]

I'll also note that in the `init-config` ConfigMap, I have rem

[2021-01-29 15:39] twiechert commented on #1505
@chipzoller  thanks for trying to reproduce.

In fact, I was also trying the slightly different policy, which yielded the same result in our setup.
Also, the resource filter I had adopted accordingly.

I will now try to reproduce with the exact same kyverno version.
Otherwise, It might be related to the fact we are running our cluster on EKS.

[2021-01-29 15:45] goffinf opened #1506 "Support manifest variable substitution $(...) in validate message field"
Kubernetes version:
- 1.20

Kyverno version:
- v1.3.1

Can someone confirm whether this is possible or not, or if I am not implementing it correctly, please (perhaps variable substitution is not supported in message fields ?)

**Example**: A policy to validate image registries - should return which registries are allowed in the message.

**Validation rule:** (note the message with the manifest ref

[2021-01-29 15:50] chipzoller commented on #1506
Variable expansion is supported in the message field as demonstrated [here](https://kyverno.io/docs/writing-policies/variables/#handling-configmap-array-values), but it may not be supported on [manifest lookups](https://kyverno.io/docs/writing-policies/variables/#variables-from-policy-manifests). Can you supply your full policy, please?

[2021-01-29 15:52] goffinf commented on #1506
Sure:
[code]

[2021-01-29 16:03] chipzoller commented on #1506
Yes, it does appear the `message` field isn't resolving the variable from the manifest lookup, even when specifying the index of the entry in the `containers` object. @realshuting to confirm.

[2021-01-29 16:08] goffinf commented on #1506
@chipzoller / @realshuting

Thx for checking.

This is an early look at kyverno as an alternative to OPA Gatekeeper. I believe our K8s Platform team would find it much easier to maintain policy and compliance.

This seems like a reasonable use-case. Would you advise I raise this as a feature request if the currently observed behaviour is confirmed ?

[2021-01-29 16:11] chipzoller commented on #1506
A couple comments.

1. I think it's definitely a good use case, but have you also considered storing these allowed registries in a ConfigMap rather than in the policy itself? Kyverno can refer to them there, which means should your list change, you have but to update the ConfigMap rather than the policy definition. This should also solve the problem of variable substitution in the `message` field.

[2021-01-29 16:17] goffinf commented on #1506
iro (1): Yes I had considered that. My initial reaction was that since the data that I needed was already present in the policy definition, I would prefer not to have to maintain it in a separate resource and have to manage its life-cycle also.  I suppose that would work if I could also use the ConfigMap as the source for the image value in the pattern as well as in the message (I haven't tried th

[2021-01-29 16:20] chipzoller commented on #1506
Yes, agree, this seems like either a gap or a bug. You should have the choice of where to store and retrieve your allowed registries whether that be in the policy definition itself or an external ConfigMap.

[2021-01-29 16:22] goffinf commented on #1506
I suppose another potential downside of using a ConfigMap here is that they are namespace scoped and in this case I am using a cluster scoped policy (whilst replicating the ConfigMap to all namespaces (and all clusters) is not that big a deal, I would prefer not to have to).

[2021-01-29 16:24] chipzoller commented on #1506
That shouldn't be a concern as Kyverno has the ability to reference a ConfigMap anywhere by defining a `context` which includes the Namespace location. This is illustrated in the [docs](https://kyverno.io/docs/writing-policies/variables/#variables-from-configmap-resources).

[2021-01-29 16:25] goffinf commented on #1506
Ah, thats cool. I really like this product :-)

[2021-01-29 16:26] chipzoller commented on #1506
That said, managing one resource is simpler than managing two. And so for that reason, it should be entirely possible to confine all your configurations in the ClusterPolicy.

[2021-01-29 16:26] goffinf commented on #1506
+1

[2021-01-29 17:41] twiechert commented on #1505
@chipzoller you are right, this just works fine. Thank you!

My misconception was that I assumed that kyverno would apply all policies upon startup independently of the admission webhooks being fired.

The reason it worked in the one case was solely based on the fact I actually did apply a change manually to one node.

@chipzoller I assume in your case you have let the new node join the cluster or

[2021-01-29 17:47] chipzoller commented on #1505
No, Kyverno won't apply background mutations to resources. And so it needs to see the AdmissionReview data in order for that to work. That data is only sent upon operations like CREATE or UPDATE. When you have the policy in place and perform a labeling action, that gets sent to listening webhooks and provides the data payload necessary for the policy operation to fire.

[2021-01-29 17:50] chipzoller commented on #1505
Similarly, if your desire here is to apply these taints only when a new node joins a cluster (like for a scale out operation), then you can use Kyverno to do that. The caveat is that the triggering label will need to be set at that time (or alternatively just tell Kyverno to match on `Node` and nothing else).

[2021-01-29 18:42] realshuting commented on #1504
These are required permissions to run e2e tests: https://github.com/kyverno/kyverno/blob/main/definitions/github/rbac.yaml

[2021-01-29 18:52] realshuting commented on #1506
I can confirm this is not supported in `message` but `pattern`, we can use this issue to track the progress.

[2021-01-29 20:14] rajdas98 commented on #1504
Okay @realshuting , but I have install it through helm. I think there are some roles access which is not helm rbac as mentioned in this rbac https://github.com/kyverno/kyverno/blob/main/definitions/github/rbac.yaml

[2021-01-29 20:16] realshuting commented on #1504
This is only used in e2e test, it should not be installed along with Kyverno.

[2021-01-29 20:28] rajdas98 commented on #1504
Ahh okay, then it is better to have a README inside test/e2e.

[2021-01-29 20:33] realshuting commented on #1504
Yeah we should add it to the wiki page. You can also find this in GitHub workflow configuration:
https://github.com/kyverno/kyverno/blob/9da94d5220915526d5adb3fd37d1c1c59ba3ab45/.github/workflows/e2e.yaml#L58

[2021-01-29 20:33] #1504 closed

[2021-01-29 20:44] realshuting commented on #1321
Thanks @rajdas98 !

Closing in favor of #1495.

[2021-01-29 20:44] #1321 closed

[2021-01-29 21:40] bitva77 opened #1508 "[BUG] Empty Value Still Passing"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19
* Kyverno version: Version: v1.3.2-rc1-6-g0396d527

**Describe the bug**

I have the following policy:

[code]

And I'm validating a resource with this:

[code]

note that limits.cpu has no value.

[code]

According to the documentation:

`A validation pattern field with the wild

[2021-01-29 22:16] realshuting commented on #1508
I don't think this is a valid resource manifest (without setting value for `cpu`), k8s would block the resource creation:
[code]

I can see the expected result after removing `cpu`:
[code]

[2021-01-29 22:59] chipzoller commented on #1508
Kubernetes would indeed block such a manifest. Nil values aren't allowed in any of the `resources` fields:

[code]

[2021-01-29 23:47] bitva77 commented on #1508
Right but shouldn't Kyverno catch this that there's no value?

Or is it banking on it being inadmissable anyway?

[2021-01-29 23:50] chipzoller commented on #1508
The CLI needs to catch this, and I believe @realshuting has added this to one of the milestones. But in a "real life" scenario, Kubernetes itself will block such a manifest before it even makes its way over to Kyverno. The error message showed above is from Kubernetes during its validation of the manifest.

[2021-01-29 23:53] bitva77 commented on #1508
cool thanks.

I'm looking to use Kyverno CLI in our CI/CD pipeline so catching these things earlier is better.

What's interesting is that kube-linter failed to catch this too

[2021-01-29 23:58] realshuting commented on #1508
The CLI does catch the error if you specify the empty value `cpu: ""`:
[code]

Will need to investigate `nil` case.

[2021-01-30 16:16] phoenixking25 commented on #256
I think this task will also include thanos to make metrics globally available at a central place to present on Grafana.

[2021-01-31 06:07] yashvardhan-kukreja commented on #1443
@JimBugwadia If the solution to this issue hasn't progressed yet, can I pick this issue up? I have the PR ready (and tested) and if you are fine with assigning this issue, I can raise the PR accordingly.
Thanks :)

[2021-01-31 06:20] JimBugwadia commented on #1438
@abhishekghiya - no. But it may be the other way around where prometheus is trying to connect to Kyverno and failing. Is the prometheus server set to scrape metrics from all deployments?

[2021-01-31 06:36] JimBugwadia opened #1512 "Support numeric values and operators in conditions"
**Is your feature request related to a problem? Please describe.**

Conditions support string values and string lists. In many cases, we want to check numeric values.

**Describe the solution you'd like**

Add support for numeric types and operators like `LessThan`, `GreaterThan`, etc.

Here is an example of how this could be used:

[code]

**Additional context**

The example above uses an API loo

[2021-01-31 18:50] yashvardhan-kukreja commented on #1468
@chipzoller  @realshuting  I have added this validation for `preconditions` field as well, whenever it faces a condition with `key: {{request.operation}}`

[2021-01-31 19:00] yashvardhan-kukreja commented on #1512
@JimBugwadia  I don't think that for this issue, we have to work explicitly on adding support for numeric values because the type of `values` is `apiextensions.JSON` (ref: `pkg/apip/kyverno/v1/policy_types.go`) which ends up encompassing types like string, float, int, etc.
So, for this issue, the main task is to add support for numeric Operators like `GreaterThanOrEquals`, `LesserThan`, etc.

[2021-01-31 23:52] goffinf opened #1513 "[BUG] CLI Panic when assigning variables"
**Software version numbers**
[code]

* Kubernetes version:

**1.20**

* Kyverno version:

**kyverno CLI:**

[code]

**kyverno K8s install:**
[code]

**Describe the bug**

The example used is from the documentation at : https://kyverno.io/docs/kyverno-cli/#apply

- add_network_policy.yaml
- required_default_network_policy.yaml
- value.yaml

The same behaviour appears to occur for other examples als

[2021-02-01 02:28] JimBugwadia opened #1515 "CLI support for API Call"
**Is your feature request related to a problem? Please describe.**

See: https://github.com/kyverno/kyverno/issues/1105 and https://github.com/kyverno/kyverno/pull/1514.

**Describe the solution you'd like**

The CLI should allow passing in API server data (in values) for testing.

[2021-02-01 14:51] chipzoller commented on #1356
To add some more relevant info to the case, both TKG and TKGI (as of 1.10) now use Antrea as their CNI, which means policies such as above that match on `Service` will fail on those products as it stands now.

[2021-02-01 15:54] goffinf opened #1517 "Clarify Docs for Policy Reports"
**Is your feature request related to a problem? Please describe.**

It was unclear to me from the documentation here https://kyverno.io/docs/policy-reports/ when a policy cluster report is generated (and/or entries are added/removed) and when it is not.

It **appears** that a report is only generated (or new entries created) when resource(s) are **successfully** deployed to the cluster, which by i

[2021-02-01 16:27] chipzoller commented on #1517
Thanks for the feedback. I agree and I've created a pointer issue over on the website repo (https://github.com/kyverno/website/issues/78) to track.

[2021-02-01 18:39] chipzoller commented on #1517
May need more information in this case, because Kyverno *should* be creating a ClusterPolicyReport called `clusterpolicyreport` by default. Ex.,:

[code]

[2021-02-01 19:41] amsgeodis opened #1519 "Question: Is it possible to use AdmissionReview object inside mutate block in ClusterPolicy?"

[2021-02-01 19:43] chipzoller commented on #1519
Can you explain what you want to achieve? Mutate rules do consider Admission Review data.

[2021-02-01 19:48] goffinf opened #1520 "[BUG] clusterpolicyreport not created"
**Software version numbers**
* Kubernetes version:

**1.20**

* Kyverno version:

**kyverno CLI:**

[code]

**kyverno K8s install:**
[code]

**Describe the bug**

The docs state that a single clusterpolicyreport will be generated along with a policyreport for each namespace. However, when I was testing, a policyreport summary was available but no clusterpolicyreport appears to have been created (s

[2021-02-01 19:50] amsgeodis commented on #1519
@chipzoller Thank you for responding. We are trying to mutate Ingress resource creation. We want the host values in Ingress to get suffixed with a common string.

`apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: mutate-ingress-host
spec:
  rules:
  - name: mutate-ingress-host
    match:
      resources:
        kinds:
        - Ingress
    exclude:
      resources:
        namespac

[2021-02-01 19:51] goffinf commented on #1517
Have raised a separate bug report for the clusterpolicyreport with some additional details #1520

[2021-02-01 20:03] goffinf commented on #1520
A non-namespace scoped list of api resources, picks up a few additional for kyverno:

[code]

[2021-02-01 20:08] ajitksingh1 commented on #1519
I am also facing the same issue.  AdmissionReview request object is not available inside mutate patchesJson6902 block for Ingress.

[2021-02-01 20:19] realshuting commented on #1519
Currently the JMESPath is not supported in `patchesJson6902`,  can you use `patchStrategicMerge` instead to patch the resource?

This is a good use case, we'll add this support in 1.3.x.

[2021-02-01 20:22] chipzoller commented on #1519
This request and use case is similar to https://github.com/kyverno/kyverno/issues/674.

[2021-02-01 20:23] realshuting commented on #1520
@goffinf Do you have any policy that is applied to the cluster-wide resources?

[2021-02-01 20:30] amsgeodis commented on #1519
@realshuting Thank you. Would you please help us identify how the above `patchesJson6902` can be converted to `patchStrategicMerge`?

[2021-02-01 20:40] realshuting commented on #1519
@amsgeodis Here is an example:
[code]

[2021-02-01 20:44] chipzoller commented on #1519
@amsgeodis In addition to the example policy kindly provided by @realshuting, you might consider enhancing it by adding a `precondition` that checks to ensure the string `mycompany.com` is NOT found within the `{{request.object.spec.rules[0].host}}` path. Otherwise, your mutation rule would fire for all new Ingress resources, even if they contained the pattern you wished to use.

[2021-02-01 20:49] chipzoller commented on #1517
Policy report clarifications included in https://github.com/kyverno/website/pull/77. We welcome your feedback, @goffinf, if these edits making it clearer as to the expected behavior of reports.

[2021-02-01 20:52] realshuting commented on #1519
@chipzoller Good point!

Then I would write separate rules to mutate `Ingress`:
[code]

[2021-02-01 20:53] amsgeodis commented on #1519
@realshuting @chipzoller  The array/List reference by index 0, is still having problems. I hope the syntax is not right.

`host: "{{request.object.spec.rules**[0]**.host}}.mycompany.com"`

[2021-02-01 20:56] chipzoller commented on #1520
Further to @realshuting's question, if you *do* attempt to create a non-namespaced resource (for example, a Namespace) with the following policy in place, you should get a ClusterPolicyReport:

[code]

[code]

[2021-02-01 20:57] realshuting commented on #1519
Is it possible to share your Ingress manifest? It is working when I have a single host(under rules) / hosts (under `tls`) .

[2021-02-01 20:59] #1105 closed

[2021-02-01 20:59] amsgeodis commented on #1519
@realshuting

[code]

[2021-02-01 21:01] goffinf commented on #1520
Hey,

yes, I just used examples from the docs:

[code]
So ..., looking at the policyreport summary I see this (where my deployment (validate-registries-fail) passed validation for the rule **require-image-tag** in the policy **disallow-latest-tag** and failed for rule **validate-registries** in policy **restrict-image-registries** and **disallow-latest-tag** from policy **disallow-latest-tag**).

[2021-02-01 21:05] chipzoller commented on #1519
The policy posted [above ](https://github.com/kyverno/kyverno/issues/1519#issuecomment-771149702)works for me with your Ingress resource.

[2021-02-01 21:08] chipzoller commented on #1520
The inclusion in either a ClusterPolicyReport or a PolicyReport only has to do with the Kubernetes resource type being namespaced or not, and not whether the Kyverno policy itself is a ClusterPolicy or a Policy. In other words, if you write a policy (of any type) that validates, for example, an Ingress resource, those failures will always be contained in a PolicyReport in the respective Namespace.

[2021-02-01 21:09] realshuting commented on #1519
Seems the entire `http` block is removed. If `http` is fixed, you can modify the first rule to:
[code]

[2021-02-01 21:10] goffinf commented on #1520
Hmmm, ok, I used your namespace example above and indeed a clusterpolicy report appeared with 3 fails (one for the existing default and devtest namespaces and one for 'foo' which I created with kubectl create namespace foo

[code]

[2021-02-01 21:12] amsgeodis commented on #1519
@realshuting @chipzoller It is working for me too now. Now, we see only one problem; the mutation logic stripped off the `http` block from the rules/host[0] Is there a way to be surgical here and mutate only the host value and keep the remaining as such?

[2021-02-01 21:12] chipzoller commented on #1520
Yes, that's what you should see. Also, in the case of that specific example, the reason why you aren't seeing all Namespaces is because the default Kyverno config (ConfigMap named `init-config`) filters out certain system-level Namespaces so as to keep background noise to a minimum. This is not a bug.

[2021-02-01 21:13] goffinf commented on #1520
Ah ha ... that is the critical piece of information that I hadn't properly understood, thanks for making that clear.

I'll close this now, since the behaviour has shown itself to be correct (my bad).

Do you think the docs make this clear (or is it just me being a bit dense) ?

[2021-02-01 21:14] goffinf commented on #1520
I did wonder about the system namespaces .. thanks for adding that detail

[2021-02-01 21:14] chipzoller commented on #1520
I don't think it's clear int he current state of the docs, no, which I am proceeding to fix.

[2021-02-01 21:15] goffinf commented on #1520
excellent. thanks for your patience.

[2021-02-01 21:15] #1520 closed

[2021-02-01 21:16] realshuting commented on #1519
See [above](https://github.com/kyverno/kyverno/issues/1519#issuecomment-771159892).

[2021-02-01 21:19] amsgeodis commented on #1519
@realshuting Instead of hardcoding the service details in the ClusterPolicy, we thought of mentioning it like below.

[code]

[2021-02-01 21:22] goffinf commented on #1517
@chipzoller Yes that's much clearer. I think if you add a comment about the clusterpolicyreport per the way you explained it in #1520 (including the point about filtering out some namespaces) that would be perfect.

[2021-02-01 21:22] realshuting commented on #1519
This should do the trick!

[2021-02-01 21:24] chipzoller commented on #1517
Here is an aggregation of the statements which I hope clarifies the behavior of reports. See if this makes it clear for you:

[2021-02-01 21:24] amsgeodis commented on #1519
@realshuting @chipzoller Thank you so much for your timely assistance.

[2021-02-01 21:26] realshuting opened #1521 "Support variables / JMESPath in patchesJson6902"
Currently the JMESPath is not supported in `patchesJson6902`,  can you use `patchStrategicMerge` instead to patch the resource?

This is a good use case, we'll add this support in 1.3.x.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/issues/1519#issuecomment-771131062_

[2021-02-01 21:27] realshuting commented on #1468
Closing in favor of #1510.

[2021-02-01 21:27] #1468 closed

[2021-02-01 21:30] goffinf commented on #1517
Yep very good. I might venture to add ...

Similarly, if a rule is created to validate a Namespace resource, any violation will appear in the ClusterPolicyReport since namespaces are scoped to the cluster. As an aside, some namespaces are purposely omitted from being reported as violations to reduce un-necessary noise within the clusterpolicyreport object (e.g. system namespaces).

[2021-02-01 21:31] JimBugwadia commented on #1521
@realshuting - would the JMESPath be used in the path, the patch body, or both? Can you help draft some examples?

[2021-02-01 21:33] chipzoller commented on #1517
The reason I didn't include that part is because, yes, that happens by default, but it's user configurable. So I didn't want to give the impression that this is an internalized behavior.

[2021-02-01 21:35] realshuting commented on #1521
The initial request is to patch [values](https://github.com/kyverno/kyverno/issues/1519#issuecomment-771113759), for example:
[code]

I couldn't think of any use case to use it in the path, as the `path` should be fixed for different resource types.

[2021-02-01 21:40] goffinf commented on #1517
What do you mean by ‘user configurable’. Are you saying that if I create a namespace which violates a policy rule it might NOT be reported in the clusterpolicyreport ?

I took to mean that it didn’t matter whether the rule was declared in a ClusterPolicy or Policy .. and if I have that wrong, then we will probably need some more words to explain that (maybe)

[2021-02-01 21:44] chipzoller commented on #1517
No, I mean if the Kyverno config is altered (ConfigMap named `init-config` in the Kyverno Namespace), then ClusterPolicyReports *will* begin showing such Namespace violations (in addition to other things). But, moreover, the Namespace example is just one example that I came up with to illustrate the behavior. If we cover examples of behavior regarding specific Kubernetes resources, I think it open

[2021-02-01 21:46] chipzoller commented on #1521
Only possibility I can see there with JMESPath in the `path` is to avoid using specific array indices.

[2021-02-01 21:50] realshuting commented on #1521
@chipzoller Do you have any examples in mind?

[2021-02-01 21:53] chipzoller commented on #1521
`{{request.object.spec.rules[*].host}}` where all/any of field `host` in array `rules` are matched.

[2021-02-01 21:54] goffinf commented on #1517
Hmmm, ok, but that is the cleft-stick of any technical documentation. You have to choose *some* examples which are illustrative, understanding that typically you can’t give examples of every use case. It seems less likely to me that many users will get into the detail of editing the init-config CM, and those that do, might well have an edge case where they know what they are doing.

But listen, I

[2021-02-01 21:58] chipzoller commented on #1517
That's fair, I think we can add a specific point about default filtering of Namespaces in this case without it becoming too detailed. Thanks for your input here.

[2021-02-02 05:44] yashvardhan-kukreja commented on #1512
@JimBugwadia I can pick this up if no one else is working on this and start off by implementing one of the required operators.
Thanks :)

[2021-02-02 06:02] JimBugwadia commented on #1512
@yashvardhan-kukreja - I agree with your analysis above. Thanks for picking this up!

[2021-02-02 07:06] NoSkillGirl opened #1524 "CLI support for namespace selector"
**Is your feature request related to a problem? Please describe.**
see:  https://github.com/kyverno/kyverno/issues/931

**Describe the solution you'd like**
The CLI should allow passing in namespace selector for testing.

[2021-02-02 07:08] NoSkillGirl opened #1525 "CLI support for ConfigMap"
**Is your feature request related to a problem? Please describe.**
see: https://github.com/kyverno/kyverno/issues/724

**Describe the solution you'd like**
The CLI should allow passing in config-map data for testing.

[2021-02-02 07:13] JimBugwadia commented on #1512
Should we define the operators as:

- GreaterThan
- LessThan
- GreaterThanOrEqualTo
- LessThanOrEqualTo

or using symbols like:

- \>
- <
-  \>=
- <=

I prefer the latter as they are more concise, but we currently have

- Equals
- NotEquals
- In
- NotIn

[2021-02-02 07:14] JimBugwadia commented on #1512
Also see: https://github.com/kyverno/kyverno/issues/1367

[2021-02-02 07:41] yashvardhan-kukreja commented on #1512
I agree with the string names ones. As a user they seemed more semantic and good to me but of course, we can add support for both as well. For example, kyverno can accept both "=" and "Equals". It's gonna be a very tiny change, so wouldn't take much time to implement it as well.

What do you think

[2021-02-02 07:50] JimBugwadia commented on #1512
Thanks! Lets stick with the string names for now, as some operations like `In` and `NotIn` do not map to symbols.

[2021-02-02 14:17] chipzoller commented on #583
Is this issue still applicable or can it be closed? I'm not understanding what this is trying to solve. If everything in `pattern` is an overlay, then the values in those fields (since they aren't presently being validated) should be consistent with the types allowed. "!true" isn't a boolean, so either "true" or "false" would be needed. Not even sure this is worthy of being documented...

[2021-02-02 14:21] chipzoller commented on #604
I think this request would be fulfilled by custom JMESPath expressions under consideration (cc @JimBugwadia)

[2021-02-02 14:23] chipzoller commented on #704
Sounds like this can be moved to the website repo as an issue? Based on the current state of the docs, how much is still needed here?

[2021-02-02 15:13] chipzoller commented on #749
Is the present documentation on this subject [here ](https://kyverno.io/docs/writing-policies/autogen/)sufficient or is more elaboration needed?

[2021-02-02 15:17] chipzoller commented on #772
I'm curious to hear what problem(s) this addresses. It sounds like the suggestion is to apply some sort of flag/parameter to a Kyverno deployment to selectively enable only the functionality that's desired. Since Kyverno is probably not a tool that the general populace are allowed to deploy, I'm wondering what some valid user stories are here.

[2021-02-02 15:19] rajdas98 commented on #1277
@realshuting I am taking this issue. Thanks

[2021-02-02 15:20] chipzoller commented on #779
This idea would seem to largely overlap with Kubernetes [ResourceQuotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/) and furthermore extends Kyverno into dimensions where it may be incongruous for an admission controller.

[2021-02-02 15:25] chipzoller commented on #847
Sounds like this may be better as a website repo issue? @NoSkillGirl I'll be glad to collaborate with you in getting more of this worked into the docs.

[2021-02-02 15:42] rajdas98 commented on #1277
https://github.com/kyverno/kyverno/blob/b4ab5413fd0ca77e315c198cf468be88e72e9b37/cmd/kyverno/main.go#L38

I have to pick this `resyncPeriod` value from the kyverno configmap. Please, correct me, if I am wrong?`

[2021-02-02 17:09] chipzoller commented on #1070
Bump

[2021-02-02 17:11] chipzoller commented on #1146
Bump

[2021-02-02 17:12] chipzoller commented on #1170
I think this is going to require API object lookup functionality, right?

[2021-02-02 17:13] chipzoller commented on #1221
Is this valuable enough to keep or should we just close?

[2021-02-02 17:17] chipzoller commented on #1242
Today:

[code]

Tomorrow (proposed):

[code]

[2021-02-02 17:34] chipzoller commented on #1308
Looks like this is now available through Krew: https://artifacthub.io/packages/krew/krew-index/kyverno

[2021-02-02 17:46] chipzoller commented on #1430
I think this is complete.

[2021-02-02 18:34] #1430 closed

[2021-02-02 18:35] realshuting commented on #749
The current doc is sufficient. Closing.

[2021-02-02 18:35] #749 closed

[2021-02-02 19:06] JimBugwadia commented on #1438
@abhishekghiya - any additional information on this?

[2021-02-02 19:25] JimBugwadia commented on #1170
Yes. Its also not clear on the ordering....should this be present before the pod / deployment?

[2021-02-02 19:29] JimBugwadia commented on #779
There are some situations that quotas cannot solve. For example, restrict each namespace to a maximum of 1 service of type load balancer.

This can be addressed using an API call, JMESPath, and numeric operators:

here is a contrived example of an API Call:

[code]

This issue will expand numeric operators:

https://github.com/kyverno/kyverno/issues/1512

[2021-02-02 19:49] chipzoller commented on #1170
I think it has to be. Question is what happens if both are submitted in the same manifest or at the same time? I'd guess you still have to fail if PDB isn't present.

[2021-02-02 19:51] chipzoller commented on #1438
@JimBugwadia I'm still seeing this where there's no Prometheus and with 1.3.2-rc1:

[code]

[2021-02-02 20:00] realshuting commented on #1438
@chipzoller Can you check the age of Kyverno's secrets and the age of the deployment? `k get secret -n kyverno`

[2021-02-02 20:02] chipzoller commented on #1438
Same age, all align with when Kyverno was deployed:

[code]

[2021-02-02 20:07] realshuting commented on #1438
I've seen this error once when the secrets were older than the deployment, I ran Kyverno in dev mode at that time. Maybe I messed up something.

[2021-02-02 20:12] chipzoller commented on #1438
That IP mentioned in the logs, by the way, is the gateway address for the Pod CIDR block on the control plane node:

[code]

[2021-02-02 22:28] JimBugwadia commented on #1521
Chip, I understand the intent of matching all elements, but evaluating `{{request.object.spec.rules[*].host}}` in the path would produce a JSON string list of all hosts as the path which will not work. Will need to think about this some more....

Adding variables substitution to the value seems relatively straightforward.

[2021-02-02 22:30] chipzoller commented on #1218
Couldn't it be simplified to just be a fully-qualified resource name without the apiVersion?

[code]

[2021-02-02 22:39] electrical opened #1528 "Rename 'policies.kyverno.io/patches' to reflect actual functionality"
**Is your feature request related to a problem? Please describe.**
Following up from the Slack convo https://kubernetes.slack.com/archives/CLGR9BJU9/p1612304053201100
When you have a patching mutate policy, it adds the annotation `policies.kyverno.io/patches` containing the patches applied.
As soon as you have multiple separate policies patching the same resource, it only stores the last executed

[2021-02-02 22:51] JimBugwadia commented on #1218
Does that style allow specifying the version? Seems like there may be cases where a policy is written to match a specific version.

Internally, the code uses Group Version Kind (GVK) to uniquely identify a resource type.

[2021-02-02 22:57] chipzoller commented on #1218
I don't know how common it is for there to be the same kind of resource but using separate versions of that kind. What I was thinking of avoiding was brittleness caused by deprecated versions. Ex., Antrea resources went from v1beta1 to v1beta2 and now all the Kyverno rules/policies have to be updated or they fail, or users have to keep separate versions of policies for tracking separate versions o

[2021-02-02 23:01] chipzoller commented on #1521
I don't think my comments should be a blocker to proceed and implement JMESPath expressions in the `value` field, though.

[2021-02-02 23:05] goffinf commented on #1517
Yes indeed, examples are always a better way than just text. I think most people will understand these concepts better now (me included).

Happy to close.

[2021-02-02 23:05] #1517 closed

[2021-02-03 14:51] chipzoller commented on #1070
Thinking more about how this should get designed, it seems like such a policy would need to block only specific Secrets from being mounted into Pods and not disallow all Secrets (see the SA token above). I think it could cause more problems than it solved if such a policy just blocked wholesale any and all Secrets. The workflow logic would probably need to be:

* Secrets which should be disallowed

[2021-02-03 18:55] chipzoller commented on #1308
https://artifacthub.io/packages/helm/kyverno/kyverno

[2021-02-03 19:13] #1308 closed

[2021-02-03 21:15] rajdas98 opened #1535 "Request for multi-arch images of kyverno components (ARM support)"
**Is your feature request related to a problem? Please describe.**

Currently, kyverno docker images are not built for multi arch support.
Required arch support- arm64/amd64

**Describe the solution you'd like**
Add arch support of arm64 and amd64 in the docker files of the following kyverno components
- kyverno cli
- kyverno
- init container

Using `docker buildx`, we can build for multi arch ima

[2021-02-03 21:30] yashvardhan-kukreja commented on #1512
@JimBugwadia  for now I have implemented the support for `GreaterThanOrEquals` operator. Please give it a look and if it looks fine, I can implement `GreaterThan`, `LessThan` and `LessThanOrEquals` operators as well.

[2021-02-03 21:44] JimBugwadia commented on #604
This would require custom JMESPath or additional operators to support. The data is all contained in the request, so an API call should not be required.

[2021-02-03 21:44] realshuting commented on #1277
@rajdas98 Thanks for looking into this issue.

`resyncPeriod` is used for re-syncing the informer's cache, it has nothing to do with the background scan process. Here is a reference of what needs to be done - https://github.com/kyverno/kyverno/pull/1395#pullrequestreview-552154281.

I'm happy to discuss this in detail if you have any doubts.

[2021-02-03 21:56] realshuting commented on #704
Sharing the current status:

**Security**

- Kyverno certificate management (the related code change can be tracked in https://github.com/kyverno/kyverno/issues/1177, https://github.com/kyverno/kyverno/issues/1434)
- ~~Kyverno pod security~~ (done)
- ~~Kyverno pod security~~ (done)

**Performance**:

- ~~Kyverrno design principles~~ (As we are developing, it should be added to [Wiki](https://githu

[2021-02-04 02:26] MnrGreg commented on #1492
another example:

[code]

[2021-02-04 03:34] chipzoller commented on #1535
+1 on this. Multi-arch is really important, and this will open a lot more doors. The community thanks you, @rajdas98 !

[2021-02-04 03:41] chipzoller commented on #1505
@realshuting is there an action item here? It's part of a milestone, but I don't know what fix/enhancement this issue represents, if any.

@twiechert does this seem to be resolved from your end?

[2021-02-04 06:32] realshuting commented on #1505
@chipzoller Thanks for following up on this issue, this is what I intended to do.

There's nothing to be changed at this time, we can close this unless @twiechert sees any issues.

[2021-02-04 07:28] JimBugwadia commented on #1218
@chipzoller this can happen as resources graduate, but older versions need to be retained for compatibility. During this time both versions can be configured, so a policy rule may need to deal with this. Here is an example from [TektonCD](https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md).

[2021-02-04 08:18] twiechert commented on #1505
Thank you for your support!
- running a one-time job that "touches" all nodes is a good workaround for us.

 I'm closing this issue.

[2021-02-04 08:18] #1505 closed

[2021-02-04 10:54] kacejot opened #1538 "Make Kyverno able to validate string patterns with logical AND conditions"
**Problem**
For now string patterns support only logical OR conditions. The reason why we really need AND conditions is described below.
For example, I want to validate an integer with several valid numerical ranges:
[code]
And pod from below must be valid due the policy above:
[code]

**Solution**
I have found the logic that is responsible for '|' operator handling. I offer add there also '&' ope

[2021-02-04 13:08] megakid opened #1540 "OomKilled when starting kyverno on existing clusters"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:  v1.19.6 and v1.19.4
* Kyverno version: 1.3.2-rc1

**Describe the bug**
OomKilled on startup of main kyverno pod.  We tried increasing the memory limit to 2GiB but no change.  The only workaround for us was to introduce an environment variable `GOGC = 25`.

**To Reproduce**
Steps to r

[2021-02-04 13:10] chipzoller commented on #1218
That's fair, but can apiVersion either be optional or allow use of a wildcard (`*`) to indicate that all available apiVersions should be covered? I believe the majority use case here when users only consume resources from a single apiVersion, and each group carries its own version number. It seems tedious and unnecessary to require the specific apiVersion for each type of call, and in addition it'

[2021-02-04 15:34] abhishekghiya commented on #1438
@JimBugwadia , Thanks for the suggestion

For us, it seems like Prometheus exporter was trying to connect to kyverno to scrape the metrics. Once i disabled the prometheus exporter these logs are not observed any more in Kyverno.

But since proemetheus exporter is also needed and we cannot disable it, is there any way to avoid these logs in Kyverno ?

[2021-02-04 16:53] NoSkillGirl opened #1541 "Add documentation and test cases for Namespace Selector"
Add documentation and test cases for Namespace Selector

[2021-02-04 16:54] chipzoller commented on #1541
This is already covered [here ](https://github.com/kyverno/website/issues/82)if you want to pick that up instead.

[2021-02-04 18:47] realshuting commented on #1540
@JimBugwadia Could this error results in oom, as the client cannot connect to the server?
[code]

We had a few issues reported for the metric server, we fixed those by explicitly ignoring these errors, not sure why we are still seeing this.

[2021-02-04 21:31] rajdas98 commented on #1277
Thanks @realshuting for this information. I am exploring about this issue right now. I will get back to you if I have any doubts.

[2021-02-04 23:55] chipzoller opened #1543 "[BUG] "Failed to watch" messages printed in logs"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.2-rc2

**Describe the bug**
Kyverno logs continually print

[code]

[2021-02-05 02:35] vakkur opened #1544 "mutating web-hook named 'mutate.kyverno.svc' which is timing out and causing downtime to the master"
I am using a GKE cluster I had the master node go down a couple of times, this was the response from the support

The cluster 'avtest' has a mutating web-hook named 'mutate.kyverno.svc' which is timing out and causing downtime to the master. The impact of this will cause kubectl and master node connectivity issues, until the web-hook timeouts can be resolved.

Once you verify that 'mutate.kyverno.

[2021-02-05 06:48] realshuting commented on #1544
@vakkur
Kyverno sets `failurePolicy` to `Ignore` across all webhook configurations, it should not block admission requests on failure. Did you see any errors in the log? It would be helpful if you can share it here.

There was an [issue](https://github.com/kyverno/kyverno/issues/1336#issuecomment-735846030) reported in GKE, it had something to do with firewall rules. Can you check to see if this h

[2021-02-05 12:09] vakkur commented on #1544
[kyverno.log](https://github.com/kyverno/kyverno/files/5932271/kyverno.log)
![2021-02-05_5-53-55](https://user-images.githubusercontent.com/54898671/107031888-892b8800-6778-11eb-9f57-818bffb23c8b.jpg)
Here are some of the logs,2021-02-05T11:38:46.906567229Z I0205 11:38:46.906470       1 registration.go:152] Register "msg"="created webhook" "kind"="MutatingWebhookConfiguration" "name"="kyverno-reso

[2021-02-05 17:26] JimBugwadia commented on #1540
Yes, that is suspicious. The prior issues were calls were causing the init container to exit:

https://github.com/kyverno/kyverno/issues/1490
https://github.com/kyverno/kyverno/issues/1324

@megakid - can you try removing the API server as described here:

https://github.com/helm/helm/issues/6361#issuecomment-538220109

[2021-02-05 17:58] #1496 closed

[2021-02-05 17:58] #1503 closed

[2021-02-05 20:40] realshuting commented on #1544
The issue was resolved by adding firewall rules. Closing.

[2021-02-05 20:40] #1544 closed

[2021-02-05 20:44] realshuting commented on #1513
Closing via #1518.

[2021-02-05 20:44] #1513 closed

[2021-02-05 20:50] chipzoller commented on #1544
Was this the same solution as mentioned in the other issue? If so, I'll add this to the troubleshooting page.

[2021-02-05 20:52] realshuting commented on #1544
Yes, see https://kubernetes.slack.com/archives/CLGR9BJU9/p1612548705282800?thread_ts=1612491780.267200&cid=CLGR9BJU9

[2021-02-05 21:55] megakid commented on #1540
Hi - thanks for the prompt responses.  A quick update: the GOGC env var definitely helped things but it doesn't guarantee a successful start up.

I will try your suggestion next week @JimBugwadia and report back.

[2021-02-05 23:30] realshuting commented on #1543
@chipzoller Did you test it in TKG cluster? I saw this error in minikube (1.19.2, 1.20.2), but not in Docker Desktop (1.16.6, 1.19.3).

I upgraded client-go to 0.20.2, the error still remains unresolved. Will need to investigate further.
[code]

[2021-02-05 23:32] chipzoller commented on #1543
Yeah, it's a TKG 1.2 cluster.

[2021-02-06 02:10] realshuting commented on #1538
Closing via #1539.

[2021-02-06 02:10] #1538 closed

[2021-02-06 02:11] realshuting commented on #1442
Closing via #1518.

[2021-02-06 02:11] #1442 closed

[2021-02-06 02:43] realshuting commented on #1422
Closing via #1527.

[2021-02-06 02:43] #1422 closed

[2021-02-06 02:54] realshuting commented on #583
Verified this is no longer an issue, closing.

[2021-02-06 02:54] #583 closed

[2021-02-06 04:02] realshuting commented on #1512
Closing in favor of #1536.

[2021-02-06 04:02] #1512 closed

[2021-02-06 10:57] pandafy commented on #1467
Hey! I would like to work on this. :smile:

[2021-02-06 14:10] chipzoller opened #1549 "Helm chart modifications"
In the process of testing and documenting Helm chart behavior per https://github.com/kyverno/website/issues/76, there are some inconsistencies:

1. Stated [here](https://github.com/kyverno/kyverno/tree/main/charts/kyverno), the `podSecurityStandard` switch is said to have three values. There should only be two: `default` and `restricted`. The `privileged` mode equates to installing nothing, which

[2021-02-06 14:27] chipzoller commented on #1549
cc @rajdas98

[2021-02-06 14:35] chipzoller commented on #1543
FYI, the same log messages are repeated in a [KinD ](https://kind.sigs.k8s.io/)cluster as well.

[2021-02-06 21:17] yashvardhan-kukreja opened #1550 "Add gofmt checks to kyverno's github workflows"
**Is your feature request related to a problem? Please describe.**
As of now, the code is not strictly go fmt'd. And even if we do it, still there's a chance in the future for it again become unformatted. Ideally, a strict check in the CI should make a check and ensure that only go formatted code is allowed to be pushed.

**Describe the solution you'd like**
Another additional test should be added

[2021-02-06 21:19] yashvardhan-kukreja commented on #1550
@realshuting let me know if you believe that this issue is worth working on, then I can pick this up. I have a PR ready as previously, I have implemented this.

[2021-02-06 23:35] yashvardhan-kukreja commented on #1508
@realshuting / @chipzoller  I reverse engineered this issue and found that actually, the main problem is that the value of "cpu" key in `cpu: ` is read as 0 instead of nil, when kyverno tries to decode the YAML to runtime.Object in the first place.
So, the output runtime.Object from the decoder for both `cpu:  ` and `cpu: 0` would be exactly same.

Hence, this not an issue on kyverno's side but ra

[2021-02-07 00:04] yashvardhan-kukreja opened #1551 "cleanup: remove the redundant and unreachable pieces of code"
While hovering over the codebase while working on some issues, I found some redundant err!=nil checks, redundant composite literals and unreachable pieces of code
So, thought that it would be good to clean these spots up.

[2021-02-07 20:34] yashvardhan-kukreja commented on #1485
@chipzoller I'd like to work on this issue :) If that's fine, please assign it to me.
Thanks!

[2021-02-07 20:53] chipzoller commented on #1485
@JimBugwadia Do we need more discussion on this system first?

[2021-02-08 03:46] #1497 closed

[2021-02-08 03:55] #1470 closed

[2021-02-08 04:26] #1453 closed

[2021-02-08 04:26] #1502 closed

[2021-02-08 05:19] #1551 closed

[2021-02-08 10:28] RinkiyaKeDad commented on #1367
/assign

[2021-02-08 10:39] RinkiyaKeDad commented on #1367
Hi! I'd like to work on this.

[2021-02-08 14:10] chipzoller commented on #1242
This might be another good one for @rajdas98 or @yashvardhan-kukreja if it seems interesting.

[2021-02-08 14:12] yashvardhan-kukreja commented on #1242
Sure, I can pick this up. Please assign it to me :)

[2021-02-08 15:37] chipzoller commented on #1549
Need discussion from @JimBugwadia and @realshuting on items 1 and 4, please. 4 moreso than 1.

[2021-02-08 15:42] rajdas98 opened #1557 "Request to add security vulnerability scan for the kyverno images"
**Is your feature request related to a problem? Please describe.**
- It is important to have an image scanning step in the CI pipeline to check the vulnerabilities.

- Most of the enterprise Kubernetes cluster has a lot of security restrictions which won’t allow any application which has security vulnerabilities.

**Describe the solution you'd like**
Use of any opensource image scan tool like aqua

[2021-02-08 15:46] chipzoller commented on #1557
Agree, we need to provide this step and an output report that can be displayed for each release. Should probably use Trivy as that is what the ecosystem is standardizing on, by in large.

[2021-02-08 15:49] rajdas98 commented on #1557
I have used trivy, it is good to generate reports but not sure about other tools.

[2021-02-08 15:50] chipzoller commented on #1242
This might need some implementation discussion with Jim and Shuting. I don't see a problem breaking on a newline char as a string delimiter. That makes the storing of string data simple and accommodates strings with spaces and other chars.

[2021-02-08 18:25] yashvardhan-kukreja commented on #1557
+1 . I have worked with trivy before as well as a part of implementing it as a CI stage and for vulnerability-report-generation as well.
If it's fine, I can pick this up and quickly implement this. Thanks :)

PS: speaking of other tools like Anchor engine, clair, etc. , trivy outperforms them in majority of the areas, so, I'd strongly suggest trivy for this. But yeah, suggestions are most welcome

[2021-02-08 18:33] rajdas98 commented on #1557
Hi Yash,
Actually, I am thinking to pick this issue. Thanks for upvoting this issue.

On Mon, 8 Feb 2021, 11:55 pm Yashvardhan Kukreja, <notifications@github.com>
wrote:

[2021-02-08 18:36] yashvardhan-kukreja commented on #1557
Sure. Will be good to see this being implemented :)

[2021-02-08 19:20] #931 closed

[2021-02-08 20:18] realshuting commented on #1543
@chipzoller Can you try latest tag `v1.3.2-rc2-19-gc148573d`? I no longer see the error in minikube 1.20.2.

[2021-02-08 21:35] chipzoller commented on #1543
Still seeing it:

[code]

[2021-02-08 21:51] realshuting commented on #1242
`[]` specifically declares the array in [JSON format](w3schools.com/js/js_json_arrays.asp#:~:text=Arrays%20as%20JSON%20Objects&text=Arrays%20in%20JSON%20are%20almost,functions%2C%20dates%2C%20and%20undefined.), and we'll use the operator `In`/`NotIn` in `preConditions` for example.

Let's say I have the following ConfigMap, will `cluster-admin` be parsed as a string or an array? Maybe we can parse

[2021-02-08 21:53] chipzoller commented on #1242
If it's in a multi-line YAML structure, it's assumed to be an array with a single member. Otherwise, it should be key/value.

[2021-02-08 21:57] realshuting commented on #1242
This sounds good.

Researching more about [YAML-multiline ](https://yaml-multiline.info/), seems we can use Block Scalars when parsing the data.

[2021-02-08 21:58] JimBugwadia commented on #1242
I don't think we safely make that assumption, as mentioned in an earlier comment. We need a more deterministic way to know that the string value contains an array of elements. Also we cannot always assume the element type - for example what if its an array of integers?

[2021-02-08 22:11] chipzoller commented on #1242
We don't make the assumption, we state in the documentation that multi-line YAML implies an array, just like other features and functionality is documented. If a user wants to compare something to a single value, it should be key/value. If they want to compare against multiple values, you use a multi-line string.

Since the logic would break on the newline char, the question of integers would not

[2021-02-08 22:22] realshuting commented on #1543
Is this Kubernetes 1.19?

[2021-02-08 22:24] chipzoller commented on #1543
Yep, still the TKG cluster.

[2021-02-09 02:02] #1543 closed

[2021-02-09 03:59] vyankyGH opened #1564 "Add documentation for test CLI command"
Add documentation for  **test** CLI command.

kyverno test CLI  command executes tests on a set of policies and resources.

test definition :

[code]
 Support git paths:

[code]

**Additional context**
#1442

[2021-02-09 05:35] JimBugwadia commented on #1145
Samples for image manipulation with Kustomize: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/image.md

[2021-02-09 10:05] NoSkillGirl commented on #1541
PR - https://github.com/kyverno/website/pull/91

[2021-02-09 10:20] RinkiyaKeDad commented on #1145
I'd like to work on this!

[2021-02-09 10:38] vyankyGH opened #1565 "Cover kyverno/policies on every push and also remove pkg/testrunner."
Cover kyverno/policies on every push and also remove pkg/testrunner.

[2021-02-09 11:08] rajdas98 commented on #1277
@realshuting Can you explain about this issue little bit? Not able to get the context from this https://github.com/kyverno/kyverno/pull/1395#pullrequestreview-552154281. Thanks

[2021-02-09 16:42] JimBugwadia commented on #1242
Yes, this can all be done.

We just need to make sure that this approach does not cause any unexpected behaviors - in other words is there any case where a user may **not** want a multi-line string to be converted to an array? I can't envision one at the moment - seems like a safe assumption.

The other aspect we need to test will be if the YAML block and chomping characters will be preserved when

[2021-02-09 17:31] chipzoller commented on #1242
If they hand that ConfigMap over to Kyverno, no, I don't think so. But, again, this would all be documented and explained.

I don't see this really matters. The block chomping indicator covers how newlines should be handled at the end of the block scalar. The logic should just strip off any newline chars after the final value in the multi-line string is detected. Users could then use any chomping

[2021-02-09 18:53] realshuting commented on #1564
Track in https://github.com/kyverno/website/issues/92.

[2021-02-09 18:53] #1564 closed

[2021-02-09 19:34] #1550 closed

[2021-02-09 20:26] chipzoller opened #1569 "Support synchronous generate policies"
**Is your feature request related to a problem? Please describe.**
Per [this discussion in Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1612781494311000), a user may wish to delay the acknowledgement for a Namespace creation request until all generate requests have succeeded. The reasoning for this use case is to control the use of the Namespace and only allow if all resources are in pl

[2021-02-09 20:45] chipzoller commented on #1242
Are there more technical or architectural concerns here or can @yashvardhan-kukreja have a go?

[2021-02-09 20:59] chipzoller commented on #1145
[Link ](https://kubernetes.slack.com/archives/CLGR9BJU9/p1612868223342700)to relevant Slack discussion.

[2021-02-09 21:00] chipzoller commented on #1541
Ready to close.

[2021-02-09 21:06] chipzoller commented on #1485
@JimBugwadia and @realshuting your thoughts and opinions on this as a concept?

[2021-02-09 21:09] chipzoller commented on #1508
Can we implement a specific check for this field that ignores runtime.Object? Understand this may not be a Kyverno issue, but we could still perform a simple field check that stops these in their tracks as a workaround.

[2021-02-09 21:28] chipzoller commented on #1170
/assign

[2021-02-09 21:30] chipzoller commented on #779
API lookups are now officially available in v1.3.2, @debarshibasak , and a sample policy which implements a count of `LoadBalancer` Services has been documented [here](https://kyverno.io/docs/writing-policies/external-data-sources/#sample-policy-limit-services-of-type-loadbalancer-in-a-namespace). This functionality should probably now close this issue.

[2021-02-09 21:32] chipzoller commented on #858
@HugoRh this issue should be solved now with v1.3.2 released with support for API lookups. It should now be possible to validate that an Ingress resource has its corresponding Service resource in existence as part of the validation.

[2021-02-09 21:35] #1541 closed

[2021-02-09 21:40] #858 closed

[2021-02-09 22:06] realshuting commented on #1549
Regarding 4, looks like all parameters are available [here](https://artifacthub.io/packages/helm/kyverno/kyverno#configuration).

[2021-02-09 22:09] chipzoller commented on #1549
Yes, but should we put this in our docs since they're the "official" docs?

[2021-02-09 22:14] JimBugwadia commented on #893
Release 1.4 will introduce HA options. We can then revisit the default webhook configuration.

[2021-02-09 22:15] realshuting commented on #1549
I don't know... Why don't we link to the ArtifactHub page in our docs? Otherwise we need to maintain the doc when adding/removing parameters.

[2021-02-09 22:17] JimBugwadia commented on #1482
@IbraheemAlSaady - here is an example of a namespace selector based policy: https://kyverno.io/docs/writing-policies/match-exclude/#match-deployments-in-namespaces-with-specific-labels. Let us know if this works for you and if you have any additional feedback,

[2021-02-09 22:17] JimBugwadia commented on #931
@sgandon @snuggie12 -  here is an example of a namespace selector based policy: https://kyverno.io/docs/writing-policies/match-exclude/#match-deployments-in-namespaces-with-specific-labels. Let us know if this works for you and if you have any additional feedback,

[2021-02-09 22:39] chipzoller commented on #1549
We can do that so long as the ArtifactHub page is going to be the definitive location for the Helm chart info. Will that be the case, @JimBugwadia ?

[2021-02-09 23:13] yashvardhan-kukreja commented on #1508
@chipzoller / @realshuting  I found the resolution to this. So, I guess you can assign me to this issue and I'll raise a PR accordingly.

[2021-02-09 23:30] yashvardhan-kukreja commented on #1508
So, basically,
**The flow, as of now**
The input YAML manifest is read as `[]byte` and then, fed to the `convertResourceToUnstructured()` function. In simple words, this function is doing two things:
- the YAML []byte into the corresponding JSON []byte.
- finally, that JSON []byte is converted to `unstructured.Unstructured` object and returned.

**The problem**
The Problem lies in the first phase

[2021-02-09 23:59] yashvardhan-kukreja commented on #1508
If this looks credible, please assign me this issue and I'll raise my PR accordingly (it's ready :) )
Thanks!
cc: @chipzoller @realshuting

[2021-02-10 00:20] realshuting commented on #1508
@yashvardhan-kukreja Thanks for investigating the issue, your solution looks good to me!

[2021-02-10 01:16] #1508 closed

[2021-02-10 02:09] realshuting commented on #779
If the resource usage can be fetched via API queries, this can be achieved with JMESPath and numeric operators.
@debarshibasak Let us know if you need help build the policy.

Closing this issue, reopen if needed.

[2021-02-10 02:09] #779 closed

[2021-02-10 05:13] JimBugwadia commented on #1242
They would have to use `|-` as using a folded block scalar will cause newlines to be stripped before Kyverno gets access to the data, and other chomping indicators will result in extra strings or nil values.

Also, will the block style and chomping indicator be preserved in a round trip (YAML -> JSON -> YAML) from the API server? I suspect not....but should be easy to test via the command line. Ky

[2021-02-10 08:58] IbraheemAlSaady commented on #1482
@JimBugwadia looks pretty good, saw the PR merged a few days ago, but couldn't find documentation, I'll give it a try

[2021-02-10 08:58] sgandon commented on #931
This is a really nice solution thanks for the feature.

[2021-02-10 12:17] RinkiyaKeDad commented on #1145
I'm not sure on how to go about extracting the fields from the AdmissionReview request. Could you please point me to the relevant files where this code is present/to be written @chipzoller.

About the `extractImages` method the pseudo code could look something like this:
[code]

[2021-02-10 13:20] rajdas98 commented on #1472
Hi @realshuting , I spoke with @vyankyGH for picking this issue. Can you assign me if you are okay with it?

[2021-02-10 13:32] chipzoller commented on #1145
Here begins the code that extracts these built-in variables:
https://github.com/kyverno/kyverno/blob/2f2d6c2e38aa1885f1bfc69d8b797afc623f21f3/pkg/engine/context/context.go#L134

[2021-02-10 13:37] chipzoller commented on #1242
The style indicator would have to be `|`, yes, because `>` indicates folded lines. This not only gets documented but can be validated in code (and fail if folded lines are found). The chomping indicator can be any one of clip (nothing after `|`), strip (`-`), or keep (`+`). Since chomping only handles newline chars at the _end_ of the block, by that point it's irrelevant for parsing and can easily

[2021-02-10 13:56] chipzoller commented on #1549
1. `privileged` which has the effect of installing no PSS policies, should be changed to `none` so users can opt out of getting them.

[2021-02-10 18:10] RinkiyaKeDad commented on #1145
I'll write the new function in this file but wanted to know where the new function I write would be called and what should be passed as its arguments (like `userName` gets passed for the `AddServiceAccount` function).

[2021-02-10 18:18] JimBugwadia commented on #1549
Yes, ArtifactHub  is maintained by the CNCF and that will be the definitive location for the Helm chart info. ChartCenter, etc. are being deprecated.

[2021-02-10 18:25] realshuting commented on #1277
@rajdas98 Thanks for looking at the issue, there are other requirements that need to be addressed along with this. I can come up with the standards first.

[2021-02-10 20:20] JimBugwadia commented on #1242
We may need to discuss this live...but let me try to better explain the concern:

Internally the API and K8s machinery deals works with JSON and not YAML. Hence, when Kyvermo sees the ConfigMap all YAML specific notations will be lost.

So, this:

[code]
Will be seen as:

[code]

Based on the proposal above the JSON would get parsed to a string, as newlines are stripped.

I would be a lot more com

[2021-02-10 20:30] realshuting commented on #1241
Since variables can be nested, supporting variable substitution in match/exclude can result in cyclic lookups. The match/exclude elements are [first evaluated](https://kyverno.io/docs/writing-policies/variables/#evaluation-order) so that rules can be matched quickly.

The above scenario can be addressed by using `preconditions`.

[2021-02-10 20:30] #1241 closed

[2021-02-10 21:07] realshuting commented on #1256
Hello @nekia, are you still working on this? Let us know if you have any questions.

[2021-02-10 21:09] realshuting commented on #1446
Hello @lengrongfu, is this in progress? Let us know if you have any questions about this issue.

[2021-02-10 22:38] realshuting opened #1576 "Eliminate throttling requests"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.3.2

**Describe the bug**
Currently with v1.3.2, we are still seeing requests are been throttled (-v=4). We should eliminate throttling requests as much as possible.

Capturing components that are been throttled:
1. ~~policy status updater, could potentially eliminate throttling reque

[2021-02-10 22:59] chipzoller commented on #1242
Ok, now I do understand the concern here. I honestly forgot that the API sends JSON to registered webhooks and so the YAML would be serialized to JSON.

Is the only concern here that operators `In` and `NotIn` would break if they encountered a string versus an array? Or was there some other operator or functionality that would be impacted? In other words, what's the blast radius if nothing changes

[2021-02-10 23:07] realshuting opened #1577 "Auto Recover Policy Report"
**Is your feature request related to a problem? Please describe.**

With v1.3.2, policy reports can only be refreshed when Kyverno restarts. We need to support auto-recovery for policy report in case any of the invalid result entries are left in the report:
- need to refresh reports every certain interval (reconcile results entries to make report self-healing)
- re-generate report if it gets delet

[2021-02-10 23:09] chipzoller commented on #1564
This issue is closed but there's no linked PR. Does this represent new functionality or changed functionality? Since this is a docs task and is being tracked in the website repo, need to understand what needs to be added here.

[2021-02-10 23:39] chipzoller commented on #1549
@rajdas98 Installing the 1.3.2 Helm chart does not print NOTES.txt

[code]

[2021-02-11 00:22] realshuting commented on #1549
I noticed that the PR was merged after 1.3.2 release.

[2021-02-11 00:41] chipzoller commented on #1549
Any way to regenerate the 1.3.2 chart in that case?

[2021-02-11 00:59] realshuting commented on #1549
@chipzoller I updated the chart, can you try again?

[2021-02-11 01:03] chipzoller commented on #1549
Still not showing after updating the repo.

[2021-02-11 01:46] chipzoller commented on #1070
![image](https://user-images.githubusercontent.com/29008123/107594829-f5771300-6be0-11eb-93b9-a1f927f7b21b.png)

[2021-02-11 01:46] chipzoller commented on #1070
![image](https://user-images.githubusercontent.com/29008123/107594860-0f185a80-6be1-11eb-92fa-e010c2c067f4.png)

[2021-02-11 01:49] chipzoller commented on #1549
After @realshuting updated the Chart (the PR was merged after 1.3.2 was released), `NOTES.txt` now showing:

[code]

[2021-02-11 02:22] chipzoller commented on #1070
1.
[code]

[2021-02-11 13:50] hikhvar opened #1579 "[BUG] patchesJson6902 remove operation fails on non-existant key"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.18.9-eks-d1db3c
* Kyverno version: v1.3.2

**Describe the bug**
The documentation says that the remove operation of a `patchesJson6902` will procede without an error if the element is not present in the object. However I get the error message: `Unable to remove nonexistent key`

**

[2021-02-11 14:21] chipzoller commented on #1242
Ok, so on that point, how would this be any different from a user following the documentation and creating a ConfigMap with an array of strings in JSON markup? Use of a multi-line block scalar _requires_ new lines anyway. Kyverno would just be leveraging them. If the user didn't intend this, they wouldn't be creating one in the first place.

But, agree, @yashvardhan-kukreja I see no reason why we

[2021-02-11 14:23] yashvardhan-kukreja commented on #1242
Sure, I'll start the work implementing this and will come up with a prototype :)

[2021-02-11 21:18] megakid commented on #1540
No dice.

[code]

OomKilled again.

From `kyverno-pre` (successfully run)

[code]

[2021-02-11 21:32] JimBugwadia commented on #1540
@megakid - thanks for checking. We will investigate this further and get back.

[2021-02-11 22:00] megakid commented on #1540
No problem. We have this pod running seemingly fine in another cluster so it's definitely something environmental.

[2021-02-11 23:49] chipzoller commented on #1070
2.
[code]

[2021-02-12 02:20] chipzoller opened #1582 "[BUG] apiCall.urlPath with multiple JMESPath var substitutions from AdmissionReview not resolving"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.2

**Describe the bug**

A Policy with an `apiCall.urlPath` containing a path with multiple variables from AdmissionReview in JMESPath format are not resolved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create this Secret in a Namespace called

[2021-02-12 13:58] chipzoller commented on #1582
When turning logging up to 6, I do see this getting logged, so it must be working:

[code]

[2021-02-12 14:06] chipzoller opened #1584 "[BUG] List all operators in policy.spec.rules.validate.deny.conditions.operator"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.2

**Describe the bug**
Need to list all the operators at this path in a `kubectl explain` output.

[code]

[2021-02-12 14:18] chipzoller commented on #1582
Okay. I'm obviously stupid. The Policy works. The `operator` needed to be `Equals` since it's a `deny` condition and not a `pattern`.

[2021-02-12 14:26] chipzoller opened #1585 "[BUG] "failed to load context" in logs"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.19.1
* Kyverno version: 1.3.2

**Describe the bug**
(Follow-up from #1582)

When deleting the Deployment, this gets logged:

[code]

[2021-02-12 14:26] chipzoller commented on #1582
In the course of troubleshooting this, I noticed when the Policy was (incorrectly) written to say `NotEquals` instead, it obviously allowed the Deployment to be created (as it should). But when I deleted the same Deployment, the logs at default level throw this:

[code]

Probably can clean these up from showing since it doesn't seem like it belongs. Moved this to #1585 and closing this one.

[2021-02-12 14:26] #1582 closed

[2021-02-12 15:36] JimBugwadia commented on #1582
@chipzoller - glad you resolved this but what can we do better to improve the dev experience?

@NoSkillGirl is working on CLI support for API calls, which may be a way to help validate that the substitution is working as expected.

Any other ideas?

[2021-02-12 15:37] chipzoller commented on #1582
I'm writing up two proposals right now in the discussions area that will exactly address problems like these. Give me another 30 mins.

[2021-02-12 15:56] chipzoller commented on #1582
One of two: https://github.com/kyverno/kyverno/discussions/1587

[2021-02-12 16:18] chipzoller commented on #1582
Two of two: https://github.com/kyverno/kyverno/discussions/1589

[2021-02-12 17:08] chipzoller commented on #1485
Bump

[2021-02-12 17:19] JimBugwadia opened #1590 "Restrict Deployment updates"
This would be a nice sample policy to support as an example of an advanced deny rule:

https://kubernetes.slack.com/archives/C0EN96KUY/p1613133305093600

Christiaan Vermeulen Today at 4:35 AM
Hey !
I have a general question (Don’t know if it’s the right place), but is it possible to limit the PATCH operation on a Deployment to only allow patching of image & replica ?
We are building an Operator wh

[2021-02-12 18:37] yashvardhan-kukreja commented on #1242
I started work on this and made some progress but I found two concerns.'
1.  **We can't enforce the user to provide only "literal" style multi-line blocks in the configmaps they are loading into their cluster policy:** Apparently, there's no way of determining from kyverno's end if the configmap (which is being referred to under the `context` field) contained a "folded" style multi-line block or "

[2021-02-12 18:42] yashvardhan-kukreja commented on #1242
These concerns seem substantial to me what do you folks think :) (@realshuting / @chipzoller  / @JimBugwadia )

[2021-02-12 18:51] chipzoller commented on #1242
Good feedback. I think we can contend with these constraints.

1.

In this example, even the multi-line string block scalar is only setting a single line because there are no newline chars. This is why it produces the same result as a folded multi-line. It can be dealt with by searching the provided input for greater than 1 newline chars. No matter what the input, there is expected to be one, but

[2021-02-12 19:04] chipzoller commented on #1590
/assign

[2021-02-12 19:14] JimBugwadia commented on #1485
I like the proposed design - its clean and allows a lot of flexibility.

We will need to upgrade the schema and migrate existing elements.

[2021-02-12 20:03] realshuting commented on #1579
@hikhvar Thanks for reporting the issue, this was the case (we had deprecated `patches` and moved to `patchesJson6902`), the statement below is no longer applicable, we will update the doc accordingly.

In order to achieve the same behavior, you can use `preconditions` to pre-check if the annotation exists:
[code]

[2021-02-12 20:06] hikhvar commented on #1579
I already implemented that workaround with preconditions. Thank you for updating the docs!

[2021-02-12 20:07] #1579 closed

[2021-02-12 20:50] chipzoller commented on #1585
The aforementioned message gets logged when deleting a Deployment, but it also gets logged when the (linked issue #1582) Policy targets Deployments, a Deployment is created, but there is a variable substitution problem. While the logging is correct in this instance, notice that it doesn't print the path as well as it gets logged in triplicate when it only needs to be logged once.

Here is the log

[2021-02-12 20:59] realshuting opened #1591 "[BUG] Type Assertion Error in Generate - namespace selector"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: 1.3.2

**Describe the bug**
Kyverno crashes when using `namespaceSelector`:
[code]

[2021-02-12 21:10] chipzoller commented on #1070
Working PoC for 3. Only looks at Secrets from volumes, only the first volume (index 0), and is only applicable to Pods (no higher-level controllers). Blocks a Pod definition if its first volume mounts a secret containing a label `foo=bar`. Needs enhancements outlined in #1589 and #1587 to make this type of solution viable.

[code]

[2021-02-12 22:08] chipzoller commented on #1146
@JimBugwadia do you have more thoughts/inputs on the requirements for such a policy? The title suggests the container image name would be the deciding factor, but possibly Pod name as well.

[2021-02-12 22:23] chipzoller commented on #1170
Ok, so for this one, it's looking like we need the enhancement I proposed in #1267 which would allow the comparison of a map (key plus value pair) to another object's map. The `selector` statement in a PDB is a unique set of key/value pairs (when used with labels) that has to be identical to a Deployment's labels. And currently, I don't think we have any way of comparing those two sets because we

[2021-02-12 22:42] chipzoller commented on #1170
The question which would be answered by the proposed enhancement (and required by such a policy) is, "does a PDB having the same label combination (i.e., has all the same label names AND values together) as this Deployment currently exist?"

[2021-02-12 23:15] MnrGreg opened #1592 "[BUG] Kyverno seemingly crashes when processing object that gets removed"
**Software version numbers**
Kubernetes 1.19.1

* Kubernetes version:
* Kyverno version: 1.3.2

**Describe the bug**
Kyverno was processing a namespace, the namespace object was deleted, this seemingly caused Kyverno to crash.

[code]

**Expected behavior**
Fail more gracefully rather than crash.

**Additional context**
+-300 namespaces were being created in bulk at the time while Kyverno performi

[2021-02-12 23:28] realshuting commented on #1592
@MnrGreg Thanks for reporting this.

We've found this issue earlier today and here's the [issue](https://github.com/kyverno/kyverno/issues/1591) to track the fix. We'll get the patch out ASAP.

[2021-02-12 23:45] realshuting commented on #1592
In the meanwhile, here's the test image `ghcr.io/kyverno/kyverno:v1.3.2-10-g596bc9ba` for the fix, so you can proceed with your work.

[2021-02-13 00:12] chipzoller commented on #1525
/type:cli

[2021-02-13 00:27] realshuting opened #1593 "Support apiCall in generate and mutate policy"
**Is your feature request related to a problem? Please describe.**
With this `apiCall` context defined in the generate policy, I'm not able to use the variable in the generate policy:
[code]

[code]

**Describe the solution you'd like**
Support apiCall in generate and mutate policy.

Test manifests:
[code]

[code]

[2021-02-13 00:34] realshuting commented on #1584
It'd be helpful to add validation checks as well.

[2021-02-13 00:44] realshuting commented on #1170
I'm curious if [Equality Operators](https://jmespath.org/specification.html#equality-operators) of JMESPath would solve this issue.

[2021-02-13 01:29] chipzoller commented on #1170
That's a good suggestion, But in the docs,  the illustration is for intra-object comparison and we'd need inter-object comparison, so like a `search` function across two different objects. Or am I not reading this correctly?

[2021-02-13 02:19] SailingYYC commented on #1521
Our initial and major use case for mutation is what @realshuting noted, we require variable replacement in `patchesJson6902`. On Ingresses where any `host` does not have a `.`, we want to append the `.namespace.clusterdomain.com` for both the `rules` and `tls` entries.

Without variable expansion this is not possible. It would be nice if patch strategic merge supported such logic to apply to all e

[2021-02-13 02:28] realshuting commented on #1170
What are the fields we want to compare exactly? I'll see if I can come up with a sample policy for it.

[2021-02-13 02:36] chipzoller commented on #1170
It would be the labels object on an incoming Deployment compared to the labels in the spec of an existing PDB. I'm not in front of my machine right now to give you the full schema path. Challenge is we'd need to search all PDBs in the same Namespace and compare the source collection to the target collections of each PDB for this to work properly.

[2021-02-13 02:40] realshuting commented on #1170
No rush.. Once you have it, you can post it here and I'll take a look.

[2021-02-13 03:14] JimBugwadia opened #1594 "Sample policy to enforce unique Ingress host names"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

A common challenge with managing ingresses is to ensure that host names are unique within a cluster.

**Describe the ideal solution you'd like**

A policy that checks if a requested ingress host name is already in

[2021-02-13 08:42] yashvardhan-kukreja commented on #1584
Shuting, are you talking about adding some more validation checks apart from the ones that were recently added?
Because as of now, a certain amount of validation checks have already been added recently to the operator around validate.deny.conditions

for example, if the key is {{request.operation}}, then, the value can be one of the [CREATE, UPDATE, CONNECT, DELETE]

Also, the recently added Numer