[2022-08-21 03:26] Shivansh-yadav13 commented on #3411
Hello, I'm interested in working on this under LFX mentorship!

[2022-08-21 09:21] ToLToL opened #4363 "[Feature] CLI: add support for `validate.podSecurity` rule"
### Problem Statement

I worked on a new validation rule `validate.podSecurity` to [extend Pod Security admission for finer-grained and flexible policy control](https://github.com/kyverno/KDP/blob/main/proposals/extend_pod_security_admission.md).

It would be nice to add support for this rule in the Kyverno CLI.

For the moment the policy rules are skipped:

[code]

[code]

[code]

Expected result

[2022-08-21 18:05] zswanson opened #4365 "[Feature] CLI test command should validate the policy under test"
### Problem Statement

It is currently possible to write a ClusterPolicy (or Policy) that is malformed such that the Kyverno controller would reject the ClusterPolicy if applied to a cluster. Depending on the the extent of the bugs in the policy, the `kyverno test` CLI command may continue to pass/fail tests appropriately.

For example:

[code]

The rule above had incorrect indentation where the `

[2022-08-21 19:18] JimBugwadia commented on #2925
Also see: https://twitter.com/_ediri/status/1561407229793820677

[2022-08-21 20:24] imjasonh commented on #2925
I'd like to help with this. I've started a draft PR at https://github.com/kyverno/kyverno/pull/4366 which I currently fully expect not to work perfectly, but it should be a useful jumping off point at least.

[2022-08-21 22:15] eddycharly commented on #3180
I agree, constant values usually start with a upper case letter (at first glance all k8s api constants follow this convention).

[2022-08-22 07:18] #4324 closed

[2022-08-22 07:51] #4065 closed

[2022-08-22 08:36] codeWithUtkarsh commented on #3933
@harshit98 Are you still working on this issue? If not please acknowledge.

[2022-08-22 09:56] realshuting commented on #4365
Thanks for the interest @codeWithUtkarsh ! Kyverno policy does have the schema defined and can be used for policy validation. If you could share the investigated solutions, I'd gladly discuss them and help.

[2022-08-22 11:25] chetak123 commented on #4337
Hey @chipzoller I think this issue is completed with pr #4345

[2022-08-22 13:31] #4337 closed

[2022-08-22 14:12] realshuting commented on #3180
This makes sense to me.

[2022-08-22 15:53] dschunack opened #4369 "[Bug] Kyverno ignores namespaceSelector for Generate Rules"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Generate

### Description

Hi,

we want to create a Kyverno Policy in all Namespaces that are labeled with "managed: true" and the default namespace.
Looks like kyverno ignores the namespaceSelector and creates the Policy on the most of the namespaces, but not for kube-* and kyverno nam

[2022-08-22 16:41] chetak123 commented on #4191
## Expose the endpoint at the local port
You can get at the application in the pod by port forwarding with kubectl, for example:
[code]

[code]

The HTTP endpoint will now be available as a local port.

Alternatively you can use loadbalancer type of service to expose Kyverno endpoint, an example service manifest is given below:

[code]
[expose.md](https://github.com/kyverno/kyverno/files/9396071/e

[2022-08-22 17:45] zhihuiw328 commented on #4336
@chipzoller  I've submitted my application for the Fall term LFX mentorship program at kyverno org. Is there any pretask or just need to get familiar with JMESPath docs for now？

[2022-08-22 18:38] stone-z opened #4371 "[Bug] ReportChangeRequests can accumulate beyond configured `maxReportChangeRequests` limit"
### Kyverno Version

1.7.2

### Description

This issue comes from [this Slack discussion](https://kubernetes.slack.com/archives/CLGR9BJU9/p1660857982112959) about the possibility for ReportChangeRequests to build up in greater numbers than should be possible with the `maxReportChangeRequests` flag set.

### Summary

The exact issue is unclear, but the pieces seem to be:
- RCRs can exceed the conf

[2022-08-22 18:51] MdSahil-oss commented on #3542
@chipzoller I need more information in order to extend forEach for generate too, because It seems like extension of forEach for generate requires  proper (optimal) implementation approach.

[2022-08-23 00:37] viveksahu26 commented on #3822
Hey @vyankyGH , can you go through second last comment and help me out. Meanwhile, Shuting is busy with other works.

[2022-08-23 00:58] zswanson opened #4374 "[Bug] context vars for request.object are evaluated in DELETE operations, even if excluded by preconditions and block deletes"
### Kyverno Version

1.7.2

### Description

A policy with preconditions that limits to operations UPDATE and CREATE,  was still partially evaluated in a DELETE operation. Context Variables were evaluated by the policy during the DELETE admission, and returned null because `request.object` is null in a DELETE, as per the Kyverno documentation. The context variable evaluating to null caused an erro

[2022-08-23 02:35] viveksahu26 commented on #4369
Hey @dschunack , the issue also comes in the case of validate and mutate rules too. You can check even for mutate rules and validate rules:
For simplicity you can check with below  examples:
[code]
and
[code]

[2022-08-23 02:37] viveksahu26 commented on #4369
/good first issue

[2022-08-23 02:40] viveksahu26 commented on #4369
Hey @vyankyGH , can you label this as `goog first issue`. It is good for new contributors.

[2022-08-23 05:26] joebowbeer opened #4375 "[Feature] Provide kyverno apply --audit-warn option"
### Problem Statement

Use `kyverno apply` in CI/CD to determine if the proposed change is free of "enforced" failures.

By "enforced" failure, I mean a policy failure whose validation failure action is `enforce`.

Currently, the kyverno operator will allow `audit` failures while the kyverno CLI will fail them with non-zero exit code, and there is no way to determine from the CLI which failures wo

[2022-08-23 06:48] abs007 commented on #4301
@realshuting  Should I go ahead with the implementation I proposed? One question though. Would `false` be provided if the container flag for `enableDefaultRegistryMutation` happened to be empty (considering the default values for bool in go is `false`)?

Also, would I have to add the container flags elsewhere and set default values for them over there?

[2022-08-23 09:17] developer-guy opened #4376 "[Feature] publish Helm charts of Kyverno's to OCI registries"
### Problem Statement

We (w/@dentrax) thought it'd be to store Kyverno's Helm Charts in OCI registries. It's also pretty is to do, though. With that, we can use Flux [HelmOCIRepository](https://fluxcd.io/docs/components/source/helmrepositories/#helm-oci-repository) feature to deploy them.

### Solution Description

We should add new workflow for uploading Helm charts to OCI registries:

[code]

#

[2022-08-23 09:17] developer-guy commented on #4376
kindly ping @stefanprodan

[2022-08-23 09:32] dschunack opened #4377 "[Bug] Kyverno Policy passed in enforce mode but not in audit mode"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

Hi,

we noticed some problems with the require-drop-all policy if the validationFailureAction is set on "audit".
The capabilities are set correct, but the validation failed. If we switch the validationFailureAction from "audit" to "enforce" it passed. Hope you

[2022-08-23 09:32] #4358 closed

[2022-08-23 11:34] FlorianFiebig opened #4379 "[Feature] Allow (Cluster)Policies to validate (Cluster)Policies"
### Problem Statement

It should be possible to deploy and test any (Cluster)Policy that try to validate (Cluster)Policies.

Currently this is not possible. The following validation error is thrown:
* when running `kyverno test ..`: `E0823 13:03:21.048887   47619 logr.go:270]  "msg"="skipping invalid policy" "error"="match resource kind is invalid: kind and match resource kind should not be the sa

[2022-08-23 12:07] #4340 closed

[2022-08-23 13:49] eddycharly commented on #2892
@chipzoller @realshuting where do we have `.status` in the manifests ?

[2022-08-23 14:22] ShivamTyagi12345 commented on #4347
hey @clementbowe14 If you allow May i take this issue

[2022-08-23 16:52] #3725 closed

[2022-08-23 17:32] FarnazZ commented on #4377
We face a similar issue in Kyverno 1.7.2 and as I see it is related to precondition as @dschunack  said, it works only with `enforce` validationFailureAction.

**Note:** Our Platform is `OpenShift`

**Description:**

We have servicelevel label which is only available in some deployments with specific values in their `.spec.template.metadata.labels.servicelevel` and it is expected not to work whene

[2022-08-23 17:53] zurrehma commented on #3119
Related Blog Post
https://docs.google.com/document/d/1cYljGmkCXNLs6mF__ClDl7zGrmV3zoEF2n12cSaVZjk/edit#heading=h.7utel6eaz6nx

[2022-08-23 18:09] JimBugwadia commented on #4371
Hi @Boojapho - can you please explain what you mean by the "number of control planes"....do you mean the number of "control plane nodes" vs "worker nodes", or something else?

[2022-08-23 18:26] JimBugwadia commented on #4371
That's very interesting. Could the issue be related to leader election when an even number of control plane nodes is used?

https://etcd.io/docs/v3.3/faq/#why-an-odd-number-of-cluster-members

https://etcd.io/docs/v3.5/faq/#what-is-failure-tolerance

[2022-08-23 18:50] Boojapho commented on #4371
I don't believe so since the single control plane had issues too.  And, as I was watching the 3 control plane scenario, I noticed it just now went above the limit by 2x.  I drew my conclusion too quick.

[2022-08-23 18:52] Boojapho commented on #4371
I edited my comment above to clarify

[2022-08-23 19:57] Boojapho opened #4391 "[Bug] Large memory consumption for non-leader Kyverno replicas"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Under a loaded condition (simulating a cluster with numerous CI/CD pipelines running simultaneously), Kyverno pods will increase in memory over time.  Over 24 hours, the 2 non-leader replicas have memory of 1.3Gi, while the leader replica has memory of 295Mi.

[2022-08-23 19:59] Boojapho commented on #4391
Performance files attached:
[kyverno-heap.pprof.zip](https://github.com/kyverno/kyverno/files/9410293/kyverno-heap.pprof.zip)

[2022-08-23 20:15] Dentrax commented on #2577
More than one year have passed since the last discussion, is there any progress or plan on this recently? Also would be nice to add Rego adapter either: `validate.rego`

XREF: https://github.com/kubescape/kubescape/issues/321

[2022-08-23 23:00] viveksahu26 commented on #4369
/good-first-issue

[2022-08-24 01:58] joebowbeer opened #4392 "[Bug] [CLI] host-path and apparmor failures out of thin air"
### Kyverno CLI Version

1.7.3

### Description

`kyverno apply` is flagging non-existent elements (out of thin air) such as an apparmor annotation that does not exist in the resource yaml, and a hostPath violation where there are no volumes.

The Deployments that "manifested" the bugs had empty `annotations` and `volumes`:

[code]

[code]

See sample Deployment manifests [below](https://github.co

[2022-08-24 09:34] ahsenkamal commented on #2627
Hey folks, came here from the LFX mentorship projects and I'd like to contribute to this. Any help on where to get started?

[2022-08-24 10:51] developer-guy commented on #3119
Have you ever heard the term "Trusted Builders"? We can achieve SLSA Level 3 for free by using one of the trusted providers the SLSA team provides since Kyverno's release process has already been running on the GitHub Actions platform.

We can give a hand to this one if you want, @JimBugwadia.

cc: @laurentsimon @asraa @dentrax

References:
* https://slsa.dev/blog/2022/06/slsa-github-workflows
* h

[2022-08-24 11:08] #4320 closed

[2022-08-24 11:10] realshuting commented on #4369
@viveksahu26 - labeled. Not sure if it's "good" enough for new contributors though, may need some levels of understanding of Kyverno codebase.

[2022-08-24 12:28] zswanson commented on #4347
Just noticed this may be a duplicate of https://github.com/kyverno/kyverno/issues/4044 and already fixed for 1.8.0
@JimBugwadia does this seem like the same issue?

[2022-08-24 13:38] Shivansh-yadav13 commented on #3654
Hello, is this issue still up?

[2022-08-24 13:58] asraa commented on #3119
Thanks @developer-guy ! It looks like it is similar to @afzal442 proposal, but we already have these written out of the box

Also, to help reliability, it is easy (see google/ko link above) to add a job that gates the SLSA 3 provenance publishing with a verification.

It looks like this is the reuseable release workflow [here](https://github.com/kyverno/kyverno/blob/main/.github/workflows/reuse.ya

[2022-08-24 13:58] viveksahu26 commented on #4369
Hey @realshuting , it fails because of this condition.
https://github.com/kyverno/kyverno/blob/91373e13294ef730ed53b000e311f6419bd2eeff/pkg/engine/utils.go#L195

Basically, the condition blocks resource of kind `Namespace` having `NameSpaceSelector`.  I think condition ` resource.GetKind() != "Namespace" && resource.GetKind() != ""` need to be removed because Namespace can have NameSpaceSelector t

[2022-08-24 14:15] Shivansh-yadav13 commented on #1384
Hello, is this issue still up for contributions?

[2022-08-24 14:21] realshuting commented on #1384
Yes @Shivansh-yadav13, assigned!

[2022-08-24 14:48] realshuting opened #4397 "[Feature] Default behaviors for beta container flags"
### Problem Statement

Container flags `maxReportChangeRequests`, `splitPolicyReport` and `maxQueuedEvents` were added to 1.7.2 as a beta support for the memory issue.

The long-term solution for the performance issue is described in [Decompose Kyverno into separate controllers](https://github.com/kyverno/kyverno/issues/3972). We need to decide if we want to make the above default behaviors in 1.8

[2022-08-24 14:49] codeWithUtkarsh commented on #4365
# Problem Statement

### The cli `kyverno test` is not validating the policy manifest and hence fails at the time of appling the policy to a cluster.

## For example:
[code]
### The example above has syntax error where resources and namespaceSelector are at the same level.
&nbsp;
# Solution

### Validate the policy manifest with the defined schema and detect for any error. If found any error, prin

[2022-08-24 15:11] ShivamTyagi12345 commented on #4369
/assign
Its looks i can work with this . Picking this up😊

[2022-08-24 15:57] dschunack opened #4401 "[Feature] Add posibility to set validationFailureAction by Policy"
### Problem Statement

Hi,

At the moment you have only the possibility to set the validationFailureAction for all Policies and not for individual Policies in the Kyverno Policy Chart.
Yes, it's possible the Override the Action for specific Policies, but only based on Namespaces This is not practical with automation, hundert's of Namespaces and several k8s. We want to have the possibility to Overr

[2022-08-24 17:23] laurentsimon commented on #3119
Thanks for tagging us @developer-guy
We have these issues we're working on and may help for later improvement (as @asraa pointed out):
https://github.com/slsa-framework/slsa-github-generator/issues/56
https://github.com/slsa-framework/slsa-github-generator/issues/590

Once these are ready, we would be able to migrate without breaking users who consume these: all these builders use the same provena

[2022-08-24 17:40] awhitepl opened #4404 "[Feature] Improve printer column name for `validationFailureAction`"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

EKS

### Description

Because it's a generate policy, enforce/audit has no meaning here. But if you look at the cluster policies, it reflects that it's in 'audit' mode

[code]

This make it seem like the add-ns-quota policy isn't doing anything because the action is 'audit' but in reality it's generating resources

[2022-08-24 17:46] realshuting commented on #4365
@codeWithUtkarsh - thanks for looking into the issue.

It seems there's some misunderstanding of Kyverno validate policies and validate Kyverno policies. The former is used to [validate resources via Kyverno policies](https://kyverno.io/docs/writing-policies/validate/) while the latter is to perform validation checks for Kyverno policies.

Take this policy as an example:
[code]

If you create that

[2022-08-24 17:50] developer-guy commented on #3119
I'd love to help with them especially the ko related one 🙋🏻‍♂️🖖 @laurentsimon

[2022-08-24 17:56] realshuting commented on #4404
We can update the following printer column name to `Validate Action`:

https://github.com/kyverno/kyverno/blob/6f52d8fecc3dc6a765c9dd31f2d0d8a144328f7d/api/kyverno/v1/clusterpolicy_types.go#L18
https://github.com/kyverno/kyverno/blob/6f52d8fecc3dc6a765c9dd31f2d0d8a144328f7d/api/kyverno/v1/policy_types.go#L16

[2022-08-24 17:58] afzal442 commented on #3119
Thanks so much everyone for getting around here. Though I was into that, I am a bit away from this issue. I think @developer-guy you can go ahead with this. I will keep my eyes on your updates. 😉

[2022-08-24 18:06] codeWithUtkarsh commented on #4365
I meant the same @realshuting Maybe the added source have confused you. I understand that the intend of this issue is to do a grammatical check using kyverno cli. I will look at OpenAPI schema validation implemented in kubectl.

[2022-08-24 18:07] laurentsimon commented on #3119
+1!!

[2022-08-24 18:32] zswanson commented on #4188
I don't see any real downside since you would only be changing future releases. It might inconvenience someone briefly if they were just bumping it by hand and didn't notice the difference, but that sort of thing happens a lot.

[2022-08-24 18:38] octonawish-akcodes commented on #4404
/assign

[2022-08-24 18:39] viveksahu26 commented on #4374
Hey @zswanson , can you provide the resource.

[2022-08-24 18:40] octonawish-akcodes commented on #4404
Can I work on this

[2022-08-24 20:02] Eileen-Yu commented on #4254
Hi folks! I am new to the project and I would love contribute this as a beginner.

Have been looking into the implementation of `ValidationFailureActionOverrides` and `NamespaceSelector` in rules.

One question is:
Do we want  to keep the `namespace` key for string literal matching as well as this new nested field as:
[code]
OR they should appear either but not in the same time?

[2022-08-24 23:19] zswanson commented on #4374
There was nothing special about the resource itself, it fails because the context evaluates first, and `request.object` is null for a DELETE. I could write a simpler one for something like a pod or namespace of

Pretty much anything should cause the failure.

[code]

[2022-08-25 00:04] joebowbeerxealth commented on #4254
I imagine something similar to https://github.com/kyverno/kyverno/blob/main/charts/kyverno-policies/ci/test-values.yaml

With namespaces **replaced** by namespaceSelector

[code]

[2022-08-25 04:52] realshuting commented on #4188
Thanks @zswanson . One other question - what will be the upgrade process via Helm?

Kindly ping @treydock to chime in.

[2022-08-25 05:01] james-callahan opened #4407 "New ENTRYPOINT missing in v1.7.3 release"
For whatever reason, the new ENTRYPOINT doesn't seem to be in the v1.7.3 release:
[code]

But it *is* working for latest master builds:
[code]

_Originally posted by @james-callahan in https://github.com/kyverno/kyverno/issues/4263#issuecomment-1226777243_

[2022-08-25 05:10] realshuting commented on #4407
My bad, didn't pay enough attention while merging the PR:( Rescheduled to release 1.8.0.

Closing via https://github.com/kyverno/kyverno/pull/4263.

[2022-08-25 05:10] #4407 closed

[2022-08-25 06:10] m-yosefpor commented on #4377
this seems to be fixed in https://github.com/kyverno/kyverno/pull/4163 (kyverno 1.7.3)

[2022-08-25 06:36] dschunack commented on #4377
Hi, thanks for the update. I will test it today.

[2022-08-25 07:27] james-callahan opened #4410 "[Feature] Pod autogen should work when a `resources.selector` is specified"
### Problem Statement

I'd like to create exclusions to rules without having [autogen](https://kyverno.io/docs/writing-policies/autogen/) turn off.

This would allow modifying policies to exclude e.g. pods with certain labels without having to do the autogen process manually

e.g. for the deployment
[code]
I would want the following rule to match:
[code]

### Solution Description

Pod autogen woul

[2022-08-25 08:01] dschunack commented on #4377
Hi @m-yosefpor , It looks better and the Violation Check is working as we expect, but we now see some strange behaviors if we delete PODs.

If we delete a Violated POD, we see a Pass event for the POD that actually violates the Policy.

[code]
[code]
Anytime if we delete a POD, we see PolicyApplied events with state "pass". This is strange.

[code]

[code]

[2022-08-25 08:30] dschunack commented on #4377
I think it make sense to add the following precondition for the most common policies to suppress this.
Make no sense to check this for a DELETE Operation.

[code]

[2022-08-25 08:33] abhishekghiya opened #4411 "[Bug] failed calling webhook \"mutate.kyverno.svc\": unexpected error when reading response body. Please retry. Original error: context deadline exceeded""
### Kyverno Version

1.4.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

![image](https://user-images.githubusercontent.com/76930832/186614409-d6f18129-b0f3-4653-9ae4-97c127642820.png)

Observed the TLS Handshake error in Kyverno Logs, here 192.168.100.31, 192.168.100.32, 192.168.100.33 are respectively the

[2022-08-25 08:33] dschunack commented on #4377
@m-yosefpor

Looks like the precondition in the Policy would be ignored.

[code]

[2022-08-25 09:35] MdSahil-oss commented on #4161
Can I work on this.

[2022-08-25 10:30] Dentrax opened #4412 "[Feature] Customizable certificate expiration date"
### Problem Statement

The default behavior when installing Kyverno and expiration is set at one year. But we (@developer-guy) want to override it during installation.

### Solution Description

Make it configurable in `values.yaml` in Helm Chart to override default behaviour.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

[2022-08-25 11:13] JimBugwadia commented on #4347
Yes, it looks like this was fixed via https://github.com/kyverno/kyverno/issues/4044.

@viveksahu26 - can you please confirm?

[2022-08-25 11:27] developer-guy commented on #4412
Since Kubernetes v1.22, people can now specify the expiration duration while creating CSR in Kubernetes. To get more detail, the following links can help:

* https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#request-signing-process
* https://github.com/kubernetes/enhancements/issues/2784

[2022-08-25 11:28] developer-guy commented on #4412
We want to be able to override that duration in Kyverno through the Helm chart. Of course, we need to do some code changes too.

If it makes sense, we (w/@dentrax) are willing to work on this, thx.

[2022-08-25 11:38] Shivansh-yadav13 commented on #1384
Hello, I wanted to ask for incorrect schema in mutation rule won’t validate-policy.kyverno.svc deny the request of creating it?

[2022-08-25 11:55] eddycharly commented on #4412
Not sure I understand the request, we are not using CSR. Am I missing something ?
What is the value of `createSelfSignedCert` when deploying the helm chart ?

[2022-08-25 12:11] developer-guy commented on #4412
Ah okay, I thought that kyverno is using CSR, my bad. But anyways, we can make this expiration second overridable, right, this might be an option.

[2022-08-25 12:56] treydock commented on #4188
For Helm upgrade if someone did this to install:

[code]

For 1.8.0 release if bumped to say 2.6.0 it would just be

[code]

Nothing special should be required since Helm doesn't necessarily care that 2.6.0 is higher than v2.5.1 or a different format , it just cares the version you specify exists when you run the upgrade command.

FWIW I think the historical reason the version contains `v` prefix

[2022-08-25 14:14] realshuting commented on #4392
Not sure if it's related, but somehow the conditional anchor also stops working in 1.7.2 https://github.com/kyverno/kyverno/issues/4326.

[2022-08-25 14:29] viveksahu26 commented on #4347
Yes, it is already fixed via https://github.com/kyverno/kyverno/pull/4251
And I also added test case here https://github.com/kyverno/policies/pull/356
Hey @zswanson , And if you think it's failing for some particular cases, provide me policy and resource manifest. I will check it.

[2022-08-25 14:34] realshuting commented on #1384
No, there's no schema defined for `mutate.patchStrategicMerge`, it can take anything.

[2022-08-25 14:35] #4347 closed

[2022-08-25 14:48] realshuting commented on #4391
From the heap (pod `kyverno-4r6j7`) I can see most memories are consumed while generating policy report (and possibly the intermediate resource ReportChangeRequest).
[profile001.pdf](https://github.com/kyverno/kyverno/files/9425720/profile001.pdf)

The admission requests are distributed to all instances and each reports policy results.

Did you check how many RCRs were there in the cluster?

[2022-08-25 15:48] Shivansh-yadav13 commented on #1384
I'm sorry, I am new to Kyverno
does this look like a good example for bad mutation rule?
[code]
[code]

[2022-08-25 18:27] dschunack opened #4415 "[Feature] Add ability to get additional policies from restricted"
### Problem Statement

Hi,

At the moment it's only possible to add Policies from Others. We want to have the ability to add also Policies from the Restricted Rules.

### Solution Description

Add ability to get additional policies from restricted.

### Alternatives

_No response_

### Additional Context

PR created. #4416

### Slack discussion

_No response_

### Research

- [X] I have read and f

[2022-08-26 09:17] realshuting commented on #4188
Thanks @treydock !

I think we can go ahead and release new Helm charts following semVer pattern. I'll add the upgrade instructions to the release note and make sure the doc covers this change.

[2022-08-26 11:17] jsalatiel opened #4421 "[Bug] namespaced policy being applied to whole cluster"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Other

### Description

I am trying to apply a Policy ( namespaced ) to restart all deployments inside the namespace where the policy is applied when any configmap or secret inside that same namespace is updated.
I am trying the following rule:
[code]
To make that policy to work,

[2022-08-26 14:28] realshuting commented on #4411
@abhishekghiya - need details to reproduce the issue.

[2022-08-26 19:57] Boojapho commented on #4391
@realshuting Currently there are only 3 RCRs.  Do the replicas keep a cache of the RCRs in memory?

After 4 days and 2 hours, one non-leader (4rlj7) pod crashed at 4Gi of memory.  It restarted about 1.5 hours ago and has 195Mi now.  The other non-leader is at 3075Mi.  The leader is steady at 350Mi.

[2022-08-26 23:19] chipzoller commented on #1384
Yes, that is a bad mutation rule.

[2022-08-27 05:38] FarnazZ commented on #4377
@dschunack Exactly, I had the same experience; it seems the `precondition` got ignored. I will test it again with Kyverno 1.7.3 today and share the results.

[2022-08-27 12:33] FarnazZ commented on #4377
I tested Kyverno 1.7.3, and it seems now it respects `preconditions` but after the background scan, we get so many noisy `PolicyViolation`  events such as the following:
[code]

As I see the bug https://github.com/kyverno/kyverno/issues/3197 which was fixed previously in this version occurs again.

[2022-08-27 13:00] m-yosefpor commented on #3197
This is happening again in kyverno v1.7.3

[2022-08-27 17:55] viveksahu26 commented on #4377
[code]

Hey @FarnazZ , can you test it with main branch.  In case if any resource is skipped then in that case `PolicySkipped` event will be generated independent of type of mode it is.  And that will be implemented in 1.8 release or main branch.  Let me know what you are getting.

[2022-08-27 18:27] viveksahu26 commented on #4377
Hi @dschunack  , I can't reproduce your issue because of below errors:
[code]
  Can you test it with main branch and let me know the results.

[2022-08-27 19:17] chipzoller commented on #4377
@viveksahu26 you need to remove the Node selector in the sample.

[2022-08-27 19:42] viveksahu26 commented on #4377
Hey @chipzoller , its failing again.
[code]

[2022-08-28 07:59] Shivansh-yadav13 commented on #2661
Hello, so the log msg should be changed, or it should only log on failure?

[2022-08-28 08:11] praddy26 commented on #4421
@realshuting I would like to work on this issue.

[2022-08-28 08:27] chetak123 commented on #2777
Hey @tend2infinity are you still working on this ?,
as I'm currently exploring CLI section and interested in this issue .

[2022-08-28 09:41] praddy26 commented on #4421
/assign

[2022-08-28 12:18] FarnazZ commented on #4377
Hey @viveksahu26, I tested the main branch which is `Kyverno 1.7.3` and all events appear as `PolicyViolation`
you can find my events in this [comment](https://github.com/kyverno/kyverno/issues/4377#issuecomment-1229184157)

[2022-08-28 13:20] devopstales opened #4433 "[Feature] Specify key signature algorithm in verifyImages"
### Kyverno Version

1.7.2

### Description

I tried to use Kyverno's image verification function for cert-manager images. The verification in the command line with cosign is working but not with Kyverno version is 1.7.3

[code]

This is my policy:

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](htt

[2022-08-28 14:47] chetak123 commented on #2745
Hey @viveksahu26 I'm interested in this issue and wanted to ask if you are currently working on it ?

[2022-08-28 15:40] chipzoller commented on #2661
Tested on Kyverno 1.7.3 and the "failed to sync policy" error is no longer being printed. Closing.

[2022-08-28 15:40] #2661 closed

[2022-08-28 15:41] galsolo opened #4435 "[Bug] verifyImages - Images are sporadically successfully validated / failing validation"
### Kyverno Version

1.7.2

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

verifyImages

### Description

Images are failing verifyImages rules sporadically, couldn't identify a pattern.
Same image getting 'validation succeeded' and few minutes later a 'validation failure'.

the PolicyReport resource seem to reflect this behavior in the report.
for instance, a

[2022-08-28 19:23] viveksahu26 commented on #2745
I have already completed it. There were some dependent issue to this. They all are completed last  week. I have PR ready with me just waiting for reply of few [comments](https://github.com/kyverno/kyverno/issues/3822#issuecomment-1223372688).

[2022-08-28 21:47] chipzoller commented on #2745
It seems like we now have duplicate issues which cover the same issue, which was ultimately my mistake. I'm closing this one in favor of the later one which appears to reflect more recent progress. Please see and direct all further commentary to #3822.

[2022-08-28 21:47] #2745 closed

[2022-08-28 21:47] chipzoller commented on #3822
NOTE: Closed #2745 as a duplicate.

[2022-08-28 22:14] chipzoller commented on #2681
Tested and still present in 1.7.3. As stated in [this comment](https://github.com/kyverno/kyverno/issues/2681#issuecomment-1109872095), if vol2 is first in the list, the mutation applies but not otherwise.

[2022-08-28 22:26] chipzoller commented on #4433
The issue here is that the signature is using SHA512 while Cosign defaults to SHA256 which is what Kyverno uses implicitly. I'm re-writing this issue from a bug to a feature request. The request is for Kyverno policies to support specifying the signature algorithm under `verifyImages.attestors.entries.keys` or performing some "auto-detect" routine.

[2022-08-28 22:26] viveksahu26 commented on #4377
Hey @FarnazZ , when I tested with v1.7.3 getting same results that you were getting [here](https://github.com/kyverno/kyverno/issues/4377#issuecomment-1229184157).
[code]

Whereas when tested with kyverno version V1.8.x
[code]
getting policySkipped events.
[code]
Considering both above cases when precondition fails to match. I took `servicelevel: S`

[2022-08-28 22:35] viveksahu26 commented on #4377
This issue will be solved through this PR # 4251

[2022-08-28 22:48] chipzoller commented on #4377
Tested using the above policy and resource and this is no longer an issue from code in main. Should be included in Kyverno 1.8.0.

[2022-08-28 22:49] #4377 closed

[2022-08-28 23:10] chipzoller commented on #4421
This is a larger issue in that Policy resources (Namespaced Kyverno policies) should ONLY ever be AdmissionReview-scoped to the Namespace of the same policy. This doesn't just apply to mutate or even mutate existing rules, but ALL types of rules. A Policy resource only acts on Namespaced resources and only on those in the same Namespace, therefore it should be locked into that specific combination

[2022-08-28 23:44] chipzoller commented on #3197
Issue is fixed in main branch.

[2022-08-28 23:50] chipzoller commented on #4391
Thank you for your detail and diligence, @Boojapho, in helping to isolate this. Resource issues like these are critical for us to fix. Your repo instructions, samples, and dumps are extremely helpful.

[2022-08-29 01:24] viveksahu26 commented on #3822
Hey @chipzoller , can you check [this](https://github.com/kyverno/kyverno/issues/3822#issuecomment-1219881168) comment and let me know that whether it's a error or normal output.

[2022-08-29 01:31] chipzoller commented on #4369
The issue here is that `namespaceSelector` should not be used with kind equals `Namespace` because namespaceSelector is itself only pertinent to Namespaced resources. A Namespace is a cluster-scoped resource and not a Namespaced resource. This adjustment works as intended:

[code]

So what we need to ensure by this issue @ShivamTyagi12345 and @viveksahu26, is that we produce a validation failure w

[2022-08-29 01:36] chipzoller commented on #3822
@vyankyGH please assist @viveksahu26 here.

[2022-08-29 01:41] chipzoller commented on #4327
@viveksahu26 regarding your previous [comment](https://github.com/kyverno/kyverno/issues/4327#issuecomment-1220088812), if the preconditions fail to evaluate, the result must in kind be `fail`. It should not be `skip` because `target.data.food` cannot be properly evaluated. As you know from earlier work, we cannot assume default values when expressions cannot be evaluated; we must fail. Consequent

[2022-08-29 01:47] viveksahu26 commented on #4369
Ok, thanks for this concepts.

[2022-08-29 01:49] chipzoller opened #4436 "[Bug] Variables beginning with `image` should be allowed"
### Kyverno Version

1.7.2

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

When using a `verifyImages` rule, the internal variable named `{{image}}` (singular) is declared set equal to the name of each image. This is NOT the same as the `{{images}}` (plural) pre-defined variable. See [here](https://github.com/kyverno/policies/iss

[2022-08-29 01:53] chipzoller commented on #4411
Kyverno 1.4.0 is no longer supported. Please try to reproduce on at least 1.6.x, preferably 1.7.x, and re-open if the issue persists. In addition, please do not take screenshots of text/terminal output as this makes it impossible for maintainers and contributors to search for important key words.

[2022-08-29 01:53] #4411 closed

[2022-08-29 01:59] viveksahu26 commented on #4369
Are you talking about validation schema to add in the ClusterPolicy CRDs. Or something else through  which to let the user know  about validation failure. Can you suggest what would be possible ways to implement this.

[2022-08-29 02:11] chipzoller commented on #4369
I'm talking about the validation webhook for Kyverno policies themselves. We must ensure Kyverno itself rejects such policies even though they are syntactically valid.

[2022-08-29 02:47] ShivamTyagi12345 commented on #4369
Thanks for the update I will restart

[2022-08-29 04:51] funkypenguin opened #4437 "[Bug] kyverno-policies can't be installed via helm when kyverno image referred to by sha"
### Kyverno Version

1.7.2

### Description

Hi guys,

I've successfully deployed Kyverno 1.7.3 (your issue template needs an update, btw!). Our cluster uses connaisseur to mutate images into their digest format (ensures that images are cosigned) but due to this, when the kyverno-polices helm chart tries to determine which version of Kyverno is installed it fails like this:

[code]

Here's what ou

[2022-08-29 06:21] #4307 closed

[2022-08-29 06:39] realshuting commented on #4301
The concern of not adding a default registry is how the image registry variable can be resolved.

Per the doc https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images:

@abs007 - what would `{{images.containers.<container-name>.registry}}` be resolved to?

[2022-08-29 06:41] realshuting commented on #4301
If we allow both actions to be configurable, I'd suggest adding them as [ConfigMap vars](https://kyverno.io/docs/installation/#configmap-flags) so they can be tuned dynamicaly.

- enableDefaultRegistryMutation=[true|false] (default to true)
- defaultRegistry=<string> (default to docker.io)

[2022-08-29 06:42] dschunack commented on #4401
Available with version v2.5.4 of the Kyverno Policy Chart

[2022-08-29 06:42] #4401 closed

[2022-08-29 06:52] realshuting commented on #1384
Not sure if I understand this, do we expect a validation error here?

IMHO, we should validate `any` | `all` and returns the same validation error as we did for plain pod's rule.

[2022-08-29 11:34] developer-guy opened #4439 "[Feature] use KOCACHE environment variable to cache layers to speed up the build process"
### Problem Statement

I made a similar effort in the Scorecard project a while ago[^1]. ko has caching support (I do not know the internal details, maybe @imjasonh can help us here🫣) and can be enabled via the `KOCACHE` environment variable[^2]. ~~This feature is not documented in its README, but I opened an issue[^3] to add this so people can notice that ko has a feature like this.~~

@imjasonh

[2022-08-29 12:04] chipzoller commented on #1384
Yes, we do, because it's the exact same contents otherwise.

[2022-08-29 12:10] chipzoller opened #4440 "[Bug] Resource schema in policies should be validated under `any`|`all`"
### Kyverno Version

1.7.2

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

As the comment [here](https://github.com/kyverno/kyverno/issues/1384#issuecomment-1229035262) shows, Kyverno appears to be validating the resource's schema when using the legacy match structure but not the new one using `any`|`all`.

### Steps to reproduce

1. Cr

[2022-08-29 12:34] realshuting commented on #1384
Ok. I saw #4440 was logged to fix the schema validation for `any` | `all`.

What's left for this issue?

[2022-08-29 12:53] chipzoller commented on #1384
This issue is still about producing some error on a resource if it cannot be mutated somehow. I don't know what all those conditions may be, but one of them, for example, may be when Kyverno returns empty patches as we recently saw. We know that's not correct and so Kyverno would log an event on the resource about that as a mutation failure. There are several others so I think we need to identify

[2022-08-29 12:59] realshuting commented on #1384
If a resource already has the mutated pattern the returned patch is empty. Why is it considered an error?

[2022-08-29 13:11] chipzoller commented on #1384
Ok, didn't think about that. I guess that was a bad example.

We can still write an error event if other mutations fail on a resource, I just don't know all the scenarios.

[2022-08-29 14:06] chetak123 commented on #4436
I would like to work on this issue please.

[2022-08-29 15:23] viveksahu26 commented on #4369
The validation error from validation webhook will look something like this:
[code]
The above error state  different error, but  error should be something like this only.

[2022-08-29 15:25] chipzoller commented on #4369
Yes, that's correct.

[2022-08-29 15:39] viveksahu26 commented on #4369
Hey @ShivamTyagi12345, are you interested in this issue, then go ahead.

[2022-08-29 15:48] ShivamTyagi12345 commented on #4369
Thank you . I will lead from here👏🤗

[2022-08-29 16:26] chipzoller commented on #4188
Yes, for the PR let's do capture this as an issue in kyverno/website so we can provide guidance.

[2022-08-29 16:34] chipzoller commented on #4357
Closed by #4368

[2022-08-29 16:34] #4357 closed

[2022-08-29 16:36] chipzoller commented on #4374
This problem will go away once we solve for #3474 .

[2022-08-29 16:37] chipzoller commented on #3474
See #4374 for yet another problem caused by not implementing this change.

[2022-08-29 16:52] chipzoller commented on #4412
Is the request here to still use the Kyverno-managed (self-signed) certificate but to extend its validity period? Since Kyverno manages its own certificates in this fashion, an expired certificate should be automatically replaced. If that's the case, I'm not sure I see the value in this change. Maybe one of you can explain.

[2022-08-29 17:45] #4415 closed

[2022-08-29 19:33] chipzoller commented on #4404
This really isn't a bug so changing to Feature.

[2022-08-29 19:44] chipzoller commented on #4365
What we need to do here is embed the same validation checks that Kyverno does as part of its internal policy validation into the CLI. It should run these checks implicitly for every policy fed to either the `test` or `apply` commands. The CLI had a `validate` option but that was deprecated and removed. I see no value is resurrecting that option specifically for this when the actual desire is to te

[2022-08-29 19:45] chipzoller commented on #4365
cc @vyankyGH and @Prateeknandle

[2022-08-29 19:56] chipzoller commented on #3654
In order for startupProbes to be implemented, we are required to fix the way Kyverno's internal health check routine works. See comment and PR [here](https://github.com/kyverno/kyverno/pull/3663#issuecomment-1223946797).

[2022-08-29 19:59] chipzoller commented on #2627
Please wait until formal mentee selection is completed by us.

[2022-08-29 20:09] chipzoller commented on #2892
I don't see we are any longer. Looks like this issue may no longer be relevant. One of you confirm.

[2022-08-29 20:25] chipzoller commented on #4379
It is perfectly possible today for a ClusterPolicy to validate a Policy. What is currently disallowed is a ClusterPolicy validating another ClusterPolicy. This [Slack thread](https://kubernetes.slack.com/archives/CLGR9BJU9/p1660660933882679?thread_ts=1660658611.794339&cid=CLGR9BJU9) showed another user a good example.

[2022-08-29 20:28] chipzoller commented on #4376
This seems pretty straightforward to accomplish as we probably only need a separate Actions workflow to snag the chart and push to the Kyverno org upon release.

[2022-08-29 21:24] PriyanshuAhlawat commented on #4440
I will like to work on this issue🙂

[2022-08-29 21:36] chipzoller commented on #4336
Please wait for mentee selection to occur, but it never hurts to begin to get familiar with the technology from a usage perspective followed by a code base perspective.

[2022-08-29 21:45] chipzoller commented on #4191
Cleaned up Markdown below (maintainers can edit the post to copy raw MD):

## Expose the endpoint on a local port

You can Kyverno by port forwarding with `kubectl`, for example:

[code]

[code]

The HTTP endpoint will now be available as a local port.

Alternatively, use a Service of type LoadBalancer to expose Kyverno. An example Service manifest is given below:

[code]

[2022-08-29 21:49] chipzoller commented on #3180
Let's just close this. It seems it was a non-issue from the start.

[2022-08-29 21:49] #3180 closed

[2022-08-29 21:53] chipzoller commented on #3933
No response, assigning @codeWithUtkarsh

[2022-08-30 06:14] rurikudo opened #4448 "[Feature] Improve yaml signing and verification feature to avoid using environment variables"
### Problem Statement

Yaml verification sets an environment variable to input public key to [k8s-manifest-sigstore library](https://github.com/sigstore/k8s-manifest-sigstore/blob/14f7cab4fd52183f139817ffd357eace2abd1974/pkg/k8smanifest/verify_resource.go#L54).
This is due to the cosign function called by k8s-manifest-sigstore. The cosign function does not take key input as an argument, so an envi

[2022-08-30 07:14] FlorianFiebig commented on #4379
Thanks for the initial feedback @chipzoller.
What is the reasoning behind disallowing ClusterPolicies validating another ClusterPolicy? Would this be something that you would be willing to change?

[2022-08-30 12:45] chipzoller commented on #4379
I do not have full context from a code perspective, but from a functional perspective the `ClusterPolicy` is a single Custom Resource while `Policy` is another. Giving users the needed permission to create/update/delete a `ClusterPolicy` means they have access to all of those Custom Resources. Creating a `ClusterPolicy` which then blocks other `ClusterPolicies` doesn't seem to make sense when the

[2022-08-30 13:26] Shivansh-yadav13 commented on #1650
Hello, I was using this policy to test the issue
[code]
and I received this error
[code]
but the logs still say `mutation rules from policy applied successfully`
[code]

[2022-08-30 13:42] chipzoller commented on #1650
The message `mutation rules from policy applied successfully` is only stating that the resource applies and the policy will act on it, not what the final result was of that action.

[2022-08-30 14:45] realshuting commented on #4191
Updated https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes#expose-the-endpoint-on-a-local-port.

Thanks @chetak123 and Chip!

[2022-08-30 14:45] #4191 closed

[2022-08-30 14:57] iamraj007 opened #4453 "[Bug] AKS Cluster worker nodes don't start after installing and kyverno and reboting cluster"
### Kyverno Version

1.7.3

### Kubernetes Version

1.21.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Other

### Description

**kyverno setup**

kyverno :  v1.7.3 Latest
kyverno Installed from Official Page
kubectl create -f https://raw.githubusercontent.com/kyverno/kyverno/main/config/install.yaml

Current AKS Cluster installed  kyverno info
  kyverno:
    Container ID:  containerd://3

[2022-08-30 15:02] #4453 closed

[2022-08-30 15:17] alfredkrohmer opened #4455 "[Bug] Panic when running with `-v=6` and `custom.metrics.k8s.io/v1beta1` publishes no resources"
### Kyverno Version

1.7.3

### Description

I tried starting kyverno with `-v=6` to debug some policy, but I get the following error on startup:

[code]

The mentioned API is actually available, but doesn't publish any resources:
[code]

The startup error goes away once I remove the `-v=6` flag.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the document

[2022-08-30 16:45] stg-0 opened #4457 "[Bug] Objects created by a generate rule are re-created after deletion."
### Kyverno Version

1.7.3

### Kubernetes Version

1.22.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Generate

### Description

Hi all!

I've created a policy with a single generate rule to create a NetworkPolicy on every new Namespace, specifying "synchronize: false" to ensure that "users can update or delete the generated resource directly" as stated in the documentation.

If

[2022-08-30 16:58] Shivansh-yadav13 commented on #1650
Can I try working on this issue?

[2022-08-30 17:33] chipzoller commented on #4457
@prateekpandey14 can you please look into this regression? I can confirm the behavior on Kyverno 1.7.3.

[2022-08-30 19:48] joebowbeer commented on #4392
@viveksahu26  Below are the failing Deployments from the helm template command above:

[code]

[2022-08-30 21:01] viveksahu26 commented on #4392
Thanks for providing :+1:

[2022-08-30 21:24] chipzoller commented on #3598
@kranurag7 are you still working on this issue?

[2022-08-30 21:38] sandeshlmore commented on #4404
@octonawish-akcodes are you working on this? if not i would like to take this up.

[2022-08-30 22:34] zswanson opened #4459 "[Feature] policy resource caching for external cluster api resources"
### Problem Statement

In some cases to properly validate a resource we need to examine other resources. Particularly for Ingress and Istio Gateways/VirtualServices we need to look at all the other Ingress/virtualservices or services in the cluster. At large scale we are finding that Kyverno struggles to handle repeatedly pulling thousands of resources using the context apiCall variables. On a clu

[2022-08-31 01:59] octonawish-akcodes commented on #4404
@sandeshlmore Yes I am working on it, If you want to join me that will great too

[2022-08-31 02:57] harshitasao commented on #4254
@Eileen-Yu Are you working on this? If not, I would like to.

[2022-08-31 03:19] Eileen-Yu commented on #4254
@harshitasao I'm currently working on this. If you have interest, I'd release a PR soon and you may help review that.

[2022-08-31 04:14] harshitasao commented on #1869
Hi @realshuting, I would like to work on this issue. Could you please provide some pointers, resources to start with.

[2022-08-31 05:09] #4326 closed

[2022-08-31 07:25] joebowbeer commented on #4254
@Eileen-Yu I think either should be allowed, but not at the same time. That's what I meant by _replace_ in the example I linked. But the following example from the docs should also be allowed:

https://kyverno.io/docs/writing-policies/validate/#validation-failure-action-overrides

[2022-08-31 07:31] realshuting commented on #4254
Hi @joebowbeer - why not allow both? It's up to the users to specify which field(s) they want to configure. If both are defined, we just apply all these two checks.

Besides, we need to maintain backward compatibility and deprecate `namespaces` if we want to _replace_ it.

[2022-08-31 07:50] joebowbeer commented on #4254
@realshuting agree that there's no reason to remove namespaces. I think parity with exclude and match is the goal. If they allow both namespaces **_and_** namespaceSelector then the same should apply here.

[2022-08-31 08:44] abs007 commented on #4301
Sorry for the delay. Spent some time going over the docs

@realshuting I'm not sure I understand you here.

I'm guessing that it should still point to docker?

I'm having a bit of trouble correlating the variables to the `addDefaultDomain()` function here. Does Kyverno set the default value for the image registry variable to `docker` through this function?

[2022-08-31 08:45] abs007 commented on #4301
And which file in the source code would I have to make the necessary changes to?

[2022-08-31 15:19] mshanmu opened #4466 "[Bug] Thousands of Empty ReportChangeRequest objects causing API Server to fall over"
### Kyverno Version

1.6.3

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Mutate

### Description

We have cluster policy to set node selector and we have trivy installed, which spins up lots of pods to do container scanning. This seems to create empty reportchangerequest object, see below for an example,
``
$k get rcr -n kyverno rcr-xyz -o yaml
apiVer

[2022-08-31 15:37] chipzoller commented on #4466
There were some significant changes to how RCRs were handled in Kyverno 1.7. Can you test with the latest version and see if the problem still exists?

[2022-08-31 16:10] zswanson commented on #1334
Tacking on a use-case here, we have hit a problem where an existing in-house mutating webhook and Kyverno are causing unexpected (and baffling) interactions that result in pods being unable to run. Kyverno runs *after* this other webhook, so its hard for us to determine what the state of the admission request is when it arrives at Kyverno to figure out the source of the problem.  Slack discussion

[2022-08-31 18:23] mshanmu commented on #4466
@chipzoller - We tested with v1.7.2 and had the same issue/it was worse. So, I don't think this issue (creating empty RCR objects) has been fixed in v1.7.

Btw, I am waiting for v1.7.4 with the fixes for 4391 & 4371. So, that I will be able to set a maximum number RCRs.

[2022-08-31 18:34] JimBugwadia commented on #4466
Hi @mshanmu - does this only happen when Trivy is installed? Or, can you also reproduce with your policy and without Trivy?

[2022-08-31 18:40] mshanmu commented on #4466
@JimBugwadia , Trivy is just one use case. We had another use case where the user was creating multiple jobs concurrently continuously and we had seen the same issue.

Steps to reproduce,

1. Create a mutate cluster policy to assign node selector
2. Create 10 pods
3. Notice 10 empty RCR objects i.e., summary is all zeros.

[2022-08-31 18:42] mshanmu commented on #4466
Looking at the code, https://github.com/kyverno/kyverno/blob/main/pkg/policyreport/builder.go#L131 , it is not checking for zero results.

[2022-08-31 18:47] mshanmu commented on #4466
func (builder *requestBuilder) build(info Info) (req *unstructured.Unstructured, err error) {
       results := []policyreportv1alpha2.PolicyReportResult{}
	req = new(unstructured.Unstructured)
	for _, infoResult := range info.Results {
		for _, rule := range infoResult.Rules {
			if rule.Type != string(response.Validation) && rule.Type != string(response.ImageVerify) {
				continue
			}

			resul

[2022-08-31 19:36] developer-guy commented on #4376
Exactly! I can work on this if nobody is interested in it @chipzoller 🙃

[2022-08-31 21:52] chipzoller opened #4473 "[Bug] Kyverno crashes on invalid policy and can't recover"
### Kyverno Version

1.7.3

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Creating a policy which has, I guess, an invalid JMESPath expression causes Kyverno to panic then crash from which it cannot recover until the policy is manually removed from the cluster.

### Steps to reproduce

1. Create this policy
[code]
2. See in the logs

[2022-08-31 23:47] chipzoller commented on #1127
Moved to 1.9.0

[2022-08-31 23:58] chipzoller commented on #2925
Is this issue complete closed out at this point? If not, what remains. Want to THANK YOU again, @imjasonh, for helping us with this! It's a terrific change!

[2022-09-01 00:10] chipzoller commented on #3374
If you look at the MutatingWebhookConfiguration resource called `kyverno-verify-mutating-webhook-cfg` it only has a single rule (1.7.3) which looks like the following:

[code]

So this is only sending `Lease` resources and only sending `UPDATE` ops to them. It's fairly narrowly scoped therefore. Is this really an issue?

[2022-09-01 00:21] chipzoller commented on #3058
It seems like this is now a duplicate of #4254. Is this correct, @ojhaarjun1 and @realshuting ? If so, let's close this as the latter has a linked PR.

[2022-09-01 00:40] chipzoller commented on #4412
@Dentrax ☝️

[2022-09-01 00:50] chipzoller commented on #4116
I don't think this is an issue any longer as the `--replace` flag to Cosign is properly replacing attestations of the same predicate type as of 1.10.0. Closing for now.

[2022-09-01 00:50] #4116 closed

[2022-09-01 00:51] chipzoller commented on #4102
Sorry for the delay. Yes, using an admission controller to change an image isn't really something in its power. I'm going to close this as out of scope, but feel free to respond if you think there's something actionable here.

[2022-09-01 00:51] #4102 closed

[2022-09-01 00:55] chipzoller commented on #3842
Is this still an issue now that the kubeconfig flag support has been reintroduced?

[2022-09-01 00:56] chipzoller commented on #3595
This has been implemented and will release in Kyverno 1.8.0.

[2022-09-01 00:56] #3595 closed

[2022-09-01 01:02] chipzoller commented on #3304
This issue has meandered quite a bit over time and I'm wondering if it should remain open.

[2022-09-01 01:03] viveksahu26 commented on #4392
/assign

[2022-09-01 01:12] chipzoller commented on #2917
Is this still a doable enhancement? I recall from previous discussions in the now-closed PR that this opens up a can of worms we may not be able to dive into.

[2022-09-01 01:25] chipzoller commented on #2348
@prateekpandey14 can you please respond here?

[2022-09-01 01:26] #2326 closed, assigned to nobody

[2022-09-01 01:29] chipzoller commented on #2324
This should be addressed by https://github.com/kyverno/kyverno/pull/4426

[2022-09-01 01:30] chipzoller commented on #2324
cc @Prateeknandle

[2022-09-01 01:31] chipzoller commented on #2315
Should be addressed in https://github.com/kyverno/kyverno/pull/4426
cc @Prateeknandle

[2022-09-01 01:32] chipzoller commented on #2302
Should be addressed in https://github.com/kyverno/kyverno/pull/4426
cc @Prateeknandle

[2022-09-01 01:35] chipzoller commented on #2153
@eddycharly this will NOT be addressed in the new autogen behavior, correct?

[2022-09-01 01:35] JimBugwadia commented on #2917
From a security perspective, its not great to allow an admission controller operate without a network policy. Seems like the Helm chart has some options for a network policy, but the YAMLs do not? Would be good to secure both.

[2022-09-01 01:37] chipzoller commented on #1959
@eddycharly

[2022-09-01 01:41] chipzoller commented on #2917
Helm chart has more flexibility for parameterized deployment, plus that's the "official" production deployment path. The raw YAML is much more problematic. I guess we could come up with some sane NetworkPolicy but disable it by default.

[2022-09-01 01:42] chipzoller commented on #1832
With the recent memory optimizations (and the linked issues being closed), is this still an outstanding issue @realshuting ?

[2022-09-01 01:43] chipzoller commented on #1576
Is this still open with recent container flags added in 1.8.0?

[2022-09-01 02:42] viveksahu26 commented on #4473
The issue  occurs because the defined variable in the message section of the policy hasn't  substituted by a value. Therefore it is considered to be nil and throws an error as we discussed [here](https://github.com/kyverno/kyverno/issues/3982#issuecomment-1156235606) and [here](https://github.com/kyverno/kyverno/issues/3982#issuecomment-1183294580).
Normally in a policy when we define any variable

[2022-09-01 02:49] chipzoller commented on #4473
Thanks for the research and I guessed it would be something like this. What's not clear is why, upon policy creation, there is any substitution taking place. Is it due to background mode on matching resources that already exist?

[2022-09-01 04:33] camaeel commented on #3374
In case kyverno is malfunctioning it will block all the leases updates. What will happen if some core components like kube-controller-manager or cloud-controller-manager are not able to aquire lease?

[2022-09-01 06:15] realshuting commented on #4149
Closing via #4235.

[2022-09-01 06:15] #4149 closed

[2022-09-01 06:15] realshuting commented on #3830
Closing via #4364.

[2022-09-01 06:15] #3830 closed

[2022-09-01 06:21] FlorianFiebig commented on #4379
I think we have a different use case: We want to prevent all users to create or respectively help preventing not to `ClusterPolicies` or `Policies` with `spec.failurePolicy = "Fail"`(or any other policy spec that can have an influence on cluster stability). Can you think of any other way to do this with kyverno and its current feature set?

[2022-09-01 07:33] #4455 closed

[2022-09-01 07:44] realshuting commented on #689
Track via #4295.

[2022-09-01 07:48] realshuting commented on #1576
1 and 4 were fixed, 2 can be tracked via https://github.com/kyverno/kyverno/issues/4225.

It seems like 3 remains as is because `resourceCache` was removed to fix the memory issue.

Closing.

[2022-09-01 07:48] #1576 closed

[2022-09-01 07:59] realshuting commented on #3374
Makes sense! Maybe best to narrow it down to the namespace where Kyverno is installed.

[2022-09-01 08:14] realshuting commented on #2912
We can close this.

[2022-09-01 08:14] #2912 closed

[2022-09-01 08:26] realshuting commented on #3842
Need to verify the end-to-end dev process and document it in DEVELOPMENT.md.

[2022-09-01 08:27] realshuting commented on #2925
Closing as completed.

[2022-09-01 08:27] #2925 closed

[2022-09-01 08:38] realshuting commented on #3058
#4254 is to add support for `namespaceSelector` under `validationFailureActionOverrides`, while this issue is more of an implementation optimization that skips policy application on a non-matching scenario.

[2022-09-01 08:40] realshuting commented on #3058
Adding the "good first issue" label to bump the visibility, although it might be a bit complex for beginners.

[2022-09-01 08:48] LucasVanHaaren commented on #4197
Hello, I also find it's a good feature to add the ability to wipe all resources created by a generation policy at the deletion of itself.

I have created a _ClusterPolicy_ that generates a _NetworkPolicy_ for each _Namespace_.
So I have to manually clean up all _NetworkPolicies_ resources for recover old state.

[2022-09-01 08:57] realshuting commented on #2791
An option to solve this is to deploy another mutate policy specifying JSON patches to remove mutated fields.

[2022-09-01 08:59] realshuting commented on #2791
I'm closing this as out of the mutate ability via webhook.

[2022-09-01 08:59] #2791 closed

[2022-09-01 09:06] ira-gordin-sap commented on #4181
Hi, thanks for this feature.
1. In which version it planned to be released?
2. What about to implement the same for Error level?
3. How I can disable all the log messages including written with log.Info() and log.Error()?

[2022-09-01 09:12] realshuting commented on #4181
@ira-gordin-sap - the change will be released in 1.8.0. And you can set the log level to 0 if you want to disable `log.Info()` messages.

I'm not sure it's a good idea to disable `log.Error()` completely, we still need it to detect errors.

[2022-09-01 09:16] realshuting commented on #4466
Do you see any labels on those empty RCRs? They are created upon resource deletion and are used to delete results from policy reports.

[2022-09-01 09:31] ira-gordin-sap commented on #4181
@realshuting how can I set the log level to 0?
I use '-v=0' in args and it disables only the messages written with ```log.V(*).Info``` but I still have the messages written with ```log.Info``` and ```log.Error```.

[2022-09-01 09:39] #3878 closed

[2022-09-01 10:26] prateekpandey14 commented on #4197
@LucasVanHaaren, We are working on the proposal to support this delete feature, meanwhile to workaround the **Namespaced** scope resource like `NetworkPolicy` ownerReferences can be used to clean them up.

For example:

[code]

[2022-09-01 12:23] viveksahu26 opened #4481 "[Feature] In absence of Equality Anchor key in resource will Skip resource instead of Pass"
### Problem Statement

The Kyverno policies containing [Equality Anchor](https://kyverno.io/docs/writing-policies/validate/#anchors) `pass` the resource if anchor Key is not present in the resource.
Few places such as:
https://github.com/kyverno/policies/blob/41a0121f71e24c3d6c0030e5d48ed290430e297f/nginx-ingress/nginx-custom-snippets/kyverno-test.yaml#L26
https://github.com/kyverno/policies/blob/

[2022-09-01 12:24] viveksahu26 commented on #4481
Also related to https://github.com/kyverno/kyverno/issues/4392

[2022-09-01 12:24] viveksahu26 commented on #4481
/assign

[2022-09-01 13:21] realshuting commented on #1869
@harshitasao - did you check the issue description https://github.com/kyverno/kyverno/issues/1869#issue-874984686?
 Is anything unclear to you?

[2022-09-01 13:36] chipzoller commented on #3374
Ok, agree. This should be an easy change to make and agree on the usefulness of it.

[2022-09-01 14:06] realshuting commented on #1959
Which GH action? Do we need it for forks?

[2022-09-01 14:24] ira-gordin-sap commented on #4181
@realshuting I don't have this version.
Even I'll have, there are messages written with ```log.Info()```.
In addition, there are messages written with ```log.Error()```.
How I can disable all the log messages including written with ```log.Info()``` and ```log.Error()``` to have empty log?

[2022-09-01 14:45] realshuting commented on #3690
Not sure if we still need this as PSS policies and other validate policies are covered via CLI tests.

Closing the issue. Feel free to log separate issues for specific support.

[2022-09-01 14:45] #3690 closed

[2022-09-01 14:46] mshanmu commented on #4466
@realshuting  - yes, I see labels and annotations on them.

[code]

[2022-09-01 14:49] realshuting commented on #4466
Label `kyverno.io/delete.resource.*` indicates that the resource is deleted and the corresponding results in the policy reports should be removed. Once reports get cleaned up the RCR will be deleted.

Are you not seeing this behavior and these empty RCRs got piled up on the cluster?

[2022-09-01 15:09] ira-gordin-sap commented on #4181
@realshuting I am using "Version"="v1.5.2".
How I can disable all the log messages including written with log.Info() and log.Error() to have empty log?
I've configured -v=0 but I still see some messages.

[2022-09-01 15:15] realshuting commented on #4181
The issue is added to the 1.8.0 milestone, it is only available with 1.8.0 and above versions.

1.8.0 is **not** released yet, you can pull the latest image using tag `latest` to test it if you want.

[2022-09-01 15:34] ira-gordin-sap commented on #4181
@realshuting I understand it.
But even when 1.8.0 will be released, it will still have some messages in the log, because not all the messages changed from ```log.Info()``` to ```log.V(*).Info()```. In addition, there are messages written with ```log.Error()``` and not with ```log.V(*).Error()```.

1. How I can disable all the log messages including written with log.Info() and log.Error() to have e

[2022-09-01 17:53] mshanmu commented on #4466
@realshuting , Is there any workaround to suppress the RCR object creation, this keeps causing control plane issues? I don't have a need for policy reports etc.,

[2022-09-01 19:15] #4376 closed

[2022-09-01 20:32] viveksahu26 commented on #4481
Hey @chipzoller
Few questions I have:
As in the given policy, to validate the resource all fields `ephemeralContainers`,  `initContainers`, `containers` are required(compulsory)  in the resource  to pass the resource or if either(`ephemeralContainers` or  `initContainers` or  `containers`) of them is present it will be pass.
[code]
resource.yaml
[code]

[2022-09-02 02:46] chipzoller commented on #689
Do we want to keep this open if we're tracking via another issue?

[2022-09-02 05:33] #4404 closed

[2022-09-02 09:00] realshuting commented on #689
Let's track in #4295.

[2022-09-02 09:00] #689 closed

[2022-09-02 09:04] realshuting commented on #3465
Closing the issue. Feel free to comment if there's anything new to be supported.

[2022-09-02 09:04] #3465 closed

[2022-09-02 09:07] realshuting commented on #3610
There are a few fixes in 1.7.3 that address the webhook updates issue.

I'm closing the issue. Feel free to reopen it if the issue occurs.

[2022-09-02 09:07] #3610 closed

[2022-09-02 11:28] palmobar opened #4496 "[Bug] policy validation errors" "error"="unable to retrieve the complete list of server APIs: custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1"
### Kyverno Version

1.7.3

### Description

When I attempt to apply a policy I get the error:

[code]

furthermore:

[code]

So it's empty.
I know that this must be related to https://github.com/kyverno/kyverno/pull/4139

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshootin

[2022-09-02 15:06] chipzoller commented on #4496
@palmobar because you have not used the issue template (webhook), can you please attach logs to your initial post?

[2022-09-02 15:23] chipzoller commented on #4288
This is very interesting. @realshuting @vyankyGH who understands why this behavioral discrepancy?

[2022-09-02 15:35] viveksahu26 commented on #4327
Hey @chipzoller , First of all hardly I've seen `fail` status in mutation because either resource is mutated(status: Pass)  or not mutated(status: Skip).  `fail` occurs when the patched resource desired and actual doesn't match. Similarly, if we talk about target resource, first kyverno selects the target resource on the basis of kind, name, namespace, etc  and after selecting it goes for mutation

[2022-09-02 15:35] chipzoller commented on #4481
This policy only requires that `containers` is present. This is safe because a Pod MUST have `containers`. The `ephemeralContainers` and `initContainers` are both optional.

[2022-09-02 15:41] #4437 closed

[2022-09-02 15:49] palmobar commented on #4496
I added it in the bottom. Let me know if you need more.

[2022-09-02 16:01] viveksahu26 commented on #4481
Does it work like Any or All block ?

[2022-09-02 16:10] chipzoller commented on #4481
I guess it's like a combination of any plus IFTT conditions.

[2022-09-02 16:18] viveksahu26 commented on #4481
IFTT means ??
And Doesn't  it works like All block.

[2022-09-02 16:21] viveksahu26 commented on #3822
Any update on this ??

[2022-09-02 17:27] viveksahu26 commented on #4473
Yes,  substitution will only take place if resource is selected or matched by the policy. Once resource is matched it will look for `image.digest` value in that  resource. If value is found then fine, otherwise it throws  error regarding "JmesPath couldn't found value for `image.digest`   and substituting it to nil. And if the is nil error is returned.

If resource already exist + those existing r

[2022-09-02 19:03] chipzoller commented on #4481
If This Then That

[2022-09-02 21:53] viveksahu26 commented on #4481
Hey @chipzoller ,I checked it and it doesn't work like `Any` block at all. Moreover, it seems to work like `All` block. We all know that in `Any` block if any statement within a block is true then overall becomes true, whereas in `All` block all statement have to be true for overall true.
To proof that, try to false either 1 or 2. To do so change the name from `safe-*` to `restrict-*` in either 1

[2022-09-03 01:58] vyankyGH commented on #3822
@viveksahu26 those error are expected as you testing on your local minikube or kind cluster

[2022-09-03 02:03] viveksahu26 commented on #3822
Hey @vyankyGH , Means these errors are fine with minikube or kind. And do we have to resolve these  error or leave it as it is.

[2022-09-03 02:49] chipzoller commented on #4481
I think you're trying to think about these rule types like any/all except they really aren't. As I said, the best way to think about this is a variant of "if this then that" and also "these are the required fields". Let's go back to the example at the top (there is an error in what you wrote, corrected below).

[code]

You can read out this policy, in common prose, like this:

1. In a given Pod, `

[2022-09-03 14:14] chipzoller commented on #4481
The only thing I see in the 3 examples you posted atop your message is that 2 of them arguably shouldn't be pass. The "disallow-ingress-nginx-custom-snippets" and "disallow-self-provisioner-binding" cases you highlighted look like they should be `skip` because the object under the pattern definition is not found in the resource being tested. It brings up an interesting issue in Kyverno, though, in

[2022-09-03 14:55] zswanson commented on #2327
Piggybacking on this, another example of the CLI not being clear on errors.
If:
- you are testing policy that require namespaceSelectors or context variables that have to be defined in a `variables` section of the kyverno-test.yaml,
- you fail to provide the variables section in kyverno-test.yaml, or you don't define the variable/selector in the file
You will end up with an 'error' state in the ky

[2022-09-03 15:52] chipzoller commented on #4118
Trying to bring this issue to a close, it looks like the best thing we can do as @sabre1041 suggested [here](https://github.com/kyverno/kyverno/issues/4118#issuecomment-1179648175), is to add a special instruction into the Kyverno Helm chart installation docs [here](https://main.kyverno.io/docs/installation/#install-kyverno-using-helm) that the `securityContext` value should be set to `null`. Will

[2022-09-03 15:55] chipzoller commented on #2408
The solution to this, also suggested in [this comment](https://github.com/kyverno/kyverno/issues/2408#issuecomment-1125926525), is to use a JSON patch in a Kustomize overlay to modify Kyverno policies which is fully supported. Closing.

[2022-09-03 15:55] #2408 closed

[2022-09-03 16:03] chipzoller commented on #1409
As of Kyverno 1.7.2, there is a new `splitPolicyReport` container flag (PR [here](https://github.com/kyverno/kyverno/pull/4147)) which, when set, will split a policy report per policy.

Closed by PR #4147

[2022-09-03 16:03] #1409 closed

[2022-09-03 16:40] joebowbeer commented on #4481
Is this related to #4392 ? If so, which case explains the false positives in that issue?

[2022-09-03 21:51] viveksahu26 commented on #4481
Hey @chipzoller , In the case when "env" is present and "valueFrom" is  not present  then also it `pass` the resource. This doesn't makes sense to `pass` it. It should `skip` it instead of passing it.

And one thing I want to remind that the main **difference** between conditional anchor " **( )** " and Equality Anchor "**=( )**" is the way  of handling their **child elements**. [here](https://kyv

[2022-09-04 09:03] ira-gordin-sap commented on #4181
@realshuting when v1.8.0 is planned to be released?

[2022-09-04 13:01] chipzoller commented on #4181
First release candidate is due next week.

[2022-09-04 13:15] chipzoller commented on #4481
Ok, I get your point. Yes, it seems that the IF statement tree must be completely walked in order for a decision to be made. Seems like we need to change the results here if there is an abortion within that tree. The thing we must be careful not to break is when there are separate trees of logic like in the sample you showed [here](https://github.com/kyverno/kyverno/issues/4481#issuecomment-123474

[2022-09-04 13:23] chipzoller commented on #4481
@joebowbeer regarding your [comment](https://github.com/kyverno/kyverno/issues/4481#issuecomment-1236161425), as @viveksahu26 points out, it seems these two are related and Vivek made a good point [above](https://github.com/kyverno/kyverno/issues/4481#issuecomment-1236203443). If the entire logic tree isn't walked to determine the end result, it should be a `skip` but it isn't. I'll also note that

[2022-09-04 13:23] chipzoller commented on #4392
Related to #4481

[2022-09-04 15:25] chipzoller commented on #3262
Yes, this is what's needed.

[2022-09-04 16:58] joebowbeerxealth commented on #4481
@chipzoller thanks for confirmation. Common or not, it is easy for helm charts (e.g., KEDA) to produce these empty structs when no conditions match in the body. As more projects add PSS compliance, I expect more of these cases will appear on your radar.

[2022-09-04 17:03] joebowbeer commented on #4481
@chipzoller thanks for confirmation. Common or not, it is easy for helm charts (e.g., KEDA) to produce these empty structs when no conditions match in the body. As more projects add PSS compliance, I expect more of these cases will appear on your radar.

[2022-09-05 04:01] JimBugwadia commented on #3598
@kranurag7 - this feature was requested by several users, so we would like to target for v1.8.

Can you please clarify the status and what needs to be done to complete?

[2022-09-05 05:10] praddy26 commented on #4421
From the analysis what I found is that, the Policy resources are scoped to the respective namespace where they are created.
This works fine for PolicyType of _Validate_, _Generate_ and _VerifyImages_, however for _Mutate_ type which has _mutate.targets_ field of type _kyvernov1.ResourceSpec_ , there is a field for _Namespace_. If this field is populated with any other namespace, other than the one

[2022-09-05 06:38] Dentrax commented on #4161
Any update on this? It seems mentioned PR closed. @MdSahil-oss

[2022-09-05 08:20] MdSahil-oss commented on #4161
@Dentrax I closed the PR because the changes I made through the PR wasn't expected changes as @realshuting suggested, Would you like to explain this issue a little bit more so that It could be clear what's the expectation for the issue because this issue is also unclear to @realshuting. As you mentioned in the issue for changing the the level of logs related to the `leaderElection` but all the lea

[2022-09-05 12:03] hirokuni-kitahara commented on #4448
I am working on the updates for cosign & k8s-manifest-sigstore regarding this issue.
An issue on the cosign side is https://github.com/sigstore/cosign/issues/2222 .
@rurikudo and I already confirmed that Kyvero with these updates could work as expected without any environment variables.

[2022-09-05 13:08] chipzoller commented on #4421
That assessment looks correct to me on both accounts.

[2022-09-05 16:11] prateekpandey14 commented on #2348
Here this policy requires variable substitution for the target resource name, which might not work, but i will try it once to verify the behaviour. @h4wkmoon do you see any failure when you tried this policy?

[code]

[2022-09-06 02:17] james-callahan commented on #4272
This seems to be an issue.
e.g. I have the following report in my `polr-ns-loki-restrict-apparmor-profiles`
[code]

[code]

[2022-09-06 04:07] joebowbeer opened #4513 "[Feature] kyverno apply -c should not need -f values.yaml"
### Problem Statement

Running `kyverno apply` against a cluster (`-c`), if my policies have exclusions using a namespaceSelector, then I must also provide a `-f values.yaml` that replicates the namespace labels in the target cluster.

If I do not add the values.yaml, then apply complains:

However, if I do add values.yaml, then I'm not really testing the cluster...

### Solution Description

@chi

[2022-09-06 06:06] JimBugwadia commented on #2627
Related discussions at; https://github.com/kyverno/kyverno/discussions/4310

[2022-09-06 13:17] tomsucho opened #4517 "[Bug] Kyverno pods call deprecated APIs which are removed in 1.22"
### Kyverno Version

1.7.2

### Description

It appears Kyverno calls these APIs regurarly on my EKS cluster:
[code]
they are all removed in k8s 1.22 which may create problems?

### Slack discussion

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository a

[2022-09-06 15:52] realshuting commented on #4258
I just went through the code again and realized that this was by design https://github.com/kyverno/kyverno/pull/2425, the webhook `timeoutSeconds` will always be updated to the longest config:

The container flag:

The policy configuration:

I guess the issue here is the inconsistent behavior between scaling and the rolling update.

[2022-09-07 00:19] dkulchinsky commented on #2229
Hey @realshuting 👋🏼

I've noticed this feature is being pushed from release to release, just wondering if there's any plan/commitment to see this get implemented? and if so, any version you had in mind?

[2022-09-07 07:26] Lerentis opened #4520 "[Bug] not able to change log level"
### Kyverno Version

1.7.2

### Description

Hello there,

i am trying to change the log level for debugging a race condition in webhooks but whenever i try to follow [the documentation](https://kyverno.io/docs/troubleshooting/#policies-are-partially-applied), kyverno crashes with a error message that seems unrelated to the change:

[code]

when i remove the `-v=6` flag again, kyverno starts witho

[2022-09-07 08:05] DaspawnW opened #4521 "[Bug]"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

verifyImages

### Description

Kubernetes 1.22.9 self deployed on AWS (fulfilling Sonobuoy attestation)

We implemented verifyImages in one of our clusters and enabled it together with linkerd.
As soon as linkerd is enabled for the specific namespace kyverno f

[2022-09-07 08:09] Lerentis commented on #4520
duplicate of https://github.com/kyverno/kyverno/issues/4455

[2022-09-07 08:09] #4520 closed

[2022-09-07 08:14] realshuting commented on #4517
The Kyverno OpenAPI controller embeds a static set of resource schemas in https://github.com/kyverno/kyverno/tree/main/data and refreshes them if running in-cluster.

These schemas need to be refreshed for Kyverno releases that support newer versions of Kubernetes.

[2022-09-07 09:26] prateekpandey14 commented on #4457
@stg-0 thanks for issue, will look into this and share the findings here.

[2022-09-07 09:50] LucasVanHaaren commented on #3837
Hello @chipzoller,

I totally agreed with you especially about the generate policy type.
I don't want to generate resource when policy is in audit mode, but I want to get a report describing that the resource excepted is not created yet.

I will be happy to see this feature in a future version of kyverno :+1:

[2022-09-07 09:57] njegosrailic commented on #4301
Hi @abs007,

Thanks for working on this change. Do you have any ETA?

[2022-09-07 11:00] sandeshlmore commented on #2317
Hi @chipzoller, i have raised PR for this issue. please review it and let me know if any change is needed.

[2022-09-07 12:32] pealtrufo opened #4526 "[Bug] VerifyImage policy in enforce mode generate a failed policy report"
### Kyverno Version

1.7.3

### Description

Hi,

I have created a verifyImage policy for my EKS cluster, which I have set to enforce so that images that are not signed with the right key are not accepted.
When I try to create a deployment using an image that is not signed, kyverno blocks it as expected:

[code]

What I am not sure it is expected though, is that after this I can see a policyReport

[2022-09-07 16:22] #3598 closed

[2022-09-07 17:08] prateekpandey14 commented on #2229
@dkulchinsky we are planning this in coming release, we had discussed about this feature with team internally, have to come with the proposal.

[2022-09-07 21:45] cgoxo commented on #4459
Hello there. Can I work on this issue?? I am interested.

[2022-09-07 21:52] JimBugwadia commented on #4459
Hi @cgoxo - thanks for the interest in contributing! To get started, can you please propose a design as a KDP https://github.com/kyverno/KDP?

[2022-09-07 22:01] cgoxo commented on #4459
Hello @JimBugwadia! Actually, I am new to this and don't know a lot about it.

[2022-09-07 22:07] JimBugwadia commented on #4459
Hi @cgoxo - no problem. In that case, may be best to start with one of these instead?

https://github.com/kyverno/kyverno/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-09-07 22:17] cgoxo commented on #4459
Sure thing!

[2022-09-07 22:17] cgoxo commented on #4258
Can I work on this issue??

[2022-09-07 22:33] JimBugwadia opened #4530 "Improve KMS and secret support"
### Problem Statement

The ImageVerify rule currently handles KMS integrations in the `publicKeys` field. See: https://github.com/sigstore/cosign/blob/main/KMS.md#kubernetes-secret.

This is not very obvious and not documented.

### Solution Description

Add a separate attestor type for KMS and secrets, and document support.

Here is an example for `KMS`:

[code]

Here is an example for secrets:

[2022-09-07 22:36] cgoxo commented on #4258
Thank you @chipzoller!

[2022-09-07 22:36] chipzoller commented on #4530
Captured https://github.com/kyverno/website/issues/613

[2022-09-08 03:47] abs007 commented on #4301
I can't really say anything. I'm still waiting for a review from the maintainers

[2022-09-08 04:47] #282 closed

[2022-09-08 05:18] object88 commented on #4496
I'm running into the same, if not a very similar, issue.  I have `kyverno` 1.7.3 deployed into two clusters.

One is k8s 1.21 and has a Datadog cluster agent.  I cannot deploy a (slightly tailored) copy of the `Restart Deployment on Secret Change` [policy](https://github.com/kyverno/policies/blob/main/other/restart_deployment_on_secret_change/restart_deployment_on_secret_change.yaml).

The other i

[2022-09-08 05:42] theVJagrawal commented on #4530
hey @JimBugwadia, can you please elaborate it more, i want to work on this

[2022-09-08 10:36] etcshad0vv opened #4536 "[Bug] Kyverno considers only the first ImagePullSecret provided in arguments"
### Kyverno Version

1.7.2

### Description

Hello,

As we have discussed in [slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1662559908658229), kyverno is not considering all the comma separated ImagePullSecrets provided in arguments in image verification using `cosign`, only the first one is considered, if this is not the pullSecret to authorize action to retrieve image signature it will

[2022-09-08 10:43] etcshad0vv opened #4537 "[Bug] Policies reporting in image verification are always failing"
### Kyverno Version

1.7.2

### Description

Hello,
As we discussed in [slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1662559908658229) the following audit policy on image verification is persistently failing besides the result of policy is `pass`

[code]

The log entries i could capture from webhook service are:
[code]

And events on `cpol`
[code]

Please let me know if any additional i

[2022-09-08 11:19] #3525 closed

[2022-09-08 12:06] chipzoller commented on #4481
@viveksahu26 as discussed yesterday, let's please put together a collection of resources in various permutations and state what the expected results should be. We can use that as a guide for code modifications.

[2022-09-08 12:31] chipzoller commented on #3251
v2 schema will drop support for `In` and `NotIn` which should close this issue.

[2022-09-08 12:40] divaspathak commented on #4530
Hello @JimBugwadia, I want to work on this issue. Can you please explain more about it?

[2022-09-08 12:51] vyankyGH opened #4542 "[Feature] Migrate the preferred version to v2beta1"
### Problem Statement

Migrate the preferred version to v2beta1 with removal of v1 version.

### Solution Description

References:
https://github.com/kubernetes-sigs/kube-storage-version-migrator
https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2343-automated-storage-version-migration-with-storage-version-hash
[https://github.com/kubernetes/enhancements/tree/master/kep

[2022-09-08 13:35] kranurag7 commented on #4530
Hey @theVJagrawal and @divaspathak This issue is already there in the kyverno/website repo. Please follow the issue [here](https://github.com/kyverno/website/issues/613)

[2022-09-08 13:42] eddycharly commented on #4209
Something I have in mind for some time now, shall we try to use `redis` to store the policy cache ?

[2022-09-08 13:59] JimBugwadia commented on #4530
HI @kranurag7 - the docs issue is tracking documenting the current behavior.  This issue is to improve the current behavior, and have a separate attestors for KMS and secrets.

[2022-09-08 14:36] chipzoller commented on #3542
@prateekpandey14 adding you to assignment per roadmap discussion today

[2022-09-08 14:36] chipzoller commented on #4295
@realshuting is this 1.8.0 or 1.9.0 (discussed today)?

[2022-09-08 14:40] viveksahu26 commented on #4481
Currently, `pattern`  continue to process list of elements under Pattern block until and unless `fail` or `skip` or `error` comes into.  Currently, `skip` doesn't support for equality anchor, whereas supports for conditional anchor, in detail see [here](https://github.com/kyverno/kyverno/issues/4481#issuecomment-1236203443). Since we are enhancing  from `pass`(only those who were not able to valid

[2022-09-08 15:17] sysedwinistrator commented on #4466
I have the same issue on a GKE cluster where folks are testing some operators that create and delete resources, specifically pods, at a very high rate. Updating to v1.7.3 (from v1.7.1) didn't help. RCRs immediately started to accumulate in the kyverno namespace after I removed the webhook exclusion from the respective namespaces, steadily rising way over the default limit of 1000.
We have both mut

[2022-09-08 16:09] prateekpandey14 opened #4546 "[Feature] Enhance Generate multiple clone to select specific resources from the given kinds list"
### Problem Statement

With the current implementation generate `cloneList` clones all the namespace scope resources from the given namespace to newly created namespace. but there could be cases that user does want to clone only some specific resources instead of cloning all of the matching GVK from the kinds list.

### Solution Description

This feature can be enhanced using a label Selector whic

[2022-09-08 16:21] chipzoller commented on #4546
Individual resource name should be supported in addition to labels. This is a very basic capability.

[2022-09-08 16:31] chipzoller opened #4547 "[Feature] PSa integration, validate control names"
### Problem Statement

If a user enters a controlName value which isn't correct, the policy is allowed even though it'll have no effect. This isn't good from a UX perspective.

### Solution Description

Validate the policy in the policy webhook to reject any policy that uses a control name which isn't correct.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discu

[2022-09-08 19:24] JimBugwadia opened #4553 "Add OpenSSF scorecard badge"
### Problem Statement

Kyverno shows the OpenSSF scorecard passing badge but not the score.

### Solution Description

Add OpenSSF scorecard score badge:

https://openssf.org/blog/2022/09/08/show-off-your-security-score-announcing-scorecards-badges/

https://github.com/ossf/scorecard-action#scorecards-github-action

### Alternatives

_No response_

### Additional Context

_No response_

### Slack

[2022-09-08 19:24] JimBugwadia commented on #4553
Here is the current score: https://img.shields.io/ossf-scorecard/github.com/kyverno/kyverno?label=openssf%20scorecard

[2022-09-09 01:31] JimBugwadia commented on #4371
Also see: https://github.com/kyverno/kyverno/issues/4466

[2022-09-09 01:52] JimBugwadia commented on #4530
@theVJagrawal and @divaspathak - I've added more details to the description.

[2022-09-09 07:24] ToLToL opened #4557 "[Feature] PSa integration, wildcard for container images"
### Problem Statement

We have to list explicitly all container names if you want to exclude them all.

for example:
[code]

### Solution Description

`podSecurity` rule should take a wildcard for container images.

for example:
[code]

[2022-09-09 07:31] abhiyant-10 commented on #4553
/assign.
I would love to work on this

[2022-09-09 07:34] eddycharly commented on #4553
@abhiyant-10 I can assign it to you, thanks.

[2022-09-09 09:22] Hargeek opened #4565 "[Bug] mutate.foreach and mutate.patchesJson6902 cannot be used together"
### Kyverno Version

1.7.3

### Description

I tried to add a volume and volumemount to the POD through mutate, but I haven't succeeded. I suspect that mutate.foreach and mutate.patchesJson6902 cannot be used together，e.g.

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troub

[2022-09-09 17:20] MdSahil-oss commented on #4557
@realshuting  I would like to work on this issue.

[2022-09-09 23:10] chipzoller commented on #1959
So do we want this or not?

[2022-09-09 23:17] chipzoller commented on #2758
@treydock and @eddycharly what do you guys think about this?

[2022-09-09 23:18] chipzoller commented on #2394
@eddycharly you've been doing a bunch with this. Is this something we should/can do if it has value?

[2022-09-09 23:23] chipzoller commented on #3094
@samj1912 this would be awesome to have in 1.9.0!

[2022-09-09 23:26] chipzoller commented on #3966
@realshuting we've talked about this a couple times. Should we prioritize this for 1.9.0? It seems like it'll solve problems we keep running into.

[2022-09-09 23:27] chipzoller commented on #3519
So is this a false positive or do we have work to do here?

[2022-09-09 23:55] chipzoller opened #4575 "[Bug] Fixes to generate existing in 1.7.0"
### Kyverno Version

1.7.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Generate

### Description

Introduced in 1.7.0 were a couple of changes that were both inconsistent with the "mutate existing" capabilities as well as backwards-compatibility-breaking changes as detailed below:

* The field `spec.mutateExistingOnPolicyUpdate` in "generate existing" capa

[2022-09-10 00:11] chipzoller commented on #2348
In looking at the original request, variable substitution works just fine when tested against Kyverno 1.7.3. Although the use case I don't fully understand, from a technical perspective this has seemed to resolve itself. Here's what I tested:

[code]

Outcome:

[code]

Closing.

[2022-09-10 00:11] #2348 closed

[2022-09-10 00:36] chipzoller commented on #1955
To be clear, Kyverno absolutely can mutate CustomResources. However, the rub when it comes to strategic merge patches (which internally use Kustomize), is that they must be written in such a way as to "work" with this patch style. Not all CRDs do this as it requires a specific "merge key" in the schema which the `Rollouts` CRD happens to lack. When this is missing, the behavior that's being exhibi

[2022-09-10 00:36] #1955 closed

[2022-09-10 05:52] samj1912 commented on #3094
@chipzoller I believe with the inline variables feature in 1.7.0, this is already possible.

[2022-09-10 05:55] samj1912 commented on #3094
[code]

[2022-09-10 07:44] theshashankpal commented on #1959
Hi @RinkiyaKeDad ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 09:25] galsolo commented on #4521
Hey,
closing my former issue #4435 in favor of this one, same root cause and symptoms.
I've managed to reproduce this issue on 2 different clusters with fresh installations of kyverno and linkerd2.

I've done some digging, I'm suspecting the issue is related to how Linkerd injects the extra containers using JSONPatch
[linkerd json patch](https://github.com/linkerd/linkerd2/blob/c1c154e20a1f94f9f23

[2022-09-10 09:28] galsolo commented on #4435
closing due to #4521

[2022-09-10 09:28] #4435 closed

[2022-09-10 12:24] chipzoller commented on #4481
## Policy

[code]

## Resources and Results

### Pass

#### 1
[code]
All Pods must contain the `containers[]` object, and all entries must have the `name` field. Since both of these are present, and the policy does not wrap these in conditional anchors, this Pod will pass.

#### 2
[code]
Conditionals are entered and satisfied because the THEN portion (the `name` of the secretKeyRef) starts with `s

[2022-09-10 12:55] chipzoller commented on #3094
You're right, this is possible with the workaround you stated although it's more verbose than the initial suggestion. Do you think we should still keep this issue open and try to address it (at the very least to achieve consistency) or leave well enough alone?

[2022-09-10 14:11] chipzoller commented on #4526
Yes, there should not be an entry created in the PolicyReport for a blocked resource. I can also confirm I'm seeing this on Kyverno 1.7.3.

[2022-09-10 14:16] chipzoller commented on #4565
In this case, you wouldn't need to as a strategic merge patch is much cleaner. See the example [here](https://main.kyverno.io/policies/other/add_certificates_volume/add_certificates_volume/).

[2022-09-10 17:30] #3613 closed

[2022-09-10 17:39] JimBugwadia commented on #4521
Hi @galsolo - thanks for the details!

Is this reproducible by applying a `kubectl patch` to a configured deployment?

[2022-09-10 22:50] chipzoller commented on #4250
The wildcard/globbing behavior seems to be broken in `names[]` but works in `name`.

[2022-09-10 23:00] chipzoller commented on #2356
cc @treydock @eddycharly do you think this is the best way to handle this?

[2022-09-10 23:13] chipzoller commented on #3984
ping @samj1912

[2022-09-10 23:16] chipzoller commented on #4473
So it sounds like we may need to make an exception for unresolved vars in the `message` field so they either get replaced with `null` or are blank and do not result in a crash.

[2022-09-11 15:44] praddy26 commented on #4421
Should the _namespace_ field in the _ResourceSpec_ under _mutate.targets_ be forbidden field for the _Policy_ as it is namespaced resource or should we allow and throw error if the _namespace_ is not the same as the namespace where the Policy is being created ?

Please provide clarity.

[2022-09-11 16:07] chipzoller commented on #4421
I would suggest making the namespace field under targets optional. But if specified and it does not match the Namespace where the Policy resource is created, Kyverno must invalidate the policy and not allow its creation.

[2022-09-11 19:34] samj1912 commented on #3094
Upto you. I personally think we should just deprecate the jmespath fields for the others and just use the variable syntax. It is more verbose but it is also more flexible. This would ensure single responsibility principle for our various variable types.

[2022-09-11 19:47] chipzoller opened #4589 "[Bug] [CLI] With `results[].resources[]` test summary table does not show individual line numbers"
### Kyverno CLI Version

1.8.0

### Description

When writing a test manifest with `results[].resources[]` as opposed to `results[].resource`, the test summary table does not show them with individual numbers, it groups them with the same number by result.

### Steps to reproduce

1. Test using the existing baseline control [here](https://github.com/kyverno/policies/blob/main/pod-security/baseline

[2022-09-11 19:50] chipzoller opened #4590 "[Bug] [CLI] Remove deprecation notice when using `results[].resource`"
### Kyverno CLI Version

1.8.0

### Description

Compare the test manifests in #4589 and notice that using `results[].resource` prints a deprecation notice.

### Steps to reproduce

1. Follow steps in #4589

### Expected behavior

No deprecation notice appears. Since Kyverno will be moving to a new test schema in 1.9.0, we will incorporate the equivalent of `results[].resources[]` in that new sche

[2022-09-11 22:59] chipzoller commented on #4316
Checked and still present in 1.8.0-rc1.

[2022-09-11 23:33] JimBugwadia opened #4592 "[Bug] fix Kyverno ko SBOM location"
### Kyverno Version

1.8.0

### Description

Kyverno is now using `ko` and its integrated ability to generate SBOMs.

However, we want to store SBOMs in [ghcr.io/kyverno/sbom](http://ghcr.io/kyverno/sbom) to avoid polluting image pull metrics tracking for  [ghcr.io/kyverno/kyverno](http://ghcr.io/kyverno/kyverno).

Not sure why, but SBOMs, signatures, and attestations register a large number of do

[2022-09-11 23:34] JimBugwadia commented on #4083
With the change to `ko` and using its feature to generate an SBOM, this now works:

[code]

Closing this issue and created https://github.com/kyverno/kyverno/issues/4592 to track SBOM location cleanup.

[2022-09-11 23:45] chipzoller opened #4593 "[Feature] podSecurity rules: Account for Windows nodes"
### Problem Statement

As of August 2022 and Kubernetes 1.25, there has been a [slight modification to the Pod Security Standards guidance](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted-pod-security-standard-changes). Pods scheduled to Windows nodes do not need to set certain [OS-specific fields](https://kubernetes.io/docs/concepts/security/pod-security-standards/

[2022-09-11 23:45] chipzoller commented on #4593
FYI @JimBugwadia @ToLToL and @realshuting

[2022-09-12 03:38] viveksahu26 commented on #4481
Thanks @chipzoller  for adding these examples. In the 1st example of `Pass`, it should be `Skip` instead of `Pass`. We do compare results within peer element but we should not compare result within same statement. Like in this case,
[code]
Ok fine, if container has name, according to you it means `Pass`. But what about the rest of element, it is `Skip`. So you compared the result (skip, pass) betw

[2022-09-12 06:31] developer-guy commented on #4592
I'm also willing to do this if @eddycharly couldn't find time for this. I asked @imjasonh also to do the issue on the ko project side. 🙋🏻‍♂️

[2022-09-12 06:44] realshuting commented on #4592
@developer-guy - re-assigned, thanks!

[2022-09-12 06:50] realshuting commented on #4295
This is included in 1.8.0, I'll publish the metrics along with the regression results.

[2022-09-12 07:07] james-callahan opened #4597 "[Feature] change prefix used for `PolicyReport`s"
### Problem Statement

kyverno has to cut off names of policy reports when they get too long.
When using `splitPolicyReport` this gets out of hand.

e.g. a report for the `testnet-11-microservices-fullnodes` namespace for the policy `restrict-apparmor-profiles` gets rendered as: `polr-ns-testnet-11-microservices-fullnodes-restrict-apparmor-pr`, where `ofiles` has been cut off.

### Solution Descri

[2022-09-12 07:43] developer-guy commented on #4592
IMHO, there are two ways of doing this:

1. Since there is no way of disabling pushing SBOMs in ko, this process remains the same. In addition to this, we can create another SBOM with Syft and upload it to the given repository ([ghcr.io/kyverno/sbom](http://ghcr.io/kyverno/sbom)).
2. We can wait for the ko project to let putting SBOMs in a different repository, I've opened an [issue](https://githu

[2022-09-12 07:59] eddycharly commented on #4592
Let's fix this in `ko` IMHO, are you going to open a PR @developer-guy ?

[2022-09-12 08:14] #4249 closed

[2022-09-12 10:19] NovemberZulu commented on #4371
I have what seems like a very similar issue: we are running Kyverno HA (3 pods) in a pretty busy AKS cluster (v1.23.8) -- ~1000 namespaces, ~30 policies. Amount of RCRs requests crawls up until eventually Kyverno crashes and then pods enter permanent CrashLoopBackOff state: they timeout when trying to start, there are ~120k of RCRs in kyverno namespace. I tweaked setting to try to work around the

[2022-09-12 11:22] realshuting commented on #1959
Hi @theshashankpal - we'd like to add the bot in, but not sure which one works the best. Have you researched possible options?

[2022-09-12 11:23] realshuting commented on #3519
We can close this if false positive.

[2022-09-12 11:27] realshuting commented on #3966
The first approach could fail if Kyverno is not running properly.

We could fail the policy application for not ready policies optionally, wdyt?

[2022-09-12 12:22] chipzoller opened #4605 "[Bug] Kyverno fails to register webhooks in Helm when `nameOverride` is used"
### Kyverno Version

1.7.3

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Other

### Description

Using this command to install Kyverno: `helm install kyverno kyverno/kyverno -n myinfra-system --create-namespace --set extraArgs={"-v=4"} --set nameOverride=myinfra-system` Kyverno fails to register its webhooks (see logs below)

### Steps to reproduce

1. `helm

[2022-09-12 12:25] treydock commented on #4605
@chipzoller See https://kubernetes.slack.com/archives/CLGR9BJU9/p1661500830680979, TLDR Set `fullnameOverride` and leave `nameOverride` empty.  I'll need to look closer why this is the case.

[2022-09-12 12:28] chipzoller commented on #4605
Ah ok. Is there another issue for this already? I don't see one if so.

[2022-09-12 12:56] chipzoller commented on #4481
Again, based on the definition of the policy, those do meet the pattern. `containers` MUST be present. It is. That check passes. `name` MUST have some value. It does, so that check also passes. Only then do you have a conditional. Even if that is skipped, the two prior checks passed.

If the policy were written this way, those resources you pointed out would be a skip.

[code]

[2022-09-12 13:00] chipzoller commented on #3966
Yes, that's where a user would be responsible for using a tool that implements retries. Basically all GitOps controllers do. Even if hand applied, they'd get told it failed.

Yes but how would users know unless they went digging into events or logs?

[2022-09-12 13:13] realshuting commented on #3966
We could fail the resource creation if the CRD hasn't been installed. But this won't work for background reporting.

When Kyverno is not running at all, how does retry help?

[2022-09-12 13:17] chipzoller commented on #3966
If Kyverno isn't running, there's nothing Kyverno can do other than when it returns to service we mark the policy as not ready if its CRD cannot be located.

[2022-09-12 13:30] realshuting commented on #3966
So we need both, sort of - 1. when Kyverno is running, deny the policy creation if the CRD is not there; and 2. if any of these policies are installed Kyverno sets the status ready to false when it's back to running.

Is this correct?

[2022-09-12 14:11] chipzoller commented on #3966
I think that's right. We also have to account for these cases in item number two:
1. ClusterPolicy or Policy
2. policy is of type `validate`, `mutate`, or `generate`
3. policy contains multiple rules, only one of which cannot be ready

[2022-09-12 14:25] realshuting commented on #3966
Just to clarify, for 3, the policy will be marked as not ready if any of the rules is not ready.

The requirements seem clear, should be straight forward for the implementation.

[2022-09-12 14:30] chipzoller commented on #3966
Right, if any rule cannot be ready due to it matching on a custom resource that doesn't have a corresponding CRD found, it must cause the whole policy to go into not ready status. This is because there's no per-rule visibility anywhere when getting ClusterPolicies or Policies.

[2022-09-12 14:51] Shivansh-yadav13 commented on #4590
hi, can I contribute?

[2022-09-12 14:57] chipzoller commented on #4547
`podSecurity.level` and `podSecurity.version` are both being validated, but not `podSecurity.exclude[].controlName`.

[2022-09-12 15:07] prateekpandey14 commented on #4272
@james-callahan can you try with latest build image `ghcr.io/kyverno/kyverno:1.8-dev-337-gda5312c17` and see if the issue with mix reports can get reproduce again ?

[2022-09-12 15:59] james-callahan commented on #4272
Which PR do you think may have fixed it? I tried with the `:latest` tag last week and it still had the issue.

[2022-09-12 16:07] prateekpandey14 commented on #4272
We have merged a [flag bug here](https://github.com/kyverno/kyverno/pull/4576), which basically related to policy report update.
I did verified the fix earlier, it would be great if you can help with verifying the fix.
[code]

[2022-09-12 19:43] developer-guy commented on #4592
Hello folks, there has been good news from the ko project. Ko respects the` COSIGN_REPOSITORY` variable, which means that we can use the `COSIGN_REPOSITORY` variable to send SBOMs to a different repository, but there is a bug in this case because ko is using an authenticator, not the keychain itself that causes to fail when `COSIGN_REPOSITORY` is different than `KO_DOCKER_REPO.`

This [PR](https:/

[2022-09-12 21:08] chipzoller opened #4609 "[Bug] Pod `spec.securityContext` not being considered in podSecurity rule logic"
### Kyverno Version

1.8.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

In the new validate.podSecurity rule type, it appears some of the controls in the [restricted PSS profile](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted) are not correctly implemented. The current implementation attempts to se

[2022-09-12 21:10] chipzoller opened #4610 "[Bug] Installing kyverno-policies chart on a RC throws `Invalid Semantic Version`"
### Kyverno Version

1.8.0

### Description

Installing the kyverno-poilcies chart on Kyverno 1.8.0-rc1 throws `Invalid Semantic Version`

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is not r

[2022-09-13 00:14] chipzoller commented on #4609
cc @ToLToL

[2022-09-13 01:26] chipzoller commented on #4316
Not critical for 1.8.0 release; bumping to 1.8.1

[2022-09-13 01:28] chipzoller commented on #4188
It seems this was addressed, no?

[2022-09-13 05:38] realshuting commented on #4188
Closed via #4538.

[2022-09-13 05:38] #4188 closed

[2022-09-13 09:40] rgeraskin commented on #4371
It looks like I have a similar issue in one of the clusters. Kyverno HA (3 pods), 3 nodes eks cluster. When it became heavy loaded Kyverno starts consuming a lot of memory and get OOM-killed finally. Also at that moment there are a lot of rcr/crcr. And later Kynerno can't start due to have huge memory consumprion even after start. So CrashLoopBackOff.

Also `maxReportChangeRequests` option is igno

[2022-09-13 11:46] Hargeek commented on #4565
Thank you very much

[2022-09-13 11:46] #4565 closed

[2022-09-13 11:46] Hargeek commented on #4565
Thank you very much

[2022-09-13 13:03] chipzoller commented on #4609
Added the "HostProcess" control in the baseline. Even though I didn't explicitly test it, it has the same pattern.

[2022-09-13 14:01] zswanson opened #4613 "[Feature] cache ConfigMap context variables with Informer"
### Problem Statement

When using Context Variable of type ConfigMap the controller apparently has to retrieve the ConfigMap every time the policy executes. We are currently using a single configmap written to the kyverno namespace that holds various policy configurations such as allow-lists (namespaces etc that are exempt from certain policies) or cluster/region specific configurations that impac

[2022-09-13 14:12] chipzoller opened #4614 "[Bug] Message display problems in podSecurity sub-rule type"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

All the failure reasons why a Pod is denied when using a podSecurity rule are not displayed depending on how the resource is written.

### Steps to reproduce

1. Apply this policy
[code]
2. Apply this resource
[code]
3. See it is blocked with two controls bein

[2022-09-13 15:50] realshuting commented on #4609
I think this issue applies to all checks that have restrictions at both the container level and the pod level.

[2022-09-13 16:03] chipzoller commented on #4609
It seems the ones I checked in baseline appear correct.

[2022-09-13 16:37] chipzoller opened #4615 "[Bug] When podSecurity rule does not apply but another unrelated does, empty message is printed"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

When there are two policies in a cluster, one is podSecurity and the other is just another validate rule (both in enforce mode), if a resource is blocked by the non-podSecurity policy, the returned error message still prints an empty object (`{}`) with the nam

[2022-09-13 16:43] chipzoller opened #4616 "[Bug] background is not defaulting to `true`"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Creating a policy which does not explicitly set the `background` field used to default to a value of `true`. This appears to no longer be the case.

[code]

A policy created which does not define the `background` field simply has this undefined, which results

[2022-09-13 16:57] hi-artem commented on #3411
Any updates on this issue? Looks like it is a WIP, but would be curious to know the current progress.

[2022-09-13 17:00] chipzoller commented on #3411
Work is underway in a Fall '22 mentorship [here](https://mentorship.lfx.linuxfoundation.org/project/e5ef8032-3dd3-44c3-8746-620f4f678d60).

[2022-09-13 20:55] chipzoller opened #4618 "[Bug] podSecurity missing field validations"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

The following are validations of validate.podSecurity policies which are not being performed and should be.

* `exclude[].controlName` field conforms to only approved list of strings
~* When using an exclusion, that `images[]` is provided~
* Not allowing basel

[2022-09-14 07:39] NovemberZulu commented on #4371
@rgeraskin Does it OOM at startup for you? I added RAM when trying to mitigate initial OOMs, and I saw timeouts and clean shutdown at startup, not OOMs. The final result is the same CrashLoopBackOff

[2022-09-14 07:45] rgeraskin commented on #4371
@NovemberZulu yep, it OOMs at startup later, after first rcr,crcr increase. I increased memory limits, but it didn't help.

[2022-09-14 09:44] Santosh1176 commented on #4589
Hey @chipzoller, I was looking at the issue and tested with the existing baseline [mentioned above](https://github.com/kyverno/policies/blob/main/pod-security/baseline/disallow-privileged-containers/kyverno-test.yaml). I am unable to see the deprecation message for the same. My test results are below:
[code]
Am I missing something here?

But when I try testing for `results[].resources[]` with the

[2022-09-14 12:34] chipzoller commented on #4614
Duplicate failed reasons shown:

[code]

Should only show one of them.

[code]

[code]

[2022-09-14 12:47] chipzoller opened #4622 "[Bug] Certain controlNames are not excluded correctly"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

When writing a validate rule using the new podSecurity sub-type, it is possible to exclude specific controls without scoping those exclusions down to specific image names. This appears to only work for controls (or portions thereof) which have fields at the `s

[2022-09-14 13:00] chipzoller opened #4623 "[Bug] Wildcards in image names don't work if the control name contains container-only fields"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Writing a validate rule using the new podSecurity sub-type in which an exclusion to a control is provided where the image uses a wildcard does not work if the control name provided has container-only fields. It appears to work if the control name has `spec`-on

[2022-09-14 13:11] chipzoller commented on #4623
Not clear if bug or if wildcards not actually implemented. `Host Namespaces` may just simply ignore the `images[]` field altogether which explains why it works both ways.

[2022-09-14 14:37] chipzoller commented on #4623
This is a feature captured in #4557 and not a bug. Closing.

[2022-09-14 14:37] #4623 closed

[2022-09-14 14:44] joebowbeer commented on #2709
To accomplish this, I also recommend option 1 ☝️ for the reasons listed by OP

Once this is implemented, the cluster admin would attach an IRSA annotation to kyverno's service account that referenced a role with the necessary `ecr:` capabilities.

By the way, keel has a working implementation:

https://github.com/keel-hq/keel/tree/master/extension/credentialshelper/aws

[2022-09-14 14:58] chipzoller opened #4624 "[Feature] Support podSecurity sub-rule type in the CLI"
### Problem Statement

The `validate.podSecurity` sub-rule type is not currently supported in the Kyverno CLI.

### Solution Description

Support `validate.podSecurity` sub-rule type in the Kyverno CLI.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting

[2022-09-14 15:43] HighWatersDev opened #4625 "[Bug] Pods crash with TypeAssertionError"
### Kyverno Version

1.7.3

### Description

I have recently installed Kyverno and the pods are crashing whenever I apply the policy. I can't seem to figure out what's causing the panic crash.

Installation

`helm upgrade --install kyverno kyverno/kyverno --namespace kyverno --create-namespace -f values.yaml`

values.yaml

[code]

cluster-role

[code]

After the installation pods are running fine.

[2022-09-14 17:15] JimBugwadia opened #4626 "[Bug] upgrade Cosign to 1.12.0"
### Kyverno Version

1.8.0

### Description

See:
- https://github.com/sigstore/cosign/releases/tag/v1.12.0
- https://github.com/sigstore/cosign/security/advisories/GHSA-8gw7-4j42-w388

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issu

[2022-09-15 17:59] chipzoller commented on #4616
Fixed in #4617

[2022-09-15 17:59] #4616 closed

[2022-09-16 11:49] shahpratikr commented on #4526
Hi @chipzoller, I was able to reproduce this issue on Kyverno 1.7.3. However, issue seems to be fixed via [commit](https://github.com/kyverno/kyverno/commit/66c3b3b8d0eefaa7bb506af48a929149aae54382)

[2022-09-16 13:54] prateekpandey14 commented on #4625
Hi @HighWatersDev, i installed kyverno v1.7.3,  and after applying the above mentioned policy, i am not seeing kyverno pod crashes.

I see the `helm upgrade` command in issue description, did you see this issue after upgrade or its fresh install ?

[2022-09-16 14:45] mo-saeed opened #4632 "[Bug] webhook timeout configuration issue"
### Kyverno Version

1.7.2

### Kubernetes Version

1.22.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Validate

### Description

when trying to add webhook timeout to container args, I still see timeout value for the validating webhook same and not changing

from the pod
[code]

from the validationwebhook

[code]

### Steps to reproduce

1.  add webhook timeout to the container args the

[2022-09-16 14:48] #4626 closed

[2022-09-16 16:36] Santosh1176 commented on #4553
@eddycharly Can I work on this?

[2022-09-16 17:44] Santosh1176 commented on #4553
Hi @abhiyant-10, hope all is well. In case you are busy with other tasks, please free to pass this on to me.
cheers!

[2022-09-16 18:51] viveksahu26 commented on #4481
Hey @chipzoller , how will you read it.
https://kyverno.io/docs/writing-policies/validate/#anchors
[code]
IF image tag is present THEN it's value must be   “*:latest”
                                               or
IF image tag is present (whatever the value may be) THEN  imagePullPolicy must be not Equal to IfNotPresent.

Any other way of reading it.

[2022-09-16 19:16] abhiyant-10 commented on #4553
@Santosh1176 Due to unavoidable circumstances I was unable to complete it but now I can work on it .

[2022-09-16 20:05] viveksahu26 commented on #4481
Suppose IF container has image but not latest one, then will it `skip` or `fail`.

[2022-09-16 20:06] chipzoller commented on #4481
Skip

[2022-09-16 20:07] viveksahu26 commented on #4481
And that same applies for Equality anchor too.

[2022-09-16 20:13] chipzoller commented on #4481
Yes

[2022-09-16 20:14] viveksahu26 commented on #4481
Agree with your point,

1. Conditional Anchor Example
For say policy is:
[code]
and resource is:
[code]
So, policy will skip the resource and it's status is also defined `skip` in kyverno-test.yaml file, fine and np.

2.  Equality Anchor Example
Taking example of Equality Anchor,
policy is:
[code]
and resource is:
[code]
Then in this case too policy should skip the resource. But in the kyverno-tes

[2022-09-16 22:25] viveksahu26 commented on #4481
So, then need to make changes for Equality Anchor. And result should be `skip` instead of `fail`.

[2022-09-16 22:27] chipzoller commented on #4481
To solve this one case, yes.

[2022-09-16 22:29] viveksahu26 commented on #4481
Should we log separate issue for it, or to consider the part of this issue.

[2022-09-16 22:30] chipzoller commented on #4481
Makes sense to consider part of this issue, I think, unless the work required is significantly different.

[2022-09-17 21:14] JimBugwadia opened #4643 "[Bug] replace usage of "sigs.k8s.io/controller-runtime/pkg/log" with Kyverno logger"
### Kyverno Version

1.8.0

### Description

Several Kyverno modules are using `sigs.k8s.io/controller-runtime/pkg/log` instead of the Kyverno logger.

For each of these we need to replace with:
1. A package level logger that is initialized from main using the Kyverno logger
2. A logger that is passed in to the method

This also needs to be changed to initialize from the main Kyverno logger:

   h

[2022-09-17 21:16] JimBugwadia commented on #4643
@yimikao @eddycharly - please review

[2022-09-17 21:26] JimBugwadia commented on #1334
cc:  @yimikao @eddycharly

[2022-09-17 21:27] JimBugwadia commented on #3411
See:
1. https://github.com/kyverno/kyverno/issues/4643
2. https://github.com/kyverno/kyverno/issues/1334

[2022-09-17 21:33] eddycharly commented on #4643
@JimBugwadia :+1:
We should have our own `logger` helper package, eventually relying on controller runtime behind the scene but other packages should not know about controller runtime at all.

A third option is to pass the logger to the object constructor, this way we don't need to pass a logger arg in all methods.

[2022-09-17 22:10] chipzoller opened #4644 "[Feature] Nested conditions"
### Problem Statement

There's no way to write conditions (preconditions or deny.conditions) which use conditional logic. With preconditions, they determine when to evaluate the policy, not an inversion of that (when NOT to evaluate a policy). Everything is a flat block of `any`, `all`, or a combination. This makes it impossible to express certain more complex logic, for example, "only evaluate th

[2022-09-17 22:26] yimikao commented on #4643
@JimBugwadia Good idea.

[2022-09-17 22:35] JimBugwadia commented on #4643
I like that idea! I am not a big fan of polluting method signatures with loggers.  A constructor param option is OK, when necessary.

[2022-09-18 07:08] eddycharly commented on #4644
One issue is that we can’t represent such hierarchical structures in a CRD.

[2022-09-19 07:20] eddycharly opened #4648 "[Bug] Split webhook handlers per failure policy"
### Kyverno Version

1.8.0

### Kubernetes Version

1.25.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Other

### Description

Policies can specify a failure policy but webhook handlers always process policies regardless of the failure policy.
Handlers should honor the failure policy.

### Steps to reproduce

1. Create policies for the same kind with different policies
2. Observe the sa

[2022-09-19 09:50] victorgetz opened #4655 "[Bug] verifyImages is executed before mutate"
### Kyverno Version

1.7.2

### Description

**My Intention**

Rewrite all docker images inside a cluster to be pulled from a secure registry and after that, i want to check that all images are signed.

**Bug**

verifyimages is executed before mutate and checks the wrong docker image

**Steps to reproduce**

kubectl apply this files:

[code]

pod.yaml
[code]

**Result**

[code]

**Proof that the i

[2022-09-19 09:52] annkam commented on #4272
Hi @prateekpandey14
I confirm that kyverno doesn't mix reports in provided build!
@james-callahan `:latest` is the latest stable tag, but we were asked to test a dev build :)

[2022-09-19 13:11] chipzoller commented on #3530
@4molybdenum2 are you still working on this?

[2022-09-19 13:25] 4molybdenum2 commented on #3530
@chipzoller No, I am not working on this anymore...I am removing my assignment

[2022-09-20 08:37] prateekpandey14 commented on #4272
@annkam thanks for the confirmation, `latest` tag can be used as well, as part of PR merge in `main` branch we are also pushing the [build image](https://github.com/kyverno/kyverno/pkgs/container/kyverno) with `-dev+<commit-hash>` just to identify specific image as well.

[2022-09-20 08:41] mo-saeed commented on #4632
@chipzoller would you please have a look here and advise ?

[2022-09-20 13:11] chipzoller commented on #4632
It looks like this issue maybe a duplicate of #4205 . Can you confirm?

[2022-09-20 13:23] mo-saeed commented on #4632
@chipzoller yes it's the same but in my case when I delete the webhooks and restart the kyverno pods, the webhooks are recreated with timeout 10s not 30s. so in my case, the only way to change is to edit the webhooks manually.

[2022-09-20 13:35] #2317 closed

[2022-09-20 13:35] aslafy-z opened #4662 "[Bug] missing apigroup in generated webhook configuration"
### Kyverno Version

1.7.3

### Kubernetes Version

1.21.x

### Kubernetes Platform

GKE / RKE

### Kyverno Rule Type

Validate

### Description

Kyverno wrongly generates the webhook configuration with policy validating `ingresses.v1beta1.extensions` which makes the webhook be called by the API server only after the version conversion (extensions/v1beta1 -> networking.k8s.io/v1) is done.

<detail

[2022-09-20 13:39] chipzoller opened #4663 "[Feature] Specify precondition blocks as OR logic"
### Problem Statement

Today in Kyverno, preconditions which are spread across multiple `any`|`all` blocks are an implicit AND operation with no ability to change that to an OR. This makes it impossible to express certain logic because preconditions function as a positive gate ("evaluate this rule body when they are overall true") not a negative gate ("always evaluate the rule UNLESS these conditi

[2022-09-20 17:06] stone-z commented on #4272
Is there any plan to do a 1.7.4/if so, would this potentially be a candidate for such a release?

[2022-09-21 10:47] somebadcode commented on #3578
/assign

[2022-09-21 10:55] somebadcode commented on #3578
I can take over this if there's no progress here. @tend2infinity
I have a fix that will address most special characters. This is blocking us from using Kyverno to the extent that we want.

[2022-09-21 11:05] chipzoller commented on #3578
Thank you, would love to have help in this. Assigned.

[2022-09-21 11:06] somebadcode commented on #3578
@samj1912
Can you elaborate on this? Is this part of some refactoring?

[2022-09-21 11:10] somebadcode commented on #3616
/assign

[2022-09-21 12:18] prateekpandey14 commented on #4272
@stone-z fix already part of released 1.8.0-rc2, we are working on GA release due next week, if required we can back port the fix to 1.7 release branch and create 1.7.4 release tag.

[2022-09-21 12:21] galsolo commented on #4110
Hey guys,
Set the Pod's environment variables to match the AWS kms region
for example the kms key is located on eu-north-1..

- name: AWS_DEFAULT_REGION
  value: eu-north-1

[2022-09-21 12:30] chipzoller commented on #4110
@syekkali @pealtrufo @gabricar @edjls1

Can you all please try the steps mentioned by @galsolo and see if this resolves the issue?

[2022-09-21 13:02] stone-z commented on #4272
Nice! didn't realize it was so soon. We'll just wait for 1.8. Many thanks :slightly_smiling_face:

[2022-09-21 20:14] deepanjan90 commented on #4110
I am also facing the same issue. Trying out @galsolo's comment led me to
[code]

[2022-09-22 02:01] lu-you opened #4666 "[Bug] [CLI] E0922 01:50:43.498473 1 logr.go:270] "msg"="sync failed, unable to update in-cluster api versions" "error"="fetching API server groups and resources: unable to retrieve the complete list of server APIs: custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1""
### Kyverno CLI Version

1.6.3

### Description

E0922 01:50:43.498473       1 logr.go:270]  "msg"="sync failed, unable to update in-cluster api versions" "error"="fetching API server groups and resources: unable to retrieve the complete list of server APIs: custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1"

### Steps to reproduce

 After installation, the log r

[2022-09-22 02:05] chipzoller commented on #4666
You have opened this issue as a CLI issue. It does not appear to be from the log. Please clarify and explain the issue you are having.

[2022-09-22 02:34] lu-you commented on #4666
$ kubectl logs -f -n kyverno kyverno-68c4c6c6cc-vktbn | grep custom | more
E0921 12:41:55.796247       1 memcache.go:196] couldn't get resource list for custom.metrics.k8s.io/v1beta1: Got empty response for: custom.metrics.k8s.io/v1beta1
E0921 12:41:56.250054       1 logr.go:270]  "msg"="failed to update in-cluster api versions" "error"="fetching API server groups and resources: unable to retrieve

[2022-09-22 02:36] lu-you commented on #4666
I saw this error reported in the log, but it did not affect the use. May I ask why

[2022-09-22 06:28] ianlewis opened #4668 "[Bug] Pod creation allowed even when subject and issuer do not match."
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Validate

### Description

Kyverno allows pods to be created even if the certificate subject and issuer do not match the certificate used to sign the attestation.

This happens if both `attestors` and `attestations` are present in the `ClusterPolicy` and all `attestations` conditions pa

[2022-09-22 06:33] ianlewis commented on #4668
If I remove all `attestations` then pod creation fails.

[code]

[code]

This is the error message I would expect to get if `attestations` is present as well.

[2022-09-22 06:39] ianlewis commented on #4668
If I create a failing `attestations` condition then pod creation fails:

[code]

In this case it provides an error message about the attestation not matching.
[code]

[2022-09-22 11:53] chipzoller commented on #4666
This isn't a CLI error, it's a webhook error. The message is benign and means there were no resources found in the `custom.metrics.k8s.io` group of that version. Kyverno is just probing to see what resources exist in what groups. Not a bug. Closing.

[2022-09-22 11:53] #4666 closed

[2022-09-23 08:17] fastlorenzo opened #4672 "[Bug] [CLI] Cannot use variable in mutate.targets"
### Kyverno CLI Version

1.8.0

### Description

I'm trying to label all PVC mounted to pods using `mutate`; the target for `patchStrategicMerge` is generated from a variable.

When using a variable instead of hard-coding the array of `targets`, I receive the following error: `ClusterPolicy/apply-pvc-pod-label dry-run failed, error: failed to create typed patch object (/apply-pvc-pod-label; kyvern

[2022-09-23 09:06] victorgetz commented on #4655
What is also very weird if a Validation of another ClusterPolicy(different from mutate) fails the whole mutation does not work.

[2022-09-23 09:53] vyankyGH commented on #4672
@fastlorenzo not clear about the issue, issue happening with `Test` cli command or `Apply` cli command?

[2022-09-23 11:11] chipzoller commented on #4672
Mutate existing is not presently supported in the CLI. https://github.com/kyverno/kyverno/issues/4354

[2022-09-23 11:15] fastlorenzo commented on #4672
Hi both, thanks for the quick reply.

I'm actually using that `ClusterPolicy` with Kyverno deployed by Helm:

[code]

Mutate works if I set the targets to an hard-coded value, but doesn't if the value comes from a variable (cf. first example)

[2022-09-23 11:18] fastlorenzo commented on #4672
Below is the output of applying the `ClusterPolicy` to the cluster via the CLI (`kubectl kyverno apply cluster/apps/kube-system/kyverno/policies/test-label.yaml --cluster --namespace nextcloud -v 5`):

[code]

[2022-09-23 11:32] chipzoller commented on #4672
So as I stated, mutate existing rules are not currently support in the CLI. That aside, what you're doing in the `mutate.targets` field also isn't supported (context variable). You can use variables in the individual fields of the `targets[]` object however. I'm closing this for now as it's not a bug but will link to the issue I quoted for reference.

[2022-09-23 11:32] #4672 closed

[2022-09-23 13:27] JimBugwadia commented on #4655
@victorgetz can you please provide an example?

[2022-09-23 18:13] fastlorenzo commented on #4672
Got it, thanks, I guess that would be a new feature request then.

In the meanwhile, I've found a quick hack to make it work; not perfect but it does the job, I'm leaving it here for reference if that can help anyone else facing the same issue.

I've created multiple policies (in this case, 3) to cover the use case when the pods have 1, 2 or 3 PVC attached to them.

[code]

[code]

[code]

[2022-09-23 23:02] Eileen-Yu commented on #2627
/assign

[2022-09-24 09:33] praddy26 commented on #4668
/assign

[2022-09-24 23:18] fastlorenzo opened #4675 "[Bug] Missing truncation of labels for resource name"
### Kyverno Version

1.8.0

### Description

When using `generate`, the trigger resource name is put in the `UpdateRequest` as a label.
As resource names can be longer than label names limits, this causes the following issue:

[code]

In this case, the resource name `alertmanager-kps-alertmanager-db-alertmanager-kps-alertmanager-1` is 64 characters, which is higher than the 63 characters limit.
Th

[2022-09-25 01:26] JimBugwadia opened #4676 "[Bug] Update Golang libs for CVE-2022-27664 – High- In net/http in Go"
### Kyverno Version

1.8.0

### Description

The twistlock scanner is reporting this CVE based on the Golang versions:

CVE-2022-27664 – High- In net/http in Go before 1.18.6 and 1.19.x before 1.19.1, attackers can cause a denial of service because an HTTP/2 connection can hang during closing if shutdown were preempted by a fatal error.

https://nvd.nist.gov/vuln/detail/CVE-2022-27664

To mitigate

[2022-09-25 08:14] JimBugwadia commented on #2582
@Prateeknandle - unassigning as there has not been any progress on this. Feel free to revisit and create a PR.

[2022-09-25 10:08] lu-you commented on #4666
thanks

[2022-09-25 15:15] Vishal-Chdhry opened #4679 "[Bug in Wiki] Wrong Link for Mutation page in the wiki"
### Kyverno Version

1.8.0

### Description

Link for [Mutation](https://github.com/kyverno/kyverno/wiki/Mutation) in [Design Specifications](https://github.com/kyverno/kyverno/wiki/Design-Specifications) takes you to [The page on Nirmata's fork](https://github.com/nirmata/kyverno/wiki/Mutation) which redirects to home page instead of taking you to actual [Mutation Page](https://github.com/kyverno

[2022-09-25 23:10] nsagark commented on #4676
We are still seeing vulnerabilities with the latest images. Please take a look

root@ip-172-31-81-194:~# trivy image ghcr.io/kyverno/kyvernopre:v1.8.0-rc2-17-g4a3957ce6
2022-09-25T21:15:00.010Z        INFO    Vulnerability scanning is enabled
2022-09-25T21:15:00.010Z        INFO    Secret scanning is enabled
2022-09-25T21:15:00.010Z        INFO    If your scanning is slow, please try '--security-c

[2022-09-26 05:02] JimBugwadia opened #4683 "[Bug] cloneList requires a kind"
### Kyverno Version

1.8.0

### Kubernetes Version

1.25.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Generate

### Description

The `generate.cloneList` rule fails validation unless a `kind` is provided.

### Steps to reproduce

1. Apply this policy:

[code]

It shows an validation error:

[code]
If you add a `kind` it passes:

[code]

### Expected behavior

The `generate.cloneLis

[2022-09-26 07:33] Hargeek opened #4686 "[Bug] When the service is unavailable, the control surface will loop indefinitely"
### Kyverno Version

1.7.3

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

When I rebuild the node group, Kyverno's POD is not available at this time, and the node cannot be reconstructed successfully. Check the control plane log:

apiserver

[code]

controller manager

[code]
At this time, the POD of the VPC CNI component belongs to D

[2022-09-26 07:53] #4683 closed

[2022-09-26 08:14] maxking opened #4689 "[Feature] Allow verifying subject/SAN when using certificates in verifyImage"
### Problem Statement

Kyverno supports [using certificates for verification](https://kyverno.io/docs/writing-policies/verify-images/#certificate-based-signing-and-verification) of container image by providing the ROOT CA of the issuing authority. In our use case, we want to limit the signature to the identity of the signing service instead of all the other possible identity certificates that our

[2022-09-26 10:19] victorgetz commented on #4655
@JimBugwadia sorry i don't understand what i should provide more. In the description i added 2 files if you apply them both you can reproduce the error.

If you pull the example docker image directly "iits/alpine:3.16.0" without mutation it works and shows that this image is signed by the correct private key.

[2022-09-26 11:47] eddycharly commented on #4676
Closing, this was fixed in #4685

[2022-09-26 11:47] #4676 closed

[2022-09-26 13:10] #4679 closed

[2022-09-26 14:07] githubcdr opened #4700 "[Bug]"
### Kyverno Version

1.7.3

### Description

I'm not sure if this is a bug but I try to remove resource limits from a pod.

This cpol does not remove the limits
[code]

It works as expected when I set the cpu limits to a custom value 66

[code]

Is this a bug or do I misunderstand this?

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND

[2022-09-26 17:50] Vishal-Chdhry commented on #2582
Hi! Can I work on this?

[2022-09-27 06:34] prateekpandey14 commented on #4272
@stone-z JFYI we have released the 1.7.4 with this fix in case you want to upgrade.

[2022-09-27 10:54] SANSKARJAIN2 commented on #4536
Hi @etcshad0vv, Is this issue related to cli or policy?

[2022-09-27 11:38] shahpratikr commented on #4530
@divaspathak @theVJagrawal are you working on this?

[2022-09-27 15:24] rparke opened #4716 "[Bug] Mutation policy fails to consistently apply for patches to ephemeralContainers"
### Kyverno Version

1.7.2

### Description

We have the following mutation policy applied to most namespaces on our cluster:
[code]

It appears to fail when patching pod resources with more than one ephemeral container using `kubectl debug`.

If I create the following Pod:

[code]

And then try to patch the Pod to create an ephemeralContainer using `kubectl debug -it mutation-debug --image=busybo

[2022-09-27 15:29] chipzoller opened #4717 "[Feature] Periodic image scanning"
### Problem Statement

Need to scan the Kyverno images periodically for vulnerabilities and be notified.

### Solution Description

Create a GitHub Action which does this using Trivy and/or Grype. Open an issue if any are found.

### Alternatives

_No response_

### Additional Context

https://github.com/marketplace/actions/create-an-issue

### Slack discussion

_No response_

### Research

- [X]

[2022-09-27 16:13] Santosh1176 commented on #3933
Hey @chipzoller, I would like to more about this. Can you plz guide me with any resources on reproducing this issue?

[2022-09-27 16:30] prateekpandey14 commented on #3933
Closing this for now, we did some of refactoring around generate controller code base and we no longer need this change.

[2022-09-27 16:30] #3933 closed

[2022-09-27 16:31] ibexmonj commented on #3300
I bought this issue up in the slack channel and was informed about this issue. Adding my setup info here.

Error we noticed:
```Internal error occurred: failed calling webhook "validate.kyverno.svc-fail": Post "https://kyverno-svc.kyverno.svc:443/validate?timeout=10s": x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candida

[2022-09-27 17:52] chipzoller commented on #3616
Thanks for this, @somebadcode

[2022-09-28 00:54] marniks7 commented on #2843
One more usage for Cloud Native Tekton CI\CD: set `spec.status` to `PipelineRunPending`
(maybe filter entity by some labels as well). Special k8s-controller can take care of such PipelineRuns
[code]
https://tekton.dev/docs/pipelines/pipelineruns/#pending-pipelineruns

[2022-09-28 07:40] shahpratikr commented on #4530
@JimBugwadia can you please assign this to me? I am working on this issue. I will have a PR very soon.

[2022-09-28 09:55] eddycharly commented on #3300
I'll look at it.

[2022-09-28 14:30] zswanson opened #4731 "[Bug] pod mutation for patchesJson6902 with foreach creates 'null' strategicMerge autogen rules"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Mutate

### Description

While validating a mutating policy for pod containers that used a json6902 patch I double checked to make sure that the controlled Deployment was also mutated by the autogen policy. The deployment however was missing the expected mutations and missing the annota

[2022-09-28 15:00] zswanson commented on #4731
Talking more with Chip on this it looks like the issue here is that the `foreach` is confusing the controller, json6902 patches aren't supported for autogen rules. The correct behavior would be for the webhook to not generate anything.

[2022-09-28 15:35] galsolo opened #4732 "[Feature] VerifyImages - add validated images digests/fetched KMS pubkeys to cache"
### Problem Statement

Current Kyverno/VerifyImages implementation does not cache validated images.
In a rapid deployment/dynamic cluster where operators spawn the same image thousands of times a day the same image is being validated over and over again.

### Solution Description

Add cache to the Verifyimages process.

### Alternatives

_No response_

### Additional Context

just a metric from to

[2022-09-28 17:46] asraa opened #4736 "[Bug] Notice: Upcoming Cosign version < 1.12.0 incompatibility"
### Kyverno Version

1.7.3

### Description

Kyverno versions 1.7 and below include cosign at version 1.9.

Before Sigstore GA, we are making a breaking change (final one) to achieve cross-language compatibility in our TUF root. The repository layout will change, and will make old versions of sigstore libraries (included in cosign < 1.12) incompatible with the new compliant root.

Is it possible t

[2022-09-28 18:05] galsolom commented on #4521
Hi, hard to reproduce manually.. the mutation is happening in-flight on the Pod CREATE request and triggers an UPDATE request from linkerd injector with the json patch, at this point Kyverno will override the existing image-verify annotation with the injected linkerd from the latest request.

which lead me to think..
perhaps the mutation webhook should merge the annotation json content instead of

[2022-09-28 23:27] joebowbeer commented on #4392
FWIW, I can get pretty far by adding a precondition.

For example, I added the following precondition to the restrict-apparmor-profiles policy in pod-security/baseline

[code]

And it correctly skipped the new test case I added:

[code]

It passed the other tests as well, after I adjusted some expected values from `pass` to `skip` where appropriate.

HOWEVER, it failed all the CronJob tests.

[2022-09-29 04:03] #4618 closed

[2022-09-29 05:07] JimBugwadia commented on #4736
@asraa - Thanks! We can update 1.7 and 1.8.  Which version do you recommend?

I am not sure if any 1.6 users are using the Cosign integration - @chipzoller - do you know of any?

[2022-09-29 07:49] #3411 closed

[2022-09-29 09:17] #4700 closed

[2022-09-29 10:19] maxking commented on #4689
I've been trying a few other config options and I have found that what i need _sort_ of works if I do something like:

[code]

I've been looking a bit at the code and realized that it only works with `EmailAddresses` and `URI` types for `subject` and that too only the first one if multiple of those exist.

https://github.com/sigstore/cosign/blob/9d3101b6385d5adb418b67e88cec2729d42b0a42/pkg/signatu

[2022-09-29 10:43] chipzoller commented on #4736
I don't know of any personally but we still may want to cherry pick this to 1.6.

[2022-09-29 10:49] eddycharly commented on #3300
https://github.com/kyverno/kyverno/pull/4745 should fix it.
I don't think we need to restart the pods

[2022-09-29 11:51] ibexmonj commented on #3300
@eddycharly Appreciate the quick response.

I do have a quick question. In my setup I did not overwrite the values for [createselfsignedcert](https://github.com/kyverno/kyverno/blob/28aa9872c7e95b49d8ce1cbfcd5b297b2830542f/charts/kyverno/values.yaml#L382). The if conditional [here](https://github.com/kyverno/kyverno/blob/28aa9872c7e95b49d8ce1cbfcd5b297b2830542f/charts/kyverno/templates/secret.yaml

[2022-09-29 11:52] eddycharly commented on #3300
Yes, it only generates a self signed cert if this flag is enabled.

[2022-09-29 12:03] ibexmonj commented on #3300
Got it. So this will fix the other users issue. Do you have any insight on the error i posted above ?
 I am not setting the createselfsignedcert value to true and im curious how kyverno handles cert creation in that case.

[2022-09-29 12:04] eddycharly commented on #3300
When does your error happen ?
The log you posted is from api server ? kubectl ? something else ?

[2022-09-29 12:07] eddycharly commented on #3300
In your case @ibexmonj it is because the cert authority is unknown, this happens if the webhook configuration does not have the ca bundle correctly set (kyverno is responsible for setting it when creating the webhook config or the cert is renewed, in case the cert is renewed the rotation is graceful, both old and new certs are accepter).

I don't see how this can happen, do you have a scenario to

[2022-09-29 12:13] ibexmonj commented on #3300
The error was noticed in our deploy pipeline and I believe its from the API server. We had an outage that affected a couple control plane and worker nodes, we had just 1 kyverno pod in dev so i expected the webhook to the unavailable and block admission but that cert error is something I have been unable to reproduce.
I do see `kyverno-svc.kyverno.svc.kyverno-tls-ca` and `kyverno-svc.kyverno.svc.k

[2022-09-29 12:17] eddycharly commented on #3300
If the pod is down the error message should be different, if the pod is up, it should use what is in the secret for the tls connection.

What version are you running ?

Are both secrets `tls` ones (not `opaque`) like below ?
[code]

[2022-09-29 12:18] ibexmonj commented on #3300
Running 1.7.3

[code]

[2022-09-29 12:19] eddycharly commented on #3300
Even if kyverno is down it should be able to rebirth as we exclude the kyverno namespace from the webhooks configs (depending on your config).

[2022-09-29 12:19] eddycharly commented on #3300
Ah, the `opaque` one is probably causing issues.

[2022-09-29 12:20] ibexmonj commented on #3300
Btw, about `exclude the kyverno namespace from the webhooks configs` . I believe that logic relies on the namespace label being set. I am on 1.20 so we do not have that feature enabled. I only recently set that label after reading about it.

[2022-09-29 12:21] eddycharly commented on #3300
There should be two keys, kyverno probably can't create the ca bundle.
Can you look at the webhook ?
You should see something like this:
[code]

[2022-09-29 12:21] eddycharly commented on #3300
True about the label.

[2022-09-29 12:24] ibexmonj commented on #3300
I see the `ca bundle` is being set when i check both the webhooks
.

[2022-09-29 12:25] eddycharly commented on #3300
Ok, you can probably fix this by deleting both secrets, kyverno should recreate them.
If you do so, please make sure they are both `tls` secrets.

[2022-09-29 12:25] ibexmonj commented on #3300
Could the namespace label `kubernetes.io/metadata.name=kyverno` missing that day have caused this issue by preventing kyverno from creating it ?

[2022-09-29 12:26] eddycharly commented on #3300
I am not sure the secret type can be changed after creation, maybe kyverno just fails continuously creating/updating the secret.

[2022-09-29 12:32] ibexmonj commented on #3300
Is this something i have to do manually in all my clusters ?

[2022-09-29 12:34] eddycharly commented on #3300
It was using `opaque` before we implemented graceful rotation. Looks like the upgrade didn't work well in your case.

[2022-09-29 12:41] ibexmonj commented on #3300
Ah ok. Good to know.

[2022-09-29 13:28] asraa commented on #4736
Thanks! I would recommend cosign version 1.12.1: this fixes a number of security issues, updates to allow compliant TUF repository parsing, and fixes a number of issues in blob verification (which you probably won't hit because you are likely only verifying container image sigs and attestations)

[2022-09-29 14:07] JimBugwadia commented on #4689
Hi @maxking - adding the subjects as an additional verification seems like a good enhancement to me. Are you interested in creating a PR for this?

[2022-09-29 14:38] eddycharly commented on #4371
@NovemberZulu @rgeraskin @Boojapho we just released 1.8.0-rc3 with a new reporting system in it. Could you please give it a try and let us know in this issue or on slack how things go after the upgrade ?

Please don't do this on a production cluster, it's still a release candidate and this can lead to undesired effect.
In any case, we now have an option to disable reporting entirely if something g

[2022-09-29 17:59] zeborg commented on #4689
I'm not entirely familiar with `verifyImages` to be honest, but if we're trying to access a specific field from the X.509 certificate then I guess `x509_decode` JMESPath function (ref: #4664) could be helpful here.

[2022-09-29 23:47] zeborg commented on #4553
Hi @JimBugwadia, do we intend to add only the scorecard badge here or the GitHub action as well?
If it's just the badge, then @abhiyant-10 you can simply add it by embedding the following in the README:

`![OpenSSF Scorecard for Kyverno](https://api.securityscorecards.dev/projects/github.com/kyverno/kyverno/badge)`

Output
---
![OpenSSF Scorecard for Kyverno](https://api.securityscorecards.dev/pro

[2022-09-30 00:39] JimBugwadia commented on #4553
Hi @zeborg - I am not familiar with the GitHub action, and had created this task to simply add the badge.

Can you please create a separate task for the GitHub action if it will be useful to leverage?

[2022-09-30 03:24] zeborg commented on #4553
@JimBugwadia - with the action, we'll be able to see alerts that are relevant to OpenSSF Scorecards in the code scanning dashboard on every push event, and it will also update the current score along with it. Here's a sample output from my test run on a dummy repo:

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/37282098/193183288-da8db3bf-7641-4a66-88a8-e701876fb9be.

[2022-09-30 03:48] JimBugwadia commented on #4553
@zeborg - thanks! This will be useful. If its easy to add we can combine it, otherwise create a separate task.

[2022-09-30 06:55] hackerboy01 opened #4755 "Can we remove the suffix '-debug'"
### Kyverno Version

1.8.0

### Description

When running Kyverno outside of a cluster, I must set serverIP(command line argument).  If I set serverIP(command line argument),  kyverno controller  will register webhooks which named as kyverno-policy-validating-webhook-cfg-debug and kyverno-resource-validating-webhook-cfg-debug. When I run Kyverno outside of a cluster in production environment, Can

[2022-09-30 07:57] hackerboy01 opened #4757 "[Feature] When running Kyverno outside of a cluster, Can we support the domain(command line argument)"
### Problem Statement

When running Kyverno outside of a cluster, Only support set serverIP(command line argument)，can we support the domain(command line argument)? Sometimes i wish to replace hardcode ip with domain name.

### Solution Description

Provide domain command line arguments to  deal with this scenario.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack

[2022-09-30 08:10] realshuting commented on #2394
@eddycharly suggested a nice solution to publish release artifacts to release assets https://github.com/kyverno/kyverno/pull/4738.

[2022-09-30 08:11] realshuting commented on #2394
@eddycharly suggested a nice solution to publish release artifacts to release assets https://github.com/kyverno/kyverno/pull/4738.

[2022-09-30 09:47] eddycharly commented on #4757
But the domain has to be resolvable right ?

[2022-09-30 11:09] zeborg commented on #4553
@JimBugwadia - I think it's fairly simple to implement and can be done within this PR itself, and if we're okay with skipping the branch protection checks _(it requires a [custom GitHub PAT](https://github.com/ossf/scorecard-action#authentication-with-pat) to read branch protection settings)_, we can simply use [this example](https://github.com/ossf/scorecard-action#workflow-example) without the `

[2022-09-30 11:52] pealtrufo opened #4762 "[Bug] Policy reports are not removed once violating pods are deleted"
### Kyverno Version

1.7.3

### Description

Hi,

I am experimenting with the policy reports and have noticed that some of them are not removed once the violating pods are deleted.

I am using this example policy for the test:
[code]

And I am creating two pods and two deployments (one good and one bad of each):

[code]
You can see that there are still 1 PASS and 1 FAIL that I understand shouldn't

[2022-09-30 12:01] FlorianFiebig commented on #4379
To make it more clear, here is some more context.
For my client it would make sense because:
- the client wants to prevent users from creating `ClusterPolicies` with `spec.failurePolicy = "Fail"` because this setting caused/was related to several incidents
- in their clusters all users are admins
- a further tuning of the RBAC permissions unlikely

In this scenario, a `ClusterPolicy` which require

[2022-09-30 12:07] zeborg opened #4763 "[Bug] Typo in `x509_decode` JMESPath function's note"
### Kyverno Version

1.8.0

### Description

The current note states that the function converts the certificate to `json`, while it actually converts it to `an object`.

Ref: https://github.com/kyverno/kyverno/blob/main/pkg/engine/jmespath/functions.go#L462

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](ht

[2022-09-30 12:37] chipzoller commented on #4379
I understand the use case, but I think trying to alter Kyverno to compensate for poor Kubernetes cluster security practices (all users being admins; all users being able to create ClusterPolicies) is probably not a good justification. We'll still consider this request, however.

[2022-09-30 13:32] FlorianFiebig commented on #4379
I complete agree with you.
Thank you for considering it anyway!

[2022-09-30 15:48] ibexmonj commented on #3300
@eddycharly ran into the same issue again
[code]

going to try deleting both of these
[code]

do i have to replace the pods ?

[2022-09-30 19:54] abhiyant-10 commented on #4553
@zeborg with the action I think I might need some owner/admin access(written in openssf doc) to make that work . A normal contributor won't be able to see code scanning option in Security as [in my case](![image](https://user-images.githubusercontent.com/71189932/193346482-632334ec-d5c4-410a-870c-25db4a675951.png))

[2022-09-30 19:59] zeborg commented on #4553
@abhiyant-10 - It's not needed, I have verified it. The appropriate privileges will be provided to the workflow environment according to the permissions defined in it. You just need to add the workflow in `.github/workflows`, and the resulting SARIF artifacts will be automatically uploaded to the code scanning dashboard in SARIF.

You just won't be able to see them as a normal contributor since it

[2022-09-30 20:06] abhiyant-10 commented on #4553
I was trying to go with UI earlier . I will try the manual method . What about the PAT

[2022-09-30 20:11] zeborg commented on #4553
Token is only required if you're trying to get `read` access for branch protection rules. For rest of the scorecard checks it's not required, and you can remove the `branch_protection_rules` event from the workflow definition.

[2022-10-01 05:44] Vishal-Chdhry commented on #4763
/assign
All I have to do is fix that comment?

[2022-10-01 08:17] zeborg commented on #4763
Yes

[2022-10-01 09:21] Santosh1176 commented on #3374
Hey @chipzoller @realshuting I would like to work on this.
To have some context, Does this need to add "Namespaced" `scope` instead of the current default with no restrictions?

[2022-10-01 11:33] ibexmonj opened #4771 "[Bug] Kyverno controller not re-creating self-managed certificate on delete"
### Kyverno Version

1.7.3

### Description

- We are running kyverno v1.7.3 on 1.20.15 k8s control plane.
- Started investigating when we saw the below error from the api server
[code]
- We have explicitly set `createSelfSignedCert` to false in our values so Kyverno can manage the cert rotation.
- Deleted the kyverno ca and tls secrets
[code]
- Kyverno did no recreate the cert. Until, we executed

[2022-10-01 11:47] Vishal-Chdhry commented on #4763
Can you assign me this!

[2022-10-01 11:53] ibexmonj commented on #4771
This is logs from the leader coming to life and creating certs after scale up
[code]

[2022-10-01 18:33] JimBugwadia commented on #2582
Hi @Vishal-Chdhry - as a next step, can you please post your analysis of the issue with a proposed solution?

[2022-10-01 18:42] Vishal-Chdhry commented on #2582
Hi @JimBugwadia! What I understood is, I will need to add requestTypes in match and exclude in the policy
And, when request type is set to `DELETE` and validate.deny is defined, we will block the delete request, the case for `CREATE` will be similar as well

Can you please point me to all the relevant files, besides [policy_types.go](https://github.com/kyverno/kyverno/blob/73a02a5df3199236ea33a195

[2022-10-01 18:44] Vishal-Chdhry commented on #2582
Hi @JimBugwadia! What I understood is, I will need to add requestTypes in match and exclude in the policy
And, when request type is set to `DELETE` and validate.deny is defined, we will block the delete request, the case for `CREATE` will be similar as well

Can you please point me to all the relevant files, besides [policy_types.go](https://github.com/kyverno/kyverno/blob/73a02a5df3199236ea33a195

[2022-10-02 05:47] JimBugwadia commented on #2582
@Vishal-Chdhry - take a look at:

https://github.com/kyverno/kyverno/blob/v1.7.4/pkg/engine/utils.go#L291

This method contains the logic to execute the match / exclude declarations against the admission request.

[2022-10-02 06:47] praddy26 commented on #4668
@ianlewis What was the log level configured, when the Kyverno logs posted here was generated?

[2022-10-02 07:57] abhiyant-10 commented on #4553
@zeborg  its been more than 24 hrs and the workflow is still running, I will update if there is any progress . I tried on my forked repo

[2022-10-02 08:15] JimBugwadia opened #4774 "improve error handling for generate policy when an apiCall does not work"
### Kyverno Version

1.8.0

### Kubernetes Version

1.25.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Generate

### Description

A generate policy with an `apiCall` does not produce any results or errors

### Steps to reproduce

1. Apply policy

[code]

2. Create a namespace

[code]

3. Create a pod

[code]

4. Check for update requests

[code]

No update requests are created and there

[2022-10-02 10:36] abhiyant-10 commented on #4553
![image](https://user-images.githubusercontent.com/71189932/193445536-0f924bf7-752c-4218-89c4-e15cdd0a12ee.png)
![image](https://user-images.githubusercontent.com/71189932/193445561-ae514083-ba06-400c-8aac-7d6c889b757e.png)
@zeborg after adding the scorecard config files all the actions must run successfully right? some actions fail

[2022-10-02 15:04] bluebrown commented on #1745
how can this handle nested lists?  For example, I want to do something like below.

[code]

[2022-10-02 15:23] zeborg commented on #4553
<img width="703" alt="image" src="https://user-images.githubusercontent.com/37282098/193461559-a54f681c-f3f6-4a39-a91c-c14cd14989b1.png">
<img width="710" alt="image" src="https://user-images.githubusercontent.com/37282098/193461551-56cc97c4-a0ba-4b05-9c78-1ecc41474133.png">

@abhiyant-10 - The image indicates that the Scorecards workflow has passed. One thing you must understand is not every acti

[2022-10-02 16:51] abhiyant-10 commented on #4553
Thanks @zeborg thank you for sharing  . Making the changes here

[2022-10-02 19:45] #4643 closed

[2022-10-03 01:30] ianlewis commented on #4668
The args contains:
[code]
I assume `-v=2` sets verbosity.

[2022-10-03 05:36] shahpratikr opened #4782 "[Bug] Running controller in local setup throws panic error"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Other

### Description

While running kyverno controller locally, seeing panic error. This stops web-hook update and controller doesn't start.
Slack discussion: https://kubernetes.slack.com/archives/C032MM2CH7X/p1664516263514369

### Steps to reproduce

1. Run controller locally in

[2022-10-03 06:37] JimBugwadia commented on #4668
@praddy26 - looks like we are missing checks in the `fetchAnnotations` method:

https://github.com/kyverno/kyverno/blob/v1.7.4/pkg/cosign/cosign.go#L266

You can extract these checks from the [`verifySignatures` method ](https://github.com/kyverno/kyverno/blob/v1.7.4/pkg/cosign/cosign.go#L65) and reuse them in the [`fetchAnnotations` method](https://github.com/kyverno/kyverno/blob/v1.7.4/pkg/cosig

[2022-10-03 07:12] realshuting commented on #3374
See the above expected behavior:

You will need to configure webhook's [namespaceSelector](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector) to match Kyverno namespace onlu.

[2022-10-03 08:13] praddy26 commented on #4716
/assign

[2022-10-03 08:26] #4763 closed

[2022-10-03 09:24] developer-guy opened #4787 "[Feature] sign Kyverno Helm Charts stored in OCI registry"
### Problem Statement

Kyverno is started to publish its Helm Charts to OCI registries with the help of the following PRs:

_https://github.com/kyverno/kyverno/pull/4479_
_https://github.com/kyverno/kyverno/pull/4768_

It is time to sign them and let people verify them before actually using them.

### Solution Description

As we sign Kyverno images with cosign, we can apply the same solution to it

[2022-10-03 12:39] chipzoller commented on #4774
Seems like this is a regression. Any word, @prateekpandey14 ?

[2022-10-03 13:04] prateekpandey14 commented on #4774
Yes, able to reproduce this , working on the fix.

[2022-10-03 13:13] chipzoller commented on #4774
Can we add to 1.8 so we don't release with this regression?

[2022-10-03 13:20] chipzoller commented on #4787
Would you like to take this, @developer-guy ? Even if not, can you propose a solution/process?

[2022-10-03 13:36] developer-guy commented on #4787
of course, I'd love to do that, and please assign it to me if no one interested in it 🫶

[2022-10-03 15:48] chipzoller commented on #4609
Can you list the PR responsible for this closure, please?

[2022-10-03 15:56] realshuting commented on #4614
The failure for `hostNetwork=true` is now in the return error message:
[code]

[2022-10-03 16:01] realshuting commented on #4614
Fixed:
[code]

[2022-10-03 16:02] realshuting opened #4798 "Empty message displayed for SELinux check"
Another message display failure: testing the baseline control "SELinux" with the `user` and `role` fields. When testing `type` the error message is returned properly with the field. With `user` or `role` it is not.

[code]

This throws the error
[code]

Note message ends abruptly at `seLinuxOptions:`.

_Originally posted by @chipzoller in https://github.com/kyverno/kyverno/issues/4614#issuecomment

[2022-10-03 16:02] #4614 closed

[2022-10-03 16:07] prateekpandey14 commented on #4774
Tested couple of generate policies with API call usage, which works properly,  updated above example with correct URI path

**Example-1**
[code]

**Example-2**
[code]

[2022-10-03 16:08] realshuting commented on #4622
The pod is now created successfully.

[2022-10-03 16:08] #4622 closed

[2022-10-03 16:28] JimBugwadia commented on #4774
Thanks @prateekpandey14!

Is there something we can do to improve the user experience here?

[2022-10-03 16:57] chipzoller commented on #4774
I don't see a good way that doesn't involve a lot of attempted cleverness and the possibility of throwing more false errors/warnings than successful ones. The urlPath simply wasn't correct for the intentions here. It was syntatically valid just didn't point to the right location. This is along a similar theme we have which is even if the call _is_ using the correct path, it may not exist at the ti

[2022-10-03 17:29] JimBugwadia commented on #4774
@prateekpandey14 - in this case did the API call return an error or just an empty list?

[2022-10-03 23:21] maxwell-gregory commented on #4369
Is it also possible that the ConfigMap configuration `namespaceSelector` is also impacted by this bug?

My ConfigMap has the configuration:
[code]

Yet kyverno is still generating reports on the `monitoring` namespace
[code]

Not trying to derail here, just making sure I've found an issue pertaining to my symptoms. Thanks

[2022-10-04 05:49] prateekpandey14 commented on #4774
We get the error while trying to fetch and add the external data to the context. Currently its logged as Info log , which we can change as error log as well.

[2022-10-04 06:49] JimBugwadia commented on #4774
Adding an error log would help, but it would better to report a policy error to the user.

Is the API call performed when the UR is created or when the UR is processed?

I am wondering why there was no UR created.

If a UR was created and this error was captured in it, that could help in troubleshooting.

[2022-10-04 07:17] prateekpandey14 commented on #4774
Before UR created, while applying the background checks to build the engine response, after that next step is to create the UR if response rule status is Passed , i.e. it meets the policy rule requirements.

Yes, i was thinking the same to improve the user experience in these scenarios, i am trying this change.

[2022-10-04 09:46] realshuting commented on #4615
I was wrong earlier, Kyverno processes both policies. The issue is when it builds the return messages on block.

[2022-10-04 09:55] realshuting commented on #4798
Kyverno builds psa error message based on the returned errors from the upstream repo.

And this is what PSa returns:
[code]

[2022-10-04 09:55] #4798 closed

[2022-10-04 10:03] #4668 closed

[2022-10-04 11:44] chipzoller commented on #4798
This seems like a bug then in upstream as it clearly appears some text has been omitted after the colon. This should get raised as a Kubernetes issue, I suspect.

[2022-10-04 12:43] chipzoller commented on #4757
I don't understand what problem this addresses. As @eddycharly mentioned, names still have to be resolvable. Please clarify.

[2022-10-04 12:50] chipzoller commented on #4689
It could, but I think it's reasonable to create an easier abstraction than asking users to decode and filter on a cert.

[2022-10-04 13:07] chipzoller commented on #4496
@palmobar we need reproduction steps here.

[2022-10-04 13:09] chipzoller commented on #4496
@object88 I just installed the Datadog agent (albeit with no valid API key so the Pod is in CrashLoop) and was able to create the policy on Kyverno 1.8.0 release candidate. Can you share your steps and what message you're getting?

[2022-10-04 13:45] victorgetz commented on #4655
That would definitly work. But i dont't know what it would solve since the flow is still wrong. Validation happens before mutation and that should not be the case regarding the documentation.

The process  just looks like this then:

1. Validate image, image=docker.io/alpine:3.16.0 -> pass since it does not match imageReferences iits/*
2. Mutate image, result image=iits/alpine:3.16.0
3. Validate i

[2022-10-04 14:13] chipzoller opened #4808 "[Bug] Excluded controls for baseline should be allowed when level is restricted"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

The restricted profile is inclusive of baseline. Yet when I write for the restricted profile and attempt to exclude a control name that's in baseline, it throws a validation error. I believe this should be allowed, however not inversely (i.e., a baseline rule

[2022-10-04 14:14] zeborg commented on #4689
Makes sense... I'm happy to help with this feature in this case!

[2022-10-04 14:50] joebowbeer commented on #4513
@shahpratikr I generated the policies using the helm chart and the following values:

[code]

This produces a disallow-capabilities ClusterPolicy with a namespaceSelector-based exclude.

However, I can't apply this ClusterPolicy to a real cluster without also passing a values file like the following:

[code]

[2022-10-04 16:19] chipzoller commented on #4632
@eddycharly was this addressed as part of the 1.8.0 changes?

[2022-10-04 16:21] chipzoller commented on #4662
This was addressed in PR #4670

[2022-10-04 16:21] #4662 closed

[2022-10-04 16:23] eddycharly commented on #4632
@chipzoller it looks like yes, never tried it though.

[2022-10-04 16:23] chipzoller commented on #4686
If you're going to be deleting cluster nodes, you have two options:
1. Deploy Kyverno in HA mode (replicas=3)
2. Create policies in fail open mode by setting `failurePolicy: Ignore`

[2022-10-04 16:24] chipzoller commented on #4632
@mo-saeed please try this again with the latest 1.8.0 release candidate.

[2022-10-04 16:27] chipzoller commented on #4731
@eddycharly can we make sure this is handled properly in the new autogen logic?

[2022-10-04 16:29] chipzoller commented on #4762
Check in the latest 1.8.0 release candidate as I believe we fixed some issues here.

[2022-10-04 21:23] ibexmonj commented on #4771
fwiw, i spun up 2 dedicated kind clusters for this testing, for kyverno install v1.7.3. One was running k8s 1.20.15 and the other 1.21.1.

- tested first with 1.21.1 since thats the version i do not have in my clusters.
- confirming control plane version:
[code]
- Following steps to create cluster and install kyverno: `k create namespace kyverno` and `helm repo add kyverno https://kyverno.github.i

[2022-10-05 08:08] palmobar commented on #4496
@chipzoller as I've been testing with 1.8 release candidate(s) I wasn't able to reproduce that anymore.

[2022-10-05 14:55] chipzoller opened #4819 "[Bug] Attestation verification no longer works with Cosign changes"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

Although the exact cause seems unclear (it is theorized it has something to do with the observations logged in [this Cosign issue](https://github.com/sigstore/cosign/issues/2264)), attestation verification now seems to be broken in Kyverno as tested with 1

[2022-10-05 19:50] #4808 closed

[2022-10-05 23:42] jsalatiel commented on #4421
Will the fix be backported to 1.7 ?

[2022-10-06 00:45] chipzoller commented on #4421
We aren't projecting for that right now.

Closed in #4671

[2022-10-06 00:45] #4421 closed

[2022-10-06 06:16] #3058 closed

[2022-10-06 06:18] chuasweechin opened #4825 "[Bug] [CLI] Mutation unit test not working as expected"
### Kyverno CLI Version

1.7.3

### Description

I tried to run unit test with the yaml files below. The `resource.yaml` and `patched-resource.yaml` has the same content which I believe should fail the unit test since the patched-resource did not have the mutated properties. However, the unit test passed as shown in the attached logs.

If I were to use `resource.yaml` and `patched-resource-failed.

[2022-10-06 06:43] ansalamdaniel commented on #4369
@maxwell-gregory Could you please shed some light on the above mentioned issue with some sample policy and steps?? It would be really helpful to work on this issue. Thank you.

[2022-10-06 07:41] #4782 closed

[2022-10-06 08:21] realshuting opened #4828 "[Feature] Add violation details to report.results.properties for PSa policies"
### Problem Statement

With 1.8.0, Kyverno generates the following report results for PSa policies:
[code]

All violations are added as a string in `message` block. This message lacks the information for the PSS control name, profile name, version, and also not east to parse violation messages.

### Solution Description

The above-detailed PSS violations can be added to `report.results.properties`

[2022-10-06 09:17] aslafy-z opened #4830 "[Feature] Disable PolicySkipped events"
### Problem Statement

In big clusters with lot of policies, skipped policies produces `Preconditions not met` events for example. When the load is pretty high, these are spammed at a pretty high rate. With https://github.com/kyverno/kyverno/pull/4251, they will now be emitted as `PolicySkipped` instead of `PolicyViolation` events. We don't realy care about these events.

### Solution Description

[2022-10-06 12:22] zswanson commented on #4830
Definitely desirable, as we have for example preconditions on nearly every policy that check for CREATE/UPDATE operations only (as I don't need/care to validate DELETE for these policies) across tens of thousands of pods, or policies that filter out many resource by the presence of an annotation key/value. Skipped events will just cause noise for us.

[2022-10-06 13:35] sandeshlmore commented on #3058
Hi @prateekpandey14 this issue has two parts. PR #4784  only closes part 2. I have raised [PR #4809](https://github.com/kyverno/kyverno/pull/4809) for part 1. please have a look.

[2022-10-06 14:11] chipzoller opened #4833 "[Bug] "expected" and "received" strings transposed in failure messages"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

When a verifyImages rule is set to enforce mode, the returned message has content for "expected" and "received" transposed.

### Steps to reproduce

1. Create a policy which checks an attestation like the following
[code]
2. Create a Pod matched by this ru

[2022-10-06 17:54] chipzoller opened #4835 "[Bug] `validate.podSecurity.exclude.images` description should state wildcards are supported"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

[code]

Doesn't say that wildcards are supported but they are. This is an important detail.

### Steps to reproduce

1. k explain clusterpolicy.spec.rules.validate.podSecurity.exclude.images

### Expected behavior

The description clearly states that wildcards

[2022-10-06 20:08] #4819 closed

[2022-10-06 20:08] #4833 closed

[2022-10-07 01:51] chuasweechin commented on #4825
Oops sorry for missing that. I have added the policy into the issues.

[2022-10-07 08:09] #4835 closed

[2022-10-07 12:22] chipzoller commented on #4825
Thanks. I can verify this in the 1.7.4. CLI.

@viveksahu26 any idea why this is scored as a pass when the patched resource is missing the fields?

[2022-10-07 15:08] viveksahu26 commented on #4481
Hey @chipzoller ,
taking this example:
policy.yaml
[code]
## resource 1
[code]
## resource 2
[code]
At current scenario:
resource1 is `Pass`
and resource2 is `Fail`

The reason would be that resource1 pass because:
---> it contains `container` therefore it is `Pass` whereas it does not satisfy IF block condition so it `Skip`. So overall out of `Pass` and `Skip`, `Pass` would be the overall result.

[2022-10-07 17:48] viveksahu26 commented on #4481
Oh, by the way resource has, `hostProcess: true`. Everything remains same.

[2022-10-07 17:57] chipzoller commented on #4481
Ok, you changed it then. It looks correct to me in this case.

[2022-10-07 22:21] chipzoller opened #4847 "[Bug] Attestation verification fails if signatures differ"
### Kyverno Version

1.8.0-rc6

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

Kyverno assumes that the subject in the (keyless) signature of the container image is the same subject as in any/all attestations. This causes any attestation verification to fail when an verifyImages rule is written which checks an attestation for suc

[2022-10-08 00:53] chipzoller commented on #4668
Solving for this may have inadvertently created this issue: https://github.com/kyverno/kyverno/issues/4847

[2022-10-08 01:32] bobh66 opened #4848 "[Bug] urlPath does not support path parameters"
### Kyverno Version

1.8.0

### Description

Raw API queries were added in 1.8 to resolve other issues, but they fail when URL parameters are added to the path.

For example, the raw kubectl command:

[code]
works, but when the same URL is used in the apiCall.urlPath attribute it fails with:

[code]
Removing the URL path parameters and doing the filtering in JMESPath works fine but puts the filter

[2022-10-08 12:50] XDRAGON2002 commented on #4589
Hi @chipzoller, I would like to work on this issue, could you guide me a bit so I could get started?

[2022-10-08 12:57] chipzoller commented on #4589
Hello. First off, do you understand the issue and can you reproduce this on your end?

[2022-10-08 13:22] #4848 closed

[2022-10-08 14:57] #2358 closed

[2022-10-08 18:51] JimBugwadia commented on #4847
@chipzoller @praddy26 - this fix will require (potentially breaking) schema changes. My suggestion would be to move `attestations` into `attestors` - currently they are at the same level.

We may be able to internally convert the schema, but it may yield incorrect results as in Chip's use case.

[2022-10-08 19:02] chipzoller commented on #4847
Seeing as how we continue to warn that verifyImages is a beta feature and explicitly call out "there may be breaking changes", I don't think it's a huge deal right now. Ref.: https://main.kyverno.io/docs/writing-policies/verify-images/

[2022-10-08 19:12] JimBugwadia commented on #4847
@praddy26 - thanks for volunteering to pick this up, really appreciate the contributions and help!

As a next step, can you please summarize and list the changes required to implement this?

Feel free to reach out if you have any questions, or want to discuss the proposal details.

[2022-10-09 03:27] Hargeek commented on #4686
Okay, thank you very much

[2022-10-09 03:27] Hargeek commented on #4686
Okay, thank you very much

[2022-10-09 03:28] #4686 closed

[2022-10-09 04:41] Shivansh-yadav13 commented on #4589
@chipzoller on retesting with the test manifest on step 4 I'm getting:
[code]

[2022-10-09 05:50] JimBugwadia commented on #4774
Here is another error for generate that does not show up in the default logs:

[code]

[2022-10-09 10:40] chipzoller commented on #4589
You aren't testing with all the necessary files.

[2022-10-09 12:43] Shivansh-yadav13 commented on #4589
I have the [kyverno/policies](https://github.com/kyverno/policies) repo on my local system are there more other files needed?

[2022-10-09 13:18] chipzoller commented on #4589
You need all of the files [here](https://github.com/kyverno/policies/tree/main/pod-security/baseline/disallow-privileged-containers), not just the test manifest. The test should be conducted from within that directory.

[2022-10-09 21:08] XDRAGON2002 commented on #4589
@chipzoller Yes, I can reproduce the issue successfully on my local as well, and also understand that the issue deals with resolving the unintended "grouping" of the resources.

[2022-10-09 21:54] XDRAGON2002 commented on #4830
@chipzoller, I was going through the codebase trying to understand it, but for this specific issue would I be correct in thinking that a simple flag check [here](https://github.com/kyverno/kyverno/blob/main/pkg/policy/report.go#L94) would suffice?

[2022-10-09 22:26] chipzoller commented on #4830
We need to figure out the best approach here first. Easiest would be to disable these events globally.

For those watching this thread, would this approach be satisfactory?

[2022-10-10 01:21] JimBugwadia commented on #4830
Is there any reason to keep events for skipped policies? We do show skip results in the policy reports and the metrics. Perhaps that is sufficient?

We can remove this rather than making it optional.

We can also disable by default, if we want to make the transition a bit more graceful.

[2022-10-10 03:16] JimBugwadia commented on #4830
@XDRAGON2002 - there are two invocations:
1. The [policy report](https://github.com/kyverno/kyverno/blob/bec56323448e052681aa8e7fa8816ee07d2d7681/pkg/policy/report.go#L95) as you linked above
2. The [webhook handler](https://github.com/kyverno/kyverno/blob/bec56323448e052681aa8e7fa8816ee07d2d7681/pkg/webhooks/utils/event.go#L36)

They both invoke [event.NewPolicySkippedEvent](https://github.com/ky

[2022-10-10 03:25] XDRAGON2002 commented on #4830
@JimBugwadia Ah right, missed the other instance, thanks for pointing that out.

[2022-10-10 08:32] developer-guy opened #4852 "[Feature] use both extension name and the OIDC reference syntaxes in the additionalExtensions"
### Problem Statement

Thanks to @JimBugwadia, he addressed one of the issues in Kyverno, and it gave me an idea of why not we support both the extension name and the OIDC reference syntaxes in the `additionalExtensions` field.

Based on the PR: _https://github.com/kyverno/kyverno/pull/4836_

/cc @JimBugwadia @eddycharly @chipzoller

### Solution Description

We can parse the fields in the given `

[2022-10-10 08:44] vyankyGH commented on #4624
Kyverno CLI has inbuild  Support for **validate.podSecurity**. No need for any code changes. Closing the issue.

[2022-10-10 08:44] #4624 closed

[2022-10-10 12:17] shahpratikr commented on #4433
/assign

[2022-10-10 12:25] hackerboy01 commented on #4757
Yes， the domain has to be resolvable right.
When running kyverno outside of a cluster(running kyverno in another cluster B),  I enable the option of automatically creating a cloud load balancer to expose kyverno service. When I create a LoadBalancer Service, I will get a  load balancer which has an external address(user-specified loadBalancerIP or domain name).

[2022-10-10 12:41] eddycharly commented on #4757
Makes sense.
Are you letting kyverno manage the certificates ? Or are you providing them ?

[2022-10-10 13:10] #4717 closed

[2022-10-10 14:18] prateekpandey14 commented on #4272
Closing this, fixed in latest 1.8.0 release. Please feel free to open, if issue gets reproduced.

[2022-10-10 14:18] #4272 closed

[2022-10-10 14:37] eddycharly commented on #4466
`1.8.0` came out and should fix it. Please reopen or create a new issue if necessary.

[2022-10-10 14:37] eddycharly commented on #4371
`1.8.0` came out and should fix it. Please reopen or create a new issue if necessary.

[2022-10-10 14:37] #4371 closed

[2022-10-10 15:21] hackerboy01 commented on #4757
long time ago I tried to put the domain name as serverIP(command line argument), but I got the following error message(x509: cannot parse IP address of length 0), so I install my own CA-signed certificate to solve this problem.
A more elegant approach is that not only can we use our own CA-signed certificate, we can also use kyverno to manage the certificates.

[2022-10-10 15:24] eddycharly commented on #4757
It should definitely work, we use it all the time when debugging locally (same as running out of cluster), you need to provide the ip:port (`--serverIP=<ip adress>:9443`).

Technically, when running out of cluster, you could offload ssl termination to the load balancer, this was the sense of my question (not sure we support that now).

[2022-10-10 15:25] eddycharly commented on #4757
Anyway, I will ad support for external domain in 1.8.1 :)

[2022-10-10 19:38] eddycharly commented on #4757
@hackerboy01 does it work if you put your domain in `serverIP` flag ?

[2022-10-10 19:39] #4852 closed

[2022-10-10 19:42] eddycharly commented on #3134
@ckotzbauer I'm going to work on this.
also we made changes in 1.8.0. can you please confirm the issue still holds ?

[2022-10-10 19:46] eddycharly commented on #4205
This will be fixed by https://github.com/kyverno/kyverno/pull/4846

[2022-10-10 19:51] eddycharly commented on #4264
Closing, fixed in 1.8.0. Please reopen if not fixed.

[2022-10-10 19:51] #4264 closed

[2022-10-10 21:20] chipzoller opened #4864 "[Bug] [CLI] Fail results are not colored red"
### Kyverno CLI Version

1.8.0

### Description

`kyverno test` results which fail no longer color red the `Fail` word of the Results column.

### Steps to reproduce

1. Run `kyverno test` with a generate rule which produces a failure.
2. See the `Fail` word is green and not red.

![image](https://user-images.githubusercontent.com/29008123/194955340-ae7f010e-77ae-487a-ad71-62b8754cdf6a.png)

![ima

[2022-10-10 22:22] XDRAGON2002 commented on #4864
Hi @chipzoller, I would like to give this a try.

[2022-10-11 00:48] james-callahan opened #4866 "[Bug] `kyverno` `ClusterRole` always out-of-date due to aggregation with empty `rules` array"
### Kyverno Version

1.8.0

### Description

When using ArgoCD or a server-side-apply, the empty `rules` array in the `ClusterRole` results in the rules all getting deleted on apply (which the `ClusterRole` controller recreates).
It also means you always get an out-of-sync in ArgoCD.

### Slack discussion

https://kubernetes.slack.com/archives/CLGR9BJU9/p1665449120215319

### Troubleshooting

- [X

[2022-10-11 01:04] ianlewis commented on #4847
I think this change makes sense. Users will want to link who is attesting to what when doing verification. Good catch @chipzoller !

[2022-10-11 02:45] silenceper commented on #4466
@eddycharly  in which pr was this fixed?

[2022-10-11 03:23] hackerboy01 commented on #4757
After I installed my own CA-signed certificate, It worked well.

[2022-10-11 05:29] ckotzbauer commented on #3134
I don't use the `resourceFilters` anymore migrated to the new `policyExclude` feature.

[2022-10-11 05:50] james-callahan opened #4868 "[Feature] podSecurity needs some way to apply a single control"
### Problem Statement

I want to make an exception to a `podSecurity` rule for just one namespace.

### Solution Description

I'd expect to be able to do rules:
1. with `exclude: [controlName: somecontrol]`
2. with a precondition `match: any: [resources: namespaces:  "foo"]` and then `podSecurity: include: [controlName: somecontrol]`

Currently `podSecurity` only takes a list of controls to *exclu

[2022-10-11 06:54] eddycharly commented on #4757
Does not work with kyverno managed certs ?

[2022-10-11 07:35] stefanprodan opened #4869 "[Bug] The `config/release` dir is gone"
### Kyverno Version

1.8.0

### Description

In https://github.com/fluxcd/flux2-multi-tenancy we've been using the `config/release` path to deploy Kyveron with Flux. This repo is being used by lots of users (hundreds or more) to setup and upgrade Kyverno. Starting with 1.8.0 that directory is gone which breaks the upgrade https://github.com/fluxcd/flux2-multi-tenancy/pull/85

### Slack discussion

[2022-10-11 07:53] artazar opened #4870 "[Bug] disallow-capabilities-strict cluster policy is broken in 1.8.0"
### Kyverno Version

1.8.0

### Description

After upgrade to kyverno 1.8.0 [disallow-capabilities-strict](https://github.com/kyverno/kyverno/blob/main/charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml) policy from `kyverno-policies` chart in restricted mode always fails. The error message:

[code]
The policy itself:

[code]

And `{{ request.operation }}` is no longer

[2022-10-11 09:05] aesca1er commented on #3598
PCRE would be the way to go if this were the desired API. Though, it does
significantly increase implementation complexity.

On Wed, Aug 3, 2022, 6:46 PM Jim Bugwadia ***@***.***> wrote:

[2022-10-11 10:34] JimBugwadia opened #4872 "[Bug] e2e test Test_Mutate_Existing fails in 1.7"
### Kyverno Version

1.7.3

### Description

Test_Mutate_Existing fails in the build, but seems to run OK locally.

@prateekpandey14  - found this error in the debug logs:

[code]

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in

[2022-10-11 11:31] hackerboy01 commented on #4757
Yes, If we want kyverno to manage certs, there are some logics like 'generateTLS' that need to be adjusted.
https://github.com/hackerboy01/kyverno/blob/f40a3bc8f5101669cd3b9ffd27edc6d0b0a1fdc9/pkg/tls/keypair.go#L53

[2022-10-11 11:33] eddycharly commented on #4757
Ah, ok.
This should not be too hard to add support for server domain in this code.

[2022-10-11 12:19] realshuting commented on #4872
Closed via https://github.com/kyverno/kyverno/pull/4873.

[2022-10-11 12:19] #4872 closed

[2022-10-11 12:20] realshuting commented on #4736
Closed via https://github.com/kyverno/kyverno/pull/4873.

[2022-10-11 12:20] #4736 closed

[2022-10-11 12:30] #4589 closed

[2022-10-11 13:47] chipzoller commented on #4083
While this worked for images with tags `v1.8.0-rc1` and `v1.8.0-rc2`, it quit working after that and also on the GA release. We need SBOMs to be available for every release tag, including release and pre-releases.

[code]

Reopening.

[2022-10-11 15:07] githubcdr opened #4879 "[Bug] after upgrading to Kyverno 1.8.0"
### Kyverno Version

1.8.0

### Description

Hi,

After upgrading to Kyverno 1.8.0 I noticed this errors on Kubernetes 1.22.6;

[code]

Kyverno is taking 100% cpu.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository

[2022-10-11 15:07] stefanprodan commented on #4869
@realshuting no, the whole idea is to use Git tags and this Git repos as the source for Flux.

[2022-10-11 15:21] stefanprodan commented on #4869
@eddycharly here is how Flux deploys Kyverno https://github.com/fluxcd/flux2-multi-tenancy/blob/main/infrastructure/kyverno/source.yaml

[2022-10-11 15:24] eddycharly commented on #4869
So basically you're running kustomize yourself and generating the manifest we produce when doing a release right ?

[2022-10-11 15:30] stefanprodan commented on #4869
@realshuting I can't use the Helm chart as it's being versioned differently and we can't use the Git tag from this repo to pull the right chart.

[2022-10-11 15:30] eddycharly commented on #4869
@stefanprodan were you really using the manifests or the kustomization file in `config/release` ?
From what i see in https://github.com/fluxcd/flux2-multi-tenancy/blob/main/infrastructure/kyverno/sync.yaml it looks like you are running the kustomization yourself

[2022-10-11 15:31] realshuting commented on #4869
The Helm Charts are generated from the Git tag, you can match specifically to `kyverno-chart-*` for the kyverno charts.

[2022-10-11 15:37] zswanson commented on #4830
Yes I don't see any need for Event for skips. Its also reported as a prometheus metric.

[2022-10-11 15:38] stefanprodan commented on #4869
@realshuting I don't want to switch from Git to Helm, the whole point was to use this Git repo as the source of truth for Kyveron. I guess that's no longer possible right?

[2022-10-11 15:43] eddycharly commented on #4869
correct, changing the kustomization file every time we cut a release was not very practical, all we need now is a tag, a lot easier.

can't you reference the artifact we upload in the release artifacts directly ? the version is part of the url and does not need to go through kustomize.

Something in the spirit of `kubectl apply -f https://github.com/kyverno/kyverno/releases/download/v1.8.0/install

[2022-10-11 15:59] eddycharly commented on #4869
That's something we can consider for 1.8.1 yes.
Out of curiosity, is this better than the artifact from the release ?

[2022-10-11 15:59] chipzoller commented on #4864
Are you testing with the 1.8.0 CLI?

[2022-10-11 16:03] stefanprodan commented on #4869
From a Flux perspective yes, a random HTTP URL can't be verified in any way, while for OCI artifacts Flux will verify the Cosign signature before upgrading Kyverno in production clusters.

[2022-10-11 16:08] stefanprodan commented on #4869
Thanks I can help out reviewing the CI PR and testing this out.

[2022-10-11 16:10] eddycharly commented on #4869
I expect 1.8.1 to come out soon 🤞

[2022-10-11 16:50] XDRAGON2002 commented on #4864
I'm actually using `go run kyverno\cmd\cli\kubectl-kyverno\main.go` as stated in the docs [here](https://github.com/kyverno/kyverno/wiki/Running-in-development-mode#steps-to-run-kyverno-cli).

[2022-10-11 17:42] chipzoller commented on #4864
Please try with 1.8.0 and compare it against `main`.

[2022-10-11 18:21] developer-guy commented on #4869
I can take over this one ☝️

[2022-10-11 18:24] developer-guy commented on #4869
@realshuting would you mind assigning it to me ? 🙋🏻‍♂️

[2022-10-11 19:19] XDRAGON2002 commented on #4864
Ah, found the problem, this issue only exists when `results[].resources[]` is used, and shows expected behaviour for `results[].resource`.

[2022-10-11 19:39] XDRAGON2002 commented on #4830
@chipzoller @JimBugwadia Should I go ahead and remove the SkipEvents?

[2022-10-11 19:56] eddycharly commented on #4879
@githubcdr your log lines seem to be truncated.

[2022-10-11 19:59] eddycharly commented on #4879
Is it using 100% cpu all the time or just after upgrading ? What is the cluster size ?

From what I see in your logs there are two type of errors:

`E1011 15:02:30.151448       1 logr.go:279] resource-report-controller "msg"="failed to create watcher" "error"="the server could not find the requested resource" "gvr"={"Group":"authorization.k`

Those are coming because some policies target resources

[2022-10-11 20:22] eddycharly commented on #2060
I made recent changes in this area, I will give a look.

[2022-10-11 20:24] eddycharly commented on #2356
@zeborg are you working on this ?

[2022-10-11 20:25] githubcdr commented on #4879
Hi, thanks for your reply.

It's using all CPU all the time, the logs are spammed with this message. The cluster size is 6 nodes running on AKS.

Version 1.7.5 did not have this issue, we deployed the default kyverno policy charts in audit mode.

I removed all policies and clusterpolicies except for the [deprecated-api cpol](https://kyverno.io/policies/best-practices/check_deprecated_apis/check_de

[2022-10-11 20:25] eddycharly commented on #2642
@abhishekghiya did you observe this with recent versions ? There was a lot of changes in this area.

[2022-10-11 20:27] zeborg commented on #2356
@eddycharly - please feel free to work on this. Currently I'm a little occupied with a few PSS and platform-side issues.

[2022-10-11 20:30] eddycharly commented on #4879
[deprecated-api cpol](https://kyverno.io/policies/best-practices/check_deprecated_apis/check_deprecated_apis/) is the offending one this case. Removing it should fix the logs issue.

The 100% cpu looks wrong though, it should consume cpu to perform background scans but it should stabilize at some point.
What are your cpu limits ? Can you check if background scans are continuously updated (`kubectl

[2022-10-11 20:30] JimBugwadia commented on #4830
@XDRAGON2002 - yes, please remove the skipped events from both the webhook and reports.

[2022-10-11 20:36] githubcdr commented on #4879
The Kyverno pod was limited, but taking 100 cpu limit, it was at 200m.

What do we need to do to make the cpol work again? Is this an issue in Kyverno or in the Policy?

[2022-10-11 20:36] #4864 closed

[2022-10-11 20:46] eddycharly commented on #4879
IMHO the policy does not support background scan (resources don't support watch/list). Audit is fine but I don't think background scan can work.

[2022-10-11 20:46] eddycharly commented on #4879
What does `kubectl get bgscanr -A -w` says ? Is there some background activity ?

[2022-10-11 20:55] XDRAGON2002 commented on #4830
Sure @JimBugwadia will work on this.

[2022-10-11 21:25] chipzoller commented on #4830
Need to just double check this doesn't impact CLI tests. `Skip` is a valid result which we want to keep.

[2022-10-11 21:25] eddycharly opened #4889 "[Bug] Event is disallowed from being an owner"
### Kyverno Version

1.8.0

### Description

Event is disallowed from being an owner.
This makes background scan controller trying to attach background scan reports to events but this is not allowed in k8s.

It happens with https://kyverno.io/policies/best-practices/check_deprecated_apis/check_deprecated_apis/

And we observe logs like this:
[code]

### Slack discussion

_No response_

### Trouble

[2022-10-11 21:26] eddycharly commented on #4889
Related to https://github.com/kyverno/kyverno/issues/4879

[2022-10-11 21:46] eddycharly commented on #4771
@ibexmonj Am I right thinking this was fixed in 1.8.0 ?

[2022-10-11 21:48] eddycharly commented on #4755
This will be fixed when https://github.com/kyverno/kyverno/pull/4846 lands in.

[2022-10-11 21:51] eddycharly commented on #4610
@chipzoller was this fixed or the bug still holds ?

[2022-10-11 21:53] eddycharly commented on #4605
I'll give a look tomorrow.

[2022-10-11 23:16] kranurag7 commented on #3598
@aesca1er I think it's working with PCRE regex expression. Any places where you find some expressions are not working? Please let me know. On the implementation notes why we chose this route, I think @chipzoller will be the best person to answer.

[2022-10-12 00:58] ibexmonj commented on #4771
@eddycharly Correct, looks to be fixed in 1.8.0 for the issues i reported.

I noticed the [enhancement](https://github.com/kyverno/kyverno/pull/3890 ) in 1.8.0 release notes and proceeded to test this out. I will share the testing notes i shared with you over DM:

Note: fwiw, I have not been able to confirm the cert renewal

1. Tested on kind clusters version 1.20.15 and 1.23 respectively.
2. Dele

[2022-10-12 04:58] ansalamdaniel commented on #4369
@chipzoller I'm able to verify this issue in my local setup. Installed Kyverno by modifying `values.yaml` using helm. The `policyreports` will be created/updated every 1hr after the background scan. Validation policy is not applied to the namespace mentioned in the ConfigMap.

ConfigMap:
[code]

Controller logs:
[code]

Shell Output:
[code]
IMO I think it shouldn't be generating reports for the ex

[2022-10-12 05:36] #4889 closed

[2022-10-12 06:52] #4205 closed

[2022-10-12 06:52] #4632 closed

[2022-10-12 06:52] #4755 closed

[2022-10-12 07:07] realshuting commented on #4869
The same PAT `CR_PAT_ARTIFACTS` can be used for this.

[2022-10-12 07:19] rurikudo opened #4894 "[Bug] [YAML verification] DryRun option does not work for mutation by Kyverno mutate policy"
cc: @JimBugwadia

### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description
This issue is for cases when users use the DryRun option to validate YAML manifests.
If there is a mutate policy that adds a change to the signed YAML manifest, DryRun option of ManifestVerify feature does not work and signature verification