[2022-10-12 07:46] githubcdr commented on #4879
I see a lot of output, but no activity anymore since I removed the cpol.

[2022-10-12 07:48] eddycharly commented on #4879
Did it help with cpu consumption ?

[2022-10-12 08:00] eddycharly commented on #4771
@ibexmonj thanks for confirming, can we close the issue ?

[2022-10-12 08:14] eddycharly commented on #3464
@realshuting I think we can close this, the old autogen implementation will go away in 1.9.

[2022-10-12 08:19] monotek opened #4898 "[Bug] kyverno metrics - kyverno_policy_rule_info_total - false postive for status_ready alert"
### Kyverno Version

1.7.3 / 1.8.0

### Description

I want to create an prometheus alert, which is triggered when a policy is not ready.

I try to use this query:

[code]

This gives me always two positives even if the output of kubectl shows no unready policies.

[code]

The metrics output itself has 2 occurences of the same metrics with status_ready true and false:

[code]

How can that be fixe

[2022-10-12 08:22] eddycharly commented on #4898
We changed a couple of things in 1.8.0 in this area. Can you try against the new version ?

[2022-10-12 08:23] githubcdr commented on #4879
After removing the deprecated-api cpol things settled indeed. Will this be fixed in Kyverno 1.8.1?

[2022-10-12 08:25] eddycharly commented on #4879
Yes

[2022-10-12 08:26] #3464 closed, assigned to eddycharly

[2022-10-12 08:38] monotek commented on #4898
Update to 1.8.0 now.
Still have the same problem but the metric changed:

[code]

[2022-10-12 09:41] eddycharly commented on #4757
@hackerboy01 could you give this a try when it merges https://github.com/kyverno/kyverno/pull/4904 ?

[2022-10-12 09:53] eddycharly commented on #4894
@rurikudo shall I assign this issue to you ?

[2022-10-12 09:58] rurikudo commented on #4894
yes, thank you.

[2022-10-12 11:58] stefanprodan opened #4907 "[Bug] Releases are not mark correctly as `latest`"
### Kyverno Version

1.8.0

### Description

<img width="1230" alt="Screenshot 2022-10-12 at 14 54 33" src="https://user-images.githubusercontent.com/3797675/195336207-7610f42c-ad0d-448a-8b8c-c4c7e60b9711.png">

As seen in the screen above: 1.7.5 is marked as `latest` when in fact 1.8.0 should've preserved the `latest` tag.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have re

[2022-10-12 12:00] eddycharly commented on #4907
Is there an option for that in goreleaser ?

[2022-10-12 12:10] eddycharly commented on #4907
I'm not sure we can let GH know with release is the latest one. It seems that GH automatically determines the latest release based on tags chronological order.

Do you know if there's a simple way to do that @stefanprodan ?

[2022-10-12 12:15] ibexmonj commented on #4771
All set here after testing with 1.8.0

[2022-10-12 12:15] #4771 closed

[2022-10-12 12:38] stefanprodan commented on #4907
Looks like you need to re-push v1.8.0 then edit the release notes, on save GH will mark it as latest... Really nasty workaround, going to close this as it's not something that can be automated.

[2022-10-12 12:38] #4907 closed

[2022-10-12 14:17] #4866 closed

[2022-10-12 14:55] knechtionscoding opened #4909 "[Feature] Allow for Image Verification via GPG keys as well"
### Problem Statement

Being able to sign with cosign is useful, but plenty of places sign their images with gpg keys and then have kyverno verify with the public key would be incredibly useful.

### Solution Description

A set of rules around gpg similar to the cosign rules around verifyImages.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No resp

[2022-10-12 16:49] eddycharly commented on #4762
@pealtrufo if you can test with 1.8.0 it would be great.

[2022-10-12 16:50] eddycharly commented on #4597
Closing, this was implemented in 1.8.0.

[2022-10-12 16:50] #4597 closed

[2022-10-12 16:51] eddycharly commented on #3942
Closing, there's no more force reconciliation in 1.8.0.

[2022-10-12 16:51] #3942 closed

[2022-10-12 16:53] eddycharly commented on #2666
Closing, reports are now owned by the resource itself, the lifecycle is guaranteed to be the same.

[2022-10-12 16:53] #2666 closed

[2022-10-12 17:04] eddycharly commented on #3190
@patelrit this changed in 1.8.0. Background scans apply to every resource in the cluster, we don't filter resources anymore during background scans.

The reason for filtering was to prevent downtimes by protecting system namespaces, this didn't really apply to background scans so we decided to remove the filtering completely when doing background scans.

[2022-10-12 17:06] eddycharly commented on #1986
@hans-d background scans are now real time in 1.8.0.

[2022-10-12 17:08] eddycharly commented on #1921
@fjogeleit I think we can close this issue, background scans are implemented very differently in 1.8.0.
Can you please try with the new version and confirm ?

[2022-10-12 17:10] eddycharly commented on #4625
@HighWatersDev It looks like you managed to solve the problem. Can we close the issue or is there anything else we should do on our side ?

[2022-10-12 18:26] XDRAGON2002 commented on #3262
@chipzoller I would like to take this up if noone else is working on it.

[2022-10-12 18:49] fjogeleit commented on #1921
Hey, sure. I will test it next weekend

[2022-10-12 18:50] eddycharly commented on #3190
@patelrit can we close this issue or is there anything left to do ?

[2022-10-12 19:02] patelrit commented on #3190
Closing this issue

[2022-10-12 19:02] #3190 closed

[2022-10-12 20:14] #4787 closed

[2022-10-12 22:49] monotek commented on #4879
We had problems on AKS with 1.8.0 too.
Kyverno is installed via Helm.

After a while a lot of cpu (~4) and ram (up to ~5Gi) were used by kyverno.
Also the k8s api started to become unresponsive, letting all our operators (cert-manager, istio, fluxcd etc.) crashloop.

The following rules, from the examples, have been used:
- check-deprecated-apis
- disallow-host-ports
- disallow-host-path
- block-s

[2022-10-13 03:01] JimBugwadia commented on #4592
Reopening as we are still seeing sbom and signatures in the kyverno/kyverno repository

[2022-10-13 03:53] hackerboy01 commented on #4757
Sounds good, I will give this a try.

[2022-10-13 05:06] hackerboy01 commented on #4757
![image](https://user-images.githubusercontent.com/7829540/195505416-5926b34f-ef7a-44ad-abe8-fb1a03495bb8.png)
It works very well, server name is supported as expected.

[2022-10-13 05:54] eddycharly commented on #4879
Sorry for that @monotek !

check-deprecated-apis has issues can you set background to false and see if it helps ?

5 gigs of mem is huge. How large is your cluster ?

[2022-10-13 06:06] realshuting commented on #1834
The main goal of doing this is to reduce the report size. Since we've made several efforts in 1.8.0 I think we can close this one.

[2022-10-13 06:06] #1834 closed

[2022-10-13 06:54] developer-guy commented on #4592
Hey @JimBugwadia, this PR could solve that issue:

_https://github.com/kyverno/kyverno/pull/4922_

[2022-10-13 07:01] eddycharly commented on #1986
Closing, please reopen if there's anything left to do.

[2022-10-13 07:01] #1986 closed

[2022-10-13 07:04] realshuting commented on #4757
Thanks @hackerboy01 for helping us verify. Excellent work @eddycharly !

[2022-10-13 07:08] shahpratikr commented on #4330
@chipzoller I am not able to reproduce this issue. Please see following testing done.
Sign image with cosign
[code]
Policy:
[code]
Resource creation:
[code]
Controller logs:
[code]
Cosign version
[code]
are these the correct steps? if not, can you please provide correct steps?

[2022-10-13 07:10] realshuting commented on #2060
I'm running 3 Kyverno instances locally and the metrics are registered fine for me, using 1.8.0.

[2022-10-13 07:13] eddycharly commented on #4613
@zswanson I remember I proposed to cache config maps based on a label.
Caching every configmaps seems wasteful, we could cache configmaps that have a specific label only.
WDYT ?

[2022-10-13 07:14] realshuting commented on #4609
It was addressed via https://github.com/kyverno/kyverno/pull/4710.

[2022-10-13 07:20] eddycharly commented on #4225
@realshuting where are we at with this ? can we fix it in 1.8.1 ?

[2022-10-13 07:24] realshuting commented on #4225
Haven't started on this yet. I'll verify this again with 1.8.0 and see if the issue preserves.

[2022-10-13 07:33] monotek commented on #4879
We had the problem on 4 clusters.
They have from 20 to 50 nodes.

I'll test it again today on the dev cluster, with all rules set to "background: false".

[2022-10-13 07:37] eddycharly commented on #4879
@monotek you can disable background scans entirely by passing `--backgroundScans=false` if necessary.

Still check-deprecated-apis has multiple issues that will be fixed in 1.8.1:
- it tries to apply background scans to resources that don't support list/watch operations
- it tries to apply background scans to `Event`s which is not allowed by the api server

[2022-10-13 07:38] eddycharly commented on #4879
The most critical metric is the number of pods in your case.
When I was load testing the new report system kyverno used around 500 megabytes of memory for 10K pods.

[2022-10-13 08:02] monotek commented on #4879
In our largest cluster we have 1051 pods which also was the one with the highes kyverno load.
Before kyverno and the other operators started crashlooping only around ~700Mi were used throughout the day.
While crashlooping we saw spikes up to 5Gi.

[2022-10-13 08:11] prateekpandey14 commented on #1942
fixed in https://github.com/kyverno/kyverno/pull/4041

[2022-10-13 08:11] #1942 closed

[2022-10-13 08:32] #4830 closed

[2022-10-13 09:13] eddycharly commented on #4870
Thanks for reporting, I'm going to look at it!

[2022-10-13 09:18] eddycharly commented on #3880
@realshuting is this still relevant with the report system changes ?

[2022-10-13 09:20] klubi commented on #2700
Hi
Any chance this will be implemented?
This would greatly improve mu use case where I use kyverno cli to test resources against policies.
Without this I'm unable to test ReplicaSet manifests (maybe there is a way... but I wasn't able to find it).

And yes, I have a case where using ReplicaSet is needed, and I can't yet switch to Deployment.

[2022-10-13 09:25] prateekpandey14 opened #4930 "[Bug] Update on source resource not synchronised with CloneList feature"
### Kyverno Version

1.8.0

### Description

We have added a multiple clone support feature with Kyverno 1.8.0 release. To keep the resources synchronized across changes, you can use the synchronize property. When synchronize is set to true, the generated resource is kept in-sync with the source resource, which is not working when we use the multiple clone feature using CloneList parameter in Poli

[2022-10-13 09:31] eddycharly commented on #2700
I'll give it a try, no promise though.

[2022-10-13 09:56] ybelMekk commented on #4870
Same same but different cluster name 🐛

[2022-10-13 09:58] eddycharly commented on #4870
FYI this bug was added in the 1.8.1 milestone with high priority.
We are planning to release an RC for 1.8.1 early next week.

[2022-10-13 10:16] #4473 closed

[2022-10-13 11:05] chipzoller commented on #4870
For those that need a quick fix here, change the preconditions key to look like this:

[code]

[2022-10-13 11:33] monotek opened #4937 "[Bug] [CLI] "flag provided but not defined: -loggingFormat" if other extraArgs are used"
### Kyverno CLI Version

1.8.0

### Description

I install Kyvern 1.8.0 via Helm chart 2.6.0.

When i add additional extraArgs the container crashloops, with:

"flag provided but not defined: -loggingFormat"

This happens even if the default of the values work, where loggingFormat is used.

### Steps to reproduce

Use extraArgs value in the helm charts values.yaml like:

[code]

### Expected behav

[2022-10-13 11:35] shahpratikr commented on #4655
@chipzoller @victorgetz I was able to fix the issue. But for unit and e2e tests is it okay if I use the same resource and policy as provided in the description or is there any public image available for unit and e2e tests?

[2022-10-13 11:36] chipzoller commented on #4937
The `loggingFormat` flag represents a feature still in development and unreleased. It should be available in 1.9.0. Closing as this will naturally resolve itself once the feature is available.

[2022-10-13 11:36] #4937 closed

[2022-10-13 11:38] chipzoller commented on #4655
We have a number of test images in the Kyverno org including a `test-verify-image` which has been signed. https://github.com/orgs/kyverno/packages

[2022-10-13 11:56] monotek commented on #4879
Seems setting --clientRateLimitQPS=20 & --clientRateLimitBurst=50 helped mititgate the problem.

Background scanning is enabled again.

Also set failurePolicy to "ignore" in all rules, to be on the save side should the deployment crashloop again.
By the way it would be nice if "--failurePolicy" could be set globally via command line parameter too (like "--backgroundScan").

[2022-10-13 12:02] chipzoller commented on #4930
We also need an issue to track adding automated tests for this.

[2022-10-13 12:56] ianlewis commented on #4847
For reference sigstore policy controller groups "attestations" under "authorities"

https://github.com/sigstore/policy-controller#configuring-policy-that-validates-attestations

[2022-10-13 13:21] shahpratikr commented on #4655
But to simulate this issue, we will need some image from docker as we are setting `docker.io` as a registry by default. so instead of `docker.io/nginx:latest`we will need to replace `docker.io/<account>/nginx:latest` right?

[2022-10-13 13:27] chipzoller commented on #2582
@Vishal-Chdhry are you still working this issue?

[2022-10-13 13:30] Vishal-Chdhry commented on #2582
Yeah! Actually after I looked at the original PRs submitted, I realised that a lot of restructuring has been done

just to be sure, I only have to make changes in V1 files right?

[2022-10-13 13:35] pacokleitz opened #4941 "[Bug] YAML kubectl apply upgrade to 1.8"
### Kyverno Version

1.8.0

### Description

When trying to upgrade from Kyverno 1.6 to 1.8 using the `install.yaml` file, the `kubectl apply` command gives an error for two CRD resources.
The ClusterPolicies and Policies CRDs have a yaml file definition too long to be applied using kubectl apply (because of the kubernetes `last-applied-configuration` annotation size limitation, see https://github

[2022-10-13 13:40] JimBugwadia commented on #4613
Using labels and caching specific ConfigMaps would work and is easy to implement. This may be a good way to start.

An alternative would be to add a `cache: true` declaration in the variables declaration?

[code]

Internally, we can use a watcher and a in-memory cache. We can expose other cache parameters as well, if needed.

We have also had prior requests to cache API call results; see https://g

[2022-10-13 13:43] chipzoller commented on #4941
We've seen this reported with the Helm chart as well for the same reason. The CRDs are too large to be applied using `kubectl apply`. There's a section [here](https://kyverno.io/docs/installation/#notes-for-argocd-users). Also, installation/upgrade using the raw manifest we call out [here](https://kyverno.io/docs/installation/#install-kyverno-using-yamls) as unsupported for production.

[2022-10-13 13:44] chipzoller commented on #2582
No, you're going to have to make them in v2beta1 as well.

[2022-10-13 13:45] chipzoller commented on #3411
This needs milestone assignment. 1.9.0?

[2022-10-13 14:03] #4870 closed

[2022-10-13 14:09] chipzoller commented on #4870
This will be fixed in Kyverno 1.8.1 but for prior versions we will update the Pod Security Standards and other samples and issue a new Helm chart release using the workaround method shown above.

[2022-10-13 14:50] eddycharly commented on #4250
Neither `name` or `names` seem to work for me 🤔

[2022-10-13 15:06] eddycharly commented on #4250
I think the problem is that we are considering only the resource `name`, but in this case `generateName is used`.

[2022-10-13 15:06] monotek commented on #4941
Workaround would be to use server side apply with kubectl:

[code]

[2022-10-13 15:12] chipzoller commented on #4941
Yes, SSA also fixes this.

[2022-10-13 15:12] #4941 closed

[2022-10-13 16:02] #4250 closed

[2022-10-13 17:01] eddycharly commented on #4316
@JimBugwadia will you have time look at it ?

[2022-10-13 17:04] eddycharly commented on #2153
We need a separate issue for that, currently it works as expected.

[2022-10-13 17:05] eddycharly commented on #2642
Closing, this was vastly improved and 1.8, this should not happen anymore, please reopen or create another issue if you observe errors again with 1.8+

[2022-10-13 17:05] #2642 closed

[2022-10-13 17:52] shahpratikr commented on #4655
/assign

[2022-10-13 18:23] chipzoller commented on #4655
@shahpratikr It really doesn't matter what registry you use. If you look in the initial post at the regex string, it is `.*(.*)/`. The full filter expression is `regex_replace_all_literal('.*(.*)/', '{{element.image}}', 'iits/' )`. This will, for example, replace the input image `ghcr.io/kyverno/test-image:1.1.1` with `iits/test-image:1.1.1`. The objective of this issue is to internally evaluate a

[2022-10-13 19:02] shahpratikr commented on #4330
Latest. Ran these from main branch

[2022-10-13 21:52] fastlorenzo commented on #4265
Still applicable for 1.8.0

[2022-10-13 21:56] JimBugwadia commented on #4265
@prateekpandey14 - is there any reason to not delete completed URs?

[2022-10-13 22:45] eddycharly commented on #4625
I will close this issue as it looks like it was not caused by Kyverno.

@HighWatersDev please reopen if it happens again.

[2022-10-13 22:45] #4625 closed

[2022-10-13 22:48] eddycharly commented on #2011
This change was done a while ago.
Closing this issue, please reopen if there's anything left to do.

[2022-10-13 22:48] #2011 closed

[2022-10-13 22:52] eddycharly commented on #2069
It will be _fixed_ in 1.8.1.
We will print an error in the logs but won't try to list/watch if the operation is not permitted.

[2022-10-13 23:07] fastlorenzo opened #4955 "[Bug] Webhook API version hard-coded to v1beta1"
### Kyverno Version

1.8.0

### Kubernetes Version

1.25.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

Cluster running rke2 (v1.25.2+rke2r1).

The following policy makes the mutation webhook deny the creation of any pods since upgrading from K8S 1.24 to 1.25:

[code]

The short version of the error is `"msg"="mutation failed" "error"="m

[2022-10-13 23:11] chipzoller commented on #4955
@eddycharly as we're already claiming support for K8s 1.25 due to e2e success, is this something that slipped through?

[2022-10-13 23:25] chipzoller commented on #3879
@mritunjaysharma394 you are assigned here. What is the status of this issue, please?

[2022-10-13 23:57] chipzoller commented on #4547
Closed in #4735

[2022-10-13 23:57] #4547 closed

[2022-10-14 00:00] chipzoller commented on #3753
@anushkamittal20 are you still working on this issue?

[2022-10-14 00:04] chipzoller commented on #4879
@eddycharly need your help to curate labels on this issue, please.

[2022-10-14 00:26] XDRAGON2002 commented on #3262
@chipzoller @realshuting So working on this issue, I have spent hours debugging things and have gone through most (if not all) of the control flow and codebase trying to figure this out, here is what I've found.

Here is a output log from running the test with `latest` tag:
[code]
Now here is a output log from running the test without any tag:
[code]
Both are exactly the same and both have the tag

[2022-10-14 01:18] chipzoller commented on #3262
@XDRAGON2002 first of all, thanks for your time in researching this issue. I have tested on the Kyverno CLI v1.8.0 and narrowed down the issue. The problem here seems to be in how the CLI is handling this internal replacement when it comes to Pod controllers. If you look at the initial post, the problem was logged when testing a Deployment. When I test using a Deployment and a Pod (which are other

[2022-10-14 02:23] ghost opened #5199 "[Bug] API call context var inconsistently resolved when policy in `audit` mode"
### Kyverno Version

1.7.4

### Kubernetes Version

1.24.x

### Kubernetes Platform

Other (specify in description)

### Description

when use the unique-ingress-host policy and create a ingress,

I see a fail report message

"The Ingress host name must be unique."

but my ingress host name is unique

### Steps to reproduce

1.Create and apply the Policy
[code]
2.Create and apply the Ingress
[code

[2022-10-14 02:55] manhtukhang opened #4956 "[Bug] [CLI] [Test] Auto-gen rules can not get variables from test input values"
### Kyverno CLI Version

1.8.0

### Description

When using apiCall variable in `preconditions`, auto-gen rules can not get variables from test input values and return `error` to test's result

### Steps to reproduce

### 1. Define policy and test resources:
- Policy (policy.yaml):
[code]

- Resources (resource.yaml):
[code]

- Test input values (values.yaml):
[code]

- Test cases (kyverno-test.ya

[2022-10-14 04:47] james-callahan commented on #4375
FWIW we're currently working around this by doing:
[code]

This ends up skipping any policy with `validationFailureActionOverrides` set, so it's quite imperfect.

Having this as an in-built feature would be pretty useful.

[2022-10-14 05:39] #4433 closed

[2022-10-14 05:55] eddycharly commented on #4955
We are reading the admission review with v1.

@fastlorenzo how are you creating your pod ?

[2022-10-14 06:05] fastlorenzo commented on #4955
@eddycharly the example failing was changing replicas on a deployment (put to 0 to remove all pods, then failing when bringing it back up with 1 replica or more)

[2022-10-14 06:09] eddycharly commented on #4955
Could it be because the pod is created with`generateName` instead of `name` ?

[2022-10-14 06:10] eddycharly commented on #4955
I fixed this yesterday https://github.com/kyverno/kyverno/pull/4945

[2022-10-14 06:13] fastlorenzo commented on #4955
Could be, which kyverno container version can I apply to test your fix and validate this is the root cause or not?

[2022-10-14 06:14] eddycharly commented on #4955
`latest` should contain my change

[2022-10-14 06:15] eddycharly commented on #4955
But if you’re using `name` in jmespath and the pod uses `generateName` it won’t help. You need to take that into account in your jmespath query.

[2022-10-14 06:16] fastlorenzo commented on #4955
Great, will try tonight and let you know

[2022-10-14 06:24] eddycharly commented on #4955
FWIW we were planning to switch to v1 in 1.9.
It’s not as simple as changing the version, we need to do it gracefully when upgrading.

[2022-10-14 07:10] eddycharly commented on #4898
Moving to 1.8.2.

[2022-10-14 07:11] eddycharly commented on #2060
Closing, it looks like the issue is fixed now. Please reopen if it's not the case.

[2022-10-14 07:11] #2060 closed

[2022-10-14 07:17] eddycharly commented on #4316
I will take a look.

[2022-10-14 07:35] roldyxoriginal opened #4959 "[Bug] kyverno metrics generates too much information (kyverno_policy_execution_duration_seconds_bucket)"
### Kyverno Version

1.7.3

### Description

The problem is the amount of information returned by /metrics. For example:
`
curl 127.0.0.1:8000/metrics |grep -c kyverno_policy_execution_duration_seconds_bucket
43200
`
This causes prometheus to grow too large.
In my opinion, it can be fixed or it can be enabled or not from the configuration.
Kubernetes version 1.21, GKE.

### Slack discussion

_No r

[2022-10-14 07:37] eddycharly commented on #4959
Thanks for opening this issue @roldyxoriginal
We will address this in 1.8.2.

[2022-10-14 07:44] prateekpandey14 commented on #4265
We are keeping the completed URs to perform the synchronisation if there is any update in source resource. For any update UR status gets updated with Pending state and then Completed once the sync operation is done.

[2022-10-14 08:13] prateekpandey14 commented on #3642
Closing, duplicate https://github.com/kyverno/kyverno/issues/4140

[2022-10-14 08:13] #3642 closed

[2022-10-14 08:32] monotek commented on #4762
The policy report is also kept if the policy itself is deleted in 1.8.0.
Wanted behaviour?

[2022-10-14 08:33] Vishal-Chdhry commented on #2582
@chipzoller There used to be a `ExcludeResources` struct as well like `MatchResources`: https://github.com/kyverno/kyverno/blob/56d90888e07615898692af0d8821d6e827957a76/api/kyverno/v1/match_resources_types.go#L10 I cant find it anywhere

[2022-10-14 08:34] eddycharly commented on #4762
There was a case where cleanup was not correctly implemented, it has been fixed in 1.8.1

[2022-10-14 08:35] eddycharly commented on #4762
@monotek if you're on a dev cluster you can try `latest` image, it should contain most of the fixes.
1.8.1 RC is coming soon, probably on Monday.

[2022-10-14 09:00] JoDongHyuen opened #4963 "[Feature] Add turn off the warning message when preconditions not met"
### Problem Statement

I want to turn off the warning message when preconditions not met
because I concern that so many warning messages are created when I apply more policies

### Solution Description

1. I think add new yaml field for turn off the warning message
[code]

2. and I want to modify the warning message to custom message

### Alternatives

_No response_

### Additional Context

_No re

[2022-10-14 09:15] eddycharly commented on #2582
@Vishal-Chdhry they are the same type.

[2022-10-14 09:40] #4530 closed

[2022-10-14 10:15] eddycharly opened #4965 "[Bug] reports with 0 results are created"
### Kyverno Version

1.8.0

### Kubernetes Version

1.25.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description

Reports with 0 results are created, this useless and generates quite some noise in the cluster.

### Steps to reproduce

1.  create the following policy
[code]

2. observe cadmr reports
[code]

### Expected behavior

No reports are generated when their is no

[2022-10-14 11:49] franroa opened #4968 "[Bug] Kyverno is not aware of namespace relabeling"
### Kyverno Version

1.8.0

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Mutate

### Description

I'm trying to change the nodeSelector of my Pods going by a label on the namespace they reside in.
My problem is that kyverno is not aware of the namepace relabeling.

### Steps to reproduce

1. I have this two policies:

[code]

[code]

### Expected behavior

I

[2022-10-14 12:16] chipzoller commented on #4956
Thank you for the detail you have provided in this issue! It greatly helps us understand the problem.

@vyankyGH can you please look into this? It may be related to #3262 with respect to autogen.

[2022-10-14 12:48] #4869 closed

[2022-10-14 13:10] franroa commented on #4968
Note: I already tried with the mutate existing on policy update flag

[2022-10-14 13:23] PeterBennink commented on #3295
Could we get an update on this, please?

[2022-10-14 14:03] chipzoller commented on #4968
The policies you're showing aren't designed to mutate existing resources, and merely setting the `mutateExistingOnPolicyUpdate` is not sufficient either. You'll need to define the `targets[]` object as show in the [documentation](https://kyverno.io/docs/writing-policies/mutate/#mutate-existing-resources). Closing as this is likely not a bug, but feel free to respond here or come to #kyverno in Kub

[2022-10-14 14:03] #4968 closed

[2022-10-14 14:07] chipzoller commented on #3295
There were some significant changes in 1.8.0 which may have addressed this.

[2022-10-14 14:09] chipzoller commented on #4963
This was an accidental regression and is being addressed in Kyverno 1.8.1.

[2022-10-14 14:09] eddycharly commented on #4083
It was fixed in https://github.com/kyverno/kyverno/pull/4922

[2022-10-14 14:11] eddycharly commented on #4253
@aslafy-z can you provide sample policies ?

[2022-10-14 14:43] pealtrufo commented on #4762
HI @eddycharly

I could test 1.8.0 and can confirm that policy reports are deleted now once the violating pods/deployments are deleted 👍

I can also confirm the issue where policyreports are still kept even when the policy has been deleted, as per @monotek comment above.

I also noticed a couple of things I am not sure they're expected behaviour according to current documentation:
- Excluded names

[2022-10-14 14:48] eddycharly commented on #4762
@pealtrufo Thanks for confirming !

Excluded namespaces don't apply to background scans, only for admission reports. Excluded namespaces are primarily designed to prevent a cluster from becoming unresponsive when kyveno is in trouble. This doesn't apply to background scans. Hence reports generated by background scans cover the whole namespace.

Every resource analysed has a report attached. Deploy

[2022-10-14 14:58] pealtrufo commented on #4762
Thanks @eddycharly

Just to confirm, this is something that is different now in 1.8.0, right? I have another cluster with 1.7.3 and behaviour is different.

Thanks

[2022-10-14 15:02] eddycharly commented on #4762
@pealtrufo yes this is different, it's a decision we took while creating the new system.
It didn't make sense to us to exclude resources from background scan as the risk to get an unresponsive cluster does not apply (which is the primary reason for filtering admission requests).

[2022-10-14 15:08] aslafy-z commented on #4253
Just updated OP with an example policy.

[2022-10-14 15:13] chipzoller commented on #4762
We still need to update docs with the current state of Policy Reports. I'll create an issue to track.

[2022-10-14 15:20] #2069 closed

[2022-10-14 15:20] monotek opened #4983 "[Bug] policies/best-practices/require_probes always fails"
### Kyverno Version

1.8.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

CLI run of kyverno always failes on [policies/best-practices/require_probes](https://github.com/kyverno/policies/blob/main/best-practices/require_probes/require_probes.yaml)

It's also non deterministic, as multiple runs have slightly different results. Once it fails for the readiness probe a

[2022-10-14 15:20] prateekpandey14 commented on #4265
@fastlorenzo can you try and see if the issue gets reproduced with this image `ghcr.io/prateekpandey14/kyverno:4265`

[2022-10-14 15:41] fastlorenzo commented on #4955
@eddycharly FYI I've tried with `latest`but the issue is still there.

This is the policy I'm using:

[code]

Is it possible that as you said `generateName` is used instead and `patchStrategicMerge` requires `name` to identify the resource?

[2022-10-14 15:55] #4965 closed

[2022-10-14 16:03] eddycharly commented on #4762
@pealtrufo can we close the issue ? We will create a new one for the docs.

[2022-10-14 16:08] eddycharly commented on #4955
try with:
[code]

[2022-10-14 16:15] eddycharly commented on #2700
I hacked a quick prototype here https://github.com/kyverno/kyverno/pull/4975

[2022-10-14 16:16] pealtrufo commented on #4762
@eddycharly, yeah, happy with that although there's still the bit pending to be fixed in 1.8.1 raised by @monotek. Not sure if it would be more appropriate adjusting the title of the issue to "Policy reports are not removed once violating pods or policies are deleted".

Would you mind referencing this issue in the new one you create for the docs?

Thanks!

[2022-10-14 16:17] eddycharly commented on #4253
Thanks @aslafy-z !

I will take a look shortly, no promise though.

[2022-10-14 16:20] eddycharly commented on #4762
Here it is https://github.com/kyverno/website/issues/655

[2022-10-14 16:21] eddycharly commented on #4762
Closing, the issue raised by @monotek has also been fixed and will be in 1.8.1.

Thanks for bringing those issues to our attention, it helps a lot improving our report system !

[2022-10-14 16:21] #4762 closed

[2022-10-14 16:23] eddycharly commented on #4894
@rurikudo any progress so far ?
Do you need help on this, ideally we would like to get this fixed next week to go in 1.8.1. Does it seem feasible ?

[2022-10-14 16:26] eddycharly commented on #4879
`--clientRateLimitQPS=20 & --clientRateLimitBurst=50` seems a good ration (100/100 was a bit aggressive).
Let's keep this issue open and see how things go in 1.8.1 🤞
@monotek will you be able to test an RC ? (on a dev cluster)

[2022-10-14 16:27] eddycharly commented on #4879
@chipzoller I've set the priority to medium based on the fact that everything should have been already implemented to fix this issue.

[2022-10-14 16:29] eddycharly commented on #4613
@JimBugwadia the issue I see with `cache: true` is that we can hardly ask a watch stream to the apiserver.

[2022-10-14 16:30] fastlorenzo commented on #4955
Thanks, I did more debugging and apparently the `name` field is only generated after the mutation webhook is called, and before the validation one.

You example works but would not give me the full pod name, which in my case is an issue as this is used as a selector in other part of the cluster.

I managed to fix it by applying the following:

[code]

This would take the `name` field if it exists,

[2022-10-14 16:32] eddycharly commented on #4955
It looks a bit risky at first sight but if it works 👍
Closing, please reopen or create a new issue if needed.

[2022-10-14 16:32] #4955 closed

[2022-10-14 16:47] JimBugwadia commented on #4868
Hi @james-callahan - this is an interesting idea. Do you have an example of how you would want to use this i.e. which controls you would want to include / exclude?

[2022-10-14 16:59] pealtrufo opened #4977 "[Bug] verifyImage policy in audit mode does not generate policy report"
### Kyverno Version

1.8.0

### Description

Hi

I have noticed that policy reports are not generated for verifyImage policy violations.

Using samples provided here: https://kyverno.io/docs/writing-policies/verify-images/#verifying-image-signatures
and changing policy mode to audit, it doesn't generate a policy report for the unsigned image. When in enforce mode, the creation of the pod with the

[2022-10-14 17:07] monotek commented on #4879
Yes, i can :)

But i've deleted most of the existing CRs in our dev cluster, as suggested in: https://kubernetes.slack.com/archives/CLGR9BJU9/p1665666355699159

Hope it helps anyway :)

[2022-10-14 17:09] eddycharly commented on #4879
👍
We will cut RC1 on Monday, let’s talk once it’s done.

[2022-10-14 17:11] monotek opened #4979 "[Feature] create command line option to set failurePolicy globally"
### Problem Statement

It would be nice if "failurePolicy" could be set to "ignore" or "fail" globally, by adding it as command line parameter, which overwrites the setting in all policys.

So same as it already works for "--backgroundScan".

### Solution Description

Add "--failurePolicy" command line parameter.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack di

[2022-10-14 17:14] Arjun-D7 opened #4980 "[Bug]"
### Kyverno Version

1.8.0

### Kubernetes Version

1.23.x

### Kubernetes Platform

OpenShift

### Kyverno Rule Type

Other

### Description

Installation failed with the error: Error creating: pods "kyverno-65967c6856-" is forbidden: unable to validate against any security context constraint

message: 'pods "kyverno-94777b9dd-r8gp9" is forbidden: unable to validate against
      any security con

[2022-10-14 17:14] rurikudo commented on #4894
This issue will be fixed by the PR https://github.com/kyverno/kyverno/pull/4899.
Could you please review it?

[2022-10-14 17:27] brian-provenzano opened #4981 "[Feature] Helm chart - enable optional annotations on the configmaps"
### Problem Statement

I would like the ability to specify annotations for the configmaps (configmap and metricsconfigmap) in values.yaml.

Why - when deploying with Spinnaker, the tool versions the configmap names (eg. <configmapname>-v000, etc), causing issues with kyverno using the configmap in the deployment. Spinnaker allows you to disable this behavior by specifying an annotation `strategy.s

[2022-10-14 17:33] eddycharly commented on #4981
Thanks @brian-provenzano for opening this issue !

Do you want to contribute the change ?

[2022-10-14 17:34] brian-provenzano commented on #4981
Sure I can do that

[2022-10-14 17:35] eddycharly commented on #4979
Thanks @monotek for opening this issue !

I assigned the `good-first-issue` label if someone wants to give it a try.

[2022-10-14 17:36] eddycharly commented on #4981
Ok, I will assign it to you.

[2022-10-14 17:40] eddycharly commented on #4980
Thanks @Arjun-D7 for opening this PR.

Can you provide more details to reproduce ? Is this something we can reproduce without having access to an openshift cluster ?

[2022-10-14 18:03] eddycharly commented on #4980
@Arjun-D7 can you update the issue description to be more meaningful please ?

[2022-10-14 18:06] eddycharly commented on #4977
@pealtrufo did it work in 1.7 ?

I mean is it a bug or a feature request ?

cc @chipzoller

[2022-10-14 18:11] eddycharly commented on #4517
@tomsucho did you install this policy https://kyverno.io/policies/best-practices/check_deprecated_apis/check_deprecated_apis/ ?

[2022-10-14 18:13] eddycharly commented on #4496
Closing, situation will be improved in 1.8.1 by this PR https://github.com/kyverno/kyverno/pull/4912
Please reopen or create a new issue if the problem persists after upgrading.

[2022-10-14 18:13] #4496 closed

[2022-10-14 18:15] eddycharly commented on #4412
@Dentrax @developer-guy is there something you are waiting from us here ?

[2022-10-14 18:25] XDRAGON2002 commented on #4979
Hi, can I take this up?

[2022-10-14 18:26] eddycharly commented on #2709
I would be interested on working on this. But I don’t have access to the necessary infrastructure for that.

[2022-10-14 18:29] pealtrufo commented on #4977
Hey @eddycharly
This works ok in 1.7.3

Thanks

[2022-10-14 18:44] chipzoller commented on #4980
This is not a bug. The installation must be customized in the case of some OpenShift deployments to allow SCC to enforce controls. When installing with Helm, set the flag `securityContext=null`. This is covered in [this comment](https://github.com/kyverno/kyverno/issues/4118#issuecomment-1179648175) by a member of the Red Hat team. I will also add a note to the docs for other users to find it.

Cl

[2022-10-14 18:44] #4980 closed

[2022-10-14 18:46] chipzoller commented on #4118
Closing this issue and adding a note to the docs.

[2022-10-14 18:46] #4118 closed

[2022-10-14 18:58] eddycharly commented on #4977
Ok, let's add that to 1.8.2, I don't think we can make it in 1.8.1.

[2022-10-14 19:00] eddycharly commented on #4979
@XDRAGON2002 sure, the challenge is to propagate user choice here. I think we can reuse what is in the `toggle` package and extend that to support `string`s.

Shall I assign it to you ?

[2022-10-14 19:15] eddycharly commented on #897
@realshuting let's do that, I recently worked with crd sync controller and I was thinking the same.
It will not address api services though, maybe we can watch that too ?

[2022-10-14 19:18] eddycharly commented on #1334
@yimikao I will assign it to you.

[2022-10-14 19:19] chipzoller commented on #4977
@eddycharly let's make sure we label all such regressions with the `regression` label. These get the highest priority.

[2022-10-14 19:20] chipzoller commented on #2709
Shouldn't be a big deal to set this up in AWS.

[2022-10-14 19:24] Boojapho commented on #4391
I tested this in 1.8.0 and it appears to be fixed.  The replicas are steady at around 135MB of memory under the stress testing.

![image](https://user-images.githubusercontent.com/9620318/195926048-2dfe98bd-5168-4a7a-a3de-925c83bb4f9d.png)

[2022-10-14 19:24] #4391 closed

[2022-10-14 19:27] XDRAGON2002 commented on #4979
Sure! I would like to try and resolve this.

[2022-10-14 19:37] chipzoller commented on #1334
@yimikao must respond in this issue to be eligible for assignment.

[2022-10-14 19:40] yimikao commented on #1334
/assign

[2022-10-14 19:40] yimikao commented on #1334
@eddycharly

[2022-10-14 19:43] chipzoller commented on #4983
In this example, the policy being used is looking for the field `spec.containers[].livenessProbe.periodSeconds` with a value of greater than `0`. Same thing with readinessProbes. Your example StatefulSet has neither of these fields so its failure is a correct response.

[2022-10-14 19:44] fastlorenzo commented on #4265
@prateekpandey14: tried it and still getting the issue.

Below an extract of the logs (continues spamming like that for a while):

[code]

When I delete all 3 Kyverno pods manually, everything comes back to Completed when they come back up.

[2022-10-14 19:45] chipzoller commented on #4066
No response. Closing.

[2022-10-14 19:45] #4066 closed

[2022-10-14 20:13] monotek commented on #4983
Oh, thanks  how could I not see that :D

Nevertheless the policy could be changed a bit as period seconds would be the default of 10 here.

I'll check Monday If I can come up with some workaround in Monday and create a PR :)

[2022-10-14 20:18] chipzoller commented on #4983
Ok, thanks. I'll go ahead and close this issue since it's not really a bug on either part of Kyverno or the policy itself. Happy to review a policy PR over on kyverno/policies.

[2022-10-14 20:18] #4983 closed

[2022-10-14 21:59] chipzoller commented on #4436
@chetak123 are you still working on this?

[2022-10-14 22:14] chipzoller commented on #4592
Closed as completed.

[2022-10-14 22:14] #4592 closed

[2022-10-15 02:44] james-callahan commented on #4868
As I mentioned in the OP, I'd like to make exceptions for specific namespaces/workloads.

e.g. allow `hostPath`, but only for pods with label `app.kubernetes.io/name=promtail` in the `loki` namespace.

My current thinking to do this is by creating these rules:
1. general cluster-wide default rule that with `exclude: namespace: loki` and no include/exclude
2. namespace-specific rule that excludes t

[2022-10-15 10:15] monotek commented on #4983
Done: https://github.com/kyverno/policies/pull/428

And sorry for raising this in wrong repo.
Should have gone to the plocies repo in the feist place.

[2022-10-15 11:24] chipzoller commented on #4983
You did, but I moved it to kyverno/kyverno.

I'll take a look at your PR.

[2022-10-15 11:34] chipzoller commented on #4868
To me, using this podSecurity subrule but inverting it so the includes are fewer than the excludes doesn't seem to hold too much value. The podSecurity subrule implements PSS profiles, and profiles are collections of controls. If you're inverting the logic to state, effectively, "give me the baseline profile but only give me one rule" then this would be a "traditional" Kyverno policy. The third ru

[2022-10-15 18:37] JimBugwadia commented on #4868
The value I see in the `include` option would be to not have to specify control details in a custom rule, and delegate to the Kubernetes pod security implementation based on versions. I agree that it may not be comparable to applying the full profile.

The `applyRules` declaration may make it a bit easier in crafting and maintaining this policy:

[code]

It would be great to see the full example a

[2022-10-15 21:49] eddycharly commented on #4979
@XDRAGON2002 maybe we can do it with a bool too (would be simpler) something like `forceFailurePolicyIgnore=true`.

[2022-10-15 21:56] obaranov1 commented on #4436
@chipzoller Hey, I would like to work on this with some guidance :)

[2022-10-15 22:00] chipzoller commented on #4436
Hello @obaranov1. First, do you understand the issue and the problem associated with it?

[2022-10-15 22:00] XDRAGON2002 commented on #4979
Sure @eddycharly we can do that as well, moreover as I had narrowed down my search to [here](https://github.com/kyverno/kyverno/blob/main/api/kyverno/v1/spec_types.go#L200) for propagating the change. So I guess it wouldn't be difficult to implement the change for a string value either, just that it would require an extra check for invalid entries.

So what should I go for? the boolean one or the

[2022-10-15 22:05] eddycharly commented on #4979
Yes, [here](https://github.com/kyverno/kyverno/blob/8dc56d3f68ee8b5c341a62802caf406612018b5b/api/kyverno/v1/spec_types.go#L200) is the correct place to override the failure policy.

Still, I'm not convinced that adding a global variable in this package is a good approach, we should use the a `toggle` if possible (https://github.com/kyverno/kyverno/blob/main/pkg/toggle/toggle.go).

[2022-10-15 22:11] XDRAGON2002 commented on #4979
So should I modify `toggle` to work with strings as well except than booleans or make the flag a boolean one as you suggested above?

[2022-10-15 22:12] eddycharly commented on #4979
That's why I suggested using a boolean, will be simpler that changing the `toggle` package.

[2022-10-15 22:14] XDRAGON2002 commented on #4979
Sure then, I'll implement the `--forceFailurePolicyIgnore` boolean flag instead and have the default set to false.

[2022-10-16 10:36] eddycharly commented on #4979
`--backgroundScan` what would be the use case for that ?

Background scan can already be disabled.

[2022-10-16 11:40] monotek commented on #4979
Sorry, wording might be misleding.
I meant "as it already works for".

[2022-10-16 13:20] Santosh1176 commented on #3374
Hey @eddycharly, since [#4846](https://github.com/kyverno/kyverno/pull/4846#issue-1401372757) is merged, can I push the PR for this issue now?

[2022-10-16 14:29] eddycharly commented on #3374
Sure, go ahead.

[2022-10-16 16:50] #3654 closed

[2022-10-16 17:01] eddycharly commented on #3134
Thanks @ckotzbauer !
Closing, please reopen if needed.

[2022-10-16 17:01] #3134 closed

[2022-10-16 19:10] eddycharly commented on #1832
We are now using metadata informers in a couple of places in the code.
We also have optimized code for watching resources in background scan.

Next step is to split kyverno in multiple binaries.

I think we can close this issue.

cc @realshuting

[2022-10-16 19:20] eddycharly commented on #2076
@chipzoller @realshuting do we still want that ?

[2022-10-16 19:22] eddycharly commented on #2029
@realshuting @chipzoller do we still want/need this ?

[2022-10-16 19:46] eddycharly commented on #3374
Reading the code in the PR, we have an object selector configured that will prevent most leases to go through this admission webhook (`app.kubernetes.io/name=kyverno`).

[2022-10-16 20:06] chipzoller commented on #2029
I think we should probably discuss the value in doing this today and what, specifically, the requirements are.

[2022-10-16 20:11] chipzoller commented on #2076
I believe so. I just checked in 1.8.0 and we are still neither writing a log message nor writing an event. I believe we should do both, and the log should be written at the default verbosity level. At level `4`, this is the closest I see we get:

[code]

[2022-10-16 20:12] eddycharly commented on #2029
Yes, let’s discuss it.
With the configmap we need to be super careful when upgrading as there are two kyverno versions running but only one cm.

[2022-10-16 20:16] eddycharly commented on #2076
We could do both the log and event.
Still I would recommend using audit logs for the use case described in the issue.

[2022-10-16 20:19] shahpratikr commented on #4330
@chipzoller do we need any action on this?

[2022-10-16 20:19] chipzoller commented on #2076
Agree, we shouldn't attempt to replace the function of the Kubernetes audit log, but a basic message in both places is straightforward. Besides, the audit log is not an API resource and it cannot be viewed in cluster whereas an Events and Pod logs can.

[2022-10-16 20:21] chipzoller commented on #4330
Can you try again but using the latest policy schema/definition for verifyImages? The policy reflected in the initial (and your) post is using deprecated fields. Before closing this, let's ensure it works with the latest schema.

[2022-10-17 01:21] #4605 closed

[2022-10-17 03:45] realshuting commented on #4391
Thank you @Boojapho for verifying the fix! I've also tested on my cluster and the resource usage looks good so far.

[2022-10-17 03:46] realshuting commented on #4391
Credit to @eddycharly for his amazing work!

[2022-10-17 04:36] #1832 closed

[2022-10-17 04:50] JimBugwadia commented on #4436
Hi @obaranov1 - thanks for looking into this!

To allow the `image` variable to be used, we will need to update the policy validation check here:

https://github.com/kyverno/kyverno/blob/8a0083105d11181d17b312364496ecbe3d2b74e8/pkg/policy/validate.go#L511

We can add a test with the sample policy in: https://github.com/kyverno/policies/issues/376

Let me know if you have any questions.

[2022-10-17 04:54] shahpratikr commented on #4330
with cosign version `1.9.0` I got following error when I tried to run `cosign verify` for image provided in the description
[code]
with cosign version `1.12.0`, seeing following error for same image
[code]

[2022-10-17 05:16] #4302 closed

[2022-10-17 05:26] realshuting commented on #897
We can start with CRDs, not sure if we want to watch API services.

[2022-10-17 06:37] realshuting commented on #2153
This issue will go away once we make the new autogen default, no?

[2022-10-17 06:49] realshuting commented on #3880
Closing

[2022-10-17 06:49] #3880 closed

[2022-10-17 06:55] eddycharly commented on #2153
@realshuting no, it's because we are not using pointers in the api, new autogen won't help here.

[2022-10-17 06:57] eddycharly commented on #3374
Closing, the object selector does the job.

[2022-10-17 06:57] #3374 closed

[2022-10-17 06:57] tomsucho commented on #4517
yeah, I think we have it, but I think removing it didn't change much from what I can recall. Also per @realshuting Slack discussion this has no negative impact, but still requires some code updates to get rid of this on newer k8s releases.

[2022-10-17 07:02] realshuting commented on #4798
Please see https://github.com/kubernetes/pod-security-admission/issues/8.

[2022-10-17 07:05] realshuting commented on #2153
We will remove the old way of auto-gen once the new one becomes the default. Kyverno will no longer change the rule spec, would this issue still preserve?

[2022-10-17 07:06] eddycharly commented on #2153
Yes, I think so.

[2022-10-17 07:39] vyankyGH commented on #4956
Looks like we haven't passed values for deployment in variables.yaml.
For pod-controller,
rule name will start with autogen-test-rule.
So we need to pass values in values.yaml for rule
autogen-test-rule in the same way passed for test-rule

[2022-10-17 07:47] baptiste-gaillet opened #5004 "[Feature] Helm chart with appVersion: v1.8 and not appVersion: v1.7.3"
### Problem Statement

Hello.

The actual online helm chart is still with the appVersion 1.7, but kyverno 1.8 is now ready : https://github.com/kyverno/kyverno/blob/main/charts/kyverno/Chart.yaml

Do you have some trouble with the last 1.8 version or it's just the chart who is not uptodate ?

Thx a lot.

Baptiste.

### Solution Description

update the chart to the last 1.8 version.

### Alternativ

[2022-10-17 07:49] eddycharly commented on #5004
This is main branch, it's correct in 1.8 branch https://github.com/kyverno/kyverno/blob/release-1.8/charts/kyverno/Chart.yaml

[2022-10-17 07:59] baptiste-gaillet commented on #5004
So it's not in GA mode ? You need more tests before merge to the main branch ?

[2022-10-17 08:01] eddycharly commented on #5004
Nope, the version on main doesn't really matter, it's our dev branch.

As long as we have the correct app version in release branches it's fine.
Look it's correct on artifact hub https://artifacthub.io/packages/helm/kyverno/kyverno

[2022-10-17 08:03] baptiste-gaillet commented on #5004
Great

Thx a lot @eddycharly for your quick answer ;p

[2022-10-17 08:03] #5004 closed

[2022-10-17 08:31] rparke commented on #4716
@praddy26 Has there been any update on this?

[2022-10-17 08:40] praddy26 commented on #4716
@rparke Working on it. Will soon provide update.

[2022-10-17 08:42] vyankyGH commented on #3970
This issue  non reproducible in 1.8.0

[2022-10-17 08:57] #3884 closed

[2022-10-17 08:58] #3881 closed

[2022-10-17 09:05] eddycharly commented on #4977
Moving this back to 1.8.1.

[2022-10-17 10:12] eddycharly commented on #4977
The issue I see here is that we are verifying images in the mutating webhook.

[2022-10-17 10:55] prateekpandey14 commented on #4265
@fastlorenzo are you seeing these logs continuously, or they get stopped in next couple of iteration ? there are retry func which retries in case of conflicts error.
- It will be great help if you can share more details on steps so i can reproduce this issue locally.
- Are you seeing the policy status get changed to `NotReady` as described above ?

[2022-10-17 11:01] prateekpandey14 commented on #4083
Closing , fixed in #4922

[2022-10-17 11:01] #4083 closed

[2022-10-17 11:45] #4316 closed

[2022-10-17 12:13] chipzoller opened #5014 "Test coverage needed for `request.roles` and `request.clusterRoles`"
### Problem Statement

There have been three separate instances when using the pre-defined variables/fields roles or `request.roles` and clusterRoles or `request.clusterRoles`. Those issues are captured in #2819, #3177, and #4302. This has been allowed to occur because there are no tests for these.

### Solution Description

Cover with tests, at a minimum, all the ways this capability was previous

[2022-10-17 12:44] chipzoller commented on #4977
I believe that's because of digest mutation.

[2022-10-17 12:46] eddycharly commented on #4977
Probably. Still the mutation should happen in the mutating webhook and the validation in the validating webhook right ?

[2022-10-17 12:59] eddycharly commented on #4412
No response, closing.
Please reopen if you want to discuss it further.

[2022-10-17 12:59] #4412 closed

[2022-10-17 13:06] eddycharly commented on #4025
Closing, interval is no more, the new report system is now real time.

[2022-10-17 13:06] #4025 closed

[2022-10-17 13:11] eddycharly commented on #4043
@james-callahan `--serverIP` flag can now take a hostname instead of an IP.

Port is still not configurable though but can add some config for that.

Would that solve your issue ?

[2022-10-17 13:12] eddycharly commented on #3842
All done, closing.

[2022-10-17 13:12] #3842 closed

[2022-10-17 13:14] chipzoller commented on #4330
I guess you don't have access to use my key?

[code]

[2022-10-17 13:15] eddycharly commented on #3731
I don't seem to be able to reproduce in 1.8.
The error is not about kinds though:
[code]

[2022-10-17 13:20] vyankyGH commented on #3970
Moving to 1.8.2. need time to debug. as planing to release 1.8.1 by today.

[2022-10-17 13:22] realshuting commented on #3970
Not sure we can cut rc1 for 1.8.1 today though.

[2022-10-17 13:23] chipzoller commented on #3731
You're right, because we enforced (as we should have) that `namespaces` cannot be used as a selection/exclusion criteria in a `Policy`. If you modify it like this, the problem presents itself.

See the below is denied (correct).

[code]

See this is allowed (incorrect):

[code]

Only difference between the two is the first is a `ClusterPolicy` and the second is a `Policy`.

[2022-10-17 13:24] eddycharly commented on #3731
Yeah, I'm pushing the fix in a second ;)

[2022-10-17 13:24] eddycharly commented on #3970
Why ? Is this required for RC1 ?

[2022-10-17 13:25] jimmyraywv commented on #4025
So, what does that mean `now real time`? Can you link docs?

[2022-10-17 13:26] chipzoller commented on #4025
Docs are still pending in this area, awaiting final changes due in 1.8.1.

[2022-10-17 13:27] chipzoller commented on #3970
Not critical for 1.8.1.

[2022-10-17 13:28] eddycharly commented on #4025
Background scans are processed as changes happen to resources and/or policies in real time, not at regular intervals anymore.

[2022-10-17 13:30] chipzoller commented on #4977
@JimBugwadia needs to weigh in here.

[2022-10-17 13:44] monotek commented on #4879
Running v1.8.0-54-g392d2bcba now on dev with ~700 pods.

Still 2.4GB RAM usage for the leader pod :O

As i understood before something around 500MB should be normal?

[2022-10-17 14:10] #3731 closed

[2022-10-17 14:18] chipzoller opened #5018 "[Bug] Deleting `generate` policy using a `data` statement with synchronization does not cause downstream deletion"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

When deleting a ClusterPolicy containing a `generate` rule which uses a `data` statement along with `synchronize: true`, the resource(s) generated by that rule are not deleted according to prior behavior and as stated in the [documentation](https://kyverno.io/

[2022-10-17 14:20] chipzoller commented on #4330
Can you advise if this is a key configuration step? What process did you follow in GCP which lead to your test working?

[2022-10-17 14:30] jimmyraywv commented on #4025
So, the point of my issue was a granular setting, to specify intervals per policy, giving more control over how often each policy scans. I guess that point is now moot. Thanks for the update.

[2022-10-17 14:31] eddycharly commented on #4879
Clearly not, does it calm down after a while ?

[2022-10-17 15:25] #1650 closed

[2022-10-17 15:32] realshuting commented on #4798
Track fixed version via https://github.com/kubernetes/kubernetes/pull/113111.

[2022-10-17 15:33] JimBugwadia commented on #4977
The digest is retrieved as part of the underlying image validation call to Cosign, and hence the bulk of the logic occurs in the mutation webhook.

There are optional checks which may execute in the validation webhook, based on `required` and `verifyDigest` settings. Some details here: https://kyverno.io/docs/writing-policies/verify-images/#verifying-image-signatures.

[2022-10-17 15:49] chipzoller commented on #4798
Excellent!

[2022-10-17 15:53] mhulscher commented on #4457
Just wanted to document that this issue is a blocker for a policy discussed in this slack-thread: https://kubernetes.slack.com/archives/CLGR9BJU9/p1666013680979899

[2022-10-17 16:05] klubi opened #5023 "[Bug] [CLI] Log level is not respected when image contains placeholder"
### Kyverno CLI Version

1.8.0

### Description

When deployment manifest under test contains placeholder (ie. from Spinnaker) then log level is not respected, and below log is printed always.

E1017 15:42:57.079083     509 logr.go:279]  "msg"="failed to add image variables to context" "error"="invalid image foo.bar:${parameters.version}"

### Steps to reproduce

1. use following `kyverno-test.yam

[2022-10-17 16:32] monotek commented on #4879
Unfortunately not :(

I've tried to replecate my setup in a kind cluster which runs about 20 pods.
Kyverno needs about 80mb there :shrug:

If you want to try it out thats the setup: https://github.com/monotek/kyverno-test

[2022-10-17 16:50] winggundamth commented on #4369
I'm using Kyverno 1.8.0 and confirm that background scan is not respect resourceFilters and webhooks exclude namespaces.

[2022-10-17 17:14] eddycharly commented on #4879
Comparing with 20 pods is not fair, it's not going to grow in a linear way between 20 and 2000.

[2022-10-17 17:17] eddycharly commented on #4879
I see you `check-deprecated-apis` enabled, we recently removed leases from this policy as leases are updated quite often it can lead to substantial load.

Also, do you see reports for events ?
[code]

[2022-10-17 17:24] monotek commented on #4879
I'll try to add some fake workloads tomorrow, to see if it can be replicated.

In our clusters the used ram raises slowly over the days. See:

![Screenshot_20221017-192207](https://user-images.githubusercontent.com/1069919/196242623-bc3f9646-c95d-4335-8a86-592b36dd7779.png)

So looks a bit like a memory leak or the resources pile up?

[2022-10-17 17:29] eddycharly commented on #4879
Indeed, this looks like it keeps growing. I will install the same policy as you and check on a local cluster.

[2022-10-17 17:38] developer-guy commented on #4083
glad to see that it's working whee!

[2022-10-17 17:40] monotek commented on #4879
Better image:

![grafan-kyverno png](https://user-images.githubusercontent.com/1069919/196245279-2c14a951-b1b3-41d1-98c1-52589cd6ffcd.png)

As you can see the raise start around 12. of october, when we did the 1.8.0 update.

I can't post the whole output of th CRs, but a count of the resources:

[code]

[code]

Imho some of the admission reports could be cleaned up :D

[2022-10-17 17:46] chipzoller commented on #4083
The true test will be upon an actual release (not pre-release like an RC). If we're good there this issue is fully closed. Until then, it remains in a soft close state.

[2022-10-17 17:57] eddycharly commented on #4879
I tried with 1.8.0 and 1.8.1, there were reports for `Events`, that's crazy as it should be disallowed by the api server, I don't even know how this is possible 🤔

Anyway, in 1.8.1 no reports are created for `Events` so it should help but I still see strange reports.
I will check later and we will cut 1.8.2 as soon as this is fixed.

[2022-10-17 18:43] chipzoller opened #5025 "Policy Reports from resourceFilters and namespace exclusions"
Is it also possible that the ConfigMap configuration `namespaceSelector` is also impacted by this bug?

My ConfigMap has the configuration:
[code]

Yet kyverno is still generating reports on the `monitoring` namespace
[code]

Not trying to derail here, just making sure I've found an issue pertaining to my symptoms. Thanks

_Originally posted by @maxwell-gregory in https://github.com/kyverno/kyvern

[2022-10-17 18:46] chipzoller commented on #4369
Folks, this issue has meandered away from its original subject which, as I have confirmed [here](https://github.com/kyverno/kyverno/issues/4369#issuecomment-1229633152) (and again in 1.8.1-rc1) is a policy authoring problem. I'm therefore closing this issue. I have opened #5025 for the discussion beginning [here](https://github.com/kyverno/kyverno/issues/4369#issuecomment-1266189711). cc @winggund

[2022-10-17 18:46] #4369 closed

[2022-10-17 18:46] eddycharly commented on #5025
@chipzoller we don't take the config map into considerations in background scans.

[2022-10-17 18:47] chipzoller commented on #5025
cc @maxwell-gregory, @ansalamdaniel , and @winggundamth

[2022-10-17 20:33] chipzoller opened #5028 "[Feature] Policy Reports: Selective exclusion support in background mode"
For those who are wanting the ability to exclude/limit Policy Reports in background mode based on some criteria, please read this issue prior to responding.

As of Kyverno 1.8, the Policy Report system has been completely refactored to change how it works. Policy Reports are generated in two ways:

1. In the webhook (i.e., when a CREATE, UPDATE, or DELETE action is performed)
2. In the background

[2022-10-17 20:50] chipzoller commented on #3839
My thought here is that maybe this isn't a problem we should try and solve with Kyverno.

[2022-10-17 22:34] james-callahan commented on #4043
Are you saying that providing a `--serverIP` argument on command-line to kyverno will make it take the "debug" functions instead?

[2022-10-18 01:10] vyankyGH commented on #5023
@klubi  following logs are in the Error log, that's the reason it shows in cli.
@realshuting do we want to make it in any log level?

https://github.com/kyverno/kyverno/blob/becf73227bd468e2b68fd8a49e8e7735921f7972/cmd/cli/kubectl-kyverno/utils/common/common.go#L486

[2022-10-18 01:25] vyankyGH commented on #4379
Addressed in https://github.com/kyverno/kyverno/pull/4235 PR [[here](https://github.com/kyverno/kyverno/commit/5f5cda9fee250e7688a664a7929afbf48499490f#diff-c980abe34c6a2660ca3281d07c6f8721eebc10133260700e13b208dbe4259986)](url)
Closing the issue!

[2022-10-18 01:25] #4379 closed

[2022-10-18 04:55] shahpratikr commented on #4330
@chipzoller I followed below steps to test this.
- Create GCP key
[code]
- Replaced required details in gcpkms in above policy
- Sign the image with cosign
[code]
- Create the policy
- Create the resource

[2022-10-18 06:54] eddycharly commented on #5025
Duplicate #5028 ?

[2022-10-18 06:55] eddycharly commented on #4981
Closed by https://github.com/kyverno/kyverno/pull/4984

[2022-10-18 06:55] #4981 closed

[2022-10-18 07:00] eddycharly commented on #897
I talked with apimachinery folks and the clearly didn't recommend this approach.
https://kubernetes.slack.com/archives/C0EG7JC6T/p1666022905364319

[2022-10-18 07:32] realshuting opened #5032 "[Feature] Extract push and sign install manifest into a separate job"
### Problem Statement

With https://github.com/kyverno/kyverno/pull/4895 Kyverno pushes install manifests to GHCR. As it runs after the release process, it's not easy to troubleshoot on failure.

### Solution Description

It'd be good to extract this process into a separate job so that it can be run solely on failure without re-running the release process.

cc @developer-guy

### Alternatives

_No

[2022-10-18 07:32] developer-guy commented on #5032
☝️

[2022-10-18 07:34] eddycharly commented on #5032
On the other hand we probably want steps to happen in order.

[2022-10-18 07:55] eddycharly commented on #4610
Oups, we did it again with `1.8.1-rc1` I guess :(

[2022-10-18 08:32] shahpratikr commented on #4110
@chipzoller I used following policy. I was able to create resource with awskms.
Policy:
[code]
Resource creation:
[code]
Controller logs:
[code]
We just have to put aws region name in `~/.aws/config` and AWS access and secret key in `~/.aws/credentials`
@pealtrufo can you please try this fix?

[2022-10-18 09:01] pierluigilenoci opened #5036 "[Bug] CustomResourceDefinition.apiextensions.k8s.io "policies.kyverno.io" is invalid: metadata.annotations: Too long: must have at most 262144 bytes"
### Kyverno Version

1.8.0

### Description

Updating the chart from version `2.5.3` to version `2.6.0` using [ArgoCD](https://argo-cd.readthedocs.io/en/stable/) the Kyverno chart produces this error:

[code]

This happens due to the new CRDs file which has become really massive.
It went from the size of 346547 bytes to the size of 1278510 bytes.
Almost 4 times bigger, 3.7 to be precise.

I would

[2022-10-18 09:03] eddycharly commented on #5036
Yes, we are aware of this issue, we documented it along with the fix here https://kyverno.io/docs/installation/#notes-for-argocd-users

[2022-10-18 09:05] eddycharly commented on #5036
This is not a file issue but a `kubectl` issue, splitting the file is not going to fix it.

[2022-10-18 09:30] pealtrufo commented on #4110
Hi @shahpratikr
Thing is that I don't have credentials to provide. I only have roles to assume. Personally, I don't think provisioning AWS creds to kyverno pod that way is ideal.

[2022-10-18 09:31] #5032 closed

[2022-10-18 10:00] #5025 closed

[2022-10-18 10:18] eddycharly commented on #5036
Closing as the documentation is available and provides a workaround.
Please reopen if this needs to be discussed further.

[2022-10-18 10:18] #5036 closed

[2022-10-18 11:04] chipzoller opened #5042 "[Bug] Deleting `Policy` does not remove `PolicyReport`"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Removing a `Policy` (Namespaced policy) does not cause the corresponding `PolicyReport` resource to be removed.

### Steps to reproduce

1. Create two different Pods in your cluster, both of them using `busybox:latest`.
2. Install this `Policy`
[code]
3. See t

[2022-10-18 11:07] chipzoller opened #5044 "[Bug] `latest` tag is not getting added any longer"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

When running a Pod using an image that does not specify a tag, Kyverno is no longer adding `latest` as it used to.

### Steps to reproduce

1. Run `k run busybox-test --image busybox -- sleep 9999`
2. Get the Pod and see it doesn't contain `latest`
[code]

###

[2022-10-18 12:10] eddycharly commented on #4043
What do you mean by debug function ?
It's enabling out of cluster controller.

[2022-10-18 13:22] realshuting commented on #897
Thanks @eddycharly ! Not sure what can be done here 😔

Please log separate issues for the open-api controller enhancements. Closing the issue.

[2022-10-18 13:22] #897 closed

[2022-10-18 13:41] Vishal-Chdhry commented on #2582
Hi! @eddycharly @JimBugwadia @realshuting @chipzoller
Is am stuck in figuring out how to implement the logic, is there a similar implementation that you can point me to for reference purpose

[2022-10-18 14:30] realshuting commented on #2582
@Vishal-Chdhry - have you checked this https://github.com/kyverno/kyverno/pull/3619#issuecomment-1281005467?

[2022-10-18 15:23] #4977 closed

[2022-10-18 16:59] zswanson commented on #4959
Specifically I think the issue is the cardinality caused by the `namespace` and `resource_kind` labels, but also that the histogram has 12 buckets. (Prometheus typically recommends no more than 10 buckets.) And then that's multiplied against each `policy_name` and `rule_name` combination. For our scale, the cardinality is exploding and we have close to a million time series with less than 20 Clust

[2022-10-18 17:25] zswanson commented on #4613
Agree, definitely do not want/need to cache **all** configmaps, just the ones being used by the ContextVariables

[2022-10-18 20:05] fjogeleit commented on #1921
in the latest version everything looks good for me.

[2022-10-18 20:05] #1921 closed

[2022-10-18 20:57] chipzoller commented on #4613
The simplest thing (and which doesn't involve schema changes) to get started might be to ask users to assign a label/annotation which will internally signify to Kyverno that it should be cached.

[2022-10-18 21:14] chipzoller commented on #4110
Those are files. How are you suggesting this work with Kyverno?

[2022-10-18 21:16] chipzoller commented on #4610
Is the right semver syntax `1.8.1-rc.1`? Will that fix this from happening again?

[2022-10-18 21:17] chipzoller commented on #4330
Can you test this with the 1.8.1 release candidate we have? If everything is successful, I'm ok with closing this.

[2022-10-18 21:43] eddycharly commented on #4610
Worth a try 🤞

[2022-10-18 21:57] chenrui333 opened #5053 "[Bug] Use pre-release instead of latest release for v10.10.10"
### Kyverno Version

1.8.1

### Description

It would be good to use pre-release rather than latest release for the internal testing release (v10.10.10)

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine i

[2022-10-18 22:07] JimBugwadia commented on #4613
Yes, that would work for configmaps and may be a reasonable way to start.

However, there are broader use cases for caching that have come up, that we will also need to consider (perhaps separately.)
- Cache other kinds
- Cache API call results
- Cache image verification results
- Cache KMS, etc.

Perhaps we can start with implementing this, as a first step, and moving the other use cases into a d

[2022-10-19 06:56] sandeshlmore commented on #4258
@realshuting @eddycharly I followed following steps to validate this issue and i have a question at the end. please let me know your thoughts on this.
##### Install kyverno without passing --webhookTimeout container flag
[code]

##### Create rolling update by patching **kyverno** deployment with --webhookTimeout=3 arg  in kyverno container
[code]

##### After above patch is completed, verify webho

[2022-10-19 06:58] eddycharly commented on #4258
Timeout only applies to resource webhooks.

[2022-10-19 07:27] #4553 closed

[2022-10-19 07:53] eddycharly commented on #4613
We could take same approach for caching other kinds.

[2022-10-19 07:57] realshuting commented on #5053
Thanks @chenrui333 for the suggestion, I will make it pre-release then.

[2022-10-19 07:57] #5053 closed

[2022-10-19 07:58] eddycharly opened #5057 "[Bug] Engine responses are not predictable"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Validate

### Description

Take this policy:
[code]
It will randomly fail for one or the other condition, the message will be different because it contains the field path.

### Steps to reproduce

1. See above

### Expected behavior

The reported violation message is always the same.

[2022-10-19 09:35] pealtrufo commented on #4110
Hi @shahpratikr
Just to confirm I understand the approach you're suggesting. Do you mean adding those files to Kyverno's pod?

@chipzoller, I think the point I was trying to make is that I would like Kyverno pod to assume an IAM role with least privilege to just be able to pull the public key from KMS. To do this, AWS provides [IRSA](https://medium.com/@ankit.wal/the-how-of-iam-roles-for-service-a

[2022-10-19 10:30] therapy-lf commented on #4265
We've seen the same behaviour. I've tried using kyverno in both HA and single mode as suggested, also combination of multiple suggestions in comments above but without any luck. Kyverno still generates 2 update requests and they competing. Tried with 1.7.1, 1.7.2, 1.7.5 versions.

[2022-10-19 12:19] zswanson commented on #4613
We do have a separate (larger) feature request for caching entire Kinds of resources in #4459

[2022-10-19 12:29] JimBugwadia commented on #4613
Can we create a KDP to describe how users can specify which kinds to cache, and how the cache will be internally used with API calls or other variable lookups?

[2022-10-19 13:07] eddycharly commented on #4613
Sure, I am not sure caching API calls will share things with resources caching though.
For resource caching we can easily get a watch stream from the api server, this is not the case with other things (api calls, image verification results, KMS, etc...).

[2022-10-19 13:18] chipzoller opened #5068 "[Bug] Policies allowed in background mode which define roles/subjects in `match` and `exclude`"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Policies which set `background: true` are allowed to be created when they define `roles[]`, `clusterRoles[]`, or `subjects[]` in the `match`/`exclude` blocks. In background mode, this information is not available and therefore the rule cannot be correctly eval

[2022-10-19 13:42] chipzoller opened #5069 "[Bug] Printed message is wrong when rejecting policy with `{{serviceAccountName}}` and `{{serviceAccountNamespace}}` in background mode"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

The message printed to a user when a policy is rejected which contains `{{serviceAccountName}}` or `{{serviceAccountNamespace}}` and it sets `background: true` is wrong. Currently this is displayed:

[code]

### Steps to reproduce

1. Create this policy which

[2022-10-19 13:48] chipzoller opened #5070 "[Bug] Policies allowed in background mode which define vars `{{request.roles}}` and `{{request.clusterRoles}}`"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Validate

### Description

Kyverno allows the creation of a policy in which `background: true` which has the [predefined variables](https://kyverno.io/docs/writing-policies/variables/#pre-defined-variables) `{{request.roles}}` and `{{request.clusterRoles}}`. Curiously, it blocks (as it

[2022-10-19 14:06] aslafy-z opened #5071 "[Bug] Kyverno prevents edits to deployments with InvalidImageName"
### Kyverno Version

1.7.4

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Other

### Description

Kubernetes Platform: RKE

While this is not a important issue, I think Kyverno should skip image context generation if the current image is incorrect.

### Steps to reproduce

1. Deploy a [demo app](https://gist.github.com/aslafy-z/da65

[2022-10-19 14:54] chipzoller commented on #5071
Out of curiosity, why would you NOT want this additional (albeit inadvertent) level of protection from Kyverno? Can you state what undesired consequences this has for you?

[2022-10-19 15:37] chipzoller commented on #4983
Yes, I think this is why we logged [5057](https://github.com/kyverno/kyverno/issues/5057) (cc @eddycharly )

[2022-10-19 15:40] monotek commented on #5057
Nice, seems thats exactly what i hit here: https://github.com/kyverno/kyverno/issues/4983#issuecomment-1284194521

[2022-10-19 15:42] eddycharly commented on #4983
Yeah, just found out when using your test policies btw ;)

[2022-10-19 15:51] chipzoller commented on #5057
Noticed in both webhook and CLI so tagging for both.

[2022-10-19 15:58] eddycharly commented on #4610
@chipzoller can you test with RC2 ?

[2022-10-19 15:59] eddycharly commented on #5068
Fixed it but now it the cli tests fail 😢

[2022-10-19 16:39] #2777 closed

[2022-10-19 17:15] chipzoller opened #5074 "[Feature] Support background-only policies"
### Problem Statement

Today, a validate or verifyImages rule is required to always be processed in admission review mode. This can be either `audit` or `enforce` but regardless it gets processed. Setting background mode is optional hereafter, but background cannot exist independently of admission review mode. This means users cannot prevent resources at admission time from showing in policy repor

[2022-10-19 19:52] chipzoller commented on #5068
Tests are fixed now.

[2022-10-19 19:53] eddycharly commented on #5068
Yes, I'm making improvements in conformance test tool.

[2022-10-19 20:19] eddycharly commented on #5069
In this message:
[code]

We are missing a double quote after `"{{request.userInfo}}`.

[2022-10-19 20:42] eddycharly commented on #5070
The policy looks wrong to me, it should be:
[code]
In this case it is correctly rejected.

[2022-10-19 21:13] chipzoller commented on #5070
request.userInfo comes direct from AdmissionReview

https://github.com/snowdrop/kubernetes-info-webhook/blob/master/src/test/resources/admission-review.json

[2022-10-19 21:22] eddycharly commented on #5070
yep but we override it, request.roles is never set.

[2022-10-19 22:08] eddycharly commented on #5070
Finally Chip is right 😢

[2022-10-19 23:39] JimBugwadia opened #5076 "[Bug] autogen for pod policies with namespace patterns does not work"
### Kyverno Version

1.8.1

### Kubernetes Version

1.25.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Validate

### Description

Apply a pod policy that checks the namespace as a pattern. The autogen rules move the namespace under the podcontroller template, which always fails.

### Steps to reproduce

Use policy:

[code]

[code]

[code]

[code]

### Expected behavior

Autogen rule

[2022-10-20 05:39] akselleirv opened #5077 "[Feature] Support field manager when mutating"
### Problem Statement

A reconciliation war will occur when mutating a resource with Kyverno and that resource is applied with Argo CD.

### Solution Description

If the ArgoCD is enabled with server side apply, then Kyverno can leverage the [field manager](https://kubernetes.io/docs/reference/using-api/server-side-apply/#field-management) to make it usable with Argo CD. When Kyverno is mutating a

[2022-10-20 05:54] sandeshlmore commented on #4258
@eddycharly so i think this issue can be closed then?

[2022-10-20 05:55] shahpratikr commented on #4330
@chipzoller since new schema is not part of 1.8.1 RC, I used deprecated schema (following policy) to test this against 1.8.1. everything was successful
Policy:
[code]
Kyverno pod logs:
[code]
Installed kyverno in GKE cluster using helm command
[code]

[2022-10-20 06:26] eddycharly commented on #4258
@sandeshlmore for me it works as expected.

[2022-10-20 07:24] manhtukhang commented on #4956
Do you mean users must manually input values for all auto-gen rules or will CLI do it automatically?

[2022-10-20 08:50] bognarbalazs opened #5078 "[Bug] Backgroundscan generates a policy report on a resource in spite of the fact that the resource is given in the resourcefilters"
### Kyverno Version

1.8.0

### Description

I add a policy to my cluster(e.g.:disallow-latest-tag)
Config:
[code]
Above it seen that I set the background value to false, but the kyverno generates policyreport and admissionreport for all of the namespaces that I don't want to.  Also strange that, when I load 30 policy with the same spec as seen above, the Kyverno generated just 6 admissionreport a

[2022-10-20 08:56] eddycharly commented on #5078
Please read https://github.com/kyverno/kyverno/issues/5028

Does it answer your question ?
If you set `backgound: false` you shouldn't have entries for that policy in your report, except entries coming from admission reports.

[2022-10-20 10:31] bognarbalazs commented on #5078
Not entirely answer my question.
I understand that if I set `background: false` it won't generate entry in the policyreport, just from the admissionreport. But what is really strange, that I have ~400-450 admissionreport and it only generate 5 policyreport from the admissionreports , but i've loaded 30 policy which also have to make report from admissionreport, because in the admissionreport these

[2022-10-20 10:46] eddycharly commented on #5078
What version are you using ? 1.8.0 or 1.8.1 RC ?
Are all policies matching the resource being admitted ? We are not going to create a report if there's no entries in it.

They are generated real time, when there's a resource change or a policy change.
They go through a queue, workers process entries in the queue sequentially.

Metrics are not computed from reports.

No, as said above, scans are qu

[2022-10-20 11:06] bognarbalazs commented on #5078
I use version 1.8.0. Most of them matching with the resource that are being admitted.

Can i set the number of the queue?

Could you tell me about the cpu usage in case of the mentioned pod count? Cpu usage is the more critical for me.

[2022-10-20 11:18] chipzoller commented on #5042
Testing. Can you please link PR responsible for this change? I can close if confirmed.

[2022-10-20 11:26] chipzoller commented on #5042
Confirmed fixed in RC2.

[2022-10-20 11:26] #5042 closed

[2022-10-20 11:36] eddycharly commented on #5078
Can you provide a policy and resource sample ?

Currently not, but I can add a flag for that.

I can't remember, when we separate the report system in another binary it will be easy to put limits on it.

[2022-10-20 11:36] #5057 closed

[2022-10-20 11:37] chipzoller commented on #4330
Ok, thanks for your testing. We'll close this now.

[2022-10-20 11:37] #4330 closed

[2022-10-20 11:37] chipzoller commented on #4330
Sorry, I just caught this line

What does this mean?

[2022-10-20 11:48] eddycharly commented on #5014
Will be covered by #5073

[2022-10-20 11:50] eddycharly commented on #4610
@chipzoller can you provide steps to reproduce the issue ?

[2022-10-20 11:54] eddycharly commented on #4343
@DWSR @viveksahu26 any news on this issue ?

[2022-10-20 12:01] eddycharly commented on #4280
Closing, was fixed in #4281

[2022-10-20 12:01] #4280 closed

[2022-10-20 12:02] #4258 closed

[2022-10-20 12:04] eddycharly commented on #4161
@Dentrax this should no longer be the case in 1.8 can you confirm ?

[2022-10-20 12:09] eddycharly commented on #4105
I'm going to look into this @NovemberZulu

[2022-10-20 12:12] bognarbalazs commented on #5078
policy: disallow-latest-tag
resource :
`apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: testpod-latest
  name: testpod-latest
  namespace: kyverno-test-ns-2
spec:
  containers:
    - image: <arti proxy>/docker-ghcr/bitnami/kubectl:latest
      name: testpod-latest
      resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Always
status: {}
`

It generated the ad

[2022-10-20 12:17] #5068 closed

[2022-10-20 12:17] #5069 closed

[2022-10-20 12:17] #5070 closed, assigned to eddycharly

[2022-10-20 12:30] eddycharly commented on #4105
Thanks for reporting the issue @NovemberZulu this will be fixed by https://github.com/kyverno/kyverno/pull/5080.

The validating webhooks for resources can have side effects as we are producing admission reports in admission handlers (this depends on the `admissionReports` flag and it will be configured accordingly when the referenced PR merges).

PRs in the documentation are welcome BTW !

[2022-10-20 12:52] eddycharly commented on #4161
Is this 1.8.0 ?
`webhook-register` does not exist.

[2022-10-20 13:33] Dentrax opened #5084 "[Feature] Add OpenTelemetry Configuration to Helm Chart"
### Problem Statement

PR https://github.com/kyverno/kyverno/pull/3910 by @4molybdenum2 adds OpenTelemetry support in Kyverno! 🎉 As a next step, we can add the following configurations to Helm Chart so that anyone can pass the required configs from `values.yaml`:

* enableTracing (bool) (false by default)
* otelConfig (string) (prometheus by default)
* otelCollector (string) (opentelemetrycollecto

[2022-10-20 14:21] eddycharly commented on #4161
@Dentrax this does not exist (only `I` or `E` are available).
We are switching to structured logging, will be ready in 1.8.2 hopefully.

What `-v` level are you running ? Some logs here are not controlled by us but come from a k8s lib. Are you running with `-v >= 5` ?

[2022-10-20 15:03] eddycharly commented on #4161
Nope but with -v=5 there’s nothing we can do, it’s hard coded in k8s lib.

[2022-10-20 15:42] eddycharly commented on #4161
@Dentrax can we close this as there's nothing much we can do when `-v=5` ?

[2022-10-20 15:43] Dentrax commented on #4161
Oh I see. I thought I had to pass a flag to make verbosity level to `info`. I couldn't see any _info_ log from kyverno containers. I did helm install with default values. If this was the expected behavior, so LGTM! We can close this one. 🤞

[2022-10-20 15:45] eddycharly commented on #4161
`kyverno-84ffd96fb5-7txh6 kyverno I0628 07:48:16.025184       1 leaderelection.go:278] successfully renewed lease kyverno/webhook-register`

This line comes from kyverno itself for example.

[2022-10-20 15:46] eddycharly commented on #4161
There's no reason kyverno should not output logs. Can you check ?

[2022-10-20 15:51] tgburke opened #5821 "[Bug] VerifyImages annotations on Deployment/StatefulSet, etc does not include multi-container images in annotation"
### Kyverno Version

1.8.0

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Description

Kyverno Verify Images Policy does not update `kyverno.io/verify-images` annotation for multi-container Deployments with both image validation entries.  This causes Kyverno to produce an kubernetes event on the Deployment for the second image as `unverified image`.  This is also true for State

[2022-10-20 16:32] shahpratikr commented on #4330
Changes which I made for kms and secrets

[2022-10-20 17:48] #5018 closed

[2022-10-20 20:36] eddycharly commented on #5084
@Dentrax they are already configurable, you can pass them via `extraArgs`.

[2022-10-20 21:15] chipzoller opened #5099 "[Bug] Namespaced `Policy` generate rule allows cross-Namespace generation"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

A `Policy` (Namespaced Kyverno policy) with a generate rule allows generation of a downstream resource in another Namespace.

### Steps to reproduce

1. Create the `poltest` Namespace.
2. Create this Policy resource.
[code]
3. Create a ConfigMap in the `poltes

[2022-10-20 21:23] chipzoller commented on #5099
This same bug also allows cloning resources from other Namespaces into the Namespace where the `Policy` exists.

[code]

[2022-10-20 21:25] chipzoller commented on #5099
Some checks we need to do here to mitigate this:
1. A Policy should not be permitted to generate a cluster-scoped resource.
2. A Policy, in its `generate` object, must specify the `namespace` field which must be equal to where the Policy exists. It must also watch for updates in case this is changed after creation.
3. A Policy must not allow variables in the `namespace` field from number two.

[2022-10-20 21:34] chipzoller opened #5100 "[Bug] Policy (Namespaced) with generate rule, clone, and sync does not keep downstream in sync"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

A Policy (Namespaced) generate rule which uses a clone declaration where synchronize is enabled does not revert the changes in the downstream resource if it is changed.

### Steps to reproduce

1. Create the `poltest` Namespace.
2. Create a Secret in `poltest`

[2022-10-20 21:46] chipzoller commented on #4457
This has been fixed for generate rules with a `data` declaration but not a `clone` one.

[2022-10-20 21:54] Dentrax commented on #5084
Oh sure! I mean to make a separate field that specifically for configuring tracing related configs. But if we follow a standard to keep all another CLI flags in extraFlags, I can close this one. ☺️

[2022-10-20 22:02] chipzoller opened #5101 "[Bug] URs not cleaned up when deleting Policy"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

A UR from a successful generation of a Policy (Namespaced policy) is not cleaned up when the Policy is deleted. This is happening for ClusterPolicy but not Policy resources.

### Steps to reproduce

1. Create the `poltest` Namespace.
2. Create this Policy.
[co

[2022-10-20 22:14] eddycharly commented on #5084
I would rather keep it simple TBH

[2022-10-20 22:21] chipzoller opened #5102 "[Feature] Show rule count and type in output for `kubectl get cpol | pol -o wide`"
### Problem Statement

Fields such as `validationFailureAction` and `background` are set at the `spec` level of a ClusterPolicy or Policy resource. When the policy contains mutate or generate rules, these have no effect yet they are returned in the output of a `kubectl get cpol`. Additionally, since a policy can have multiple rules, it is inconvenient to have to check every one to determine what i

[2022-10-20 22:37] chipzoller commented on #4140
@ddellarocca although we're a bit behind here, would you mind sharing the policy that you said worked prior to Kyverno 1.7?

[2022-10-20 22:52] chipzoller opened #5103 "[Bug] Labeling/annotating downstream resource created from generate rule with sync is allowed"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

Generate

### Description

When a generate policy exists with a `clone` directive along with synchronization enabled, labeling and/or annotating the downstream resource are allowed and not reverted. Labeling/annotating the source does propagate to downstream.

### Steps to reproduce

1.

[2022-10-21 08:08] eddycharly commented on #5084
Closing, please reopen if you want to discuss it further.

[2022-10-21 08:08] #5084 closed

[2022-10-21 08:26] shahpratikr commented on #5102
/assign

[2022-10-21 08:36] eddycharly commented on #3304
I agree with @chipzoller, it looks like there's nothing left to do here.

[2022-10-21 08:39] realshuting commented on #4457
Verified the issue still occurs with the `clone` rule.

[2022-10-21 08:39] eddycharly commented on #3380
@tghartland this was fixed in 1.8 (webhooks are now reconciled correctly), and updated only if something is different between the desired state and observed state.

I'm closing the issue, please reopen if there's anything left to discuss.

[2022-10-21 08:39] #3380 closed

[2022-10-21 08:43] eddycharly commented on #3260
@rparke I think this was fixed in 1.8, can you give it a try ?

[2022-10-21 08:47] eddycharly commented on #3611
@yogeek this was fixed in 1.8, kyverno pods will never delete the secret.

I will close the issue, please reopen if necessary.

[2022-10-21 08:47] #3611 closed

[2022-10-21 08:53] #4105 closed

[2022-10-21 10:00] Jean-Marc-Le-Fevre opened #5109 "[Bug]"
### Kyverno Version

1.8.0

### Description

Hi,
Since yesterday, I got this message trying to deploy Kyverno on our Kube cluster.
`kyverno-charts      https://ghcr.io/kyverno/charts/kyverno     18h  False  failed to fetch Helm repository index: failed to cache index to temporary file: failed to fetch https://ghcr.io/kyverno/charts/kyverno/index.yaml : 404 Not Found`

It seems that https://github.

[2022-10-21 10:06] eddycharly commented on #5109
What are you trying to do ?
This is where we store our charts as oci artifacts. I don't think you will find an index.yaml there right ?

[2022-10-21 10:09] ibexmonj commented on #3300
@eddycharly Correct it is. This comment here was well before 1.8.0. Should be good to close and the original issue creator here has any open questions.

[2022-10-21 10:21] eddycharly commented on #5109
@Jean-Marc-Le-Fevre ?

[2022-10-21 10:22] #3300 closed

[2022-10-21 10:23] eddycharly commented on #3300
@ibexmonj thanks.

Closing this issue, please reopen if necessary.

[2022-10-21 12:12] Jean-Marc-Le-Fevre commented on #5109
We are trying to install Kyverno 1.8.0 on our cluster using chart 2.6.0
Here is an extract of our manifest:

[code]
This was working on another env until yesterday

[2022-10-21 12:13] eddycharly commented on #5109
@developer-guy any idea ?

[2022-10-21 12:17] chipzoller commented on #5109
This might have something to do with the recent PRs @stefanprodan has filed. Or it could have something to do with that bogus `v10` release that was cut the other day.

[2022-10-21 12:22] eddycharly commented on #5109
2.6.0 is there and was uploaded 11 days ago https://github.com/kyverno/kyverno/pkgs/container/charts%2Fkyverno/45009225?tag=2.6.0
Are you seeing it ?

[2022-10-21 12:34] Jean-Marc-Le-Fevre commented on #5109
We had no issue with the chart 2 days ago

[2022-10-21 12:38] eddycharly commented on #5109
What is the type of the resource that references the repo ?
[code]

cc @stefanprodan maybe you can help us on this one ? Shall we have an `index.yaml` when using an OCI repository ?

[2022-10-21 12:48] eddycharly commented on #5109
Thanks @stefanprodan !

@Jean-Marc-Le-Fevre can you please confirm ?

[2022-10-21 13:02] eddycharly commented on #5109
Closing, please reopen if necessary.

[2022-10-21 13:02] #5109 closed

[2022-10-21 13:07] Jean-Marc-Le-Fevre commented on #5109
I just made the change and still have the same error mssage

[2022-10-21 13:08] eddycharly commented on #5109
Can you post the config you have now ?

[2022-10-21 13:11] eddycharly commented on #5109
Don't you need to reference the repository from the release resource ?

[2022-10-21 13:12] stefanprodan commented on #5109
Well if that's actually in your repo and Flux has synced it, then it's impossible to have the same error unless you're running an older Flux version which doesn't support Helm OCI.

[2022-10-21 13:14] stefanprodan commented on #5109
Open an issue in flux2, this has nothing to do with Kyverno.

[2022-10-21 13:15] eddycharly commented on #5109
Thanks for your help @stefanprodan !
Let us know if there's anything we can do to help.

[2022-10-21 14:04] mikebryant opened #5113 "[Feature] PolicyReport Labelling"
### Problem Statement

The new policy reports split by policy are great.

One thing I now find myself wanting is, for a ClusterPolicy, to get all the policy reports relating to that across Namespaces

### Solution Description

Label the PolicyReport objects with `cluster-policy-name=<the policy name>` etc.

Then I could do `kubectl get policyreport -A -l cluster-policy-name=cpol-disallow-capabilit

[2022-10-21 14:16] eddycharly commented on #5113
Thanks @mikebryant for the suggestion.

I'll add that soon.

[2022-10-21 14:48] eddycharly commented on #5078
@bognarbalazs FYI, we added a flag to control the number of workers.

[2022-10-21 14:49] eddycharly commented on #5076
Shouldn't the code detect this and not generate rules when it's the case ?

[2022-10-21 15:33] eddycharly opened #5116 "[Feature] Add AGE in printer columns of our CRDs"
### Problem Statement

Currently, listing policies or cluster policies do not show the resource age.

[code]

### Solution Description

It would be nice to have it's age displayed too (like with pods for example):
[code]

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND th

[2022-10-21 16:17] #1334 closed

[2022-10-21 16:58] eddycharly commented on #4439
Closing, it was implemented in https://github.com/kyverno/kyverno/pull/4482

[2022-10-21 16:58] #4439 closed

[2022-10-21 17:44] Santosh1176 commented on #5116
Hey @eddycharly can I work on this?

[2022-10-21 18:13] #4979 closed

[2022-10-21 19:22] eddycharly commented on #5116
Hi @Santosh1176 !
Sure, i'll assign it to you.

[2022-10-21 21:03] chipzoller commented on #5076
I think that's the idea. I'm just concerned about negative side effects from making this change.

[2022-10-22 14:01] chipzoller commented on #5100
Possibly related to #3879

[2022-10-22 14:08] chipzoller commented on #4197
To clarify the issue, this is a request to essentially revert the behavior Kyverno had several versions ago where by deleting a policy with a generate rule using a `clone` statement it deleted the downstream resources. This behavior was changed because we decided it was not appropriate for Kyverno to delete resources that originated from a cloned source since that source was the responsibility of

[2022-10-22 15:51] chipzoller commented on #2229
This issue is related to #4140 and we need to discuss internally what the correct behavior should be and if triggering resources should impact downstream resources.

[2022-10-22 19:38] chipzoller commented on #3039
This should be resolved by following above steps. Closing.

[2022-10-22 19:38] #3039 closed

[2022-10-22 20:04] chipzoller commented on #3735
When I try these steps again, I no longer see this error. I do get a response that there are no matching signatures.

[code]

[2022-10-22 20:13] chipzoller commented on #1627
This is a duplicate of #4675. Closing in favor of it.

[2022-10-22 20:13] #1627 closed

[2022-10-22 23:06] chipzoller commented on #5023
Kyverno builds an internal context of various things often needed to make policy decisions. You can see some of those [here](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images). In this case, those variables aren't able to render because the tag isn't a valid one. This would be considered a "fatal" error and is responsible for the failures here. I'm not so sure fat

[2022-10-23 11:58] chipzoller commented on #3538
From original Slack thread:

[2022-10-23 12:49] chipzoller opened #5120 "Update all GitHub Actions to discontinue use of deprecated functionality"
### Problem Statement

Several of our actions use deprecated functionality like Node 12 support and `save-state` and `set-output` declarations. According to the linked blogs, this will stop working in the future.

### Solution Description

Update all actions to use modern standards.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Re

[2022-10-23 17:32] Santosh1176 commented on #4436
Hey @JimBugwadia @chipzoller, Can I work on this?

I had a doubt, does the `{{image}}` variable need to be accessible irrespective of the `background` value?

[2022-10-23 17:35] chipzoller commented on #4436
Hi Santosh, thanks! Yes, the var should resolve correctly with and without background mode enabled.

[2022-10-24 07:21] realshuting opened #5124 "[Bug] Bump `golang.org/x/sys` to 1.18.2+ to fix the vulnerability issue"
### Kyverno Version

1.8.1

### Description

https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report&image=ghcr.io%2Fkyverno%2Fkyverno%3Av1.8.1-rc1&target=ko-app%2Fkyverno

https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report&image=ghcr.io%2Fkyverno%2Fkyvernopre%3Av1.8.1-rc1&target=ko-app%2FinitContainer

### Slack discussion

_No response_

### Troubleshoo

[2022-10-24 08:02] ddellarocca commented on #4140
Yes sure, you can find them attached to this comment.
[network-policies.zip](https://github.com/kyverno/kyverno/files/9849859/network-policies.zip)

[2022-10-24 09:11] #5124 closed

[2022-10-24 11:20] monotek opened #5129 "[Bug] 1.8.1 rc3 - higher cpu usage after update"
### Kyverno Version

1.8.1

### Description

Not sure if realy worth a bug report as this might be expected but after updating rom 1.8.1 rc1 to 1.8.1 rc3 kyvernos cpu usage got higher.

See screenshot:
![kyverno181rc3](https://user-images.githubusercontent.com/1069919/197511906-918e8275-6ca1-42f7-8498-974e25c080ac.png)

We have more spikes, which also are higher than before:

### Slack discussion

[2022-10-24 11:27] obaranov1 commented on #2076
/assign

[2022-10-24 13:19] ddellarocca commented on #4140
Sure (btw those are in helm format, if needed i can provide them as pure yaml):
[code]

[2022-10-24 13:21] chipzoller commented on #4140
Yes, it would be great if you could hydrate them please.

[2022-10-24 13:32] ddellarocca commented on #4140
Here:

[code]

[2022-10-24 15:35] praddy26 commented on #5103
/assign

[2022-10-24 19:28] #5116 closed

[2022-10-25 00:42] dkulchinsky opened #5131 "[Bug] Kyverno ignores `/metdata/finalizers` paths in patchesJson6902"
### Kyverno Version

1.8.1

### Kubernetes Version

1.22.x

### Kubernetes Platform

GKE

### Kyverno Rule Type

Mutate

### Description

When using `patchesJson6902` to add/remove a finalizer from a resource, the patch is ignored.

The code that ignores it is here:
https://github.com/kyverno/kyverno/blob/8eb1d3988c22d684661551abf353b2c755e46b40/pkg/engine/mutate/patch/patchesUtils.go#L137-L143

I

[2022-10-25 06:34] #5131 closed

[2022-10-25 06:35] vyankyGH commented on #2868
Closing with PR https://github.com/kyverno/kyverno/pull/5132

[2022-10-25 06:35] #2868 closed

[2022-10-25 08:09] disposab1e opened #5136 "[Bug] err: invalid kind" "kind"="RangeAllocation" in OpenShift"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

OpenShift

### Kyverno Rule Type

Mutate

### Description

I have a strange behaviour after updating to 1.8.1 (same with 1.8.0)....

OpenShift adds some annotations to namespaces regarding SCC:

[code]

I use a mutating ClusterPolicy like the following.... and as you can see this policy is NOT operating on namespa

[2022-10-25 09:26] monotek commented on #4377
Seems this still fails for audit and background scans in 1.8.1 rc3?
At least my polr is not updated to pass, when a container gets "drop all" set.

[2022-10-25 11:41] monotek opened #5138 "[Feature] ignore k8s resource by label"
### Problem Statement

For some of our devs it might be easier to add a label to a resource, so that kyverno ignores it for validation / enforcement, instead to adjust the kyverno policy directly.

This would aslo help to reduce the amount of exclude patterns in a policy.

### Solution Description

If any k8s resource has a lable like: "skip.kyverno.io: true" it should not be validated or enforced

[2022-10-25 13:30] realshuting opened #5141 "Policyreport is not created for the imageVerify rule"
The policy report is still generated for violated resources.

Here's the manifest to reproduce the issue:
[code]

[code]

After created the policy and the resource, I can see the admissionreport but no policyreport:
[code]

I can get the report correctly if I add `- ghcr.io/kyverno/test-verify-image@*` to `imageReferences`.

cc @eddycharly

_Originally posted by @realshuting in https://github.com/

[2022-10-25 13:31] realshuting commented on #5141
Not sure if we need to fix anything. Updating the policy to match image reference`ghcr.io/kyverno/test-verify-image@*` get the desired result.

[2022-10-25 14:42] realshuting commented on #5141
Or we could use `ghcr.io/kyverno/test-verify-image*` to support both.

[2022-10-25 15:58] zswanson opened #5142 "[Bug] mutation policy with targets for existing objects breaks webhook configuration"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

Mutate

### Description

Applying any mutation policy that includes the `targets` directive to mutate existing objects causes the kyverno mutating webhook configuration to break. Occurs with my own policy under development but also found the same thing with this sample policy - https:/

[2022-10-25 17:22] jimmyraywv commented on #2709
I just ran across this today, trying to get image verification working with Kyverno and Cosign. I wrote this [post](https://blog.jimmyray.io/kubernetes-workload-identity-with-aws-sdk-for-go-v2-927d2f258057) a few months ago to show how the AWS SDK for Go V2 could be used with ECR.

@chipzoller has any work begun on this? Perhaps I can help?

[2022-10-25 18:21] chipzoller commented on #2709
No work has begun on this as of yet, and we'd love any assistance you might render!

[2022-10-25 22:18] XDRAGON2002 commented on #5120
@chipzoller I would like to try and resolve this.

[2022-10-25 22:46] eddycharly commented on #5120
@XDRAGON2002 assigned to you, thanks !

[2022-10-25 22:58] eddycharly commented on #5142
@chipzoller @zswanson I tried with 1.7.5 and observed a similar result.
We have code to ignore mutate existing rules when configuring mutating webhook, those rules end up in the validating webhook configurations.
Not sure what is expected here but I don't think it's a regression.

[2022-10-25 23:26] eddycharly commented on #5129
Spikes are in sync with the informer resync period. I will see what I can do.

[2022-10-26 05:20] #4716 closed

[2022-10-26 07:55] monotek commented on #5129
1.8.1 final already improved a bit in terms of hight of the spikes.
The smaller spikes between the big ones are still bigger as in RC1 though.

[2022-10-26 08:23] realshuting commented on #3154
This can be closed via #5026 right?

[2022-10-26 08:26] developer-guy commented on #3154
yes, exactly

[2022-10-26 08:26] realshuting commented on #3154
Closed via #5026.

[2022-10-26 08:26] #3154 closed

[2022-10-26 09:08] realshuting commented on #2335
In 1.8.x, `backgroundScan` is changed to a bool to disable/enable the background scan process. And it was removed from the [Configmap Flags](https://kyverno.io/docs/installation/#configmap-flags).

[2022-10-26 09:08] #2335 closed

[2022-10-26 09:13] realshuting commented on #2394
Now that we publish install.yaml as a release asset, closing.

[2022-10-26 09:13] #2394 closed

[2022-10-26 11:08] chipzoller commented on #5142
Unless it broke before 1.7.5. I confirm the same behavior in 1.7.5 but can't test on 1.7.0 because of the Cosign issues preventing Kyverno from coming up.

Why? This doesn't make any sense to me.

[2022-10-26 11:42] eddycharly commented on #5142
No idea why, I just found out while investigating.
For mutating existing resources do we need to do something in the webhook ?
I mean it’s supposed to be an existing resource right ? I don’t know mutate existing well enough.

[2022-10-26 12:30] chipzoller commented on #5142
@realshuting can you get with @eddycharly on this?

[2022-10-26 13:02] sdlarsen opened #5147 "[Bug] After upgrading to 1.8.1 (helm chart 2.6.1)"
### Kyverno Version

1.8.1

### Description

Kyverno never get's to a running state and are shutting down after ~5m, only to retry the failed startup.
The only thing I can find in the logs is this:

`E1026 12:09:16.492906       1 controller.go:238] webhook-controller/routine "msg"="failed to update lease" "error"="Operation cannot be fulfilled on leases.coordination.k8s.io \"kyverno\": the object

[2022-10-26 13:30] sdlarsen commented on #5147
Hmm. Will close this again. Upgrading the chart again after downgrading works just fine. I fail to explain :/

[2022-10-26 13:55] realshuting opened #5148 "[Bug] Make Kyverno ConfigMap configuration consistent across install.yaml and Helm chart"
### Kyverno Version

1.8.0

### Description

Configmap flags settings are not consistent between install.yaml and the Kyverno Helm chart. The following configurations need to be updated in the Helm chart to make it consistent with install.yaml:

1.  `excludeGroupRole` is set in install.yaml but missing in the chart:
https://github.com/kyverno/kyverno/blob/c3740d1c5b519e6b17ec17c6b89102af4e25a666/c

[2022-10-26 14:28] realshuting commented on #5142
The matching resources in mutate existing policies are configured in the validating webhook, this is working as expected in 1.8.1.

[code]

[2022-10-26 14:30] realshuting commented on #5142
I tested the sample policy with 1.8.1, the existing namespace didn't not get labeled correctly.

The UR was created upon policy creation but Kyverno failed to mutate it, due to the following failure:
[code]

I will open a PR to fix it. We also have e2e tests covering mutateExisting policies, I will check the tests and make sure the sample policy is covered properly.

[2022-10-26 15:05] object88 commented on #4496
My apologies for not following up.

Going from memory (which may be unreliable), I was able to work around my issue w/ Kyverno 1.7.3 by creating a prometheus ServiceMonitor.  Once was existed, the API seemed quite happy.

[2022-10-26 15:49] XDRAGON2002 commented on #5148
Hey @realshuting I would like to work on this.

[2022-10-26 15:49] pixiono opened #5150 "[Bug] Matching of service accounts and users is corrupted"
### Kyverno Version

1.8.1

### Description

I tried to build a policy to be applied only to a specific ServiceAccount. To do this, I used the match statement to match the ServiceAccount test. My test policy looks like this:
[code]

If I now create a ServiceAccount with the name and then try to create a ConfigMap with the token of this ServiceAccount it fails (as expected):

-> Everything as I wou

[2022-10-26 15:55] bitnik opened #5151 "[Bug] [CLI] Setting subset of autogen-controllers doesn't have any effect"
### Kyverno CLI Version

1.8.1

### Description

While updating from 1.7 to 1.8 we found out that our some of our tests are failing. Both of those policies have in common `pod-policies.kyverno.io/autogen-controllers` annotation with subset of pod controllers, e.g. only Deployment, DaemonSet and StatefulSet. We expected that tests for resources Deployment, Job and Cronjob are simply skipped but the

[2022-10-26 17:44] XDRAGON2002 commented on #2327
Hi @vyankyGH, I would like to work on this issue, could you elaborate a bit to guide me as to what all needs to be done in order to close this issue?

[2022-10-26 17:53] XDRAGON2002 commented on #4513
Hey @vyankyGH @chipzoller could you kindly elaborate a bit on the issue? As I would like to take this up.

[2022-10-26 19:08] chipzoller commented on #4513
The issue here is that even if the Kyverno CLI is pointed to a "live" cluster (by using the `-c` flag with the `apply` command), users must still define a static values file in order for policies to "work". This is superfluous because static values are only technically needed when Kyverno is _not_ pointed at a cluster. But if it is, Kyverno should be able to substitute the values just like it does

[2022-10-26 19:21] XDRAGON2002 commented on #4513
@chipzoller I guess I'll try and work on this.

[2022-10-26 19:31] chipzoller commented on #4513
Do you understand the problem statement though?

[2022-10-26 21:19] Starefossen commented on #5147
I have the same issue with a fresh install of Kyverno of the latest chart version.

[2022-10-26 21:20] XDRAGON2002 commented on #4513
@chipzoller `kyverno apply -c policy.yml` is supposed to run the specified policy against the running cluster, instead of specifying a set of resources for it to work on, it applies the rules on the resources present in the cluster itself.
Now as far as I understand the problem, in case of a `namespaceSelector`, kyverno apply is not able to pickup the matching resource from the cluster that it sho

[2022-10-26 21:22] eddycharly commented on #5147
This error message can happen (it should have no impact as long as it happens rarely), is it causing issues more than the error message ?

[2022-10-26 21:25] Rishit-dagli commented on #1959
I would love to take this up!

[2022-10-26 21:31] Rishit-dagli opened #5153 "`.devcontainer` for kyverno"
### Problem Statement

Setting up environments for contributing to Kyverno can be pretty difficult and an involved process.

### Solution Description

[Development Containers](https://containers.dev/), or dev containers, enable the configuration of remote development environments. A simple json formatted file instructs clients how to construct the container. Clients like VS Code and GitHub Codespa

[2022-10-27 01:18] chipzoller opened #5155 "[Bug] Kyverno writes events to a verifyImages policy even if a match is not satisfied"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Kyverno Rule Type

verifyImages

### Description

In a verifyImages ClusterPolicy set to `audit` mode which matches Pods but only in a specific Namespace sees a Pod created in another Namespace, an event is written to the ClusterPolicy like so:

[code]

While it is not certain if any policy processing act

[2022-10-27 03:55] disposab1e opened #5156 "[Bug] OpenShift - Mutate Rule - couldn't find model , err: invalid kind"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

OpenShift

### Kyverno Rule Type

Mutate

### Description

In #5136 I describe a strange behaviour but after testing 1.8.1 for a while in OpenShift more **model** problems emerge.

`E1024 14:47:09.120489 1 handlers.go:180] webhooks/resource/mutate "msg"="mutation failed" "error"="mutation policy team-mutate-resour

[2022-10-27 04:08] shahpratikr commented on #3735
@chipzoller I was unable to reproduce the issue with following policy.
Policy:
[code]
NOTE: I got certificate and image from one of the sample policy.
Resource creation:
[code]
Controller logs:
[code]

[2022-10-27 05:28] Starefossen commented on #5147
Yes, kyverno (even though it is running as a single instance and not HA) is constantly restarting.

[2022-10-27 06:50] realshuting commented on #5142
I tested again against the latest and 1.8.1, the label seems to be mutated correctly. Though it could take a few retries because of the above "object has been modified error".

[2022-10-27 07:20] Starefossen commented on #5147
I only downgraded, I have not yet tried to upgrade again. I am also on Kubernetes 1.25.

[2022-10-27 08:05] #5142 closed

[2022-10-27 10:05] #5102 closed

[2022-10-27 10:42] vyankyGH commented on #5151
@bitnik it's not the issue of the autogen-controller.
I'm not sure but somehow the `ownerReferences` from pod yaml causing an issue.
I have removed `ownerReferences` part from the pod resource and kyverno cli works as expected.
[code]
Looking at it why is the issue happening with ownerReferences

[2022-10-27 11:41] james-callahan commented on #4043
What do you mean?

"debug functions" meaning `constructDefaultDebugMutatingWebhookConfig` rather than `constructDefaultMutatingWebhookConfig`

[2022-10-27 11:42] eddycharly commented on #4043
This doesn’t exist anymore, we use the same webhooks and configure them for in cluster or out of cluster depending on the config.

[2022-10-27 11:47] james-callahan commented on #4043
Ah!
Looks like it's now inside of https://github.com/kyverno/kyverno/blob/2c4a2dab7e5b124ce1104566104e78685a4864b9/pkg/controllers/webhook/controller.go#L312-L321

So yeah. if we could configure the port (and potentially a url prefix?) that would close this issue out.

[2022-10-27 12:03] #3970 closed

[2022-10-27 12:03] chipzoller commented on #3970
Closed by #5158

[2022-10-27 12:11] obaranov1 commented on #2076
Hello! @chipzoller, @JimBugwadia Could you give me more details regarding requirement "appropriate level of descriptive information" when updating a Poilicy?

[2022-10-27 13:09] bhubert commented on #5147
Same issue here with a fresh install of 1.8.1 using yaml install.
I also had the issue on 1.8.0

The startup probe return a 500 error which finally lead to a loop restart of kyverno

[2022-10-27 13:10] chipzoller commented on #2076
Some basic information we could capture:

* Policy name
* Rule name within the policy which was updated
* User info (sourced from `request.userInfo` of the AdmissionReview payload)

[2022-10-27 13:16] chipzoller commented on #5151
@vyankyGH let's make sure we add this as a test case in kyverno/kyverno. I do not believe we have anything like this covered in kyverno/policies. This will ensure such a regression does not happen again.

[2022-10-27 13:34] chipzoller commented on #3735
@zosocanuck can you try this again, please?

[2022-10-27 13:35] chipzoller commented on #5156
Are you saying this problem didn't exist with Kyverno 1.7 or have you not tried that version?

[2022-10-27 13:47] eddycharly commented on #5147
I’ll change that for 1.8.2. Our current health check is causing issues.

[2022-10-27 14:09] bhubert commented on #5147
And i can confirm that forcing downgrade then upgrade of version made kyverno stable again

[2022-10-27 16:28] disposab1e commented on #5156
@chipzoller With 1.7.2 over weeks no issues... everything started with 1.8.x. Tested with 1.8.0, 1.8.1.rc3, 1.8.1.rc4, 1.8.1.. ver strange...

[2022-10-27 21:26] sudo-bmitch opened #5163 "[Bug] 1.8.1 release is not using the tagged image"
### Kyverno Version

1.8.1

### Description

The [install.yml for 1.8.1](https://github.com/kyverno/kyverno/blob/v1.8.1/config/install.yaml) did not use the 1.8.1 tagged image:

[code]

Because of this, the release cannot be installed because `--autogenInternals` is not a valid flag in the latest tag.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the doc

[2022-10-27 21:53] eddycharly commented on #5163
The released install.yaml manifest are available in release artifacts, not in the repo itself. The install.yaml you mention is for dev.

[2022-10-27 21:53] #5163 closed

[2022-10-27 22:02] eddycharly commented on #5163
The release manifests are here https://github.com/kyverno/kyverno/releases/download/v1.8.1/install.yaml

[2022-10-28 06:19] vyankyGH commented on #5023
@klubi I have discussed this internally with the team, and we don't want to change the current behaviour. fatal errors will be shown irrespective of log level.
Thanks for creating an issue.

[2022-10-28 06:19] #5023 closed

[2022-10-28 10:54] moritzjohner-form3 opened #5164 "[Bug] misleading `last-applied-patches` annotations"
### Kyverno Version

1.7.3

### Kubernetes Version

1.22.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

We're running on EKS/GKE/AKS, all share the same behaviour.

I've found that the annotation `policies.kyverno.io/last-applied-patches` contains misleading information. It states that it removed `volumeMounts`, added `container.args` or

[2022-10-28 11:23] chipzoller commented on #5164
@eddycharly do you think this may possible have been fixed by #5079 or is this unrelated?

[2022-10-28 11:51] chipzoller commented on #5138
I don't see this as necessarily a good thing. Because that label is not immutable, someone who wants to circumvent a policy/rule and learns of the existence of this label may add it to their manifest and allow Kyverno to let it through. This could be terribly abused.

If this is the behavior you want, you should explicitly write for it in a rule but adding an `exclude` clause which matches on this

[2022-10-28 11:51] #5138 closed

[2022-10-28 11:55] chipzoller commented on #4377
@monotek can you provide a simple example of what you're still seeing?

[2022-10-28 14:19] #3119 closed

[2022-10-28 14:26] monotek commented on #4377
I use the following policy in audit mode:

* https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all

After fixing one of my containers and adding the securitycontext, as shown below, the policy still fails after some time.

As "background" is set to "true" i expect the policy to pass after some time.

[code]

[2022-10-28 14:36] monotek commented on #5138
We're applying all our changes via GitOps so if someone can change a label in git he could also change a policy and add an exclude.

As both changes have to be reviewed the security impact is the same for us but disabling policies via label would be easier for a developer not knowing kyverno policies.

[2022-10-28 16:49] haydentherapper opened #5165 "[Feature] Verify Sigstore/Fulcio certificate transparency log inclusion"
### Problem Statement

Fulcio certificates are written to a Certificate Transparency (CT) log on issuance. Note that this log is different than Rekor - Rekor accepts artifacts, the CT log only accepts certificates that chain up to Fulcio's root certificate. The CT log returns an "SCT" (signed certificate timestamp) that represents a promise to include the certificate in the log. Artifact verifiers

[2022-10-28 19:11] Prakhar-Agarwal-byte commented on #4375
@realshuting I would like to work on this.

[2022-10-28 21:09] XDRAGON2002 commented on #2948
Hi @JimBugwadia @realshuting has this issue been resolved yet?
As I was working on #5120 I would also be willing to take this up if needed.

[2022-10-29 13:28] praddy26 commented on #5103
Another observation is that when we add label/annotations in the source it's propagated to the target(s), whereas if we delete the same labels/annotations in the source the same is not propagated to the targets and they still remain in the target(s)

[2022-10-30 11:51] zeborg commented on #2950
@realshuting @chipzoller - I think this can be closed now

<img width="404" alt="image" src="https://user-images.githubusercontent.com/37282098/198876756-b6c0b974-8f71-43a8-b657-6e5f1c669d91.png">

[2022-10-30 12:27] chipzoller commented on #2950
Thanks, closing.

[2022-10-30 12:27] #2950 closed

[2022-10-31 04:48] shahpratikr commented on #4110
I was running controller locally. I later realised that it was picking local configuration and it won't solve the problem in Kyverno deployment. I will look for other solution.

[2022-10-31 08:34] anoopka1739 commented on #4898
Replying here to report this issue as discussed over slack..key metrices missing..when can we expect the stable major release of v1.8.2 version with the fixes?

[2022-10-31 08:48] realshuting commented on #4898
Pasting the [Slack conv](https://kubernetes.slack.com/archives/CLGR9BJU9/p1667204716968279?thread_ts=1666152156.982839&cid=CLGR9BJU9):

[2022-10-31 09:10] realshuting opened #5169 "Fix SLSA signing issue"
Hi @zurrehma - thanks for the work!

However we are getting this error while [singing provenance](https://github.com/kyverno/kyverno/actions/runs/3346128691/jobs/5542625443):

[code]

It seems like the digest was not replaced correctly, could you check?

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/issues/4268#issuecomment-1295093032_

[2022-10-31 10:19] realshuting commented on #4377
Hi @monotek - would be helpful to provide full manifests of your policy and the resource.

[2022-10-31 10:34] #1959 closed

[2022-10-31 10:40] realshuting commented on #4343
Lack of manifests to reproduce the issue, please re-open with full manifests attached to reproduce.

[2022-10-31 10:40] #4343 closed

[2022-10-31 11:15] #5151 closed

[2022-10-31 12:59] prateekpandey14 commented on #4265
@therapy-lf did you tried with 1.8.1 release as well ?. If not can you pls try and let us know.

[2022-10-31 13:37] therapy-lf commented on #4265
I haven't but it magically started to work after I removed one duplicated update request and restarted all kyverno pods

[2022-10-31 14:12] chipzoller commented on #4847
@praddy26 any update here?

[2022-10-31 16:43] SANSKARJAIN2 commented on #5100
Hi, I am are working on this and have a few observations on which I would like to receive inputs:
observations:
While processing target resource updates, we are only retrieving ClusterPolicies and ignoring NsPolicies [here](https://github.com/kyverno/kyverno/blob/42a2df56c17af311a7c006df1532d26f58347547/pkg/webhooks/resource/generation/generation.go#L206) (same problem is there when source is upda

[2022-10-31 19:50] monotek commented on #4377
Nevermind. Turns out there was another injected container in the pod I wasn't aware of.

[2022-10-31 22:00] XDRAGON2002 commented on #4242
@adamjohnson01 are you working on this? If not, @chipzoller can I take this up?

[2022-10-31 22:09] adamjohnson01 commented on #4242
@XDRAGON2002 I am not working on it.

[2022-10-31 22:59] XDRAGON2002 commented on #4242
Oh, okay, in that case @chipzoller I would like to try and resolve this.

[2022-11-01 06:40] realshuting commented on #5136
Kyverno validates patched resources after applying mutate policies. This error message indicates that Kyverno fails to fetch the schema of the given kind `RangeAllocation`:
[code]

@disposab1e - can you confirm if `RangeAllocation` has the OpenAPI Schema defined?

This command should return you the schema:
[code]

[2022-11-01 07:11] realshuting commented on #5136
I managed to install the `rangeallocations` CRD on my test cluster but I don't see the same error message reported for `rangeallocation`. Here are the steps I followed:

1. Install the CRD:
[code]

2. Create the policy:
[code]

3. Create the namespace `team-susi-fake`
4. Create a configmap in this namespace `kubectl -n team-susi-fake create cm test`
5. Verify the labels are mutated
[code]
6. Dump

[2022-11-01 08:51] realshuting commented on #5136
But I did see the same error reported for another resource `TokenRequest`:
[code]

We have a option to disable policy validation via `cpol.spec.schemaValidation`:
[code]

I can send a PR to disable schema validation on the patched resource. Will this work for you @disposab1e ?

@chipzoller - any thoughts?

[2022-11-01 08:54] realshuting commented on #5156
This is similar to https://github.com/kyverno/kyverno/issues/5136, and will be addressed along with it.

Close as duplicate.

[2022-11-01 08:54] #5156 closed

[2022-11-01 09:17] XDRAGON2002 commented on #5153
@Rishit-dagli are you working on this?

[2022-11-01 09:21] realshuting commented on #5153
@XDRAGON2002 - would you like to take this?

[2022-11-01 09:22] XDRAGON2002 commented on #5153
@realshuting if @Rishit-dagli is not working on it then sure, yes, would like to add this feature.

[2022-11-01 09:38] monotek opened #5175 "[Feature] Add runnbook links to policyreport, defined via custom annotation in the policy"
### Problem Statement

We'd like to add a runbook annotation to policyreports, which should be defined in the actual policy.

Background:
We want to implement something like [Prometheus runbooks](https://runbooks.prometheus-operator.dev/) also for our policies.

Sometimes the descriptions in the actual policies are not enough for our devs to know what to do and we like to present some (markdown) f

[2022-11-01 11:33] obaranov1 commented on #2076
@JimBugwadia , @chipzoller I looked into the codebase and tried to understand the problem. Unfortunately, I do not think I am able to solve this issue at this point. Please, remove me from assignees.

I am contributing to the code by improving the period constant of the cmd/kyverno/main.go https://github.com/kyverno/kyverno/pull/5171

[2022-11-01 12:04] chipzoller commented on #5169
cc @zurrehma

[2022-11-01 12:43] SANSKARJAIN2 commented on #4325
Hi, I'm working on this issue and I have a few observations and would like to receive inputs:
1. When we create an Update request, we assign a label: `generate.kyverno.io/resource-name` to the trigger resource name, and as in this case, the **trigger resource name** doesn't follow the regex for metadata. labels, Kubernetes is denying the request for creating the ur.

2. Once we solve the 1st part,

[2022-11-01 12:49] chipzoller commented on #4325
Why is any encryption needed? Or do you mean "encoding"?

@prateekpandey14 please assist

[2022-11-01 12:56] SANSKARJAIN2 commented on #4325
My bad, I meant encoding.

[2022-11-01 13:00] chipzoller commented on #5100
Slack discussion: https://kubernetes.slack.com/archives/C032MM2CH7X/p1667307294435769

[2022-11-01 13:54] chipzoller commented on #5136
I still want to understand why this error was created in the first place. The OP suggests this behavior might not have been present in 1.7. @disposab1e can you please provide details?

[2022-11-01 14:34] Rishit-dagli commented on #5153
Sure thing, I could give it a stab

[2022-11-01 15:34] XDRAGON2002 commented on #5153
Oh @Rishit-dagli, sure then go ahead!
@realshuting can you assign him instead?

[2022-11-01 18:28] prestonr83 opened #5184 "[Bug] failed calling webhook "mutate.kyverno.svc-fail""
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

verifyImages

### Description

When a verifyImages policy is enabled when attempting to start a POD. I get the following errors.
`failed calling webhook "mutate.kyverno.svc-fail"`

I have increased the timeout to 30 seconds with no change
I have confirmed that running the following succ

[2022-11-01 20:41] sosheskaz commented on #4825
Also ran into this, but for a different issue. Eyeballing the code (which I am unfamiliar with): https://github.com/kyverno/kyverno/blob/e4bf66e756ab0196c8c2acaa6b4c2a320669c656/cmd/cli/kubectl-kyverno/test/test_command.go#L787-L795

It looks like we leave the possibility open to set `status` back to `pass`, even after it is already set to fail.

I'm going to try changing this and will submit a PR

[2022-11-01 20:49] #5129 closed

[2022-11-01 21:07] eddycharly commented on #5036
Yes, `kubectl apply` creates a too big annotation. `kubectl create` or `kubectl replace` work fine.
I don't know if spinnaker has an option to workaround that (can't spinnaker use real helm commands ?).

[2022-11-01 21:18] brian-provenzano commented on #5036
IDK if it can.  I am not aware of it being very configurable in this regard. I will investigate - otherwise I guess the solution is to delete the current CRDs and then recreate them?

[2022-11-01 21:20] eddycharly commented on #5036
You will hit the same issue if you delete the CRDs first, the issue is with `apply` command from `kubectl`.

[2022-11-01 21:21] brian-provenzano commented on #5036
Ah, true - then we might be stuck :(

[2022-11-01 21:26] eddycharly commented on #5036
If there's no way to use something else than `apply` or `server side apply` I don't know how to workaround this. Try asking on the spinnaker slack channel.

[2022-11-01 21:28] sosheskaz opened #5187 "[Bug] [CLI] test command seems to ignore some validation failures for mutate policies and falsely passes tests"
### Kyverno CLI Version

1.8.1

### Description

When running mutation unit tests, my tests succeeded when I expected them to fail.

The code causing this behavior is here: https://github.com/kyverno/kyverno/blob/e4bf66e756ab0196c8c2acaa6b4c2a320669c656/cmd/cli/kubectl-kyverno/test/test_command.go#L787-L795. Because the latter `if` clause is not an `else if` clause, and because the prior `if` clau

[2022-11-01 21:32] brian-provenzano commented on #5036
Yeah I will try asking on slack...  thanks for your help!

[2022-11-01 22:27] brian-provenzano commented on #5036
Just in case others hit this and use spinnaker.  The option appears to be to add the `strategy.spinnaker.io/replace` annotation to all resources you want spinnaker to use replace for instead of apply

https://spinnaker.io/docs/reference/providers/kubernetes-v2/

[code]

So I guess we have a couple possible options:
- fork the CRDs and manage them ourselves going forward by adding the annotation an

[2022-11-01 22:35] eddycharly commented on #5036
Thanks for letting us know, we have a PR to inject annotations in CRDs, I will review and merge it tomorrow https://github.com/kyverno/kyverno/pull/4964

[2022-11-01 22:36] eddycharly commented on #5036
We can get this in 1.8.2 🤞

[2022-11-02 07:39] realshuting commented on #5153
Done.

[2022-11-02 08:06] eddycharly opened #5193 "[Bug] deletion of reports not belonging to kyverno"
### Kyverno Version

1.8.1

### Description

Kyverno deletes reports that are not owned by kyverno controller.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this repository and mine is not recorded.

[2022-11-02 08:31] realshuting commented on #4225
Verified with the same test using Kyverno 1.8.1, there's no restart of the Kyverno pod in 25h and the memory usage is under 200Mi.

[code]

[2022-11-02 08:31] #4225 closed

[2022-11-02 09:37] realshuting commented on #5136
Also verified on 1.7.5, everything works the same as I described [here](https://github.com/kyverno/kyverno/issues/5136#issuecomment-1298114074), and no logs when I grep `RangeAllocation`.

I also removed the namespace selector to test adding labels to rangeallocations, the labels were added successfully, and this was the only log for the rangeallocation:
[code]

[2022-11-02 10:08] #5193 closed

[2022-11-02 10:17] realshuting commented on #5136
Sent https://github.com/kyverno/kyverno/pull/5197.

[2022-11-02 10:27] disposab1e commented on #5136
@realshuting Yes I can confirm RangeAllocation has the OpenAPI Schema defined...

[2022-11-02 10:30] realshuting commented on #5136
I have a test image pushed to `ghcr.io/realshuting/kyverno:fix-kind`, can you help verify with `cpol.spec.schemaValidation` set to `false`?

[2022-11-02 10:48] disposab1e commented on #5136
@realshuting Yes I will check your image...
@realshuting Do you test in an OpenShit cluster or an Kubernetes cluster with applied RangeAllocation crd?

[2022-11-02 11:04] eddycharly commented on #5113
Done, will be available in the form `k get polr -A -l cpol.kyverno.io/restrict-seccomp`

[2022-11-02 11:20] mikebryant commented on #5113
Sweet, thank you!

[2022-11-02 11:41] disposab1e commented on #5136
Checked your image.... and SCC annotations are generated without error logs...

[code]

One problem with your image...

[code]
is no longer supported? We ust it... but I removed it for the test than kyverno is starting.

[2022-11-02 11:44] disposab1e commented on #5136
@chipzoller Double Check... no problems with 1.7 but with 1.8.1 ... the problem is coming with 1.8!

[2022-11-02 12:25] chipzoller commented on #5199
## Issue Summary

When the below rule is a policy in `audit` mode, the API context var is inconsistently resolved. It is either resolved after the triggering Ingress resource has been persisted, resulting in effectively the same value(s) contained in the Ingress, or before, resulting in the (correct) empty array assuming no prior Ingresses in the cluster.

By changing the policy to `enforce` mode,

[2022-11-02 12:55] eddycharly commented on #5199
Policies in `audit` mode are processed asynchronously in a separate go routine.
Hence, when the policy is evaluated the admission call can be already terminated and the resource can be created.
Depending on the time it takes to start the separate go routine, the api call result can be different.

We could make the `audit` policies evaluation synchronous but it would impact impact the performance o

[2022-11-02 13:11] ansalamdaniel commented on #3746
@chipzoller  I'm unable to reproduce this bug in the webhooks and also in CLI. I've also included the test file for reference.

** kyverno-test.yaml **
[code]

**resources.yaml**
[code]

**Webhook output**
[code]

**CLI**
[code]

**Controller Logs**

[code]

[2022-11-02 15:48] chipzoller opened #5203 "[Feature] Adopt `kuttl` for testing"
### Problem Statement

An internal prototype of the [`kuttl` CLI tool](https://kuttl.dev/) has proven it is capable of handling the e2e and other tests needed in the Kyverno project. The bulk of the maintainers are in agreement we should start moving to `kuttl`.

### Solution Description

Adopt `kuttl` for as many tests as possible.

### Alternatives

_No response_

### Additional Context

_No res

[2022-11-02 15:56] chipzoller commented on #5199
Seems like, from an internal discussion, to support an eventual `warning` mode for `validationFailureAction` would require moving to synchronous evals anyway, so making that change would also fix this issue.

[2022-11-02 20:18] isugimpy commented on #5136
For an extra datapoint on this, I'm seeing this behavior occur with stock k8s resources as well, such as batch/v1/CronJob and policy/v1/PodDisruptionBudget.

[2022-11-02 21:13] kxs-sindrakumar commented on #3585
@nickvanwegen any luck with this?

[2022-11-03 00:59] chipzoller opened #5205 "[Feature] Helm chart support for proxies and custom CA certificate bundle"
### Problem Statement

The Helm chart doesn't have value options for pod proxies or custom CA certificate bundles.

### Solution Description

Add these options to the Kyverno Helm chart.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://

[2022-11-03 01:00] chipzoller commented on #5205
Link to https://github.com/kyverno/website/issues/670

[2022-11-03 04:14] viveksahu26 commented on #4825
udpr: user defined patched resource
egpr: engine generated patched resource
Hey @chipzoller , Currently, during the comparison between udpr and egpr, the udpr is compared with egpr in such a way that each field of udpr must be present in egpr. So, when these resources are passed for comparison  in [validateResourceWithPattern](https://github.com/kyverno/kyverno/blob/2a515a83074ea1e0dfdcc820f4b89ab

[2022-11-03 06:37] disposab1e commented on #5136
OpenShift resources grepped from #5156 with this behaviour as well:

CSINode, DNS, IngressController, Prometheus, EndpointSlice, ClusterLogging, InstallPlan, Config, Eviction, RangeAllocation

[2022-11-03 07:32] realshuting commented on #5136
I don't expect this issue happens to any of the default Kubernetes resources.

It must be something wrong with the Kyverno OpenAPI-controller which fetches resource definitions. @eddycharly - what has been changed in 1.8+ regarding this controller?

[2022-11-03 08:02] vyankyGH commented on #5014
@chipzoller https://github.com/kyverno/kyverno/pull/5073 PR already covered test, not sure what extra test cases we can add.

[2022-11-03 08:45] realshuting commented on #5175
Thanks for filing the request @monotek ! Would you like to contribute a PR?

[2022-11-03 08:47] realshuting commented on #5184
Hi @prestonr83 - did this issue occur with the imageVerify rule only? Or you cannot apply any type of Kyverno policy at all?

[2022-11-03 10:19] #5147 closed

[2022-11-03 10:31] realshuting commented on #4959
I've sent this PR to remove resource filter labels https://github.com/kyverno/kyverno/pull/5208. Now this metric only reports execution latency by rule info. Hope this helps reduce some noise :)

[2022-11-03 10:44] monotek commented on #5175
Unfortunately i'm not a developer :O

[2022-11-03 10:53] realshuting commented on #5175
That's totally fine :) thanks for raising it!

[2022-11-03 11:39] isugimpy commented on #5136
I wouldn't expect it either, but...
`handlers.go:180] webhooks/resource/mutate "msg"="mutation failed" "error"="mutation policy mutate-cronjobs-to-disabled error: failed to validate resource mutated by policy mutate-cronjobs-to-disabled: pre-validation: couldn't find model , err: invalid kind" "kind"="CronJob" "name"="redacted" "namespace"="redacted" "operation"="CREATE" "uid"="3e6e7e33-9288-4b95-

[2022-11-03 12:14] SANSKARJAIN2 commented on #4325
@prateekpandey14 can you please share your input on this?

[2022-11-03 12:48] chipzoller opened #5212 "List of container images for verifyImages testing"
### Problem Statement

Test coverage is lacking for images signed with all the various permutations of what Kyverno supports. Finding existing images that meet these criteria is difficult and not under our control, meaning tests could be brittle.

### Solution Description

Create a list of all the container images we would need signed with all the possible combinations. Creating a naming system an

[2022-11-03 12:54] eddycharly commented on #5175
Let's target 1.8.3

[2022-11-03 13:14] vyankyGH commented on #3585
@kxs-sindrakumar have you tried with V1.8.1 release version?

[2022-11-03 13:38] chipzoller commented on #3585
I can confirm I can still reproduce this on 1.8.1 with 3 replicas of Kyverno. Using all the supplied manifests as well as the command, it returns the following:

[code]

I did not see this error with just a single replica.

[2022-11-03 13:42] aslafy-z opened #5215 "[Feature] Disable PolicyApplied events"
### Problem Statement

In big clusters with lot of policies, applied policies produces lot of `PolicyApplied` events. When the load is pretty high, these are spammed at a pretty high rate. In most of the cases, we don't really care about these events. Also, mutation events are reported in an annotation of the target resource.

### Solution Description

I'd like to disable these `PolicyApplied` eve

[2022-11-03 14:06] prestonr83 commented on #5184
@realshuting I have only tried imageVerify. I will try with another policy and see what happens.

[2022-11-03 14:09] chipzoller commented on #5184
Please try with a general mutate rule, and also with a validate rule.

[2022-11-03 14:56] chipzoller commented on #5212
Hi @gurpreet-legend , how familiar are you with the verifyImages Kyverno rule type? That would be a necessary starting point for this issue.

[2022-11-03 15:06] gurpreet-legend commented on #5212
I haven't worked on verifyImage Kyverno rule type before, would really appreciate if you could direct me to some resources to begin with regarding this?

[2022-11-03 15:07] chipzoller commented on #5212
https://kyverno.io/docs/writing-policies/verify-images/

[2022-11-03 15:38] dgabrysch commented on #5136
This happens to me for Pods, on 1.7.5:
E1103 15:19:23.415518       1 mutation.go:25] WebhookServer "msg"="mutate error" "error"="failed to validate resource mutated by policy add-configuration-volume: pre-validation: couldn't find model , err: invalid kind" "action"="mutate" "gvk"="/v1, Kind=Pod" "operation"="CREATE" "resource"="openshift-marketplace/Pod/"

[2022-11-03 15:39] viveksahu26 commented on #5036
Agree :+1: .  I was also getting same issue. `kubectl create` works for me instead of  `kubectl apply`.

[2022-11-03 16:41] dgabrysch commented on #3585
I got this too, with OpenShift which tried to run a Job and failed with this error: admission webhook "mutate.kyverno.svc-fail" denied the request: failed to add image information to the policy rule context: invalid value in the Pod Events.

I am on 1.7.5.

[2022-11-03 16:53] demikl commented on #5136
Same issue here. Using kyverno 1.8.1 with the following `ClusterPolicy`:

[code]

JSON log:
[code]

[2022-11-03 18:11] chipzoller commented on #5074
Thanks for working on this! Yes, that's basically the summary outlined in the initial post. cc @eddycharly here

[2022-11-03 20:41] eddycharly commented on #4898
@anoopka1739 @monotek I don't reproduce the issue with 1.8.1, is there anything specific to do ?

[2022-11-03 21:44] eddycharly commented on #4898
I definitely failed to reproduce the issue with 1.8.1.
Am I missing something ?

[2022-11-03 22:51] monotek commented on #4898
Seems to work for me now too :)

I've used this query for alerting:
[code]

[2022-11-04 01:04] jim-barber-he opened #5221 "[Bug] Kyverno 1.8.1 cannot install a Policy into a cluster that has KEDA installed but no KEDA ScaledObject resources created yet"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Mutate

### Description

On a fresh Kubernetes cluster with KEDA installed but with no KEDA `ScaledObject` resources created yet, creating a resource based on the Kyverno `Policy` CRD results in the following error:
[code]
If however at least one `ScaledObject

[2022-11-04 01:18] jim-barber-he commented on #5221
Also I mentioned this same problem in a comment to a merged fix that went into Kyverno 2.7.2 that was to fix the problem (or one similar) but I had the same issue.
https://github.com/kyverno/kyverno/issues/2267#issuecomment-1200765944

[2022-11-04 01:24] vyankyGH commented on #3110
@chipzoller the` {{ .. ||  ' '  }}` condition in  deny rule is required?
[code]
Removed the OR condition from values and it work as expected.
[code]
I tested a few other scenarios and it works.

[2022-11-04 01:35] chipzoller commented on #3110
We shouldn't need this is the point. The behavior is inconsistent as pointed out here. We don't need to check these things up on DELETE behavior.

[2022-11-04 02:02] vyankyGH commented on #3617
It bit weird.
If we change the precondition to
[code]
Doesn’t thrown validation error.

[2022-11-04 02:14] chipzoller commented on #3617
Maybe this is just a policy authoring issue.

[2022-11-04 02:19] vyankyGH commented on #3110
Got the point. will debug and update the issue.

[2022-11-04 06:31] #4959 closed

[2022-11-04 07:11] realshuting commented on #5136
This PR refactors the openapi controller https://github.com/kyverno/kyverno/pull/4910. Seems like something's broken, I need to look into this change.

cc @eddycharly @prateekpandey14

[2022-11-04 07:55] #5113 closed

[2022-11-04 09:35] #3110 closed

[2022-11-04 10:38] mikebryant opened #5226 "[Feature] Better support for nulls / defaulting"
### Problem Statement

We wanted to use this in a foreach:

[code]

However, this led to the addition of:
[code]

when there were no initContainers in a Pod

This has worked instead:
[code]

Which is pretty ugly

### Solution Description

It would be great if this worked as we might intuitively expect:

[code]

### Alternatives

The above workaround

### Additional Context

_No response_

### Slac

[2022-11-04 11:56] gbvanrenswoude commented on #5221
We have a similar issue.

- Running Kyverno 1.8.1
- Kubernetes Version 1.21.x
- Chart 2.6.1
Applying the following `Policy` (note, not ClusterPolicy) in a namespace containing a kube-prometheus Chart and a aws-for-fluent-bit Chart: (chart: 'aws-for-fluent-bit', version: '0.1.11', repository: 'https://aws.github.io/eks-charts',)

[code]

throws

`admission webhook "validate-policy.kyverno.svc" deni

[2022-11-04 13:29] MdSahil-oss commented on #4663
@chipzoller I'd like to work on this.

[2022-11-04 13:31] chipzoller commented on #4663
Thanks! We need a proposal on how to write this in a rule first.

[2022-11-04 14:18] MdSahil-oss commented on #4663
The logic to implement :
-> We can add an additional atribute in `MatchResources` api like `AnyOrAll`.
-> If attribute `AnyOrAll` isn't mentioned in the rule or set `false` in `MatchResources` block or rule then by default behavior will be implicit AND operation.
-> If attribute `AnyOrAll` is set to `true` then resources will only need to match one of the both `Any` or `All` to get selected by the

[2022-11-04 17:50] chipzoller commented on #3304
I think we're good here now. Closing as completed.

[2022-11-04 17:50] #3304 closed

[2022-11-05 04:30] tahirraza commented on #5148
I have experienced similar issue. Will validate the changes

[2022-11-05 04:34] tahirraza commented on #5148
I'd like to see `kyverno` namespace be excluded in the helm install to keep it consistent with other installs.

[2022-11-05 11:15] chipzoller commented on #5148
It is excluded by default.

[2022-11-05 18:01] MdSahil-oss commented on #4663
@chipzoller what do you think of above approach ?

[2022-11-05 21:54] chipzoller commented on #4663
I'm not sure this will be good enough to be able to control exactly which behavior is needed. If you look at the initial use case, we need to be able to group conditions and then group those groups with others to define behavior. How would you write the specified use case in a policy?

[2022-11-05 23:18] eddycharly commented on #4663
Can’t the rule in the example be expressed with a negation ?

[2022-11-05 23:23] eddycharly commented on #4663
(OS = windows AND API version ≥ 25) OR when (OS ≠ windows) can be rewritten (OS ≠ windows OR API version < 25)

[2022-11-05 23:48] chipzoller commented on #4663
First, I made a mistake and should have used LessThanOrEquals. Second, no it can't because API version alone is not enough to make the decision to evaluate the policy.

[2022-11-06 09:44] eddycharly commented on #4663
If we evaluate api version it means that os is equal to windows.

[2022-11-06 10:07] chipzoller commented on #4663
What if OS was Windows and API was over 25? You don't want to evaluate the rule, so the logic cannot be inverted like that.

[2022-11-06 10:13] eddycharly commented on #4663
Use < sign. Both conditions will evaluate to false.

[2022-11-06 10:20] chipzoller commented on #4663
Go read the first message again 🙂. It'll only work with the ability to use an OR evaluator across those two expressions.

[2022-11-06 10:28] eddycharly commented on #4663
I still don't see why `(OS = windows AND API version ≥ 25) OR (OS ≠ windows)` would be different than `(OS ≠ windows OR API version ≥ 25)`.

[2022-11-06 10:42] chipzoller commented on #4663
Let's say you have a rule that should only be evaluated when one of two conditions are met. There is an OR between *One* and *Two*.

### One

* OS equals NOT `windows`

Regardless of the version, the `os` field is not equal to `windows`, the rule should be evaluated. The `os` field has possible values `windows`, `linux`, or `null` (i.e., unset). If that value is either `linux` or `null`, it has to

[2022-11-06 10:47] chipzoller opened #5236 "[Feature] Support for Notary v2 signature verification"
### Problem Statement

Kyverno currently only supports Sigstore Cosign as a signature verification technology. Notary v2 is the other standard which is rapidly gaining traction.

### Solution Description

Support for Notary v2 natively in Kyverno in addition to Sigstore Cosign.

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Researc

[2022-11-06 11:15] MdSahil-oss commented on #4663
@chipzoller the logic you mentioned above, I think can be implemented by this `OS ≠ windows OR API version <= 25`

Rule will be evaluted if OS isn't windows directly as per the first condition. otherwise if the `OS`  is `windows` and the API version is lessThanOrEquals to the 25 then only rule will get evaluated.

But this logic seems a bit tricky to understand, So [Specify precondition blocks as

[2022-11-06 11:19] chipzoller commented on #4663
Not it cannot. Each of the conditional blocks is isolated. The Pod which is a windows Pod will not be matched by the first condition, but the second (API version ≤ 25) will match a Pod using any OS. Because only one has to evaluate to true, the Windows Pod will be allowed under the second condition.

[2022-11-06 11:34] chipzoller commented on #4663
Here's a pseudopolicy snippet which may solve for this:

[code]

[2022-11-06 11:47] eddycharly commented on #4663
[code]
This is not correct ?

[2022-11-06 12:11] chipzoller commented on #4663
There are only two scenarios I could identify where this rule should fire:

* OS is `linux` or `null` on any API version
* OS is `windows` and where version is LessThanOrEquals 24

In looking at this in writing, I think you are right and I am wrong. Maybe I was making this too complicated? I'll have to do some test runs and see if this works in practice. It seems like it should. Context is [here](

[2022-11-06 12:29] chipzoller commented on #5226
An empty array needs to be declared as an object. Try this syntax:

[code]

[2022-11-06 12:44] MdSahil-oss commented on #4663
So @chipzoller Should I keep this enhancement continue while it's having low priority by keeing psedo snippet in mind
[code]

[2022-11-06 12:52] chipzoller commented on #5136
We need to define test cases for this once we solve.

[2022-11-06 12:54] chipzoller commented on #5136
@demikl not that I'm suggesting the policy language is the fix, but I have simplified and adjusted your above policy. Try this and see if you get the same result:

[code]

[2022-11-06 12:56] chipzoller commented on #4663
I would close your WIP PR for now and hold off until I've validated this. It's my belief that this enhancement would still be valuable, but there would need to be a design aspect prior to proceeding with any implementation.

[2022-11-06 13:10] chipzoller commented on #5014
Closed by #5204 and #5073

[2022-11-06 13:10] #5014 closed

[2022-11-06 13:14] chipzoller commented on #4825
"egpr"?
"udpr"?

[2022-11-06 14:27] developer-guy opened #5237 "[Feature] register Kyverno policy mediaTypes to iana mediaTypes"
### Problem Statement

As we implemented the first part of the [KDP#19](https://github.com/kyverno/KDP/pull/19) and enabled pulling and pushing Kyverno policies from and to OCI registries as OCI artifacts by defining its mediaTypes defined in the KDP. It is time to register them to the [iana mediaTypes](https://www.iana.org/assignments/media-types/media-types.xhtml) for broader visibility and owne

[2022-11-06 14:29] chipzoller commented on #5237
Can you point us to the process one needs to follow here?

[2022-11-06 14:33] developer-guy commented on #5237
@sabre1041 will help us at that point by sharing the resources/documents that we need to follow and read to complete this process ☝️

[2022-11-06 16:23] viveksahu26 commented on #4825
egpr refers to patched or mutated resource generated internally by Kyverno engine after applying mutate policy on resource.

udpr refers to patched resource define by the user in the kyverno-test.yaml. according to user how resource will look like after being mutated by policy.

[2022-11-06 16:24] chipzoller commented on #5221
Partially covered by tests in #5238

[2022-11-06 16:52] sabre1041 commented on #5237
@developer-guy @chipzoller The process of registering a new mediaType with IANA involves submitting a new application which can be found [here](https://www.iana.org/form/media-types).

Members of the committee will review the application and reach to the defined point of contact with and questions, clarifications and even require additional details be provided.

A good reference to review is the d

[2022-11-06 18:32] developer-guy commented on #5237
Thank you so much for helping us, @sabre1041; this is gold! 🥇

[2022-11-06 19:01] sandeshlmore commented on #5074
Hi @chipzoller, i am working on this issue and I realised that if we implement background-only mode as ```background : true``` and ```validationFailureAction : ""```(if user doesn't specify **Audit** or **Enforce** and not defaulting to **Audit**), I need to make changes to  ```validationFailureAction``` in many of existing policies used in e2e, unit tests, conformance test. e.g. wherever ```valid

[2022-11-06 23:03] chipzoller commented on #5074
We should make this change regardless of any of the work that goes on in this issue. The conformance tests should be fine. What others do you notice need this specified?

[2022-11-07 00:37] vyankyGH commented on #3260
@rparke  have tested my end. The issue is non-reproducible in the latest version.

[2022-11-07 01:40] vyankyGH commented on #3701
@sjentzsch @chipzoller I'm facing a hard time reproducing the issue.

[2022-11-07 01:43] chipzoller commented on #3701
Are you testing with 3 replicas?

[2022-11-07 03:14] vyankyGH commented on #3701
Yes. I think maybe there will be problem with the last applied annotations but it not removing any fields

[2022-11-07 08:02] eddycharly commented on #4879
Closing, I think it will be fixed in 1.8.2. Please reopen if necessary.

[2022-11-07 08:02] #4879 closed

[2022-11-07 08:02] eddycharly commented on #4898
Closing, it looks like it has been fixed. Please reopen if necessary.

[2022-11-07 08:02] #4898 closed

[2022-11-07 08:03] eddycharly commented on #3567
@realshuting @chipzoller is there anything left to do here ?

[2022-11-07 08:59] #2948 closed

[2022-11-07 10:42] demikl commented on #5136
Hi, I just tried with the above policy spec. It does not work any better concerning the "_invalid Kind_" bug. However, I can confirm that removing the annotation for disabling the autogen rules (that's the only change between my and your version, isn't it?) is a nice simplification since Kyverno doesn't generate any autogen rules even without the annotation. Thanks for your expertise.

[2022-11-07 12:27] chipzoller commented on #4440
@sandeshlmore will you please respond for assignment?

[2022-11-07 13:00] chipzoller commented on #3567
I don't think so. We'll close for now. Those on the issue, if the problem reappears please comment.

[2022-11-07 13:00] #3567 closed

[2022-11-07 13:15] sandeshlmore commented on #4440
/assign

[2022-11-07 13:24] #5221 closed

[2022-11-07 14:20] #4101 closed

[2022-11-07 14:55] pacokleitz opened #5249 "[Enhancement] Add removed info back to validation logs"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

In version 1.6 of Kyverno, the logs of a validation failure were giving informations about the type of validationFailureAction (enforce or audit) in the `msg` field. We also had the name of the policy violated in a `policy` field. By logging with verbosity `--

[2022-11-07 15:27] eloo opened #5251 "[Bug] [CLI] Match resources kind is selection wrong resources"
### Kyverno CLI Version

1.8.1

### Description

Hi,
while i was creating some policies for this awesome tool i have sadly discovered a really tricky and critical bug.

It looks like the resource matching is broken when we have resources with the same kind but different apiVersion/group

So the GVK mechanism is not working as expected or documented.

This results in a WRONG selected resource while

[2022-11-07 20:06] chipzoller commented on #5099
@eddycharly @realshuting @JimBugwadia do you have a preferred method of how to handle this? Maybe this would be easiest or best?

[2022-11-07 20:21] eddycharly commented on #5237
@sabre1041 would you be kind enough to highlight the benefits of registering a media type ?

[2022-11-08 04:53] vyankyGH commented on #3260
Closing issue! please feel free to open it for any queries.

[2022-11-08 04:53] #3260 closed

[2022-11-08 05:45] vyankyGH commented on #3617
also @chipzoller I have tried this to get value
[code]
getting error
[code]

[2022-11-08 09:28] eddycharly commented on #5136
@demikl do you have the labels set on the namespace ?

[2022-11-08 10:28] realshuting commented on #3735
I'm not able to reproduce the error either with kyverno v1.8.1, the pod is created successfully:
[code]

[code]

[code]

Closing this issue.

[2022-11-08 10:28] #3735 closed

[2022-11-08 10:32] realshuting opened #5266 "[Bug] Create UR per trigger per rule for `mutateExisting` policies"
### Kyverno Version

1.8.1

### Description

Creating this separate issue to track works for mutateExisting policies.

For details, please see https://github.com/kyverno/kyverno/issues/3668.

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched othe

[2022-11-08 10:49] demikl commented on #5136
I have some of the namespaces that have the labels. The errors seems to come from namespaces that don't have the labels. I'll check by adding a precondition, but it was nice to have a rule working without a need for a precondition with kyverno < v1.8. Moreover, the error message does not hint why the rule is failing.

[2022-11-08 10:51] eddycharly commented on #5136
@demikl yes, i fixed the bug in the linked PR, just wanted to confirm, thanks.

[2022-11-08 10:54] demikl commented on #5136
Nice, do you want me to test with a docker image you may have built from your PR ?

[2022-11-08 10:55] eddycharly commented on #5136
I didn't publish an image, once the pr is merged and cherry picked in 1.8 branch you can give it a try.

[2022-11-08 11:16] realshuting commented on #4536
@etcshad0vv - We've changed the way of loading the imagePullSecrets:
https://github.com/realshuting/kyverno/commit/afc9a56d33eb3ccdd1552e39cc70dd43fa7a9fa5#diff-7b5a7d8ea5301364ac84cdab584c6c04259c697f0e51a2743488fad923ab9424R170

Can you verify with the latest kyverno v1.8.1?

[2022-11-08 11:36] #5136 closed

[2022-11-08 12:01] chipzoller commented on #3617
JSONPath is not JMESPath. Expressions written in JMESPath probably won't work in JSONPath unless they're very simple.

[2022-11-08 12:11] chipzoller commented on #3617
The precondition doesn't seem to have anything to do with this. The returned error message is being produced when evaluating the deny checks.

[2022-11-08 12:16] chipzoller commented on #3617
Preconditions don't seem to have any bearing on this issue. The failure message returned is in the deny block. But, again, it doesn't make sense because the variables are being substituted correctly and the resource should be allowed yet it's being blocked by apparently an unrelated message.

[2022-11-08 12:23] chipzoller commented on #3617
[code]

[2022-11-08 12:45] chipzoller commented on #5251
Thanks for reporting this! Have you tested this in the Kyverno webhook to see if you get the same behavior, or is this isolated to just the CLI? If you haven't tested, would you mind?

[2022-11-08 13:36] itsek opened #5270 "[Bug] ill-formated yaml leads to crash of kyverno pod"
### Kyverno Version

1.8.1

### Description

while testing created this ill-formated yaml for a policy:
[code]

the error is on the last line, without the list "-" the file is fine, with it:
`kubectl apply -f <policy.yml>`

leads to a crash of the kyverno pod
tested with 1.7 and 1.8.1

the yaml itself passes yamllint

Log output of Pod after crash:
[code]

deleting the policy with
`k delete cpol -

[2022-11-08 13:56] demikl commented on #5136
Just tested with image tagged `v1.8.1-29-gc2923b634`. It provides error messages with better hints about what's going on, for example:

For my policy to work, I had to restrict the matching elements to only those belonging to a namespace having the expected labels (using a `namespaceSelector`), so **there's still a change of behavior between kyverno 1.7 and kyverno 1.8**.

[code]

[2022-11-08 14:02] demikl commented on #5136
Furthermore, while my policy has `failurePolicy: Ignore`, the error prevents the `kubectl apply` for succeeding.

[2022-11-08 14:02] chipzoller commented on #5136
I'm not sure what wouldn't be allowed in 1.7 versus 1.8 with that snippet.

[2022-11-08 14:04] eddycharly commented on #5136
But the policy is not failing in this case, the communication between kyverno and the api server went well, it just denied the request.

[2022-11-08 14:05] realshuting commented on #4536
I'm able to reproduce the issue and verified that only the first secret is loaded to access the image registry.

When adding as the first secret, it gave me "subject mismatch" error:
[code]

While adding as the second secret, the access is denied:
[code]

[2022-11-08 14:06] demikl commented on #5136
I'm not expecting this rule to deny any request. Just to mutate things.

[2022-11-08 14:08] chipzoller commented on #5136
If you are unable to create a policy with `kubectl apply` it means Kyverno is kicking it back due to validation of the policy itself failing. This is unrelated and has no bearing on the `failurePolicy` defined therein.

[2022-11-08 14:09] demikl commented on #5136
It's not the policy creation that is being rejected, but a `kubectl apply` of a `Deployment` YAML file.

[2022-11-08 14:09] eddycharly commented on #5136
To mutate things the engine has to be able to process the rules, and as the rule refers to missing namespace labels it's considered an error.
If this is expected that the namespace labels are optional you should use defaulting, if not, you should filter using preconditions I guess.

[2022-11-08 14:10] eddycharly commented on #5136
Also, I wonder if there's a better solution than invoking the api here, we don't provide namespace labels in the context by default ?

[2022-11-08 14:11] demikl commented on #5136
I'm OK with using preconditions or whatsoever. My main point here is that the behavior has changed between v1.7 and v1.8 and may hurt users. With 1.7, I could use this mutate rule without any filtering. With 1.8, the policy is denying all `Deployments` from a namespace that does not have the labels I'm refering in my mutating rule.

[2022-11-08 14:13] chipzoller commented on #5136
Can you provide example resources of what works and what does not on 1.8? I'm unclear what the issue is here.

[2022-11-08 14:14] eddycharly commented on #5136
I understand the change in behaviour is a problem (that's why I pinged @chipzoller).
FWIW we are adding conformance tests, this should help preventing these situations.

Anyway, I think what we have now is more correct than 1.7, what was the result in 1.7 when using namespace labels that did not exist ? The value was an empty string ?

[2022-11-08 14:44] chipzoller commented on #5136
I'm glad to update the release notes now with a breaking change warning, but I am still not 100% clear on the issue. This is why I request you to provide some illustrating examples so we are clear on the guidance.

[2022-11-08 14:46] demikl commented on #5136
Sure, let me prepare a clear generic example, instead of my specific rule.

[2022-11-08 15:05] sandeshlmore commented on #5270
@chipzoller 5246 validates schema of resource in case of muation rule.

[2022-11-08 15:11] chipzoller commented on #5136
Thank you! This makes it very clear the issue here is as suspected:  the JMESPath filter `{{namespaceLabels.sourceLabel}}` is evaluating to `null` for the `this-one-is-denied` Deployment thereby resulting in an invalid mutate directive.

[2022-11-08 15:15] chipzoller commented on #5136
I have added this statement to the [1.8.0 release notes](https://github.com/kyverno/kyverno/releases/tag/v1.8.0):

- ⚠️BREAKING: Unresolved JMESPath expressions are fixed to properly evaluate as `null` instead of an empty string (`''`). Some policy updates to use [existence checks](https://kyverno.io/docs/writing-policies/jmespath/#non-existence-checks) may be necessary.

Do you agree this is suff

[2022-11-08 15:17] demikl commented on #5136
I'm not sure I would have thought that my policies would be concerned by this breaking changes, if I had read this message. That's because I'm dealing with mutating rules, that I thought they would never deny any request. But maybe that's only my personal understanding of kyverno.

[2022-11-08 15:18] demikl commented on #5136
Maybe you could add "Some of your policies may now deny validating or mutating requests because of this breaking changes" ?

[2022-11-08 15:20] chipzoller commented on #5136
- ⚠️BREAKING: Unresolved JMESPath expressions are fixed to properly evaluate as `null` instead of an empty string (`''`). Some policy updates to use [existence checks](https://kyverno.io/docs/writing-policies/jmespath/#non-existence-checks) may be necessary or otherwise may now deny validating or mutating requests.

[2022-11-08 15:30] eloo commented on #5251
Hi @chipzoller we have this policy already applied to our as background policy and see the same behaviour that our RDS DBCLusters are not scanned.

[2022-11-08 18:15] SANSKARJAIN2 opened #5277 "[Bug] Namespaced policy doesn't sync the cloned resources when the source resource is edited."
### Kyverno Version

1.8.1

### Kubernetes Version

1.25.x

### Kubernetes Platform

Minikube

### Kyverno Rule Type

Generate

### Description

A Policy (Namespaced) generate rule which uses a clone declaration where synchronize is enabled, does not sync the changes when the source resource is changed.

### Steps to reproduce

1. create the `poltest` namespace
[code]
2. Create a Secret in poltest

[2022-11-08 18:44] prestonr83 commented on #5184
I added a validate rule and it didn't prevent pod from creating but I see the following errors in the kyverno pods
[code]

Policy tested
[code]

[2022-11-08 18:49] eddycharly commented on #5184
Looks like your webhook is modified concurrently ?

[2022-11-08 19:22] prestonr83 commented on #5184
I haven't modified anything. I simply deployed Kyverno like so
[code]

[2022-11-09 07:12] sandeshlmore commented on #5101
/assign

[2022-11-09 07:37] #4440 closed

[2022-11-09 08:59] sabre1041 commented on #5237
@eddycharly Registering a mediaType with IANA has several benefits:

* Formally standardizing a format with an internationally recognized organization
* Provides end users visibility on how to interact with format
* Enables a project to better understand and design the structure of their asset

There are several others, but hopefully these highlighted the key value oints

[2022-11-09 09:49] eddycharly commented on #4828
@realshuting @chipzoller can you provide details on what is needed here ?

[2022-11-09 10:12] olensmar commented on #4073
@JimBugwadia would love to see this implemented so we can provide a direct integration between the Kyverno CLI and Monokle - can we help somehow? Can you point us to the code that produces the current "reports" ?

[2022-11-09 11:02] eddycharly commented on #5237
Thanks @sabre1041 !

Still, benefits are not yet clear to me. What cannot be done without registering a media type ?

Will this help with versioning for example ?
Or will this allow us to add validation on the content ?

Can you give a few hints how registering a media type is going to help in this area ?

[2022-11-09 11:29] sabre1041 commented on #5237
@eddycharly registering a mediaType with IANA will store details within the IANA registry, a globally recognized warehouse and provides details on how to interact with the content. Within the details of the submission, submitters will specify the data type including additional information that would be pertinent to the end consumer. These can include references to existing schemas and additional a

[2022-11-09 11:40] eddycharly commented on #5237
Ok so in the end IANA is just a directory ?

Can we use a media type without registering it to IANA first ?

[2022-11-09 11:53] sabre1041 commented on #5237
@eddycharly absolutely. As I mentioned, IANA registration is optional. Helm has been using mediaTypes for several years (first in experimental mode within the project and now GA) without being registered. We still have some media types registrations that are still in progress with IANA.

If there are any Kyverno project meetings, it would be good to have this as a topic of conversation for the com

[2022-11-09 11:53] prateekpandey14 commented on #4265
Closing this issue fixed in 1.8.1 , feel free to open otherwise.

[2022-11-09 12:08] bognarbalazs commented on #5078
@eddycharly Thank you, I'll test the new release of the Kyverno and thank for everything.

My last question is , is there any option to define the default behaviour of the webhooks somehow? The fail-closed mode is not the most suitable in my opinion, because it can stops the deploying proccesses at an unexpected failure. I know, that it can be set per policy, but for me , it would be a nice featur

[2022-11-09 12:11] prateekpandey14 commented on #3879
Closing this issue since the informer fixes has been merged, further issues related to namespace policy has been tracked as part of issue 5100.

[2022-11-09 12:11] #3879 closed

[2022-11-09 12:14] chipzoller commented on #5100
Any progress on this?

[2022-11-09 12:23] eddycharly commented on #5078
@bognarbalazs please see https://github.com/kyverno/kyverno/issues/5028

You can add your feedback here

[2022-11-09 12:27] chipzoller commented on #5078
Is there any outstanding action needed to be taken on this issue?

[2022-11-09 12:31] eddycharly commented on #5237
Definitely, the good news is that we can start using media types now and register later.

[2022-11-09 12:32] bognarbalazs commented on #5078
@chipzoller No, there isn't.
@eddycharly  Thank you!

[2022-11-09 12:32] #5078 closed

[2022-11-09 12:54] SANSKARJAIN2 commented on #5100
yes, the changes are done, need to add some UT cases. Will raise a PR for this tomorrow.

[2022-11-09 13:00] developer-guy commented on #5237
Yep but also, at the same time, we could start the registration process, and we can follow up on the progress in parallel, does that make sense?

[2022-11-09 13:07] eddycharly commented on #5237
I would wait a bit until we know how we are going to structure our OCI artifacts usage better.
No need to rush IMHO, registering the media type should happen when we are mature enough for it.
I would rather not register the media type pointing to incomplete specs or wip documentation.

[2022-11-09 13:31] chipzoller commented on #5237
Agree. We need to figure out what the full story and flow is around this to know what we need. This isn't a must-have ability right now.

[2022-11-09 17:58] realshuting commented on #4847
Hi @praddy26 - the codefreeze for 1.8.2 starts this Friday Nov 11th, are you able to send the PR before it so that we can start the review process?

[2022-11-09 18:44] nickvanwegen commented on #3585
@vyankyGH
Not to be rude but this issue is already open a long time and has been postponed every release since.
this issue is preventing me from using mutating PSS policies for a long time now on my clusters and thus user experience drops.

Could you maybe give an ETA on when this issue is going to be solved?

[2022-11-09 20:31] alexo1088 opened #5284 "[Bug]"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Kyverno Rule Type

Validate

### Description

I'm attempting to change the verbosity of error messages that are logged by the kyverno pods, and regardless of the level I set within the deployment, log entries continue to show sensitive information.

In the example below, I'm purposely triggering a policy.

[2022-11-09 22:58] erkules opened #5289 "[Bug] validateImage does not update signatures"
### Kyverno Version

1.8.1

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Kyverno Rule Type

verifyImages

### Description

It looks like verifyImages caches the the signature. So changes aka new signatures are not taken into account.
Happens with a key and in keyless mode.

### Steps to reproduce

1. Lets suggest having following policy:
[code]

Let's take an Image with no Si

[2022-11-09 23:06] chipzoller commented on #5289
Maybe we need to bring back a background scan on a time-based interval just for this use case?

[2022-11-10 00:43] vyankyGH commented on #3585
@nickvanwegen Extremely sorry for the inconvenience, we are taking the issue on priority will fix ASAP

[2022-11-10 07:59] eddycharly commented on #5284
Thanks, I will address this in next release.

[2022-11-10 08:34] realshuting commented on #4536
Seems like a upstream bug [k8schain doesn't work with multiple Secrets](https://github.com/google/go-containerregistry/issues/723).

The same issue observed in https://github.com/banzaicloud/bank-vaults/issues/1269#issuecomment-806794282:

I'll add a note to the changelog:

Multiple `imagePullSecrets` is not supported, only the first secret will be used if multiple secrets are specified via the --

[2022-11-10 08:58] realshuting commented on #3538
- '--imagePullSecrets=regcred,regcred-customer'
            - '--webhooktimeout=15'

Hi @do87 - I see `regcred-customer` is passed as the second secret, while Kyverno currently cannot accept multiple registry secrets due to a upstream bug, see details at https://github.com/kyverno/kyverno/issues/4536#issuecomment-1309943026.

This is a duplicate with https://github.com/kyverno/kyverno/issues/4536,

[2022-11-10 09:38] gaborbodis opened #5294 "[Bug] Admission reports do not contain owner reference"
### Kyverno Version

1.8.1

### Kubernetes Version

1.23.x

### Kubernetes Platform

AKS

### Kyverno Rule Type

Validate

### Description

We have a cluster policy running in audit mode. Immediately after starting/restarting kyverno, the admission reports correctly contain the owner reference. However, after ~1 hour (I could not determine the exact timing), new admission reports are missing the o

[2022-11-10 10:04] eddycharly commented on #5294
I think this will be fixed in 1.8.2

[2022-11-10 10:13] monotek commented on #5138
@chipzoller

Beside our Gitops argument excludes are aslo kind of messy over time.
For example if you delete a resource you also have to remeber to remove the exclude from the policy to keep things clean.

As a workaround we might create a precondition for each policy which checks for an annotation or label first, but would be nice this would not be neccessary and this feature request could be rec

[2022-11-10 11:08] bognarbalazs commented on #5028
In this case, what does the resourcefilters used for?

What is the real difference between the resourcefilters and the webhook configuration?

I have the following webhook conf:
[code]

inspected namespace:
[code]

resource filter:
[code]

So in the case of this namespace, nor the operation request won't be forwarded to the validatingwebhook and the kyverno won't generate any policyreport?

Or wha

[2022-11-10 11:17] eddycharly commented on #5028
Webhook configuration: tells the api server when to send admission requests to kyverno
Resource filters: used in kyverno to determine if the currently admitted resource needs to be considered

With webhook configuration you can filter admission requests sent to kyverno and with resource filters you can filter resources processed by the kyverno engine.

Both mechanisms are primarily used to prevent

[2022-11-10 11:43] #4457 closed

[2022-11-10 13:07] realshuting opened #5300 "[Test] Add a kuttle test for #5162"
### Problem Statement

Needs a kuttle test for the skipped generate policy:

### Solution Description

n/a

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have searched other issues in this re

[2022-11-10 13:23] chipzoller opened #5301 "[Feature] Add automation to generate kuttl test index"
### Problem Statement

With growing number of tests and test cases being folder names, it will be difficult to understand what we have as far as tests.

### Solution Description

A test directory/index, probably per large folder, that is automatically generated and maintained via Makefile which has test case name and test description.

### Alternatives

_No response_

### Additional Context

_No r

[2022-11-10 15:33] realshuting opened #5307 "[Test] New kuttle test for policies using special characters"
### Problem Statement

Add the kuttle test for https://github.com/kyverno/kyverno/pull/4767. Manifests are attached in the PR description.

### Solution Description

Details for adding the kuttle test:

https://github.com/kyverno/kyverno/tree/main/test/conformance/kuttl

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X]

[2022-11-10 16:03] #3578 closed, assigned to somebadcode

[2022-11-10 16:03] #3616 closed

[2022-11-10 18:17] somebadcode commented on #5307
I have a PR for this here: #5310

[2022-11-10 20:26] joebowbeer commented on #5076
Please add a comment to this and similar policies explaining why autogen is disabled in this case, and an additional rule is added for pod controllers instead.

According to my understanding of the docs, autogen should have worked here without the additional rule.

From test docs:

and the autogen doc does not mention the metadata restriction discussed here:

https://kyverno.io/docs/writing-polici

[2022-11-10 22:37] JimBugwadia commented on #5076
That would be one way to handle this. The user can then disable autogen explicitly.

Or, we do not convert "metadata.namespace" values to "spec.template.metadata.namespace".

Can you elaborate on what side-effects could be a concern?

[2022-11-10 22:42] stelah1423 commented on #4375
Hello!

I know this is already assigned to someone to work on, however, I went ahead and made the changes in my local build of the Kyverno cli for this feature. This is something my team and I need in order to get the cli integrated into our pipeline validation stages for policy checks. Also, whenever I find an excuse to do something in Go, I usually can't help myself. 🤓

I'll be looking to submit

[2022-11-11 00:03] brandtkeller opened #5312 "[Feature] Air Gap testing for Kyverno in Pipeline"
### Problem Statement

As a key technology in highly-regulated environments, it is important that Kyverno be able to operate effectively in any environments with explicit knowledge of any connectivity required to external systems.

More importantly, if the functionality or quality of service will be reduced by the inability to execute some functionality of Kyverno in an air-gapped environment (No

[2022-11-11 00:51] JimBugwadia commented on #3709
@shahpratikr - please comment `/assign` so I can assign this to you

[2022-11-11 04:26] shahpratikr commented on #3709
/assign

[2022-11-11 07:19] #5187 closed

[2022-11-11 09:45] #5307 closed

[2022-11-11 10:29] adabuleanu commented on #4521
I hit the same issue while using the mutating webhook for [vault-agent-injector](https://developer.hashicorp.com/vault/docs/platform/k8s/injector). Steps to reproduce:
- install kyverno 1.7.1
- install vault-agent-injector 0.19.0
- create a kyverno policy to restrict images for `hashicorp/vault` repo
[code]
- add vault annotations to a deployment. example
{code}
        vault.hashicorp.com/agent-i

[2022-11-11 10:51] chipzoller commented on #4521
@adabuleanu can you try to reproduce on 1.8.1?

[2022-11-11 13:23] vyankyGH commented on #3617
@chipzoller After debugging a lot, I found that
In policy, we have a defined list for rules
[code]
and from the given resource,
The list takes 2 element
1st
[code]
2nd
[code]

So, the list is iterating over these 2 elements.

The Variable substitution happens for 1st elements which have `alert` fields and variable substitution shown in Logs.

but when it goes to the 2nd element which doesn't have

[2022-11-11 13:35] realshuting commented on #5100
Are we targeting 1.8.2?

[2022-11-11 14:11] chipzoller commented on #5100
If it does not impede other deliverables, yes, otherwise no.

[2022-11-11 14:14] realshuting commented on #5184
@eddycharly - I used to see this error a lot when updating URs for mutateExisting policies. This is due to the resourceVersion of the object in the cluster having been changed. Once I set the object's resourceVersion to empty and update it via client update call, the issue disappears.

[2022-11-11 14:26] realshuting commented on #4828
I think at the very least we need structural content to be added to properties so that one can parse them properly.

[2022-11-11 19:30] #4930 closed

[2022-11-12 12:36] chipzoller commented on #5076
Maybe none if the exception is confined to `metadata.namespace`. If that's the idea I think it's more safe than stopping autogen for the entire `metadata` object.

[2022-11-12 12:43] chipzoller commented on #5076
@joebowbeer would you be interested in logging two issues for your above [comment](https://github.com/kyverno/kyverno/issues/5076#issuecomment-1310854301); one in kyverno/website for docs and the other in kyverno/policies for that sample? Of course, direct PRs are always most welcome. At the very least, we should document/make users aware of this behavior.

[2022-11-12 14:22] praddy26 commented on #4847
@JimBugwadia  let's say asper your suggestion I moved `attestations` under `attestors` (which is list of objects containing `count`, `entries` and now `attestations`)

So if the `ClusterPolicy` is like below, then subject/issuer should be first matched for attestation, then if it matches only then do verification of attestation only for all conditions and not the image signature verification. Righ

[2022-11-12 22:18] JimBugwadia commented on #4847
@praddy26 - no, the current logic is to only check attestations if any attestations are specified. See:

https://github.com/kyverno/kyverno/blob/main/pkg/cosign/cosign.go#L59

[2022-11-13 04:27] joebowbeer commented on #4118
According to the discussion below, OpenShift 4.11+ is compatible with the RuntimeDefault seccompProfile type.

https://github.com/redhat-openshift-ecosystem/community-operators-prod/discussions/1417

[code]

[2022-11-13 13:39] chipzoller commented on #4118
Thanks, @joebowbeer.

Is anyone still watching this issue with OpenShift 4.11+ who can test and confirm this? If so, will update docs.

[2022-11-13 13:48] sabre1041 commented on #4118
@chipzoller I can test this today

[2022-11-13 14:01] chipzoller commented on #4118
Thanks, Andrew

[2022-11-13 17:31] joebowbeer commented on #4937
Are the hidden `logtostderr` and `alsologtostderr` flags part of this unreleased feature?

I see references to them in the 1.8.1 help text:

[code]

NOTE: I think there is some unwanted formatting of the `--` prefix.

This is evident in the OP:

[code]

and in the Global Flags descriptions:

[code]

The double dashes preceding `loggingFormat` and `logtostderr` are being printed as a single charact

[2022-11-13 20:59] sabre1041 commented on #4118
@chipzoller @joebowbeer Can confirm that in OpenShift 4.11, the `restricted-v2` SCC allows for the successful deployment without modification

[2022-11-14 03:55] praddy26 commented on #4847
@JimBugwadia So as per your suggestion `attestations` will be moved under `attestors` (which is list of objects containing `count`, `entries` and now `attestations`).

The `attestors` list will be looped through and will be checked for the existence of `attestations`(length >= 1) in the object, if it's present then we validate attestation only else perform signature validation only.

If you could

[2022-11-14 04:41] JoDongHyuen opened #5322 "[Bug] After a period of time, bgscanr isn't create"
### Kyverno Version

1.8.1

### Kubernetes Version

1.22.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

when I created new resource, `bgscanr` was made immediately. But some times after (in my case 20m ~ 1h) when I created new resources, `bgscanr` was nerver made

and in this situation, I deleted resources that has `bgscanr`.  `bgscanr` is create and dele

[2022-11-14 06:27] realshuting commented on #4110
Hi @shahpratikr - any luck finding alternatives? Would it work if Kyverno exposes a flag to pick local configs?

[2022-11-14 08:19] realshuting commented on #4847
From my understanding, this is what Jim suggested - verify `attestations` for each `attestors` entry:
[code]

[2022-11-14 08:59] praddy26 commented on #4847
Thanks @realshuting for the inputs.

@JimBugwadia Is this what you were suggesting ?

[2022-11-14 09:31] rurikudo opened #5325 "[Test] Add CLI test cases for the YAML manifest verification"
### Problem Statement

The Kyverno CLI supports testing the YAML manifest verification feature, but the test cases are not included.

### Solution Description

N/A

### Alternatives

_No response_

### Additional Context

_No response_

### Slack discussion

_No response_

### Research

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/trouble

[2022-11-14 09:40] realshuting commented on #4110
After investigating more on the error `MissingRegion: could not find region configuration`, it seems that Kyverno does not know how/where to read those credentials. Even after we add those as envs (https://github.com/meltwater/secretary/issues/13, https://github.com/hashicorp/packer/issues/6883) or have some other ways to let Kyverno load those configurations, the problem still exists as @patelrit

[2022-11-14 09:43] realshuting commented on #2709
@pealtrufo @joebowbeer - have you verified if this approach works for you? Would love your help verifying this approach, happy to add additional supports if it doesn't fix your issue.

[2022-11-14 10:18] #2700 closed

[2022-11-14 11:22] pealtrufo commented on #2709
Hi @realshuting
Sorry I don't understand what's the approach or what's to be tested. Could you clarify please?
Thanks

[2022-11-14 12:54] realshuting commented on #2709
@samj1912 correct me if I'm wrong. I think it's to configure your image pull secret described in [AWS credentials](https://github.com/awslabs/amazon-ecr-credential-helper#aws-credentials) section:

[2022-11-14 13:02] vyankyGH commented on #3585
@nickvanwegen Can you please try following policy and let me know it's work for you?
[code]

[2022-11-14 13:07] chipzoller commented on #5322
This might have been fixed in current code, expected to land in 1.8.2. Are you able to test for us using the `latest` image tag?

Also, in your policy, add an `any` or `all` block under your `exclude` statement as you have done for `match`. I've seen problems with this in the past.

[2022-11-14 13:38] vyankyGH commented on #3617
Ping @chipzoller

[2022-11-14 14:14] chipzoller commented on #3617
It looks like you're probably right. This isn't critical for 1.8.2, so I'm removing from that milestone and assigning myself to follow up later.

[2022-11-14 14:26] realshuting commented on #5099
Yes this seems a promising approach.

I'd also expecting the resource scope to be validated for a generate Policy:

[2022-11-14 15:04] joebowbeer opened #5334 "[Bug] [CLI] Hidden `logtostderr` flag mentioned in description of other flags"
The hidden `logtostderr` flag is referenced in kyverno 1.8.1 help text:

[code]

In addition, there is some unwanted formatting of the `--` prefix in the help text.

This is evident in the error messages:

[code]

and in the Global Flags descriptions:

[code]

The double dashes preceding `loggingFormat` and `logtostderr` are being printed as a single character.

_Originally posted by @joebowbeer i

[2022-11-14 15:15] nickvanwegen commented on #3585
@vyankyGH Same result on v1.7.1 first 3 request went in error see below.

[code]

[2022-11-14 15:50] joebowbeer commented on #2709
The first approach described here is my preferred solution:

https://github.com/kyverno/kyverno/issues/2709#issuecomment-1033928805

This is what keel implements, for example, and as a result I just need to add the appropriate IAM role annotation to my keel deployment's service account (using the configuration you reference above @realshuting ).

I don't know how the experimental (maintained?) ecr

[2022-11-14 16:02] ryojsb opened #5335 "[Bug] Sibling nodes should be evaluated on conditional anchor failures"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

When a conditional anchor is set, if the condition is evaluated as true, then the peer and sibling nodes are validated as expected.
However if the condition is evaluated as false,  other sibling nodes aren't checked.

### Steps to reproduce

1. Apply a

[2022-11-14 16:34] vyankyGH commented on #3585
OKay. I tested policy with main branch I got following result
[code]

[2022-11-14 16:37] nickvanwegen commented on #3585
@vyankyGH Do you have an image tag for me that I cant test with then i could confirm it on my end as well? Assuming you did a fix?

[2022-11-14 16:48] vyankyGH commented on #3585
@nickvanwegen can you please try with following test image?
[code]

[2022-11-14 17:01] realshuting commented on #4847
Got clarification from Jim, @praddy26 you are right, we will need something like this as you proposed https://github.com/kyverno/kyverno/issues/4847#issuecomment-1312492037.

Let's meet and discuss next steps to unblock 1.8.2.

[2022-11-14 17:08] nickvanwegen commented on #3585
@vyankyGH Could you maybe show me how to pull this image? I tried a few combinations but nothing seems to be able to pull this image.
Could you show me what to put at these values to use your image.

[code]

[2022-11-14 17:25] vyankyGH commented on #3585
here is the image
https://hub.docker.com/layers/vyankatesh/kyverno/j1/images/sha256-2bb3bcf1f0739866dffd5c3dc9c8e0c71eece02c0ea007a0fa4284e290f9bfa7?context=repo

we can directly edit deployment with this image.

[2022-11-14 18:07] vyankyGH commented on #3585
With the updated policy mentioned above?

[2022-11-14 18:23] nickvanwegen commented on #3585
Yes with the policy you provided.

[2022-11-14 19:15] chipzoller commented on #3585
I see nothing wrong with the original policy language and not sure why any change is strictly needed here.

[2022-11-14 20:26] hardbyte opened #5340 "[Bug] Inline variables not able to be used in validation message"
### Kyverno Version

1.8.1

### Description

The below policy matches images to a list of allowed patterns. However when a failure occurs the validation message doesn't include context variables:

[code]

The failing policy result includes this string:

[code]

However the following **deny** policy does work and the inline variables are included in the validation message:

[code]

Error message: `

[2022-11-15 01:20] JimBugwadia commented on #4073
Hi @olensmar - thanks for looking at this!

Kyverno natively supports the Policy WG CRD format for reports:

     https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report

I believe the Sarif format makes more sense for the CLI and GitHub action. Is that what you had in mind as well?

The CLI reporting code is at:

   https://github.com/kyverno/kyverno/blob/main/cmd/cli/ku

[2022-11-15 02:44] JoDongHyuen commented on #5322
I used `latest` image tag but It still had same probelm
Here is my kyverno log

When I created new resources `kubectl run redis --image=redis -n test`
[code]

and when I deleted exist resource `kubectl delete -n default po redis`
(`bgscanr` is creat and delete repeatedly)
[code]
[code]

[2022-11-15 07:08] Setomidor opened #5342 "[Bug] [CLI] Autogenerating rules for Pods-from-Jobs fails with kyverno apply"
### Kyverno CLI Version

1.8.0

### Description

When creating a Validation policy looking at Pods, evaluating that policy with a Job spec using `kyverno apply` fails.

### Steps to reproduce

Run kyverno apply using this policy:

[code]

... and this resource:

[code]

### Expected behavior

I expect a Pod spec to be generated from the Job spec, and then validated with the policy.

I can see auto

[2022-11-15 08:13] olensmar commented on #4073
thanks @JimBugwadia - yes, in our case we would initially be interested in integrating with the CLI - we'll have a look at the reporting code to see how hard it would be to support SARIF...

[2022-11-15 08:16] praddy26 commented on #4847
Thanks @realshuting for the discussion and clarifications.

@realshuting will work on this issue going forward.

[2022-11-15 09:19] mirtov-alexey opened #5345 "[Bug] PodPortForwardOptions"
### Kyverno Version

1.7.3

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Kyverno Rule Type

Validate

### Description

Hello!
I'm already using a blocking [policy ](https://kyverno.io/policies/other/block-pod-exec-by-pod-name/)for exec and its working fine with PodExecOptions
But its not working for port-forward/proxy/attach/debug
I've tried with Pod

[2022-11-15 09:45] mirtov-alexey opened #5347 "[Feature] enable policyreports for enforce policy"
### Problem Statement

Now for policy with audit statemant we cant see policyreports https://kyverno.io/docs/policy-reports/
but we want to enforce actions and also collect policyreports about this in kyvero-reporter.
Could you make this option availible please?

### Solution Description

we want to enforce actions and also collect policyreports about this in kyvero-reporter.

### Alternatives

se

[2022-11-15 10:09] rodrigorfk opened #5348 "[Bug] An empty BackgroundScanReport is being generated for deleted resources in an infinite loop"
### Kyverno CLI Version

1.8.1

### Description

We are about to adopt Kyverno 1.8.1 and start using the new [reports v2 implementation](https://github.com/kyverno/kyverno/pull/4608), however we are observing an odd behaviour for delete resources (Pods, Services, Ingresses) in our test clusters, this behaviour is related to the fact of Kyverno keeps creating an empty BackgroundScanReport object fo

[2022-11-15 12:34] adabuleanu commented on #4521
When I removed the kyverno policy I actually got a new error: that the pod image contained a space in the image name (my chart values overwrite was:
[code]
The initial error was correct `failed to add image information to the policy rule context: invalid image hashicorp/vault:1.9.2` . But the whitespace was not highlighted.

[2022-11-15 12:37] giaku opened #5354 "[Bug] Excessive AdmissionReport resources created"
### Kyverno Version

1.8.0

### Kubernetes Version

1.24.x

### Kubernetes Platform

Bare metal

### Kyverno Rule Type

Validate

### Description

We installed Kyverno in prod, with around 200 namespaces and about times 10 resources. We run a cluster with flux reconciliation enabled. In short the problem was the admission reports crashed our poor etcd...

Every time the fluxcd tries a reconciliati

[2022-11-15 12:42] chipzoller commented on #5354
This was probably fixed by @eddycharly and landing in 1.8.2. Can't find the PR right now, but it deals with creation of invalid AdmissionReport resources with no ownerReferences.

[2022-11-15 12:53] chipzoller commented on #5345
The `CONNECT` verb (which is what the API server calls it...not related to RBAC verbs) is only valid for Pod exec operations. Those other things you mentioned aren't covered. Debug spawns ephemeral containers and so you can use a [validate rule](https://kyverno.io/policies/other/block_ephemeral_containers/block-ephemeral-containers/) to block those. For the others, you'd have to rely on Kubernetes

[2022-11-15 12:53] #5345 closed

[2022-11-15 13:09] cwrau opened #5355 "[Bug] kyverno helm chart WebhooksCleanup deletes the Webhooks but the still running kyverno pods recreate them"
### Kyverno Version

1.8.1

### Description

As the title states, after enabling `webhooksCleanup.enable=true` helm successfully create the delete job pre-delete and it also successfully deletes the webhooks

But *something*, I reckon the still running kyverno pods, recreate these

Therefore the pre-delete job essentially doesn't work

### Slack discussion

_No response_

### Troubleshooting

- [X

[2022-11-15 13:14] chipzoller commented on #5345
It isn't a Kyverno limitation, it is an API server one. The API server will only send one of four actions to webhooks:

* CREATE
* UPDATE
* DELETE
* CONNECT

If it isn't one of those, it will not notify admission controllers (such as Kyverno).

[2022-11-15 15:14] chipzoller commented on #5294
@eddycharly can you link to a PR here, please?

[2022-11-15 15:38] eddycharly commented on #4295
Related PRs upstream:
- https://github.com/kubernetes/perf-tests/pull/2191
- https://github.com/kubernetes/perf-tests/pull/2190
- https://github.com/kubernetes/perf-tests/pull/2189