[2021-07-19 12:34] NoSkillGirl commented on #2126
Yes @erwbgy , I saw the same error messages in the logs. It's not a blocking error for now. I will check into the issue.

[2021-07-19 12:38] vyankyGH commented on #2162
@s-shirayama
result for command:
`kubectl get --raw /apis/external.metrics.k8s.io/v1beta1{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"external.metrics.k8s.io/v1beta1","resources":[]}`

I will do fresh check once and will get back.

[2021-07-19 12:45] chipzoller commented on #847
Thanks, @NoSkillGirl. Transferring to kyverno/website and will pick it up there.

[2021-07-19 12:45] s-shirayama commented on #2162
@vyankyGH

Thank you.
Restarting kyverno pod may help to reproduce the issue.

[2021-07-19 15:59] JimBugwadia opened #2163 "Add validation check for policies that use filtered kinds"
**Is your feature request related to a problem? Please describe.**

Kyverno allows filtering certain API kinds to optimize webhook processing.

However, users may create policies that use these types and not realize a filter is skipping policy execution.

**Describe the solution you'd like**

Kyverno should validate policies that use filtered kinds and provide a warning, or block them from being c

[2021-07-19 19:26] realshuting commented on #1218
Yes we do, is there anything else that needs to be addressed?

[2021-07-19 19:28] realshuting commented on #704
Yes should be good to close.

Policy status is removed, track stats with Prometheus.

[2021-07-19 19:28] #704 closed

[2021-07-19 19:29] realshuting commented on #671
@NoSkillGirl - any idea about this issue?

[2021-07-19 19:30] realshuting commented on #2146
@vyankd - are we good to close this issue?

[2021-07-19 19:35] realshuting commented on #2058
Hi @abhishekghiya - thanks for providing the info.

Did you make the changes above, was the issue resolved?

[2021-07-19 19:48] realshuting commented on #2117
Sure absolutely.

To validate a Kyverno policy's definition, we can add validation checks through the Kyverno policy validation webhook. Here's the code does that validation:
https://github.com/kyverno/kyverno/blob/0fdd349849eeee491fdf6aa651eea6d0422f2a97/pkg/webhooks/policyvalidation.go#L41

To check if the JSON Path has the forward-slash specified, you need to parse `rule.Mutation.PatchesJSON690

[2021-07-19 19:51] gabemontero commented on #1218
I can't find the comments now, but I seem to recall that back in March I had to install the CRD for the apiGroup/apiVersion in question *before* I brought up kyverno, otherwise kyverno would not find it when I supplied a policy when referenced it.

Perhaps that has been fixed in the months since?  Or even if the issue did still exist, you all would want to track in a separate issue.

Unfortunately

[2021-07-19 19:58] realshuting commented on #1218
@gabemontero - thanks for responding. Yes looks like it's confusing when the CRD does not have OpenAPI schema:
[code]
Let's track the above issue in https://github.com/kyverno/kyverno/issues/2154.

If you see any other issues moving forward, please feel free to log separate issues. I'm closing this for now.

[2021-07-19 19:58] #1218 closed

[2021-07-19 20:07] realshuting commented on #1954
Requested by **Adith Ravindran** from [Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1626720752295000).

[2021-07-19 20:17] realshuting commented on #2104
Sorry @Cna59 for the confusion for the webhooks [above](https://github.com/kyverno/kyverno/issues/2104#issuecomment-876982124). Just to confirm, there's only one instance running, correct?

[2021-07-19 20:43] sjentzsch commented on #2028
In addition, if you simply have something like `image: busybox:1.28`, it would also not prepend the custom repository, given the search string of `'(.*)\/'`

[2021-07-20 03:11] vyankyGH commented on #2146
Yes, Just I will do testing from my end and will close the issue.

[2021-07-20 04:12] hubwoop commented on #1954
Too add a use-case: I want to write a policy that matches all resources and exclude the "vanilla" Kubernetes ones. This is useful, because it allows for static conformance checks on resources with the kyverno cli: "is resource x not in resource allow list?" -> "Fail with message."

[2021-07-20 04:42] NoSkillGirl commented on #1957
@jack-jarvis - I am not able to reproduce the error. I am following the following steps:
1. Installing flux using the instruction given in - https://fluxcd.io/docs/get-started/#install-flux-components
2. https://github.com/NoSkillGirl/fleet-infra/tree/main/clusters/my-cluster - I am using these files to run kyverno
3. Then I deleted the kyverno deployment
4. Then check the logs for newly created p

[2021-07-20 04:43] protosam opened #2164 "[BUG][VULNERABILITY] I can violate Kyverno Policies"
I've provided the steps here and there's also the edge case that led me to this discovery mentioned in the gist as well:
https://gist.github.com/protosam/6fdd6c08a53ce50ebc9b2b389b3e26c4

I don't know why this works, but applying a pod via the API directly with JSON, I can break policy enforcement.

[2021-07-20 04:47] NoSkillGirl commented on #671
@chipzoller , @realshuting - there has been lots of changes in the generate flow since the issue has been raised. I am not able to figure out what was the issue here when this was assigned to me.

[2021-07-20 05:39] MarcusNoble opened #2165 "Extend supported fields of ResourceDescription"
**Is your feature request related to a problem? Please describe.**
I have a use case where I'd like to enforce no host namespace / host network usage to any pod outside of kube-system but I'd also like to allow a specific application (New Relic) to also be allowed, even if outside of kube-system.

**Describe the solution you'd like**
It'd be good if `ResourceDescription` could be expanded to suppo

[2021-07-20 06:05] realshuting commented on #2028
@sjentzsch - we are working on the fix to add the default image registry if it's missing, it should be available soon. We'll update you once we have the test image.

[2021-07-20 07:14] Cna59 commented on #2104
@realshuting  Yes that's correct

[2021-07-20 07:27] RinkiyaKeDad commented on #1916
@chipzoller but if we switch to that how will we handle what happens currently, that is, when we want to apply the mutate changes only if all `initContainers` have `runAsNonRoot` set to `true`?

Also on the implementation side of things we would have to change the current conditional anchor logic, wouldn't that cause problems elsewhere where conditional anchors are being used?

For example, polici

[2021-07-20 09:45] MarcelMue commented on #2094
@realshuting Has there been progress on this issue? We run into problems when we add new CRDs currently.

[2021-07-20 12:42] chipzoller commented on #2164
This doesn't have anything to do with the fact that the manifest is in JSON as all resources are internally serialized to JSON prior to be stored. The problem is the `ownerReferences` field specifies a higher-level Pod controller that Kyverno handles through auto-gen rules. So it's possible you have a policy set up to operate on Pods but it's not getting translated to a StatefulSet. This is simila

[2021-07-20 12:52] viveksahu26 opened #2169 "The results of some of the rules in a policy are missing in their corresponding test.yaml."
Description of the problem
The results of some of the rules in a policy are missing in their corresponding test.yaml.   For example, In [this](https://github.com/kyverno/policies/tree/main/best-practices/disallow_cri_sock_mount) policy, 3 rules are present in [`disallow_cri_sock_mount.yaml`](https://github.com/kyverno/policies/blob/main/best-practices/disallow_cri_sock_mount/disallow_cri_sock_moun

[2021-07-20 12:57] chipzoller commented on #2169
Should you be assigned this instead, @viveksahu26 ?

[2021-07-20 12:59] viveksahu26 commented on #2169
Let it be with @NoSkillGirl .

[2021-07-20 13:07] chipzoller commented on #2169
Transferred to https://github.com/kyverno/kyverno/issues/2169

[2021-07-20 14:12] devlounge opened #2170 "[BUG] do not use the word "warning" for "info" log level messages"
* Kyverno version: 1.3.6

**Describe the bug**
Do not use the word "warning" in log messages with "info" level

**Expected behavior**
Either log using the "warn/warning" log level or remove the word "warning" from the log message

**Additional context**
https://github.com/kyverno/kyverno/blob/081cca8f2317b4bb9eaf068240afb06ac190ef45/pkg/policy/validate.go#L54

Thanks in advance !

[2021-07-20 14:30] protosam commented on #2164
Looking at the documentation referenced in that other ticket: https://kyverno.io/docs/writing-policies/autogen/

I think the default deployment should not implement this. The reason is because this behavior is insecure by default and contradicts what a new Kyverno user may expect when writing a policy for pods.

[2021-07-20 14:58] chipzoller commented on #1916
This might be best for @kacejot to comment given his extensive work and PRs around mutate and also the possibility of a new global anchor.

[2021-07-20 15:02] chipzoller commented on #2165
You can use `preconditions` to match or exclude on the `image` field if you like. `preconditions` can be used in tandem with `match` / `exclude` functionality to apply further granularity to when a rule applies.

[2021-07-20 15:43] JimBugwadia commented on #2164
In addition to checking the `kind` in an `ownerReference` Kyverno needs to ensure that policies were actually applied to the `owner` and hence do not need to be re-applied.

Otherwise it may be possible for an attacker to bypass policy checks by adding a fake `ownerReference` with the correct `kind` but with a non-existent owner that was not validated.

For example, here is an YAML that looks like

[2021-07-20 16:34] JimBugwadia opened #2171 "Optimize image verification checks when a pod is created / modified"
**Is your feature request related to a problem? Please describe.**

When a pod is created there are at least 3 image verification checks performed, one of each pod update request

**Describe the solution you'd like**

Image verification should only run when the image is changed

**Describe alternatives you've considered**

**Additional context**

[2021-07-20 16:54] uderik commented on #2028
@sjentzsch it's cool we'll wait

[2021-07-20 17:35] vyankyGH commented on #1813
@chipzoller I had discussion with @realshuting, for any pattern as mention in document policy work as expected.
https://kyverno.io/docs/writing-policies/validate/#anypattern---logical-or-across-multiple-validation-patterns

For anypattern, The validation rule should pass if either one of the conditions is met.
IF any of the pattern passes, then validation policy will pass. And here 2nd pattern pas

[2021-07-20 17:48] vyankyGH commented on #1960
Hi @maarek I have tested this issue. This issue is already get fixed with one of the PR.
Here is the result which I get
[code]
This changes will be available with Kyverno 1.4.2 release.

Thanks.

[2021-07-20 17:51] chipzoller commented on #1813
But it's a negation anchor on both of the keys:  `X(fluxcd.io/*): "*?"`
So if it's negating those conditions, the policy should read as:  "Look at all of the annotations in the relevant `kinds` and ensure that NEITHER `fluxcd.io` NOR `flux.weave.works` is specified as a key."

[2021-07-20 18:51] NoSkillGirl commented on #2169
@viveksahu26 - The test case is working as expected. I think you are little confused between the use case of `apply` and `test` command.
In `apply` we will get in total 3 result (pass, fail, skip, etc ...) as `apply` shows the final result of complete policy applied on a resource.
In `test` we will get only 2 results as `test` results shows the pass or fail for the cases that are mentioned in the

[2021-07-20 18:51] #2169 closed

[2021-07-20 19:07] chipzoller commented on #2169
Honestly, the CLI documentation needs a major rework as there isn't enough information in either of these commands to give a complete enough explanation on what they do and how to use them.

[2021-07-20 19:42] NoSkillGirl commented on #2169
@chipzoller - Please try to mention the points as much you can. If you need any help about the functionality description, do let me know.

[2021-07-21 04:20] #2028 closed

[2021-07-21 04:40] realshuting commented on #2028
@uderik - the image is available with tag `v1.4.1-63-gb2515fa9`, and I modified the policy slightly in order to mutate the registry, we'll update the sample policy:
[code]

[2021-07-21 05:17] NoSkillGirl commented on #2169
documentation - https://github.com/kyverno/website/issues/212

[2021-07-21 05:31] realshuting commented on #1813
According to the [doc](https://kyverno.io/docs/writing-policies/validate/#anypattern---logical-or-across-multiple-validation-patterns), `anyPattern` represents "logical OR across multiple validation patterns". The policy can be written to 2 rules if one wants to block either of these conditions.

[2021-07-21 05:40] realshuting commented on #2094
No I wasn't able to work on this, will look into it tomorrow and get back to you.

[2021-07-21 05:41] #671 closed

[2021-07-21 05:48] #2171 closed

[2021-07-21 05:50] JimBugwadia commented on #2030
This method can be used to evaluate changes in JMESPath expressions: https://github.com/kyverno/kyverno/blob/0b30aea330e5e8d707ea3caf6d857fd1bde79900/pkg/engine/context/evaluate.go#L69

[2021-07-21 06:02] JimBugwadia opened #2175 "Sign Kyverno images and generate SBOM"
**Is your feature request related to a problem? Please describe.**

Kyverno images are not signed and there is no bill of materials available.

**Describe the solution you'd like**

For verification of Kyverno images, they should be signed. A SBOM should also be supplied.

**Additional context**

Here is an example:  https://schemahero.io/docs/installing/kubectl/#verifying-the-image-authenticity

[2021-07-21 06:54] #2146 closed

[2021-07-21 07:38] #2170 closed

[2021-07-21 07:52] mdraijer opened #2177 "cluster type value 'Ingress' not allowed in match.resources.kinds"
**Software version numbers**

* Kubernetes version: 1.20
* Kyverno version: 1.3.4

**Describe the bug**

When validating an Ingress in a ClusterPolicy I can either set `spec.rules[].match.resources.kinds[]` to `Ingress` or to the specific kinds, i.e.:

[code]

However, when validating an Ingress in a **namespaced** Policy, I can only use the specific kinds. When I use `Ingress` as resource kind, t

[2021-07-21 08:18] NoSkillGirl commented on #1870
This can be fixed by fixing - https://github.com/kyverno/kyverno/issues/1996

[2021-07-21 12:19] #2126 closed

[2021-07-21 12:40] erwbgy commented on #2126
Thank you @NoSkillGirl.  Removing this error message will at least stop people (like me) thinking it is the cause of any issues when it is not.

[2021-07-21 13:02] #1960 closed

[2021-07-21 13:02] vyankyGH commented on #1960
Issue will resolve with 1.4.2 release. Closing.

[2021-07-21 13:19] chipzoller commented on #1813
Ok, this is my fault. I was just thinking about this incorrectly. Probably need to find a better way to explain this functionality in the docs. Apologies for creating overhead for you all.

[2021-07-21 13:19] #1813 closed

[2021-07-21 13:30] chipzoller commented on #2177
This must have been fixed in a later version, because testing with Kyverno v1.4.1 I am able to create a `Policy` resource where the `kind` is one and only `Ingress`.

[code]

[code]

[2021-07-21 13:37] chipzoller commented on #2028
@realshuting If this updated sample is ready to go, I can include it in a [held PR](https://github.com/kyverno/policies/pull/77) for v1.4.2 batched with other changes.

[2021-07-21 13:39] mdraijer commented on #2177
Never mind, found the reason... Actually our environment is not just K8s, it is Openshift. And Openshift has its own api-resource `Ingress`, which is indeed a cluster-scoped resource:

[code]

So, when you specify the resource.kind `Ingress`, it matches all three Ingress resources, of which one is cluster-scoped (the 4th column: `false`).
That's why you need to specify the resource.kind including

[2021-07-21 13:40] #2177 closed

[2021-07-21 14:12] vyankyGH commented on #1820
Hi @chipzoller  According to doc https://kyverno.io/docs/writing-policies/validate/#anchors, tag can not be specified and kyverno is not evaluating. that means key there shouldn't be exists. but technical point of view we can not accept the null or nil value, because key will be drop, so we should ask user to set empty value/string.
we have to finalize what behavior we want.
cc: @realshuting

[2021-07-21 14:23] chipzoller commented on #1820
Having a hard time understanding what you mean. What I was trying to say was that Kyverno should validate these policies before they're accepted and reject if the negation is used on a key which specifies a value.

[2021-07-21 16:54] om3171991 opened #2179 "[BUG] Getting "webhook configurations error""
Hi Team,

We are facing an issue with the Kind Kubernetes cluster where we are seeing the below error message :

1) Readiness & liveness probes are passing at all and pod is getting restarted again n again because of same.

On checking pod logs, we find out that helm installation is not able to create webhook configurations :

E0721 16:03:38.718669       1 monitor.go:160] WebhookMonitor/registerWe

[2021-07-21 17:01] realshuting commented on #2028
That will be great! Thanks @chipzoller.

[2021-07-21 18:57] MnrGreg opened #2181 "[BUG] Generate policies with background:false and synchronize:false are still re-evaluated every 15mins"
**Software version numbers**
* Kubernetes version: 1.20.5
* Kyverno version: 1.4.1

**Describe the bug**
Cluster policies with both `background: false` and `synchronize: false` are re-evaluated every 15mins.
Any modifications to kyverno generated objects are subsequently reset to whats described in generate data policy.

**To Reproduce**
This is happening for all generate policies but focusing on

[2021-07-22 00:49] realshuting commented on #2094
Hi @MarcelMue - looks like the issue was resolved in the latest main, you can verify with image tag `v1.4.1-78-gacc9f665`. Here's the result of my local test:
[code]

[2021-07-22 00:52] realshuting commented on #2094
BTW, if tag `sourceIdentityRef` does not exist in the resource, you can patch it with a single JSON patch:
[code]

[2021-07-22 00:52] #2094 closed

[2021-07-22 01:54] chipzoller commented on #2179
What version of KinD on what type of OS? I use KinD myself nearly every day and don't see this.

[2021-07-22 02:04] om3171991 commented on #2179
@chipzoller -
kind version: 0.11.1
Host OS: Mac OS 10.15.7

[2021-07-22 03:18] vyankyGH opened #2182 "Test Command : Support all resource with a certain kind"
**Is your feature request related to a problem? Please describe.**
Please  see: https://kubernetes.slack.com/archives/CLGR9BJU9/p1626923275342000

Basically instead of resource name, test all resource with a certain 'kind' instead?

[2021-07-22 04:41] slayer321 commented on #2117
/assign

[2021-07-22 04:51] realshuting commented on #2179
Hi @om3171991 - can you share the command that was used to install Kyverno?

Besides, can you please attach the output the command `kubectl -n kyverno get ep`?

[2021-07-22 04:56] MarcusNoble commented on #2165
Does preconditions support wildcards? I did look at these but the documentation doesn't seem to suggest that they do.

[2021-07-22 05:31] om3171991 commented on #2179
Hi @realshuting

For installing Kyverno, We have uploaded the helm chart in our internal chartmuseum from below URL:
**https://github.com/kyverno/kyverno/tree/main/charts/kyverno**

and cmd used to install:

**helm install --kube-context kind-test kyverno kyverno --namespace kyverno**

➜  kyverno git: ✗ test -n kyverno get ep
NAME                  ENDPOINTS   AGE
**kyverno-svc

[2021-07-22 05:34] realshuting commented on #2179
Thanks @om3171991!

It looks like there's no endpoint registered for Kyverno Pod, can you please describe the endpoint and inspect the issue? Here's what I have, you can see that the Pod's IP is listed:
[code]

[2021-07-22 05:42] om3171991 commented on #2179
@realshuting - Can is it because the pod is not in a ready state (It's in CrashLoopBackOff because of the error mention in  issue)

 kubectl --context kind-test -n kyverno get all
NAME                           READY   STATUS             RESTARTS   AGE
pod/kyverno-78ff67fbc9-4l7jp   0/1     CrashLoopBackOff   42         13h

NAME                          TYPE        CLUSTER-IP      EXTERNAL-IP   P

[2021-07-22 05:48] realshuting commented on #2179
No, the Pod crashed because the Pod IP was not registered as the endpoint successfully.  Can you provide the following output?
[code]

[2021-07-22 05:57] om3171991 commented on #2179
➜  kyverno git : kubectl -n kyverno describe endpoint --context kind-test
**error: the server doesn't have a resource type "endpoint"**
➜  kyverno git : kubectl --context kind-test -n kyverno get pod -o wide
NAME                       READY   STATUS             RESTARTS   AGE     IP            NODE                 NOMINATED NODE   READINESS GATES
kyverno-565755c84c-zqmv8   0/1     Running

[2021-07-22 05:59] realshuting commented on #2179
Sorry it should be ` kubectl -n kyverno describe endpoints`.

[2021-07-22 06:05] om3171991 commented on #2179
➜  kyverno git : kubectl -n kyverno describe endpoints --context kind-test
Name:         kyverno-svc
Namespace:    kyverno
Labels:       app=kyverno
              app.kubernetes.io/component=kyverno
              app.kubernetes.io/instance=kyverno
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=kyverno
              app.kubernetes.io/part-of=kyverno

[2021-07-22 06:12] realshuting commented on #2179
Interesting that there are two endpoints but your previous output only shows one Pod.
[code]
[code]
 Do you currently have 2 Kyverno pods running?

If possible, can you re-install Kyverno and increase `initialDelaySeconds` of [ReadinessProbe](https://github.com/kyverno/kyverno/blob/acc9f6652d17a56941938ed787e83b2188126317/charts/kyverno/values.yaml#L111)? Say 30 for example.

[2021-07-22 06:22] om3171991 commented on #2179
Reason for 2 IPs - I have run the kyverno helm upgrade command and the old pod is still there with CrashLoopBackOff

➜  kyverno git : kubectl --context kind-test -n kyverno get pod -o wide
NAME                       READY   STATUS             RESTARTS   AGE     IP            NODE                 NOMINATED NODE   READINESS GATES
kyverno-565755c84c-zqmv8   0/1     Running            2          2m16s

[2021-07-22 06:35] realshuting commented on #2179
Were these Probes configured with a clean installation? I'll have to dig into the code and check if there's any dependency between the endpoints' status and the pod's.

[2021-07-22 06:58] om3171991 commented on #2179
Yes. So to clear out if any confusion exist - I have reinstalled everything again. Please find the output for all commands below :

➜  kyverno git: kubectl --context kind-test -n kyverno get all
NAME                           READY   STATUS    RESTARTS   AGE
pod/kyverno-66548b7b4f-rlvhz   0/1     Running   1          6m52s

NAME                          TYPE        CLUSTER-IP      EXTERNAL-IP   PO

[2021-07-22 07:22] MarcusNoble commented on #2165
Looking at the available [ConditionOperators](https://github.com/kyverno/kyverno/blob/main/pkg/api/kyverno/v1/policy_types.go#L195-L218) it doesn't look like wildcard/partial matching is possible.

BUT.. digging into the code I see that the string equal operator actually does a wildcard match: https://github.com/kyverno/kyverno/blob/main/pkg/engine/variables/operator/equal.go#L95

---

I'm going t

[2021-07-22 07:22] #2165 closed

[2021-07-22 07:47] MarcusNoble commented on #2165
Docs PR: https://github.com/kyverno/website/pull/218

[2021-07-22 08:02] JimBugwadia commented on #1820
It may not be possible to provide a null, nil, or undefined as that may be omitted in JSON / YAML serialization or may be invalid based on the schema (for example a `port` cannot be set to any of those.)

I feel the best we can do is simply ignore values. Not sure there is much to gain by enforcing this.

[2021-07-22 08:07] JimBugwadia commented on #2161
See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1626940721343200?thread_ts=1626333923.256800&cid=CLGR9BJU9

Thomas Stieglmaier  8 minutes ago
@Jim Bugwadia it happened again now, but I have the assumption that it is not a kyverno problem. In the time where the restarts appeared, one of our cluster nodes was not reachable from the other nodes, but it is was still running, and reporting itself

[2021-07-22 08:07] #2161 closed

[2021-07-22 08:56] vyankyGH commented on #1820
currently we are ignoring the values.

[2021-07-22 09:43] vyankyGH commented on #1820
@chipzoller What's your thought's on this? If we keep the same as we have then we have to update document with more specific info?

[2021-07-22 12:37] chipzoller commented on #1820
I'm not really understanding the difficulty in implementing internal schema validation logic for this scenario so please help me understand. All I'm saying is `- X(key): "node-role.kubernetes.io/master"` should be rejected or warned and this `- X(key):` should be allowed. It's not a huge deal either way since we specify in the docs, "The value of the tag is not evaluated." But this is another atte

[2021-07-22 12:52] chipzoller commented on #2165
Thank you, @MarcusNoble !

[2021-07-22 14:51] JimBugwadia commented on #1820
@chipzoller the fundamental issue is that tags with null, nil, or undefined values may be omitted during JSON or YAML processing.

So in your example the tag with negation has to have some value and cannot be left empty, as it will be removed / lost when processing the declaration and hence causing the anchor to not be applied

This forces users to add a string value like "null" which is confusing

[2021-07-22 14:54] chipzoller commented on #1820
Ok, I understand. So what's your recommendation as far as helping users understand (at runtime) that the negation anchor only works on the key and has no reliance upon the value?

[2021-07-22 15:04] JimBugwadia commented on #1820
Maybe add an additional note in the anchor docs and re-emphasize via comments in the examples?

[2021-07-22 15:26] chipzoller commented on #1820
I personally think requiring "null" as the value for a key specifying the negation anchor is a better approach and then returning a policy validation error with a message, if that value is NOT "null": `policy validation error: keys using negation anchors must specify a value of null` . It doesn't matter whether `null` is actually valid in the grand scheme of things for the Kubernetes resource it t

[2021-07-22 15:28] om3171991 commented on #2179
@realshuting - did you able to look and find something on this ?

[2021-07-22 16:24] RinkiyaKeDad commented on #1962
Fixed via upstream projects. [Link](https://kubernetes.slack.com/archives/CHGFYJVAN/p1623874026126700) to relevant slack discussion.

[2021-07-22 16:24] #1962 closed

[2021-07-22 16:36] SleepyBrett commented on #1996
I think +1 but in refrernce to the `test` subcommand. Just to note, perhaps I don't understand the purpose of the test subcommand, to me I assume that the idea of test is to take the test definition which specifies a policy to test and a resource to test it against, it will evaluate a proper pass/fail of the resource.

Given the following test:
[code]

with the following files:

memory-request-equ

[2021-07-22 19:23] realshuting commented on #2179
No @om3171991 , I'm currently focusing on 1.4.2 milestone completion, will revisit this issue after.

[2021-07-22 21:39] realshuting commented on #2022
Hi @hans-d - I've made the changes and tested with the chained mutate policy, please refer to this [PR](https://github.com/kyverno/kyverno/pull/2184) for the details, and please let me know if it does not solve your use case.

[2021-07-22 23:02] realshuting commented on #2164
@protosam
- can you please provide the output of the policy manifest `kubectl get cpol deny-privilege-escalation -o yaml`?
- And as Chip mentioned, there was a fix for autogen, can you confirm if the issue still exists using the latest Kyverno tag `v1.4.1-78-gacc9f665`?

[2021-07-22 23:14] realshuting commented on #2164
@JimBugwadia - for the scenario you mentioned above, the pod direct went to `terminating` state, it never became running or ready:
[code]

Even if it bypasses policy checks, will there be any issue with none running & ready Pod?

[2021-07-22 23:19] chipzoller commented on #2164
I'm not Jim but even if it doesn't go into a running state it's still not appropriate. This could potentially be a DoS vector for a malicious user.

[2021-07-22 23:41] realshuting commented on #2164
I totally understand, just trying to analyze how it could impact admission review latency by adding this check.

There are multiple admission requests before a Pod (managed by its controller) goes to running & ready state, first CREATION and followed by multiple UPDATE. If we add the check to verify whether the owner presents, it means we need to do multiple API queries. Especially when in a large

[2021-07-23 01:58] protosam commented on #2164
Hope you found the policy already @realshuting, if not, check the gist in the initial comment.

[2021-07-23 02:08] realshuting commented on #2164
I want to check if auto-gen rules were mutated successfully, so I need the policy manifest that is fetched from etcd. I don't see that was provided in the gist. Can you point me to it?

The fix was introduced after 1.4.1, it's worth verifying if the fix solves this issue.

It's still not clear to me what's the root cause of the issue. I'll try to install a vcluster and debug.

[2021-07-23 04:46] vyankyGH commented on #1820
Hi @chipzoller I had discussion with @realshuting , Now it will work for singular value, but when it comes to map., array any object we cant really use string here.
For example, In the above policy, what if we don't allow tolerations, **X(tolerations):**
If we put string null here , schema validation wouldn't be pass.

[2021-07-23 05:47] realshuting commented on #1189
Adding use case https://kubernetes.slack.com/archives/CLGR9BJU9/p1626999915389500.

[2021-07-23 05:48] RinkiyaKeDad opened #2185 "allowing users to skip policy validation when mutating resources"
**Is your feature request related to a problem? Please describe.**
Often when a policy is created to mutate resources it is almost impossible to predict the changes. Our validation currently declines such policies sometimes which is not correct since we have no way of confirming if these policies would work or not. For example, the following policy works but gets denied by kyverno during policy va

[2021-07-23 07:29] NoSkillGirl opened #2186 "[BUG] Test command to support variables | Kyverno CLI"
**Software version numbers**
* Kyverno version: 1.4.1

**Describe the bug**
I did not find anything in the documentation or in `test` help about how to pass the variables in the test command.
I am not sure variables are supported or not for `test` command.

Now with this PR - https://github.com/kyverno/kyverno/pull/2180 , all `request.object` variables will be taken care by Kyverno CLI. Please che

[2021-07-23 07:34] NoSkillGirl commented on #1996
@SleepyBrett - raised another issue for your use case. You can track the changes here - https://github.com/kyverno/kyverno/issues/2186

[2021-07-23 08:14] #2022 closed

[2021-07-23 10:49] vyankyGH commented on #2186
@NoSkillGirl Regarding documentation, currently it is not mention how to pass policy with  variables in test command.
I have raised  [issue ](https://github.com/kyverno/website/issues/220)in website to update it.

 Following is the example how to pass variables in test file.
 Policy.yaml

[code]
 Resource.yaml

[code]

values.yaml

[code]
[code]

[2021-07-23 10:55] NoSkillGirl commented on #2186
@vyankyGH - I have updated the test command as discussed now the `request.object` variables can be taken care by kyverno even in `test` command.

[2021-07-23 11:00] #2186 closed

[2021-07-23 11:47] aslafy-z opened #2188 "Allow Grafana dashboard to be imported with kiwigrid sidecar"
**Is your feature request related to a problem? Please describe.**
I'm frustrated to be unable to deploy Grafana dashboard using Grafana sidecar (kiwigrid/k8s-sidecar).

**Describe the solution you'd like**
Add a templating value in the Grafana dashboard for the DS_PROMETHEUS_KYVERNO variable.
This allows adding the dashboard through GitOps process.

**Describe alternatives you've considered**
For

[2021-07-23 16:02] chipzoller opened #2189 "Prevent node labeling"
[code]

[2021-07-23 16:16] #2121 closed

[2021-07-23 17:53] #1658 closed

[2021-07-23 17:53] #1896 closed

[2021-07-23 17:53] #1915 closed

[2021-07-23 18:32] #1996 closed

[2021-07-23 18:32] #1870 closed

[2021-07-23 18:50] chipzoller commented on #1820
I guess this is a problem after all because Kyverno isn't validating these schemas against their target resources like what's happening for mutate rules (see https://github.com/kyverno/kyverno/issues/1869).

@realshuting what's your suggestion here? Do you agree with Jim we basically balk at this idea and hope users read the docs well enough? Or is there another approach we could use?

[2021-07-23 19:56] realshuting commented on #2188
Closed via #2187.

[2021-07-23 19:56] #2188 closed

[2021-07-23 20:12] chipzoller commented on #2179
@om3171991 I just install KinD 0.11.1 and Kyverno 1.4.1 from the upstream Helm repo on MacOS 10.14.6 running Docker Desktop for Mac v3.5.2 and I do not see an issue running Kyverno.

[code]

[code]

[code]

[2021-07-23 21:27] realshuting commented on #1820
Yes, it seems like improving the docs and comments is the best we can do for now.

But looking back, it brought lots of confusion with the negation anchor, people were struggling with null, nil, "". After we introduce [schema validation for validate policies](https://github.com/kyverno/kyverno/issues/1869), I believe what you suggested is the clearest solution.

I'm moving this issue out of 1.4.2

[2021-07-24 00:45] protosam commented on #2164
Kyverno is still insecure by default in v1.4.2. Steps and output below.

This is a fresh Kubernetes install inside Docker for Desktop.

[code]

[2021-07-24 00:47] protosam commented on #2164
Here's the output requested @realshuting

[code]

[2021-07-24 03:54] chipzoller opened #2192 "[BUG] Kyverno CLI permitting `namespaces` field in a `Policy` resource."
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version: v1.4.1

**Describe the bug**
A `kyverno apply` command is processing a `Policy` resource which defines `match.resources.namespaces` when a live Kyverno deployment rejects the same thing because of that field with

[code]

**To Reproduce**
Steps to reproduce the beha

[2021-07-24 04:22] om3171991 commented on #2179
@chipzoller - really appreciate that you tried on local setup but now I am totally confused why is it not working on my system. Any pointers what else I can check to fix this.

[2021-07-24 09:57] abhishekghiya commented on #2058
Hi @realshuting , I have tried the first solution to reduce the webhook timeout to 1 second to recover the cluster as described in [this](https://github.com/kyverno/kyverno/issues/1950#issuecomment-853357222) issue in Kyverno version 1.3.5.

It solved the original problem but this has lead to another issue.. where Kyverno pod sometimes going into crashbackloopoff error with below error:

`I0724 09

[2021-07-24 12:40] chipzoller commented on #2179
I would clean up your setup by removing the KinD node image(s) you have and updating or reinstalling whatever you're using as an underlying engine (like Docker Desktop for Mac). Because Kyverno definitely *does* work on this combination, it's something specific to your setup.

[2021-07-24 20:54] chipzoller commented on #1820
Ok, I've created https://github.com/kyverno/website/issues/222 in response. It seems we may just be able to close this issue.

[2021-07-24 21:35] chipzoller commented on #2164
@realshuting in this case, the auto-gen functionality is irrelevant. Kyverno is factoring in the `ownerReferences.kind` field to make its decisions for `validate` rules. If that `kind` is a common Kubernetes Pod controller like a StatefulSet, it allows its creation. The behavior of the Pod after that can be either it immediately goes into a `Terminating` state because the reference is invalid, or

[2021-07-24 21:51] chipzoller commented on #2185
Hi @RinkiyaKeDad I assume this in reference to solving the issue https://github.com/kyverno/kyverno/issues/2100 but I'm not sure what the root cause is here. Would you explain this a bit more, please?

[2021-07-25 05:36] vyankyGH commented on #1820
Thanks @chipzoller

[2021-07-25 05:36] #1820 closed

[2021-07-26 07:19] NoSkillGirl commented on #2192
@chipzoller - I am able to reproduce the error. Will check the issue.

[2021-07-26 09:43] #2104 closed

[2021-07-26 09:44] Cna59 commented on #2104
@chipzoller / @realshuting  You were right, it was due to a bad deny firewall rules. Sorry for the time/work lost on your side.

Thanks for the support,

C

[2021-07-26 13:01] MarcelMue commented on #1189
An additional usecase here would be handling of secret mutation / validation. It's currently not possible to easily decrypt any base64 encrypted data.

[2021-07-26 16:36] NoSkillGirl commented on #1957
@jack-jarvis - Any updates??

[2021-07-26 17:04] JimBugwadia commented on #2164
We need a better scheme to determine when to skip applying policies for a pod (i.e. when policies have already been applied to the pod controller) as the current check can be exploited to bypass policy enforcement. Besides not allowing user bypass of policy checks, we also want the check to perform well, as Shuting points out in an earlier comment.

[2021-07-26 20:57] MnrGreg commented on #2181
@NoSkillGirl

We're seeing the following errors in the Kyverno logs. Could this be contributing to the issue:

[code]

[code]

[code]

[code]

There are 14k secrets at present. Wondering if thats causing watch issues which in turn is causing clusterpolicies to be re-evaluated every 15mins?

[2021-07-26 23:57] MnrGreg commented on #2181
Interestingly after deleting the `generaterequest` object (in this case `gr-5scpr`) the 15min re-evaluations of the cluster policy `add-ns-quota` cease for this namespace.

[2021-07-27 02:22] JimBugwadia opened #2193 "Add Prometheus metrics support for imageVerify rule"

[2021-07-27 02:22] JimBugwadia opened #2194 "CLI "kyverno apply" support for imageVerify rule"

[2021-07-27 02:25] JimBugwadia opened #2195 "Add e2e tests for imageVerify rule"

[2021-07-27 02:25] JimBugwadia opened #2196 "[BUG] CronJob rule is not generated for imageVerify rule"

[2021-07-27 02:35] treydock opened #2197 "[BUG] No longer able to use CLI test to test request operations using v1.4.2-rc1"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: NA
* Kyverno version: master branch on commit d3e47b8e481f41e6be7a9da5efff8253dd62fb35 (v1.4.2-rc1)

**Describe the bug**
When I run CLI tests that worked with v1.4.1, they no longer actually test anything with v1.4.2-rc1. These are tests where the policy should only run during CREATE

[2021-07-27 02:36] treydock commented on #2197
Forgot to include output from CLI test:

[code]

Nothing prints about the actual tests unless I run with `-v5`:

[code]

[2021-07-27 02:38] treydock commented on #2197
Also another note, if I remove `request.operation` from my variables file, I still get same issue. I think the fact I have policies testing the request operation might be what is the issue? I'm not sure.

[2021-07-27 03:56] vyankyGH opened #2198 "Support Namespace in test command"
Please see: https://kubernetes.slack.com/archives/CLGR9BJU9/p1627340439446200?thread_ts=1627336978.443800&cid=CLGR9BJU9

[2021-07-27 06:49] realshuting commented on #2114
Closed via #2190.

[2021-07-27 06:49] #2114 closed

[2021-07-27 08:51] NoSkillGirl commented on #2197
@treydock - with this PR changes -  https://github.com/kyverno/kyverno/pull/2180, variables starting with `request.object.` will be handled by kyverno. Other variables need to be passed in variable file.

[2021-07-27 08:53] NoSkillGirl commented on #2197
Even after removing the variables I can see the CLI is not giving appropriate result. I will check the issue.

[2021-07-27 10:10] #1957 closed

[2021-07-27 12:26] treydock opened #2200 "[BUG] Unable to validate pod spec for array of integers item"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kyverno version: 1.4.1

**Describe the bug**
I am attempting to validate the `supplementalGroup` list with a list of valid GIDs from a config map, and this is causing panics in Kyverno.

**To Reproduce**
Policy:

[code]

Configmap:

[code]

Pod:

[code]

**Expected behavior**

[2021-07-27 12:39] treydock commented on #2200
I think this might be better for what I'm trying to achieve but this also doesn't work:

[code]

I purposefully make things not equal but the validation still passes with this error in logs:

[code]

Updated configmap to be this:

[code]

And this is spec item from pod:

[code]

[2021-07-27 12:41] chipzoller commented on #2197
Semi-related, but we need to ensure that 1.4.2, a patch release, does not break users' ability to continue specifying variables from `request.object.*` in command line flags as well as files. Kyverno CLI can still by default source these from the object itself, but it still has to maintain prior behavior for backwards compatibility.

[2021-07-27 14:39] chipzoller commented on #2200
Resolution here is two-fold:

1. Array values stored in a ConfigMap need to conform to one of the two supported methods [here](https://kyverno.io/docs/writing-policies/external-data-sources/#handling-configmap-array-values).
2. Values in an array of integers must be converted to strings so Kyverno can compare them with the aforementioned values from a ConfigMap (which are strings). This can be don

[2021-07-27 15:12] realshuting opened #2201 "Global anchor behavior in validation and mutation"
### Discussed in https://github.com/kyverno/kyverno/discussions/2004

<div type='discussions-op-text'>

<sup>Originally posted by **kacejot** June 11, 2021</sup>
## Preface
Last time we have lot of issues related to `patchStrategicMerge` with conditional anchors in array elements.
Here is the part of them:
- https://github.com/kyverno/kyverno/issues/1960
- https://github.com/kyverno/kyverno/issues

[2021-07-27 15:21] treydock commented on #2200
Trying to test this with CLI testing is not working with v1.4.1.

test.yaml
[code]

resources.yaml
[code]
variables.yaml
[code]

Policy:

[code]

This is error I get:

[code]

I tried simplified keys of `request.object.spec.securityContext.supplementalGroups` and still get same error.

[2021-07-27 15:24] chipzoller commented on #2200
@NoSkillGirl

[2021-07-27 17:27] NoSkillGirl commented on #2197
List variables cannot be handled in CLI - https://github.com/kyverno/kyverno/issues/1870. To resolve the issue this changes were made - https://github.com/kyverno/kyverno/pull/2180.

I will add the changes to ignore the `request.object.*` variables in the file for now to support backwards compatibility.

[2021-07-27 17:36] NoSkillGirl commented on #2197
@treydock - For the above first 2 examples (resource - `test-skip` and `test-skip-op`), the result will be `pass`. There is already a issue raised for this - https://github.com/kyverno/kyverno/issues/2122.

And regarding the other 2 cases, you can use the following variable file:
[code]

Result:
[code]

[2021-07-27 18:01] treydock commented on #2197
Should this work with current main branch code? I just modified my variables file to remove all `request.object` and this is what I get:

[code]

This is what I think is the error in logs with `-v5`:

[code]

I don't know if this is the issue but I have nested lookups for the deny `value`

[code]

[2021-07-27 18:06] treydock commented on #2197
Posting my complete files in case it's useful to reproduce on commit 4c99b51fb73c2a8c4aa34969c17b55e84b959a73

policy:

[code]

test

[code]

resources

[code]

variables

[code]

[2021-07-27 18:31] andriktr commented on #2118
Hey, @realshuting maybe you have any insights regarding this issue?
Thanks in advance.

[2021-07-27 18:46] NoSkillGirl commented on #2069
@nuno-silva - can you please try with latest release and check if you are still facing the error?

[2021-07-28 03:28] NoSkillGirl commented on #2197
@treydock - I am also able to reproduce the same with the updated commit.

@vyankyGH - I tried applying last example from the above and I see it fails:
[code]

But in test.yaml, even after mentioning the expected results as fail, the test fails.

Can you the the test command behaviour once.

[2021-07-28 06:45] realshuting commented on #2118
@andriktr - unfortunately no.. I added it to 1.4.3 so that we can track.

[2021-07-28 06:46] andriktr commented on #2118
@realshuting Thanks for update!

[2021-07-28 10:18] RinkiyaKeDad opened #2203 "allowing validation of resource filters under "all""
**Is your feature request related to a problem? Please describe.**

PR #2130 adds support for [resource filters](https://github.com/kyverno/kyverno/pull/2130/files#diff-bce33e0276788dce7838634321c73febf0da6178d5759f32c54b03f97f4f1b5eR261-R272) under "any" and "all" tags. Prior to the PR when we applied a policy (which can basically be thought of as one resource filter under "any" or "all"), we did

[2021-07-28 11:42] chipzoller commented on #2185
@RinkiyaKeDad ?

[2021-07-28 12:02] RinkiyaKeDad commented on #2185
Ah really sorry, I somehow missed this ping. So this is not exactly proposed as a solution to #2100. We still do need to investigate the root cause in the case of #2100 but this originated from a discussion @realshuting and I were having about how when mutating resources, it is not always possible for us to correctly validate the policy since we have no way of **always** knowing if the policy is c

[2021-07-28 16:54] #1810 closed

[2021-07-28 17:20] #2197 closed

[2021-07-28 17:52] slayer321 commented on #2117
@realshuting I tried understanding what the issue is but I am facing difficulties understanding the codebase.
Can you point me to some resource that can help me understanding the codebase?
I read the [wiki](https://github.com/kyverno/kyverno/wiki) but was not able to understand much.

[2021-07-28 18:27] treydock opened #2204 "[BUG] CLI testing not correctly validating expected failures when it should"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: NA
* Kyverno version: latest main commit a3dfe3c6476e629d9d15f95383a6f317b1e0a371

**Describe the bug**
I have tests that work with v1.4.1 but with latest main commits one of the expected failures is not failing. If I change the expected result to `pass`, things work.

**To Reproduce*

[2021-07-28 18:33] treydock commented on #2204
@NoSkillGirl I tried to run the exact same YAML from #2202 that you pasted in PR and I don't get same results:

[code]

This includes commit from #2202

[code]

[2021-07-28 19:10] vyankyGH commented on #2204
Hi @treydock I have just tested with provided Yaml and new code it's working for me as expected.

Executing memory-request-equal-limit-node-selector...
applying 1 policy to 5 resources...
│───│───────────────────────────────────────────────────────────────────────────│────────│
│ # │ TEST                                                                      │ RESULT │
│───│─────────────────────────

[2021-07-28 19:44] treydock commented on #2204
I can't think of why it would work for others but not myself running the same code.  What version of Go was used ? I am using Go 1.16.5.  The two examples I provided for the `pod-account-validation` and `pod-groups-validation` are the only failures I'm seeing with my CLI tests that exist at my site, we have about a dozen other, some also using external data, and others using nested lookups like th

[2021-07-28 19:45] kacejot commented on #1916
I think it is already fixed by https://github.com/kyverno/kyverno/pull/2156
I will check tomorrow

[2021-07-28 19:47] treydock commented on #2204
The lack of those log entries for successful processing and finished processing are not present for my other failing test:

[code]

In both cases I also notice the rule that should have failed does not contain an entry of `start processing rule`.  It's like the rule is completely ignored.

[2021-07-28 19:48] realshuting commented on #1916
Thanks @kacejot.

@vyankyGH tested with the latest main branch, looks like the issue still exists.

[2021-07-28 19:56] realshuting commented on #2204
Just tested with the local builds using GO 1.16.4, got different results:
[code]

[2021-07-28 19:59] #1853 closed

[2021-07-28 21:52] realshuting commented on #2164
Capturing down the discussion with @JimBugwadia. There are two approaches to solve this security issue:

1. As Jim described above, "we need a better scheme to determine when to skip applying policies for a pod". One way of doing it is to mutate the resource with the applied policy names. To be more specific, add an annotation to `podTemplate` indicating that what are the policies have been applie

[2021-07-28 22:26] realshuting commented on #1821
@vineethvanga18 - since you've been working on this, can you add a comment so that I can assign it to you?

[2021-07-28 22:51] vineethvanga18 commented on #1821
I will not be able to give enough time for this as I have a tight academic schedule. So maybe It will take some for this. Is that Ok? I also see there isnt a milestone.

[2021-07-28 22:53] realshuting commented on #1821
Ah my bad, forgive me @vineethvanga18 . Tagged the wrong person.

@viveksahu26 ?

[2021-07-28 22:57] viveksahu26 commented on #1821
/assign

[2021-07-29 04:04] vyankyGH commented on #2204
@treydock @realshuting I'm also able to reproduce the issue. not sure why last time not able to reproduce the issue. Sorry for that. will work with @NoSkillGirl and fixed asap.

[2021-07-29 04:59] ckotzbauer opened #2205 "[BUG] Permanent CrashLoop"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.18.18
* Kyverno version: 1.4.1

**Describe the bug**
Kyverno run's quite stable until the day before yesterday with version 1.4.0. Then we had a cluster-outage (hardware-related). After cluster-recovery Kyverno got OOMKilled all the time (#2127).  We updated to the latest version, i

[2021-07-29 05:09] realshuting commented on #2205
Hi @ckotzbauer - it looks like Kyverno was running at a point and then went into crashLoopBackoff after the cluster restarted. We have a critical fix for the [ReportChangeRequst cleanup process](https://github.com/kyverno/kyverno/issues/2131) in v1.4.2, can you please un-install Kyverno and re-install it with this version?

It's also helpful if you can open up Kyverno log level by setting [this](h

[2021-07-29 05:26] ckotzbauer commented on #2205
Thanks for that quick reply. I will test this and give feedback.

[2021-07-29 07:52] JimBugwadia opened #2207 "[BUG] Helm chart versions are ahead of application versions"
**Software version numbers**

* Kubernetes version: n/a
* Kyverno version: n/a

**Describe the bug**

The latest published Kyverno version is 1.4.2-rc2.

The chart version shows as 1.4.3-rc2.

https://artifacthub.io/packages/helm/kyverno/kyverno

![image](https://user-images.githubusercontent.com/5489990/127453283-c1a52d49-7d8f-42dc-8788-25e6df871d16.png)

![image](https://user-images.githubuserco

[2021-07-29 08:49] jack-jarvis commented on #1957
Sorry about the late response. I'm getting a 404 on the link you posted in step 2 so I can't see your cluster setup but otherwise those steps look the same as what we did. The only major difference is that we're using AKS - maybe that's the issue?

[2021-07-29 09:30] NoSkillGirl opened #2208 "[BUG] e2e test cases fails intermittently"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kyverno version: 1.4.1-rc2

**Describe the bug**
The e2e test cases fails intermittently.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you exp

[2021-07-29 13:13] chipzoller commented on #2207
Was about to open this same issue. We've had Helm chart drift for the last couple development releases.

[2021-07-29 13:26] devlounge commented on #2198
Thanks!
Anthony Perot

[2021-07-29 13:28] devlounge commented on #1366
Hi,

This is happening again, with 1.41

[code]

[2021-07-29 13:49] NoSkillGirl commented on #2204
I am also able to reproduce the same. I have noticed the issue is with 3rd and 4th example combination.
I will debug and update accordingly.

[2021-07-29 16:56] nuno-silva commented on #2069
Hi @NoSkillGirl , sorry for the delay and thanks for looking into this. After upgrading from 1.3.6 to 1.4.1, I am still seeing these errors:

[code]

Here's the output you asked for (as of 1.4.1):
[code]

Please let me know if you need anything else.

[2021-07-29 17:37] realshuting commented on #2207
@JimBugwadia @chipzoller - this is not a bug, we changed the behavior in this PR https://github.com/kyverno/kyverno/pull/2111#issuecomment-876863309.

The problem was every time with the fixes or new changes to the Helm Chart, we want to publish a new Chart so that the user can install from the latest changes. While it does not mean the Kyverno is ready for a new release. In order to do so, we hav

[2021-07-29 17:39] realshuting commented on #2207
And I added this message in rc2, to tell the user what are the Chart version and the app version:
[code]

[2021-07-29 17:40] chipzoller commented on #2207
Is it perhaps better then to follow a different versioning strategy for the Helm chart so it's clear this divergence is on purpose? Because the two were once in sync, now they aren't and it looks a bit confusing.

[2021-07-29 17:44] realshuting commented on #2207
Sure we can!

What would be the best way to make this clear to users? Maybe completely update the Chart version to 2.0.0?

[2021-07-29 18:06] chipzoller commented on #2207
I was thinking something like that, yes. What do you think, @JimBugwadia ?

[2021-07-29 18:30] JimBugwadia commented on #2207
Yes, decoupling and using a different version scheme works!

Do we want to use a 3 digit scheme for the Helm chart or simply a number? What do other Charts use?

[2021-07-29 19:46] chipzoller commented on #2207
I see a three number scheme most commonly but am not sure if Helm requires that. I'd think, if not, a simple two number system may be sufficient because I'd expect the chart to change less frequently once we hit a steady pace.

[2021-07-29 20:30] NoSkillGirl commented on #2204
In CLI, when we apply a deny policy on multiple resources, during the variable substitution the variables in the original policy are replaced by the substituted values. As the original policy is getting updated in the process we will not get the expected result for the further resources.

For resolving the issue we need to pass a copy of policy in the below line:
https://github.com/kyverno/kyverno

[2021-07-29 21:02] treydock opened #2211 "[BUG] Unable to use GreaterThan operator with precondition"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kyverno version: 1.4.1

**Describe the bug**
I tried to apply a policy with `GreaterThan` operator and get this error:

[code]

**To Reproduce**
Apply this policy on Kyverno 1.4.1:

[code]

**Expected behavior**
Based on PR that added `GreaterThan` and documentation, I would

[2021-07-29 21:34] realshuting commented on #2204
Thinking more of this issue, @NoSkillGirl - can we try not to update the rule itself when we substitute variables inside engine?

[2021-07-29 21:47] realshuting commented on #2211
@treydock - it works with tag `v1.4.2-rc2`:

[code]

[2021-07-29 21:50] realshuting commented on #2211
It doesn't look like Kyverno returns the error, the policy may be blocked by OpenAPI schema validation. Did you upgrade CRDs to the latest?

[2021-07-29 22:04] realshuting commented on #1366
Hi @devlounge - we have seen this for some time and we are still uncertain about the cause, it doesn't seem to impact any of the functionalities.

I feel if you re-install Kyverno, the error will be gone. I see this happened during the upgrade process.

[2021-07-29 22:06] realshuting commented on #2117
Were you able to understand [this](https://github.com/kyverno/kyverno/issues/2117#issuecomment-882812930) comment above? Is there any blocking issue?

[2021-07-29 22:13] realshuting commented on #2207
Ok, I'll update the Helm Chart version to 2.0 with the next release candidate.

[2021-07-30 00:10] treydock commented on #2211
It looks like CRDs can't be updated by Helm: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/.  It also looks like uninstall of Helm chart does not delete the CRDs and my dev cluster has had Kyverno since before the pull request to add some of these features.  I verified on my newer test and production Kubernetes clusters that this policy works just fine.  So I think the actu

[2021-07-30 05:15] NoSkillGirl commented on #2204
why we have `deny` as a pointer. Can we remove pointer here?
https://github.com/kyverno/kyverno/blob/7215841792dc2f81e5434503f176215a119282a7/pkg/api/kyverno/v1/policy_types.go#L401

[2021-07-30 07:46] ckotzbauer commented on #2205
Since I applied the 1.4.2-rc2 yesterday, Kyverno is stable again.

[2021-07-30 13:59] treydock commented on #2211
@realshuting I played around with Helm chart dependencies and it doesn't work. The CRD chart must be installed in a totally separate command from installing Kyverno otherwise the Kyverno install will fail because Helm doesn't know how to parse the ClusterPolicy objects.  So far this is the workflow that works but it's not great:

[code]

If this looks like an acceptable change, I can open a pull r

[2021-07-30 14:01] kacejot commented on #1916
@realshuting, I have added unit test for this case and it passes. I can't check it on the live cluster with the latest main due to policy is not applying there. I think some changes with metrics are related to my problem, because I see error log when I creating a policy:
[code]

[2021-07-30 14:58] chipzoller commented on #2211
Managing CRDs in Helm has been a constant source of problems. Helm 3 is better but still doesn't handle upgrades. This is really a larger issue we need to try and solve.

[2021-07-30 15:13] treydock commented on #2211
Would the two helm commands be acceptable?  The `kyverno-crds` chart I was testing with puts `crds.yaml` into the `templates` directory so it's managed like a resource so can be updated/deleted with the chart rather than using the `crds` directory which has these limitations.  If that approach doesn't work I think maybe just a documentation issue to tell people to mix `kubectl` with Helm for manag

[2021-07-30 16:30] treydock opened #2213 "Support comparing annotations that are durations"
**Is your feature request related to a problem? Please describe.**
We deploy user pods that users submit with annotation like `pod.kubernetes.io/lifetime: 4h` that is then seen by a service that will reap pods that have exceeded their requested lifetime.  It would be extremely useful to use Kyverno to enforce that the requested lifetime does not exceed some specific value.

**Describe the solution

[2021-07-30 17:22] realshuting commented on #2205
Great! I'm closing this issue for now. Let us know if you see it again.

[2021-07-30 17:22] #2205 closed

[2021-07-30 18:17] realshuting commented on #1916
@kacejot - is this error still valid? Did you solve this?

[2021-07-30 18:22] realshuting commented on #2211
Thanks @treydock for taking the time to look into this issue.

If we install CRD using a separate Chart, can the upgrade be handled automatically? I have this proposed [here](https://github.com/kyverno/kyverno/issues/1841#issuecomment-828938682) but haven't really verified it.

[2021-07-30 19:03] treydock commented on #2211
I believe for the way I tested the CRD chart is because it lives in `templates` directory it will get updated as the chart is updated. I think the limitation with CRDs only exists when using the `crds` directory since the CRDs tend to need to be added in separate step from the resources that use them.

[2021-07-30 19:09] treydock commented on #2211
Made my changes in #2218 just so maybe easier to understand what I propose by seeing the change.  I also wanted to get E2E tests run to just be sure there isn't some weird interaction I'm not seeing.

[2021-07-30 19:15] realshuting commented on #2211
Great! I'm ok to add the new Chart to manage CRD separately. How do we want to handle upgrades from 1.4.1 to 1.4.2? Do we need to uninstall the old Chart and install the new one? If so, I can add it to the release note.

@chipzoller @JimBugwadia - would like to hear your thought.

[2021-07-30 19:31] treydock commented on #2211
I think the new chart would take over managing the CRD and no need to touch the old CRD, it would just get updated in place if there are CRD changes from 1.4.1 chart to 1.4.2 separate chart.  This assumes the CRD name and identifiers remain the same, I'm not real familiar with what metadata identifies a CRD but I would imagine based on `kubectl get crd` that it's just the name so if the name doesn

[2021-07-30 19:33] realshuting commented on #2211
Have you tested the upgrade? Won't there be a conflict if Helm tries to install the same CRD while it already presents in the cluster?

[2021-07-30 19:52] treydock commented on #2211
Using kind I tested this on fresh cluster

[code]

So ya the upgrade path is actually going to be horrible, either uninstall CRDs completely before installing Helm CRD or do this:

[code]

[2021-07-30 19:54] treydock commented on #2211
If it's not clear, my annotate/label commands just trick Helm into thinking the original CRDs are managed Helm templates.  There might be other ways to force Helm to overwrite non-Helm things but I'm not sure if that's possible.

[2021-07-30 20:01] realshuting commented on #2211
Yes that's what I thought, we can remove CRDs by the kubectl command and install 1.4.2 with two new Helm commands.
[code]

[2021-07-30 20:11] #2213 closed

[2021-07-30 20:28] realshuting commented on #2204
Hi @treydock - I tested this with the latest main branch, it's working now:
[code]

Can you please confirm?

[2021-07-30 21:41] realshuting commented on #2207
Updated Chart version to v2.0, but seems like Helm generates 3 digit versions automatically:
https://github.com/kyverno/kyverno/blob/a53613ffe2c2dbf016c80031a0c360951f304422/charts/kyverno/Chart.yaml#L3

<img width="208" alt="Screen Shot 2021-07-30 at 2 40 11 PM" src="https://user-images.githubusercontent.com/25727662/127714274-c5028e87-2c32-4cea-b40d-7b4f543f60b5.png">

[2021-07-30 21:42] realshuting commented on #2207
Closing the issue.

[2021-07-30 21:42] #2207 closed

[2021-07-31 00:18] treydock commented on #2211
I think main downside with deleting CRDs before applying the update, won't that also delete all Kyverno policies and policy reports since the CRD they require gets deleted?

[2021-07-31 00:25] treydock commented on #2204
Yep, I'm not able to get all my tests to pass using 1.4.2-rc3 and main branch.

[2021-07-31 00:25] #2204 closed

[2021-07-31 12:59] chipzoller commented on #2211
Yes, if you delete CRDs, it wipes their dependents. Maybe we need to have some logic in the Helm chart that prints something after the upgrade to inform users to run a separate command to upgrade the CRDs (a second chart). I'm not a seasoned Helm chart writer, but how are other projects solving this? It's not like this isn't common.

[2021-08-01 04:01] JimBugwadia opened #2220 "Update to Cosign 1.0.0"

[2021-08-01 11:18] NoSkillGirl commented on #2197
PR to support backward compatibility -  https://github.com/kyverno/kyverno/pull/2222

[2021-08-01 11:35] NoSkillGirl opened #2223 "[BUG] CLI panics when variables are passed using `set` flag"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: NA
* Kyverno version: 1.4.1-rc3

**Describe the bug**
CLI panics when variables are passed using `set` flag

**To Reproduce**
policy.yaml
[code]

resource.yaml:
[code]

command:
[code]
Result:
[code]

**Expected behavior**
CLI should not panic.

**Additional context**
on debugging :
h

[2021-08-01 15:28] treydock commented on #2211
The other project I personally use that deploys CRDs is cert-manager.  Here is one issue where proposed change , looks like 2 chart deployment: https://github.com/jetstack/cert-manager/pull/4188.

I don't fully understand how the current cert-manager CRDs are deployed, via this: https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L42.  I think it might have

[2021-08-01 18:37] NoSkillGirl commented on #2200
I tried it with the latest master branch, the test cases passes for me.
[code]

@treydock - can you please check it once and confirm?

[2021-08-01 19:49] slayer321 commented on #2117
What i understand from [this](https://github.com/kyverno/kyverno/issues/2117#issuecomment-882812930) comment was that  in `validate.go` file we need to add check for `/` but I was not able to find `rule.Mutation.PatchesJSON6902 `  field
https://github.com/kyverno/kyverno/blob/0fdd349849eeee491fdf6aa651eea6d0422f2a97/pkg/policy/validate.go#L52

I dont know how we can add validation checks through t

[2021-08-02 13:06] treydock commented on #2200
I verified with latest main branch code that all tests pass as expected.

[2021-08-02 13:06] #2200 closed

[2021-08-02 13:54] #2223 closed

[2021-08-02 15:21] NoSkillGirl commented on #2181
@MnrGreg - I am able to reproduce the issue. Will work on the fix.

[2021-08-02 18:29] StupidScience opened #2225 "[BUG] Failed background scans"
**Software version numbers**

* Kubernetes version: v1.20.7
* Kyverno version: v1.4.1

**Describe the bug**
Looks like precondition sometimes ignored or doesn't work as expected at background scans.

**To Reproduce**

1. Create policy with precondition. In my case:
[code]
2. Wait some time for a background check
3. Check your policy reports and find that some checks with this policy failed on Clus

[2021-08-02 18:44] StupidScience commented on #2225
Not sure if the problem with preconditions only. I'm also observing a lot of fails of background scans that should pass.
I took policy from https://kyverno.io/policies/best-practices/require_pod_requests_limits/require_pod_requests_limits/ but also add requirement for cpu limits.

[code]

And background scans fail with
[code]

While when I'm trying to get it with
[code]
it returns `2`

[2021-08-02 18:55] NoSkillGirl commented on #2069
Hi @nuno-silva - I am not able to reproduce the issue. Can you please provide me few crds and related policies to reproduce the issue.

[2021-08-02 18:57] NoSkillGirl commented on #1957
@jack-jarvis - I am not able to reproduce the issue. Can you please provide the related file and folders to reproduce the issue.

[2021-08-02 19:42] MnrGreg opened #2226 "[BUG] Namespace generate policy fails with request.operation precondition"
**Software version numbers**
* Kubernetes version: v1.20.5
* Kyverno version: v1.4.2-rc2

**Describe the bug**
When using a `request.operation` precondition within a match/resource/kind=namespace generate policy (add-ns-quota), the generate request fails with `"msg"="variable substitution failed for rule %s"` `"error"="Unknown key \"operation\" in path"`.

The `request.operation` is seemingly foun

[2021-08-02 20:51] #2220 closed

[2021-08-03 09:12] StupidScience commented on #2225
Looks like the problem with precondition is not real. I had some misconfiguration that already fixed.
However the problem with resources policy is still actual.

[2021-08-03 09:32] rustrial commented on #2106
Same here, we have policies like the one below, which fail if there is no `initContainer` in the Pod. Which completely contradicts the purpose (and intuition) of the `any` keyword in `preconditions`.

[code]

[2021-08-03 14:52] StupidScience commented on #2225
Looks like one more misconfiguration from my side.
Sorry for bothering.

Closing this one.

[2021-08-03 14:52] #2225 closed

[2021-08-03 15:02] Issif commented on #604
As proposed by @chipzoller, I'm adding our use case that needs math operators too.

We currently use a validation webhook we developed internally and one of its key features is to enforce a ratio between requests and limits. For example, `limits.memory` can't be more than 150% of `requests.memory`.

Here an extract of the validation webhook I wrote:

[code]

[2021-08-03 15:48] chipzoller commented on #2106
As of v1.4.2 (you can preview this in RC 3), non-resolved variables should be replaced with empty strings allowing your policy to run correctly.

[2021-08-03 15:51] chipzoller commented on #2106
Also, here is a sample that will be making its way into the samples repo as soon as 1.4.2 releases.

[code]

You could add a second rule which looks for initContainers and both together would be an alternative to your previous policy.

[2021-08-03 15:54] chipzoller commented on #2226
This non-resolution of `request.operation` for a generate rule has also been recently observed in [this Slack thread](https://kubernetes.slack.com/archives/CLGR9BJU9/p1627998962053800?thread_ts=1627952499.037900&cid=CLGR9BJU9).

[2021-08-03 17:42] realshuting opened #2227 "Automate CLI binaries releases"
See https://web3.coach/golang-github-actions-release-binaries-tutorial.

[2021-08-03 18:01] jack-jarvis commented on #1957
I've had a look at your repo, we're using a slightly older version of flux (v0.13.4) but otherwise I can't see any significant difference in the deployment mechanism.

I did just notice that in your steps you mention that you checked the logs of the pod - but the errors we're seeing on our end are coming from the MutatingWebhookConfiguration objects (eg. `kyverno-resource-mutating-webhoook-cfg`) r

[2021-08-03 18:24] realshuting commented on #2227
Adding the suggestion from @treydock https://kubernetes.slack.com/archives/CLGR9BJU9/p1628013993078400?thread_ts=1628001405.059900&cid=CLGR9BJU9, this could potentially update the release notes with the desired CHANGELOG.

Thank you **treydock**!

[2021-08-03 19:01] realshuting opened #2228 "[BUG] Variables are not substituted in preconditions check"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.2-rc3

**Describe the bug**
Variables defined in the preconditions should be substituted first before Kyverno sends it to the evaluation process.

**To Reproduce**
With a mutate policy:
[code]

Run this command to create a Pod `k ubectlrun nginx --image=nginx:latest`, the image is n

[2021-08-03 19:02] realshuting commented on #2228
The policy is built for this use case https://kubernetes.slack.com/archives/CLGR9BJU9/p1627998046052400?thread_ts=1622671359.208000&cid=CLGR9BJU9.

[2021-08-04 00:14] chipzoller opened #2229 "Delete generated resource when triggering resource is deleted"
**Is your feature request related to a problem? Please describe.**
A triggering resource and its generated resource very often share an linked life cycle where one follows the other. Today in Kyverno, deletion of the source (triggering) resource does not affect the downstream (generated) resource which means in such instances of linking, manual clean-up is necessary. This doesn't address many mode

[2021-08-04 00:55] chipzoller commented on #2160
Any comments on this, @JimBugwadia or @realshuting ?

[2021-08-04 10:06] NoSkillGirl commented on #2226
I have debugged the issue. This is same as https://github.com/kyverno/kyverno/issues/2095.

[2021-08-04 11:09] vzaitsev77 commented on #2229
I feel that was triggered by me in slack talk with Chip Zoller.

My use case was that I wanted to generate PVC for specific pod and use it as ephemeral storage for sharing data between pods containers. Goal - not to have it stored locally anywhere on compute node. We are using `rbd.csi.ceph.com` so that's what I wanted to achieve. And that worked fine, Kyverno is doing this job perfectly.

Now we

[2021-08-04 14:21] dkulchinsky commented on #2229
Adding my 2 cents here as well 😄 following the conversation with @chipzoller & @JimBugwadia on Slack (use case described here: https://kubernetes.slack.com/archives/CLGR9BJU9/p1627952458037000 the long an very interesting discussion followed here: https://kubernetes.slack.com/archives/CLGR9BJU9/p1627952499037900)

We manage several on-prem Kubernetes clusters and expose LoadBalancer Services using

[2021-08-04 15:00] chipzoller opened #2233 "Allow time-based window for policy enforcement behavior"
**Is your feature request related to a problem? Please describe.**
Kyverno `validate` policies enforce their action as long as the value of `validationFailureAction` exists. In clusters which are heavily used by end users, policy could work alongside their schedule to ensure, during a specific time, the policy behaves one way and outside of that window it behaves another.

**Describe the solution

[2021-08-04 17:09] am250360 opened #2234 "[BUG] Using Argo to deploy, baseline policies are constantly out-of-sync"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: GKE v1.18
* Kyverno version: v1.4.2rc3 (deployed with Helm chart v2.0.0rc3)

**Describe the bug**
ClusterPolicies are constantly out of sync when deploying Kyverno via ArgoCD.

This occurs as there are additional fields being created on the ClusterPolicies, when they are applied. e.g.

[2021-08-04 19:19] chipzoller commented on #2234
In your Argo Application definition, you'll have to ignore some fields:

[code]

[2021-08-05 06:44] NoSkillGirl commented on #1957
@jack-jarvis how did you check the errors here ?
If possible can you join [here](https://kubernetes.slack.com/archives/CLGR9BJU9)  so that we can connect and resolve the issue ?

[2021-08-05 08:34] am250360 commented on #2234
@chipzoller I was thinking of just ignoring auto generated rules (need to work out the jq query for that), rather than ignoring rule diffs entirely, so that when we update the rules in git, Argo will pick up those changes.

[2021-08-05 08:59] am250360 commented on #2234
For reference the Argo feature that should allow ignoring of the autogen rules is not yet in a released version: https://github.com/argoproj/argo-cd/pull/6109

[2021-08-05 12:32] chipzoller commented on #2234
That jq feature looks like it'll open up lots of new flexibility. Thanks for point us there.

[2021-08-05 12:41] chipzoller opened #2237 "Pre-built variables from container images need wildcard support"
**Is your feature request related to a problem? Please describe.**
The pre-built variables from container images ([docs](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images)) are very useful (ex., auto assuming of "docker.io" images if blank) but limited in that to reference any of the values they expose, a user has to supply the name of the container in the `contai

[2021-08-05 12:56] bognarbalazs opened #2238 "[BUG] In audit mode kyverno gives us not valid warning when i installed minio operator"
* Kubernetes version:
v1.18.14
* Kyverno version:
 Kyverno v 1.4.1

**Describe the bug**
I'd like to setup minio operator to my cluster and the kyverno gives me the following warning while it's in audit mode:
` Warning   PolicyViolation     deployment/minio-operator Rule(s) 'priviledged-containers-disable' of policy 'disallow-privileged-containers' failed to apply on the resource`

disallow-privil

[2021-08-05 12:58] chipzoller commented on #2238
There is no bug or problem here. When a policy is in audit mode, it delivers these warnings about resources which violate one or more rules. It does not block their creation. Minio should run just fine.

[2021-08-05 13:18] bognarbalazs commented on #2238
It does not block their creation because it is in audit mode. But if i set the validationFailureAction to enforce , it will block the creation which is a problem. And i don't understand why it's give back a warning?

[2021-08-05 14:10] chipzoller commented on #2238
Yes, that's how it's supposed to work. When you enable `enforce` mode, it will block resources which violate the policy. If the `validationFailureAction` is set to `audit` it will not touch them and will only tell you they are in violation in a policy report. A warning is just a warning; it's a message telling you some information.

I'm trying to understand the problem you're experiencing here. Is

[2021-08-05 14:21] chipzoller commented on #2238
If you do not want a policy, you can either delete it, or when installing Kyverno with Helm if you don't want ANY of the PodSecurityStandard policies, set that option to `disable`.

[2021-08-05 15:03] bognarbalazs commented on #2238
My problem is that is give back a warning in audit mode ,while it shouldn't have to, because there's no part in the minio operator config where the priviliged mode is set to true and in spite of that it gives back a warning. In enforce mode it won't allow to use the operator while priviliged mode is not set to true(but the kyverno thinks that priviliged=true config is existing while it's not.
I ho

[2021-08-05 15:21] chipzoller commented on #2238
The way that policy works is if a Pod has `securityContext` defined, and if it has a key called `privileged` then it MUST be set to value `false`. The only way you would see that warning (if in `audit` mode) or have anything blocked (in `enforce` mode) is if those conditions were true. So the minio operator must be creating a Pod which meets those conditions. You can verify by leaving the policy i

[2021-08-05 16:20] chipzoller opened #2239 "Add imageVerify policy"
Even if copy-and-paste from the docs:

[code]

[2021-08-05 17:20] aslafy-z opened #2240 "Update Grafana dashboard with the respect to recent metric updates"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version:
- v1.4.2-rc1
- v1.4.2-rc2
- v1.4.2-rc3

**Describe the bug**
Grafana dashboard was not updated and old metrics are still used.

Related https://github.com/kyverno/kyverno/pull/2157

[2021-08-05 19:27] syncroswitch commented on #2234
Hit this issue earlier and moved to argocd:v2.1.0-rc1 for the jq feature,
this handles the autogen rule exclusion without ignoring the base rule definitions
`
  ignoreDifferences:
  - group: kyverno.io
    kind: ClusterPolicy
    jqPathExpressions:
     - .spec.rules[] | select(.name|test("autogen-.")
`

[2021-08-05 21:46] realshuting commented on #2117
Do you want to set up some time to discuss it offline together? I'm reachable via the Kyverno Slack channel @ **Shuting Zhao**.

[2021-08-06 06:11] bognarbalazs commented on #2238
I understand what you wrote, but the problem is that in my case it's not true. There's **no line** in the securitycontext block where **priviliged set to true**, but it **still report** the pod as it **failed due to the priviliged context set to true, while it's not**. This is my problem.

[2021-08-06 09:12] kacejot opened #2241 "[BUG] flux2-multi-tenancy fails to update kyverno to v1.4.2-rc3"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: kind@v0.5.0
* Kyverno version: v1.4.2-rc3

**Describe the bug**
flux2-multi-tenancy fails to automerge new version of kyverno: https://github.com/fluxcd/flux2-multi-tenancy/pull/37

**To Reproduce**
Reproduce using steps in e2e test description.

**Expected behavior**
All flux tests p

[2021-08-06 12:23] chipzoller commented on #2238
Please provide *precise* instructions on how to reproduce what you're seeing. I just did an installation of the minio operator using directions [here ](https://docs.min.io/minio/k8s/deployment/deploy-minio-operator.html#procedure) and do not see this issue.

[code]

[2021-08-06 12:49] bognarbalazs commented on #2238
I've find the error. The anchor was set to equality and due to this, if securitycontext was defined , it was required to be priviliged set to true. It was my fault , sorry and i'd like to thank you your help.

[2021-08-06 12:49] #2238 closed

[2021-08-07 00:33] realshuting commented on #2237
@chipzoller - can you please provide an example to help me understand the use case?

From the doc, one can fetch all images regardless of the container names as a list:

[2021-08-07 00:35] realshuting commented on #2240
@yashvardhan-kukreja - following up on the [TODOs](https://github.com/kyverno/kyverno/pull/2157#issuecomment-885428095), can you please update Gradana Dashboard's JSON?

[2021-08-07 10:15] #2237 closed

[2021-08-07 19:43] chipzoller opened #2243 "[BUG] Mutating `image` with custom JMESPath function `regex_replace_all` overwrites all instances"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21.3+k3s1
* Kyverno version: v1.4.2-rc3

**Describe the bug**
When using a mutate rule with regex_replace_all on a Pod with multiple containers, the mutated image name of the first container's image is used to overwrite all subsequent container images.

**To Reproduce**
Steps to re

[2021-08-08 11:44] NoSkillGirl opened #2245 "CLI should support passing multi-line YAML values for variables"
**Is your feature request related to a problem? Please describe.**
Kyverno CLI does not support passing multi-line YAML (block scalar) in variable file.

Example: https://kyverno.io/docs/writing-policies/external-data-sources/#handling-configmap-array-values
Policy:
[code]

ConfigMap:
[code]

The above policy is supported in web hook. Provide support for the same in CLI.

**Describe the solution y

[2021-08-08 12:37] chipzoller commented on #2245
The CLI needs to specifically support block scalars within the ConfigMap source, hence it should look like this:

[code]

[2021-08-08 22:13] #2151 closed

[2021-08-08 22:13] #1069 closed

[2021-08-08 22:13] #2189 closed

[2021-08-08 22:13] #2239 closed

[2021-08-09 15:44] jack-jarvis commented on #1957
@NoSkillGirl I can't seem to access the slack link you sent but the command I ran to check the errors was:
`kubectl describe mutatingwebhookconfiguration kyverno-policy-mutating-webhook-cfg`

I'm also seeing the errors on `kyverno-resource-mutating-webhook-cfg` and `kyverno-verify-mutating-webhook-cfg` in the same way.

[2021-08-09 19:08] wimo7083 commented on #2233
Our use cases are related to restricting who can make a change to certain time periods.

- The desire to implement a change freeze for us to perform some maintenance and want to stop all automated/ manual changes.
- Disable a certain user, or set of users, or other entity from making changes during certain periods.
- Implement a timeout system where a user can only make a change so frequent as the

[2021-08-09 21:24] realshuting commented on #2240
@yashvardhan-kukreja - can you comment so that I can assign it to you?

[2021-08-09 22:49] #2240 closed

[2021-08-10 04:38] realshuting commented on #2099
Closed via #2121.

[2021-08-10 04:38] #2099 closed

[2021-08-10 04:46] realshuting opened #2248 "Performance testing"
**Is your feature request related to a problem? Please describe.**
There are a few issues filed for OOM killed problem, we need to run performance testing and optimize memory usage:

- design and run scaled tests periodically
- capture memory usage of different scales of clusters

Related issues:  https://github.com/kyverno/kyverno/issues/2127

[2021-08-10 06:44] realshuting opened #2249 "Extend Kyverno CLI to handle generate policies & improve test coverage"
Extend the Kyverno CLI to cover generate policies (currently only `validate` and `mutate` policies are covered via the `kyverno test` command)  and improve tests coverage for Kyverno. Based on the test results, we need to add more unit/E2E tests.

It would be nice if we can have the test report generated for each PR, i.e., https://github.com/kyverno/policy-reporter/pull/53#issuecomment-895424095.

[2021-08-10 06:45] CIPHERTron commented on #2248
Heyy @realshuting, can I have more information regarding this issue?
I would love to work on this 💯

[2021-08-10 06:55] realshuting commented on #2248
Hi @CIPHERTron - thanks for the interest!

We don't have any detailed plan yet, the project has been [submitted to the LFX mentorship program for 2021 Fall](https://github.com/cncf/mentoring/pull/413/files). The main goal is to analyze the performance and potentially help reduce memory usage of Kyverno. Please feel free to apply : )

[2021-08-10 07:18] CIPHERTron commented on #2248
Ohh wow, amazing! I didn't know that this project has been submitted to LFX. Although, the `LFX` label had me thinking XD.
Even I have plans to apply for the fall batch 🚀

[2021-08-10 16:31] JimBugwadia opened #2250 "Security: threat model, processes, enhancements"
This is a tracking issue for various security related work and improvements:
- [x] https://github.com/kyverno/kyverno/issues/2055
- [x] https://github.com/kyverno/kyverno/issues/2175
- [x] https://github.com/kyverno/website/issues/225
- [x] [CNCF TAG Security Self-Assessment](https://github.com/kyverno/tag-security/blob/main/assessments/projects/kyverno/self-assessment.md)
- [ ] https://github.com

[2021-08-10 16:41] chipzoller commented on #2250
Should we create a "security" label for these and futures?

[2021-08-10 16:43] JimBugwadia commented on #2055
CNCF TAG Security has published templates at: https://github.com/cncf/tag-security/tree/main/project-resources.

[2021-08-10 16:52] JimBugwadia commented on #1953
This does not seem to be fixed. See: https://artifacthub.io/packages/helm/kyverno/kyverno?modal=security-report

[2021-08-10 17:15] nuno-silva commented on #2069
Is there any way for me to find out which CRDs and/or policies are being affected? I can't seem to find a way to make the logs more verbose

[2021-08-10 17:26] siddharthlal25 commented on #2249
Hi @realshuting! I would like to contribute to this!😃
Any pointers that I should take into consideration while drafting the proposal?

[2021-08-10 18:50] NoSkillGirl commented on #1957
@jack-jarvis - I am able to reproduce the error. I have tested different policies which seems to work as expected.
`ownerReference` is related to garbage collection, for more information check this: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md
[code]

We will be removing the `ownerRefrence` in kyverno. PR - https://github.com/kyverno/kyverno/pull/2251

[2021-08-10 19:36] realshuting commented on #2249
Hey @siddharthlal25 - thanks for reaching out! We have submitted this as the [LFX mentorship program](https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2021/03-Fall/project_ideas.md#kyverno), and the application starts on August 13th.

I've updated the issue description, sorry for the inconvenience.

[2021-08-10 19:39] realshuting commented on #2241
@kacejot - can you please attach the updated policy here so that we could track it?

[2021-08-10 23:50] realshuting commented on #2243
@kacejot - after digging into the code, I found that we overwrite the rule when substituting the variables. I print out the rule before we send it to `strategicMergePatch` handler, and you can see that the `image` is replaced with the value of the first container:
https://github.com/kyverno/kyverno/blob/adb01700015c1a1c573badd941956d45ccb46e3a/pkg/engine/mutation.go#L131
[code]

This is why the se

[2021-08-10 23:55] realshuting commented on #2243
Hi @chipzoller - until we have the workaround for multiple containers, do you think if we should add a note to this sample policy or should we remove the sample for now?

[2021-08-11 00:15] chipzoller commented on #2243
Crap, so this isn't going to be possible until `forEach`? I wonder what else this impacts. Is it only JMESPath expressions in that field? I guess we'll have to add a note for now. It still can be useful, but its value is quite limited with only the ability to mutate a single-container Pod.

[2021-08-11 00:23] realshuting commented on #2243
No, I think any variable defined in the policy within the list (i.e., `pod.spec.containers`, `pod.spec.volumes`) could be impacted.

I feel this could be a critical issue and potentially bring us to various unexpected results for such policies. Moving it to 1.4.3 to prioritize the fix.

[2021-08-11 05:46] NoSkillGirl commented on #2069
@nuno-silva - you can change the verbose level [here](https://github.com/kyverno/kyverno/blob/7d9c06da81714e3fd4a7a262656c87961a4c0ed9/definitions/install.yaml#L3747)

[2021-08-11 12:24] kacejot commented on #2243
[code]

[2021-08-11 12:41] chipzoller commented on #2243
Is this relevant here?

[2021-08-11 12:43] kacejot commented on #2241
[code]

[2021-08-11 12:44] chipzoller opened #2253 "[BUG] GVK format is case sensitive"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: v1.4.2-rc3

**Describe the bug**
When specifying `kind` in GVK format, the kind portion appears to be case sensitive.

**To Reproduce**
Steps to reproduce the behavior:
1. See Slack thread b

[2021-08-11 12:55] chipzoller commented on #2253
Also singular vs plural needs to be checked.

[2021-08-11 13:13] chipzoller opened #2254 "[BUG] Preconditions with CRD throws `pre-validation: couldn't find model`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3s
* Kyverno version: v1.4.2-rc3

**Describe the bug**
When writing a `mutate` policy that mutates a Volcano Job (`batch.volcano.sh/v1alpha1/Job`) but contains a `precondition`, mutation fails and Kyverno throws

[2021-08-11 13:13] chipzoller commented on #2254
The JMESPath query is valid:

[code]

[2021-08-11 14:10] kacejot commented on #2243
Hi @realshuting,
I think the main problem here is DeepEqual implementation. I remember we discussed this problem already and this is known issue. This issue should be fixed automatically after all of DeepEqual functions perform true deep equal logic. Still they copy lot of references.

[2021-08-11 14:44] treydock opened #2256 "[BUG] Kyverno metrics not populated until after restart of deployment"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): BareMetal
* Kyverno version: 1.4.2-rc3
* Helm chart: 2.0-rc3

**Describe the bug**
I updated my Kyverno deployment in my dev/test/production Kubernetes deployments using Helm chart for Kyverno. The method is ident

[2021-08-11 16:45] realshuting commented on #1957
Thinking more about this issue, if we set `ownerReference` to Kyverno namespace itself, these webhook configurations should be garbage collected once the Namespace is deleted.

@NoSkillGirl - can you please log a separate issue and confirm the behavior? And let's update the uninstall documentation if this works.

[2021-08-11 17:07] treydock commented on #2256
So this issue just got stranger. It's as if the thing supplying Kyverno metrics in my production instance suddenly stopped. I am using the Kyverno Grafana dashboard and all of a sudden all of my panels show "No Data" for production but are fine for test / dev.  Earlier today I had data for production.  Looking at logs on production it looks like there might have been a leadership change today for

[2021-08-11 17:10] treydock commented on #2256
One more data point to show Kyverno metrics HTTP endpoint returned no data:

[code]

Gives this 0 on my production environment.  On my test environment I get 2678.  They have exact same policies, and versions of everything.

[2021-08-11 17:17] realshuting commented on #2256
Yes @treydock - I was seeing a similar [issue](https://github.com/kyverno/kyverno/issues/2060) before if I ran Kyverno with multiple replicas. The metrics have to be registered by the leader in the background controller.

BTW, we recently updated Grafana dashboard JSON file - https://github.com/kyverno/grafana-dashboard/blob/master/grafana/dashboard.json, you may need to update yours if running 1.

[2021-08-11 17:20] treydock commented on #2256
@realshuting I did update the Grafana dashboards to latest versions I saw mentioned in v1.4.2-rc4 release notes. What's really strange WRT replicas is I've been running 2 replicas in all environments for several weeks, and sometimes that produced metrics and sometimes it didn't.  I would imagine the issue depends maybe on order or timing of something which is why it's sometimes a problem and somet

[2021-08-11 17:47] realshuting commented on #2256
Is it possible to scale Kyverno to a single instance and check if you get the metrics data? I'm suspecting it relates to HA but need to dig into the code and check where are those metrics registered.

[2021-08-11 18:21] treydock commented on #2256
Yes, I do `kubectl -n kyverno scale --replicas=1 deployment/kyverno` and I begin to get metrics.  So far it seems like after doing that, I can undo the change and do `kubectl -n kyverno scale --replicas=2 deployment/kyverno` and the metrics don't go away. What's odd is earlier on production was not working, now my test and dev instances are also not working, which have 2 replicas using HA.

[2021-08-11 18:26] realshuting commented on #2256
Yes, the leadership won't be switched to the new instance if there's already one. So looks like it does relate to HA. Will check and update.

[2021-08-11 18:37] treydock commented on #2256
So to add maybe more data points. My test instance I did replicas 2 to 1 then back to 2 and still have plenty of metrics.  This was after updating to v1.4.2-rc4 from v1.4.2-rc3.  I updated production to v1.4.2-rc4 and left replicas set to 2 per Helm chart configuration and that one is back to no metrics after having metrics when did the replica changes.

[2021-08-11 19:20] realshuting commented on #2256
It didn't work when you scaled down to 1 and then back to 2 replicas in the production settings? Can you please verify it with a clean install? Installing Kyverno with 1 replica and then scale up?

[2021-08-11 20:31] realshuting commented on #2208
@NoSkillGirl - I keep seeing e2e failure for generate policies, let's prioritize and fix.

[2021-08-11 21:04] realshuting commented on #1959
@RinkiyaKeDad - are you working on this? Or should I remove you from the assignee?

[2021-08-11 21:24] treydock commented on #2256
So far my environments where I scaled to 1 then back to 2, those environments still have metrics. My production environment was scaled down to 1, then back to 2, and then upgraded to v1.4.2-rc4 and after the upgrade the metrics disappeared again.  My test environment was on v1.4.2-rc4, scaled down to 1 then back to 2 and there are metrics showing.

I did `helm uninstall` on my dev environment whic

[2021-08-12 05:29] RinkiyaKeDad commented on #1959
Nope, I've tried all solutions I was aware of 🙂

[2021-08-12 15:36] devlounge commented on #2198
Any update on this?

[2021-08-12 16:28] vyankyGH commented on #2198
@devlounge Sorry for the delay. Will add support for namespace ASAP.

[2021-08-12 17:24] realshuting opened #2259 "[BUG] Invalid policy validation for match/exclude"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: *
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): *
* Kyverno version: 1.4.2

**Describe the bug**
The policy gets blocked due to invalid policy validation.

**To Reproduce**
Apply the following policy and see it gets blocked:
[code]
[code]

[2021-08-12 17:25] realshuting commented on #2259
@RinkiyaKeDad - would you mind taking a look at this issue? Thanks.

[2021-08-12 17:38] RinkiyaKeDad commented on #2259
IIRC we can't combine the old behavior (not using any/all) and the new one (using any/all) together in a policy. Did you try adding your match resource filter under an `any` or `all` block?

[2021-08-12 20:44] realshuting opened #2262 "Labels are missing from Helm templates"
**Is your feature request related to a problem? Please describe.**

For all resources installed along with Kyverno, we have all these labels patched to direct manifests (/definitions/*):
https://github.com/kyverno/kyverno/blob/7c96bd3e21fd67c73b8f2867bc98d717f873b743/definitions/labels.yaml#L6-L12

However they are missing from Helm templates, i.e., [CRDs](https://github.com/kyverno/kyverno/blob/m

[2021-08-12 20:54] #2211 closed

[2021-08-13 08:01] NoSkillGirl commented on #1957
I have tested the above scenario, it works as expected. Here is the PR - https://github.com/kyverno/kyverno/pull/2263

[2021-08-13 11:19] nuno-silva commented on #2069
upgraded to v1.4.2 and it still happens:

---

Increased log verbosity using `-v=10`. Here's an excerpt:

<details>
  <summary>Click to see log</summary>

[code]

</details>

Not sure if this helps.

[2021-08-13 13:21] Namanl2001 commented on #2262
Hi, @realshuting. I'm new to kyverno and would like to start my journey with this issue.
I understand this issue but am not sure to which files these labels need to be added as there are many YAML files, and there is a possibility to add these labels in most of them, and I think that's not required. So can you please guide me to find the right files which need to be changed under this issue? Thank

[2021-08-13 14:44] treydock opened #2264 "[BUG] Helm chart releases are not gated behind something like a tag"
**Describe the bug**
In #2218 the chart versions were bumped and that resulted in a premature release of the Helm charts prior to when they should have been released.

This issue is to discuss comment: https://github.com/kyverno/kyverno/pull/2218#issuecomment-898505709

I wonder if instead of always releasing Helm charts when there are changes, make there be special git tags like `helm-chart-v2.0`

[2021-08-13 15:05] windowsrefund commented on #2164
@realshuting When looking at it from the use case of label compliance, I'd argue those wouldn't be real duplicates as the controller and pods they spawn are unique things. That said, I'm thinking it would be good to allow the end user to drive that de-dupe behavior in some flexible manner, probably when viewing reports.

[2021-08-15 13:18] Namanl2001 commented on #2262
I have made all the changes with my best understanding. PHAL whenever free. Thanks!

[2021-08-15 22:53] JimBugwadia opened #2266 "[BUG] Update cosign"
**Software version numbers**

* Kyverno version: 1.4.2

**Describe the bug**

See: https://github.com/sigstore/cosign/issues/542

Update Cosign when the next release 1.0.2 is available.

[2021-08-16 07:18] JimBugwadia commented on #2249
For LXF mentorship candidates interested in this project, here are a few ways to get started and learn more:

1. Install Kyverno in a cluster and learn about the different policy rule types (https://kyverno.io/docs) like `validate`, `mutate`, and `generate`.
2. Install the Kyverno CLI and get familiar with the `test` command.
3. Try to contribute a new test case in the [Kyverno policy samples libr

[2021-08-16 07:21] siddharthlal25 commented on #2249
Sure! Will get started with these!

[2021-08-16 08:33] NoSkillGirl opened #2267 "[BUG] Kyverno gives error when installed with KEDA"
**Software version numbers**
* Kyverno version: 1.4.2

**Describe the bug**
Installing Kyverno with KEDA gives error in log with `external.metrics.k8s.io/v1beta1`.
[code]
[code]

**To Reproduce**
1. Install KEDA using command - `kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.4.0/keda-2.4.0.yaml`
2. Install Kyverno
3. Check the kyverno log:
[code]

**Expected behavior**
Kyve

[2021-08-16 09:49] yashvardhan-kukreja opened #2268 "support for configurable automatic refresh of metrics and selective exposure of metrics at namespace-level and"
**Is your feature request related to a problem? Please describe.**
Although, the cardinality explosion was lightened in v1.4.2, still there exists possibility of encountering high cardinality if the user is dealing with massive number of ephemeral resources which are not worth tracking. In that case, there comes a point where the user would be forced to delete the kyverno pod and restart it so as

[2021-08-16 09:50] yashvardhan-kukreja commented on #2268
/assign

[2021-08-16 12:46] disposab1e opened #2269 "[BUG] Error syncing deployment - Operation cannot be fulfilled on replicasets"
**Software version numbers**

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): OpenShift 4.7
* Kyverno version: 1.4.2

**Describe the bug**

The generation field in the kyverno/kyverno deployment increases constantly from 1 to thousands after a few days. In the deployment-controller you see log messages like:

`deployment_controller.go:490] „Error syncing

[2021-08-16 12:48] Issif commented on #2269
I confirm we're facing the same behaviour with EKS 1.18

[2021-08-16 14:32] Danny-Wei commented on #286
Could you support path canonicalize for validation?
Because people can use '//var/lib' or '/var/lib///' to bypass the policy.

[code]

[2021-08-16 23:57] JimBugwadia commented on #2268
@yashvardhan-kukreja - the default behavior needs to be scalable, with options to enable additional metrics if required.

In this case, if I understood the issue correctly, the problem is that there are several ephemeral pods and that causes the labels to continue growing. Is that correct?

If so, can we design the defaults to track metrics at the pod controller level and have an option to "--enab

[2021-08-17 00:03] JimBugwadia commented on #2175
Example and good discussion on best practices at: "https://github.com/buildpacks/lifecycle/pull/683".

[2021-08-17 02:35] yashvardhan-kukreja commented on #2268
To the best of my knowledge, I don't think it's possible to determine, at the time of admission request, whether an upcoming pod is going to be ephemeral or not.
(Because ephemeral is more of a contextual thing, especially at an admission request level). I don't think `ephemeralContainers`, if specified under the incoming Pod, would convey with surity that the incoming Pod is meant to be ephemeral

[2021-08-17 02:42] yashvardhan-kukreja commented on #2268
Do let me know what do you think @Issif @JimBugwadia :)

[2021-08-17 04:35] NoSkillGirl commented on #2069
Hi @nuno-silva - Can you please check the policy reports. First delete all the generated policy reports and wait for new one to get generated. If any policy report is generated please provide us the details here.

[2021-08-17 08:35] Issif commented on #2268
In our use case, I don't think the trick with selection of a namespace could work.

We use `Airflow` for running a lot of jobs, some have an high periodicity (each hour, each 10min, ...) and the pods which are created run in same namespace than Airflow itself.

The high cardinality is for metric `kyverno_policy_execution_duration_seconds_bucket`.

Here an example of one metric with 1 label (obfusc

[2021-08-17 09:33] yashvardhan-kukreja commented on #2268
I checked and went through the contribution your colleague made to argo-cd. That seems like a pretty neat solution, something new I learned today 😄
But I am worried that this would create a concern for `Counter` type metrics because a counter-type metric's value will be reset to 0 upon this sort of prometheus server expiration and that would endup creating a false sense of data.

I guess a nice so

[2021-08-17 12:28] Issif commented on #2268
Sounds ok to me

[2021-08-17 14:58] NoSkillGirl commented on #2267
There is already relevant discussion in KEDA [here](https://github.com/kedacore/keda/discussions/1698)

This is not kyverno error. This error is from `client-go` when there are no resources available in `external.metrics.k8s.io/v1beta1`

[here](https://github.com/kubernetes/client-go/blob/d6c83109f030902f150f03f252311d2749cb6094/discovery/cached/memory/memcache.go#L177) in `client-go`, it gets all

[2021-08-17 17:25] NoSkillGirl commented on #2234
@chipzoller , @am250360 - anything else to be discussed here? Or shall I close the issue?

[2021-08-17 17:51] chipzoller commented on #2234
From my perspective this can be closed. I have referenced this issue in a comment to be incorporated in a future documentation section on GitOps using Argo.

[2021-08-17 20:22] realshuting commented on #2264
Agreed. But what does it mean when we have a Chart version updated in `chart.yaml` while this version is not publicly available?

We can update the [release management page](https://github.com/kyverno/kyverno/wiki/Generate-a-Release) to indicate that a new Helm Chart will be released if the version is bumped in `chart.yaml`.

[2021-08-17 20:29] treydock commented on #2264
I think one way I've seen this managed is there are 2 kinds of tags in this repo.  A tag like `v1.5.0` would be the actual Kyverno code and the tag like `kyverno-v2.1.0` would be a way to trigger a Helm chart release.  I have seen several repos and projects where they follow this pattern so that everything is released on tags.  This would allow staging and merging lots of Helm chart changes withou

[2021-08-17 20:29] realshuting commented on #286
Hi @Danny-Wei - I don't think we have this type of validation. Is this even a valid path `//var/lib`?

If you see any improvement that can be added in Kyverno, please feel free to open a new enhancement issue.

[2021-08-17 20:42] realshuting commented on #2264
I'm trying to think through the release process to publish the Chart. If the new version is triggered on the tag `kyverno-v2.1.0`, that means we need to first bump the version in `Chart.yaml` and then tag the release.

While with the current process, the decision is made during the PR review - update the version if we want to publish the new Chart (last time I didn't realize this).

I'm fine with

[2021-08-17 20:53] treydock commented on #2264
My read of the GH Action used to release helm charts to gh-pages, if you merge a pull request without bumping Chart version, that new merged code would overwrite previous version, which is why it's important to gate behind tags.  I think the GH Action from Helm would be better for just releasing without tags, but to use the currently configured GH Action either every PR must bump Chart version or

[2021-08-17 21:06] diranged commented on #1981
Seconding this bit:
[code]

We have run into a dozen situations or more where Kyverno was not in a good state and _normal cluster operations_ could not succeed because of the failing webhooks.

[2021-08-17 21:32] realshuting commented on #2264
Good to know that!

Can't we just change the trigger in the workflow [configuration](https://github.com/kyverno/kyverno/blob/ba00ead7f8136325552a1690302897653e25f802/.github/workflows/helm-release.yaml#L1-L9)? If there's no GH action runs, will it still overwrite old charts?

[2021-08-17 21:32] #2234 closed

[2021-08-18 03:38] Danny-Wei opened #2273 "Add a path canonicalize feature before validating paths."
**Is your feature request related to a problem? Please describe.**
We want to prevent certain host paths based on the blacklist.

I found some examples:

- [issue 286](https://github.com/kyverno/kyverno/issues/286#issuecomment-523562060)
- [disallow_cri_sock_mount.yaml](https://github.com/kyverno/policies/blob/main/best-practices/disallow_cri_sock_mount/disallow_cri_sock_mount.yaml)

But I found t

[2021-08-18 05:34] rajibmitra commented on #2029
as discussed with @realshuting, I would love to work on this
/assign rajibmitra

[2021-08-18 05:36] realshuting commented on #2228
Confirmed the issue was resolved by #2272.

[2021-08-18 05:36] #2228 closed

[2021-08-18 05:41] realshuting commented on #2243
Tested with the fix for #2228 and the issue was not resolved, both images are mutated to `myregistry.corp.com/nginx:1.28`.

[2021-08-18 10:19] #1982 closed

[2021-08-18 12:30] freym opened #2276 "[BUG] cloning a resource with ownerReferences fails"
**Software version numbers**

* Kubernetes version: 1.20.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): on premise
* Kyverno version: 1.4.1

**Describe the bug**
We want to generate a secret when a new namespace is created. The source secret is created by an operator which sets a ownerReference. When kyverno clones this secret, the ownerReference is also copied. The ownerRefere

[2021-08-18 15:22] treydock commented on #2264
I believe if the GH action does not run, the old charts won't be touched. I believe the overwrite would happen if chart files change but the version is not bumped.

If it's decided to use tags to trigger chart releases, I think just updating the trigger to a tags regex like `kyverno-v*` or `helm-chart-v*` would be sufficient.

[2021-08-18 16:12] z0rc opened #2277 "[Chart] Ability to exclude specific resources from baseline policies"
**Is your feature request related to a problem? Please describe.**
I'm exploring how kyverno works with my configuration. So far I'm pretty satisfied with what I can get from baseline policies provided by chart. My problem is that there is some expected violations of those policies, for example fluent-bit needs hostPath to fetch containerd logs and node-exporter needs host namespaces to get host m

[2021-08-18 16:59] mikebryant opened #2278 "Sample Policy: Add a ConfigMap envFrom reference to all containers in all Pods"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

I want to set some environment variables as defaults in all Pods (e.g. DD_LOGS_INJECTION="true", to turn on log-injection cluster-wide

I want users to be able to override this, both as specific env: values, or us

[2021-08-18 18:06] mikebryant commented on #2278
I think the validation failure is an example of #2100

[2021-08-18 18:15] mikebryant commented on #2278
Should also note I tried strategicMergePatch, but the lack of a merge key on envFrom meant I just overwrite the entire set - couldn't see a way of adding one if it didn't already exist

[2021-08-18 18:22] chipzoller commented on #2278
Yes, you're running into #2100 alright. We just had a discussion about this earlier and we know we need to address.

Can you provide an example of your ConfigMap you're using to test with? Also, can you explain a bit more of the scenarios you need to account for?

[2021-08-18 18:37] mikebryant commented on #2278
I haven't actually gotten as far as making the ConfigMap :D. I've been testing locally using this:

`kubectl kyverno apply --values-file env.yaml policies/global-configmap.yaml --resource tests/resource.yaml`

This is my test set of resources:
[code]

Except for the one that already has a reference to the global configmap, I want all of those examples to end up with a new ConfigMapRef section bein

[2021-08-18 18:46] mikebryant commented on #2268
Doesn't this also happen when the Kyverno Pod is restarted? That will reset all counters etc. I believe Prometheus already natively handles this - if it sees a metric that's being used as a counter get reset to zero, it will automatically handle that reset, when computing these as rates etc.

[2021-08-18 18:50] chipzoller commented on #2278
Ok so let me break this down. Seems like there are several conditions here. Fir st two which are apparent:
1. Add an envFrom entry if envFrom does not exist.
2. Add an additional envFrom entry if one already exists.

Correct so far?

[2021-08-18 18:56] mikebryant commented on #2278
Yup, that's correct

[2021-08-18 19:41] yashvardhan-kukreja commented on #2268
Yep you're exactly right this happening as a consequence of Kyverno pod restarts as well.
Although I am not sure about Prometheus handling this gracefully as I haven't noticed that.
But logically, it seems quite plausible that Prometheus might recognise the reset on a Counter and reconcile it as Counters are supposed to be ever increasing, so, Prometheus can possibly be capable and smart enough to

[2021-08-18 20:40] realshuting commented on #2264
That sounds good to me. Would you like to take this up and send the PR?

[2021-08-18 21:24] Issif commented on #2269
I think I know what's happening.

For Deployment, an annotation is always updated, it creates a new version aka "generation" of the resource:
[code]

And this has been introduced in PR #1931, it was not there in 1.36.

This "bug" is very annoying for people who deploys with ArgoCD like this, our application is always in "Progressing" and not "Healthy", because of the increment of `generation` (see

[2021-08-18 21:31] treydock commented on #2264
Opened #2281 with one idea of releasing on tags.

[2021-08-18 22:17] chipzoller commented on #2253
This is another which, since small, could be rolled into 1.4.3.

[2021-08-19 07:34] Issif commented on #1366
I'm facing same behaviour with `EKS 1.19` and `Kyverno 1.4.2`. I reinstalled `Kyverno` and it's still there.

[2021-08-19 08:03] Issif commented on #2268
I agree, restarts of Pods (and reset of Counters so) are well handled by Prometheus. For Counters, of course you see a dip in graphs, but for `rate` it's OK, correct values are still returned.

[2021-08-19 08:34] mikebryant commented on #2276
More generally - if a Kyverno policy is generating resources, shouldn't those resources always have the ownerReference set to the Policy or ClusterPolicy object that caused the generation, following Kubernetes best practice for controllers?

(If the original object had an ownerReference, it would get overwritten)

[2021-08-19 10:35] mikebryant opened #2283 "An automatic way to apply generation to all applicable resources"
**Is your feature request related to a problem? Please describe.**
I'm frustrated at the manual nature of applying Kyverno generation policies to existing environments.

Every time I want to add a new resource to all Namespaces, following [the docs](https://kyverno.io/docs/writing-policies/generate/#generating-resources-into-existing-namespaces) I need to think up a new label, gate the policy on t

[2021-08-19 12:56] rubroboletus commented on #2277
you can easily exclude all namespaces from policies, just get the "baseline" as inspiration and make own (custom) set with exclusion of namespaces, clusterRoles, ...

[2021-08-19 13:45] z0rc commented on #2277
@rubroboletus that why I specifically mentioned:

[2021-08-19 19:27] viveksahu26 opened #2284 "Support pre-defined image variables in CLI"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.20.0
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.3.6

**Describe the bug**
The CLI is not supporting the pre-defined image variables.

**To Reproduce**
[Policy.yaml](https://github.com/kyverno/policies/blob/main/other/require_imagepullsecre

[2021-08-19 19:44] ajitksingh1 opened #2285 "[BUG] Mutate Policy "pre-validation" error for a Valid resource"
**Software version numbers**
* Kubernetes version: 1.20.7
* Kubernetes platform Azure
* Kyverno version: 1.4.0

**Describe the bug**
The Mutate policy is failing in pre-validation for a valid resource.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the below policy and crate a resource of Kind HTTPProxy. Mutate is not working and Kyverno log say "error"="pre-validation: couldn't find

[2021-08-19 19:51] chipzoller commented on #2284
cc @vyankyGH

[2021-08-19 23:43] linuraj commented on #2285
Hello @realshuting, doesn’t kyverno work with custom CRDs such as ProjectContour’s HTTPProxy?

[2021-08-20 05:56] vyankyGH commented on #2285
@linuraj We are working on the fix.

[2021-08-20 08:54] antoineozenne opened #2286 "Improve documentation to upgrade CRD"
Because the CRDs are in the `crds` folder, they are not upgraded when performing `helm upgrade` (<https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations>). Could you please improve the `README.md` to specify we have to manually apply the `crds.yaml` file when upgrading the chart (like the kube-prometheus-stack documentation <https://github.com/promethe

[2021-08-20 10:59] nuno-silva commented on #2069
Hi @NoSkillGirl . Attached ([policyreport.yaml.gz](https://github.com/kyverno/kyverno/files/7021010/policyreport.yaml.gz)) is the output of `kubectl get policyreport -A -o yaml` a few hours after I deleted all policy reports.
Here's a summary:
[code]

[2021-08-20 11:36] linuraj commented on #2285
@vyankyGH thank you for the quick response. Any idea on the release date for 1.5.0? I know that it is not a commitment. But do we have any guesstimate?

[2021-08-20 15:10] antoineozenne opened #2287 "Allow NetworkPolicy customization"
**Is your feature request related to a problem? Please describe.**
In Kyverno chart v2.0.2, there is a `NetworkPolicy` but we cannot customize it. So prometheus can't scrape metrics if enable the `NetworkPolicy`.

**Describe the solution you'd like**
Allow to customize the `NetworkPolicy` with at least namespaceSelector, podSelector, and adding metrics-port.

[2021-08-20 21:44] #2241 closed

[2021-08-20 22:06] #2264 closed

[2021-08-20 22:28] #1941 closed

[2021-08-20 22:28] #2149 closed

[2021-08-20 22:59] realshuting commented on #2277
I believe this is supported, see `podSecurityPolicies` from [this](https://github.com/kyverno/kyverno/tree/main/charts/kyverno) page.

[2021-08-21 03:39] realshuting commented on #2286
Hi @antoineozenne - thanks for bringing this up. With the help from @treydock, we recently moved the CRD to its own Chart and updated the doc accordingly, please refer to the [guidance](https://kyverno.io/docs/installation/#install-kyverno-using-helm) and let us know if you see anything that needs to be improved.

[2021-08-21 03:53] realshuting commented on #1366
Hi @Issif - can you uninstall Kyverno and try version `v1.4.1`?

The Kyverno `v1.4.2` was built using Go 1.16, and it looks like[ x509 Common Name is deprecated](https://github.com/atc0005/check-cert/issues/70#issuecomment-683691445) in GO 1.15.

If you still see this issue, please log a separate issue to track, thanks.

[2021-08-21 09:19] z0rc commented on #2277
@realshuting AFAIU it's about selecting custom set of policies. My question is more about allowing policy violations for selected resources, without discarding whole policy.

[2021-08-21 10:57] abhibhaw commented on #2250
Hey, @JimBugwadia I am interested to work on this issue. Can you please help me in getting started with kyverno? Also, what do you expect from an applicant in his/her LFX cover letter?

[2021-08-21 11:46] Issif commented on #1366
Hello @realshuting, I finally solved my issue by disabling `selfSignedCertificate` in helm values: [#L214](https://github.com/kyverno/kyverno/blob/8c7858c4b026dfeeeb71ce6acf3a5b9294f94045/charts/kyverno/values.yaml#L214)

[2021-08-21 14:14] chipzoller commented on #1910
Needed to implement https://github.com/kyverno/policies/issues/51

[2021-08-22 05:16] realshuting commented on #1753
Closed via #1825.

[2021-08-22 05:16] #1753 closed

[2021-08-23 08:45] hans-d opened #2289 "[BUG] Kyverno CLI panics when context is added to rule, but not actually used"
**Software version numbers**

* Kyverno version: 1.4.1 / 1.4.2 (cli)

**Describe the bug**

When a `context` is added to a rule, `kyverno test` and `kyverno apply`, it panics

**To Reproduce**
Steps to reproduce the behavior:
1. Pick an existing rule with test case
2. Add to one of the rules
[code]
2.b. optional: add some configmap to the resource
3. run `kyverno test`
4. see it panic

**Expected

[2021-08-23 11:54] Namanl2001 commented on #2287
HI, @realshuting I would like to work on this.
Need some context from the code to proceed further. Thanks

[2021-08-23 12:28] chipzoller opened #2290 "Kyverno CLI `test` command on Git repos default to main branch"
**Is your feature request related to a problem? Please describe.**
The Kyverno CLI, when using the `test` command with an upstream git repository, requires the format of that repo contain the branch name. This isn't aligned with about all software today which can default to pick up the `main` or `master` branch.

**Describe the solution you'd like**
When using the `test` command of the CLI to test

[2021-08-23 15:13] hans-d opened #2291 "[BUG] kyverno cli with context variables needs documentation"
**Software version numbers**

* Kyverno version: 1.4.2/1.4.1

**Describe the bug**
When using a context in a validation policy, `kyverno test`  will skip the rule with something like
[code]
(where namespacefilters refers to the context)

bug 1: no proper message indicating that variable values are missing (now needs -v to reveal that)
bug 2: no documentation on how to set those values in case of `

[2021-08-23 15:39] hans-d opened #2292 "reporting on skipped checks"
**Is your feature request related to a problem? Please describe.**

When having enforced validation policies that have exceptions, I still would like to see the exceptions in a policy report.
Right now, that means creating two policies, and not adding a rule to the existing policy.

Even better would be that these "audits" are not reported as "fail", but like "warning" or "skipped"

**Describe the

[2021-08-23 17:48] vyankyGH commented on #2269
Kyverno periodically does the health check and update the deployment. we have the annotation reflects the timestamp of last received admission request
that's y the deployment keeps updating it's annotation thus generation increased.
is there way to ignore a certain update of the application? In this case if can ignore annotation update.

[2021-08-23 20:46] CIPHERTron commented on #2076
Heyy @realshuting @chipzoller I would love to work on this issue.

[2021-08-23 20:57] CIPHERTron commented on #2076
/assign

[2021-08-24 05:21] realshuting commented on #2277
Please see https://kyverno.io/docs/installation/#resource-filters.

[2021-08-24 05:24] realshuting commented on #1366
Thank you @Issif for letting us know.

@chipzoller - this would be a helpful scenario in troubleshooting. Should we add it to the troubleshooting page?

[2021-08-24 06:07] realshuting commented on #2287
If you inspect `NetworkPolicy`, you can see there are `namespaceSelector`, `podSelector` and other tags that are configurable:
[code]

This issue is to allow users to configure these tags for [networkPolicy](https://github.com/kyverno/kyverno/blob/c522343c038ba8dea652137cbcdc2ae1f3a0bf29/charts/kyverno/values.yaml#L219) via Helm.

[2021-08-24 06:57] hans-d commented on #2291
Update:
`apply` works when providing variables, eg via `--set`.
-> Perhpas a clearer message should be shown that now values have been provided for given variable, without needing the `-v` option

For `test` it is still the same issue (description updated)

[2021-08-24 07:14] NoSkillGirl commented on #2291
@hans-d - [here](https://github.com/kyverno/kyverno/pull/1789#issuecomment-823786329) is an example how to pass the context variable viva a file. The same file can be passed in test.yaml in the following format:
[code]
here `variables.yaml` is the required file.

Let me know if it works for you.

[2021-08-24 09:27] hans-d commented on #2291
variable file needs to be of format:
[code]

[2021-08-24 11:28] hans-d commented on #2292
Work around using `yq` (https://github.com/mikefarah/yq)

command line
[code]

`template.yaml`
[code]

[2021-08-24 11:50] james-callahan opened #2294 "Use a custom repository with verifyImages"
**Is your feature request related to a problem? Please describe.**

We'd like to start signing (public) images that we've audited; and only allow audited images into our cluster. My idea to do this is by using `COSIGN_REPOSITORY` described here: https://github.com/sigstore/cosign/#specifying-registry.

How can we tell Kyverno's `verifyImages` to look in a different (or I guess: additional) place f

[2021-08-24 12:11] antoineozenne commented on #2286
Hi @realshuting, thank you. Yes, I was talking about the chart's [README.md](https://github.com/kyverno/kyverno/tree/v1.4.2/charts/kyverno), but you're right, I should read the documentation on the site.

[2021-08-24 12:11] #2286 closed

[2021-08-24 12:49] NoSkillGirl commented on #2245
Update - found that CLI works with `"[\"cluster-admin\", \"cluster-operator\", \"tenant-admin\"]"` values. But the below multi-line yaml is not supported:
[code]
slack conversation - https://kubernetes.slack.com/archives/CLGR9BJU9/p1629807582475300?thread_ts=1628188238.149400&cid=CLGR9BJU9

[2021-08-24 12:58] antoineozenne opened #2295 "[BUG] Tests applied on excluded resources should succeed"
**Software version numbers**

* Kyverno version:
v1.4.2

**Describe the bug**
I think we can consider it's a bug: the tests applied on excluded resources fail.

**To Reproduce**
Steps to reproduce the behavior:

When testing this policy:

[code]

On this resource:

[code]

With this test:

[code]

It fails. The debug logs say `rule check-for-metadata-labels not matched:\n 1. resource excluded sinc

[2021-08-24 13:12] chipzoller commented on #1366
I'm unclear what change was made. That value defaults to `false`, so what did you do to "disable" it? I would like to test to verify this is the solution.

[2021-08-24 13:42] NoSkillGirl commented on #2291
As discussed, the variable file format should be:
[code]

This is working with apply command but not with test command.
Test command gives `Not found`. [Check here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1629808970479200?thread_ts=1628188238.149400&cid=CLGR9BJU9)

[2021-08-24 13:47] Issif commented on #1366
Our value for `selfSignedCertificate` was `true`, can't remember why, maybe a miss after some tests. We set to `false` and the error disappeared.

[2021-08-24 13:49] chipzoller commented on #1366
Ok, so not sure this is the resolution because I've been seeing this continually without modifying that flag (so default to `false`).

[2021-08-24 14:05] z0rc commented on #2277
@realshuting I saw that. There are two problems with resourceFilters:
1. It excludes certain resources from ALL checks. My goal is to allow specific policy violations for selected resources. I still want check those resources with rest of the policies.
2. Even if I'm going to use resourcesFilters, there is a problem with how they are specified in chart. https://github.com/kyverno/kyverno/blob/main

[2021-08-24 14:22] vyankyGH opened #2296 "[BUG] Test command result showing Not found in result."
Please see :  https://kubernetes.slack.com/archives/CLGR9BJU9/p1629808970479200?thread_ts=1628188238.149400&cid=CLGR9BJU9

[2021-08-24 14:27] MarcelMue commented on #1745
I think that the implementation of this feature would be important currently. Dealing with lists (especially nested ones) seems very cumbersome currently.

I read in the design doc, that there are issues with `patchStrategicMerge` - would it make sense to create a first implementation of `foreach` only for `patchesJson6902`?

[2021-08-24 14:37] vyankyGH commented on #2295
We are working on this issue.

[2021-08-24 14:55] antoineozenne opened #2299 "[BUG] Background scan doesn't work"
**Software version numbers**

* Kubernetes version: 1.19.10
* Kyverno version: v1.4.2

**Describe the bug**
Background scan doesn't work.

**To Reproduce**
Applying:

[code]

Then:

[code]

Doesn't raise any error in clusterpolicyreport.

**Expected behavior**
This should raise an error in a clusterpolicyreport because of `background: true`.

[2021-08-24 15:19] vyankyGH commented on #2299
@antoineozenne I have tested Background scan. It is working.
I have tried following policy..
[code]

[2021-08-24 16:07] realshuting commented on #1928
Hi @sabdhagiri - this [sample](https://kyverno.io/policies/other/memory-requests-equal-limits/?policytypes=validate) policy checks whether the memory requests equal to limits. Can you please confirm?

[2021-08-24 18:19] hans-d commented on #2291
See also #2296

[2021-08-24 20:17] chipzoller opened #2300 "[BUG] No warning about background mode when using `any` / `all` in `match` or `exclude` blocks"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When writing a policy which puts `exclude` statements under an `any` or `all` block, if it contains an invalid variable in background mode such as `clusterRoles` th

[2021-08-24 20:24] chipzoller opened #2301 "[BUG] Excluding clusterRoles does not work if nested under `any` or `all`"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
Excluding a clusterRole does not work if it's defined under an `any` or `all` block within an `exclude` statement.

**To Reproduce**
Steps to reproduce the behavior

[2021-08-25 00:25] chipzoller opened #2302 "Kyverno CLI should lint and validate the structure of its test file using the `test` command"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When running with the `test` command against a malformatted test file, the CLI runs, exits, and prints no message of any sort.

**To Reproduce**
Steps to reproduce

[2021-08-25 00:49] realshuting commented on #893
Hi @rubroboletus - `namespaceSelector` is supported now, please see https://kyverno.io/docs/installation/#webhooks for details.

For all other configurations, please track via #1981, #1995.

[2021-08-25 02:58] chipzoller opened #2303 "[BUG] Kyverno CLI incorrectly scores non-matching resources from policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When using the CLI to both `apply` and `test` a policy using a resource which is not a match, the `apply` command scores this as a `pass` while the `test` command s

[2021-08-25 05:04] #2276 closed

[2021-08-25 06:28] realshuting opened #2307 "Support iterator in patchesJson6902"
A successful jsonpatch would have to look like this:

Such use cases can not be handled with the latest v1.4.2 release. In addition to https://github.com/kyverno/kyverno/issues/1745, we can add support to iterate through all items in the list in order to insert the item.

For example, with this JSON patch `{"op":"add","path":"/subsets/*/addresses/-","value":{"ip":"192.168.42.172"}}` and the follow

[2021-08-25 06:39] vyankyGH commented on #2299
@antoineozenne I'm closing the issue. Please reach out for any query.

[2021-08-25 07:02] MarcelMue commented on #2307
I like the idea - I would mostly be interested in the effort. I assume currently that the `json patch` functionality would have to be expanded which is not trivial.

Do we estimate the effort to be lower than #1745 ? It would be important to me to unblock the usecase one way or the other :)

[2021-08-25 07:19] sabdhagiri commented on #1928
@realshuting tested and the sample policy works as expected 🚀 Thanks 🙏

[2021-08-25 07:42] hans-d opened #2308 "Validation outcomes are not always a hard fail"
**Is your feature request related to a problem? Please describe.**
When enforcing rules, but having exceptions, I now have a separate audit policy that keeps track of the exceptions.
To have these displayed as "failed" in the policy reports is not quite the signal I want to have - as no immediate action needs to be taken to resolve it. a `WARN` or `SKIP` would be great.

Related to #2292

**Descri

[2021-08-25 07:48] antoineozenne commented on #2299
@vyankyGH , you tried without `any`/`all` in `match`. I just tried that, and it is working. The problem seems to be with `any` in `match` statement. Please, reopen.

[2021-08-25 08:44] hans-d opened #2309 "Allow mutiple tests in multiple directories to run as one"
**Is your feature request related to a problem? Please describe.**

When defining policies, each in their own directory, and each with their own test suite, now each test has to be run separately. Having a Makefile for that is already helping a lot.
Now, each test displays its own test report, and their is not one report that can be used.

**Describe the solution you'd like**
Feed `kubectl test` w

[2021-08-25 08:57] hans-d opened #2310 "Allow test output to be outputted in different format (eg yaml)"
**Is your feature request related to a problem? Please describe.**
when running `kyverno test`, a table with the tests + results is shown on the screen. This is hard to parse / process with additional tooling.

**Describe the solution you'd like**
1) output like kubectl, eg
[code]
2) be able to specify outcome in eg yaml, json (perhaps 1 with "columns" so default remains as current)
3) add more de

[2021-08-25 10:20] MarcelMue commented on #2307
I took a closer look at the code:
To me it seems to be easiest to implement a function called `PreProcessPatchJSON6902` which is called in this line: https://github.com/kyverno/kyverno/blob/555f0a8d758e520f3484228dd804b822331bec64/pkg/engine/mutate/mutation.go#L109

Some quick pseudo code:
[code]

[2021-08-25 11:34] chipzoller commented on #2307
I guess we need to decide on the use cases first. Is this *only* for appending and *only* to simple lists? I.e., it's not for appending to array of dictionaries?

Also, we have to solve #2100 first to unblock this.

[2021-08-25 11:42] chipzoller commented on #2309
Although it doesn't state it, the `test` command supports directory recursion. So you can have a parent directory called `foo` and sub-directories inside containing your `test.yaml` and supporting files. You can then execute `kyverno test foo/` and it'll recurse through those directories printing to stdout the results as it goes.

Is this sufficient or are you suggesting something beyond this?

[2021-08-25 12:26] MarcelMue commented on #2307
My assumption would have been that the `*` operator like this would work for any iteration in the path of any list. So it's a generic `iterator`.

I will take a closer look at #2100 .

[2021-08-25 13:43] kacejot commented on #2243
@realshuting.
I think I know where to look to fix the issue, so my high level estimate is half a day.

[2021-08-25 13:46] kacejot commented on #1916
I think I will finish it for tomorrow morning. Switched to this task.

[2021-08-25 13:49] kacejot commented on #1858
@realshuting, I took a look at this issue, but I don't fully understand the possible solution you described: We should provide an option to disable policy validation.
Is it a desired solution? Just ignore the policy validation?

[2021-08-25 13:53] kacejot commented on #1823
@realshuting, what is ready:
1. extract pattern from the policy
2. create a resource using kinds specified in the policy and the patterns
3. use kubectl validate logic for this resource schema validation in standalone binary project

What else to do:
1. Solve problem when policy pattern does not have mandatory fields (needs research: ~ 3 days)
2. Embed this logic to all policy validation that cont

[2021-08-25 14:13] hans-d commented on #2309
Would be nice that this recursion is documented.

In relation to this, it would still be nice if all the test cases would be executed as if they were one test.yaml. Now it runs each test still separately.

eg
[code]
vs
[code]

[2021-08-25 14:18] chipzoller commented on #2309
I'm handling this already.

[2021-08-25 14:25] chipzoller commented on #2303
When writing the test for this ServiceAccount as a `skip`, executing `kyverno test` does show it as a `Pass`.

[code]

[code]

[2021-08-25 14:30] chipzoller commented on #2303
Chalking this one up as user error and closing.

[2021-08-25 14:30] #2303 closed

[2021-08-25 14:36] chipzoller opened #2313 "[BUG] Kyverno CLI `test` command `-f` flag is broken"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When passing an argument to the `kyverno test -f` flag, the name of the test file, regardless if it's specified as a relative path or full path, is not accepted and

[2021-08-25 14:59] chipzoller commented on #2313
I'm not sure how you're testing but...

[code]

[2021-08-25 15:04] vyankyGH commented on #2313
There is one issue, if test command not found file with provided name (-f filename ),  then i's retuning nothing.

[2021-08-25 15:13] vyankyGH commented on #2310
@JimBugwadia any comment on test command output?

[2021-08-25 15:16] chipzoller commented on #2313
So this is a bug, yes?

[2021-08-25 15:36] chipzoller commented on #2313
I see what you're saying. This works.

[code]

But this doesn't make sense. Firstly, the help for `kyverno test -h` doesn't say anything about a directory.

[code]

Secondly, why is a directory as a parameter needed if a user also has to supply a test manifest? The test manifest is what contains references to the policies and resources being tested, and those are relative files (better be full pat

[2021-08-25 17:25] johnr84 opened #2314 "[BUG] Kyverno pod in crashloopbackoff status"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.1
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Self managed Kubeadm cluster
* Kyverno version: 1.4.2

**Describe the bug**
I had installed Kyverno 1.3.6 on a K8s 1.21.1 cluster and it was frequently being restarted which caused Kube-controller-manager and sche

[2021-08-25 17:35] chipzoller opened #2315 "CLI `test` command, manifest support fully-qualified file paths"
**Is your feature request related to a problem? Please describe.**
The Kyverno CLI's `test` command does not support specifying the policies or resources in fully-qualified paths.

**Describe the solution you'd like**
The test manifest should be able to specify policies and resources at their fully-qualified paths, for example:

[code]

This allows the test manifest to be separated from the polici

[2021-08-25 19:57] chipzoller opened #2316 "Support variable replacement in the key of annotations"
**Is your feature request related to a problem? Please describe.**
Creating a mutation policy using `patchStrategicMerge` which adds an annotation and the key of the annotation contains a variable from AdmissionReview, Kyverno treats this as a literal string. If the same variable is moved to the value instead, substitution happens as expected.

[code]

[code]

[code]

**Describe the solution you'd

[2021-08-25 22:12] hans-d opened #2317 "kyverno apply, add parameters to specify kubeconfig and context"
**Is your feature request related to a problem? Please describe.**
Want to run some test in a temporary cluster, eg k3s. The connection details are not in the main `.kube/config` but a separate file. Likewise if I want to run in a specific context - not depending on my current context (eg running some tests in a separate terminal while exploring something in another).

**Describe the solution you'

[2021-08-25 22:36] hans-d opened #2318 "[BUG] (enhancement?) kyverno apply --policy-report exit code"
**Software version numbers**

* Kyverno version: 1.4.1/1.4.2

**Describe the bug**
Unclear if it's a bug or a feature (intended behaviour).

The exit code on `kyverno apply policy.yaml --policy-report` is always `0`, regardless of any failures. Without `--policyreport` the exit status will be `1` if there are failures.
Either:
- exit code should be the same, regardless of using `--policy-report`
-

[2021-08-25 23:47] chipzoller opened #2319 "Move CLI functionality from `apply` into `test` command"
**Is your feature request related to a problem? Please describe.**
In today's version of the Kyverno CLI `apply` command, it has three abilities that are useful:

1. the ability to test a given policy against applicable resources in a live, running Kubernetes cluster based on the current context.
2. the ability to output a policy report resource based upon the test findings.
3. the ability to test

[2021-08-26 04:26] realshuting opened #2320 "Support `namespaceSlector` with dynamic webhook enabled"
**Is your feature request related to a problem? Please describe.**
Once kyverno supports https://github.com/kyverno/kyverno/issues/1981, the [namespaceSlector](https://kyverno.io/docs/installation/#webhooks) configuration for the webhooks can be deprecated. Instead, users can disable this automated management of the webhook configurations feature and update manually.

Besides, with #1981, webhooks

[2021-08-26 04:31] realshuting opened #2321 "Add feature gate flag "auto-update-webhooks""
**Is your feature request related to a problem? Please describe.**
In v1.5.0, the webhook configurations will be automated based on the configured policies (#1981). This will be enabled by default in Kyverno, and should be able to turn off using a feature gate flag "auto-update-webhooks".

[2021-08-26 05:37] hans-d opened #2322 "Kyverno CLI `test` default manifest should use a less generic name than `test.yaml`"
**Is your feature request related to a problem? Please describe.**
`kyverno test .` by default looks for a file name `test.yaml`. This is a very generic name. Yes, we can override it, but a more kyverno related name would be better (as most tooling have a .yaml that reflects the tool that is being used)

**Describe the solution you'd like**
Default file to be `kyverno-test.yaml`. A grace period sh

[2021-08-26 05:44] hans-d opened #2323 "use apiVersion and kind in kyverno yaml files"
**Is your feature request related to a problem? Please describe.**
kyverno test.yaml and variables.yaml are plain yaml files. This should be more in line with eg kustomize that adds k8s style apiVersion and kind to the yamls. That would also allow for changing versions (eg with the recent policy CRD that switches status and result and requires kyverno test.yaml to be updated.

**Describe the solut

[2021-08-26 05:52] hans-d opened #2324 "kyverno test variables should be in test.yaml"
**Is your feature request related to a problem? Please describe.**
Variables needed during tests are now defined in a separate file.  From the test.yaml only 1 reference to a variable file can be made. When having only 1 file to reference, it makes no sense to have those definitions in a separate file.

**Describe the solution you'd like**
Include the variables into the main test.yaml (optional),

[2021-08-26 06:34] realshuting opened #2325 "The policy report CRD upgrade should not drop the support for old versions"
Having the format of test.yaml tied to the crd is not a good thing. The cli should be able to handle this (so that both status and result can be used) and print some deprecation warning.
If the format is required to be changed, that is a breaking change and should not be a 1.4.x release.

this also makes it difficult to run both an older and newer release of kyverno at the same time (different clu

[2021-08-26 09:56] hans-d opened #2326 "New policy : resource status"
**Is your feature request related to a problem? Please describe.**

To validate a kubernetes environment, it would be good to be able to check if certain resources are present and/or absent and have a certain condition (that can not be checked with current audit validations)
Compare it to a tool like InSpec, so you can do a validation of the current state.

**Describe the solution you'd like**
 In

[2021-08-26 11:06] hans-d opened #2327 "Kyverno CLI `test` should provide more info on failing tests"
**Is your feature request related to a problem? Please describe.**

[code]
Why is this test failing?

Even with `-v 7` that does not become clear.

In this case it is because the rule does not exist.

**Describe the solution you'd like**
Either provide a reason for the fail, or treat a missing rule/policy/resource combo into an error and include what is missing.

**Describe alternatives you've con

[2021-08-26 12:31] hans-d opened #2328 "[BUG] missing dockerfile (possible even more)"
**Describe the bug**

https://github.com/kyverno/kyverno/blob/main/litmuschaos/README.md#prerequisites indicates there is a special image/build to be used. Further info is not available nor are the underlying files. Please provide.

[2021-08-27 04:32] realshuting opened #2330 "ResourceExhausted: trying to send message larger than max"
I get this same issue in a dev cluster with quite a lot of feature branches but not a lot of load.

Cluster has:
17 namespaces
369 deployments
73 cronjobs (54 suspended)

Deploying with the standard helm chart with `podSecurityStandard: restricted` creates a report with this many objects:
     55           "kind": "CronJob",
   5180           "kind": "Deployment",
      1           "kind": "Pod",

[2021-08-27 05:52] #2325 closed, assigned to fjogeleit

[2021-08-27 16:37] chipzoller opened #2331 "[BUG] Kyverno CLI `test` requires var resolution for non-applicable resources"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When using the CLI `test` command to test a policy containing a variable which cannot be resolved from the resource directly (ex., `request.operation`), even resour

[2021-08-28 03:50] james-callahan commented on #2294
@JimBugwadia  I think it should be passed on a per-policy basis.
e.g.
[code]

if possible, it would be great if it was possible to pass multiple repos:
[code]

[2021-08-28 13:38] chipzoller commented on #2229
@dkulchinsky would love to see any further updates to this policy you may have. This might be something good to include in the [samples library](https://kyverno.io/policies/).

Regarding this comment:

For anyone else following along or interested, there is a way to do *some* of this today with Kyverno.

**TL;DR Version:  Kubernetes, starting in v1.20, only allows "linking" of objects that are equ

[2021-08-28 13:55] chipzoller opened #2332 "[BUG] GenerateRequests are not cleaned up"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
When Kyverno successfully generates a resource which contains an `ownerReference` to another Namespaced resource, if the owner is deleted, causing the dependent to

[2021-08-28 14:09] chipzoller opened #2333 "[BUG] Generate policies with no Namespace field"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
A `generate` policy which generates a Namespaced resource is allowed to be created without containing the `namespace` field. This leads to a failure of the generati

[2021-08-28 19:09] JimBugwadia commented on #2294
Hi @james-callahan - I see how that adds flexibility, but I have some questions:

1. What is the use case for a registry per rule? Will an organization store some signatures in a different repo? Perhaps 3rd party signatures will be in separate repositories?

2. Is there still a need for a "default" registry to be configured as part of the installation? Seems good to have, and handles the case wher

[2021-08-28 19:31] JimBugwadia commented on #2294
Also see: https://github.com/oras-project/artifacts-spec/issues/26 (thanks @danlorenc for the link!)

[2021-08-28 20:19] hans-d commented on #2294
Multiple registries: in case of multi tenancy, where each tenant organizes
some part of the infrastructure (could even be just the primay tennant and
a platform team)

Also:
- external images where signatures cannot be pushed, eg docker hub
mirror/proxy
- multiple internal registries, where images can be pushed
- specific images that need signing by a apecial team that has no write
access to a cer

[2021-08-29 13:07] chipzoller opened #2335 "[BUG] Background scan configuration via the ConfigMap"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): K3d
* Kyverno version: 1.4.2

**Describe the bug**
The [documentation ](https://kyverno.io/docs/installation/#flags) states there is a flag called `background-scan` which can be added to the Kyverno ConfigMap with a

[2021-08-29 13:07] chipzoller commented on #2332
It looks like once a triggering and/or generated resource are deleted, Kyverno will garbage collect the successful generate request during the background scan period. I'm attempting to confirm and experiment with this, but ran into #2335 .

[2021-08-30 05:52] JimBugwadia commented on #2055
No, we do not.

No, not at the moment. We can create a google group for security related discussions if needed.

No. We do not have an email domain, so a public google group seems best.

The Kyverno group (https://groups.google.com/g/kyverno) requires a google ID or unique member name to post. We can set a different value for a security `kyverno-security` group.

[2021-08-30 11:30] disposab1e commented on #2269
Yes it's possible to ignore those changes.

Example:
[code]

Closing this issue, cause it looks like a feature and not a bug. Thx!

[2021-08-30 11:33] StupidScience commented on #2268
Hello everyone.

I believe that there is no necessity to this cardinality at all.
Why do you need to know how much it takes to review specific resource? This is not a metrics purpose. You should use logs for this maybe, but anyway it doesn't looks like useful info.
So I think the right approach is just to remove this cardinality at all. It makes no sense.
I run kyverno for 1 hour or so in my relat

[2021-08-30 11:58] #2289 closed

[2021-08-30 12:01] rubroboletus opened #2337 "[BUG] autogen-controllers does not work with "any" rules"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.4.2

**Describe the bug**
When I create policy using "any" in match / exclude blocks, autogen-controllers will not extend rules for Deployments etc. Using or not using correct autogen-contro

[2021-08-30 12:10] #2181 closed

[2021-08-30 12:28] yashvardhan-kukreja commented on #2268
@StupidScience thanks for coveying your point of view. I agree with you to the point that sometimes with some people, they would not want to track such kind of resource-oriented metrics with Kyverno. But still, there might be certain situations where a user's cluster is heavily reliant on the Kyverno policies which they might have set on their cluster.
The creation of almost all of their resources

[2021-08-30 12:30] antoineozenne commented on #2295
Yes, why not. Is the `skip` status already available for use in test files ?

[2021-08-30 12:31] chipzoller commented on #2295
Yes, `skip` is a valid result in a test manifest.

[2021-08-30 12:33] antoineozenne commented on #2295
Nice! Thank you @chipzoller .

[2021-08-30 12:33] #2295 closed

[2021-08-30 15:48] NoSkillGirl commented on #2208
@realshuting - I have tried to run e2e test cases multiple time in my system, it does not fail.
I have also tried reducing the memory provided to docker, still it works fine for me.

[2021-08-30 19:43] MarcelMue commented on #2100
I have added a testcase to figure out what exactly the problem is, it seems like `patchesJson6902` handles this case completely fine and it's really only the validation of the policy that fails.

When I try to `kubectl apply` my policy used in #2339  I get this error:
[code]

I currently believe that the root cause is in this file but need to verify:
https://github.com/kyverno/kyverno/blob/main/pk

[2021-08-30 20:14] MarcelMue commented on #2100
I have now been able to narrow down the root cause to trailing `-` being interpreted as a map.  I think the non-zero index might have been a red herring.
Implemented another test here: https://github.com/kyverno/kyverno/pull/2340

cc @realshuting understanding the validation logic seems non-trivial. Do you know who to ask / who can help?

[2021-08-31 06:54] foriequal0 commented on #2269
@disposab1e I've tried that, but it didn't change anything.
I think this is ArgoCD's problem,
![image](https://user-images.githubusercontent.com/5465658/131456097-05952274-5f2a-4aa2-9541-4296a4389cc1.png)
But I suspect that this is the kyverno's problem:
[code]

[2021-08-31 07:47] disposab1e commented on #2269
Reopen

[2021-08-31 07:51] disposab1e commented on #2269
@foriequal0 You're right, my mistake! Again I think this is NOT an ArgoCD issue... we see the same without ArgoCD!

[2021-08-31 09:43] StupidScience commented on #2268
@yashvardhan-kukreja sorry for bothering. I've read your message few times and still don't understand the case for resource-specific metrics.

Below are few examples of my current kyverno metrics with high cardinality:
Cert-manager solver pods:
[code]
Or kuberhealthy checks:
[code]
What's the point to add `resource_name` label? I see no cases to rely on resource name in terms of SLO/SLA. Removing

[2021-08-31 10:26] yashvardhan-kukreja commented on #2268
Ahh, that's actually a good point. Now I think about it, I guess it's very fair to get rid of `resource_name` as it's leading to intense cardinality and it's not serving that great of a purpose.
Although I still feel that `resource_kind` is still a fairly important label to possess as people might want to group the incoming admission requests or latencies with respect to the incoming resource kind

[2021-08-31 10:30] yashvardhan-kukreja commented on #2268
I guess we can rollout and test the performance-associated impact of getting rid of `resource_name` label and if there still ends up issues around high cardinality due to labels like `resource_namespace` or/and `policy_name`, we can add a support to Kyverno for a `low_cardinality_mode` (can be named better :P) which would allow users to even get rid of `resource_namespace` or/and `policy_name` lab

[2021-08-31 10:34] yashvardhan-kukreja commented on #2268
Thanks for raising such good points though @StupidScience and @Issif in such a collaborative manner. This is really helping the community and Kyverno itself by making it much more performant, adaptable and user-specific. And personally, it is helping me a lot because I am ending up learning a massive ton around dealing with metrics design at scale, which I always looked forward to 😄

[2021-08-31 10:56] yashvardhan-kukreja opened #2341 "metrics cardinality reduction: get rid of resource_name label"
**Is your feature request related to a problem? Please describe.**
Cardinality associated with Kyverno's metrics is still high ends up gravely impacting the memory footprint of Kyverno. One of the biggest culprits in this cardinality explosion is `resource_name` which is not serving that great of a purpose too in terms user observability or SLO/SLA compliance.

**Describe the solution you'd like**

[2021-08-31 10:56] yashvardhan-kukreja commented on #2341
/assign

[2021-08-31 13:34] rdavyd opened #2343 "[BUG] Cannot delete resource that does not fit policy"
**Software version numbers**

* Kubernetes version: 1.20.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): On prem
* Kyverno version: 1.4.2

**Describe the bug**
If a resource was created prior to introduction of validation policy that will deny creation/update of this resource, it cannot be deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create POD with different v

[2021-08-31 14:22] chipzoller opened #2345 "JMESPath `contains` function behavior not consistent in Kyverno vs upstream"
### Discussed in https://github.com/kyverno/kyverno/discussions/2260

<div type='discussions-op-text'>

<sup>Originally posted by **chipzoller** August 12, 2021</sup>
@kacejot and @realshuting need you to look at this, please. The `contains` function in the JMESPath library we're using behaves differently in Kyverno when compared with the upstream in the `jp` binary. From all the tests I've done,

[2021-08-31 14:23] chipzoller commented on #2345
@kacejot It doesn't work the same. Here's a better, simpler explanation.

[code]

[code]

[code]

[code]

[code]

Logs:

[code]

????????

[2021-08-31 14:41] dkulchinsky commented on #2229
Thanks @chipzoller, I do plan to add support for `loadBalancerSourceRanges` on top of the one I shared above, but we're holding off on that policy until we have a way to GC these generated resources.

If you like, I can make a PR based on the current version I have, which works perfectly btw (minus the GC bits)

[2021-08-31 14:58] disposab1e opened #2347 "[BUG] Kyverno ConfigMap name not consistent in Helm/Docs and install.yaml"
Kyverno: 1.4.2

In Helm/Docs the Kyverno ConfiMap is named `kyverno`. In `install.yaml` the same ConfigMap is named `init-config`.

ConfigMap:
[code]

Deployment:

[code]
One more thing: The `--filterK8sResources=` in args are deprectaed. Intentionally in `install.yaml` left over?

[2021-08-31 15:17] MarcelMue commented on #2100
Fix should be here finally:
https://github.com/evanphx/json-patch/pull/148

[2021-08-31 20:20] realshuting commented on #2347
Thanks @disposab1e, I added the label "good first issue" so that we can fast track the change.

[2021-08-31 20:23] realshuting commented on #2328
I wasn't aware of the capability before. If that's the case, then we don't need to build the special image to run the chaos tests.

[2021-08-31 20:24] realshuting commented on #2325
Yes, I added to 1.4.3, and there should be no breaking change in the CLI.

[2021-09-01 08:28] georgekaz commented on #2330
Sorry, I didn't mention reproduce steps. In terms of what resources we have in the cluster I already described it above. Kyverno is installed via the helm chart into a 1.19.14 cluster with `podSecurityStandard: restricted`. We have only a couple of other policies beyond those in order to restrict annotations to certain pods. The main thing here is that the report is larger than the cluster will al

[2021-09-01 08:39] NoSkillGirl commented on #2313
@hans-d - I did not understand your question.
What you are expecting here?

[2021-09-01 08:46] #2291 closed

[2021-09-01 10:25] viveksahu26 commented on #2198
/assign

[2021-09-01 10:26] slayer321 commented on #2347
Hey @realshuting, I did like to work on this issue .
where can I find `install.yaml` file?

[2021-09-01 11:35] vyankyGH commented on #2347
https://github.com/kyverno/kyverno/blob/main/definitions/install.yaml

[2021-09-01 12:30] chipzoller commented on #2309
@NoSkillGirl I meant I was handling what I quoted above (documenting the ability for directory recursion), not this entire issue. Unassigning.

[2021-09-01 15:12] h4wkmoon opened #2348 "Be able to clone the submitted resource to another namespace."
Hi,

I'd like to be able to clone (sync) the resource submited to kyverno to another namespace.
For that, I think the best solution would be that the variables like {{request.object.metadata.namespace}} were interpolated in the "clone" object as well.

Could you consider this feature, plz ?
I think it would be great to be able to copy/sync object on the cluster.
In any case, we love kyverno. It's

[2021-09-01 17:37] Anita-ihuman opened #2349 "Integrate Github Action"
**Is your feature request related to a problem? Please describe current state:**
 The repository  does not have a  contributor appreciation automation.

**Describe the solution you'd like:**
Integrate the [behaviour bot](https://github.com/apps/welcome) from Github Apps into the repository.

**Describe alternatives you've considered:**
No alternative for now.

**Additional context**
<img width="80

[2021-09-01 18:32] slayer321 commented on #2347
[code]

in args do we also need to remove `-v=2` and what does it signify?

[2021-09-01 21:07] kingsmill opened #2350 "[BUG] any/all in match block fails in the CLI"
Kyverno v1.4.2
Kubernetes: 1.20

A "kyverno apply -f <file> --cluster" does not process a policy that contains a match any/all resource.
This can be illustrated using the following test policy

[code]

A "kyverno validate test-poilicy.yaml" indicates that the policy syntax is good.

A "kyverno apply -f test-policy.yaml" --resource "test-resource.yaml" also looks good and works as expected.

A "kyv

[2021-09-01 22:38] Issif commented on #2268
I agree that rid of `resource_name` as label, seems an obvious quick win.

[2021-09-02 00:27] yashvardhan-kukreja commented on #2268
Yep Jim, I was a little occupied till yesterday but I am hopping onto this issue now. Should be a super quick fix imo :)
The resource_name label's removal should massively bump Kyverno's metric exporter's performance :)

[2021-09-02 00:54] realshuting commented on #2347
@slayer321 - the default log level is 2, it does not change anything if you remove that flag.

[2021-09-02 01:26] #2341 closed

[2021-09-02 01:37] realshuting commented on #2100
@vyankyGH - let's prioritize this issue https://github.com/kyverno/kyverno/issues/2185 as it caused a few issues already.

[2021-09-02 05:52] realshuting commented on #2349
@Anita-ihuman - I have installed the bot, you should be able to proceed.

[2021-09-02 07:25] rdavyd opened #2352 "[BUG] Preconditions check fails in 1.4.2"
**Software version numbers**

* Kubernetes version: 1.20.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): On prem
* Kyverno version: 1.4.2

**Describe the bug**
A policy that worked fine in 1.4.1 now fails in 1.4.2

**To Reproduce**
1. Apply policy (the `batch-pod` rule should match PODs not owned by any controller)
[code]
2. Label default namespace for policy to pick it up: `kub

[2021-09-02 12:25] ShubhamPalriwala commented on #2055
Thank you for your response Jim.
Looks like google-groups is our best bet. I'm wondering if we need a separate `kyverno-security` group or not.
Listing down **the Pros and Cons of having a `kyverno-security` group** that I can think of below.
## Pros
- Everything shall be security only i.e. dev and security related discussion will be separated into the two groups
- The community will only be conce

[2021-09-02 13:23] Subreptivus commented on #2162
Same issue here.
My steps are bit different:
1. Install Kyverno v1.4.2
2. Install Keda v2.3.0
3. Wait for a bit
4. Try to apply any Kyverno's policies

All end up in errors:
[code]
And Kyverno's log is full of same errors...

[2021-09-02 16:45] treydock opened #2355 "Switching Helm CRDs back to kyverno chart and moving Policies to dedicated chart"
### Discussed in https://github.com/kyverno/kyverno/discussions/2312

<div type='discussions-op-text'>

<sup>Originally posted by **treydock** August 25, 2021</sup>
I'd like to propose a change to how Kyverno is deployed with Helm after the issues faced with recent 1.4.2 changes where the Kyverno CRDs were moved into a dedicated chart.

The change with 1.4.2 was to put the Kyverno CRDs into a dedi

[2021-09-02 16:57] JimBugwadia opened #2356 "[BUG] Kyverno ignores system namespaces by default"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.4.x

**Describe the bug**

Kyverno ignores the `kyverno` and the `kube-system` namespaces in the default resource filter. This means that no policies are applied to these namespaces, which increases security risks.

We need to tighten this, so only "trus

[2021-09-03 13:31] vyankyGH commented on #2290
@chipzoller Currently we don't have logic to fetch branch from given Git repo to pick up the main or master branch.
Kyverno test command validate given Url is correct or not. Repo and branch is present or not.
As you suggested, if your doesn't mention branch name in Url, By default I'm setting to main.
(`kyverno test https://github.com/kyverno/policies/`) .
Also you can test with any another branc

[2021-09-03 15:51] #2120 closed

[2021-09-03 15:51] #2122 closed

[2021-09-03 15:51] #2290 closed

[2021-09-03 15:51] #2296 closed

[2021-09-03 15:51] #2310 closed

[2021-09-03 15:51] #2318 closed

[2021-09-03 15:51] #2331 closed

[2021-09-03 16:06] vyankyGH commented on #2322
We are making kyverno-test.yaml as a default file name. Till 1.5.0 will support test.yaml file. After will deprecate test.yaml file name.
We need to update all test.yaml  file name in https://github.com/kyverno/policies

[2021-09-03 16:16] vyankyGH commented on #2310
@garethahealy for this requirement, I will create another feature issue to track.

[2021-09-03 18:26] hans-d commented on #2310
@vyankyGH  @NoSkillGirl  not seeing how the referenced pr’s provide the requested functionality.

[2021-09-03 18:35] MarcelMue commented on #2352
I think this is already fixed in latest master: https://github.com/kyverno/kyverno/pull/2271

[2021-09-03 21:02] realshuting commented on #2352
Thank you @MarcelMue, yes, the issue was fixed. Verified with the latest build:
[code]

[2021-09-03 21:02] #2352 closed

[2021-09-03 21:05] realshuting opened #2358 "Add e2e test for mutate policy"
**Is your feature request related to a problem? Please describe.**
The `preconditions` worked in 1.4.1 while it was broken in 1.4.2. It would be good to cover the following mutate policy with a e2e test:
[code]

[2021-09-03 21:10] MarcelMue commented on #2358
I did add a `unit` test which covers this for mutation. Do you think we should still have additional e2e to cover it?
https://github.com/kyverno/kyverno/blob/eca7d455f7d658a74eab0b37c3807f383ddbb15a/pkg/engine/mutation_test.go#L372-L453

[2021-09-03 21:13] realshuting commented on #2358
Yes, I want to double-check the auto-gen feature, to have additional rules applied on pod controllers.

[2021-09-03 22:08] dkulchinsky opened #2359 "Kyverno prints mutation log non-stop for Nodes after installing a mutation policy that adds taints to nodes"
**Software version numbers**

* Kubernetes version: v1.20.8-gke.900
* Kubernetes platform: GKE
* Kyverno version: v1.4.2

**Describe the bug**
when we installed a mutation policy to add taints to a specific set of Nodes, as soon as the policy was deployed I started seeing the following messages in Kyverno logs non-stop:
[code]

this kept repeating for the same 3 nodes (the nodes the policy targete

[2021-09-04 00:13] JimBugwadia commented on #2055
@ShubhamPalriwala - great analysis! I agree but want to clarify between a discussion group and a private email to report security issues. We need both, right?

For the discussion group, I suggest we simply use the existing channel and group.

For reporting security issues, we can create a separate (private) list.

Can you please create a separate issue to create the `kyverno-security` email group?

[2021-09-04 06:39] ShubhamPalriwala opened #2361 "Create kyverno-security email group"
**Is your feature request related to a problem? Please describe.**
As being discussed in the process of our release disclosures and security-related communications here at https://github.com/kyverno/kyverno/issues/2055#issuecomment-912872294, a separate private list can be created.

**Describe the solution you'd like**
A separate `kyverno-security` email group, all the discussions will happen on o

[2021-09-04 07:10] ShubhamPalriwala commented on #2055
Yeah, we need both. I got confused between the group and a private email :/.

Alright so let's have a separate email for them to report the vulnerabilities via mail to our private `kyverno-security` email group. And all the discussions can happen in our slack channel itself.

I have created the Issue for a separate email group.

Another thing, I'm assuming as of now, our [Owners](https://github.co

[2021-09-04 19:31] rajibmitra opened #2362 "[BUG] scripts/create-e2e-infrastruture.sh giving error."
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: v1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): kind
* Kyverno version: v1.4.2

**Describe the bug**
A clear and concise description of what the bug is.
When running scripts/create-e2e-infrastruture.sh to create the e2e infra , I am getting this below error.
`
N

[2021-09-04 19:31] rajibmitra commented on #2362
cc @realshuting

[2021-09-06 09:52] #2117 closed

[2021-09-06 10:41] slayer321 commented on #2358
Hey, @realshuting  I did like to work on this issue.

[2021-09-06 12:41] NoSkillGirl opened #2363 "[BUG] Support gvk in CLI for policies applied on cluster"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.4.2

**Describe the bug**
A clear and concise description of what the bug is.
Applying a policy with `kinds` `apps/v1/Deployment` is not supported in CLI.

related discussion - https://kubernetes.sla

[2021-09-06 13:11] vyankyGH commented on #2299
@chipzoller for you also report not generating with lasted code?
I have tried it's worked for me with same policy and resource.

[code]

[code]

Result:
[code]
[code]

[2021-09-06 13:24] chipzoller commented on #2299
Try with the policy that matches on Namespaces instead of ConfigMaps. Does it scan for Namespaces in background mode successfully?

[2021-09-06 13:32] #2363 closed

[2021-09-06 14:10] vyankyGH commented on #2299
@chipzoller Yes correct. Not scanning for kind Namespaces. I will take a look. Thanks

[2021-09-07 11:25] NoSkillGirl commented on #2324
With the above approach do we still need to support a separate variable file(the current approach)?

[2021-09-07 12:46] antoineozenne commented on #2299
@vyankyGH have you applied the resources before create the `ClusterPolicy` for the `ConfigMap` ?

[2021-09-07 16:34] rdavyd opened #2368 "[BUG] Mutation rule is skipped entirely on unknown reason"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.20.7
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): on prem
* Kyverno version: 1.4.1

**Describe the bug**
The policy below should add a default value to the limit of emptyDir volume if unspecified, however it fails to do so with logs:
[code]
BTW this block repeats

[2021-09-08 04:29] #2266 closed

[2021-09-08 05:12] #2185 closed

[2021-09-08 06:47] kacejot opened #2371 "Existence anchor for strategic merge patch"
**Is your feature request related to a problem? Please describe.**
I tried to make "add-safe-to-evict" policy work with global-anchor, but @realshuting found a case, when it doesn't work.
Manifests:
<details>
  <summary><b>Policy</b></summary>

[code]
</details>
<details>
  <summary><b>Resource</b></summary>

[code]
</details>

As you can see, resource does have `emptyDir` volume named `cache-volu

[2021-09-08 06:51] realshuting commented on #2371
So the global anchor validates all elements in the list and the rule will be applied only if all elements satisfy this rule?

[2021-09-08 07:03] kacejot commented on #2371
Yes, that is the idea of global anchor. If we want condition to use **any** logic and stop processing entire rule, we need some other anchor.

[2021-09-08 08:48] kacejot commented on #2243
Making copy of the rule didn't fix the problem. I performed additional research and found out the reason.
Our policy has variable in list element:
[code]
And also we resolve all references and variables before the pattern/mutation application.
That means that after variable substitution we will have next pattern:
[code]
That's the reason why we have the same value for all elements.
The easiest sol

[2021-09-08 08:59] #2350 closed

[2021-09-08 09:07] garethahealy opened #2372 "Support apply checking local resources using cluster based policies"
**Is your feature request related to a problem? Please describe.**
As a developer,
I want to check any resources in my gitops repo is valid against any policies in my cluster and namespace
So that I an left-shift my policy checks to the start of my pipeline

**Describe the solution you'd like**
Something like:

[code]

which would get all `ClusterPolicy` back from my cluster, and check them agains

[2021-09-08 09:08] garethahealy commented on #2372
Raised based on slack chat @ https://kubernetes.slack.com/archives/CLGR9BJU9/p1631021580174200

[2021-09-08 14:41] JimBugwadia commented on #2372
What can this command provide beyond what  a 'kubectl apply --dry-run" does?

[2021-09-08 14:47] garethahealy commented on #2372
@JimBugwadia it doesn't seem `dry-run` interacts with kyverno. just run the following:

[code]

[2021-09-08 14:52] garethahealy commented on #2372
yep, could use `kubectl apply -f list.yml --dry-run=server` - so probably not much. let me have a think.

[2021-09-08 15:24] kacejot commented on #2371
Discussed with @realshuting. The behavior I have described in the issue body could be implemented by global anchor.
I mean that global anchor with check if condition is satisfied for **any** list element, not for **all**.  Working on it.

[2021-09-08 19:33] #2345 closed

[2021-09-09 01:21] #2287 closed

[2021-09-09 04:04] #2253 closed

[2021-09-09 14:19] dkulchinsky commented on #2256
Just wanted to report the same issue, I'm currently running `v1.4.2-68-g2a375fa1` on a test cluster, it was first deployed as a single replica while debugging an issue together with @realshuting on Slack, then I scaled up to 3 and today noticed that I have no metrics.

I checked the metrics history and from what I can tell:
1. when `v1.4.2-68-g2a375fa1` was deployed with 1 replica - no metrics col

[2021-09-09 15:55] #1916 closed

[2021-09-09 16:29] MarcelMue commented on #2337
I will take a look at this issue.

[2021-09-09 22:32] viveksahu26 opened #2374 "Throws a variable substitution error inspite of no variable present in the policy"
The above [policy]( https://github.com/kyverno/policies/blob/main/other/replace_image_registry.yaml)  doesn't contains any variables then also  it throws an error  regarding to variable substitution:-
error: (test skipped for policy  replace-image-registry  (as required variables are not provided by the users)

To reproduce:-

[code]
 resource.yaml
[code]
test.yaml
[code]
patchedResource.yaml

[co

[2021-09-09 22:50] MarcelMue commented on #2368
I _believe_ that this issue is caused by mutation using `patchesJSON6902` behind the scenes.
With `patchesJSON6902` it is basically impossible currently to mutate every item of a list of any list - kyverno therefore chooses the first element only by default.

It could still be a separate bug here but this seems likely to me. We have some open discussion / solution attempts here as well:
https://gi

[2021-09-09 22:51] viveksahu26 opened #2375 "kind becomes mandatory field in the results section of test.yaml file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Initially in the `test.yaml` file 4 fields were mandatory that were `policy`, `rule`, `resource` and `result`.  But to filter resource in more deep `kind` field is also required.  So, for the same `kind` is also added and it's a mandatory

[2021-09-09 22:51] viveksahu26 commented on #2375
/assign

[2021-09-09 23:21] realshuting opened #2376 "Add v1alpha1 schema back to policy report CRD"
Hi @fjogeleit - thanks for the change.

Instead of adding `status` back to `types.go`, would it be better to add v1alpha1 schema back under https://github.com/kyverno/kyverno/tree/main/pkg/api/policyreport? This is pretty common in Kubernetes codebase to keep old versions and have all versions of schema generated into the same CRD manifest.

For example, ClusterAPI keeps both [v1alpha3](https://gi

[2021-09-09 23:29] #2262 closed

[2021-09-10 00:30] #2376 closed

[2021-09-10 02:00] sonukushwaha403 commented on #2375
/assign @realshuting  I would like to work on this.

[2021-09-10 04:13] ShubhamPalriwala commented on #2175
/assign ShubhamPalriwala

[2021-09-10 04:42] ShubhamPalriwala commented on #1953
/assign @ShubhamPalriwala

[2021-09-10 04:55] elvis-cai commented on #2356
meet the same issue in 1.3.3/1.3.6 version, clusterpolicy for kube-system not work as expected.

[2021-09-10 05:43] ShubhamPalriwala commented on #2361
Created kyverno-security@googlegroups.com by and after discussion with @JimBugwadia

[2021-09-10 05:43] #2361 closed

[2021-09-10 06:20] garethahealy opened #2378 "web based interface on kyverno.io to run policies"
**Is your feature request related to a problem? Please describe.**
a lot of other tools offer "playgrounds", which are web based, i.e.:
- https://jqplay.org/
- https://play.openpolicyagent.org/

are there any plans to offer something like this under https://kyverno.io/ ? i think it would be a really cool feature and breakdown barriers for beginners writing policies. it also makes testing/sharing i

[2021-09-10 06:26] ShubhamPalriwala commented on #2055
Okay, so as discussed we do not need to disclose the people who will be a part of the Product Security Team.
Will be soon opening a PR for our disclosure processes in a `security.md`

[2021-09-10 21:08] #2316 closed

[2021-09-10 21:39] #2268 closed

[2021-09-12 11:37] yogeek commented on #1607
Very interested by this feature also.
I think letting the policy writer choose if the policy must be applied to existing resource or only to new ones would be ideal.
I think it would allow to adress issues like this one for example : https://github.com/argoproj/argo-cd/issues/2437# (using kyverno with argocd is to me the best solution to answer to this kind of need)

[2021-09-12 15:07] chipzoller commented on #2345
Tested on the latest code and it works, but why doesn't this with the ``false`` statement?

[code]

[2021-09-12 19:49] NoSkillGirl commented on #2374
@viveksahu26 - in the above policy `@` is a variable which need to be resolved and value should be passed by the user.

Related discussion - https://kubernetes.slack.com/archives/CLGR9BJU9/p1628006140065200

[2021-09-12 20:15] NoSkillGirl commented on #2374
The test case is wrong here. Image should be something like image: xyz/nginx:latest only then you will get the correct result and you need to pass value for @ as it is a variable.

resource.yaml:
[code]

Using apply command:
[code]

[2021-09-12 20:15] #2374 closed

[2021-09-13 06:35] NoSkillGirl commented on #2310
With the referenced PR I know that how we print the output is improved i.e, the table
[code]

Other suggestions I have not closed. @vyankyGH - anything for the other points?

[2021-09-13 07:40] rdavyd commented on #2368
@MarcelMue Yes, I might have more then 1 bug here. I've got somewhat similar behavior, but with conditional anchors. If I remove conditional anchor from `(emptyDir)`, so my policy looks like this:
[code]
and apply the following deployment:
[code]
Kyverno tries to mutate vol01 (however it shouldn't as `emptyDir` tag is present and it is a non-empty object):
[code]
but in final patch the volume list

[2021-09-13 11:51] NoSkillGirl commented on #2245
closed by https://github.com/kyverno/kyverno/pull/2380

[2021-09-13 11:51] #2245 closed

[2021-09-13 12:02] ojhaarjun1 commented on #1472
Hi, I'd like to take this up

[2021-09-13 15:55] vyankyGH commented on #2299
Yes, I'm able to reproduce the issue.
I have raised PR. It will get fix once PR merged.

[2021-09-13 15:59] #2201 closed

[2021-09-13 18:13] andriktr commented on #2069
Hi,
Have got same the errors right after applying policy [https://kyverno.io/policies/best-practices/check_deprecated_apis/](https://kyverno.io/policies/best-practices/check_deprecated_apis/) in the AKS cluster
[code]
Even if I delete the policy until kyverno pods are not restarted/recreated same messages appears in the log.
Also noticed that this causes issue with policy reports as they are not

[2021-09-13 18:36] #2299 closed

[2021-09-13 21:52] yashvardhan-kukreja opened #2382 "[BUG] dashboard json has a removed label"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:

**Describe the bug**
The kyverno dashboard json has a `policy_execution_timestamp` label which has been purged recently. Although it won't break anything as it doesn't exist but still its existence mi

[2021-09-13 21:53] yashvardhan-kukreja commented on #2382
/assign

[2021-09-13 22:55] realshuting opened #2384 "[BUG] Kyverno crashed when upgrading from 1.4.2 to 1.4.3-rc1"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.4
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: v1.4.3-rc1

**Describe the bug**
The policy reports generated by the new instance are deleted while the old pod is shutting down, suspecting it dues to the changes to the upgrade strategy.

Here

[2021-09-14 01:18] chipzoller opened #2385 "[BUG] Profiling does not work"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): TKG, KinD
* Kyverno version: 1.4.2

**Describe the bug**
Generating a heap (memory or CPU) does not work according to [directions](https://github.com/kyverno/kyverno/wiki/Profiling-Kyverno-on-Kubernetes).

**To Repr

[2021-09-14 04:42] realshuting opened #2386 "Fix any/all matching logic in the background controller"
`processExistingKinds` takes the matching kind to fetch the list of resources. Why do we pass exclude kinds list here?

We should update this logic to filter out resources excluded from any/all:
https://github.com/kyverno/kyverno/blob/e6317da597e2c0b18e9406feb4bd0a9309612ba2/pkg/policy/common.go#L223

Note that we need to exclude each entry individually in `any`, but all (merged) entries in `all`.

[2021-09-14 08:06] #2384 closed

[2021-09-14 13:11] NoSkillGirl commented on #2313
`kyverno test <path of the directory> -f <test yaml name>`
In the above command `<path of the directory>` is the directory path where the test command will look for the valid yaml files. And `<test yaml name>` is the name of test yaml which need to be searched in the provided directory.

Here kyverno supports a nested directory structure. so if we mention `kyverno test mainDirPath -f foo.yaml`, As

[2021-09-14 17:29] chipzoller commented on #2313
At a minimum, the action item from this issue should be to state in the helm for the `test` command the positional parameter that is the directory. As I showed [here](https://github.com/kyverno/kyverno/issues/2313#issuecomment-905581366), there is nothing stated about a directory hence the initial confusion.

[2021-09-14 23:10] realshuting opened #2389 "Handle case-sensitive GVK properly in engine"
https://github.com/kyverno/kyverno/pull/2261/files#diff-e38449f9a443d0673a2bef38686a6093a3c748e4744db5d0673f767d86f7625dR35-R43

@vyankyGH - this solution won't work for resources like ConfigMap, ClusterRole, CronJob, etc. We need to leverage this util `GetFormatedKind` to match the GVK.

_Originally posted by @realshuting in https://github.com/kyverno/kyverno/pull/2261#discussion_r708720866_

[2021-09-14 23:16] realshuting opened #2390 "Add e2e tests for a validate policy using global anchor"
**Is your feature request related to a problem? Please describe.**
This sample policy needs to be covered by the e2e tests for both pass and failure scenarios.

[code]

[2021-09-14 23:18] realshuting opened #2391 "Add e2e tests for a mutate policy using global anchor"
**Is your feature request related to a problem? Please describe.**
This sample policy needs to be covered by the e2e tests for both pass and failure scenarios. Related PR #2311.

[code]

[2021-09-14 23:36] realshuting opened #2392 "[BUG] Policy gets blocked if any/all is defined in match block"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.3-rc1

**Describe the bug**
The following policy is blocked by kyverno v1.4.3-rc1.
[code]

[2021-09-15 02:46] #2392 closed

[2021-09-15 06:45] siddharthlal25 commented on #2385
\assign

[2021-09-15 07:14] realshuting opened #2394 "Automate release process in a Make target"
**Is your feature request related to a problem? Please describe.**
With the latest change to the Kustomizatoins files, it requires multiple manual steps to update chart versions and tags. It would be nice to automate these steps into a Make target using bash commands.

Reference: https://github.com/kyverno/kyverno/wiki/Generate-a-Release#generate-a-release-through-automated-jobs

[2021-09-15 09:17] NoSkillGirl commented on #2313
@vyankyGH - please have a look on the help section.

[2021-09-15 11:49] kempy007 opened #2395 "[BUG] GenerateRequests Status Failed, but resource is created!"
**Software version numbers**

* Kubernetes version: v1.21.3
* Kubernetes platform: Docker3.6.0(67351)
* Kyverno version: 1.4.2

**Describe the bug**
The Cluster Policy Inspects Ingress resources and Generates a Job passing in the host value from the ingress resource. The Job is scheduled and runs successfully, however the GenerateRequests has the status Failed.

Also no RBAC role was binded to gra

[2021-09-15 12:19] vyankyGH commented on #2313
okay.

[2021-09-15 14:20] garethahealy opened #2396 "Support insecure registries for verifyImages"
**Is your feature request related to a problem? Please describe.**
If the registry uses self-signed cert, you need to provide that cert to the kyverno pod, by extending the image is putting the cert in `/etc/ssl/certs/`

**Describe the solution you'd like**
Either supporting certs being added to the pod on the fly or a flag to allow insecure registries.

**Describe alternatives you've considered**

[2021-09-15 14:39] mthoretton opened #2397 "[BUG] Cannot add label to nodes"
**Software version numbers**

* Kubernetes version: 1.21
* Kubernetes platform: EKS
* Kyverno version: v1.4.3-rc2 deployed via helm chart

**Describe the bug**
I want to add labels on new nodes. The following policy does not work (the exact same work if I simply replace, in the resources kind, `Node` by `Namespace` for instance).

`kubectl describe cpol -n kyverno add-labels` I see nothing in the

[2021-09-15 15:43] vyankyGH commented on #2375
Fix with https://github.com/kyverno/policies/pull/123

[2021-09-15 15:43] #2375 closed

[2021-09-15 18:35] itmwiw commented on #604
+1 for Basic math operators

[2021-09-15 20:45] realshuting commented on #2397
Hi @mthoretton - have you configured the default [resourceFilters](https://kyverno.io/docs/installation/#resource-filters)? The `Node` is excluded by default.

[2021-09-15 22:57] mthoretton commented on #2397
@realshuting Thanks for your quick answer. Yes I think that was it indeed ... 🙈  Sorry for the noise, I am not sure what I did wrong. I started again with a fresh and clean setup and now it's working perfectly...

Thanks and sorry again!

[2021-09-15 22:57] #2397 closed

[2021-09-16 01:39] yashvardhan-kukreja opened #2399 "Purge grafana dashboard json from this project"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version:

**Describe the bug**
The grafana dashboard json is meant to be in https://github.com/kyverno/grafana-dashboard.
Hence, it shouldn't be put here.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2021-09-16 01:40] yashvardhan-kukreja commented on #2399
/assign

[2021-09-16 02:59] ojhaarjun1 commented on #604
Hi, I'd like to work on this

[2021-09-16 08:53] viveksahu26 commented on #2390
/assign

[2021-09-16 08:53] viveksahu26 commented on #2391
/assign

[2021-09-16 13:44] seh opened #2403 "kyverno/validate: ignore non-ClusterPolicy and Policy manifests, rather than failing"
**Is your feature request related to a problem? Please describe.**

The _kyverno validate_ command accepts one or more Kubernetes manifests as input, whether from an input stream, an HTTP URL, or a set of files. It would be convenient if this command could ignore any manifests it reads that are not of kind _ClusterPolicy_ or _Policy_ (ideally confirming the API group as well), rather than [failing

[2021-09-16 14:49] chipzoller commented on #2345
@kacejot

[2021-09-16 15:10] anushkamittal20 commented on #2345
Hey @chipzoller I am looking into this issue.
I was trying to use
[code]
along with this
[code]
and I get this error
[code]
Isn't this the expected behaviour?
Do correct me if I am wrong as I was trying this for the first time.

[2021-09-16 15:21] chipzoller commented on #2345
The resource you show should be blocked, but if you change it so each initContainer and container has `NET_RAW` specified in the `drop[]` array, it should pass. You can verify this on the jmespath.org site.

[code]

Then use this query: `spec.[containers, initContainers][].securityContext.capabilities.drop.contains(@, 'NET_RAW') | !contains(@, `false`)`

This should result in a `true`. Change one

[2021-09-16 17:06] kfox1111 commented on #2294
what about multiple keys? I'd like to be able to make sure multiple steps in a pipeline, each with their own keys, all have signed the image. Maybe the list construct for verifyImages is an and?

[2021-09-16 17:40] anushkamittal20 commented on #2345
Hey @chipzoller , while experimenting with these policies I realised that
[code]
if the value provided is boolean the resource is not blocked if the value provided is string the resource is blocked.
The operator Equals works correctly as was expected and provided in Proof Manifests here https://github.com/kyverno/kyverno/pull/2346
[code]
I will try to work on this issue.

[2021-09-16 18:11] chipzoller commented on #2345
Ah ok, thank you. I see that now. I'm also able to get this working, but I'm not understand the problem statement here. What's the problem or improvement area within Kyverno, or is there not one?

[2021-09-16 18:33] JimBugwadia commented on #2294
Yes, multiple keys can be specified by matching the same pattern. These are processed as an "and" for the rule to pass.

[2021-09-16 18:37] kfox1111 commented on #2294
Awesome. Thanks. :)

[2021-09-16 19:47] MarcelMue commented on #2337
I believe this should be fixed in `1.4.3` now. Feel free to verify @rubroboletus and we can reopen if it unexpectedly doesn't work.

[2021-09-16 19:47] #2337 closed

[2021-09-16 19:49] MarcelMue commented on #2301
@chipzoller Can you check this with `1.4.3` now? I will take a closer look if this is still bugged.

[2021-09-16 19:52] MarcelMue commented on #2100
I believe this should be fixed in latest master - I won't have time to manually check in the next days.

It would be nice if someone is able to verify this as working now.

[2021-09-16 19:53] realshuting commented on #2100
Thanks @MarcelMue!

@NoSkillGirl - can you please help verify?

[2021-09-16 20:33] chipzoller commented on #2100
Yes, after adding `spec.skipValidation` to `false` Kyverno 1.4.3 does allow this policy to be created. And, further, the main goal of the policy, which was to mutate elements of an array with specific index numbers, now works.

[code]

[code]

Output:

[code]

Thanks to you both for some great work! This will fill a very needed capability gap.

[2021-09-16 20:34] #2349 closed

[2021-09-16 20:36] realshuting opened #2405 "Add e2e test for JSON patch mutate policy"
Need to cover the following policy with the e2e test:

Yes, after adding `spec.skipValidation` to `false` Kyverno 1.4.3 does allow this policy to be created. And, further, the main goal of the policy, which was to mutate elements of an array with specific index numbers, now works.

[code]

[code]

Output:

[code]

Thanks to you both for some great work! This will fill a very needed capability gap.

[2021-09-16 20:38] #2399 closed

[2021-09-16 20:42] realshuting opened #2406 "[BUG] Flaky unit test"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kyverno version: v1.4.3

**Describe the bug**
This test seems to be flaky, it failed for me once out of 3 tests:
https://github.com/kyverno/kyverno/blob/ac7082d76e8b79282477bcd880a37480153818df/pkg/engine/validate/validate_test.go#L1398-L1401

[code]

[2021-09-16 20:42] MarcelMue commented on #2100
Closing here as solved - thanks for confirming!

[2021-09-16 20:42] #2100 closed

[2021-09-16 20:48] chipzoller commented on #2301
Attempting to create the second policy above now throws an error.

`cpol.yaml`

[code]

Apply it:

[code]

[2021-09-16 20:54] MarcelMue commented on #2301
Confusing to me as @realshuting tested a very similar example here:
https://github.com/kyverno/kyverno/pull/2388

I will take a closer look in the next days.

[2021-09-16 21:02] realshuting commented on #2301
It's complaining about the second rule `spec.rules[1].match`, might be something wrong with auto-gen. If the selector is defined, there should be no additional rule added, this check could be missing in any/all block.

You can add the annotation `pod-policies.kyverno.io/autogen-controllers: none` to disable auto-gen.

[2021-09-16 21:10] chipzoller commented on #2301
Seems like it's related: https://github.com/kyverno/kyverno/issues/2337

[2021-09-16 23:11] #2294 closed

[2021-09-17 04:11] anushkamittal20 commented on #2345
I am under the impression that `contains` function works alright and that we need to look into the `NotEquals` operator, or there might be an issue related to the type comparison.
I will be working on debugging this today.

[2021-09-17 06:41] rubroboletus commented on #2337
@MarcelMue I think, in 1.4.3 things goes even worse.
`for: "require_probes.yaml": admission webhook "validate-policy.kyverno.svc" denied the request: path: spec.rules[1].match.: Can't specify any/all together with match resources`

[2021-09-17 11:05] NoSkillGirl commented on #2406
@realshuting - Found the issue, it is how a key is picked up in a map while processing (which is not according to insertion).

In the following function:
https://github.com/kyverno/kyverno/blob/4d70013e22589bbc6cd9df8890998c23081bae8f/pkg/engine/validate/utils.go#L35

for the above test case value of `resources` is `map[<(image):*:latest imagePullPolicy:!Always name:*]`.
When we loop over the `res

[2021-09-17 14:12] shilpa-0 opened #2408 "[BUG] Can we patch Kyverno policies using Kustomize?"
Kyverno v1.4.2

I want to be able to patch Kyverno policies using Kustomize.

The idea is to have the policies in a separate repo and to be able to use the policies in separate environments by applying different exclusions, matches etc.

So, to test this, I have 3 files in a folder.
1. The policy disallow-host-namespaces.yaml
https://github.com/kyverno/policies/blob/73b7140849a033b3d772ec644f86d07

[2021-09-17 16:00] ojhaarjun1 opened #2409 "[BUG] Create/Update policy failing with custom JMESPath"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version: 1.21.3
* Kyverno version: v1.4.3

**Describe the bug**
`kubectl apply -f /path/to/policy.yaml` fails on introducing custom JMESPath function in `engine/jmespath/functions.go` (patch available [here](https://gist.github.com/ojhaarjun1/1c7c32eb53cd0b46f0dc0922495577af)).

**Error Seen**

[2021-09-17 19:54] seh commented on #2403
Hera are a couple of workarounds. First, use [_yq_](https://mikefarah.gitbook.io/yq/):
[code]
Alternately, more elaborately, use CUE:
[code]
With that saved in a file named _retain-policies.cue_, you can use the following command to filter a set of YAML files:
[code]

[2021-09-17 20:27] realshuting commented on #2337
@rubroboletus - please see temporary workaround: https://github.com/kyverno/kyverno/issues/2301#issuecomment-921242364.

[2021-09-17 21:19] realshuting commented on #2408
@shilpa-0 - this is an interesting use case. Since we don't specify [patchStrategy](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#notes-on-the-strategic-merge-patch) in the policy spec, Kustomize will replace all tags by default. I can see the same result would be generated using Kyverno mutate `strategicMergePatch` rule.

We can build a Kyverno JSON p

[2021-09-18 14:11] chipzoller commented on #1837
This issue should serve as a feature request for some new operators to specifically handle comparing a source array of strings to a destination array of strings: `AnyIn`, `AllIn`, `AnyNotIn`, and `AllNotIn`. The existing operators `In` and `NotIn` should probably be left intact to preserve backwards compatibility

The problem today in Kyverno is that the only [operators ](https://kyverno.io/docs/w

[2021-09-18 15:35] chipzoller commented on #2087
Enabled. See https://github.com/kyverno/kyverno/issues/2100#issuecomment-921225496

[2021-09-19 19:46] #2055 closed

[2021-09-19 21:14] Anita-ihuman opened #2411 "Create an Organisation Readme for Kyverno"
**Is your feature request related to a problem? Please describe.**
Github recently added a new feature, that allows organisations too to create READMe.

**Describe the solution you'd like**
Kyverno needs to a [READMe profile](https://dev.to/github/how-to-create-a-profile-readme-for-your-organisation-g2) too for visitors who come across project github profile.

**Describe alternatives you've consid

[2021-09-20 03:38] viveksahu26 commented on #2390
Hey @realshuting, what if image is other than `nginx`. Acm, it should `skip` the validation check.
But it is not like that, it  shows `fails` if image registory is other than ` my-registry-secret`. And `pass` if image registory is ` my-registry-secret`. In both case it is independent of image we take.

I tried with this resource manifest:-
[code]

[2021-09-20 05:42] rubroboletus commented on #2337
@realshuting - thank you, switching from autogen and back to autogen almost every second release and hope, things will stabilize in future releases.